/* Font Size */
.h1 { font-size:22px; }
.h2 { font-size:18px; }
.h3 { font-size:16px; }
.h4 { font-size:14px; }
.disclaimer { font-size:10px; }
.bodytext { font-size:12px; }

/* Font Color */

.Red { color:#E01935; }
.Blue { color: #006A9D; }
.Green { color: #76AD21; }
.Black { color: #464646; }

/* Padding */

.padAll5px { padding:5px; }
.padAll10px { padding:10px; }
.padAll12px { padding:12px; }
.padAll15px { padding:15px; }
.padAll20px { padding:20px; }

.padTop5px { padding-top:5px; }
.padTop10px { padding-top:10px; }
.padTop12px { padding-top:12px; }
.padTop15px { padding-top:15px; }
.padTop20px { padding-top:20px; }

.padBtm5px { padding-bottom:5px; }
.padBtm10px { padding-bottom:10px; }
.padBtm12px { padding-bottom:12px; }
.padBtm15px { padding-bottom:15px; }
.padBtm20px { padding-bottom:20px; }

.padLt5px { padding-left:5px; }
.padLt10px { padding-left:10px; }
.padLt12px { padding-left:12px; }
.padLt15px { padding-left:15px; }
.padLt20px { padding-left:20px; }

.padRt5px { padding-right:5px; }
.padRt10px { padding-right:10px; }
.padRt12px { padding-right:12px; }
.padRt15px { padding-right:15px; }
.padRt20px { padding-right:20px; }

/* Backgroudn Color */

.lit_gray {  background-color:#E7E7E7; }