#googlead {
    background: #1C5CA4;
}

body {
    text-align: center;
}

.hidden {
    display: none;
}

.header_slim {
    background: url(web_images/topnav_titlebar_blue.gif) #FF5A00; 
}

#headerbox {
    font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 900px;
    margin: auto;
    color: #000000;
}

#new_nli_header {
    background: url(web_images/hp_images/HomepageBanner_02.gif);
    height: 145px;
    position: relative;
}
#nli_header_ccp {
    width:728px;
    height:90px;
    position: relative;
}


#new_nli_link_spacer {
    width: 900px;
    height: 120px;
    top: 16px;
    left: 0px;
    position: absolute;
}

#headerlinks {
	width: 900px;
	height: 145px;
	line-height: 12px;
	color: #FFFFFF;
	margin: auto;
        text-align: left;
        padding-left: 12px;
        padding-top: 4px;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 10px;
}

#headerlinks a {
    color: #FFFFFF;
    text-decoration: underline;
}

#headerlinks a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#header, #headerlite {
    height: 122px;
    font-weight: normal;
    position: relative;
    text-align: left;
    color: #ffffff;
    background: url(web_images/header/background.gif) repeat;
}

#header_leaderboard {
    height: 152px;
    font-weight: normal;
    position: relative;
    text-align: left;
    color: #ffffff;
    background: url(web_images/header/bkgd_728.jpg) repeat;
}

#headerlite {
    height: 32px;
    background: url(web_images/header/background_small.gif) repeat;
}

#header_breadcrumb {
    height: 16px;
    padding: 7px 0px 0px 10px;
    text-align: left;
}

#header_leaderboard_breadcrumb {
    height: 16px;
    padding: 7px 0px 0px 10px;
    text-align: left;
}

#header_gap {
    height: 16px;
}

#header_ticker {
    color: #fff;
    background: #000;
    height: 24px;
}

#googlead {
    font-size: 1pt;
    line-height: 0px;
    position: absolute;
    bottom: 28px;
    left: 50%;
    margin-left: -345px;
    width: 688px;
    height: 60px;
    white-space: nowrap;
}

#googlead_leaderboard {
    font-size: 1pt;
    line-height: 0px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -438px;
    width: 688px;
    height: 90px;
    white-space: nowrap;
}

* html #header #googlead {
    width: 688px;
}

#header, #header_leaderboard img {
    margin: 0;
    padding: 0;
}
#header #header_leaderboard #googlead iframe {
    margin: 0;
    padding: 0;
}

#header #header_leaderboard form input {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
#header #header_leaderboard form input.buttom {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9px;
    background-color:#E0FFFF;
    margin: 0 0 0 8px;
}

#header .search_form, #headerlite .search_form, #header_leaderboard .search_form  {
    position: absolute;
    left: 328px;
    margin: 7px 10px 0px 10px;
    font-weight: normal;
    display: inline;
}

.whitetext {
    color: #ffffff;
}

#header .left, #headerlite .left, #header_leaderboard .left{
    float: left;
    margin: 11px 9px 0px 10px;
    font-weight: normal;
    display: inline;
    color: #cceeff;
}
#header .right, #headerlite .right, #header_leaderboard .right {
    float: right;
    margin: 11px 9px 0px 10px;
    font-weight: normal;
    display: inline;
    color: #cceeff;
}

#header .leftb {
    float: left;
    margin: 78px 9px 6px 10px;
    font-weight: normal;
    bottom: 20px;
    display: inline;
    color: #cceeff;
}

#header_leaderboard .leftb {
    float: left;
    margin: 108px 9px 6px 10px;
    font-weight: normal;
    bottom: 20px;
    display: inline;
    color: #cceeff;
}

#header .rightb {
    float: right;
    margin: 78px 9px 6px 10px;
    font-weight: normal;
    display: inline;
    bottom: 20px;
    color: #cceeff;
}

#header_leaderboard .rightb {
    float: right;
    margin: 108px 9px 6px 10px;
    font-weight: normal;
    display: inline;
    bottom: 20px;
    color: #cceeff;
}

#header .carticon, #header .carticon {
    position: absolute;
    bottom: 7px;
}

#header .hide, #header_leaderboard .hide {
    display: none;
}
#header a, #header a:link, #header a:visited , #headerlite a, #headerlite a:link, #headerlite a:visited, #header_leaderboard a, #header_leaderboard a:link, #header_leaderboard a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
#header a:hover, #headerlite a:hover, #header_leaderboard a:hover {
    text-decoration: underline;
}

#header fieldset, #header_leaderboard fieldset {
    border: none;
}
#header legend, #header_leaderboard legend {
    display: none;
}

#tickerswitch {
    font-size: 1pt;
    position: absolute;
    right:0px;
    bottom:0px;
}


#outernav {background: #003c81; color: #8899A9; height: 22px; width: 900px; position: relative; text-align: center;}

#outernav a, #outernav a:link #outernav a:visited {
    text-decoration: none;
    margin: 0 0px 0 0px;
    color: #eeeeee;
}

#outernav ul {
    margin: auto;
    padding: 0px 0 0;
    list-style: none;
}

#outernav p {
    margin: 1px auto;
}

#outernav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#outernav .last {
    border-right: none;
}

#outernav .hide {
    display: none;
}

#TICKER {    
    background: #000;
    height: 22px;
}

#TICKERBOX {    
    display:none;
}

#TICKER a, #TICKER a:link, #TICKER a:visited  {
    color: #3C97F4;
}

#footer_style {
    font: normal 8pt/normal Verdana, Arial, Helvetica, sans-serif;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin: auto;
    color: #444444;
    line-height: 20px;
    text-align: center;
}

#footer_style a, #footer_style a:link, #footer_style a:visited {
    text-transform: none;
    text-decoration: underline;
    color: #777777;
    text-align: center;
}

#footer_style a:hover {
    color: #444444;
    text-decoration: underline;
    text-align: center;
}

#footerBanner {
    margin: 12px;
    text-align: center;
}

/* rules used in header_lite */
#mh-lite {
    background:#2C60BC url( web_images/topnav_titlebar_blue.gif ) repeat-x;width:100%;position:relative;text-align:left; }
#mh-lite h1 {
    background:url( web_images/topnav_logo3.gif ) no-repeat;width:107px;height:30px;margin:0 0 0 12px; }
#mh-lite h1 a {
    display:block;width:107px;height:30px; }
#mh-lite h1 b {
    position:absolute;top:-5000px;left:-5000px;visibility:hidden; }
#mh-lite #mh-lite-avhp {
    color:#FFF;font:12px verdana;position:absolute;left:145px;top:8px;text-decoration:underline; }
body #doc { /* this is a hack since body {} is declared at the top of this file */
    text-align:left; }