/*1355713293,173217045*/

.sp_8h60tt{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/ys/x/t0WxoMd7EqC.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:48px;width:500px}
.sx_a3a2e6{width:19px;height:21px;background-position:-250px -107px}
.sx_f78f96{width:19px;height:21px;background-position:-230px -107px}
.sx_3574d4{width:26px;height:24px;background-position:-588px -39px}
.sx_fac4b9{width:26px;height:24px;background-position:-561px -39px}
.sx_e1c383{width:26px;height:24px;background-position:-501px -9px}
.sx_362292{width:20px;height:20px;background-position:-286px -107px}
.sx_f930ac{width:10px;height:12px;background-position:-668px -70px}
.sx_05492a{width:20px;height:24px;background-position:0 -115px}
.sx_42e34a{width:14px;height:13px;background-position:-630px -70px}
.sx_e78576{width:8px;height:12px;background-position:-689px -70px}
.sx_d8801e{width:7px;height:14px;background-position:-845px -9px}
.sx_e6eb8e{width:8px;height:12px;background-position:-698px -70px}
.sx_40ab54{width:7px;height:14px;background-position:-845px -24px}
.sx_0b069b{width:29px;height:30px;background-position:-531px -39px}
.sx_7c7174{width:29px;height:30px;background-position:-501px -39px}
.sx_5a0acf{width:14px;height:14px;background-position:-570px -70px}
.sx_3373e5{width:16px;height:9px;background-position:-615px -52px}
.sx_bcdcc7{width:16px;height:9px;background-position:-632px -52px}
.sx_5668f8{width:16px;height:9px;background-position:-649px -52px}
.sx_7eb365{width:9px;height:16px;background-position:-297px -129px}
.sx_8a965c{width:9px;height:16px;background-position:-307px -129px}
.sx_088269{width:16px;height:9px;background-position:-666px -52px}
.sx_d10f72{width:10px;height:10px;background-position:-761px -70px}
.sx_dbfd56{width:10px;height:10px;background-position:-772px -70px}
.sx_368956{width:10px;height:10px;background-position:-783px -70px}
.sx_b63545{width:10px;height:10px;background-position:-794px -70px}
.sx_1272b1{width:11px;height:14px;background-position:-317px -129px}
.sx_58c608{width:10px;height:10px;background-position:-805px -70px}
.sx_2132f9{width:9px;height:11px;background-position:-751px -70px}
.sx_8c06e2{width:11px;height:11px;background-position:-727px -70px}
.sx_9c33f1{width:11px;height:11px;background-position:-715px -70px}
.sx_e6bd5d{width:12px;height:12px;background-position:-628px -39px}
.selected .sx_e6bd5d{background-position:-615px -39px}
.sx_ea86ec{width:10px;height:14px;background-position:-559px -70px}
.selected .sx_ea86ec{background-position:-549px -70px}
.sx_495d9c{width:5px;height:3px;background-position:-501px -34px}
.sx_c3bdec{width:16px;height:16px;background-position:-247px -129px}
.sx_363112{width:16px;height:16px;background-position:-230px -129px}
.sx_d8098c{width:16px;height:16px;background-position:-264px -129px}
.sx_1154bf{width:15px;height:16px;background-position:-281px -129px}
.sx_482efb{width:11px;height:11px;background-position:-739px -70px}
.sx_bd5254{width:19px;height:5px;background-position:-641px -39px}
.sx_1364c1{width:14px;height:14px;background-position:-615px -70px}
.sx_1ad932{width:14px;height:14px;background-position:-585px -70px}
.sx_429ad0{width:14px;height:14px;background-position:-600px -70px}
.sx_f16d52{width:11px;height:12px;background-position:-645px -70px}
.sx_eb4538{width:15px;height:21px;background-position:-270px -107px}
.sx_a4bd8a{width:19px;height:15px;background-position:-327px -107px}
.sx_829322{width:19px;height:15px;background-position:-307px -107px}
.sx_5a2419{width:15px;height:21px;background-position:-528px -9px}
.sx_5b0cc3{width:24px;height:24px;background-position:-501px -70px}
.sx_cbec06{width:111px;height:74px;background-position:0 -147px}
.sx_ad4b14{width:411px;height:4px;background-position:0 -597px}
.sx_0266dd{width:851px;height:4px;background-position:0 0}
.sx_31be5a{width:411px;height:3px;background-position:-412px -597px}
.sx_87027f{width:851px;height:3px;background-position:0 -5px}
.sx_118e9d{background-position:-352px -499px}
.sx_d5ab70{background-position:-352px -450px}
.sx_704188{background-position:-352px -401px}
.sx_7ad966{background-position:-352px -205px}
.sx_37a8fd{background-position:-352px -548px}
.sx_9cd902{background-position:0 -9px}
.sx_a06a38{background-position:0 -58px}
.sx_a4fb3a{background-position:-352px -107px}
.sx_4b2ffb{background-position:-352px -156px}
.sx_decc24{background-position:-352px -254px}
.sx_4a90ad{background-position:-352px -303px}
.sx_dcf57d{background-position:-352px -352px}
.sx_4da7c2{width:22px;height:19px;background-position:-526px -70px}
.sx_41113b{width:16px;height:8px;background-position:-683px -52px}
.sx_8d9996{width:9px;height:12px;background-position:-679px -70px}
.sx_b2e5e4{width:10px;height:12px;background-position:-657px -70px}
.sx_55a2f6{width:7px;height:12px;background-position:-707px -70px}

#bootloader_iU1ac { height: 42px; }