/* Utilities */
.headerright {
	width: 368px;

}
#menuItems ul li a {
	float: left; 
	text-decoration: none;
	font-size:12px;
	text-transform:uppercase;
	font-weight: bold;
	padding-top: 8px;
	padding-right: 19px;
	padding-bottom: 18px;
	padding-left: 19px;
}
#menuItems ul li.sectionActive a.active {
	color: #000000;
	background-image: url(../images/nav_active.gif);
	background-repeat: no-repeat;
	background-position: center 30px;
	z-index: 25;
	position: relative;
}