/*	-----------------------------------------------------------------------------------
		@filename		fonts.jsp (content type = "text/css")
		@author			aziz.syed@akqa.com
		@description	Style definitions for the global type styles &amp; colors
	----------------------------------------------------------------------------------- */
.fontStyle1,
h1{
	font-size:3.0em;
	font-weight:normal;
	color:#202020;
}
	h1 a{
		color:#202020;
		text-decoration:none;
	}
.fontStyle2{
	font-size:2.4em;
	font-weight:normal;
	color:#2f6fa9;
}
.fontStyle3{
	font-size:1.6em;
	font-weight:bold;
	color:#202020;
}
.fontStyle4{
	font-size:0.9em;
	font-weight:bold;
	color:#717171;
	text-transform:uppercase;
}
	.fontStyle4alt{
		color:#757575;
	}
.fontStyle5{
	font-size:0.9em;
	font-weight:bold;
	color:#2f6fa9;
	text-transform:uppercase;
}
.fontStyle6{
	font-size:1.0em;
	font-weight:bold;
	color:#717171;
	text-transform:uppercase;
}
	.fontStyle6alt{
		color:#757575;
	}
.fontStyle7{
	font-size:1.2em;
	font-weight:bold;
	color:#2f6fa9;
}
.fontStyle8,.fontStyle8b{
	font-size:1.1em;
	font-weight:normal;
	color:#202020;
}
	.fontStyle8b{
		font-weight:bold;
	}
.fontStyle9,.fontStyle9b{
	font-size:1.2em;
	font-weight:normal;
	color:#202020;
}
	.fontStyle9b{
		font-weight:bold;
	}
.fontStyle10{
	font-size:1.2em;
	font-weight:bold;
	color:#717171;
}
	.fontStyle10alt{
		color:#757575;
	}
.fontStyle11 , #main label.fontStyle11{
	font-size:1.2em;
	font-weight:bold;
	color:#202020;
}
.fontStyle12{
	font-size:1.1em;
	font-weight:normal;
	color:#2f6fa9;
}
.fontStyle13{
	font-size:1.1em;
	font-weight:normal;
	color:#2f6fa9;
	text-decoration:underline;
}
.fontStyle14{
	font-size:1.6em;
	font-weight:normal;
	color:#2f6fa9;
}
	.fontStyle14b{
		font-size:1.6em;
		font-weight:bold;
		color:#2f6fa9;
	}
.fontStyle15{
	font-size:1.0em;
	font-weight:bold;
	color:#2f6fa9;
}
	.fontStyle15b{
		color:#656565;
	}
.fontStyle16{
	font-size:1.4em;
	font-weight:bold;
	color:#202020;
}
.fontStyle17,
.alert-icon{
	color:#c94f16;
	font-size:1.1em;
	font-weight:bold;
}
.fontStyle18,
.error,
.error-icon{
	color:#eb0f0e;
}
.fontStyle18{
	font-size:1.1em;
	font-weight:bold;
}
.fontStyle19{
	font-size:1.0em;
	font-weight:bold;
	color:#444444;
}
.orange{
	color:#c94f16;
}
.blue,.success-icon{
	color:#2f6fa9;
}
.bold{
	font-weight:bold;
}







.success-icon,
.error-icon{
	display:block;
	background:transparent url(http://about.usps.com/about/global/images/registration/success_error_icon.jpg) no-repeat 0px 0px;
	padding-left:19px;
	height:15px;
	line-height:15px;
	font-size:12px;
}
.error-icon{
	background-position:0px -15px;
}