html * {margin:0pt;padding:0pt;}
body {
	width:100%;
	font-family:arial,sans serif;
	font-style:normal;
	font-size:12px;
	color:#666666;
	line-height:14px;
	background-color: transparent; 
	background-image: url('../images/navbar/gradbkg_right_img.png'); 
	background-position: right top; 
	background-repeat: no-repeat;
	z-index:1;
	}
input {font-size:11px;}
p{padding:0;margin:0;}
a{color:#067AB4;}
h1{font-size:22px;line-height:22px;color:#333333;font-weight:normal;margin:0px;}
h1 .sup{font-size: 0.6em;position: relative;top: -7px;}
h2{font-size:14px;line-height:14px;color:#ff7200;font-weight:normal;margin:0px;}
h3{font-size:13px;line-height:14px;font-weight:bold;margin:0px;}
h4{font-size:11px;line-height:14px;font-weight:bold;margin:0px;}
h5{font-size:11px;line-height:14px;color:#ff7200;font-weight:normal;margin:0px;}
.alignmiddle{margin:0 auto;}
.h1smaller{font-size:16px;color:#333333;font-weight:normal;line-height:18px;}
.red{color:#ff0000;}
.lipad li{padding-bottom:6px;}
li.lispace{margin-bottom:10px;list-style-type:disc;margin-left:15px;}
li.indent15{margin-left:30px;} 
ul.circle{line-height:14px;list-style-type:disc;margin-left:15px;}
li.circle {line-height:14px;list-style-type:disc;margin-left:15px;margin-bottom:3px;}
ul.circle li{line-height:15px;margin-bottom:3px;} 
ul.disc{line-height:14px;list-style-type:circle;margin-left:15px;}
li.disc {line-height:14px;list-style-type:circle;margin-left:15px;margin-bottom:3px;}
ul.none{list-style-type:none;}
ol li{margin-bottom:3px;}
ol.decimal {line-height:14px;list-style-type:decimal;margin-left:22px;}
.decimal.lispace li{margin-bottom:10px;}
ul.tilebullet li{ list-style-image: url(http://www.att.com/img/global/icon/bullet_img.gif);color:#666666 !important;font-family:arial;font-size:11px;line-height:13px;margin-left:15px;}
table tr td strong{line-height:1.4em;}
.padbtm{padding-bottom:10px;}
.legal{font-size:10px;color:#999999;}
.legalsmall {color:#999999;font-size:9px;line-height:11px;margin-top:10px;}
.linefont0{line-height:0;font-size:0;}
.paddingtoplarge{padding-top:20px;}
.paddingtopmedium{padding-top:10px;}
.paddingtopsmall{padding-top:5px;}
.paddingrightmedium{padding-right:10px;}
.marginleftmedium{margin-left:10px !important;}
.heightspacer{height:10px;}
.innerlinespacer{height:7px;}
.margintopmedium{margin-top:10px;}
.floatleft { float:left; }
.floatright { float:right; }
.clearfloat {line-height:0px; height:0px; clear: both;font-size:0px;}
.indent15{margin-left:15px;}
.hidden{display:none;height:1px;}
.pad5{padding:5px;}
#container {margin: 0 auto;position: relative;top: 20px;width: 989px; text-align:left !important;display:block;}
.container {margin: 0 auto;position: relative;width: 989px;text-align:left !important;}

#content{padding:0 0px 5px 17px !important;padding:0 0px 0px 17px;width:985px;overflow:auto;}	
#btmLine{font-size:0px; line-height:0px;background:url(http://www.att.com/img/global/layout/page_btmSlice.gif);background-repeat:no-repeat;width:985px;height:5px;padding:0;background-position:bottom !important;background-position:top;margin:0;position:relative;top:0px !important;}
.table-gen td {border:1px solid #E5E5E5;caption-side:top;color:#333333;margin:0;padding:6px;font-size:11px;}
td.alt {background-color: #f6f6f6}
.table-gen{border:1px solid #E5E5E5;caption-side:top;color:#333333;margin:0;padding:0;}
.table-gen th.title {color:#F27D00;font-size:12px;font-weight:bold;height:24px;text-align:center;}
.table-gen th, .table-gen td {border:1px solid #E5E5E5;margin:0;padding:6px;}
.table-gen.narrow th, .table-gen.narrow td {padding:6px 3px;}
.table-gen tfoot {background-color:#E5E5E5;height:10px;margin:0;padding:0;line-height:0px;}
.table-gen tr.alt {background-color:#F6F6F6;}
.table-gen.center td{text-align:center;}
.dots img{margin:7px 0 5px;}
.dots{width:332px;}
.sm{font-size:7px;}
.tabledata{padding:0px;margin:0px;border-collapse:collapse;border:1px solid #e5e5e5;table-layout: fixed;}
.tabledata th{padding:5px;background-color:#e5e5e5;font-weight:bold;text-align:center;text-decoration:none;margin:0px;border-right:1px solid #ffffff;font-size:11px !important;}
.tabledata th:last-child{border-right:1px solid #e5e5e5;;}
.tabledata td{padding:5px;border:1px solid #e5e5e5;}
.tabledata tr.alt td{background-color:#f5f5f5;}
.tabledatatitle{color:#F27D00;font-size:12px;font-weight:bold;height:24px;text-align:center;}
.center{text-align:center;}
.sup{font-size: 0.9em;
    left: 0.2em;
    position: relative;
    top: 0.2em;}

hr{background-color:#cccccc;border:0;color:#cccccc;padding:0;}
.smallstar{font-size: 0.8em;position: relative;top: -3px;}
.trademark {
    font-size: 1.3em;
    position: relative;
    top: 1px;
}
H1 span.trademark{
    font-size: 1.3em;
    position: relative;
    top: 5px;
    line-height:30px;}


.disableLink span.demoDisable{
    /* cursor:not-allowed; */
    cursor:default;
}



/* added from SBC  */
div#toolbar {
    clear: right;
    padding: 8px 8px 0px;
    text-align: right;
    height:20px;

}


#containerSlideShow {
margin: 0 auto;
width: 974px;
height: 369px;
position: relative;
top:10px;
right:0px;

}
#separateLine{

    display:block;
    background:url(../images/Bid_homeSeparateLine.png);
    background-repeat:no-repeat;
    height:16px;
    width:989px;
}
#productSelectBar{
    text-align:center;
    height:212px;
    width:1007px;
    background:url(../images/BKGMyCarousel.jpg);
    background-repeat:no-repeat;
    background-position: left top;
		padding: 0px 10px 0px 10px;
}
.suggestProductItem{
    background-repeat:no-repeat;
    background-position:right 20px;
    width:276px;
    height:180px;
    /*background-color:#fff;*/
    display:block;
    text-align:left;
    padding-top:25px;
    font-weight:bold;
    line-height:16px;
    color:#666666;


}


.suggestProductItem_ShopNowBtn{
    width:113px;
    height:31px;
    margin-left:-1px;
    position:absolute;
    cursor:pointer;
    bottom:0;
		padding-bottom:23px;
}

#ProductList{
    display:block;
    width:974px;
    padding-top:28px;
    margin-top:0;
    height:160px;
    background-image: url(../images/bluegrad_bkg_img.png);
    background-repeat:no-repeat;
    background-position:top left;
		position:relative;
		top:-3px;
}
.Product{
    width:161px;
    padding-left:1px;
    padding-right:2px;
    text-align:center;
    float:left;
    padding-top:36px;
    padding-bottom:22px;
}
.productTitle{

    color:#3380b6;
    font-size:15px;
    line-height: 20px;
		padding-bottom:10px;


}
.productImage{
    padding-top:10px;
}

div#manageMyAccount{
    background-image:url(../images/loginwindow_img4.png);
    background-repeat:no-repeat;
    display:block;
    height:315px;
    width:153px;
    z-index:1200;
    position: absolute;
    top: 0px;
    right: -54px;
		padding-right:15px;
		padding-left:15px;
		padding-top:54px;
		margin-bottom:5px;
}

div#prototypeFooter{
		width: 100%;
		padding: 20px 0px 0px 20px;
}

/*styles for autosuggest*/
#tieredNav #primaryMenu #primary_Search .autoSuggest ul li {color:#656565}

#tieredNav #primaryMenu #primary_Search .autoSuggest {
    width: 165px;
    z-index: 9999;
    background:white;
    padding: 5px 0 2px;
    margin:0;
    background:#ffffff;
    border:1px solid #cccccc;
    position: absolute;
    top:39px;
    left:17px;
}

#tieredNav #primaryMenu #primary_Search .autoSuggest ul {
    width: 165px;
    background:white;
    display:block;
    float: none;
    height: auto;
    position: none;
    z-index: 100;

    list-style:none;
    padding: 0;
    margin:0;
}

#tieredNav #primaryMenu #primary_Search .autoSuggest ul li {
    width: 155px;
    background:white;
    display:block;
    float: none;
    height: auto;
    position: none;
    z-index: 100;
    margin-left:3px;

    padding: 1px 2px 2px 2px;
    cursor: pointer;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    white-space:nowrap;
    line-height:1.5em;
}

#tieredNav #primaryMenu #primary_Search .autoSuggest ul li:hover {
    background-color: #ebebeb;
}
#tieredNav #primaryMenu #primary_Search #autoSuggestBox li a {
    text-decoration:none;
    color:#656565
}
#tieredNav #primaryMenu #primary_Search #autoSuggestBox li a:link {
    text-decoration:none;
    color:#656565
}
#tieredNav #primaryMenu #primary_Search #autoSuggestBox li a:hover {
    text-decoration:none;
    color:#656565
}
#tieredNav #primaryMenu #primary_Search #autoSuggestBox a{
    display:block;
}
#tieredNav #primaryMenu #primary_Search #autoSuggestBox .ui-state-hover{
    background:#ebebeb;
}


#ProductList_Footer{
    padding:20px;
    /* border-bottom:1px solid #ccc;*/
		width:1050px;
}
#ProductList_Footer sup {
	line-height:0;
	position:relative;
	top:3px;
}
#ProductList_Footer .ProductList_column{
    float:left;
    padding-right:25px;
    padding-left:0px;
}
.ProductListTitle{
    padding-bottom:20px;
    font-family: arial;
    font-size:10px;
    font-weight:normal;
    color:#333;
}
.ProductListItem{
    line-height:20px;
    vertical-align: middle;
    font-family: arial;
    font-size:12px;
    font-weight:normal;
    color:#3381b7;
}

#locationOverlayPanel{
    background:url("http://www.att.com/img/BG_locationOverlay2.png") no-repeat ;
    position:absolute;
    width:500px; /*478px;*/
    height:245px;
    display:none;
    z-index:10011;

}
#locationOverlayPanelWidthTail{
    background:url("http://www.att.com/img/BG_locationOverlay.png") no-repeat ;
    position:absolute;
    width:500px; /*478px;*/
    height:245px;
    display:none;
    z-index:10011;

}
#BidOverlay{
    z-index:10000;
    position:absolute;
    background-color:transparent;
    left:-100px;
    top:-100px;
    margin:0;
    padding:0;
    width:1000px;
    height:1000px;
    display:block;


}

		/****************
		 FLASH MARQUEE
		****************/
		.marquee{clear:both; width:989px; padding-bottom:0px;position:relative;right:55px;top:0px;}
		.marquee .hero{height:380px; position:relative; top:-5px; overflow:hidden;}
		.rotateHero {
			font-family: Arial;
			font-size: 10px;
			color:#999999;
		}
		.rotateHeroActive {
			font-family: Arial;
			font-size: 10px;
			color: #FF7200;
		}
	.mNavOn {
		background-image:url('../images/marquees/mrq_control_active.png');
		height:14px;
		width:14px;
		position:relative;
		top:-23px;
	}
	.mNavOff {
		background-image:url('../images/marquees/mrq_control_inactive.png');
		height:14px;
		width:14px;
		position:relative;
		top:-23px;
	}

.suggestProductItem a {
	text-decoration:none;
	color: #3381b7;
}

.carouselTitle {
	color:#3381b7;
	font-size:14px;
	font-weight:normal;
	line-height:14pt;
}

.carouselSpecial {
	font-size: 12px;
	color:#b30a3c;
	font-size:14px;
	font-weight:normal;
	line-height:14pt;
}

.carouselContent {
	color: #33333;
	font-size: 12px;
	line-height:15px;
	font-weight:normal;
}

.carouselPricePoint {
	color: #ff7200;
	font-size: 18px;
	line-height:14pt;
	font-weight:normal;
}

.carouselContract {
	color: #ff7200;
	font-size: 12px;
	line-height:14pt;
	font-weight:normal;
}

.carouselPriceRange {
	color: #66666;
	font-size: 12px;
	line-height:14pt;
	font-weight:normal;
}

.carouselLegal {
	color: #99999;
	font-size: 10px;
	line-height:10pt;
	font-weight:normal;
}

.carouselDivider {
	float:left;
	padding:0px 8px 0px 8px;
}

#productSelectBar p {
	margin-right:140px;
}

.suggestProductItem sup{
	line-height:0;
	padding-right: 3px;
    position: relative;
    top: 5px;
}

#quickLinks p {
    line-height:20px;
    vertical-align: middle;
    font-family: arial;
    font-size:12px;
    font-weight:normal;
}

.quickLinksTitle {
	font-family:Arial;
	font-size:16px;
	color:#333333;
}

.quickLinksGrowing {
    line-height:15px;
}

			html { 
				background-image: url('../images/navbar/gradbkg_left_img.png');
				background-repeat: no-repeat;
				background-position:left top;
				background-color: #fff; 
			}			
		#navlist{position:relative;}
		#navlist li{margin:0;padding:0;list-style:none;position:absolute;margin-top:0px;}
		#navlist li, #navlist a{height:75px;display:block;}
		
		#navLogo{left:0px;width:991px;}
		
		#navHome{left:100px;width:110px;}
		
		#navWireless{left:240px;width:65px;}
		#navWireless a:hover{background:url('../images/navbar/prim_nav_bkgd_smb_search_sprite.png') -240px -75px;}
		
		#navBundles{left:320px;width:60px;}
		#navBundles a:hover{background:url('../images/navbar/prim_nav_bkgd_smb_search_sprite.png') -320px -75px;}
		
		#navInternet{left:400px;width:60px;}
		#navInternet a:hover{background:url('../images/navbar/prim_nav_bkgd_smb_search_sprite.png') -400px -75px;}
		
		#navLocal{left:480px;width:40px;}
		#navLocal a:hover{background:url('../images/navbar/prim_nav_bkgd_smb_search_sprite.png') -480px -75px;}
		
		#navLongdistance{left:538px;width:102px;}
		#navLongdistance a:hover{background:url('../images/navbar/prim_nav_bkgd_smb_search_sprite.png') -538px -75px;}
		
		#navAddSer{left:660px;width:140px;}
		#navAddSer a:hover{background:url('../images/navbar/prim_nav_bkgd_smb_search_sprite.png') -660px -75px;}
		
		#search{left:800px;width:280px;}
		
		/**** SEARCH FORM & LOGO ****/
		#homeSearch{height:22px; text-align:right;z-index:100;}
		#homeSearch fieldset{position:absolute; top:39px; right:26px; border:none;z-index:100;}
		#homeSearch .login{position:absolute; right:0; top:-10px; text-align:right; font-size:1.1em; color:#cccccc}
		#homeSearch .login .lnk1{padding:0 0 0 0}
		#homeSearch .login .lnk2{padding:0 0 0 0}
		
		#homeSearch legend{display:none}
		#homeSearch label{font-size:1.1em; margin-left:5px; visibility:hidden;height:15px;}
		#homeSearch input{z-index:100;;border:none; text-indent:5px; font-size:1.1em; margin-left:2px; background:#ffffff; font-family: arial, helvetica, sans-serif;}	
		
		#homeSearch #query, #homeSearch #q{height:1.4em; width:105px;  margin:0; padding-top:2px !important }
		#ie #homeSearch #query, #homeSearch #q{height:1.6em; line-height:1.5em; padding-top:0 !important}
		#homeSearch input.btnGo{border:none; width:15px; height:15px; margin-bottom:1px; margin-left:2px}
		#ie #homeSearch input.btnGo{margin-left:0px}
		
		#universalNav{margin-bottom: 0px;}
		#ie #universalNav{margin-top: 5px;}
		#header {height: 20px;}
		
/* added from SBC  */
div#toolbar {
    clear: right;
    padding: 8px 8px 0px;
    text-align: right;
    height:20px;
		position:relative;
		top:10px;
}

.mute a, .mute a:visited, .mute a:hover {
    color: #999999;
		text-decoration: none;
}

.mute a:hover {
	color: #999999;
}
/*Footer styles*/
.footer {
    margin: 0 auto;
    padding-top: 20px;
    width: 945px;
}
.standardfooter {
    border-top: 1px solid #F2F2F2;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    width: 960px;
}
.standardfooter .attlogo {
    float: left;
    padding: 0 50px 0 0;
}
.standardfooter .footercenter {
    float: left;
    width: 755px;
}
.standardfooter .padBtm20 {
    padding-bottom: 20px;
}
.standardfooter .footerLinks {
    color: #3381B7;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .footerDivider {
    color: #999999;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .footerContent {
    padding-bottom: 25px;
    padding-right: 100px;
}
.standardfooter .copyRight {
    color: #3381B7;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .footerLegal {
    color: #666666;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .marginRt40 {
    margin-right: 40px;
}
.standardfooter .footerRight {
    float: left;
    padding-right: 25px;
}
.standardfooter .clearFloat {
    clear: both;
}
.footerdiv {
    float: left;
    line-height: 18px;
    padding-bottom: 10px;
    text-align: left;
    width: 25%;
}
.footertitle {
    color: #000000;
    font-size: 10px;
    margin-bottom: 10px;
}
