/****** a standard vertically-aligned set of divs. ***********/

.leftright div#left {
    float: left;
}
.leftright div#right {
    float: right;
    text-align: right;
}
.leftrightcenter {
    width: 100%;
    clear: both;
}
.leftrightcenter div#left {
    float: left;
    width: 30%;
}
.leftrightcenter div#center {
    float: left;
    text-align: center;
    width: 38%;
}
.leftrightcenter div#right {
    float: right;
    text-align: right;
    width: 30%;
}

/*********************************************************/
.clear {
    clear: both;
}
/****** page layout **************************************/

/****** header column applies to all layouts. ***********/

#header {
    width: 966px;
    margin:auto;
}
div#footer {
    background-color: #EDEDEC;
    clear: both;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    padding-bottom: 12px;
}
div#footer hr {
    margin: 0;
    height: 1px;
    border: 0;
    border-top: 1px dotted #CCC;
}
div#footer p {
    margin:20px;
}
/****** one column layout. ******************************/

div#content-1 {
    margin-top:20px;
}
#content-1 #main {
    margin: 0px 20px 0px 20px;
}
/****** two column layout options. **********************/

div#content-2-wide {
    margin-top:20px;
}
#content-2-narrow #sidebar {
    border-right:1px dotted #CCCCCC;
    float:left;
    margin-left:20px;
    width:160px;
}
#content-2-narrow #main {
    width: 780px;
    float: right;
    padding-right:20px;
}
#content-2-wide #sidebar, #content-2-wide .maindetails_sidebar {
    width: 300px;
    font-size:100%;
    margin-right:20px;
    float: right;
}
#content-2-wide #main, #content-2-wide .maindetails_center {
    width: 646px;
    float: left;
    margin-left:20px;
}

#maindetails_center_top {
    margin-bottom: 400px;
}

#maindetails_center_bottom {
    margin-top: -400px;
}

table#outerbody #content-2-wide #main {
    margin-left:0px;
}
table#outerbody #content-2-wide #sidebar {
    margin-right:0px;
}
#content-2-odd #sidebar {
    width: 160px;
    float: right;
}
#content-2-odd #main {
    width: 80%;
    float: left;
}
/****** three column layout options. **********************/

#content-3 #sidebar-narrow {
    width: 160px;
    float: left;
    margin-left: 20px;
    border-right: #ccc 1px dotted;
}
#content-3 #sidebar-wide {
    width: 300px;
    float: right;
    margin-right: 20px;
}
#content-3 #main {
    width: 460px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
