/* Suggestion search */

#navbar #nb_search #navbar-suggestionsearch {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
    box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
    overflow: hidden;
    padding: 0px;
    z-index: 99999;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    font-size: 13px;
}

#navbar #nb_search #navbar-suggestionsearch a {
    display: block;
    clear: both;
    border-bottom: 1px solid #efefef;
    color: #136CB2;
    max-height: 100px;
    overflow: hidden;
    text-decoration:none;
}

#navbar #nb_search #navbar-suggestionsearch .suggestionlabel {
    padding: 6px 4px 5px 50px;
}

#navbar #nb_search #navbar-suggestionsearch a .title {
    font-weight: bold;
    line-height:110%;
}

#navbar #nb_search #navbar-suggestionsearch a .detail {
    color: #666666;
    text-decoration:none;
    font-size:11px;
    margin-top:2px;
}

#navbar #nb_search #navbar-suggestionsearch a .extra {
    font-weight: normal;
}

#navbar #nb_search #navbar-suggestionsearch a.poster > img {
    float: left;
    margin: 4px;
}

#navbar #nb_search #navbar-suggestionsearch > a.moreResults {
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    background-color: #F2F2F1;
    border: none;
    display: block;
    padding: 10px 8px 10px 10px;
    vertical-align: middle;
}

#navbar #nb_search #navbar-suggestionsearch a.highlighted {
    background-color: #F8F1BE;
}

#navbar a.moreResults span.raquo {
    color:#333;
}

#navbar a.moreResults span.query {
    font-style:italic;
}

#navbar-suggestionsearch {
    left: 167px;
    top: 35px;
    width: 466px;
}
