/* adjacency 1.1 by todd */
/* based on topjobs 1.3 */


/* === common adjacency style =============================================== */


#adjacency .listgroup {
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:7.5pt;
border:1px solid #888;
}

#adjacency .listgroup h3 {
margin:0;
border-bottom:1px solid #888;
text-align:center;
}
* #adjacency .listgroup h3 {
padding:8px 0 8px 0;
font-size:8.5pt;
background-image:url(../graphics/bkg-topjobs.gif);
background-repeat:no-repeat;
background-color:#eee;
}
#adjacency .listgroup p.intro {
margin:0;
padding:0;
text-align:center;
color:#006;
}
#adjacency .listgroup p.intro strong {
font-size:9pt;
}
#adjacency .listgroup p.logo {
text-align:center;
}
#adjacency .listgroup p.logo img {
margin:5px 0 0 0;
}
#adjacency .listgroup .simplemenu {
background-color:#eee;
padding:5px;
margin:0;
border-top:1px solid #888;
list-style-type:none;
}
#adjacency .listgroup .item, #adjacency .listgroup .firstitem, #adjacency .listgroup .lastitem {
margin:5px;
border-bottom:1px solid #999;
}
#adjacency .listgroup .firstitem {
border-top:1px solid #999;
}
#adjacency .listgroup a, #adjacency .listgroup a:link {
color:#006;
}
#adjacency .listgroup a:hover {
color:#444;
}

#adjacency .listgroup h4 {
font-size:10px;
text-transform:uppercase;
margin:0;
padding:3px 0 0 0;
}

#adjacency .listgroup .item p,
#adjacency .listgroup .firstitem p,
#adjacency .listgroup .lastitem p  {
margin:0;
padding:0;
}
#adjacency .listgroup p.price {
padding:0 0 5px 0;
}
#adjacency .listgroup .logo {
text-align:center;
}
#adjacency .listgroup .logo p {
margin:5px 0 5px 0;
}


/* === topjobs ============================================================== */

#adjacency #topjobs h4
{
	background-image: url(../../templates/types/common/graphics/arrows/9x7-black-right.gif);
	background-repeat: no-repeat;
	padding: 0 0 0 10px;
}
#adjacency #topjobs .item, #adjacency #topjobs .firstitem, #adjacency #topjobs .lastitem {
padding:5px 0 10px 0;
}
#adjacency #topjobs .firstitem {
border-top:0;
}
#adjacency #topjobs .lastitem {
border-bottom:0;
}
