#content_mainB .advertisement { 
    z-index:9999; 
}

#footer_global .nav > li:first-child {
    border-left: none; 
    padding: 0 0 6px;
}

#header_ads, #headerboard {
    background-color: transparent;
}
#header_ads {
    z-index: 2;
}
#headerboard {
    margin: 0 auto;
    min-height:90px; 
    width: 990px; 
}
#headerboard .secondary_ad {
    float: right; 
    height: 90px; 
    width: 257px;
}
#headerboard .secondary_ad iframe {
    position: absolute;
}
#headerboard .leaderboard {
    float: left;
}

/* ------------------------------------------------------------
+NGM overrides - move to separate file or within NGM
------------------------------------------------------------ */
.ngm #header_ads {
    background-color: #111;
}

.ngm #navigation_mainB {
    top: 4.6em;
}

.ngm nav#navigation_mainB .primary_nav {
    padding: 0;
}

.ngm #navigation_tophat_container {
    font-size: 16px;
    height: 9.3em;
}

.ngm.level_2 #navigation_tophat_container {
    height: 15.1em;
}

.ngm #header_search_input {
    padding: 0.375em 0 0.375em 1.6em;
}

.ngm #social > li {
    display: inline-block;
}

.ngm .primary_nav {
    float: left;
    margin-bottom: -3px;
    padding-bottom: 0;
    top: -4.6em;
}

.ngm .photography.active .secondary_nav {
    margin-left: -140px;
}

.ngm .primary_nav > li.active {
    position: relative;
}

/* ------------------------------------------------------------
+Nirvana overrides
------------------------------------------------------------ */
.nirvana #navigation_tophat_container {
    font-size: 16px;
    height: 15.1em;
}

.nirvana .primary_nav h2 {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
}

.nirvana .primary_nav .featured_shows h2 {
    padding-top: .6em; 
}

.nirvana .primary_nav .featured_shows a {
    color: #044E8E;
}

.nirvana .shop .spotlight_left_menu {
    padding-top: .6em;
}

.nirvana .shop .spotlight_left_menu h2 {
    padding-bottom: 0.6em;
}

/* ------------------------------------------------------------
+vCard
------------------------------------------------------------ */
.vcard div {
    position: absolute;
}

#advertisingModule90x15 { 
    display: inline-block; 
    float: right;
    margin: 0;
    padding: 1.7em 0 0 0;
}

.inline-list > li {
    float: left;
}
.inline_list li:first-child {
    margin-top: 2px; 
    margin-right: 3px;
}

/* ------------------------------------------------------------
+Footer - Global
------------------------------------------------------------ */
#footer_global {
    background-color: #fff; 
    margin: 0 auto; 
    padding: 0 20px 40px; 
    width: 950px;
}
#footer_global, #copyright {
    color: #333; 
    font: 16px/1em Arial, sans-serif;
}

#footer_global .nav_global_tierA {
    border-bottom: 1px solid #d5d5d5; 
    border-top: 1px solid #d5d5d5; 
    font-size: .938em; 
    padding: 20px 0; 
    text-transform: uppercase;
}
#footer_global .nav_global_tierA a {
    color: #646464;
}
#footer_global .nav_global_tierA a:hover {
    color: #000; 
    text-decoration: none;
}
#footer_global .nav_global_tierA li {
    border: none; 
    padding: 0 0 0 25px;
}
.intl #footer_global .nav_global_tierA li.nav8 a { 
    margin-left: -75px;
    visibility: hidden;
}

#footer_global .nav_global_tierB, 
#footer_global .nav_global_tierC {
    font-size: .814em; 
    padding-top: 15px;
}
#footer_global .nav_global_tierD {
    border-bottom: 1px solid #d5d5d5; 
    font-size: .814em; 
    padding: 15px 0;
}
.homepage #footer_global .nav_global_tierA .nav1 a {
    color: #333; 
    font-weight: bold;
}
#footer_global ul {
    margin: 0 auto; 
    text-align: center;
}
#footer_global ul li {
    border-left: 1px dotted #000;
    display: inline; 
    float: none; 
    font-size: 0.875em;  
    padding: 0 10px;
}

#copyright {
    background: url(../i/presentation/ng_logo_small.png) no-repeat center top; 
    clear: both; 
    font-size: 0.689em;  
    margin-top: 28px; 
    padding-top: 50px; 
    text-align: center;
}
#photo_credits {
    color: #767777; 
    font-size: 0.75em; 
    margin: 10px auto 37px; 
    text-align: center; 
    width: 950px;
}
#photo_credits h2 {
    margin-right: 5px;
}
#photo_credits h2, 
#photo_credits ol, 
#photo_credits ol li {
    display: inline;
}
#photo_credits ol li {
    border-left: 1px solid #d5d5d5; 
    padding: 0 7px;
}
#site_promotions {
    border-bottom: 1px solid #d5d5d5; 
    margin-top: 30px; 
    padding-bottom: 30px;
}
#site_tools .nav {
    clear: both; 
    margin-top: 20px;
}
#site_tools .nav01 {
    background: url(http://images.nationalgeographic.com/wpf/sites/themes/global/i/presentation/geocore_sprites.png) no-repeat -6px -270px; 
    border-right: 1px solid #d5d5d5; 
    font-weight: bold; 
    padding: 0 10px 0 25px;
}
#site_tools .nav02 {
    padding-left: 10px;
}

/* ------------------------------------------------------------
+UTILITIES from the main utilities.css made specific to
 tophat/footer because of non-WPF site dependencies - LB 01.11.10
------------------------------------------------------------ */
.cf:before,
.cf:after { 
    content: ""; 
    display: table; 
}

.cf:after { 
    clear: both; 
}