@charset "UTF-8";
/* CSS Document */

/* Replacement: Left Menu */
#leftcolumn .searchrefine { display : none }

/* Replacement: "Back to Results" Title */
#content .back { display:none; }

/* Replacement: Header Title */
#content h1 { display:none; }

/* Remove "Print" function /// Remove after rendering template */
.icons .print { display:none; }
.icons .sendToFriend { display:none; }


/* << Back to Search Results */
#pdpContShopLink { display:none; }