body {
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/body_bg.gif") repeat;
margin:0;
}

a.whitelink:hover {
color:#ff0000;
text-decoration:underline;
}

/* main containing divs */
#container {
margin:0 auto;
text-align:left;
width:865px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/hd_bg.gif") repeat-y;
}
#masthead {
width:865px;
margin:0 auto;
}
#content {
clear:both;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/bd_bg.gif") repeat;
}
.row1 {
width:865px;
}
.row1 .flash {
overflow:hidden;
height:212px;
width:864px;
}

.row2 {
width:842px;
overflow:hidden;
margin:0 12px 0 13px;
padding:0;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/bd_bg2.gif") repeat-y 0 0;
}
.row2 .col1 {
float:left;
width:563px;
overflow:hidden;
}
/* main containing divs - related to index type sub page */
.row1 .sp_hdr {
width:825px;
height:84px;
padding:0 0 0 40px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/sp_hdr_bg.gif") no-repeat 0 0;
}

.row1 .sp_hdr h1 {
color:#fff;
font:bold 123.1% Arial, Helvetica, sans-serif;
text-transform:uppercase;
margin:0 0 0 0;
padding:20px 0 0 0
}
.row1 .sp_hdr div {
width:70%;
color:#fff;
font:77% Arial, Helvetica, sans-serif;
}

.row2 .sp_col1, .row2 .sp_col2, .row2 .sp_col3, .row2 .sp_col4 {
float:left;
width:182px;
overflow:hidden;
}

.row2 .sp_col1 {
padding:25px 0 0 25px;
}

.row2 .sp_col2, .row2 .sp_col3 {
padding:25px 0 0 20px;
}

.row2 .sp_col4 {
padding:25px 25px 0 20px;
}

/*main containing divs - additional styles related to sub nav and inner pages*/
.sp2_nav {
float:left;
width:205px;
overflow:hidden;
padding:25px 0px 2px 0px;
list-style:none;
}
.row2 .sp2_col1, .row2 .sp2_col2 {
float:left;
width:240px;
overflow:hidden;
}

.row2 .sp2_col1 {
padding:25px 0 0 0px;
}

.row2 .sp2_col2 {
padding:25px 0 0 40px;
}

.row2 .sp3_col1 {
float:left;
width:600px;
overflow:hidden;
}

.row2 .sp3_col1 {
padding:15px 0 10px 0px;
}

/*header styles*/
#header {
width:865px;
height:74px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/hd_bg.gif") repeat-x;
float:left;
}
.logo {
float:left;
margin:0px 0 0 22px;
width:249px;
height:74px;
}

.logo a {
display:block;
overflow:hidden;
text-indent:-9999px;
height:74px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/logo.gif") no-repeat;
}

/*Utiltiy link styles*/
#utility ul {
margin:15px 10px 0 0;
padding:0;
list-style:none;
float:right;
display:inline;
}

#utility ul li {
padding:0 0 0 5px;
float:left;
font:65% Arial, Helvetica, sans-serif;
}

#utility ul a {
text-decoration:none;
color:#808285;
}

#utility ul a:hover {
text-decoration:underline;
}

/*Search styles*/
.hdr-search {
font:65% Arial, Helvetica, sans-serif;
float:right;
color:#808285;
margin-top:25px;
margin-right:5px;
}

.hdr-search input {
font:10px Arial, Helvetica, sans-serif;
color:#808285;
width:190px;
padding:2px;
margin-top:2px;
margin-right:5px;
}

.hdr-search img {
border:0;
vertical-align:top
}


/*header - navigation Styles*/
#nav {
clear:both;
width:865px;
height:44px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/hd_nav_bg.gif") repeat;
}
.menu {
padding:0;
margin:8px 0px 0px 20px;
list-style:none;
overflow:hidden;
float:left;
display:inline;
width:845px;
font:85% Arial, Helvetica, sans-serif;
}
.menu li {
float:left;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/left.gif") no-repeat left top;
padding:0px 12px 0px 0px;
width:125px;
height:27px;
text-align:center
}
.menu li a {
float:left;
display:block;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/right.gif") no-repeat right top;
padding:5px 4px 5px 0;
margin-left:6px;
height:27px;
text-decoration:none;
color:#fff;
font-weight:bold;
outline:none;
}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
.menu li a {float:none;}
/* End IE5-Mac hack */
.menu li a:hover {
color:#ccc;
}
.menu li a.selected { /*selected main tab style */
color:#333;
}
.menu li a:hover .selected{ /*selected main tab style */
text-decoration: none;
}


/* Privacy Policy links,content Styles */
.ppolicy {
float:left;
width:205px;
overflow:hidden;
padding:10px 0px 2px 0px;
list-style:none;
}
.ppolicy ul {
list-style:none;
margin:0;
padding:0px;
}
.ppolicy-styles li {
padding:0px 2px 15px 12px;
font:60% Arial, Helvetica, sans-serif;
}
.ppolicy-styles a {
float:left;
overflow:hidden;
padding:2px 12px 4px 0;
color:#999999;
font-weight:bold;
text-decoration:none;
outline:none;
}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
.ppolicy-styles a {float:none;}
/* End IE5-Mac hack */
.ppolicy-styles a:hover {
color:#7b0099;
}
.ppolicy-styles li .selected {
color:#7b0099;
outline:none;
}
.ppolicy-styles li a.selected { /*selected main tab style */
color:#7b0099;
}
.ppolicy-styles li a:hover .selected { /*selected main tab style */
text-decoration: none;
}
.pageactions {
text-align:center
}
.pageactions img {
border:0;
vertical-align:bottom;
margin-right:3px;
}
.pageactions a, .pageactions a:visited {
color:#1b478e;
font:60% Arial, Helvetica, sans-serif;
text-decoration:underline;
padding:0px 15px 0px 0px;
}
.pageactions a:hover {
color:#1b478e;
text-decoration:none
}

.sp_pageactions {
text-align:right;
padding-top:5px;
}
.sp_pageactions img {
border:0;
vertical-align:bottom;
margin-right:3px;
}
.sp_pageactions a, .sp_pageactions a:visited {
color:#1b478e;
font:60% Arial, Helvetica, sans-serif;
text-decoration:underline;
padding:0px 15px 0px 0px;
}
.sp_pageactions a:hover {
color:#1b478e;
text-decoration:none
}

.truste {
float:left;
width:205px;
overflow:hidden;
padding:20px 0px 0px 50px;
}


.tabcontent {
float:left;
font-family:Arial, Helvetica, sans-serif;
width:345px;
overflow:hidden;
padding:0;
}

.tabcontent h2 {
margin:0 0 2px 0;
padding:10px 0 0 0;
text-transform:uppercase;
font:bold 85% Arial, Helvetica, sans-serif;
color:#666;
}

.tabcontent h3 {
font:bold 77% Arial, Helvetica, sans-serif;
color:#666;
margin:10px 0 3px 0; 
padding:0px; 
width:300px;
height:auto;
background-image:none
}

.tabcontent a:link, .tabcontent a:active {
color:#7b0099;
}
.tabcontent a:hover {
color:#ccc;
}
.tabcontent a:visited {
color:#7d51ab;
}
.tabcontent p {
font:66% Arial, Helvetica, sans-serif;
color:#808285;
margin:0 0 15px 0; padding:0;
}
.tabcontent ul {
font:66% Arial, Helvetica, sans-serif;
color:#808285;
}
.tabcontent li {
padding-bottom:4px;
}
.tabcontent strong {
font:77% Arial, Helvetica, sans-serif;
color:#808285;
font-weight:bold
}

/*Highlight Module Styles*/
.col2 {
float:left;
display:inline;
width:275px;
overflow:hidden;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/hmodule_bg_1.gif") repeat-x;
}
h3 {
width:275px;
height:29px;
overflow:hidden;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/hdr_hmodule.gif") no-repeat;
margin:0;
font:bold 85%  Arial, Helvetica, sans-serif;
color:#ffffff;
}
h3 span {
float:left;
margin:5px 0 0 20px;
}
.col2 .box {
width:280px;
overflow:auto;
}
.col2 .box .segment {
width:100%;
overflow:hidden;
padding:11px 0 20px;
}
.col2 .box .segment .hdr {
width:100%;
overflow:hidden;
border-top:1px dashed #808285;
border-bottom:1px dashed #808285;
margin:0 0 10px 20px;
padding:4px 0 4px 0;
color:#7b0099;
font: bold 75% Arial, Helvetica, sans-serif;
text-transform:uppercase
}
.col2 .box .segment .featuretxt {
float:left;
display:inline;
margin:10px 0 0 20px;
width:230px;
}
.col2 .box .segment .featuretxt p {
margin:0;
font:77% Arial, Helvetica, sans-serif;
color:#000;
}
.col2 .box .segment .featuretxt p a {
color:#000;
text-decoration:underline;
}
.col2 .box .segment .featuretxt p a:hover {
color:#fff;
text-decoration:underline;
}
.col2 .box .segment .featuretxt p a:visited {
color:#7d51ab;
text-decoration:underline;
}
.col2 .box .segment .titletxt {
float:left;
display:inline;
margin:0 0 5px 20px;
width:250px;

}
.col2 .box .segment .titletxt p {
margin:0;
font:bold 77% Arial, Helvetica, sans-serif;
color:#000;
}
.col2 .box .segment .titletxt p a {
color:#000;
text-decoration:none;
}
.col2 .box .segment .titletxt p a:hover {
color:#fff;
text-decoration:none;
}
.col2 .box .segment .titletxt p a:visited {
color:#7d51ab;
text-decoration:none;
}


.col2 .box .segment .links {
float:left;
display:inline;
margin:10px 0 0 20px;
width:250px;
}
.col2 .box .segment .links p {
margin:0;
font:77% Arial, Helvetica, sans-serif;
color:#000;
}
.col2 .box .segment .links p a {
color:#000;
text-decoration:none;
}
.col2 .box .segment .links p a:hover {
color:#fff;
text-decoration:none;
}
.col2 .box .segment .links p a:visited {
color:#7d51ab;
text-decoration:none;
}
.col2 .box .segment .txt {
float:left;
display:inline;
margin:0 0 0 20px;
width:250px;
font:77% Arial, Helvetica, sans-serif;
}
.col2 .box .segment .txt p {
margin:0;
font:77% Arial, Helvetica, sans-serif;
color:#000;
}
.col2 .box .segment .txt p a {
color:#000;
text-decoration:underline;
}
.col2 .box .segment .txt p a:hover {
color:#fff;
text-decoration:underlined;
}
.col2 .box .segment .txt p a:visited {
color:#7d51ab;
text-decoration:underlined;
}


/*SubPage Styles - Products Index*/
.sp_col1 .box, .sp_col2 .box, .sp_col3 .box, .sp_col4 .box {
width:180px;
margin-bottom:5px;
overflow:auto;
}
.sp_col1 .box .segment, .sp_col2 .box .segment, .sp_col3 .box .segment, .sp_col4 .box .segment {
overflow:hidden;
margin-bottom:20px;
clear:both;
}
.sp_col1 .box .segment .hdr, .sp_col2 .box .segment .hdr, .sp_col3 .box .segment .hdr, .sp_col4 .box .segment .hdr {
width:75px;
height:19px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/sp_index_bg.gif") no-repeat;
color:#7b0099;
font: bold 67% Arial, Arial, Helvetica, sans-serif;
text-align:center;
padding:4px 0 0 0;
}
.sp_col1 .box .segment .links, .sp_col2 .box .segment .links, .sp_col3 .box .segment .links, .sp_col4 .box .segment .links {
float:left;
display:inline;
padding:10px 0 10px 10px;
width:165px;
color:#555555;
background-color:#e6dfed
}
.sp_col1 .box .segment .links p, .sp_col2 .box .segment .links p, .sp_col3 .box .segment .links p, .sp_col4 .box .segment .links p {
margin:0;
font: normal 67% Arial, Arial, Helvetica, sans-serif;
color:#808285;
}
.sp_col1 .box .segment .links p a, .sp_col2 .box .segment .links p a, .sp_col3 .box .segment .links p a, .sp_col4 .box .segment .links p a {
color:#555555;

text-decoration:none;
}
.sp_col1 .box .segment .links p a:hover, .sp_col2 .box .segment .links p a:hover, .sp_col3 .box .segment .links p a:hover, .sp_col4 .box .segment .links p a:hover {
color:#999999;
text-decoration:none;
}
.sp_col1 .box .segment .links p a:visited, .sp_col2 .box .segment .links p a:visited, .sp_col3 .box .segment .links p a:visited, .sp_col4 .box .segment .links p a:visited {
color:#808285;
text-decoration:none;
}


/*Sub Page Navigation Styles*/
.sp2_nav ul {
list-style:none;
margin:0;
padding:0px
}
.sp2_nav_styles li {
list-style:none;
padding:0px 2px 15px 15px;
font:60% Arial, Helvetica, sans-serif;
}
.sp2_nav_styles a {
float:left;
overflow:hidden;
padding:0px 12px 4px 6px;
margin-left:6px;
color:#999999;
font-weight:bold;
text-decoration:none;
outline:none;
}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
.sp2_nav_styles a {float:none;}
/* End IE5-Mac hack */
.sp2_nav_styles a:hover {
color:#7b0099;
}
.sp2_nav_styles li .selected {
color:#7b0099;
outline:none;
}
.sp2_nav_styles li a.selected { /*selected main tab style */
color:#7b0099;
}
.sp2_nav_styles li a:hover .selected { /*selected main tab style */
text-decoration: none;
}

/*sub page 2(topics) col1 and col2 styles*/
.sp2_col1 .box, .sp2_col2 .box{
width:235px;
margin-bottom:5px;
overflow:hidden;
}
.sp2_col1 .box .segment, .sp2_col2 .box .segment {
overflow:hidden;
margin-bottom:20px;
clear:both;
}
.sp2_col1 .box .segment .hdr, .sp2_col2 .box .segment .hdr {
width:235px;
height:30px;
color:#7b0099;
background-color:#bdbdbd;
font: bold 100% Arial, Helvetica, sans-serif;

padding:9px 0 0 5px;
}
.sp2_col1 .box .segment .hdr a, .sp2_col2 .box .segment .hdr a {
color:#ffffff;
text-decoration:none;
}
.sp2_col1 .box .segment .hdr a:hover, .sp2_col2 .box .segment .hdr a:hover {
width:235px;
height:30px;
color:#fff;
text-decoration:none;
}
.sp2_col1 .box .segment .hdr:hover, .sp2_col2 .box .segment .hdr:hover {
width:235px;
height:30px;
color:#ffffff;
background-color:#a651c8;
text-decoration:none;
}
.sp2_col1 .box .segment .hdr a:visited, .sp2_col2 .box .segment .hdr a:visited {
color:#ffffff;
text-decoration:none;
}

.sp2_col1 .box .segment .txt, .sp2_col2 .box .segment .txt {
float:left;
display:inline;
margin:5px 0 0 0px;
width:235px;
height:150px;
}
.sp2_col1 .box .segment .txt p, .sp2_col2 .box .segment .txt p {
margin:0;
font:66% Arial, Helvetica, sans-serif;
color:#808285;
}
.sp2_col1 .box .segment .txt p a, .sp2_col2 .box .segment .txt p a {
color:#7d51ab;
text-decoration:none;
}
.sp2_col1 .box .segment .txt p a:hover, .sp2_col2 .box .segment .txt p a:hover {
color:#808285;
text-decoration:none;
}
.sp2_col1 .box .segment .txt p a:visited, .sp2_col2 .box .segment .txt p a:visited {
color:#7d51ab;
text-decoration:none;
}


/*sub page 3 (web beacons) col1 styles*/
.sp3_col1 p, .sp3_col1 ul {
font:77% Arial, Helvetica, sans-serif;
color:#808285;
}
.sp3_col1 p a, .sp3_col1 ul a {
color:#7b0099;
text-decoration:none;
}
.sp3_col1 p a:hover, .sp3_col1 ul a:hover {
color:#ccc;
text-decoration:none;
}
.sp3_col1 p a:visited, .sp3_col1 ul a:visited {
color:#7d51ab;
text-decoration:none;
}

/*Footer Styles*/
#footer{
overflow:hidden;
width:840px;
margin:0 11px 0 14px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/footer_bg.gif") no-repeat;
}
#footer .sites ul{
font:67% Arial, Helvetica, sans-serif;
margin:0;
padding:20px 0 0 0;
list-style:none;
text-align:center;
}
#footer .sites ul li{
padding:0 0 0 8px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/footer-split.png") no-repeat left;
color:#7d7d7d;
display:inline;
}
#footer .sites ul li:first-child{
background:none;
font-weight:bold
}
#footer .sites ul a{
color:#7d7d7d;
text-decoration:none;
}
#footer .sites ul a:hover{
color:#999999;
text-decoration:none;
}
#footer .copy{
width:840px;
margin:10px 0 10px 0;
text-align:center;
}
#footer .copy ul{
margin:0;
padding:0;
list-style:none;
font:11px/15px Arial, Helvetica, sans-serif;
}
#footer .copy ul li{
display:inline;
padding:0 0 0 8px;
background:url("../../../../us.i1.yimg.com/us.yimg.com/i/pt/i/privacy/footer-split.png") no-repeat left;
}
#footer .copy ul li:first-child{
background:none;
}
#footer .copy ul a{
color:#7d7d7d;
text-decoration:none;
}
#footer .copy ul a:hover{
color:#999999;
text-decoration:none;
}
#footer .copy p{'
margin:0;
font:11px Arial, Helvetica, sans-serif;
color:#7d7d7d;
}


/*Tooltips*/
.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel-container{padding:0 1px;*padding:2px 3px;}
.yui-panel{position:relative;top:0; left:0;*zoom:1; border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;}
.yui-panel .hd,.yui-panel .bd,.yui-panel .ft{*zoom:1;*position:relative;border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;}
.yui-panel .bd,.yui-panel .ft{background-color:#feffe1;}
.yui-panel .knob{position:absolute;top:-8px;left:20px;width:17px;height:8px;background:url(../../../../l.yimg.com/a/i/us/help/tt_knob_1.gif) no-repeat top left}
.yui-panel .bd{padding:15px 10px 5px 10px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:82%; color:#000000;}
.yhelpdef {border-bottom: 1px dashed #20619e; color: #20619e; cursor: pointer; text-decoration: none; }
.yhelpmouseover {max-width:300px; _width:50%; *width:300px;}
.yhelpmouseover .container-close{position:absolute;top:0;right:0;width:25px;height:15px;background:transparent url(../../../../yui.yahooapis.com/2.6.0/build/assets/skins/sam/sprite.png) no-repeat scroll 0 -300px;cursor:pointer;overflow:hidden;text-decoration:none;text-indent:-10000em;}
.yhelpmouseover .hd { display:none;}
