.universalButtonSpriteSignOutOn { background-position: 0 -30px; height: 19px; width: 54px;} 
.universalButtonSpriteOkOver { background-position: 0 -79px; height: 19px; width: 47px;} 
.universalButtonSpriteCancelOnSm { background-position: 0 -128px; height: 19px; width: 47px;} 
.universalButtonSpriteNoInactiveOn { background-position: 0 -177px; height: 19px; width: 31px;} 
.universalButtonSpriteCancelReturnOver { background-position: 0 -226px; height: 19px; width: 79px;} 
.universalButtonSpriteRetrievetOrderOver { background-position: 0 -275px; height: 19px; width: 102px;} 
.universalButtonSpriteCancelThisReturnOn { background-position: 0 -324px; height: 19px; width: 100px;} 
.universalButtonSpriteCancelOff { background-position: 0 -373px; height: 19px; width: 62px;} 
.universalButtonSpriteCancelThisReturnOver { background-position: 0 -422px; height: 19px; width: 100px;} 
.universalButtonSpriteConfirmOn { background-position: 0 -471px; height: 19px; width: 79px;} 
.universalButtonSpriteContinueShoppingOn { background-position: 0 -520px; height: 19px; width: 104px;} 
.universalButtonSpriteCheckoutOff { background-position: 0 -569px; height: 19px; width: 62px;} 
.universalButtonSpriteEditReturnOver { background-position: 0 -618px; height: 19px; width: 79px;} 
.universalButtonSpriteUpdateItemOn { background-position: 0 -667px; height: 19px; width: 72px;} 
.universalButtonSpriteAcceptSuggestionOn { background-position: 0 -716px; height: 19px; width: 103px;} 
.universalButtonSpriteDeleteOn { background-position: 0 -765px; height: 19px; width: 45px;} 
.universalButtonSpriteEditAddressOver { background-position: 0 -814px; height: 19px; width: 72px;} 
.universalButtonSpriteCheckAnotherOn { background-position: 0 -863px; height: 19px; width: 84px;} 
.universalButtonSpriteUpdateItemOff { background-position: 0 -912px; height: 19px; width: 72px;} 
.universalButtonSpriteRegisterOn { background-position: 0 -961px; height: 19px; width: 54px;} 
.universalButtonSpriteSaveAddAnotherOn { background-position: 0 -1010px; height: 19px; width: 109px;} 
.universalButtonSpriteConfirmAddressOn { background-position: 0 -1059px; height: 19px; width: 93px;} 
.universalButtonSpriteEditReturnOff { background-position: 0 -1108px; height: 19px; width: 79px;} 
.universalButtonSpriteOutOfStockOn { background-position: 0 -1157px; height: 19px; width: 72px;} 
.universalButtonSpriteYesOff { background-position: 0 -1206px; height: 19px; width: 31px;} 
.universalSpriteIconInfo { background-position: 0 -1255px; height: 10px; width: 12px;} 
.universalButtonSpriteCheckoutOver { background-position: 0 -1295px; height: 19px; width: 61px;} 
.universalButtonSpriteNoActiveOver { background-position: 0 -1344px; height: 19px; width: 33px;} 
.universalButtonSpriteEditOn { background-position: 0 -1393px; height: 19px; width: 33px;} 
.universalButtonSpriteGoArrowOver { background-position: 0 -1442px; height: 9px; width: 10px;} 
.universalButtonSpriteSaveOn { background-position: 0 -1481px; height: 19px; width: 37px;} 
.universalButtonSpriteConfirmAddressOff { background-position: 0 -1530px; height: 19px; width: 93px;} 
.universalButtonSpriteUpdateOff { background-position: 0 -1579px; height: 19px; width: 48px;} 
.universalButtonSpriteEditAddressOn { background-position: 0 -1628px; height: 19px; width: 72px;} 
.universalButtonSpriteContinueShoppingOff { background-position: 0 -1677px; height: 19px; width: 104px;} 
.universalButtonSpriteAddANewAddressOn { background-position: 0 -1726px; height: 19px; width: 106px;} 
.universalButtonSpriteAddANewCardOn { background-position: 0 -1775px; height: 19px; width: 88px;} 
.universalButtonSpriteCheckBalanceOff { background-position: 0 -1824px; height: 19px; width: 84px;} 
.universalButtonSpriteContinueShoppingOver { background-position: 0 -1873px; height: 19px; width: 104px;} 
.universalButtonSpriteNoOver { background-position: 0 -1922px; height: 19px; width: 33px;} 
.universalButtonSpriteYesOn { background-position: -259px -30px; height: 19px; width: 31px;} 
.universalButtonSpriteCancelReturnOn { background-position: -259px -79px; height: 19px; width: 79px;} 
.universalButtonSpriteReportThisReviewOn { background-position: -259px -128px; height: 19px; width: 101px;} 
.universalButtonSpriteCreateUPSlabelOn { background-position: -259px -177px; height: 19px; width: 94px;} 
.universalButtonSpriteCheckoutOn { background-position: -259px -226px; height: 19px; width: 61px;} 
.universalButtonSpriteCreateAnAccountOff { background-position: -259px -275px; height: 19px; width: 103px;} 
.universalButtonSpriteContinueOn { background-position: -259px -324px; height: 19px; width: 57px;} 
.universalButtonSpriteCancelOffSm { background-position: -259px -373px; height: 19px; width: 47px;} 
.universalButtonSpriteCancelOn { background-position: -259px -422px; height: 19px; width: 61px;} 
.universalButtonSpriteYesInactiveOver { background-position: -259px -471px; height: 19px; width: 33px;} 
.universalButtonSpriteCreateAnAccountOn { background-position: -259px -520px; height: 19px; width: 103px;} 
.universalButtonSpriteConfirmOver { background-position: -259px -569px; height: 19px; width: 79px;} 
.universalButtonSpriteCheckBalanceOver { background-position: -259px -618px; height: 19px; width: 84px;} 
.universalButtonSpriteSignInOver { background-position: -259px -667px; height: 19px; width: 47px;} 
.universalButtonSpriteCheckAnotherOff { background-position: -259px -716px; height: 19px; width: 84px;} 
.universalButtonSpriteCreateAnAccountOver { background-position: -259px -765px; height: 19px; width: 103px;} 
.universalButtonSpriteApplyOff { background-position: -259px -814px; height: 19px; width: 42px;} 
.universalButtonSpriteYesInactiveOn { background-position: -259px -863px; height: 19px; width: 31px;} 
.universalButtonSpritePrintOff { background-position: -259px -912px; height: 19px; width: 48px;} 
.universalButtonSpritePrintOn { background-position: -259px -961px; height: 19px; width: 48px;} 
.universalButtonSpriteContinueOff { background-position: -259px -1010px; height: 19px; width: 57px;} 
.universalSpriteTopnavInlinebagLogo { background-position: -259px -1059px; height: 15px; width: 15px;} 
.universalButtonSpriteYesOver { background-position: -259px -1104px; height: 19px; width: 33px;} 
.universalButtonSpriteSignOutOff { background-position: -259px -1153px; height: 19px; width: 54px;} 
.universalButtonSpriteCancelOver { background-position: -259px -1202px; height: 19px; width: 61px;} 
.universalButtonSpriteOkOff { background-position: -259px -1251px; height: 19px; width: 47px;} 
.universalSpriteIconBubble { background-position: -259px -1300px; height: 10px; width: 12px;} 
.universalButtonSpriteSaveOver { background-position: -259px -1340px; height: 19px; width: 37px;} 
.universalButtonSpriteSignInOff { background-position: -259px -1389px; height: 19px; width: 47px;} 
.universalButtonSpriteCancelReturnOff { background-position: -259px -1438px; height: 19px; width: 79px;} 
.universalButtonSpriteCheckBalanceOn { background-position: -259px -1487px; height: 19px; width: 84px;} 
.universalButtonSpriteYesActiveOn { background-position: -259px -1536px; height: 19px; width: 31px;} 
.universalButtonSpriteSignOutOver { background-position: -259px -1585px; height: 19px; width: 54px;} 
.universalButtonSpriteSelectOff { background-position: -259px -1634px; height: 19px; width: 44px;} 
.universalButtonSpriteSaveAddAnotherOff { background-position: -259px -1683px; height: 19px; width: 109px;} 
.universalButtonSpritePrintOver { background-position: -259px -1732px; height: 19px; width: 48px;} 
.universalButtonSpritePlaceOrderOn { background-position: -259px -1781px; height: 19px; width: 73px;} 
.universalButtonSpriteEditOver { background-position: -259px -1830px; height: 19px; width: 33px;} 
.universalButtonSpriteAcceptSuggestionOver { background-position: -259px -1879px; height: 19px; width: 103px;} 
.universalButtonSpriteSelectOn { background-position: -259px -1928px; height: 19px; width: 44px;} 
.universalButtonSpriteSaveOff { background-position: -518px -30px; height: 19px; width: 37px;} 
.universalButtonSpriteReportThisReviewOver { background-position: -518px -79px; height: 19px; width: 101px;} 
.universalButtonSpriteAddANewCardOff { background-position: -518px -128px; height: 19px; width: 88px;} 
.universalButtonSpriteNoOff { background-position: -518px -177px; height: 19px; width: 31px;} 
.universalButtonSpriteCreateUPSlabelOff { background-position: -518px -226px; height: 19px; width: 94px;} 
.universalButtonSpriteConfirmOff { background-position: -518px -275px; height: 19px; width: 79px;} 
.universalButtonSpriteViewOrdersOver { background-position: -518px -324px; height: 19px; width: 73px;} 
.universalButtonSpriteApplyOn { background-position: -518px -373px; height: 19px; width: 42px;} 
.universalButtonSpriteDeleteOff { background-position: -518px -422px; height: 19px; width: 45px;} 
.universalButtonSpriteAcceptSuggestionOff { background-position: -518px -471px; height: 19px; width: 103px;} 
.universalButtonSpriteViewOrdersOff { background-position: -518px -520px; height: 19px; width: 73px;} 
.universalButtonSpriteAddressBookOff { background-position: -518px -569px; height: 19px; width: 80px;} 
.universalButtonSpriteEmailPasswordOff { background-position: -518px -618px; height: 19px; width: 89px;} 
.universalButtonSpriteRetrievetOrderOn { background-position: -518px -667px; height: 19px; width: 102px;} 
.universalButtonSpriteAddANewAddressOver { background-position: -518px -716px; height: 19px; width: 106px;} 
.universalButtonSpriteYesActiveOver { background-position: -518px -765px; height: 19px; width: 33px;} 
.universalButtonSpriteRetrievetOrderOff { background-position: -518px -814px; height: 19px; width: 102px;} 
.universalButtonSpriteEmailPasswordOver { background-position: -518px -863px; height: 19px; width: 89px;} 
.universalButtonSpriteCancelThisReturnOff { background-position: -518px -912px; height: 19px; width: 100px;} 
.universalButtonSpriteCloseWindowOver { background-position: -518px -961px; height: 19px; width: 19px;} 
.universalButtonSpriteEditReturnOn { background-position: -518px -1010px; height: 19px; width: 79px;} 
.universalButtonSpriteOutOfStockOff { background-position: -518px -1059px; height: 19px; width: 72px;} 
.universalButtonSpriteRegisterOff { background-position: -518px -1108px; height: 19px; width: 54px;} 
.universalButtonSpriteConfirmAddressOver { background-position: -518px -1157px; height: 19px; width: 93px;} 
.universalSpriteInlineBagCloseOver { background-position: -518px -1206px; height: 1px; width: 1px;} 
.universalButtonSpriteSignInOn { background-position: -518px -1237px; height: 19px; width: 47px;} 
.universalButtonSpriteCancelOverSm { background-position: -518px -1286px; height: 19px; width: 47px;} 
.universalButtonSpriteReportThisReviewOff { background-position: -518px -1335px; height: 19px; width: 101px;} 
.universalButtonSpriteSelectOver { background-position: -518px -1384px; height: 19px; width: 44px;} 
.universalSpriteInlineBagCloseOn { background-position: -518px -1433px; height: 19px; width: 19px;} 
.universalButtonSpriteNoActiveOn { background-position: -518px -1482px; height: 19px; width: 31px;} 
.universalButtonSpriteUpdateItemOver { background-position: -518px -1531px; height: 19px; width: 72px;} 
.universalButtonSpriteEditOff { background-position: -518px -1580px; height: 19px; width: 33px;} 
.universalButtonSpriteUpdateOver { background-position: -518px -1629px; height: 19px; width: 48px;} 
.universalButtonSpritePlaceOrderOver { background-position: -518px -1678px; height: 19px; width: 73px;} 
.universalButtonSpriteAddressBookOn { background-position: -518px -1727px; height: 19px; width: 80px;} 
.universalButtonSpriteEmailPasswordOn { background-position: -518px -1776px; height: 19px; width: 89px;} 
.universalButtonSpriteSaveAddAnotherOver { background-position: -518px -1825px; height: 19px; width: 109px;} 
.universalButtonSpriteGoArrowOn { background-position: -518px -1874px; height: 9px; width: 10px;} 
.universalButtonSpriteUpdateOn { background-position: -518px -1913px; height: 19px; width: 48px;} 
.universalButtonSpriteOkOn { background-position: -518px -1962px; height: 19px; width: 47px;} 
.universalButtonSpriteRegisterOver { background-position: -777px -30px; height: 19px; width: 54px;} 
.universalButtonSpriteAddressBookOver { background-position: -777px -79px; height: 19px; width: 80px;} 
.universalButtonSpriteAddANewCardOver { background-position: -777px -128px; height: 19px; width: 88px;} 
.universalButtonSpriteNoInactiveOver { background-position: -777px -177px; height: 19px; width: 33px;} 
.universalButtonSpriteNoOn { background-position: -777px -226px; height: 19px; width: 31px;} 
.universalButtonSpriteViewOrdersOn { background-position: -777px -275px; height: 19px; width: 73px;} 
.universalButtonSpriteApplyOver { background-position: -777px -324px; height: 19px; width: 42px;} 
.universalButtonSpriteOutOfStockOver { background-position: -777px -373px; height: 19px; width: 72px;} 
.universalButtonSpriteDeleteOver { background-position: -777px -422px; height: 19px; width: 45px;} 
.universalButtonSpriteEditAddressOff { background-position: -777px -471px; height: 19px; width: 72px;} 
.universalButtonSpriteCreateUPSlabelOver { background-position: -777px -520px; height: 19px; width: 94px;} 
.universalButtonSpriteContinueOver { background-position: -777px -569px; height: 19px; width: 57px;} 
.universalButtonSpriteAddANewAddressOff { background-position: -777px -618px; height: 19px; width: 106px;} 
.universalButtonSpriteCheckAnotherOver { background-position: -777px -667px; height: 19px; width: 84px;} 
.universalButtonSpriteCloseWindowOn { background-position: -777px -716px; height: 19px; width: 19px;} 
.universalButtonSpritePlaceOrderOff { background-position: -777px -765px; height: 19px; width: 73px;} 

.universalButtonSpriteQuickLookClose { background-position: -777px -716px; height: 19px; width: 19px;} 
/*6.9 Release*/
.universalButtonSpriteGoToCananaSiteOn { background-position: -777px -804px; height: 19px; width: 101px;} 
.universalButtonSpriteGoToCananaSiteOver { background-position: -777px -826px; height: 19px; width: 101px;} 
.universalButtonSpriteGoToCananaSiteDisabled { background-position: -777px -847px; height: 19px; width: 101px;} 

.universalButtonSpritesSetShippingDestinationOn { background-position: -744px -965px; height: 19px; width: 132px;} 
.universalButtonSpritesSetShippingDestinationOver { background-position: -744px -989px; height: 19px; width: 132px;} 
.universalButtonSpritesSetShippingDestinationDisabled { background-position: -744px -1013px; height: 19px; width: 132px;} 

/*7.0 Release*/
.universalButtonSpriteGoToEUSiteOn { background-position: -777px -888px; height: 19px; width: 79px;} 
.universalButtonSpriteGoToEUSiteOver { background-position: -777px -911px; height: 19px; width: 79px;} 
.universalButtonSpriteGoToEUSiteDisabled { background-position: -777px -933px; height: 19px; width: 79px;} 