@charset "utf-8";
/* CSS Document application-resources/styles/headerfooter.css */

body{
    font-family:Arial,Helvetica,sans-serif;
    color:#000;
    background:url(../home/images/site_bkgrnd.jpg) repeat-x scroll 0 0;
    margin:0;
    padding:0;
    scrollbar-face-color:#E7E7E7;
    scrollbar-highlight-color:#E7E7E7;
    scrollbar-3dlight-color:#C3C3C3;
    scrollbar-darkshadow-color:#C3C3C3;
    scrollbar-shadow-color:#E7E7E7;
    scrollbar-arrow-color:#356097;
    scrollbar-track-color:#F9F9F9;
}

/* universal link states */

img {
    border: none;
}

a:link{
    text-decoration: none;
    color:#176fcc;
}

 a:visited{
    text-decoration: none;
    color:#176fcc;
}

 a:hover{
    text-decoration: underline;
    color:#176fcc;
}

h2.heading {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    margin: 0;
    padding: 0 0 11px 0;
}

/* top of the page violator */

#violator {
    background-color: #e7e7e7;
    height: 29px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

#violator .center-container {
    height: 29px;
    padding-right: 10px;
    position: relative;
    margin: auto;
    width: 960px;
}

/*
#violator-iframe {
    background-color: #e7e7e7;
    max-width: 380px;
    height: 29px;
    text-align: right;
}

#violator-iframe .text {
    float: left;
    height: 26px;
    max-width: 380px;
    padding-top: 3px;
}

#violator-iframe img {
    float: left;
    margin-top: 6px;
}

#violator-iframe .text .logo {
    font: bold 12px Arial;
    padding-left: 6px;
    line-height: 16px;
}

#violator-iframe .text .copy {
    font: normal 12px Arial;
    padding-left: 6px;
    line-height: 16px;
}

#violator-iframe a {
    color: #176FCC;
    font: bold 12px Arial;
    padding-left: 3px;
    line-height: 16px;
}

#violator-iframe a:link {
    color: #176FCC;
    text-decoration: none;
}

#violator-iframe a:visited {
    color: #176FCC;
    text-decoration: none;
}

#violator-iframe a:hover {
    text-decoration: underline;
}

#violator-iframe a:active {
    text-decoration: underline;
}
*/

/* header styles */

#body-wrap{
    width:960px;
    margin:0px auto;
    height:100px;
    padding-top:11px;
}

#sign-in-wrap{
    margin:-10px 0 0 0;
    padding:0;
    float:left;
    background:none;
    position:relative;
    width:800px;
    z-index:42;
}

#sign-in-menu{
    position:absolute;
    top:0;
    left:0;
    height:30px;
}

#sign-in-menu-openned{
    text-align:left;
    float:left;
    z-index:40;
}

#sign-in-menu-openned .content {
    margin: 0;
}

#sign-in-menu-body{
    clear:both;
    color:#000000;
    padding-top:1px;
}

#sign-in-menu-body h4{
    font-weight:bold;
    font-size:13px;
    margin:12px 0 3px 4px;
}

#sign-in-menu-body ul{
    margin:0 0 0 5px;
    padding:0;
    font-weight:normal;
    font-size:13px;
}

.sign-in-close-btn{
    position:absolute;
    bottom:15px;
    right:15px;
    cursor:pointer;
}

#sign-in-menu-body .hr, #sign-in-alerts .hr{
    border-top:1px dotted #7A8895;
    margin:9px 6px 0 5px;
}


#sign-in-menu-body ul li{
    list-style:none;
    background:transparent url(../modules/header/images/squarebullet.gif) no-repeat scroll 0 6px;
    font-weight:lighter;
    margin:0;
    padding:0 0 0 15px;
    height:20px;
}

#sign-in-menu-body ul li a:hover{
    text-decoration:underline;
}

#sign-in-menu-body ul li a, #sign-in-menu-body ul li span{
    font-size:13px;
}

.sign-in-recover-links{
    font-family:Arial, Helvetica, sans-serif;
    color:#176FCC;
    font-size:11px;

}

#sign-in-menu-closed{
    height:100%;
    margin:10px 0 0 10px;
    float:left;
}

#sign-in-menu .sign-in-btn-left{
    width:4px;
    height:28px;
    background:url(../modules/header/images/sign-in-btn.png);
    background-repeat:no-repeat;
    background-position:top left;
    float:left;
}

#sign-in-manage-account{
    margin-top:11px;
    margin-left:5px;
    cursor:pointer;
}

#sign-in-menu .sign-in-btn-body{
    color:#FFF;
    font-weight:bold;
    float:left;
    font-size:15px;
    background:url(../modules/header/images/sign-in-btn-bg.png);
    background-repeat:repeat-x;
    background-position:top left;
    padding:4px 7px 0 7px;
    height:23px;
}

.sign-in-btn-body a:hover{
    text-decoration:none;
}

#sign-in-menu .sign-in-btn-body a{
    color:white;
}

#sign-in-menu .sign-in-btn-right{
    width:4px;
    height:28px;
    background:url(../modules/header/images/sign-in-btn.png);
    background-repeat:no-repeat;
    background-position:top right;
    float:left;
}

.sign-in-arrow{
    padding:8px 11px 0 6px;
    margin:0;
    border:none;
    width:7px;
    height:4px;
    cursor:pointer;
    vertical-align:text-top;
}

.sign-in-arrow-end{
    padding:8px 0 0 6px;
    margin:0 2px 0 0;
    border:none;
    width:7px;
    height:4px;
    cursor:pointer;
    vertical-align:text-top;
}

#sign-in-menu .subscribe-btn{
    font:bold 15px Arial, Helvetica, sans-serif;
    color:#FFF;
    display:inline;
    margin:0;
    padding:0;
}

#signup-links{
    float:left;
    margin:16px 0 0 12px;
    color:#FFF;
    font-size:11px;
    font-weight:bold;
}

#sign-in-request-links a:hover{
    text-decoration:underline;
}
#AZ-link a:hover{
    text-decoration:underline;
}
#signup-links a:hover{
    text-decoration:underline;
}

#sign-up-myaccount{
    color:#FFF;
    font-weight:bold;
}

a#sign-up-myaccount:hover   a#sign-up-cservice:hover{
    text-decoration:underline;
}

#sign-up-cservice{
    color:#FFF;
    font-weight:normal;
}

#subscribe-wrap{
    margin:1px 9px 0 0;
    padding:0;
    background:none;
    float:right;
    color:#FFF;
    border:none;
    width:500px;
}

#subscribe-wrap a{
    float:right;
}

#subscribe-wrap img{
    border:none;
}
#magazine-image-btn{
    margin:0;
    padding:0;
    float: right;
}

a.header-tr-nav:visited, a.header-tr-nav:link{
    margin:2px 0 0 7px;
    font-size:14px;
    font-weight:bold;
    color:#FFF;
}

a.header-tr-nav:hover{
    text-decoration:underline;
}

#phone-image-btn{
    margin-left:38px;
}

#header-content-wrap{
    height:60px;
    clear:both;
    background-image:url(../modules/header/images/home-page-bg.png);
    background-repeat:no-repeat;
    background-position:top;
    padding-top:6px;
}

#header-content{
    background-color:#FFF;
    height:200px;
    padding-top:24px;
}

#cr-logo{
    margin-left:27px;
    float:left;
}

.sign-in-alert{
    vertical-align:top;
    margin-top:2px;
    margin-left:6px;
}
#sign-in-alerts .alert{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#000000;
    margin-top:14px;
    list-style:none;
    margin:14px 0 0 0;
    padding:0;
}

#sign-in-alerts .alert li{
    margin:0 0 14px 0;
    padding:0;
    padding-left:36px;
    background-image:url(../modules/header/images/signin_alert.png);
    background-repeat:no-repeat;
    background-position:9px 2px;
    *background-position:9px 4px;
}

#typeahead{
    font-family:Arial, Helvetica, sans-serif;
    float:left;
    margin:0 0 0 18px;
    padding-bottom:5px;
    padding-right:5px;
    position:relative;
    z-index:40;
}

#typeahead input.search{
    background:url("../modules/header/images/input_box_copy_short.gif") no-repeat scroll 0 0 #fff;
    color:#000;
    font-size:17px;
    font-family:Arial, Helvetica, sans-serif;
    margin:7px 0 0px 9px;
    text-align:left;
    width:360px;
    border:0;
}

#typeahead input.search-active{
    color:#000;
    font-size:17px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0 0 0 0;
    text-align:left;
    width:363px;
    border:0;
    height: 23px;
    text-indent: 10px;
    padding-top: 5px;
}

#typeahead .input-box{
    border:1px solid #C2C2C2;
    width:398px;
    height:30px;
    background:#FFF;
}

#typeahead .input-box-copy{
    clear:both;
    float:left;
    width:149px;
    height: 28px;
}

#typeahead .input-box-button{
    float: right;
    height: 28px;
    width:28px;
    cursor:pointer;
    overflow: hidden;
    padding:0;
    margin:1px 1px 0 0 ;
    background-image:url(../modules/header/images/b_home_search.png);
}

#typeahead .input-box-button:hover{
    float: right;
    height: 28px;
    width:28px;
    cursor:pointer;
    padding:0;
    margin:1px 1px 0 0 ;
    background-image:url(../modules/header/images/b_home_search.png);
    background-repeat:no-repeat;
    background-position:0 -28px;
}

#typeahead .results-outer-box{
    width:358px;
    border:1px solid #c2c2c2;
    border-top:0px;
    background:#F7F7F7;
    padding:0px 20px 0px 20px;
    -webkit-box-shadow:0px 1px 4px rgba(135, 139, 144, 0.4);
    -moz-box-shadow:0px 1px 4px rgba(135, 139, 144, 0.4);
    box-shadow:0px 1px 4px rgba(135, 139, 144, 0.4);
    text-align:center;
    float:left;
    display:none;
    position:absolute;
    z-index:9999;
}

#typeahead .results-outer-box .results-inner-box{
    width:356px;
    border:1px solid #c2c2c2;
    background:#FFF;
    padding:0px 0px 0px 0px;
    margin-top:12px;
    font:bold 15px Arial, Helvetica, sans-serif;
    min-height:75px;
}

#typeahead .results-outer-box .results-inner-box-active {
    width:356px;
    border:1px solid #176FCC ;
    background:#FFF;
    padding:0px 0px 0px 0px;
    margin-top:12px;
    font:bold 15px Arial, Helvetica, sans-serif;
    min-height:75px;
}
#typeahead .results-outer-box .results-inner-box img{
    float:left;
    padding: 3px;
}

#typeahead .results-outer-box .results-inner-box-active img{
    float:left;
    padding: 3px;
}
#typeahead .results-outer-box .results-inner-box a.product-links{
    display: block;
    padding: 23px 0 0 0;
    text-align: left;
}

#typeahead .results-outer-box .results-inner-box-active a.product-links{
    display: block;
    padding: 23px 0 0 0;
    text-align: left;
}

#typeahead .results-outer-box .view-search-results-box{
    float:left;
    min-width:365px;
    margin:17px 0 17px 0;
    padding:0;
}

#typeahead .results-outer-box .view-search-results-box-active{
    float:left;
    min-width:365px;
    margin:17px 0 17px 0;
    padding:0;
}
#typeahead .results-outer-box .view-search-results-box .view-search-results{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    background:#e8e7e7;
    border:1px solid #fff;
    padding:9px 12px 9px 12px;
    max-width:356px;
    display:inline-block;
    margin:0 auto;
}
#typeahead .results-outer-box .view-search-results-box-active .view-search-results{
    font:bold 15px Arial, Helvetica, sans-serif;
    text-align:center;
    background:#e8e7e7;
    border:1px solid #176FCC;
    padding:9px 12px 9px 12px;
    max-width:356px;
    display:inline-block;
    margin:0 auto;
}

#AZ-link{
    margin:5px 0 0 18px;
    float:left;
    color:#176FCC;
    font-weight:bold;
    font-size:17px;
}
.dialog{
    position:relative;
    margin:0px auto;
    min-width:100px;
    max-width:400px;
    color:#FFF;
    z-index:1;
    margin-left:10px;
    margin-bottom:10px;
}

.dialog .content,
.dialog .t,
.dialog .b,
.dialog .b div {
    background:transparent url(../modules/header/images/dialog.png) no-repeat top right;
    _background-image:url(../modules/header/images/dialog.gif);
}

.dialog .content{
    position:relative;
    zoom:1;
    _overflow-y:hidden;
    padding:0px 9px 0px 0px;
}

.dialog .t{
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    margin-left:-10px;
    height:100%;
    _height:1600px;
    background-position:top left;
}

.dialog .b{
    position:relative;
}

.dialog .b,
.dialog .b div{
    font-size:1px;
}

.dialog .b{
    background-position:bottom right;

}

.dialog .b div {
    position:relative;
    width:10px;
    margin-left:-10px;
    background-position:bottom left;

}
#sign-in-link{
    cursor:pointer;
    color:#FFF;
}
.sign-in-link{
    cursor:pointer;
    color:#FFF;
    padding-right:9px
}
.sign-in-link-r{
    cursor:pointer;
    color:#FFF;
    padding-left:4px

}
#signup-links a:hover{
    text-decoration:underline;
}
#sign-in-bottom{
    padding:17px 0 0 0;
}

#sign-in-request-links{
    padding-top:26px;
    clear:both;
    line-height:12px;
}
#sign-in-request-links a:hover{
    text-decoration:underline;
}
#AZ-link a:hover{
    text-decoration:underline;
}
#sign-in-link:hover{
    color:#FFF;
}

#sign-in-form #sign-in-username{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:13px;
    margin-top:13px;
}
#sign-in-form #sign-in-password{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:13px;
    margin-top:16px;
}

#sign-in-form{
    color:#000000;
    text-align:left;
    margin:0 0 0 7px;
}

#sign-in-form .sign-in-input {
    width:165px;
    height:21px;
    border:1px solid #C2C2C2;
    font-size:16px;
    *height:19px;
    margin:0;
    padding:5px 0;
}

#sign-in-form #sign-in-check-box{
    float:left;
    margin:3px 5px 0 17px;
    padding-top:0;
}

#sign-in-form #sign-in-btn{
    width:64px;
    height:22px;
    border:none;
    clear:both;
    float:left;
}

#sign-in-bottom .remember-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#000000;
    float:left;
    margin:3px 0 0 0;
    padding:0;
    *padding-top:4px;
}

#sign-in-form label{
    display:block;
    margin-top:8px;
    margin-bottom:3px;
}


/* Footer */


#homepage-footer-container {
    background-color: #C3C9CF;
    border-top: 3px solid #7A8895;
    width: 100%;
    clear: both;
    margin-top: 60px;
    border-bottom:0 none;
    /*position:absolute;*/
}
#homepage-footer {
    background: #C3C9CF url(../modules/footer/images/home_footer_tester_bg_OFF.png) no-repeat scroll 10px 0;
    height: 335px;
    margin: 0 auto;
    padding: 0 20px 0 0;
    position: relative;
    width: 960px;
}
#homepage-footer #testing {
    float: left;
    margin: 0 0 0 20px;
    padding: 44px 0 37px 0;
    position: relative;
    width: 275px;
    }

#homepage-footer .print-image {
    display: none;
    left: 10px;
    position: absolute;
    top: -44px;
    top: 0;
    margin: -44px 0 0;
    z-index: 0;
    }

#homepage-footer #tester {
    display: none;
    float: right;
    margin: 0;
    width: 225px;
    }

#homepage-footer #tester img {
    float: right;
    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 5.0;
    opacity: 0.5;
    }
#homepage-footer #tester img {
    border: none;
    display: none;
    }

/* #homepage-footer #tester img:hover {
    display: block;
    -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 10.0;
    opacity: 1.0;
    }
#homepage-footer #tester:hover img {
    border: none;
    } */

#homepage-footer .buttons {
    float: left;
    margin: 90px 0 0 ;
    height: 35px;
    overflow: hidden;
    padding: 0;
}

#homepage-footer a {
    font: bold 12px Arial, Helvetica, sans-serif;
    line-height: 12px;
    text-decoration: none;
    color: #000;
}

#homepage-footer .buttons a {
    display: block;
    float: left;
    padding: 0 12px 0 0;
}

#homepage-footer .buttons a img {
    border: none;
    }

#homepage-footer .buttons:hover a {
    margin-top: -35px;
    }

#homepage-footer ul{
    float: left;
    width: 123px;
    padding: 0;
    margin: 0;
}

#homepage-footer li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    line-height: 16px;
    padding: 1px 0;
    }

#homepage-footer #testing-links {
    clear: left;
    float: none;
    height: 60px;
    margin: 0;
    padding: 54px 0 0 10px;
    width: 275px;
}

#homepage-footer #testing-links li a:link {
    color: #fff;
    text-decoration: none;
    }

#homepage-footer #testing-links li a:visited {
    color: #fff;
    text-decoration: none;
    }

#homepage-footer #testing-links li a:hover {
    background-color: #384552;
    color: #fff;
    text-decoration: none;
    }

#homepage-footer .links ul.column-2 {
    width: 152px;
    }

#homepage-footer h3 {
    float: left;
    font: bold 15px/17px Arial, Helvetica, sans-serif;
    color: #000;
    margin: 17px 0 7px;
    padding: 0;
    width:  200px;
    }

#homepage-footer #cr-links {
    float: right;
    width: 439px;
    }


#homepage-footer #cr-links li a {
    color: #384552;
    text-decoration: none;
    }

#homepage-footer #cr-links-column-1,
#homepage-footer #cr-links-column-2 {
    float: left;
    margin: 0 0 0 20px;
    width: 177px;
    }


#homepage-footer #cr-links-column-1 ul,
#homepage-footer #cr-links-column-2 ul {
    width: 177px;
    }

#homepage-footer #cr-links-column-1 li,
#homepage-footer #cr-links-column-2 li {
    padding: 2px 0;
    line-height: 14px;
    }

#homepage-footer .divider {
    float: left;
    }

#homepage-footer #copyright {
    clear: both;
    font: normal 10px Arial, Helvetica, sans-serif;
    color: #384552;
    position: absolute;
    right: 10px;
    bottom: 12px;
/*  width: 544px; */
    }

#homepage-footer #copyright a {
    font: normal 10px Arial, Helvetica, sans-serif;
    color: #384552;
    text-decoration: underline;
    }

#homepage-footer #cr-links li a:link
#homepage-footer #cr-links li a:visited,
#homepage-footer #cr-links li a:hover,
#homepage-footer #cr-links li a:active {
    color: #384552;
    }

#homepage-footer #cr-links li a:hover {
    background-color:  #fff;
    }


#homepage-footer .tester-on img {
    border: 0 none;
    }

#homepage-footer-container .pop-up-container {
    color: #000;
    display: none;
    position: absolute;
    top: 56px;
    left: 388px;
    z-index: 2;
    }

#homepage-footer-container .alert-box h4 {
    font: bold 12px/16px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    }

#homepage-footer-container .alert-box {
    border: 1px solid #000;
    -moz-box-shadow: 2px 2px 4px #ccc;
    -webkit-box-shadow: 2px 2px 4px #ccc;
    box-shadow: 2px 2px 2px #888;
    background: #FFFFFF;
    padding: 9px;
    margin: 0;
    font: normal 10px/16px Arial, Helvetica, sans-serif;
    z-index: 0;
    max-height: 200px;
    overflow: auto;
    width: 212px;
}

#homepage-footer-container .pointer-bottom-left {
    height: 14px;
    width: 15px;
    margin: -1px 0 0 4px;
    padding: 0;
    background: url(../modules/footer/images/home_footer_popup_corner.png)  no-repeat 0px 0px;
    z-index: 1;
    clear: both;
    display: block;
    position: relative;
}

/* version 4 styles */

#ads-products-tested {
    margin: auto;
    padding: 0px 0 0 0;
    width: 940px;

}


#ads-products-tested .left-ad {
float: left;
margin: 45px 0 0 13px;
}

#ads-products-tested .right-ad {
float: left;
margin: 0px 0px 0px 39px;
padding: 23px 0 5px 0;
background:url(../home/images/ad_top_line_700x1.gif) 0 22px no-repeat;

}

@media print {
    #homepage-footer {
        background-image: none;
        }

    #homepage-footer .print-image {
        display: block;
        position: absolute;
        top: 44px;
        left: 10px;
        z-index: 1;
        }

    #homepage-footer #testing {
        position: absolute;
        top: 6px;
        left: 10px;
        z-index: 2;
        }
    #homepage-footer #testing-links li a:link,
    #homepage-footer #testing-links li a:visited,
    #homepage-footer #testing-links li a:hover,
    #homepage-footer #testing-links li a:active {
        color: #000;
        }
    #homepage-footer #cr-links-column-1,
    #homepage-footer #cr-links-column-2 {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 1;
        }
    #homepage-footer #cr-links-column-1 {
        right: 220px;
        }

    #homepage-footer #copyright {
        position: absolute;
        top: 400px;
        right: 0;
        z-index: 1;
    }
}
