/* CONTENT - _DEFAULT */
h1.hed { font-family:Georgia, "Times New Roman", Times, serif; font-size:30px; clear:both; margin:6px 0 0; }
h2.dek { font-size:14px; line-height:20px; margin:0 0 6px; }
h3.byline { font-size:12px; color:#888; line-height:20px; margin-bottom:4px; float:left; }

.CONTENT #section_info { padding-bottom:0; background:none; }

#content_well { padding-top:17px; clear:both; background:url("../../images/borders/rule_h.png") repeat-x 0 0; *padding-top: 10px;}
#content_well .supplement { float:left; text-align:center; margin-right:10px; clear:right; width:308px; _margin-right: 5px;}
#content_well .supplement #related_links_upper, #content_well #related_links_middle {text-align:left; line-height:18px; padding-top:10px;}
#content_well .supplement #related_links_upper li, #content_well #related_links_middle li {list-style:none; }
#content_well .supplement #related_links_upper ul, #content_well #related_links_middle ul {margin-left:0px; padding-left:0px;}
#content_well .supplement .image { margin-bottom:10px; }
#content_well .supplement .image .cbc { padding:2px 3px; }
#content_well .supplement .image .cbc img{width:300px;}
#content_well .supplement .description { text-align:left; font-size:11px; margin:6px; }
#content_well .supplement .description.with_credit { margin:6px 6px 0; }
#content_well .supplement .credit { text-align:left; font-size:9px; color:#888; text-transform:uppercase; margin:2px 6px 6px; }
#content_well .supplement .ad { margin-bottom:6px; }
#content_well .body { line-height:18px; clear:right; padding:0;}
#content_well p {margin-bottom:2px;padding:4px 0 10px 0; line-height: 18px;}

#secondary_content .comment_archive_links { background:url("../../images/borders/rule_h.png") repeat-x 0 0; text-align:right; margin:18px 0 8px; padding-top:12px; font-size:12px; }
#secondary_content .comment_archive_links span { background:url("../../images/gra_arr_blk_r.gif") no-repeat 0 50%; padding-left:12px; margin-left:20px; }
#secondary_content .comment_archive_links a,
#secondary_content .comment_archive_links a:link { color:#e0262e; font-weight:bold; }
#secondary_content .most_popular,
#secondary_content .related_links { font-size:12px; line-height:18px; margin:10px 0; }
#secondary_content .most_popular h4,
#secondary_content .related_links h4 { margin-bottom:6px; }
#secondary_content .more_from { margin:20px 0 10px; font-size:12px; line-height:16px; }
#secondary_content .more_from .cbc { padding-top:1px; padding-bottom:10px; }
#secondary_content .more_from h5 { background:#f4b642; text-transform:uppercase; color:#fff; font-family:Tahoma; font-size:15px; line-height:16px; padding:3px 11px; border:#ddd 1px solid; border-bottom:none; letter-spacing:1px; }
#secondary_content .more_from .item { margin:10px 10px 0; clear:left; }
#secondary_content .more_from .item .thumb { float:left; border:#ddd 1px solid; padding:1px; margin:0 10px 15px 0; }
#secondary_content .more_from .item h6 {font-size:14px; margin-bottom:4px; }