/* Shoprunner */

div#ft div.ft_width div.srfooterDiv img{
	padding-right:5px;
	margin:0;
	float:left;
}

div.sr_catalogProductGridDiv{
	margin:15px 0;
	clear:left;
	width: 230px;
	float:right;
}

div.shipping_method{
	margin-top: 5px;
}

div.sr_cartSummaryDiv {
	float: left;
	margin-left: 173px;
}
div.sr_mCartShippingSummary {
	width: 153px !important;
}
#sr-ship-summary #totals-container {

}

div.sr_productDetailDiv {
	margin: 10px 0;
	width: 140px;
	float: left;
}

div#ft div.ft_width li.srBannerliHide {
	display:none;
}

#parts_list div.sr_productDetailDiv a{
	color: #567D13;
}

div.sr_shippingOptionDiv {
	margin-bottom: 5px;
}

div.shoprunner_ckbox {
	color:#009900;
	font-family:verdana;
	font-size:9px;
	font-weight:bold;
	text-align:center;
	margin-top: 20px;
}

.display-inline {
	display:inline;
}

#items-summary-zone .sr_shippingSummaryDiv {
	padding-left:8px;
}

div.quantity img {
	margin-top:10px;
}

input.srCheckBox{
	border:none;
}
div.order-detail-heading {
	zoom:1;
}