/* UPICKEM STYLESHEET CHANGES
   affiliates.upickem.net/CSSChanges.xml
*/
/*.UPE-SecureLoginImage { background: url('/shared/assets/legacy/shared/images/SkinLight/securelight.png') no-repeat; padding:0 0 0 25px; }*/
.UPE-SecureLoginImage { background: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/securelight.png') no-repeat; padding:0 0 0 25px; }


.UPE-Link { text-decoration:underline;color:#3C60D0;  font-weight:bold;}
a:link.UPE-Link, a:visited.UPE-Link { text-decoration:none;color:#3C60D0; font-weight:bold;  }
a:hover.UPE-Link, a:active.UPE-Link { text-decoration:underline;color:#3C60D0;  font-weight:bold;}

.UPE-ButtonText { background-color:#D27E28; color:white;font-weight:bold; font-size:14px; line-height:16px; border: solid 1px #A97F43; background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-color:#D37D26;background-repeat:repeat-x; }
.UPE-LargeButtonText { background-color:#D27E28; color:white;font-weight:bold; border: solid 1px #A97F43; background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-color:#D37D26;background-repeat:repeat-x; }

.UPE-StandoutButtonText { background-color:#D27E28; color:white;font-weight:bold;font-size:14px;line-height:16px;  border: solid 1px #A97F43;  background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-color:#D37D26;background-repeat:repeat-x;}
.UPE-WidgetButtonText { background-color:#D27E28; color:white;font-weight:bold; font-size:14px; line-height:16px; border: solid 1px #A97F43; background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-color:#D37D26;background-repeat:repeat-x; }

.UPE-ButtonTextSmall { background-color:#D27E28; color:white;font-weight:bold;  border: solid 1px #A97F43;  background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-color:#D37D26;background-repeat:repeat-x; }
.UPE-StandoutButtonTextSmall { background-color:#D27E28; color:white;font-weight:bold;  border: solid 1px #A97F43;  background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-color:#D37D26;background-repeat:repeat-x;}
.UPE-StandoutButtonTextBig { background-color:#D27E28; color:white; font-weight:bold; border: solid 1px #A97F43; background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOrangeBackground.gif');background-repeat:repeat-x;}

.UPE-BoxOnButton{background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
.UPE-BoxOffButton{background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x;color:#19334D;}

TD.UPE-ApplicationTableCell {border:solid 0px #ffffff;background-color:#F8F8F8;border-left:solid 1px #dadada;border-right:solid 1px #dadada;border-top:solid 2px #30414B;border-bottom:solid 2px #30414B;}
TD.UPE-ApplicationTableCellTop {border:solid 0px #ffffff;background-color:#F8F8F8;border-left:solid 1px #E3E3E3;border-right:solid 1px #E3E3E3;border-bottom:solid 2px #30414B;}
TD.UPE-ApplicationTableCellBottom {border:solid 0px #ffffff;background-color:#F8F8F8;border-left:solid 1px #E3E3E3;border-right:solid 1px #E3E3E3;border-bottom:solid 1px #E3E3E3;border-top:solid 2px #30414B;}
TD.UPE-ApplicationTableCellBoth {border:solid 0px #ffffff;background-color:#F8F8F8;border:solid 1px #E3E3E3;}


.UPE-PageHeaderText {    FONT-SIZE: 18px;}
.UPE-PageSubHeaderText {font-size:14px;color:#D27E28;}

.UPE-Text { color:#30414B;}
.UPE-TextTop { color:#30414B;}
.UPE-LabelText { color:#30414B;}
.UPE-LabelTextTop { color:#30414B;}
.UPE-LabelTextMiddle { color:#30414B;}
.UPE-BoldText { color:#30414B;}
.UPE-LabelTextWrap { color:#30414B;}

.UPE-Text { color:#30414B; }
.UPE-TextGrey { }
.UPE-LabelText { color:#30414B; }
.UPE-LabelTextMiddle { color:#30414B; }
.UPE-BoldText { color:#30414B; }
.UPE-LargeBoldText { color:#30414B; }
.UPE-LargeLabelText { color:#30414B; }
.UPE-LargeText { color:#30414B; }
.UPE-LabelTextWrap { color:#30414B; }
.UPE-LabelTextGrey { }
.UPE-TextGreyLight { }
.UPE-LabelTextSmallGrey { }
.UPE-TextSmallGrey { }
.UPE-LabelTextSmall { color:#30414B;}
.UPE-TextSmall { color:#30414B;}

.UPE-PageSubSubHeaderTextWithBackground { background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-color:#30414B;background-repeat:repeat-x;}

DIV.UPE-CondensedLoginBox {border:solid 1px #A0B2C0; background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;background-color:#30414B;}
.UPE-CondensedLoginLabel {color:#ffffff;}
.UPE-CondensedLoginText {color:#ffffff;}
a:link.UPE-CondensedLoginLink,  a:visited.UPE-CondensedLoginLink{color:#ffffff;border: solid 1px #92A2AC;background-color:#5E6F79;}
a:hover.UPE-CondensedLoginLink, a:active.UPE-CondensedLoginLink {color:#ffffff;border: solid 1px #92A2AC;background-color:#5E6F79;}

/*Top Tabs*/
TD.UPE-Tab {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');color:#ffffff;font-size:12px;font-weight:bold;
border-top:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#30414B;background-repeat:repeat-x;}

TD.UPE-TabFirst {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');color:#ffffff;font-size:12px;font-weight:bold;
border-top:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#30414B;background-repeat:repeat-x;}

TD.UPE-TabOff {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');font-size:12px;font-weight:bold;
border-top:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#A6B4BD;background-repeat:repeat-x;}

TD.UPE-TabOffFirst {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-color:#A6B4BD;font-size:12px;font-weight:bold;
border-top:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-repeat:repeat-x;}

TD.UPE-BottomTab {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackgroundBottom.gif');font-size:12px;font-weight:bold;color:#ffffff;border-bottom:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#30414B;background-repeat:repeat-x;background-position:bottom;}

TD.UPE-BottomTabFirst {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackgroundBottom.gif');font-size:12px;font-weight:bold;color:#ffffff;border-bottom:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#30414B;background-repeat:repeat-x;background-position:bottom;}

TD.UPE-BottomTabOff {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackgroundBottom.gif');font-size:12px;font-weight:bold;border-bottom:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#A6B4BD;background-repeat:repeat-x;background-position:bottom;}

TD.UPE-BottomTabOffFirst {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackgroundBottom.gif');font-size:12px;font-weight:bold;border-bottom:solid 1px #A0B2C0;border-left:solid 1px #A0B2C0;border-right:solid 1px #A0B2C0;background-color:#A6B4BD;background-repeat:repeat-x;background-position:bottom;}

a:link.UPE-TabOnLink,  a:visited.UPE-TabOnLink{color:#ffffff;font-size:12px;font-weight:bold;}
a:hover.UPE-TabOnLink, a:active.UPE-TabOnLink {color:#ffffff;font-size:12px;font-weight:bold;}

a:link.UPE-TabOffLink,  a:visited.UPE-TabOffLink{font-size:12px;font-weight:bold;}
a:hover.UPE-TabOffLink, a:active.UPE-TabOffLink {font-size:12px;font-weight:bold;}

TABLE.UPE-BoxTable {border:solid 1px #A2B5CD; background-color:#F8F8F8;
-webkit-border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px;
-khtml-border-radius-topright: 0px; -khtml-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px; -moz-border-radius-topleft: 0px;
border-top-right-radius: 0px; border-top-left-radius: 0px;}
TABLE.UPE-BoxTableLight { border:solid 1px #e3e3e3;background-color:#efefef;
-webkit-border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px;
-khtml-border-radius-topright: 0px; -khtml-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px; -moz-border-radius-topleft: 0px;
border-top-right-radius: 0px; border-top-left-radius: 0px;}
DIV.UPE-BoxTable {border:solid 1px #e3e3e3;background-color:#F8F8F8; 
-webkit-border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px;
-khtml-border-radius-topright: 0px; -khtml-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px; -moz-border-radius-topleft: 0px;
border-top-right-radius: 0px; border-top-left-radius: 0px;}
DIV.UPE-BoxTableLight {border:solid 1px #e3e3e3; background-color:#efefef;
-webkit-border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px;
-khtml-border-radius-topright: 0px; -khtml-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px; -moz-border-radius-topleft: 0px;
border-top-right-radius: 0px; border-top-left-radius: 0px; }
TD.UPE-BoxTableHeader {background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewBlueBackground.gif');color:#ffffff; font-size:12px;text-align:left;padding-left:5px;border:solid 1px #A0B2C0;line-height:18px;
-webkit-border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px;
-khtml-border-radius-topright: 0px; -khtml-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px; -moz-border-radius-topleft: 0px;
border-top-right-radius: 0px; border-top-left-radius: 0px;}
TD.UPE-BoxTableBody { text-align:left;padding-left:5px;}

.UPE-Completed {background-color:#5C7186;}
.UPE-Current {background-color:#D37D26;}
.UPE-Future {background-color:#999999;color:#ffffff;}

TD.UPE-ListRowHeader, TH.UPE-ListRowHeader { background-color:#A7B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif'); background-repeat:repeat-x;}
TD.UPE-ListRowHeaderCenter, TH.UPE-ListRowHeaderCenter {background-color:#A7B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x;}
TD.UPE-ListRowHeaderNumeric { background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-color:#A7B4BD;background-repeat:repeat-x;}

TD.UPE-SubMenuOn { background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
DIV.UPE-SubMenuOn { background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
TD.UPE-SubMenuOff { background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x;}
DIV.UPE-SubMenuOff { background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x;}
a:link.UPE-SubMenuOffLink,  a:visited.UPE-SubMenuOffLink {font-weight:bold;}
a:hover.UPE-SubMenuOffLink, a:active.UPE-SubMenuOffLink {font-weight:bold;}
a.UPE-SubMenuOffLink {  font-weight:bold;}

a:link.UPE-BoxOnLink,  a:visited.UPE-BoxOnLink{background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
a:hover.UPE-BoxOnLink, a:active.UPE-BoxOnLink {background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
a:link.UPE-BoxOffLink,  a:visited.UPE-BoxOffLink{background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x; }
a:hover.UPE-BoxOffLink, a:active.UPE-BoxOffLink {background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x; }

DIV.UPE-SlideshowDiv {border:solid 1px #e3e3e3; background-color:#efefef;
-webkit-border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px;
-khtml-border-radius-topright: 0px; -khtml-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px; -moz-border-radius-topleft: 0px;
border-top-right-radius: 0px; border-top-left-radius: 0px;  }
.UPE-SlideshowLabelText {  color:#30414B; }
a:link.UPE-SlideshowOnLink,  a:visited.UPE-SlideshowOnLink{background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
a:hover.UPE-SlideshowOnLink, a:active.UPE-SlideshowOnLink {background-color:#30414B;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOnBackground.gif');background-repeat:repeat-x;}
a:link.UPE-SlideshowOffLink,  a:visited.UPE-SlideshowOffLink{background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x; }
a:hover.UPE-SlideshowOffLink, a:active.UPE-SlideshowOffLink {background-color:#A6B4BD;background-image: url('http://affiliates.eblastengine.com/shared/assets/legacy/shared/images/SkinLight/NewButtonOffBackground.gif');background-repeat:repeat-x; }
