 /* Header */
	
body {
	background-color:#DFE4DD;
	background:url("../../../../www-tc.pbs.org/about/media/images/body-gradient-bg.png") repeat-x scroll left top #2D7692;
}
	
	
	#pbs-header{
		width: 100%;
		height: 74px;
		position: relative;
	}
		
		/* Yuck, but its pretty */	
		#pbs-header div.pbs-wrap-left{
			position: absolute;
			left: 0;
			top: 0;
			height: 74px;
			width: 50%;
			background: #165400;
		}
	
		#pbs-header div.pbs-wrap-right{
			position: absolute;
			right: 0;
			top: 0;
			height: 74px;
			width: 50%;
			background: #022c49;
		}
		
		
		
		/* End Yuck */
		
		#pbs-header div.pbs-header-bg-wrap{
			width: 100%;
			height: 74px;
			background: transparent url('../../../../www-tc.pbs.org/about/media/images/header-background.png') no-repeat top center;
			position: relative;
			z-index: 19;
		}
	
			#pbs-header div.pbs-header-bg-wrap div.pbs-wrap{
				width: 974px;
				margin: 0 auto;
				position: relative;
				z-index: 19;
				height: 74px;
			}
	
		#pbs-logo{
			float: left;
			display: inline;
			margin:0 0 0 10px;
		}
	
			#pbs-logo a{
				display: block;
				height: 50px;
				width: 168px;
				text-indent: -9999px;
				margin: 14px 0 0 0;
				background: transparent url('../../../../www-tc.pbs.org/about/media/images/pbs-logo.png') no-repeat; outline: none;
			}
	
	#pbs-main-navigation {
		position:relative;
		width:100%;
		height:30px;
		background-color:#000;
	}
		
		#pbs-main-navigation div.pbs-wrap{
			width: 974px;
			margin: 0 auto;
			position: relative;
			height: 30px;
			z-index: 19;
			
		}
		
		#pbs-main-navigation ul {
			margin:0 ;
			padding:0;
		}
		
			#pbs-main-navigation ul li {
				display:inline;
				float:left;
				height:30px;
				line-height:30px;
				list-style:none outside none;
				border-left:1px dotted #4D4D4D;
				text-transform:uppercase;
				padding:0 10px;
				margin-left:0;
			}
				#pbs-main-navigation ul li.last {
					border-right:0;
				}
				
				#pbs-main-navigation ul li:hover {
					background-color:#5E6E72;
				}

				#pbs-main-navigation ul li a {
					color:#FFF;
					text-decoration:none;
				}
	
	#pbs-body {
		background-color:#DFE4DD;
		width:984px;
		margin:0 auto;
		padding:10px;
	}
	

.search{
    height:26px;
    border:none;
    margin-top:0px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    font-family:Arial Italic;
    font-size:12px;
    padding-left:5px;
    vertical-align:middle;
    line-height:1.5em;
    color:#000;
    background: #FFF url(http://www-tc.pbs.org/media/images/bg-field-shadow.png) repeat-x;
    width:350px;
}

.search:active{
}
	
.float_left{
    float:left;
}	
	
	*/ */ */ #pbs-navigation
{
	height: 30px;
	position: relative;
	width: 100%;
	z-index: 190;
}
#pbs-navigation a
{
	color: #fff;
}
#pbs-navigation-bottom-shadow
{
	background: transparent url('../../../../www-tc.pbs.org/about/media/images/menu-bottom-gradient.png') repeat-x bottom;
	height: 5px;
	position: absolute;
	width: 100%;
	z-index: 189;
}
#pbs-navigation div.wrap
{
	background: #000;
	height: 30px;
	margin: 0;
	width: 100%;
}
#pbs-navigation div.wrap ul
{
	margin: 0 auto;
	width: 975px;
}
#pbs-navigation div.wrap ul li
{
	display: inline;
	float: left;
	height: 30px;
	line-height: 30px;
}
#pbs-navigation div.wrap ul li.hide
{
	display: none;
	visibility: hidden;
}
#pbs-navigation div.wrap ul li a
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/dotted-vertical.gif") repeat-y right;
	display: block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	outline: none;
	padding: 0 14px;
	text-decoration: none;
	text-transform: uppercase;
}
#pbs-navigation div.wrap ul li.topic-dropdown
{
	position: relative;
	z-index: 199;
}
#pbs-navigation div.wrap ul li.topic-dropdown a
{
	padding-right: 33px;
	position: relative;
}
#pbs-navigation div.wrap ul li a.cufon-font
{
	float: left;
	height: 30px;
	padding-top: 0;
}
#pbs-navigation div.wrap ul li a.cufon
{
	top: 10px;
}
#pbs-navigation div.wrap ul li a.cufon-font:hover
{
	background-color: #5e6e72;
}
#pbs-navigation div.wrap ul li.topic-dropdown a span.arrow
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat 0 -298px;
	display: block;
	height: 30px;
	position: absolute;
	right: 13px;
	top: 0;
	width: 9px;
}
#pbs-navigation div.wrap ul li.topic-dropdown a:hover span.arrow
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat 0 -328px;
}
#pbs-navigation div.wrap ul li.last a
{
	background: none;
}
#pbs-navigation div.wrap ul li.region
{
	position: relative;
	width: 182px;
	z-index: 199;
}
#pbs-navigation div.wrap ul li.region a
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat 0 0;
	cursor: pointer;
	padding: 0 0 0 12px;
	text-transform: none;
	width: 170px;
}
#pbs-navigation div.wrap ul li.region a:hover
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat 0 -30px;
	cursor: pointer;
}
#pbs-navigation div.wrap ul li.region a.pbs-popup span
{
	color: #fff;
	font-size: 10px;
	font-style: italic;
	position: absolute;
	right: 15px;
	top: 0;
}
#pbs-navigation div.wrap ul li.international a
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat scroll 0 -574px;
}
#pbs-navigation div.wrap ul li.international a:hover
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat scroll 0 -604px;
}
#pbs-navigation div.wrap ul li.region ul
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/region-ul-bg.png") no-repeat bottom left;
	display: none;
	height: auto;
	left: -2px;
	padding-bottom: 12px;
	position: absolute;
	top: 30px;
	width: 226px;
	z-index: 199;
}
#pbs-navigation div.wrap ul li.region ul li
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/region-li-bg.png") repeat-y top left;
	height: 30px;
	width: 226px;
}
#pbs-navigation div.wrap ul li.region ul li.first a
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/region-li-a-first.gif") no-repeat 2px 0;
}
#pbs-navigation div.wrap ul li.region ul li a
{
	background: none;
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/region-border-bg.gif") repeat-x top left;
	color: #464646;
	font-size: 12px;
	height: 30px;
	letter-spacing: 0;
	line-height: 30px;
	padding: 0 12px;
	width: 196px;
}
#pbs-navigation div.wrap ul li.region ul li a:hover
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/region-border-bg.gif") repeat-x top left;
}
#pbs-navigation div.wrap ul li.region ul li.blue a
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/region-border-bg.gif") repeat-x top left;
	color: #018dd1;
	font-style: italic;
	height: 30px;
}
#pbs-navigation div.wrap ul li.share
{
	background: none;
	/*float: right;*/
	width: 91px;
}
#pbs-navigation div.wrap ul li.share a
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat 0 -60px;
	letter-spacing: .5px;
	line-height: 30px;
	padding: 0;
	text-indent: 42px;
	text-transform: capitalize;
	width: 91px;
}
#pbs-navigation div.wrap ul li.share a:hover
{
	background: transparent url("../../../../www-tc.pbs.org/about/media/images/action-items-sprite.png") no-repeat 0 -90px;
}
#pbs-navigation div.wrap ul li.region a img,#pbs-navigation div.wrap ul li.share a img
{
	height: 20px;
	margin-right: 8px;
	position: relative;
	top: 5px;
}

#pbs-footer {
	text-align:center;
	margin:0 auto;
      	background-color:#264658;
	font-size:11px;
}
#pbs-footer ul.pbs-site-map {
	background-color:#264658;
	height:46px;
	line-height:22px;
	margin:0;
	padding:0 0 0 15px;
}
#pbs-footer ul.pbs-site-map li {
	display:inline;
	float:left;
	height:46px;
	line-height:46px;
	margin:0;
	width:auto;
	list-style:none outside none;
}
#pbs-footer ul.pbs-site-map li.first a {
	border-left:0;
	padding:0 15px 0 0;
	margin-top:10px;
}
#pbs-footer ul.pbs-site-map li a {
	display:inline;
	float:left;
	height:15px;
	line-height:15px;
	margin:15px 0 0;
	padding:0 15px;
	color:#FFF;
	text-align:left;
	text-decoration:none;
	border-left:1px dotted #FFF;
}
#pbs-footer p.pbs-copy {
	background-color:#264658;
	color:#FFF;
	height:15px;
	line-height:26px;
	margin:0 15px;
	padding:15px 0;
	border:0;
	border-top:1px dotted #FFF;
}
#pbs-footer p.pbs-copy span.left {
	display:inline;
	float:left;
	line-height:30px;
}
#pbs-footer p.pbs-copy span.right {
	display:inline;
	float:right;
	line-height:30px;
}
#pbs-footer p.pbs-copy img {
	vertical-align:middle;
}

#pbs-footer {
	position:relative;
	margin:10px auto 0 auto;
	width:975px;
	clear:both;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-bg.gif") no-repeat top left;
	text-align:center;
}
#pbs-footer a {
	color:#fff;
}
#pbs-footer div.pbs-wrap {
	position:relative;
	top:0px;
	width:975px;
	text-align:left;
	background:#0c293e;
	font-size:11px;
        padding-top: 1px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}
#pbs-footer ul.pbs-link-holder {
	width:945px;
	margin:10px 15px 15px 10px;
}
#pbs-footer ul.pbs-link-holder li {
	width:465px;
	float:left;
	display:inline;
	margin-right:15px;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-li-bg.gif") repeat-x bottom left;
}
#pbs-footer h6 {
	color:#fff;
	font-weight:normal;
	line-height:18px;
	height:23px;
	letter-spacing:.5px;
	font-size:12px;
	text-indent:10px;
}
#pbs-footer ul.pbs-link-holder li h6 {
	text-indent:0;
	margin:0;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-li-bg.gif") repeat-x bottom left;
	width:100%;
	color:#6d7f8b;
}
#pbs-footer ul.pbs-link-holder li.last {
	margin:0;
}
#pbs-footer ul.pbs-link-holder li ul {
	float:left;
	display:inline;
	width:145px;
	margin-right:10px;
}
#pbs-footer ul.pbs-link-holder li ul li {
	line-height:25px;
	height:25px;
	width:145px;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-li-bg.gif") repeat-x bottom left;
}
#pbs-footer ul.pbs-link-holder li ul li a {
	display:block;
	width:145px;
	line-height:24px;
	height:24px;
}
#pbs-footer ul.pbs-link-holder li ul.last {
	margin:0;
}
#pbs-footer ul.pbs-link-holder li.last ul li a {
	text-indent:21px;
}
#pbs-footer ul.pbs-link-holder li ul li.last a {
	background:none;
}
#pbs-footer ul.pbs-link-holder li ul li a.video {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 0;
}
#pbs-footer ul.pbs-link-holder li ul li a.program {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -24px;
}
#pbs-footer ul.pbs-link-holder li ul li a.blog {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -48px;
}
#pbs-footer ul.pbs-link-holder li ul li a.podcast {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -72px;
}
#pbs-footer ul.pbs-link-holder li ul li a.flickr {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -96px;
}
#pbs-footer ul.pbs-link-holder li ul li a.facebook {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -120px;
}
#pbs-footer ul.pbs-link-holder li ul li a.youtube {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -144px;
}
#pbs-footer ul.pbs-link-holder li ul li a.twitter {
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -168px;
}
#pbs-footer ul.pbs-link-holder li ul li a.engage {
	text-indent:-9999px;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-icon-sprite.gif") no-repeat 0 -192px;
}
#pbs-footer ul.pbs-site-map {
	height:46px;
	line-height:22px;
	width:960px;
	padding:0 0 0 15px;
	background:#264658;
}
#pbs-footer ul.pbs-site-map li {
	float:left;
	display:inline;
	height:46px;
	width:auto;
	line-height:46px;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-li-bg.gif") repeat-x bottom left;
	margin:0;
}
#pbs-footer ul.pbs-site-map li a {
	margin:15px 0 0 0;
	display:inline;
	float:left;
	padding:0 15px;
	height:15px;
	line-height:15px;
	background:transparent url("../../../../www-tc.pbs.org/about/media/images/footer-li-vertical-bg.gif") repeat-y bottom right;
}
#pbs-footer ul.pbs-site-map li a img {
	vertical-align:top;
	margin-top:-4px;
}
#pbs-footer ul.pbs-site-map li.last a {
	background:none;
}
#pbs-footer ul.pbs-site-map li.first a {
	padding:0 15px 0 0;
}
#pbs-footer p.pbs-copy {
	bottom:0;
	background:#264658;
	height:20px;
	line-height:26px;
	width:945px;
	padding:10px 15px;
	margin-left:0;
	color:#fff;
}
#pbs-footer p.pbs-copy span.right {
	float:right;
	display:inline;
	line-height:20px;
}
#pbs-footer p.pbs-copy span.left {
	float:left;
	display:inline;
	line-height:20px;
}
#pbs-footer p.pbs-copy img {
	vertical-align:middle;
}


#pbs-footer ul.pbs-sites li.footer-title a {
	color:#6A8495;
	font-weight:bold;
	font-size:16px;
	border:0;
}
#pbs-footer ul.pbs-sites {
	background-color:#143045;
	height:46px;
	line-height:22px;
	margin:0;
	padding:0 0 0 15px;
}
#pbs-footer ul.pbs-sites li {
	display:inline;
	float:left;
	height:46px;
	line-height:46px;
	margin:0;
	width:auto;
	list-style:none outside none;
}
#pbs-footer ul.pbs-sites li a {
	display:inline;
	font-size:14px;
	float:left;
	height:15px;
	line-height:15px;
	margin:15px 0 0;
	padding:0 15px;
	color:#FFF;
	text-align:left;
	text-decoration:none;
	border-left:1px dotted #FFF;
}
	
.clear
{
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.clearfix:after,#body:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix,#body {
	display:inline-table;
}
/* Hides from IE-mac \*/ * html .clearfix,* html #body {
	height:1%;
}
.clearfix,#body {
	display: block;
}
/* End hide from IE-mac */