@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color:#f3f3f3;
	overflow-x:hidden;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

form {margin:0px; padding:0px;}

a{color:#0d51ab;}
input{border:0px;}

h1 {font-weight:bold; font-size:14px; color:#000; padding:0px; margin:0px;} 
h2 {font-weight:bold; font-size:13px; color:#000; padding:0px; margin:0px;}
#pinContainer {
    display:none; 
    margin:10px;
    cursor:url('http://media.monster.com.ph/monster_2012/Images/DragImages/grab.cur'), pointer;
}
#callout {
    position:relative;
    top:-48px;
    left:72px;
    background-color:#ffc;
    width:160px;
    padding:3px 5px;
    border:1px solid black;
    border-radius:5px;
}
.border_grey{border:solid 1px #bfbfbf;}
.border_green {border:#54981d 1px solid;}
.border_red {border:#FF0000 1px solid;}

.bold{font-weight:bold;}

.bg_purple{background-color:#72469b;}
.bg_purple1{background-color:#563575;}
.bg_purple2{background-color:#f1ecf5;}
.bg_white{background-color:#FFF;}
.bg_grey{background-color:#efefef;}
.bg_grey1{background-color:#f7f5f5;}
.bg_grey2{background-color:#cccccc;}
.bg_green5{background-color:#f7f9ef;}
.bg_blue{background-color:#e6ebf6;}
.bg_blue1{background-color:#c4d0e9;}
.bg_orange{background-color:#fdffd3;}
.bg_green{background-color:#e4eeb9;}
.bg_purple3{background-color:#f7f1fb;}
.bg_green1{background-color:#94a934;}
.bg_green2{background-color:#7fad75;}
.bg_green3{background-color:#7e9c1a;}
.bg_green4{background-color:#e9f2d9;}
.bg_lightgreen{background-color:#f7f9ef;}
.bg_pink {background:#FFF2F2;}

.banner_bg{background-color:#fbfaed;}

.font_9{font-size:9px;}
.font_10{font-size:10px;}
.font_11{font-size:11px;}
.font_13{font-size:13px;}
.font_14{font-size:14px;}
.font_15{font-size:15px;}
.font_16{font-size:16px;}
.font_18{font-size:18px;}
.font_20{font-size:20px;}
.font_25{font-size:25px;}

.txt_white{color:#FFF;}
.txt_purple{color:#72469b;}
.txt_black{color:#000000;}
.txt_green{color:#566c09;}
.txt_green1{color:#92a732;}
.txt_red{color:#F00;}
.txt_orange{color:#d9762b;}
.txt_grey{color:#656565;}
.txt_yellow{color:#f0c231;}
.txt_yellowlight {color:#f6ffc7;}

.function_active_arrow{background:url(../../media.monsterindia.com/monster_2012/active_arrow.jpg) no-repeat right center; background-color:transparent;}

.footer a{text-decoration:none; background:url(../../media.monsterindia.com/monster_2012/arrow_ftr.gif) no-repeat left 5px; color:#666; padding-left:10px;}
.footer a:hover{text-decoration:underline;}

.company_active_tab{background:url(../../media.monsterindia.com/monster_2012/company/company_active.jpg) repeat-y right top; border:solid 1px #bfbfbf; border-right:0px; width:27px; padding:5px 3px;}
.company_normal_tab{background:url(../../media.monsterindia.com/monster_2012/company/company_normal.jpg) repeat-y right top; width:27px; padding:5px 3px;}

.blackOverlay{display:none;position:fixed;_position:absolute;left:0;bottom:0;width:100%;height:100%;_height:100%;background-color:black;z-index:100;-moz-opacity:.5;opacity:.50;filter:alpha(opacity=50);}* html div.division{height:expression(this.scrollHeight>349 ? "350px":"auto");}div.division{max-height:350px;}






/*------------------------ Featured content glider --------------------*/

.glidecontentwrapper{
position: relative; /* Do not change this value */
width: 350px;
height: 230px; /* Set height to be able to contain height of largest content shown*/
border: 5px solid #687C98;
overflow: hidden;
}
/*
	Total wrapper width: 350px+5px+5px=360px
	Or width of wrapper div itself plus any left and right CSS border and padding
	Adjust related containers below according to comments
*/


.glidecontent{ /*style for each glide content DIV within wrapper.*/
position: absolute; /* Do not change this value */
background: white;
padding: 10px;
visibility: hidden;
width: 330px;
}
/*
 Total glidecontent width: 330px+10px+10px=350px
	Or width of wrapper div itself (not counting wrapper border/padding)
*/

.glidecontenttoggler{ /*style for DIV used to contain toggler links. */
width: 360px;
margin-top: 6px;
text-align: center; /*How to align pagination links: "left", "center", or "right"
background: white; /*always declare an explicit background color for fade effect to properly render in IE*/
}
/*
 Total contenttoggler width: 350px+5px+5px=360px
	Or total width of wrapper div (counting wrapper border/padding)
*/

.glidecontenttoggler a{ /*style for every navigational link within toggler */
display: -moz-inline-box;
display: inline-block;
color: #2e6ab1;
padding: 1px 3px;
margin-right: 3px;
font-weight: bold;
text-decoration: none;
background: #e6ebf6;
}

.glidecontenttoggler a.selected{ /*style for selected page's toggler link. ".selected" class auto generated! */
background: #563575;
color: white;
}

.glidecontenttoggler a:hover{
background: #563575;
color: white;
}

.glidecontenttoggler a.toc{ /*style for individual toggler links (page 1, page 2, etc). ".toc" class auto generated! */

}

.glidecontenttoggler a.prev, .glidecontenttoggler a.next{ /*style for "prev" and "next" toggler links. ".prev" and ".next" classes auto generated! */
background: #e6ebf6;
color: black;}

.glidecontenttoggler a.prev:hover, .glidecontenttoggler a.next:hover{
background: #e6ebf6;
color: black;
}




/*--------------------------------- Chrome Style ---------------------------------------*/

.chromestyle{
width: 99%;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
width: 100%;
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #ffffff;
padding: 3px 20px;
padding-left:8px;
margin: 0;
text-decoration: underline;
font-weight:bold;
font-size:13px;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
background: #563575 url(../../media.monsterindia.com/monster_2012/menu_arrow.jpg) right center no-repeat;
text-decoration:none;
/*THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 5px solid #563575; /*THEME CHANGE HERE*/
font:normal 12px arial;
line-height:18px;
z-index:10000000;
background-color: white;
width: 200px;
visibility: hidden;
padding:12px;
margin-top:-1px;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #eee; /*THEME CHANGE HERE*/
padding: 3px 0;
text-decoration: none;
color: black;
width:150px;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
text-decoration:underline;
}




/*---------------------------------- Flexcrollstyle -----------------------------------------*/

/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

/*  scrollgeneric is used for corrective styling of elements, and should not be modified or removed */ 
.scrollgeneric {line-height: 1px;font-size: 1px; position: absolute;top: 0; left: 0; z-index:100;}

.vscrollerbar {width: 7px; background: url(../../media.monsterindia.com/monster_2012/scroller_top.png) left top no-repeat;}
.vscrollerbarbeg { background: url(../../media.monsterindia.com/monster_2012/scroller_bg2.png) repeat-y left bottom; margin-top:5px; height: auto;width: 7px;}
.hscrollerbase {height: 16px; background-color: white;}
.hscrollerbar {height: 16px; background-color: black;}
.vscrollerbar, .hscrollerbar {padding: 1px;z-index: 2;}
.scrollerjogbox {width: 7px;height: 16px;top: auto; left: auto;bottom: 0px; right: 0px;background: #37917A;}

/* Scroll Bar Master Styling Ends Here */



#sliderWrap {
margin: 0 auto;
width: 998px;
background-color:#fdffd3;
}
#slider {
position: relative;
width: 998px;
height: 111px;
margin-top: -111px;
text-align:center;
}
#slider img {
border: 0;
}
#sliderContent {
position: absolute;
text-align:center;
margin-top:10px;
margin-left:130px;
*margin-left:-380px;
}
#openCloseWrap {
position:absolute;
margin-left:870px;
*margin-left:360px;
margin-top:10px;
}
.black_overlay{display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin-right:20px; z-index:100008;}
.white_content {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index:100009; overflow: hidden;}

.slidingDiv {
    height:262px;
    background-color: #000000;
    margin-top:-15px;
   position:absolute;
   width:424px;
   margin-left:-231px;
   text-align:center;
}
.show_hide {
    display:none;
}
