@charset "UTF-8";
/* CSS Document */

#forums {
	clear:both;
}

.forumhead {
	background: #004480 url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	padding: 0;
	font:  normal 16px Arial, Tahoma,Calibri,Verdana,Geneva,sans-serif;
        color:#ffffff;
	clear:both;
	margin-top: 8px;
	float: left;
	border: 1px solid #5a7f97;
	width: 100%;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

#forums .L1 .forumhead a {
	font:   normal 16px Arial, Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

#forums .L1 .forumhead .forumdescription {
	display:none;
}

#forums .L1 .L2 {
	display:block;
	clear: both;
}

#forums a.username {
	color: #004480;
}

#forums a.username:hover {
	color: #004480;
}

.forumbit_post .forumrow, .forumbit_nopost .forumhead, .forumbit_nopost .forumrow, .forumbit_post .forumhead {
	-moz-box-shadow: 2px 2px 2px #c8c8c8;
	-webkit-box-shadow: 2px 2px 2px #c8c8c8; /* JGB  */
	border-right:1px #ccc;
	border-left:1px #ccc;
}

.forumhead + .childforum .L2:first-child .forumrow, .forumhead + .L2 .forumrow {
	background: rgb(255, 255, 255) url(images/gradients/grey-up.png) repeat-x left bottom;
	_background-image: none;
	border-top: 1px solid rgb(255, 255, 255);
}

.forumrow + .childsubforum .forumrow, .forumhead + .childforum .L2:first-child .L2 .forumrow, .forumhead + .childforum .L2 .L2:first-child .forumrow {
	background: rgb(255, 255, 255) url(images/gradients/grey-up.png) repeat-x left bottom;
	_background-image: none;
}

.forumbit_nopost .forumbit_nopost .forumrow, .forumbit_post .forumrow {
	background: rgb(255, 255, 255) url(images/gradients/grey-up.png) repeat-x left bottom;
	_background-image: none;
	display:block;
	width: 100%;
	float: left;
	min-height: 40px; /* 48px is the icon size */
	position:relative;
        border-top: 1px solid #c4c4c4;  /* JGB - 2011-02-08 */
	border-bottom: 1px solid #c4c4c4;
        border-left: 1px solid #c4c4c4; 
	border-right: 1px solid #c4c4c4;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumicon {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 30px;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumdata {
	display: inline-block;
	width:100%; 
}

.forumbit_nopost .forumbit_nopost .forumrow .forumdata .datacontainer {
	margin-left: 50px;
}

.forumbit_nopost .forumbit_post .forumrow .forumdata .datacontainer {
	margin-left: 0;
}

/* forumbit nopost */
/* forumbit nopost -> forumhead */
.forumbit_nopost .forumhead .forumtitle, .forumbit_nopost .forumhead span, .forumbit_nopost .forumhead .collapse, .forumbit_post .forumhead h2 span {
	display:block;
	float: left;
	clear: right;
	font:   normal 16px Arial, Tahoma,Calibri,Verdana,Geneva,sans-serif;
	padding: 4px 0;
        color: #ffffff; 
}

.forumbit_nopost .forumhead h2, .forumbit_post .forumhead h2 {
	/*border-top: 1px solid rgb(255, 255, 255);*/
	margin-left: 3px;
	margin-right: 3px;
}
.forumbit_nopost {
	clear:left;
}
.forumbit_nopost .forumrowdata {
	clear:both;
	display:block;
	width: 100%;
}

.forumbit_nopost .subforumdescription {
	padding: 5px 10px;
	font-weight: normal;
	color: #3e3e3e;
	background: #e9e9e9 none repeat-x  ;
}

.forumbit_post .foruminfo .forumdata {
	padding: 4px 0;
	font-size: 12px;
border-right:1px solid #ccc;
/*width:500px !important;*/


}

.forumbit_nopost .forumhead .forumtitle {
	font-size: 13;
	min-width: 76%;
}

.forumbit_nopost .forumhead .forumtitle a {
	color: #ffffff;
	margin-left: 10px;
}

.forumbit_nopost .forumhead span, .forumbit_post .forumhead span {
	font-size: 12px;
}

.forumbit_nopost .forumhead span.forumlastpost, .forumbit_post .forumhead span.forumlastpost {
	width: 21%;
        border-left: 1px solid #ccc;

}

.forumbit_nopost .forumhead a.collapse img {
/* values are based on the image */
	position:absolute;
	top: -15px;
	right: -6px;
	display:block;
	width:13px;
	height:13px;
	overflow:hidden;
	background:transparent url(images/buttons/collapse_collapsed_40b.png) no-repeat;
	float: right;
	clear: left;
}

.forumbit_nopost:hover .forumhead  a.collapsegadget {
	visibility:visible;
}

.forumbit_nopost .forumbit_nopost .forumrow .forumdata, .forumbit_post .forumrow .forumdata  {
	padding: 5px 10px;
	padding-left: 0;
	font-size: 11px;
}

.forumbit_nopost .forumbit_nopost .foruminfo .subforums {
	margin-left: 10px;
	position: relative;
	top: -10px;
}

/* forumbit post */
.forumbit_post {
	float: left;
	position:relative;
	width: 100%;
	display:block;
}

.forumbit_post .forumhead span {
	padding: 0;
}

.forumbit_post .forumhead .forumlastpost {
	top: 0;
	margin-top: 0;
        
}

.forumbit_post {
background-color:#e4f5f9;
}

.forumbit_post .foruminfo, .forumbit_post .forumlastpost, .forumbit_post .forumactionlinks, .forumbit_post .forumstats, .forumbit_post .forumstats_2{
	padding: 5px 0;
        
      
        
}

/* commenting this out for the time being as it is included for test
.forumbit_post .forumstats {
	background: #f2f6f8;
margin: 0;
padding-bottom: 15px;
overflow:hidden;
}
*/
.forumbit_post .forumhead .forumtitle {
	width: 76%;
}

.forumbit_post .forumhead .forumtitle span {
padding: 0;
padding-left: 10px;
}

.forumbit_post .foruminfo {
	/*width: 40%;*/
width:500px !important;
	min-width: 30%;
	float: left;
	clear: right;
	min-height: 30px; 
}

.forumbit_post .foruminfo .forumicon{
	position: absolute;
	left: 10px;
	width: 30px;
}

.forumbit_post .foruminfo .forumdata, .forumbit_post .foruminfo .forumtitle, .forumbit_post .foruminfo .viewing {
	float: left;
	clear: right;
	color: #4e4e4e;
}

.forumbit_post .foruminfo .viewing {
        white-space:nowrap;
}

.forumbit_post .foruminfo .forumdata {
	padding: 0;
	width: 100%;
	_width: 99%;
}

.forumbit_post .foruminfo .forumdata .datacontainer {
	float: left;
	width: 88%;
	padding-left: 50px;
}

.forumbit_post .foruminfo .forumdata .forumtitle, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle {

font-size: 13px;
	margin-right: 10px;
}

.forumbit_post .foruminfo .forumdata .forumtitle a, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle a {
/*	color: #004480; */
	font-weight:bold;
}

.childsubforum .forumbit_post .foruminfo .forumdata .datacontainer .forumtitle a {
        padding-left:1.8em;
        background:url('images/misc/child_forum.png') top left no-repeat;
}

.forumbit_post .foruminfo .forumdata .viewing {
	font-style: italic;
	margin-right:10px;
	margin-top: 3px;
	font-size: 11px;
}

.forumbit_post .forumactionlinks {
	width: 5%;
	display:block;
	float:left;
	clear:right;
}

.forumbit_post .forumactionlinks li {
	display: inline;
}

.forumbit_post .forumactionlink {
/* values based on icon size */
	display:block;
	width:18px;
	height:12px;
	overflow:hidden;
	float: right;
	clear: left;
	background:transparent none no-repeat;
	position: relative;
	margin: 3px 10px 0 0;
}

.forumactionlink a {
/* values based on icon size */
	display:block;
	padding-left:18px;
}

.forumactionlinks .rsslink {
	background-image:url(images/misc/rss_40b.png);
}

.forumactionlinks .subslink {
	background-image:url(images/misc/subscribed_40b.png);
}
.forumactionlinks .unsubslink {
	background-image:url(images/misc/unsubscribed_40b.png);
}
.forumbit_post .forumdescription {
	display:block;
	clear:both;
	padding-right: 10px;
}

.forumbit_post .unsubscribe {
	display:block;
	right: 0;
	top: 2px;
}

.forumbit_post .forumstats, .forumbit_post .forumstats_2 {
	display: block;
	float: left;
	clear: right;
	width: 12%;
	margin-right: 2%;
}

.forumbit_post .forumstats li, .forumbit_post .forumstats_2 li{
	font-size: 12pxpx;
	text-align: right;
	padding-right: 20px;
	display:block;
}


.forumbit_post .forumlastpost {
	display:block;
	float: left;
	clear: right;
}

.forumbit_post .forumrow .forumlastpost {
	width: 34%;
	font-size: 12px;
        padding-top: 5px;
}

.forumbit_post .forumlastpost .lastpostdate {
	font-size: 11px;
}

.forumbit_post .forumlastpost .lastposttitle a, .forumbit_post .forumlastpost .lastpostby a {
/*	color: #004480; */
font-weight:bold;
font-size:10pt;
}
 
.lastpostby_alt{
font-size:12px;
color:#00aeef;
}

.lastpostlabel { 
	display: none; 
}

.moderators, .subforums {
	display: block;
	clear:both;
}

.moderators h4, .subforums h4 {
	font-weight: bold;
	padding-right: 5px;
}

.moderators h4, .moderators .commalist, .subforums h4, .subforums .commalist {
	float:left;
	clear:right;
}

/* Project Tools Forum Display */
.forumstats dt {
	display: inline;
	margin-right: 0;
}

.forumstats dl {
	color: #3e3e3e;
	font-size: 12px;
	display: block;
	text-align: right;
}

.forumstats dd {
	display: inline-block;
	padding-left: 10px;
	padding-right: 20px;
}

.forumstats dt:after {
	content:":";
}


/* forumrow22 */

.forumbit_post .forumrow2, .forumbit_nopost .forumhead, .forumbit_nopost .forumrow2, .forumbit_post .forumhead {
	-moz-box-shadow: 2px 2px 2px #c8c8c8;
	-webkit-box-shadow: 2px 2px 2px #c8c8c8; /* JGB  */
	border-right:1px #ccc;
	border-left:1px #ccc;
}

.forumhead + .childforum .L2:first-child .forumrow2, .forumhead + .L2 .forumrow2 {
	background: rgb(255, 255, 255) url(images/gradients/grey-up.png) repeat-x left bottom;
	_background-image: none;
	border-top: 1px solid rgb(255, 255, 255);
}

.forumrow2 + .childsubforum .forumrow2, .forumhead + .childforum .L2:first-child .L2 .forumrow2, .forumhead + .childforum .L2 .L2:first-child .forumrow2 {
	 /* background: rgb(255, 255, 255) url(images/gradients/grey-up.png) repeat-x left bottom; JGB*/
	 background:#e4f5f9;
	_background-image: none;
}

.forumbit_nopost .forumbit_nopost .forumrow2, .forumbit_post .forumrow2 {
	/* background: rgb(255, 255, 255) url(images/gradients/grey-up.png) repeat-x left bottom; JGB */
	background:#e4f5f9;
	_background-image: none;
	display:block;
	width: 100%;
	float: left;
	min-height: 40px; /* 48px is the icon size */
	position:relative;
        border-top: 1px solid #c4c4c4;  /* JGB - 2011-02-08 */
	border-bottom: 1px solid #c4c4c4;
        border-left: 1px solid #c4c4c4; 
	border-right: 1px solid #c4c4c4;
}

.forumbit_nopost .forumbit_nopost .forumrow2 .forumicon {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 30px;
}

.forumbit_nopost .forumbit_nopost .forumrow2 .forumdata {
	display: inline-block;
	width:100%; 
}

.forumbit_nopost .forumbit_nopost .forumrow2 .forumdata .datacontainer {
	margin-left: 50px;
}

.forumbit_nopost .forumbit_post .forumrow2 .forumdata .datacontainer {
	margin-left: 0;
}

/* forumbit nopost */
/* forumbit nopost -> forumhead */
.forumbit_nopost .forumhead .forumtitle, .forumbit_nopost .forumhead span, .forumbit_nopost .forumhead .collapse, .forumbit_post .forumhead h2 span {
	display:block;
	float: left;
	clear: right;
	font:   normal 16px Arial, Tahoma,Calibri,Verdana,Geneva,sans-serif;
	padding: 4px 0;
        color: #ffffff; 
}

.forumbit_nopost .forumhead h2, .forumbit_post .forumhead h2 {
	/*border-top: 1px solid rgb(255, 255, 255);*/
	margin-left: 3px;
	margin-right: 3px;
}
.forumbit_nopost {
	clear:left;
}
.forumbit_nopost .forumrow2data {
	clear:both;
	display:block;
	width: 100%;
}

.forumbit_nopost .subforumdescription {
	padding: 5px 10px;
	font-weight: normal;
	color: #3e3e3e;
	background: #e9e9e9 none repeat-x  ;
}

.forumbit_post .foruminfo .forumdata {
	padding: 4px 0;
	font-size: 12px;
border-right:1px solid #ccc;


}

.forumbit_nopost .forumhead .forumtitle {
	font-size: 13;
	min-width: 76%;
}

.forumbit_nopost .forumhead .forumtitle a {
	color: #ffffff;
	margin-left: 10px;
}

.forumbit_nopost .forumhead span, .forumbit_post .forumhead span {
	font-size: 12px;
}

.forumbit_nopost .forumhead span.forumlastpost, .forumbit_post .forumhead span.forumlastpost {
	width: 21%;
        border-left: 1px solid #ccc;

}

.forumbit_nopost .forumhead a.collapse img {
/* values are based on the image */
	position:absolute;
	top: -15px;
	right: -6px;
	display:block;
	width:13px;
	height:13px;
	overflow:hidden;
	background:transparent url(images/buttons/collapse_collapsed_40b.png) no-repeat;
	float: right;
	clear: left;
}

.forumbit_nopost:hover .forumhead  a.collapsegadget {
	visibility:visible;
}

.forumbit_nopost .forumbit_nopost .forumrow2 .forumdata, .forumbit_post .forumrow2 .forumdata  {
	padding: 5px 10px;
	padding-left: 0;
	font-size: 11px;
}

.forumbit_nopost .forumbit_nopost .foruminfo .subforums {
	margin-left: 10px;
	position: relative;
	top: -10px;
}

/* forumbit post */
.forumbit_post {
	float: left;
	position:relative;
	width: 100%;
	display:block;
}

.forumbit_post .forumhead span {
	padding: 0;
}

.forumbit_post .forumhead .forumlastpost {
	top: 0;
	margin-top: 0;
        
}

.forumbit_post {
background-color:#e4f5f9;
}

.forumbit_post .foruminfo, .forumbit_post .forumlastpost, .forumbit_post .forumactionlinks, .forumbit_post .forumstats, .forumbit_post .forumstats_2{
	padding: 5px 0;
        
      
        
}

/* commenting this out for the time being as it is included for test
.forumbit_post .forumstats {
	background: #f2f6f8;
margin: 0;
padding-bottom: 15px;
overflow:hidden;
}
*/
.forumbit_post .forumhead .forumtitle {
	width: 76%;
}

.forumbit_post .forumhead .forumtitle span {
padding: 0;
padding-left: 10px;
}

.forumbit_post .foruminfo {
	width: 40%;
	min-width: 30%;
	float: left;
	clear: right;
	min-height: 30px; 
}

.forumbit_post .foruminfo .forumicon{
	position: absolute;
	left: 10px;
	width: 30px;
}

.forumbit_post .foruminfo .forumdata, .forumbit_post .foruminfo .forumtitle, .forumbit_post .foruminfo .viewing {
	float: left;
	clear: right;
	color: #4e4e4e;
}

.forumbit_post .foruminfo .viewing {
        white-space:nowrap;
}

.forumbit_post .foruminfo .forumdata {
	padding: 0;
	width: 100%;
	_width: 99%;
}

.forumbit_post .foruminfo .forumdata .datacontainer {
	float: left;
	width: 88%;
	padding-left: 50px;
}

.forumbit_post .foruminfo .forumdata .forumtitle, .forumbit_nopost .forumbit_nopost .forumrow2 .forumtitle {

font-size: 13px;
	margin-right: 10px;
}

.forumbit_post .foruminfo .forumdata .forumtitle a, .forumbit_nopost .forumbit_nopost .forumrow2 .forumtitle a {
/*	color: #004480; */
	font-weight:bold;
}

.childsubforum .forumbit_post .foruminfo .forumdata .datacontainer .forumtitle a {
        padding-left:1.8em;
        background:url('images/misc/child_forum.png') top left no-repeat;
}

.forumbit_post .foruminfo .forumdata .viewing {
	font-style: italic;
	margin-right:10px;
	margin-top: 3px;
	font-size: 11px;
}

.forumbit_post .forumactionlinks {
	width: 5%;
	display:block;
	float:left;
	clear:right;
}

.forumbit_post .forumactionlinks li {
	display: inline;
}

.forumbit_post .forumactionlink {
/* values based on icon size */
	display:block;
	width:18px;
	height:12px;
	overflow:hidden;
	float: right;
	clear: left;
	background:transparent none no-repeat;
	position: relative;
	margin: 3px 10px 0 0;
}

.forumactionlink a {
/* values based on icon size */
	display:block;
	padding-left:18px;
}

.forumactionlinks .rsslink {
	background-image:url(images/misc/rss_40b.png);
}

.forumactionlinks .subslink {
	background-image:url(images/misc/subscribed_40b.png);
}
.forumactionlinks .unsubslink {
	background-image:url(images/misc/unsubscribed_40b.png);
}
.forumbit_post .forumdescription {
	display:block;
	clear:both;
	padding-right: 10px;
}

.forumbit_post .unsubscribe {
	display:block;
	right: 0;
	top: 2px;
}

.forumbit_post .forumstats, .forumbit_post .forumstats_2 {
	display: block;
	float: left;
	clear: right;
	width: 12%;
	margin-right: 2%;
}

.forumbit_post .forumstats li, .forumbit_post .forumstats_2 li{
	font-size: 12pxpx;
	text-align: right;
	padding-right: 20px;
	display:block;
}


.forumbit_post .forumlastpost {
	display:block;
	float: left;
	clear: right;
}

.forumbit_post .forumrow2 .forumlastpost {
	width: 34%;
	font-size: 12px;
        padding-top: 5px;
}

.forumbit_post .forumlastpost .lastpostdate {
	font-size: 11px;
}

.forumbit_post .forumlastpost .lastposttitle a, .forumbit_post .forumlastpost .lastpostby a {
/*	color: #004480; */
font-weight:bold;
font-size:10pt;
}
 
.lastpostby_alt{
font-size:12px;
color:#00aeef;
}

.lastpostlabel { 
	display: none; 
}

.moderators, .subforums {
	display: block;
	clear:both;
}

.moderators h4, .subforums h4 {
	font-weight: bold;
	padding-right: 5px;
}

.moderators h4, .moderators .commalist, .subforums h4, .subforums .commalist {
	float:left;
	clear:right;
}
 


/* CSS Document */

#forums {
width: 100%;
}

#welcomemessage {
	color:#3e3e3e;
	font-size:100%;
}


/* wgo */
.wgo_block {
	display:block;
	clear:both;
	width: 100%;
	margin-top: 15px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-box-shadow: -2px 2px 2px #c8c8c8;
	-webkit-box-shadow: -2px 2px 2px #c8c8c8;
	margin-bottom: 10px;
}

.wgo_block h2 {
	font:   bold 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: #ffffff;
	background: rgb(255, 255, 255) url(images/buttons/newbtn_middle.png) repeat-x  ;
	_background-image: none;
	border: 1px solid #505050;
	width: 100%;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.wgo_block .time {
	color: #3e3e3e;
}

.wgo_block h2 span {
	display:block;
	padding: 4px 0;
	padding-left: 10px;
	/*border-top: 1px solid rgb(255, 255, 255);*/
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.wgo_block div.floatcontainer {
	background: rgb(255, 255, 255) url(images/gradients/gradient-greytowhite.png) repeat-x  ;
	_background-image: none;
	/*border-top: 1px solid rgb(255, 255, 255);*/
}

.wgo_block .wgo_subblock {
	display:block;
	padding: 4px 0;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	font-size: 12px;
	clear:both;
	width: 100%;
}

.wgo_subblock h3 {
	padding-left: 10px;
	font:   bold 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	color: #3e3e3e;
	padding-bottom: 5px;
}

.wgo_subblock h3 img {
	padding-right: 5px;
}

.wgo_subblock div, .wgo_subblock ol {
	padding-left: 20px;
}

.wgo_subblock div p {
	padding-bottom: 5px;
}

.wgo_subblock div ol {
	padding-left: 0;
}

.wgo_subblock dl dt {
	display:inline;
}

.wgo_subblock dl dt:after {
	content:":";
}

.wgo_subblock dl dd {
	display: inline;
	margin-right:5px;
}

.wgo_subblock dl.icon_legends dt {
	float: left;
	clear: right;
	margin-right: 5px;
}

.wgo_subblock dl.icon_legends dt:after {
	content: "";
}

.wgo_subblock dl.icon_legends dd {
	margin-bottom: 5px;
	display:block;
}

/****************************/
/* Don't use left and right stylevar here */
#content_container {
	width:100%;
	float:left;
	margin-right: -/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%+20px */;
	padding: 10px 0;
}
#content_container.contentright {
	float:right;
	margin-right:0;
	margin-left:-/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%+20px */;
}

#content_container #content {
	margin-right:/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%+20px */;
}
#content_container.contentright #content {
	margin-right:0;
	margin-left:/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%+20px */;
}

/*-----------------------------------*/
/* SIDEBAR */
/* Don't use left and right stylevar here */
#sidebar_container {
	float:right;
	width:20%;
	padding:17px 0;
	margin-bottom:3em;

}

#sidebar_container.sidebarleft {
	float:left;
}

#sidebar_container a {
color: #004480;
}

#sidebar_container a:hover {
color: #004480;
}

#sidebar_container .time {
color: #3e3e3e;
}

#sidebar_button {
	display:block;
	margin-top: 40px;
	float:right;
	margin-right:-28px;
	_margin: 40px 0 0 0;
	_display: inline-block;
}
#sidebar_button {
	_display: inline;
}
#sidebar_container.sidebarleft #sidebar_button {
	float:left;
	margin-left:-28px;
}

#sidebar_container .block {
	margin-bottom:4px;
	padding:6px;
	background:#f1f1f1 url(images/misc/blog/top-highlight.png) repeat-x left top;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#sidebar_container .blockbody {
	color: #424242;
	background:rgb(255, 255, 255);
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	padding:0;
	border:1px solid #DADADA;
}

#sidebar_container .blockrow {
	border-top:1px solid rgb(255, 255, 255); /* makes the bevel look part of the background */
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	background:rgb(255, 255, 255) url(images/misc/blog/gradient-black-down.png) repeat-x  ;
	_background-image: none;
}

#sidebar_container .underblock {
	height:9px;
	background:transparent url(images/misc/blog/bottom-shadow.png) repeat-x left bottom;
}

#sidebar_container .blockrow,
#sidebar_container .blocksubhead {
	padding:10px 6px 10px 6px;
}

#sidebar_container .blocksubhead {
	background:transparent none;
	height:16.76px;
	color: #424242;
	padding: 5px 6px;
	border:none;
	outline:none;
	font-weight:bold;
}

#sidebar_container .blocksubhead span.blocktitle {
	width:/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%-70px */;
	display:block;
	white-space:nowrap;
	float:left;
	overflow:hidden;
	padding-left:3px;
}

#sidebar_container .blocksubhead img {
	vertical-align:middle;
	float: left;
}

#sidebar_container .blocksubhead img.inlineimg {
	float: none;
	position: relative;
	top: -2px;
}
/* Add a "middle" font size, between default and small */
#sidebar_container .blocksubhead.smaller {
	font:normal normal bold 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

#sidebar_container .blockrow {
	font-size:12px;
	color: #424242;
}

#sidebar_container .blockrow .meta {
	font-size:11px;
}

#sidebar_container .blocksubhead a.username {
	padding-right:20px;
}

#sidebar_container .formcontrols .blockrow label {
	width:auto;
}

#sidebar_container .advanced.blockfoot {
	padding:6px;
	border-bottom:none;
	font-size:88%;
	font-weight:bold;
	background: transparent;
}
#sidebar_container .searchblock .advanced a {
	line-height:2;
}

#sidebar_container .searchblock .advanced .button {
	float:right;
}


#sidebar_container > ul {
	background-color:#f1f1f1;
	border:1px solid #c1c1c1;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow:-2px 2px 2px #c8c8c8;
	float:left;
	width:100%;
}


.avatarcontent, .noavatarcontent {
	padding-top:10px;
}
.avatarcontent:first-child, .noavatarcontent:first-child {
	padding-top:0;
}
.smallavatar {
	height:30px;
	width:30px;
	overflow:hidden;
	float:left;
}
div.smallavatartext {
	margin-left: 40px;
	margin-top: -30px;
	float:right;
	width:/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%-2-12px-2-12px-30px-10px */;
	word-wrap:break-word;
}

.noavatarcontent .smallavatartext {
	margin: 0;
	float: none;
	clear:both;
	width:/* ~~cannot perform math on mixed units ~~ found (%,px) in 20%-2-12px-2-12px */;
}

#sidebar_container a.collapse {
	position:static;
}
#sidebar_container a.title {
	font-weight:bold;
}

/* JGB - Hot Topics */
.hottopic_header
{
font-size: 16px;
font-weight: bolder;
color:#fff;
height:15px;
margin-top:10px;
padding-left:6px;
width:100%;
}

.hottopic_orangeheader
{
background-image: url('images/misc/orange-heading.gif');
background-repeat: repeat-x;
height: 17px;
padding: 3px;
border: 2px solid #13468b;
}

.hottopic_unselected
{
background-image: url('images/misc/grey-heading.gif');
background-repeat: repeat-x;
height: 17px;
width: 106px;
cursor: pointer;
cursor: hand;
padding: 4px 0px 0px 3px;
}

.hottopic_unselected :hover
{
 text-decoration: underline;
}

.hottopic_selected
{
background-color: #fff;
height: 22px;
width: 280px;
padding: 10px 0px 0px 3px;
font-color:#ffffff;
}

.hottopic_anch
{
 border-bottom: 1px solid #13468b;
 border-left: 1px solid #13468b;
 background-color: #ffffff;
 padding-left:5px;
 width:25px;
}

.hottopic_text
{
  border: 1px solid #13468b;
  border-top: 0px;
  background-color: #ffffff;
  margin-top:10px;
  padding-left:8px;
  padding-bottom:3px;
  padding-top:3px;
}

.hottopic_tables_1
{
  float:left; 
  margin-left:10px;
  width:300px;
}

.hottopic_tables_2
{
  float: left; 
  margin-left:25px;
  width:300px;
}

.hottopic_tables_3
{
  float:left; 
  margin-left: 20px;
  width:300px;
}

.hottopic_tables_4
{
  width:220px;
  float:right;
  margin-right:90px;
}

.hottopic_views{
font-size:8pt;
font-style: italic;
}

.hottopic_seeall{
float:right;
font-size:12pt !important;
}

a.tagcloudlink:link, a.tagcloudlink:visited {
	text-decoration:none;
}

a.tagcloudlink:hover,
a.tagcloudlink:active {
	text-decoration:underline;
}

a.level1 {
	font-size: 9px;
}

a.level2 {
	font-size: 12px;
}

a.level3 {
	font-size: 15px;
}

a.level4 {
	font-size: 18px;
}

a.level5 {
	font-size: 21px;
}

#tag_searchbox {
	text-align: center; padding: 6px;
}

#tag_search {
	margin-top:10px;
}