/* ============================================================
National Geographic Global Utility CSS

Notes:
================
* 2008/08/19 - Added most beginning helper definitions (BT)
* Testing for SVN update on dtest
* 2010/02/25 - Removed 'overflow:hidden' from .advertisement for expanding and OPA ads (BG)

In This CSS:
================
+Testing
+General
+Functionality
+Advertisements
+Miscellaneaous

============================================================ */

/* ------------------------------------------------------------
+Testing
------------------------------------------------------------ */
/* div { border: 1px solid red; } */


/* ------------------------------------------------------------
+General
------------------------------------------------------------ */


/* ------------------------------------------------------------
+Advertisements
------------------------------------------------------------ */
.advertisement iframe {
	background-color:  transparent !important;
	border: none !important;
}

	.advertisement iframe html body {
		margin: 0 !important;
		padding: 0 !important;
	}

/* Various Ad Sizes */
.pushdown {
	width: 970px;
	height: auto;
	overflow:hidden;
}

.leaderboard {
	width: 728px;
	/* height: 90px; */
}

.interstitial .box {
    width: 600px;
    /* height: 250px; */
}

.box {
	width: 300px;
	/* height: 250px; */
}

.sky {
	width: 160px;
	/* height: 600px; */
}


/* ------------------------------------------------------------
+Functionality
------------------------------------------------------------ */



/* ------------------------------------------------------------
+Miscellaneous
------------------------------------------------------------ */
abbr { cursor: pointer; }

/*Suppress outlines on links - accessibility friendly*/
a:hover, a:active {outline: none!important;}

.bold { font-weight: bold; }

.leftie { float: left; }
.rightie { float: right; }
.centered { text-align: center; }
.centered * { margin: 0 auto; }

/* Thanks to http://www.positioniseverything.net/easyclearing.html */	
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clear {
	background: transparent;
	clear: both;
	font: 1px/1px verdana, arial, helvetica, sans-serif;
	height: 0;
}

.hidden {
	font-size: 1px;
	left: -9999px;
	line-height: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 9999px;
}

.hiddenText {
	text-indent: -9999px;
}

sup {
	vertical-align: super;
	font-size: .7em;
}