
/* GENERAL
------------------------------------------------------ */
body {
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #666;
	line-height: 1.3em;
	}
a, a:visited {color:#0a94d6;text-decoration:none;}
a:hover {text-decoration:underline;}
input, select, textfield, textarea {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;color:#666;font-size: 1em;}
p {padding:0 0 1em 0;margin:0;}
img {padding:0;margin:0;border:none;}
form {margin:0;}
.clear {clear:both;padding:0;margin:0;}
.newWin {padding-right: 15px;background: url(../images/btn-preview.gif) right bottom no-repeat; overflow:auto}

h1 {
	padding-bottom: .25em;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.8em;
	line-height: normal;
	color: #333;
	}

h2 {
	display: block;
	padding: 0 0 .5em 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
	}

h3 {
	display: block;
	padding: 2px 0 .25em 22px;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #b92c23;
	background: url(../images/img-warning.gif) left no-repeat;
	}

#container {
	font-size: 1.1em;
	width: 883px;
	padding: 0 0 3em 0;
	margin: 0;
	}

#close-win {background-color: #e5e5e5;text-align: right;padding: .5em;margin: 0;}
a.close {padding: 1px 20px 1px 0;background: url(../images/img-closeWin.gif) right no-repeat;}
.pad {padding:16px;margin:0}

#header {
	display: block;
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ccc;
	}

.logo {padding:0;margin:0;}

.legalPrintDisplay {display:none;}

.print-map{
	text-align:right; 
	}
a.print-map{
	padding: .25em 0 .25em 1.4em;
	background: url(../images/icon-print.gif) left no-repeat;
	}
	
/* ADDRESS COLUMN
------------------------------------------------------ */
#address-col {
	float: left;
	width: 250px;
	padding: 0;
	margin: 0 62px 0 0;
	}

.tab {
	float: left;
	width: 100%;
	line-height: normal;
	background-image: url(../images/tab_bkgrd.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
	margin: 0;
	}
.tab ul {margin:0;padding:0;list-style:none;}
.tab li {float:left;margin:0 0 0 .5em;padding:0;border-left:1px solid #ccc;}
.tab a {
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	font-size: .9em;
	color: #0a94d6;
	border-top: 1px solid #ccc;
	border-right :1px solid #ccc;
	}
.tab a:hover {text-decoration: underline;}
.tab .current a {color:#666;background-color:#fff;}

.address-container {
	clear: both;
	padding: 10px;
	margin: 0 0 10px 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fff;
	}

.HiddenAddress {display:none;}

#address-fields {padding: 0 0 1em 0;margin: 0;}
#address-fields dt {padding: 0 0 .25em 0;margin: 0;font-weight: bold;}
#address-fields dd {padding: 0 0 .25em 0;margin: 0;}
#address-fields dd input {width: 220px;}
#address-fields dl.state {padding:.25em 0em 0em 0em;float:left;width:145px;}
#address-fields dl.state dd input {width:120px;}
#address-fields dl.zip {padding:.25em 0 0 0;float:left;width:80px;text-align:right;}
#address-fields dl.zip dd input {width:50px;}

p.view-map {padding:0;margin:0 0 20px 0;text-align:right;}

#error {
	margin: -10px;
	padding: 10px;
	background: #ffedc7;
	}

#errorLL {
	margin: -10px;
	padding: 10px;
	background: #ffedc7;
	}

#tableGen {font-size:1em;width:224px;border-top:1px solid #ccc;border-left:1px solid #ccc;margin:0;}
#tableGen td {float:left;display:inline;border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:5px;margin:0;background-color:#fff;}
#tableGen td p {float:left;width:163px;padding:0;margin:0;}
#tableGen td img {float:right;margin-top:5px;width:49px;}

.note {font-size:.9em;color:#999;}

.external-links {padding:0;margin:0;}
.external-links dt {padding: 0 0 .25em 0;margin: 0;font-weight: bold;color: #f27d00;}
.external-links dd {padding: 0 0 .25em 0;margin: 0;}
.external-links dd a {padding-right: 15px;}



/* MAP COLUMN
------------------------------------------------------ */

.zoomA{color:#000000;text-decoration:none;}
.zoomA:visited {color:#000000;text-decoration:none;}
.zoomA:hover {text-decoration:none;}
#map-col {
	float: left;
	width: 538px;
	padding: 0;
	margin: 30px 0 0 0;
	}

.coverage-types {padding: 0 0 1em 0;margin:0 0 0 -8px;font-weight:bold;}
.coverage-types li {display:inline;padding:0 8px;border-right:1px solid #ccc;}
.coverage-types li.last {border-right:0px;}
.coverage-types li a.currentSelection {color:#f27d00;}

#map-container {
	position: relative;
	padding: 0;
	margin: 0 0 1em -46px;
	width: 584px;
	height: 460px;
	background: url(../images/bkgrd-map.gif) left top no-repeat #e4eff5;
	}

.accessible {display:none;}

#map-controls {
	position: absolute;
	top: 18px;
	left: 18px;
	padding: 0;
	margin: 0;
	}

.esriMapDiv
{
	visibility: hidden;
	position:absolute;
	padding:0;
	margin:0;
	width:541px;
	height:418px;
	left:3px;
	top:3px;	
}

.imageMapDiv
{
	position:absolute;
	cursor: pointer;
	left:3px;
	top:3px;
	
}
.mapBox
{
	left:0px;
	top:0px;
	padding:0;
	margin:0;
	width:541px;
	height:418px; 
	border:3px 
	double #fff;
}

.staticSlider
{
	position:absolute;
	left: 13px;
	top: 28px; 
}
#map-controls #mapImageContainer {background: #8dbad9;padding:0;margin:0;width:547px;height:424px;}
#map-controls #mapImageContainer img {padding:0;margin:0;border:3px double #fff;}

#Directionals {position:absolute;top:0px;left:0px;margin:0;padding:0;list-style:none;z-index:2;}
#Directionals li a {display:block;}
#NW, #N, #NE, #W, #E, #SW, #S, #SE {position: absolute;}
#NW, #NE, #SW, #SE {height: 26px;width: 26px;}
#NW, #NE {top: -15px;}
#NW, #SW {left: -15px;}
#NE, #SE {left: 536px;}
#SW, #SE {top: 413px;}
#N, #S {left: 11px;width: 500px;height: 20px;text-align: center;}
#N {top: -17px;}
#S {top: 421px;}
#W, #E {top: 11px;height: 367px;width: 21px;vertical-align: top;}
#W {left: -18px;}
#E {left: 544px;}



.legend {float:left;width:514px;padding:1em;margin:0;border:1px solid #ccc;}
.legend dl {padding:0;margin:0 0 1em 0;}
.legend dt {padding:0;margin:0;}
.legend dt img {float:left;padding:0;margin:0 0 .5em 0;}
.legend dd {padding:0;margin:0 0 .75em 0;}

.legend .one {float:left;width:215px;}
.legend .two {float:left;width:290px;}
.legend .two dl {padding:2px 0 0 0px;width:290px}
.legend .two p {padding:0;margin:0;}
.legend .one .radioLeft {float:left; padding-bottom:10px; }
.legend .one .textBlock {float:left; width:80%; padding-bottom:10px;}

p.h2 {font-weight:bold;color:#f27d00;padding:0 0 .25em 0;margin:0;}
p.input {padding:0px 0px 0px 0px;}
p.sub {padding:2px 0px 2px 20px;}

.legal {list-style-type:none;padding:0;margin:0;font-size:.9em;}
.legal li {padding:0 0 .25em 0;margin:0;}


a.nation {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/Nation_Img.gif) no-repeat scroll 0 0;
overflow:hidden;
overflow:hidden;
position:absolute;
}
