          
          .nav  {
			font: bold 9pt verdana, helvetica, arial, sans-serif;
			color: #009ddc;
			line-height: 15pt;
			text-decoration: none;
          }
          
          A:hover.nav  {
			font: bold 9pt verdana, helvetica, arial, sans-serif;
			color: 90A5C6;
			line-height: 15pt;
			text-decoration: underline;
          }
          
          .currentnav  {
			font: 8pt verdana, helvetica, arial, sans-serif;
			color: #4F4F4F;
			line-height: 15pt;
			text-decoration: none;
			margin-left: 9pt;
          }
          
          .subnav  {
			font: 8pt verdana, helvetica, arial, sans-serif;
			color: #009ddc;
			line-height: 15pt;
			text-decoration: none;
			margin-left: 3pt;
          }
          
          A:hover.subnav  {
			font: 8pt verdana, helvetica, arial, sans-serif;
			color: #90A5C6;
			line-height: 15pt;
			text-decoration: underline;
          }
		  

