/*STYLES FOR EVO*/
.dollar{color:#ff7200;font:24px Arial;}
.tbl{height:57px;background: url("../../media/att/2012/shop/wireless/promopages/dataplans/grad_table_colhdr60.gif") repeat-x scroll 0 0 transparent;}
.newcust{background: url("../../media/att/2012/shop/wireless/promopages/dataplans/grad_container_bottom.gif") repeat-x scroll center bottom transparent;}
.legal{font:bold 11px Arial;color:#666666;padding-top: 8px;}
.legalsub{font-size:11px;font-family:Arial;color:#666666;margin-top:-5px;}
.3box{font:18px Arial:color:#333333;margin-top:18px;padding-left: 150px;padding-top: 10px;}
.dpfont{font:12px Arial;color:#666666;}
.dpfont1{font:12px Arial;color:#333333;} 
.listyl{padding-top:8px;color:#666666;font-size:12px;}
.tdstyl{border-top:0;font:18px Arial;color:#333333;}
.step1{font:20px Arial;color:#333333;}
.tblstyle{border:0px solid white;margin-left:0px;width:100%;z-index:500;}
.tdsmart{font:18px Arial;border-left:0;color:#333333;margin-left:-55px;}
.hdtd{padding-left:0px;text-align:none;border-left-width:0px;}
.dash{#999999}
.dpfont2{font:12px Arial;color:#666666;line-height:20px;}
.sup{font:14px Arial;color:#666666;}
.sup1{font:14px Arial;color:#333333;}
.dpfont3{font:18px Arial;color:#666666;margin-left:-8px;}
.dotteddiv{padding-left:40px;padding-top: 20px; width:865px}
table{border:none;}
table tr td{border:none;height: 0;padding: 0;}
.tblstyle td{height:40px;padding: 10px 10px 10px 20px;border: 1px solid #E5E5E5;}
.tblstyle2clm{padding-left:0 !important;padding-right:0 !important;}
.tblstyle th{text-align:center;}
.thstyl{vertical-align:middle;border-top:0;font:18px Arial;color:#333333;border-right:1px solid #E5E5E5;}
.thfirst{border-left:0;border-top:0;border-right:1px solid #E5E5E5;}
/*.spn{margin-left:40px;}*/
.estbl{margin:-7px 0 0 13px;}
