/* homepage */ 
body.home {
	background: #efefef;
	}
#wrap {
	background: #fff;
	}
.container-wide {
	margin: 0 auto;
	max-width: 1280px;
	min-width: 995px;
	}
* html .container-wide {
	width: expression(document.body.clientWidth > 1280 ? "1280px" : true);
	}
#wrapInner {
	background-repeat: no-repeat;
	background-position: center 60px;
	min-width: 995px;
	}
.home #nav {
	visibility: hidden;
	}
.home #content {
	margin-top: 0;
	position: relative;
	}
.home .main-feature {
	min-height: 563px;
	height: 563px;
	}
.home .main-feature a {
	display: block;
	}
.home .main-feature img.spacer {
	display: block;
	width: 965px;
	height: 563px;
	}
.home #wrap #footer {
	margin-top: 0 !important;
	}

.home #contentOuter {
	width: 100%;
	height: 100%;
	}
.home #contentOuter.underlay {
	background: url(http://www.victoriassecret.com/themes/base/candice/graphics/x-alpha.png);
	}

/* SAS homepage */
.home-sas .main-feature img.spacer {
	float: left;
	width: 780px;
	}
.home-sas .sas-forms {
	float: left;
	width: 185px;
	overflow: hidden;
	}
.home-sas .sas-forms select {
	display: block;
	width: 135px;
	}
.home-sas .sas-forms .ui-select {
	float: left;
	margin: 0 10px 0 0;
	}
.home-sas form.sas-clearance .ui-select {
	margin-bottom: 5px;
	}
.home-sas .sas-clearance > .sas-field-last {
	float: left;
	}
html body > .home-sas form.sas-clearance .sas-field-last .ui-select {
	margin-bottom: 0;
	}
.home-sas .sas-forms button, .home-sas .sas-forms a.btn-26 {
	float: left;
	}
.home-sas .sas-forms button.btn-26,  .home-sas .sas-forms a.btn-26{
	padding-right: 6px;
	padding-left: 7px;
	}
.home-sas .sas-forms a.btn-26 {
	width: 21px;
}
* html .home-sas .sas-forms a.btn-26 {width: 40px;}
*+html .home-sas .sas-forms a.btn-26 {width: 27px;}
.home-sas-offer .main-feature {
	float: left;
	}
.home-sas-offer .main-feature img.spacer {
	width: 524px;
	}
.home-sas-offer .sas-forms {
	margin-right: 0;
	}
.home-sas-offer .sas-sec-story {
	float: right;
	width: 238px;
	overflow: hidden;
	}

/* video */
.home #videoContainer {
	background: url(http://www.victoriassecret.com/themes/base/candice/graphics/universal/misc/video-shadow.png) no-repeat;
	position: absolute;
	top: 0;
	left: 5px;
	padding: 10px;
	z-index: 1;
	}
.home #videoContainerInner {
	background: #fff;
	width: 965px;
	height: 543px;
	overflow: hidden;
	position: relative;
	}

div#holiday-dashboard 
{
	margin: 0 auto 20px;
	width: 964px;
}
