@charset "utf-8";
/* CSS Document */
/* Author: tmoussignac@nypost.com */

#top_story_def{
	width:650px;
	background-image:url(http://www.nypost.com/rw/SysConfig/WebPortal/nypost/blocks/top_story/images/top_story_def_back_wide.png) no-repeat center bottom;
}
#top_story_def .top_story_data{
	width:650px;
	height:310px;
	margin-bottom:0px;
}
#top_story_def img.top_story{
	width:650px;
	height:180px;
}
#top_story_def h1{
	width: 565px;
	line-height: 18px;
}
#top_story_def p{
	color: #000;
	width: auto;
}
#top_story_def .media_loader{
	width:495px;
	padding-left:90px;
}
#top_story_def .media_loader img.loading_gif{marin-left:292px}

#top_story_def .top_story_data_single{
}
#top_story_def .top_story_data_single p {
	margin-left:5px;
}
#top_story_wide{
	position: relative;
}
#top_story_wide .ad.wrap.sponsorship_logo{
  width: 150px;
  height: 30px;
  position: absolute;
  top: -32px;
  right: 0px;
}

#inner_rt #top_story_def h1, #inner_rt #top_story_def p{
  width: 340px;
}