/*
   Resets CSS merged from:
   http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   http://kurafire.net/log/archive/2005/07/26/starting-css-revisited
   
   Customization to preserve browser-default for outline on A, LABEL
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

a, label {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

p, ul, ol {margin: 0 0 1em;}
li, dd, blockquote {margin-left: 1.6em;}
button, input[type='submit'], input[type='image'] {cursor: pointer;cursor: hand;}
input, textarea, button {font-family:inherit;}
input, select, textarea {font-size: 100%;}
fieldset {border: none;}
sup, sub {
	font-size: smaller;
	position: relative;
	vertical-align: baseline;
}
sup {bottom: .4em;}
sub {top: .4em;}
strong, b {font-weight: bold;}
em, i {font-style: italic;}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
td {vertical-align: top;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}