#footer {
	z-index:1001;
}
#footer  #footerWrap {
	position:static;
}
#footer  #footerWrap .wrap {
	position:static;
}

#footer-international-global {
	margin-bottom:5px;
	position:relative;
	z-index:1001;
	cursor:pointer;
	background-image:url('../images/bbw-global-graphics-2012.png');
	background-repeat:no-repeat;
	background-position:-721px -483px;
}

#footer-international-global-flyout {
	height:368px;
	border:1px solid #ccc;
	margin-top:-355px;
	margin-left:-5px;
	padding:0px 29px;
	display:block;
	display:none;
	position:absolute;
	z-index:1000;
	background-color:#FFF;
}

#footer-international-global-li:hover #footer-international-global-flyout {
	display:block;
}

	#footer-international-global-flyout li {
		width:133px;
		height:16px;
		margin-top:9px;
		margin-bottom:2px;
		background-image:url('../images/gFoImg.jpg');
		background-repeat:no-repeat;
	}

	#footer-international-global-flyout li.footer-international-global-flyout-header {
		margin-top:25px;
		font-size:16px;
		color:#005699;
		background-image:none;
	}

	#footer-international-global-flyout-canada{
		background-position:0px -16px;
	}
	
	#footer-international-global-flyout-russia{
		background-position:0px -32px;
	}
	
	#footer-international-global-flyout-turkey{
		background-position:0px -48px;
	}
	
	#footer-international-global-flyout-bahrain{
		background-position:0px -64px;
	}
	
	#footer-international-global-flyout-jordan{
		background-position:0px -80px;
	}
	
	#footer-international-global-flyout-saudi-arabia{
		background-position:0px -96px;
	}
	
	#footer-international-global-flyout-kuwait{
		background-position:0px -112px;
	}
	
	#footer-international-global-flyout-united-arab-emirates{
		background-position:0px -128px;
	}