/******** Popup page styles ********/
.popup #page {width:674px; margin:0 auto; text-align:center; }
.popup #content {float:none;width:674px; position:relative;text-align:left; background: #fff url(../../img/popups/bg_content.gif) repeat-y top left;padding:0;overflow:visible;}
*:first-child+html .popup div#content { padding-bottom:0px; }
.popup #header {width:654px; height:71px; margin:0 10px 0 10px; background: #fff url(../../img/popups/bg_header_popup.jpg) top left no-repeat;float:none;}
.popup .inner, .dainty_popup .inner {float:none; width:auto; margin:5px 0 5px 32px;}
.popup #title {width:634px; padding:0 0 18px 20px; margin: 14px 10px 0 10px; background: #fff url(../../img/popups/bg_border.gif) bottom left repeat-x;}
.popup #title h3, .dainty_popup #title h3 {line-height:1em;color:#003B77;}
.popup .rightRail {background-position: 420px 0;}
.popup p, .popup form {float:left; width:100%; margin-bottom: 1em;/*background:#aea;*/}
.popup .col-1 p {margin-bottom: 3em;}

.dainty_popup { padding-bottom: 10px;}
.dainty_popup #page {width:400px; margin:0 auto; text-align:center; }
.dainty_popup #content {float:none;width:400px; position:relative;text-align:left; background: #fff url(../../img/popups/bg_dp_content.gif) repeat-y top left;padding:0;overflow:visible; padding-bottom: 0px !important;}
.dainty_popup #header {width:380px; height:10px !important; margin:0 0px 0 10px; background: #fff url(../../img/popups/bg_header_popup.jpg) top -30px 0px no-repeat;float:none; font-size: 1px;}
.dainty_popup .inner {width:340px; margin-bottom: 0; padding: 10px 0 15px 0; }
.dainty_popup #title {width:360px; padding:0 0 18px 20px; margin: 14px 10px 0 10px; background: #fff url(../../img/popups/bg_border.gif) bottom left repeat-x;}
.dainty_popup #bottom {width:400px; height:12px; background: transparent url(../../img/popups/bg_dp_bottom.gif) bottom left no-repeat; float: left; margin-left:0px;}

table.search-list { width: 500px; }
table.search-list tr td { vertical-align: top; padding-right: 10px;}
table.search-list tr td.first{width:155px !important; padding-top:5px;}
table.search-list tr td.last{width:345px !important; padding-top: 5px;}
table.search-list tr td:first-child { color: #777; white-space: nowrap;}table.search-list tr td:first-child { color: #777; white-space: nowrap;}

h4 {color:#1e6cb7; padding: 0 0 5px 0; margin: 0 20px 0 0;}
h5 {clear:left;width:100%;color:#000; font-weight:bold !important; font-size:12px;font-family: Verdana, Arial, Geneva, Helvetica, sans-serif !important;line-height:16px;}

a:link {color:#478D00; text-decoration:underline;}
a:visited {color:#478D00; text-decoration:underline;}
a:hover {color:#478D00; text-decoration:underline;}

.popup ul.features {width:654px; height:23px; margin:0 10px 0 10px; padding:3px 0 0 0; background-color:#0C3E74; list-style:none;}
.popup ul.features li {display:inline;}
.popup ul.features li a:link {margin:2px 15px 0 0; color:#D0DAE5; text-decoration:none;}
.popup ul.features li a:visited {margin:2px 15px 0 0; color:#D0DAE5; text-decoration:none;}
.popup ul.features li a:hover {margin:2px 15px 0 0; color:#D0DAE5; text-decoration:none;}
.popup ul.features span {float:right}

.popup .col-1 {float:left;width:168px; margin:15px 0 0 44px; padding:0 0 20px 0; font-size:10px; color:#8A8A8A;}
html>body.popup .col-1 {margin:15px 0 0 50px;}
.popup .col-2 {width:389px; margin:15px 0 0 0; padding:0 0 20px 0;}
.popup .col-3 {width:614px; margin:15px 0 0 0; padding:0 0 20px 0;}

.popup .footer {float:none;width:654px; height:18px; margin:0 10px 0 10px; padding:10px 0 0 0; background-color:#EFEFEF;}
p.middle {margin:1em 0;}

.popup ul.list {width:370px;}
.popup ul.list li {margin:0 0 0 15px;}
.popup ul.list li.title {margin-left:-15px; list-style-image:none;}

ul.contact-list {clear:both; margin-left: 20px;}
ul.contact-list label {float:left;width:75px; font-weight:bold; padding-bottom: 4px;}
ul.contact-list li  {clear: both;}

.popup ul.legal {list-style:none; padding:0 0 0 20px; color:#999999;}
.popup ul.legal li {display:inline; padding-left: 6px;border-left: 1px solid #999;}
.popup ul.legal li a:link {color:#999999; text-decoration:none;}
.popup ul.legal li a:visited {color:#999999; text-decoration:none;}
.popup ul.legal li a:hover {color:#999999; text-decoration:none;}
.popup ul.legal li.first {width:auto;padding:0 4px 0 0;margin:0;border-left: none}
html>body.popup ul.legal li.first {padding:0 6px 0 0;}

ul.feedback {float:right; list-style:none; margin-top:-13px; padding:0 20px 0 0;}
ul.feedback li {display:inline;}
ul.feedback li a:link {color:#999999; text-decoration:underline !important;}
ul.feedback li a:visited {color:#999999; text-decoration:underline !important;}
ul.feedback li a:hover {color:#999999; text-decoration:underline !important;}

.popup #bottom {width:674px; height:12px; background: transparent url(../../img/popups/bg_popup_bottom.gif) top left no-repeat; float: left; margin-left:0px;}

.popup fieldset {float:left;width:389px; border:none;margin-top: 1.5em;}
.popup fieldset legend label {width:389px;}
.popup ul.formList ul {width:389px;}
.popup ul.formList ul li.first {font-weight:bold;}
.popup ul.formList ul li {}

.popup ul.formList-search {float:left; width:387px; list-style:none;}
.popup ul.formList-search ul li.first {width:166px;}
.popup ul.formList-search li {float:left; display:inline;}

ul.formList-rightRail {float:none;list-style:none; padding:0;width:634px;clear:left;}
ul.formList-rightRail li {margin:0; padding:0 0 10px 0; display:inline;}
ul.formList-rightRail li.left {float:left; width:389px;}
ul.formList-rightRail li.right {float:left; width:172px; margin-left:50px; font-size:10px; color:#8A8A8A;}

.character-info {float:right; padding:0 17px 5px 0; font-size:9px;}
.submit-popup {float:left; padding:20px 0 0 120px;}
.submit-bluebook {float:left; padding:35px 0 35px 0;}
.phone-copy {float:left; width:389px; margin:0; padding-top:20px; clear:both;}

input.text {width:85px; padding:2px; border:1px solid #7F9DB9;}
textarea.text {width:260px; height:100px; border:1px solid #7F9DB9;}
input.text.long {width:185px;}
input.text.medium {width:150px;}
input.text.ext {width:30px;}
textarea.text.long {width:380px; height:100px; border:1px solid #7F9DB9;}
select.text {width:105px; border:1px solid #7F9DB9;}
select.text.long {width:155px; border:1px solid #7F9DB9;}
select.text.medium {width:90px; border:1px solid #7F9DB9;}
select.text.short {width:65px; border:1px solid #7F9DB9;}

form label {font-weight:bold; margin-right: 10px; line-height: 130%; padding-bottom: 10px;}
form label.none {font-weight:normal;}
form li.extraLabel {display:block;position:relative;}
form li.extraLabel label {font-weight:normal;font-size:10px;position:absolute;top:-20px;}
.legal-copy {float:right; width:270px; padding:10px 0 0 0; font-size:10px;}
.disclaimer {float:left; color:#999999;}

ul.right-railContainer {float:left; padding:0; margin:0; font-size:11px; list-style:none;}
ul.right-railContainer li {float:left; color:#000;}

ul.car-img li {float:none; clear: both;}

ul.car-info {float:left; width:180px; list-style:none;}
ul.car-info li {float:left; width:80px; padding:3px 0 3px 0; display:inline;}
ul.car-info li.first {float:left; width:100px; font-weight:bold; color:#000;}

.popup ol {padding-left:54px;}

table {float:left; width:603px; margin-top:17px; padding:0; color:#000;}
table tr.block {display:block;}
table tr.on {background-color:#e7e3e3;}
table td {margin:0; padding:3px 0 5px 3px;}
table td.header {width:253px; font-weight:bold;}

.btn-intelliChoice {float:left; width:100%;margin:0 0 10px 0;text-align:center;}
.btn-intelliChoice img {border:2px solid #0000CC;}

.notes {font-size:9px; padding-bottom:35px;}

ul.list {padding-top:10px;}
ul.list li.title {font-weight:bold; background:none; padding-bottom:10px;}

ul.short li {padding-bottom:5px;}
ul.medium li {padding-bottom:10px;}

ul.arrowContainer {float:left; width:500px; padding-bottom:37px;}
ul.arrowContainer li {float:left; width:175px; padding-right:25px;}
ul.arrowContainer li ul.arrow li {padding-bottom:10px;}
ul.arrowContainer li ul.arrow li a {text-decoration:underline !important;}

ol {float:left; margin:0; padding-bottom:10px;}
ol li {margin:0; padding-bottom:10px;}

ul.alphabetical {padding:0 0 10px 32px;}
ul.alphabetical li {padding-bottom:15px;}

ul.listContainer {float:left;}
ul.listContainer li {float:left; width:190px; display:inline;}
* html ul.listContainer li {width:160px;}

.carInspection-img {float:left; padding:0 0 41px 0;}

ul.search-list {float:left; list-style:none; padding:8px 0 0 36px;}
ul.search-list * {vertical-align:middle;}
ul.search-list li {float:left; clear:left; width:100%; padding:0 0 3px 0;}

ul.list-alerts {float:left; width:300px; list-style:none; margin-top:12px;}
ul.list-alerts li {display:inline;}
ul.list-alerts li.title {float:left; width:112px; font-weight:bold;}


/* Misc. */
.indent-notice {float:left; margin:0 0 20px 30px;}
.marginT20 {margin-top:20px;}
.popup ul.arrow {float:left; clear:left; margin-bottom:12px;}
.popup ul.arrow li {float:left; clear:left; width:160px; padding:5px 0;}
.popup ul.arrow li a {background-position:0 3px;}
.spacer {float:left; padding-bottom:34px;}
.emailFormat {float:left; height:83px; margin:0; padding:0;}

/* Error Message */
.error {color:#940000;}
.logo {}
.btn-print {padding-left:227px;}
h3.history {color:#65be2e; padding:21px 0 0 137px;}

/* button hover styles */
a.btn_print_report {width:135px; height:32px; background:transparent url(../../img/popups/btn_print_report.gif) no-repeat 0 0;}
a.btn_delete_alert {width:133px; height:32px; background:transparent url(../../img/common/btn_delete_alert.gif) no-repeat 0 0;}
a.btn_close_window {width:115px; height:32px; background:transparent url(../../img/popups/btn_close_window.gif) no-repeat 0 0;}
a.btn_transferred_car{width:168px;height:32px;background:transparent url(../../assets/P3ommLEcL3aA176V5fmW-Pl6jQMXDQgO/btn_transferred_car_page.gif) no-repeat 0 0}

.yellowContainer {float:left; width:400px; margin:0; padding:0; background-color:#ffffe4; border:1px solid #cdcdcd; padding-bottom: 15px; margin-bottom: 15px; }
div.yellowContainer div {margin:0 0 0 13px;}
html>body div.yellowContainer div {margin:0 0 0 27px;}

.remove_update h6 { padding-bottom: 10px;}
.remove_update li input {margin-top: 3px; margin-right: 2px; }

#updateHeader { padding-top: 15px; }
.required { text-transform: lowercase;}

ul.nameList { position: relative; top: 2px; left: 120px; }
ul.nameList li { padding-bottom: 0px; height: 14px;}
ul.nameList li.first { display: none; }

#loadingarea { text-align: center; width: 500px; margin: 50px;}
.purchaseList li input { margin-top: 0px; }

.features { position: relative; }
.footer a { text-decoration: underline !important; }
.features a { text-decoration: underline !important; }
.features li {position: absolute; right: 5px; top: 4px; width: 148px;}
.features img {margin-right:5px; float: left; margin-top: 5px;}

.search-list { width: 400px; margin: 0 30px;}
.search-list tr td { vertical-align: top; padding-right: 10px;}
.search-list tr td:first-child { color: #777; white-space: nowrap;}
