body {background-color:#e5e5e2; margin:0px; padding:0px; background-color:#e5e5e2; font-family:Verdana, Arial, Helvetica, Sans-serif; color:#666666;}

#syfy_site_wrapper {width:1010px; position:relative; background-repeat:no-repeat; text-align:left;   margin-left: auto ; margin-right: auto ;}


/* Global Header*/

#globalheader_container {background-image:url('http://www.syfy.com/global/images/background_header.jpg'); height:140px; width:1010px; position:relative; background-repeat:no-repeat; z-index:9998;}

#global_header_container {height:140px; width:1010px; position:relative; background-repeat:no-repeat; z-index:9998;}


#shows_button {position:absolute; left:467px; top:102px; width:70px; height:33px; background-image:url('http://www.syfy.com/global/images/shows_off.jpg');}

#shows_button:hover {background-image:url('http://www.syfy.com/global/images/shows_on.jpg');}

#global_header_ad_area {text-align:center; margin:auto; width:990px; height:auto; margin-top:5px; margin-bottom:10px; padding-top:5px; z-index:3; background-color:#ffffff;}

#global_header_ad {background-color:#ffffff; padding-top:5px; padding-bottom:5px; text-align:center; height:auto;}

#global_header_ad_opa_area {text-align:center; margin:auto; width:990px; height:auto; margin-top:5px; margin-bottom:10px; padding:12px 0 0 12px; z-index:3; background-color:#ffffff;}

#global_header_ad_opa {background-color:#ffffff; padding-top:5px; padding-bottom:5px; text-align:center; height:auto;}


#demodiv {position:absolute; top:136px; left:10px;}

.demo  {color:#000033; background-color:#cccccc; layer-background-color:#cccccc;
				position:absolute; top:100px; left:100px; width:480px;
				z-index:99;  visibility:hidden;}
.hide_button {visibility:hidden;}





/*Shows Menu Box - for additional styles see /global/xml/  */

#shows_box {position:absolute; top: 32px; left: -180px; width:713px; visibility:hidden; background-color:#ffffff; z-index:9999; font-size:11px;}

#button_shows {position:absolute; left:152px; top:110px; z-index:10000; }


/* HIDE TOP AD */

#hide_top_ad {}

/* Hides ad on shows button rollover */

#hide_ad_shows {width:70px; height:38px; position:absolute; top:-35px; left:406px; z-index:10009; background-image:url('http://syfy.com/global/images/header/shows.jpg'); background-repeat:no-repeat; background-position:top; }



/* Hidden Containers */

#tracking_container {width:1px; height:1px; position:absolute; left:-9999px; top:-9999px; visibility:hidden; overflow:hidden; z-index:1;}

#tracking_container_footer {width:1px; height:1px; position:absolute; left:-10023px; top:-10023px; visibility:hidden; overflow:hidden; z-index:1;}

#sifr_call {width:1px; height:1px; position:absolute; left:-9999px; top:-9999px; visibility:hidden; overflow:hidden; z-index:1;}




/* NOFLASH */


#noflash_header_shelf {margin-left:5px;}

#noflash_syfy_logo {float:left; dislay:inline; margin-left:5px;}

#noflash_header_links {list-style-type:none; float:right; margin-right:10px; margin-top:101px; padding-bottom:0px; margin-bottom:0px; padding-left:0px;}

#noflash_header_links li {float:left; padding:7px; background-color:#999; margin-left:6px; font-size:14px; color:#fff; }

#noflash_header_links li a:link {color:#fff; text-decoration:none;}
#noflash_header_links li a:visited {color:#fff; text-decoration:none;}
#noflash_header_links li a:active {color:#fff; text-decoration:none;}

#noflash_header_links li:hover {background-color:#330066; text-decoration:none; padding-bottom:11px; margin-top:-3px;}


.noflash_icons {float:right;}

#noflash_network_tagline

{

font-size: 11px;

font-family: Verdana,Arial,Helvetica;

text-align: right;

padding-right: 10px;

}

/* TOP SHOWS */


.list_container {position:relative; display:inline;}

#shows_dropdown_tagline {width:693px; height:33px; text-align:left; font-weight:bold; font-size:14px; margin:auto; color:#ffffff; position:absolute; top:375px; left:10px; font-family:Verdana, helvetica, sans-serif;}
#tagline {position:absolute; left:-16px; top:8px;}
.list_icon_yes {position:absolute; right:-22px; top:-3px;}

.list_icon_no {visibility:hidden; display:none;}

#shows_dropdown_banner {width:970px; height:33px; position:absolute; top:420px; left:10px;}


#top_shows_column1 {margin-left:14px;width:191px; float:left; font-family:Verdana, helvetica, sans-serif;}
#other_shows_column2 {float:left; width:173px; margin-left:10px; font-family:Verdana, helvetica, sans-serif;}
#other_shows_column3 {float:left; width:190px; margin-left:0px; font-family:Verdana, helvetica, sans-serif;}
#other_shows_column4 {float:left; width:190px; margin-left:0px; font-family:Verdana, helvetica, sans-serif;}
#other_shows_column5 {float:left; width:190px; margin-left:12px; font-family:Verdana, helvetica, sans-serif;}

.show_listings {list-style-type:none; font-size:11px; text-align:left; padding-left:0px;}
.show_listings li {padding:2px; height:1.5em;}
.show_listings_show_link  {display:inline-block;}





.show_listings a:link {text-decoration:none; color:#41145e; font-family:Verdana, helvetica, sans-serif;}
.show_listings a:visited {text-decoration:none; color:#41145e; font-family:Verdana, helvetica, sans-serif;}
.show_listings a:hover {text-decoration:none; color:#41145e; font-family:Verdana, helvetica, sans-serif;}
.show_listings a:active {text-decoration:none; color:#41145e; font-family:Verdana, helvetica, sans-serif;}



.greylink_yes a:link {text-decoration:none; color:#666666; font-family:Verdana, helvetica, sans-serif;}
.greylink_yes a:visited {text-decoration:none; color:#666666; font-family:Verdana, helvetica, sans-serif;}
.greylink_yes a:hover {text-decoration:none; color:#666666; font-family:Verdana, helvetica, sans-serif;}
.greylink_yes a:active {text-decoration:none; color:#666666; font-family:Verdana, helvetica, sans-serif;}


#top_shows_show {font-size:11px; font-family:Verdana, helvetica, sans-serif;}




.spacer_6 {height:3px;}

#title_top_shows {background-image:url('http://www.syfy.com/global/images/header/title_top_shows.jpg'); height:33px; width:378px; float:left; margin-left:0px;}

#title_other_shows {background-image:url('http://www.syfy.com/global/images/header/title_other_shows.jpg'); height:33px; width:386px; float:left; margin-left:5px;}

#title_online_originals {background-image:url('http://www.syfy.com/global/images/header/title_online_originals.jpg'); height:33px; width:214px; float:left; margin-left:5px;}


#global_menu_key {position:absolute; top:6px; left:0px; width:800px;}

#non_mobile {}

#mobile_topshows {}




#ipad_top_shows {display:none;}

 














.list_container {position:relative; display:inline;}

#shows_dropdown_tagline {width:693px; height:33px; text-align:left; font-weight:bold; font-size:14px; margin:auto; color:#ffffff; position:absolute; top:425px; left:10px; font-family:verdana, helvetica, sans-serif;}
#tagline {position:absolute; left:-16px; top:8px;}
.list_icon_yes {position:absolute; right:-22px; top:-4px;}

.list_icon_no {visibility:hidden; display:none;}


#other_shows_column4 {float:left; width:225px; margin-left:0px; font-family:Verdana, helvetica, sans-serif;}
#other_shows_column3 {margin-left:5px; padding-left:0px;}


.show_listings {list-style-type:none; font-size:11px; text-align:left; padding-left:0px;}
.show_listings li {padding:2px;}
.show_listings_show_link  {display:inline-block;}



.show_listings a:link {text-decoration:none; color:#41145e;}
.show_listings a:visited {text-decoration:none; color:#41145e;}
.show_listings a:hover {text-decoration:none; color:#41145e;}
.show_listings a:active {text-decoration:none; color:#41145e;}



.greylink_yes a:link {text-decoration:none; color:#666666;}
.greylink_yes a:visited {text-decoration:none; color:#666666;}
.greylink_yes a:hover {text-decoration:none; color:#666666;}
.greylink_yes a:active {text-decoration:none; color:#666666;}


#top_shows_show {font-size:11px;}




.spacer_6 {height:3px;}





#global_menu_key {position:absolute; top:-20px; left:0px;}





#other_shows_column4 {
    float: left;
    font-family: Verdana,helvetica,sans-serif;
    margin-left: -6px;
    width: 203px;
}


#other_shows_column5 {
    float: left;
    font-family: Verdana,helvetica,sans-serif;
    margin-left: 4px;
    width: 190px;
}