div#PromoCodeTip,
div#CvvExplanationTip,
div#PinTip,
div#SaveAddressTip,
div#CaptchaTip,
div#ShippingMethodsNotice,
div#ReserveWhatIsThis,
div#ReserveOnlineDetails,
div#ReserveWhyYourEmail
{
    display:none; 
    position:absolute;
    background-color:#ffa; 
    border:1px solid #cc9; 
    padding:8px; 
    -moz-box-shadow: 2px 2px 11px #666; 
    -webkit-box-shadow: 2px 2px 11px #666; 
}
div#PromoCodeTip p
{
    margin-bottom:10px;
}
div#PromoCodeTip p,
div#CvvExplanationTip p,
div#SaveAddressTip p,
div#ReserveWhatIsThis p,
div#ReserveOnlineDetails p,
div#ReserveWhyYourEmail p
{
    font-size:11px; 
    color:#808080;
}
div#PromoCodeTip,
div#CvvExplanationTip,
div#PinTip,
div#SaveAddressTip,
div#CaptchaTip,
div#ShippingMethodsNotice
{
	width:400px;
}

div#ReserveOnlineDetails,
div#ReserveWhatIsThis,
div#ReserveWhyYourEmail
{
	width:200px;
}
