.dd {
	display:inline-block !important;
	text-align:left;
	background-color:#fff;
	font-family:Arial, Sans;
	font-size:10px;
	overflow:right;
}
.dd .ddTitle {
	background:#E6E6E6;
	border:1px solid #c3c3c3;
	padding:3px 3px 3px 0px;
	/*margin:0px 0px 0px 0px !important;
	margin:0px 4px 0px 0px;*/
	text-indent:0;
	cursor:default;
	height:16px;
}


.dd .ddTitle span.textTitle {text-indent:1px; overflow:hidden; line-height:16px; padding:0px 0px 0px 3px;}
.dd .ddTitle span.textTitle img{text-align:left; padding:0px 0px 0px 3px;}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	border:2px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	padding-top:1px !important;
	padding-top:5px;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:5px 0 1px 3px;
	margin:4px 0 0 0 !important;
	margin:2px 0 0 0;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	height:17px !important;
	height:25px;
}
.dd .ddChild a:hover {
	background:#E6E6E6;
	color:#000000;
	/*height:14px!important;
	height:24px;*/
}
.dd .ddChild a img {
	border:0;
	#margin:0 3px 0 0;
	padding:0 3px 0 0;
	vertical-align:middle;
}
/*.dd .ddChild a.selected {
	background:#66CCFF;
*/	
}
.hidden {display:none;}
