/* General Styles - this css file is used throughout the entire site. 
The general.css file is referenced in nearly every html/aspx file in komando. 
If you alter any of the selectors below, please be advised that it may have far-reaching 
implications that will cause the rotation of the earth to slow down a little bit.
------------------------------------------------------------ */
@import url('form_with_ajax_errors.css');
@import url('fadeinbox.css');
@import url('sharefadein.css');
@import url('toolbox_right.css');
body {
	margin: 0;
	padding: 0;
	background: url(../images/footer-bg.gif) left top repeat; 
	}
.home_page {
	font-size: 12px;
	font-family: verdana, helvetica, sans-serif;
	color: #FFFFFF;
	line-height: 12px;
	}
h1.column-title {
	margin-bottom: 5px;
	padding: 0;
	font-family: georgia, helvetica, sans-serif;
	font-size: 24px;
	color: #282828;
	line-height: 26px;
	}	
td {
	font-size: 12px;
	font-family: verdana, helvetica, sans-serif;
	color: #282828;
	line-height: 18px;
	}
/* Sets background color of main content table of each page */
.content {
	background-color: #FFFFFF;
	}
/* Form Styles */
input.text-border {
	border: 1px solid #B5B5B5;
	font-family: verdana, helvetica, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	}
/* from tips.css archive-* */
td.t-rule {
	background-color: #E2E2E2;
	}
tr.t-listing {
	padding: 10px;
	background-color: #FFFFFF;
	}
	
span.t-subheader {
	font-size: 12px;
	font-family: georgia, helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
	}	
td.archive-rule {
	background-color: #E2E2E2;
	}
tr.premium-listing {
	padding: 10px;
	background-color: #DEF9FD;
	}
tr.archive-listing {
	padding: 10px;
	background-color: #FFFFFF;
	}	
/* from tips.css */
.hr1 {
	height: 1px;
	color: #AFAFAF;
	background: #AFAFAF;
	border: 0;
	}	
.t-footnote {
	font-style: italic;
	font-size: 9px;
	line-height: 14px;
	}	
.sponsored-text {
	font-size: 8px;
	color: #8E8881;
	}	
.column-author {
	font-size: 10px;
	color: #666666;
	}		
/* Premium Content
------------------------------------------------------------ */
#premium-bg {
	background: url(../images/s-premium-bg.jpg) left top repeat-x;
	background-color: #F6FDFE;
	}
#premium-left {
	background-color: #BEF4FB;
	}
#premium-right {
	background: url(../images/s-premium-right.gif) left top repeat-y;
	}
#premium-pic {
	margin: 31px 24px 20px 11px;
	}
h1#premium-title {
	font-size: 24px;
	font-family: georgia, helvetica, sans-serif;
	color: #282828;
	line-height: 28px;
	margin: 31px 10px 10px 30px;
	border: 0px solid red;
	}
p#premium-content {
	margin: 0 0 0 30px;
	padding: 0px 10px 20px 0;
	border: 0px solid red;
	}
div#premium-join {
	padding: 0 15px;
	text-align: left;
	width: 673px;
	}
p#premium-content a:link, p#premium-content a:active {
	color: #00798E;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	}
p#premium-content a:visited {
 	color: #00798E;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
 	}
p#premium-content a:hover {
	color: #00798E;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	}
/* Toolbox Bottom, Footnotes
------------------------------------------------------------ */
span#footer-footnote {
	font-style: italic;
	font-size: 9px;
	line-height: 14px;
	}
/* "Like What Your Reading" Sidebar Register Image & Link
------------------------------------------------------------ */
div#like-reading {
	margin-bottom: 8px;
	}
/* Right Column, Advertising Box
------------------------------------------------------------ */
#right-ad-title {
	font-size: 9px;
	color: #929292;
	}
#right-ads {
	width: 158px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	}
#right-ads-1 {
	width: 124px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 0px 4px 0px;	
	}
#right-ads-2 {
	width: 175px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	}
#right-ads-3 {
	width: 172px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 0px 4px 0px;	
	}	
#right-ads-4 {
	width: 140px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 0px 4px 0px;	
	}
#right-ads-5 {
	width: 468px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 4px 4px 4px;	
	}
	#right-ads-6{
	width: 300px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 4px 4px 4px;	
	}	
	#right-ads-7{
	width: 348px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 4px 4px 4px;	
	}
	#right-ads-8{
	width: 740px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 4px 4px 4px;	
	}
#right-ads-9 {
	width: 182px;
	border: 1px solid #929292;
	margin-bottom: 20px;
	padding: 4px 4px 4px 4px;	
	}
#right-ads #ie-fix {
	padding: 19px;
	}
#right-ads #ie-fix-1 {
	padding: 4px 4px 4px 4px;
	}
	
/*	Center Block Banner Ad
------------------------------------------------------------ */
span#advertising-banner 
{
	width:368px;
	text-align:center;	
	margin: 0px 0px 0px 0px;
}

/* Print Styles
------------------------------------------------------------ */
#printer-footer {
	clear: both;
	padding-top: 5px;
	padding-bottom: 1px;
	border-bottom: 1px solid #B9B9B9;
	min-width: 768px;
	}

#printer-footer ul {
	margin-top:10px;
	background-color: #E5E5E5;
	margin-left: 0px;
	padding: 2px 2px 2px 5px;
	font-family: verdana, helvetica, sans-serif;
	}

#printer-footer li {
	display:inline;
	padding-right: 4px;
	margin-right: 4px;
	}
/* Links
------------------------------------------------------------ */
/* General Site Links */
a:link, a:active {
	color: #0D8397;	/*was 169AB2*/
	text-decoration: underline; /*none*/
	font-size: 12px;
	}
a:visited {
 	color: #727272;	/* was 00798E */
	text-decoration: underline;
	font-size: 12px;
 	}
a:hover {
	color: #B01538;
	text-decoration: underline;
	font-size: 12px;
	}
/* links on the main page */	
.home_page a:link, .home_page a:active {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 13px;
	}	
.home_page a:visited {
 	color: #FFFFFF;	/* was 00798E */
	text-decoration: none;
	line-height: 13px;
 	}
.home_page a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 13px;
	}
/* links on the main page */	
a.home-news-link:link, a.home-news-link:active {
	color: #FFFFFF;
	text-decoration: none;
	line-height: 13px;
	}	
a.home-news-link:visited {
 	color: #FFFFFF;	/* was 00798E */
	text-decoration: none;
	line-height: 13px;
 	}
a.home-news-link:hover {
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 13px;
	}	

/* Header Navigation Links - Shop button */
a.main-nav-shop:link, a.main-nav:active {
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
	}
a.main-nav-shop:visited {
 	color: #000000;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
 	}
a.main-nav-shop:hover {
	color: #000000;
	text-decoration: underline;
	font-size: 11px;
	line-height: 13px;
	}

/* Header Navigation Links */
a.main-nav:link, a.main-nav:active {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
	}
a.main-nav:visited {
 	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
 	}
a.main-nav:hover {
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 11px;
	line-height: 13px;
	}
/* "Like What Your Reading?" Sidebar Register Link */
a.register-link:link, a.register-link:active {
	font-size: 11px;
	font-family: verdana, georgia, sans-serif;
	line-height: 15px;
	}
a.register-link:visited {
	font-size: 11px;
	font-family: verdana, georgia, sans-serif;
	line-height: 15px;
 	}
a.register-link:hover {
	font-size: 11px;
	font-family: verdana, georgia, sans-serif;
	line-height: 15px;
	}
/* Footer Links */
a.footer-links:link, a.footer-links:active {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	line-height: 16px;
	}
a.footer-links:visited {
 	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	line-height: 16px;
 	}
a.footer-links:hover {
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 11px;
	line-height: 16px;
	}
/* Icon Links, used in toolbox header links & toolbox footer links, sitewide */
a.icon-links:link, a.icon-links:active {
	font-size: 9px;
	font-family: verdana, georgia, sans-serif;
	line-height: 14px;
	}
a.icon-links:visited {
	font-size: 9px;
	font-family: verdana, georgia, sans-serif;
	line-height: 14px;
 	}
a.icon-links:hover {
	font-size: 9px;
	font-family: verdana, georgia, sans-serif;
	line-height: 14px;
	}
/* Print Links */
a.printfooter-links:link, a.printfooter-links:active {
	color: #000000;
	text-decoration: none;
	font-size: 10px;
	line-height: 16px;
	}
a.printfooter-links:visited {
 	color: #000000;
	text-decoration: none;
	font-size: 10px;
	line-height: 16px;
 	}
a.printfooter-links:hover {
	color: #000000;
	text-decoration: underline;
	font-size: 10px;
	line-height: 16px;
	}
/* Icon Key Explanation */
a.key-link:link, a.key-link:active {
	font-size: 11px;
	font-family: verdana, georgia, sans-serif;
	line-height: 14px;
	}
a.key-link:visited {
	font-size: 11px;
	font-family: verdana, georgia, sans-serif;
	line-height: 14px;
 	}
a.key-link:hover {
	font-size: 11px;
	font-family: verdana, georgia, sans-serif;
	line-height: 14px;
	}
/* Error Message Content
------------------------------------------------------------ */
td.error {
	font-size: 11px;
	font-family: verdana, helvetica, sans-serif;
	color: #FF0000;
	line-height: 11px;
	}
#error {
	font-size: 11px;
	font-family: verdana, helvetica, sans-serif;
	color: #FF0000;
	line-height: 11px;
	}

/* For MySpace Sample Page
------------------------------------------------------------ */
a.specialLink2:link { 	font-size: 16px; color: #3366FF; }
a.specialLink2:visited { 	font-size: 16px; color: #3366FF; }
a.specialLink2:hover { 	font-size: 16px; color: #3366FF; }

/* For ShareThis
------------------------------------------------------------ */
.sharethischicklets {
	text-align: right;
	margin-bottom: 0.7em;
	position: relative;
	top: -0.3em;
}

.manage-menu-description {
	font-size: 80%;
	color: #B01538;
	line-height: 1.5em;
	position: relative;
	top: -0.9em;
}

#ribbons {
	display: block;
	text-align: center;
}

#article_sharing_widget {
	overflow: hidden;
}
#find-it-fast-links td {
	vertical-align: top;
	line-height: 0;
}
#find-it-fast-links img {
	display: block;
}

#premium-content-already-member p {
	margin-top: 2em;
	margin-bottom: 2em;
	color: #c00;
	font-weight: bold;
	text-align: center;
}

#tips-archive td {
	line-height: 0;
}
.tip-title {
	line-height: 1em;
}