@charset "utf-8";

.newsheader .latestnews {background:url(../../_images/lang/en-us/frontpage/latestnews.png);}
.btn-agree {background-image:url(../../_images/lang/en-us/btn-agree.jpg);}
.btn-disagree {background-image:url(../../_images/lang/en-us/btn-disagree.jpg);}
a.dl_btn:link, a.dl_btn:active, a.dl_btn:visited  {background-image:url(../../_images/blizzcast/en-US/download_button.gif);}

/* Menu navigation */
.navigation .bar a {background:url(../../_images/lang/en-us/nav-bar.gif);}

/* SC2 Purchase Buttons */
.sc2 #purchase-buttons-all {display: block;}
.sc2 #purchase-buttons-kr {display: none;}
.sc2 #purchase-buttons-tw {display: none;}

/* HotS launch event */
.subheader .hots-launch { background: url("../../_images/company/events/heart-of-the-swarm-launch/header-en-us.jpg") no-repeat center top #0c0116; height: 460px; min-width: 1024px; }