body#GM_Corporate_Officers .title{
	margin: 10px auto 0;
	width: 900px;
}

#slideshow {
	margin:20px auto 0px;
	width:900px;
	height:210px;
	position:relative;
	border: 1px solid #fff;
}

#slideshow #slidesContainer {
  margin:0 auto;
  width:900px;
  height:210px;
  overflow:hidden;
  position:relative;
}
#slideshow #slidesContainer .slide {
  height:210px;
  margin:0 0 0 -180px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  position:absolute;
  cursor: pointer;
}
#leftControl, #rightControl{
	background:transparent url(../images/nav.png) no-repeat top left;
	position:absolute;
	top:8px;
	width:15px;
	height:17px;
	cursor:pointer;
}
#leftControl:hover{
	background-position:left top;
}
#rightControl:hover{
	background-position:right top;
}
#leftControl{
	top: 9px;
	left:10px;
	background-position:left bottom;
	z-index: 999;
}
#rightControl{
	top: 9px;
	right:40px;
	background-position:right bottom;
	z-index: 999;
}

/** 
 * Style rules for Demo page
 */
.slide {
	margin: 0px;
	padding: 0px;
	position: relative;
	left:0;
	z-index: 1;
	width: 180px;
}
.filmStripSliderWrapper{
	width: 550px;
	padding:10px 45px;
	height:12px;
	position:relative;
	margin: 10px auto 0;
	z-index: 9;
}
.filmStripSlider{
	height:12px;
	margin: 0px;
	left:0;
}
.panelText {
	background: url("../images/background1070.png") repeat scroll 0 0 transparent !important;
	height: 120px;
	margin-top: -140px;
	padding-bottom: 3px;
	padding-top: 3px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 15;
}
.fsBlurb {
	text-align: center;
	color: white !important;
	font-weight: bold;
	font-size: .85em !important;
	line-height: 1.2em;
}

.fsBlurb p {
	padding: 0;
	margin: 0;
}

.fsName {
	margin: 3px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	color: #00B1E9 !important;
	font-weight: bold;
	font-size: 1.1em;
}
div#filmStripSliderTab{
	background: url(../images/pointer.png) no-repeat scroll 0 0 transparent;
	height: 19px;
	margin-left: -7px;
	margin-top: -26px;
	width: 15px;
	position: relative;
	z-index: 9999;
}

.filmStripSliderTick {
	float: left;
	height:13px;
	border: 1px solid white;
}

#filmStripSliderTicks {
	position: absolute;
	top: 10px;			/*MOVES THE TICKS ON TOP OF THE SLIDER*/
	z-index:  9;
	margin: 0px auto;
	padding: 0px;
}
.acContainer{
	color: white !important;
	font-size: 0.85em !important;
	font-weight: bold;
	left: 45px;
	line-height: 1.3em;
	margin: 0;
	padding-left: 0;
	position: absolute;
	text-align: center;
	top: 80px;
	width: 100%;
}
body.peoplepage_summary div#slideshow .genBtn{
	padding: 4px 0 0;
}