
/* classes used for popup effects*/
.popup
{
	POSITION: absolute;  
	margin: -5px 2px 5px -2px !important;
	*margin: 0 !important;
	margin: 0px;
	z-index: 1000001;
	text-align: left;
}

.cbpopup
{
	POSITION: absolute;  
	margin: 0px;
	z-index: 1000001;
	text-align: left;
}

.defaultPopup
{
	BORDER: 3px solid #000064;
	visibility: hidden;
	padding:4px;
	background-color:#fff;
}

.cb_style .defaultPopup input { visibility: inherit !important; }

.cb_style .widePopup
{
	width: 384px; /* Firefox */
	*width: 380px; /* IE */
}

.cb_style .skinnyPopup
{
	width: 286px; /* Firefox */
	*width: 279px; /* IE */
}

.cb_style .close 
{
	float: right;
	border: none;
	height: 14px;
	width: 14px;
background: url(../../images/js/widgets/close.gif) no-repeat;
	cursor:pointer;
}

.shadowing 
{
	position:absolute;
	visibility:hidden;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#999999, direction=135, strength=4);
background: url(../../images/JS/Widgets/shadowAlpha.png) no-repeat bottom right ;
	*background: none;
	z-index: 1000000;
	text-align: left;
}

.shadow
{
	position:absolute;
	visibility:hidden;
background: url(../../images/JS/Widgets/shadowAlpha.png) no-repeat bottom right ;
	text-align: left;
}

.cb_style .pop_wrapper
{
	margin:8px;
	text-align: left;
    margin-top: 2px;
    font-size: 13px;
    line-height: 21px;
}

.cb_style .popheader
{
	margin-left:4px;
	margin-right:4px;
	text-align: left;
}	

.cb_style p.popheadertext
{
	line-height: 20px;
	margin:0px;
	padding: 0px;
	font-size:11px;
	text-align: left;
}	

.cb_style p.popheadertext img
{
	float:right;
	margin-top:3px;
}

.cb_style .intro {
	font-family: arial;
	font-size:18px;
	font-weight: 500;
	color: #000064;
}

#modal_background{
    z-index:99999;
    background:#c9d6f6;
    opacity:.6;
    filter:alpha(opacity=60);
    position:absolute;
    left:-2000px;
    top:0px;
}

/* END of popup classes*/


/* sweepstakes styles */
#cb.sweeps {background:#f60;text-align:center;}
#cb_sweepstakes {width:500px; background:#f60 url("http://cb01a.duodesign.com/JobSeeker/sweepstakes/images/bg_top.gif") 50% 45px no-repeat;font-size:111%;text-align:left;}

#cb_sweepstakes #closer {color:#8c240a;font-size:.8em;float:right;background:url(http://cb01a.duodesign.com/JobSeeker/sweepstakes/images/close.gif) right top no-repeat;margin:12px 9px 0 0;}
#cb_sweepstakes #closer a {color:#8c240a; margin-right:19px;}

#cb_sweepstakes #top img#sweepstakeslogo {float:left;margin:0px 0 0px 9px;}
#cb_sweepstakes #top {height:30px;padding:5px;}
#cb_sweepstakes #bottom {background:transparent url("http://cb01a.duodesign.com/JobSeeker/sweepstakes/images/bg_bottom.gif") top center no-repeat;height:200px;}
#cb_sweepstakes #bottom img{margin:10px 0 0 30px;}
#cb_sweepstakes #sweepsContent a {text-decoration:underline;color:#00f;}
#cb_sweepstakes #sweepsContent {color:#7e3b04;padding:1em;}
#cb_sweepstakes #sweepsContent p {margin:0 1.4em 1.4em;font-weight:bold;line-height:1.3em;}
#cb_sweepstakes #sweepsContent h1 {font:bold 21px Arial, Helvetica, Tahoma, Verdana, sans-serif;color:#000;margin:10px 0 0 0;padding:0;text-align:center;}
#cb_sweepstakes #bottom .note {margin:60px 0 30px 140px;}
#cb_sweepstakes #sweepsContent ul {list-style: none;color:#000}

#cb_sweepstakes #sweepsContent li {background:transparent url("http://cb01a.duodesign.com/JobSeeker/sweepstakes/images/bullet_star.gif")  no-repeat;list-style: none; padding: 0 0 1em 2em;margin:0 50px 0 0;}
#cb_sweepstakes #disclaimer {font: 10px/11px Verdana, Arial, Helvetica, sans-serif; color:white;padding:0 1em 1em;text-align:center; }
#cb_sweepstakes #disclaimer a {color:white;}

#cb_sweepstakes .note {
	font: 9px/10px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	font-style: italic;
	color: #666;
	margin: 0;
	}

/* end sweepstakes styles */



