div#outerEnrollDiv {
   position:absolute;
   top:25px;
   left:30%;
   width:500;
   height:500px;
   display:none;
   zIndex:300;
}

div#iFrameDivEnroll {
   position:absolute;
   top:0px;
   left:0px;
   width:500;
   height:500px;
   zIndex:300;
}

div#outerDiv {
   position:absolute;
   height:770;
   width:500;
   top:25px;
   left:25%;
   display:none;
   zIndex:300;
}

div#outerDivAuthSuccess {
   position:absolute;
   height:800;
   width:600;
   top:25px;
   left:25%;
   display:none;
   zIndex:300;
}


div#iFrameDiv {
   position: relative;
   width:400px;
   height:380px;
   display:none;
}

#iFrameId {
   position: relative;
   height:450px;
   width:380px;
   background:white;  
   frameborder:1;
}
/* CSS Document */
/* code in /gsi_presentation/gsi/global/vbv/css/popup.css */

/* This line as issues in firefox.  it causes the Search leteral to go left.  It can not cascade */
/* The margin specing must be applied to individual styles */

/*body { 
   text-align:center; 
   margin:auto; left top repeat-x; 
   font-family:Arial, Helvetica, sans-serif; color:#333333;
}*/
sup {font-size:10px;}
.floatLeft {float:left;}
.floatRight {float:right;}
#enrollmentBase div.clearFloat {clear:both; font-size:1%; line-height:0; height:0; overflow:visible;}
.marginTop13 {margin-top:13px;}
.leftText {text-align:left;}
.marginTop4 {margin-top:5px;}
.bothMargin5 {margin-bottom:5px;margin-top:5px}
.marginTop18 {margin-top:18px;}
.marginTop32 {margin-top:32px;}
.marginTop23 {margin-top:23px;}
.marginTop23 {margin-top:26px;}
.marginTB {margin:20px 0; zoom:0;}
.marginVEC {margin:5px 0;}

.marginLeft50 {margin-left:50px;}
.width382{width:375px;}
.text15{font-size:15px;}
.text14{font-size:14px;}
.text11{font-size:11px;}
.marginTop60 {margin-top:60px;}
.paddingTop20{padding-top:20px !important;}
.paddingTop5{padding-top:5px !important;}
.paddingTop30{padding-top:30px !important;}
.nobg {background:none !important;}
.padding53 {padding-top:53px !important;}

#topArea {
   width:420px; 
   overflow:hidden; 
   height:45px;
}

#topArea h4.logo {
   background:url(../vbv/images/popup_visaLogo.gif) no-repeat top left; 
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}


#topArea h4.mclogo {
   background:url(../vbv/images/popup_mastercardLogo.gif) no-repeat top left; 
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topAreaEnrollment h4.mclogo {
   background:url(../vbv/images/popup_mastercardLogo.gif) no-repeat top left; 
   left:175;
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topAreaSuccess h4.mclogo {
   background:url(../vbv/images/popup_mastercardLogo.gif) no-repeat top left; 
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topAreaFailure h4.mclogo {
   background:url(../vbv/images/popup_mastercardLogo.gif) no-repeat top left; 
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topArea a.closeTop {
   background:url(../vbv/images/pop_closeIcon.gif) no-repeat top right; 
   width:30px; 
   height:30px; 
   display:block; 
   text-indent:-10000em; 
   margin-top:10px;
   margin-right:10px;
}


#topAreaEnrollment {
   width:420px; 
   overflow:hidden; 
   height:45px;
}

#topAreaSuccess {
   width:420px; 
   overflow:hidden; 
   height:45px;
}


#topAreaEnrollment a.closeTop {
   background:url(../vbv/images/pop_closeIcon.gif) no-repeat top right; 
   width:30px; 
   height:30px; 
   display:block; 
   text-indent:-10000em; 
   margin-top:10px;
   margin-right:10px;
}

#sorryBase {
   background:url(../vbv/images/bg_PopupPayment_v01-sorry.png) no-repeat top left; 
   overflow:hidden; 
   height:400px; 
   top:0px; 
   left:0px;  
   padding:38px 48px; 
}

#topAreaEnrollment h4.logo {
   background:url(../vbv/images/popup_visaLogo.gif) no-repeat top left;
   position: absolute;
   left:185px;
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topAreaSuccess h4.logo {
   background:url(../vbv/images/popup_visaLogo.gif) no-repeat top left; 
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topAreaFailure h4.logo {
   background:url(../vbv/images/popup_visaLogo.gif) no-repeat top left; 
   margin-top:7px; 
   margin-left:7px;
   text-indent:-100000em; 
   height:30px; 
   width:65px;
}

#topAreaSuccess a.closeTop {
   background:url(../vbv/images/pop_closeIcon.gif) no-repeat top right; 
   width:30px; 
   height:30px; 
   display:block; 
   text-indent:-10000em; 
   margin-top:10px;
   margin-right:10px;
}

#topAreaFailure a.closeTop {
   background:url(../vbv/images/pop_closeIcon.gif) no-repeat top right; 
   width:30px; 
   height:30px; 
   display:block; 
   text-indent:-10000em; 
   margin-top:10px;
   margin-right:10px;
}

/* controls the authentication dialog base containing div */
#formBase {
/* change the background image for the dialog */
   background:url(../vbv/images/bg_PopupPayment_v01-form.png) no-repeat top left; 
   overflow:hidden; 
   height:770px; 
   position:relative; 
   top:0px; 
   left:0px; 
   padding:38px 41px; 
}

#successBase {
   background:url(../vbv/images/bg_PopupPayment_v01-success.png) no-repeat top left; 
   overflow:hidden; 
   height:400px; 
   position:relative; 
   top:0px; 
   left:0px; 
   padding:38px 41px; 
   width:420px;
}


/* controls size and position of the iFrame for the authentication dialog */
#authIFrame {
   height:400px;
   width:376px;
}

/* Enrollment dialog css */
#enrollmentBase {
   background:url(../vbv/images/bg_Enroll_dialog.png) no-repeat top left; 
   height:560px; 
   padding-top: 33px;
   padding-left: 41px;
   padding-right: 41px;
}

#enrollIFrame {
   height:435px;
   width:382px;
}


#popupContainer {
   border-style:none;
   padding:0 20px;
   position:relative;
   top:0px;
   zoom:0;
}

#popupContainerSuccess {
   padding:0 10px;
   position:relative;
   left:16;
   top:8;
}

#enrollPopupContainer {padding:0 20px;position:relative;top:0;}

/*thank you */
#popupContainer h1.thankyou {
   background:url(../vbv/images/imgThankyou.gif) center no-repeat; 
   text-indent:-10000em; 
   width:161px; 
   height:23px;
   vertical-align:middle;
   margin:0 auto;
}

#popupEnrollmentContainer h1.thankyou {
   background:url(../vbv/images/imgThankyou.gif) center no-repeat; 
   text-indent:-10000em; 
   width:161px; 
   height:23px;
   vertical-align:middle;
   margin:0 auto;
}

#popupContainer a.userDifferentCard {
   position:relative;
   left:10px;
   text-indent:-10000em; display:block; 
   width:191px; 
   height:29px; 
   background:url(../vbv/images/select_another_payment.gif) no-repeat top left;
}

#popupContainer a.userDifferentCard2 {
   position:relative;
   left:32px;
   text-indent:-10000em; display:block; 
   width:145px; 
   height:29px; 
   background:url(../vbv/images/btn_userDifferentCard.gif) no-repeat top left;
}

#popupContainerSuccess a.userDifferentCard3 {
   position:relative;
   left:15px;
   text-indent:-10000em; display:block; 
   width:191px; 
   height:29px; 
   background:url(../vbv/images/select_another_payment.gif) no-repeat top left;
}

#popupContainer h2.paymentSorry {
   background:url(../vbv/images/triangle.gif) left no-repeat; 
   text-indent:-10000em; 
   height:40px;
}

#popupContainerSuccess h2.paymentSorry {
   background:url(../vbv/images/triangle.gif) left no-repeat; 
   text-indent:-10000em; 
   height:40px;
}

#popupContainer h2.title {font-size:15px; font-weight:normal;}
#popupContainer p.normal {font-size:12px;}
#popupContainer p.bigger {font-size:15px; font-weight:bold;}
#popupContainer a.close {color:#044491; text-decoration:underline; font-size:13px; display:block;text-align:center;}
#popupContainerSuccess table {background: none; border: none;}
#popupContainerSuccess tr {border: none;}
#popupContainerSuccess td {border: none;}

#popupContainerSuccess h2.title {font-size:15px; font-weight:normal; background: transparent;}
#popupContainerSuccess p.normal {font-size:12px;}
#popupContainerSuccess p.bigger {font-size:15px; font-weight:bold;}
#popupContainerSuccess a.close {color:#044491; text-decoration:underline; font-size:13px; display:block;}

#popupEnrollmentContainer h2.title {font-size:15px; font-weight:normal;}
#popupEnrollmentContainer p.normal {font-size:12px;}
#popupEnrollmentContainer p.bigger {font-size:15px; font-weight:bold;}
#popupEnrollmentContainer a.close {color:#044491; text-decoration:underline; font-size:13px; display:block;text-align:center;}


/*sorry*/
#popupContainer h1.sorry {
   background:url(../vbv/images/triangle.gif) center no-repeat; 
   text-indent:-10000em; 
   width:227px 
   height:40px;
}

#popupEnrollmentContainer h1.sorry {
   background:url(../vbv/images/triangle.gif) center no-repeat; 
   text-indent:-10000em; 
   width:227px 
   height:40px;
}

#popupContainer .lineHorizontal {border-bottom:1px solid #dbdbdb; font-size:1%; height:1px; clear:both;margin-bottom:10px;}
#popupEnrollmentContainer .lineHorizontal {border-bottom:1px solid #dbdbdb; font-size:1%; height:1px; clear:both;}

/* payment sorry */
#popupContainer a.userDifferentCard {
   position:relative;
   left:10px;
   text-indent:-10000em; 
   display:block; 
   width:191px; 
   height:29px; 
   background:url(../vbv/images/select_another_payment.gif) no-repeat top left;
}
#popupContainer h1.paymentSorry {
   background:url(../vbv/images/triangle.gif) left no-repeat; 
   text-indent:-10000em; 
   width:227px height:40px;
}

#popupContainer h1.failureText {
   color:navy;
   vertical-align:text-bottom;
}

#popupContainerSuccess h1.failureText {
   color:navy;
   vertical-align:text-bottom;
}

/* payment successful */
#popupContainer h1.success {font-size:27px; color:#044491;}
#popupContainerSuccess h1.success {font-size:27px; color:#044491;float:left;}
#popupContainerSuccess h1 {background: none; text-indent: 0em; height: 34px; width:267px; color: #000; font-size: 26px; }
#popupContainerSuccess h2.success {font-size:27px; color:#044491; background: transparent;text-transform:capitalize;}

#popupContainer a.submitOrder {
   position: relative;
   left:90px;
   text-indent:-10000em; 
   display:block; 
   height:35px; 
   background:url(../vbv/images/btn_submitOrder.gif) no-repeat top left;
}
#popupContainerSuccess a.submitOrder {
   position: relative;
   left:90px;
   text-indent:-10000em; 
   display:block; 
   height:35px; 
   background:url(../vbv/images/return_to_checkout.gif) no-repeat top left;
}

#popupContainerSuccess h3 {
    font-size: 20px;
    color: #000;
}

/* Credit Card Enrolled */
#popupContainer h1.creditCardEnrolled {font-size:26px; color:#044491;}
#popupContainer h2.creditCardEnrolled {font-size:26px; color:#044491; background: transparent; text-transform: capitalize;}
#popupContainer .feed {border:1px solid #b1b1b1; background:#fff;width:377px;}

/* VBV Drwawer Close */
 
#bg_vbvDrawerClose {background:url(../vbv/images/bg_expandBody.gif) bottom left repeat-x #fff; overflow:hidden;display:block;zoom:0; padding: 0 0 0 10px;width: 100%;}
#bg_vbvDrawerClose h2 {font-size:17px; color:#044491; background: transparent; padding-left: 2px; padding-top: 5px;}
#bg_vbvDrawerClose a.close {background:url(../vbv/images/icon_close.gif) no-repeat top left; text-indent:-100000em; width:18px; height:17px; display:block;}
#bg_vbvDrawerClose a.open {background:url(../vbv/images/icon_open.gif) no-repeat top left; text-indent:-100000em; width:56px; height:17px; display:block;}
#bg_vbvDrawerClose p.small {font-size:11px; zoom:0;padding:5px 0 0 2px;}
#bg_vbvDrawerClose table {background: none;}
#bg_vbvDrawerClose tr {border: none;}
#bg_vbvDrawerClose p a.enrollToday {
   text-align:left; 
   background:url(../vbv/images/btn_enrollNnoThankx.gif) 
   top left no-repeat; 
   text-indent:-10000em; 
   width:132px; 
   height:32px; 
   display:block;
   margin-top:5px;
   margin-left:100px;
}
   
#bg_vbvDrawerClose p a.noThankx {
   text-align:left; background:url(../vbv/images/btn_enrollNnoThankx.gif) top right no-repeat; text-indent:-10000em; width:132px; 
   height:32px; 
   display:block;
   margin-top:5px;
   margin-right: 100px;
}

/*#bg_vbvDrawerClose div.visa {
   background:url(../vbv/images/verified_by_visa.gif) no-repeat center; 
   text-indent:-10000em; 
   width:231px; 
   height:61px;
}*/

/*
#bg_vbvDrawerClose div.mastercard {
   background:url(../vbv/images/mastercard_icon.gif) no-repeat center; 
   text-indent:-10000em; 
   width:231px; 
   height:96px;
}*/

#bg_vbvDrawerClose a.visa {
   background:url(../vbv/images/verified_by_visa.gif) no-repeat center; 
   text-indent:-10000em; 
   width:138px; 
   height:61px;
   margin-top: 5px;
}

#bg_vbvDrawerClose a.mastercard {
   background:url(../vbv/images/mastercard_icon.gif) no-repeat center; 
   text-indent:-10000em; 
   width:138px;
   height:96px;
   margin-top: -10px;
}

/* VBV Drwawer Open */
#bg_vbvDrawerOpen {
   background:url(../vbv/images/bg_expandBody.gif) bottom left repeat-x #e5e5e5; 
   position:relative;
   height:38px;
   padding:10px 26px; 
   overflow:hidden;
   display:none;
}

#bg_vbvDrawerOpen h2 {
   font-size:17px; 
   color:#044491;
   background: transparent;
}

#bg_vbvDrawerOpen a.open {
   background:url(../vbv/images/icon_open.gif) no-repeat top left; 
   text-indent:-100000em; 
   width:56px; 
   height:17px; 
   display:block;
}
