#VOX #mbp .item {
	padding: 0 0 9px 0;
	border-bottom: none;
}

#VOX #mbp h4	{
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #bbbbbb;
	font-weight: normal;
	margin: 0;
	padding: 0;
} 

#VOX #mbp h4 a { color: #bbbbbb; text-decoration: none; font-weight: normal; }
#VOX #mbp h4 a:hover {color: #aaaaaa; border-bottom: none; }


#VOX #mbp h2	{
	font-family: "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	line-height: 1.1em;
} 
#VOX #mbp h2 a { color: #000000; font-weight: normal; }

#VOX #MAJ 
{
	padding: 6px 0px 0px 0px;
	font-family: Georgia, serif;
	color: #50493c;
	font-size: 12px;
	line-height: 1.9em;
}
	
#VOX #MAJ .story h2	
{
	font-family: Georgia, serif;
	color: #50493c;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.3em;
	margin: 0;
} 

#VOX #MAJ a 			{ font-size: 18px; font-weight: normal; color: #333333; }
#VOX #MAJ a:link		{}
#VOX #MAJ a:visited	{}
#VOX #MAJ a:hover		{ color: #000000; border-bottom: 1px dotted #cccccc; }
#VOX #MAJ a:active	{}
