.swa-component-overlay{border:2px solid #5963DD;display:none;position:absolute;width:218px;z-index:150;background-color:white;}
.swa-component-overlay .article{background-color:white;float:left;padding:4px 10px 6px;text-align:justify;}
.swa-component-overlay .heading{background-color:#5963DD;color:white;overflow:hidden;}
.swa-component-overlay .heading-text{float:left;font-size:12px;font-weight:bold;overflow:hidden;padding:3px 2px;width:162px;}
.swa-component-overlay.large{width:378px;}
.swa-component-overlay.large .heading{width:378px;}
.swa-component-overlay.large .heading-text{width:320px;}
.swa-component-overlay.medium{width:298px;}
.swa-component-overlay.medium .heading{width:298px;}
.swa-component-overlay.medium .heading-text{width:240px;}
.swa-component-overlay.extra-large{width:458px;}
.swa-component-overlay.extra-large .heading{width:458px;}
.swa-component-overlay.extra-large .heading-text{width:400px;}
.swa-component-overlay .overlay-close{float:right;cursor:pointer;width:52px;}
.swa-component-overlay .overlay-close-text{float:left;font:11px Arial;padding:3px 2px;width:29px;}
.overlay-pointer{display:none;z-index:150;}
.overlay-standalone-container{border:1px solid #ccc;margin-top:10px;}
.overlay-standalone-container .article{background-color:white;font-size:12px;padding:10px;}
.overlay-standalone-container .heading{background-color:#d8d8d8;font-size:13px;font-weight:bold;padding:10px;}
.overlay-standalone-container .help-title{background-color:#aaa;border-bottom:2px solid #aaa;font-size:14px;font-weight:bold;padding:5px;}