@charset "utf-8";
/* CSS Document */

/* recently reviewed */
.recently-reviewed-wrap {
    margin-top:30px;
    padding:0 10px 12px 10px;
    width: 500px;
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #C2C2C2;
}
.product-make-model a {
    font-size:15px;
    font-weight:bold;
}
.product-make-model {
    font-size:15px;
    line-height:17px;
    margin-bottom:10px;
}
.recently-reviewed-wrap h2 {
    font-size:20px;
    font-weight:bold;
    line-height:23px;
    margin:12px 10px 10px 0;
}
.recently-reviewed-wrap .featured_video_header {
    margin: -3px 0 9px 0;
    padding: 0;
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #091c30;
}
.recently-reviewed-wrap .featured_video_header .tested {
    color: #999;
}
.recently-reviewed-wrap .left {
    width: 240px;
    margin: 0 14px 0 0;
    padding: 0;
    float: left;
}
.recently-reviewed-wrap .left img {
    border: 1px solid #C2C2C2;
}
.recently-reviewed-wrap .left .video_blurb {
    width: 240px;
    margin: 6px 0 0 0;
    float: left;
    font: normal 11px/14px Arial, Helvetica, sans-serif;
}
.recently-reviewed-wrap .left .video_blurb .video {
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #666;
}
.recently-reviewed-wrap .right {
    width: 238px;
    margin: 0;
    padding: 0;
    float: left;
    font: normal 11px/14px Arial, Helvetica, sans-serif;
}
.recently-reviewed-wrap .right .text {
    width: 250px;
    margin: -3px 0 17px 0;
    padding: 0;
    float: left;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
}
.recently-reviewed-wrap .right .linkbox {
    margin: 0;
    padding: 0 12px 6px 0;
    float: left;
    clear: both;
    width: 216px;
}
.recently-reviewed-wrap .right .linkbox .header {
    font: bold 12px/18px Arial, Helvetica, sans-serif;
    color: #000;
}
.recently-reviewed-wrap .right .linkbox dl {
    margin: 3px 0 0 0;
    padding: 0;
    float: left;
    clear: both;
    width: 98px;
    font: normal 11px/14px Arial, Helvetica, sans-serif;
    color: #000;
}
.recently-reviewed-wrap .right .linkbox dl dd {
    margin: 0 0 4px 0;
    padding: 0 0 0 0;
    width: 175px;
    font-size:12px;
}
.recently-reviewed-wrap .right .linkbox dl dd.learn-more {
    background: url(../../../../../cro/resources/rd07/images/cro_homenews_arrows.gif) no-repeat 1px 5px;
    padding-left: 12px;
    width: 175px;
}
.recently-reviewed-wrap .right .linkbox dl dd.learn-more a:link {
    font-weight: bold;
}
.recently-reviewed-wrap .right .linkbox dl dd.learn-more a:visited {
    font-weight: bold;
}
.recently-reviewed-wrap .right .linkbox dl dd.learn-more a:hover {
    font-weight: bold;
}
.recently-reviewed-wrap .right .linkbox dl dd.learn-more a:active {
    font-weight: bold;
}
.recently-reviewed-wrap .right .linkbox dl.second {
    width: 100px;
    margin: 3px 0 0 0;
    float: left;
    clear: none;
}
.recently-reviewed-wrap .right .linkbox a:link {
    color: #176fcc;
    text-decoration: none;
}
.recently-reviewed-wrap .right .linkbox a:visited {
    color: #176fcc;
    text-decoration: none;
}
.recently-reviewed-wrap .right .linkbox a:hover {
    color: #176fcc;
    text-decoration: underline;
}
.recently-reviewed-wrap .right .linkbox .next a:active {
    color: #176fcc;
    text-decoration: underline;
}

/*slider area*/
#featured_slider_area_top {
    width: 518px;
    height: 1px;
    background: #fff;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    border-left: 1px solid #bfcad3;
    border-right: 1px solid #bfcad3;
    overflow: hidden;
}
#featured_slider_area {
    width: 522px;
    background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px solid #c2c2c2;
    border-top: 0 none;
    border-right: none;
    border-left: none;
    margin: 0 0 30px 0;
    padding:0 0 0 0;
    float: left;
    clear: both;
    overflow: hidden;
}
#featured_slider_area dl {
    margin: 0;
    padding: 0;
    font: normal 11px Arial, Helvetica, sans-serif;
    list-style: none;
}
#featured_slider_area dl dd {
    margin:10px 17px 0 0;
    padding: 0;
    font: normal 11px Arial, Helvetica, sans-serif;
    float: left;
    clear: none;
    text-align: center;
    width: 97px;
    font-weight: bold;
    color: #666666;
}
#featured_slider_area dl dd.arrow {
    width: 21px;
    height: 126px;
    margin: 0 17px 0 0;
    overflow: hidden;
}
#featured_slider_area dl dd.arrow2 {
    width: 22px;
    height: 126px;
    overflow: hidden;
    margin: 0 0 0 1px;
}
#featured_slider_area dl a:link {
    color: #000;
    text-decoration: none;
    font-weight:bold;
}
#featured_slider_area dl a:visited {
    color: #000;
    text-decoration: none;
}
#featured_slider_area dl a:hover {
    color: #000;
    text-decoration: none;
}
#featured_slider_area dl a:active {
    color: #000;
    text-decoration: none;
}
#featured_slider_area dl dd img {
    margin: 0;
    border: none;
}
#featured_slider_area dl dd br {
    line-height: 0;
}
#featured_slider_area dl a.slider:link {
    border: 1px solid #C2C2C2;
    margin: 0 0 3px 0;
    display: block;
    height:69px;
}
#featured_slider_area dl a.slider:visited {
    border: 1px solid #b8c8d8;
    margin: 0 0 3px 0;
    display: block;
    height:69px;
}
#featured_slider_area dl a.slider:hover {
    border: 1px solid #000;
    margin: 0 0 3px 0;
    display: block;
    height:69px;
}
#featured_slider_area dl a.slider:active {
    border: 1px solid #000;
    margin: 0 0 3px 0;
    display: block;
    height:69px;
}
#featured_slider_area dl dd.arrow img, #featured_slider_area dl dd.arrow2 img {
    border: 0;
}

#featured_slider_area dl dd.arrow:hover img{
    margin-top: -126px;
}
#featured_slider_area dl dd.arrow2:hover img {
    margin-top: -126px;
}


/* Synopsis */
.upper-title {
    color: #666666;
    margin: 0;
    padding: 0;
}
.synopsis-topic-links {
    font: bold 15px/20px Arial,Helvetica,sans-serif;
    margin: 6px 0 0;
    text-decoration: none;
}
.carsLandingUpsell .synopsis-topic-links {
    padding: 5px 0 0 0;
    line-height: 18px;
}


/* News */
.news-wrap {
    margin:0 0 30px 0;
}
.news-content {
    margin:0 0 20px 0;
    border-bottom:1px solid #BFCAD3;
    padding-bottom:10px;
    font-size:12px;
    line-height:16px;
}
.news-content h3 a {
    text-decoration:none;
    *display:inline;
    *padding:1px;
    color:#000000;
    font-size:15px;
    font-weight:bold;
    margin:0;
    line-height:19px;
}
.news-content h3 a:hover {
    *display:inline;
    *padding:1px;
    text-decoration:none;
    background-color:#C3C9CF;
    color:#000000;
    font-size:15px;
    font-weight:bold;
    margin:0;
}
.news-wrap div:nth-last-child(2) {
    margin-bottom:12px;
}
.news-wrap h2 {
    font-size:20px;
    font-weight:bold;
    line-height:23px;
    margin:30px 0 15px 0;
}
.news-wrap h3 {
    font-size:15px;
    font-weight:bold;
    line-height:17px;
    margin: 0;
}
.news-wrap .product-image {
    float:left;
    border:1px solid #BFCAD3;
    margin:0 13px 5px 0;
    width: 120px;
    height: 88px;
}
.news-wrap .more-news {
    font-size:15px;
    font-weight:bold;
}
.news-wrap .copy {
    width: 200px;
    float: left;
}
.synopsis .news-wrap .no-margin-heading{
    margin: 0px 0 15px 0;
}
.synopsis .news-wrap .news-content{
    border-bottom: 3px solid #BFCAD3;
}
.marketingRightRail {
    margin-left:6px;
}
.news-content .news-row{
    display:table-row;
}
.news-content .news-row .news-table{
    display:table-cell;
    vertical-align: top;
}

/* connect */
.connect-small {
    font-size:12px;
    font-weight:normal;
    line-height:16px;
}
.topics .hr, .connect-small .hr, .franchise-list .hr {
    border-bottom-color: #BFCAD3;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin:30px 0 20px 0;
}
.connect-small h2 {
    margin-bottom:10px;
}
.connect-small h3 {
    font-size:15px;
    line-height:17px;
    font-weight:bold;
    margin:20px 0 4px 0;
}
.social-icons img,
.social-media img {
    margin:3px 3px 0 0;
}
.breadcrumb a:link, .breadcrumb a:visited {
    color:#666666;
}
/* find ratings */
.find-ratings-wrap{
    background-color:#f8f8f8;
    border:1px solid #c2c2c2;
    padding:11px;
}
.find-ratings-wrap h2 {
    margin:2px 1px 5px 1px;
    font-size:20px;
}
.find-ratings-wrap h2 img{
    margin-top:4px;
}
.find-ratings-wrap a {
    font-size:12px;
    font-weight:bold;
}
.find-ratings-wrap .find-ratings-button-wrap{
    border-top:1px solid #C2C2C2;
    margin:20px -11px 0 -11px;
    padding:0 10px 0 10px;
}
.find-ratings-wrap .ratings-button, .find-ratings-wrap .cars-ratings-button {
    background-color:#e8e7e7;
    padding:11px;
    margin-top:12px;
    border:1px solid #e8e7e7;
}
.find-ratings-wrap .ratings-links {
    line-height:16px;
}
.find-ratings-wrap .ratings-button a, .find-ratings-wrap .cars-ratings-button a {
    color:#000000;
    font-weight:bold;
}
.find-ratings-wrap a.arrow {
    color:#000000;
    background:url(images/arrow_on.gif) right no-repeat;
    padding-right:12px;
}
.find-ratings-wrap h2.wide {
    margin:0 1px 10px 1px;
    font-size:18px;
}
.find-ratings-wrap .ratings-image{
    text-align:center;
    float:left;
}
.find-ratings-wrap .ratings-image a{
    font-weight:normal;
}
.find-ratings-wrap .ratings-content{
    float:left;
    padding:20px;
}
.ratings-content h2 {
    font-size:15px;
    line-height:10px;
}
.ratings-content{
    font-size:12px;
}
.find-ratings-selector-wrap {
    border-top:1px solid #C2C2C2;
    border-bottom:1px solid #C2C2C2;
    margin:20px -11px 10px -11px;
    padding:18px 10px 18px 10px;
}
.find-ratings-selector-wrap .center-align{
    display:table;
    margin:0 auto;
    width:135px;
}
.find-ratings-selector-wrap .ratings-form{
    margin-bottom:10px;
}
.find-ratings-selector-wrap .ratings-form select{
    width:140px;
    margin-bottom:10px;
}
.find-ratings-selector-wrap .ratings-form label{
    width:36px;
    display:inline-block;
}
.slideshow-wrap {
    position:relative;
    margin-bottom:30px;
}
.slideshow-wrap {
    position:relative;
}
.slideshow-wrap .slideshow-content{
    position:absolute;
    top:0;
    left: 12px;
}
.slideshow-wrap .slideshow-content h2 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    width: 355px;
}
.slideshow-wrap .slideshow-content .paragraph {
    line-height: 16px;
    margin-bottom: 12px;
    width: 270px;
}
ul.slideshow-menu{
    border:1px solid #BFCAD3;
    display:block;
    padding:4px 0;
    height:30px;
    background-color:#F8F8F8;
}
ul.slideshow-menu li{
    border-right:1px solid #BFCAD3;
    display:block;
    float:left;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    width:30%;
    height:100%;
    vertical-align:middle;
    line-height:30px;
    color:#666666;
    cursor:pointer;
    border-left: 1px solid #FFFFFF;
}
ul.slideshow-menu li:last-of-type{
    border-right:none;
    width:26%;
}

.related-information li a{
    color:#666666;
}
.small-ratings-wrap{
    float:left;
    width:140px;
    margin:0 20px 20px 0;
}
#articles-content .largeRatingsBox .find-ratings-wrap {
    float:none;
    width:auto;
    margin:0;
}
.small-ratings-wrap .find-ratings-wrap h2{
    font-size:18px;
    margin-bottom: 10px
}
.small-ratings-wrap .find-ratings-wrap{
    margin-bottom:0;
}

.highlight {
    clear: both;
    color: #ec1c24;
    float: none;
    font: bold 24px/27px Arial, Helvetica, sans-serif;
    margin: 0 0 15px;
    padding: 0;
}
.price-cars-ad {
    border-bottom: 1px solid #BFCAD3;
    font: 12px/16px Arial,Helvetica,sans-serif;
    margin: 0 0 20px 0;
    padding: 0pt;
}
.price-cars-ad h3 {
    font: bold 20px/23px Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
}
.price-cars-ad .bottom {
    background-color: #F8F8F8;
    margin: 0pt;
    padding: 0px 0pt 18px 0px;
    width: 300px;
}
.price-cars-ad .bottom .bottom-text {
    padding: 10px 0 0 10px;
}
.price-cars-ad .bottom .bottom-text .stay-informed {
    font: bold 15px/18px Arial, Helvetica, sans-serif;
}
.price-cars-ad .list {
    margin: 0;
    padding: 0 0 0 0;
}
.price-cars-ad ul.list {
    margin: 3px 0 0 0;
    padding: 0px;
}
.price-cars-ad ul.list a:link {
    color: #000000;
    text-decoration: none;
}
.price-cars-ad ul.list a:visited {
    color: #000000;
    text-decoration: none;
}
.price-cars-ad ul.list a:hover {
    background-color: #C3C9CF;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.price-cars-ad ul.list a:active {
    text-decoration: underline;
}
.price-cars-ad ul.list li {
    background: url(images/bullet_home_recalls.gif) no-repeat scroll 0 3px transparent;
    font: bold 12px Arial, Helvetica, sans-serif;
    line-height: 16px;
    margin: 0;
    padding: 1px 0 5px 14px;
    list-style-type: none;
}
.price-cars-ad .learn-more {
    margin: 6px 0 0 0;
    padding: 0 0 0px 0;
    clear: all;
    position: relative;
    overflow:hidden;
}
.price-cars-ad .learn-more .button {
    float: left;
}
.price-cars-ad .learn-more .price-report-link {
    float: left;
    padding: 5px 0 0 30px;
}

.price-cars-ad .learn-more .left-side-link {
    float: left;
    padding-top: 5px;
}

.behind-ratings-wrap ul{
    padding: 0px;
}

.find-ratings-wrap .ratings-links{
    margin-top:13px;
    margin-bottom:10px;
    float:none;
}

.find-ratings-wrap .ratings-button a, .find-ratings-wrap .cars-ratings-button a:hover {
    text-decoration:none;
}
.find-ratings-wrap .cars-ratings-button img.button {
    display:block;
    margin:0 auto;
    float:left;
    margin-right:10px;
}
.find-ratings-wrap .hr {
    border-bottom-color: #BFCAD3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: both;
    margin:20px -10px;
}
#find_car_ratings_box h3 {
    font-size: 14px;
    margin: 0 1px 10px;
}
.find-ratings-form label {
    display: inline-block;
    font: bold 14px/18px Arial,Helvetica,sans-serif;
    text-align: left;
    width: 46px;
}
.find-ratings-form select {
    font: 12px/14px Arial,Helvetica,sans-serif;
    margin: 1px 0px 10px;
    width: 125px;
}
.find-ratings-form select.new-used {
    margin: 0px 0px 8px 50px;
    width: auto;
}
.find-ratings-wrap .makeModelBtn {
    float:right;
    margin-right:24px;
}
.find-ratings-wrap .ratings-button{
    margin:0 auto;
    text-align:center;
}
.find-ratings-wrap .ratings-button img.button {
    display:block;
    margin:0 auto;
    width:75px;
}
.find-ratings-wrap .ratings-button div.button_wrap {
    height:54px;
    overflow:hidden;
    float:left;
    margin: 0 6px 0px 0px;
}
.small-ratings-wrap .find-ratings-wrap .ratings-button img.button {
    margin:0 auto;
    width:80px;
}

.find-ratings-wrap .icon-lock{
    margin:0 0 0 -6px;
}

.find-ratings-container .blobs {
    height: 39px;
}
.find-ratings-container .find-ratings-form select.new-used {
    margin: 0 0 8px 50px;
    width: auto;
}
.find-ratings-container .find-ratings-form select {
    float: left;
    font: normal 12px/14px Arial, Helvetica, sans-serif;
    margin: 1px 24px 10px 0;
    width: 125px;
}
.find-ratings-container .find-ratings-form label {
    clear: left;
    float: left;
    font: bold 14px/18px Arial, Helvetica, sans-serif;
    text-align: left;
    width: 50px;
}

.horizontal-rule {
    border-bottom: 3px solid #000;
    margin: 20px 0 16px;
}

.find-ratings-container .find-ratings-form select {
    float: left;
    font: 12px/14px Arial,Helvetica,sans-serif;
    margin: 1px 24px 10px 0px;
    width: 125px;
}

.find-ratings-container .find-ratings-form select.new-used {
    margin: 0px 0px 8px 50px;
    width: auto;
}

.find-ratings-container .blobs {
    height: 39px;
}

.attention{
    color:#EC1C24;
}
.largeRatingsBox .find-ratings-wrap .ratings-section {
    display:table-row;
}
.largeRatingsBox .find-ratings-wrap .ratings-content, .largeRatingsBox .find-ratings-wrap .ratings-links, .largeRatingsBox .find-ratings-wrap .ratings-image {
    display: table-cell;
    float: none;
    margin: 0px;
    padding: 0px;
    vertical-align:top;
}
.largeRatingsBox .find-ratings-wrap .ratings-image {
    width: 100px;
}
.largeRatingsBox .find-ratings-wrap .ratings-content {
    width: 100%;
    padding-left:10px;
}
.largeRatingsBox .find-ratings-wrap .ratings-links {
    min-width: 230px;
    padding-left:10px;
}
.find-ratings-wrap .ratings-button strong{
    display:block;
    color:black;
    margin-top:15px;
    float:right;
    width:80px;
    text-align:left;
}
.buyingGuide .small-ratings-wrap .find-ratings-wrap .ratings-button strong {
    float:none;
    margin:0 auto;
    width:auto;
}
.buyingGuide .small-ratings-wrap .find-ratings-wrap .ratings-button div.button_wrap {
    float:none;
    margin:0 auto;
}
.community-wrap .icon-lock {
    margin: 0px 0px 0px -5px;
}
.largeRatingsBox .ratings-section .ratings-image {
    position:static;
}
.find-ratings-wrap .ratings-links p{
    line-height:16px;
    font-size:12px;
}
.smallRatingsBox .ratings-box-links {
    margin-left:0;
}
#featured_slider_area #FEATURED_RIGHT{
    float:right;
}
.news-wrap .synopsis-news-copy {
    display:inline;
    float:none;
    width:auto;
    padding-right:6px;
}
.news-wrap .synopsis-news-copy p{
    display:inline;
}