@charset "utf-8";body{font-family:Verdana,Geneva,sans-serif}
a,a:visited{color:#004b91;text-decoration:none}
p a,p a:visited,ol li a,ol li a:visited{text-decoration:underline}
a:hover,a:active,a:focus{color:#C60;text-decoration:underline}
.why-link a{font-size:12px;font-weight:normal;text-decoration:underline}
td,th{font-size:small}
.chart td{vertical-align:top;text-align:left;padding:5px;border:dotted 1px #ccc;border-width:1px 1px 0 0;border-collapse:collapse}
.chart th{vertical-align:top;text-align:left;padding:5px;background-color:#f7f7f7;color:#333}
.chart{border:solid 1px #CCC}
.header .sans{color:#C60;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1.6em;font-weight:normal}
.cs-help-page{padding:10px 0;margin:0}
.cs-help-page a:link,.cs-help-page a:visited{text-decoration:none}
.cs-help-page a:hover{text-decoration:underline;color:#C60}
.cs-help-page a:focus,.cs-help-page a:active{text-decoration:none;color:#C60}
.cs-head-wrapper{padding-top:10px}
.small{font-family:verdana,arial,helvetica,sans-serif;font-size:small}
.tiny{font-family:verdana,arial,helvetica,sans-serif;font-size:x-small}
.alert{color:#f00;font-weight:bold}
.cs-numbered{font-size:.86em;margin:.7em 1em 0 1.1em;padding-left:3.5em;text-indent:-30px;line-height:1.5em}
.cs-halfNoCaret{margin-top:.86em;line-height:1.4em}
.cs-halfCaretUl{margin-top:.86em;line-height:1.6em;list-style:none;margin-left:0;padding-left:1em;text-indent:-1em}
.cs-more-leading{margin:0;padding:0 .5em .25em 1.25em;line-height:1.7em}
.cs-caret{font-size:.97em;font-weight:bold;color:#c60}
.nav{background-position:2em 2px;padding:0 .5em .25em 3em}
.cs-widget-text{font-size:.86em;margin:.7em 1em 0 0;line-height:1.4em}
div.cs-widget-text{margin:.4em .7em 0 0;line-height:1.25em}
.cs-highlight{background-color:#f8f5d8;font-weight:bold;color:#c60}
.cs-border-blue{border-bottom:1px solid #999;margin:0}
.cs-border-blue-top{border-top:1px solid #999;margin:0}
.cs-divider{border-bottom:1px solid #c9e1f4;margin:10px 0}
.cs-divider-short{border-bottom:1px solid #c9e1f4;margin:0}
.cs-divider-dashed{border-bottom:1px dashed #ccf;margin:2em 0 2em 0}
.cs-action{padding:0 0 0 7px;line-height:1.4em;vertical-align:top}
.cs-align-right{text-align:right}
.cs-email-head{width:95%;display:block;line-height:2.5em}
.cs-h-spacer{padding:15px}
.cs-float-left{float:left;padding:0 2em .3em 0}
.cs-float-right{float:right;padding:0 0 .3em 2em}
.cs-orange{color:#c60}
.cs-black{color:#000}
.cs-red{color:#C00}
.cs-green{color:#090}
.cs-no-pad{padding:0}
.cs-unbold{font-weight:normal}
.cs-bold{font-weight:bold}
.center-col{padding-right:15px;padding-left:15px}
.center-col h1,.center-col td h1{color:#e47911;color:#C60;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:2em;font-weight:normal;margin-bottom:5px}
.center-col h1 .title-subtext{color:#666;font-size:.70em;font-weight:normal;line-height:.8em}
.center-col .special-header img{padding-right:10px}
.center-col h2.big{color:#C60;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1.5em;font-weight:normal;margin-bottom:2px}
.center-col .big-sub-text{font-weight:bold;font-size:14px;color:#333}
.center-col sub-text{font-weight:bold;font-size:12px;color:#333}
.center-col h2{border-bottom:1px solid #c9e1f4;color:#c60;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1.3em;font-weight:bold;margin-bottom:-0.2em;padding-bottom:0;padding-top:1em}
.center-col h2 a{font-family:Arial,Verdana,Helvetica,sans-serif}
.center-col h2.basic{border-bottom:0;margin-top:0;padding:0 0 5px 0}
h2.grid-top{padding-top:0;margin-bottom:10px}
.center-col .no-line{border-bottom:0}
.center-col h3{color:#333;font-size:1.1em;margin-bottom:0;font-weight:bold;padding-top:7px}
.center-col a img{border:0}
.cs-frst-head-flexi{font-weight:bold;color:#C60;font-size:1.2em}
table.table-layout{width:100%;margin-top:10px;border:1px solid #c9e1f4;border-collapse:collapse}
.table-layout th{color:#666;background-color:#eaf3fe;text-align:left;font-weight:bold;vertical-align:top}
.table-layout td{vertical-align:top;padding-bottom:10px}
.table-layout ol,.table-layout ul{margin:0;padding:0}
.table-layout ol,.table-layout li{list-style-position:inside;padding-bottom:5px}
.etc,.etc a{font-size:11px;color:#999;text-decoration:none}
.topic-grid .etc a:hover{font-size:11px;color:#C60;text-decoration:underline}
.action-block td{border-top:solid 1px #c9e1f4;border-bottom:solid 1px #c9e1f4;vertical-align:middle;padding:5px;font-size:11px}
h3.special{margin-top:0;padding-top:0;margin-bottom:0;font-weight:normal;font-size:1.6em;color:#C60;font-family:Arial,Helvetica,verdana,aan-serif}
.center-image{vertical-align:middle}
.image-layout td{padding:10px 5px 5px 0;vertical-align:top}
.help-bottom-nav{border-top:1px solid #c9e1f4;width:100%;margin-top:10px;padding-bottom:15px}
.help-top-nav{width:100%;margin-bottom:10px}
.help-bottom-nav h4,.help-top-nav h4{color:#333;font-weight:bold;text-align:left;padding:5px 0 0 0;margin:0}
.help-bottom-nav td,.help-top-nav td{vertical-align:top}
.next-article{width:65%;border-right:1px solid #c9e1f4}
.next-article a{padding:0 0 0 10px;background-image:url(../../x-locale/cs/help/sprites/step-arrow.gif);background-position:0 4px;background-repeat:no-repeat}
.help-bottom-nav .nav-siblings,.help-top-nav .nav-siblings{padding:0;margin:0}
.see-also-links{padding:0 0 0 10px}
.help-bottom-nav a,.help-top-nav a{font-size:11px}
.help-bottom-nav .nav-siblings li,.help-top-nav .nav-siblings li{list-style:none;padding-bottom:1px}
.topic-grid ul{margin:0;padding:0}
.topic-grid li{list-style:none;padding-bottom:5px;padding-left:10px;font-size:12px}
.topic-grid h3{margin:0;padding:0;margin-bottom:4px;font-size:12px;font-weight:bold;color:#333;padding-left:10px}
.topic-grid a:hover h3{color:#C60;text-decoration:underline}
.topic-grid a{text-decoration:none}
.topic-grid .bottom-row td{border-bottom-color:white}
.topic-grid td{vertical-align:top;border:solid 1px white;border-bottom-color:#c9e1f4;border-collapse:collapse;padding:5px 5px 10px 0}
.topic-grid .grid-left{border-right-color:#c9e1f4}
.topic-grid .grid-right{border-left-color:#c9e1f4}
.topic-grid{padding-bottom:15px;vertical-align:top;border:0}
.topic-grid .image-spacer{padding-top:8px}
.process-count{font-size:1.4em;font-weight:bold;color:#C60;text-decoration:none;background-image:url(../../x-locale/cs/help/sprites/process_count.gif);background-repeat:no-repeat;height:36px!important;height:40px;padding-left:40px;padding-top:6px;margin-right:0;margin-bottom:4px;margin-left:0}
.one{background-position:0 -50px}
.two{background-position:0 -100px}
.three{background-position:0 -150px}
.four{background-position:0 -200px}
.five{background-position:0 -250px}
.six{background-position:0 -300px}
.seven{background-position:0 -350px}
.eight{background-position:0 -400px}
.nine{background-position:0 -450px}
#cs-wrapper .breadcrumb{color:#ccc;font-size:11PX;text-decoration:none;font-family:Verdana,Geneva,sans-serif}
#cs-wrapper .breadcrumb a{color:#004b91;text-decoration:none}
#cs-wrapper .breadcrumb a:visited{color:#004b91}
#cs-wrapper .breadcrumb a:hover,#cs-wrapper .breadcrumb a:active,#cs-wrapper .breadcrumb a:focus{color:#C60;text-decoration:underline}
#cs-wrapper .kindle-selector td a:hover{text-decoration:none!important}
#cs-wrapper .breadcrumb .selected{color:#333}
#cs-wrapper .help-anchor a,#cs-wrapper .help-home{font-size:24px;line-height:25px;padding-top:1px;padding-bottom:2px;color:#C60;font-family:Arial,Helvetica,verdana,sans-serif;font-weight:normal}
#cs-wrapper .breadcrumb .help-anchor a,#cs-wrapper .breadcrumb .help-anchor a:visited{font-weight:normal;color:#004b91}
#cs-wrapper .cs-logout-node{float:right;font-size:11px}
#cs-wrapper .cs-logout-node a:link{font-size:11px;font-weight:normal}
.nav-level{font-size:11px;background-image:url(../../x-locale/cs/help/sprites/step-back-arrow.gif);background-position:0 4px;background-repeat:no-repeat;padding-bottom:3px}
.nav-level a{color:#004b91}
.nav-level a:active{color:#C60}
.nav-level a:hover{color:#C60}
.nav-level a:focus{color:#C60}
.step1{padding-left:7px;background-position:0 4px}
.nav-col ul.step1{padding-left:17px}
.step2{padding-left:17px;background-position:10px 4px}
.nav-col ul.step2{padding-left:27px}
.step3{padding-left:27px;background-position:20px 4px}
.nav-col ul.step3{padding-left:37px}
.step4{padding-left:37px;background-position:30px 4px}
.nav-level .selected{background-image:none}
.nav-col ul.step4{padding-left:37px}
.nav-col .nav-siblings,.nav-children{margin:0;padding:0 0 0 7px;font-weight:normal!important}
.nav-col .nav-siblings li,.nav-children li{padding:0 0 7px 0;list-style:none;font-size:11px}
.nav-col .nav-siblings li a{color:#004b91}
.nav-col .nav-siblings li a:hover,.nav-col .nav-siblings li a:active,.nav-col .nav-siblings li a:focus{color:#C60}
.nav-topics{margin:0;padding:0}
hr{color:white;border:0;border-bottom:solid 1px #c9e1f4}
.dynamic-nav-topics{font-weight:normal;margin:3px;padding:0 0 0 10px}
.nav-topics li,.dynamic-nav-topics li{list-style:none;padding:0 0 5px 5px;font-size:11px}
.cs-first-head-flexi,.cs-orange-head{color:#C60;font-weight:bold;font-size:12px;padding:0 0 5px 0}
.cs-caret-list{font-size:11px;font-weight:normal;padding:0 0 6px 10px}
.cs-double-caret-list{font-size:11px;font-weight:bold;padding:0 0 16px 10px}
.cs-double-caret-list a:visited{color:#004b91}
.secondary .links-header{font-weight:bold;font-size:13px;color:#333}
.selected{color:#000;font-weight:bold;background-image:none}
.tools-col .cBox .cBoxInner{padding:10px}
.tools-col a:visited{color:#004b91}
.cs-list{font-size:12px;margin:0;padding:.4em .5em .1em 0;line-height:1.2em;font-weight:bold}
.cs-list img{margin:0 .3em 0 0}
.cs-list-header,.nav-col .secEyebrow h2,.tools-col .secEyebrow h2{font-family:Arial,Verdana,Helvetica,sans-serif;font-weight:bold;color:#333;font-size:16px}
.default-actions{margin:0;padding:0}
.default-actions li{padding:0 0 5px 12px;outline:0;list-style:none}
.default-actions .primary-action{font-weight:bold;font-size:12px;background-image:url(../../x-locale/cs/help/sprites/main-area.gif)}
.cs-list-jq{margin:0;padding-left:7px}
.cs-list-jq li{font-size:11px;line-height:1.5em;margin:0;padding:0 .5em .6em 0;list-style-type:none}
.cs-list-jq a,.cs-list-jq a:link,.cs-list-jq a:visited{color:#004b91;text-decoration:none}
.cs-list-jq li a{line-height:.9em;margin-bottom:5px}
.cs-list-jq a:hover,.cs-list-jq a:active,.cs-list-jq a:focus{color:#c60;text-decoration:underline}
.cs-list{padding-bottom:4px}
.cs-list .expander{background-image:url(../../x-locale/cs/help/sprites/expander.gif);background-repeat:no-repeat;background-position:0 1px;padding-left:16px;outline:0}
.cs-list a.expander:hover{text-decoration:none}
.cs-list-header li{list-style:none;padding:0 0 3px 0;font-size:12px}
.cs-list .close{background-position:0 -49px}
.cs-none{display:none}
.cs-sign-out{font-weight:bold;font-size:.85em;padding-left:7px}
.cs-contact-amzn-link{font-weight:bold;font-size:.9em;padding:4px 0 0 0}
#displayLink img{padding:4px 0 5px 0}
.search-label{font-family:arial,sans-serif;font-size:12px;padding:1px 5px 0 0;font-weight:bold}
#search-help{white-space:nowrap;margin:0}
#search-help #helpsearch{width:250px;font-family:arial,verdana,sans-serif;font-size:12px;border:1px solid #d5d5d5;border-top:1px solid #b5b5b5;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;padding:5px;margin:0 5px 0 0}
#search-help #helpsearch:hover{border:1px solid #aaa}
#search-help #helpsearch:focus{border:1px solid #3596c7;box-shadow:inset 0 1px 1px #ddd;outline-width:0;outline:0}
#srch_sggst{font-size:.9em}
.cs-search-noresult-wrapper p,.cs-search-result-wrapper p{margin:0;padding:0}
.cs-search-noresult-wrapper p a,.cs-search-noresult-wrapper p a:visited,.cs-search-result-wrapper p a,.cs-search-result-wrapper p a:visited{text-decoration:none}
.cs-search-noresult-wrapper,.cs-search-result-wrapper{width:100%}
.cs-search-noresult-wrapper ul,.cs-search-result-wrapper ul{padding:0;margin:0;margin-left:10px}
.cs-search-noresult-wrapper li,.cs-search-result-wrapper li{border-bottom:solid 1px #ddd;list-style:none;padding-bottom:10px;margin-bottom:10px;margin-right:10px}
.top-bc{margin:0;font-size:11px}
.sr-title h3{margin:0}
.results-breadcrumb{color:#CCC;font-size:10px;margin:0}
.results-breadcrumb a:link{color:#666}
.results-breadcrumb a:hover,.results-breadcrumb a:active,.results-breadcrumb a:focus{color:#C60}
.default-text{color:#CCC}
.default-abstract-text{color:#777}
.suggest_link{background-color:#fff;padding:2px 6px 2px 6px}
.suggest_link_over{background-color:#146eb4;color:#fff;padding:2px 6px 2px 6px}
#sugdivhdr{font-size:10px;color:#888;line-height:12px;padding-right:4px}
.pagination{background-color:#eaf3fe;background-image:url(../../x-locale/cs/help/sprites/blue-bar.gif);background-position:center top;background-repeat:repeat-x;border:1px solid #c9e1f4;font-size:.85em;padding-bottom:0!important;padding:5px 10px 5px 8px;text-align:center;color:#CCC;display:block;font-size:11px;height:24px;line-height:24px;margin-top:10px}
.pagination b{color:#333;padding:2px 5px 3px}
.pagination a{background-color:transparent;border:1px solid transparent;padding:2px 5px 3px}
.pagination a:link{text-decoration:none}
.pagination a:visited{color:#004b91;text-decoration:none}
.pagination a:hover{background-color:white;border:1px solid #c30;color:#c30;text-decoration:none}
.pagination .disabled{color:#aaa}
.community-image{float:left;padding-right:10px;vertical-align:top}
.community-title-area{height:65px}
.community-title{font-weight:bold;font-size:18px;color:#333;margin-left:60px;margin-top:0;padding-top:10px}
.community-subtitle{color:#333;font-size:12px;margin-left:60px}
.community-link-bar{font-weight:normal;color:#a2c8d8;padding-top:0;text-align:center;position:relative;top:-5px;font-size:6px}
.community-link-bar a{padding:3px;color:#004b91;font-weight:bold;text-decoration:none;font-size:11px;white-space:nowrap}
.round-corners{border:solid 1px #c9e1f4;-moz-border-radius:6px;-webkit-border-radius:6px;padding:10px 0 10px 0}
.pad-10,.pad-10 td{padding:0 10px}
.align-top td{vertical-align:top}
.center{text-align:center}
.aware-left-col{margin:0 5px 10px 0;padding:0}
.aware-right-col{margin:0 0 10px 5px;padding:0}
.spacing-125{height:120px!important;height:115px}
.spacing-150{height:160px}
.aware-content .image-block{width:80px;height:90px;display:inline-block;float:left}
.aware-content{padding:2px}
.aware-content-header{font-size:1.1em;color:#333;font-family:verdana,Arial,Helvetica,san-serif;font-weight:bold;padding:0 0 5px 5px;display:block;height:auto;width:100%}
.aware-content-header img{display:block}
.aware-content-header div{height:35px}
.aware-content .nobullet{margin:0;padding:0}
.aware-content .nobullet li{margin:0;padding-left:20px;padding-bottom:8px;line-height:1em}
.action-bottom{background-color:#eaf3fe;height:21px;vertical-align:middle;text-align:center;padding:7px}
.welcome-content-header{font-size:1.8em;color:#C60;font-family:Arial,Helvetica,verdana,aan-serif;position:relative;top:35px}
.help-mark{background-image:url(../../x-locale/cs/help/personalized/help_watermark_clipped.gif);background-repeat:no-repeat;background-position:right bottom;background-color:transparent}
.mission-quote{font-style:italic;color:#333;position:relative;top:18px}
.help-tip{font-size:11px;border:0;background-color:#eaf3fe;padding:7px;-moz-border-radius:8px;-webkit-border-radius:8px;color:#333;margin:0 25px}