.alertsClass1 A:link {text-decoration:underline; color:#FFFFFF;}
.alertsClass1 A:visited {text-decoration:underline; color:#FFFFFF;}
.alertsClass1 A:active {text-decoration:underline; color:#FFFFFF;}
.alertsClass1 A:hover {text-decoration:underline; color:#FF9900;}
.alertsClass1 {
background-color:transparent; 
color:#FFFFFF; 
padding-left:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-top:0px;
}

#prefCenterModule{width:158px; margin-bottom:12px; color:#FFFFFF; font-size:10px; padding-bottom:0px; margin-bottom:0px; background-color:transparent;}
#moduleOff{color:#FFFFFF; font-size:10px; background-color:transparent; background-image:url(../common/tu-bg.jpg);}
#prefCenterModuleEmail{font-size:11px;font-family:arial;}
#prefCenterModuleName{font-size:11px;font-family:arial;}
#pc_moduleContainer{background-image:url(../common/tu-2.jpg); background-repeat:no-repeat; height:69px;}
#prefCenterModuleCity{font-size:11px;font-family:arial;}
#prefCenterModuleButton{color:#FFFFFF; font-size:10px; float:left;}
#prefCenterModuleResults{background-color:#FF9900; color:#FFFFFF;}
#prefCenterModuleResults a:hover
{
color:#4A8CCE;
text-decoration:underline;
} 
.pc_addView a:link,.pc_addView a:active, .pc_addView a:visited, .pc_addView a:hover
{
	color:#FFFFFF; 
	font-size:10px;
	text-decoration:none;
	float:left;
        margin-right:3px;
}
#pc_alertContainer{width:158px; margin-bottom:12px; background-image:url(../common/ta-bg.gif); padding:0px;}
#prefCenterContainer{background-image:url(../common/ta-bg.gif); padding:0px; padding-top:0px; margin-top:0px;}
#prefCenterUser{color:#FFFFFF; background-image:url(../common/ta-2.jpg); height:118px; width:138px; padding-left:10px; padding-right:10px;}
#prefCenterUserOutput{background-color:transparent; color:#FFFFFF; padding-left:10px; padding-right:10px; padding-bottom:10px; padding-top:0px;}
#pcm_infotext{background-color:transparent; color:#FFFFFF; padding:0px;}
#textdiv{margin-top:8px; }
#prefCenterNoUser{background:transparent; background-color:transparent; background-image:url(../common/ta-2.jpg); height:118px; width:138px; padding-left:10px; padding-right:10px; color:#FFFFFF; font-size:10px; padding-bottom:0px; padding-top:0px;}
#pcaddview{background-color:transparent; padding-top:10px;}
		a.cityspark_link, a:link.cityspark_link {
		text-decoration:none;
		}
		a:hover.cityspark_link {
		text-decoration:underline;
		}
.headertext{position:absolute;bottom:0px;right:10px;font-size:14px;font-weight:bold;}
.events{background-color:#265686;padding:3px 3px 3px 10px; color:#fff;font-size:13px;font-weight:bold;}
.channels{font-size:11px;width:260px;}	
	#leftColumn ul {
		padding-top:4px;
		padding-bottom:17px;
		padding-left:4px;
		padding-right:4px;
		}
		
	#leftColumn li {
		margin-bottom:4px;
		}
		
	#leftColumn ul li a {
		font-weight:normal;
		font-size:11px;
		}
		
	#leftColumn li.heading {
		margin-bottom:4px;
		margin-top:0px;
		}
		
	#leftColumn .heading a {
		font-weight:bold;
		font-size:12px;
		}


.padE a,.padE a:link,.padE a:visited {
    color: #2075C2;
    text-decoration: none !important;
}
.padE a:hover,.padE a:active {
    color: #2075C2;
    text-decoration: underline !important;
}