div.containerEntity 
{
	clear:both;
	width:960px;
}
div.containerLogoArea 
{
	clear:left;	
	float:left;
	width:25em;
}
div.containerTabMenu 
{
	float:left;
	width:960px;
}
div.containerSubMenu 
{
	float:left;
	width:960px;
	padding-bottom:3px;
}
div.containerSubMenu ul
{
	padding-left:1px;
}
div.containerSubMenu li
{
	float:left;
	padding:10px 9px 0 10px;
	font-size:68.75%; 
	color:#191919;
	background:url("../images/pipe.gif") no-repeat right top;
}
div.containerSubMenu li a
{
	color:#191919;
}
div.containerSubMenu li a:hover
{
	color:#FF0000;
	text-decoration:none;
}
div.containerSubMenu li.first
{
	padding:10px 9px 0 0;
}
div.containerSubMenu li.last
{
	background:none;
}
div.containerSubMenu li.selected a
{
	color:#FF0000;
}
div.hsbcHeaderWrapper
{
	background:url("../images/header_bg.gif") no-repeat center top;
	height:142px;
}
.hsbcFooter div 
{
	background:none;
}
/*
-------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------- */
/* ENTITY DIVLET
---------------------------------------------------------------------------------------------- */

div.hsbcEntity
{
	width:960px;
	float:left;
	height:19px;
	font-size:61%;
	clear:both;
	padding:0;
}

div.hsbcEntity div.hsbcEntityTextArea01
{
	float:left;
	padding:3px 0 0;
}

div.hsbcEntity div.hsbcEntityTextArea02
{
	float:right;
}
div.hsbcEntity ul
{
	display:inline;
	padding:0;
	margin:0;
}
div.hsbcEntity ul li
{
	float:left;
	list-style:none;
	padding:3px 16px 3px 0;
	margin:0;
	background:url("../images/bgEntityTabDivider.gif") no-repeat right;
}
div.hsbcEntity a
{
	color:#333;
	text-decoration:none;
}
div.hsbcEntity a:hover
{
	color:#f00;
	text-decoration:none;
}
div.hsbcEntity ul li.hsbcEntityTabSelectedLeft
{
	padding:3px 0 0px;
	background:none;
}
div.hsbcEntity ul li.hsbcEntityTabLastTab
{
	background:none;
	padding:3px 0 0;
}


div.hsbcEntity ul li.hsbcEntityTabSelected
{
	padding:3px 0 3px 14px;
	background:#fff url("../images/bgEntityTabLeft.gif") no-repeat top left;
}
div.hsbcEntity ul li.hsbcEntityTabSelected a
{
	background:#fff url("../images/bgEntityTabSlider.gif") no-repeat top right;
	padding:3px 14px 3px 0;
	color:#F00;
	\margin-top:-3px;	
}

/* LOGO DIVLET
---------------------------------------------------------------------------------------------- */
div.hsbcDivletLogo
{
	height:52px;
	width:auto;
}
div.hsbcDivletLogo .hsbcDivletLogoImage
{
	padding:13px 0 0;
	float:left;
	width:141px;
}
div.hsbcDivletLogo .hsbcDivletLogoTagLine
{
	float:left;
	vertical-align:middle;
	padding:18px 0 0 12px;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#f00;
}

/* SEARCH DIVLET
---------------------------------------------------------------------------------------------- */
div.hsbcDivletSearch
{
	float:right;
	text-align:right;
	/* mac-ie */
	font-size:86%;
	/*non-mac-ie \*/
	font-size:82%;
	/* */
	margin-top:13px;
	padding-right:0px;
}
div.hsbcDivletSearch input
{
	vertical-align:middle;
}
div.hsbcDivletSearch fieldset
{
	margin:0;
	padding:0;
	border:none;
}
div.hsbcDivletSearch legend
{
	display:none;
}

/* TABMENU DIVLET
---------------------------------------------------------------------------------------------- */
div.hsbcDivletTabMenu
{
	height:44px;
	width:960px;
	clear:left;
}
div.hsbcDivletTabMenu ul
{
	margin:0px;
	padding:0px;
}
div.hsbcDivletTabMenu ul li
{
	margin:0px;
	padding:0px 0px 0px 6px;
	list-style:none;
	float:left;
	height:44px;
	background:url("../images/tab_off_left.gif") no-repeat top left;
	text-align:center;
}
div.hsbcDivletTabMenu ul li a,
div.hsbcDivletTabMenu ul li span.extNoLink
{
	padding:0px 9px 0px 2px;
	margin:0px;
	height:44px;
	line-height:36px;
	float:left;
	display:block;
	background:url("../images/tab_off_right.gif") no-repeat top right;
	text-decoration:none;
	color:#333;
	/* mac-ie */
	font-size:68%;
	/*non-mac-ie \*/
	font-size:61%;
	/* */
	font-weight:bold;
	vertical-align:50%;
	cursor: hand;
}
div.hsbcDivletTabMenu ul li a:hover
{
	color:#f00;
	text-decoration:none;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected
{
	background:url("../images/tab_on_left.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.hsbcDivletTabMenuSelected a
{
	background:url("../images/tab_on_right.gif") no-repeat top right;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extFirstTab
{
	background:url("../images/first_tab_off_left.gif") no-repeat top left;
	padding-left:5px;
}
div.hsbcDivletTabMenu ul li.extFirstTabSelected
{
	background:url("../images/first_tab_on_left.gif") no-repeat top left;
	padding-left:15px;
}
div.hsbcDivletTabMenu ul li.extFirstTabSelected a
{
	background:url("../images/tab_on_right.gif") no-repeat top right;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRight
{
	background:url("../images/tab_off_left_selected_right.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRight a
{
	background:url("../images/tab_off_right_selected_right.gif") no-repeat top right;
}
div.hsbcDivletTabMenu ul li.extSelectedTabLeft
{}
div.hsbcDivletTabMenu ul li.extSelectedTabLeft a
{
	background:url("../images/tab_off_right_selected_left.gif") no-repeat top right;
}
div.hsbcDivletTabMenu ul li.extLastTabSelected
{
	background:  url("../images/tab_on_left.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li.extLastTabSelected a
{
	background: url("../images/last_tab_on_right.gif") no-repeat top right;
	padding-right:29px;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extRightAlignTab
{
	float:right;
	padding-right:0px;
}
div.hsbcDivletTabMenu ul li.extRightAlignTabSelected
{
	background: url("../images/first_tab_on_left.gif") no-repeat top left;
	float:right;
	padding-left:15px;
	padding-right:0px;
}
div.hsbcDivletTabMenu ul li.extRightAlignTabSelected a
{
	background:url("../images/right_align_tab_on_right.gif") no-repeat top right;
	padding-right:19px;
	padding-left:3px;
	color:#f00;
}
div.hsbcDivletTabMenu ul li.extSelectedTabRightEndBlock
{
	background:url("../images/tab_off_left_selected_right_end_block.gif") no-repeat top left;
}
div.hsbcDivletTabMenu ul li a.extDoubleLine
{
	line-height:13px;
	padding-top:4px;
	/* FIX FOR:PC IE5.5 and PC IE5.01 */
	height:44px;
	hei\ght:40px;
}
div.hsbcDivletTabMenu ul li a .extMacIE
{
	float:left;
	clear:left;
	padding-top:0px;
}
/* BREADCRUMB DIVLET
---------------------------------------------------------------------------------------------- */
div.hsbcDivletBreadcrumb
{
	font-size:68%;
	float:left;
	padding:10px 0px;
	margin-bottom:5px;
}
div.hsbcDivletBreadcrumb span
{
	float:left;
	color:#333;
}
div.hsbcDivletBreadcrumb ol
{
	padding:0;
	margin:0;
	float:left;
}
div.hsbcDivletBreadcrumb ol li
{
	padding:0 5px 0 7px;
	margin:0;
	list-style:none;
	float:left;
	white-space:nowrap;
	background: url("../images/bgBreadcrumbDivider.gif") no-repeat left;
}
div.hsbcDivletBreadcrumb ol li.hsbcDivletBreadcrumbFirst
{
	background:none;
	padding-left:5px;
}
div.hsbcDivletBreadcrumb ol li a
{
	color:#333;
	text-decoration:none;
}
div.hsbcDivletBreadcrumb ol li a:hover
{
	text-decoration:underline;
}

/* FOOTER DIVLET
---------------------------------------------------------------------------------------------- */

div.hsbcDivletFooterLinks
{
	padding:33px 0 0;
	height:87px;
}
.hsbcDivletFooterLinks ul
{
	list-style:none;
	margin:0 auto;
	background-color:#eee;
	width:939px;
	clear:both;
	padding:0 10px 0 11px;
	height:23px;
	
}
.hsbcDivletFooterLinks ul li
{
	margin:5px 0;
	padding:0;
	float:left;
	line-height:120%;
	color:#333;
	font-size:68%;
}
.hsbcDivletFooterLinks ul li.extSpacer
{
	padding-right:5px;
	border-right:1px solid #666;
	margin-right:5px;
}
.hsbcDivletFooterLinks ul li a
{
	color:#333;
	text-decoration:none;
}
.hsbcDivletFooterLinks ul li a:hover
{
	text-decoration:underline;
}
.hsbcDivletFooterLinks ul li.hsbcAlignRight
{
	float:right;
	color:#333;
	margin-right:0px;
}
.hsbcDivletFooterLinks p
{
	padding:5px 220px 0 1px;
	margin:0 auto;
	text-align:left;
	width:739px;
	color:#aaa;
	font-size:68%;
	line-height:120%;
}
div.hsbcContentStyle09 ul.listStyle02 li a
{
	color:#000;
}
div.hsbcContentStyle09 ul.listStyle02 li.selected a
{
	color:#ff0000;
}