@charset "UTF-8";

@media all {

#login_fade { margin: 0; padding: 0; width: 100%; height: 100%; background: black; position: absolute; top: 0; z-index: 1500000; -moz-opacity: 0.85; opacity: 0.85; filter: alpha(opacity=85); }

/*** MSIB Login ***/
#msib_login { margin: 0 0 0 -500px; padding: 0; width: 1000px; height: 460px; 
	position: absolute; left: 50%; top: 10%; z-index: 2000000; 
	background: url(../../accounts/tools/img/ben10.login.png) left 28px no-repeat; }
#msib_login iframe { margin: 112px 0 0 235px; padding: 0; width: 613px; height: 301px; border: none; overflow: hidden; 
	background: black; border: 1px solid #464646; -webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.8); -moz-box-shadow: 4px 4px 6px rgba(0,0,0,.8); box-shadow: 4px 4px 6px rgba(0,0,0,.8); }
#msib_login .char_ben10_aliens { display: none; }
#msib_login A{ width: 127px; height: 28px; display: block; position: absolute; top: 375px; left: 78px; background: url(../../accounts/tools/img/btn.signup.png) 0 0 no-repeat; }


/*** MSIB Register ***/
#msib_register { margin: 0 0 0 -500px; padding: 0; width: 1000px; height: 525px;  
	position: absolute; left: 50%; top: 10%; z-index: 2000000; 
	background: url(../../accounts/tools/img/ben10.reg.png) left 38px no-repeat; }	
#msib_register iframe { margin: 57px 0 0 227px; padding: 0; width:  655px; height: 464px; border: none; overflow: hidden; 
	background: black; border: 1px solid #464646; -webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.8); -moz-box-shadow: 4px 4px 6px rgba(0,0,0,.8); box-shadow: 4px 4px 6px rgba(0,0,0,.8); }
#msib_register .char_ben10 { display: none;  }
#msib_register A{ width: 117px; height: 28px; display: block; position: absolute; top: 405px; left: 73px; background: url(../../accounts/tools/img/btn.login.png) 0 0 no-repeat; }


/*** MSIB Auth ***/
#msib_auth { margin: 0 0 0 -500px; padding: 0; width: 1000px; height: 460px; 
	position: absolute; left: 50%; top: 10%; z-index: 2000000; }
#msib_auth iframe { margin: 85px 0 0 200px; padding: 0; width: 613px; height: 301px; border: none; overflow: hidden; 
	background: black; border: 1px solid #464646; -webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.8); -moz-box-shadow: 4px 4px 6px rgba(0,0,0,.8); box-shadow: 4px 4px 6px rgba(0,0,0,.8); }

}