#wh-blogs {
  background: #FFFFFF url(blogs_tout_header.jpg) center top no-repeat !important;
  padding-top: 25px !important;
  text-align: left !important;
}
#wh-blogs a {
  color: #369 !important;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.167em;
}
#wh-blogs li {
  margin: 5px 0px !important;
}

/* align previous/next post text */
#blog-prev-post > a {
display: block;
padding-left: 10px;
}
#blog-next-post > a {
display: block;
padding-right: 10px;
}
#blog #content .arrow a {
margin-left: 10px;
margin-right: 10px;
}

#context-block-region-wh_nav_media_center, #context-block-region-wh_nav_briefing_room, #context-block-region-wh_nav_issues, #context-block-region-wh_nav_the_admin, #context-block-region-wh_nav_the_wh, #context-block-region-wh_nav_the_gov {
  height: 0; width: 0; overflow: hidden;
}
ul#topnav div.topnav-feature a {
  font-weight: bold;
}
.menu-feature-title {
  margin-bottom: 0!important;
}
.topnav-feature hr {
  margin-bottom: 15px;
}
#crmform table{
  background-color: #fff;
}
#get-email-updates-modal h1{
  display: block !important;
}
/* Get Updates Modal */
#get-updates-form h1 {
color: #880000 !important;
}

#get-updates-form .additional-lists {
color: #888888 !important;
font-weight: bold;
}

/* Dan Pfieffer link restyle 
#nav-the-admin .topnav-dd-inner ul:last-child li:first-child a {
font-weight: normal;
}
.admin-official #left-nav #block-wh_theme-sub_navigation .content > ul > li:nth-last-child(3){
margin-left: 10px;
}*/