#tos-container h1{
	font-weight: bold;
	font-size: 14px;
	color: #116fb1;
	margin-bottom: 25px;
}

#tos-container .header{
	border-bottom: 1px solid #d7dcdc;
	padding: 0px 0px 15px;
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 20px;
}

#tos-container .position{
	padding: 20px 0px 50px;
	font-size: 12px;
}

#tos-container .position p{
	line-height: 22px;
}

#tos-container li{
	line-height: 22px;
	list-style-type: disc;
	list-style-position: inside;
}

#tos-container ul{
	margin-bottom: 30px;
}

#tos-container .position h3{
	font-weight: bold;
	color: #3b9ce0;
	margin-bottom: 10px;
}

.inline{
	font-weight: normal;
}