#user-strip {
    height: 39px;
    z-index: -1;
}

#page-content {
    padding-top: 18px;
}

.tos-area h1 {
    font-size: 1.7em;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.tos-area .thumbstuff {
    background-color: #f1f1f1;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0px;
    padding: 10px 0px 10px 10px;
}

.tos-area p {
    padding-left: 10px;
    padding-bottom: 15px;
}

.tos-area ul, .tos-area li {
    list-style-type: disc;
}

.tos-area ul, .tos-area ol {
    margin-left: 30px;
}

.tos-area li {
    margin: 5px 0px;
}

#tos-area p:first-child {
    font-size: 1.4em;
    margin-bottom: 20px;
}

#menu-search-wrapper-big-daddy {
  height: 43px;
}
