/* m-1541~static/css/gigantic.css */
.component .gigantic-pixie-bar .hd {
	border-top-style: solid !important;
	border-top-width: 3px !important;
	margin-bottom: 5px;
	min-height: 29px;
	padding-bottom: 14px;
	padding-top: 4px;
}

 .component .gigantic-pixie-bar .hd h2 {
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 18px;
	font-weight: normal !important;
	line-height: 21px;
	border-top: medium none !important;
}

.gigantic-pixie-bar {
	background-color: #ededed;
	padding: 0;
	overflow: hidden;
}

.gigantic-pixie-bar li {
	margin-bottom: 10px;
	padding: 0 5px;
}

.gigantic-pixie-bar a {
	display: block;
}

.gigantic-pixie-bar a:hover {
	text-decoration: none;
}

.gigantic-pixie-bar .image-clip {
	overflow: hidden;
	position: relative;
}

.gigantic-pixie-bar .image-clip img {
	float: left;
	margin: 0 -5px;
}

.gigantic-pixie-bar h3 {
	font-size: 16px;
	min-height: 40px;
	padding: 5px;
	color: #fff;
	background-color: #666;
}

.gigantic-pixie-bar .section-name {
	bottom: 1px;
	color: #fff;
	display: none;
	left: 0;
	padding: 5px;
	position: absolute;
}

.gigantic-pixie-bar .world,
.gigantic-pixie-bar .science,
.gigantic-pixie-bar .society,
.gigantic-pixie-bar .politics,
.gigantic-pixie-bar .technology,
.gigantic-pixie-bar .theguardian,
.gigantic-pixie-bar .uk,
.gigantic-pixie-bar .education,
.gigantic-pixie-bar .law,
.gigantic-pixie-bar .weather,
.gigantic-pixie-bar .news,
.gigantic-pixie-bar .theobserver,
.gigantic-pixie-bar .global-development,
.gigantic-pixie-bar .media {
	background-color: #d61d00;
}

.gigantic-pixie-bar .sport,
.gigantic-pixie-bar .football {
	background-color: #008000;
}

.gigantic-pixie-bar .money,
.gigantic-pixie-bar .local-government-network,
.gigantic-pixie-bar .housing-network {
	background-color: #8f1ab6;
}

.gigantic-pixie-bar .culture,
.gigantic-pixie-bar .artanddesign,
.gigantic-pixie-bar .books,
.gigantic-pixie-bar .film,
.gigantic-pixie-bar .music,
.gigantic-pixie-bar .stage,
.gigantic-pixie-bar .tv-and-radio,
.gigantic-pixie-bar .extra,
.gigantic-pixie-bar .childrens-books-site,
.gigantic-pixie-bar .culture-professionals-network,
.gigantic-pixie-bar .search,
.gigantic-pixie-bar .culture-network {
	background-color: #d1008b;
}

.gigantic-pixie-bar .business {
	background-color: #4a64d9;
}

.gigantic-pixie-bar .commentisfree,
.gigantic-pixie-bar .teacher-network,
.gigantic-pixie-bar .healthcare-network,
.gigantic-pixie-bar .higher-education-network,
.gigantic-pixie-bar .leeds,
.gigantic-pixie-bar .government-computing-network,
.gigantic-pixie-bar .help,
.gigantic-pixie-bar .guardian-professional,
.gigantic-pixie-bar .community,
.gigantic-pixie-bar .cardiff,
.gigantic-pixie-bar .crosswords,
.gigantic-pixie-bar .info,
.gigantic-pixie-bar .edinburgh,
.gigantic-pixie-bar .public-leaders-network,
.gigantic-pixie-bar .local {
	background-color: #0061a6;
}

.gigantic-pixie-bar .lifeandstyle,
.gigantic-pixie-bar .katine,
.gigantic-pixie-bar .fashion,
.gigantic-pixie-bar .social-enterprise-network,
.gigantic-pixie-bar .voluntary-sector-network
 {
	background-color: #ffc202;
	color: #000;
}

.gigantic-pixie-bar .travel,
.gigantic-pixie-bar .social-care-network {
	background-color: #65C5fb;
	color: #000;
}

.gigantic-pixie-bar .environment {
	background-color: #7bbb00;
	color: #000;
}

/* For the version with the section name shown */
.gigantic-pixie-bar.with-section .section-name {
	display: block;
}

.gigantic-pixie-bar.with-section h3 {
	background: #666;
	color: #fff;
}
/* m-1641~/static/outbrain/style_v2.css */
.outbrain-container {
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    display: none;
    clear: both;
}

.outbrain-container .OUTBRAIN {
    width: 300px;
    float: left;
}
.outbrain-container .OUTBRAIN.first {
    margin-right: 10px;
}
.outbrain-container .ob_box_cont ul,
.outbrain-container .ob_org_header div,
.outbrain-container .ob_what {
    background-color: transparent;
}

.ob_org_header.b1 {
    border-top-width: 10px;
    border-top-style: solid;
    display: block;
}
.ob_org_header.b1 div {
    border: 0;
}
.odb_li {
    border-top: 1px dotted #333;
    padding: 3px 0 7px 0;
}

.outbrain-container .explainer-link {
    float: right;
    margin-top: 2px;
}
.ob_what { display: none; }


/* Overlay */
.outbrain-explainer {
    position: absolute;
    font-size: 12px;
    -moz-box-shadow: 0px 0px 5px #333;
    -webkit-box-shadow: 0px 0px 5px #333;
    box-shadow: 0px 0px 5px #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    background: white;
    z-index: 100;
    width: 260px;
    display: none;
}
.outbrain-explainer h2 {
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.outbrain-explainer .close {
    background: transparent url(../../../../../../../static.guim.co.uk/static/1afe67a1a34aa7133804fa3f5244f0d8d06a6efc/common/styles/images/ajax-overlay-close-button.gif) no-repeat 0 0;
    float: right;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: -10px -10px 0 0px;
}
