/* HIGHLIGHED RATINGS-SUBSCRIBER LINKS STYLES */

 .ratings_link {
	display: block;
	background: #ffeec1 url(../images/cro_cr_slug.gif) no-repeat center right;
	font: bold Arial, Helvetica, sans-serif;
	color: #176fcc;
	text-decoration: none;
	margin-top: 3px;
	}
	
/* CATEGORY LEFT NAV STYLES */

#cat_leftnav h2 {
	font: bold 12px/1.2em Arial, Helvetica, sans-serif;
	color: #000;
	margin: 10px 0 2px 10px;
	}

#cat_leftnav dl {
	width: 150px;
	margin: 0 0 0 5px;
	padding: 0;
	list-style: none;
	font: 11px/1.7em Arial, Helvetica, sans-serif;
	text-decoration: none;
}	
	
#cat_leftnav dt	{
	margin: 0 0 2px 0;
	padding: 0;
	color: #000;
	font:  bold 14px/1.2em Arial, sans-serif ;
}

#cat_leftnav dt a:link  { text-decoration: none; color:#091c30; font-weight: bold; }
#cat_leftnav dt a:visited { text-decoration:none; color:#091c30; font-weight: bold; } 

#cat_leftnav dd	{
	margin: 0 0 0 2px;
	padding: 0;
}


#cat_leftnav .last	{
	margin: 0 0 5px 2px;
	padding: 0;
	font-weight: bold;
}

#cat_leftnav .last	a:link {
	font-weight: bold;
}

#cat_leftnav .last	a:visited {
	font-weight: bold;
}

#cat_leftnav .last	a:hover {
	font-weight: bold;
}

#cat_leftnav .last	a:active {
	font-weight: bold;
}

#cat_leftnav .botborder	{
	margin-top: -10px;
	margin-bottom: 7px;
	margin-left: 0;
	border-bottom: 1px solid #d9d9e5;
	width: 145px
}

#cat_leftnav ul
{ 
color: #000;
padding: 0;
margin: 0 0 0 10px;
list-style: none; 
line-height: 1.5em;
font: 11px/1.7em Arial, Helvetica, sans-serif;
} 

#cat_leftnav li
{
padding: 0 0 0 10px; 
margin: 0 0 0 2px; 
background: url(../images/squarebullet.gif) no-repeat 0 7px;
} 

#cat_leftnav a:link { text-decoration:none; color:#176fcc }
#cat_leftnav a:visited { text-decoration:none; color:#176fcc }
#cat_leftnav a:hover { text-decoration: underline; color:#176fcc }

.cat_middle {
	margin: 0 0 40px 0;
	overflow: hidden;
	}
	
/* Category News Section */

.cat_middle #news
{
width: 588px;
height: 268px;
font: 11px Arial, Helvetica, sans-serif; 
color:#000;
border: 1px solid #b8c8d8;
background: url(../images/cro_homeflash_bg.jpg) repeat-x; 
overflow: hidden;

}

.cat_middle #news a:link { 
text-decoration:none; 
color:#176fcc
}

.cat_middle #news a:visited { text-decoration:none; 
color:#176fcc
}

.cat_middle #news a:hover { 
text-decoration: underline; 
color:#176fcc
}

.cat_middle #news .leftimg {
padding: 0 0 5px 0;
float: left;
width: 265px;
overflow: auto;
}

.cat_middle #news .left {
width: 250px;
padding: 5 0 3px 15px;
font: normal 11px Arial, Helvetica, sans-serif;
color: #091c30;
float: left;
clear:left;
line-height:1.4em;
}

.cat_middle #news .left  img { 
	margin-left: 15px; 
	margin-top: 15px;
	}

.cat_middle #news .left h1 {
font: bold 16px Arial, Helvetica, sans-serif;
color: #091c30;
margin: -5px 0 -17px 10px;
display: block;
}

.cat_middle #news .left .leftblurb {
margin-top: 5px;
margin-bottom: 10px;
color:#000;
padding-left: 15px;
}

.cat_middle #news .left .leftblurb img {
margin: 3px 3px 0 0;
}

.cat_middle #news .left h1 a:link { text-decoration:underline; 
color:#091c30;
font-weight: bold;
}

.cat_middle #news .left h1 a:visited { text-decoration:underline;
color:#091c30;
font-weight: bold;
}

.cat_middle #news .left h1 a:hover {  
color:#768b9e;
font-weight: bold;
}

.cat_middle #news .latest_issue a {
color: #176fcc;
font-weight: bold;
}


/* SUBCAT_NEWS Section */

.cat_middle #subcat_news
{
width: 588px;
height: 185px;
font: 11px Arial, Helvetica, sans-serif; 
color:#000;
border: 1px solid #b8c8d8;
background: url(../images/cro_homeflash_bg.jpg) repeat-x; 
overflow: hidden;
padding-top: 7px;

}

.cat_middle #subcat_news .sub_cathead {
font: 16px Arial, Helvetica, sans-serif; 
color:#000;
margin: 5px 0;
}

.cat_middle #subcat_news .sub_cathead a:link {
color: #000;
text-decoration: underline;
font-weight: bold;
}

.cat_middle #subcat_news a:link { 
text-decoration:none; 
color:#176fcc
}

.cat_middle #subcat_news a:visited { text-decoration:none; 
color:#176fcc
}

.cat_middle #subcat_news a:hover { 
text-decoration: underline; 
color:#176fcc
}

.cat_middle #subcat_news .leftimg
{
padding: 3px 0 0 10px;
float: left;
width: 265px;
overflow: hidden;
}

#cat_middle #news .left {
width: 250px;
padding: 0;
font: normal 11px Arial, Helvetica, sans-serif;
color: #091c30;
float: left;
clear: none;
line-height:1.4em; 
margin: 15px 0 0 0;
}

#cat_middle #news .left h1 {
font-weight: bold;
font-size: 16px;
color: #091c30;
display: inline;
margin: 0 0 2px -5px;
}


.cat_middle #subcat_news .left .leftblurb {
margin: -18px 20px 20px 0;
color:#000;
padding-left: 15px;
font: normal 11px/1.4em Arial, Helvetica, sans-serif;
color: #091c30;
}

.cat_middle #subcat_news .left .leftblurb img {
margin-right: 3px;
}

.cat_middle #subcat_news .left h1 a:link { text-decoration:underline; 
color:#091c30;
font-weight: bold;
}

.cat_middle #subcat_news .left h1 a:visited { text-decoration:underline;
color:#091c30;
font-weight: bold;
}

.cat_middle #subcat_news .left h1 a:hover {  
color:#768b9e;
font-weight: bold;
}

.cat_middle #subcat_news .latest_issue a {
color: #176fcc;
font-weight: bold;
}

/* END SUBCAT_NEWS */

.cat_middle #news .todays_news {
font: normal 12px Arial, Helvetica, sans-serif;
color: #000;
float:right; 
clear:right; 
width:276px;
vertical-align: top;
margin: 5px 15px 0 15px;
}

.cat_middle #news .todays_news .head {
font: bold 14px Arial, Helvetica, sans-serif;
color: #091c30; 
padding: 10px 0;
text-decoration: none;
}

.cat_middle #news .todays_news .highlights {
font: normal 12px Arial, Helvetica, sans-serif;
padding-right:10px
}

.cat_middle #news .todays_news .highlights a:link
{
color: #1a2d45;
font-size: 12px;
}

.cat_middle #news .todays_news .highlights ul {
	margin:0; 
	padding:0; 
	list-style: none; 
	clear:both;
}

.cat_middle #news .todays_news .highlights li {
	margin:0; 
	padding: 0 10px 4px 12px;
	background-image: url(../images/cro_newsdash3.gif); 
	background-repeat: no-repeat;
	background-position: 0 .6em;
}

/* blog list styles */

*+html .cat_middle .highlights #rssContent
{
	margin-top: -17px;
}
.cat_middle .highlights #rssContent .dash ul
{
	margin:0;
}
.cat_middle .highlights #rssContent .dash ul
{
	margin-top:6px!important;
}
.cat_middle .highlights #rssContent .dash li
{
	/*padding-bottom:0;*/
}
/* end blog list styles */
.cat_middle #news .todays_news .highlights li a
{
color: #1a2d45;
padding: 0;
margin: 0; 
text-decoration: underline;
} 

.cat_middle #news .todays_news .highlights li a:hover { 
text-decoration: underline; 
color:#768b9e
}

.cat_middle #news .todays_news .highlights img {
float:left;
margin-right:10px;
margin-bottom: 5px;
height: 54px;
width: 54px;
border: 1px solid #878787;
}

* html .cat_middle #news .todays_news .highlights img {
margin-top: 5px;
}

.cat_middle #news .todays_news .highlights h2 {
font-size: 12px;
display: block;
margin-bottom: 0;
margin-top: 5px;
}

.cat_middle #news .todays_news .highlights img.video-icon {
float: none;
margin: 0;
height: 7px;
width: 14px;
border: none;
}
 
.cat_middle #news .todays_news .highlights  a:link { 
text-decoration:underline; color:#091c30;
}

.cat_middle #news .todays_news .highlights  a:visited { 
text-decoration:underline; color:#091c30;
}

.cat_middle #news .todays_news .highlights  a:hover {  text-decoration:underline;
color:#768b9e;
}

.cat_middle #news .todays_news .blurb
 {
 font-size:11px;
 display:inline;
 } 
 
.cat_middle #news .todays_news .more {
font: bold 11px Arial, Helvetica, sans-serif;
padding-left: 15px;
}

/* How to Choose box*/

.cat_middle #choose {
	margin: 10px 0 0 0;
	overflow: auto;
	float: right;
	padding-right: 5px;
	}
	
.cat_middle #choose a:link { text-decoration:none; color:#176fcc}
.cat_middle #choose a:visited { text-decoration:none; color:#176fcc}
.cat_middle #choose a:hover { text-decoration: underline; color:#176fcc}

.cat_middle #choose .ocontainer {
	overflow: hidden;
	}

.cat_middle #choose dl {
  width: 280px;
  margin: 0;
  background:  url(../images/howto_bkgnd_bot.gif) no-repeat bottom left;
  font: 11px/14px Arial, Helvetica, sans-serif;
  color: #000;
}

.cat_middle #choose dt {
  margin: 0;
  padding: 10px 10px 0 15px;;
  background: url(../images/howto_bkgnd_top.gif) no-repeat top left;
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #2a6652;
  }
  
/* To be used when putting HTML directly into Rx, since Rx will change the dt do a dd */
.cat_middle #choose dd.first {
  margin: 0;
  padding: 10px 10px 0 15px;;
  background: url(../images/howto_bkgnd_top.gif) no-repeat top left;
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #2a6652;
  }

.cat_middle #choose .rightlist { 
float: left;
width: 110px;
padding: 5px 0 0 15px;
font: normal 11px Arial, Helvetica, sans-serif;
}

.cat_middle #choose .leftlist { 
float: left;
width: 110px;
padding: 5px 0 0 0;
font: normal 11px Arial, Helvetica, sans-serif;
}
  
.cat_middle #choose ul.left {
color:#000;
margin: 0 0 10px 0;
padding: 0;
list-style: none; 
line-height:1.5em;
} 

.cat_middle #choose ul.right {
color:#000;
padding:0;
margin: 0 0 10px 0; 
list-style: none; 
line-height:1.5em;
} 

.cat_middle #choose li {
padding-left: 10px; 
margin: 0;
background: url(../images/squarebullet.gif) no-repeat 0 7px;
font-size: 11px;
} 

 
.cat_middle #choose .head { 
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #091c30;
  }
  
.cat_middle #choose .subhead { 
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #000;
  }

/* DISCUSSIONS BOX */

.cat_middle {
	margin: 0;
	}

.cat_middle #discussions dl {
  width: 280px;
  margin: 20px 5px 20px -5px;
  background: url(../images/discuss_bkgnd_bot.gif) no-repeat bottom left;
  font: 11px/14px Arial, Helvetica, sans-serif;
  color: #000;
  float: right;
  }

.cat_middle #discussions dt {
  margin: 0;
  padding: 15px 15px 10px 15px;
  background: url(../images/discuss_bkgnd_top.gif) no-repeat top left;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #091c30;
  }
  
.cat_middle #discussions dt img {
  vertical-align: text-bottom;
  margin-left: 6px;
  }  
 
.cat_middle #discussions dd {
	  background: #f4f5f9;
	  margin: 0;
	  padding: 0 15px 15px 15px;
	  font: normal 11px Arial, Helvetica, sans-serif;
	  color: #666;
	  border-left: 1px solid #b8c8d7;
	  border-right: 1px solid #b8c8d7;
  }  
 
.cat_middle #discussions dd.bottom {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  } 
 
.cat_middle #discussions dd h2 {
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #000;
  display: inline;
  }  
  
.cat_middle #discussions dd .space {
	margin-top: 12px;
	}
  
.cat_middle #discussions a:link { text-decoration:none; color:#176fcc}
.cat_middle #discussions a:visited { text-decoration:none; color:#176fcc}
.cat_middle #discussions a:hover { text-decoration: underline; color:#176fcc}
.cat_middle #discussions a:active { text-decoration: underline; color:#176fcc}



/* CATEGORY RATINGS SECTION */
 
 
.cat_middle #ratings {
 	background: #eef1f6;
	border: 1px solid #c3d2e0;
	margin: 20px 0 10px 0;
	padding: 0;
	width: 588px;
	height: 273px;
	}
	
.cat_middle #ratings .subcat {
	min-height: 446px;
	}

 .cat_middle #ratings dl {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
 .cat_middle #ratings dl dt {
 	background: url(../images/xpertratings_headbit.gif) repeat-x;
	height: 23px;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
 .cat_middle #ratings dl dt img {
	margin: 0;
	padding: 0;
	}
	
 .cat_middle #ratings dl dd {
 	background: #fff;
	width: 174px;
	height: 182px;
	margin: 10px 0 0 15px;
	padding: 0;
	list-style: none;
	float: left;
	border: 1px solid #c3d2e0;
	font: normal 11px/14px Arial, Helvetica, sans-serif;
	overflow: hidden;
	}

 * html .cat_middle #ratings dl dd {
	margin: 10px 8px 0 8px;
	width: 172px;
	} /* for IE */


 .cat_middle #ratings dl dd.testlabs {
 	background: url(../images/cro_testlab_back.gif) repeat-x;
	height: 20px;
	width: 100%;
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
	float: left;
	clear: both;
	vertical-align: middle;
	border: 0;
	border-top: 1px solid #b2b9c9;
	}

 .cat_middle #ratings dl dd.testlabs img {
 	border: 0;
	margin-right: 10px;
	margin-left: -1px;
	float: left;
	}
	
 .cat_middle #ratings dl dd.testlabs .links {
 	margin-top: 3px;
	font: normal 11px Arial, Helvetica, sans-serif;
	}
	
 .cat_middle #ratings dl dd.testlabs .links a:link {
 	font-weight: normal;
	}
	
 .cat_middle #ratings dl dd.testlabs .links a:visited {
 	font-weight: normal;
	}
	
 .cat_middle #ratings dl dd.scroll {
 	background: #eef1f6;
	height: 20px;
	width: 100%;
	margin: 5px 0 -5px 0;
	padding: 0;
	list-style: none;
	float: left;
	clear: both;
	vertical-align: middle;
	border: 0;
	}
	
 .cat_middle #ratings dl dd.scroll .previous {
 	float: left;
	margin-left: 30px;
	display: inline;
	}
	
 .cat_middle #ratings dl dd.scroll .previous img {
 	margin-right: 10px;
 	border: 0;
	vertical-align: text-bottom;
	}
	
 .cat_middle #ratings dl dd.scroll .next {
 	float: right;
	margin-right: 30px;
	display: inline;
	}
	
 .cat_middle #ratings dl dd.scroll .next img {
 	margin-left: 10px;
	border: 0;
	vertical-align: text-bottom;
	}
	
 .cat_middle #ratings dl dd.scroll .links {
 	margin-top: 3px;
	font: normal 11px Arial, Helvetica, sans-serif;
	height: 14px;
	}
	
 .cat_middle #ratings dl dd.scroll .links a:link {
 	font-weight: normal;
	}
	
 .cat_middle #ratings dl dd.scroll .links a:visited {
 	font-weight: normal;
	}
	
 .cat_middle #ratings dl a:link {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #176fcc;
	text-decoration: none;
	}
	
 .cat_middle #ratings dl a:visited {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #176fcc;
	text-decoration: none;
	}
	
 .cat_middle #ratings dl a:hover {
	text-decoration: underline;
	}
	
 .cat_middle #ratings dl a:active {
	text-decoration: underline;
	}
	
 .cat_middle #ratings dl p {
 	border: 0;
	margin: 5px 0 0 0;
	text-align: center;
	}
	
 .cat_middle #ratings dl p img {
 	border: 0;
	margin: 0;
	}
	
 .cat_middle #ratings dl dd ul {
 	border: 0;
	margin: 5px 15px 0 -33px;
	list-style: none;
	}

 * html .cat_middle #ratings dl dd ul {
	margin: 8px;
	}
	
 .cat_middle #ratings dl dd ul li {
	font: normal 11px/14px Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0;
	}
	
 .cat_middle #ratings dl h1 {
 	font: bold 11px Arial, Helvetica, sans-serif;
	margin: 0 0 1px -5px;
	}
	
 .cat_middle #ratings dl dd .copy {
	border: 0;
	margin: 0 8px 0 10px;
	width: 150px;
	}
	
/* More to explore box */
#moretoexplorevertical a:link { text-decoration:none; color:#176fcc; font-size: 11px;}
#moretoexplorevertical a:visited { text-decoration:none; color:#176fcc; font-size: 11px;}
#moretoexplorevertical a:hover { text-decoration: underline; color:#176fcc; font-size: 11px;}
#moretoexplorevertical a:active { text-decoration: underline; color:#176fcc; font-size: 11px;}

#moretoexplorevertical {
	margin: 10px 0 0 0;
	width: 300px;
	float: right;
	padding-right: 5px;
	}

#moretoexplorevertical dl {
  width: 280px;
  margin: 0 0 20px 20px;
  background: url(../images/moreto_bkgnd_bot.gif) no-repeat bottom left;
  font: 11px/14px Arial, Helvetica, sans-serif;
  color: #000;
  }

#moretoexplorevertical dt {
  margin: 0;
  padding: 15px 0 0 15px;
  background: #fff url(../images/discuss_bkgnd_top.gif) no-repeat top left;
  font: bold 12px;
  color: #0000FF;
  border: 0;
  font: bold 12px Arial, Helvetica, sans-serif; 
color:#091c30;
overflow: hidden;
  }

#moretoexplorevertical dd {
  margin: 0;
  padding: 0 10px 0 0;
  border-left: 1px solid #bfd6bf;
  border-right: 1px solid #bfd6bf;
  min-hovereight: 55px;
  clear: both;
  background: #eef1f6;
  } 
  
 * html #moretoexplorevertical dd {height:55px} /* for IE */
  
#moretoexplorevertical dd.bottom {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 10px;
  background: none;
  }
  
 * html #moretoexplorevertical dd.bottom {height:10px} /* for IE */
<!--   * html #moretoexplorevertical dd ul {height:40px} -->


#moretoexplorevertical ul {
color:#000;
margin: 0 10px 0 14px;
padding: 0;
list-style: none;
line-height:1.3em; 
font: normal 11px Arial, Helvetica, sans-serif;
} 

#moretoexplorevertical li {
padding: 0 0 0 10px; 
margin: 0;
background: url(../images/squarebullet.gif) no-repeat 0 7px;
} 

#moretoexplorevertical .subhead {
font: bold 11px Arial, Helvetica, sans-serif; 
color:#000;
padding: 0 0 0 14px;
margin: 0;
}

#moretoexplorevertical .head {
font: bold 11px Arial, Helvetica, sans-serif; 
color:#000;
padding: 0 0 10px 15px;
margin: 0;
}

/* Horizontal more to explore box */

.cat_middle #moretoexplore {
width: 583px;
font: bold 11px Arial, Helvetica, sans-serif; 
color: #000;
border: 1px solid #c7d4e4;
background: #eaeef4;
overflow: visible; /* hidden; */
padding-right: 5px;
margin: 0;
float: left;
}

.cat_middle #moretoexplore .head {
width: 573px;	/* 583px; */
font: bold 12px Arial, Helvetica, sans-serif; 
color:#091c30;
padding: 15px 0 0 15px;
background: url(../images/moreto_sqbkgnd.gif) repeat-x top left;
}

.cat_middle #moretoexplore .subhead {
font: bold 11px Arial, Helvetica, sans-serif; 
color:#000;
line-height: 0.8;
padding-bottom: 3px;
}


.cat_middle #moretoexplore a:link { text-decoration:none; color:#176fccl; font-size: 11px;}
.cat_middle #moretoexplore a:visited { text-decoration:none; color:#176fcc; font-size: 11px;}
.cat_middle #moretoexplore a:hover { text-decoration: underline; color:#176fcc; font-size: 11px;}
.cat_middle #moretoexplore a:active { text-decoration: underline; color:#176fcc; font-size: 11px;}

.cat_middle #moretoexplore .middle .more a:link { text-decoration:none; color:#176fcc; font-size: 11px; border-bottom: 1px dotted #176FCC}
.cat_middle #moretoexplore .middle .more a:visited { text-decoration:none; color:#176fcc; font-size: 11px; border-bottom: 1px dotted #176FCC}
.cat_middle #moretoexplore .middle .more a:hover { text-decoration: none; color:#176fcc; font-size: 11px; border-bottom: 1px dotted #176FCC}
.cat_middle #moretoexplore .middle .more a:active { text-decoration: none; color:#176fcc; font-size: 11px; border-bottom: 1px dotted #176FCC}

.cat_middle #moretoexplore .left {
width: 178px;
padding: 10px 12px 15px 15px;
margin: 0;
font: normal 11px/14px Arial, Helvetica, sans-serif;
color: #000;
float: left;
clear:left;
overflow: hidden;
}

.cat_middle #moretoexplore .middle {
width: 150px;
padding: 10px 0 15px 0;
font: normal 11px Arial, Helvetica, sans-serif;
color: #000;
float: left;
position: relative; 
}

.cat_middle #moretoexplore .right {
width: 150px;
padding: 10px 10px 15px 0;
font: normal 11px Arial, Helvetica, sans-serif;
color: #176fcc;
float: left;
}

.cat_middle #moretoexplore .divider {
width:1px;
float: left;
margin: 0;
padding: 10px 20px 0 20px;
}

.cat_middle #moretoexplore .leftdivider {
width: 1px;
float: left;
margin: 0;
padding: 10px 20px 0 0;
}


.cat_middle #moretoexplore ul {
color:#000;
margin: 0;
padding: 5px 0 0 0;
list-style: none; 
line-height:1.3em;
}
 
.cat_middle #moretoexplore li {
padding-left: 10px; 
margin: 0;
background: url(../images/squarebullet.gif) no-repeat 0 6px;
font: normal 11px/14px Arial, Helvetica, sans-serif;
} 

/* SPECIAL FEATURES */

.cat_middle #specfeat {
	font: 11px Arial, Helvetica, sans-serif; 
	color: #000;
	margin: 10px 0 0 0;
	float: left;
	clear: both;
	width: 290px;	
	}


.cat_middle #specfeat a { text-decoration:none; color:#176fcc; font-weight:bold;}
.cat_middle #specfeat a:link { text-decoration:none; color:#176fcc; font-weight:bold;}
.cat_middle #specfeat a:visited { text-decoration:none; color:#5599d9; font-weight:bold;}
.cat_middle #specfeat a:hover { text-decoration: underline; color:#176fcc; font-weight:bold;}


.cat_middle #specfeat dl {
  width: 290px;
  margin: 0 0 20px 0;
  background:  url(../images/specfeat_bkgnd_bot.gif) no-repeat bottom left;
  color: #000;
  list-style:none;
  
  }

.cat_middle #specfeat dt {
  margin: 0;
  padding: 10px 0 10px 15px;
  background: #fff url(../images/specfeat_bkgnd_top.gif) no-repeat top left;
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #091c30;
  }  

.cat_middle #specfeat dd {
  margin: 0;
  border-left: 1px solid #bfd6bf;
  border-right: 1px solid #bfd6bf;
  padding: 0 10px 0 15px;
  background: #eff5ef;
  clear: both;
  min-height:75px;
  line-height:1.4em;
  }
  
  * html .cat_middle #specfeat dd {height:75px}

.cat_middle #specfeat dd.top  {
  margin: 0;
  border-left: 1px solid #bfd6bf;
  border-right: 1px solid #bfd6bf;
  padding: 0 10px 0 15px;
  min-height: 140px;
  }
  
  * html .cat_middle #specfeat dd.top {height:140px}
  
.cat_middle #specfeat dd.top img {
margin: 0 10px 0 0;
float:left;
width: 118px;
height: 118px; 
border: 1px solid #878787;
}

.cat_middle #specfeat dd img {
margin: 0 10px 0 0;
float:left;
width: 54px;
height: 54px; 
border: 1px solid #878787;
}
  
  
.cat_middle #specfeat dd.bottom {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 30px;
  background: none;
  }
  
 * html .cat_middle #specfeat dd.bottom {height:30px} /* for IE */ 
 
  
.cat_middle #specfeat .img1 {
margin: 0 10px 0 0;
float:left;
width: 120px;
height: 120px; 
}


.cat_middle #specfeat .img2 {
margin: 0 10px 8px 0;
float:left;
width:55px;
height: 55px;
}

.cat_middle #specfeat .img3 {
margin: 0 10px 8px 0;
float: left;
width: 55px;
height: 55px;
}


		/* ############PRODUCT LANDING PAGE STYLES############## */

/* Latest Ratings Box */

/* CATEGORY RATINGS SECTION */
 
 
.cat_middle #prod_ratings {
 	background: #eef1f6;
	border: 1px solid #b8c8d8;
	margin: 0;
	padding: 0;
	width: 518px;
	height: 198px;
	}

 .cat_middle #prod_ratings dl {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 198px;
	}
	
 .cat_middle #prod_ratings dl dt {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 203px;
	height: 198px;
	background: #dee5f0;
	float: left;
	}
	
 .cat_middle #prod_ratings dl dt img {
	margin: 10px;
	padding: 0;
	width: 184px;
	height: 117px;
	}
	
 .cat_middle #prod_ratings dl dt p {
 	border: 0;
	margin: 0 10px;
	font: bold 12px/14px Arial, Helvetica, sans-serif;
	}
	
 .cat_middle #prod_ratings dl dt p img {
 	float: left;
	margin: 0;
	width: 22px;
	height: 40px;
	}
	
 .cat_middle #prod_ratings dl dd {
 	background: #eef1f6;
	width: 285px;
	height: 178px;
	margin: 10px;
	padding: 0;
	list-style: none;
	float: right;
	font: normal 11px/14px Arial, Helvetica, sans-serif;
	}
	
 .cat_middle #prod_ratings dl dd p {
 	margin: 14px 10px 10px 8px;
	}
	
 .cat_middle #prod_ratings dl dd h2 {
	font: bold 11px Arial, Helvetica, sans-serif;
	margin: 0 0 2px 0;
	}
	
#prod_ratings dl dd .blurb_title_link_blurb {font-weight:bold; margin: 10px 0 0 5px}
#prod_ratings dl dd .blurb_title_link_blurb a:link {font-weight:bold;}
#prod_ratings dl dd .blurb {margin-left: 5px; margin-bottom: 10px;}

 .cat_middle #prod_ratings dl a:link {
	color: #176fcc;
	text-decoration: none;
	}
	
 .cat_middle #prod_ratings dl a:visited {
	color: #176fcc;
	text-decoration: none;
	}
	
 .cat_middle #prod_ratings dl a:hover {
	text-decoration: underline;
	}
	
 .cat_middle #prod_ratings dl a:active {
	text-decoration: underline;
	}
	
/* Product Related Reports */

.cat_middle #prod_related_reports {
	margin-top: 20px;
	width: 261px;
	float: left;
	}
	
.cat_middle #prod_related_reports h2 {
	font: bold 12px Arial, Helvetica, sans-serif;
	margin: 0 0 0 10px;
	color: #091c30;
	}

.cat_middle #prod_related_reports ul {
	margin: 5px 0 0 0; 
	padding: 0; 
	list-style: none; 
	clear: both; 
	}
	
/* Car types Related Reports */

.cat_middle #prod_related_reports #cartypes {
	margin: 0 0 30px 0;
	width: 261px;
	float: left;
	}


	/*  hack for firefox */

html>body .cat_middle #prod_related_reports ul {
	margin: 10px 0 0 0; 
	}

.cat_middle #prod_related_reports ul li {
	padding-left: 10px; 
	margin-left: 15px;
	background: url(../images/squarebullet.gif) no-repeat 0 5px;
	font: normal 11px Arial, Helvetica, sans-serif;
	margin-bottom: 1px;
	} 

/*
* html .cat_middle #prod_related_reports ul li {
background: url(../images/squarebullet.gif) no-repeat 0 9px;
margin-bottom: -4px;
}
*/	

 .cat_middle #prod_related_reports a:link {
	color: #176fcc;
	text-decoration: none;
	}
	
 .cat_middle #prod_related_reports a:visited {
	color: #176fcc;
	text-decoration: none;
	}
	
 .cat_middle #prod_related_reports a:hover {
	text-decoration: underline;
	}
	
 .cat_middle #prod_related_reports a:active {
	text-decoration: underline;
	}
	
/* Product Consumer Production */

.cat_middle #prod_cons_protect {
	margin-top: 20px;
	width: 249px;
	float: left;
	clear: none;
	}
	
.cat_middle #prod_cons_protect h2 {
	font: bold 12px Arial, Helvetica, sans-serif;
	margin: 0 0 0 10px;
	}

.cat_middle #prod_cons_protect ul {
	margin: 5px 0 20px 0; 
	padding: 0; 
	list-style: none; 
	clear: both; 
	}

	/*  hack for firefox */

html>body .cat_middle #prod_cons_protect ul {
	margin: 10px 0 20px 0; 
	}

.cat_middle #prod_cons_protect ul li {
	padding-left: 10px; 
	margin-left: 15px;
	background: url(../images/squarebullet.gif) no-repeat 0 5px;
	font: normal 11px Arial, Helvetica, sans-serif;
	margin-bottom: 1px;
	} 

/*
* html .cat_middle #prod_cons_protect ul li {
	background: url(../images/squarebullet.gif) no-repeat 0 9px;
	margin-bottom: -4px;
	} 
	*/
	
.cat_middle #prod_cons_protect p {
	margin: 15px 10px 0 10px;
	font: normal 11px Arial, Helvetica, sans-serif;	
	} 
	
.cat_middle #prod_cons_protect p img {
	float: left;
	margin-right: 10px;
	} 
	
.cat_middle #prod_cons_protect a:link {
	color: #176fcc;
	text-decoration: none;
	}
	
.cat_middle #prod_cons_protect a:visited {
	color: #176fcc;
	text-decoration: none;
	}
	
.cat_middle #prod_cons_protect a:hover {
	text-decoration: underline;
	}
	
.cat_middle #prod_cons_protect a:active {
	text-decoration: underline;
	}
	
/* Forums and Special Section */

.cat_middle #forums_special {
 	background: #eef1f6;
	border: 1px solid #b8c8d8;
	margin: 20px 0;
	padding: 0;
	width: 518px;
	height: 85px;
	float: left;
	clear: both;
	}
	
.cat_middle #forums_special dl {
 	float: left;
	padding: 0;
	margin: 0;
	width: 259px;
	}
	
.cat_middle #forums_special dl dt {
	padding: 1px 0 0 10px;
	margin: 0;
	height: 16px;
	background: #dee5f0;
	font: bold 11px Arial, Helvetica, sans-serif;
	}
	
.cat_middle #forums_special dl dd {
	padding: 5px 5px 5px 10px;
	margin: 0;
	font: normal 11px Arial, Helvetica, sans-serif;
	}
	
.cat_middle #forums_special dl dd img {
	float: left;
	margin: 2px 5px 0 0;
	}
	
.cat_middle #forums_special a:link {
	color: #176fcc;
	text-decoration: none;
	}
	
.cat_middle #forums_special a:visited {
	color: #176fcc;
	text-decoration: none;
	}
	
.cat_middle #forums_special a:hover {
	text-decoration: underline;
	}
	
.cat_middle #forums_special a:active {
	text-decoration: underline;
	}
	

/* PRODUCT LEFT NAV STYLES */

#prod_leftnav {
	overflow: hidden;
	}

#prod_leftnav dl {
	width: 185px;
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	}	
	
#prod_leftnav dt {
	background: url(../images/bg_navbar.gif) repeat-x;
	width: 175px;
	height: 19px;
	margin: 0;
	padding: 4px 0 0 10px;
	color: #091c30;
	font:  bold 11px/1.2em Arial, sans-serif;
	}


#prod_leftnav dd	{
	width: 162px;
	min-height: 19px;
	margin: 3px;
	padding: 2px 0 0 22px;;
	color: #091c30;
	font:  bold 11px/1.2em Arial, sans-serif;
	}

*html #prod_leftnav dd {
height: 19px;
}
	
#prod_leftnav dd.indented {
	padding-left: 42px;
	font-weight: normal;
	}
	
#prod_leftnav dd.indented a:link {
	font-weight: normal;
	}
	
#prod_leftnav dd.indented a:visted {
	font-weight: normal;
	}

#prod_leftnav dd.indented a:hover {
	font-weight: normal;
	}

#prod_leftnav dd.indented a:active {
	font-weight: normal;
	}
		
#prod_leftnav dd a:link {
	font-weight: bold;
	}

#prod_leftnav a:link { font-weight: bold; text-decoration:none; color:#176fcc }
#prod_leftnav a:visited { font-weight: bold; text-decoration:none; color:#176fcc }
#prod_leftnav a:hover { font-weight: bold; text-decoration: underline; color:#176fcc }
#prod_leftnav a:active { font-weight: bold; text-decoration: underline; color:#176fcc }

#prod_leftnav .highlight_link {
	display: block;
	background: #ffeec1 url(../images/cro_cr_slug.gif) no-repeat center right;
	font: bold Arial, Helvetica, sans-serif;
	color: #176fcc;
	text-decoration: none;
	margin: 0 10px 5px -10px;
	padding: 0 2px 0 10px;
	overflow: auto;
	}

	
/* CAR TYPES LEFT NAV STYLES */

/*#cartypes_leftnav .horiz_divider {
		background: url(../images/leftnav_horiz_divider.gif) no-repeat top; 
		border-top: solid 1px #FFFFFF;
}*/
 
#cartypes_leftnav dl {
	width: 185px;
	margin: 0;
	padding: 10px 0 20px 0;
	list-style: none;
	border-top: solid 1px #FFF;
	}		
	
#cartypes_leftnav dt {
	background: url(../images/bg_navbar.gif) repeat-x;
	width: 175px;
	height: 23px;
	margin: 0;
	padding: 4px 0 0 10px;
	color: #091c30;
	font:  bold 11px/1.2em Arial, sans-serif;
	}


#cartypes_leftnav dd	{
	width: 162px;
	height: 19px;
	margin: 0;
	padding: 2px 0 0 22px;
	color: #091c30;
	font:  bold 11px/1.2em Arial, sans-serif;
	}
	
#cartypes_leftnav dd a:link {font-weight: bold}

#cartypes_leftnav a:link { text-decoration:none; color:#176fcc }
#cartypes_leftnav a:visited { text-decoration:none; color:#176fcc }
#cartypes_leftnav a:hover { text-decoration: underline; color:#176fcc }
#cartypes_leftnav a:active { text-decoration: underline; color:#176fcc }

#cartypes_leftnav .highlight_link {
	display: block;
	background: #ffeec1 url(../images/cro_cr_slug.gif) no-repeat center right;
	font: bold Arial, Helvetica, sans-serif;
	color: #176fcc;
	text-decoration: none;
	margin: 0 5px 0 -10px;
	padding: 0 2px 0 10px;
	}
	
#prod_leftnav .indented .highlight_link {
background:#FFEEC1 url(../images/cro_cr_slug.gif) no-repeat scroll right center;
color:#176FCC;
display:block;
margin:0 30px 0 -10px;
padding:0 2px 0 10px;
text-decoration:none;
}
	
#cartypes_leftnav .car_forums {
font: normal 11px Arial, Helvetica, sans-serif;
	padding: 10px 10px 10px 20px;
	margin-bottom: 100px;
}

#cartypes_leftnav .car_forums a { 
font-weight: bold;
}

#cartypes_leftnav .car_forums .head { 
font-weight: bold;
}


/* NEWS LANDING PAGE STYLES */

/* Category News Section */

#news_page {
width: 624px;
font: 11px Arial, Helvetica, sans-serif; 
color: #000;
border: 1px solid #b8c8d8;
background: url(../images/bg_gradient_news.gif) repeat-x; 
overflow: hidden;
margin: 0 0 20px 10px;
	}

#news_page a:link { text-decoration:none; color:#176fcc}
#news_page a:visited { text-decoration:none; color:#176fcc}
#news_page a:hover { text-decoration: underline; color:#176fcc}

#news_page .leftimg {
padding: 0 0 10px 0;
float: left;
width: 290px;
overflow: auto;
}

#news_page .left {
width: 250px;
padding: 5px 0 3px 15px;
font: normal 11px Arial, Helvetica, sans-serif;
color: #091c30;
float: left;
clear: left;
line-height: 1.4em;
}


#news_page .left h1 {
font-weight:bold;
font-size:16px;
color:#091c30;
display:inline
}

#news_page .left .leftblurb {
margin-top: 5px;
color:#000;
}

#news_page .left h1  a:link { text-decoration:underline; color:#091c30}
#news_page .left h1 a:visited { text-decoration:underline;color:#091c30}
#news_page .left h1 a:hover {  color:#768b9e}
#news_page .latest_issue a {color: #176fcc;}

#news_page .todays_news {
font: normal 12px Arial, Helvetica, sans-serif;
color: #000;
float:right; 
clear:right; 
width:300px;
vertical-align: top;
margin: -5px 35px 0 0;
}

#news_page .todays_news .head {
font: bold 14px Arial, Helvetica, sans-serif;
color: #091c30; 
padding: 10px 0 10px 0;
text-decoration: none;
}

#news .todays_news .highlights {
	font: normal 12px Arial, Helvetica, sans-serif;
	padding-right: 10px;
	margin-top: -10px;
	}

#news_page .todays_news .highlights a:link {
color: #1a2d45;
font-size: 12px;
}

#news_page .todays_news .highlights ul {
	margin:25px 0 0 0; 
	padding:0; 
	list-style: none; 
	clear:both;
}

/*  hack for firefox */

html>body #news_page .todays_news .highlights ul {
	margin:10px 0 0 0; 
}




#news_page .todays_news .highlights li {
	margin:0; 
	padding: 0 10px 8px 12px;
	background-image: url(../images/cro_newsdash3.gif) ; 
	background-repeat: no-repeat; background-position: 0 .6em;
} 

#news_page .todays_news .highlights li a {
color: #1a2d45;
padding: 0;
margin: 0; 
text-decoration: underline;
} 

#news_page .todays_news .highlights li a:hover { 
text-decoration: 
underline; color:#768b9e
}



#news_page .todays_news .highlights img {
float:left;
margin-right:10px
}


#news_page .todays_news .highlights h2 {
display:inline;
font-size: 12px;
}

#news_page .todays_news .highlights  a:link { text-decoration:underline; color:#091c30;}
#news_page .todays_news .highlights  a:visited { text-decoration:underline; color:#091c30;}
#news_page .todays_news .highlights  a:hover {  text-decoration:underline;color:#768b9e;}



#news_page .todays_news .blurb {
 font-size:11px;
 display:inline;
 } 
 

#news_page .todays_news .more {
font: bold 11px Arial, Helvetica, sans-serif;
padding-left: 15px;
}


/* NEWS HEADERS */

#news_page_bottom {
	width: 624px;
	font: 11px Arial, Helvetica, sans-serif; 
	color:#000;
	margin: 0 0 60px 10px;
	}

#news_page_bottom .right {
	margin-left: 20px;
	}
	
#news_page_bottom #morenews {
	float: left;
	width: 100%;
	height: 30px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #091c30;
	padding: 0 10px;
	margin: 0 0 -10px 0;
	z-index: 5;
	}
	
#news_page_bottom #newscol {
	width: 300px;
	float: left;
	}
	
#news_page_bottom #newscol h2 {
	background: url(../images/news_subheads_bkgnd.jpg) no-repeat;
	height: 30px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #091c30;
	padding: 10px;
	margin: 0 0 -10px 0;
	}
	
#news_page_bottom #newscol h2 a:link {
	color: #091c30;
	text-decoration: none;
	font-weight: bold;
	}
	
#news_page_bottom #newscol h2 a:visited {
	color: #091c30;
	text-decoration: none;
	font-weight: bold;
	}
	
#news_page_bottom #newscol h2 a:hover {
	color: #091c30;
	text-decoration: none;
	font-weight: bold;
	}
	
#news_page_bottom #newscol h2 a:active {
	color: #091c30;
	text-decoration: none;
	font-weight: bold;
	}
	
#news_page_bottom #newscol ul { 
color: #000;
padding: 0;
margin: 0 0 20px 10px;
list-style: none; 
line-height: 1.5em;
font: 11px/1.7em Arial, Helvetica, sans-serif;
} 

#news_page_bottom #newscol li {
padding: 0 0 0 10px; 
margin: 0 0 0 2px; 
background: url(../images/squarebullet.gif) no-repeat 0 7px;
} 

#news_page_bottom #newscol li.last	{
	margin: 0 0 0 2px;
	padding: 0;
	font-weight: bold;
	}

#news_page_bottom #newscol li a:link { text-decoration:none; color:#176fcc }
#news_page_bottom #newscol li a:visited { text-decoration:none; color:#176fcc }
#news_page_bottom #newscol li a:hover { text-decoration: underline; color:#176fcc }
#news_page_bottom #newscol li a:active { text-decoration: underline; color:#176fcc }

#news_page_bottom #newscol li.last a:link { text-decoration:none; color:#176fcc; font-weight: bold }
#news_page_bottom #newscol li.last a:visited { text-decoration:none; color:#176fcc; font-weight: bold }
#news_page_bottom #newscol li.last a:hover { text-decoration: underline; color:#176fcc; font-weight: bold }
#news_page_bottom #newscol li.last a:active { text-decoration: underline; color:#176fcc; font-weight: bold }


/* BLOG PAGE STYLES */

.blog_block {
	width: 624px;
	border-top: 1px solid #d2d6df;
	padding: 10px 0 15px 0;
	margin-left: 15px;
	overflow: auto;
	}
	
* html .blog_block {
	overflow: hidden;
	}

.blog_block .preview {
	float: left;
	margin-left: 5px;
	margin-right: 10px;
	width: 290px;
	font: normal 11px/14px Arial, Helvetica, sans-serif;
	}
	
.blog_block .preview h2 {
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #091c30;
	margin: 3px 0;
	}
	
.blog_block .preview h2 img {
	float: none;
	}
	
.blog_block .preview h2 a:link { text-decoration: none; color:#1a2d45; }
.blog_block .preview h2 a:visited { text-decoration: none; color:#1a2d45; }
.blog_block .preview h2 a:hover { text-decoration: underline; color:#768B9E; }
.blog_block .preview h2 a:active { text-decoration: underline; color:#768B9E; }

.blog_block .preview h3 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #091c30;
	margin: 1px 0;
	}
	
.blog_block .preview h3 a:link { text-decoration: underline; color:#1a2d45; }
.blog_block .preview h3 a:visited { text-decoration: underline; color:#1a2d45; }
.blog_block .preview h3 a:hover { text-decoration: underline; color:#768B9E; }
.blog_block .preview h3 a:active { text-decoration: underline; color:#768B9E; }

.blog_block .preview img {
	float: left;
	margin: 0 10px 3px 0;
	}
	
.blog_block .preview img.top {
	display: block;
	margin: 0 0 5px 0;
	}
	
.blog_block .preview a:link { font-weight: bold; text-decoration: none; color:#176fcc; }
.blog_block .preview a:visited { font-weight: bold; text-decoration: none; color:#176fcc; }
.blog_block .preview a:hover { font-weight: bold; text-decoration: underline; color:#176fcc; }
.blog_block .preview a:active { font-weight: bold; text-decoration: underline; color:#176fcc; }
.blog_block .preview .links {
	margin-right: 10px;
	}
	
.blog_block .preview .links img {
	float: none;
	margin: 0 5px 0 0;
	border: none;
	vertical-align: middle;
	}
	
/* RSS FEEDS SLOT */

#news_right #ad_slot {
	padding: 15px 0;
	border-bottom: 1px solid #d2d6df;
	width: 240px;
	overflow: auto;
	}

#news_right #ad_slot .rss_news_feeds {
	margin-left: 7px;
	}
	
#news_right #ad_slot .rss_news_feeds h3 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #091c30;
	margin: 0 0 5px 0;
	}
	
#news_right #ad_slot .rss_news_feeds ul {
	color:#000;
	margin: 0;
	padding: 0;
	list-style: none; 
	line-height:1.3em;
	float: left;
	width: 110px;
	}
 
#news_right #ad_slot .rss_news_feeds li {
	padding: 0; 
	margin: 0;
	font: normal 11px Arial, Helvetica, sans-serif;
	} 



/* HEALTH CATEGORY-SPECIFIC RULES */

/* Health & Fitness Index Styles */

/* Background Colors */
.banner_colored {background-color: #60B0B1;}
.bannerline_colored {background-color: #57A1A0;}
.image_background_colored {background-color: #dee5f0;}
.body_colored {background-color: #dee4f0; border: 1px solid #94aec5;}
#ratings_and_reports_cell {padding: 10 10 0 0;}
.for_subscribers_colored {background-color: #97b1c7; color: white; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
.group_list_links a:link {color: #000000; font-style: normal; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, sans-serif;}
.index_group_list_heading a:link {font-weight: bold; text-decoration: none; color: #a3b3d1;}
a:visited.index_group_list_heading {font-weight: bold; text-decoration: none; color: #a3b3d1;}

div#p_index_body .blurb_title {color: #adb5c2; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}

table.body_colored #left_column .title_link_with_symbols a:link {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored #left_column .title_link_with_symbols a:visited {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored #left_column .title_link_with_symbols a:hover {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}
table.body_colored #left_column .title_link_with_symbols a:active {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}

table.body_colored #left_column .index_title a:link {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored #left_column .index_title a:visited {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored #left_column .index_title a:hover {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}
table.body_colored #left_column .index_title a:active {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}

table.body_colored tr td table tr td #rightcol_links .index_title a:link {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored tr td table tr td #rightcol_links .index_title a:visited {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored tr td table tr td #rightcol_links .index_title a:hover {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}
table.body_colored tr td table tr td #rightcol_links .index_title a:active {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}

table.body_colored tr td table tr td #rightcol_links .title_link_with_symbols a:link {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored tr td table tr td #rightcol_links .title_link_with_symbols a:visited {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: none;}
table.body_colored tr td table tr td #rightcol_links .title_link_with_symbols a:hover {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}
table.body_colored tr td table tr td #rightcol_links .title_link_with_symbols a:active {font-size: 11px; font-weight: normal; color: #176fcc; text-decoration: underline;}

.consumer_news_width a:link {color: #176fcc; text-decoration: none;}
.consumer_news_width a:visited {color: #176fcc; text-decoration: none;}
.consumer_news_width a:hover {color: #176fcc; text-decoration: underline;}
.consumer_news_width a:active {color: #176fcc; text-decoration: underline;}

/* Assortment Styles */

table#p_assortment_body td#discussion_cell {background-color: #e8f6fc; vertical-align: top; color: #818E9F;}
table#p_assortment_body div#discussion_heading {color: #57718f; background-color: #C5D4D6; height: 18px; padding: 2px 0 2px 10px; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif; }
table#p_assortment_body table#special_section_heading {color: #57718f; padding-left: 10px; background-color: #C5D4D6; height: 18px; width: 100%; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
table#p_assortment_body td#special_section_cell {background-color: #e8f6fc; vertical-align: top; }
table#p_assortment_body div#special_section_block {padding: 20px 0 0 15px; background-color: #e8f6fc;}
table#p_assortment_body div#discussion_block {padding-right: 10px; background-color: #e8f6fc;}
table#p_assortment_body td.product_links_cell {padding: 10px; vertical-align: top; background-color: #c5d4d6; font-style: normal; font-weight: normal; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
table#p_assortment_body td.product_links_cell .bodytitle {color: #57718F; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
table#p_assortment_body table#assortment_caption_table {background-color: #77b3b4;}
table#p_assortment_body td#assortment_image_cell {background-color: #77b3b4;}
table#p_assortment_body #product_links_container .blurb_title_link_blurb {font-style: normal; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, sans-serif;}

/* These are new definitions for the discussion and special sections, which will take effect after the next full publish. */
table#p_assortment_body #discussion_heading_table td {color: #57718f; background-color: #C5D4D6;}
table#p_assortment_body table#special_section_heading_table td {color: #57718f; background-color: #C5D4D6;}


/* REDESIGN CSS */

	
	
#health_cat_left {
	width: 479px;
	vertical-align: top;
	float: left;
	background: #dee5f0;
	border: 1px solid #96aec6;
	border-top: 0;
	position: relative;
	padding: 15px 13px 15px 14px;
	}
html>body #health_cat_left {width: 450px;}
#health_cat_left .fitness {
	width: 215px;
	height: 500px;
	background: #96aec6 url(../../health_fitness/images/hlthfit_fwhead.gif) no-repeat;
	vertical-align: top;
	float: left;
	clear: both;
	border: 1px solid #b8bce9;
	margin-bottom: 15px;
	}

#health_cat_left .drug {
	width: 215px;
	height: 500px;
	background: #f3f5f9 url(../../health_fitness/images/hlthfit_dghead.gif) no-repeat;
	vertical-align: top;
	float: right;
	border: 1px solid #96aec6;
	margin-bottom: 15px;
	margin-right: 1px;
	}
html>body #health_cat_left .drug{margin-right: 0px;}	

#health_cat_left .drug .intro {
	font: 11px Arial, Helvetica, sans-serif;
	color: #747d8f;
	}
	
#health_cat_left .drug .name {
	margin-top: 0;
	padding: 0;
	vertical-align: text-bottom;
	}

#health_cat_left .drug .name p {
	margin-top: 0;
	padding: 0;
	vertical-align: text-top;
	line-height: 11px;
	}
	
#health_cat_left .drug .name img {
	margin: 0 3px 2px 0;
	}
	
.health_file_size {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #747d8f;
	}

.health_cat_linktext, .health_cat_linktext_normal {
	padding: 35px 0 8px 15px; 
	}
	
.health_cat_linktext ul, .health_cat_linktext_normal ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
.health_more {
	font: bold 11px/14px Arial, Helvetica, sans-serif;
	padding: 2px;
	line-height: 24px;
	color: #000;
	}
	
.health_list_head {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #091c30;
	}
	
.health_cat_linktext_normal ul li {
	font: normal 11px/15px Arial, Helvetica, sans-serif;
	}
	
.health_cat_linktext ul li {
	font: normal 11px/15px Arial, Helvetica, sans-serif;
	}
	
			.health_cat_linktext ul li a:link, .health_cat_linktext_normal ul li a:link {
				text-decoration: none;
				color: #176fcc;
				}
				
			.health_cat_linktext ul li a:visited, .health_cat_linktext_normal ul li a:visited {
				text-decoration: none;
				color: #176fcc;
				}

			.health_cat_linktext ul li a:hover, .health_cat_linktext_normal ul li a:hover {
				text-decoration: underline;
				color: #176fcc;
				}
				
			.health_cat_linktext ul li a:active, .health_cat_linktext_normal ul li a:active {
				text-decoration: underline;
				color: #176fcc;
				}
				
			.indent { 
				margin-left: 12px;
				font: normal 11px Arial, Helvetica, sans-serif;
				}

#health_cat_left .for_cr_med {
	width: 450px;
	margin: 0;
	padding-top: 10px;
	vertical-align: top;
	clear: both;
	text-align: right;
	}
	
#health_cat_left .dctr {
	width: 448px;
	background: #f1eff0 url(../../health_fitness/images/hlthfit_dctrhead2.jpg) no-repeat;
	vertical-align: top;
	clear: both;
	margin: 0;
	border-left: 1px solid #96aec6;
	border-right: 1px solid #96aec6;
	border-top: 1px solid #96aec6;
	height: 260px;
	}

#health_cat_left .head_tab_left img {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: text-bottom;
	text-align: right;
	float: left;
	}
	
#health_cat_left .head_tab img {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: text-bottom;
	float: right;
	}
	
#health_cat_left .dctr img {
	float: right;
	}
	
#health_cat_left .dctr .intro {
	padding: 35px 150px 25px 35px;
	font: 11px Arial, Helvetica, sans-serif;
	color: #747d8f;
	}
	
			#health_cat_left .dctr a:link {
				text-decoration: none;
				color: #176fcc;
				}
				
			#health_cat_left .dctr a:visited {
				text-decoration: none;
				color: #176fcc;
				}

			#health_cat_left .dctr a:hover {
				text-decoration: underline;
				color: #176fcc;
				}
				
			#health_cat_left .dctr a:active {
				text-decoration: underline;
				color: #176fcc;
				}
	
.pdf {
	font: 11px Arial, Helvetica, sans-serif;
	color: #747d8f;
	}
	
#health_cat_left .dctr .diseases_conditions {
	width: 140px;
	vertical-align: top;
	float: left;
	margin-bottom: 15px;
	font: 11px Arial, Helvetica, sans-serif;
	padding-left: 15px;
	}
	
#health_cat_left .dctr .treatment_centers {
	width: 120px;
	vertical-align: top;
	float: left;
	margin-bottom: 15px;
	font: 11px Arial, Helvetica, sans-serif;
	padding-left: 15px;
	}
	
#health_cat_left .dctr .natural_medicines {
	width: 140px;
	vertical-align: top;
	float: left;
	margin-bottom: 15px;
	font: 11px Arial, Helvetica, sans-serif;
	padding: 35px 0 0 15px;
	}
	
#health_cat_left .dctr .natural_medicines img {
	padding: 0px;
	margin: 5px 0 0 0;
	float: left;
	}

#health_cat_left .dctr ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
		
#health_cat_left .dctr ul li {
	font: normal 11px/14px Arial, Helvetica, sans-serif;
	}
	
#health_cat_left .subscribe_box_left {
	width: 330px;
	height: 45px;
	margin: 0;
	padding: 0;
	float: left;
	vertical-align: top;
	background: #e4eaf3;
	border: 1px solid #849dbb;
	border-right: 0px;
	}
	
#health_cat_left .subscribe_box_left a:link {
	font: bold 14px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #176fcc;
	}
				
#health_cat_left .subscribe_box_left a:visited {
	font: bold 14px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #176fcc;
	}

#health_cat_left .subscribe_box_left a:hover {
	font: bold 14px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #176fcc;
	}
				
#health_cat_left .subscribe_box_left a:active {
	font: bold 14px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #176fcc;
	}
	
#health_cat_left .subscribe_box_left .text {
	padding: 5px 10px;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #3f3e3e;
	}
	
#health_cat_left .subscribe_box_right {
	width: 117px;
	height: 45px;
	margin: 0;
	padding: 0;
	float: left;
	vertical-align: top;
	background: #e4eaf3;
	border: 1px solid #849dbb;
	}
	
#health_cat_left .subscribe_box_right a:link {
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #176fcc;
	}
				
#health_cat_left .subscribe_box_right a:visited {
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #176fcc;
	}

#health_cat_left .subscribe_box_right a:hover {
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #176fcc;
	}
				
#health_cat_left .subscribe_box_right a:active {
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #176fcc;
	}
	
#health_cat_left .subscribe_box_right .text {
	padding: 5px 10px;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #0a3686;
	}

/* CONSUMER NEWS COLUMN */
	
#health_cat_news {
	width: 235px;
	margin: 0;
	padding: 15px 0 0 15px;
	float: left;
	vertical-align: top;
	}
	
#health_cat_news h1 {color: #000000; font: bold 18px Arial, Helvetica; margin: 0; padding: 0;}
#health_cat_news h1 a {color: #000000; font: bold 18px Arial, Helvetica;}
#health_cat_news h1 a:link {text-decoration: none; }
#health_cat_news h1 a:visited  {text-decoration: none;}
#health_cat_news h1 a:hover  {text-decoration: underline;}

#health_cat_news h2 {color: #000000; font: normal 11px Arial, Helvetica; margin: 0; padding: 0; text-align: left;}
#health_cat_news h2 a {color: #176fcc; font: bold 11px Arial, Helvetica;}
#health_cat_news h2 a:link {text-decoration: none; }
#health_cat_news h2 a:visited  {text-decoration: none;}
#health_cat_news h2 a:hover  {text-decoration: underline;}
#health_cat_news h2 a:active  {text-decoration: underline;}

#health_cat_news ul {margin:0; padding:0; padding-top:5px;  list-style: none;  }
#health_cat_news li  { padding:0; margin:0; padding-left: 8px; margin-left: 10px; background: url(../../images/cro_home_newsbullet.gif) no-repeat 0 .45em;}

#health_cat_news .text {
	font: normal 11px Arial, Helvetica, sans-serif;
	}
	
#health_cat_news .text a {color: #176fcc; font: bold 11px Arial, Helvetica;}
#health_cat_news .text a:link {text-decoration: none; }
#health_cat_news .text a:visited  {text-decoration: none;}
#health_cat_news .text a:hover  {text-decoration: underline;}
#health_cat_news .text a:active  {text-decoration: underline;}

#health_cat_news .highlights {
	width: 230px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background: #f3f3f3;
	clear: both;
	}
	
#health_cat_news .highlights .text {
	margin: 0 10px 0 10px;
	font: normal 11px Arial, Helvetica, sans-serif;
	padding-top: 10px;
	overflow: auto;
	padding-bottom: 10px;
	}
	
#health_cat_news .highlights .text img {
	width: 56px;
	height: 56px;
	float: left;
	margin-right: 5px;;
	}
	
			#health_cat_news .highlights .text a:link {
				text-decoration: none;
				color: #176fcc;
				font-weight: bold;
				}
				
			#health_cat_news .highlights .text a:visited {
				text-decoration: none;
				color: #176fcc;
				font-weight: bold;
				}

			#health_cat_news .highlights .text a:hover {
				text-decoration: underline;
				color: #176fcc;
				font-weight: bold;
				}
				
			#health_cat_news .highlights .text a:active {
				text-decoration: underline;
				color: #176fcc;
				font-weight: bold;
				}
	
#health_cat_news .highlights .text  a {color: #000000; font: normal 11px Arial, Helvetica sans-serif;}
#health_cat_news .highlights .text  a:link {text-decoration: none;}
#health_cat_news .highlights .text  a:visited  {text-decoration: none;}
#health_cat_news .highlights .text  a:hover  {text-decoration: underline;}
#health_cat_news .highlights .text  a:active  {text-decoration: underline;}
	
#health_cat_news .rss {
	width: 230px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background: #fff url(../../health_fitness/images/hlthfit_rsshead.gif) no-repeat;
	clear: both;
	}
	
#health_cat_news .rss .text {
	margin: 0;
	padding: 30px 0 0 20px;
	font: normal 11px Arial, Helvetica, sans-serif;
	}
	
#health_cat_news .cons_int {
	width: 230px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background: #fff url(../../health_fitness/images/hlthfit_interesthead.gif) no-repeat;
	clear: both;
	}
	
#health_cat_news .cons_int .text {
	margin: 0;
	padding: 25px 0 0 0;
	font: normal 11px Arial, Helvetica, sans-serif;
	}
	
#health_cat_news .cons_int .text ul {margin:0; padding:0; padding-top:5px;  list-style: none;  }
#health_cat_news .cons_int .text li  { padding:0; margin:0; padding-left: 8px; margin-left: 10px; background: url(../../health_fitness/images/cro_home_newsbullet.gif) no-repeat 0 .45em;}

/* AD COLUMN */
#health_cat_right {
	width: 150px;
	margin: 0;
	padding: 0;
	float: left;
	vertical-align: top;
	}
.index_title { color: #000000; font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 11px; }
.index_title a:link {color: #000000; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
.index_title a:visited {color: #000000; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
.index_title a:hover {color: #BBBBBB; font-style: normal; font-weight: bold; font-size: 11px; font-family: Arial, Helvetica, Geneva, sans-serif;}
#article_column .billshrink-overview {
	border-bottom: 0 none;
}

/*  Bill Shrink Styles */


.billshrink-buying-advice {
width: 100%;
border-top: solid 1px #BFCAD3;
border-bottom: solid 1px #BFCAD3;
margin: 12px 0 12px 0;
padding-left:12px;
clear:both;
}	
 
.billshrink-money-violator {
    background-color: #E7E7E7;
    height: 29px;
    text-align: right;
	position:absoluete;
	width: 100%;
	display: none;
	

}
.billshrink-money-violator .text {
    height: 26px;
    padding-top: 6px;
	margin: auto;
	width: 920px;
}
.billshrink-money-violator img {
    vertical-align: bottom;
}
.billshrink-money-violator .text .logo {
    font: bold 12px/16px Arial;
    padding-left: 6px;
}
.billshrink-money-violator .text .copy {
    font: 12px/16px Arial;
    padding-left: 6px;
	
}
.billshrink-money-violator a {
    color: #176FCC;
    font: bold 12px/16px Arial;
    padding-left: 3px;
}
.billshrink-money-violator a:link {
    color: #176FCC;
    text-decoration: none;
}
.billshrink-money-violator a:visited {
    color: #176FCC;
    text-decoration: none;
}
.billshrink-money-violator a:hover {
    text-decoration: underline;
}
.billshrink-money-violator a:active {
    text-decoration: underline;
	
}

.billshrink {
 width: 100%;
 border-top: solid 1px #BFCAD3;
 border-bottom: solid 1px #BFCAD3;
 margin: 17px 0 16px 0;
 padding: 0;
}

.billshrink-silver {
 width: 737px;
 border-top: solid 1px #BFCAD3;
 border-bottom: solid 1px #BFCAD3;
 margin: 0;
 padding-left: 11px;
}

.billshrink-overview {
width: 100%;
margin: 12px 0 12px 0;
clear:both;
}

.billshrink-head {
  font: normal 15px/16px Arial, Helvetica, sans-serif;
  padding-top: 20px;
  width:auto;
}



.billshrink-head-green {
   font: bold 15px/16px Arial, Helvetica, sans-serif;
   color: #94B363;
   padding-top: 20px;
   width:auto;
}

 

.billshrink-head-green-rolling {
   font: normal 12px/16px Arial, Helvetica, sans-serif;
   color: #94B363;
   padding-top: 20px;
   width:auto;
}

 

.billshrink-text {
 font: normal 12px/16px Arial, Helvetica, sans-serif;
 padding-bottom: 20px;
 width:auto;
}

 

.billshrink-text a{
 font: normal 12px/16px Arial, Helvetica, sans-serif;
 color: #176FCC;
 text-decoration: none;
}


.billshrink-text a:link {
    color: #176FCC;
    text-decoration: none;
}
.billshrink-text a:visited {
    color: #176FCC;
    text-decoration: none;
}
.billshrink-text a:hover {
    text-decoration: underline;
    color: #176FCC;
}
.billshrink-text a:active {
    text-decoration: underline;
    color: #176FCC;
}	