/**
 * The Daily Beast Type Faces
 *
 *
 *
 * This style has been crated by Mark Catalano
 *
 * @project     The Daily Beast
 * @version     1.0
 * @author      Mark Catalano
 * @copyright   2011 by The Newsweek Daily Beast Company
 *
 */

/*
This CSS resource incorporates links to font software which is
the valuable copyrighted property of WebType LLC, The Font Bureau,
and/or their suppliers. You may not
attempt to copy, install, redistribute, convert, modify or reverse
engineer this font software. Please contact WebType with any
questions: http://www.webtype.com
*/

/**
 * Titling Gothic
 *
 * @section titling
 */
@font-face {
  font-family: "TitlingGothicFBMediumComp";
  src: url("http://www.thedailybeast.com/etc/clientlibs/dailybeast/font/c826062f-443f-45cb-b275-932b7132b308-2.eot");
  src: url("../font/c826062f-443f-45cb-b275-932b7132b308-2.eot") format("embedded-opentype"),
       url("../font/c826062f-443f-45cb-b275-932b7132b308-3.woff") format("woff"),
       url("../font/c826062f-443f-45cb-b275-932b7132b308-1.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "TitlingGothicFBStandCond";
  src: url("http://www.thedailybeast.com/etc/clientlibs/dailybeast/font/ef6b1625-3be7-40de-b0ed-729fd283e8d6-2.eot");
  src: url("../font/ef6b1625-3be7-40de-b0ed-729fd283e8d6-2.eot") format("embedded-opentype"),
       url("../font/ef6b1625-3be7-40de-b0ed-729fd283e8d6-3.woff") format("woff"),
       url("../font/ef6b1625-3be7-40de-b0ed-729fd283e8d6-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*@font-face {
  font-family: "TitlingGothicFBBoldComp";
  src: url("../font/ad14260e-6214-44b0-a932-2efb8ae67fd2-2.eot");
  src: url("../font/ad14260e-6214-44b0-a932-2efb8ae67fd2-2.eot?") format("embedded-opentype"),
       url("../font/ad14260e-6214-44b0-a932-2efb8ae67fd2-3.woff") format("woff"),
       url("../font/ad14260e-6214-44b0-a932-2efb8ae67fd2-1.ttf") format("truetype"),
       url("../font/ad14260e-6214-44b0-a932-2efb8ae67fd2-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}*/

