/* Framework rules */

/* handles Firefox outline issue  */
:focus { -moz-outline-style: none; outline:none;}


#glowEffect {}
#wrapper {width:961px;margin:0 auto;}
#logo {height:64px;margin-top:31px;padding-left:11px;padding-bottom:5px;overflow:hidden;float:left;}
#mainContent {clear:both;}
#header {background:url(../images/header.jpg) no-repeat;}
    #header .leftPolicies {height:64px;overflow:hidden; padding-right: 10px;}
	#header .left {height:64px;overflow:hidden;}
    #header .right {height:64px;padding:27px 0 18px 28px;} 
    #header .title {color:#fff;font-size:1.5em;position:relative;top:-5px;}
#bodyContent {background:#FFF;display:inline-block; padding:23px;}   
*html #bodyContent {background:#FFF;display:inline-block; padding:22px;}  
#bodyFooter {background:#FFF;}
    #bodyFooter .left {margin-bottom:-1px;}
    #bodyFooter .right {font-size:1px;height:12px;margin-bottom:-1px;}


#footer {padding:8px 10px 30px 17px;}
    #footer a {text-decoration:none;margin:0 3px;}
    #footer a:hover {text-decoration:underline;}
    #footer #bottomNav {float:left;}
    #footer #legalCopy {text-align:left;}
    #footer #legalCopy div {margin-top:3px; margin-left:5px;}

.bodyCopy { }
    /*  font treatments:                 */
        #globalTopRight a {color:#95b7dd;line-height:1.5em; font-weight:700;} /* 16px x 75% x 1.5 = 18px */
        .bodyCopy {color: #585858;;font-size:12px;}
        .bodyCopy h1 {color:#5b6371;margin:0;font-size:1.5em; padding:0;} /* 16px x 75% x 1.5 = 18px */
        .bodyCopy h2 {color:#477398;margin:0;font-size:1.35em;} /* 16px x 75% x 1.25 = 15px */
        .bodyCopy h3 {color:#477398;margin:0;font-size:1.25em;} /* 16px x 75% x 1.25 = 15px */
		.bodyCopy h4 {padding-top: 5px; font-size: 1.1em;} /* 16px x 75% x 1.25 = 15px */


        .bodyCopy p {margin:5 0 8px 0;}
            .bodyCopy .titleFont {color:#477398;font-weight:bold;}
            .bodyCopy .heavyFont {color:#5b6371;font-weight:bold;}
            .bodyCopy .activeFont {color:#009ada;font-weight:bold;}
            .bodyCopy .inactiveFont {color:#acacac;font-weight:bold;}
            .bodyCopy .highlightFont {color:#79b440;font-weight:bold;}
            .bodyCopy .highlightFontRed {color:#d26421;font-weight:bold;}
            .bodyCopy .noteFont {color:#999;}
            .bodyCopy .barTitleFont {color:#fff;font-weight:bold;font-size:1.17em;} /* 16px x 75% x 1.17 = 14px */
            .bodyCopy .barStandardFont {color:#fff;font-size:1.17em;} /* 16px x 75% x 1.17 = 14px */
            .bodyCopy .barSmallFont {color:#fff;font-weight:bold;}
            .bodyCopy .barNoteFont {color:#fff;font-weight:bold;font-size:0.9em;} /* 16px x 75% x 0.9 = 11px */
            .bodyCopy .smallType  { color:#5b6371; font-size:11px; font-style:italic; }
            .bodyCopy .exsmallType { color:#5b6371; font-size:11px; } 
            .bodyCopy .smallTypeStd {font-size:0.9em;} /* 16px x 75% x 0.9 = 11px */
            .bodyCopy .smallBrightFont {color:#8bb44f;font-weight:bold;font-size:0.9em;} /* 16px x 75% x 0.9 = 11px */

        #footer p {margin:0;}
            #footer .linkFont, .linkFont a {color:#759acc;font-size:11px; } /* 16px x 75% x 0.9 = 11px was 0.95em */
            #footer .legalFont {color:#828282;font-size:10px;} /* 16px x 75% x 0.8 = 10px was 0.8em  */
    
/*  expandable rounded box for main content area     */
.roundCornerBox {padding-bottom:15px; position:relative;}
        
    /* rounded corner styles */
    
    .roundCornerBox .top {background:url('../images/shell/pageCopy_border.gif') repeat-x top; height: 1%; }
    .roundCornerBox .topLeft {background:url('../images/shell/corner_top-left.gif') no-repeat top left;}
    .roundCornerBox .topRight {background:url('../images/shell/corner_top-right.gif') no-repeat top right;}
    .roundCornerBox .left {background:url('../images/shell/pageCopy_border.gif') repeat-y left;}
    .roundCornerBox .right {background:url('../images/shell/pageCopy_border.gif') repeat-y right;}
    .roundCornerBox .bottom {background:url('../images/shell/pageCopy_border.gif') repeat-x bottom;}
    .roundCornerBox .bottomLeft {background:url('../images/shell/corner_bottom-left.gif') no-repeat bottom left;}
    .roundCornerBox .bottomRight {background:url('../images/shell/corner_bottom-right.gif') no-repeat bottom right; height:1%; }
 
    .roundCornerBox .padding {padding:15px 20px 15px 20px;}
    .roundCornerBox .adjustUp { position:absolute; top:-8px; left:-10px; background-color:#fff; padding:0 5px 0 5px; margin-left:12px; }
    .roundCornerBox .topHeader {background:url('http://help.twcable.com/global/images/shopping_cart.gif') no-repeat top;}
    .roundCornerBox .paddingHeader {padding:35px 20px 10px 20px;}

/* global tag rules */
   
    td { vertical-align:top; }
    
    /* link styles */
    a { text-decoration:none; font-weight: 700; color:#009ada; }
    a:hover { text-decoration:underline; }
    a.down { background:url('http://help.twcable.com/global/images/down_arrow_on.gif')  no-repeat; }
    a.up { background:url('http://help.twcable.com/global/images/up_arrow_on.gif')  no-repeat; }
    a.linkleft { background: url('http://help.twcable.com/global/images/link_arrow_l.gif') left center no-repeat; padding-left:15px; }
    a.linkright { background: url('http://help.twcable.com/global/images/link_arrow_r.gif') left center no-repeat; padding-left:15px;}
    a.linkrightbluetext { background: url('http://help.twcable.com/global/images/link_arrow_r.gif') left center no-repeat; padding-left:15px;color:#009ada;font-weight:bold; }
    .linkRightPadding { padding-left:15px; }    

/* global style rules */
    body {margin:0;padding:0;font-family:Arial;height:100%;font-size:75%;} /* 16px x 75% = 12px */
    body img {border:0px;}
        
    /* template columns */
    #leftCol { width:646px; float:left; margin-right:19px; }
    #rightCol { width:250px; border:0px solid black; float:left; min-height:200px; }

    
    .leftTopContent { padding-bottom:0px;}
    
    .leftTopRightIcon { position:relative; }
    .secureIcon { position:absolute; right:10px; top:-20px; width:130px; height:28px;text-align:right; font-style:italic; padding-right: 30px; background:url('http://help.twcable.com/global/images/secure.gif') no-repeat bottom right; }
    .adjustUp {position:relative; z-index:2; padding:0 1px 0 2px; left:18px; top:10px; background-color:#fff; color:#477398;font-size:1.25em; font-weight:bold; }  
	.sectionTitle {position:relative; z-index:2; padding:0 1px 0 2px; left:0px; top:2px; background-color:#fff; color:#477398;font-size:1.10em; font-weight:bold; }  
    .dynamicSubTitle {position:relative; top:10px; left:5px; z-index:3; padding:0 5px 0 5px; margin-left:12px; background-color:#fff; color:#477398;font-size:1.25em; font-weight:bold; }  
    
	/* global control styles */ 
    /* control Contact*/
    .ctrlContact { padding-bottom:10px; }
    .contactModule { padding-bottom:10px;}   
    
    /* control StepNav */
	.ctrlStepNav { margin-bottom:15px; }
    .ctrlStepNav .step1 {background: url('http://help.twcable.com/global/images/stepnav_1.gif') no-repeat; width:647px; height:46px; }
    .ctrlStepNav .step2 {background: url('http://help.twcable.com/global/images/stepnav_2.gif') no-repeat; width:647px; height:46px; }
    .ctrlStepNav .step3 {background: url('http://help.twcable.com/global/images/stepnav_3.gif') no-repeat; width:647px; height:46px; }
    
    /* control ShoppingCart */
  
    
    .show { display:block; }
    .hide { display:none; }
    .clear { clear:both;height:1px;overflow:hidden}
    .divider {clear:both; background-image:url(../images/inRoundbox_devidersBG.gif); border-top: 1px solid #e8e8e8; padding: 2px 0 2px 0;}
   
   
    .footer {clear:both; width: 700px; font-size: 10px; line-height: 12px; color: #747475; border-top: 1px solid #e8e8e8; margin-top:10px; padding-top:10px; padding-bottom:5px; }
    .footer hr  { height:1px; color:#e8e8e8;  margin:15px 0px;   }
    .footer a { color:#2654a1; font-weight:bold; text-decoration: underline;  }
    .footer a:hover { color:#828282 !important; text-decoration: underline; }
	
	body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #585858;
}
table { font-size: 12px; color: #585858;}

h3 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
.lines {
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	border-bottom-style: solid;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}

.visi
{
	visibility:inherit;
	display:inherit;
}

.invisi
{
	visibility:hidden;
	display:none;
}

.visisp
{
	visibility:inherit;
	display:inherit;
}

.invisisp
{
	visibility:hidden;
	display:none;
}

a.tip{
    position:relative;
    text-decoration:none;
	color:#585858;
	font-weight:600;
}

a.tip:hover {
	text-decoration:none;
	background-color: #fff;
	z-index:100;	
	}

a.tip span {display: none;}

a.tip:hover span {
    display:block;
    position:absolute;
    top:-2em;
    left: 5em;
    width:200px;
    border:1px solid #000;
    background-color: #D1F4FC;
    color:#585858;
	font-weight:normal;
    padding:4px;
	z-index: 500;
}
    
 
