form { margin: 0; padding: 0; }
body { background-color:#BBBBBB; font-family: verdana, arial, helvetica, sans-serif; margin:0 auto; padding:0; }
#g1_body #g1_header, #g1_body #g1_footer, #g1_body #g1_toolbar { width: 990px; margin: 0 auto; padding: 0; font-family: verdana, arial, helvetica, sans-serif; }
/* from g1_header_footer.css */

 
.menubar_left { float:left; margin:2px 0 2px 4px; padding: 0px 0 0; width:512px; }
.signinStrip { padding: 3px 16px 0px 16px; background-color: #FFF; text-align: right; font-size: 10px; font-weight:normal; color: #ccc; }
.signin_text { font-weight:bold; }
.username { color: #000; font-weight: bold; }
.signinStrip a { color: #0066cc; text-decoration: none; }
.signinStrip a:hover { text-decoration: underline; }
form#formName3 { float: right; font-size: 10px; width: 228px; margin:2px 0 0; padding:0 16px 5px 0; }
select.formPopup { float:right; font-size:9px; margin:0px 0 2px 10px; padding:1px; width:228px; }
#logoleft { float:left; margin: 0px 0px 0px 0px; padding:0px 6px 0px 0px; }
#logoleft img { margin: 0px 0px 0px 10px; padding: 0px 0px 0px 0px; }
#nosearch { float: right; color:#767676; font-size:12px; width:288px; height: 12px; margin-bottom: 2px; margin-top:6px; padding:0; }
#nosearch #new_signin { font-size:10px; margin:7px 0 2px; }
.signinStrip h5 { color:#666666; font-size:12px; font-weight:bold; text-align:right; margin: 0; padding: 0; float:right; width:272px; }
#current_new { color:#767676; float:right; font-size:10px; height:17px; margin-bottom:2px; margin-top:4px; padding:0; width:288px; text-align:right; }
a.signin_blue { background-color:#64BEF0; border:1px solid #FFFFFF; color:#FFFFFF; font-family:verdana, arial, helvetica, sans-serif; font-size:10px; font-weight:bold; margin: 0 15px 0 3px; padding:1px 4px 2px; text-decoration:none; }
/* was g1_header*/
#tech_header { background-color: #fff; width: 990px; margin: 0 auto; padding: 0; font-family: verdana, arial, helvetica, sans-serif; }
body #tech_header #menubar, body #menubar, #menubar { width:990px; background-color:#fff; left:0; margin:0; padding:0 0 0px 0; padding-right:0px; } /* remove position relative for beta message */
#menubar a.menu { text-transform: uppercase; font-weight: bold; padding:2px 6px 2px 6px; color: #3399cc; float:left; font-size:12px; letter-spacing:-0.05em; text-align:center; text-decoration:none; word-spacing:-0.07em; border: none; float: left; display: inline; margin:0; }
#menubar a.menu:hover { text-transform: uppercase; background-color: #eaf1f4; color: #0067a6; text-decoration: none; padding:2px 6px 2px 6px; margin:0; }
.menuPipe { font-size: 10px; color: #bbbbbb; float: left; margin: 2px -1px 0 -1px; padding:2px 0px 2px 0px; }
/* footer */

#tech_footer { background-color: #4f4c4d; width: 990px; padding: 0; margin: 0 auto; color: #fff; }
#tech_footer td { padding: 10px 20px 4px 20px; }
.techLeftFoot { float:left; width: 930px; padding: 3px 0px 0px 0px; margin: 0; color: #fff; font-size: 10px; }
.techRightLogo img { padding: 0 2px 5px 0; }
.techRightLogo { float:right; width: 120px; padding: 8px 0px 6px 0px; margin: 0; text-align: right; }
.techRightFoot { float:right; width: 380px; padding: 1px 0px 6px 0px; margin: 0; font-size: 10px; text-align: right; }
.footCol { float: left; padding: 10px 4px 0px 4px; }
.footCol a { color: #fff; text-decoration:none; }
.footCol a:hover { text-decoration:underline; }
