div#right-side-bar {
	width: 172px;
	padding-left: 0px;
	float: right;
	background-position: right top;
	right: 0;
	padding-top: 0px 10px !important;
}

div#right-side-bar * {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

div#right-side-bar li {
    list-style-type: none !important;
}

div#right-side-bar hr {
	margin: 5px auto;
	border-color: #CCC;
	border-width: 1px 0 0 0;
	border-style: solid;
	height: 0;
	clear:both;
    width: 150px;
}

div#right-side-bar div#top-banner {
	display: none;
}

div#right-side-bar.logged-out div#top-banner {
	width: 151px;
	height: 195px;
	margin: 0;
	_margin:0;
	left:1px;
	padding: 0;
	vertical-align: baseline;
	background-image:url("http://assets.bodybuilding.com/common/images/skins/rawberry/top-login-banner.png");
	background-repeat: no-repeat;
	position: relative;
	display: block;
}

div#right-side-bar.logged-out div#top-banner a.signup-btn {
	background-image: url("../../../../images/skins/rawberry/wrapper-sprite.png");
	background-repeat: no-repeat;
	background-position: -396px -367px;
	font-size: 0;
	width: 60px;
	height: 21px;
}

div#right-side-bar.logged-out div#top-banner a.signup-btn,div#right-side-bar.logged-out div#top-banner span.bb-button
	{
	position: absolute;
	bottom: 10px;
	right: 8px;
}

div#right-side-bar.logged-out div#top-banner a.signup-btn:hover {
	background-position: -396px -389px;
}

div#right-side-bar.logged-out div#top-banner span.bb-button a {
	background-image: none;
}

div#right-side-bar div#login-form-container {
	width: 132px;
	margin: 10px auto;
	font-size: 12px;
}

div#right-side-bar div#login-form-container div.member-login {
    text-transform: uppercase;
    text-align: left;
    font-family: "Arial Black", "Arial Bold", arial, sans-serif;
    font-weight: 900;
    color: #003f63;
    margin-top: 12px;
    height: 14px;
    line-height: 14px;
}

div#right-side-bar div#login-form-container div.login-input-row {
	display: block;
	position: relative;
	height: 24px;
	width: 132px;
	padding: 0;
	margin: 4px auto 0;
	vertical-align: baseline;
	text-align: left;
}

div#right-side-bar div#login-form-container label.watermark {
	color: #BBB !important;
	display: block;
	margin: 4px auto 0 2px;
	padding: 0;
	text-transform: uppercase;
	width: 124px;
	font-size: 11px;
}

div#right-side-bar div#login-form-container input[type="hidden"]
{
  visibility:hidden;
  height:0;
  width:0;
}

div#right-side-bar div#login-form-container input.login-field {
  display:block;
  font-size:11px;
  height:14px;
  line-height:12px;
  margin:0;
  padding:3px 2px 3px;
  width:119px;
}

div#right-side-bar div#login-form-container form.login-form {
	margin-top: 6px;
}

div#right-side-bar div.right-side-remember-me {
	height: 20px;
	margin-top: 10px;
}

div#right-side-bar div.right-side-remember-me ul li {
	float: left;
	list-style-type: none;
	font-size: 9px;
}

div#right-side-bar div.right-side-remember-me ul li.remember-input-inp {
	height: 16px;
	padding-top: 4px; 
    *padding-top: 0;
}

div#right-side-bar div.right-side-remember-me ul li.remember-input-txt {
	height: 12px;
	padding-top: 8px;
	margin-left: 3px;
	font-size: 9px; 
    *font-size: 8px;
	letter-spacing: -0.5px;
	line-height: 7px;
	color: #6F6F6F;
}

div#right-side-bar div.right-side-remember-me ul li.remember-input-btn {
	float: right;
}

div#right-side-bar div.right-side-remember-me ul li.remember-input-btn input
	{
	background-image: url("../../../../images/skins/rawberry/wrapper-sprite.png");
	background-position: -347px -367px;
	width: 48px;
	height: 21px;
	border: 0;
	cursor: pointer;
}

div#right-side-bar div.right-side-remember-me ul li.remember-input-btn input:hover
	{
	background-position: -347px -389px;
}

div#right-side-bar div.right-side-links {
	float: right;
	margin: 6px 0;
}

div#right-side-bar div.right-side-links li {
	list-style-type: none;
	text-align: right;
	height: 12px;
	line-height: 12px;
}

div#right-side-bar div.right-side-links li a {
	font-size: 11px !important;
	float: right;
}

div#right-side-bar div.right-side-module {
	width: 160px;
	margin: 10px auto;
	font-size: 12px;
	text-align: center;
	height: auto;
}

div#right-side-bar div.right-side-module div.dart-container {
    margin-bottom: 15px;
}

div#right-side-bar div.right-side-module div.dart-container img {
  height: auto;
}

div#right-side-bar div.right-side-module.max {
	width: 172px;
	margin: 10px auto;
}

/* ********* logged-in view ******************* */
div#right-side-bar.logged-in { 
	width: 171px;
	background-color: #e9e9e9;
	margin: 0;
	left:1px;
	padding: 0;
}

div#right-side-bar.logged-in h3 {
	background-image: url("http://assets.bodybuilding.com/store/images/sections/right-sidebar/control-panel-title-bg.jpg");
	height: 33px;
	background-repeat: repeat-x;
	width: 100%;
	text-transform: uppercase;
	margin: 5px 0 0px;
	color: #fff;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

div#right-side-bar.logged-in div.control-panel-container {
	margin: 20px 18px 0;
	width: 117px;
	_margin: 20px 17px 0;
}

* html div#right-side-bar.logged-in div.control-panel-container {
	margin: 20px 17px 0 18px;
	width: 117px;
}

div#right-side-bar.logged-in p.profile-picture-edit {
	margin: 2px 0px 0 0;
	text-align: right;
}

* html div#right-side-bar.logged-in p.profile-picture-edit {
	margin: -1px 0px 0px;
}

div#right-side-bar.logged-in div.control-panel-container ul,
div#right-side-bar.logged-in div.control-panel-container li,
div#right-side-bar.logged-in div.control-panel-container a
	{
	font-size: 11px !important;
}

div#right-side-bar.logged-in div.control-panel-container h4 {
	font-size: 16px;
	font-weight: bold;
	margin: 6px 0 4px;
	_margin: 7px 0 3px;
}

* html div#right-side-bar.logged-in div.control-panel-container h4 {
	margin: 7px 0 3px !important;
}

div#right-side-bar.logged-in div.control-panel-container ul {
	list-style-type: none;
}

* html div#right-side-bar.logged-in div.control-panel-container ul {
	margin-top: 1px !important;
}

div#right-side-bar.logged-in p.profile-picture-edit a {
	color: #0E709A;
}

div.control-panel-container ul li a {
	color: #0e709a;
}

div.control-panel-container ul li span.log-out {
	color: #797977 !important;
}

div#right-side-bar.logged-in div.right-sidebar-communication {
	height: 200px;
	margin: 15px 0 0;
	border-bottom: 1px solid #d4d4d4;
}

* html div.right-sidebar-communication {
	padding-top: 0px;
}

div.right-sidebar-communication h5 {
	font-size: 14px;
	font-weight: bold;
}

div#right-side-bar.logged-in div.right-sidebar-communication ul {
	margin: 0px 15px 5px;
	_margin-top: 1px;
}

div#right-side-bar.logged-in div.right-sidebar-communication ul li {
	line-height: 120%;
}

div.right-sidebar-communication h5 a {
	color: #000000;
}

div.right-sidebar-communication h5 a:hover {
	color: #0e709a;
}

div.right-sidebar-communication span.message-box {
	background-color: #fff;
	border: 1px solid #f00;
	font-size: 10px !important;
	font-weight: bold;
	padding: 0px 3px !important;
	color: #f00;
}
/* logged in sidebar view style sheet */

div#right-side-bar .loggedin-contain {
	width:160px;
	margin:5px auto 10px auto;
	clear:both;
	_margin-left:10px;
	_margin-right:0px;
}

div#right-side-bar .ln-control-panel {
	background:url("http://assets.bodybuilding.com/common/images/common/control-bg.jpg") repeat-x;
	padding-top:3px;
	width:100%;
	color:#fff;
	width:100%;
	height: 33px;
	float:left;
	margin:10px 0;
	text-transform:uppercase;
	text-align:center;
}

div#right-side-bar .ln-control-panel h4 {
	font-size:14px;
	font-weight:bold;
	padding:6px 0;
    color:#fff;
}

div#right-side-bar .ln-content-padding {
	font-size: 10px;
	color: #333333;
	font-family: arial, Helvetica, sans-serif;
	padding: 0 5px 5px;
	_padding:0px !important;
}
div#right-side-bar .profile-image {
	text-align:left;
}
div#right-side-bar .profile-image img {
	border:2px solid #fff;
	max-width: 110px;
	max-height: 110px;
}
div#right-side-bar .ln-small-font {
	float:left;
	margin:3px 3px 8px 0px;
}

div#right-side-bar .greyLink {
	color:#333 !important;
}
div#right-side-bar .ln-username {
	margin:10px;
}
div#right-side-bar .ln-username h4 {
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color:#2c2b2a !important;
	white-space:pre-line;
	word-wrap:break-word;
}
div#right-side-bar .ln-logout ul {
	list-style-type:none;
    margin:6px 0 15px 0;
	text-align:left;
	padding: 0 !important;
}
div#right-side-bar .ln-logout ul li {
	line-height:13px;
	font-size:11px;
}
div#right-side-bar .ln-logout ul li a {
	color:#0E709A;
}
div#right-side-bar table {
	line-height:12px;
	}
div#right-side-bar .friends-rating {
	overflow: hidden;
	text-align: left;
	padding: 1px 0 0 0;
}
div#right-side-bar .friends-rating h5
{
    width: 100%;
    float: none !important;
    height: auto !important;
    padding: 0;
    margin: 0;
    line-height: normal;
}

div#right-side-bar .friends-rating h5 a {
	color:#2c2b2a;
	font-size:11px;
	font-weight:bold;
}
div#right-side-bar .friends-rating h5 {
	background-image:none !important;
}
div#right-side-bar .friends-rating ul {
	list-style-type:none;
	margin-left:10px;
	line-height:14px;
	font-size:11px;
}
div#right-side-bar h5 a.ln-subtitles  {
	color:#333;
	_color:#333 !important;
}
div#right-side-bar h5 a.ln-subtitles:hover {
	color:#0E709A;
	_color:#03709a !important;
}
div#right-side-bar.logged-in div.loggedin-contain div.adzone a img {
	width:120px;
	height:100%;
}

div#right-side-bar span.unread-alert {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background-color: #FFF;
    border: 1px solid #F00;
    padding: 0 2px;
}
