.availablePointsNumber{color:#fc0;font:bold 24px/27px Helvetica,Arial,sans-serif;width:100px;float:left;text-align:right;}
#right_column_account_login_form_field_rr_help_link{position:absolute;display:block;width:16px;height:16px;right:4px;top:2px;background-repeat:no-repeat;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -1868px;}
.right_nav_account_login_left{float:left;width:190px;font-size:14px;line-height:16px;font-family:Helvetica,Arial,sans-serif;font-weight:bold;text-align:left;overflow:hidden;border:0;padding-left:6px;^width:184px;}
.right_nav_account_login_swabiz_company{color:#666;font-size:13px;}
H6.tier{margin:0 0 2px 0;color:#444;}
.right_nav_account_login_left .redeemable_points{width:200px;}
.availablePointsInfo{float:right;padding:3px 5px 0 0;^padding:10px 5px 0 0;line-height:11px;text-align:right;color:#ccc;}
.right_nav_tools_my_travel_subheader{font-size:12px;font-weight:bold;color:#2683f9;font-family:Helvetica,Arial,sans-serif;}
.graphBlockCp_blue .warranty_price{display:block;font-weight:bold;font-size:8px;}
#upcomingTripDepAndArrTime,#savedTripDate,#savedTripPassengerCount{margin-left:0!important;margin-bottom:0!important;}
#global_account_bar .right_nav_tools_text{clear:both;width:176px;margin-left:4px;margin-bottom:4px;font-size:10px;}
#global_account_bar .right_nav_tools_text img{vertical-align:middle;}
#global_account_bar .right_nav_tools_text a{line-height:20px;font-size:10px;}
#global_account_bar .right_nav_tools_text{color:#000;}
#global_account_bar .buttonWhiteWidth80{height:25px;line-height:25px;width:80px;display:inline;background-color:transparent;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -1834px;}
#global_account_bar .buttonWhite{color:#2683F9;}
#global_account_bar .startNow{color:#2683F9;margin-top:13px;float:right;}
#global_account_bar .buttonWhite{border:0 none;cursor:pointer;display:block;font-size:11px;font-weight:bold;margin:0;text-align:center;text-decoration:none;}
#global_account_bar #fields .childField{margin-bottom:4px;padding-top:2px;}
.submitButtonWhiteAccountBar{background:transparent url(../../images/button_white_63.gif) no-repeat scroll left top;border:medium none;color:#2683F9;font-family:Helvetica,Arial,Sans-serif;font-size:11px;font-weight:bold;height:26px;padding-bottom:2px;text-align:center;width:63px;margin:0 0 0 4px;}
#global_account_bar .section{background:url(../../images/loyalty/right_nav/accountBarDrawerOpenBG.gif) repeat-y;}
#global_account_bar .section h6{color:#fff;padding:12px 0 12px 14px;cursor:pointer;white-space:nowrap;}
#global_account_bar .section h6 SPAN{padding-right:2px;}
#global_account_bar .section h6{background:url(../../images/loyalty/right_nav/accountBarDrawerOpen.gif) no-repeat!important;}
#global_account_bar .section .content{background:url(../../images/loyalty/right_nav/accountBarInnerBoxBottom.gif) no-repeat 5px bottom;}
#global_account_bar .section .inner{background:url(../../images/loyalty/right_nav/accountBarDrawerOpenArrow.gif) no-repeat 16px top;padding:10px;}
#global_account_bar .inner STRONG A{padding-left:6px;}
#global_account_bar .inner P{background:#F2F5FF;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.miniHeader{font-size:11px;line-height:12px;font-weight:bold;color:#909090;text-transform:uppercase;padding-left:1px;}
.manageTravel{font-size:13px;font-weight:bold;padding-top:15px;padding-bottom:15px;}
.graphBlock{background-color:#f2f5ff;-moz-border-radius:3px;margin:5px 0 10px 0;padding:5px 0 5px 5px;overflow:hidden;}
.graphBlockCp_black{background-color:#f2f5ff;-moz-border-radius:3px;margin:5px 0 10px 0;vertical-align:middle;font-weight:bold;font-size:11px;height:17px;}
.graphBlockCp_green,.graphBlockCp_blue{-moz-border-radius:3px;margin:5px 0 10px 0;vertical-align:middle;}
.graphBlockCp_green{background-color:#e0f5e0;padding:5px;}
.graphBlockCp_blue{background-color:#F2F5FF;padding:10px 5px;}
#maritzRedeem img{vertical-align:middle;float:left;margin-right:12px;}
#maritzRedeem p{color:#666;}
.graphBlock .percentBarBg{height:14px;width:140px;float:left;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_common_vertical.png');background-position:left -1084px;}
.graphBlock .percentBar{height:14px;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_common_vertical.png');background-position:left -1098px;}
.graphBlock .percentBarFull{height:14px;width:100%;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_common_vertical.png');background-position:left -1112px;}
.graphBlock .text{height:40px;}
.graphBlock #toSkyWarrior .percentBar{width:84%;}
.graphBlock A{font-weight:bold;padding-bottom:2px;}
.graphBlock_myTravel{padding:5px 0 5px 5px;}
.percentValue{float:left;color:#707070;font-weight:bold;padding-left:2px;font-size:10px;}
a.insetButton_green,a.insetButton_blue{font-size:8px!important;font-weight:bold;text-align:center;padding:7px 4px;margin-left:5px;text-transform:uppercase;display:inline-block;width:58px;^width:66px;}
a.insetButton_green{background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2160px;}
a.inset_button_green_medium{width:80px;padding:7px 0;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2186px;}
a.insetButton_blue{background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2211px;}
a.inset_button_blue_medium{width:80px;padding:7px 0;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2186px;}
a.inset_button_blue_wide{width:92px;padding:7px 0;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2237px;}
BODY INPUT.inset_button_blue_extra_wide{width:115px;padding:6px 0;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2262px;}
#questionDetails{float:left;width:24px;height:23px;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2287px;}
#companionPassDetails{font-size:10px;padding-left:32px;text-align:left;width:60px;display:inline-block;float:left;background-repeat:no-repeat;background-position:left top;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -2310px;}
.graphBlockCp_green #companionPassDetails{color:green;font-weight:bold;font-size:11px;padding-top:6px;height:17px;}
.promoAwardDetail{font-size:10px;padding:1px 0 0 31px;text-align:center;display:inline-block;float:left;height:25px;width:50px;^width:85px;background-color:transparent;background-repeat:no-repeat;background-position:left 0;background-image:url('../../images/sprites/sw_buttons_icons_vertical.png');background-position:left -275px;}
.promoAwardDetail a{font-size:11px;font-weight:bold;margin-top:6px;float:left;}
.promoCertButtonContainer{display:inline-block;float:right;margin-right:3px;}
a#maritzRedeem,a#maritzRedeem:link{font-weight:bold;display:block;}
.viewAllCp{float:right;}
#companionButtonContainer{display:inline-block;float:right;}
.ctm_message{font-size:11px;height:50px;margin-top:8px;text-align:left;width:180px;}
.travel_manager_home{font-size:12px;}
.what_happened{padding-left:5px;padding-bottom:10px;}
.what_happened_message{font-weight:bold;float:left;width:125px;padding-left:10px;}
#account_held_container{border-bottom:1px dotted;padding-bottom:10px;padding-left:6px;padding-top:10px;}
#account_held_container .account_held_message{padding-left:25px;}
#account_held_container .oops_icon{float:left;}
#account_held_container #accountHeld{color:red;}
#global_account_bar .my_cart_savetrip_button_container{float:left;padding-top:5px;padding-left:5px;}
.redeemPointsNotChaseHolderMessage{color:#666;}
.right_nav_join_rr_header{font-size:11px;line-height:12px;font-weight:bold;color:#909090;text-transform:uppercase;padding-left:5px;}
.right_nav_join_rr_content{padding:10px 5px 5px;vertical-align:middle;}
#global_account_bar .largeSubmitButtonWhite{height:18px;}