/* "Zero Out" (Reset) Styles - From Eric Meyer's http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	font: 0.84em/1.333 Verdana, Arial, sans-serif;
	position: relative;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* END "Zero Out" Styles*/
/* ******************** */

/* Home Page Styles*/
/* *************** */

body {
	text-align: center;
	min-width: 740px;
	background:#9091e4 url('../images/bg.jpg') top left repeat-x;
}
#shell {
	text-align: left;
	width:740px;
	margin:0 auto;
	background:url('../images/bg_shell.jpg') top left no-repeat;
	padding:0;
	position: relative;
	overflow:hidden;
}
#shell_secondary {
	text-align: left;
	width:740px;
	height:209px;
	margin:0 auto;
	background:url('../images/bg_shell_secondary.jpg') top left no-repeat;
	padding:0;
	position: relative;
}

#shell_locations {
	text-align: left;
	width:740px;
	height:176px;
	margin:0 auto;
	background:url('../images/bg_shell_locations.jpg') top left no-repeat;
	padding:0;
	position: relative;
}

#shell_sitemap {
	text-align: left;
	width:740px;
	height:188px;
	margin:0 auto;
	background:url('../images/bg_shell_sitemap.jpg') top left no-repeat;
	padding:0;
	position: relative;
}

#shell_short,
#shell_med {
	text-align: left;
	width:740px;
	margin:0 auto;
	background:url('../images/bg_shell_short.jpg') top left no-repeat;
	padding:0;
	position: relative;
}
#shell_med {
	background:url('../images/bg_shell_med.jpg') top left no-repeat;
}
#shell_weight {
	text-align: left;
	width:740px;
	margin:0 auto;
	background:url('../images/bg_shell_weight.jpg') top left no-repeat;
	padding:0;
	position: relative;
}
#shell_testimonials {
	text-align: left;
	width:740px;
	margin:0 auto;
	background:url('../images/bg_shell_locations.jpg') top left no-repeat;
	padding:0;
	position: relative;
}
#bg_shell_testimonials {
	text-align: left;
	width:740px;
	margin:0 auto;
	background:url('../images/bg_shell_repeat.jpg') top left repeat-y;
	padding:0 0 20px 0;
	float:left;
}
.shell_workout {
	background:url('../images/bg_shell_workout.jpg') no-repeat !important;
}
#header {
	width: 700px;
	height: 70px;
	position: relative;
	padding: 16px 20px 0px 20px;
}
#header img#logo {
	float: left;
}
#curves_registry {
	position:absolute;
	top:20px;
	left:329px;
	padding:0;
	width: 188px;
	height: 60px;
	border-right: 1px solid #999999;
	color: #762788;
	font-size:0.75em;
	font-style:italic;
}
#club_locator {
	position:absolute;
	top:20px;
	left:540px;
	padding:0;
	width: 200px;
	height: 60px;
	color: #762788;
	font-size:0.75em;
	font-style:italic;
}
#club_locator a:link,
#club_locator a:visited,
#club_locator a:hover,
#club_locator a:active {
	color:#762788;
	font-style:italic;
	text-decoration:none;
}
#club_locator a:hover,
#club_locator a:active {
	text-decoration:underline;
}
#curves_registry img, #club_locator img {
	display:block;
}
.imgsub {
	margin: 2px 0 -2px 3px;
}
#club_locator input#zip, #curves_registry input#registry {
	height: 12px;
	margin-top:1px;
	padding-top: 2px;
	font-size:0.9em;
}
.input_width {
	width: 140px;
}
#shell_flash {
	width: 720px;
	height: 300px;
	padding: 0px 10px 0 10px;
	margin-top:1px;
}
a:link {
	text-decoration: underline;
	color: #cc3366;
}
a:visited {
	text-decoration: underline;
	color: #cc3366;
}
a:hover {
	text-decoration: none;
	color: #cc3366;
}
a:active {
	text-decoration: underline;
	color: #cc3366;
}
/* Begin Middle Section */
/* ******************** */
	
#middle {
	position: relative;
	margin:26px 0 0 10px;
	padding:0;
	height:120px;
	background:url('../images/bg_middle.gif') top left no-repeat;
}
#middle #left {
	width:240px;
	height:120px;
	float: left;
	margin:0;
	padding:0;
}
#middle #center {
	width:240px;
	height:120px;
	float: left;
	margin:0;
	padding:0;
}
#middle #right {
	width:240px;
	height:120px;
	float: left;
	margin:0;
	padding:0;
}
#middle .title_middle {
	margin:14px 0 0 14px;
}
a.btn_middle {
	background: transparent url('../images/btn_middle_left.gif') no-repeat top left;
	display: block;
	float: left;
	font: bold 13px Arial; /* Change 13px as desired */
	line-height: 23px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 31px; /* Height of button background height */
	padding-left: 15px; /* Width of left menu image */
	text-decoration: none;
}
a:link.btn_middle, a:visited.btn_middle, a:active.btn_middle {
	color: #ffffff; /*button text color*/
}
a.btn_middle span#see {
	background: transparent url('../images/btn_middle_see.gif') no-repeat 0 0;
	display: block;
	padding: 4px 192px 4px 0;
}
/* a.btn_middle span#follow {
	background: transparent url('/images/btn_middle_follow.gif') no-repeat 0 0;
	display: block;
	padding: 4px 174px 4px 0;
}*/
a.btn_middle span#read {
	background: transparent url('../images/btn_middle_read.gif') no-repeat 0 0;
	display: block;
	padding: 4px 184px 4px 0;
}
a.btn_middle span#explore {
	background: transparent url('../images/btn_middle_explore.gif') no-repeat 0 0;
	display: block;
	padding: 4px 174px 4px 0;
}
a.btn_middle span#learn_cs {
	background: transparent url('../images/btn_middle_learn_cs.gif') no-repeat 0 0;
	display: block;
	padding: 4px 180px 4px 0;
}
a.btn_middle span#hear {
	background: transparent url('../images/btn_middle_hear.gif') no-repeat 0 0;
	display: block;
	padding: 4px 188px 4px 0;
}
a.btn_middle span#learn_mb {
	background: transparent url('../images/btn_middle_learn_mb.gif') no-repeat 0 0;
	display: block;
	padding: 4px 180px 4px 0;
}
a.btn_middle:hover { /* Hover state CSS */
	background-position: 0 -30px;
	cursor: pointer;
}
a.btn_middle:hover span#see, a.btn_middle:hover span#read, a.btn_middle:hover span#explore, a.btn_middle:hover span#learn_cs, a.btn_middle:hover span#hear, a.btn_middle:hover span#learn_mb { /* Hover state CSS */
	background-position: 0 -30px;
	color: #ffffff;
	cursor: pointer;
}
.buttonwrapper { /* Container you can use to surround a CSS button to clear float */
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
	margin:6px 0 2px 3px;
}
.zerotop {
	margin-top: 0px;
}
/* End Home Page Styles */
/* ******************** */
	
/* Nav Styles */
/* ********** */

	#nav, #nav_empty {
	float:left;
	width:720px;
	height: 22px;
	overflow: hidden;
	margin: 0px 10px 1px 10px;
	background:#762788;
	font: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	line-height:normal;
	border-bottom: #ff9900 2px solid;
	border-style: inset;
}

#nav ul {
	margin:0;
	padding:0px;
	list-style:none;
}
#nav li {
	display:inline;
	margin:0;
	padding:0;
}
#nav a {
	float:left;
	background:#762788;
	margin:0;
	padding:0 0 0 0px;
	height: 22px;
	text-decoration:none;
	border-right: #ffffff 1px solid;
}
#nav a span {
	float:left;
	display:block;
	background:#762788;
	padding:3px 4px 4px 4px;
	height: 22px;
	color:#ffffff;
	text-align:center;
}
/* Specify nav widths for 
cross browser compatibility
when navbar is full
#nav_workout {
	width:93px;
}
#nav_weight {
	width:142px;
}
#nav_locations {
	width:72px;
}
#nav_diane {
	width:109px;
}
#nav_products {
	width:66px;
}
#nav_about {
	width:69px;
}
#nav_mycurves {
	width:78px;
}
#nav_franchising {
	width:84px;
}
*/
/* Commented Backslash Hack hides rule from IE5-Mac \*/
    #nav a span {
	float:none;
}
#nav a.last {
	background:#762788;
	border-right: none;
	cursor: pointer;
}	
    #nav a:hover span, #nav a:active span {
	color:#ffffff;
	cursor: pointer;
}
#nav a:hover, #nav a:active {
	background-color:#a4a94f;
	cursor: pointer;
}
#nav a:hover span, #nav a:active span {
	background-color:#a4a94f;
	cursor: pointer;
}
#nav li a.onstate span {
	background-color:#a4a94f;
}
#subnav li a.onstate span {
	background-color:#a4a94f;
}
/* End Nav Section */
	/* *************** */
	
	/* Subnav Styles */
	/* ************* */

	#subnav {
	float:left;
	width:720px;
	height: 20px;
	overflow: hidden;
	margin: 0px 10px 0 10px;
	background:#9f6dab;
	font: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	line-height:normal;
}
#subnav ul {
	margin:0;
	padding:0px;
	list-style:none;
}
#subnav li {
	display:inline;
	margin:0;
	padding:0;
}
#subnav a {
	float:left;
	background:#9f6dab;
	margin:0;
	padding:0 0 0 0px;
	height: 20px;
	text-decoration:none;
	border-right: #ffffff 1px solid;
}
#subnav a span {
	float:left;
	display:block;
	background:#9f6dab;
	padding:1px 4px 6px 5px;
	height: 20px;
	color:#ffffff;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
    #subnav a span {
	float:none;
}
/* End IE5-Mac hack */
    #subnav a:hover span {
	color:#ffffff;
}
#subnav a:hover {
	background-color:#a4a94f;
	cursor: pointer;
}
#subnav a:hover span {
	background-color:#a4a94f;
	cursor: pointer;
}
/* End Subnav Section */
	/* ****************** */
	

/* Begin Footer Section */
/* ******************** */
#footer {
	background:url("../images/bg_footer_ie6.gif") no-repeat;
	clear:both;
	color:#666666;
	margin:0 auto;
	position:relative;
	width:711px;
	padding:120px 0 0 29px;
}
.footer_sub {
	height:147px;
}
.footer_home {
	background:url("../images/bg_footer.gif") no-repeat !important;
	padding:80px 0 0 29px !important;
	_background:url("../images/bg_footer_ie6.gif") no-repeat; /* IE6 does not have the homepage social networking bar */
	_height:147px;
	_padding:120px 0 0 29px;
}
/* Curves South Africa Footer */
.footer_za {
	background:url('../images/bg_footer_za.gif') top left no-repeat !important;
	padding-top:65px !important;
}
#shell
.animated_footer,
#shell_short
.animated_footer {
	background:url('../images/bg_footer_power.gif') no-repeat;
	_background:url('../images/bg_footer_power_ie6.gif') no-repeat !important;
}
#social_networking {
	left:0;
	position:absolute;
	top:80px;
	width:711px;
	height:44px;
}
#social_networking p {
	position:absolute;
	top:0;
	right:465px;
	z-index:2;
}
#btn_facebook {
	left:246px;
	position:absolute;
	top:-10px;
}
#btn_youtube {
	position:absolute;
	top:-10px;
	left:397px;
}
.link2 a {
	font-size:10px;
}
/* Home page footer styles */
	
	#footer_home {
	margin: 0px;
	padding: 0px;
	clear: both;
	background:url('../images/bg_footer_home.gif') top left no-repeat;
	text-align:center;
	font-size:0.9em;
	color: #666666;
}
#ftr_promo {
	clear: both;
	height: 30px;
	padding: 13px 0 0 0;
	font-size:0.9em;
	line-height: 2em;
	text-align:left;
	text-decoration: none;
}
#ftr_promo a:link {
	text-decoration: none;
	color: #ff8000;
}
#ftr_promo a:visited {
	text-decoration: none;
	color: #ff8000;
}
#ftr_promo a:hover {
	text-decoration: underline;
	color: #ff8000;
}
#ftr_promo a:active {
	text-decoration: none;
	color: #ff8000;
}
#ftr_promo img {
	margin: 2px 10px 0px 160px;
	float: left;
}
#footer_home #nav_ftr {
	clear: both;
	padding: 2px 0 15px 0;
}
select#language {
	height: 17px;
	margin-top:1px;
	padding-top: 0px;
	font-size:0.9em;
}
#language_selector {
	position:absolute;
	left:450px;
	top:9px;
	width: 260px;
}
#language_selector form {
	float:left;
}
#language_selector select {
	width:75px;
}
#change_language {
	position:absolute;
	right:0;
	top:3px;
}
#language_selector_wrap {
	text-align:right;
	width:159px;
	margin:3px 5px 0 0;
	float:left;
}
#frm_language {
	width: 100px;
}
#footer #nav_ftr {
	clear: both;
	padding: 15px 0 15px 0;
	position:absolute;
	top:27px;
	left:0;
	width:730px;
	text-align:center;
}
.link1 a:link {
	text-decoration: none;
	color: #666666;
}
.link1 a:visited {
	text-decoration: none;
	color: #666666;
}
.link1 a:hover {
	text-decoration: none;
	color: #ff8000;
}
.link1 a:active {
	text-decoration: none;
	color: #666666;
}
#subfooter {
	position:relative;
	margin: 0px;
	padding: 16px 30px 14px 30px;
	clear: both;
	text-align:center;
	vertical-align: middle;
	font-size:11px;
	color: #ffffff;
	width:622px;
}
#subfooter_wrap {
	float:left;
	margin:3px 0 0 0;
	width:422px;
	text-align:right;
}
#label_curves_sites {
	visibility:hidden;
}
select#curves_sites {
	height: 20px;
	margin:1px 0 0 -40px;
	padding-top: 0px;
}
.link2 a:link {
	text-decoration: none;
	color: #ffffff;
}
.link2 a:visited {
	text-decoration: none;
	color: #ffffff;
}
.link2 a:hover {
	text-decoration: none;
	color: #762788;
}
.link2 a:active {
	text-decoration: none;
	color: #ffffff;
}
.disclaimer {
	font-size:9px !important;
	line-height:1em !important;
	color: #333333;
}
.ftr_link a:link,
.ftr_link a:visited,
.ftr_link a:hover,
.ftr_link a:active {
	color:#663399;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
}
.ftr_link a:hover {
	color:#ff8a15;
	font-weight:bold;
	text-decoration:none;
}
#franchise_left {
	float:left;
	width:200px;
	padding-left:20px;
}
#franchise_right {
	float:left;
	width:380px;
	padding-bottom:20px;
}
#franchise_right p {
	width:380px;
}
/* End Footer Section */
/* ****************** */

/* Begin Facebook Bar */
/* ******************** */
#fb_bar {
	background:url('../images/fb_bar/bg_fb_bar.png') repeat-x;
	position:fixed;
	bottom:0;
	left:0;
	z-index:999;
	width:100%;
	height:41px;
}
#icon_facebook {
	position:absolute;
	right:80px;
	top:10px;
}
#icon_youtube {
	position:absolute;
	right:48px;
	top:10px;
}
#fb_close {
	position:absolute;
	top:10px;
	right:0;
	cursor:pointer;
}
/* End Facebook Bar */
/* ****************** */

/* Begin Subpage Styles */
/* ******************** */

#content {
	position: relative;
	clear: both;
	padding: 10px 19px 10px 10px;
	font-size: 0.85em;
	line-height: 1.3em;
}
.content_repeat {
	background:url('../images/bg_shell_repeat.jpg') repeat-y;
}
#content img.title {
	float: left;
	margin: 10px 10px 0 10px;
	padding-bottom:10px;
}
#sections {
	position: relative;
	clear: both;
	padding: 0px 10px 20px 10px;
}
.power_amaze {
	background:url(../images/bg_shell_power_landing.jpg) no-repeat !important;
}
#shell
.power_to_amaze {
	padding-bottom:35px;
	float:left;
}
#power_to_amaze {
	position:absolute;
	bottom:5px;
	left:473px;
}
#power_to_amaze_sub {
	position:absolute;
	bottom:20px;
	left:473px;
}
#success_text {
	width: 680px;
	font-size: 10px;
}

/* The Workout Landing Page sections */
.subnav_workout span {
	padding-bottom:0 !important;
}
.workout_box {
	position:relative;
	width:166px;
	height:200px;
	float:left;
	margin:0 10px 15px 0;
}
.workout_box img {
	position:absolute;
	top:10px;
	left:11px;	
}
.workout_box p {
	font:10px Arial, Helvetica, sans-serif;
	color:#000;
	line-height:12px;
	position:absolute;
	top:38px;
	left:11px;
	width:144px;	
}
#wo_member_testimonials p,
#wo_zumba_fitness p,
#wo_supporting_research p,
#wo_member_benefits p {
	top:54px;
}
.workout_box div {
	position:absolute;
	top:160px;
	left:12px;
}
.workout_box div a,
.workout_box div a:hover {
	background:url('../images/the_workout/btn_wo_learn_more.png') no-repeat;
	width:95px;
	height:28px;
	position:absolute;
	top:0;
	left:0;
	display:block;	
}
.workout_box div a:hover {
	background:url('../images/the_workout/btn_wo_learn_more.png') 0 -28px no-repeat;
}
.workout_box div.btn_wo_circuit_demo a,
.workout_box div.btn_wo_circuit_demo a:hover {
	background:url('../images/the_workout/btn_wo_circuit_demo.png') no-repeat;
	width:141px;
	height:28px;
	position:absolute;
	top:0;
	left:0;
	display:block;	
}
.workout_box div.btn_wo_circuit_demo a:hover {
	background:url('../images/the_workout/btn_wo_circuit_demo.png') 0 -28px no-repeat;
}
.workout_box div.btn_wo_curves_smart a,
.workout_box div.btn_wo_curves_smart a:hover {
	background:url('../images/the_workout/btn_wo_curves_smart.png') no-repeat;
	width:141px;
	height:28px;
	position:absolute;
	top:0;
	left:0;
	display:block;	
}
.workout_box div.btn_wo_curves_smart a:hover {
	background:url('../images/the_workout/btn_wo_curves_smart.png') 0 -28px no-repeat;
}
.workout_box div a span {
	position:absolute;
	top:0;
	left:0;
	text-indent:-9999px;	
}
#wo_overview {
	background:url('../images/the_workout/bg_wo_overview.jpg') no-repeat;
	margin-left:13px;
}
#wo_curves_smart {
	background:url('../images/the_workout/bg_wo_curves_smart.jpg') no-repeat;	
}
#wo_circuit_demo {
	background:url('../images/the_workout/bg_wo_circuit_demo.jpg') no-repeat;	
}
#wo_member_testimonials {
	background:url('../images/the_workout/bg_wo_member_testimonials.jpg') no-repeat;
	margin-right:0;
}
#wo_success_stories {
	background:url('../images/the_workout/bg_wo_success_stories.jpg') no-repeat;
	margin-left:13px;
}
#wo_zumba_fitness {
	background:url('../images/the_workout/bg_wo_zumba_fitness.jpg') no-repeat;	
}
#wo_supporting_research {
	background:url('../images/the_workout/bg_wo_supporting_research.jpg') no-repeat;	
}
#wo_member_benefits {
	background:url('../images/the_workout/bg_wo_member_benefits.jpg') no-repeat;	
}
.subnav_workout {
	height:40px !important;	
}
/* Curves Smart */
#third_party_video {
	margin:10px 0 10px 155px;
	width:370px;
	height:371px;
}
#curves_smart_video_container {
	padding-top:13px;
	padding-left:13px;
}
/* Zumba Fitness Section */
#zumba_fitness
#content_basic {
	background:url('../images/the_workout/zumba_fitness/bg_zumba_content_basic.gif') repeat-y;
	width:720px;
	padding:0 10px 0 10px;
}
#zumba_fitness_wrap {
	background:url('../images/the_workout/zumba_fitness/bg_zumba_fitness.jpg') no-repeat;
	width:720px;
	padding:122px 0 0 0;
}
#zumba_fitness_wrap p {
	font:12px Arial, Helvetica, sans-serif;
	color:#000;
	line-height:16px;
	width:530px;
	margin:0;
	padding:0 50px 10px 50px;
}
#zumba_fitness sup {
	font-size:14px;
	vertical-align:top;
}
#zumba_subnav sup {
	font-size:10px !important;
	vertical-align:top !important;
}
#zumba_fitness p sup {
	font-size:11px;
	vertical-align:super;
}
#zumba_fitness
p#zumba_legal {
	font:11px Arial, Helvetica, sans-serif;
	color:#666;
	text-align:center;
	width:620px;
	padding-bottom:20px;
	padding-top:20px;
}
#zumba_fitness h3 {
	font:16px Arial, Helvetica, sans-serif;
	color:#762788;
	font-weight:bold;
	margin:0;
	padding:0 50px 8px 50px;
}
/*
#zumba_fitness_video {
	background:url('/images/the_workout/zumba_fitness/bg_zumba_video.gif') no-repeat;
	width:470px;
	height:283px;
	padding:10px;
	margin:10px 0 10px 65px;
	position:relative;
}*/
#zumba_fitness_share {
	background:url('../images/the_workout/zumba_fitness/bg_zumba_fitness_share.jpg') no-repeat;
	position:relative;
	margin-left:45px;
	width:654px;
	height:230px;
	padding:0 0 10px 0;
}
#zumba_find_club {
	margin:0 0 20px 94px;
}
#zumba_share {
	position:absolute;
	left:466px;
	bottom:10px;
}
#fb_share {
	position:absolute;
	bottom:10px;
	left:40px;
}
#zumba_share iframe {
	left:105px;
	position:absolute;
	bottom:10px;
}
.zumba_fb {
	position:absolute;
	bottom:5px;
	left:10px;
	z-index:998;
}
/* Success Stories section */
#sections #andrea {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	height:183px;
	width:226px;
	background:url('../images/the_workout/meet_andrea.jpg') top left no-repeat;
}
#sections #shanda {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	height:183px;
	width:226px;
	background:url('../images/the_workout/meet_shanda.jpg') top left no-repeat;
}
#sections #patricia {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	height:183px;
	width:226px;
	background:url('../images/the_workout/meet_patricia.jpg') top left no-repeat;
}
#sections #claudia {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	height:183px;
	width:226px;
	background:url('../images/the_workout/meet_claudia.jpg') top left no-repeat;
}
#sections #evelyn {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	height:183px;
	width:226px;
	background:url('../images/the_workout/meet_evelyn.jpg') top left no-repeat;
}

#sections #teresita {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	height:183px;
	width:226px;
	background:url('../images/the_workout/meet_teresita.jpg') top left no-repeat;
}
/* Weight Management Landing Page sections */

#sections #curves_complete {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:11px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/weight_management/bg_curves_complete.jpg') top left no-repeat;
}
#sections #new_weight_management {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:10px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/weight_management/bg_new_weight_management.jpg') top left no-repeat;
}
#sections #books {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:10px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/curves_products/bg_curves_books.jpg') top left no-repeat;
}
/* Curves Products Landing Page sections */



/* #sections #shop_curves {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:10px 2px 0 12px; 
	height:152px;
	width:226px;
	background:url('/images/curves_products/bg_section_graphic.jpg') top left no-repeat; } */

	
#sections #curves_foods {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:10px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/curves_products/bg_curves_food.jpg') top left no-repeat;
}
#sections #curvaceous {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:10px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/curves_products/bg_curvaceous.jpg') top left no-repeat;
}
#sections #vitamins_and_supplements {
	position: relative;
	margin:0 auto;
	padding:10px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/curves_products/bg_vitamins_supplements.jpg') top left no-repeat;
}
#sections #books_two {
	position: relative;
	float: left;
	margin:3px 0px 0 0px;
	padding:10px 2px 0 12px;
	height:152px;
	width:226px;
	background:url('../images/curves_products/bg_curves_books.jpg') top left no-repeat;
}
/* Curves Complete */
#curves_complete_wrap {
	background:url('../images/curves_complete/bg_curves_complete.jpg') no-repeat;
	margin:20px 0 0 16px;
	position:relative;
	width: 649px;
	/* height set for ie7 bug,
	disclaimer positioned */
	height:470px;
	padding:82px 0 170px 40px;
}
#curves_complete_video {
	width:409px;
	height:243px;
	margin:5px 0 15px 0;
}
#curves_complete_content {
	float:left;
	width:409px;
	padding:0 20px 10px 0;
}
#curves_complete_content p {
	padding-bottom:8px;	
}
#curves_complete_content p#cc_content_title {
	font-size:14px;	
}
#curves_complete_content p#cc_content_motto {
	font-size:16px;
	font-weight:bold;
	color:#76328a;
	padding:18px 0 8px 0;	
}
#curves_complete_form {
	width:220px;
	float:right;
	padding:6px 0 0 0;
}
#curves_complete_video iframe {	left:0;	}
#curves_complete_wrap h2 {
	background:url('../images/curves_complete/bg_h2_space.gif') no-repeat;
	margin:0 0 10px 0;
	padding:0;
	text-indent:-9999px;
	width:389px;
	height:24px;	
}
#curves_complete_wrap p strong {
	font-weight:bold;	
}
#curves_complete_wrap form {
	width:190px;
}
#curves_complete_wrap form p.cc_form_req {
	font-size:11px;
	position:absolute;
	right:18px;
	top:66px;
	color:#999;
	font-style:italic;
}
#curves_complete_wrap label {
	display:block;
	width:190px;
	margin:0;
	padding:0 0 3px 0;
}
#curves_complete_wrap label span,
#curves_complete_wrap form p span { color:#884d9a; }
#curves_complete_wrap .cc_input {
	margin:0 0 5px 0;
	width:185px;
}
#curves_complete_wrap .cc_inputs {
	float:left;
	margin:0 0 8px 0;	
}
#curves_complete_wrap .cc_inputs
.cc_input {
	margin:0 5px 0 0;
	float:left;	
}
#curves_complete_wrap
#cc_area,
#curves_complete_wrap
#cc_prefix {
	width:35px;	
}
#curves_complete_wrap
#cc_suffix {
	width:45px;	
}
#cc_submit {
	position:relative;
	left:-4px;
	margin:5px 0 0 0;	
}
#curves_complete_wrap 
div.error {
	background:url('../images/curves_complete/error.gif') 0 10px no-repeat;
	padding:5px 5px 5px 25px;
	font-weight:bold;
	color:#ff0000;	
}
#curves_complete_wrap 
label.error{color:ff0000;}
#curves_complete_wrap 
input.error { background:#fcd5d5;border:1px solid #da7575;padding:2px; }
#location_results_page2, #location_results_page3 {display:none;}
#previous_locations_link{display:none;}
#curves_complete_wrap 
.location_detail form p strong {
	font-weight:bold;	
}
#curves_complete_wrap 
.cc_select_loc_hdr {
	font-size:14px;
	font-weight:bold;
	width:220px;
	border-bottom:1px solid #c0c0c0;
	padding-bottom:5px;
}
#curves_complete_wrap
.location_detail form {
	border-bottom:1px solid #c0c0c0;
	width:220px;
	padding:5px 0 5px 0;	
}
#new_search_link,
#more_locations_link {
	float:right;	
}
#prev_locations_link {
	float:left;
}
#curves_complete_wrap
#more_prev {
	padding:8px 0 8px 0;
	height:30px;	
}
#curves_complete_wrap
.cc_disclaimer {
	font-size:10px;
	line-height:10px;
	color:#999;
	padding:0 0 8px 40px;
	position:absolute;
	bottom:0;
	left:0;
}
p#cc_800 {
	font:24px Arial, Helvetica, sans-serif !important;
	color:#76328A;
	position:absolute;
	top:37px;
	right:16px;
	font-weight:bold !important;
}
/* About Curves Landing Page sections */

#sections #about 		{	position: relative;	float: left;	margin:3px 0px 0 0px;	padding:10px 2px 0 12px;	height:152px;	width:226px;	background:url('../images/about_curves/bg_about.jpg') top left no-repeat;}
#sections #history 		{	position: relative;	float: left;	margin:3px 0px 0 0px;	padding:10px 2px 0 12px;	height:152px;	width:226px;	background:url('../images/about_curves/bg_history.jpg') top left no-repeat;}
#sections #news 		{	position: relative;	float: left;	margin:3px 0px 0 0px;	padding:10px 2px 0 12px;	height:152px;	width:226px;	background:url('../images/about_curves/bg_press_room.jpg') top left no-repeat;}
#sections #resources 	{	position: relative;	float: left;	margin:3px 0px 0 0px;	padding:10px 2px 0 12px;	height:152px;	width:226px;	background:url('../images/about_curves/bg_resources.jpg') top left no-repeat;}
#sections #franchise_information {	position: relative;	float: left;	margin:3px 0px 0 0px;	padding:10px 2px 0 12px;	height:152px;	width:226px;	background:url('../images/about_curves/bg_franchise.jpg') top left no-repeat;}
#sections #faqs 		{	position: relative;	float: left;	margin:3px 0px 0 0px;	padding:10px 2px 0 12px;	height:152px;	width:226px;background:url('../images/about_curves/bg_faqs.jpg') top left no-repeat;}
#sections #about_acs 	{	background:url('../images/about_curves/bg_about_acs.jpg') no-repeat;	position:relative;	margin:0;	padding:0;	height:91px;	width:740px;}
#sections #about_acs .btn_subpg_wrapper {	position:absolute;	bottom:0;	top:36px;	left:612px;	width:100px;}
#sections #about p		{	padding: 0px 90px 0px 0px;	font-size: 0.7em;}
#sections #history p	{	padding: 0px 107px 0px 0px;	font-size: 0.7em;}
#sections #overview p	{	padding: 0px 52px 0px 0px;	font-size: 0.7em;}
#sections #resources p	{	padding: 0px 105px 0px 0px;font-size: 0.7em;}
#sections #curves_smart p {	padding: 0px 10px 0px 0px;	font-size: 0.7em;}
#sections #faqs p, #sections #news p{	padding: 0px 100px 0px 0px;	font-size: 0.7em;}
#sections #circuit_demo p {	padding: 0px 120px 0px 0px;	font-size: 0.7em; }
#sections #success_stories p, 
#sections #franchise_information p,
#sections #zumba_fitness p {	padding: 0px 70px 0px 0px;	font-size: 0.7em;}
#sections #supporting_research p {	padding: 0px 90px 0px 0px;	font-size: 0.7em;}

/* #sections #pricing p {
	padding: 0px 120px 0px 0px;
	font-size: 0.85em; } */
	
#sections #member_testimonials p 	{	padding: 0px 60px 0px 0px;font-size: 0.7em;}
#sections #curves_complete p 		{	padding: 0px 10px 0px 0px;	margin-top:-4px;	font-size: 0.7em;}
#sections #new_weight_management p 	{	padding: 0px 20px 0px 0px;	font-size: 0.7em;}
#sections #curves_foods p 			{	padding: 0px 80px 0px 0px;	font-size: 0.7em; }
#sections #curvaceous p 			{	padding: 0px 80px 0px 0px;	font-size: 0.7em; }
#sections #curves_books p, 
#sections #books p 					{	padding: 0px 94px 0px 0px;	font-size: 0.7em; }
#sections #vitamins_and_supplements p {	padding: 0px 110px 0px 0px;	font-size: 0.7em;}

/*** Corporate Wellness ***/

#wrapper-cw				{ background: url(../images/bg_shell.jpg) no-repeat scroll left -70px transparent; } 
#content-cw				{ background:url(../images/about_curves/bkg_health_wellness.jpg) no-repeat; width:711px; height:375px; position:relative; left:15px; padding:30px 40px;  }
#content-cw ul			{ margin: 8px 30px 20px; list-style-image:url(../images/about_curves/disc.png); }
img.title				{ margin-left:20px; }
#content-cw h3.title	{ background:url(../images/about_curves/title_health_wellness.png) no-repeat; width:384px; height:74px; text-indent:-99999px; }
#click-here				{ margin:30px 0 0 20px; }


.vitamin-supplement {
	width:635px;
	margin-bottom:15px;
	float:left;
}
.vitamin-supplement-img {
	width:130px;
	position:relative;
	float:left;
	padding:5px;
}
.vitamin-supplement-desc {
	width:495px;
	float:left;
}
.vitamin-supplement-desc p {
	width:auto !important;
	margin:0 0 10px 0 !important;
}
.gray {
	font-size:11px;
	font-weight:bold;
	padding-top:5px;
	color:#666;
}
#secret_millionaire_video {
	background:url('../images/about_curves/bg_secret_millionaire.gif') no-repeat;
	position:relative;
	width:426px;
	height:260px;
	margin:15px 0 15px 114px;
	padding:13px;
}
#secret_millionaire_video img {
	position:absolute;
	top:13px;
	left:13px;
}
#content_basic
#secret_millionaire_link {
	padding-bottom:25px;
}
/* button styles for the Workout landing */
	
a.btn_subpg {
	background: transparent url('../images/the_workout/btn_subpage_left.gif') no-repeat top left;
	display: block;
	float: left;
	font: bold 12px Arial; /* Change 13px as desired */
	line-height: 17px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 25px; /* Height of button background height */
	padding-left: 10px; /* Width of left menu image */
	text-decoration: none;
}
a:link.btn_subpg, a:visited.btn_subpg, a:active.btn_subpg {
	color: #ffffff; /*button text color*/
	text-decoration: none;
}
a.btn_subpg span.learn {
	background: transparent url('../images/the_workout/btn_subpage.gif') no-repeat 0 0;
	display: block;
	padding: 3px 20px 3px 0px;
}

a.btn_subpg span.learn_franchise {
	background: transparent url('http://www.curves.com/images/the_workout/btn_subpage_franchise.gif') no-repeat 0 0;
	display: block;
	padding: 3px 20px 3px 0px;
}
a.btn_subpg span.click {
	background: transparent url('../images/the_workout/btn_success.gif') no-repeat 0 0;
	display: block;
	padding: 3px 30px 3px 5px;
}
a.btn_subpg span#smart {
	background: transparent url('../images/the_workout/btn_curves_smart.gif') no-repeat 0 0;
	display: block;
	padding: 3px 28px 3px 28px;
}
a.btn_subpg span#circuit {
	background: transparent url('../images/the_workout/btn_circuit.gif') no-repeat 0 0;
	display: block;
	padding: 3px 28px 3px 70px;
}
a.btn_subpg span#six {
	background: transparent url('../images/the_workout/btn_subpage.gif') no-repeat 0 0;
	display: block;
	padding: 3px 28px 3px 0px;
}
a.btn_subpg span.books {
	background: transparent url('../images/the_workout/btn_subpage.gif') no-repeat 0 0;
	display: block;
	padding: 3px 28px 3px 0px;
}

a.btn_subpg span#video {
	background: transparent url('../images/testimonials/btn_watch-the-video.gif') no-repeat 0 0;
	display: block;
	padding: 3px 20px 3px 98px;
}

a.btn_subpg:hover { /* Hover state CSS */
	background-position: 0 -24px;
	cursor: pointer;
}
a.btn_subpg:hover span.learn, a.btn_subpg:hover span.learn_franchise, a.btn_subpg:hover span.click, a.btn_subpg:hover span#smart, a.btn_subpg:hover span#circuit, a.btn_subpg:hover span#video, a.btn_subpg:hover span#six, a.btn_subpg:hover span.books { /* Hover state CSS */
	background-position: 0 -24px;
	color: #ffffff;
	cursor: pointer;
}
.btn_subpg_wrapper { /* Container you can use to surround a CSS button to clear float */
	position: absolute;
	bottom: 20px;
	left: 10px;
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
}
.btn_success_wrapper { /* Container you can use to surround a CSS button to clear float */
	position: absolute;
	bottom: 30px;
	left: 20px;
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
}
.btn_testimonials_wrapper { /* Container you can use to surround a CSS button to clear float */
	position: absolute;
	bottom: 9px;
	left: 500px;
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: 100%;
}

/* end button styles for the Workout landing */

/* styles for secondary pages */

#content_basic {
	width: 680px;
	background:url('../images/bg_content_basic.gif') top left repeat-y;
	padding: 20px 30px 10px 30px;
	position: relative;
	overflow: hidden;
}

#content_white_bg {
	width: 680px;
	background:url('../images/bg_content_white_bg.gif') top left repeat-y;
	padding: 20px 30px 10px 30px;
	position: relative;
	overflow: hidden;}

#content_secondary {
	width: 680px;
	background:url('../images/bg_content_secondary.gif') top left repeat-y;
	margin-top:16px;
	padding: 20px 30px 10px 30px;
	position: relative;
	overflow: hidden;
}

#content_locations {
	background:url('../images/bg_content_secondary.gif') top left repeat-y;
	margin-top:8px;
	padding: 20px 70px 10px 30px;
	font-size:0.9em;
	position: relative;
	overflow: hidden;
}

#content_sitemap {
	background:url('../images/bg_content_secondary.gif') top left repeat-y;
	margin-top:10px;
	padding: 20px 70px 10px 30px;
	font-size:0.9em;
	position: relative;
	overflow: hidden;
}

#content_basic h4 {
	font-size:14px;
	font-weight:bold;
	padding: 15px 30px 0px 30px;
}

#content_basic_endcap {
	width: 740px;
	height: 22px;
	background:transparent url('../images/bg_content_basic_ftr.gif') top left no-repeat;
	padding:0;
	margin-top: -18px;
	position: relative;
	overflow: hidden;
}
#page_title {
	float: right;
	margin: 12px 30px 0px 0px;
}
#page_title h2 {
	color: #762788;
	font-size: 22px;
	font-weight: normal;
}
/* Locations */
#location_results {
	margin-left:16px;
	width:100%;
}
#location_results div.location_item {
	background: url(../images/locations/bg.gif) top left no-repeat;
	width: 310px;
	height: 230px;
	margin:0;
	float:left;
	display:block;
}
div.location_item .loc_pad {
	margin:30px 20px 0px 30px;
	position: relative;
}
#location_results .error {
	color: red;
}
#location_results strong {
	color:#762788;
}
#location_results .distance {
	margin:8px 0px 0px 0px;
}
#location_results .floatleft {
	float:left;
	display:block;
	margin:0 6px 0 0px;
}
#no_locations {
	margin:20px;
	font-weight:bold;
}
#location_letters,
#location_letters a {
	font-size:15px;
	font-weight:bold;
}
.loc_top {
	margin-top:7px;
}
.location_results_all {
	margin:8px auto 0;
	width:460px;
	padding:0 0 0 40px;
}
#location_results table.pos_bottom {
	position: absolute;
	top: 112px;
	left:-9px;
}
.location_lead_search_result {
	font-size: .8em;
	width:230px;
	padding:10px 0 0;
}
.location_info {
	height: 60px;
}
.location_select_button {
	margin: 3px 0 0 70px;
}
.set_location {
	font-size:0.8em;
	margin:0 auto;
	padding:10px 0 0 30px;
	width:375px;
	*width: 370px;
}
.set_location .form {
	clear:both;
	margin:6px 0;
	vertical-align:middle;
	*width: 370px;
}
.set_location .form label {
	float:left;
	margin-right:20px;
	width:160px;
}
.col3locations {
	float:left;
	width:255px;
	padding: 10px 0 0;
}
.col3submit {
	float:left;
	margin:30px 0 0 -10px;
	padding: 10px 0 0;
}
#contact_preferences {
	font-size: .8em;
}
#contact_preferences .col3submit {
	margin:65px 0 0 0;
}
#lead_form #zipcode, #lead_form #locations, #lead_form #user_info, #lead_form #contact_preferences, #lead_form #thank_you {
	background:url(../images/locations/leadform_map-step2-dropshadow.jpg) repeat-y;
	float:left;
	width:642px;
}
#lead_form_btm {
	background:url(../images/locations/leadform_map-step2-btm.jpg) no-repeat;
	width:642px;
	height:25px;
	float:left;
}
.location_item {
	position:relative;
	font:12px Verdana, Geneva, sans-serif;
	line-height:16px;
}
.result_details a {
	float:left;
	margin-right:10px;
}
.pos_bottom {
	position:absolute;
	top:138px;
	left:-10px;
	width:300px;
}
.pos_bottom div {
	float:left;
	margin-right:35px;
}
.pos_bottom div.pos_bottom_zumba {
	margin-right:0;	
}
/* End Locations */
	
.secondary p,
.secondary_float p {
	font-size: 1.0em;
	margin: 9px 90px 0 30px;
}
.secondary_white p {
	font-size: 1.0em;
	margin: 0px 84px 9px 30px;
}
.secondary_float p { margin-right:40px; }
.secondary p { width:600px; }
.secondary_white p { width:630px; }
.secondary strong,
.secondary_float strong {
	font-weight: bold
}
.secondary ul,
.secondary_float ul {
	margin: 12px 0 10px 30px;
}
#content_basic ul {
	margin: 0px 0 10px 30px;
	list-style:disc;
}
#content_basic ul li {
	margin-left: 20px;
}
div.display_four {
	padding-left:110px;
}
#my_curves {
	margin: 0px 0px 0px 30px;
	text-align: left;
	line-height: 2em;
}
#mag_wrapper {
	width:720px;
	margin:-6px 0 0 8px;
}
#mag_wrapper #dianemag_article {
	height:150px;
	width:720px;
	margin: 0px 0 10px 0;
	background: url('../images/diane-magazine/diane_mag_article.jpg') no-repeat;
	position:relative;
}
#dianemag_article p {
	float:left;
	width:720px;
	text-align: center;
	font-size: 0.85em;
	position:absolute;
	left:0;
	top:87px;
}
#dianemag_article img {
	margin: -20px 10px 0px 550px;
}
#mag_wrapper #dianemag_buy {
	height:150px;
	width:720px;
	margin: 0 0 10px 0;
	background-image: url('../images/diane-magazine/diane_mag_curvesstore.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#dianemag_buy p {
	float:left;
	width:390px;
	text-align: center;
	font-size: 0.85em;
	margin: 100px 0px 0px 180px;
	padding-bottom:0px;
}
#dianemag_buy img {
	margin: -29px 10px 10px 550px;
}
#curvcontent {
	background-image: url('../images/curves_products/curvaceous_bg.jpg');
	background-repeat: no-repeat;
	width: 607px;
	height: 1600px;
	font-size: 12px;
	font-family: Arial;
}
#livaid {
	position: absolute;
	margin: 50px 0px 0px 25px;
	width: 180px;
}
#goodtogo {
	position: absolute;
	margin: 80px 0px 0px 380px;
	width: 140px;
}
#cableconnection {
	position: absolute;
	margin: 320px 0px 0px 240px;
	width: 140px;
}
#wakeup {
	position: absolute;
	margin: 500px 0px 0px 315px;
	width: 110px;
}
#onescoop {
	position: absolute;
	margin: 760px 0px 0px 10px;
	width: 110px;
}
#streamlined {
	position: absolute;
	margin: 850px 0px 0px 430px;
	width: 200px;
}
#slimmetry {
	position: absolute;
	margin: 1380px 0px 0px 400px;
	width: 200px;
}
#workout_images {
	width: 200px;
	float: left;
	margin: 20px 0px 0px 20px;
}
#workout_text {
	width: 350px;
	float: left;
	margin: 20px 0 0 40px;
}
.clear {
	clear:both;
}
.minheight {
	height: 100px;
}
.pink_italic {
	color: #e86488;
	font-style:normal;
	font-size: 1.2em;
}
.when_you {
	color: #ff6699;
	font-style:italic;
	font-size: 1em;
}
#main_image {
	float: right;
	margin: 0px 60px 0px 0px;
}
.main_image {
	float: right;
	margin: 0px 105px 0px 10px;
	display: block;
}
.left_image {
	float: left;
	margin: 10px 10px 10px 30px;
	display: block;
}
.txtind20 {
	text-indent: 20px;
}
.plft30 {
	padding-left: 30px !important;
	width: 540px !important;
}
.plft60 {
	padding-left: 70px !important;
	width:640px !important;
}
.plft150 {
	padding-left: 150px;
}
.pbot5 {
	padding-bottom: 5px;
}
.pbot10 {
	padding-bottom: 10px !important;
}
.pbot22 {
	padding-bottom: 22px !important;
}
.ptop10 {
	padding-top: 10px;
}
.mlft20 {
	margin-left: 20px !important;
}
.mlft30 {
	margin-left: 30px !important;
}
.mbotminus10 {
	margin-bottom: -8px !important;
}
.mbot22 {
	margin-bottom: 22px !important;
}
.note {
	font-size:0.8em !important;
	color:#999999;
	line-height:1.2em !important;}

/* Testimonials */
#testimonial_wrapper {
	width:720px;
	margin:-6px 0 0 8px;
}
#testimonial_wrapper #testimonial {
	position: relative;
	height:150px;
	width:720px;
	margin: 0px 0 10px 0;
	background-image: url('../images/testimonials/testimonials_bg.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#testimonial p {
	float:left;
	width:390px;
	text-align: center;
	font-size: 0.85em;
	margin:87px 0px 0px 180px;
	padding-bottom:0px;
}
#testimonial img.photo {
	margin: 13px 10px 0px 18px;
}

.video {padding:22px 0 22px 140px;}

/* success stories styles */

.prt5 {
	padding-right: 5px;
}
.before_pic {
	float: left;
	padding-right: 20px;
}
.left_btn {
	float: left;
	padding-right: 5px;
}
.rt_btn {
	float: right;
	margin-top: -13px;
}
#success_sidebar {
	width:130px;
	float:left;
	margin-left:10px;
	height:700px;
}
#success_header {
	font-size: 10px;
	float:left;
	width:495px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
.rt_btn {
	float: right;
	padding-right: 16px;
	margin-top: 0px;
}
}
#story {
	color: #9f6dab;
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	padding-top: 20px;
}
#story2 {
	color: #9f6dab;
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	padding-top: 10px;
}
#success_nav {
	height: 15px;
	width: 223px;
	font-size: 10px;
	margin: 20px 0px 0px 230px;
}
#testimonials_nav {
	height: 15px;
	width: 267px;
	font-size: 10px;
	margin: 20px 0px 0px 200px;
}

.purple_subtitle {
	color: #9f6dab;
	font-weight: bold;
	font-size: 12px;
}
#ajax_directions_loading {
	margin-left:200px;
	margin-top: 25px;
}
#content_locations .selected {
	color:#762788;
	font-weight:bold;
}
.floatLeft {float:left;}

#info {
float:left;
padding-left:10px;
width: 230px;
}
#home #middle a {
	text-decoration: none;
}

#results_copy
{
	clear:both;
	float:left;
	margin-top:13px;
	margin-bottom:10px;
	padding-bottom: 22px;
	width: 620px;
}

#success_disclaimer,
#testimonials_disclaimer {
	font:11px Arial, Helvetica, sans-serif;
	padding-top:10px;
	color:#656565;
	font-style:italic;
}
#testimonials_disclaimer {
	padding-left:47px;
	padding-right:47px;
}
.testimonials_landing {
	padding-left:17px !important;
	padding-right:17px !important;
}
/* Curvaceous Styles */
div#curvecontent {
	background:url(../images/curves_products/curvaceous_holiday.jpg) no-repeat;
	position:relative;
	font:12px Arial, Helvetica, sans-serif;
	width:617px;
	height: 2250px;
	margin:20px 0 0 0;
}
div.absolute {
	position:absolute;
	width:190px;
}
div#desc1 {
	top:35px;
	left:247px;
	width:175px;
}
div#desc2 {
	top:446px;
	left:422px;
}
div#desc3 {
	top:278px;
	left:105px;
}
div#desc4 {
	top:273px;
	left:52px;
	width:195px;
}
div#desc5 {
	top:2014px;
	left:174px;
	width:150px;
}
div#desc6 {
	 top:1337px;
	 left:322px;
}
div#desc7 {
	top:1103px;
	left:393px;
}
div#desc8 {
	 top:1778px;
	 left:68px;
	 width:230px;
}
div#desc9 {
	top:1836px;
	left:356px;
}
#content_basic p.w440 {
	width:420px;
	float:left;
	margin:9px 0 0 30px;
}
.pink {
	color:#ff7fff;
}
/* The You Docs */
#hdr_you_doc {
	background:url(../images/mycurves/hdr_you_doc.jpg) no-repeat;
	width:620px;
	height:145px;
	position:relative;
	left:30px;
	margin-bottom:15px;
}
#hdr_you_doc a {
	position:absolute;
	top:0;
	left:0;
	width:238px;
	height:145px;
	display:block;
}
h2#you_doc_title {
	font:23px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#e86488;
	margin:0;
	padding:0;
	text-align:center;
}
h2#cc_success_story {
	font:18px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#762788;
	margin:50px 0 0 30px;
	padding:0;
}

h3#cc_success_story {
	font:14px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#762788;
	margin:0px 0 2px 30px;
	padding:0;
}

h3#you_doc_subtitle {
	font:12px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
	margin:0 0 10px 0;
	padding:0;
	text-align:center;
}
p#you_docs_archive {
	font:12px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
	padding:0;
	margin-top:10px;
	margin-bottom:15px;
	_margin-bottom:0;
}
.dotted_line {
	background:url(../images/mycurves/mycurves_dotted.gif) repeat-x;
	width:590px;
	height:1px;
	margin:10px 0 20px 31px;
}
#hdr_you_doc {
	background:url(../images/mycurves/hdr_you_doc.jpg) no-repeat;
	width:620px;
	height:145px;
}
#btn_you_docs {
	background:url(../images/mycurves/btn_you_docs.gif) no-repeat;
	position:relative;
	width:289px;
	height:76px;
	left:30px;
	_left:15px;
	margin:10px 0 18px 0;
}
#btn_you_docs a {
	position:absolute;
	top:44px;
	left:180px;
	width:91px;
	height:22px;
}
#hr_diane {
	border: 0;
	width:360px;
	color:#FF6666;
	backgroundcolor:#FF6666;
	height: 1px;
	margin: 5px 0px 20px 140px;
}
/* diane Mag Summer 2009 Styles */
.diane_mag_col {
	width:310px;
	float:left;
}
.diane_num {
	font:18px Arial, Helvetica, sans-serif;
	color:#000;
}
.diane_title_red,
.diane_title_pink {
	font:18px Arial, Helvetica, sans-serif;
	color:#b10015;
	font-weight:bold;
}
.diane_title_pink {
	color:#df1181;
}
.diane_article {
	padding:0 15px 20px 0;
}
.left { float:left; }
.right { float:right; }
iframe {
	position:relative;
	left:-50000px;
}
#curves_for_sale_link {
	padding-left:20px;
}
/* Handicapped Accessibility Styles */
.accessibility {
	position:absolute;
	text-indent:-9999px;
}