/* Temporary */
body.wis_mainPage .wis_pageContentWrapper
{
position: inherit;
}

.fb_reset iframe
{
border: 0;
}

#fRaceInfo, #select-race, #race-header h2 {
  display:none; 
}

.fs-multimedia-cp .panel-container .panel .playerDiv {
    margin: 0px !important;
}
