.res-full,
.topbanner-200,
.headerTitleRight,
.sideBoxPillApp,
.sideBoxM1ad,
.sideBoxAdAppPromo,
.sideBoxSponsor,
.page-icons-footer .iconBookmark,.app-promo,#slider{display:none}body{background:#FFF;font-size:16px}#wrap{width:748px;padding:10px}#topbanner{width:auto}#nav{width:742px;font-size:14px}#content{width:564px}#sidebar{width:160px;font-size:14px}.searchText{width:310px}.breadcrumb{padding:0}.sideBoxSubscribe
input.email{width:130px}#footer
.footAbout{width:305px}#footer
.footPrivacy{width:220px}.actionTabs{font-size:14px}.sideBoxHarvard{padding:0;background:none}.sideBoxHarvard li:before{content:"Harvard Health "}.symptomBoxMain{width:280px}.fdaBox
.sideBoxHead{height:46px;background:#FFF url(../img/fda/fda-header-small.png) no-repeat 0 0}.fdaBox .sideBoxContent
ul{margin:0
0 5px}.fdaBox .sideBoxContent
li{background:none;padding:0
!important;font-weight:normal;list-style:none}.fdaBox
.more{display:block;position:static;padding:0}