/* iPad and other 1024px screens */
@media only screen and (max-width: 1024px) {
	body {
		width:1024px;
	}
	#headerInner {
	    overflow:hidden;
	}
}

/* Global Page Styles */

	#headerWrapper {
	    background-color:white;
	    margin-top:-101px;
	    position:relative;
	    width:100%;
	}
	#headerInner {
	    margin:0 auto;
	    width:1009px;
	    padding-top:5px;
		position:relative;
	}
	#adPlaceHolder {
		height:96px;
		left:248px;
	    position:relative;
		width: 746px;
	}
	.ad728Wrapper {
	    left:117px;
	    margin: 5px auto 0;
	    position:relative;
	    width:746px;
	    z-index:1;
	}
	.ad728inner {
		background-color:white;
		border:1px #404040 solid;
	    padding: 2px 0px 2px 2px;
		width: 742px;
	}
	.ad728 {
        width: 739px;
		height: auto;
		min-height: 90px;
		overflow: visible;
		background: url("../../img/global/nav/bkgdLeaderboard.gif") white top center no-repeat;
		float: left;
		/*padding-top: 1px;
		padding-left: 1px;*/
	}
	.ad728 div {
	    text-align:left;
	    width:728px;
	}

	.ad728 form, .ad728 span { height: auto; float: left; }			/* legacy code */
	.ad728Wrapper .ad728inner .login-module { display:none; }		/* legacy code, because we can't change the HTML */


/* Global Nav */

	#navWrapper {
		background-color:white;
		display:inline-block;
		margin:0px auto;
		margin-top:-101px;
		padding-left:17px;
		padding-right:14px;
        position:relative;
        width: 978px;
	}
    #navUpper {
	    position:relative;
	    height:165px;
	    width:100%;
    }
	#cnLogo {
		background: url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/cn-logo.png") no-repeat -2px -2px;
        float: left;
        height: 128px;
        margin: 20px 12px 17px 0px;
        width: 219px;
	}
	#navMenu {
        float:left;
        margin-top:101px;
		width:746px;
	}
	#gn_Menu {
		width:100%;
		height:64px;
	}
	.gn_wrapper {
		background:#FFF url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat;
		cursor:pointer;
		float:left;
		height:100%;
        position:relative;
	}
    .gn_wrapper span.active {
    	background:#FFF url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat;
        border: 1px #BBB solid;
        display:none;
        height: 62px;
        position: absolute;
        top:0;
    }

    .gn_icon {
    	background:url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat;
    	display:block;
    	height:38px;
    	left:0;
    	margin:0 auto;
    	position:absolute;
    	right:0;
    	top:1px;
    	width:40px;
    }

    #gn_games {
        width:124px;
    }
    #gn_shows {
        width: 124px;
    }
    #gn_community {
        width: 155px;
    }
    #gn_episodes {
        width: 163px;
    }

	#gn_games {
		background-position:-1px -1px;
	}
	#gn_games span.active {
		background-position: -2px -68px;
        width: 122px;
	}
	#gn_shows {
		background-position: -126px -1px;
	}
	#gn_shows span.active {
		background-position: -124px -68px;
        left: -3px;
        width: 125px;
	}
	#gn_community {
		background-position: -251px -1px;
	}
	#gn_community span.active {
		background-position:-249px -68px;
        left: -3px;
        width:156px;
	}
	#gn_episodes {
		background-position: -407px -1px;
	}
	#gn_episodes span.active {
		background-position:-405px -68px;
        left: -3px;
        width:164px;
	}

	#gn_games span.gn_icon {
        background-position:-575px 6px;
    }
    #gn_shows span.gn_icon {
        background-position:-577px -34px;
    }
    #gn_community span.gn_icon {
        background-position:-576px -74px;
    }
    #gn_episodes span.gn_icon {
        background-position:-575px -114px;
    }

	#gn_other {
		float:right;
		height:100%;
		width:176px;
	}
	#gn_search {
		position:relative;
	}
	#gn_searchBox {
		background-color: #E8E8E8;
		border: 1px #a9a9a9 solid;
		color: #878787;
		display:inline-block;  /* fixes an IE 8 issue */
		float: right;
		font: 12px arial, san-serif;
		height:auto;
		margin: 11px 0px;
		padding: 3px 0px 3px 8px;
		width: 155px;
	}
	#gn_searchBtn {
		background: url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat -424px -164px;
		border: none;
		cursor:pointer;
		height: 15px;
		padding: 0;
		position: absolute;
		right: 5px;
		top: 15px;
		width: 15px;
	}
	.gn_secondaryLinks {
		background: url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat;
		display:block;
		float:right;
		height:11px;
		margin-left:9px;
	}
	#gn_schedule {
		background-position: -221px -149px;
		width:105px;
	}
	#gn_shop {
		background-position: -336px -149px;
		width:52px;
	}
	#gn_schedule:hover {
		background-position: -221px -169px;
	}
	#gn_shop:hover {
		background-position: -336px -169px;
	}


/* Slider */

	#navSlider {
        float:left;
        height:65px;
		margin:0 auto;
        position:relative;
		width:100%;
	}
	.navFade {
		height: 7px;
		position: absolute;
		top: 0px;
	}
    #navLeftFade {
        background: url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat -444px -150px;
		left: -71px;
		width: 125px;
    }
    #navMidFade {
        background:url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/divider.png") repeat-x;
        left:54px;
        width:859px;
    }
    #navRightFade {
        background:url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat -424px -136px;
        left:913px;
        width:125px;
    }
	#navSlider_viewPort {
		float:left;
		height:54px;
		margin-top:6px;
		overflow:hidden;
		position:relative;
		width:850px;
	}
	#navSlider_iconContainer {
		position:absolute;
		height:54px;
		left:-853px;
		width:2600px;
	}
	#navSlider ul {
		margin:0;
		padding:0;
	}
	#navSlider ul li {
		border: solid 2px white;
		float: left;
		height:50px;
		list-style: none;
		margin: 0 1px;
		width:65px;
	}
	#navSlider ul li:hover {
		border-color: black;
	}
	.sliderButton {
		background:url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat;
		cursor: pointer;
		float: left;
		height: 43px;
		margin-top: 13px;
		width: 43px;
	}
	#sliderPrev {
		background-position: -4px -143px;
		margin-right:11px;
	}
	#sliderNext {
		background-position:-57px -143px;
        margin-left:11px;
	}
	#sliderPrev:hover {
		background-position:-112px -143px;
	}
	#sliderNext:hover {
		background-position:-165px -143px;
	}
	.sliderDivider {
		background: url("../../../../i.cdn.turner.com/toon/tools/img/globalnav/globalNav_sprite_v2.png") no-repeat;
		float:left;
		height:64px;
		width:7px;
	}
	#navSlider_leftDivider {
		background-position:-397px -134px;
	}
	#navSlider_rightDivider {
		background-position:-411px -134px;
	}
	#tooltip {
		background-color: black;
		border: solid 2px white;
		color: white;
		cursor: default;
		display:none;
		font: normal 14px CNBold, Trebuchet MS, sans-serif;
		height: 16px;
		line-height: 16px;
		padding: 0px 5px 0px;
		position:absolute;
		text-transform: uppercase;
		white-space: nowrap;
		z-index: 10000;
	}


/* All shows button -- heights for the floater and lower bar also need to change to modify this */
.gnbutton { height: 10px; background-color: #ffffff; padding-top: 6px; padding-bottom: 4px; }
.gnbutton .allshowsbtn { width:auto; height: 10px; margin-left: 5px; margin-right: 5px; font: bold 11px arial,helvetical,sans-serif; text-decoration: none; line-height: 10px; color: #000000; cursor: pointer; overflow: hidden; }
.gnbutton .allshowsbtn .asbkdown { background: url('../../img/global/nav/btn_all_down.png') top center no-repeat; color: #000000; text-indent: 0px; }
.gnbutton .allshowsbtn:hover .asbkdown { background: url('../../img/global/nav/btn_all_down_hvr.png') top center no-repeat; color: #0984d8; text-indent: 0px; }
.gnbutton .allshowsbtn .asbkup { background: url('../../img/global/nav/btn_all_up.png') center -1px no-repeat; color: #000000; text-indent: 0px; }
.gnbutton .allshowsbtn:hover .asbkup { background: url('../../img/global/nav/btn_all_up_hvr.png') center -1px no-repeat; color: #0984d8; text-indent: 0px; }


/* All shows tray */
#gnallshows { width: 100%; background-color: #000000; border-bottom:thin #FFFFFF solid; }
#navWrapper .gnallshowsOn { width: 100%; background-color: #000000; display: block; }
#gnallshows .gntray { width: 1002px; margin: 0 auto; background: #000000 url('../../img/global/nav/all_tray_bkg.jpg') top center repeat-y; }
#gnallshows .gntray .traycolumn { width: 238px; min-height: 180px; float: left; text-align: left; padding-top: 10px; padding-left: 10px; line-height: 14px; }
#gnallshows .gntray .traycolumn div { text-align: left; }
#gnallshows .gntray .traycolumn div a { font: 10px arial,helvetical,sans-serif; text-decoration: none; line-height: 16px; color: #ffffff; }
#gnallshows .gntray .traycolumn div a:hover { color: #0984d8; }
#gnallshows .gntray .closebutton { width: 76px; height: 20px; border: solid 1px #999999; background: url('../../img/global/nav/close_bkg.jpg') top repeat-x; text-align: center; margin: 0px 0px 2px 922px; }
#gnallshows .gntray .closebutton{ font: bold 11px arial,helvetica,sans-serif; line-height: 20px; text-decoration: none; color: #ffffff; cursor: pointer; }
#gnallshows .gntray .closebutton { margin: 0px 3px 3px 0px; position: relative; left: 920px; float: left;}
#gnallshows .gntray .closebutton:hover { color: #0984d8; }
#navWrapper .gnstripe { width: 100%; height: 1px; background-color: #ffffff; }

#navWrapper .gnwarning { width: 100%; height: 310px; background-color: #000000; }
#navWrapper .gnwarning .flashwarning { width: 550px; margin: 0 auto; padding: 10px 0px 10px 0px;}
#navWrapper .gnwarning .noflashwarning { padding-top: 20px; font: bold 14px arial,helvetica,sans-serif; color: #ffffff; text-align: center;}
#navWrapper .gnwarning .noflashwarning a { font: bold 14px arial,helvetica,sans-serif; color: #ffffff; }
#navWrapper .gnwarning .noflashwarning a:hover { font: bold 14px arial,helvetica,sans-serif; color: #0984d8; }

.hiddenbox { display: none; }
.displayBlock { display: block; }
.clr { width: 100%; height: 0px; clear: both; }

/*--- clear fix ---*/
.clearfix:after, .ad728inner:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	line-height: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
} /* IE6 */

*:first-child+html .clearfix, *:first-child+html #_sb_alertContent {
	zoom: 1;
} /* IE7 */