

.show-on-print {
	visibility: visible;
}
.showForPrintOnly {
	display:block;
}
.noprint {
	display:none;
}
.common-nav-main .cart-search-keyword-container {
	position:relative;
	top:0;
}
.common-nav-main .cart-search-keyword-container input {
	border:1px solid #59626B;
	height:16px;
}
.common-footer input.user-email {
	border:1px solid #59626B;
	height:13px;
	margin-top:2px;
}


