.srCartCostSummaryLineItem { float: left; }

.srCartProduct { margin: 0 0 0 64px; }

.srCartShippingSummary { padding: 5px 0 0 0; }

.srCategorySmallBanner { margin: 10px 0 0 0; }

.srProductDetail { margin: 0 0 0 4px; }
.srCatalogProduct { margin-top: 5px; }

.srReviewProduct, .srShippingBucket, .srShippingProduct {}

.srThanksBanner { float: right; margin: 0px 15px 0 15px; }

/* ShopRunner custom element holders */
.srCartBanner, .srCartCostSummaryLineItemSmall, .srCategoryProduct, .srCheckoutBanner, .srCrossSellProduct, .srHomepageBanner, .srThanksProduct, .srDualMarketing1, .srDualMarketing2, .srDualMarketing3, .srDualMarketing4, .srDualMarketing5, .srMarketing1, .srMarketing2, .srMarketing3, .srMarketing5 {}

.srMarketing4 { float: left; width: 24px; margin-left: 17px; display: inline-block; _position: relative; _height: 15px; _left: -15px; _background: url(../../../../shoprunner.force.com/resource/1306168204000/MIK_Images/images/sr_icon_transparent_18x15.png) no-repeat 0 0; }
p.srEligible { position: relative; *left: 24px; top: 2px; *top: -12px; *height: 0px; }
p.srEligible, p.srEligible a { width: 175px !important; }
#leftnav_expandcontainer .srMarketing4 { margin-left: 0px; float: left; _left: 0px; }
#leftnav_expandcontainer .srMarketing4 a:hover { border-bottom: none !important; }
#leftnav_container, #leftnav_expandcontainer { _width: 185px !important; _overflow: hidden; }
/* custom classes */

.srTrusCartCostSummary, .srTrusCostSummarySmall {}

.srRemoveTopBorder { border-top: none !important; }

.shopRunnerRadioButton { float: left; }

.shopRunnerRadioButtonWrapper { float: left; margin: 0 0 8px 7px; text-indent: 7px; width: 99%; }

#shopping-cart-body .srRemoveTopBorder .sr_gSProduct .sr_cartSummaryMessage { right: 30px; }
#shipping .srShippingBucket .sr_gSProduct { width:634px !important; }
#shipping .srShippingBucket .sr_gSProduct .sr_cartSummaryMessage { position:static !important; }

.srFamilyProduct {padding-top:7px;}
div.sr_gCatalogProductGrid {height:15px;}

div.srProductDetail {height: 40px;width: 326px;margin-top: 5px;}
div.sr_buynow div.sr_gProduct {width: auto !important;}