
/* DE-sprites-sitewideSprites-2841431638.css start */

.swSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url(../../../../../../g-ecx.images-amazon.com/images/G/03/common/sprites/sprite-site-wide._V146303775_.png) no-repeat; }
.swSprite span { position: absolute; left: -9999px; }
.s_starSmallFull  { background-position: -30px 0px; width: 13px;height: 13px; }
.s_starSmallHalf  { background-position: -82px -20px; width: 13px;height: 13px; }
.s_starSmallEmpty { background-position: -95px 0px; width: 13px;height: 13px; }
.s_star_0_0 { background-position: -95px 0px; width: 65px;height: 13px; }
.s_star_0_5 { background-position: -82px -20px; width: 65px;height: 13px; }
.s_star_1_0 { background-position: -82px 0px; width: 65px;height: 13px; }
.s_star_1_5 { background-position: -69px -20px; width: 65px;height: 13px; }
.s_star_2_0 { background-position: -69px 0px; width: 65px;height: 13px; }
.s_star_2_5 { background-position: -56px -20px; width: 65px;height: 13px; }
.s_star_3_0 { background-position: -56px 0px; width: 65px;height: 13px; }
.s_star_3_5 { background-position: -43px -20px; width: 65px;height: 13px; }
.s_star_4_0 { background-position: -43px 0px; width: 65px;height: 13px; }
.s_star_4_5 { background-position: -30px -20px; width: 65px;height: 13px; }
.s_star_5_0 { background-position: -30px 0px; width: 65px;height: 13px; }
.s_chevron { background-position: -30px -40px; width: 11px; height: 11px; }
.s_goTan { background-position: -50px -40px; width: 21px; height: 21px; }
.s_email { background-position: -80px -40px; width: 16px; height: 11px; }
.s_rss { background-position: -100px -40px; width: 12px; height: 12px; }
.s_extLink { background-position: -120px -40px; width: 15px; height: 13px; }
.s_close { background-position: -140px -40px; width: 15px; height: 15px; }
.s_collapseChevron { background-position: -30px -60px; width: 9px; height: 9px; }
.s_expandChevron { background-position: -40px -60px; width: 9px; height: 9px; }
.s_comment { background-position: -80px -60px; width: 16px; height: 15px; }
.s_expand { background-position: -100px -60px; width: 14px; height: 14px; }
.s_collapse { background-position: -120px -60px; width: 14px; height: 14px; }
.s_shvlBack { background-position: -30px -80px; width: 25px; height: 50px; }
.s_shvlBackClick { background-position: -30px -130px; width: 25px; height: 50px; }
.s_shvlNext { background-position: -60px -80px; width: 25px; height: 50px; }
.s_shvlNextClick { background-position: -60px -130px; width: 25px; height: 50px; }
.s_shvlBackSm { background-position: -90px -80px; width: 20px; height: 40px; }
.s_shvlBackSmClick { background-position: -90px -120px; width: 20px; height: 40px; }
.s_shvlNextSm { background-position: -110px -80px; width: 20px; height: 40px; }
.s_shvlNextSmClick { background-position: -110px -120px; width: 20px; height: 40px; }
.s_play { background-position: -140px -80px; width: 20px; height: 20px; }
.s_pause { background-position: -140px -100px; width: 20px; height: 20px; }
.s_playing { background-position: -140px -120px; width: 20px; height: 20px; }
.s_pausing { background-position: -140px -140px; width: 20px; height: 20px; }
.s_blueClearX { background-position: -170px 0px; width: 12px; height: 12px; }
.s_blueStar_0_0 { background-position: -255px 0px; width: 65px; height: 13px; }
.s_blueStar_1_0 { background-position: -242px 0px; width: 65px; height: 13px; }
.s_blueStar_2_0 { background-position: -229px 0px; width: 65px; height: 13px; }
.s_blueStar_3_0 { background-position: -216px 0px; width: 65px; height: 13px; }
.s_blueStar_4_0 { background-position: -203px 0px; width: 65px; height: 13px; }
.s_blueStar_5_0 { background-position: -190px 0px; width: 65px; height: 13px; }
.s_notify { background-position: -0px -190px; width: 25px; height: 25px; }
.s_confirm { background-position: -30px -190px; width: 25px; height: 25px; }
.s_alert { background-position: -60px -190px; width: 25px; height: 25px; }
.s_error { background-position: -90px -190px; width: 25px; height: 25px; }
.s_notifySm { background-position: -120px -190px; width: 17px; height: 17px; }
.s_confirmSm { background-position: -140px -190px; width: 17px; height: 17px; }
.s_alertSm { background-position: -160px -190px; width: 17px; height: 17px; }
.s_errorSm { background-position: -180px -190px; width: 17px; height: 17px; }
.s_checkDisabled { background-position: -150px -170px; width: 14px;height: 14px; }
.s_checkUnmarked { background-position: -90px -170px; width: 14px;height: 14px; }
.s_checkHover { background-position: -110px -170px; width: 14px;height: 14px; }
.s_checkMarked { background-position: -130px -170px; width: 14px;height: 14px; }
.s_amznLogo { background-position: -170px -20px; width: 127px; height: 26px; }
.s_primeBadge { background-position: -170px -50px; width: 45px; height: 13px; }
.s_add2CartSm { background-position: -170px -70px; width: 76px; height: 17px; }
.s_add2WishListSm { background-position: -170px -90px; width: 96px; height: 17px; }
.s_buyWith1ClickSm { background-position: -170px -110px; width: 96px; height: 17px; }
.s_preorderThisItemSm { background-position: -170px -130px; width: 108px; height: 17px; }
.s_seeBuyingOptionsSm { background-position: -170px -150px; width: 122px; height: 17px; }
.s_amznLikeBeak { background-position: -260px -200px; width: 12px; height: 10px; }
.s_amznLikeButtonOff { background-position: -210px -170px; width: 47px; height: 20px; }
.s_amznLikeButtonPressed { background-position: -210px -190px; width: 47px; height: 20px; }
.s_amznLikeButtonOn { background-position: -260px -170px; width: 47px; height: 20px; }
.s_amznLogo { width: 113px; height: 28px; }
.s_primeBadge { height: 15px; }
.s_add2CartSm { width: 118px; }
               
.s_add2WishListSm { width: 139px; }
.s_buyWith1ClickSm { width: 130px; }
.s_preorderThisItemSm { width: 103px; }
.s_seeBuyingOptionsSm { width: 130px; }
.s_amznLikeButtonOff { width: 73px; }
.s_amznLikeButtonPressed { width: 73px; }
.s_amznLikeButtonOn { background-position: -290px -170px; width: 73px; }
.s_amznLikeBeak { background-position: -290px -200px; }
.s_starBigFull   { background-position: -78px -220px; width: 20px;height: 18px; }
.s_starBigHalf   { background-position: -78px -240px; width: 20px;height: 18px; }
.s_starBigEmpty { background-position: -97px -220px; width: 20px;height: 18px; }
.s_starBig_0_0 { background-position: -98px -220px; width: 95px;height: 18px; }
.s_starBig_0_5 { background-position: -79px -240px; width: 95px;height: 18px; }
.s_starBig_1_0 { background-position: -79px -220px; width: 95px;height: 18px; }
.s_starBig_1_5 { background-position: -60px -240px; width: 95px;height: 18px; }
.s_starBig_2_0 { background-position: -60px -220px; width: 95px;height: 18px; }
.s_starBig_2_5 { background-position: -41px -240px; width: 95px;height: 18px; }
.s_starBig_3_0 { background-position: -41px -220px; width: 95px;height: 18px; }
.s_starBig_3_5 { background-position: -22px -240px; width: 95px;height: 18px; }
.s_starBig_4_0 { background-position: -22px -220px; width: 95px;height: 18px; }
.s_starBig_4_5 { background-position: -3px  -240px; width: 95px;height: 18px; }
.s_starBig_5_0 { background-position: -3px  -220px; width: 95px;height: 18px; }
/* DE-sprites-sitewideSprites-2841431638.css end */

/* DE-sprites-cmtySprites-446091007.css start */
.cmtySprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('../../../../../../g-ecx.images-amazon.com/images/G/03/common/sprites/sprite-communities._V388946692_.png') no-repeat; }
button.cmtySprite { vertical-align: top; border: none; background-color: none; cursor: pointer; }
.cmtySprite span { position: absolute; left: -9999px; }
.s_paginationTop { background-position: -0px -710px; height: 18px; }
.s_paginationBottom { background-position: -0px -690px; height: 18px; }
.s_dottedLine { background-position: -0px -730px; height: 18px; }
 
.s_yes { background-position: 0px 0px; width: 31px;height: 17px; }
.s_no { background-position: -50px 0px; width: 39px;height: 17px; }
.s_largeYes { background-position: 0px -670px; width: 35px;height: 18px; }
.s_largeNo { background-position: -70px -670px; width: 43px;height: 18px; }
.s_createYourOwnReviewTan { background-position: 0px -20px; width: 162px;height: 22px; }
.s_startNewDiscussionTan { background-position: 0px -50px; width: 146px;height: 22px; }
.s_startNewDiscussionPrimary { background-position: 0px -80px; width: 149px;height: 22px; }
.s_getNameAndPost { background-position: 0px -110px; width: 183px;height: 22px; }
.s_signInAndPost { background-position: 0px -140px; width: 137px;height: 22px; }
.s_cancelTan { background-position: 0px -170px; width: 64px;height: 22px; }
.s_add { background-position: -80px -170px; width: 73px;height: 17px; }
.s_mostPopularTags { background-position: -0px -200px; width: 106px;height: 38px; }
.s_profileDefault { background-position: -0px -250px; width: 60px;height: 72px; }
.s_BadgeOfficial { background-position: -0px -330px; width: 93px;height: 13px; }
.s_BadgeRealName { background-position: -0px -390px; width: 57px;height: 13px; }
.s_BadgeNo1 { background-position: -0px -410px; width: 77px;height: 13px; }
.s_BadgeTop10 { background-position: -0px -430px; width: 101px;height: 13px; }
.s_BadgeTop50 { background-position: -0px -450px; width: 101px;height: 13px; }
.s_BadgeTop100 { background-position: -0px -470px; width: 106px;height: 13px; }
.s_BadgeTop500 { background-position: -0px -490px; width: 105px;height: 13px; }
.s_BadgeTop1000 { background-position: -0px -510px; width: 117px;height: 13px; }
.s_BadgeHoliday08 { background-position: -0px -530px; width: 105px;height: 13px; }
.s_BadgeThe { background-position: -0px -550px; width: 29px;height: 13px; }
.s_BadgeVineVoice { background-position: -0px -610px; width: 121px;height: 13px; }
.s_BadgeHallOfFame { background-position: -0px -647px; width: 121px;height: 13px; }
.s_BadgeHallOfFameNo1 { background-position: -0px -630px; width: 133px;height: 13px; }

/* DE-sprites-cmtySprites-446091007.css end */

/* DE-sprites-boxSprites-1785088722.css start */

.cBox { position: relative;width:100%; margin-bottom:15px;}
.cBoxInner { padding:9px;}
.cBoxTL, .cBoxTR, .cBoxBL, .cBoxBR { position:absolute; display:block; width:10px; height:10px; z-index:1; }
.cBoxTL { top:-1px; left:-1px; }
.cBoxTR { top:-1px; right:-1px; }
.cBoxBL { bottom:-1px; left:-1px; }
.cBoxBR { bottom:-1px; right:-1px; }
.cBoxR { position:absolute; display:block; width:1px; height:100%; top:-1px; right:-1px; background-color:#C9E1F4; }
.cBoxB { position:absolute; display:block; width:100%; height:1px; bottom:-1px; background-color:#C9E1F4; }
.cBoxTL, .cBoxTR, .cBoxBL, .cBoxBR { background-image:url(../../../../../../g-ecx.images-amazon.com/images/G/03/common/sprites/sprite-site-wide._V146303775_.png); background-repeat:no-repeat; }
.cBoxTL { background-position: 0px 0px; }
.cBoxTR { background-position: -10px 0px; }
.cBoxBL { background-position: 0px -10px; }
.cBoxBR { background-position: -10px -10px; }
.secondary, .secEyebrow, .primary { border:1px solid #C9E1F4; border-right:none; border-bottom:none; }
.secEyebrow h2 { margin:0; border-bottom:1px solid #E0EFFB; padding:6px 8px 6px 8px; font-size:100%; color:#030303; }
.primary, .secEyebrow h2 { background-color:#EAF3FE; }
.primary .cBoxTL, .secEyebrow .cBoxTL { background-position: 0px -40px; }
.primary .cBoxTR, .secEyebrow .cBoxTR { background-position: -10px -40px; }
.primary .cBoxBL { background-position: 0px -50px; }
.primary .cBoxBR { background-position: -10px -50px; }
.grayBox .cBoxTL { background-position: 0px -80px; }
.grayBox .cBoxTR { background-position: -10px -80px; }
.grayBox .cBoxBL { background-position: 0px -90px; }
.grayBox .cBoxBR { background-position: -10px -90px; }
.grayBox .cBoxR { background-color:#CCC; }
.grayBox .cBoxB { background-color:#CCC; }
.grayBox { border: 1px solid #CCC; border-right:none; border-bottom:none; }
.dkBlueBox .cBoxTL { background-position: 0px -60px; }
.dkBlueBox .cBoxTR { background-position: -10px -60px; }
.dkBlueBox .cBoxBL { background-position: 0px -70px; }
.dkBlueBox .cBoxBR { background-position: -10px -70px; }
.dkBlueBox .cBoxR { background-color: #AED2EE; }
.dkBlueBox .cBoxB { background-color: #AED2EE; }
.dkBlueBox { border: 1px solid #AED2EE; border-right: none; border-bottom: none; }
.tanBox .cBoxTL { background-position: 0px -100px; }
.tanBox .cBoxTR { background-position: -10px -100px; }
.tanBox .cBoxBL { background-position: 0px -110px; }
.tanBox .cBoxBR { background-position: -10px -110px; }
.tanBox .cBoxR { background-color: #CCC; }
.tanBox .cBoxB { background-color: #CCC; }
.tanBox { border:1px solid #CCC; border-right: none; border-bottom: none; background-color: #FCFCF3; }
* html .cBox { height: 1%; }
.s_boxLeft { background-position: 0px -40px; height: 12px; width: 12px; }
.s_boxRight { background-position: -10px -40px; height:12px; width: 12px; }

/* DE-sprites-boxSprites-1785088722.css end */
