@IMPORT url("http://www.lenovo.com/css/category-columns.css");
#header {
	background-color: transparent;
	height:550px;
	width: 1160px;
}

#content {
	background-color: #fff;	
}

table.category-columns {
	border-collapse:separate;
	border:0px;
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
	width:960px;
	table-layout:fixed;
	color: white;	
	height:100%;
}

table.category-columns p {
	font-size: 16px;
}

table.category-columns td {
	padding:10px;
	vertical-align: top;
}

table.category-columns td.spacer {
	width:10px;
}

table.category-column {
	width:100%;
	height:100%;
}

table.category-column td.heading {
	height:80px;
	padding:0px;
	padding-left:30px;
	vertical-align:middle;
	margin-bottom:10px;
}

table.category-columns td.lifestyle {
	background-image: url('http://www.lenovo.com/images/lifestyle-bg.jpg');
	background-repeat: repeat-x;
	background-position: top left;
}

table.category-columns td.lifestyle td.heading {
	background-image: url('http://www.lenovo.com/images/lifestyle-column.jpg');
	background-repeat: repeat-x;
	background-position: top left;
}

table.category-columns td.professional {
	background-image: url('http://www.lenovo.com/images/professional-grade-bg.jpg');
	background-repeat: repeat-x;
	background-position: top left;
}

table.category-columns td.professional td.heading {
	background-image: url('http://www.lenovo.com/images/professional-grade-column.jpg');
	background-repeat: repeat-x;
	background-position: top left;
}

table.category-columns a, table.category-columns a:ACTIVE, table.category-columns a:HOVER {
	text-decoration: none;
	color:white;
}

table.category-columns td.heading a {
	font-size: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 30px;
	background-image: url("http://www.lenovo.com/images/arrow.png");
}

table.category-columns td.heading p {
	font-size: 14px;
	padding:0px;
}

table.category-column td.series {
	padding:0px;
	padding-top:15px;
	padding-left:10px;	
}

table.category-column td.series p {
	
}

table.category-columns td.related {
	vertical-align:bottom;
	padding:0px;
	padding-top:10px;
	padding-left:10px;
}

table.category-columns td.related a {
	font-size: 16px;
}

table.category-columns td.related p {
	font-size: 12px;
}

form.signup {
	padding:10px 0;
	font-size: 12px;
	width:100%;
}

form.signup table {	
	margin: 0 auto;	
}

form.signup table td {
	padding-top:5px;
	padding-bottom:5px;
	padding-right:15px;	
}

form.signup strong {
	color: #000;
}
form.signup input {	
	background: #fff url("http://www.lenovo.com/images/signup-top-shadow.gif") 0 0 repeat-x;
	border: 1px solid #ccc;
	font-weight: normal;
	height: 15px;
	margin: 0 10px;
	padding: 5px;
	width: 245px;
}
form.signup button {
	height: 30px;
	background-color:transparent;
	background-image: url("http://www.lenovo.com/images/arrow_professional.gif");
	background-repeat: no-repeat;
	background-position: right center;
	text-align:right;
	color: #dc291e;
	font-weight:bold;
	border: 0px;
	cursor: pointer;
	padding-right: 30px;
}

form.signup label {
	font-weight: bold;
}


/* new LFTWD hero */
.centered-content {
	margin:0 auto;
	text-align: center;
	width: 960px;
}
#hero-container {
	background-color: transparent;
	height: 550px;
	margin: 0 auto;
	overflow: none;
	position: relative;
	text-align: left;
	width: 1160px;
}
#promo-boxes {
	height:140px;
	left: 0;
	position: absolute;
	top: 380px;
	width: 100%;
	z-index: 1;
}
#promo-boxes ul {
	display: block;
	height: 140px;
	list-style: none;
	margin: 0 auto;
	overflow: none;
	width: 960px;
}
#promo-boxes li {
	float: left;
	height:140px;
	list-style: none;
	margin-left: 30px;
	width: 300px;
}
#promo-boxes li:first-child {
	margin-left: 0px;
}
#promo-boxes li img {
	border: none;
	height: 140px;
	margin:0;
	width: 300px;
}
#nav-bar-wrapper {
	display: block;
	height: 35px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 1160px;
	z-index: 1;
}
#nav-bar {
	background: #dc291e;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
	display: block;
	height: 30px;
	left: 0;
	overflow: 0;
	position: absolute;
	top: 0;
	width: 1160px;
	z-index: 0;
}
#slide-wrapper {
	display: block;
	position: relative;
	height: 550px;
	width: 1160px;
	z-index: 0;
}
#slide-wrapper .slide {
	display: none;
	left: 0;
	height:550px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 1160px;
}
#slide-nav {
	display: block;
	padding: 10px 0;
	position: absolute;
	right: 105px;
	top: 0;
	z-index: 1;
}
#slide-nav a,
#slide-nav a:visited {
	background-color: #transparent;
	border: 1px solid #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1px;
	height: 8px;
	!height: 9px;
	margin: 0 0 0 9px;
	text-indent: -9999em;
	width: 8px;
	!height: 9px;
}
#slide-nav a:hover {
	background-color: #9C3022;
}
#slide-nav a:first-child {
	margin: 0;
}
#slide-nav a.current {
	background-color: #FFF !important;
	cursor: default !important;
}