/*------------------------------------------------------------------
[Table of contents]


White/Black/Transparent

alpha orange:  color:#FE6518 
alpha red:  #DB0303;  
alpha purple:  #695A7E  

The following colors should be in roughly numeric order
#333
#444
#555
#5b526b
#888
#999
#ccc


hover effect colors
alpha orange:  color:#FE6518
alpha red:  #DB0303;

-------------------------------------------------------------------*/
html,body,p,input,input:disabled {
  color: #000;
}

#primary, #sources .primary a, #sources .popup ul li, #sources .popup ul li li a {
  color: #000;
}

.assuming .menu li, .assuming .menu div ul, .assuming .menu div.abs, .assuming .menu div a, .popup pre, .popup textarea, .pulldown .pulldown-menu {
  background-color: #FFF;
}

/* transparent */
.assuming > div, #debug-wrapper, #more li, .thumbs li, .pipeDivider, .pod-timeout-close, #newbie li a {
  background-color: transparent;
}

/* alpha orange:  color:#FE6518  */
#sources .popup h1, #sources h2, .note em, .menuTitle, .email-confirm a, .pod-timeout p a, .pulldown .selected, .note a:link, .note a:visited, .pod h1 a:link, .pod h1 a:visited {
  color:#FE6518; 
}

/* alpha red:  #DB0303;  */
a:link, a:visited, em, #blurb h1, h2, h3, h2 a:link, h2 a:visited, #topics h2 a:link, #topics h2 a:visited, #inputs ul.thumbs:last-child li:last-child a, #blurb p a:link, #blurb p a:visited, #intro #toGallery:link, #intro #toGallery:visited, .pulldown ul li a.highlight,  #try h3, #cacheBanner, #splat em, #search h1 a, #sidebar h1, #sidebar h2, #newbie li a#trymore:link, #ec b {
  color:#DB0303; 
}

/* alpha purple:  #695A7E  */
label, .popup, .popup p, .pod .header, .pod h1, .pod h1 span  {
  color: #695A7E; 
}


/* shades of grey */

#newbie li a, #newbie li a:link, #newbie li a:visited {
  color: #292929;
}

#noscript p, .pod-timeout p {
  color: #333;
}

.popup pre, .popup textarea {
  color: #444;
}

#thanks p {
  color: #515151;
}

ul.navbar a:link, ul.navbar a:visited, .email-confirm p {
  color:#555;
}

#tutorial a:link, #tutorial a:visited {
  color: #545454;
}


#computed > span {
  color: #5b526b;
}

#resources a:link, #resources a:visited, #more li a {
  color:#5d5d5d;
}

#ec p, #thanks address {
  color: #666;
}


kbd, #try > a:link, #try > a:visited {
  color: #6f6f6f;
}

#intro p, #topics a:link, #topics a:visited, #blurb a:link, #blurb a:visited {
  color: #747474;
}

#cache, #closePopup {
  color: #777;
}

.thumbs {
    color: #7a7a7a;
}

#newbie h2 .greybar {
  color: #838383;
}

#sources h3, #sources .content p, .thumbs li a:link, .thumbs li a:visited {
  color: #888;
}

#try small {
  color: #949494;
}

#feedback, #feedback td, #feedback td label, #computed, #ec span, .separator, .gray, .popup-links, #footer, #footer a:link, #footer a:visited, 
.email-confirm span {
 color: #999;
}

#cache span {
  color: #a2a2a2;
}

.pulldown .pulldown-menu {
   border-color: #c0c0c0;
}

.popup hr {
  color: #c8c6c7; 
  background-color: #c8c6c7;
}


.assuming hr.div {
  background-color: #ccc;
  color: #ccc;
}

#linkbar {
  color: #dedede;
}

.pod hr.div {
  color: #EDE8D8;
  background-color: #EDE8D8;
}

#thanks h1 {
  color: #e27c03;
}

hr {
  border-top-color: #EDE8D8
}

h1 .progress{
  background-color:#eee;
}

#debug-contents {
  background-color: #f8f8f8;
}

/*--- hover effects ---*/
/* 
:hover and :active styles go here so that they are not over-written above 
:link and :visited styles will have the same weight and should be declared above
*/

/* alpha orange:  color:#FE6518  */
a:hover, a:active, #topics h2 a:hover, #topics h2 a:active, #inputs ul.thumbs:last-child li:last-child a:hover, #blurb p a:hover, #blurb p a:active, #intro #toGallery:hover, #intro #toGallery:active, em:hover,  #newtoalpha #try ul li.more a:hover, #newbie li a#trymore:hover, #ec b:hover  {
  color:#FE6518;
}

/* alpha red:  #DB0303;  */
#topics li a:hover, #topics li a:active, #inputs a:hover, #inputs a:active, div#footer a:hover, div#footer a:active, #tutorial a:hover, #tutorial a:active, .note a:hover, .note 
a:active, .right a:hover, .right a:active, #more li a:hover, .pod h1 a:hover, .pod h1 a:active, #newbie #try a:hover, #newbie #try a:active, #more a:hover, #resources li a:hover, #resources li a:active,
#ecBlankSend:hover {
  color:#DB0303;
}

