/*------------------------------------------------------------------
[Table of contents]

Global Defaults / html/body/div/p
Link Defaults / a:link,a:visited,a:hover,a:active 

------  Overrides:  ---------

cursor 

font-family
  Arial,Helvetica,sans-serif
  Georgia,sans-serif

font-size:  9px, 10px, 11px, 12px, 13px, 14px...
font-style:  italics
font-weight:  bold

line-height:  10px, 11px, 12px

outline:  none  

overflow


text-align:  right
text-decoration:
text-indent:

white-space:  no-wrap

-------------------------------------------------------------------*/

/*--- global defaults ---*/
html,body,p,div,kbd, #closePopup {
  font-family: Arial,Helvetica,sans-serif;  
}

html {
  font-size: 100%;
  line-height: .875em;
}

/*--- cursor ---*/
a, #feedback > fieldset > span, #give, #spin, .close, #ec b {
  cursor: pointer;
}


/*--- font-family ---*/
#thanks h1, #thanks address, #linkbar, #closePopup span b {
  font-family: Georgia, sans-serif;
}

noscript div, p#noscript, #feedback, #feedback textarea, #resources li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#i {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/*--- font-size ---*/

#footer, #feedback .fblm td {
  font-size: 9px;
}

#i, noscript div, p#noscript, #try small, .fblm, #newbie li a#trymore, #ec b, #closePopup, #feedback td, #resources li a {
  font-size: 10px;
}

#feedback, #feedback td input, #feedback td select, #feedback textarea, #ec, #inputs ul, #topics ul, #tutorial a, #blurb a, #resources li, #newbie p, h3, #try a, #try kbd, #cache, 
#try > a:link, #try > a:visited, .thumbs, #more li a, #ecInput, #ecBlankSend, .email-confirm span, .email-confirm p{
  font-size: 11px;
}

h2, #blurb p, #toGallery {
  font-size: 12px;
}
#sidebar h2, #i, #thanks address {
  font-size: 13px;
}

#blurb h1 {
  font-size: 14px;
}

#thanks h1 {
  font-size: 20px;
}

/*--- font-style ---*/
#resources i {
  font-style: italic;
}

/* --- font-weight --- */
#tutorial, #blurb a, noscript div, p#noscript {
  font-weight: bold;
}


/* --- line-height --- */


#feedback {
  line-height: 12px;
}

#more li a {
  line-height: 13px;
}

#newbie, #newbie p, #newbie li a, #try small, #try kbd, #ec p, #thanks address, #closePopup {
  line-height: 14px;
}

#cache {
  line-height: 15px;
}

#i {
 line-height: 16px;
}

#blurb h1, h2{
  line-height: 17px;
}

#blurb p, #newbie a:link, #newbie a:visited {
    line-height: 18px !important;
  }


#topics li, #topics a {
  line-height: 20px;
}

#inputs {
  line-height: 25px;
}

#thanks h1 {
  line-height: 27px;
}

#tutorial {
  line-height: 29px;
}

a#toGallery {
  line-height: 49px;
}

/*--- list-style-type ---*/

/*--- outline --- */
.thumbs a, #toGallery,
input[type=text]:focus,
input[type=password]:focus {
  outline: 0 none;
}

/*--- overflow --- */
#intro, #blurb, #inputs, #linkbar, #thanks {
  overflow: visible;
}

#logo, #feedback > fieldset > span, #give, .hidden, #resources h2 {
  overflow: hidden;
}


/*--- text-align ---*/
#intro, #blurb, #blurb h1, #content, #feedback.open, #ec p, #thanks {
  text-align: left;
}
#feedback, #cache {
  text-align: center;
}

/* --- text-decoration --- */
a:link,a:visited,a:hover,a:active {
  text-decoration: none;
}

/*--- text-indent ---*/
#feedback h2, #feedback fieldset > span {
/*--  text-indent: -5000px;--*/
}
#toGallery {
   text-indent: -5000px;
}


#more li a {
  text-indent: 0;
}


/*-- vertical-align ---*/
#i {
  vertical-align: middle;
}

/*--- white-space ---*/
#inputs, #header {
  white-space: nowrap;
}


/*---  overrides ---*/
#menu ul li {
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-image: none;
}

#intro, .copyright {
  font-family: Arial,Helvetica,sans-serif;
}

