/* PanelBar base css */

.RadPanelBar
{
	width: 250px;
	text-align: left;
}

.RadPanelBar_rtl
{
	text-align: right;
}

.RadPanelBar .rpRootGroup
{
	border-width: 1px;
	border-style: solid;
}

.RadPanelBar .rpRootGroup,
.RadPanelBar .rpGroup,
.RadPanelBar .rpItem
{
	margin: 0;
	padding: 0;
	list-style-position:outside;
	list-style: none;
}

.RadPanelBar .rpSlide
{
    position: static;
    float: none;
    height: auto;
	overflow:hidden;
	display:none;
	zoom: 1;
}

.RadPanelBar .rpItem
{
	float: none;
	display: block;
	overflow: hidden;
	position: static;
}
* html .RadPanelBar .rpItem { display: inline; }
* html .RadPanelBar .rpSeparator { display: block; }
* html .RadPanelBar .rpGroup .rpItem { display: block; }

.RadPanelBar .rpItem:after,
.RadPanelBar .rpText:after,
.RadPanelBar .rpTemplate:after
{
    content: ""; 
    display: block; 
    height: 0; 
    line-height: 0;
    font-size: 0;
    clear: both; 
    visibility: hidden;
}

.RadPanelBar .rpLink
{
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	background-repeat: repeat-x;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	zoom: 1;
}

.RadPanelBar .rpLink:focus
{
	outline: 0 none;
}

.RadPanelBar .rpLink,
.RadPanelBar .rpOut,
.RadPanelBar .rpText
{
	display: block;
}

*+html .RadPanelBar .rpItem { display: inline; }
*+html .RadPanelBar .rpGroup .rpItem { display: block; }
*+html .RadPanelBar .rpSeparator { display: block; }

.RadPanelBar .rpHeaderTemplate,
.RadPanelBar .rpOut
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.RadPanelBar .rpHeaderTemplate
{
    line-height: 25px;
}
* html .RadPanelBar .rpHeaderTemplate { height: 25px; }

.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut
{
	border-bottom-width: 0;
	padding-bottom: 1px;
}

.RadPanelBar a.rpDisabled:hover .rpOut
{
	padding-bottom: 0;
	border-bottom-width: 1px;
}

.RadPanelBar .rpImage
{
	float: left;
	border: 0;
	vertical-align: middle;
	padding: 4px 3px 3px;
}

.RadPanelBar_rtl .rpImage
{
	float: right;
}

* html .RadPanelBar .rpImage { padding-bottom: 4px; }

.RadPanelBar .rpText
{
	padding: 0 10px;
}

/* <sub items> */
.RadPanelBar .rpGroup
{
	overflow: auto;
	overflow-x: hidden;
}

.RadPanelBar .rpGroup .rpLink,
.RadPanelBar .rpGroup .rpTemplate
{
	background-color: transparent;
	
	border-bottom: 0;
	
	font-size: 12px;
	
	line-height: 22px;
}


.RadPanelBar .rpGroup a.rpLink:hover
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpLink .rpOut,
.RadPanelBar .rpGroup .rpExpanded .rpOut,
.RadPanelBar .rpGroup .rpSelected .rpOut,
.RadPanelBar .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar .rpGroup a.rpExpanded:hover .rpOut,
.RadPanelBar .rpGroup a.rpSelected:hover .rpOut
{
	padding-bottom: 0;
}

.RadPanelBar .rpGroup a.rpDisabled:hover .rpOut
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpOut
{
	border-bottom: 0;
	margin-right: 3px;
}

.RadPanelBar .rpGroup .rpImage
{
	padding: 3px 3px 3px 9px;
}
/* </sub items> */

/* <level indentation> */
.RadPanelBar .rpLevel2 .rpTemplate,
.RadPanelBar .rpLevel2 .rpOut
{
	padding-left: 15px;
}

.RadPanelBar .rpLevel3 .rpTemplate,
.RadPanelBar .rpLevel3 .rpOut
{
	padding-left: 30px;
}

/*      <rtl> */
.RadPanelBar_rtl .rpLevel2 .rpTemplate,
.RadPanelBar_rtl .rpLevel2 .rpOut
{
	padding-left: 0;
	padding-right: 15px;
}

.RadPanelBar_rtl .rpLevel3 .rpTemplate,
.RadPanelBar_rtl .rpLevel3 .rpOut
{
	padding-left: 0;
	padding-right: 30px;
}
/*      </rtl> */
/* </level indentation> */

.RadPanelBar .rpLevel1 .rpFirst { padding-top: 1px; zoom: 1; }
.RadPanelBar .rpLevel2 .rpItem { padding-top: 0; }

.RadPanelBar .rpLevel1 .rpLast { padding-bottom: 1px; }
.RadPanelBar .rpLevel2 .rpItem { padding-bottom: 0; }

.RadPanelBar .rpExpandable .rpExpandHandle,
.RadPanelBar .rpExpanded .rpExpandHandle
{
	display: block;
	float: right;
	height: 15px;
	width: 15px;
	margin: 5px 5px 0 0;
}

.RadPanelBar .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 2px 0 0;
}

.RadPanelBar_rtl .rpExpandable .rpExpandHandle,
.RadPanelBar_rtl .rpExpanded .rpExpandHandle
{
	float: left;
	margin: 5px 0 0 5px;
}

.RadPanelBar_rtl .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_rtl .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 0 0 5px;
}

@media print {
    .RadPanelBar div.rpSlide,
    .RadPanelBar li.rpItem,
    .RadPanelBar a.rpLink
    {
        overflow: visible;
    }
    
    .RadPanelBar ul.rpGroup
    {
        overflow: visible !important;
    }
}
