/* Generic Styles Start */
* {
	font-family: arial;
}
/* alter rendering of following:  */
#print-logo { display: block; }
A { color: #666666; text-decoration: underline; }
A IMG { border: 0px; }
.item { margin-bottom: 2em; margin-top: 2em; padding-bottom: 1em;  border-bottom: 1px solid #000000; }
.item P { margin-bottom: 0px; }
.review .details P.big { font-weight: bold; }
.star-scores { margin-top: 1em; }
.star-scores P { width: 250px; margin: 0px; }
.star-scores P IMG { float: right; margin-top: -1em; }
.promo { margin-bottom: 1.5em; clear: both; }
.pale-box P IMG, P.big SPAN { padding-right: 10px; }
P.thickbox-links { clear: both; float: left; width: 100%; }
H1, H2, H3 { clear: both; }
UL { list-style: none; }
UL LI { display: block; float: left; clear: none; }
UL#sitemap LI { padding: 5px;}
UL#highlights, UL#cruise-prices, #home-links UL {margin: 0px !important; padding: 0px !important; }
UL#highlights LI, UL#cruise-prices LI { display: block; float: left; clear: both; margin: 0px !important; padding: 0px !important; }
.deck .details, .stateroom .details { height: auto; float: left; margin-bottom: 1.5em; }
.deck .details .features UL LI { clear: both; }
.stateroom .details .features UL LI { width: 100%; }
.untruncated { display: block !important; }
/* end alter rendering */

/* start table cell pad */
TH, TD { padding: 5px; border-bottom: 1px solid #000000; }
/* end table cell pad */

/* hide the following: */
.hidden, /* accessibility skip-links */
#header, /* header */
#nav, #secondary-nav, /* main nav */
#breadcrumb, /* breadcrumb */
#content #right,
#footer, /* footer */
.banner-image, .banner-buttons, #banner-advert, .banner-right, #home-background, /* banner divs */
#search-box, #search-panel, /* search divs */
.hr, .hr-full, /* HR divs */
.form-input, .form-select, .form-submit, .form-links, .form-radio, .form-date, .find-address, .form-check, .opt-out, P.small, P.line-break, .form-urn, .form-check-list, .form-check, .form-brochure, .form-check-long, .form-upload, .form-textarea, /* form elements */
.item DIV DIV DIV.links, .item DIV DIV.image, .item DIV DIV.image, .ports SPAN, P.remove, /* items */
#review-steps, .form-review, .form-review-box, .form-review-submit, .form-review-tc, /* reviews */
#stateroom-prev, #stateroom-next, /* stateroom overlay */
.promo .promo-image, /* promo bar */
#tbl-weather TD.scale, #tbl-weather TH.scale, TD.tip-link, /* cruises */
#press-release-search, #press-release-pager, .blue-box, .sIFR-replaced OBJECT, .blue-bar, UL.cta, A.show-more, A.show-row, #port-pager, .featured-port .image, SPAN.more-link, #sort-by, SPAN.total-reviews,  /* odds & sods */
#rhs-secondary-nav, .truncated, UL#videos LI .image IMG /* more odds & sods */
{
	display: none !important;
}
/* end hiding */
/* Generic Styles End */


