html, body {
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	margin: 0;
	padding: 0;
}
a, a:visited {
	color: #993300;
}
a:hover {
	color: #FF6600;
}
#demo_container {
	width: 988px;
	height: 220px;
	position: relative;
	margin: 23px auto 0;
}
#demo_container h2 {
	font-size: 20px;
	line-height: 120px;
	color: #999933;
	text-align: center;
}
.seeAllSlidesCont {
	height:25px;
}
.seeAllSlides {
	display:block;
	background:#fff url('http://images.medicinenet.com/images/slider_module/see_all_slide_sprite.jpg') no-repeat scroll 0 0;
	width:130px;
	height:25px;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:-22px;
	z-index:10000
}
.seeAllSlides:hover {
	background-position:0 -25px;
}
.seeAllQuizzes {
	display: block;
	background: #fff url('http://images.medicinenet.com/images/slider_module/see_all_slide_sprite.jpg') no-repeat scroll -132px 0;
	width: 130px;
	height: 25px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -22px;
	z-index:2
}
.seeAllQuizzes:hover {
	background-position: -132px -25px;
}
#items_container {
	background: url('http://images.medicinenet.com/images/slider module/bg_large_green.gif') no-repeat;
	width: 988px;
	height: 220px;
	overflow: hidden;
	position: absolute;
	color: #333333;
	z-index: 1;
}
#controls {
	width: 480px;
	height: 115px;
	position: absolute;
	top: 90px;
	z-index: 2;
}
#controls a {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	color: #999999;
}
#prev {
	background:url('http://images.medicinenet.com/images/slider_module/prev_large_green.png') no-repeat; 
	height:160px; 
	width:50px;
	top: 20px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}
#prevbtn {
	 top:50px; 
	 width:40px;
	 height:100px; 
	 position:absolute; 
	 cursor:pointer; 
	 z-index:3;	
}
#next {
	top: 20px;
	right: 0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	background:url('http://images.medicinenet.com/images/slider_module/next_large_green.png') no-repeat; 
	height:160px; 
	width:50px
}
#nextbtn {
	top: 50px;
	right: 0;
	width: 40px;
	height: 100px;
	position: absolute;
	cursor: pointer;
	z-index: 3;
}
#play {
	z-index: 2;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 479px;
	bottom: 5px;
	cursor: pointer;
}
#dotContainer {
	position:relative;
	height:10px;
	top:9px;
	left:448px;
	z-index:1000;
	margin:0;
	padding:0
}
#dotContainer ul {
	position:absolute;
	left:0;
	top:0;
	list-style:none;
	margin:0;
	padding:0;
	height: 10px
}
#dotContainer ul li {
	width:10px;
	height:10px;
	margin:0 0 0 7px;
	padding:0;
	display: inline;
	cursor:pointer;
}
.slide_item {
	width: 988px;
	position: absolute;
	left: 462px;
	padding-top: 20px;
}
.first_item {
	left: 0;
}
.slide_item h3 {
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #6e6c19;
}
.slide_item p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0 10px 0 10px;
	color: #666666;
	line-height: 12px;
}
.SS_Rotator_pics img {
	display: block;
	height: 80px;
	width: 118px;
	margin: 13px 0px 3px 11px;
	border: 1px #666666 solid;
	background-color: #EBEBEB;
}
.SS_Rotator_pics img:hover {
	border: 1px #B2CA80 solid;
}
p.SS_Rotator_titles {
	font-size: 12px;
	font-weight: bold;
	color: #666699;
	padding-left: 11px;
	line-height: 11px;
}
p.SS_Rotator_titles a {
	text-decoration: none;
	color: #666699;
	font-size: 12px;
	font-weight: bold;
}
p.SS_Rotator_titles a:hover {
	text-decoration: underline;
	color: #666699;
	font-size: 12px;
	font-weight: bold;
}
p.SS_Rotator_titles a:visited {
	text-decoration: none;
	color: #666699;
}
p.SS_Rotator_desc {
	font-size: 10px;
	color: #333333;
	margin-left: 11px;
	line-height: 13px;
}
/*adding more styles for test*/
.SS_Rotator_pics_container_content {
	width: 150px;
	height: 169px;
	background-position: top left;
	text-align: left;
	float: left;
	background: url('http://images.medicinenet.com/images/slider module/rot_photo_bg_new_green_new.gif') no-repeat left;
}
#SS_Rotator_margin_left {
	display: block;
	width: 16px;
	height: 338px;
	float: left;
}
/* float pages next to margin-left*/
.SS_Rotator_page {
	width: 963px;
	margin: 0 0 0 49px;
}
.SS_Rotator_pics_content {
	width: 140px;
}
.SS_Rotator_pics_content p {
	margin: 0;
	margin-top: 4px;
	padding: 0 11px;
}
/* end adding more styles to test*/
