@charset "utf-8";
/* CSS Document */

/*share box*/
/*ul li a.share2-link{background:url('/images/content/themes/default/ctl_header_menu_icons.png') left -18px no-repeat;padding-left:14px;}*/
#share2_menu ul{background:transparent url(../../images/content/themes/default/share_this_page_sub_v2.png) scroll no-repeat 0 0;_background-image:expression("none");_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/content/themes/default/share_this_page_sub_v2.png',sizingMethod='crop');width:113px;height:157px;margin:0;padding:8px 0 0 0;}
.es-ES #share2_menu ul{background:transparent url(../../images/content/themes/default/share_this_page_sub_sp.png) scroll no-repeat 0 0;_background-image:expression("none");_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/content/themes/default/share_this_page_sub_v2.png',sizingMethod='crop');width:113px;height:157px;margin:0;padding:8px 0 0 0;}
#share2_menu ul li{position:relative;width:113px;height:14px;margin:0 0 4px 0;padding:0;background:transparent;}
#share2_menu li a{display:block;width:101px;height:14px;margin:0 6px;padding:0;color:#fff;text-indent:-9999px;background-image:url(../../images/content/themes/default/share_this_page_sub_v2.png);background-repeat:no-repeat;background-position:-113px -8px;}
.es-ES #share2_menu li a{display:block;width:101px;height:14px;margin:0 6px;padding:0;color:#fff;text-indent:-9999px;background-image:url(../../images/content/themes/default/share_this_page_sub_sp.png);background-repeat:no-repeat;background-position:-113px -8px;}
#share2_menu li#share2_close{width:13px;height:13px;margin:0 8px 0 0;float:right;}
#share2_menu li#share2_close a{width:13px;height:13px;margin:0;background-position:-199px -8px;}
#share2_menu li#share2_email a{background-position:-113px -23px;}
.es-ES #share2_menu li#share2_email a{background-position:-113px -25px;}
#share2_menu li#share2_bookmark a{background-position:-113px -41px;}
#share2_menu li#share2_facebook a{background-position:-113px -59px;}
#share2_menu li#share2_twitter a{background-position:-113px -77px;}
#share2_menu li#share2_digg a{background-position:-113px -95px;}
#share2_menu li#share2_delicious a{background-position: -113px -113px;}
#share2_menu li#share2_buzzup a{background-position:-113px -131px;}
#share2_menu li a:hover{background-position:-214px -8px;}
#share2_menu li#share2_close a:hover{background-position:-300px -8px;}
#share2_menu li#share2_email a:hover{background-position:-214px -23px;}
.es-ES #share2_menu li#share2_email a:hover{background-position:-214px -25px;}
#share2_menu li#share2_bookmark a:hover{background-position:-214px -41px;}
#share2_menu li#share2_facebook a:hover{background-position:-214px -59px;}
#share2_menu li#share2_twitter a:hover{background-position:-214px -77px;}
#share2_menu li#share2_digg a:hover{background-position:-214px -95px;}
#share2_menu li#share2_delicious a:hover{background-position:-214px -113px;}
#share2_menu li#share2_buzzup a:hover{background-position:-214px -131px;}
/* add this to the css file for positioning          #share2_menu{display:block;position:absolute;top:127px;left:181px;z-index:2000;}*/

/*Social Media ONE COLUMN*/
.social_media h2 { margin-bottom: 0px; margin-top:4px;}
.social_media .ctm-content-module ul li { margin-top: 7px; }
.social_media .content .link { margin-top: 7px; }
.social_media .skin .inner-skin .body .content .image span { margin: 0; height:42px; width: 36px; }
.social_media .skin .inner-skin .body .content .image { background: none; height: 0px; width: 36px; }
.social_media .skin .inner-skin .body .content .body-copy { width: 188px; }
.social_media-li a { margin-left: -82px; *margin-left: 0px; *position: relative; *left: -43px; }
.social_media-li .content .link { *width: 145px!important; position: relative; }
.social_media-li .skin .inner-skin .body .content { height: 40px; }
.social_media-li .content .body-copy .tup { padding-left: 43px; position:relative; top: -9px; font-weight: bold; _margin-top: -38px; width: 188px;}

/*Global Targeted Modules*/
.ctm-static-order-module .ctm-omod-action { margin-bottom: 0px; }
.ctm-static-order-module .ctm-omod-pricing-tup { *padding-top: 0px; }
.ctm-static-order-module .ctm-omod-tup .ctm-omod-action-tup { padding-top: 5px; *margin-top: -5px; _margin-left: 0px; _margin-right: 0px; }
.ctm-static-order-module .ctm-omod-line-divider { *margin-top: -12px !important; }
.ctm-static-order-module .IEFIX { *margin-top: -15px; _margin-left: -5px;}
.ctm-omod-tup .btn-expander span { padding-right: 18px; *padding-right: 16px; }

/* Global Header Text/ record button styles */
/*.index_pages .ctl-header .hdr-record-btn, .set_DVR .ctl-header .hdr-record-btn{ padding-top: 263px; }*/
/*.index_pages #ctl_area_tup {padding-top:12px;}*/
.ctl-header .hdr-record-btn {float: left; padding-top: 247px;}
.hdr-record-btn, .hdr-record-btn .body, .hdr-record-btn li.colspan-1 .body, .hdr-record-btn .ctm-content-module ul { width: 280px;}
.ctl-tup .hdr-record-btn .stacked h4 {font-size: 12px; font-family:Arial, Helvetica, sans-serif;font-weight:normal; color: #fff;}
.hdr-record-btn i{letter-spacing:0.5px;}

.ctl-header .yellow-CTA {color: #FFDC08; padding-top: 220px!important;float: left;}

/* Icons */
.icon_list li.customer_rep {
	background:url(../global/icons/lg_op_blu__my_account_icon.png) no-repeat;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/cms2/global/icons/lg_op_blu__my_account_icon.png',sizingMethod = 'crop');
}
.icon_list li.phone_order { 
	background:url(../global/icons/lg_op_blu__phone_icon.png) no-repeat; 
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/cms2/global/icons/lg_op_blu__phone_icon.png',sizingMethod = 'crop');
}


/* Intro Paragraph */
.intro-paragraph .custom-image-bg .content{padding:0;}
.intro-paragraph .custom-image-bg .content .image {margin:0}

/* UFC/WWE/Golf/Tennis - removing border from the intro image */
.intro-noborder .content .image {border:none;}
.intro-noborder .content .image img {margin-left:0px;}

/*#ctl_tup .intro-paragraph, */
#ctl_tup .intro-paragraph-padded { margin-bottom: 8px; }
#ctl_tup .intro-paragraph h4, 
#ctl_tup .intro-paragraph-padded h4, 
#ctl_tup .intro-paragraph h1, 
#ctl_tup .intro-paragraph-padded h1 {font-size:18px !important;}
#ctl_tup.dark-theme .intro-paragraph h4, 
#ctl_tup.dark-theme .intro-paragraph-padded h4, 
#ctl_tup.dark-theme .intro-paragraph h1, 
#ctl_tup.dark-theme .intro-paragraph-padded h1 { color: #fff;}
#ctl_tup .intro-paragraph .tup, #ctl_tup .intro-paragraph-padded .tup{font-size:14px; line-height: 19px; }

/*intro with padding*/
.intro-paragraph-padded .custom-image-bg .content { padding: 12px 0px 12px 12px; }
.intro-paragraph-padded .content .body-copy { padding-right: 25px; }

/*Closing Statement */
.closing .content .body-copy {font-size:14px;}
.closing .content .link a {font-size:14px;}
.closing sup, sub { font-size: 7px; bottom: 2ex; *font-size: 8px; font-weight: normal;}

/*MEDIA DOWNLOAD (WALLPAPER, AIM ICONS) */
.dl-media .thumbnail-list li .content .image { background: none; _filter:none;}
.dl-media .thumbnail-list li .content .image span { margin-top: 0px; }
.dl-media .stroke-solid .content .image  { background: none; }
.dl-media .content .image  { background: none; }
.dl-media .thumbnail-list li .content .image img { margin: 0px; }
.dl-media .content .image img { margin-left: 0px; }
.dl-media .thumbnail-list li .content .title, .dl-media .thumbnail-list li .content .body-copy, .dl-media .thumbnail-list li .content .link { float: left; }
.dl-media .tup a.link { float:none; }
.dl-media ul li { margin-top: 16px; }
li.dl-media-title { margin-top: 0px; }
.dl-media .thumbnail-list li .content .image img, .dl-media .thumbnail-list li .content .image { height: 38px; }

/* Channel Scroller title temporary gap fix + can use with media player module + USE WITH ANY lone title */
.channel-scroller-title, .lone-title { margin-bottom: 0px; }

/* breadcrumbs overwrite arrow (for targeter breadcrumbs) */
#ctl_header .breadcrumbs .ctm-content-module ul li.target-arrow-crumbs .title { background-position: 3px -55px; }

/* STATIC ORDER MODULES */
.static-OM-price { text-align: center; font-size: 11px; *line-height: 9px;}
.static-OM-number {font-weight: bold; font-size: 14px;}
.static-OM-number2 { font-size: 20px;}
.ctm-static-order-module .ctm-omod-tup .ctm-omod-pricing-tup, .ctm-static-order-module .ctm-omod-tup .ctm-omod-action-tup { padding-top: 6px; text-align: center; }

/* Class to fix superscripted position in titles */
.sup-r { vertical-align:bottom; font-size:.7em; }

/* Class to fix superscripted position */
sup, sub { font-size: 7px; bottom: 2ex; *font-size: 8px; }
/* Class to fix superscripted position in headers*/
h1 sup, h1 sub, 
h2 sup, h2 sub { font-size: .6em; *font-size: .5em; bottom: 1ex; _bottom: 2ex; font-weight: normal;  }
h3 sup, h3 sub, 
h4 sup, h4 sub, 
h5 sup, h5 sub, 
h6 sup, h6 sub { font-size: .6em; *font-size: .5em; bottom: 2ex; _bottom: 3ex; font-weight: normal;  }
.content .link sup, .content .link sub {font-weight: normal;}

/*Legal text */
.inline-legal-dark { font-size:10px; color:#999; line-height:15px; clear: both;}
.inline-legal-light { font-size:10px; color:#666; line-height:15px; }

/* Footer class that overwrites core.css and lifts the footer by 100px */
.ctl-footer { position:relative; }

/* CTA buttons for test drive + showtime player + on demand guide */
.media_player_cta {background: url(../global/backgrounds/bkgd_dk__divider.gif) no-repeat 50%; height: 90px; width: 295px; padding-top: 45px; margin-left: 299px; *margin-left: 49px; font-size: 14px; font-weight: bold; }
.dark-theme .media_player_cta {background: url(../global/backgrounds/bkgd_lt__divider.gif) no-repeat 50%; height: 90px; width: 295px; padding-top: 45px; margin-left: 244px; font-size: 14px; font-weight: bold; }
.media_cta_prospect {width: 150px; height: 85px; float: left; text-align: center;}
.media_cta_customer {width: 130px; height: 85px; float: right; text-align: center; }
a.order-now-media { padding-left: 30px; *padding-left: 33px; margin-top: 9px; } 
a.activate-now-media { padding-left: 2px; margin-top:9px; } 
.showtime_player a.activate-now-media { padding-left: 21px; }

/*Spanish Override */

.media_cta_customer-span {width: 140px; height: 85px; float: right; text-align: center; }
a.order-now-media-span { padding-left: 17px; *padding-left: 20px; margin-top: 9px; }


/* static OM  - international + sat-go + protection plan + ufc + wwe*/
.OM-2CTA-below { color: #666; font-size: 11px; margin: 10px 0px 12px; text-align: center; }
.OM-call-to-order { color: #666; font-size: 11px; margin: 10px 0px 25px; text-align: center; }
.call-800 { background: transparent url(../international/static_om__Call-800.gif) no-repeat; font-size: 16px; font-weight: bold; padding: 7px 0px 0px 2px; height: 30px; margin-left: 1px;  }
.OM-call-to-order-prospect {color:#666666;font-size:11px;margin:8px 0px;text-align:center;}
.cricket_ticket .OM-call-to-order-prospect {color:#666666;font-size:11px;*margin:8px 0px!important; margin:6px 0px; text-align:center;}

/* static OM  - international + sat-go + protection plan + ufc + wwe*/
.call-800-prospect { background: transparent url(../international/lg_static_om__Call-800.gif) no-repeat; font-size: 16px; font-weight: bold; padding: 5px 0px 0px 2px; height: 46px; margin-left: 1px; position: relative; top: 14px;}
.OM-final-positioning { bottom:24px; line-height:13px; position:relative; }

/* RHR DVR HD promo for Golf and HD sections */

.get_Started-DTV-Plus-HD u { color:#333333; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-weight:normal; line-height:17px; text-decoration:none; }
.get_Started-DTV-Plus-HD .body-copy .tup ul li { background:transparent url(../../images/content/themes/default/list_bullet.png) no-repeat scroll 2px 5px; margin-top:4px; padding-left:16px; }
.get_Started-DTV-Plus-HD .ctm-content-module ul li {float:left; }



/* sitewide Testimonials */
.testimonials .quotes .content .body-copy b {font-size:18px; line-height:22px; font-family:"Trebuchet MS"; font-weight:heavy;}
.testimonials .quotes .content .body-copy span{font-size:14px; line-height:26px;color:#999999;}
  /*dupe*/
  .quotes .content .body-copy b {font-size:18px; line-height:22px; font-family:"Trebuchet MS"; font-weight:heavy;}
  .quotes .content .body-copy span{font-size:14px; line-height:26px;color:#999999;}


/* directv plus hd dvr - Supercharge your High-Def TV. (3-col module) */
.HD-DIRECTV-Plus-HD-DVR .ctm-content-module ul li { margin-top: 6px; background: none; }
.HD-DIRECTV-Plus-HD-DVR .body-copy .tup ul li{ margin-top: 4px;  padding-left: 16px; background: transparent url(../../images/content/themes/default/list_bullet.png) no-repeat scroll 2px 7px; }


/* share menu 2 override ie only*/

.intro-paragraph .ctm-content-module .overrideclass .body { *overflow:visible }
.intro-paragraph .ctm-content-module .overrideclass .content{ *overflow:visible }

/* My DIRECTV */
.ppv_carousel .my_dtv_title_icon {position:absolute;top:18px;}
.ppv_carousel .c-ppv { }
.ppv_carousel .intro {left:65px;position: absolute;top: 29px;}
.ppv_carousel .view {float:right; margin-top:15px!important;}
.ppv_carousel_group .view {float:right; margin-top:0px!important;}

/* CEPOD : LOYALTY : LEFT NAV LOGOS */
.gift .thumbnail-list li .content .body-copy{float:left;}
.gift .thumbnail-list li .content .body-copy{width:204px;}

/* CEPOD : LHR : DIRECTV Cinema Carousel */
.cepod-body #mod_119610_2 .content .ep-carousel-tup {margin-bottom:8px!important;}

/* Global DOTCOM Ticker
#ticker { position:relative; left:27px; }
#ticker .timers { margin-left:15px; *margin-left:18px; }
#ticker .one_first { position:relative; left:-2px; }
#ticker div { display: inline; }
 */

/* Global E-mail Module */

.global-email-module .head { background:url(../global/backgrounds/bkgd__email_module.png) no-repeat scroll center 169px transparent; }
.es-ES .global-email-module .head {background-position:center 198px;}
.dark-theme .global-email-module .head { background:url(../global/backgrounds/bkgd__dark_email_module.png) no-repeat scroll center 169px transparent;}


/* HP?? */
#mod_118788_2, #mod_116163_2 {margin-left:0;}
#mod_117192_2, #mod_122126_2 {margin:12px 8px 28px 0;}
/* Only add the value to override, the spanish version already has the english values, no need to add position or width or color */
/* Damages Viral YouTube video */
.damages_youtube .content .image img {visibility:visible!important;}


/* Holiday Background */
/* body { background:url(/cms2/homepage/images/bg_dtv_snowflakes.png) repeat-x scroll right top #092032 !important;} */


#targeter-108618_2 .content .image, #targeter-108618_2 .border-gradient .content .image, #targeter-108618_2 .border-only .content .image, #targeter-108618_2 .border-solid .content .image, .bottom-gradient .content .image { border: none; }
  
.hdr_lg_tab .ctl-header {min-height:366px;}

/* Facebook Background Icon */

.cta-global-fb span b {background: url(../../images/global/icons/icon_facebook_small.png) no-repeat!important; position:absolute; height:18px; width:18px; left:9px; top:2px; }

/* Adds Separators to Non-top-of-the-page modules */
.add_separator.colspan-2 .ctm-grouping .ctm-content-list {background: url(../../images/content/themes/default/skin_top_of_page_separator.png) no-repeat 209px top transparent;}
.dark-theme .add_separator.colspan-2 .ctm-grouping .ctm-content-list {background: url(../../images/content/themes/default/skin_top_of_page_separator.png) no-repeat 209px top transparent; background-image: url(../../images/content/themes/dark/skin_top_of_page_separator.png)}
.add_separator.colspan-3 .ctm-grouping .ctm-content-list {background: url(../../images/content/themes/default/skin_top_of_page_separator_col3.png) no-repeat scroll -7px top transparent;}
.dark-theme .add_separator.colspan-3 .ctm-grouping .ctm-content-list {background: url(../../images/content/themes/default/skin_top_of_page_separator_col3.png) no-repeat scroll -7px top transparent; background-image: url(../../images/content/themes/dark/skin_top_of_page_separator_col3.png)}
.add_separator.colspan-4 .ctm-grouping .ctm-content-list {background: url(../../images/content/themes/default/skin_top_of_page_separator_col4.png) no-repeat -6px top transparent;}
.dark-theme .add_separator.colspan-4 .ctm-grouping .ctm-content-list {background: url(../../images/content/themes/default/skin_top_of_page_separator_col4.png) no-repeat -6px top transparent; background-image: url(../../images/content/themes/dark/skin_top_of_page_separator_col4.png)}
.add_separator.colspan-2 .content ul {background: url(../../images/content/themes/default/skin_top_of_page_separator.png) no-repeat 209px top transparent;}
.dark-theme .add_separator.colspan-2 .content ul {background: url(../../images/content/themes/default/skin_top_of_page_separator.png) no-repeat 209px top transparent; background-image: url(../../images/content/themes/dark/skin_top_of_page_separator.png)}
.add_separator.colspan-3 .content ul {background: url(../../images/content/themes/default/skin_top_of_page_separator_col3.png) no-repeat scroll -7px top transparent;}
.dark-theme .add_separator.colspan-3 .content ul {background: url(../../images/content/themes/default/skin_top_of_page_separator_col3.png) no-repeat scroll -7px top transparent; background-image: url(../../images/content/themes/dark/skin_top_of_page_separator_col3.png)}
.add_separator.colspan-4 .content ul {background: url(../../images/content/themes/default/skin_top_of_page_separator_col4.png) no-repeat -6px top transparent;}
.dark-theme .add_separator.colspan-4 .content ul {background: url(../../images/content/themes/default/skin_top_of_page_separator_col4.png) no-repeat -6px top transparent; background-image: url(../../images/content/themes/dark/skin_top_of_page_separator_col4.png)}
.es-ES #email_signup_module p {margin:4px 0;}

/*.prospect .minus_separator .content .image .video { background: none;}*/


/* Damages banner buttons */
.did-yourself { left: 392px;position: relative;top: 129px;}
.one-way { float: right;position: relative;right: 388px;top: 129px;}
.take-down {float: right; right: 265px; position: relative;top: 129px;}
.btn_more_info {width:150px;position:relative;float:right;  right: 78px;top: 97px;}

.img-spo-tag {position:absolute;z-index:100;top:21px;left:-13px;}

/* Channel Guide Page */
/*.channel-guide .program-title-title {color:#666666!important; text-shadow:0px 0px 0px #999999!important;}
.channel-guide .action label {color:#666666!important;}*/
.channel-guide #ctl_header{cursor:pointer;}
.channel-guide #ribbon {background: url(../my_directv/assets/spacer.gif) no-repeat transparent; height: 110px; margin: -20px 0 0 -28px;*margin:  -20px 0 0 -26px;width: 978px;float:left;cursor:pointer;}
.channel-guide .cms2SlideshowModule.short-header #header_slide_legal {bottom: 7px;}

.channel-guide .cinema_banner .banner_button { position:absolute; left:395px; top: 75px;}
.channel-guide .cinema_banner .banner-legal { position:absolute; left:398px; top: 102px;font-size: 10px; color:#ffffff;}
.channel-guide #days_left_countdown {background: url(../my_directv/movies/201106/lg__countdown_numbers_cinema.png) no-repeat scroll 0 44px transparent; height: 30px; width: 17px; position:absolute; top:101px; left:-271px;}
.channel-guide .ppv_countdown .twilight-countdown #ticker{background: url(../my_directv/movies/201202/clock_sm_hdr_Twilight.png) no-repeat scroll 0 0px;left:682px; top:-7px; position:absolute;height:103px;width:214px;}
.channel-guide .ppv_countdown .twilight-countdown #ticker #days, .customer.program-details .twilight-countdown #ticker #days {left: 16px;top:34px;position: relative;display:inline;}
.channel-guide .ppv_countdown .twilight-countdown #ticker #hours{top:34px;}
.channel-guide .ppv_countdown .twilight-countdown #ticker #minutes{top:34px;}
.channel-guide .ppv_countdown .twilight-countdown #ticker #seconds {top:34px;}
.channel-guide .ppv_countdown .twilight-countdown, .customer.program-details .twilight-countdown  {margin:0px!important;}
.customer.program-details .twilight-countdown #ticker .timers {margin-left: 9px!important;top:103px;}
.customer.program-details .twilight-countdown #ticker {background: url(../my_directv/movies/201202/clock_sm_hdr_Twilight.png) no-repeat scroll 0 0px;left:682px; top:31px; position:absolute;height:103px;width:214px;}
.customer.program-details .twilight-countdown #ticker #hours {top:34px; left: 11px;*left:15px; position: relative;display:inline;}
.customer.program-details .twilight-countdown #ticker #minutes {top:34px;position: relative;display:inline;left:5px;*left:11px;}
.customer.program-details .twilight-countdown #ticker #seconds {top:34px;left: 1px;*left: 10px;position: relative;display:inline;}

/* class for the top asterics tooltip across the site */
#top_tooltip{top:50px;position:absolute;}
/* #top_tooltip .question-mark {cursor: pointer;}*/

/*ppv countdown*/
.ppv_countdown .ppvcountdown .body .content, .ppv_countdown-span .ppvcountdown .body .content, .ppv_countdown .twilight-countdown .body .content, .ppv_countdown-span .twilight-countdown .body .content, .customer.program-details .twilight-countdown .body .content  {overflow: visible;}
.ppv_countdown .ppvcountdown #ticker .img {padding-right:2px;}
.ppv_countdown .ppvcountdown #ticker {background: url(../sports/ufc/countdown/countdown.png) no-repeat;left:675px; top:-185px; position:absolute; height:122px;width:214px;}
.ppv_countdown .ppvcountdown-fn #ticker {background: url(../sports/ufc/countdown/countdown_to_fight_night.png) no-repeat;left:685px; *margin-left: -7px; top:-300px; *margin-top:5px; position:absolute;height:122px;width:214px;}
.ppv_countdown .ppvcountdown-fn-span #ticker {background: url(../sports/ufc/countdown/es_countdown_to_fight_night.png) no-repeat;left:675px; *margin-left: 0px;top:-285px; *margin-top:0px; position:absolute;height:122px;width:214px;}
.ppv_countdown .ppvcountdown-span #ticker {background: url(../sports/ufc/countdown/es_countdown.png) no-repeat;left:685px; top:-285px; position:absolute;height:122px;width:214px;}
.ppv_countdown-span .ppvcountdown #ticker {left:340px;top:40px; position:relative;}

.ppv_countdown .ppvcountdown #ticker .timers  {margin-left: 11px!important;top:38px;}
.ppv_countdown .ppvcountdown-fn #ticker .timers  {margin-left: 11px!important;top:59px;}
.ppv_countdown .ppvcountdown-fn-span #ticker .timers  {margin-left: 11px!important;top:59px;}
.ppv_countdown .ppvcountdown-span #ticker .timers  {margin-left: 11px!important;top:38px;}

.ppv_countdown .ppvcountdown #ticker .one_first {left: -3px;position: relative;}

.ppv_countdown .ppvcountdown #ticker #days {left: 21px;top:38px;position: relative;display:inline;}
.ppv_countdown .ppvcountdown-fn #ticker #days {left: 21px;top:59px;position: relative;display:inline;}
.ppv_countdown .ppvcountdown-fn-span #ticker #days {left: 21px;top:59px;position: relative;display:inline;}
.ppv_countdown .ppvcountdown-span #ticker #days {left: 21px;top:38px;position: relative;display:inline;}

.ppv_countdown .ppvcountdown #ticker #hours {left: 21px; *margin-left:14px!important; *margin-right:5px!important; position: relative;display:inline;}
.ppv_countdown .ppvcountdown #ticker #minutes {left: 20px; *margin-left:11px!important;*margin-right:3px!important;position: relative;display:inline;}
.ppv_countdown .ppvcountdown #ticker #seconds {left: 20px;*margin-left:12px!important;position: relative;display:inline;}
.ppvcountdown {margin:0px!important;}
/*.ie #ppvtimer{display:none;}*/

/* HBO Chrome Message */
#mod_127622_2, #mod_127622_2 .item-1, #mod_127622_2 .item-2 { display:none;}
.chrome .watch-online #mod_127622_2 { margin-bottom:9px; display:block;}
.chrome .watch-online #mod_127622_2 .item-1 { display:block;}
.chrome .nfl_st_online #mod_127622_2 { display:block;}
.chrome .nfl_st_online #mod_127622_2 .item-2 { display:block; margin-top:0;}

/* Twilight Countdown */
.ppv_countdown .twilight-countdown #ticker {background: url(../my_directv/movies/201202/clock_lg_hdr_Twilight.png) no-repeat scroll 0 0px;left:682px; top:-314px; position:absolute; height:172px;width:214px;}
.es-ES.customer .twilight-countdown #ticker {background: url(../my_directv/movies/201202/es_clock_lg_hdr_Twilight.png) no-repeat scroll 0 0px;left:682px; top:-314px; position:absolute;height:172px;width:214px;}
.homepage_customer .ppvcountdown #days_left_countdown {background: url(../my_directv/movies/201106/lg__countdown_numbers_cinema.png) no-repeat scroll 0 45px transparent; height: 30px; width: 17px; position:absolute; top:107px; left: -244px;}
.homepage_customer .ppvcountdown .content {overflow:visible;}

.ppv_countdown .twilight-countdown #ticker #days {left: 16px;top:103px;position: relative;display:inline;}
.ppv_countdown .twilight-countdown #ticker .timers  {margin-left: 9px!important;top:103px;}
.ppv_countdown .twilight-countdown #ticker #hours {left: 11px; *margin-left:13px!important; *margin-right:5px!important; position: relative;display:inline;}
.ppv_countdown .twilight-countdown #ticker #minutes {left: 4px; *margin-left:9px!important;*margin-right:3px!important;position: relative;display:inline;}
.ppv_countdown .twilight-countdown #ticker #seconds {left: -1px;*margin-left:9px!important;position: relative;display:inline;}
.twilight-countdown  {margin:0px!important;}
.ppv_countdown-span .twilight-countdown #ticker {left:340px;top:40px; position:relative;}
.ppv_countdown .twilight-countdown #ticker .one_first {left: -3px;position: relative;}
.ppv_countdown .twilight-countdown-span #ticker {background: url(../my_directv/movies/201202/es_clock_lg_hdr_Twilight.png) no-repeat scroll 0 0px;left:682px; top:-285px; position:absolute;height:172px;width:214px;}

/* EP : Events - Driver Carousel Update to Remove Borders */ 
.drivers-carousel .ep-carousel .ep-carousel-slider dl:hover .image img, .drivers-carousel .ep-poster-sm:hover,.drivers-carousel .ep-poster-sm img:hover {border: 1px solid #000000;}
.drivers-carousel .ep-carousel .ep-carousel-slider dl:hover .image,.drivers-carousel .ep-poster-sm:hover {border: 1px solid #666666;}
.drivers-carousel .ep-carousel .ep-carousel-slider dl .image img:hover,.drivers-carousel .ep-poster-sm:hover,.drivers-carousel .ep-poster-sm img:hover {border: 1px solid #000000;}
.drivers-carousel .ep-carousel .ep-carousel-slider dl:hover dd a{color: #ffffff !important;}

/* Global AAV Player Alert */
.dmg-no-vid {display:none;}
#mod_120091_2 { margin-bottom: 24px;}
/*  AAV Player Alert Banner */
.everywhere-banner {background: transparent url(../my_directv/watch_online/aav_promos/2012_05/banner_wht_nobutton__Contraband.jpg) no-repeat scroll 0px 0px; width:675px; height:196px;}
.everywhere-banner .banner-button {width:219px; position:relative; top:109px; left:33px;}
.everywhere-banner .banner-button a span {*padding-right:10px!important;}
.everywhere-banner .install {width:300px; position:absolute; top:136px; left:35px; color:#FFF; font-size:11px; line-height:12px;}
.everywhere-banner .install a {width:75px; display:inline-block;}
.dtv-everywhere-banner .banner-button, .dtv-everywhere-banner-dark .banner-button {width:250px; position:relative; top:97px; left:33px;}
.dtv-everywhere-banner .install, .dtv-everywhere-banner-dark .install {width:300px; position:absolute; top:124px; left:35px; color:#FFF; font-size:11px; line-height:12px;}

/* AAV Attraction */
#dtv_topnav_sections_nav #img_attraction {height:153px;width:237px;background:url(../my_directv/my_directv/attraction_icon.png) no-repeat;position:absolute;top:30px;left:594px;z-index:10}
#dtv_topnav_sections_nav #img_attraction .close-btn { height:15px;width:15px;background-color:red;position: absolute;right:5px;top:26px;cursor: pointer;background: url(../my_directv/my_directv/hover_btn.png) no-repeat;}
#dtv_topnav_sections_nav #img_attraction .close-btn:hover {background-position: 0 -16px;}

/*Global index pages*/
#ctl_tup.index-pages, #ctl_tup.index-pages #ctl_footer {background-color:#e5e5e5!important;background-image:none}
#ctl_tup.index-pages .intro h2 span, #ctl_tup.index-pages .intro h1 {font-family:"Trebuchet MS";color:#333;font-weight:400;font-size:25px;text-align:center;line-height:22px}
.ie #ctl_tup.index-pages .intro h2 span, .ie #ctl_tup.index-pages .intro h1 {padding-bottom:5px}
.ie #ctl_tup.index-pages .intro h2 {padding-bottom:5px}
#ctl_tup.index-pages .intro .body-copy {text-align:center;color:#797979;font-size:18px;line-height:26px}
.index-pages .index-closing-state { text-align:center;}
.index-pages .index-closing-state li.item-2 {margin-top:10px!important;}
.index-pages .index-closing .closing-phrase { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:normal; font-size:26px; margin-bottom:25px; color:#333333; line-height:30px!important;}
.index-pages .index-closing .closing-button a {background: url(../what_is_directv/index/button_lg__Get_DIRECTV.png) no-repeat;display:inline-block;width:270px;height:49px}
.index-pages .index-closing .closing-button a:hover {background-position: 0 -77px}
.index-pages .index-closing .closing-button a img {display:none}
.index-pages .index-closing-state-customer { text-align:center;}
.index-pages .index-closing-state-customer h4 { font-size:15px!important;}
.index-pages .index-closing-state-customer .index-closing {background: none!important; min-height: 74px; min-width: 650px;}
.index-pages .index-closing-state-customer .index-closing .closing-phrase { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:normal; font-size:26px; margin-bottom:25px; color:#333333; line-height:30px!important;}
.index-pages .intro li .body .get-dtv {position:relative;top:10px;display:none;margin:auto}
.index-pages .intro .a-cust {font-size:13px;color:#666;margin-top:15px;display:none}
.prospect .index-pages .intro .a-cust,
.prospect .index-pages .intro li .body .get-dtv {display:block}
/*global 4-col*/
.open-spread h2 {margin-left:37px;width:850px;}
.open-spread li .title h4 {color:#666}
.open-spread {margin-left:-30px}
.open-spread li .body {padding-left:37px}
.open-spread.colspan-4, .open-spread .colspan-4 {width:980px}
.open-spread ul li .content .link {position:relative!important;top:0;font-size:14px}

/* Order Lightbox hr tag */
.dtv-message-tup ul li hr {border:0;height:1px;background-color:#eee1c3}
/* Hides iPad App Install Button */
/*#install-ipad .content .large-button {visibility:hidden!important;}
#install-ipad .content .link {position:relative; top:-40px;}*/