
@media print {
#HelpLeftNav,#HelpHeader,#HelpFooter,#HelpSearch,#areaTitle { display:none; }

}
body,.standard,p,td,blockquote,div,span,ul,ol,dl,h1,h2,h3,th,.standardtitle { font-family:Arial,Helvetica,sans-serif;font-size:small; }
ul { font-size:medium; }
h1,.pagetitle { font-size:large;font-weight:bold; }
h2,.sectiontitle { font-size:medium;font-weight:bold; }
.levelTitle { font-size:x-small;font-weight:bold; }
.moreLink { font-size:xx-small; }
.impH { color:#006600;font-weight:bold; }
.noteH { color:#000000;font-weight:bold; }
.resH { color:#CC6600;font-weight:bold; }
.tipH { color:#000000;font-weight:bold; }
h1.pTH { font-size:medium;font-weight:bold;padding:2px 10px 2px 10px;border-top:2px solid #FFCC00;border-bottom:2px solid #FFCC00;background-color:#FFEDA3;margin:6px 0px 10px 0px; }
h2.pSTH { font-size:small;font-weight:bold;margin:6px 0px 6px 0px; }
h3.sTH { font-size:small;font-weight:bold;border-bottom:1px solid #FFCC00;margin:10px 0px 3px 0px; }
h4.pHH { font-size:x-small;font-weight:bold;margin:6px 0px 3px 0px; }
.pIH { border:1px solid #FFCC00;padding:5px 10px;background-color:#FFFFCC; }
p img,li img { vertical-align:middle;margin:1px 0px 1px 0px; }
li p { margin-top:0px;margin-bottom:3px; }
ul { margin-left:15px;padding-left:0px;list-style-type:disc; }
ul ul,ul ul ul,ul ul ul ul { list-style-type:disc; }
ol { margin-left:25px;padding-left:0px;list-style-type:decimal; }
ol.cp { list-style:inside; }
li { margin-bottom:5px;margin-top:5px; }
.hiH { background-color:#FFFFCC;padding:5px 10px;margin-bottom:1em; }
table.clr1,table.clr1 td { border:1px solid #FFCC00; }
table.clr1 td.thcH { background-color:#FFFFCC;text-align:center;font-weight:bold; }
table.clr1 td.ttcH { background-color:#FFCC00;text-align:left;font-weight:bold; }
table.clr1 tr.evenorodd_even { background-color:#FFFFCC; }
.bc { font-family:Verdana,Arial,sans-serif;font-size:xx-small; }
#areaTitle { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/rtCurve.gif) no-repeat right top;border-size:4px;border-style:none none solid none;padding:0;clear:both; }
#areaTitle h1 { padding-top:0px;padding-right:40px;padding-bottom:0px;padding-left:10px;line-height:41px;vertical-align:middle;font-family:Arial;font-weight:bold;font-size:14pt;margin:0;float:left; }
#areaTitle div { background:0 0;height:41px; }
#areaTitle div div { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/rtCurve.gif) no-repeat right top; }
#areaTitle div div div { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/rtCurve.gif) no-repeat right top;width:10px;float:right; }
#areaTitle img { float:left;margin:0;border:0; }
.bold { font-weight:bold; }
.titletext { font-family:Arial;font-weight:bold;font-size:22px;color:#193B67; }
.linktext { font-family:Arial;font-size:16px; }
.PPAStyle { font-family:Arial;font-size:12.5px; }
.ens { display:inline; }
.fontnormal { font-weight:normal; }

.moreLink { font-style:italic; }

/* b=15987525 */
