input[type="submit"]
{
	cursor:pointer;
}

.pageWidth {
	width: 1000px;
}

.centered {
	margin: 0pt auto;
}

body {
    font-family: Arial;
    font-size: 11px;
    margin: 0px;
}

h1, h2, h3, h4 {
    font-size: 16px;
    margin: 4px;
    padding: 0pt;
    text-transform: uppercase;
    margin-top: 10px;
}

textarea {
    font-family:Arial;
    font-size:12px;
}

.header {
    padding-top:10px;
    position: relative;
	z-index:1000;

}

#logo {
    float: left;
    min-height: 50px;
    border:none;
}

.header img {
    border:none;
}

#tagline {
    margin-top: 12px;
    margin-left: 8px;
    float: left;
}

#tagline * {
    font-size: 14px;
    font-weight: bold;
    margin: 0pt;
}

#user_welcome {
    top:45px;
    position:absolute;
    right:5px;
}

#user_welcome ul {
    list-style-position:inside;
    list-style-type:none;
    margin:0;
    padding:0;
}

#user_welcome ul li {
    float:right;
    margin-left:4px;
}

.tab {
    height:29px;
    margin-top:10px;
    overflow:hidden;
}

.tab ul {
    list-style-position:inside;
    list-style-type:none;
    margin: 0 0 0 0px;
    padding:0;
}

.tab ul li {
    float:left;
    height:29px;
    padding-left:13px;
    padding-right:13px;
}

.tab ul li a {
    font-size:14px;
    font-weight:bold;
    line-height:26px;
    text-align:center;
    text-decoration:none;
}
.tabsub {
    height:27px;
    margin:0;
    padding:0;
}
.tabsub div {
    float:left;
    font-size:14px;
    line-height:26px;
    margin-left:15px;
    margin-right:5px;
    text-align:center;
}
.tabsub a {
    text-decoration:none;
}


.tabsub ul {
    list-style-position: inside;
    list-style-type: none;
    font-size: 14px;
    line-height: 26px;
    float: left;
    margin: 0pt;
    margin-left: 5px;
}

.tabsub ul li, .tabsub ul li * {
    color: #000;
    display: inline;
    font-size: 12px;
    font-weight: normal;
    padding-right: 5px;
}

.tabsub ul li a {
    text-decoration:underline;
}

.footer ul {
    line-height:18px;
    list-style-position: inside; 
    list-style-type: none;
    text-align: center;
}
.footer li {
    display: inline;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 4px;
}
.footer a {
    text-decoration: none;
    font-size: 11px;
}

.FieldTitle {
	font-weight: bold;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	font-family:Arial;
}
.mainContainer {
	padding:15px;
}

.bd1 {
    border-style: solid;
    border-width:1px;
    border-top-style:none;
    border-color: #000000;
}
.bd2 {
    border-style: solid;
    border-width:3px;
    border-color: #EAE9CB;
}
.bd3 {
    border-color: #FFCC66;
}
.bd4 
{
	border-color: #CC3333;
}
.bd5
{
	border-style: solid;
    border-width:3px;
	border-color:#999999;
}
.bd6 {
    border-style: solid;
    border-width:1px;
    border-color: #FFCC66;
}
.bd7 {
    border-style: solid;
    border-width:2px;
    border-color:#D4CEC2;
}
.bd8 
{
	border-color: #ABA79E;
}
h2.heading {
    margin:0px;text-transform:none;padding: 5px 0px 0px 10px;
}
.verticalMenu {
    width: auto;
    /* we set a min-width to force a basic 'flow' */
    min-width: 140px;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-bottom: 20px;
    font-size:12px;
}
.verticalMenu img
{
    border: none;
    padding: 0px;
    margin: 0px;
}
.verticalMenu ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-weight:bold;
    text-align:center;
}
.verticalMenu li
{
    height: 34px;
    padding-left: 10px;
    vertical-align: middle;
    list-style-position: outside;
    font-size: 12px;
}
.verticalMenu h2
{
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    display: inline;
}
.verticalMenu h3
{
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    padding: 0px;
    margin: 0px;
    display: inline;
}
.VerticalMenuList li
{
    height: 28px;
    padding-top: 5px;
    padding-left: 10px;
    vertical-align: middle;
    list-style-position: outside;
    font-size: 12px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    line-height: 27px;
}

.VerticalMenuList, .VerticalMenuListOption {
    margin: 0pt;
    padding: 0pt;
}


.VerticalMenuListOption li {
    height: 34px;
    padding: 0pt;
    margin: 0pt;
    padding-left: 10px;
    vertical-align: middle;
    list-style-position: outside;
    font-size: 12px;
    line-height: 27px;
}

/* Logos */
.equine_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -214px;
    width:221px;
    height:47px;
    border:none;
}
.equishopper_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -144px;
    width:167px;
    height:24px;
    border:none;
}
.equisearch_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -168px;
    width:149px;
    height:19px;            
    border:none;
}
.equisearch_logo2
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px 0px;
    width:245px;
    height:33px;
    border:none;       
}
.horsebooksetc_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -67px;
    width:192px;
    height:25px;
    border:none;
}
.equus_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -117px;
    width:86px;
    height:26px;
    border:none;
}
.dressagetoday_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -187px;
    width:78px;
    height:25px;
    border:none;
}
.horseandrider_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -92px;
    width:128px;
    height:25px;
    border:none;
}
.practicalhorseman_logo
{
	background-image: url(../../../images/icons/testing/logos.gif);
	background-repeat: no-repeat;
    background-position:0px -33px;
    width:103px;
    height:34px;
    border:none;
}

.buttonStart
{
    float: left;
    background-image: url(../../../images/icons/button_map.gif);
    background-repeat:no-repeat;
    height: 28px;
    width: 7px;
    display: inline;
}
.buttonMiddle
{
    background-image: url(../../../images/icons/button_map.gif);
    background-repeat: repeat-x;
    background-position:0px -28px;
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0px 4px 0px;
    height: 28px;
    float: left;
    display: inline;
    cursor:pointer;
    margin:0px;
}
.buttonEnd
{
    float: left;
    background-image: url(../../../images/icons/button_map.gif);
    background-position:-7px 0px;
    background-repeat:no-repeat;
    height: 28px;
    width: 7px;
    display: inline;
}
.buttonStartBlue
{
	background-image:url(../../../images/icons/button_map_blue_star.gif);
	background-repeat:no-repeat;    	
	float:left;
	height:24px;
	width:26px;
}
.buttonStartBlue_Selected
{
	background-image:url(../../../images/icons/button_map_blue_star_selected.gif);
	background-repeat:no-repeat;    	
	float:left;
	height:24px;
	width:26px;
}
.buttonMiddleBlue
{
	background-image:url(../../../images/icons/button_map_blue_star.gif);
	background-repeat:repeat-x;    	
	background-position: 0 -24px;
	border: 0 none;
	color:#FFF;
	cursor:pointer;    	
	float:left;
	font-size:12px;
	font-weight:bold;
	height:24px;
	text-align:center;
	vertical-align:bottom;
	padding-top:5px;
	padding-right:7px;
	text-decoration:none;
	text-transform:capitalize;    	
}
.buttonEndBlue
{
	background-image:url(../../../images/icons/button_map_blue_star.gif);
	background-repeat:no-repeat;    	
	background-position: -26px 0;
	float:left;
	height:24px;
	width:7px;
}
.clear {
    clear: both;
    _margin-bottom:-6px;
}
.clear2 {
    clear: both;
    _margin-bottom:0px;
}
.hr{
    padding: 10px 10px 10px 10px;
    height: 1px;
    padding: 0px;
    border-top:solid 1px #EAE9CB;
}
.box_t_l {
	background-image:url(../../../images/icons/layout1/bd_tp_lt.gif);
    background-repeat:no-repeat;
    height:12px;
    width:12px;
    float:left;
}
.box_t_m {
    border-top:solid 2px #eae9cb;
    height:10px;
    float:left;
    _padding:0px;
    _margin:0px;
}
.box_t_r {
	background-image:url(../../../images/icons/layout1/bd_tp_rt.gif);
    background-repeat:no-repeat;
    height:12px;
    width:12px;
    float:left;
    _padding:0px;
    _margin:0px;
}
.box_b_l {
	background-image:url(../../../images/icons/layout1/bd_bt_lt.gif);
    background-repeat:no-repeat;
    height:12px;
    width:12px;
    float:left;
}
.box_b_m {
    border-bottom:solid 2px #eae9cb;
    height:10px;
    _margin-top:-5px;
    width:952px;
    float:left;
}
.box_b_r {
	background-image:url(../../../images/icons/layout1/bd_bt_rt.gif);
    background-repeat:no-repeat;
    height:12px;
    width:12px;
    float:left;
}
.boxTopLeft 
{
	background-image:url(../../../images/icons/bd_tp_trans.gif);
    background-repeat:no-repeat;
    height:9px;
    width:9px;
    float:left;
}
.boxTopMiddle {
	background-image:url(../../../images/icons/bd_tp_trans.gif);
    background-repeat:repeat-x;
    background-position:0px -9px;
    _background-position:0px 0px;
    height:9px;
    width:952px;
    float:left;
}
.boxTopRight {
	background-image:url(../../../images/icons/bd_tp_trans.gif);
    background-repeat:no-repeat;
    background-position:-9px 0px;
    height:9px;
    width:9px;
    float:left;
}
.boxBottomLeft {
	background-image:url(../../../images/icons/bd_bt_trans.gif);
    background-repeat:no-repeat;
    background-position:0px -9px;
    height:9px;
    width:9px;
    float:left;
}
.boxBottomMiddle {
	background-image:url(../../../images/icons/bd_bt_trans.gif);
    background-repeat:repeat-x;
    height:9px;
    width:952px;
    float:left;
}
.boxBottomRight {
	background-image:url(../../../images/icons/bd_bt_trans.gif);
    background-repeat:no-repeat;
    background-position:-9px -9px;
    height:9px;
    width:9px;
    float:left;
}
.radInput_NoCSS
{
    margin:-6px 0px 0px 0px;
    padding:0px;
}
.radEnabledCss_NoCSS
{
    padding:0px;
    margin:0px;
}
.radPopupImage_Default
{
    margin: 5px 0px 0px 4px;
}

/* Homepage */
.testimonial {
    cursor:pointer;
    margin:0;
    overflow:hidden;
    padding:0;
    text-decoration:none;
}
.qs_tabs {
    margin: 0;
    padding-top: 5px;
    height:23px;
}

.qs_tabOff a {
    text-decoration:none;
}

.qs_tabOff a:hover {
    font-weight:bold;
    text-decoration:none;
}

.qs_tabOff {
	font-size:1em;
    padding: 3px 5px 0px 6px;
    margin: 0px 3px 0px 0px;
    height:18px;
    text-align:center;
    vertical-align:baseline;
    float: left;
    font-weight:bold;
}

.qs_tabEnd {
	font-size:1em;
    padding: 3px 5px 0px 4px;
    margin: 0px 0px 0px 0px;
    height:18px;
    text-align:center;
    vertical-align:baseline;
    float: right;
    font-weight:bold;
}
.qs_tabEnd a {
    text-decoration:none;
}
.qs_content {
	border-top:0px;
	height: 234px;
	padding: 8px 0px 0px 10px;
}
.qs_content .subtitle {
	text-align:left;
	font-size:14px;
	font-weight:bold;
	margin: 0px;
	margin-top: 10px;
	padding-bottom: 10px;
	text-transform:none;
}
.qs_content a {
	font-size:12px;
	color:#000000;
	text-decoration:underline;
	font-weight:bold;
}
.qs_content table {
	width:100%;
}
.qs_content table .qstitle {
    text-align:left;
	font-weight:bold;
	width: 70px;
}
.qs_content table .item, .qs_content table .item select {
    text-align:left;
    width: 170px;
}
.qs_content img {
	border:0;
}
.featured_listing .title {
	font-size: 10px;
	font-weight: bold;
	margin: 0pt;
	padding: 0pt;
}
.featured_listing a {
	font-size: 11px;
}
ul{
    margin-left: 20px;
    padding-left: 0px;
    list-style-type: disc;
    line-height: 18px;
}   
.directory {
	margin: 0pt;
	padding: 0pt;
}
.directory h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 4px;
	text-transform: capitalize;
	margin-top: 10px;
}
.directory ul  {
	list-style-position: inside;
	padding: 0pt;
	margin: 0pt;
	margin-left: 3px;
	width: 190px;
}
.directory ul li, .directory ul li a {
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
.directory ul li a:hover {
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
}
.equishopper h2, .equishopper h3, .equishopper h1 {
    color: #000;
}
.special_offers a {
    text-decoration: none;
}
.searchContainer, .searchContainer a{
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
	color: #fff;
	text-decoration: underline;
	line-height: 22px;
	margin:10px;
}
.searchContainer tr {
	margin: 0px;
	padding: 0px;
}
.searchTabContent {
	margin: 0px;
	padding: 10px;
	height: 310px;
	vertical-align: top;
}
.searchTabContentOff {
    display:none;
}
.searchTabContentOn {
    display:block;
}
.searchTab {
	margin: 0px;
 	margin-right: 5px;
	min-width: 100px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	float: left;
	border-bottom: none; 
	padding-top: 6px; 
	padding-bottom: 4px;
	text-decoration: none;
}
.searchTab a { 
	text-decoration: none; 
	font-size: 12px;
	font-weight: bold;
}
.searchTabContentList {
	float: left;
	list-style-position: outside;
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
.searchTabContentList li {
	max-width: 150px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
}
.bodyContent {
    margin:10px 0px 0px 0px;
}
h2.heading {
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
}
h1.heading {
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
}
/* End Homepage */


.placeAdStep {
    height: 75px; 
    margin: 13px 0 20px 0;
}

.mostPopular {    
}
.mostPopular > .content {
    padding:4px;
}
.mostPopular h3 {
    font-size:14px;
}
.mostPopular a {
    border-collapse:collapse;
    text-decoration:underline;
}
.mostPopular ul {
    line-height:18px;
    list-style-position:outside;
    list-style-type:none;
    margin:0px 0px 0px 10px;
    padding:0px;
}
.mostPopular li {
    font-size:12px;
    white-space:nowrap;
}

.v_top {
    vertical-align:top;
}

.b {
    font-weight:bold;
}

.fl_l {
    float:left;
}

.fl_r {
    float: right;
}

.f_lrg {
    font-size:14px;
}

.f_xxlrg {
    font-size:18px;
}

.f_md {
    font-size:12px;
}

.f_sm {
    font-size:11px;
}

.f_i {
    font-style:italic;
}

.t_ctr {
    text-align:center;
}

.t_upr 
{
	text-transform:uppercase;
}
.t_cptl
{
	text-transform:capitalize;
}
.t_no_dec
{
	text-decoration:none;
}
.bd_no_t {
    border-top:none;
}

.bd_no_b {
    border-bottom:none;
}

.bd_no_l {
    border-left:none;
}

.bd_no_r {
    border-right:none;
}

.bd_w_1 {
    border-width:1px;
}

.bd_w_2 {
    border-width:2px;
}


.bd_trans1_tl
{
	width:10px;
	height:10px;	
	background-image:url(../../../images/overlay_box_1_0.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.bd_trans1_tm
{
	height:10px;
	width:300px;
	background-image:url(../../../images/overlay_box_1_1.png);
	background-repeat:repeat-x;
	background-position:0px 0px;
}
.bd_trans1_tr
{	
	height:10px;
	width:10px;
	background-image:url(../../../images/overlay_box_1_0.png);
	background-repeat:no-repeat;
	background-position:-10px 0px;
}
.bd_trans1_ml
{
	width:8px;
	height:180px;
	background-image:url(../../../images/overlay_box_1_0.png);
	background-repeat:repeat-y;
	background-position:-21px 0px;
}
.bd_trans1_mm
{
	background-color:White;
	width:303px;
	height:180px;	
}
.bd_trans1_mr
{
	width:9px;
	height:180px;
	background-image:url(../../../images/overlay_box_1_0.png);
	background-repeat:repeat-y;
	background-position:-30px 0px;
}
.bd_trans1_bl
{
	width:10px;
	height:10px;
	background-image:url(../../../images/overlay_box_1_0.png);
	background-repeat:no-repeat;
	background-position:0px -10px;
}
.bd_trans1_bm
{
	width:300px;
	height:10px;	
	background-image:url(../../../images/overlay_box_1_1.png);
	background-repeat:repeat-x;
	background-position:0px -10px;
}
.bd_trans1_br
{
	width:10px;
	height:10px;
	background-image:url(../../../images/overlay_box_1_0.png);
	background-repeat:no-repeat;
	background-position:-10px -10px;
}

.no_u, a.no_u, .no_u a {
    text-decoration:none;
}

.b {
    font-weight:bold;
}

.horz_line {
    background-image:url(../../../images/icons/horz_line_2.gif);
    background-repeat:repeat-x;
    height:12px;
    _margin-top:6px;
}

.horz_line_caret {
    background-image:url(../../../images/icons/horz_caret_2.gif);
    background-repeat:no-repeat;
    height:17px;
}

.dd1TabOff {
    padding-top:5px;
    padding-left:10px;
    height:16px;
    font-size:14px;
    text-decoration:underline;
}

.dd1TabOn {
    font-weight:bold;
}

.sr_compare {
    background-image:url(../../../images/icons/compare_bg2.gif);
    background-repeat:no-repeat;
    height:92px;
    width:22px;
}

.sr_compare_txt {
    background-image:url(../../../images/icons/compare_txt_bg.gif);
    background-repeat:no-repeat;
    height:52px;
    width:22px;
}

.ddTabOff {
    border:solid 3px;
    border-bottom:none;
    padding:5px 10px 0px 5px;
    height:20px;
}

.ddTabOn {
    font-weight:bold;
}


.stables_quickkey li {
    margin: 0pt;
    float: left;
}

.stables_quickkey li img {
    float: left;
    border-style: none;
}

.stables_quickkey li p {
    float: left;
    display: inline;
    margin-top: 6px;
    margin-left: 5px;
    overflow: hidden;
    width: 85px;
}
.title {
    font-weight:bold;
    font-size:13px;
    border-right:solid 1px #CCCCCC;
    padding-top:8px;
    padding-right:5px;
    vertical-align:top;
}
.data {
    padding-left:8px;
    padding-top:8px;
}
.sire {
    padding:3px;
    border-bottom:solid 1px black;
}
.dam {
    padding:3px;
    border-bottom:solid 1px black;
}
.pedigree {
    border-collapse:collapse;
    width:500px;
}
.pedigree td.v {
    border-right:solid 1px black;
    height:10px;
}
.pedigree a, .pedigree a:hover, .pedigree a:visited {
    color:#000000;
}
.jCarouselLite img, .carousel .prev, .carousel .next {
    cursor:pointer;
}
.uship a, .clickable, .uship_options a {
    cursor: pointer;
}

.uship_options input {
    margin-bottom: 5px;
}

.uship_options {
    background-color: #fff; 
    width: 365px;
    height: 205px;
    padding: 0pt;
}

.uship_options h1, .uship_options p { color: #000; }

.uship_options table {
    background: none;
    color: #000;
}

/* Equine Overrides */
body {
    background-color: #546880; /* DDDDDD */
    margin: 0px;
    color: #FFFFFF;
}

.pageWidth {
	width: 1000px;
	padding:0px;
    background-color: #546880;
}
.pageWrapper {
	width: 1000px;
	margin-left:0px;
    padding:0px 0px 0px 0px;
}

h1, h2, h3, h4 {
    color: #FFCC66;
}

.header li {
    color: #ffffff;
}

.header li a {
    color: #ffffff;
}

.footer {
    border: solid 0px #FFCC66;
    background-color: #b1ab9e;
}

.footer .copyright {
    color:#FFCC66;
}

.footer2 {
    border: solid 1px #FFCC66;
    background-color: #445368;
}

.footer2 .copyright {
    color:#FC6;
}

.placeAdStep {
    background-color:#445368;
    color: #C8D4E2;
}

.placeAdStep .current {
    color: #a79563;
}

.placeAdStep .rule1 {
    height: 4px; 
    width: 1000px; 
    background-color: #c8d4e2; 
    position: absolute; 
    top: 25px; 
    left: 0px;
}

.placeAdStep .rule2 {
    height: 4px;
    background-color: #ffcc66;
    position: absolute;
    top: 25px;
    left: 0px;
}

.placeAdStep .indicator {
    height: 35px; 
    width: 50px; 
    background-color: Transparent;
    background-image: url(../../../images/icons/equine_horse.gif);
    background-repeat: no-repeat;
    border: none;
    position: absolute; 
    top: 10px;
    margin-left: -25px;
}

.placeAdStep .completed {
    color: #b7a06b;
}

.bg1 {
    background-color: #445368;
}

.bg2 {
    background-color: #C8D4E2;
}

.bg3 {
    background-color: #F8F8F4;
}

.bg4 {
    background-color: #FFFFFF;
}

.bg5 {
    background-color: #dcd7ca;
}
.bg6
{
	background-color: #ABA79E;
}

.fg1 {
    color: #000000;
}

.fg2 {
    color: #FFFFFF;
}

.fg4 {
    color: #546880;
}

.fg5 {
    color: #FFCC66;
}

.fg6 {
    color: #666666;
}

.fg7 {
	color:#CC3333;
}
.fgr
{
	color:Red;
}

.hl1 {
    color: #FFCC66;
}

h1.hl1 {
    font-size: 12px;
    margin: 0px;
    padding: 0pt;
    text-transform: none;
    margin-top: 10px;
}

.heading {
    color:#B2ACA0;
}

.verticalMenu li {
    color:#000000;
}

.VerticalMenuList li {
    color:#000000;
    border-bottom: solid 1px #FFCC66;
}

.VerticalMenuListOption li {
    color:#000000;
}

.VerticalMenuListOption li a {
    color:#000000;
}

.verticalMenu a {
    color:#000000;
}

.headerLeft{
    background-image:url(../../../images/icons/equine_header_left.gif);
    background-repeat:no-repeat;
    height:35px;
    width:9px;
    float:left;
}

.headerMiddle{
    background-image:url(../../../images/icons/equine_header_repeater.gif);
    background-repeat:repeat-x;
    height:35px;
    width:952px;
    float:left;
}

.headerRight{
    background-image:url(../../../images/icons/equine_header_right.gif);
    background-repeat:no-repeat;
    height:35px;
    width:9px;
    float:left;
}

.tab {
    background-image:url(../../../images/icons/layout1/tab_bg.gif);
    background-position:0px -30px;
    background-repeat:repeat-x;
    float:left;
}

.tab_l {
    background-image:url(../../../images/icons/layout1/tab_bg.gif);
    background-position:0px 0px;
    background-repeat:no-repeat;
    width:11px;
    height:30px;
    float:left;
    margin-top:10px;
    height:29px;
}

.tab_r {
    background-image:url(../../../images/icons/layout1/tab_bg.gif);
    background-position:-11px 0px;
    background-repeat:no-repeat;
    width:11px;
    height:30px;
    float:left;
    margin-top:10px;
    height:29px;
}

.tab ul li.selected {
    background-image:url(../../../images/icons/layout1/tab_bg_s.gif);
    background-repeat:repeat-x;
}

.tab ul li a {
    color:#FFFFFF;
}
.tab ul li a:hover {
    text-decoration:underline;
}

.tab ul li.selected a {
    color:#000000;
}

.tabsub {
    background-color:#E8E9CB;
    color:#000000;
}
.tabsub div {
    color:#000000;
}

.tabsub a {
    color:#000000;
}
.tabsub ul li, .tabsub ul li * {
    color: #000;
}

.tabsub ul li a {
    color:#000;
}

.footer a {
    color: #ffffff;
}

/* Homepage */
/*.container {
    background-color:#445368;
    border: 1px solid #FFCD64;
}
.container a {
    color:#FFFFFF;
}*/

.testimonials h1 {
    color:#FFFFFF;
}

.qs_tabOff a {
    color:#FFFFFF;
}
.qs_tabOff a:hover {
    color:#FFCC66;
}
.qs_tabOff {
    border-left: solid 2px #FFCF63;
    border-top: solid 2px #FFCF63;
    border-right: solid 2px #FFCF63;
}
.qs_tabEnd {
    border-left: solid 2px #FFCF63;
    border-top: solid 2px #FFCF63;
    border-right: solid 2px #FFCF63;
    background-color:#465B75;
}
.qs_tabEnd a {
    color:#ffffff;
}
.qs_tabOn {
    background-color:#FFFFFF;
    color:#000000;
}
.qs_tabOn a {
    color:#000000;
    text-decoration:none;
}
.qs_tabOn a:hover {
    color:#465B75;
}
.qs_content {
	border: solid 2px #FFCF63;
	background-color: #FFFFFF;
	color:#000000;
}
.qs_content .subtitle {
	color:#CC0000;
}
.featured_listing .title {
    background-color: #223146;
    color:#ffffff;
}
.featured_listing a {
	color: #fff;
}
.featured_listing a:hover div {
	background-color: #546880;
}
.highlight1_bg {
    background-color: #425164;
}
.highlight2_bg {
    background-color: #3b495a;
}
.directory h3 {
	color:#FFFFFF;
}
.directory ul li, .directory ul li a {
	color:#FFFFFF;
}
.directory ul li a:hover {
	color: #fff;
}
.directory > .linksContainer {
    border-right:1px solid #C8C8C8;
}
.searchContainer, .searchContainer a{
    color:#fff;
}
.searchTabContent {
	border: 1px solid #FFCD64;
	background-color: #425164;
	color: #fff;
}
.searchTab {
	background-color: #425164;
	border: 1px solid #FFCD64; 
}
.searchTab a { 
	color: #fff;
}
.searchTab a:hover {
    color: #FFCC66;
}
.searchTabSelected, .searchTabSelected a {
	color: #fff;
}
.special_offers a{
    color:#fff;
}
.testimonials a {
    color:#fff;
}
.mostPopular > .content {
    color: #ffffff;
}
.mostPopular li a {
	color: #fff;
}
/* End Homepage */
.ddTabOff {
    background-color:#F0EFEF;
    border-color:#CCCCCC;
}
.ddTabOn {
    background-color:#ffffff;
}

h1.tab_hdr,h2.tab_hdr,h3.tab_hdr, .tab_hdr {
    color:#FFFFFF;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    margin:0px;
    padding:0px;
}

.tab_hdr_l {
    background-image:url(../../../images/icons/layout1/blue_tab.gif);
    background-position:0px 0px;
    background-repeat:no-repeat;
    width:10px;
    height:24px;
}
.tab_hdr {
    background-image:url(../../../images/icons/layout1/blue_tab.gif);
    background-position:0px -24px;
    background-repeat:repeat-x;
    height:24px;
}
.tab_hdr_r {
    background-image:url(../../../images/icons/layout1/blue_tab.gif);
    background-position:-10px 0px;
    background-repeat:no-repeat;
    width:10px;
    height:24px;
}

.tab_hdr_un {
    background-image:none;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    margin:0px;
    padding:0px;
    color:#B2ACA0;
    text-decoration:underline;
    cursor:pointer;
}

ul.tips {
    line-height:17px;
}
ul.tips li {
    vertical-align:top;
    font-size:11px;
    color: #555555;
}
ul.tips li a, ul.tips li a:visited, ul.tips li a:hover {
    font-size:11px;
    color: #555555;
}

ul.tips2 {
    line-height:15px;
}
ul.tips2 li {
    vertical-align:top;
    font-size:12px;
    color: #546880;
}
ul.tips2 li a, ul.tips2 li a:visited, ul.tips2 li a:hover {
    font-size:12px;
    color: #546880;
    font-weight:bold;
}

ul.tips3 {
    line-height:18px;
}
ul.tips3 li {
    vertical-align:top;
    font-size:12px;
    color: #555555;
}
ul.tips3 li a, ul.tips3 li a:visited, ul.tips3 li a:hover {
    font-size:12px;
    color: #555555;
}
/* End Equine Overrides */

/* Faceted Refine Search */
.facetedBlock
{
	padding-left:10px;	
}
.facetedBlock a
{
	color:#546880;
	text-decoration: none;
	font-size:12px;
	text-transform:capitalize;
}
.facetedBlock a:hover
{
	color:#546880;
	text-decoration: underline;
	font-size:12px;
}
.facetedBlock .mc
{	
	color:#546880;
	text-decoration: none;
	font-size:11px;
}
.facetedBlock .mc:hover
{
	color:#546880;
	text-decoration: underline;
	font-size:11px;	
}
#fh
{
	text-align:left; 
	padding:14px 0px 10px 10px; 
	float:left;	
	height: 20px;
	margin: 0px;
}
#fh h4
{
	color:#546880;
	font-weight:bold;	
	display:inline;
	font-size: 18px;
	font-weight: normal;
	padding: 0px;
	margin: 0px 5px 0px 0px;	
	font-family:Helvetica,Arial,sans-serif;
	text-transform: none;
}
#fh p
{
	color:#999;
	display:inline;
	font-size: 16px;
	padding:0;
	margin:0;
}
.ft
{
	background-color:#DCDCDC;
	padding: 18px 29px;
}
.inlineSubmit
{
	padding-left:10px;
	padding-top:10px;
}

.SavedSearch a
{
	text-decoration:none;
	color: #546880;
}
.SavedSearch a:hover
{
	text-decoration:underline;
	color: #546880;
}
ul.trek_nav {
    list-style:none outside none;
    margin:0;
    padding:0;
    background-color:rgb(200,200,200);
    height:30px;
    margin-top:10px;
    border-bottom:solid 1px black;
}
ul.trek_nav li {
  color:#000000;
  float:left;
  list-style:none outside none;
  padding-left:10px;
  text-align:center;
  display:inline;
  list-style-type:none;
  
}
ul.trek_nav li {
  padding-top:5px;
}
ul.trek_nav a, ul.trek_nav a:link, ul.trek_nav a:visited {
  font-size:11px;
  font-weight:bold;
  color:#000000;
  text-transform:uppercase;
  text-decoration:none;
}
ul.trek_nav a:hover {
  text-decoration:underline;
  color:Orange;
}
ul.trek_nav2 {
    list-style:none outside none;
    margin:0;
    padding:0;
    margin:10px 0px;
}
ul.trek_nav2 li {
  color:#ffffff;
  float:left;
  list-style:none outside none;
  padding-left:10px;
  text-align:center;
  display:inline;
  list-style-type:none;
  
}
ul.trek_nav2 li {
  padding-top:5px;
}
ul.trek_nav2 a, ul.trek_nav2 a:link, ul.trek_nav2 a:visited {
  font-size:11px;
  font-weight:bold;
  color:#ffffff;
  text-transform:uppercase;
  text-decoration:none;
}
ul.trek_nav2 a:hover {
  text-decoration:underline;
}
ul.trek_nav_sub {
  list-style:none outside none;
    margin:0;
    padding:0;
    background-color:rgb(220,220,220);
    height:30px;
    border-bottom:solid 1px black;
}
ul.trek_nav_sub li {
  color:#000000;
  float:left;
  list-style:none outside none;
  padding-left:10px;
  text-align:center;
  display:inline;
  list-style-type:none;
  
}
ul.trek_nav_sub li {
  padding-top:5px;
}
ul.trek_nav_sub a, ul.trek_nav_sub a:link, ul.trek_nav_sub a:visited {
  font-size:11px;
  font-weight:bold;
  color:#000000;
  text-transform:uppercase;
  text-decoration:none;
}
ul.trek_nav_sub a:hover {
  text-decoration:underline;
}

#magnifyIcon
{
	background: url(../../../images/maps/icons.gif) no-repeat -62px -110px;
	width:56px;
	height:27px;
	text-decoration:none;
}
.bc
{
	text-align:right;
	position:absolute;
	width:975px;
	color:#000;
}
.bc a
{	
	color:#000;
	text-decoration:none;
}
.bc a:hover
{	
	color:#000;
	text-decoration:underline;
}