BODY {color:#333333;}
#TblBody {width:765px;text-align:left;}
hr {color:#cccccc;}
A:link {color:#333333;}
A:visited {color:#999999;}
A.linkTwo {color:#808080;}
A.linkTwo:visited {color:#999999;}
A.linkThree {color:#333333;}
A.linkThree:visited {color:#999999;}
A.sdDept, .sdDept, A.sdSubCat, .sdSubCat {color:#808080;}
.stdHeader, .stdHeader A {color:#333333;background-color:#f2f2f4;}
.floatingTable {background-color:#f2f2f4;border-width:1px;border-style:solid;border-color:#cccccc;}
.alert, .alert A, A .alert, A.alert, A.alert:visited {color:#ff0000;}
.error, .error A, A .error, A.error, A.error:visited {color:#ff0000;}
.sale, A.sale, A:visited.sale {color:#ff0000;}
.title {color:#333333;}
.coloration {background-color:#ffffff;}
.boldGold {color:#b8860b;}
.altColor {color:#2369af;}
.ternaryColor {color:#ffffff;}
A.oesLink,A:visited.oesLink {color:#333333;}
A.oesLink .hot {color:#333333;}
.Summary-Columnhead, .Summary-Footnote {background-color:#f2f2f4;}
.PLBGCol {background-color:#ffffff;}
.AlertCntr {border:2px solid #ff0000;}
#AcctCntr hr, #AcctCntr #TblPrograms hr, #AcctCntr #TblSubs #YourSubsCntr #TblYourSubs hr {border-top:1px solid #cccccc;}
#AcctCntr #TblAcctLinks #ColOneCntr {border-right:1px solid #cccccc;}
#TblFtrDept, #RVAW {background-color:#f2f2f4;}
#FooterDeptLinks {background-color:#f2f2f4;}
#TblFtrDept .Spacer {background-color:#f2f2f4;}
#YourListCntr, #YourListCntr #TblYourListCntr #ColCheckPrivacy {border:1px solid #cccccc;}
#YourListCntr #TblYourListCntr #OffersRow #ColSavingsTitle.floatingTable, #YourListCntr #TblYourListCntr #ColSavings {border-left:1px solid #cccccc;}
#ADCntr #TblLineItems hr, #TblPlaceOrder hr {border-top:1px solid #f2f2f4;}
#AcctCntr #TblSubs #YourSubsCntr {border:1px solid #cccccc;}
#BagCntr #SavingsCntr {background-color:#EBF8FF;}
#ChkHeadBar {background-color:#999999;}
#OrderDetails .suborder_detail .shipmethod, #OrderDetails .suborder_detail .lineitems, #OrderDetails .suborder_detail .stdHeader {border:solid 1px #f2f2f4;}
#OrderDetails #payship_info td {border-right: solid 1px #f2f2f4;}
#MayWeSuggestCntr {border:1px solid #f2f2f4;}
.overlay .header {background:url(../img/widgets/mt_blue_1x40.gif) repeat-x scroll;}
.overlay .header .lc{background:url(../img/widgets/tl_blue_12x40.gif) no-repeat scroll;}
.overlay .header .rc{background:url(../img/widgets/tr_blue_12x40.gif) no-repeat scroll;}
.overlay .footer {background:#FFFFFF url(../img/widgets/mb_white_1x2.gif) repeat-x bottom;}
.overlay .footer .bl{background:url(../img/widgets/bl_white_12x12.gif) no-repeat;}
.overlay .footer .br{background:url(../img/widgets/br_white_12x12.gif) no-repeat;}
.confirmoverlay .header {background:url(../img/widgets/mt_blue_1x12.gif) repeat-x scroll;}
.confirmoverlay .header .lc {background:url(../img/widgets/tl_blue_12x12.gif) no-repeat scroll;}
.confirmoverlay .header .rc {background:url(../img/widgets/tr_blue_12x12.gif) no-repeat scroll;}
.confirmoverlay .footer {background:url(../img/widgets/mb_blue_1x12.gif) repeat-x scroll bottom;}
.confirmoverlay .footer .bl {background:url(../img/widgets/bl_blue_12x12.gif) no-repeat scroll;}
.confirmoverlay .footer .br {background: url(../img/widgets/br_blue_12x12.gif) no-repeat scroll;}
.tblMinicart {margin-top:1px;background-color:#FFFFFF;border:1px solid #999999;}
.tblMinicart .topBorder {border-top:1px solid #999999;}
.tblMinicart .bottomBorder {border-bottom:1px solid #999999;}
.minicartHead {padding:0 0 3 0;background-color:#f48f29;color:#ffffff;font-weight:bold;}
#ModVSWrapper .tblMinicart {background-color:#FFFFFF;border:1px solid #999999;}
#ModVSWrapper .tblMinicart .topBorder {border-top:1px solid #999999;}
#ModVSWrapper .tblMinicart .bottomBorder {border-bottom:1px solid #999999;}
#ModVSWrapper .minicartHead {padding:5 0 5 0;background-color:#999999;color:#FFFFFF;font-weight:bold;font-size:115%;}
.GNNewMsgsCntr {padding: 0; border: #CCCCCC 1px solid;}
.GNNewMsgsHeader {padding-top: 6px; padding-left:8px; font-family: Arial;font-size:14px;font-weight:bold; color: #333333; background-color: #ebebeb; text-align: left; height:25px;margin-bottom:0px !important;}
html>body .GNNewMsgsHeader {height:19px;}
.GNNewMsgsBody { background-color:white; padding:8px; font-family: Arial;font-size:11px;font-weight:normal; color: #333333;margin-bottom:0px !important;}
.AccPMsg {margin-bottom:0px !important;}
.AccMsgSepContainer {margin-bottom:0px !important;}
.AccMsgSeperator {width:90%;color:#cccccc}
#NewMsgsCntr {padding: 0; border: #b5c5d2 1px solid; width:191px;}
#NewMsgsCntr #NewMsgsHeader {padding: 6px; font-size: 1.2em; color: #ffffff; background-color: #f2861a; text-align: center;}
#NewMsgsCntr #NewMsgsBody {background-color:white; border-width:2px; padding:10px;}
#TblDSDollars .body {background-color:#EBF8FF;}
#PlaceOrderCntr #TblPlaceOrder #TblCartItems {border: 1px solid background-color:#f2f2f4; }
.UpdateCartItemQty {background-color:#f2f2f4;}
#YourListVer2Cntr {border:1px solid #cccccc;padding:3px;}
#SearchResultsDeprecated {border-right:1px solid #f2f2f4;}
#PaymentMethodLiner { color:#f2f2f4; }
#EmailThankyouInfo { font-weight:bold; background-color: #f2f2f4;}
#EmailOrderNoInfo { color: #333333;}
#TblFeaturedLbl { background-color: #f2f2f4; }
