html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button{ margin:0; padding:0; vertical-align:baseline; font-size:1em; outline:none; border-color:#000000; border:none; background:transparent; }
body { font-size:10px; color:#000000; }
a { text-decoration:none; /*color:#607ca1;*/ color: #585858; cursor:pointer; }
a:hover { color: #C90000; text-decoration:underline; }
:focus { outline:none; }
blockquote, ul, ol, dl { margin:1em; }
ol, ul, dl { margin-left:2em; }
dl dd { margin-left:1em; }
ol li { list-style:decimal outside; }
ul li { list-style:disc outside; }
img { border:0; }
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; text-decoration:none; }
em { font-style:italic; font-weight:normal; }
strong { font-style:normal; font-weight:bold; }
ins { font-style:normal; font-weight:normal; text-decoration:underline; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; font-size:inherit; font-size:1em; border-collapse:collapse; }
th { font-weight:bold; }
th, td { border:0px solid #000000; padding:.5em; }
caption, th { text-align:left; }
caption { margin-bottom:.5em; }
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{ padding:0; margin:0; line-height:1.2em; font-size:1em; font-weight:normal; font-style:normal; }
pre, code, kbd, samp, tt { font-family:"Courier New",Courier,monospace; line-height:100%; }
H1,H2,H3,H4,H5,H6,STRONG { font-weight:bold; }
h1 { font-size:2em; margin-bottom:1.5em; }
h2 { font-size:1.66em; }
h3 { font-size:1.33em; }
h4 { font-size:1em; }
h5 { font-size:0.66em; }
h6 { font-size:0.33em; }
h2, h3, h4, h5, h6, p { margin:1.5em 0; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
abbr, acronym { border:0; border-bottom:1px dashed #000; font-variant:normal; cursor:help; }
sup { font-size:0.6em; vertical-align: 4px; }
sub { font-size:0.6em; vertical-align: -4px; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; }
select{ box-sizing: content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box; line-height: 12px;}
textarea { overflow:auto; overflow-y:scroll; }
button { border:none; cursor:pointer; overflow: visible; padding:0; border:0 none; }
/* Firefox Button Fix */ 
 button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { padding: 0 !important; border: 0 none !important; }
.floatLeft { float:left; }
.floatRight { float:right; }
.hide { display:none }
.show { display:block }
