#footer{
	background-color:#F0F0F0;
	color:#111;
	font-family:Helvetica,Arial,sans-serif;
	height:100%;
	margin:20px 0 20px;
	float:left;
	width:989px;
}

#footer>div>h3{

	margin-bottom:10px;
	padding-left:20px;
	
	background-color:#DEDEDE;
	border:none;
	color:#333;
	height:30px;
	line-height:30px;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
	text-transform:uppercase;

}

#footer h4{margin-bottom:10px;}
#stay-connected{height:150px;}
#stay-connected p{margin-bottom:15px;font-size:11px;color:#333;font-weight:bold;}
#stay-connected #email-us p{margin-bottom:8px;}
#connected{padding-left:20px;}
#help-support ul,#help-support h3{padding-left:20px;}
#help-support{margin-left:1px;}
#stay-connected #connected a{line-height:30px !important;vertical-align: middle}
#connected a img{position:absolute;left:162px;margin-top:3px;}

#bragging-board,#email-us{margin-left:20px;}

#footer-columns{height:250px;}
#footer>#stay-connected>div{display:block;float:left;width:23%;margin-top:10px;}
#footer>#stay-connected>div p{float:left;}
#footer>#stay-connected>#e-catalog img{float:right;width:75px;margin-right:0px;margin-top:-25px;}
#footer>#stay-connected>#bragging-board img{float:right;width:80px;margin-right:15px;margin-top:-20px;}
#footer>#stay-connected>#connected{margin-top:2px;}
#footer>#footer-columns>div{float:left;width:20%}
#footer>#footer-columns>#stores{width:19%;}
#footer>#footer-columns>#sites{width:20%;}

#footer .follow-up{clear:left;}

#footer div li, #footer a, #email-header{

	color:#00583D;
	font-size:11px;
	line-height:14px;
	text-transform:uppercase;

}

#email-header{font-weight:bold;}
#footer div li, #footer a{padding:0 0 10px;;}
#footer div li a{font-weight:normal !important;}

#footer a:hover{text-decoration:underline;}

#footer>div>div>h3{
	margin-bottom:10px;
	background-color:#DEDEDE;
	color:#333;
	height:30px;
	line-height:30px;
	width:100%;
	font-size: 12px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	padding-right:9px;
}


#epilogue{

	border-bottom:2px solid #dedede;
	border-top:2px solid #dedede;
	clear:both;
	color:#464646;
	font-size:11px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	margin:20px auto;
	text-align:center;
	width:900px;

}

#epilogue a{

	color:#464646 !important;
	
}

#searchTerms{
	line-height:30px;
	margin-right:10px;
	margin-left:10px;
	float:left;
}

#searchBox{float:right;}
#searchBox form{float:right;}

#searchBox input, #sign_up_form input{color:#464646;font-weight:bold;padding:3px;}

#legal-info{margin:0 auto;text-align:center;width:800px;color:#333;font-weight:bold;}