body{
	margin:0;
	padding:0;
	background-color:#fff;
	text-align:center;
}
form{
	margin:0;
	padding:0;
}

b.afcrn {
	display:block;
	font-size:1px;
}
b.afcrn b {
	display:block;
	height:1px;
	font-size:1px;
	overflow:hidden;
	border-width:0 1;
	border-style:solid;
	border-color:#fff;
}
b.afcrn b {
	border-width:0 !important;
}
b.afcrn b.afcrn_b {
	border-width:0 1px !important;
}

/* Navigation secondaire */
DIV.contenuSousMenu{
border-top:solid 2px #e3dbd1;
background-color:#ffffff;
background-image:url(imagesedito/pixel-1-3-menu.gif);
background-repeat:repeat-x;
background-position:center bottom;
padding-top:2px;
}
.separationMenuComm{
font-weight:normal;
font-size: 9px;
color: #444444;
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
a.afmod_navClubOff, a.afmod_navServicesOff, a.afmod_navServicesOn, a.afmod_navClubOn {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #444444;
text-decoration: none;
display:block;
padding:4px 6px 4px 6px;
vertical-align:middle;
height:13px;
}
a.afmod_navClubOn {
color: #000000;
}
a.afmod_navClubOff{
color: #444444;
}
a.afmod_navClubOn, a.afmod_navClubOff:hover, a.afmod_navServicesOn, a.afmod_navServicesOff:hover {
text-decoration: underline;
}

/* Navigation principale */
DIV.FondNavEdito{
margin-top:1px;
}
.NavEditoFond {
background-color: #ffffff;
height: 30px;
}
td.NavEditoSeparation {
width:1px;
height: 30px;
background-color: #f8f2ec;
}
a.NavEdito, a.NavEditoDbl {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
vertical-align:middle;
text-transform:uppercase;
padding:8px 2px 9px 2px;
text-decoration: none;
display:block;
line-height:13px;
}
a.NavEdito:hover, a.NavEditoDbl:hover {
text-decoration: none;
color:#ffffff;
}
a.NavEditoOn, a.NavEditoDblOn {
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
vertical-align:middle;
text-transform:uppercase;
padding:8px 2px 9px 2px;
text-decoration: none;
color:#ffffff;
display:block;
line-height:13px;
}
a.NavEditoOn:hover, a.NavEditoDblOn:hover {
text-decoration: none;
}
a.NavEditoDbl, a.NavEditoDblOn{
padding:4px 2px 6px 6px;
text-indent:2px;
line-height:10px;
text-align:left;
}
a.NavEditoAvec {
font-weight: bold;
vertical-align:middle;
text-transform:uppercase;
text-decoration: none;
}
a.NavEditoAvec:hover {
text-decoration: none;
}
td.navPrinLuxe, td.navPrinStars, td.navPrinSante{
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
text-align:center;
vertical-align:middle;
height: 33px;
padding:0px 5px 0px 5px;
background-color:#ffffff;
border-top: solid 3px;
}
td.navPrinLuxe{
border-color: #000000;
}
td.navPrinStars{
border-color: #ab8cbc;
}
td.navPrinSante{
border-color: #2b9fd1;
}

td.SepMenuDAvec{
width:3px;
height:auto;
}
td.SepMenuGAvec{
width:3px;
height:auto;
}
SPAN.navSmallAvec{
font-size: 10px;
font-weight: bold;
vertical-align:middle;
text-transform:none;
text-decoration: none;
color:#898989;
}

TD.navPrinAccueil  {
border-top:solid 3px #e3dbd1;
}
.navPrinAccueil a, .navPrinAstro a, .navPrinBeaute a, .navPrinCouple a, .navPrinCuisine a, .navPrinDeco a, .navPrinSociete a, .navPrinDetente a, .navPrinForme a, .navPrinMode a, .navPrinMaman  a, .navPrinMariage a, .navPrinNosHommes a, .navPrinPsycho a, .navPrinPeople a, .navPrinNews a{
color: #5f5035;
}
.navPrinAccueil  a:hover{
background-color:#e3dbd1;
color:#5f5035;
}
TD.navPrinAstro  {
border-top:solid 3px #6c0014;
}
.navPrinAstro  a.NavEditoOn, .navPrinAstro  a:hover{
background-color:#6c0014;
color:#ffffff;
}
TD.navPrinBeaute  {
border-top:solid 3px #ddbea1;
}
.navPrinBeaute  a.NavEditoOn, .navPrinBeaute  a:hover{
background-color:#ddbea1;
color:#ffffff;
}
TD.navPrinCouple {
border-top:solid 3px #d37f97;
}
.navPrinCouple  a.NavEditoOn, .navPrinCouple  a:hover{
background-color:#d37f97;
color:#ffffff;
}
TD.navPrinCuisine {
border-top:solid 3px #ba3882;
}
.navPrinCuisine  a.NavEditoOn, .navPrinCuisine  a:hover{
background-color:#ba3882;
color:#ffffff;
}
TD.navPrinDeco {
border-top:solid 3px #e87d0b;
}
.navPrinDeco  a.NavEditoOn, .navPrinDeco  a:hover{
background-color:#e87d0b;
color:#ffffff;
}
TD.navPrinSociete {
border-top:solid 3px #89756e;
}
.navPrinSociete  a.NavEditoOn, .navPrinSociete  a:hover{
background-color:#89756e;
color:#ffffff;
}
TD.navPrinDetente {
border-top:solid 3px #eec52d;
}
.navPrinDetente  a.NavEditoOn, .navPrinDetente  a:hover{
background-color:#eec52d;
color:#ffffff;
}
TD.navPrinForme {
border-top:solid 3px #3f8aa9;
}
.navPrinForme  a.NavEditoOn, .navPrinForme  a:hover{
background-color:#3f8aa9;
color:#ffffff;
}
.navPrinLuxe a{
color: #000000;
}
TD.navPrinMode {
border-top:solid 3px #3e3e3e;
}
.navPrinMode a{
color: #5f5035;
}
.navPrinMode  a.NavEditoOn, .navPrinMode  a:hover{
background-color:#3e3e3e;
color:#ffffff;
}
TD.navPrinMaman  {
border-top:solid 3px #97b9ab;
}
.navPrinMaman  a.NavEditoOn, .navPrinMaman  a:hover{
background-color:#97b9ab;
color:#ffffff;
}
TD.navPrinMariage {
border-top:solid 3px #b7c1e0;
}
.navPrinMariage  a.NavEditoOn, .navPrinMariage  a:hover{
background-color:#b7c1e0;
color:#ffffff;
}
TD.navPrinNosHommes {
border-top:solid 3px #959595;
}
.navPrinNosHommes  a.NavEditoDblOn, .navPrinNosHommes  a:hover{
background-color:#959595;
color:#ffffff;
}
TD.navPrinPsycho {
border-top:solid 3px #23657d;
}
.navPrinPsycho  a.NavEditoOn, .navPrinPsycho  a:hover{
background-color:#23657d;
color:#ffffff;
}
.navPrinSante a{
color: #2b9fd1;
}
.navPrinStars a{
color: #764691;
}
TD.navPrinPeople {
border-top:solid 3px #ccb152;
}
.navPrinPeople  a.NavEditoOn, .navPrinPeople  a:hover{
background-color:#ccb152;
color:#ffffff;
}
TD.navPrinTv {
border-top:solid 3px #666;
/* background:url(/tv/imagestv/4/new.gif) no-repeat center bottom; */
}
.navPrinTv a{
color: #5f5035;
}
.navPrinTv  a.NavEditoOn, .navPrinTv  a:hover{
background-color:#666;
color:#ffffff;
}
TD.navPrinNews {
border-top:solid 3px #BEBCBD;
/* background:url(/tv/imagestv/4/new.gif) no-repeat center bottom; */
}
.navPrinNews a{
color: #5f5035;
}
.navPrinNews  a.NavEditoOn, .navPrinNews  a:hover{
background-color:#BEBCBD;
color:#ffffff;
}

/* Sous menu */
b.MenuSousRub_Corner b.afcrn_c { background-color:#ffffff; }

TABLE.MenuSousRub_Cadre{
font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; /*font-family: "Times New Roman", Times, serif; */
background-color:#ffffff;
}
TD.MenuSousRub_Titre{
padding: 0px 5px 5px 10px;
}
TD.MenuSousRub_Titre a{
color: #999999;
font-size: 30px;
font-style: normal;
text-decoration:none;
font-weight: bold;
}
TD.MenuSousRub_Titre a:hover{
text-decoration:none;
}
a.MenuSousRub, a.MenuSousRubOn, a.MenuThema, a.MenuThemaOn {
color: #5f5035;
display:block;
font-size: 15px; /*12px;*/
font-style: normal;
font-weight: bold;
/*text-transform: uppercase;*/
text-decoration:none;
padding: 2px 0px 2px 10px;
text-decoration:none;
line-height: 18px;
border-left:solid 1px #5f5035;
}
a.MenuSousRub:hover, a.MenuSousRubOn{
color: #000000;
}
a.MenuThema, a.MenuThemaOn {
color: #959595;
font-size: 13px; /*11px;*/
font-style: normal;
background-position:25px 50%;
padding: 2px 5px 2px 30px;
}
a.MenuThema:hover, a.MenuThemaOn{
color: #000000;
}


/* Bread Crumb */
DIV.af_breadCrumb{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #5f5033;
padding-bottom:5px;
}
DIV.af_breadCrumb a.af_bcAccueil{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #5f5033;
text-decoration:none;
}
DIV.af_breadCrumb a.af_bcAccueil:hover{
text-decoration:underline;
}
DIV.af_breadCrumb a.af_bcRubrique{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #5f5033;
text-decoration:none;
}
DIV.af_breadCrumb a.af_bcRubrique:hover{
text-decoration:underline;
}
DIV.af_breadCrumb .af_bcPageActuelle{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #847965;
text-decoration:none;
}
div.af_breadCrumb h1{
margin:0;padding:0;display:inline;
}

/* Blog AF */
DIV.af_moduleBlogAFTotal{ margin-top:10px;}
b.af_moduleBlogAF b.afcrn_b { background-color:#f4ebd3; border-color:#a29b91; }
b.af_moduleBlogAF b.afcrn_cb { background-color:#a29b91; }
b.af_moduleBlogAFBas b.afcrn_b { background-color:#ffffff; border-color:#a29b91; }
b.af_moduleBlogAFBas b.afcrn_cb { background-color:#a29b91; }
TABLE.af_blogAF{
width:100%;
margin:0px 0px 0px 0px;
background-color:#ffffff;
background-image:url(imagesedito/fond-blog-af.gif);
background-repeat:repeat-x;
background-position:left top;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
color:#000000;
border-left:solid 1px #a29b91;
border-right:solid 1px #a29b91;
}
TABLE.af_blogAF .af_blogAFTitre{
font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
font-size:17px;
font-weight:normal;
color:#645c4f;
line-height:19px;
padding:3px 5px 5px 10px;
background-image:url(imagesedito/pixel-1-3.gif);
background-repeat:repeat-x;
background-position:left bottom;
}
TABLE.af_blogAF .af_blogAFTitre2{
font-size:22px;
font-weight:bold;
color:#a9141c;
}
a.af_blogAFTexte{
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#000000;
padding-right:3px;
text-decoration:none;
}
a.af_blogAFTexte:hover{
text-decoration:none;
color:#828282;
}
TABLE.af_blogAF .af_blogAFImage{
border:solid 1px #bcb9af;
}
a.af_blogAFTexte2{
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#828282;
padding:0px 10px 0px 10px;
background-image:url(imagesedito/fleche-blog.gif);
background-position:left 50%;
background-repeat:no-repeat;
text-decoration:none
}
a.af_blogAFTexte2:hover{
text-decoration:underline;
}
IMG.af_blogEspace{
width:1px;
height:10px;
}

/************** Newsletter ******************/
DIV.newsletterAF{
	margin:10px 0px 10px 0px;
}
DIV.newsletterAF .titre{
	padding-left:15px;
	background-image:url(imagesedito/picto-newsletter.gif);
	background-repeat:no-repeat;
	background-position:left 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ae232a;
	margin-bottom:5px;
}
DIV.newsletterAF .newsForm{
	width:130px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-left:5px;
	border:solid 1px #afa89e;
	background-color:#ffffff;
}
DIV.newsletterAF .btnNewsletter{
	width:25px;
	height:19px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color:#afa89e;
	border:solid 0px #afa89e;
}

b.af_moduleNewsAF b.afcrn_b { background-color:#e3e4e6; border-color:#d8d8d8; }
b.af_moduleNewsAF b.afcrn_cb { background-color:#d8d8d8;}

DIV.newsletterAF .fondNewsletter{
background-color:#e3e4e6;
border-left:solid 1px #d8d8d8;
border-right:solid 1px #d8d8d8;
}


/* Bloc Note */
.bm_cadre0 {
margin-top:15px;
}
table.bm_cadre { 
background:#9a8b78; 
border-left:1px solid #9a8b78;
border-right:1px solid #9a8b78;
}
td.bm_cadre { 
background:#ffffff;
}
b.bm_cadre b.afcrn_c, b.bm_cadreBas b.afcrn_cb { background:#9a8b78;}
b.bm_cadreBas b.afcrn_c { background:#ffffff; }
b.bm_cadreBas b.afcrn_b { background:#ffffff; border-color:#9a8b78; }

.bm_header {
color:#ffffff;
font-family:Arial, Verdana, sans serif;
font-size:11px;
text-decoration:none;
}
td.bm_header {
padding:0 3px;
}
td.bm_tabs {
border-top:1px solid #e4d8ca;
padding-top:4px;
}

b.bm_tab b.afcrn_c { border-color:#9a8b78; }

td.bm_tabActif, td.bm_tabInactif {
background:#ffffff;
border-right:2px solid #9a8b78;
}
td.bm_tabInactif { background:#d6d2c9; }

td.bm_tabActif div, td.bm_tabInactif div {
color:#000000;
font-family:Arial, Helvetica, sans serif;
font-size:11px;
font-weight:bold;
text-decoration:none;
padding:0 3px;
}
.bm_content {
background:#ffffff;
scrollbar-face-color: #d6d2c9;
scrollbar-arrow-color: #9a8b78;
scrollbar-shadow-color: #9a8b78;
scrollbar-highlight-color: #9a8b78;
scrollbar-3dlight-color: #e9e8e4; 
scrollbar-darkshadow-color: #e9e8e4;
scrollbar-track-color: #e9e8e4;
}
.bm_titre, .bm_texte {
color:#000000;
font-family:Verdana, Arial, sans serif;
font-size:10px;
text-decoration:none;
}
.bm_titre {
font-weight:bold;
}
a.bm_header:hover, a.bm_header2:hover, a.bm_titre:hover { text-decoration:underline; }
.bm_itemover { background:#f0f1f1; }
.bm_img { border:1px solid #d5d1c8; margin-left:3px; }

img.bm_sep {
width:95%;
height:1px;
background:#ffffff url(imagesedito/pixel-1-3.gif) left bottom repeat-x;
margin:2px 0px;
}

DIV.FooterCopy {
border-top:solid 1px #B4AA9E;
padding-top:10px;
}
div.afsa_InArt{
	clear:both;
	padding:5px 5px 5px 10px;
	border-top:1px solid #E0E0E0;
}
div.afsa_InArt div.afsa_Titre, table.afsa_ListeV td.afsa_Titre{
	font-family:Trebuchet MS;
	font-size:18px;
	color:#8b746d;
}
div.afsa_InArt ul.afsa_Liste{
	font-family:Arial;
	font-size:12px;
	list-style-image:url(../world/static/edito/afsa_puce.gif);
	margin:5px 0 0 18px;
	padding:0;
}
div.afsa_InArt ul.afsa_Liste li{
	margin:0 0 5px 0;
	padding:0;
	line-height:15px;
}
div.afsa_InArt a.afsa_Ligne:link, a.afsa_Ligne:visited{
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	color:#000000;
}
div.afsa_InArt a.afsa_Ligne:hover{
	font-family:Arial;
	font-size:12px;
	text-decoration:underline;
	color:#000000;
}
div.afsa_Close { 
	float:right; 
	margin:5px 10px 0px 0px;
	width:16px;
	height:16px;
}
img.afsa_Close { 
	width:16px; 
	height:16px; 
	background-image: url('../world/communaute/module/img/options_close.gif'); 
	background-repeat: no-repeat; 
	opacity:.5; filter:alpha(opacity=50); -moz-opacity:.5; 
}
table.afsa_InPost {
	width:100%;
	border-bottom:1px solid #E0E0E0;
}
table.afsa_InPost td.afsa_InPost {
	width:50%;
	vertical-align:top;
}
table.afsa_InPost td.afsa_InPost:first-child {
	border-right:1px solid #E0E0E0;
}
table.afsa_InPost table.afsa_ListeV {
	width: 100%;
	border-top:1px solid #E0E0E0;
}
table.afsa_InPost td.afsa_Ligne {
	text-indent:0;
	border:0px solid transparent;
	padding:5px 5px 5px 10px;
}
table.afsa_InPost table.afsa_Ligne {
	border:0px solid transparent;
}
table.afsa_InPost table.afsa_ListeV td.afsa_Titre {
	text-indent:0;
	border-top:0px solid transparent;
	padding:5px 0px 0px 9px;
}
table.afsa_InPost table.afsa_Ligne a.afsa_V50 {
	font-family: Arial;
	font-size: 12px;
	color: black;
}

/* SeeAlso V2 : global */
DIV.clearFloat{clear:both;font-size:0px;}

DIV.afsa_v2{padding:0 9px 9px 9px; text-align:left; }
DIV.afsa_cadre{border-top:3px solid #e8e5e2;padding-top:15px;}

DIV.afsa_v2 H3{margin:0 0 5px 0;padding:0;font:normal 23px/25px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#7d0645;}
DIV.afsa_v2 H3.afsa_relatedTitle{font-size:20px;padding:0;}

DIV.afsa_v2 DIV.afsa_container{width:460px;height:270px;cursor:pointer;text-align:left;}
DIV.afsa_v2 IMG.play_btn{display:block;width:64px;height:64px;position:absolute;margin:95px 0 0 198px;}
DIV.afsa_v2 UL#afsa_VidMenu{display:block;margin:0;padding:0;list-style-type:none;}
DIV.afsa_v2 UL#afsa_VidMenu LI{display:block;padding:0;background:#fff;cursor:pointer;}
DIV.afsa_v2 UL#afsa_VidMenu LI:hover, DIV.afsa_v2 UL#afsa_VidMenu LI.selected{background:#f4f1ed;}

DIV.afsa_v2 UL#afsa_VidMenu TD.img{width:56px;height:56px;}
DIV.afsa_v2 UL#afsa_VidMenu TD.img DIV{border:1px solid #dcd6cd;}
DIV.afsa_v2 UL#afsa_VidMenu TD.img DIV IMG{display:block;width:50px;height:50px;margin:2px;}
DIV.afsa_v2 UL#afsa_VidMenu TD.label{padding-left:8px;font:normal 13px/18px Arial, Helvetica, sans-serif;color:#006871;text-align:left;}
DIV.afsa_v2 A.plusdevids{display:block;margin-top:15px;font:normal 13px/15px Arial, Helvetica, sans-serif;color:#006871;}

/* 480 */
DIV.afsa_v2_480 {padding:0;}
UL.afsa_relLinks{margin:0 0 10px 0;padding:0 0 0 20px;list-style-type:disc;clear:both;color:#006871;font:normal 13px/16px Arial, Helvetica, sans-serif;}
UL.afsa_relLinks LI{padding:8px 0;margin:0;}
UL.afsa_relLinks LI A{text-decoration:none;color:#006871;}
UL.afsa_relLinks LI A:hover{text-decoration:underline;}
DIV.afsa_v2 UL#afsa_VidMenu{width:460px;margin-top:9px;}
DIV.afsa_v2 UL#afsa_VidMenu LI{width:220px;margin:0 20px 0 0;float:left;text-align:left;}
DIV.afsa_v2 UL#afsa_VidMenu LI.last{margin:0;}
DIV.afsa_v2 DIV.afsa_container{margin-top:9px;}

/* 686 */
DIV.afsa_relLinks{margin-bottom:5px;}
DIV.afsa_relLinks DIV{width:49%;}
DIV.afsa_relLinks DIV.afsa_relLinks_left{float:left;}
DIV.afsa_relLinks DIV.afsa_relLinks_right{float:right;}
DIV.afsa_relLinks DIV UL{margin:0;padding:0 0 0 20px;list-style-type:disc;font:normal 13px/16px Arial, Helvetica, sans-serif;color:#006871;}
DIV.afsa_relLinks DIV UL LI{padding:8px 0;margin:0;}
DIV.afsa_relLinks DIV UL LI A{text-decoration:none;color:#006871;}
DIV.afsa_relLinks DIV UL LI A:hover{text-decoration:underline;}

DIV.afsa_relVids{width:665px;margin-top:10px;}
DIV.afsa_v2 DIV.afsa_relVids DIV.afsa_container{float:left;margin-top:0px;}
DIV.afsa_v2 DIV.afsa_vidThumbs{width:185px;float:right;}
DIV.afsa_v2 DIV.afsa_vidThumbs UL#afsa_VidMenu{width:185px;margin-top:0px;}
DIV.afsa_v2 DIV.afsa_vidThumbs UL#afsa_VidMenu LI{width:185px;margin:0 0 22px 0;float:none;}