body{
	margin:0;
	padding:0;
	background-color:#fff;
	text-align:center;
}
form{
	margin:0;
	padding:0;
}

b.afcrn {
	display:block;
	font-size:1px;
}
b.afcrn b {
	display:block;
	height:1px;
	font-size:1px;
	overflow:hidden;
	border-width:0 1;
	border-style:solid;
	border-color:#fff;
}
b.afcrn b {
	border-width:0 !important;
}
b.afcrn b.afcrn_b {
	border-width:0 1px !important;
}

/* Navigation secondaire */
DIV.contenuSousMenu{
border-top:solid 2px #e3dbd1;
background-color:#ffffff;
background-image:url(imagesedito/pixel-1-3-menu.gif);
background-repeat:repeat-x;
background-position:center bottom;
padding-top:2px;
}
.separationMenuComm{
font-weight:normal;
font-size: 9px;
color: #444444;
font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
a.afmod_navClubOff, a.afmod_navServicesOff, a.afmod_navServicesOn, a.afmod_navClubOn {
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #444444;
text-decoration: none;
display:block;
padding:4px 6px 4px 6px;
vertical-align:middle;
height:13px;
}
a.afmod_navClubOn {
color: #000000;
}
a.afmod_navClubOff{
color: #444444;
}
a.afmod_navClubOn, a.afmod_navClubOff:hover, a.afmod_navServicesOn, a.afmod_navServicesOff:hover {
text-decoration: underline;
}

/* Navigation principale */
DIV.FondNavEdito{
margin-top:1px;
}
.NavEditoFond {
background-color: #ffffff;
height: 30px;
}
td.NavEditoSeparation {
width:1px;
height: 30px;
background-color: #f8f2ec;
}
a.NavEdito, a.NavEditoDbl {
font:normal 14px/13px Arial, Helvetica, sans-serif;
vertical-align:middle;
padding:8px 2px 9px 2px;
text-decoration: none;
display:block;
}
a.NavEdito:hover, a.NavEditoDbl:hover {
text-decoration: none;
color:#ffffff;
}
a.NavEditoOn, a.NavEditoDblOn {
font:normal 14px/13px Arial, Helvetica, sans-serif;
vertical-align:middle;
padding:8px 2px 9px 2px;
text-decoration: none;
color:#ffffff;
display:block;
}
a.NavEditoOn:hover, a.NavEditoDblOn:hover {
text-decoration: none;
}
a.NavEditoDbl, a.NavEditoDblOn{
padding:4px 2px 6px 6px;
text-indent:2px;
line-height:10px;
text-align:left;
}
a.NavEditoAvec {
vertical-align:middle;
text-decoration: none;
}
a.NavEditoAvec:hover {
text-decoration: none;
}
td.navPrinLuxe, td.navPrinStars, td.navPrinSante{
font:normal 14px/13px Arial, Helvetica, sans-serif;
text-align:center;
vertical-align:middle;
height: 33px;
padding:0px 5px 0px 5px;
background-color:#ffffff;
border-top: solid 3px;
}
td.navPrinLuxe{
border-color: #000000;
}
td.navPrinStars{
border-color: #ab8cbc;
}
td.navPrinSante{
border-color: #2b9fd1;
}

td.SepMenuDAvec{
width:3px;
height:auto;
}
td.SepMenuGAvec{
width:3px;
height:auto;
}
SPAN.navSmallAvec{
font-size: 10px;
font-weight: bold;
vertical-align:middle;
text-transform:none;
text-decoration: none;
color:#898989;
}

TD.navPrinAccueil  {
border-top:solid 3px #e3dbd1;
}
.navPrinAccueil a, .navPrinAstro a, .navPrinBeaute a, .navPrinCouple a, .navPrinCuisine a, .navPrinDeco a, .navPrinSociete a, .navPrinDetente a, .navPrinForme a, .navPrinMode a, .navPrinMaman  a, .navPrinMariage a, .navPrinNosHommes a, .navPrinPsycho a, .navPrinPeople a, .navPrinNews a{
color: #5f5035;
}
.navPrinAccueil  a:hover{
background-color:#e3dbd1;
color:#5f5035;
}
TD.navPrinAstro  {
border-top:solid 3px #6c0014;
}
.navPrinAstro  a.NavEditoOn, .navPrinAstro  a:hover{
background-color:#6c0014;
color:#ffffff;
}
TD.navPrinBeaute  {
border-top:solid 3px #ddbea1;
}
.navPrinBeaute  a.NavEditoOn, .navPrinBeaute  a:hover{
background-color:#ddbea1;
color:#ffffff;
}
TD.navPrinCouple {
border-top:solid 3px #d37f97;
}
.navPrinCouple  a.NavEditoOn, .navPrinCouple  a:hover{
background-color:#d37f97;
color:#ffffff;
}
TD.navPrinCuisine {
border-top:solid 3px #ba3882;
}
.navPrinCuisine  a.NavEditoOn, .navPrinCuisine  a:hover{
background-color:#ba3882;
color:#ffffff;
}
TD.navPrinDeco {
border-top:solid 3px #e87d0b;
}
.navPrinDeco  a.NavEditoOn, .navPrinDeco  a:hover{
background-color:#e87d0b;
color:#ffffff;
}
TD.navPrinSociete {
border-top:solid 3px #89756e;
}
.navPrinSociete  a.NavEditoOn, .navPrinSociete  a:hover{
background-color:#89756e;
color:#ffffff;
}
TD.navPrinDetente {
border-top:solid 3px #eec52d;
}
.navPrinDetente  a.NavEditoOn, .navPrinDetente  a:hover{
background-color:#eec52d;
color:#ffffff;
}
TD.navPrinForme {
border-top:solid 3px #3f8aa9;
}
.navPrinForme  a.NavEditoOn, .navPrinForme  a:hover{
background-color:#3f8aa9;
color:#ffffff;
}
.navPrinLuxe a{
color: #000000;
}
TD.navPrinMode {
border-top:solid 3px #3e3e3e;
}
.navPrinMode a{
color: #5f5035;
}
.navPrinMode  a.NavEditoOn, .navPrinMode  a:hover{
background-color:#3e3e3e;
color:#ffffff;
}
TD.navPrinMaman  {
border-top:solid 3px #97b9ab;
}
.navPrinMaman  a.NavEditoOn, .navPrinMaman  a:hover{
background-color:#97b9ab;
color:#ffffff;
}
TD.navPrinMariage {
border-top:solid 3px #b7c1e0;
}
.navPrinMariage  a.NavEditoOn, .navPrinMariage  a:hover{
background-color:#b7c1e0;
color:#ffffff;
}
TD.navPrinNosHommes {
border-top:solid 3px #959595;
}
.navPrinNosHommes  a.NavEditoDblOn, .navPrinNosHommes  a:hover{
background-color:#959595;
color:#ffffff;
}
TD.navPrinPsycho {
border-top:solid 3px #23657d;
}
.navPrinPsycho  a.NavEditoOn, .navPrinPsycho  a:hover{
background-color:#23657d;
color:#ffffff;
}
.navPrinSante a{
color: #2b9fd1;
}
.navPrinStars a{
color: #764691;
}
TD.navPrinPeople {
border-top:solid 3px #ccb152;
}
.navPrinPeople  a.NavEditoOn, .navPrinPeople  a:hover{
background-color:#ccb152;
color:#ffffff;
}
TD.navPrinTv {
border-top:solid 3px #666;
/* background:url(/tv/imagestv/4/new.gif) no-repeat center bottom; */
}
.navPrinTv a{
color: #5f5035;
}
.navPrinTv  a.NavEditoOn, .navPrinTv  a:hover{
background-color:#666;
color:#ffffff;
}
TD.navPrinNews {
border-top:solid 3px #BEBCBD;
/* background:url(/tv/imagestv/4/new.gif) no-repeat center bottom; */
}
.navPrinNews a{
color: #5f5035;
}
.navPrinNews  a.NavEditoOn, .navPrinNews  a:hover{
background-color:#BEBCBD;
color:#ffffff;
}

/* Sous menu */
b.MenuSousRub_Corner b.afcrn_c { background-color:#ffffff; }

TABLE.MenuSousRub_Cadre{
font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; /*font-family: "Times New Roman", Times, serif; */
background-color:#ffffff;
}
TD.MenuSousRub_Titre{
padding: 0px 5px 5px 10px;
}
TD.MenuSousRub_Titre a{
color: #999999;
font-size: 30px;
font-style: normal;
text-decoration:none;
font-weight: bold;
}
TD.MenuSousRub_Titre a:hover{
text-decoration:none;
}
a.MenuSousRub, a.MenuSousRubOn, a.MenuThema, a.MenuThemaOn {
color: #5f5035;
display:block;
font-size: 15px; /*12px;*/
font-style: normal;
font-weight: bold;
/*text-transform: uppercase;*/
text-decoration:none;
padding: 2px 0px 2px 10px;
text-decoration:none;
line-height: 18px;
border-left:solid 1px #5f5035;
}
a.MenuSousRub:hover, a.MenuSousRubOn{
color: #000000;
}
a.MenuThema, a.MenuThemaOn {
color: #959595;
font-size: 13px; /*11px;*/
font-style: normal;
background-position:25px 50%;
padding: 2px 5px 2px 30px;
}
a.MenuThema:hover, a.MenuThemaOn{
color: #000000;
}


/* Bread Crumb */
DIV.af_breadCrumb{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #5f5033;
padding-bottom:5px;
}
DIV.af_breadCrumb a.af_bcAccueil{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #5f5033;
text-decoration:none;
}
DIV.af_breadCrumb a.af_bcAccueil:hover{
text-decoration:underline;
}
DIV.af_breadCrumb a.af_bcRubrique{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #5f5033;
text-decoration:none;
}
DIV.af_breadCrumb a.af_bcRubrique:hover{
text-decoration:underline;
}
DIV.af_breadCrumb .af_bcPageActuelle{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #847965;
text-decoration:none;
}
div.af_breadCrumb h1{
margin:0;padding:0;display:inline;
}

/* Boutons col centre */
div.af_colCentre div.af_btn A,div.af_contentDiv2 div.af_btn A {
	display: inline-block;
	font: normal 12px Arial,Verdana,sans-serif;
	padding: 6px 16px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	color: #fff;
	background: #7E0846;
	text-align: center;
	text-decoration: none;
}
div.af_colCentre div.af_btn A:HOVER,div.af_contentDiv2 div.af_btn A:HOVER {
	box-shadow: 0 0 6px #707070;
	-webkit-box-shadow: 0 0 6px #707070;
	-moz-box-shadow: 0 0 6px #707070;
	-o-box-shadow: 0 0 6px #707070;
	-ms-box-shadow: 0 0 6px #707070;
}

/* Blog AF */
DIV.af_moduleBlogAFTotal{ margin-top:10px;}
b.af_moduleBlogAF b.afcrn_b { background-color:#f4ebd3; border-color:#a29b91; }
b.af_moduleBlogAF b.afcrn_cb { background-color:#a29b91; }
b.af_moduleBlogAFBas b.afcrn_b { background-color:#ffffff; border-color:#a29b91; }
b.af_moduleBlogAFBas b.afcrn_cb { background-color:#a29b91; }
TABLE.af_blogAF{
width:100%;
margin:0px 0px 0px 0px;
background-color:#ffffff;
background-image:url(imagesedito/fond-blog-af.gif);
background-repeat:repeat-x;
background-position:left top;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
color:#000000;
border-left:solid 1px #a29b91;
border-right:solid 1px #a29b91;
}
TABLE.af_blogAF .af_blogAFTitre{
font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
font-size:17px;
font-weight:normal;
color:#645c4f;
line-height:19px;
padding:3px 5px 5px 10px;
background-image:url(imagesedito/pixel-1-3.gif);
background-repeat:repeat-x;
background-position:left bottom;
}
TABLE.af_blogAF .af_blogAFTitre2{
font-size:22px;
font-weight:bold;
color:#a9141c;
}
a.af_blogAFTexte{
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#000000;
padding-right:3px;
text-decoration:none;
}
a.af_blogAFTexte:hover{
text-decoration:none;
color:#828282;
}
TABLE.af_blogAF .af_blogAFImage{
border:solid 1px #bcb9af;
}
a.af_blogAFTexte2{
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#828282;
padding:0px 10px 0px 10px;
background-image:url(imagesedito/fleche-blog.gif);
background-position:left 50%;
background-repeat:no-repeat;
text-decoration:none
}
a.af_blogAFTexte2:hover{
text-decoration:underline;
}
IMG.af_blogEspace{
width:1px;
height:10px;
}

/************** Newsletter ******************/
DIV.newsletterAF{
	margin:10px 0px 10px 0px;
}
DIV.newsletterAF .titre{
	padding-left:15px;
	background-image:url(imagesedito/picto-newsletter.gif);
	background-repeat:no-repeat;
	background-position:left 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ae232a;
	margin-bottom:5px;
}
DIV.newsletterAF .newsForm{
	width:130px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-left:5px;
	border:solid 1px #afa89e;
	background-color:#ffffff;
}
DIV.newsletterAF .btnNewsletter{
	width:25px;
	height:19px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color:#afa89e;
	border:solid 0px #afa89e;
}

b.af_moduleNewsAF b.afcrn_b { background-color:#e3e4e6; border-color:#d8d8d8; }
b.af_moduleNewsAF b.afcrn_cb { background-color:#d8d8d8;}

DIV.newsletterAF .fondNewsletter{
background-color:#e3e4e6;
border-left:solid 1px #d8d8d8;
border-right:solid 1px #d8d8d8;
}


/* Bloc Note */
.bm_cadre0 {
margin-top:15px;
}
table.bm_cadre { 
background:#9a8b78; 
border-left:1px solid #9a8b78;
border-right:1px solid #9a8b78;
}
td.bm_cadre { 
background:#ffffff;
}
b.bm_cadre b.afcrn_c, b.bm_cadreBas b.afcrn_cb { background:#9a8b78;}
b.bm_cadreBas b.afcrn_c { background:#ffffff; }
b.bm_cadreBas b.afcrn_b { background:#ffffff; border-color:#9a8b78; }

.bm_header {
color:#ffffff;
font-family:Arial, Verdana, sans serif;
font-size:11px;
text-decoration:none;
}
td.bm_header {
padding:0 3px;
}
td.bm_tabs {
border-top:1px solid #e4d8ca;
padding-top:4px;
}

b.bm_tab b.afcrn_c { border-color:#9a8b78; }

td.bm_tabActif, td.bm_tabInactif {
background:#ffffff;
border-right:2px solid #9a8b78;
}
td.bm_tabInactif { background:#d6d2c9; }

td.bm_tabActif div, td.bm_tabInactif div {
color:#000000;
font-family:Arial, Helvetica, sans serif;
font-size:11px;
font-weight:bold;
text-decoration:none;
padding:0 3px;
}
.bm_content {
background:#ffffff;
scrollbar-face-color: #d6d2c9;
scrollbar-arrow-color: #9a8b78;
scrollbar-shadow-color: #9a8b78;
scrollbar-highlight-color: #9a8b78;
scrollbar-3dlight-color: #e9e8e4; 
scrollbar-darkshadow-color: #e9e8e4;
scrollbar-track-color: #e9e8e4;
}
.bm_titre, .bm_texte {
color:#000000;
font-family:Verdana, Arial, sans serif;
font-size:10px;
text-decoration:none;
}
.bm_titre {
font-weight:bold;
}
a.bm_header:hover, a.bm_header2:hover, a.bm_titre:hover { text-decoration:underline; }
.bm_itemover { background:#f0f1f1; }
.bm_img { border:1px solid #d5d1c8; margin-left:3px; }

img.bm_sep {
width:95%;
height:1px;
background:#ffffff url(imagesedito/pixel-1-3.gif) left bottom repeat-x;
margin:2px 0px;
}

div.afsa_InArt{
	clear:both;
	padding:5px 5px 5px 10px;
	border-top:1px solid #E0E0E0;
}
div.afsa_InArt div.afsa_Titre, table.afsa_ListeV td.afsa_Titre{
	font-family:Trebuchet MS;
	font-size:18px;
	color:#8b746d;
}
div.afsa_InArt ul.afsa_Liste{
	font-family:Arial;
	font-size:12px;
	list-style-image:url(../world/static/edito/afsa_puce.gif);
	margin:5px 0 0 18px;
	padding:0;
}
div.afsa_InArt ul.afsa_Liste li{
	margin:0 0 5px 0;
	padding:0;
	line-height:15px;
}
div.afsa_InArt a.afsa_Ligne:link, a.afsa_Ligne:visited{
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	color:#000000;
}
div.afsa_InArt a.afsa_Ligne:hover{
	font-family:Arial;
	font-size:12px;
	text-decoration:underline;
	color:#000000;
}
div.afsa_Close { 
	float:right; 
	margin:5px 10px 0px 0px;
	width:16px;
	height:16px;
}
img.afsa_Close { 
	width:16px; 
	height:16px; 
	background-image: url('../world/communaute/module/img/options_close.gif'); 
	background-repeat: no-repeat; 
	opacity:.5; filter:alpha(opacity=50); -moz-opacity:.5; 
}
table.afsa_InPost {
	width:100%;
	border-bottom:1px solid #E0E0E0;
}
table.afsa_InPost td.afsa_InPost {
	width:50%;
	vertical-align:top;
}
table.afsa_InPost td.afsa_InPost:first-child {
	border-right:1px solid #E0E0E0;
}
table.afsa_InPost table.afsa_ListeV {
	width: 100%;
	border-top:1px solid #E0E0E0;
}
table.afsa_InPost td.afsa_Ligne {
	text-indent:0;
	border:0px solid transparent;
	padding:5px 5px 5px 10px;
}
table.afsa_InPost table.afsa_Ligne {
	border:0px solid transparent;
}
table.afsa_InPost table.afsa_ListeV td.afsa_Titre {
	text-indent:0;
	border-top:0px solid transparent;
	padding:5px 0px 0px 9px;
}
table.afsa_InPost table.afsa_Ligne a.afsa_V50 {
	font-family: Arial;
	font-size: 12px;
	color: black;
}

/* SeeAlso V2 : global */
DIV.clearFloat{clear:both;font-size:0px;}

DIV.afsa_v2{padding:0 9px 9px 9px; text-align:left; }
DIV.afsa_cadre{border-top:3px solid #e8e5e2;padding-top:15px;}

DIV.afsa_v2 H3{margin:0 0 5px 0;padding:0;font:normal 23px/25px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#7d0645;}
DIV.afsa_v2 H3.afsa_relatedTitle{font-size:20px;padding:0;}

DIV.afsa_v2 DIV.afsa_container{width:460px;height:270px;cursor:pointer;text-align:left;}
DIV.afsa_v2 IMG.play_btn{display:block;width:64px;height:64px;position:absolute;margin:95px 0 0 198px;}
DIV.afsa_v2 UL#afsa_VidMenu{display:block;margin:0;padding:0;list-style-type:none;}
DIV.afsa_v2 UL#afsa_VidMenu LI{display:block;padding:0;background:#fff;cursor:pointer;}
DIV.afsa_v2 UL#afsa_VidMenu LI:hover, DIV.afsa_v2 UL#afsa_VidMenu LI.selected{background:#F7F7F7;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;-ms-border-radius: 2px;}
DIV.afsa_v2 UL#afsa_VidMenu LI:hover {box-shadow: 0 0 6px #707070;-webkit-box-shadow: 0 0 6px #707070;-moz-box-shadow: 0 0 6px #707070;-ms-box-shadow: 0 0 6px #707070;}

DIV.afsa_v2 UL#afsa_VidMenu TD.img{width:56px;height:56px;}
DIV.afsa_v2 UL#afsa_VidMenu TD.img DIV{border:1px solid #dcd6cd;}
DIV.afsa_v2 UL#afsa_VidMenu TD.img DIV IMG{display:block;width:50px;height:50px;margin:2px;}
DIV.afsa_v2 UL#afsa_VidMenu TD.label{padding-left:8px;font:normal 13px/18px Arial, Helvetica, sans-serif;color:#006871;text-align:left;}
DIV.afsa_v2 A.plusdevids{display:block;margin-top:15px;font:normal 13px/15px Arial, Helvetica, sans-serif;color:#006871;}

/* 480 */
DIV.afsa_v2_480 {padding:0;}
UL.afsa_relLinks{margin:0 0 10px 0;padding:0 0 0 20px;list-style-type:disc;clear:both;color:#006871;font:normal 13px/16px Arial, Helvetica, sans-serif;}
UL.afsa_relLinks LI{padding:8px 0;margin:0;}
UL.afsa_relLinks LI A{text-decoration:none;color:#006871;}
UL.afsa_relLinks LI A:hover{text-decoration:underline;}
DIV.afsa_v2 UL#afsa_VidMenu{width:460px;margin-top:9px;}
DIV.afsa_v2 UL#afsa_VidMenu LI{width:220px;margin:0 20px 0 0;float:left;text-align:left;}
DIV.afsa_v2 UL#afsa_VidMenu LI.last{margin:0;}
DIV.afsa_v2 DIV.afsa_container{margin-top:9px;}

/* 686 */
DIV.afsa_relLinks{margin-bottom:5px;}
DIV.afsa_relLinks DIV{width:49%;}
DIV.afsa_relLinks DIV.afsa_relLinks_left{float:left;}
DIV.afsa_relLinks DIV.afsa_relLinks_right{float:right;}
DIV.afsa_relLinks DIV UL{margin:0;padding:0 0 0 20px;list-style-type:disc;font:normal 13px/16px Arial, Helvetica, sans-serif;color:#006871;}
DIV.afsa_relLinks DIV UL LI{padding:8px 0;margin:0;}
DIV.afsa_relLinks DIV UL LI A{text-decoration:none;color:#006871;}
DIV.afsa_relLinks DIV UL LI A:hover{text-decoration:underline;}

DIV.afsa_relLinks LI.accueil { list-style:none;font-weight:bold; background: url(imagesedito2/nav_sprites.png) 0px -113px no-repeat;
padding-left: 20px; }

DIV.afsa_relVids{width:665px;margin-top:10px;}
DIV.afsa_v2 DIV.afsa_relVids DIV.afsa_container{float:left;margin-top:0px;}
DIV.afsa_v2 DIV.afsa_vidThumbs{width:185px;float:right;}
DIV.afsa_v2 DIV.afsa_vidThumbs UL#afsa_VidMenu{width:185px;margin-top:0px;}
DIV.afsa_v2 DIV.afsa_vidThumbs UL#afsa_VidMenu LI{width:185px;margin:0 0 22px 0;float:none;}


/* Footer Edito */
DIV.af_footerDiv, DIV.af_footerDiv .lsh, .lshb {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}
DIV.af_footerDiv a {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	text-decoration:none;
	line-height: 15px;
}
DIV.af_footerDiv a:hover {
	text-decoration:underline;
}
DIV.af_footeredito{
	border-top:solid 3px #E6E3E0;
    overflow: auto;
}
DIV.af_footeredito DIV.lshb, DIV.af_footeredito2 .lshb {
	color: #7E0845;
	font-size:12px;
	font-weight:bold;
}
DIV.af_footeredito .lsh, DIV.af_footeredito2 .lsh {
	color: #000;
	font-size:12px;
}
DIV.FooterCopy {
border-top:solid 1px #E6E3E0;
padding-top:10px;
color: #A6A7A8;
}
DIV.FooterCopy a,  DIV.FooterCopy a:hover{
	color: #A6A7A8;
}


/* include album slider */
DIV.af_inc_album{width:686px;height:140px;background:#000;cursor:pointer;margin-bottom:20px;}
DIV.af_inc_album_slider{width:344px;height:140px;margin:0 0 0 auto;}
DIV.af_inc_album SPAN.control{display:block;float:left;width:37px;height:37px;background:url(imagesedito2/arrow_inc_album.png) 0 0 no-repeat;margin-top:55px;}
DIV.af_inc_album SPAN.controlRight{background-position:right center;}
DIV.af_inc_album DIV.af_inc_album_overflow{width:261px;float:left;overflow:hidden;height:140px;}
DIV.af_inc_album DIV.af_album_group{float:left;height:90px;overflow:hidden;margin-top:25px;}
DIV.af_inc_album DIV.af_album_group A{display:block;float:left;width:75px;height:75px;border:1px solid #fff;box-shadow:0 2px 3px 0 #000;-webkit-box-shadow:0 2px 3px 0 #000;-moz-box-shadow:0 2px 3px 0 #000;-ms-box-shadow:0 2px 3px 0 #000;-o-box-shadow:0 2px 3px 0 #000;margin:5px;}
DIV.af_inc_album DIV.af_album_group A IMG{display:block;border:0 none;width:75px;height:75px;}

/*
============================================
Colonne de droite |-> Merge all versions 
============================================
*/

DIV.af_bloc_editoV2 DIV.af_bloc_top, DIV.af_bloc_colV2 DIV.af_bloc_top, DIV.af_bloc_colV2b DIV.af_bloc_top { height:3px; margin-bottom:1px; font-size:0px; clear:both; }

div.af_colDroite{width:300px;float:left;text-align:left;}
div.af_colDroiteContainer{position:absolute;}
h3.af_bloc_titre, h3.af_bloc_titre A, h3.af_bloc_titre A:HOVER {font:normal 23px/27px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; word-spacing: -1px; color:#7E0846;padding:2px 5px 10px 5px;margin:0; text-decoration:none;}

/* bouton */
div.af_colDroite DIV.af_btn{margin:5px 0;text-align:center;}
div.af_colDroite DIV.af_btn A{display:inline-block;*display:inline;*zoom:1;font:normal 12px Arial,Verdana,sans-serif;padding:6px 16px;border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px;color:#fff;background:#7E0846;text-align:center;text-decoration:none;}
div.af_colDroite DIV.af_btn A:hover{box-shadow:0 0 6px #707070; -webkit-box-shadow:0 0 6px #707070; -moz-box-shadow:0 0 6px #707070; -o-box-shadow:0 0 6px #707070; -ms-box-shadow:0 0 6px #707070;}

DIV.af_bloc_colV2 DIV.af_bloc_top, DIV.af_bloc_colV2b DIV.af_bloc_top { background:#e6e3e0; }
DIV.af_bloc_colV2b TD.af_liveNewsButtonOff { color:#CCC; }

DIV.af_bloc_colV2, DIV.af_bloc_colV2b { clear:both; font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; display:block; }
DIV.af_bloc_colV2 DIV.af_bloc_cadre, DIV.af_bloc_colV2b DIV.af_bloc_cadre { border:solid 1px #E6E3E0; margin-bottom:20px; font-family:Arial, Verdana, sans-serif; font-size:13px; line-heigh:15px;}
DIV.af_bloc_colV2 TABLE.af_bloc_titre, DIV.af_bloc_colV2b TABLE.af_bloc_titre  { margin:0 6px 10px 5px; font-weight:normal; border-top:solid 2px #fff;border-top-color:#fff; }
DIV.af_bloc_colV2 TABLE.af_bloc_titre  { font-size:16px; }
DIV.af_bloc_colV2b TABLE.af_bloc_titre { font-size:20px; }
DIV.af_bloc_colV2 TABLE.af_bloc_titre TD { height:29px; }
DIV.af_bloc_colV2b TABLE.af_bloc_titre TD { height:34px; }

DIV.af_bloc_colV2 TD.af_bloc_titreL ,DIV.af_bloc_colV2 TD.af_bloc_titreL{ width:0px; }
DIV.af_bloc_colV2 TD.af_bloc_titreC , DIV.af_bloc_colV2b TD.af_bloc_titreC{color:#fff;font:normal 23px/27px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; word-spacing: -1px; color:#7E0846;padding:0; }
DIV.af_bloc_colV2 TD.af_bloc_titreR, DIV.af_bloc_colV2b TD.af_bloc_titreR  { width:7px; }

DIV.af_bloc_colV2b DIV.af_bloc_live_main { font-size:12px; line-height:15px; padding:0 5px; height:115px; overflow:hidden; width:250px; font-family:Arial, Verdana, sans-serif; word-spacing:normal; }
DIV.af_bloc_colV2b DIV.af_bloc_live_main A{color:#000;text-decoration:none; }
DIV.af_bloc_colV2b DIV.af_bloc_live_main A:HOVER{ text-decoration:underline; }
DIV.af_bloc_colV2b DIV.af_bloc_live_main TD.af_bloc_live_time { padding-right:10px;color:#575551; }
DIV.af_bloc_colV2b DIV.af_bloc_live_main TD { padding-bottom:8px; }
DIV.af_bloc_colV2b TABLE.af_liveNewsContent { margin-bottom:5px; }
DIV.af_bloc_colV2b TD.af_bloc_live_time { font-family:Arial, Helvetica, sans-serif; font-size:10px; }
DIV.af_bloc_colV2b TD A.af_bloc_live_link { letter-spacing:0; }
DIV.af_bloc_colV2b TABLE.af_liveNewsArrows { font-family:Arial; font-size:15px; font-weight:bold; }
DIV.af_bloc_colV2b TD.af_liveNewsButtonUp { padding-bottom:35px; }
DIV.af_bloc_colV2b TD.af_liveNewsButtonDown { padding-top:35px; }
DIV.af_bloc_colV2b TD.af_liveNewsButtonOn { cursor:pointer;color:#575551; }
DIV.af_bloc_colV2b DIV.af_bloc_live_pub { display:block; margin:5px; }
DIV.af_bloc_colV2b DIV.af_bloc_live_pub A, DIV.af_bloc_colV2b DIV.af_bloc_live_pub A:HOVER { text-decoration:none;background:#575551; color:#fff; }

DIV.af_bloc_colV2 TABLE.afvote_cadre { text-align:left; }
DIV.af_bloc_colV2 TABLE.afvote_cadre TD.afvote_reponse { font-family:Arial, Verdana, sans-serif; font-size:13px; word-spacing:normal; }
DIV.af_bloc_colV2 TABLE.afvote_cadre TD { padding:3px 5px; }
DIV.af_bloc_colV2 TABLE.afvote_cadre TD.afvote_titre { font-size:20px; margin-bottom:10px; line-height:22px; font-weight:normal; text-align:left; color:#7e0846; }
DIV.af_bloc_colV2 TABLE.afvote_cadre TD.afvote_reponse { padding-left:5px; }
DIV.af_bloc_colV2 IMG.afvote_liencfm { width:277px; height:74px; margin:15px 0 0 11px; background:url('imagesedito2/logo_cherieFM.gif') left top no-repeat;  }

TABLE.af_bloc_partners TD.af_bloc_partners_txt { padding:0 5px; font-family:Arial, Verdana, sans-serif; }
TABLE.af_bloc_partners TD.af_bloc_partners_txt A {color:#000; text-decoration:none; }
TABLE.af_bloc_partners TD.af_bloc_partners_txt A:HOVER { color:#000;text-decoration:underline; }
TABLE.af_bloc_partners TD IMG { margin:0 5px; }

TABLE.af_bloc_comingsoon TD.af_bloc_comingsoon_txt { padding-left:5px; font-size:18px; line-height:21px; color:#7e0846;}
TABLE.af_bloc_comingsoon TD.af_bloc_dotted_d { font-size: 0; }
TABLE.af_bloc_comingsoon TD.af_bloc_dotted_d IMG { width:4px; height:50px; margin-left:5px; background:url(imagesedito2/separation-edito-col.gif) no-repeat scroll left 50%;}
TABLE.af_bloc_comingsoon TD.af_bloc_comingsoon_img IMG { margin:0 5px; }

DIV#af_bloc_newsletter{background:#7E0846;padding:0 0 8px 0;}
TABLE.af_bloc_newsletterV2{background:none !important;width:280px;margin:auto;}
TABLE.af_bloc_newsletterV2 TD { padding:5px 3px;color:#fff;  }
TABLE.af_bloc_newsletterV2 TD SPAN { display:block; margin:0; padding:0; border:solid 1px #756f66;}
TABLE.af_bloc_newsletterV2 TD INPUT { font-size:12px; font-family:arial, sans-serif; color:#000; border:solid 1px #fff; }
TABLE.af_bloc_newsletterV2 TD INPUT.newsForm { width:220px; height:19px; padding-left:3px; }
TABLE.af_bloc_newsletterV2 TD INPUT.btnNewsletter { width:55px; height:23px;background: #f5f5f5; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e2e1', endColorstr='#f5f5f5'); background: -webkit-gradient(linear, left top, left bottom, from(#e3e2e1), to(#f5f5f5)); background: -moz-linear-gradient(top,  #e3e2e1,  #f5f5f5);}
TABLE.af_bloc_newsletterV2 TD P{padding:0 0 5px 0;margin:0;font:normal 12px/16px Arial, Helvetica, sans-serif;color:#fff;word-spacing:normal;}
TABLE.af_bloc_newsletterV2 TD.inputNewsletter{width:243px;padding:0;}
TABLE.af_bloc_newsletterV2 TD.inputNewsletter input{margin:0;padding:0 0 0 5px;border:0 none;background: -moz-linear-gradient(#fff, #e7e7e7);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7e7e7));background-color :#fff;width:238px;height:27px;}
TABLE.af_bloc_newsletterV2 TD.btnNewsletter{padding:0 0 0 6px;}
TABLE.af_bloc_newsletterV2 TD.btnNewsletter a{display:block;width:31px;height:27px;text-align:center;background: -moz-linear-gradient(#fff, #e7e7e7);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e7e7e7));background-color :#fff;font:bold 12px/12px Arial, Helvetica, sans-serif;color:#7E0846;text-decoration:none;}
TABLE.af_bloc_newsletterV2 TD.btnNewsletter a span{display:block;padding:8px 0 0 0;border:none;}

/* Les Tops (colonnes g & d) */
DIV.af_BlocTopTotal{margin:10px 0px;}
table.af_TopBloc{font-family: Arial, Helvetica, sans-serif;font-smooth:always;background:#cbc4ba;border-left:1px solid #cbc4ba;border-right:1px solid #cbc4ba;}
DIV.af_colDroite table.af_TopBloc {border-left: 1px solid #E6E3E0;border-right: 1px solid #E6E3E0;}
DIV.af_BlocTopTotal .af_TopBlocTitre, DIV.af_colDroite .af_TopBlocTitre {color:#4d4d4d;padding:5px 10px 2px 10px;line-height:18px;}
DIV.af_BlocTopTotal .af_TopBlocTitre{font-family: Arial, Helvetica, sans-serif;font-size:12px;font-style:normal;font-weight:bold;}
DIV.af_colDroite .af_TopBlocTitre{background: #FFFFFF; color: #7E0846;font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;font-size: 20px;font-style: normal;line-height: 23px;word-spacing: -1px;}

DIV.af_BlocTopTotal.af_TopBlocTitre2{font-size:12px;}
DIV.af_BlocTopTotal .af_TopBlocTitre b{font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;font-size:20px;font-style:normal;}
.af_TopBlocTitre em{font-style:normal;color:#000000;}
div.af_TopBlocContenu{padding:5px;background-color:#ffffff;}
table.af_TopBlocContenu{display:block;}
tr.af_TopBlocLien td{font-size:11px;color:#000;}
.af_TopBlocLien a {color:#000;text-decoration:none;}
DIV.af_colDroite tr.af_TopBlocLien td{font-size:13px;line-height: 17px;color:#000;}
DIV.af_colDroite .af_TopBlocLien a {color:#7E0846;text-decoration:none;}
.af_TopBlocLien a img{border:1px solid #fff;}
.af_TopBlocLien a:hover{text-decoration:underline;}
.af_TopBlocLien small {font-size:9px;color:#999999}
a.af_TopBlocTous{background-image: url(imagesedito/fleche-top-5.gif);background-position: left 50%;background-repeat: no-repeat;padding-left:8px;text-decoration:underline;}
b.afBlocTop b.afcrn_c { background:#cbc4ba; }
DIV.af_colDroite b.afBlocTop b.afcrn_c{background: #e6e3e0;}
DIV.af_colDroite b.afBlocTop{border-bottom: 1px solid #E6E3E0; padding-bottom: 1px;}
b.afBlocTopBas b.afcrn_b { background-color:#ffffff; border-color:#cbc4ba; }
b.afBlocTopBas b.afcrn_cb { background-color:#cbc4ba; }
DIV.af_colDroite b.afBlocTopBas b.afcrn_c{background: #E6E3E0;}
DIV.af_colDroite b.afBlocTopBas b.afcrn_b { background-color: #FFFFFF;border-color: #E6E3E0;}
DIV.af_colDroite b.afBlocTopBas b.afcrn_cb {background-color: #E6E3E0;}

/* teasers de droite */
div.pub_adecBloc { margin:8px 0px; }
div.pub_adecTitre { background:#e4d8ca; color:#494541; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size:17px; font-weight:normal; padding:0 5px; }
table.pub_adecTable { background:#ffffff; border-left: 1px solid #E6E3E0; border-right: 1px solid #E6E3E0; }
table.pub_adecTable a, table.pub_adecTable .pub_desc { font-family: Verdana, Helvetica, sans-serif; font-size:10px; color:#000000; background:#ffffff; text-decoration:none; }
table.pub_adecTable a:hover { text-decoration:underline; }
table.pub_adecTable img { border:1px solid #e4d8ca; margin:5px 0 3px 5px; display:block; }

b.pub_adecBloc{border-bottom: 1px solid #E6E3E0;padding-bottom: 1px;}
b.pub_adecBloc b.afcrn_c { background:#e6e3e0; }
b.pub_adecBlocBas b.afcrn_b { background-color: #FFFFFF;border-color: #E6E3E0;}
b.pub_adecBlocBas b.afcrn_cb { background-color:#E6E3E0; }
b.pub_adecBlocBas b.afcrn_c{background: #E6E3E0;}

/* outbrain */
div.pub_adecTitre,div.pub_adectitre { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; font-size:20px; color:#7E0846; background:#FFFFFF; padding-bottom:5px; word-spacing: -1px; line-height: 23px; }
DIV.af_colDroite div.pub_adecTitre {border-left: 1px solid #E6E3E0;border-right: 1px solid #E6E3E0; }

/* Observatoiretendances */
b.af_moduleObsAF { padding-bottom: 1px; }
b.af_moduleObsAF b.afcrn_c { background:#dcd6ce; }
b.af_moduleObsAFBas b.afcrn_b { background-color:#ffffff; border-color:#E6E3E0; }
b.af_moduleObsAFBas b.afcrn_cb { background-color:#E6E3E0; }
DIV.af_moduleObsAFTotal{margin-top:20px;margin-bottom:10px;}
TABLE.af_moduleObsAF{width:100%;background-color:#ffffff;border: 1px solid #E6E3E0;padding-bottom: 10px;}
TABLE.af_moduleObsAF TD.af_moduleObsAFTitre{color: #645c4f;background-color:#dcd6ce;font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;font-size: 17px;font-weight: normal;line-height:24px;padding:0px 5px 0px 15px;}
TABLE.af_moduleObsAF TD.af_moduleObsAFTitre SPAN.textTendance{color: #ffffff;background-color:#ad446e;font-size: 20px;padding:0px 3px 0px 3px;}
/* Question du jour */
DIV.af_moduleObsAF_content { margin-top: 20px; }
TABLE.af_moduleObsAF TD.af_moduleObsAFTitre2{ color:#7E0846; font:normal 23px/27px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; padding:3px 5px 7px 5px; letter-spacing: -1px;}
TABLE.af_moduleObsAF TD.af_moduleObsAFTitre2 SPAN.textTendance{ color: #7E0846;font:normal 23px/27px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif; }
TABLE.af_moduleObsAF TD.afvote_texte { color:#717171; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight:normal; padding:0 5px;}

TABLE.afvote_cadre {padding-bottom: 6px;}
TABLE.afvote_cadre TD.afvote_titre{color:#7E0846;font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-style: normal;line-height: 22px;padding:5px;font-weight: normal;text-align: left;}
TABLE.afvote_cadre TD.afvote_reponse {color:#717171;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-style: normal;font-weight:normal;padding:0 10px;line-height:25px;}
TABLE.afvote_cadre  input.afvote_submit{background:#7e0846; border:0 none; color: #fff; font:normal 12px Arial,Verdana,sans-serif; padding:6px 16px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px;}
TABLE.afvote_cadre  input.afvote_submit:hover{cursor:pointer !important; box-shadow:0 0 6px #707070; -webkit-box-shadow:0 0 6px #707070; -moz-box-shadow:0 0 6px #707070; -o-box-shadow:0 0 6px #707070; -ms-box-shadow:0 0 6px #707070;}
TD#contenuNews TABLE.afvote_cadre TD.afvote_titre{color:#7e0846;font-size: 13px;padding:5px;}

TABLE.afvote_cadre DIV.afvote_bar{background-color :#ad446e;margin-top:2px;height:3px;}
TABLE.afvote_cadre TD.afvote_percent, TABLE.afvote_cadre TD.afvote_nbvotes{color:#ad446e;font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;font-weight:bold;padding-right:5px;}
TABLE.afvote_cadre TD.afvote_nbvotes{color:#000000;}

/*--- Bloc de News ---*/
DIV.af_NewsBlocTotal{ margin-top:20px;}
table.af_NewsBloc{font-family: Arial, Helvetica, sans-serif; font-smooth:always; background: none;border-left: 1px solid #E6E3E0;border-right: 1px solid #E6E3E0;}
.af_NewsBlocTitre{font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;font-size:23px;font-weight:normal;color:#7E0846;padding:5px;line-height: 27px; background:#fff;word-spacing: -1px;}
div.af_NewsBlocContenu{padding:5px;background-color:#fff;border-top:1px solid #7E0846;}
table.af_NewsBlocContenu{display:block}
tr.af_NewsBlocLien td{font-size:13px;color:#000; line-height:14px;}
.af_NewsBlocLien a {color:#7E0846;text-decoration:none;}
.af_NewsBlocLien a.af_NewsBlocLienTous{font-size:12px;color:#006C73;}
.af_NewsBlocLien a img{}
.af_NewsBlocLien a:hover{text-decoration:underline;}
.af_NewsBlocLien small {font-size:9px;color:#999999}
table.af_NewsBlocOnglets{font-size:13px;font-weight:normal;cursor:pointer;margin-left: 5px;}
.af_NewsBlocOnglets div{padding:0px 5px 3px 5px;}
.af_NewsBlocOngletActif{background-color: #7E0846;color: #FFF; padding:0 3px; border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0;-ms-border-radius: 2px 2px 0 0;}
.af_NewsBlocOngletInactif{background-color: #BE83A2;color: #FFFFFF; padding:0 3px;border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0;-ms-border-radius: 2px 2px 0 0;}
.af_NewsBlocDate{font-size:10px; padding: 5px 5px 0 0;background:#fff;vertical-align:top; color:#fff; }
b.af_NewsBlocCorner{border-bottom: 1px solid #E6E3E0;padding-bottom: 1px;}

b.af_NewsBlocCorner b.afcrn_c { background:#e6e3e0;}
b.af_NewsBlocCornerinv b.afcrn_c { border-color:#e4d8ca; }
.af_NewsBlocOngletInactif b.af_NewsBlocCornerinv b.afcrn_c { border-color:#e4d8ca; }

b.af_NewsBlocCornerBas b.afcrn_b { background-color:#ffffff; border-color:#E6E3E0; }
b.af_NewsBlocCornerBas b.afcrn_cb { background-color:#E6E3E0; }
b.af_NewsBlocCornerBas b.afcrn_c{background: none repeat scroll 0 0 #E6E3E0;}
`
a.af_NewsBlocLienTous{color:#006871;padding-left:8px;text-decoration:underline;}
div.af_NewsBlocLienDate{color:#717171;margin-top:3px;}

.af_storyLiveBox a {font-size:14px;}

/* Nos sites */
div.af_nosSitesBorder {	height: 3px;font-size: 0px;background: #E6E3E0;margin: 10px 0 1px 0;}
div.af_nosSitesContent {border: 1px solid #E6E3E0;padding:5px;}
DIV.af_TitreNosSites{color: #7E0846;font: 23px/27px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;margin: 0;text-decoration: none;word-spacing: -1px;clear:both;}
DIV.af_separationNosSites{margin:2 0 7 0px;clear:both;}
DIV.af_nosSites{margin-top:3px;}
TABLE.af_nosSites {width:100%;font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height:14px;color: #006871;}
a.af_nosSitesTexte {color: #006871;}
a.af_nosSitesTexteGras {font: normal 14px/16px arial, sans-serif;color: #7E0846;margin: 0;padding: 0 0 5px 0;text-decoration:none;}
img.af_nosSites_logo {border:1px solid #C4C8C8;}

/* ===== TAGS ============================================== */
div.af_edito_moretags { font-size:13px; color:#9F9F9F; margin:10px 0 14px 0;}
div.af_edito_moretags span { font-family:arial, sans-serif; background: #FBFBFB;padding: 3px 6px;border: 1px solid #E6E3E0;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;-ms-border-radius: 2px;}
div.af_edito_moretags a, div.af_edito_moretags a:hover { font-family:arial, sans-serif; background: #FBFBFB;color:#006871; text-decoration: none;padding: 3px 6px;border: 1px solid #006871;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;-ms-border-radius: 2px;}
div.af_edito_moretags a:hover { text-decoration: underline;box-shadow: 0 0 6px #707070;-webkit-box-shadow: 0 0 6px #707070;-moz-box-shadow: 0 0 6px #707070;-o-box-shadow: 0 0 6px #707070;-ms-box-shadow: 0 0 6px #707070;}

/* bouton langue CA */
A.af_langCa{display:block;float:right;margin:2px 0 0 5px;width:29px;background:#dcdbd8;height:13px !important;border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;padding:1px;text-decoration:none !important;cursor:pointer !important;}
A.af_langCa SPAN, A.af_langCa DIV{display:block;background:#fff;width:19px;height:13px;border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;text-align:center;text-transform:uppercase;color:#7e1247;font:normal 10px/12px "lucida sans unicode", arial, sans-serif;}
A.af_langCa SPAN{float:left;}
A.af_langCa SPAN.selector{background:none;border-raidus:none;font-size:0px;line-height:0px;width:0;height:0;float:left;border-top:5px solid #444;border-right:3px solid transparent;border-left:3px solid transparent;margin:4px 0 0 2px;}
A.af_langCa DIV{display:none;border:1px solid #dcdbd8;background:#fff;width:25px;clear:both;margin-left:-1px;text-align:left;padding-left:4px;position:absolute;margin-top:14px;}
A.af_langCa DIV:hover{background:#7e1247;color:#fff;}
A.af_langCa:hover DIV{display:block;}