/* Blue Boxes */

#block-boxes-donate_box h3,
#block-boxes-gear_up_box h3 {
  color: #666;
  font-size: 20px;
  font-family: Arial, serif;
  font-weight: normal;
}

/* Other */

#block-views-pf_goal_statement-block_1 .picture {
  display: block;
  float: none;
}

#block-views-pf_goal_statement-block_1 small {
  font-family: Arial, serif;
  text-transform: uppercase;
  font-size: 11px;
}

#block-views-pf_goal_statement-block_1 h3 {
  font-family:"kepler-std-1", "kepler-std-2", Georgia, serif;
  font-size: 22px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter h3.block-grey-text,
.block-grey-text {
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #535353;
  margin: 7px 0;
}

.node-type-personal-fundraiser .content-content {
  min-height: 0px;
}

.node-type-personal_fundraiser .content .field-field-personal-fundraiser-image img {
  /* Overriding .node .content img */
  padding: 0px;
}

.node-type-personal-fundraiser .content-content div.node,
.node-type-personal-fundraiser .content-inner.block {
  margin-bottom: 0px;
}

#block-facebook_status-facebook_status h2 {
 font-family: "Proxima Nova", sans-serif;
 font-weight: bold;
 font-size: 15px;
 color: #505050;
 display: block;
 text-transform: uppercase;
 margin-bottom: 0px;
 letter-spacing: 0px;
}

.facebook-status-chars {
 position: absolute;
 top: 0px;
 right: 20px;
 float: none;
 width: 150px;
}

.personal-fundraiser-form textarea {
 height: 115px;
 font-size: 12px;
 line-height: 15px;
 padding: 5px 10px;
}


[type="text"] {
 font-size: 12px;
 padding: 0px 10px;
}

.personal-fundraiser-form .pf-goal-radios .radio.form-item {
  float: left;
  margin-right: 15px;
  clear: none;
}

.personal-fundraiser-form .pf-goal-radios .form-radios label {
 font-family: "Proxima Nova", Hevetica, Arial, sans-serif;
 font-weight: bold;
 font-size: 14px;
 float:right;
 position:relative;
}

.personal-fundraiser-form .active-radio label { 
 color: #005293;
} 



.fundraising-carousel.front-carousel .views-slideshow-ddblock-cycle-vsd-romney_v2a-10p .slider {
  width: 940px;
}

.action-center-carousel.front-carousel .views-slideshow-ddblock-cycle-vsd-romney_v2a-10p .slider {
  width: 705px;
}

.page-user #block-invite-0,
.page-user #block-boxes-donate_box {
  margin-right: 9px;
}

.page-user #block-invite-0.action-hero-blocks {
  background-image: none;
}



html .facebook-status-media .facebook-status-links {
  float: left;  
}

html .facebook-status-links {
  font-size: 11px;
  margin-left: 10px;
}


/* For main.css */




/* Personal Fundraiser Stylesheet
Author: Utsav Shah
Editors: Sue, Akeem
 */


#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .content,
#block-fundraiser_invite-fundraiser_invite_status .content,
#block-personal_fundraiser-personal_fundraiser_fundraiser_donations .content {
    border: 2px solid #EBEBEB;
    border-radius: 5px 5px 5px 5px;
    padding: 11px 15px 21px 12px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_edit_link .inner,
block-personal_fundraiser-personal_fundraiser_user_edit_link .inner {
	float: right;
}

#block-block-121{
	position: absolute;
	top: 63px;
	right:-122px
}

#block-block-121 .inner{
	float: right;
}	

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .content a:hover,
#block-personal_fundraiser-personal_fundraiser_user_fundraiser_list .create-fundraiser a:hover,
#pid-fundraiser-invite-list-413032 a.invite-new-link:hover {
	background: #9A002D;
	background: -moz-linear-gradient(top, 
	rgba(154, 0, 45, 1) 0%, 
	rgba(204, 0, 51, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
	rgba(154, 0, 45, 1)), color-stop(100%,
	rgba(204, 0, 51, 1)));
	background: -webkit-linear-gradient(top, 
	rgba(154, 0, 45, 1) 0%,
	rgba(204, 0, 51, 1) 100%);
	background: -o-linear-gradient(top, 
	rgba(154, 0, 45, 1) 0%,
	rgba(204, 0, 51, 1) 100%);
	background: -ms-linear-gradient(top, 
	rgba(154, 0, 45, 1) 0%,
	rgba(204, 0, 51, 1) 100%);
	background: linear-gradient(top, 
	rgba(154, 0, 45, 1) 0%,
	rgba(204, 0, 51, 1) 100%);
	text-decoration: none;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .content a:hover{
	background: -moz-linear-gradient(center top , #9A002D 0%, #CC0033 100%) repeat scroll 0 0 transparent;
	text-decoration: none;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter span.fundraiser-block-title,
#block-personal_fundraiser-personal_fundraiser_fundraiser_fbstatus span.title-text,
#block-fundraiser_invite-fundraiser_invite_status span.my-invite-title,
#block-personal_fundraiser-personal_fundraiser_user_fundraiser_list h2.fundraiser-name {
	font-family: Proxima Nova,sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #505050;
	display: block;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0px;
}

#block-fundraiser_invite-fundraiser_invite_status .invited .invited-text,
#block-fundraiser_invite-fundraiser_invite_status .donated .donated-text {
  font-family: Proxima Nova,sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #505050;
	text-transform: uppercase;
	letter-spacing: 0px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations .total-donations-title {
  font-family: Proxima Nova,sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #505050;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0px;
}



#block-personal_fundraiser-personal_fundraiser_user_total_fundraisers h2.fundraising-campaigns-title,
#block-personal_fundraiser-personal_fundraiser_user_total_amount h2.total-amount-raised-title,
#block-personal_fundraiser-personal_fundraiser_user_total_donors h2.people-who-donated-title,
.data-widget-block .block-title {
	font-family: Proxima Nova, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #505050;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0px;
}



#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter span.total-amount,
#block-fundraiser_invite-fundraiser_invite_status .invited .invited-text .invited-count,
#block-fundraiser_invite-fundraiser_invite_status .donated .donated-text .donated-count,
#block-personal_fundraiser-personal_fundraiser_user_total_amount h2.total-amount-raised-amount,
#block-personal_fundraiser-personal_fundraiser_user_total_donors h2.people-who-donated-count,
#block-personal_fundraiser-personal_fundraiser_user_total_fundraisers h2.fundraising-campaigns-count {
	font-family: Proxima Nova,sans-serif;
	font-size: 32px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations .total-donations {
  font-family: Proxima Nova,sans-serif;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 10px;
}

,
#block-personal_fundraiser-personal_fundraiser_fundraiser_fbstatus .facebook-status-time,
#pid-fundraiser-invite-list-413032 a.invite-new-link
{
	float: left;
}

html .facebook-status-media > .content > *{
	margin-top: 0;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_fbstatus .facebook-status-content{
	clear: left;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_fbstatus ul.links{

}

#block-fundraiser_invite-fundraiser_invite_status .invited .invited-text .invited-count,
#block-fundraiser_invite-fundraiser_invite_status .donated .donated-text .donated-count{
	display: inline;
	color: #000;
}


#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter h3.block-grey-text{
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #535353;
	margin: 7px 0;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .amount-bar-full{
	background: -moz-linear-gradient(center top , #fefefe 0%, #e4e4e4 100%) repeat scroll 0 0 transparent; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%,#e4e4e4));
	height: 21px;
    width: 182px;
	border: 2px solid #8f8f8f;
    border-radius: 5px 5px 5px 5px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .amount-bar-full .amount-bar-raised{
	background: -moz-linear-gradient(center top , #80b42e 0%, #a7dd51 50%) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #a7dd51 50%, #80b42e 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80b42e), color-stop(50%,#a7dd51));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #a7dd51), color-stop(100%,#80b42e));
	height: 21px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .zero-amount,
.node-type-personal-fundraiser .facebook-status-sender { /*combine styles with goal amount, give a common class */
	float: left;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .goal-amount{
	float: right;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.node-type-personal-fundraiser div.content-messages-inner div.status {
    background-color: #fffadb;
    border: 1px solid #bfbfbf;
    color: #000;
}

#block-facebook_status-facebook_status{
	background-color: #e5edf4; 
	padding: 10px;
}

#block-facebook_status-facebook_status .facebook-status-update{
	width:360px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_edit_link,
#block-personal_fundraiser-personal_fundraiser_user_edit_link {
	height: 38px;
	margin-top: 5px;
	margin-bottom: 0;
	overflow: visible;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_edit_link a.edit-fundraiser-link,
#block-personal_fundraiser-personal_fundraiser_user_edit_link a.edit-account-link {
	color: #fff;
 display: block;
 font-weight: bold;
	background: url('img/blue-edit.png') no-repeat 0 0 transparent;
	height: 30px;
	padding-left: 38px;
	padding-right: 10px;
	padding-top: 6px;
	text-transform: uppercase;
	font-size: 12px;
}

table#invites td a.thankyou-link {
	display: block;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: auto;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_edit_link a.edit-fundraiser-link:hover{
	text-decoration: none;
}

.facebook-status-update .button
 {
	background: -moz-linear-gradient(center top , #1c2d65 0%, #0d1438 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c2d65), color-stop(100%,#0d1438));
	text-shadow: none;
}

#block-facebook_status-facebook_status #facebook-status-replace{
	width: 430px;
}

#block-personal_fundraiser-personal_fundraiser_user_edit_link a.edit-account-link{
	float: right;
}

.facebook-status-update .button:hover {
	background: -moz-linear-gradient(center top , #0d1438 0%, #1c2d65 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d1438), color-stop(100%,#1c2d65));
	text-decoration: none;
}

table#invites td a.thankyou-link {
	background: -moz-linear-gradient(center top , #005091, #002D62) repeat scroll 0 0 transparent;
	width: auto;
	text-align: center;
	color: #E5E5E5;
}

table#invites td a.thankyou-link:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002D62',endColorstr='#005091');
    background: -webkit-gradient(linear,left top,left bottom,from(#002D62),to(#005091));
    background: -moz-linear-gradient(top,#002D62,#005091);
    color: #FFF;
	width: auto;
	text-align: center;
}

#block-facebook_status-facebook_status .facebook-status-textarea-wrapper{
	border: 0;
	box-shadow: none;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations table {
  font-size: 11px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations .donate-amount {
  font-weight: bold;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations table tr td{
	border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding-left: 10px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations table tr{
	height: 20px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations table tr:nth-child(even){
	background: #cad8e7;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donations table tr:nth-child(odd) {
	background: #dce5ef;
}

#block-fundraiser_invite-fundraiser_invite_status .my-invite-title{
	background: url("img/my-invites.png") no-repeat scroll 0 0 transparent;
	padding: 7px 44px;
}

#block-fundraiser_invite-fundraiser_invite_status .invited,
#block-fundraiser_invite-fundraiser_invite_status .donated {
	width: 148px;
	height: 35px;
	margin-left: -10px;
	padding-left: 65px;
	padding-top: 13px;
}

#block-fundraiser_invite-fundraiser_invite_status .invited,
#block-fundraiser_invite-fundraiser_invite_status .donated {
  background-image: url("img/invite-logos.png");
  background-repeat: no-repeat;
}

#block-fundraiser_invite-fundraiser_invite_status .invited{
	background-color: #DCE5EF;
	background-position: 14px 11px;
}

#block-fundraiser_invite-fundraiser_invite_status .donated{
	background-color: #cad8e7;
	background-position: 14px -66px;
	margin-top: 1px;
	margin-bottom: 15px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donation_form h2 {
  position: relative;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donation_form h2 .icon {
	background-image: url('img/donate-logo.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 48px;
	padding-left: 60px;
	padding-top: 15px;
	position: absolute;
	top: -1px;
	left: -30px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donation_form h2 .title-text {
  margin-left: 20px;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donation_form h2 {
  margin-left: 30px;
  margin-top: 8px;
}

/* User Page styles */

#block-personal_fundraiser-personal_fundraiser_user_picture .user-picture {
 border-radius: 5px 5px 5px 5px;
 border: 1px solid #EBEBEB;
}

#block-personal_fundraiser-personal_fundraiser_user_fundraiser_list .inner {     
/*give styles to specific div, add a class in the module*/
	border: 1px solid #EBEBEB;
 border-radius: 5px 5px 5px 5px;
 padding: 15px;
}

#block-personal_fundraiser-personal_fundraiser_user_fundraiser_list h2.fundraiser-name {
	font-size: 16px;
}

#block-personal_fundraiser-personal_fundraiser_user_fundraiser_list .fundraiser-donate-section a.fundraiser-title {
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #505050;
	display: block;
	margin-bottom: 10px;
	letter-spacing: 0px;
	padding: 15px;
	background-color: #dce5ef;
}

#block-personal_fundraiser-personal_fundraiser_user_picture .member-interval .member-interval-label {
	font-family: arial, sans-serif;
	font-size: 14px;
	colro: #666666;
}

#block-personal_fundraiser-personal_fundraiser_user_picture .member-interval .member-interval-time{
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#block-personal_fundraiser-personal_fundraiser_user_fundraiser_list .fundraiser-donate-section a {
	text-align: center;
}

.fundraiser-donate-section {
  margin-bottom: 30px;
}

/* 
 * ------------------------------------------------
 * Create your own fundraiser page
 * ------------------------------------------------
 */

.numbered-red-icon {
 display: block;
 height: 73px;
 left: -46px;
 position: absolute;
 top: -10px;
 width: 70px;
}

.node-type-personal-fundraiser #node-form h2.pf-rounded-heading{
	position: relative;
	margin-left: 45px;
	margin-top: 25px;
	padding-left: 40px;
}

.node-type-personal-fundraiser #node-form .form-submit {
	float: none;
}

.node-type-personal-fundraiser #node-form #edit-fundraiser-goal-textfield{
	width:80px;
}

.node-type-personal-fundraiser #node-form #edit-field-personal-fundraiser-gs-0-value-wrapper label {
	color: #000;
}

.pf-node-form-field-group {
 margin-left: 88px;
}

.node-type-personal-fundraiser #node-form #edit-title-wrapper #edit-title{
	float: left;
	margin-right:10px;
}

/* 
 * ------------------------------------------------
 * My Invitation Status & My Donation Pages page 
 * ------------------------------------------------
 */
 
.pf-invite-new-link {
	float: right;
}

table#invites tr,
table#donations tr {
	height: 55px;
}

table#invites th,
table#donations th {
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 7px solid #cccccc;
	vertical-align: bottom;
	padding-bottom: 10px;
}

table#invites .e-mail-col,
table#donations .name-col {
 width: 300px;
}

table#invites .action-col{
 width: 147px;
}

table#donations .amt-donated-col {
 width: 200px;
}

table#invites .donated-text,
table#invites .invited-text {
	background: url("img/invite-logos.png") no-repeat scroll 0 0 transparent;
	height: 30px;
 padding: 6px 0px 0px 50px;
}

table#invites .donated-text,
table#invites .invited-text,
table#donations .donate-amt {
 font-size: 16px;
 font-weight: bold;
 color: #666;
}

table#invites .invited-text {
 background-position: 0 0;
}

table#invites .donated-text {
 background-position: 0 -75px;
}

table#donations .donated-date, 
table#invites .date-sent {
	color: #999;
}

/* 
 * ------------------------------------------------
 * Fundraiser page
 * ------------------------------------------------
 */

/* Fundraiser Step Callouts */

#block-boxes-pf_step_1,
#block-boxes-pf_step_2,
#block-boxes-pf_step_3,
#block-boxes-pf_step_4 {
  height: 222px;
  margin-left: 34px;
  width: 195px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-align: center;
  line-height: 24px;
}

#block-boxes-pf_step_1 .fundraiser-get-started {
	margin-top: 15px;
}

.pf-step-text,
.pf-step-text,
.pf-step-text,
.pf-step-text {
	width: 72px;
	height: 65px;
	text-indent: -9999px;
	margin: 0px auto 10px auto;
}

.pf-step-text {
 background-color: transparent;
 background-image: url('img/fundraiser_steps.png');
 background-repeat: no-repeat;
 display: block;
}

.pf-step-1-text {
	background-position: 0 0;
}

.pf-step-2-text {
	background-position: -78px 0;
}

.pf-step-3-text {
	background-position: -157px 0;
}

.pf-step-4-text {
	background-position: -234px 0;
}

.pf-people-blue-image,
.pf-chat-blue-image,
.pf-flag-blue-image {
 display: block;
 height: 247px;
}

.pf-people-blue-image {
	background: url('img/fundraiser-people.png') no-repeat 39px 79px transparent;
}

.pf-chat-blue-image {
	background: url('img/fundraiser-chat.png') no-repeat 52px 70px transparent;
}

.pf-flag-blue-image {
	background: url('img/fundraiser-flag.png') no-repeat 48px 72px transparent;
}

#block-personal_fundraiser-personal_fundraiser_stats {
	float: left;
	width: 400px;
}

#block-boxes-featured_fundraiser {
	float: left;
	width: 530px;
}

#block-personal_fundraiser-personal_fundraiser_fundraising_now_title,
#block-personal_fundraiser-personal_fundraiser_fundraising_about_title,
.pf-rounded-heading {	
	border-radius: 5px;
	background: -moz-linear-gradient(center top , #e8e8e8 0%, #d4d4d4 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%,#d4d4d4));
}

#block-personal_fundraiser-personal_fundraiser_fundraising_about_title h2.grid_12,
#block-personal_fundraiser-personal_fundraiser_fundraising_now_title h2.grid_12{
 font-family: Proxima Nova,sans-serif;
 font-size: 24px;
 font-weight: bold;
 padding-top: 16px;
	color: #000;
	letter-spacing: 1px;
}


/* About Fundraising Block */

.about-fundraising-image img{
	float: left;
}

.about-fundraising-text img{
	float: right;
}

h3.about-fundraising-title{
	font-family:"kepler-std-1", "kepler-std-2", sans-serif;
	color: #1a5fa4;
	margin-top: 0;
	font-size: 24px;
	margin-bottom: 10px;
	padding-left: 309px;
}

.about-fundraising-text{
	display: block;
	padding-left: 310px;
}

/* Featured Fundraiser Block */

#block-boxes-featured_fundraiser {
 font-size: 12px;
}

#block-boxes-featured_fundraiser p {
 margin-top: 0px;
}

#block-boxes-featured_fundraiser h5 {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 14px;
}

#block-boxes-featured_fundraiser h3 {
	font-family:"kepler-std-1", "kepler-std-2", Georgia, sans-serif;
	font-weight: normal;
	font-size: 24px;
	color: #1a5fa4;
}

#block-boxes-featured_fundraiser .featured-fundraiser-image img {
	float: left;
}

#block-boxes-featured_fundraiser .object-row-wrapper {
	padding-left: 246px;
}

#block-personal_fundraiser-personal_fundraiser_stats .fundraising-stats-number,
#block-personal_fundraiser-personal_fundraiser_stats .fundraising-stats-label {
	display: block;
}

#block-personal_fundraiser-personal_fundraiser_stats .fundraising-stats-number{
	font-family:"kepler-std-1", "kepler-std-2", Georgian, serif;
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
	color: #1a5fa4;
	margin-bottom: 5px;
}

#block-personal_fundraiser-personal_fundraiser_stats .fundraising-stats-label {
	margin-bottom: 40px;
	margin-top:10px;
	font-family: Proxima Nova,sans-serif;
 font-size: 20px;
 font-weight: bold;
}


/*Action page logged out(page specific styles) */

html #pid-action #sidebar-last {
	width: 215px;
}

html #pid-action #sidebar-last h2.title {
	background: none;
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
 font-size: 16px;
 font-weight: bold;
	text-transform: uppercase;
	color: #505050;
	margin-bottom: 10px;
}

html #pid-action.not-logged-in #content-inner-inner > #content-content > .block /* overriding action-styles.css */{
	margin-top: 0px;
}

body#pid-action #sidebar-last h2.title span{
	left: 0;
	letter-spacing: 0px;
}

body#pid-action .container_12 .grid_8{
	width: 705px;
}

body#pid-action form#user-login-form #edit-name,
body#pid-action form#user-login-form #edit-pass {
	width: 100%;
}	

body#pid-action #block-user-0 h3{
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #666666;
	font-weight: normal;
	margin-bottom: 0px;
}

body#pid-action form#user-login-form #edit-submit,
body#pid-action form#user-login-form .item-list {
	float: left;
}

body#pid-action form#user-login-form .item-list {
 font-size: 12px;
}

#block-boxes-create_new_account_box,
body#pid-action #block-user-0 {
	border: 1px solid #EBEBEB;
 border-radius: 5px 5px 5px 5px;
	width: inherit;
	padding: 0 15px 19px 12px;
}

#block-boxes-create_new_account_box{
	width: 180px;
}

body#pid-action #block-user-0 h2.title{
	display: none;
}

#divGigyaLogin-0 span {
	display: none !important;
}

/*Additional*/

#block-personal_fundraiser-personal_fundraiser_fundraiser_goal_meter .bar-status {
	display: none;
}

#block-personal_fundraiser-personal_fundraiser_fundraiser_donation_form .donation-form-toggle {
  float: right;
  font-size: 12px;
}

#block-views-blog-block_4 .inner h2.block-title{
	background-image: none;
}


/* ---------------------------------------
 * Global Styles - Move to main.css 
 * ---------------------------------------
 */
 
/* Drupal Global Status message */
html div.content-messages-inner div.status {
  background-color: #FFF8DE;
  font-weight: normal;
}

html .css3-button-block {
  width: auto;
  display: block;
  padding-left: 5px !important /* Overriding another in main.css */;
  padding-right: 5px !important /* Overriding another in main.css */;
}

.small-txt {
 font-size: 12px;
 line-height: 14px;
}

.pf-rounded-heading-block,
.pf-rounded-heading-block-title h2,
.pf-rounded-heading {	
	font-family: Proxima Nova,sans-serif;
	border-radius: 5px;
	box-shadow: 0px 3px 18px -15px black;
	
	background: #e7e7e7; /* Old browsers */
 background: -moz-linear-gradient(top,  #e7e7e7 0%, #d4d4d4 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* IE10+ */
 background: linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
}

.pf-rounded-heading-block h2,
.pf-rounded-heading-block-title h2,
h2.pf-rounded-heading {
 font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
 font-size: 24px;
 font-weight: bold;
 padding: 10px 10px 10px 25px;
 margin-left: 52px;
 margin-top: 25px;
 color: black;
 letter-spacing: normal;
 text-transform: capitalize;
 position:relative;
}

.pf-rounded-heading-block h2,
.pf-rounded-heading-block-title h2 {
	text-transform: capitalize;
	padding: 12px 10px;
	margin: 0px;
}

/* Data Widget Block - Introduced on User Page */

.data-widget-block,
.data-widget-block.block {
	border: 1px solid #EBEBEB;
 border-radius: 5px 5px 5px 5px;
 min-height: 102px;
 width: 159px;
 margin-right: 14px;
}

.data-widget-block .block-title {
 min-height: 40px;
 display: block;
}

.data-widget-block .inner {
	padding: 15px;
	color: #a82306;
	font-family: "Proxima Nova", Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
}

/* Action Center - Calls to Action (CTA) */

.action-cta-box-empty,
.action-cta-box-empty.block {
  width: 341px;
  height: 125px;
}

.action-cta-box,
.action-cta-box.block /* overrding fusion core style.css */ {
 width: 311px;
 height: 95px;
 padding: 15px;
 margin-bottom: 15px;
 float: left;
 font-size: 12px;
 line-height: 125%;
 background-color: #e5edf4;
 background-repeat: no-repeat;
}

#block-boxes-make_calls_for_mitt_box {
	background: url('img/telephone-logo.png') no-repeat 239px 44px #e5edf4;
}

#block-boxes-donate_box {
	background: url('img/gift-logo.png') no-repeat 233px 27px #e5edf4;
}

#block-boxes-gear_up_box {
	background: url('img/tshirt-logo.png') no-repeat 231px 28px #e5edf4;
}

#block-boxes-fundraise_box,
#block-boxes-donate_box,
#block-boxes-donate_box_alt {
	margin-right: 20px;
}

.action-cta-box .content {
 width: 210px;
}

#block-invite-0 .content {
 width: auto;
}

.action-cta-box .block-title,
.action-cta-box.invite-others-block .title-text, /* overrding main.css */
#pid-action .action-cta-box .block-title /* overrding romney-style.css */ {
 font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #505050;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.action-cta-box h3,
.action-cta-box p {
	margin: 5px 0px;
	font-family: Helvetica, Arial, sans-serif;
}

#pid-action .action-cta-box h2 {
 margin-bottom: 5px;
}

/* Invite User to MyMitt Block */

.page-user #block-invite-0 .block-title {
  float: left;
}

.page-user #block-invite-0 .question-mark {
  background: transparent url("img/question-mark.png") no-repeat top left;
  height: 19px;
  width: 19px;
  float: left;
  margin-left: 10px;
}

.page-user .invite-others-block .icon {
  display: none;
}

.page-user .invite-others-block .block-title {
  height: auto;
  margin-bottom: 10px;
}

.page-user .invite-others-block .inner {
  background-color: transparent;
  padding: 0px;
}

.page-user .invite-others-block #edit-email-wrapper {
  padding: 0px;
}

.page-user .invite-others-block .title-text {
  padding: 0px;
}

.page-user .invite-others-block {
  margin-top: 0px;
}

/*User page news feeds block styles */

#block-views-news_feed-block_1 .view-content{
	margin-top: 20px;
}

#block-views-news_feed-block_1 .views-field-created
{
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #999999;
}

#block-views-news_feed-block_1 .views-row{
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px #b2b2b2 solid;
}

#block-views-news_feed-block_1 .views-field-view-node a{
	color: #005293;
	font-size: 12px;
}

#block-views-news_feed-block_1 .views-field-title a{
	font-family: arial, sans-serif;
	font-size: 18px;
	color: #000;
}

#block-views-news_feed-block_1 .views-field-title,
#block-views-news_feed-block_1 .views-field-created
{
	margin-bottom: 10px;
}


#block-views-news_feed-block_1 .field-content{
	margin-bottom: 10px;
}





/* Will be using JS to show it on hover of the (?) icon */
.page-user .invite-others-block .invite-others-block-text {
  display: none;
}


/* ---------------------------------------
 * User Page - Move to main.css 
 * ---------------------------------------
 */


