/* /stylesheets/https-common/header.css - Header Style Sheet for Capital One Pages */

#header {
    width: 760px;
    height: 118px;
    /*background: #fff url(/images/presentation/header/header_bg.jpg) no-repeat 100% 0;*/
    position: relative;
    z-index: 50;
    margin: 0 0 10px !important;
}
div.headerSimple {
    /*background: #fff url(/images/presentation/header/header_bg_simple.jpg) no-repeat 100% 0 !important;*/
    height: 101px !important;
}
div#header.headerSimple {
    margin-bottom: 18px !important;
}
#header ul li {
    list-style: none;
    background-image: none;
    margin: 0;
    padding: 0;
}

/* ========== Skip Link ========== */
#header .skipLink {
    display: none;
}

/* ========== Capital One Home ========== */
#header .capOneHome {
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 10px;
    padding-left: 12px;
    background: transparent url(../../images/presentation/common/arrows/small_arrow.gif) no-repeat 0 60%;
    z-index: 100;
}

/* ========== Logos ========== */
#header h3.capOneLogo {
    position: absolute;
    top: 22px;
    left: 23px;
    width: 139px;
    height: 54px;
    background: transparent url(../../images/header/logos/capone.gif) no-repeat 0 0;
    text-indent: -5000px;
    margin: 0;
}
#header h3.capOneLogo a {
    display: block;
    height: 54px;
    background: transparent url(../../images/header/logos/capone.gif) no-repeat 0 0;
    text-decoration: none;
}
#header span.lobLogo {
    position: absolute;
    top: 68px;
    left: 113px;
}
img.partnerLogo {
	margin: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

/* ========== Global Navigation ========== */
#header #globalNav {
    position: absolute;
    width: 496px;
    z-index: 100;
    top: 0;
    right: 0;
}
#header #globalNav dl {
    float: left;
    position: relative;
    height: 19px;
}
#header #globalNav dl dt {
    height: 19px;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 3px 0 0 19px;
    background: transparent url(../../images/presentation/header/globalnav_arrow.png) no-repeat 7px 0;
}
#header #globalNav dl.zipCode dt {
    font-weight: bold;
}
#header #globalNav dl.findProducts {
    width: 97px;
}
#header #globalNav dl.findProductsOver dt,
#header #globalNav dl.accessYourAccountOver dt,
#header #globalNav dl.customerServiceOver dt,
#header #globalNav dl.zipCodeOver dt {
    font-weight: bold;
    background-color: #4b75a5;
    border-left: 1px solid #004775;
    border-right: 1px solid #004775;
    background-position: 7px -22px;
}
#header #globalNav dl.accessYourAccount {
    width: 109px;
}
#header #globalNav dl.customerService {
    width: 118px;
}
#header #globalNav dl.zipCode {
	float: right;
    width: 172px;
}
#header #globalNav dl.zipCode dd {
    width: 152px;
    height: 78px;
    padding: 0 10px 5px;
    background: transparent url(../../images/presentation/header/zip_code_bg.png) no-repeat 0 100%;
}
#header #globalNav dl.zipCode dd label {
    display: block;
    margin: 2px 0 10px;
    font-size: 12px;
}
#header #globalNav dl.zipCode dd input {
    vertical-align: middle;
    margin: 0 4px 8px 0;
    outline: none;
}
#header #globalNav dl.zipCode dd span {
    margin: 8px 0 0;
}
#header #globalNav dl dd {
    position: absolute;
    left: -999em;
    margin: 0;
}
#header #globalNav dl.zipCode #ddMessage {
    font-size: 10px;
    font-weight: bold;
    color: #ffad7f !important;
}
#header #globalNav dl.zipCode .zipCodeInput {
    width: 46px;
    height: 14px;
    padding: 2px 3px;
    border: 1px solid #004775;
    font-size: 10px;
}
#header #globalNav dl.zipCode dd #zipcode_tooltip_content {
    display: none;
    left: 198px;
    top: 653px;
}
#header #globalNav dl.zipCode dd #zipcode_tooltip_icon {
    position: relative;
    display: inline;
    padding-right: 3px;
}
#header #globalNav dl.zipCode dd #zipcode_tooltip_icon a {
    padding-right: 16px;
    background: transparent url(../../images/https-common/icon/icon_tooltip_globalnav.gif) no-repeat 100% 50%;
    font-size: 10px;
}
#header #globalNav dl.zipCode dd #zipcode_tooltip_icon a:link,
#header #globalNav dl.zipCode dd #zipcode_tooltip_icon a:visited,
#header #globalNav dl.zipCode dd #zipcode_tooltip_icon a:hover,
#header #globalNav dl.zipCode dd #zipcode_tooltip_icon a:active {
    color: #fff !important;
}
#header #globalNav li {
    float: left;
    position: relative;
    background: none;
    margin: 0;
    padding: 0;
}
#header #globalNav li a,
#header #globalNav li.lastElement a span {
    color: #fff;
    display: block;
    padding: 6px 6px 5px 19px;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    background: #4b75a5 url(../../images/presentation/header/globalnav_divider.gif) repeat-x 0 0;
    border-left: 1px solid #004775;
    border-right: 1px solid #004775;
    outline: none;
}
#header #globalNav li.lastElement a span {
    padding-bottom: 2px;
    border-bottom: 0;
}
#header #globalNav li.lastElement a {
    font-size: 10px;
    padding: 0;
    border: none;
}
#header #globalNav li a:hover,
#header #globalNav li.lastElement a:hover span {
    color: #fff;
    text-decoration: none;
    background-color: #355e8d;
}
#header #globalNav dd ul li.lastElement a span {
    cursor: pointer;
}
#header #globalNav dl.findProducts li a,
#header #globalNav dl.findProducts li.lastElement a span {
    width: 70px;
}
#header #globalNav dl.findProducts li.lastElement a {
    width: 97px;
    padding: 0 0 8px 0;
    background: transparent url(../../images/presentation/header/find_prod_bttm.png) no-repeat 0 100%;
}
#header #globalNav dl.findProducts li.lastElement a:hover {
    background-position: -97px 100%;
}
#header #globalNav dl.accessYourAccount li a,
#header #globalNav dl.accessYourAccount li.lastElement a span {
    width: 82px;
}
#header #globalNav dl.accessYourAccount li.lastElement a {
    width: 109px;
    padding: 0 0 8px 0;
    background: transparent url(../../images/presentation/header/access_accts_bttm.png) no-repeat 0 100%;
}
#header #globalNav dl.accessYourAccount li.lastElement a:hover {
    background-position: -109px 100%;
}
#header #globalNav dl.customerService li a,
#header #globalNav dl.customerService li.lastElement a span {
    width: 91px;
}
#header #globalNav dl.customerService li.lastElement a {
    width: 118px;
    padding: 0 0 8px 0;
    background: transparent url(../../images/presentation/header/cust_serv_bttm.png) no-repeat 0 100%;
}
#header #globalNav dl.customerService li.lastElement a:hover {
    background-position: -118px 100%;
}
#header #globalNav dl.findProductsOver dd,
#header #globalNav dl.accessYourAccountOver dd,
#header #globalNav dl.customerServiceOver dd,
#header #globalNav dl.zipCodeOver dd {
    left: auto;
}
#header #globalNav dl dt span {
    display: none;
}

/* NEW SEARCH BOX 
-----------------------------------------------*/

#header #search {
	background-color:#FFFFFF;
  	border: 1px solid #5780ae;
	height: 27px;
    position: absolute;
    top: 43px;
    right: 23px;
	width: 215px;
}

#header #globalNav dl.zipCode .zipCodeInput:focus,
#header #globalNav dl.zipCode .zipCodeInput.js-focus ,
#header #search #search_field:focus,
#header #search #search_field.js-focus  {
    color:#000;
    background-color:#FFF;
}

#header #search label {
    display: none;
}

#header #search .search_btn:hover, .js-hover {
    cursor: pointer;
}

#header #search_field {
	border: none;
    color: #444;
    font: 12px Arial, Helvetica, sans-serif;
    height: 16px;
	margin-top: 3px;
    padding: 3px;
    text-align: left;
    width: 145px;	
}

#header #search .search_btn {
    background: transparent url(../../img/global/btn/info_body_search.gif);
    background-repeat: no-repeat;
    background-position: left top;
    border: none;
    height: 20px;
    margin: 0 0 0 3px;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 55px;
}

#header .search #search_field:focus,
#header .search #search_field.js-focus {
    color: #000;
}

/* necessary to remove the active outline around input types in firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:none;
}
/*
#header #search .search_btn:hover,
.js-hover {
    cursor:pointer;
}
*/

/* ========== Help - Help link used only on recruit.capitalone.com ========== */
#header a#recruitHelp {
    position: absolute;
    right: 17px;
    top: 45px;
    padding-left: 24px;
    background: transparent url(../../images/https-common/icon/icon_how_can_help.gif) no-repeat 0 50%;
    line-height: 18px;
    font-size: 12px;
}

/* ========== Primary Nav ========== */
#header #primaryNav {
    width: 752px;
    position: absolute;
    top: 91px;
    left: 8px;
}
#header #primaryNav dl dt {
    display: none;
}
#header #primaryNav dl dd ul {
    width: 100%;
    height: 24px;
}
#header #primaryNav dl dd ul li {
    float: left;
    line-height: 24px;
    margin: 0 0 0 2px;
}
#header #primaryNav dl dd ul li a {
    display: block;
    height: 24px;
    padding: 0 10px 0 0;
    background: #003a6f url(../../images/presentation/header/primary_nav_right.png) no-repeat 100% 0;
    line-height: 25px;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
}
#header #primaryNav dl dd ul li a span {
    padding: 0 0 0 10px;
    background: transparent url(../../images/presentation/header/primary_nav_left.png) no-repeat 0 0;
    outline: none;
}
#header #primaryNav dl dd ul li a:hover {
    background-position: 100% -24px;
    cursor: pointer;
}
#header #primaryNav dl dd ul li a:hover span {
    background-position: 0 -24px;
}
#header #primaryNav dl dd ul li a.selected,
#header #primaryNav dl dd ul li a.selected:hover {
    background-color: #a12830;
    background-position: 100% -48px;
    font-weight: bold;
    padding-right: 10px;
}
#header #primaryNav dl dd ul li a.selected span,
#header #primaryNav dl dd ul li a.selected:hover span {
    background-position: 0 -48px;
    padding-left: 10px;
}
#header #primaryNav dl dd ul li a span {
    display: block;
    height: 24px;
}

@media print {
    #header {
        background-image: none;
    }
    #header .skipLink,
    #header .capOneHome,
    #header #globalNav,
    #header #search,
    #header #primaryNav {
        display: none;
    }
}

/* ========== Removes Header Elements if LOB-Specific Search ========== */
.lobSearch #header #globalNav,
.lobSearch #header #search,
.lobSearch #header #primaryNav {
    display: none;
}
