

.layout, .page-editing, .page-tabs, .admin-bar .navigation-list, .admin-bar fieldset.field-list, .header-fragment-inner, .poweredby-wrapper, .footer-fragments, .footer-fragments-header, .footer-fragments-footer
{
    width: 960px;
    max-width: 960px;
    min-width: 960px;
}

.content-fragment { margin: 10px 0; }

.layout-content.split-content .layout-region-inner.content .content-fragment, 
.layout-content.header-top-split-content .layout-region-inner.content .content-fragment
{ margin-right: 5px; }

.layout-content.split-content .layout-region-inner.right-sidebar .content-fragment,
.layout-content.header-top-split-content .layout-region-inner.right-sidebar .content-fragment
{ margin-left: 5px; }

.layout-content.content-left-sidebar-right .layout-region.right-sidebar .content-fragment,
.layout-content.sidebar-left-content-right .layout-region.content .content-fragment,
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment,
.layout-content.sidebar-left-content-center-sidebar-right .layout-region.right-sidebar .content-fragment,
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment,
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right .content-fragment,
.layout-content.content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar .content-fragment,
.layout-content.header-top-content-left-sidebar-right .layout-region.right-sidebar .content-fragment,
.layout-content.header-top-sidebar-left-content-right .layout-region.content .content-fragment,
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.content .content-fragment,
.layout-content.header-top-sidebar-left-content-center-sidebar-right .layout-region.right-sidebar .content-fragment,
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-left .content-fragment,
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.split-sidebar-right .content-fragment,
.layout-content.header-top-content-left-split-sidebar-right-top-single-sidebar-right-bottom .layout-region.right-sidebar .content-fragment
{ margin-left: 10px; }

.content-fragment.no-wrapper { margin: 0; }
.content-fragment.side-border-only { margin-top: 0; margin-bottom: 0; }
.content-fragment.top-side-border-only { margin-bottom: 0; }
.content-fragment.side-bottom-border-only { margin-top: 0; }

/*basic style overrides*/

html { background: #fff; }
html, body
{ margin: 0; padding: 0; text-align: left; font-size: 12px; font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; }

a:link, a:visited, a:active { color: #000000; font-weight:normal; }

.layout { clear: both; background: #fff; line-height: 18px;}
.content-fragment-page { background: none; }

.page-editing #ctl00_content_ctl00_customize-link
{display: none;}

.HomeArticlesList .abbreviated-post , .HomeBlogList  .abbreviated-post,
.ArticlesHomeList .abbreviated-post, .ArticlesHomePopular .abbreviated-post,
.BlogHomePopular .abbreviated-post, .RelatedPosts .abbreviated-post, 
.RelatedArticles .abbreviated-post {
padding-right: 10px;
min-height: 0px;
padding: 0 0 5px 5px;
}

.blog-post-list .HomeArticlesList .content-list.standard .content-item .post-name ,
.blog-post-list .HomeBlogList .content-list.standard .content-item .post-name,
.blog-post-list .ArticlesHomeList .content-list.standard .content-item .post-name,
.content-fragment.blog-post-list .ArticlesHomePopular .content-list.standard .content-item .post-name,
.content-fragment.blog-post-list .BlogHomePopular .content-list.standard .content-item .post-name,
.content-fragment.blog-post-list .RelatedPosts .content-list.standard .content-item .post-name,
.content-fragment.blog-post-list .RelatedArticles .content-list.standard .content-item .post-name
{ margin-right: 0px; font-size: 12px; }

.content-fragment.blog-post-list .ArticlesHomeList .filter .query-type,
.content-fragment.blog-post-list .BlogHomeList .filter .query-type
{ margin-left: 0 px; }

#fragment-2313 p, #fragment-2313 .content-fragment-content ,
#fragment-2312 p, #fragment-2312 .content-fragment-content  
{ margin: 0; padding:0 5px 5px 10px; }

.CommonImageLeft 
{ margin-right: 10px; margin-bottom: 10px; }

.content-fragment-page.post .content-fragment.blog-post .content-fragment-top
{ display: block; }
.content-fragment-page.post .content-fragment.blog-post.side-border-only .content-fragment-top
{ display: none; }

.content-fragment-page.post .content-fragment.blog-post
{ margin-top:10px; }
.content-fragment-page.post .content-fragment.blog-post.side-border-only
{ margin-top:0; }

/* BREADCRUMBS */
.breadcrumb-list { font-size: 12px; color: #666; padding: 8px 0 8px; font-family:Arial, Helvetica, sans-serif;}
.breadcrumb-list .breadcrumb-item { margin: 0 3px; }
.breadcrumb-list .breadcrumb-item a { font-size: 12px; color: #666; text-decoration: none; font-weight: normal; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif; }
.breadcrumb-list .breadcrumb-item a:hover {color: #900;}
.bread-crumbs .content-fragment-content {padding: 0; border: none; }
/* END BREADCRUMBS */

.content-fragment.with-header .content-fragment-header div
{ padding-bottom: 5px; color: #808080; text-transform: uppercase; border-bottom: 1px solid #ccc; font-weight: bold; font-size:14px; font-family: Arial,Helvetica,sans-serif; }

.divICHeaderRightSubsection p {margin: 0;}
/*.content-fragment-inner p {margin: 0;}*/

.post-sharethis {margin: 8px 0;}

.content-fragment.blog-post-list div.filter
{ padding-bottom: 10px; padding-left: 10px; border: 1px dotted #ccc; margin-top: 0; background-color: #f1f1f1; }

.filter-label {font-weight:bold; }

.content-fragment.blog-post-list .content-list.standard .content-item .post-name
{ line-height: 24px; padding-top: 4px; }

.blog-post-list .ArticlesHomeList .content-list.standard .content-item .post-name a,
.blog-post-list .BlogHomeList .content-list.standard .content-item .post-name a 
{ font-family:Arial,Helvetica,sans-serif; font-weight: bold; font-size: 16px; color: #900;}

.content-fragment.blog-post-list .ArticlesHomeList .content-list.standard .content-item
{ padding: 20px 0;}

.ArticlesHomeList .abbreviated-post h4 a, .BlogHomeList .abbreviated-post h4 a {text-decoration: none;}

.content-fragment-content
{ padding: 6px 12px; }


.abbreviated-post .post-summary,
.abbreviated-post .post-actions,
.abbreviated-post .post-actions .navigation-list-header,
.abbreviated-post .post-actions ul,
.abbreviated-post .post-actions li
{ display: inline; }

.content-fragment.blog-post .full-post .post-tags
{ font-weight: normal; }

#Blog .content-fragment-inner .content-fragment-content .full-post h1.post-name,
#Blog .layout-region.content h1
 { color: #0B326B;
    display: block;
    font-family: Times New Roman;
    font-weight: normal;
    padding-top: 10px;
    font-size:28px;
    line-height: 32px;
    letter-spacing: -1px; }

/* Tag Cloud */
.tag-cloud .tag-list li { line-height:24px; font-weight: bold; }
#Blog .tag-cloud li.level-1 { font-size:20px; font-family: Arial,Helvetica,sans-serif; }
#Blog .tag-cloud li.level-2 { font-size:18px; font-family: Arial,Helvetica,sans-serif; }
#Blog .tag-cloud li.level-3 { font-size:16px; font-family: Arial,Helvetica,sans-serif; }
#Blog .tag-cloud li.level-4 { font-size:14px; font-family: Arial,Helvetica,sans-serif; }
#Blog .tag-cloud li.level-5 { font-size:12px; }
#Blog .tag-cloud li.level-6 { font-size:10px; }
#Blog .tag-cloud .tag-list  li.level-6 a {font-weight: normal; }
#Advice-and-Tips .right-sidebar .tag-cloud .tag-list li, #Hot-Trends .right-sidebar .tag-cloud .tag-list li  { font-weight: normal; display: block; }
#Advice-and-Tips .tag-cloud li .level-1, #Hot-Trends .tag-cloud li .level-1,
#Advice-and-Tips .tag-cloud li .level-2, #Hot-Trends .tag-cloud li .level-2,
#Advice-and-Tips .tag-cloud li .level-3, #Hot-Trends .tag-cloud li .level-3,
#Advice-and-Tips .tag-cloud li .level-4, #Hot-Trends .tag-cloud li .level-4,
#Advice-and-Tips .tag-cloud li .level-5, #Hot-Trends .tag-cloud li .level-5,
#Advice-and-Tips .tag-cloud li .level-6, #Hot-Trends .tag-cloud li .level-6 { font-size:12px; }

#Blog .content-fragment.tag-cloud.full-border.with-header .content-fragment-top {display: none;}
/* End Tag Cloud */

.blog-archive-list .content-list .content-item {border-bottom: 0;font-size:11px; color:#666;}
.blog-archive-list .content-list-name {display: none;}
.blog-archive-list .content-fragment-content .content-list {height: 160px; overflow: auto; overflow-x:hidden;}
.BlogHomePopular, .RelatedArticles {height: 300px; overflow: auto; overflow-x:hidden;}
.BlogHomePopular .abbreviated-post , .RelatedArticles .abbreviated-post {position:static; }

#Blog .full-post h3.post-name {display:none;}

.tagged-content-list .post-author {height: 50px;}
.tagged-content-list .post-name {font-weight: normal;}
.tagged-content-list .post-name a {display: block; font-size: 14px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; color:#900; }


.right-sidebar .blog-post-list .content-list .content-item {border-bottom:none;}

.right-sidebar .blog-post-list .abbreviated-post {padding: 6px 0 0;}

.right-sidebar .blog-post-list .abbreviated-post .post-author,
.right-sidebar .blog-post-list .abbreviated-post .post-attributes {display:none;}

/* Heading Blocks */
#divICHomeHeader 
{ background: url(../../../../Info-Center/cfs-file.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/00.00.00.00.19.template/2772.hdr_2D00_bg_2D00_200.gif) repeat-x bottom; }

#divICHeaderBlock 
{ padding: 60px 0 60px 30px;
background: url(../../../../Info-Center/cfs-filesystemfile.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/00.00.00.00.19.template/3582.main_2D00_bg_2D00_bubble.jpg) no-repeat bottom left;
height: 110px;
}

#divICHeaderBlock .divICHeaderText { width: 400px; float: left; display: inline; margin-right: 30px; }
#divICHeaderBlock h1 {font-size: 28px;}
#divICHeaderRight { width: 280px; float: right; display: inline; }
.divICHeaderRightSubsection {border-top: dotted 1px #999; padding: 10px 0; }
.divICHeaderRightSubsection h2 a {text-decoration: none; }
.divICHeaderRightSubsection p {font-size: 11px; font-style: italic; }

#divICArticleHeaderBlock, #divICSingleArticleHeaderBlock {padding: 20px; background: url(../../../../Info-Center/cfs-filesystemfile.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/00.00.00.00.19.template/0654.hdr_2D00_gray_2D00_120.gif) repeat-x bottom; }

.forums-grouplist .header .html-content .content-fragment-content,
.forums-threadlist .header .html-content .content-fragment-content, 
.forums-thread .header .html-content .content-fragment-content
 {background: url(../../../../Info-Center/cfs-filesystemfile.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/00.00.00.00.19.template/0654.hdr_2D00_gray_2D00_120.gif) repeat-x bottom; }

#divICBlogHeaderBlock { background: url(../../../../Info-Center/cfs-filesystemfile.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/00.00.00.00.19.template/3617.light_2D00_post_2D00_blog.gif) no-repeat bottom left; }

#divICBlogHeaderBlock {padding: 20px 20px 20px 330px;}
#divICSingleBlogHeaderBlock  {padding: 20px; }

#divICDiscussionsHeaderBlock { background: url(../../../../Info-Center/cfs-filesystemfile.ashx/__key/CommunityServer.Blogs.Components.WeblogFiles/00.00.00.00.19.template/8358.Discussions_2D00_logo.jpg) no-repeat bottom left; }

#divICDiscussionsHeaderBlock {padding: 20px 20px 20px 210px;}

#divICBlogHeaderBlock, #divICSingleArticleHeaderBlock, #divICArticleHeaderBlock, #divICSingleBlogHeaderBlock, #divICDiscussionsHeaderBlock {padding-top: 40px; height: 60px;}
.divICHeaderText h1 { font-size: 21px; line-height:21px; }
.divICHeaderText h2, .divICHeaderText .preHeading { font-size: 14px; display:block; color: #666; line-height:16px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; }
.divICHeaderText p { font-style: italic; }
.tcase {text-transform: capitalize;}
#divICBlogHeaderBlock .divICHeaderText h1 { display: none; }
.header .no-wrapper-with-spacing { margin: 0; }

.header .html-content .content-fragment-bottom {display:block;}
.header .html-content .content-fragment-bottom .r1, .header .html-content .content-fragment-bottom .r2,
.header .html-content .content-fragment-bottom .r3, .header .html-content .content-fragment-bottom .r4
{ background-color: #ccc; }

#Blog .header .html-content .content-fragment-bottom .r1, 
#Blog .header .html-content .content-fragment-bottom .r2, 
#Blog .header .html-content .content-fragment-bottom .r3, 
#Blog .header .html-content .content-fragment-bottom .r4,
#Hot-Trends .header .html-content .content-fragment-bottom .r1, 
#Hot-Trends .header .html-content .content-fragment-bottom .r2, 
#Hot-Trends .header .html-content .content-fragment-bottom .r3, 
#Hot-Trends .header .html-content .content-fragment-bottom .r4
{ background-color: #ffffff; border: none; }

#divICTrendsHeaderBlock, #divICSingleTrendHeaderBlock {height: 60px; background: url(../../../cfs-filesystemfile.ashx/__key/CommunityServer-Blogs-Components-WeblogFiles/00-00-00-00-19-template/6330.hot_2D00_trends.gif ) no-repeat bottom left; }
#divICTrendsHeaderBlock h1, #divICSingleTrendHeaderBlock h2 {display: none;}
#divICTrendsHeaderBlock p { color:#fff; font-weight: bold; padding: 30px 20px 0 250px;text-align: right; }
#divICTrendsHeaderBlock h2, #divICSingleTrendHeaderBlock h1 {color:#fff; font-size:20px; display: block; position: relative; padding: 24px 26px 0 250px;text-align: right; }

/* End Heading Blocks */

/* STYLE ILLUMINATED */

#siBlogMainHeader, #siBlogSubPgHeader, #siBlogPostHeader {
	height: 121px;
	width: 960px;
	margin:0 auto;
}
#siBlogMainHeader h1, #siBlogSubPgHeader #Logo, #siBlogPostHeader span {
	height: 121px;
	width: 243px;
	/* FALL: background: url(/info-center/cfs-filesystemfile.ashx/__key/CommunityServer-Blogs-Components-WeblogFiles/00-00-00-00-19-template/7367.style_2D00_illuminated.gif) no-repeat; */
        background: url(../../../cfs-filesystemfile.ashx/__key/CommunityServer-Blogs-Components-WeblogFiles/00-00-00-00-19-template/2018.style_2D00_illuminated.png) no-repeat;
	margin:0;
	padding:0;
	float:left;
	display:inline;
}
#siBlogMainHeader h1 span, #siBlogSubPgHeader #Logo span, #siBlogPostHeader span em { display:none; }
#siBlogMainHeader div,
#siBlogSubPgHeader div,
#siBlogPostHeader div {
	height: 87px;
	width: 717px;
	float:left;
	display:inline;
	background: #7dcdc6 url(../../../cfs-filesystemfile.ashx/__key/CommunityServer-Blogs-Components-WeblogFiles/00-00-00-00-19-template/0285.si_2D00_bg.png) no-repeat left bottom;
	margin-top: 34px;
}
#siBlogMainHeader div p,
#siBlogSubPgHeader div p,
#siBlogPostHeader div p {
	text-align:right;
	margin: 50px 15px 0 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:18px;
	color:#333;
}
#siBlogPostHeader div h1 {
	text-align:left;
        display:block;
	margin: 15px 15px 0 40px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:24px;
        line-height: 30px;
	color:#333;
	font-weight: normal;
	letter-spacing: -1px;
	 text-align: left;
}
a.rss {text-decoration: none; font-weight: normal; font-size:20px; font-family: "Times New Roman", Times, serif; color:#7dcdc6; }
a.rss span { position:relative; top: 2px; }

#Blog .content-fragment.with-header .content-fragment-header {border: 1px solid #7dcdc6; background-color:#7dcdc6;}
#Blog .content-fragment.with-header .content-fragment-header div {
    border-bottom: none;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight:normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding-bottom: 0;
}
#Blog .right-sidebar .content-fragment-content {border: 1px solid #7dcdc6;}
#Blog .right-sidebar .content-fragment.no-wrapper .content-fragment-content,
#Blog .right-sidebar .content-fragment.no-wrapper-with-spacing .content-fragment-content {
    background-color: Transparent;
    border: 0;
    padding: 0;
}
#Blog .right-sidebar .content-fragment-top, 
#Blog .right-sidebar .content-fragment-bottom {display:none;}

#Blog .blog-post-list .BlogHomeList .content-list.standard .content-item .post-name a,
#Blog h1.title {
    color: #0b326b;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: normal;
}
#Blog .post-content img {
    border:15px solid #ffffff;
    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    margin:20px;
}

/* END STYLE ILLUMINATED */

/* SEARCH WIDGET */
.search-form .field-item-input input {width: 225px;}

.search-form .internal-link.advanced-search,
.search-form .search-type,
.search-form .date-range,
.search-form .show-friends
{display: none}

/*.search-form .advanced-search .advanced-search__field-list .search-type,
.search-form .advanced-search .advanced-search__field-list .date-range,
.search-form .advanced-search .advanced-search__field-list .show-friends
{display: block}*/

.search-form .field-item-input a {
	background: #cc0102;
	background: -moz-linear-gradient(top,  #cc0102 0%, #990200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0102), color-stop(100%,#990200));
	background: -webkit-linear-gradient(top,  #cc0102 0%,#990200 100%);
	background: -o-linear-gradient(top,  #cc0102 0%,#990200 100%);
	background: -ms-linear-gradient(top,  #cc0102 0%,#990200 100%);
	background: linear-gradient(top,  #cc0102 0%,#990200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0102', endColorstr='#990200',GradientType=0 );
	border-bottom: 1px solid #400202;
	border-left: 1px solid #c33233;
	border-right: 1px solid #7a0201;
	border-top: 1px solid #e26b6c;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
	line-height: 25px;
	padding: 3px 15px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
        text-decoration:none;
}
	.search-form .field-item-input a:hover, .search-form .field-item-input a:focus {
		background: #e00000;
		background: -moz-linear-gradient(top,  #e00000 0%, #b10000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00000), color-stop(100%,#b10000));
		background: -webkit-linear-gradient(top,  #e00000 0%,#b10000 100%);
		background: -o-linear-gradient(top,  #e00000 0%,#b10000 100%);
		background: -ms-linear-gradient(top,  #e00000 0%,#b10000 100%);
		background: linear-gradient(top,  #e00000 0%,#b10000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00000', endColorstr='#b10000',GradientType=0 );
	}

.abbreviated-post { padding:18px 0; }
.post-content h2 { display: block; margin-top: 10px; font-size: 16px; line-height:18px; }
.post-content p { margin: 1em 0; }
.post-content li {line-height: 16px; }
.post-content a { text-decoration: underline; } 
.content-fragment.blog-post .full-post .post-content { border-top: none; margin: 10px 0 10px; }
.abbreviated-post .post-date {display: block;}
.post-sharethis, .post-date, .post-tag-wrapper { margin: 8px 0; } 
.abbreviated-post .avatar {position: relative; top: 10px; border: 0; height: 36px;}
.abbreviated-post .post-author, .post-attributes {clear: both;}
.abbreviated-post .post-author { display:block; }
.post-attributes {margin-top: 16px;}
.post-author-name, .post-author-avatar {display: inline;} 
.content-fragment.blog-post .full-post .post-tags { background: none; padding-left:0; }
.content-fragment.blog-post .full-post .post-attributes .attribute-list .post-reply-count .attribute-name { display: inherit; }
.content-fragment.blog-post .full-post .post-attributes .attribute-list { background: none; padding-left:0; }
.content-fragment.blog-post .full-post .post-date { font-size: 11px; font-weight: normal; }
.content-fragment.blog-post .full-post .post-date .value { margin-left:0; }
.post-tags {display: inline;} 
a.add-reply, a.login, a.create-account {padding: 4px 8px; text-decoration: none; font-weight: bold; background-color: #900; color: #fff; }
a:hover.add-reply, a:hover.login, a:hover.create-account  { color: #fff; }

.blog-feedback-list .content-list .content-item { padding-bottom: 10px; margin-bottom: 10px;}
.blog-post-comment-form textarea { width: 450px; }

/* Related Products */
.related-products td { vertical-align: top;}
.related-products td td { vertical-align: middle;}
.RelatedProductDetails { margin: 10px 0; text-align: center; }
.RelatedProductImage {height: 126px; width: 110px;}
.RelatedProductTitle a {font-size: 10px; line-height: 12px; color: gray; font-weight:bold; text-decoration: none;}
.RelatedProductPrice a { padding-top: 4px; text-decoration: none;}
.RelatedProductDetails a .RelatedProductTitle, .RelatedProductDetails a .RelatedProductPrice {text-decoration: none;}
.RelatedProductMore { text-align: center; }
.RelatedProductMore a { font-family:Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; }
.OnSale .RelatedProductPrice a { font-weight: bold; color: #900; }
/* End Related Products */

/*Paging*/
.pager a { text-decoration: none; }
.pager a.selected { font-weight:bold; border: 1px solid #900; color: #900; }
/*End Paging*/

/* Login Page */
.field-item-header { margin-bottom: 4px; }
.login .page-name {display: none;}
.login .checkbox .field-item-header { display: inline; }
/*.page-editing { padding: 10px; border: 1px solid #ccc; }*/
/* End Login Page */

/* User Profile Page */
.user-profile .content-fragment-inner .content-fragment-content {min-height: 61px;}

.user-banner .user-status, .user-banner h3 { display: none; }

.l-p-user-banner { background-color: #FFFFFF; height:140px; padding: 0; position: relative; }
.l-p-user-banner .content-fragment-content {height:120px;}
.user-banner .user-banner-actions .navigation-item {border-bottom: none; padding: 4px 0;}
.activity-message-list .post-grouping-count { display: none; }
/* .activity-message-list  .new-blog-post { clear: left; }
.activity-message-list .new-blog-post .post-author,
.activity-message-list .new-blog-post .post-content 
{ float: left; display: inline; } */

.setting-item.setting-shared-feeds .setting-item-input textarea {width: 740px;}
/* End User Profile Page */

/* User List Page*/
.user-userlist .user-list li {width: 60px; text-align: center; display: inline; float: left; padding: 10px; border: none; }
.user-userlist .user-list li .avatar {display: block; width: 60px; height: 60px; border:1px solid #CCCCCC; padding: 2px;}
.user-userlist .user-list li .user-name {display: block; width: 60px; height: 40px; text-align: center; font-size: 10px; }
/* End User List Page*/

/* HOT TRENDS */
#Hot-Trends .blog-post-list .ArticlesHomeList .content-list.standard .content-item .post-name a {color: #000; font-size: 22px; }
#Hot-Trends .post-content h2 {color: #000; }
/* End HOT TRENDS */

/* FORUMS
.content-fragment.thread-list .table-list {width: 100%;}
.content-fragment.thread .content-fragment-content { background-color:#f1f1f1;}
.content-fragment.thread-list .table-header-column.author-sort {width: 196px;}
.content-fragment.thread-list .table-header-column.date-sort {width: 120px; padding-left: 40px;}
.content-fragment.thread-list .abbreviated-post.discussion,
.content-fragment.thread-list .abbreviated-post.not-answered,
.content-fragment.thread-list .abbreviated-post.verified-answered
 {width: 120px;}
.content-fragment.thread-list .table-header-column.total-replies-sort, .content-fragment.thread-list .table-column.total-replies {width: 70px;}
.content-fragment.thread-list .table-column {vertical-align: top; }
.content-fragment.thread-list .table-column.post-author {padding-top: 16px; text-align: center;}
.content-fragment.thread-list .table-column.post-status {padding-left: 10px;}
.announcement { font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #7BA615; font-size: 12px; }
.post-application {font-size: 10px; margin-top: 8px; line-height: 12px; color: #999;}
.post-application a {display: block; color:#000;}

.content-fragment.thread-list .table-header .table-header-column.author-sort,
.content-fragment.thread-list .table-column.post-name {padding-left: 10px;}

.content-fragment.thread-list .abbreviated-post h4.post-name a {font-weight: bold; font-family:Arial,Helvetica,sans-serif; font-size:12px;}

.content-fragment.thread-list .abbreviated-post.read h4.post-name a {color:#666; font-weight: normal; text-decoration: none; font-size:12px; }

.content-fragment.thread-list .abbreviated-post.discussion .post-attributes,
.content-fragment.thread-list .abbreviated-post.not-answered .post-attributes,
.content-fragment.thread-list .abbreviated-post.verified-answered .post-attributes
{margin-top: 0; font-size: 10px;}

.content-fragment.thread-list .table-column.post-author .user-name {position: relative; text-indent: 0; display: block; clear: both; font-size: 10px; line-height: 12px;}

.content-fragment.thread-list .abbreviated-post.discussion .post-author,
.content-fragment.thread-list .abbreviated-post.not-answered .post-author,
.content-fragment.thread-list .abbreviated-post.verified-answered .post-author,
.content-fragment.thread-list .abbreviated-post .post-date .value
{ font-size: 10px; padding-left: 0; top: 15px; position: relative; }
.content-fragment.thread-list .abbreviated-post.discussion .post-thumbnail {left: 2px; top: 10px;}

.forum-list .content-list .content-item {padding: 4px 0;}
END FORUMS*/

/* AS SEEN IN */
#asSeenInHeading {margin-top: 15px;}
.l-p-media-gallery-post-list .file-thumbnail-list .post-thumbnail {height: 118px;}
.l-p-media-gallery-post-list .file-thumbnail-list li {width: 180px; float: left; display: inline; text-align: center; margin: 0 5px;}
.l-p-media-gallery-post-list .file-thumbnail-list a {color: #666; text-decoration: none; }
.l-p-media-gallery-post-list .content-list .content-item {border-bottom: none}
.l-p-media-gallery-post-list .pager {clear: both;}
.l-p-media-gallery-post-list .filter
 { background-color:#F1F1F1; border:1px dotted #CCCCCC; margin-top:10px; padding-bottom:10px; padding-left:10px;}
.media-post .full-post .post-attachment-viewer { float:left; display: inline; margin-right: 10px; margin-top: 1em; }
.media-post .full-post .post-attachment-viewer img {height: 150px;}
.media-post .full-post .navigation-list .navigation-item {float:right; display: inline; margin-right: 10px; font-size:10px;}
.media-post .full-post .post-content {clear: right;}
.menu {background-color: #f1f1f1;}
.pageLeft {float: left; margin-right: 10px;}
/* END AS SEEN IN */

.message.norecords {background-color: #f1f1f1;}

/* EDIT
.admin-bar {background-color: #cde;}
.admin-bar .navigation-list, .admin-bar fieldset.field-list {width: 900px; max-width: 900px;}
.page-management .content-fragment-search {text-align: right; left: -20px;}
.page-management {height: 160px;}
.page-management .content-fragment-type {width: 30%; margin: 2px;}
.page-management .layout {margin: 0 2px; width: 10% !important;}
.page-management .internal-link.change-layout {text-decoration: none;}
END EDIT*/

/* WIKIS */
.wikis-pagelist .content h3 { display: block; margin-top: 10px;}
.wikis-pagelist .content h3 a { font-weight: bold;}
.wikis-pagelist .post-rating, .wikis-page .post-rating {display: none;}
.hierarchy-item.selected  { background-color:#f1f1f1;}
.hierarchy-list .hierarchy-list {margin-left:16px; font-style: italic;}
.hierarchy-list li {position:relative; clear: both;}
.hierarchy-item {padding-left: 16px; display: block; clear: both;}
/* hide duplicate tilte of the default post Help FAQ */
#help-and-policies h3.post-name { display:none; }
/* END WIKIS */

.message.error  {background-color:#FFFFAA;}


