/***********************************************
 *** Global CSS ********************************
 ***********************************************/

/* Reset Reloaded resets all elements to their unstyled state with 0 margin and 0 padding */
/* Removed <b> and <i>  tags from the reset style.  -Hanan Mahmood*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center,dl, dt, dd, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent; font-weight: normal;}body {line-height: 1;} ul {list-style: none;}blockquote, q {quotes: none;}/* remember to define focus styles! */:focus {outline: 0;}/* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse: collapse;border-spacing: 0;}

/*img, div { behavior: url(/iepngfix.htc); } */

.pngFIX { behavior: url(../../iepngfix.htc); }

body {
	background-color: #ffffff;
	/*background-image: url(../images/_global/backgrounds/oxy_new_homepage_BG_final_bottomhalf2.jpg); */
	background-color: #FFC904;
	background-position: center top;
	background-repeat: repeat-y;
	color: #333;
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}

#mainBg {
	background: url(../images/_global/backgrounds/new_oxy_refreshbackground_stacy_workfile2.jpg) fixed top center no-repeat transparent;
	min-height: 609px;
	min-width: 984px;
}

a {
	color: #850077;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}

/* Purple Button Styles */

a.purpleBtn {
	color: #fff;
	display: block;
	width: 104px;
	text-align: right;
	padding: 5px 18px 6px 0;
	background: #850077 url(../images/_global/buttonArrow.gif) no-repeat center right;
	font-size: 1.1em;
	margin: 0 0 10px 0;
}

a.purpleBtn:hover {
	background: #424242 url(../images/_global/buttonArrowHover.gif) no-repeat center right;
	text-decoration: none;
}

.clearfix {
     clear: both;
}


#globalWrapper {
	position: relative;
	width: 984px;
	margin: 0 auto;
	background-color: #ffffff;
}

/* Global Content Styles */

#content {
	overflow: hidden;
	margin: 0 0 16px 0;
}

#primary {
	float: left;
	width: 658px;
	margin: 0 16px 0 0;
	display: block;
}

* html #primary {
	margin: 0 14px 0 0;
}

#secondary {
	float: left;
	width: 310px;
	background: url(../images/_global/sideBarHeaderBg.png) no-repeat;
	padding: 10px 0 0 0;
	display: block;
	overflow: hidden;
	behavior: url(../../iepngfix.htc);
}

/* Side Bar Styles */

#sideBarHeader {
	background: url(../images/_global/sideBarHeaderBg.png);
	behavior: url(../../iepngfix.htc);
}

#sideBarFooter {
	background: url(../images/_global/sideBarFooter.png);
	behavior: url(../../iepngfix.htc);
	height: 124px;
}

#sideBarContent {
	padding: 10px 0;

	background: #fff;
}




/* Default Shell Styles */

#mainContentHeader {
	background: url(../images/_global/mainContentHeader.png) no-repeat;
	height: 47px;
	behavior: url(../../iepngfix.htc);
}

#mainContentFooter {
	background: url(../images/_global/mainContentFooter.png) no-repeat;
	height: 21px;
	behavior: url(../../iepngfix.htc);
}

#mainContent {
	background: #fff;
	padding: 0 0 10px 0;
}

/* Ad Styles */

#ad160x600
{
	float: right;
	display: block;
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-right: 25px;
	padding: 3px;
}


#ad300x250 
{
	margin-top: 20px;
	background-color: #fff;
	padding:3px;
}

#x95AdBlock {
	
}

#ad300x250 img, #ad300x250 table, #ad300x250 object, #ad300x250 #x95AdBlock div {
	padding: 2px;
}

#ad160x600 span,
#ad300x250 span {
	display: block;
	text-align:right;
	margin: 0 5px 3px 0;
	font-size: 80%;
	color: #5b5b5b;
	text-transform: uppercase;
}

#ad300x250 a {
	clear: both;
	display: block;
}

/************************************************
 3 Column Row Items - Used Globally on Homepage, Shows and Movies 
 ************************************************/

.three_Col_Row {
	clear: both;
	width: 658px;
}
 .three_Col_Row .rowItem {
	float: left;
	width: 215px;
	margin: 0px 2px 15px 0px;
}
.three_Col_Row  .rowItem a.rowImage{
	background: url(../images/_global/imgFrame.jpg) 0px 0px;
	height: 122px;
	width: 182px;
	padding: 16px 11px 14px 15px;
	margin: 0px 0px 5px 3px;
	display:block;
}

.three_Col_Row  .rowItem a.rowImage:hover{
	background: url(../images/_global/imgFrame.jpg) 0px -154px;
}
.three_Col_Row .rowItem:hover a.rowImage{ /* not supported in IE6*/
	background: url(../images/_global/imgFrame.jpg) 0px -154px;
}

.three_Col_Row  .rowItem:hover a{ /* not supported in IE6*/
	text-decoration:underline;
	
}
.three_Col_Row .rowItem h4 {
	font-size: 18px;
	margin:0px 5px 5px 16px;
	width: 180px;
}
.three_Col_Row .rowItem p {
	width: 180px;
}
.three_Col_Row .rowItem h4 a{
	font-weight:bold;
}
.three_Col_Row .rowItem p {
	font-size: 12px;
	color: #58595b;
	margin: 0px 0px 0px 16px;
	line-height: 16px;
}

/************************************************
 2 Column Row Items - Used Globally on Movies
 ************************************************/

.two_Col_Row {
	clear:both;
	width:100%;
}
.two_Col_Row .rowItem {
	float: left;
	width: 295px;
	margin: 10px 10px 15px 10px;
	display: inline;
}
.two_Col_Row .rowItem a.rowImage{
	background: url(../images/_global/smImgFrame.jpg) 0px 0px;
	height: 100px;
	width: 134px;
	padding: 14px 11px;
	margin: 5px 10px 5px 0px;
	float:left;
}

.two_Col_Row .rowItem a.rowImage:hover{
	background: url(../images/_global/smImgFrame.jpg) 0px -130px;
}
.two_Col_Row .rowItem:hover a.rowImage{ /* not supported in IE6*/
	background: url(../images/_global/smImgFrame.jpg) 0px -130px;
}

.two_Col_Row .rowItem:hover h4 a{ /* not supported in IE6*/
	text-decoration:underline;
	
}
.two_Col_Row .rowItem h4 {
	font-size: 14px;
	margin:16px 5px 5px 16px;

}
.two_Col_Row .rowItem h4 a{

	font-weight:bold;
}
.two_Col_Row .rowItem p {
	font-size: 11px;
	color: #58595b;
	margin: 0px 0px 0px 16px;
	line-height: 14px;


}
/***********************************************
 *** 404 styles ********************************
 ***********************************************/
.Header404 {
	background-image: url(../../error/images/404Header.jpg);
	background-repeat: no-repeat;
	height: 53px;
}
.Header404 h2 {
	display: none;
}
.Graphic404 {
	background-image: url(../../error/images/404-graphic.jpg);
	height: 289px;
}
#oxygen404 #primary p, #oxygen404 #primary ul, #oxygen404 #primary ol {
	font-size: 1.2em !important;
	line-height: 1.6em;
	margin: 0 0 16px 0;	
}
#oxygen404 .info404 {
	padding: 20px 30px 10px 30px;
}
.info404 h3 {
	font-size: 1.8em;
	margin: 0 0 16px 0;
	font-weight: bold;
	color: #000;
}
.info404 strong{
font-weight:bold;
font-size: 1.2em !important;
	line-height: 1.6em;
	margin: 0 0 5px 0;	

}
.info404 ul {
 	list-style-type: square;
	list-style-position:inside;

 }
 
 
/***********************************************
 *** Global Modules ****************************
 ***********************************************/
 
 
 #theDish {
	width: 300px;
	background: #e1e1e1;
	/*line-height: 300px;  for demo purposes only. remove when content is placed */ 
	text-align: center;
	border: 5px solid #fff;
}

/* How do we look */

.howDoWeLook {
	
	height: 136px;
	background: url(../../images/how_do_we_look.jpg);
	width:310px;
	overflow:hidden;
	position:relative;
}
.howDoWeLook a {
	background: url(../../images/HowDoILook_BTN.jpg) no-repeat 0px 0px;
	height: 26px;
	width: 172px;
	display: block;
	position:absolute;
	left: 122px;
	top: 92px;
}
.howDoWeLook a:hover {
	background: url(../../images/HowDoILook_BTN.jpg) no-repeat 0px -26px;
}
.howDoWeLook a span{
display:none;
}


/* On Air Sidebar */

.onAirRightSidebar {
	width: 310px;
	background: #fff url(../images/_global/onTheAirSidebar.jpg) no-repeat;
	padding: 50px 0 0 0;
	overflow: hidden;
}

.onAirRightSidebar em {
	display: block;
	padding: 8px;
	text-align: center;
	font-size: 1.1em;
	margin: 0 auto;
	font-weight: bold;
}

.onAirRightSidebar ul {
	background: url(../images/schedule/scheduleBg.gif.html) 4px 10px no-repeat;
	padding: 4px 10px 0 64px;
	font-size: 1.1em;
	line-height: 2.0em;
	margin: 0 0 10px 10px;
	height: 1%;
}

.onAirRightSidebar ul li {
	text-align: left;
}

.onAirRightSidebar ul a {
	font-weight: bold;
}

.onAirRightSidebar .purpleBtn {
	float: right;
	margin-right: 25px;
}


/* Five Things - Used in Homepage */

#fiveThings {
	background: #fff;
	 }

#fiveThings h2 {
	height: 70px;
	background: url(../../images/fiveThings.gif);
	text-indent: -9999px;
	
	background: url(../../images/fiveThings.jpg);
}

h3.fiveThings {
	height: 70px;
	background: url(../../images/fiveThings.gif);
	text-indent: -9999px;
}

#fiveThings ul li {
	clear: both;
	background: #fff url(../images/sideBarFeatureBg.gif.html);
	height: 100px;
	overflow: hidden;
}

#fiveThings ul li img { 
	float: left; 
	display: inline;
	margin: 20px 10px 0 20px;
	border: 3px solid #f3eff0;
}

#fiveThings ul li:hover img {
	border: 3px solid #850077;
}

#fiveThings ul li:hover a {
	text-decoration: underline;
}

.alt2 img, .alt4 img {
	float: right !important;
	display: inline;
	margin: 15px 18px 0 10px !important;
}

#fiveThings ul li a.title  {
	display: block;
	margin: 20px 0 6px 0;
	width: 164px;
	float: left;
	font-size: 1.1em;
	font-weight: bold
} 
#fiveThings ul li a:hover {
	text-decoration: underline;
}

#fiveThings ul li p {
	color: #3e3e3e;
	font-size: 1.1em;
	width: 164px;
	float: left;
}

.alt2 p, .alt4  p {
	margin: 0 0 0 24px;
	display: inline;
}

.alt2 a.title, .alt4  a.title {
	margin: 20px 0 6px 24px !important;
	display: inline !important;
}

#fiveThings .alt1 {
	background: url(../../images/fiveThingsAlt1.jpg);
}

#fiveThings .alt2 {
	background: url(../../images/fiveThingsAlt2.jpg);
}

#fiveThings .alt3 {
	background: url(../../images/fiveThingsAlt4.jpg);
}

#fiveThings .alt4 {
	background: url(../../images/fiveThingsAlt3.jpg);
}

/**********************************************
'  What to watch - Used on  Movies Page
*************************************************/

 #whatToWatch{
	padding:0px;
	background-image: url(../images/_global/topShowsBg.jpg);
	margin:0px;
	overflow: hidden;
}
#whatToWatch ul {
	margin: 0 auto;
	padding: 6px 0px 70px 0px;
	width:300px;
	background-image: url(../images/_global/topShowsBottomBg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: hidden;
}

#whatToWatch ul li {
	width: 268px;
	margin: 0 auto 0 auto;
	overflow: hidden;
	clear: both;
	padding: 5px 0 10px 0;
}

#whatToWatch h2 {
	background: url(../images/_global/whatToWatchTop.jpg);
	height: 71px;
	text-indent: -9999px;
	margin: 0 auto 0 auto;
	
}

#whatToWatch ul li a.topShowImg img{
	float: left;
	margin: 0 7px 0 0;
	border: 3px solid #feee88;
	padding:0px;
} 
#whatToWatch ul li a.topShowImg:hover img{
	float: left;
	margin: 0 7px 0 0;
	border: 3px solid #850077;
	padding:0px;
} 

#whatToWatch ul li a.topShow Img:hover img{
border: 3px solid #850077;
float: left;
margin: 0 7px 0 0;
padding:0px;
}

#whatToWatch ul li:hover a.topShowImg img{
	border: 3px solid #850077;
	padding:0px;
}


#whatToWatch ul li:hover a {
	text-decoration: underline;
	}

#whatToWatch ul li a{
	font-size: 1.4em;
	font-weight: bold;
	display: block;
	margin: 0px 0 5px 0;
}

#whatToWatch ul li p{
	font-size: 1.1em;
	line-height: 1.2em;
	color: #58595b;
}

/* Movie Lounge */

#movieLounge {
	background: url(../images/_global/movieLoungeBg.jpg);
	height: 318px;
	padding: 0 35px;
}

#movieLounge h2 {
	text-indent: -9999px;
}

#movieLounge h4 {
	font-size: 11px;
	color: #ffdd00;
	text-transform: uppercase;
	padding: 140px 0 4px 0;
}

#movieLounge h3 {
	font-size: 1.4em;
	font-weight: bold;
	color: #fff;
	margin: 0 0 8px 0;
}

#movieLounge p {
	font-size: 1.2em;
	line-height: 1.2em;
	color: #ccc;
	margin: 0 0 10px 0;
}

#movieLounge .purpleBtn {
	
}

/* Games Tout */

.gamesSidebarTout {
	background-image: url(../images/_global/gamesTout.jpg);
	background-repeat: no-repeat;
	height: 380px;
	width: 310px;
	position: relative;
}
.gamesSidebarTout .gamesCopy {
	font-size: 12px;
	color: #333333;
	position: absolute;
	left: 121px;
	top: 103px;
	width: 168px;
	height: 223px;
}
.gamesSidebarTout .gamesCopy h4 a{
	font-size: 18px;
	font-weight: bold;
}
/* Mobile Tori and Dean Tout */

.mobilePageTout {
	background-image: url(../images/_global/toriDean_mobileTout.jpg);
	height: 200px;
	width: 300px;
	position: relative;
}

.mobilePageTout .purpleBtn {
	position: absolute;
	left: 172px;
}
.mobilePageTout h4{
	visibility:hidden;
}


#rightSideAdBlock, 
#rightAdBlock
{
	padding:0px; 
	left:810px;
	top:227px;
	position:absolute;
	width:160px;
	height:600px;
	/*overflow:auto;*/
}

#breadCrumbs {
font-size:10px;
padding:2px 18px;
}

.enterSweepsModule {
	background-image: url(../../sweepstakes/images/sweeps_sidebar_bg.jpg);
	background-repeat: repeat;
	overflow: hidden;
}
.enterSweepsModule h2 {
	background: url(../../sweepstakes/images/sweeps_sidebar_Top.jpg) -1px 0px;
	height: 76px;
	text-indent: -9999px;
}
.enterSweepsModule ul {
	background-image: url(../../sweepstakes/images/sweeps_sidebar_Bottom.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 60px;
}
.enterSweepsModule li {
	margin: 0px auto 10px auto;
	width: 264px;
	font-size: 12px;
	line-height: 16px;
}
.enterSweepsModule strong {
	font-size: 18px;
	line-height: 20px;
}
.enterSweepsModule a.sweepsImg {
	background: url(../../sweepstakes/images/imgFrameBg.jpg) no-repeat 0px 0px;
	padding: 10px 10px 8px 10px;
	display: block;
	margin: 0px 0px 10px 0px;
}
.enterSweepsModule a.sweepsImg:hover, .enterSweepsModule li:hover  a.sweepsImg{
	background: url(../../sweepstakes/images/imgFrameBg.jpg) 0px -104px;
}
.enterSweepsModule li:hover  a{
text-decoration:underline
}.enterSweepsModule li:hover  a.purpleBtn{
text-decoration:none
}
.enterSweepsModule p {
	padding: 5px 0px;
}

small
{
	color:#666666;
	font-size:10px;
}

strong
{
	font-weight:bold;
}

.blockImage {
	display:block;
}

/* IntenseDebate styles */

#idc-container .idc-head_tools-login
{
	display:none;
}
 
#IDPostNewThreadUseOpenID,#IDSignupChkDivNewThread
{
	display:none !important;
}	

#idc-container .idc-btn_s .idc-r strong
{
	font-size:14px;
} 

#idc-container .idc-footer
{
	margin:3em 0pt 0pt !important; 
} 


/* REMARKETING PIXEL TRACKER STYLE jkordylewski march09 */
.pxlTRCK {
	position:absolute;
	top:0px;
	left:0px;
}