/* Header Styles */

#oxyHeader {
/*	position:relative;
	z-index: 2147483647;*/
}



/* Global Search */
/*
.globalSearch {
	width: 400px;
	height: 32px;
	overflow: hidden;
	position:absolute;
	top: 55px;
	right:0px;
	font-size: 14px;
	line-height: 32px;
}

.globalSearch form {
	display: block;
	overflow: hidden;
	width:316px;
	height:20px;
	padding: 2px;
	float:right;
	display:inline;
}

#searchInput {
	background: none;
	border: 0;
	padding: 2px 3px;
}

.globalSearch p {
	float: left;
}

#searchBtn {
	margin:0px;padding:0px;float:left;width:35px;height:20px;display:inline;
}*/

#searchBtn
{
	margin-top:7px;
}
#globalSubNav
{
	height:25px;
	background-color:#000;
	clear:both;
	padding: 0px;
	margin: 0px;
}

#globalNav {
	height: 49px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat; 
	background-color:#fcc;
	clear:both;
	margin: 0px;
	padding: 0px;
/*	padding-left: 158px;*/
}

/* Global Navigation */

#globalNav li {
	float: left;
	display:inline;
}

#globalNav li a {
 
	display: block;
	height: 45px; 
}

/*
#globalNav li a:hover {
	background-position: bottom center;
}
*/

.navHome a {
	width: 28px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat -158px 0px;
	margin-left:158px;
}

.navHome a:hover {
	background-position: -158px -98px;
}

#oxygenHome .navHome a
{
	background-position: -158px -49px;
}

.navShows a
{
	width:100px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat -186px 0px;	
} 

.navShows a:hover {
	background-position: -186px -98px;
}

.navBlogs a
{
	width:98px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat -286px 0px;	
} 

.navBlogs a:hover {
	background-position: -286px -98px;
}
/* class added for subnav hover*/
a.navBlogsSubnavHover {
	background: url(../images/_global2010/nav_states.jpg) no-repeat -286px -98px;
}
.navPhotos a
{
	width:115px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat -385px 0px;	
} 

.navPhotos a:hover {
	background-position: -385px -98px;
}

.navVideos a
{
	width:107px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat -500px 0px;	
} 

.navVideos a:hover {
	background-position: -500px -98px;
}

.navFullEps a
{
	width:214px;
	background: url(../images/_global2010/nav_states.jpg) no-repeat -608px 0px;	
} 

.navFullEps a:hover {
	background-position: -608px -98px;
}
#globalSubNav
{
	background-image:url(../images/_global2010/subnav_states.gif);
	background-repeat:no-repeat;
}
#globalSubNav li
{
	display:inline;
	float:left;
}

#globalSubNav li a
{
	display: block;
	height: 25px;
	text-indent: -9999px;
}

.navSchedule a
{
	background:url(../images/_global2010/subnav_states.gif) -182px 0;
	margin-left:185px;
	width:64px;
	
}
.navSchedule a:hover
{
	background-position: -182px -25px;
	
}
.navBoards a
{
	background:url(../images/_global2010/subnav_states.gif) -248px 0;
	width:107px;
	
}

.navBoards a:hover
{
	background-position:-248px -25px
}

.navGames a
{
	background:url(../images/_global2010/subnav_states.gif) -355px 0;
	width:50px;
	
}

.navGames a:hover
{
	background-position:-355px -25px
}

.navShop a
{
	background:url(../images/_global2010/subnav_states.gif) -405px 0;
	width:38px;
	
}

.navShop a:hover
{
	background-position:-405px -25px
}

.navMobile a
{
	background:url(../images/_global2010/subnav_states.gif) -443px 0;
	width:49px;
	
}

.navMobile a:hover
{
	background-position:-443px -25px
}

#topHeaderHalf
{
	background-image:url(../../../features.oxygen.com/sites/all/themes/oxygen/images/oxy_newclean_header.jpg); 
	background-repeat:no-repeat;
	height:145px;
}
#bottomHeaderHalf
{
	min-height:134px; 
	background-color:#fff;
	background-image:url(../images/_global/nav_background_bottom_yellowrefresh.jpg);
	background-repeat:no-repeat;
}

#adExpander {
	width:984px;
	/*margin: 10px 0 0 0;*/
	padding:7px 0 0 0;
	/* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale src='http://www.oxygen.com/common/images/_global2010/75p.png'); */
}
#adExpander[id] {
/*	background-image:url(/common/images/_global2010/75p.png);*/
}

#topAdBlock {
	text-align:center !important;
	margin: 0 auto !important;
	float:none !important;
}

#topAdBlock > div, #topAdBlock > div > div, #topAdBlock > table, #topAdBlock > object, #topAdBlock > embed {
	text-align:center !important;
	margin: 0 auto !important;
	float:none !important;
}
/* styles below added for blog subnav */

        #globalNav ul.subnav {
		background-color:#000000;
		color:#ffffff;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align:left;
		font-size: 11px;
		letter-spacing: 1px;
		width: 984px;
		height: 24px;
		margin-left: 0px;
		display:none;
        }
        #globalNav #subnav_blogs li {
		margin: 0;
		padding: 0;
		float: left;
		margin: 0px;
        }

	#subnav_blogs {
		position: relative;
		top: 4px;
		left: -286px;
		clear: both;
		background:none;
		background-color: #000000;
		padding-left: 162px;
	}
	#globalNav #subnav_blogs li a {
		background: none;
		padding: 5px 0;
		text-indent: 0px;
		color: #999999;
		text-align: center;
		height: 13px;
		text-decoration: none;
		font-weight: bold;
	}
	#globalNav #subnav_blogs a:hover {
		background: none;
		color: #7EB8E8;
        }
	.navBlogs {
		width: 98px;
		height: 49px;
	} 
/*#Oxygenlogo a{
	background-image:url(http://features.oxygen.com/sites/all/themes/oxygen/images/oxygen-green-logo.jpg);
	background-repeat:no-repeat;
	background-color:white;
	position:relative;
	left:-10px;
}*/