/***********************************************
 *** Begin Override Styles *********************
 ***********************************************/
/*
The purpose of these styles is to override the default "sparkle" shell. It included styles to change the background pattern to pink, gold or silver. It also controls the width of the columns and defines either a one column or two column format.

*/


/* Simple Shell Wide Column  */

body.wideShell #primary
{
	width:984px;
	margin:0 auto;
	overflow: hidden;
	background-color:#ffffff;
	display:block;
	float:none;
}

body.silver #transparentLogo, body.pink #transparentLogo, body.gold  #transparentLogo {
	background: url(../../images/_global/logoTransparent.png.html) no-repeat 0 7px;
	display: block;
	width: 164px;
	height: 130px;
}

* html body.silver #transparentLogo, * html body.pink #transparentLogo, * html body.gold #transparentLogo {
	margin: 6px 0 0 0;
}

body.silver { /* Not needed, as the tiled background is silver by default */
	
}

body.pink {
	background: url(../../images/_global/backgrounds/micrositePinkTile.jpg.html) top center;
}

body.gold {
	background: url(../../images/_global/backgrounds/micrositeGoldTile.jpg.html) top center;
}

body.silver #mainBg {
	background: url(../../images/_global/backgrounds/micrositeSilverGradients.jpg.html) no-repeat top center;
}

body.pink #mainBg {
	background: url(../../images/_global/backgrounds/micrositePinkGradients.jpg.html) no-repeat top center;
}

body.gold #mainBg {
	background: url(../../images/_global/backgrounds/micrositeGoldGradients.jpg.html) no-repeat top center;
}

body.silver #header h2,  body.pink  #header h2,  body.gold #header h2{
	position: absolute;
	top:0;
	left: 0;
}


body.silver #header h2 a,  body.pink #header h2 a, body.gold #header h2 a  {
	background: url(none.html);

}

body.silver  #globalSubNav, body.pink #globalSubNav, body.gold #globalSubNav {
	background: #535353 url(none.html);
}

body.silver  #primary, body.pink #primary, body.gold  #primary {
	background: #fff;
	width: 984px;
}

* html body.wideShell #primary, * html body.silver  #primary, * html body.pink #primary, * html body.gold  #primary {
	margin: 0 0 20px 0;
}
.primary-2px-fix{padding:0px 2px;} /*This is a fix for old microsites that are 980px wide that need to fit inside the new 984px wide one column shell*/


.comment{	/*Added by Hanan Mahmood to stop overflowing content area in MT blogs */
	width:424px;
	overflow:auto;
}