/*
792px grid system ~ Core CSS.
12 Columns ~ Margin left: 8px ~ Margin right: 8px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
	margin-left: auto;
	margin-right: auto;
	width: 792px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display: inline;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 50px;}
.container_12 .grid_2 {width: 116px;}
.container_12 .grid_3 {width: 182px;}
.container_12 .grid_4 {width: 248px;}
.container_12 .grid_5 {width: 314px;}
.container_12 .grid_6 {width: 380px;}
.container_12 .grid_7 {width: 446px;}
.container_12 .grid_8 {width: 512px;}
.container_12 .grid_9 {width: 578px;}
.container_12 .grid_10 {width: 644px;}
.container_12 .grid_11 {width: 710px;}
.container_12 .grid_12 {width: 776px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 66px;}
.container_12 .prefix_2 {padding-left: 132px;}
.container_12 .prefix_3 {padding-left: 198px;}
.container_12 .prefix_4 {padding-left: 264px;}
.container_12 .prefix_5 {padding-left: 330px;}
.container_12 .prefix_6 {padding-left: 396px;}
.container_12 .prefix_7 {padding-left: 462px;}
.container_12 .prefix_8 {padding-left: 528px;}
.container_12 .prefix_9 {padding-left: 594px;}
.container_12 .prefix_10 {padding-left: 660px;}
.container_12 .prefix_11 {padding-left: 726px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 66px;}
.container_12 .suffix_2 {padding-right: 132px;}
.container_12 .suffix_3 {padding-right: 198px;}
.container_12 .suffix_4 {padding-right: 264px;}
.container_12 .suffix_5 {padding-right: 330px;}
.container_12 .suffix_6 {padding-right: 396px;}
.container_12 .suffix_7 {padding-right: 462px;}
.container_12 .suffix_8 {padding-right: 528px;}
.container_12 .suffix_9 {padding-right: 594px;}
.container_12 .suffix_10 {padding-right: 660px;}
.container_12 .suffix_11 {padding-right: 726px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 66px;}
.container_12 .push_2 {left: 132px;}
.container_12 .push_3 {left: 198px;}
.container_12 .push_4 {left: 264px;}
.container_12 .push_5 {left: 330px;}
.container_12 .push_6 {left: 396px;}
.container_12 .push_7 {left: 462px;}
.container_12 .push_8 {left: 528px;}
.container_12 .push_9 {left: 594px;}
.container_12 .push_10 {left: 660px;}
.container_12 .push_11 {left: 726px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -66px;}
.container_12 .pull_2 {left: -132px;}
.container_12 .pull_3 {left: -198px;}
.container_12 .pull_4 {left: -264px;}
.container_12 .pull_5 {left: -330px;}
.container_12 .pull_6 {left: -396px;}
.container_12 .pull_7 {left: -462px;}
.container_12 .pull_8 {left: -528px;}
.container_12 .pull_9 {left: -594px;}
.container_12 .pull_10 {left: -660px;}
.container_12 .pull_11 {left: -726px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
