@charset "utf-8";
/* CSS Document */
/* http://www.stage.att.com/Common/enterprise/homepage/css/homebase4a2-ent.css*/
.attDDPAdSolution{height:15em !important} 

/*** CSS RESET ***/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p{margin:0; padding:0; text-align:left}table{border-collapse:collapse; border-spacing:0}fieldset,img{border:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup {vertical-align:text-top; position:relative}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}ul,ol,li{list-style:none}
html{-webkit-text-size-adjust:95%}
html {
    background-color: #FFFFFF;
    background-image: url("../images/gradbkg_left_img.png");
    background-position: left top;
    background-repeat: no-repeat;
}
#track{position:absolute; bottom:0;}
#ie6 .png{behavior: url(../../../indc/homepage/scripts/iepngfix.htc); border:0}

/*** GLOBAL ***/
/*body{font-size:62.5%;
font-family:Verdana, Helvetica, sans-serif; 
 color:#ffffff; 
 background-color:#ededed !important; 
 line-height:1.3em;
  text-align:center
  }*/

body {
    background-color: transparent;
    background-image: url("../images/gradbkg_right_img.png");
    background-position: right top;
    background-repeat: no-repeat;
    color: #666666;
    font-family: arial,sans serif;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    width: 100%;
    z-index: 1; 
}
.clear{clear:both}
.rel{position:relative}
.block{display:block}
.inline{display:inline}
.left{text-align:left !important}
.right{text-align:right !important}
.bottom{position:absolute; bottom:0}
.bullet li{background:url(../../../indc/images/bullet_square_10x7.gif) 0 0 no-repeat; margin:2px 0; padding:1px 10px}
/*p{margin:0 0 1em 0}*/
a:link{text-decoration:none; color:#067AB4}
a:visited{text-decoration:none; color:#067AB4}
a:hover{text-decoration:underline !important; color:#067AB4}
.lnkColor{color:#067AB4}
.underline{text-decoration:underline !important}
.underline:hover{text-decoration:none !important}
ul, ol, dl{ margin: 0 0 1em 0 }
input, textarea, select{border:1px solid #ccc; vertical-align:middle; background-color:#fff; color:#656565}
.hide{display:none}
#ie{zoom:1}
sup{font-size:80%; top:0; left:1px; font-weight:normal}
            #ie sup{font-size:100%}
.supSafari{top:-2px}

.reg{font-size:90%; top:-2px}
            #ie .reg{font-size:11px; top:-2px}


#pageID{position:absolute; top:-20px; width:100px; text-indent:-9999px;}
#wrapper{margin:0 auto; width:985px; /*background-color:#ededed;*/ height:100%}

/**** TOP ROW ****/
#universalNav{position:relative; top:0; left:0;  /*background:url(/Common/indc/homepage/images/page_topSlice.gif) bottom repeat-x;*/ width:985px; text-align:right; height:3.0em}

/**** TOP LEFT TABS ****/
.topLeftTabs{position:absolute; left:-4px; bottom:2px; height:2.8em; background:#ffffff url(../../../indc/homepage/images/nav/top_tabs_top.gif) 0 0 no-repeat; margin:0; padding:0; font-size:.9em}
            #ie6 .topLeftTabs{bottom:0px; height:3.0em}

.topLeftTabs li{float:left; height:2.5em; overflow:hidden; background:url(../../../indc/homepage/images/nav/top_tabs-butbg2.gif) 0 bottom no-repeat !important; padding:0 0 0 4px; margin-top:4px}
            #ie6 .topLeftTabs li{margin-top:4px}
.topLeftTabs .per{background-position:-4px bottom !important; padding:0; margin-left:8px;}
            #ie6 .topLeftTabs .per{margin-left:4px}
.topLeftTabs #last{border-right:1px solid #e6e6e6; padding:0}

.topLeftTabs li a{display:block; margin-top:1px; text-align:center; height:2.0em; font-size:1.2em; line-height:2.0em; letter-spacing:-1px;}
.topLeftTabs .per a{width:8.0em}
.topLeftTabs .smb a{width:9.6em}
.topLeftTabs .ent a{width:8.0em}
.topLeftTabs li a.selected{background:#ffffff; font-weight:bold; color:#ff7200; cursor:default; text-decoration:none}
.topLeftTabs #last span{border-right:1px solid #dcdcdc; font-size:.1em; width:2px}


/* TOP RIGHT LINKS */
.topRightLinks{float:right; position:absolute; top:1px; right:5px; height:3.0em; font-size:.9em}
.topRightLinks span{line-height:3.0em; zoom:1}
.topRightLinks .espanol{padding:0 1.1em 0 4.6em; border-right:1px solid #cccccc; zoom:0}
.topRightLinks .language{padding:0 0 0 .7em; zoom:1}

/****CONTENT AREA****/
/*#container{background:#fff url(/Common/indc/homepage/images/page_midSlice.gif) 0 0 repeat-y;}*/
#page{
   margin:0 12px;
   width:983px;
   position:relative;
}
#header{
   height:73px;
   clear: both;
   font-size: .95em;
}

/**** SEARCH FORM & LOGO ****/
#homeSearch{height:73px; text-align:right;}
.logo{float:left; width:200px; height:73px}
.logo a{position:absolute; top:2px; left:15px; text-indent:-9999px}
.logo a span{
            background:url(../../../indc/homepage/images/logo-small.png) 0 0 no-repeat;
            width:93px;
            height:43px;
            position:relative;
            display:block;
}
#homeSearch fieldset{position:absolute; top:25px; right:0;}
#homeSearch .login{position:absolute; right:0; top:-10px; text-align:right; font-size:1.1em; color:#cccccc}
#homeSearch .login .lnk1{padding:0 0 0 0}
#homeSearch .login .lnk2{padding:0 0 0 0}

#homeSearch legend{display:none}
#homeSearch label{font-size:1.1em; margin-left:5px; visibility:hidden}
#homeSearch input{border:1px solid #cccccc; text-indent:5px; font-size:1.1em; margin-left:2px; background:#ffffff}         

#homeSearch #query, #homeSearch #q{height:1.4em; width:137px; margin:0; padding-top:2px !important }
#ie #homeSearch #query, #homeSearch #q{height:1.3em; line-height:1.5em; padding-top:0 !important}

#homeSearch input.btnGo{border:none; width:3.0em; height:1.7em; margin-bottom:1px; margin-left:2px}
            #ie #homeSearch input.btnGo{margin-left:0px}

/**** PRODUCT NAVIGATION ****/
#content{clear:both; overflow:hidden; position:relative; width:100%; height:auto; text-align:left}

#prodNav{height:2.4em; background:url(../images/prodNav-bg.gif) bottom repeat-x; letter-spacing:-1px; font-weight:bold; font-size:1.1em; margin-bottom:10px}
            #ie6 #prodNav{zoom:1}
#prodNav ul{margin:0;}
#prodNav li{float:left}
#prodNav li a{line-height:2.0em; text-decoration:none; font-size:1.2em; padding:0 18px; display:block; white-space:nowrap}
#prodNav li a:hover{text-decoration:underline}
#prodNav li.selected a:hover{text-decoration:none; cursor:default}


/****************
FLASH MARQUEE
****************/
#marqueeContainer {
    height: 514px;
    margin-left: -63px;
    margin-top: -170px;
    position: absolute;
    width: 1100px;
}

#marquee {
    margin-top: -27px;
}

.marquee {
    clear: both;
    height: 514px;
    overflow: hidden;
}


/**** 4 TILES ****/
#quadBox1{height:12.8em; clear:both; display:block; position:relative; margin-bottom:10px; overflow:hidden}
   #ie #quadBox1{height:12.9em;}
   
#spacer1, #spacer2, #spacer3, #spacer4{height:12.6em; border:1px solid #cccccc; background:url(../images/slot-grad.png); background-position:1px 1px; background-repeat:no-repeat; margin-bottom:10px}
.defaultContent{position:relative; height:12.6em; border:1px solid #cccccc; background:url(../images/slot-grad.png); background-position:1px 1px !important; background-repeat:no-repeat !important; margin-bottom:10px}
            #ie .defaultContent{position:relative; height:12.7em; border:1px solid #cccccc; background:url(../images/slot-grad.png); background-position:1px 1px; background-repeat:no-repeat; margin-bottom:10px}

.slot img{padding:1px;}
.slot h2{position:relative; left:10px; top:6px; color:#666666; font-weight:normal; font-family:Arial, Helvetica, sans-serif;text-transform: uppercase; font-size:14px; line-height:1.2em; margin-bottom:12px}
.slot p{position:relative; left:10px; font-size:12px;}
.slot p{position:relative; left:10px; font-size:12px;}
.slot .h3title{font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.slotGrad{background:#f5f5f5 url(http://www.att.com/Common/enterprise/homepage/images/slots/slot-grad.png) !important}

/**** LINK FARM ****/
.linkFarm{width:950px; clear:both; background:url(../images/farm-grad.gif) 0 1px repeat-x; margin-bottom:10px; border-top:1px solid #cccccc}
.linkFarm table{margin:5px 10px}
.linkFarm th{font-weight:bold; font-size:1.1em}
.linkFarm td{font-size:1.0em; line-height:1.6em; margin-bottom:10px; padding:5px 0; vertical-align:top}

.bottomLinks{clear:both; margin-bottom:10px; color:#cccccc}
.bottomLinks a, .bottomLinks a:visited, .bottomLinks a:hover{font-size:.9em; color:#999999; padding:0 5px;}

/**** FOOTER ****/
/*#btmContainer {
   height:80px;
   background: url(/Common/indc/homepage/images/page_btmSlice.gif) 0 0 no-repeat transparent;
            margin-bottom:20px;
}*/
.copyright {
   float:left; 
            clear:both;
   width:550px;
   line-height:1.3em;
            margin:0 3px;
   color:#656565;
   padding-top:10px
}
.copyright a, .copyright a:visited, .copyright a:hover {
   color:#858585;
   font-size:1em
}
.yellowpages{margin:10px 50px 10px 0}
.ciclogo{float:right; padding:15px 10px 0 0}

/**** CONTAINERS & STUFF ****/           
.first_950{float:left; width:950px; clear:left; padding-right:18px;padding-left:20px;}
.first_182{float:left; width:190px; clear:left}
.col_182{float:left;         width:190px;}
.first_230 {float:left; width:auto; clear:left}
.first_210 {float:left; width:auto; margin-right:40px; clear:left}
.col_230 {float:left; width:230px; margin-left:10px}
.col_210 {float:left; width:auto; margin-right:10px; margin-left:40px}
.first_710 {float:left; width:710px; clear:left}
.col_710 {float:left; width:710px; margin-left:10px}
.box1{float:left; width:292px; }
.box2{float:left; width:242px;margin:0 8px 0 0; }
.box3{float:left; width:162px;margin:0 8px 0 0; }
.box4{float:left; width:220px; }

.btnBlueCagedArrow {
   background: url(../../../indc/images/btn_blue_caged_arrow.gif) 0 50% no-repeat transparent;
   padding: 2px 1px 0 20px;
   cursor:pointer;
   height:15px;   
   display:block;
   width:20px;
   white-space:nowrap;
}
.btnWhiteCagedArrow {
   background: url(../../../indc/images/btn_white_caged_arrow.gif) 0 50% no-repeat transparent;
   padding: 2px 1px 0 20px;
   cursor:pointer;
   height:15px;
   display:block;   
}


/**** ACCORDION STYLES ****/
#non-accordion{
            border:1px solid #ccc;
            padding:1px 1px 0 1px;
            margin:0 0 10px 0;
            background-color:#fff;  
            height:25.7em;
}
#ie #non-accordion{height:25.9em;}
#non-accordion h3{
            padding:6px 10px;
            font-size: 1.2em;
            line-height: 15px;
   font-weight:bold;
            color: #666666;
            background: url(../../../indc/homepage/images/bkgrd-accordion.gif) repeat-x left top #f8f8f8; 
}
#non-accordion .accContent1{
            margin:5px 10px 20px 10px;
}
#non-accordion .accContent2{
            margin:5px 10px 10px 10px;
}

#non-accordion .accContent1 p, #non-accordion .accContent2 p{margin-bottom:5px; font-size:1.0em; line-height:1.6em}


/**** RESIZABLE ACCORDION ****/
#accordion td, #accordionHolder td{white-space:nowrap}
#accordion, #accordionHolder {
            border:1px solid #ccc;
            padding:1px 1px 0 1px;
            margin:0 0 10px 0;
            background-color:#fff;  
            height:25.7em;
}
#ie #accordion, #ie #accordionHolder{
            height:25.9em;
}

.accToggler, .toggleActive {
            display:block;
            margin:0;
            padding:6px 10px;
            font-size: 1.2em;
            line-height: 15px;
            color: #0a94d6;
            background: url(../images/bkgrd-accordion.gif) repeat-x left top #f8f8f8;
            position:relative;
}
h3.accToggler span {
            display: block;
            padding-right: 15px;
            background: url(../images/acc-arrow-right.gif) right no-repeat;
   cursor:pointer;
}
h3.toggleActive span {
            display: block;
            padding-right: 15px;
            background: url(../images/acc-arrow-down.gif) right no-repeat;
            color: #656565;
            font-weight:bold; 
            font-family:Verdana;
   cursor:pointer;
}
h3.toggleActive span a{color:#666 !important; cursor: pointer;}
h3.toggleActive span a:hover, h3.accToggler span a:hover{text-decoration:none}
.accContent {
            background: url(../images/acc-bkgrd-content.gif) repeat-x left bottom #fff;
            /*height:17.5em;*/
   height:auto;
            overflow: hidden;
            font-size: 1em;
            line-height: 15px;
   position:relative; 
            zoom:1;  
}
.one-tile .accContent div.accPromo {
            height:22.0em;
   padding:5px 10px;
}
#ie .one-tile .accContent div.accPromo {
            height:22.1em;
}
.one-tile h3.toggleActive span, 
.one-tile h3.accToggler span{background:none}

.two-tiles .accContent div.accPromo {
            height:19.3em;
   padding:5px 10px;
}
#ie .two-tiles .accContent div.accPromo {
            height:19.4em;
}
.three-tiles .accContent div.accPromo {
            height:16.6em;
   padding:5px 10px;
}
#ie .three-tiles .accContent div.accPromo {
            height:16.7em;
}
#feeddiv{width:220px; margin-left:10px; margin-top:20px;}
.accPromo th, .accPromo td{padding-top:10px}
.accPromo p{line-height:1.6em}
.accPromo p span{color:#cccccc}
.arrow-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
}
.arrow-list li {
            padding-bottom: 3px;
            margin: 0;
}
.arrow-list li a {
            padding: 1px 0 2px 20px;
            background: url(../images/btn_white_caged_arrow.gif) left no-repeat;          
            position:relative;
            display:block;
}

.accPromo input.btnGo{border:none; margin-bottom:1px; margin-left:2px}
            #ie .accPromo input.btnGo{margin-left:0px}
.accPromo input{border:1px solid #cccccc; text-indent:5px; font-size:1.0em; margin-left:2px; background:#ffffff} 
.accPromo #login{height:1.4em; width:137px; margin:0; padding-top:2px !important;}
            #ie .accPromo #login{height:1.6em; line-height:1.5em; padding-top:0 !important}



div.my_wrapper1 {
    border-bottom: 0px solid #CCCCCC !important;
    float: left;
    height: auto;
    left: -10px;
    position: relative;
    top: -17px;
    width: 204px;
}


 
.post-image {
    float: right;
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: -24px;
    margin-top: 17px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 75px;
}
.Orangeheader{
	font-family: arial !important;
	font-size: 13px !important;
	font-weight: bold !important;
	color: #FF7200!important;
	border-bottom: 0px !important;
	 
	width: 206px !important;
 *width:206px !important;
 		margin: 0px 9px 9px 0px;
}

 .article-header {
	display: block;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
}
.article-header h2 {
  margin: 0;padding-bottom:0px !important;*float:left !important;
  line-height: 1;clear:none !important;border-bottom:0px !important;*clear:both !important;*width:130px !important;
}
.article-header h2 a {
  font: bold 12px Arial;color:#067AB4;border-bottom:0px !important;
  text-transform: capitalize!important;
}
.article-header a {
  font-weight: bold;text-decoration:none;
}
.article-header  a:hover{text-decoration:underline;}
.post-content {
	padding: 0px;
	display: block;
	font-family: arial;
	font-size: 13px;
	line-height: 16px;
	color: #444444;padding-bottom:12px !important;*clear:left !important;
	padding-top:7px;
	position:relative;left:10px;
}
.post-date{font-family:arial !important;
font-size:11px !important;
font-weight:normal !important;
color:#444444 !important;padding-top:12px !important; }
.author-link a{font-family:arial !important;
font-size:11px !important;
font-weight:bold !important;
color:#067AB4 !important;text-decoration:none; }
.author-link a:hover{text-decoration:underline;}
.newimgclass{border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;}
 

.allservices{
            font-weight:normal!important; 
           position:relative;top:0px;

            
            }
            
            #ie .allservices{
            font-weight:normal!important; 
            margin-top:17px!important;
            
            }
.author-link .morepost{
            padding-top:15px!important;
            font-weight:normal !important;
            font-size: 12px !important;
            position:relative;top:-2px;*top:-4px;top:-4px\9;
            }

/* http://www.stage.att.com/Common/enterprise/homepage/css/homebase4a2-ent.css*****************************************/
#non-accordion .accContent1 p, #non-accordion .accContent2 p{
margin-bottom:5px; 
font-size:1.0em; 
line-height:1.2em;}

#triBox1{
/*height:280px; */
clear:both; 
display:block; 
position:relative; 
margin-bottom:0px; 
overflow:hidden; }

 #ie #triBox1{height:268px;}
   
.defaultContent_tri{
position:relative; 
height:218px; 
/*border:1px solid #cccccc; */
margin-bottom:10px;
  margin-bottom:20px;  }

#ie .defaultContent_tri{
position:relative; 
height:228px; 

margin-bottom:10px; 
margin-bottom:20px;}

.defaultContent{
position:relative; 
height:9.5em; 
border:1px solid #cccccc; 
background:url(../images/slot-grad.png); 
background-position:1px 1px !important;
background-repeat:no-repeat !important; 
 margin-bottom:10px}

#ie .defaultContent{
position:relative; height:9.5em; 
border:1px solid #cccccc; 
background:url(../images/slot-grad.png); 
background-position:1px 1px; 
background-repeat:no-repeat; 
margin-bottom:10px}

.accContent {
font-size: 1.1em;}

#non-accordion .accContent1 p, #non-accordion .accContent2 p 
{
margin-bottom: 6px;
font-size: 1em;
line-height: 1.1em;}

#non-accordion h3 {
line-height: 14px;
}

/*.slot_tri p{position:relative; 
left:10px; width:195px;
font-size: 1.1em;
line-height: 1.3em;
margin-bottom: 10px;
padding-top: 5px;
padding-right: 0pt;
padding-bottom: 5px;
padding-left: 0pt;
vertical-align: top;
}*/

 
 .slot_tri p {
    color: #067AB4 !important;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    left: 10px;
    line-height: 1.5em;
   margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
    position: relative;
    vertical-align: top;
            
    
}

hr {
    background-color: #CCCCCC;
    border: 0 none;
    color: #CCCCCC;
    padding: 0;
}

#navlist{position:relative;}
#navlist li{margin:0;padding:0;list-style:none;position:absolute;margin-top:25px;}
#navlist li, #navlist a{height:63px;display:block;}

#home{left:0px;width:983px;}
#home{background:url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') 0 0;}
#home a:hover{background: url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') 0 -63px;}

#prev{left:190px;width:150px;}
#prev{background:url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -190px 0;;}
#prev a:hover{background: url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -190px -63px;}

#next{left:335px;width:175px;}
#next{background:url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -335px 0;}
#next a:hover{background: url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -335px -63px;}

/*#news{left:510px;width:125px;}
#news{background:url('/Common/enterprise/homepage/images/prim-nav-bkgd-enterprise-search_sprite2.png') -510px 0;}
#news a:hover{background: url('/Common/enterprise/homepage/images/prim-nav-bkgd-enterprise-search_sprite2.png') -510px -63px;}*/

 #fourth{left:510px;width:125px;}
#fourth{background:url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -510px 0;}
#fourth a:hover{background: url('../images/prim-nav-bkgd-enterprise-search_sprite2.png')  -510px -63px;}

/*#fourth{left:625px;width:75px;}
#fourth{background:url('/Common/enterprise/homepage/images/prim-nav-bkgd-enterprise-search_sprite2.png') -625px 0;}
#fourth a:hover{background: url('/Common/enterprise/homepage/images/prim-nav-bkgd-enterprise-search_sprite2.png') -625px -63px;}*/

#search{left:700px;width:280px;}
#search{background:url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -700px 0;}
#search a:hover{background: url('../images/prim-nav-bkgd-enterprise-search_sprite2.png') -700px -63px;}

/*

 
 SEARCH FORM & LOGO 
 
 
*/
#homeSearch{height:73px; text-align:right;}
.logo{float:left; width:200px; height:73px}
.logo a{position:absolute; top:2px; left:15px; text-indent:-9999px}
.logo a span{
            background:url(../../../indc/homepage/images/logo-small.png) 0 0 no-repeat;
            width:93px;
            height:43px;
            position:relative;



            display:block;
}
#homeSearch fieldset{position:absolute; top:33px; right:31px;0;}
#homeSearch .login{position:absolute; right:0; top:-10px; text-align:right; font-size:1.1em; color:#cccccc}
#homeSearch .login .lnk1{padding:0 0 0 0}
#homeSearch .login .lnk2{padding:0 0 0 0}

#homeSearch legend{display:none}
#homeSearch label{font-size:1.1em; margin-left:5px; visibility:hidden}
#homeSearch input{border:none; text-indent:5px; font-size:1.1em; margin-left:2px; background:#ffffff; font-family: arial, helvetica, sans-serif;}     

#homeSearch #query, #homeSearch #q{height:1.4em; width:110px;  margin:0; padding-top:2px !important }
#ie #homeSearch #query, #homeSearch #q{height:1.4em; line-height:1.5em; padding-top:0 !important}
#homeSearch input.btnGo{border:none; width:15px; height:15px; margin-bottom:1px; margin-left:2px}
#ie #homeSearch input.btnGo{margin-left:0px}

#universalNav{margin-bottom: 0px;}
#ie #universalNav{margin-top: 5px;}
#header {height: 20px;}

.standardfooter {
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    width: 950px;
}

.standardfooter .footercenter {
    float: left;
    width: 855px;margin-top: 18px;*margin-top: -2px;margin-top: -2px\9;
}
.standardfooter .padBtm20 {
    padding-bottom: 20px;
}
.standardfooter .footerLinks {
    color: #3381B7;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .footerDivider {
    color: #999999;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .footerContent {
    padding-bottom: 25px;
    padding-right: 100px;
}
.standardfooter .copyRight {
    color: #3381B7;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .footerLegal {
    color: #666666;
    font-family: arial;
    font-size: 10px;
}
.standardfooter .marginRt40 {
    margin-right: 40px;
}
.standardfooter .footerRight {
    float: left;
    padding-right: 25px;
            padding-top: 20px;*padding-top: 10px;padding-top: 10px\9;
}
.standardfooter .clearFloat {
    clear: both;
}
.footerdiv {
    float: left;
    line-height: 18px;
    padding-bottom: 10px;
    text-align: left;
    width: 25%;
}
.footertitle {
    color: #000000;
    font-size: 10px;
    margin-bottom: 10px;
}


 
 
 #social-share-footer {
    background: url("../images/footer-bg.png") no-repeat scroll 0 0 transparent;
    clear: both;
    display: inline;
    float: left;
    margin: 0px 5px 0 15px;
    padding: 4px 0;
    width: 950px;
            height:25px;
}
#social-share-footer #share-description {
    color: #444444;
    display: block;
    float: left;
    font-family: Arial !important;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 6px;
}
#social-share-footer #share-counts {
    color: #777777;
    float: right;
    font-size: 11px;
    margin-right: 10px;
    padding-top: 1px;
}
#social-share-footer #share-counts .social-service {
    float: left;
}
#social-share-footer #share-counts .social-service img {
    float: left;
    margin: 0 -2px 0 18px;
    padding-top: 4px;
}
#social-share-footer #share-counts .linkedinDesktop {
    display: none;
}
#social-share-footer #share-counts .linkedinTablet {
    display: block;
}
#social-share-footer #share-counts .social-service .follower-counter {
    float: right;
    margin: -1px 0 0 5px;
    padding-top: 3px;
}
#social-share-footer #share-counts .social-service .follower-counter .follower-cap {
    background: url("../images/follower-count-left.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    width: 11px;
}
#social-share-footer #share-counts .social-service .follower-counter .follower-mid {
    background: url("../images/follower-count-middle.png") repeat-x scroll 0 0 transparent;
    display: block;
    float: left;
    height: 12px;
    padding: 4px 2px 2px 1px;
}
#social-share-footer #share-counts .social-service .follower-counter .follower-end {
    background: url("../images/follower-count-right.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    width: 4px;
}
#social-share-footer #share-counts {
    color: #777777;
    font-size: 11px;
}
.follower-counter2 {
    float: right;
    margin: -1px 0 0 5px;
    padding-top: 3px;
}
.cbox1{float:left;width:983px;height:305px;}
.cbox2{float:left;width:728px;height:305px;background-color: #FFFFFF;}
.cbox3{float:left;width:260px;height:305px;margin:0px 0 0 -5px; background-color: #FFFFFF;background-image: url("../images/bkgd-acct-support.png");background-position: 0 20px;background-repeat: no-repeat;background-size: 100%;}
/*JSAM Contoller shift*/

#JSAM_buttonContainer{ left:320px!important;}
#JSAM_hover1 .JSAM_hoverText{left:295px!important;}
#JSAM_hover1 .JSAM_IEhoverText{left:295px!important;}

#JSAM_hover1 .JSAM_hoverTriangle{left:322px!important;}
#JSAM_hover2 .JSAM_hoverText{left:315px!important;}
#JSAM_hover2 .JSAM_IEhoverText{left:315px!important;}
#JSAM_hover2 .JSAM_hoverTriangle{left:342px!important;}
#JSAM_hover3 .JSAM_hoverText{left:335px!important;}
#JSAM_hover3 .JSAM_IEhoverText{left:335px!important;}
#JSAM_hover3 .JSAM_hoverTriangle{left:362px!important;}

.JSAM_hoverText {bottom: 47px!important;}
.JSAM_IEhoverText {bottom: 47px!important;}
.JSAM_hoverTriangle {bottom: 41px!important;}
td.JSAM_hoverContent {font-size: 12px;}
td.JSAM_IEhoverContent {font-size: 12px;}
#JSAM_hover4 .JSAM_hoverTriangle {
    left: 380px !important;
}

#JSAM_hover4 .JSAM_hoverText {
    left: 340px !important;
    width: 5px !important;
    height: 50px !important;
 }
.bytext{font-family: arial !important;
    font-size: 11px !important;color:#000 !important;font-weight:normal !important;}
#JSAM_hover4  .JSAM_IEhoverText{
    left: 340px !important;
 
 }
 #segMenuBar .segMenu li a.segMenuItem.hasSubMenu{background-color: #FFFFFF !important;}

#segMenuBar .segMenu li a.segMenuItem.hasSubMenu span{background-color: #FFFFFF !important;}
.ecom #segMenuBar #segcenterSpan{margin: 0 201px -34px -1px !important; }