body, td, select, p, .industry2 {font-family: verdana,sans-serif; font-size: 12px; color: #414141; line-height: 17px;}  

 
a:link {color: #1E5186; text-decoration: underline;} 

a:visited {color: #1E5186; text-decoration: underline;} 

a:hover {color: #dda100;}   

 
ul { margin-left: 20px; padding: 0px; padding-top: 0;}  

 
li { margin-left: 0px; padding: 3px;}  

 
h1 {font-size: 16px; line-height:18px; color: #4C739E; font-weight: bolder;margin-bottom: 2px;}  

table {text-align: left;}
 
a.h1:link {color: #1E5186; text-decoration: underline; font-weight: bolder;} 

a.h1:hover {color: #dda100;}  

 
h2 {font-size: 11px; color: #4C739E; font-weight: bolder;} 

.h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #4c739e; font-weight: bolder; text-decoration: none; margin-bottom: 0px;}  

a.bullet:link, a.bullet:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px;}
.ad_partner_name {font-size: 10px; line-height:12px; color: #333333;} 

a.ad_partner_name:link {color: #333333;} 

a.ad_partner_name:hover {font-size: 10px; color: #dda100;}  

 
a.ad_partner_link {font-size: 10px; color: #1D5284; text-decoration: underline; font-weight: bolder;} 

a.ad_partner_link:hover {color: #dda100;}  

 
.advertisementonwhite { font-size: 10px; color: #506983; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 9pt;}  

 
.advertisementonblue { font-size: 10px; color: #506983; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 9pt;}  

 
.background {background-color: #EEEEEE}  

 
.bloghead {font-size: 14px; color: #4C739E; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif}   

 
.body { font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left; font-size: 12px; font-weight: normal; line-height: 17px; color: #414141}  
 
 
 
.body_blue {color: #1E5186;}  

 
.body-bold {font-size: 11px; color: #4C739E; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 12px;}  

.bodyContest {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.leadin {font-size: 12px; color: #4C739E; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif}  
.leading {font-size: 10px; color: #4C739E; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif}  
 
.body_white {color: #ffffff;}  

 
.box_header {font-size: 9px; color:#FFFFFF; font-weight: bolder;}  

 
.byline { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; line-height: 12pt }  
.byline2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; font-weight: normal}

italic; font-weight: normal}
 
.caption { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #134E88; font-weight: normal; line-height: 12px; }  

 
.checkbox {font-family:webdings; position:relative; font-size:20px; color:#000000; top:-5px; left:-1px;}  

 
.compare_rates_form_text_detail {color: #ffffff; font-weight: bolder;} 

a.compare_rates_form_text_detail {font-weight: bolder;} 

a.compare_rates_form_text_detail:visited {color: #ECF0F3;} 

a.compare_rates_form_text_detail:hover {color: #dda100;}  

 
.compare_rates_form_text_small {font-family: arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF;} 

a.compare_rates_form_text_small:link {text-decoration: none;} 

a.compare_rates_form_text_small:hover {color: #dda100; text-decoration: none;} 

a.compare_rates_form_text_small:visited {color: #f1f1f1; text-decoration: none;}  

 
.compare_rates_form_text_title {color: #ECF0F3; font-weight: bolder; font-size: 13px;} 

a.compare_rates_form_text_title:link {color: #ECF0F3; } 

a.compare_rates_form_text_title:visited {color: #ECF0F3;} 

a.compare_rates_form_text_title:hover {color: #dda100;}    

 

 
.compare_rates_form_text_title_big {font-family: Arial, Helvetica, sans-serif;font-size: 18px; font-weight: bolder; color: #ECF0F3; text-decoration: none; line-height: 20px;}    

 

 
.comparison_text {color: #000000; font-weight: bolder;}  

 
.DefCategory { font-family: Arial, Helvetica, sans-serif;font-size: 15px; font-weight: bolder; color: #CBD6E2; text-decoration: none;}  

 
.DefCategoryName { font-family: Arial, Helvetica, sans-serif;font-size: 15px; font-weight: bolder; color: #ffffff; text-decoration: none;}  

 
.disclaimertxt {color: #879AB5;}  

 
.div_with_bullet {padding:0px; line-height:16px; font-size: 11px;} 

a.div_with_bullet:link {color: #1E5186; } 

a.div_with_bullet:hover {color: #dda100;} 

a.div_with_bullet:visited {color: #879AB5;}  
 
 
.div_with_bullet_bolder {padding:0px; line-height:20px; font-size: 11px; font-weight: bolder; color:#1E5186;}  

 
.footer_vline {color: #91B0DA}  

 
.footertxt_bigger {color: #1E5185; font-size: 12px;}  

 
.footertxt {color: #1E5185;} 

a.footertxt:link {color: #1E5185;} 

a.footertxt:hover {color: #dda100;}  

 
.head { font-family: Arial, Helvetica, sans-serif;font-size: 20px; font-weight: bolder; color: #4C739E; text-decoration: none; line-height: 30px;}  

.headFrugalSenseTip {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #38393B;} 
 
.headFrugal { font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bolder; color: #4C739E; text-decoration: none; line-height: 30px;}  
 
.head2 { font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; color: #5277A6; text-decoration: none; line-height: 18px;}  

 
.headnav {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; text-decoration: none; line-height: 18px; font-weight: bolder;} 

a.headnav:link { color: #FFFFFF; text-decoration: none;} 

a.headnav:visited { color: #FFFFFF; text-decoration: none;} 

a.headnav:hover { color: #dda100; text-decoration: none;}  

 
.headnav-background {background-color: #355A87;}  

 
.headertxt {font-size: 11px; color: #FFFFFF; font-weight: bolder;} 

a.headertxt:link {text-decoration: none;} 

a.headertxt:hover {color: #dda100; text-decoration: none;} 

a.headertxt:visited {color: #879AB5; text-decoration: none;}  

 
.guides {font-size: 11px; color: #000000; font-weight: bolder;} 

a.guides:link {color: #000000; text-decoration: none;} 

a.guides:visited {color: #000000; text-decoration: none;} 

a.guides:hover {color: #ffffff; text-decoration: none;}  

 
.guidesm {font-size: 11px; font-weight: normal; line-height: 13px; color: #000000; text-decoration: none;font-family: Verdana, Arial, Helvetica, sans-serif;} 

a.guidesm:link {text-decoration: underline;} 

a.guidesm:hover {color: #dda100;} 

a.guides:visited {color: #000000;}    

 
 
.ibrc1 { background-color: #FFFFFF}  

 
.ibrc2 { background-color: #C6E3C7}  
 
 
 
.ibrchead {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color:#1E5186; text-decoration: none; background-color: #758AC7;}  

 
.industry1 { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10pt; color: #1E5186; text-decoration: underline; font-weight: bolder; line-height: 12pt} 

a.industry1:link {color: #1E5186;} 

a.industry1:hover { color: #dda100;}  

 
.industry2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; font-weight: normal; line-height: 12pt; }  
 
 
.industry3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #666666; font-weight: normal}  

 
a.more_info {color: #1E5186; text-decoration: underline; font-weight: bolder; font-size: 9px;} 

a.more_info:hover {color: #dda100;}  

 
.navbkgd { background-image: url(../../../images_MRA/header/rightmiddle.gif); background-repeat: no-repeat; background-position: bottom}  

 
.page { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #4B4B4B; font-weight: bold; line-height: 12px }  

 
.page_on { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5277A6; font-weight: bold; line-height: 13px }  

 
.page_off { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #18375F; font-weight: bold; line-height: 13px }  

 
.pollbox { background-color: #f1f1f1}  

 
.posted { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #1E5186; font-weight: normal}  

 
.posted:hover { color: #990000;}  

 
.printon { display: none; margin: 0; padding: 0; }   

 
.radiobtn {font-family:webdings; position:relative; font-size:6px; color:#000000; top:5px; left:5px;}  

 
.rates_box_data {color: #ECF0F3; font-weight: bolder; font-size: 9px;} 

a.rates_box_data:link {color: #ECF0F3; text-decoration: none;} 

a.rates_box_data:hover {color: #dda100;} 

a.rates_box_data:visited {color: #ECF0F3; text-decoration: none;}  

 
.rightsideheader { background-image: url(../../../images_MRA/header/header_bkgnd_r1_c6.gif); background-repeat: no-repeat}  

 
.rowcolorrate { background-color: #133BB4; }  

 
.rightsideheader { background-image: url(../../../images_MRA/header/header_bkgnd_r1_c6.gif); background-repeat: no-repeat} 

.section-headers { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bolder; color: #1E5186; font-style: normal; font-variant: normal;}  

 
.section-headers-background {background-color: #C4CED8;line-height:10px;}  

 
a.sign_out:link {color: #a0c3f1;} 

a.sign_out:hover {color: #dda100;} 

a.sign_out:visited {color: #879ab5;}  

 
.sidebar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; line-height: 12pt; }  

 
.slideshow {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #1E5186; text-decoration: underline; font-weight: bolder;}  

 
.small {font-size: 9px; margin-top: 6px; margin-bottom: 6px; line-height: 11pt;}  

 
.smallblue {color: #1E5186; font-size: 12px;}  

 
.smallwhite {color: #FFFFFF; font-size: 9px; line-height: 11px} 

a.smallwhite:link {color: #FFFFFF; text-decoration: none;} 

a.smallwhite:visited {color: #FFFFFF; text-decoration: none;} 

a.smallwhite:hover {color: #dda100; text-decoration: none;}  

 
.toplinks {color: #FFFFFF; font-size: 9px;font-weight: bold; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif} 

a.toplinks:link {text-decoration: underline} 

a.toplinks:visited {text-decoration: underline} 

a.toplinks:hover {color: #dda100;text-decoration: underline}  

 
.stars {font-family: Wingdings, Zaph Dingbats; font-size: 12px; text-decoration: none;}  

 
.story_box { font-family: verdana, Arial, sans-serif; font-size: 10px; color: #FFFFFF; font-weight: bold; line-height: 12px; line-spacing: 1px; }  

 
.subhead { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #4C739E; font-weight: bold; }  

 
.subheadnav {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px; color: #1E5186; text-decoration: none; font-weight: bolder; line-height: 14px;} 

a.subheadnav:link { color: #1E5186;} 

a.subheadnav:visited { color: #1E5186;} 

a.subheadnav:hover { color: #dda100;}  

 
.subheadnav-background {background-color: #C4CED8;}  

 
.subhead-white { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #ffffff;} 
.subhead-white-frugal { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #123466;}

a.subhead-white:link {color: #ffffff;} 

a.subhead-white:visited {text-decoration: none;} 

a.subhead-white:hover {text-decoration: none;}  

 
.whiteHead { font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold; color: #ffffff;}  

 
.print {display:none;}  

 
.blue-bkgd {background-color: #4B76A2; }  

 
.lt-blue-bkgd {background-color: #DDE2E7; }  

 
.more-onbkgd {background-color: #B9C4CF;}  

 
.more-text {color: #1E5185; font-size: 9px;}  

 
.nav { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 11px; color: #1E5186; line-height: 13px; font-weight: bold; text-decoration: none;} 

.navbk_off {background-image: url(../../../images_MRA/corners/tabmiddle.gif);} 

.navbk_on {background-image: url(../../../images_MRA/corners/tabmiddlegold2.gif);} 

a.nav:link {text-decoration: none;} 

a.nav:visited {text-decoration: none;} 

a.nav:hover {color: #dda100; text-decoration: underline;}  

 
.nav2 { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 11px; color: #1E5186; line-height: 13px; font-weight: bold} 

a.nav2:link {color: #1E5186; text-decoration: none;} 

a.nav2:hover {color: #1E5186; text-decoration: none;} 

a.nav2:visited {color: #1E5186; text-decoration: none;}  

 
.bevel_line {background-image:url(../../../images_mra/bevel_line.gif); background-repeat: repeat-x;}  

 
.body_blue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: 17px; ; color: #1E5186}    

.arial_blue_sm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; line-height: 14px; ; color: #1E5186}  

 
 
/* new classes */  

.gsubhead { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4C739E; font-weight: bold; line-height: 20px }

.head { font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bolder; color: #4C739E; text-decoration: none; line-height: 30px;} 

.headN { font-family: Arial, Helvetica, sans-serif; font-size: 20px; line-height:30px; font-weight: bold; color: #5277A6; text-decoration: none;}  

 
.head2 { font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; color: #5277A6; text-decoration: none; line-height: 18px;}  

 
.head2N { font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; color: #5277A6; text-decoration: none; line-height: 18px;} 

.dek { font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #1F4973; text-decoration: none; line-height: 16px;} 

.dek-dk { font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #2D365D; text-decoration: none; line-height: 16px;}  

 
.nextcaption { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #134E88; font-weight: bold; line-height: 12px; text-decoration: none;}  

 
.photocredit { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; font-weight: normal; line-height: 12px; text-decoration: none;}  

 
.dotted_line {background-image:url(../../../images/dotsGry.gif); background-repeat: repeat-x;}  

 
.bodysm { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 14px; }    

 
 
.arialBlackLrgBold { font-family: Arial, Helvetica, sans-serif; 

font-size: 12px; 

color: #000000; 

font-weight: bold;  

line-height: 20px;}  
 
 
 
.boxLgtBlue {background-color: #98B6D0; 

border: solid;  

border-color: #98B6D0; 

border-width: 10px 10px 10px 10px;}  
 
 
 
.boxBlue { background-color: #B7CBE5; 

border: solid;  

border-color: #B7CBE5; 

border-width: 10px 10px 10px 10px;}  

 
.shboxBlue { background-color: #B7CBE5; 

border: solid;  

border-color: #B7CBE5; 

border-width: 2px 10px 3px 0px;}  

 
.solidlinetop { border-color: #ffffff; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;}  

 
.solidlinebot { border-color: #ffffff; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}  

 
.arialBlueMed { font-family: Arial, Helvetica, sans-serif;  

font-size: 13px;  

color: #123466;  

font-weight: bold;  

line-height: 18px; 

text-decoration: none;}  

 
.arialBlueLg { font-family: Arial, Helvetica, sans-serif;  

font-size: 14px;  

color: #123466;  

font-weight: bold;  

line-height: 18px; 

text-decoration: none;}  

 
.shNumbers { font-family: Arial, Helvetica, sans-serif;  

font-size: 13px;  

color: #000000;  

font-weight: normal;  

line-height: 13px; 

text-decoration: none;}  

 
.verdanaBlueMed { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 11px;  

color: #123466;  

font-weight: bold;  

line-height: 18px; 

text-decoration: none;}  

 
.shslide { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 9px;  

color: #123466;  

font-weight: normal;  

line-height: normal; 

text-decoration: none;}  

 
.verdanaBlackMed { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 11px;  

color: #000000;  

font-weight: normal;  

line-height: 13px;}  

 
.verdanaBlackMedsp { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 11px;  

color: #000000;  

font-weight: normal;  

line-height: 15px;}  

.verdanaBlk10 { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 10px;  

color: #000000;  

font-weight: normal;  

line-height: 14px;} 

.verdanaBlue10 { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 10px;  

color: #133467;  

font-weight: bold;  

line-height: 14px;
} 

 
.shIntro { font-family: Verdana, Arial, Helvetica, sans-serif;  

font-size: 10px;  

color: #000000;  

font-weight: normal;  

line-height: 13px;}  

 
.arialBlackMed { font-family: Arial, Helvetica, sans-serif;  

font-size: 11px;  

color: #123466;  

font-weight: normal;  

line-height: 13px;}  

 
.shSubhead {  

font-family: Arial, Helvetica, sans-serif;  

font-size: 13px;  

color: #000000;  

font-weight: bold;  

line-height: 13px; 

letter-spacing: 0.5px;}  
 
 
 
.QAicon {  

font-family: "Times New Roman", Times, serif;  

font-size: 22px;  

line-height: normal;  

font-weight: normal;  

color: #ffffff;  

background: #5277A6; 

padding: 1px 5px 1px 5px; 

} 

.QAiconSm {  

font-family: "Times New Roman", Times, serif;  

font-size: 14px;  

line-height: normal;  

font-weight: bold;  

color: #5277A6;  

}  

.QAiconBig {  

font-family: "Times New Roman", Times, serif;  

font-size: 24px;  

line-height: normal;

font-style: italic;  

font-weight: bold;  

color: #5277A6;  

} 




.tabledata { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 12px; color: #000000; clip: rect( ); text-align: left; padding-left: 20px; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; border-color: black #CCCCCC #CCCCCC black; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; vertical-align: middle} 

.tableheader { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #123466; clip: rect( ) ; font-weight: bold; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; text-align: left; vertical-align: bottom; border-style: none} 

.table { clip: rect( ); text-align: left; padding-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; border: #B7CBE5 solid; border-width: 0px 0px 4px}

.blue {  font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #0D2E4F; font-weight: bolder;}
.blue-subhead {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px; font-weight: bold; color: #124272}
.bigwhite {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 17px; color: #FFFFFF; font-weight: bold;}
.blue12 				{ font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #4C739E; font-weight: bold; }
.border {border: 1px #A3B0C0 solid;}
.blueSM { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; color: #4C739E; font-weight: bold; }
.blue-subheadCopy { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; font-weight: bold; color: #124272 }
.bluesm2 { font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #0D2E4F; font-weight: bolder; }
.sponsored {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; color: #000000;}

a.info{
    position:relative; /*this is the key*/
    z-index:24; 
    color:#1E5186;
    text-decoration:underline}

a.info:hover{z-index:25; background-color:#efefef; color:#1E5186; text-decoration: none;}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
    top:2em; left:2em; width:150px;
    border:1px solid #000;
	padding: 5px 5px 5px 5px;
    background-color: #fff;
	color:#000;
    text-align: center}
	
	
	
td.bullet { color: #666666;}
.boxPad { padding: 10px 10px 10px 10px;}

.interactive { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000000}  

