/* menu overrides (red) */
#menu {  }
	#menu .logo { background-image: url('../images2010/wolframlogo10-red.gif'); }
.WRIdropMenu a.WRImenuHover, a.topLevel:hover { color: #dc0200 !important; }
.WRImenuContents a.WRImenuHover, .WRImenuContents a:hover { background-color: #dc0200; color: #fff !important; }
	/* old overrides, just in case */
	#nav li.hover a { color: #dc0200; }
	#nav ul a.hover, #nav ul a:hover { background-color: #dc0200; }


/* only used in techguide? */
ul.redbullets li { background: url('../images2008/list_bullet_red.gif') no-repeat 5px 5px; margin: 0 0 0 3px; padding: 0 0 3px 12px; }



/* m6 overrides */
a, a:link, a:visited { color:#bb0000; }

a.sblink { color: #BB0000; font-weight:normal; }
a.sblink:visited { color:#990000; }

.sblinkutil, .sblinkutil2, a.sblinkutil  { color: #BB0000; }
	a.sblinkutil:visited { color: #800000; }

.backgroundTop { border-top: solid 3px #aa0000; background-image: none; }

h1 { color: #cc0000; font-weight:bold; font-size:22px; }
h2 { color: #aa0000; }

.newsbox { color: #000000; }

ul.linkedbulletlist2 li { background-image: url(../images/bullet_red2.gif); }

h1 tt { font-size: 26px; font-weight: bold; }
h3 tt { font-size: 16px; font-weight: bold; }