/* Basic code - don't modify */
 #navCS2009 { display: block; margin: 0; padding: 0; z-index:800; position:relative; float:left; width:100% }
#navCS2009 li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; line-height:normal; }
#navCS2009 a { display: block; }
#navCS2009 ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
* html #navCS2009 ul { line-height: 0; } /* IE6 "fix" */
#navCS2009 ul a { zoom: 1; } /* IE6/7 fix */
#navCS2009 ul li { float: none; text-align:left; }
#navCS2009 ul ul { top: 0; }

/* Essentials - configure this */
#navCS2009 { background-color: #ffffff; height:25px; text-align:center; margin-bottom:0px; padding:0px; }
#navCS2009 *:hover { background:url(../images/nav-bg.gif) repeat-x top; color:#ffffff; }
#navCS2009 a { border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; color: #3c4c60; text-decoration:none; font-size: 12px; font-weight:bold; padding:5px 0px; }
#navCS2009 a:hover { background:url(../images/nav-bg.gif) repeat-x top; color:#ffffff !important; }
#navCS2009 .hover { background:url(../images/nav-bg.gif) repeat-x top; color:#ffffff; }
#navCS2009 .currentNav { background-color:#616f7a; color:#ffffff; }
#navCS2009 .currentNav a { color:#ffffff; }
#navCS2009 ul { width: 160px; }
#navCS2009 ul li a { border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; color: #3c4c60 !important; text-decoration:none; font-size: 12px; font-weight:normal; padding:5px 10px; line-height:15px; background:#FFFFFF }
#navCS2009 ul ul { left: 174px; }
#navCS2009 ul li a:hover { background-color:#f1f1f1; background-image:none; color: #3c4c60 !important }
#navCS2009 ul li .hover { background-color:#f1f1f1; color: #3c4c60 !important }

/* Everything else is theming */

 #navCS2009 ul a { border-right: 1px solid #cccccc; border-left: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-top: none; }
/* #navCS2009 ul a { border-bottom: none; } - I also needed this for IE6/7 */

.headerlnks { color:#687586; font-size:11px; padding-bottom:3px; line-height:18px;}
.headerlnks a:link, .headerlnks a:active, .headerlnks a:visited { color:#687586; font-size:11px; text-decoration:none; font-weight:normal; }
.headerlnks a:hover { color:#687586; font-size:11px; text-decoration:underline; font-weight:normal; }
.topsmlinks { FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; BACKGROUND-COLOR: #e1e1e1; TEXT-DECORATION: none }
.topsmlinks a:link { FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none }
.topsmlinks a:active { FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none }
.topsmlinks a:visited { FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none }
.topsmlinks a:hover { FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff3300; TEXT-DECORATION: none }
.newIco { position:absolute; top:50px; left:935px; display:inline !important }