body {margin:0;padding:0;background:#fff !important;}
#wrapper {width:340px; background-color:#FFFFFF;}
#content {background:#fff; width:192px;}

#wrapper, #ie {
background-color:#EDEDED;
margin:0 auto;
width:192px;
}

/*body {margin:5px;padding:0;font:62.5% Arial, Helvetica, sans-serif;}*/
#item_list ul#display_feed_items {list-style:none outside;margin:10px 0 0;padding:0;}
#item_list ul#display_feed_items li {list-style:none;margin:0 0 10px !important;padding:0;font-size:1.1em;}
#item_list {width:192px;}

#display_instagram_items img { width: 270px; }
