#searchspring-autocomplete_results  {
    border:  1px solid #CCC;
    display: none;
    position: absolute;
    background-color: #fff;
    font-family: "Lucida Sans Unicode","Lucida Grande",Lucida,Helvetica,Arial,sans-serif;
    margin:  0;
    list-style-type: none;
    padding: 0;
    text-align: left;
    z-index: 999;
    width: 280px;
}

.ac_term_suggest {
    background-color: #f3f3f6;
    border-top:  1px solid #CCC;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color:#999;
    display: block;
}

.ac_term_suggest.highlight,
.ac_term_suggest:hover {
    cursor: pointer;
    background-color: #454576;
    color: #fff;
}

#searchspring-autocomplete_results .ac_title {
    text-transform: uppercase;
    font-size: 11px;
    color: #AAA;
    margin:  3px 0 0;
    padding:  0 5px;
    font-weight: bold;
}

.ac_term_result {
    padding: 2px 5px;
    color: #767676;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;

}

.ac_term_result em {
    font-style: normal;
    color: #454576;
}

.ac_product_result {
    padding:  6px;
}

.ac_product_result a {
    text-decoration: none;
}

.ac_result.highlight,
.ac_result:hover {
    background-color: #f3f4ff;
}

.ac_product_result .info {
    float: left;
    width: 200px;
    margin-left: 15px;
    font-size: 11px;
}

.ac_product_result .info .name {
    color: #767676;
    font-weight:bold;
}

.ac_product_result .info .name em {
    font-style: normal;
    color: #454576;
}

.ac_product_result .info .sku {
    color: #686868;
    font-size: 10px;
}

.ac_product_result .info .sku em {
    font-style: normal;
    font-weight: bold;
}

.ac_product_result .info .price {
    color: #663333;
}

.ac_product_result .image {
    height: 50px;
    width: 50px;
    display: block;
    overflow: hidden;
    float: left;
}

.ac_product_result .image img {
    max-height: 50px;
    max-width: 50px;
    margin:  0 auto;
    border:  0;
}

.ac_product_result .clear {
    clear: both;
}

.ac_powered {
    background-color: #eeeeee;
    text-align: center;
    padding:  1px 0 3px;
    border-top:  1px solid #CCCCCC;
}

