#mainCol-floatLeft, #leftCol-floatLeft		{ float:left; }
#mainCol-floatLeft		{ margin-right:-3px; width:790px; font-size: 12px;}
#leftCol-floatLeft		{ margin-right:15px; width: 173px; font-size: 12px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;}

#mainCol-floatLeft .tabrow	{
	position: relative; overflow: hidden;
	padding: 5px 10px;
	border-bottom: 2px solid #d5d5d5;}

#mainCol-floatLeft .tabrow a, #mainCol-floatLeft .tabrow span.off { font-size: 15px; font-weight: bold; }

#mainCol-floatLeft .tabrow a	{
	color: #fff; cursor: pointer;
	 }
#mainCol-floatLeft .tabrow a:hover	{text-decoration:underline;}
#mainCol-floatLeft .tabrow a.on		{color: #034678; }
#mainCol-floatLeft .tabrow span.off { color: #414141; }	
#mainCol-floatLeft .icon		{ background-image: url(../../../sys/1000/mytm/20x20-sprite.gif); background-repeat:no-repeat; height: 20px; width: 20px; }
#mainCol-floatLeft #email		{ background-position: 0 0;}

/* Top 10 Section ################################################################# */
#top10_data	{ margin-bottom: 10px; border-bottom: 1px solid #efefef;}
#top10_data a:link, #top10_data a {text-decoration:underline;}
.q-div-c		{ padding: 10px 0; background: url(img/dotted_line.gif) bottom left repeat-x; }
.q-div-o		{ padding: 10px 0; background: none; }
.q-close, .q-open	{ background-image: url(img/plus_minus.gif); background-repeat: no-repeat; padding-left: 20px; line-height:14px; cursor: pointer; color: #034678; font-size: 13px;}
.q-close	{ background-position: 0 -14px;}
.q-open		{ background-position: 0 0; }
.answer		{ padding:0 20px 20px 20px; line-height: 18px;}	

.listDiv	{ 
	border-top: 1px solid #414141;border-bottom: 1px solid #414141; 
	width: 600px; 
	margin: 15px 0; padding: 10px 0; }
.listCat	{ text-align: center; text-transform: uppercase;letter-spacing: 5px; }	
.listSec	{ border-bottom: 1px solid #414141; 
	width: 600px; text-transform:uppercase; text-align:center; font-weight:bold;
	margin: 15px 0; padding: 10px 0; }
.eventTitle	{ font-weight:bold; color:#0070C0; }
.underline	{ text-decoration:underline;}

/* Right Column Content Style (stripped from legacy) ##################################################### */
.container-neutralZone {
	background-color:#efefef;
	border-bottom:1px solid #cccccc;
	border-left:none;
	border-right:none;
	margin-bottom:15px;	padding:10px; }
	
.lid-primary	{ 
	border-bottom:1px solid #FFFFFF;
	color:#FFF; 
	font-weight:bold;
	padding:5px 10px; }

.sectionHead  { color:#083D65; font-weight:bold; }	

#mainCol-floatLeft h4, #mainCol-floatRight h4 { font-size:12px; }

#leftCol-floatLeft .lid-secondary	{ 
	padding: 5px 10px;
	background: url('../../../../../tm/en-us/img/static/h/help/img/grad_short.gif') repeat-x top left #fff;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;}
	
#leftCol-floatLeft .lid-secondary h4	{ 
	color: #414141;
	font-size:13px;
	line-height:17px;}
	
#leftCol-floatLeft .container-neutralZone {
	background:#ffffff;
	margin-bottom:0;
	border-bottom:none;
	padding:6px 0 16px;}

#leftCol-floatLeft .moduleBox	{
	background-color:#efefef;
	border-bottom:1px solid #cccccc;
	margin-bottom:15px;
	padding:10px; }
	
#leftCol-floatLeft .lid-tall {background: url('../../../../../tm/en-us/img/static/h/help/img/grad_tall.gif') repeat-x top left #fff;}
	
#leftCol-floatLeft ul.bullet {
	padding: 0; margin: 0;
	list-style-type: none; }
	
#leftCol-floatLeft ul.bullet li {
	margin:0;
	padding:0;
	line-height:14px;
	background:none;}
	
#leftCol-floatLeft ul.bullet strong {
	display:block;
	padding:3px 10px;}
	
#leftCol-floatLeft ul.bullet a {
	color:#414141;
	display:block;
	padding:3px 10px;}
	
#leftCol-floatLeft ul.bullet a:hover {
	color:#034678;
	text-decoration:none;
	background:#efefef;}
	
#leftCol-floatLeft ul.bullet, ul.plain {
	list-style-type:none;
	margin:0;
	padding:0; }	
	
.testimonials { border-bottom:none; padding:7px 10px; }
.testimonials p{ padding:0; margin:0; }
.testimonials div { margin:7px 0; }