.splash-screen-contents{margin:0 auto;}.splash-screen-contents{position:relative;background-image:url(background.png);background-repeat:no-repeat;width:504px;height:482px;}
.splash-screen-contents .header-main{position:absolute;left:118px;top:35px;}
.splash-screen-contents .header1,.splash-screen-contents .header2,.splash-screen-contents .header3{position:absolute;left:56px;width:193px;line-height:24px;}
.splash-screen-contents .header1{top:140px;}
.splash-screen-contents .header2{top:240px;}
.splash-screen-contents .header3{top:359px;}
.splash-screen-contents .contents1,.splash-screen-contents .contents2,.splash-screen-contents .contents3{position:absolute;left:56px;width:410px;height:62px;padding-top:12px;}
.splash-screen-contents .contents1{top:167px;}
.splash-screen-contents .contents2{top:266px;}
.splash-screen-contents .contents3{top:384px;}
.splash-screen-contents .modal-close-button-container{position:absolute;right:-10px;top:-5px;width:40px;height:40px;padding:15px;text-align:center;z-index:2;}.splash-screen-contents .modal-close-button-container .modal-close-button{width:23px;height:42px;display:block;background:url(close-button.png) left no-repeat;}.splash-screen-contents .modal-close-button-container .modal-close-button:hover{background-position:right;}
.splash-screen-contents .header-main{font-size:44px;font-weight:400;color:#ff7200;}
.splash-screen-contents .header1,.splash-screen-contents .header2,.splash-screen-contents .header3{font-size:17px;text-transform:uppercase;color:#ffffff;font-weight:normal;}
.splash-screen-contents .contents1,.splash-screen-contents .contents2,.splash-screen-contents .contents3{font-size:16px;line-height:20px;font-weight:thin;color:#666666;}
