#menuApps ul {
padding-left:381px   !important;
width:592px  !important;
} 
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
	height:			33px;
	position:		relative;
}
.sf-navbar li {
	position:		static;
	height:			33px;
}
.sf-navbar a {
	border-top:		none;
}
.sf-navbar li ul {
	/* width: 44em; IE6 soils itself without this */
}
.sf-navbar li li {
	
	position:		relative;
}
.sf-navbar li li ul {
	 /*width:			13em;*/
}
.sf-navbar li li li {
	width:			100%;
}
.sf-navbar ul li {
	width:			auto;
	float:			left;
    color:#174062;
}
.sf-navbar a, .sf-navbar a:visited {
	border:			none;
}
.sf-navbar li.current {
	
}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active 

{

}

.sf-navbar li ul li a:hover
{
        color:#0a5b9d !important;
        font-weight:normal;
        text-decoration: underline;
}

.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
ul.sf-navbar ul li:hover li,
ul.sf-navbar ul li.sfHover li,
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	
	
     
}


ul.sf-navbar li li li:hover,
ul.sf-navbar li li li.sfHover,
.sf-navbar li li.current li.current,
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
	background-image:none;
	background-color:#E8E9E9; 
    color:#555454;  
}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
	top: 			-999em;
}

.sf-navbar li li.current > a {
	font-weight:	bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator { background-position: -10px -100px; }
.sf-navbar ul a > .sf-sub-indicator { background-position: 0 -100px; }
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** remove shadow on first submenu ***/
.sf-navbar > li > ul {
	
	padding: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}

/*Bogdan Menu*/
#menuDiv 
{
    width: 1000px; 
    clear: both;
    height:66px;
    line-height:33px;
    background:url(../css/navimages/menu.gif) no-repeat;
}

.sf-navbar li a 
{
    background:url(../css/navimages/sep.gif) no-repeat top left;
    padding-left: 7px;
    padding-right: 7px;
}



.sf-navbar ul 
{
    background:url(../css/navimages/bottombg.gif) repeat-x;
    width:1000px;
   
}

.sf-navbar ul li 
{
    background:url(../css/navimages/bottomul.gif) repeat-x;
}
.sf-navbar ul li a 
{
    background:url(../css/navimages/bottomsep.gif) no-repeat top right;
}

.sf-navbar ul li.last a
{
    background:none;
}

.sf-navbar ul li:first-child
{
    border-left:solid 1px #fff;
}
.sf-navbar ul li.last
{
    border-right:solid 1px #fff;
}

li.sf-breadcrumb , li:active
{
    background:url(../css/navimages/liactive.gif) repeat-x;
}

li.sf-breadcrumb a.sf-with-ul, li:active a.sf-with-ul
{
    background:url(../css/navimages/sephover.gif) no-repeat top left;
    color:#0a5b9d !important;
}

.sf-navbar li.sfHover
{
    background:url(../css/navimages/lihover.gif) repeat-x;
}

li.sfHover a.sf-with-ul, li:hover a.sf-with-ul
{
    background:url(navimages/sephover.gif) no-repeat top left;
    color:#0a5b9d !important;
}



.sf-navbar li#menuNews ul li:first-child, .sf-navbar li#menuOpinion ul li:first-child, .sf-navbar li#menuJewishWorld ul li:first-child
{
    border-left:none !important;    
}

.sf-navbar li#menuNews ul li:first-child , .sf-navbar li#menuOpinion ul li:first-child , .sf-navbar li#menuJewishWorld ul li:first-child 
{
background:url(../css/navimages/bottomleft.gif) no-repeat top left;
}

li#menuNews.sf-breadcrumb, li#menuNews:active
{
    background:url(../css/navimages/leftactive.gif) no-repeat top left;
}

li#menuNews.sfHover, li#menuNews:hover
{
    background:url(../css/navimages/lefthover.gif) no-repeat top left;
}

.sf-navbar li#menuNews a.sf-with-ul 
{
    background:none;
}

#menuIsrAmerica ul {
padding-left: 465px !important;
width: 500px !important;
}

#menuIsrAmerica a
{
    color:#980a10 !important;
}

#menuIsrAmerica ul li a
{
    color:#980a10 !important;
    font-weight:bold !important;
}



#menuOurmagazines 
{
    background:url(../css/navimages/premium.gif) no-repeat top left; 
}

#menuOurmagazines a.sf-with-ul
{
color:#fff !important;
padding-left:35px;
background:url(../css/navimages/sep.gif) no-repeat top left; 
}

#menuOurmagazines ul li a
{
    color:#980a10 !important;
    font-weight:bold !important;
}

li#menuOurmagazines.sfHover, li#menuOurmagazines:hover
{
    background:url(../css/navimages/premiumhover.gif) no-repeat top left; 
}

.iconHome 
{
    background-image:url("navimages/home.gif");
    background-repeat:no-repeat;
    vertical-align:top;
}

#menuNews sf-with-ul a
{
	text-decoration: none;
}

/*ale*/
.endMenuCat
{   
    background-image:url("navimages/sep.gif");
    width:2px;
}

.endMenuCat:hover
{   
    background-image:url("navimages/sep.gif");
    width:2px;
}


