.rn_GuidedAssistant .rn_Node{position:relative;word-wrap:break-word;}
.rn_GuidedAssistant .rn_QuestionText, .rn_GuidedAssistant .rn_ResultHeading{clear:both;overflow:hidden;}
.rn_GuidedAssistant .rn_ChatLink{display:block;margin:2px 20px 0 80%;}
.rn_GuidedAssistant .rn_AgentText{background-color:#F4F4F4;border:1px solid #DDD;font-family:sans-serif;margin-top:10px;padding:4px 6px;}
.rn_GuidedAssistant .rn_AgentText em{font-style:normal;font-weight:bold;display:block;}
.rn_GuidedAssistant .rn_LinkQuestion label{cursor:pointer;}
.rn_GuidedAssistant .rn_TransparentScreenReaderOnly{opacity:0;position:absolute;left:0px;}
.rn_GuidedAssistant .rn_ImageQuestion img{overflow:hidden;}
.rn_GuidedAssistant .rn_ImageQuestion div{display:inline-block;*display:inline;margin-bottom:16px;}
.rn_GuidedAssistant .rn_ImageQuestion label{cursor:pointer;display:inline-block;position:relative;zoom:1;}
.rn_GuidedAssistant .rn_ImageQuestion .rn_ImageCaption{bottom:0px;font-weight:bold;left:10px;position:absolute;top:10px;text-shadow:0 1px 1px #FFF;width:100%;background: url(http://onlineshoes.custhelp.com/euf/rightnow/optimized/1337797936/pages/answers/adff);}
.rn_GuidedAssistant .rn_ButtonQuestion button{margin-bottom:6px;*width:auto;*overflow:visible;}
@media print{.rn_GuidedAssistant .rn_Question{display:block;}
}
.rn_GuidedAssistant img{display:inline-block;max-width:500px;max-height:500px;padding:6px;}
.rn_GuidedAssistant .rn_Node{border-bottom:1px solid #DDD;margin-bottom:26px;padding-bottom:14px;}
.rn_GuidedAssistant .rn_QuestionText{margin:24px 0 10px;}
.rn_GuidedAssistant .rn_Result{margin:6px 0 10px;}
.rn_GuidedAssistant .rn_ResultHeading{line-height:1.6em;margin-bottom:10px;}
.rn_GuidedAssistant .rn_RadioQuestion div{margin-top:6px;position:relative;padding-left:25px;}
.rn_GuidedAssistant .rn_RadioQuestion input{position:absolute;left:0;border:none;}
.rn_GuidedAssistant .rn_ImageQuestion input{border:none;}
.rn_GuidedAssistant .rn_LinkQuestion div{margin-bottom:8px;}
.rn_GuidedAssistant .rn_LinkQuestion .rn_HighlightResponse a{color:#FFF;background-color:#0E53A7;}
.rn_GuidedAssistant .rn_ButtonQuestion .rn_HighlightResponse{font-weight:bold;}
.rn_GuidedAssistant .rn_ButtonQuestion .rn_HighlightResponse.rn_SelectedButton{background-position: 0px -40px;border:1px solid #333;color:#FCFCFC;}
.rn_GuidedAssistant .rn_TextQuestion .rn_Label, .rn_GuidedAssistant .rn_TextQuestion button{display:block;margin-top:6px;}
.rn_GuidedAssistant .rn_TextQuestion input{width:200px;}
.rn_GuidedAssistant .rn_ResultLink a{display:block;}
.rn_IncidentThreadDisplay .rn_ThreadContent{word-wrap:break-word;}
.rn_IncidentThreadDisplay p.MsoNormal, .rn_IncidentThreadDisplay li.MsoNormal, .rn_IncidentThreadDisplay div.MsoNormal{margin:0;}
.rn_IncidentThreadDisplay p.MsoListParagraph, .rn_IncidentThreadDisplay li.MsoListParagraph, .rn_IncidentThreadDisplay div.MsoListParagraph{margin: 0 0 0 48px;}
.rn_IncidentThreadDisplay .rn_ThreadHeader{background-color:#EEE;border: 1px solid #CCC;text-shadow: 0px 1px 1px #FFF;font-size:1.083em;font-weight:bold;padding:0.25em;position:relative;}
.rn_IncidentThreadDisplay .rn_ThreadHeader .rn_ThreadTime{position:absolute;right:1em;}
.rn_IncidentThreadDisplay .rn_ThreadHeader.rn_Customer{background-color:#CCC;}
.rn_IncidentThreadDisplay .rn_ThreadContent{background-color:#FFF;border:1px solid #DDD;border-width:0 1px 1px;color:#404040;font-size:1em;margin-bottom:0px;overflow-y:hidden;overflow-x:auto;padding:1em 10px;}
@media print{.rn_IncidentThreadDisplay .rn_ThreadContent{overflow:visible;}
.rn_IncidentThreadDisplay .rn_ThreadHeader{*overflow: hidden;}
.rn_IncidentThreadDisplay .rn_ThreadTime{*float: right;*position: static;}
.rn_IncidentThreadDisplay .rn_ThreadAuthor{*float: left;}
}
.rn_ProductCategoryDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_ProductCategoryDisplay .rn_DataValue{margin-left:180px;}
.rn_ProductCategoryDisplay .rn_DataValue ul{clear:none;}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_FileListDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_FileListDisplay .rn_DataValue{margin-left:180px;}
.rn_FileListDisplay .rn_DataValue ul{clear:none;}
.rn_FileListDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_FileListDisplay .rn_FileSize{font-style:italic;padding-left:4px;}
.rn_FieldDisplay .rn_DataLabel{float:left;font-weight:bold;}
.rn_FieldDisplay .rn_DataValue{margin-left:180px;word-wrap:break-word;}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify{clear:left;margin-left:0;padding-bottom:.5em;}
.rn_AnswerFeedback2 .rn_ThanksLabel{margin-left:3em;overflow:hidden;}
.yui-panel.rn_Dialog.rn_FeedbackDialog{width:375px;}
.rn_AnswerFeedback2 .rn_Title{border-bottom:1px solid #BBB;margin-bottom:10px;padding-bottom:2px;font-size:1.333em;font-weight:bold;line-height:1.4em;}
.rn_AnswerFeedback2 .rn_RatingMeter a.rn_RatingCell{background:url(../../themes/standard/images/RatingStars.png) 0 0 no-repeat;display: -moz-inline-box;display: inline-block;height:18px;margin:4px 0;text-decoration:none;width:20px;}
.rn_AnswerFeedback2 .rn_RatingMeter a.rn_RatingCellOver{background-position:0px -18px;cursor:pointer;}
.rn_AnswerFeedback2Form .rn_DialogSubtitle{margin-bottom:6px;text-align:left;}
.rn_AnswerFeedback2Form label{clear:left;display:block;}
.rn_AnswerFeedback2Form .rn_EmailField{clear:left;display:block;margin-bottom:1em;width:200px;}
.rn_AnswerFeedback2Form .rn_Textarea{clear:left;display:block;margin-bottom:1em;width:340px;}
@media print{.rn_AnswerFeedback2{display:none;}
}
.rn_RelatedAnswers2{padding:10px 0;}
.rn_RelatedAnswers2 h2{border-bottom:1px solid #BBB;margin-bottom:10px;padding-bottom:2px;}
@media print{.rn_RelatedAnswers2{display:none;}
}
.rn_PreviousAnswers2{padding:10px 0;}
.rn_PreviousAnswers2 h2{border-bottom:1px solid #BBB;margin-bottom:10px;padding-bottom:2px;}
@media print{.rn_PreviousAnswers2{display:none;}
}
.rn_SocialBookmarkLink{display:inline;margin-right:10px;}
.rn_SocialBookmarkLink img{vertical-align:middle;}
.rn_SocialBookmarkLink .rn_Panel{overflow:hidden;_position:absolute;}
.rn_SocialBookmarkLink ul{padding:0;margin:0;}
.rn_SocialBookmarkLink ul li{display:inline;float:left;list-style-type:none;}
.rn_SocialBookmarkLink a{color:#222;text-decoration:none;}
.rn_SocialBookmarkLink a:hover{white-space:normal;}
.rn_SocialBookmarkLink a:hover span{text-decoration:underline;}
.rn_SocialBookmarkLink .rn_Panel{background-color:#FFF;padding:6px;}
.rn_SocialBookmarkLink .rn_Panel .hd{border:none !important;}
.rn_SocialBookmarkLink .rn_Panel li{background:url(../../themes/standard/images/icons/socialBookmark.png) no-repeat;height:16px;line-height:1.4em;margin:4px;padding-left:20px;}
.rn_SocialBookmarkLink li.rn_Link1{background-position:0 0;}
.rn_SocialBookmarkLink li.rn_Link2{background-position:0 -16px;}
.rn_SocialBookmarkLink li.rn_Link3{background-position:0 -32px;}
.rn_SocialBookmarkLink li.rn_Link4{background-position:0 -48px;}
.rn_SocialBookmarkLink li.rn_Link5{background-position:0 -64px;}
.rn_SocialBookmarkLink li.rn_Link6{background-position:0 -80px;}
.rn_PrintPageLink{margin-right:10px;}
.rn_PrintPageLink a img{border:none;vertical-align:middle;}
.rn_PrintPageLink a{color:#222;text-decoration:none;}
.rn_PrintPageLink a:hover{white-space:normal;}
.rn_PrintPageLink a:hover span{text-decoration:underline;}
.rn_EmailAnswerLink{display:inline;margin-right:10px;}
.rn_EmailAnswerLink a img{cursor:pointer;vertical-align:middle;}
.rn_EmailAnswerLink a{color:#222222;cursor:pointer;text-decoration:none;}
.rn_EmailAnswerLink a:hover{white-space:normal;}
.rn_EmailAnswerLink a:hover span{cursor:pointer;text-decoration:underline;}
.rn_EmailAnswerLinkForm label{clear:left;display:block;}
.rn_EmailAnswerLinkForm input{clear:left;display:block;margin-bottom:1em;width:200px;}
.rn_AnswerNotificationIcon3{display:inline;}
.rn_AnswerNotificationIcon3 img{vertical-align:middle;}
.rn_AnswerNotificationIcon3{margin-right:10px;}
.rn_AnswerNotificationIcon3 a{color:#222;text-decoration:none;}
.rn_AnswerNotificationIcon3 a:hover{white-space:normal;}
.rn_AnswerNotificationIcon3 a:hover span{text-decoration:underline;}
.rn_LoginDialog2{width: 210px;}
.rn_LoginDialog2.rn_ContentLoading{background:url(../../themes/standard/images/loading.gif) no-repeat center center;}
.rn_LoginDialog2 input{margin-bottom:5px;}
.rn_LoginDialog2 input[type="text"], .rn_LoginDialog2 input[type="password"]{width:200px;}
.rn_LoginDialog2 label{margin-bottom:5px;display:block;}
.rn_LoginDialog2 div{margin-bottom: 5px;}
.rn_LoginDialog2.rn_AdditionalOpenLogin{overflow: hidden;position: relative;width: 400px;}
.rn_LoginDialog2.rn_AdditionalOpenLogin .rn_LoginDialogContent{border-left: 1px solid #DDD;float: right;margin-bottom: 5px;padding-left:32px;width:209px;}
.rn_LoginDialog2 div.rn_OpenLoginAlternative{background:url(../../themes/standard/images/icons/badges.png) no-repeat;border: 0;float: left;margin:4px;padding: 0;width: 150px;}
.rn_LoginDialog2 .rn_OpenLoginAlternative a{display: block;padding-top:80px;}
