body{min-width:940px;padding:0;margin:0 auto;background-color:#fff;color:#000000;text-align:center; font:normal 11px Arial, Helvetica, sans-serif;}
p,
td,
li,
span,
div{font-family:arial,helvetica,sans-serif;color:#000;}
a{font-family:arial, helvetica, sans-serif;color:#00F;text-decoration:underline;}
a:active,
a:focus, 
a:hover {text-decoration:underline;color:#F00;}
a:visited{color:#800080;}
a img{border:none;}
ul, ol{padding:0;margin:0;list-style:none;}
form{margin:0;display:inline;}
input, 
textarea, 
select{font-family:arial,helvetica,sans-serif;font-size:11px;color:#000;}
.clearfloat{clear:both;height:0;font-size:1em;line-height:0px;}
.results{font-family:arial,helvetica,sans-serif;color:#000;}
.resultson{font-family:arial,helvetica,sans-serif;font-size:11px;color:#000;}
.ourprice{font-family:arial,helvetica,sans-serif;font-size:12px;color:#E00102;font-weight:bold;} 
.listprice{font-family:arial,helvetica,sans-serif;font-size:11px;color:#000;font-weight:bold;}
.middleprice{font-family:arial,helvetica,sans-serif;font-size:12px;color:#000;}
#borderWrapper{}
#wrapper{width:930px;margin:10px auto;background-color:#fff;text-align:left;}
#breadCrumbs{margin:10px 0;font-size:11px;}
#header{width:930px;position:relative;z-index:4000;background-color:#fff;font:11px arial,helvetica,sans-serif normal;color:#000;}
#header .branding {margin:0 0 5px 0;float:left; width: 204px; height: 52px; background: transparent url(../images/zales-main-sprite.gif) no-repeat 0 0; text-indent: -9999px; overflow: hidden; }
.outlet-active #header .branding { background-position: 0 -52px; }

#shop-zales-more { display: block; width: 171px; height: 18px; text-indent: -9999px; overflow: hidden; background: transparent url(../images/zales-main-sprite.gif) no-repeat 0 -122px; text-align: left; float: left; margin: 2px 3px; }
.outlet-active #shop-zales-more { background-position: 28px -104px; }

#header #headerUtils{padding:0;margin:0;height:15px;float:right;}
#header #headerUtils li{float:left;margin-left:14px;text-align:right;}
#header #headerUtils li a{color:#000;text-decoration:underline;}
#header #headerTopOAS{width:275px;height:52px;overflow:hidden;float:left;}
#header #searchForm{float:right;margin-top:15px;_margin-top:2px;text-align:right;}
#header #searchForm form {float:left;}
#header #searchForm .kw{width:100px;font:10px arial, helvetica, sans-serif normal;}
#header #searchForm .submit{position:relative;top:4px;*top:3px;}
#header #searchForm .siteselect{font-family:arial,helvetica,sans-serif normal;font-size:10px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;width:100px;}

#footer{ width:930px;padding:0;margin:0;clear:both; font:11px arial, helvetica, sans-serif;font-weight:normal;color:#333; }
#footer dl { float: left; width: 182px; margin-top: 5px; }
#footer dd { font-weight: normal; margin: 0; } 
#footer dt { text-transform: uppercase; font-weight: bold; }
#footer dt a { padding-right: 8px; background: transparent url(../images/btn-arrow.png) no-repeat right 4px; font-weight: bold; }
#footer a{font:11px arial, helvetica, sans-serif;font-weight:normal;color:#333;text-decoration:none;}
#footer a:hover{text-decoration: underline;}
#footer p{margin:0 0 5px 0;padding:0;}
#footer #footerBar{width:920px;height:24px;padding-right:10px;background-color:#d6d6d6;text-align:right;}
#footer #footerBar label{margin-right:5px;position:relative;top:-1px;*top:-2px;font-weight:bold;}
#footer #footerBar #emailAddress{position:relative;top:-1px;*top:0;font-size:10px;}
#footer #footerBar .submit{position:relative;top:4px;*top:3px;}
#copyright { clear: left; float: left; margin-bottom: 30px; }
#footer-nav {  }

#content{height:32px;list-style:none;padding:0px;margin:5px 0px 0px 0px;float:right;}
#content LI{list-style:none;margin:0px;padding:0px;}
#content LI A{background-repeat:no-repeat;display:block;height:24px;text-indent:-9999px;}
#content LI{display:inline;margin:0px 0px 0px 15px;float:left;}
.prodContainer{width:110px;}
.width602{width:640px;}
.width760{width:736px;margin:0px 10px 0px 10px;}
.textAlignLeft{text-align:left;}
.inline{display:inline;}
.floatLeft{float:left;}
.floatRight{float:right;}
.clearBoth{clear:both;}
.marginTop3{margin-top:3px;}
.marginTop4{margin-top:4px;}
.marginTop5{margin-top:5px;}
.marginTop7{margin-top:7px;}
.marginTop10{margin-top:10px;}
.marginTop15{margin-top:15px;}
.marginTop17{margin-top:17px;}
.marginTop20{margin-top:20px;}
.marginRight4{margin-right:4px;}
.marginRight5{margin-right:5px;}
.marginRight7{margin-right:7px;}
.marginRight10{margin-right:10px;}
.marginRight14{margin-right:14px;}
.marginRight20{margin-right:20px;}
.marginRight32{margin-right:32px;}
.marginRight54{margin-right:54px;}
.marginBottom3{margin-bottom:3px;}
.marginBottom10{margin-bottom:10px;}
.marginBottom15{margin-bottom:15px;}
.marginBottom17{margin-bottom:17px;}
.marginBottom20{margin-bottom:20px;}
.marginLeft30{margin-left:30px;}
.marginLeft32{margin-left:32px;}
.paddingLeft30{padding-left:30px;}
.secondaryHeaderNavCaps{font-family:arial;font-size:10px;color:#424a52;text-decoration:underline;text-transform:uppercase;}
.secondaryHeaderNavLower{font-family:arial;font-size:11px;color:#424a52;text-decoration:underline;}
.secondaryHeaderNav{font-family:arial;font-size:11px;color:#424a52;text-decoration:underline;}
.dropdownLink{font-family:arial;font-size:11px;color:#542344;text-decoration:underline;}
.dropdownLink:hover{text-decoration:underline;}
.sideNav{font-family:arial;font-size:11px;color:#542344;text-decoration:underline;}
.sideNavSub{font-family:arial;font-size:11px;color:#542344;text-decoration:underline;}
.formText{font-family:arial;font-size:11px;color:#000000;}
.formPreferences{font-family:arial;font-size:11px;color:#463E40;}
.searchInstructions{font-family:arial;font-size:9px;color:#424a52;text-transform:lowercase;}
.dasInstructions{font-family:arial;font-size:9px;color:#424a52;text-transform:lowercase;}
.titleLink{font-family:arial;font-size:11px;color:#463E40;font-weight:bold;text-decoration:underline;}
.title{font-family:arial;font-size:11px;font-weight:bold;color:#221E1F;}
#search_rr .title{font-weight: normal;}
.featureOffer{font-family:arial;font-size:11px;color:#8B82C9;text-transform:uppercase;}
.secondaryfooterLink{font-family:arial;font-size:11px;color:#542344;text-decoration:underline;}
.disclaimerCopy {font-family:arial;font-size:10px;color:#424a52;}
p.disclaimerCopy {float: left;}
.breadcrumb_on{display:inline;font-family:arial;font-size:11px;color:#000;font-weight:bold;}
.photoText{font-family:arial;font-size:11px;color:#9F9F9F;}
.navFirstLevel{}
.navSecondLevel{padding-left:10px;}
.listLinks{font-family:arial;font-size:14px;color:#542344;text-decoration:underline;}
.linkSubHead{font-family:arial;font-size:11px;color:#542344;text-decoration:underline;}
.linkSubHead:hover{text-decoration:underline;}
.itemsFound{font-family:arial;font-size:11px;color:#000000;}
.pageNumbers{font-family:arial;font-size:11px;color:#463E40;font-weight:bold;}
.goToPage{font-family:arial;font-size:11px;color:#888989;}
.itemPrice{font-family:arial;font-size:11px;color:#000000;font-weight:bold;}
.nowPrice{font-family:arial;font-size:11px;color:#E00102;font-weight:bold;}
.compareLink{font-family:arial;font-size:11px;color:#463E40;text-transform:uppercase;}
.secondaryBodyLink{font-family:arial;font-size:11px;color:#542344;font-weight:bold;}
.oas{border:1px solid #DDDDDD}
.familyProductImages img{vertical-align:middle;}
.footerlink2{font-family:arial;font-size:14px;color:#000000;margin:0px;}
.checkbg_lt{background-color:#F5F5F5;}
.checkbg_dk{background-color:#D7D7D7;}
.checkbg_border{border:solid 1px #666666;}
.check_bullet{color:#CC0000;}
.cartrow1{background-color:#F5F5F5;}
.cartrow2{background-color:#FFFFFF;}
.maincolor .pagelink{color:#ffffff}
.hd_pagelink{color:#0000ff;text-decoration:underline;}
.hd_pagelink:hover{text-decoration:underline;}
.header{font-family:arial,helvetica;font-size:14px;font-weight :bold;text-decoration :none;color:#000000;margin:0px;}
.hd_header{font-family:arial,helvetica;font-size:14px;font-weight :bold;text-decoration :none;color:#000;}
.subheadNumber{font-size :12px;padding-left :2px;font-weight :bold;color :#545152;text-decoration:none;}
.subnavHeader{font-size :12px;padding-left :2px;font-weight :bold;color :#000000;text-decoration:none;}
.hdTopicHeading{font-family:arial,helvetica;font-size:14px;font-weight :bold;text-decoration :none;color:#000000;}
.bigheader {font-family:arial,helvetica;font-size:18px;color:#005F90;font-style:bold;}
.pagetext{font-family:arial;font-size:12px;color:#000;}
.productFeatureRow .pagetext{font-family:arial;font-size:12px;color:#000;}
.subheadlarge{font-family:arial,helvetica;color:#000;font-size:18px;font-weight:bold;}
.subheadmed{font-family:arial,helvetica;color:#000;font-size:16px;font-weight:bold;}
.subheadsmall{font-family:arial,helvetica;font-size:12px;font-weight:bold;}
.maincolor{background:#000;color:#ffffff;}
.secondarycolor{background:#D5D5D5;}
.tertiarycolor{background:#8E8E8E;}
.wizmaincolor{background:#000;color:#f5f5f5;padding-left:10px;padding-right:10px;}
.wizhighcolor{background:#000;color:#ffffff;padding-left:10px;padding-right:10px;font-weight:bold;}
.maincolor_ZBBB{background:#000000;color:#FFFFFF;text-transform:lowercase}
.maincolor_ZBBB a:hover{background:#000000;color:#FFFFFF;text-transform:lowercase}
.error{font-family:verdana.geneva;color:#cc0000;font-weight:bold;font-size:11px;line-spacing:8px;border-color:#cc0000;border-style:solid;border-width:2px;width:550px;height:65px;}
.error2{font-family:verdana.geneva;background-color:yellow;padding:1px;font-weight:bold;font-size:11px;}
.alert{font-family:verdana;font-size:10px;color:#cc0000;font-weight:bold;}
.details{font-family:verdana,geneva;font-size:11px;color:#000000;}
a .details{color:#0000FF;}
.promodetails{font-family:verdana,geneva;font-size:9.5px;color:#cc0000;}
#tabs{position:relative;top:0px;left:0px;}
#tabs ul{margin-left:0;padding-left:0;display:inline;}
#tabs ul li{margin-left:0;margin-bottom:0;padding:10px 25px 0px;border:1px solid #545152;background-color:#D5D5D5;list-style:none;display:inline;}
#tabs ul li.here{border-bottom:1px solid #545152;background-color:#F5F5F5;list-style:none;display:inline;}
#tabs a{font-family:arial;font-size:11px;color:#000000;font-weight:bold;text-decoration:none;}
#tabs li.here a{font-family:arial;font-size:11px;color:#000000;font-weight:bold;text-decoration:none;}   
#BVReviewsContainer{margin-top:20px;}
#weddingContent{margin-left:7px;font-size:12px;}
#cartContent{margin-left:10px;margin-bottom:30px;}
#cartContent table{font-size:11px;}
#cartContent .mboxDefault{margin-left:-22px;}
.pageText{margin:5px 0px 5px 0px;}
#popupZalesLogo{width:150px;height:59px;}
#hintStoreLogo{width:150px;height:59px;}
div#OUTER0{position:static !important;}
#BVSubmissionContainer{width:738px;}
#headerOAS_Top1{display:none;}
.breadcrumb{font-family:arial;font-size:11px;color:#003399 !important;}
.breadcrumb:hover{color:#800080 !important;}
.breadcrumb:visited{color:#800080 !important;text-decoration:underline !important;}
#leftNav .wedNav{font-family:arial;font-size:11px;color:#003399 !important;text-decoration:underline !important;}
#leftNav .wedNav:hover{color:#800080 !important;text-decoration:underline !important;}
#leftNav .wedNav:visited{color:#800080 !important;text-decoration:underline !important;}
#leftNav a{font-family:arial;font-size:11px;color:#003399 !important;text-decoration:underline !important;}
#leftNav a:hover{color:#800080 !important;text-decoration:underline !important;}
#leftNav a:visited{color:#800080 !important;text-decoration:underline !important;}
.footLink{font-family:arial;font-size:11px;color:#003399 !important;text-decoration:underline !important;}
.footLink:hover{color:#800080 !important;text-decoration:underline !important;}
.footLink:visited{color:#800080 !important;text-decoration:underline !important;}
#weddingContent .pagelink{font-family:arial;font-size:12px;color:#003399 !important;text-decoration:underline !important;}
#weddingContent .pagelink:hover{color:#800080 !important;text-decoration:underline !important;}
#weddingContent .pagelink:visited{color:#800080 !important;text-decoration:underline !important;}
#weddingContent .pageLink{font-family:arial;font-size:12px;color:#003399 !important;text-decoration:underline !important;}
#weddingContent .pageLink:hover{color:#800080 !important;text-decoration:underline !important;}
#weddingContent .pageLink:visited{color:#800080 !important;text-decoration:underline !important;}
.moreAttr{font-weight:bold !important;font-size:22px;}
#fubar{margin:0px;}

/* home page inline css removed and class are written here for those styles */
.main-cms-lyt{width:756px; text-align:center;padding-top:10px; padding-bottom:15px;}
/*addded for wedding/index.jsp page inline stle sheets*/
.brdcrumbs-img img{vertical-align:middle;margin:0 2px 0 1px; border:0;}

#zales_header_2 {clear: both;}

html, body { height: 100%; }
#emailOverlay {
	background-color: #bbb;
	display: none;
	height: 100%;
	left: 0px;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5000;
}
#emailPopup {
	background: #c93232;
	display: none;
	margin-left: -183px;
	left: 50%;
	position: fixed;
	height: 318px;
	text-align: center;
	top: 100px;
	width: 366px;
	z-index: 5500;
}
#emailPopup h2 {
	background: #900;
	border: solid #ccc;
	border-width: 1px 0;
	color: #fff;
	font: normal 28px/1.5em Palatino Linotype;
	margin: 28px 0 0;
	padding: 0 0 0.4ex;
}
#emailPopup p,
#emailPopup a { color: #fff; }
#emailPopup p { margin: 1em 0; }
#emailPopup .closePopup {
	margin: 0;
}
#emailPopup .exitButton {
	font: normal 24px/20px sans-serif;
	position: absolute;
	right: 7px;
	text-decoration: none;
	top: 5px;
}
#emailPopup .offer {
	font-size: 20px;
	padding: 0 50px;
	margin: 20px 0 10px;
}
#emailPopup .email {
	color: #ccc;
	display: block;
	font-size: 15px;
	margin: 0 auto 8px;
	padding: 4px;
	text-align: center;
	width: 60%;
}
#emailPopup small {
	font-size: 11px;
}