#content .listingTools {width: 680px; float: left; display: inline;}
#content .listingTools .alphaNav {width: 500px; float: left; display: inline; clear: none;}
#content .listingTools .expandTool {width: 150px; float: right; display: inline; clear: none; text-align: right;}
#content .listingTools li {float: left; background: none; line-height: 1em; clear: none; padding: 0 5px 0 0; margin: 0 5px 0 0; border-right: 1px solid #000; list-style:none;}

.listingTools a {color: #0095da; text-decoration: none;}
.listingTools a:link {color: #0095da;}
.listingTools a:visited {color: #0095da;}
.listingTools a:hover {color: #0095da; text-decoration: underline;}
.listingTools a:active {color: #0095da;}

#content #listingItems {clear: both; width: 680px; float: left; display: inline; margin-top: 20px;}
#content #listingItems #listingItemsLeft {width: 48%; float: left; display:inline;}
#content #listingItems #listingItemsRight {width: 48%; float: right; display: inline;}
#content #listingItems ul {margin-bottom: 15px;}
#content #listingItems ul li {padding-bottom: 0; list-style:none;}
#content #listingItems .listingLtr {color: #0095da; font-weight: bold; background: none; padding-left: 0;}

#content ul .listingDesc {display: none; padding-left: 0;}

