 /* SimpleModal Styles */
#simplemodal-overlay, .simplemodal-overlay {background-color:#fff; cursor:wait;}
#simplemodal-container, .simplemodal-container {width:auto;height:auto;background:#fff url(../global-images/modal_header_tile_1x31.gif) left top repeat-x; border:1px solid #015cad; text-align: left;}
.simplemodal-data {width: auto;}

#modalTitleBar, .modalTitleBar  {height: 31px; line-height: 31px;}
#modalTitleBarLabel, .modalTitleBarLabel {width: 75px; float: left; color: #f0f0f0; font-size: 13px; font-weight: bold; margin-left: 15px; display: inline;}
#modalTitleBarClose, .modalTitleBarClose  {width: 67px; float: right;}
#modalTitleBar h1, .modalTitleBar h1 {font-size: 14px; color: #fff; line-height: 31px; padding: 0 0 0 10px;} /* outdated, all modal titles switched to h6 */
#modalTitleBar h6, .modalTitleBar h6  {font-size: 14px; color: #fff; line-height: 31px; padding: 0 0 0 10px; margin: 0;}
a.modalCloseImg {background:url(../global-images/modal_btn_close_15x31.gif) no-repeat; width:15px; height:31px; display:inline; z-index:3200; position:absolute; top: 0; right: 10px; cursor:pointer;} 
#modalContent, .modalContent {padding: 15px;}
.modalscroll {overflow: auto;}
#modalContent, .modalContent  p {line-height: 1.5em;} 
#modalContent h3, .modalContent h3 {font-size: 18px; color: #be8851; padding: 0 0 10px 0; border-bottom: 1px solid #d1d1d1; font-weight: normal; margin-bottom: 10px;}
#modalContent ul, .modalContent ul {margin: 0 0 10px 0; padding: 0; list-style: none outside; clear: left;}
#modalContent ul li, .modalContent ul li {background: url(../global-images/bullet_car.gif) left 4px no-repeat; padding-left: 10px; clear:left; list-style: none outside;}
#modalContent ul li a, .modalContent ul li a {color: #0095da; text-decoration: none;}
#modalContent ul li a:link, .modalContent ul li a:link {color: #0095da; text-decoration: none;}
#modalContent ul li a:visited, .modalContent ul li a:visited {color: #0095da; text-decoration: none;}
#modalContent ul li a:hover, .modalContent ul li a:hover {color: #0095da; text-decoration: underline;}
#modalContent ul li a:active, .modalContent ul li a:active {color: #0095da; text-decoration: none;}

/* ecommerce dialog boxes begin */
#emailUsModal {width: 600px;}
#emailUsModal #ecomModalDialogBox {padding: 0;}
#privPolModal {width: 480px;}
#privPolModal #ecomModalDialogBox, #tcsModal #ecomModalDialogBox  {padding: 0;}
#tcsModal {width: 500px;}
#busCrdAdvLrnModal,  #proPlusLrnModal,  #busVrfyLrnModal,  #crdScrLrnModal {width: 450px;}
#mailRvwInst,  #statusInfo {width: 450px;}
#returnShopping {width: 550px;}

#ecomDialogBoxTitle {background: url(../small-business/images/ecomDialogBoxTitleBG.gif) left top repeat-x; height: 30px; line-height: 30px;}
#ecomDialogBoxTitleLabel {width: 75px; float: left; color: #f0f0f0; font-size: 13px; font-weight: bold; margin-left: 15px; display: inline;}
#ecomDialogBoxTitleClose {width: 67px; float: right;}
#ecomDialogBox .ecomDialogBoxInstruct {padding: 10px 15px 15px 15px;}
#ecomDialogBox {width: auto; height: auto;}
#ecomDialogBox ul {margin: 5px 15px 15px 15px;}
#ecomDialogBox ul li {line-height: 16px;}
.ecomRadio {vertical-align: middle;}
#ecomDialogBox p {padding: 0 15px 0 15px; line-height: 1.5em;}
#ecomDialogBox span {color: #d3ab07;}
#ecomUpgradeNowButton {width: 118px; margin: 0 auto 15px auto; display: block;}
/* #emailUsModal #ecomDialogScroll {width: auto; height: 518px; border: 1px solid #bbb; overflow: auto; margin: 10px;}*/
#emailUsModal #ctAttCns {width: 210px; float: right; color: #ff0000; margin-right:25px;}
#emailUsModal #ctAttCns span {text-decoration: underline;}
#emailUsModal table {margin: 0 0 20px 25px;}
#emailUsModal table textarea {width: 90%;}
#emailUsModal #ecomDialogScroll {width: auto; height: 500px; overflow: auto; margin: 20px;}
#ecomDialogScroll {width: auto; height: 300px; border: 1px solid #bbb; overflow: auto; margin: 10px;}
.ecomLvl1 {color: #015cae; font-weight: bold; font-size: 13px;}
.ecomLvl2 {padding-left: 10px; font-weight: bold;}
.ecomLvl3 {padding-left: 20px;}
.ecomLvl4 {padding-left: 30px;}
 
#ecomDialogScrollStatus {height: 318px; border: 1px solid #bbb; overflow: auto; padding: 10px;}
#ecomModalDialogBox #ecomDialogScrollStatus h4,  #ecomModalDialogBox #ecomDialogScrollStatus h5 {padding: 8px 10px 3px 0;}
#ecomDialogScrollStatus p {padding: 0 10px 10px;}
#ecomDialogScrollStatus img {margin: 0 10px 10px 0;}
#ecomModalDialogBox h4,  #ecomModalDialogBox h5 {padding: 0 0 3px 0;}

#ecomModalDialogBox {height:auto; border: none; background-color: #fff; text-align: left; padding: 15px;}
#ecomModalDialogBox p {padding: 0 0 10px 0; line-height: 1.5em;}
#ecomModalDialogButton {width: 118px; margin: 0 auto; display: block;}
#ecomModalDialogBox ul {margin: 0 0 10px 10px;}
#ecomModalDialogBox ul li {background:transparent url(../common-images/bullet_textinfo.gif) no-repeat scroll left 9px; line-height:1.5em;
margin:0; padding:0 0 8px 10px;}
#ecomModalDialogBox a {color: #0095da; text-decoration: none;}
#ecomModalDialogBox a:link {color: #0095da;}
#ecomModalDialogBox a:visited{color: #0095da;}
#ecomModalDialogBox a:hover{color: #0095da; text-decoration: underline;}
#ecomModalDialogBox a:active{color: #0095da;}
#ecomModalDialogBox iframe {z-index: -1;}

#ecomModalDialogBox label {padding: 0px 0px 0px 0px; font-weight: bold;}
#ecomModalDialogBox .singleInput {margin: 5px 0px 10px 0px;}
#ecomModalDialogBox .optional {font-size: 11px; font-weight: normal;}
#ecomModalDialogBox .error {background:transparent url(../small-business/images/ez_icon_error.gif) no-repeat scroll left center; display:inline; font-size: 12px; font-weight: bold; color: #FF0000; padding: 0px 0px 0px 18px; margin: 0px 0px 10px 0px;line-height:1em;}
/* ecommerce dialog boxes end */

.blueButton {clear: left; background: url(../global-images/button_right_blue_small_290x21.gif) right top no-repeat; float: left; line-height: 21px; margin: 0 0 10px 0;}
.blueButton a {background: url(../global-images/button_left_blue_small_10x21.gif) left top no-repeat; color: #fff; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.blueButton a:link {color: #fff;}
.blueButton a:visited {color: #fff;}
.blueButton a:hover {color: #fff; text-decoration: underline;}
.blueButton a:active {color: #fff;}

.blueButton21 {clear: left; background: url(../global-images/button_right_blue_small_290x21.gif) right top no-repeat; float: left; line-height: 21px; margin: 0 0 10px 0;}
.blueButton21 a {background: url(../global-images/button_left_blue_small_10x21.gif) left top no-repeat; color: #fff; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.blueButton21 a:link {color: #fff;}
.blueButton21 a:visited {color: #fff;}
.blueButton21 a:hover {color: #fff; text-decoration: underline;}
.blueButton21 a:active {color: #fff;}

.blueButton26 {clear: left; background: url(../global-images/button_right_blue_large_290x26.gif) right top no-repeat; float: left; line-height: 26px; margin: 0 0 10px 0;}
.blueButton26 a {background: url(../global-images/button_left_blue_large_10x26.gif) left top no-repeat; color: #fff; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 12px; font-weight:bold;}
.blueButton26 a:link {color: #fff;}
.blueButton26 a:visited {color: #fff;}
.blueButton26 a:hover {color: #fff; text-decoration: underline;}
.blueButton26 a:active {color: #fff;}

.yellowButton, .yellowButton21  {clear: left; background: url(../global-images/button_right_yellow_small_290x21.gif) right top no-repeat; float: left; line-height: 21px; margin: 0 0 10px 0;}
.yellowButton a, .yellowButton21 a {background: url(../global-images/button_left_yellow_small_10x21.gif) left top no-repeat; color: #015CAE; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.yellowButton a:link, .yellowButton21 a:link {color: #015CAE;}
.yellowButton a:visited, .yellowButton21 a:visited {color: #015CAE;}
.yellowButton a:hover, .yellowButton21 a:hover {color: #015CAE; text-decoration: underline;}
.yellowButton a:active, .yellowButton21 a:active {color: #015CAE;}

.yellowButton26 {clear: left; background: url(../global-images/button_right_yellow_small_290x26.gif) right top no-repeat; float: left; line-height: 26px; margin: 0 0 10px 0;}
.yellowButton26 a {background: url(../global-images/button_left_yellow_small_10x26.gif) left top no-repeat; color: #015CAE; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 12px; font-weight:bold;}
.yellowButton26 a:link {color: #015CAE;} 
.yellowButton26 a:visited {color: #015CAE;}
.yellowButton26 a:hover {color: #015CAE; text-decoration: underline;}
.yellowButton26 a:active {color: #015CAE;}

.grayButton21 {clear: left; background: url(http://www.experian.com/global-images/button_right_gray_small_290x21.gif) right top no-repeat; float: left; line-height: 21px; margin: 0 0 10px 0;}
.grayButton21 a {background: url(http://www.experian.com/global-images/button_left_gray_small_10x21.gif) left top no-repeat; color: #0095da; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.grayButton21 a:link {color: #0095da;}
.grayButton21 a:visited {color: #0095da;}
.grayButton21 a:hover {color: #0095da; text-decoration: underline;}
.grayButton21 a:active {color: #0095da;}

.grayButton26 {clear: left; background: url(http://www.experian.com/global-images/button_right_gray_large_290x26.gif) right top no-repeat; float: left; line-height: 26px; margin: 0 0 10px 0;}
.grayButton26 a {background: url(http://www.experian.com/global-images/button_left_gray_large_10x26.gif) left top no-repeat; color: #595959; text-decoration: none; vertical-align: middle; display: block; padding: 0 10px; font-size: 11px;}
.grayButton26 a:link {color: #595959;}
.grayButton26 a:visited {color: #595959;}
.grayButton26 a:hover {color: #595959; text-decoration: underline;}
.grayButton26 a:active {color: #595959;}

.submitButton {
    background: url("../global-images/button_right_white_small_290x21.gif") no-repeat scroll right top transparent !important;
    clear: left;
    float: left !important;
    line-height: 21px;
    margin: 0 0 10px;
}

.submitButton span {
    background: url("../global-images/button_left_white_small_10x21.gif") no-repeat scroll left top transparent;
    color: #595959;
    display: block;
    font-size: 11px;
    padding: 0 10px;
    text-decoration: none;
    vertical-align: middle;
}

