
form { margin:0; padding:0; }
label { font-weight:bold; margin:0; margin-bottom:2px; color:#333; cursor: default; }
input { margin:0; padding:0; }
input:focus, textarea:focus, option:focus { background: #f1f1f1 }
textarea { margin:0; padding:0; margin-bottom:2px; width:100%; height:75px; }
textarea.viewSource { margin-bottom: 15px; font-family: "Courier New", Courier, monospace; height: 125px; }
input.shortest { width:28px; }
input.radio { vertical-align:middle; padding:0; margin:0; }

.requiredText { background:url(https://style.sprintpcs.com/i/bg-requiredB.gif) no-repeat left; padding-left:15px; }

.text3 { width:25px; }
.text4 { width:30px; }
.text5 { width:37px; }
.text6 { width:42px; }
.text8 { width:70px; }
.text12 { width:80px; }

.formGroupB.required label { background:url(https://style.sprintpcs.com/i/bg-requiredB.gif) no-repeat right; margin-right: 2px; }
.formGroupB { padding:0; margin:0; white-space:normal; } /*  margin-bottom:10px !important */
.formGroupB .labelCol { width:187px; float:left; text-align:right; padding-top:2px; margin-bottom:13px; }
.formGroupB .med .labelCol { width:354px; float:left; text-align:right; padding-top:2px; margin-bottom:13px; }
.formGroupB .labelCol strong { display:block; padding-right:20px; }
.formGroupB .inputCol { width:162px; float:left; margin-bottom:13px; }
.formGroupB .inputCol.noInpupt, .formGroupB .inputCol.noInput { padding-top:2px; }
.formGroupB label { display:block; padding-right:20px; }
.formGroupB label.none { display:none; }
.formGroupB textarea { display:block; width:100%; height:75px; margin-bottom:2px; }
.formGroupB .text { width:95%; }
.formGroupB select { width:95%; }
.formGroupB .inputCol select { width:162px; }
.formGroupB .checkbox { padding:0; margin:0; width:14px; height:14px; padding-right:2px; }
.formGroupB label.inline { display:inline; background-image:none !important; cursor:auto; }
.formGroupB .extrasCol	{ margin-left:26px; width:162px; float:left; margin-bottom:13px; }

.formGroupB.error label.none { display:block; width:20px; height:13px; }
.formGroupB.error .text { width:99%; }
.formGroupB.error textarea { width:99%; }
.formGroupB.error label { background-image:none; }
.formGroupB.error { background-color:#f1f1f1; background-image:url(https://style.sprintpcs.com/i/bg-errorB.gif); background-repeat:no-repeat; border: 1px solid #000; margin-bottom:20px; padding:4px 0px; white-space:nowrap; }
.formGroupB.error .labelCol { margin:0; width:184px; white-space: normal; padding-top:7px; }
.formGroupB.error .inputCol { margin:0; width:159px ; white-space: normal; }
.formGroupB.error .extrasCol	{ margin-left:26px; width:159px;  white-space: normal; }
.formGroupB.error .clear { border-top:1px solid #f1f1f1; }
.formGroupB input.inline { vertical-align:middle; width:55px; }
.formGroupB.error select { width:98% !important; }

.boxed .formGroupB.error .labelCol { margin:0; width:176px; white-space: normal; padding-top:7px; }
.boxed .formGroupB.error .inputCol { margin:0; width:151px ; white-space: normal; }

.formGroupB p.med { width:345px; } 

.formGroupA.required label { background-image:url(https://style.sprintpcs.com/i/bg-requiredB.gif) !important ; background-repeat:no-repeat; background-position:right top; padding-right:18px; }
.formGroupA { padding:0; margin:0 !important; margin-bottom:10px !important; background-image:none; white-space:normal; }
.formGroupA label { width:auto; }
.formGroupA label.none { display:none; }
.formGroupA input, .formGroupA select { display:block; }
.formGroupA input.inline, .formGroupA select.inline { display:inline; }
.formGroupA label.inline { display:inline !important ; }
.formGroupA textarea { display:block; width:97%; height:75px; margin-bottom:2px; }
.formGroupA .text { width:150px; }
.formGroupA .checkbox { padding:0; margin:0; width:14px; height:14px; padding-right:2px; }
.formGroupA.error label.none { display:block; width:20px; height:13px; }
.formGroupA.error label { display:inline-block; padding-left:19px; border:0; cursor:auto; white-space:normal; }
.formGroupA.error { background-image:url(https://style.sprintpcs.com/i/bg-errorB.gif); background-repeat:no-repeat; background-color:#f1f1f1; border: 1px solid #000; padding:3px; }
.formGroupA.error input, .formGroupA.error textarea, .formGroupA.error select { margin-top:6px; }
.formGroupA.error textarea { width:98%; }
.formGroupA.error select { width:auto; }

.formGroupB p { margin-bottom:0; white-space:normal; }
.formGroupB .labelCol p { margin-right: 20px; }

.med textarea	{	width:93%;	}

label, textarea, select, input {
	z-index: 1000;
}

.errorBM { position: relative; }
.errorBM span {
	position: absolute;
	left: -18px;
	top: 1px;
	width: 15px;
	height: 19px;
	background-image:url(i/bg-error.gif); 
	background-repeat:no-repeat; 
}

.checkIt { float:left; width:12%; }
.labelIt { float:left; width:80%; padding-top:3px; }

.checkboxRequired .checkIt { background:url(https://style.sprintpcs.com/i/bg-requiredB.gif) no-repeat -4px; padding-left: 10px; }
.checkboxRequired .labelIt { width:76%; }

.med .checkIt { width:5%; }
.med .labelIt { width:91%;}

.med .formGroupB .checkIt { width: 12%; }
.med .formGroupB .labelIt { width: 85%; }

.formGroupB .med .checkIt { width: 20px; }
.formGroupB .med .labelIt { width: 334px; }

.large .formGroupB .checkIt { width: 12%; }
.large .formGroupB .labelIt { width: 85%; }

.inputCol .checkIt input { width:16px; }

.large .checkIt { width:4%; }
.large .labelIt { width:92%;}

.half .checkIt { width:25px; }
.half .labelIt { width:225px;}

.thin .checkIt { width:25px; }
.thin .labelIt { width:140px !important;}

.checkIt input { margin-right:6px; }

.error .checkIt { position:relative; z-index:100; margin-top:15px; }
.error .labelIt { position:relative;z-index:99; margin-top:21px; }


.muted { font-weight:normal; color:#000 !important ; background-image:none !important; padding-left:0 !important; }
.mutedBlock { display: block; font-weight:normal; color:#000 !important ; background-image:none !important; padding-left:0 !important; }

.dropdown1col { width:95%; }
.dropdown2col { width:95%; }
input.text1col { width:95%; }
input.text2col { width:95%; }

.imp { border:1px solid #f00; padding:6px; background-color:#eeeeee; }

.formGroupA font, 
.formGroupB font, 
.formGroupA tt, 
.formGroupB tt { 
	display: none; 
}