#wrapper #main-container #content #primary-content {float:none;}

#presales_terms_and_conditions_container{
	margin-top:10px;
}
.priceFormat{
	color:#74B729;	
	float:left;
	line-height:32px;
	position: relative
}
.dollarsFormat{
	font-size: 32px;
	margin-top: 5px;
	float:left;
	position:relative;
}
.dollarSignFormat, .centsFormat{
	font-size:18px;
	float:left;
}
#priceTermFormat {
	position: absolute;
	bottom: -10px;
	right: -67px;
	color: #CCCCCC;
	white-space:nowrap;
	font-size:10px;
}
#priceTermFormatAbbreviated {
	position: absolute;
	bottom: -10px;
	right: -35px;
	color: #CCCCCC;
	white-space:nowrap;
	font-size:10px;
}
.staticPlanPlus{
	position: absolute;
	top: 2px;
	left: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #74B729;
}
.staticPlanPrice{
	position: absolute;
	top: 2px;
	left: 23px;
	font-size: 14px;
	font-weight: bold;
	color: #74B729;
}
.staticPerMonth{
	position: absolute;
	top: 3px;
	left: 78px;
	color: #CCCCCC;
	font-size: 10px;
}
.staticSubText{
	position: absolute;
	top: 15px;
	left: 35px;
	color: #CCCCCC;
	font-size: 10px;
	white-space:nowrap;
}
.displayNone{display:none;}
.bold{font-weight:bold;}
#chatImg .noBorder{border:0px;}
#content input[type=image], #content input[type=radio], #content img{border:0px;}
#content .inputImage {border:0px;}
.col_680px {
	float: left;
	margin: 3px;
	width: 680px;
	padding: 5px;
	border: #CCCCCC solid 1px;
}
.col_234px {
	float: left;
	margin: 3px;
	width: 234px;
	padding: 5px;
	border: #CCCCCC solid 1px;
}

div.vertDash
{
	background-image:url(../../images/DSL/misc/img_splice_listItemSeparator_AA000H1C.gif);background-repeat:repeat-y;width:1px;margin:8px;
}
.listItemGradient
{
	background-image:url(../../media/en_US/images/img/img_uverse-gradient-4x15_AA0009R5.gif);
	background-repeat:repeat-x;height:15px;
}
.mod_a_uverse /* 1px border box with tall gradient bg and 12px padding */
{
	background-image: url(../../media/en_US/images/img/img_uverse-gradient-4x37_AA0009R6.gif) repeat-x;
    padding-left:12px;
		padding-top:12px;
		/*margin-bottom:10px;
    border: 1px solid #ccc;*/
}
.package {
	width:220px;
/*	padding:4px;*/
	border-top:#CCCCCC solid 1px;
	border-bottom:#CCCCCC solid 1px; 
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
	color:#0A94D6;
	display: block;
	position:relative;
	z-index:3;
}
.package:hover {
/*#FF7200*/
	width:220px;
/*	padding:3px;*/
	border-top:#CCCCCC solid 1px;
	border-bottom:#CCCCCC solid 1px;
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
	color:#FF7200;
	/*background: url(/media/en_US/images/img/img_uverse-details-selected_AA0009RQ.gif) repeat-y;*/
	background: url(../../media/en_US/images/img/img_uverse-details-gradient_AA0009RO.gif) repeat-y;
	position:relative;
	z-index:3;
	cursor:pointer;
}
.uverse_bar
{ 
	padding-right: 5px;
	border-right:solid #999999 1px;
}
.first_203 {
	float: left;
	width: 203px;
	}
.col_203 {
	float: left;
	width: 203px;
	margin-left: 10px;
	display: inline;
	}
.uverse_orange{color:	#FF7200;}
.uverse_purple{color:	#81017E;}
.uverse_blue{color:	#0C2577;}
.uverse_green{color:	#5EBB1F;}
	
#content .callout-offer {position: relative;padding: 0px 0px 0px 5px;}
#content .callout-offer ul.mini-arrow-list {padding:0;margin:0;font-size:10px;}
#content .callout-offer ul.mini-arrow-list li {padding-bottom:3px;margin:0;}
#content .callout-offer ul.mini-arrow-list li a {padding:1px 0 1px 18px;background:url(../../media/en_US/images/btn/btn_caret_AA0009OZ.gif) left no-repeat;}


/******* removed to wrapper.css, this style should not be controlled from this file. B2C-56711 ******/
/*.bottomLinks {clear:both; margin-bottom:10px; color:#cccccc}
.bottomLinks a, .bottomLinks a:link, .bottomLinks a:visited, .bottomLinks a:hover {font-size:.9em; color:#999999; padding:0 5px;}
*/


/* div.horizDash4 {background-image:url(/media/en_US/images/img/img_splice_horz_sep.gif); background-repeat:repeat-x;height:1px; margin: 0 0 0 0;} */
div.horizDash {background-image:url(../../images/DSL/misc/img_splice_horz_sep_AA000HYF.gif); background-repeat:repeat-x;height:1px; margin: 0 0 0 0;}


#alert {
	background-color:#e9fbe1; 
	border:#55ca10 solid 1px;
	color: #006633;
}
.buttonUverse-cancel
{
    width:70px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_cancel_wht_AA000CNO.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-retrievecart
{
    width:102px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_RetrieveCart_blu_AA000169.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-retrieveExisting
{
    width:125px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_RetrieveExisting_AA000CO3.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-savecart
{
    width:102px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_SaveCart_blu_AA00016B.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-done
{
    width:70px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_Done_blu_AA0009Y4.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-retrieveExisting
{
    width:125px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_RetrieveExisting_AA000CO3.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-replace
{
    width:70px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_Replace_blu_AA000165.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.mod_caution_uverse /* 1px Orange border for form errors */
{
    background:#f9f4d3;
    margin-bottom:10px;
    color:#f27d00;
    padding:5px;
    border: 1px solid #f27d00;
}
/* for save cart background*/


#popup_top {
	width:425px;
	height:40px;
	display:block;
	background-image:url(../../media/en_US/images/layout/popup_topSlice_AA000CUE.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	text-align:right;
	padding:10px 0 0 0;
	margin: 0 auto;
}
#popup_container
{
    margin:0 auto;
    width: 425px;
    background: url(../../media/en_US/images/layout/popup_midSlice_AA000CUD.gif) 0 0 repeat-y transparent;
    /*background: url(/global/images/landingPage_heightGrid.jpg) 0 0 no-repeat transparent;*/
}
#popup_bottom
{
    clear: both;
    margin: 0 auto;
    width:425px;
    height:5px;
    background: url(../../media/en_US/images/layout/popup_btmSlice_AA000CUC.gif) 100% 100% no-repeat transparent;
}
/* for save cart background*/
/*.overlay {
  background:url(/media/en_US/images/img/img_save_cart_shadow_AA000CR8.png) 0 0;
	border: #cccccc solid 1px;*/
		/**border: green solid 1px;*/
/*	padding:16px 0 0 0; 
		*padding:2px 0 0 0; 
	margin:0 3px -5px 0;
		*margin:0 -5px -5px 0;
  }

.overlay-bd {
 background:url(/media/en_US/images/img/img_save_cart_shadow_AA000CR8.png) 100% 100%;
 border: #cccccc solid 1px;*/
 		/**border: red solid 1px;*/
/*  margin: -10px -7px -7px 5px;
		*margin: 0px -2px 0px 5px;
}*/
#wrapperContentDiv #container2 #content .promoContent h2.orange a.title{color:#333}
#wrapperContentDiv #container2 #content .promoContent h2.orange a.title:visited {color:#333}
#main-container #wrapperContentDiv #container2 #content #primary-content .col_310 #right-content .landing_right_slot .callout2 h2.orange a.title{color:#333}
#main-container #wrapperContentDiv #container2 #content #primary-content .col_310 #right-content .landing_right_slot .callout2 h2.orange a:hover{text-decoration: underline}
body{color:#333}
h1.orange,h2.orange,h3.orange,h4.orange,h5.orange,h6.orange,a.title{color: #333 !important}
/*New Styles Added for DSL Messaging Page per B2C-121303*/
.dslMessageContent {margin:30px -11px 0 40px; padding-top:10px;}
.dslMessageContent h1 {font:24px arial;}
.dslMessageContent h2 {font:16px arial;}
.dslMessageContent p {font:12px/20px arial;}
.dslMessageContent .disclaimer {color:#666; font:11px arial;}
.w375 {width:375px;}        
.callToActionSection {padding:20px 30px 0 0;}
.textcta {padding-right: 15px;}	
.ctaRt {position:absolute; float:right; right:0px; padding-right:30px;}
.internet-links-btm1, #help_static_IP{display:block;padding-top:12px;width:250px;}
.internet-links-btm2{display:block;padding:12px 4px 0px 0px;float:left;}

