body,ul,ol,pre,form,fieldset,input,textarea,blockquote,td,dd,div,dl,dt,li,h1,h2,h3,h4,h5,h6,p,th{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
code,dfn,strong,address,caption,cite,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
body{line-height:normal;}
::-moz-selection{background:#444;}
::selection{background:#444;}
a,a:visited,a:active{color:#607890;}
img{vertical-align:baseline;}
td{vertical-align:middle;}