/*
 * AT&T Web Standards Initiative <wsi at att dot com>
 * Joe D'Andrea and Vincent Murphy
 *
 * $Id: att.css,v 1.13 2005/04/20 14:05:03 jdandrea Exp $
 *
 * Style
 */

/* "Patience, grasshopper ..." */
/* @import url(ie7-html.css); */

/* Default Media */
@import url(screen.css);

/* TODO: Fold (most of) these into one file. */

/* Globals <gasp!>, Elements */
@import url(global.css);
@import url(form.css);

/* Regions ("In Order of Appearance") */
@import url(header.css);
@import url(title.css);
@import url(index.css);
@import url(sidebar.css);
@import url(main.css);
@import url(footer.css);

/* Bring in the deprecated stuff */
@import url(deprecated.css);

/* Alternate Media */
@import url(print.css);
/* handheld is on deck ... */

/* Hat-tip: www.wired.com */
a img {
  border-width: 0;
  border-style: none;
  border-color: #fff;
  color: #fff;
}
form fieldset {
  border: 0 solid transparent;
  margin: 0;
  padding: 0;
}
.skiplinks {
  display: none;
}
