/*
.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
       */

/**
**/

.pagination	{
	font-size: 80%;
}

.pagination a, .pagination span {
	background-color:#F8F8F8;
	border:1px solid #C2C2C2;
	display:block;
	float:left;
	font-weight:bold;
	height:15px;
	margin-left:3px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	width:16px;
	color: #176FCC;
	text-decoration: none;
    line-height:16px;
}
.pagination a:hover {
	background-color:#F8F8F8;
	border:1px solid #C2C2C2;
	display:block;
	float:left;
	font-weight:bold;
	height:15px;
	margin-left:3px;
	text-align:center;
	text-decoration:underline;
	vertical-align:middle;
	width:16px;
	color: #176FCC;
}
.pagination .current {
	color:#666666;
}
.pagination .current.next, a.next:hover {
	background-image:url(../images/home_recent_scroll_arrow_right_over.png);
	border:none;
	height:17px;
	width:17px;
	text-decoration:none;
}
.pagination .current.prev, a.prev:hover {
	background-image:url(../images/home_recent_scroll_arrow_left_over.png);
	border:none;
	height:17px;
	width:17px;
	text-decoration:none;
}
.pagination .next {
	background-image:url(../images/home_recent_scroll_arrow_right.png);
	border:none;
	height:17px;
	width:17px;
}
.pagination .prev {
	background-image:url(../images/home_recent_scroll_arrow_left.png);
	border:none;
	height:17px;
	width:17px;
}