body {
	background-position: top left !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_93646_body.jpg) !important;
	background-color: #000000 !important;
	background-repeat: repeat !important;
}
#ka_mainContainer {
	font-family: Courier New;
	width: 766px;
	background-repeat: repeat !important;
	background-position: 0 127px !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_93931_wrapper.jpg) !important;
	color: #CF0211 !important;
	background-color: #FF4800 !important;
	font-size: 18px;
	padding: auto;
}
div#ka_contentContainer h2,div#ka_contentContainer h3 {
	color: #CF0211 !important;
	font-family: Courier New;
}
ul#ka_commentList h4 strong {
	color: #CF0211 !important;
}
div.ka_createForm h1 {
	color: #CF0211 !important;
}
ul.ka_sideList li,ul.ka_myHomeList li {
	color: #CF0211 !important;
}
legend,label {
	color: #CF0211 !important;
}
body #ka_le_headercont {
	font-family: Tahoma;
	height: 129px;
	padding: 40px;
	color: #1C08FC !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_91278_header.jpg) !important;
	background-position: 400px 0;
	background-repeat: repeat !important;
	font-size: 18px;
	background-color: #000000 !important;
	display: block;
	padding: 0px !important;
	display: block !important;
}
h2#ka_topHeaderName {
	color: #1C08FC !important;
	font-family: Tahoma;
	padding: 40px;
}
h2#ka_topHeaderName {
	margin-top: 0px !important;
	display: block;
	padding-bottom: 0px !important;
	padding-right: 0px !important;
}
h2#ka_topHeaderName a {
	color: #1C08FC !important;
}
a,a:visited {
	color: #3434ff !important;
}
body#ka_playPage .ka_contentTitle,body#ka_listPage .ka_contentTitle,body#ka_blogHome .ka_contentTitle,body#ka_homepage .ka_contentTitle,body#ka_myhome .ka_contentTitle,body#ka_profilePage .ka_contentTitle,body#ka_groups .ka_contentTitle,body.ka_pageBuilder .ka_contentTitle,body#ka_getting_started .ka_contentTitle,body.ka_messageBoards .ka_contentTitle {
	border-color: #11191C !important;
	border: 1px solid #11191C !important;
	background-color: #003395 !important;
	font-size: 18px;
	color: #0000FF !important;
	font-family: Comic Sans MS;
	background-repeat: repeat !important;
	background-position: top left !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_93935_pillHea.jpg) !important;
}
div#ka_getActive h3 {
	color: #0000FF !important;
	border: 1px solid #11191C !important;
	border-color: #11191C !important;
	font-size: 18px;
	font-family: Comic Sans MS;
	background-color: #003395 !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_93935_pillHea.jpg) !important;
	background-repeat: repeat !important;
	background-position: top left !important;
}
span#ka_since {
	color: #0000FF !important;
	font-family: Comic Sans MS;
	font-size: 18px;
}
span#ka_since {
	border: none !important;
	margin-top: 5px;
}
.ka_bumperTop span {
	font-size: 18px;
}
body#ka_profilePage div.ka_profileSegHeader h5 {
	font-family: Comic Sans MS;
}
div#ka_manageSubNav ul li span,div#ka_manageSubNav ul li a {
	background-color: #003395 !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_93935_pillHea.jpg) !important;
	background-repeat: repeat !important;
	background-position: top left !important;
	color: #0000FF !important;
	border: 1px solid #11191C !important;
	border-color: #11191C !important;
}
div#ka_manageSubNav ul li span,div#ka_manageSubNav ul li a {
	border-bottom: none !important;
}
div#ka_manageSubNav span.ka_mkplink a {
	background-color: none !important;
	background-image: none !important;
	border-width: 0px !important;
}
div#ka_manageSubNav {
	border: 1px solid #11191C !important;
	border-color: #11191C !important;
}
div#ka_manageSubNav {
	border-width: 0px 0px 1px 0px !important;
}
body#ka_playPage .ka_contentBody,ul#ka_relatedTabs li a.active,#ka_relatedTabs a.active:hover,body#ka_listPage .ka_contentBody,body#ka_listPage li.ka_list,body.ka_myhome_pages li.ka_list,body#ka_blogHome .ka_contentBody,body#ka_blogHome li.ka_list,body#ka_homepage .ka_contentBody,body#ka_myhome .ka_contentBody,body#ka_profilePage .ka_contentBody,body#ka_groups .ka_contentBody,body.ka_pageBuilder .ka_contentBody,body#ka_getting_started .ka_contentBody,body.ka_messageBoards .ka_contentBody,.ka_bubble blockquote,.ka_popup,.ka_popUpDiv,form#ka_loginPopup,#ka_ProgressBarDiv {
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_93923_pillBod.jpg) !important;
	color: #0079DD !important;
	background-color: #fff !important;
	font-size: 18px;
	font-family: Times New Roman;
	border-color: transparent !important;
	border: 1px solid #8CDCA1 !important;
	background-repeat: repeat !important;
	background-position: top left !important;
}
.ka_allItemsContainer {
	border: none !important;
}
ol#ka_audioList div.ka_null {
	font-size: 18px;
}
h4 a  {
	font-family: Times New Roman;
}
.ka_contentBody a {
	font-family: Times New Roman;
}
.searchLetterBox {
	width: 132px !important;
}
.ka_list {
	width: 144px !important;
}
div.ka_createForm h1 {
	color: #0079DD !important;
}
ul.ka_sideList li,ul.ka_myHomeList li {
	color: #0079DD !important;
}
#ka_footer {
	color: #0066FF !important;
	text-align: center;
	font-size: 13px;
	background-repeat: repeat !important;
	background-position: top center !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_92927_footer.jpg) !important;
	background-color: #0084FF !important;
	border-top-width: 0px !important;
}
#ka_headerTopNav {
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_91843_navBac.jpg) !important;
	background-repeat: repeat !important;
	padding: auto;
	height: 60px;
	background-color: #0AF0D1 !important;
	background-position: top left;
}
#ka_headerTopNav_ul li a:hover {
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_91910_navHov.jpg) !important;
	background-color: transparent;
	color: #E8C309 !important;
	font-family: Impact;
	font-size: 18px;
	background-repeat: repeat !important;
	background-position: top left !important;
}
#ka_headerTopNav_ul li.current a {
	font-family: Century Gothic;
	background-image: url(../../media.kickstatic.com/kickapps/images/templateimages/nav-selected-arrow-black-30percent.png) !important;
	color: #E4EDEB !important;
	font-weight: bold;
	background-color: #38F00A !important;
	background-position: bottom center;
	background-repeat: no-repeat !important;
	font-size: 13px;
}
#ka_headerTopNav_ul li a {
	color: #EDE4E4 !important;
	font-family: Impact;
	font-size: 14px;
	background-repeat: repeat !important;
	background-position: top left !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_91912_navIna.jpg) !important;
}
#ka_headerSubNav {
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_91847_subnavBac.jpg) !important;
	background-repeat: repeat !important;
	background-color: #D00111 !important;
	padding: auto;
	height: 33px;
	background-position: top left !important;
}
#ka_headerSubNav_list li a:hover {
	color: #FFFFFF !important;
	font-family: Impact;
	font-size: 17px;
	background-repeat: repeat !important;
	background-position: top left !important;
	background-image: url(../../media.kickstatic.com/kickapps/images/115712/photos/115712_THEME_177961_91897_subnavHov.jpg) !important;
}
#ka_headerSubNav_list li.current a {
	background-image: url(getKickplaceCss.kickAction%3Fpage=NONKICKPLACE&pageId=NON&as=115712&u=&prevUrl=.css) !important;
	color: #03A82A !important;
	font-size: 18px;
	font-family: Impact;
	background-repeat: repeat !important;
	background-position: top left !important;
}
#ka_headerSubNav_list li a {
	color: #05149C !important;
	font-family: Times New Roman;
	font-size: 14px;
}
