hr {margin:5px 0 5px 0;}
div.list {padding-bottom:15px;}
div.subSection {clear:both;}
div.margin {margin:10px 0 0 20px;clear:both}
div.marginLeft {margin-left:20px;}
div.section {margin:20px 0 10px 0;}
div.sectionHeader {float:left; width:800px; font-size: 1.3em; font-weight:bold; padding-bottom:10px;}
div.sectionListHeader {font-size: 1.2em;font-weight:bold;}
div.subSectionHeader, div.subSubSectionHeader {float:left; font-size:1.2em; font-weight:bold;}
div.subSectionBorder {clear:both;border-left:2px solid #ccc;border-top:1px solid #ccc; margin:5px 0 20px 0;}
div.subSectionContent {padding-left:10px;}
div.seeLinksLegal {padding:3px 10px 3px 10px;background-color:#CCCCCC;width:340px;text-align:center;}
a.seeAllLegal {width:9px;height:9px;border:0;background: url(../../global/images/btn_preview.gif) 0 0 no-repeat transparent;cursor: pointer; padding-left:15px;}
div.printLinks {float:right;}
div.printThisSection {float:right;}
div.printThisPage {float:right;}
ol.lower-roman {list-style-type:lower-roman;line-height:1.6em;margin-left:30px;}
ol.lower-alpha {list-style-type:lower-alpha;line-height:1.6em;margin-left:30px;}
ul.none {margin-left:15px;}
div.header {float:left; font-size:1.2em; font-weight:bold;}
