/** HEADER STYLES **/

#site-header-anchor { 
  position:absolute; 
  left:0; 
  right:0; 
  height:50px; 
  background:transparent url('img/sys/resale/anchored-header-sprites.png') center top repeat-x; 
  z-index:100;
  min-width:1000px;
}
#site-header-anchor.on-scroll { background-position: center -80px }
#site-header-anchor .frame { width:1000px; margin:0 auto; overflow:hidden }
#site-header-anchor .frame ul { height:50px; overflow:hidden; list-theme-type:none; padding:0; }
#site-header-anchor li { float:left; height:50px;}

#site-nav-anchor { float:left; }
#site-nav-anchor a { display:block; text-align:center; position:relative; height:35px; }
#site-nav-anchor li { width:126px; }
#site-nav-anchor li a:hover,
#site-nav-anchor li a:active,
#site-nav-anchor li a:focus { 
  background-color:#222; 
  background: -moz-linear-gradient(top, #2e2e2e 0%, #0d0d0d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2e2e2e 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2e2e2e 0%,#0d0d0d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2e2e2e 0%,#0d0d0d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2e2e2e 0%,#0d0d0d 100%); /* W3C */
  outline:0 none;
}

#site-nav-anchor li.on a { background:url('img/sys/resale/anchored-header-sprites.png') left -140px no-repeat; height:50px;}
#site-nav-anchor li.on a:hover,
#site-nav-anchor li.on a:active,
#site-nav-anchor li.on a:focus { background-color:transparent; background-position:left -201px; outline:0 none }

#site-nav-anchor-secondary { float:right; line-height:30px; margin-right:10px; }
#site-nav-anchor-secondary li { margin-left:25px; }
#site-nav-anchor-secondary a { color:#ccc; text-decoration:none; font-size:12px; } 
#site-nav-anchor-secondary a:hover { color:#fff; text-decoration:none; }

.nfbSkipLink { position: absolute; left: -1000px; top: -1000px;}
.nfbSkipLink:active, .nfbSkipLink:focus {position:static;}

#site-header { background:#4d4d4d url('img/sys/resale/bg_site-header.jpg') center bottom repeat-x; padding-top:60px; min-width:1000px }
#site-header .frame { width:980px; margin:0 auto; padding-bottom:55px; position:relative; }
#site-header .suppressed{ padding-bottom:35px }
#site-header .top-caret, #site-header-anchor .top-caret {
  position:absolute;
  background:url('img/sys/common_new/edp/caret-sprites.gif') left top no-repeat;
  top:-8px;
  right:10px;
  height:9px;
  width:15px;
  z-index:10;
}
#site-logo { white-space:nowrap }
#site-tagline { color:#fff; font-size:16px; font-weight:normal; padding-left:15px; }
#site-search { 
  float:right; 
  width:450px; 
  height:32px; 
  text-align:right; 
  z-index:60;
  position:relative;
}

#search-wrap { 
  display:inline-block; 
  padding:0 15px;
  height:32px; 
  background:url('img/sys/resale/search-box-sprites.png') left top no-repeat; 
  vertical-align:top;
  text-align:left;
}

#site-search #search-suggest { 
  padding:20px 10px 10px;
  top:43px;
  left:10px;
  z-index:10;
  text-align:left;
  min-width:418px;
  width:418px;
}
#suggest-header { 
  color:#afafaf; 
  font-size:11px; 
  position:absolute; 
  right:10px; 
  top:5px; 
  line-height:0.8em 
}
#search-suggest .suggest-cat { color:#afafaf; display: block; }
#search-suggest .select-list-theme li a:hover,
#search-suggest .select-list-theme li a:active,
#search-suggest .select-list-theme li a:focus,
#search-suggest .select-list-theme li a:hover .suggest-cat,
#search-suggest .select-list-theme li a:active .suggest-cat,
#search-suggest .select-list-theme li a:focus .suggest-cat,
#search-suggest .select-list-theme li.selected,
#search-suggest .select-list-theme li.selected a,
#search-suggest .select-list-theme li.selected .suggest-cat,
#search-suggest .select-list-theme li .on { background-color:#d00509; color:#fff; cursor:pointer;  }
#search-suggest .top-caret { left:10px }
#search-suggest .select-list-theme li a {
    color: #414141;
    display: block;
    font-size: 12px;
    padding: 6px 10px;
}

#mini-search { 
  max-width:450px; 
  float:right; 
  height:50px;
  overflow:hidden;
  padding:0;
  margin-top:3px;
  display:none;
}

#mini-search #search-suggest ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:auto;
}

#mini-search #search-suggest li{
  float:none;
  height:auto;
}

#mini-search #search-suggest{
  min-width: 350px;
  padding: 20px 10px 10px;
  text-align: left;
  top: 43px;
  z-index: 10;
  width:350px;
}

#mini-search #search-wrap  button:hover,
  #search-wrap button:active,
  #seach-wrap button:focus {
    cursor:pointer;
   /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MTgwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjJmMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #991801 0%, #ff2f03 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#991801), color-stop(100%,#ff2f03)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #991801 0%,#ff2f03 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #991801 0%,#ff2f03 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #991801 0%,#ff2f03 100%); /* IE10+ */
  background: linear-gradient(to bottom, #991801 0%,#ff2f03 100%); /* W3C */
  background-color: #991801; /* Old browsers */
}

#site-search {white-space: nowrap}
#site-search .search-wrap {
  height:32px;
  background-image:url('img/sys/resale/search-box-sprites.png'); 
}

#site-search .search-textfield {
  margin-top:7px;
  width:232px;
  font-size:16px;
}
#site-search .search-button {
  width:50px;
  height:32px;
  padding-left:50px;
  background-image:url('img/sys/resale/search-box-sprites.png');
}

#mini-search .search-wrap {
    background-image: url("img/sys/resale/mini-search-sprites.png");
    height: 30px;
    padding: 0 10px 0 15px;
}

#mini-search .search-textfield {
  width:170px;
  margin-top:6px;
  font-size:13px;
  vertical-align:top;
}

#mini-search .search-button {
  height:30px;
  width:45px;
  padding-left:45px;
  background-image:url('img/sys/resale/mini-search-sprites.png');
}

.search-wrap { 
  display:inline-block; 
  padding:0 15px;
  background: none left top no-repeat; 
  vertical-align:top;
  text-align:left;
}

.search-textfield { 
  background-color:#fff; 
  display:inline-block;
  margin:0;
  outline:none; 
  padding:0; 
  white-space:nowrap; 
  border:none;
  font-weight: bold;
}

.search-button { 
  border:none; 
  text-indent:-500px; 
  overflow:hidden; 
  background: none right top no-repeat;
  -webkit-appearance:none; /* ipad fix */ 
  -webkit-border-radius:0; /* ipad fix */ 
}
.search-button:hover,
.search-button:active,
.search-button:focus { background-position:right bottom; }

#site-nav { 
  position:absolute;
  bottom:0;
  left:0;
  height:35px; 
  white-space:nowrap
}
#site-nav > li { float:left; height:35px; margin-right:30px; }
#cat-options { left:0 }
#cat-options .top-caret{ right:auto; left:79px }
#cat-options > ul { padding:10px 0 10px 10px;}
#cat-options > ul > li { 
  padding:0; 
  margin:0; 
  width:150px;
  position:static;
}

#cat-options > ul > li ul li.normal-link a { color:#034678 }
#cat-options > ul > li ul li.normal-link a:hover,
#cat-options > ul > li ul li.normal-link a:active,
#cat-options > ul > li ul li.normal-link a:focus { color:#02113a; background-color:transparent; text-decoration:underline; }
#cat-options > ul > li > a {
  font-size:14px; 
  position:relative;
  white-space:normal;
  z-index:2;
}

.sub-col { 
  padding:0 15px 0 0;
  float:left;
  width:180px;
  white-space:normal !important
}
.sub-col b { padding:8px 10px; display:block }
#site-options { 
  position:absolute;
  right:0;
  bottom:0;
  height:35px; 
  list-theme-type:none; 
  white-space:nowrap; 
  padding:0; 
}
#site-options > li { float:left; margin-left:30px; height:35px; }
#site-options p:first-child { margin-top:0; }
#site-options p { margin:1em 0; }
#site-options .error { white-space:normal }
#site-options input.error { border-color:#f00 !important; color:#414141; }
#site-options .error a { color:#f00; text-decoration:none; }

/* isolated fancy buttons workaround */
#site-options .button, 
#site-options .button-secondary {
  cursor:pointer;
  display:inline-block;
  padding:3px 10px;
  min-width:18px;
  border-radius:4px;
  font-weight:bold;
  text-align:center;
  line-height:normal;
  text-decoration:none !important;
  color:#fff !important;
  font-size:12px;
  white-space:nowrap;
  border-width:1px !important;
  border-style:solid !important;
  background-image:url('img/sys/rebrand/gradient.png');
  background-position:center bottom;
  background-attachment:scroll;
  background-repeat:repeat-x;
  -webkit-appearance:none;
  vertical-align:bottom; /* use bottom if you are aligning it along with other buttons. Otherwise override this with baseline */
}
#site-options .button:hover,
#site-options .button-secondary:hover,
#site-options .button:active,
#site-options .button-secondary:active,
#site-options .button:focus,
#site-options .button-secondary:focus { background-image:url('img/sys/rebrand/gradient-hover.png'); background-position:center top; outline:0 none }

#site-options .button { background-color:#d00509;  }
#site-options .button-secondary { background-color:#737373; }

#site-options .button, 
#site-options .button:hover { border-color:#9f060c; }
#site-options .button-secondary, 
#site-options .button-secondary:hover {  border-color:#525252 }

#site-options input.button, 
#site-options input.button-secondary,
#site-options button.button, 
#site-options button.button-secondary { min-width:40px; }
#site-options .button img,
#site-options .button-secondary img {
  vertical-align:bottom; /* for IE */
  vertical-align:text-bottom; /* for other non-IE browsers  */
  max-height:16px;
  max-width:16px;
  margin-left:-2px;
}

/* LARGE */
#site-options .button-large { font-size:16px; line-height:115%; padding:5px 18px !important; background-image:url('img/sys/resale/large-gradient.png'); }
#site-options .button-large:hover,
#site-options .button-large:active,
#site-options .button-large:focus { background-image:url('img/sys/resale/large-gradient-hover.png'); outline:0 none }

/* DISABLED */
#site-options .button-disabled { opacity: 0.4; pointer-events:none; cursor:default;}

#location-button { background:url('img/sys/resale/header-icon-sprites.png') left top no-repeat; padding-left:17px; }
#location-button:hover,
#location-button:active,
#location-button:focus,
#location-button.on { background-position:left -29px }

#location-options { 
  right:-12px; 
  background-color:#fff;
  padding:20px;
  color:#414141;
  width:275px;
  white-space:normal;
}

#location-options label { font-size:12px; margin-bottom:5px; display:block }
#location-options input[type=text] { 
  width:180px; 
  border:1px solid #999; 
  height:21px;
  line-height:21px;
  font-size:14px;
  padding:4px 8px;
  vertical-align:top; 
  margin:0 10px 0 0; 
  color: #414141;
}

#location_eror_multiple {
    font-size: 11px;
    font-weight: normal;
}

#location-options input.button-large {
    margin-left: 3px !important;
}
#location-options input.button-large:focus {
    outline: none;
}
 
#location_eror_multiple_dropdown {
    margin: 10px 0; 
    display: block; 
    padding: 0; 
    width: 273px;
    height: 112px;
    border: 0;
}

#location_eror_multiple_dropdown .locDivide {
    font-size: 11px; 
    font-weight: bold; 
    margin: 0px; 
    padding: 0px 10px 0px 0px; 
    line-height: 28px;  
    color: #424242;     
    border-top: 1px solid #c9c9c7;
}
#location-options-list, 
#location-options-list li {
    padding:0; 
    margin:10px 0 0; 
    list-theme-type:none; 
}

#location-options-list li { 
    margin-right:15px;
    display:inline;
}

#location_multiple_dropdown a{
    color: #414141;
    padding: 8px 10px 8px 8px;
    font-size: 12px;
    display: block;
    line-height: 1;
    text-decoration: none;
}

#location_multiple_dropdown a:hover{
    background: #eee;
}

#account-options { background-color:#fff; right:-12px;}
#account-list-options { padding:15px 10px; margin:0; }
#account-options .bg-gradient { background:url('img/sys/resale/bg_account-container.png') 0 0 repeat-x; }
#account-options .padded-action { padding:20px; text-align:center }


#cart-button, 
#cart-balloon  { 
  background:url('img/sys/resale/header-icon-sprites.png') left -58px no-repeat; 
  display:inline-block
}

#cart-button { 
  margin:0;
  padding:0 0 0 32px; 
  white-space:nowrap; 
  height:20px; 
  line-height:20px; 
  color:#d02600 !important;
}
#cart-button:hover,
#cart-button:active,
#cart-button:focus,
#cart-button.on { background-position:left -88px; }

#cart-balloon { 
  padding-right:8px; 
  height:20px; 
  line-height:20px; 
  display:block; 
  vertical-align:top; 
  background-position:right bottom;
}

.nav-theme {
  position:relative; 
  color:#ccc; 
  font-weight:bold; 
  font-size:14px; 
  line-height:20px; 
  text-decoration:none; 
  background-color:transparent; 
  border:0 none; 
  cursor:pointer;
  overflow:visible;
  padding: 0;
}
.nav-theme:hover,
.nav-theme:active,
.nav-theme:focus,
.nav-theme.on { color:#fff; text-decoration:none; outline: none;}

#site-header .dd { background:url('img/sys/resale/dd-icon.png') right bottom no-repeat; padding-right:17px; }

.new-badge { position:absolute; top:-8px; right:-25px; }
.coming-soon-badge { position:absolute; bottom:-6px; left:30px; }


/* Activate fixed header only if the browser width is larger than 1024px. Also expand the whole site-header to 1000px */

@media only screen and (min-width: 1024px) {
  #site-header-anchor.on-scroll { position:fixed;top:0; }
  #site-header .frame { width:1000px }
  #site-nav-anchor-secondary { margin-right:0 }
} 
/* ie fix */
#site-header-anchor.on-scroll.require_ie_fix.ie_fix{ position:fixed;top:0; }
#site-header .frame.require_ie_fix.ie_fix{ width:1000px }
#site-nav-anchor-secondary.require_ie_fix.ie_fix{ margin-right:0 }

.placeholder {
    color: #999 !important;
    font-weight: normal !important;
}


