/******************************************************************************/
/* NOTE: This file is being integrated into HyundaiUSA.com, Edit with Caution */
/******************************************************************************/

/* MyHyundai Utils: Notification */
.myhyundai-nWrapper {
    position: fixed;
        top: 0px;
    width: 100%;
    z-index: 15000;
    display: none;
    border-bottom: 1px solid #666;
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #dddddd 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.myhyundai-nContainer {
    padding: 10px;
    margin: auto;
    position: relative;
}

.myhyundai-nDefaultClose {
    position: absolute;
        top: 8px;
        right: 8px;
    height: 16px;
    width: 16px;
    background: url('themes/base/images/ui-icons_888888_256x240.png') -32px -192px;
}

.myhyundai-nDefaultClose a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
}

.myhyundai-nContent {
    width: 100%;
    overflow: auto;
    text-align: left;
    font-family: 'Arial',Sans-serif;
    font-size: 12px;
}

.myhyundai-nContent .timeoutPrompt h3,
.myhyundai-nContent .timeoutPrompt p {
    float: left;
    padding-right: 20px;
}

.myhyundai-nContent .timeoutPrompt p {
    padding-top: 7px;
}

.myhyundai-nContent .timeoutPrompt .logoutActions {
    float: right;
    padding-right: 20px;
}