/*login page starts */ 
body { margin:0; text-align:center; background:#fff; font:100%/1.5 Verdana, Geneva, sans-serif; color:#333; overflow:auto;}
a, a:link, a:visited { text-decoration:none; color:#0094d7; }
a:hover { color:#ff7200; }
img { border:0; }
#pageWrap { height:1024px; min-width:48.4375em; padding-top:0px; position:relative; background:url('../../../../design/cdls10/img/ui/pageBg.png') repeat-x #fff 0 -131px;}
#pageBody { margin:0 auto; width:100%; height:1px; position:absolute; top:0; text-align:left; z-index:1000;}
#pageAccBody {margin:0 auto; text-align:left; width:920px;}
#loginWrap {/*width:850px;*/ max-width:53.125em; height:1px; margin:0 auto; z-index:10;}

#yad {display:none;}
/*#yadFrame {height:1024px; width:1440px; margin:0 auto; position: absolute; left:0; z-index:-1;}*/
#yadFrame {display:none; visibility: hidden; height:1024px; width:1440px; margin:0 auto; position: absolute; z-index:-1;}

#YadWrap {max-width:1440px; height:1024px; position:relative; top:0; z-index:1; overflow:hidden; margin:0 auto;}
#yad {width:auto; max-width:1440px; margin:0 auto;}

html #richad {width:auto;}


ul {margin:0; padding:0; list-style:none;}
.clrAll {clear:both;}

/* masthead */
#header {border-bottom:1px solid #bbb; height:84px; width:100%; min-width:48.4375em; overflow:hidden;}
#masthead {height:50px; position:relative; z-index:999; text-align:left; margin:0 auto; max-width:60em;}

#GlobalNav{ background:url(../../../../design/cdls20/img/ui/attGlobalNavHeader-bg.gif) repeat-x 0 0; height:34px;}
#GlobalNav .globalNavWrap{ max-width:60.625em; height:35px; margin:0 auto; background:url(../../../../design/cdls20/img/ui/attGlobalNavHeader-bg.gif) repeat-x 0 0; position:relative;}
#GlobalNav ul{ margin:0; padding:7px 0 0; list-style:none; font-size:0.6875em;} 
#GlobalNav ul li{ float:left;} 
#GlobalNav ul li.selected { background:#fff; border-radius:5px 5px 0 0; position:relative;}
#GlobalNav ul li.selected span{ color:#fe7307;}
#GlobalNav ul li a, #GlobalNav ul li a:link, #GlobalNav ul li a:visited { display:block; padding:0 14px; margin:8px 0; color:#fff; border-right:1px solid #888;}
#GlobalNav ul li a:hover { text-decoration:underline;}
#GlobalNav ul li.selected a:hover span { text-decoration:none;}
#GlobalNav ul li.selected a{ color:#515151; border-right:0;}
#GlobalNav ul li.last a {border-right:0;}
#GlobalNav .gnMoreLinks {position:absolute; right:0; top:0;}



#attLogoHead {position:absolute; top:5px; left:13px; display:block; height:40px; width:89px; text-indent:-999em; text-decoration:none;background:url(../../../../design/CDLS10/img/logos/attLogo_89x40.png) no-repeat center 0; z-index:999;}
#signIn {position:absolute; top:20px; right:6.25%; text-align:right; z-index:1; font-family:Arial, Helvetica, sans-serif;}
#signIn ul {margin:0; padding:0; list-style:none; font-size:11px;}
#signIn ul li {float:left; padding:0 10px; margin:0 5px; border-right:1px #e2e2e2 solid; position:relative;}
#signIn ul li a, #signIn ul li a:link, #signIn ul li a:visited {color:#0094D7;}
#signIn ul li a:hover {color:#ff7200;}
#signIn ul li.last {border:none; background:url('../../../../img/sso/slid/support-icon.jpg') no-repeat 0 -1px; padding:0 10px 5px 20px;} 


#promo {width:525px; height:450px; margin-bottom:20px; position: absolute; top:0; left:0; display:none;}

#LoginForm {padding:10px 15px; width:225px; margin:20px 15px 20px 10px; border:1px solid #ccc; float:right; background:#f9f9f9; position:relative; z-index:10; -o-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -o-box-shadow:0 0 5px #bbb; -moz-box-shadow:0 0 5px #bbb; -webkit-box-shadow:0 0 5px #bbb; box-shadow:0 0 5px #bbb;}

/*
#LoginForm {padding:10px 15px; width:225px; margin:20px 15px 20px 10px; border:1px solid #ccc; float:right; background:#f9f9f9; position:relative; z-index:1; -o-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -o-box-shadow:0 0 5px #bbb; -moz-box-shadow:0 0 5px #bbb; -webkit-box-shadow:0 0 5px #bbb; box-shadow:0 0 5px #bbb;}
*/
#LoginForm h1 {font:normal 12px Verdana, Geneva, sans-serif;}
#LoginForm h1 strong {font-size:14px; display:block; margin-top:5px;}
#LoginForm p {font-size:11px;}

#LoginForm ul.uLogin li {position:relative; padding:10px 0;}
#LoginForm ul.uLogin li label {font:bold 11px Verdana, Geneva, sans-serif; display:block;}
#LoginForm ul.uLogin li input.slidTxtbox {border:1px solid #ccc; padding:2px 3px 3px; width:195px; margin-top:2px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
#LoginForm ul.uLogin li input.slidTxtbox:focus, #LoginForm ul.uLogin li input.slidTxtbox:active {border:1px solid #ff7200;}

#LoginForm li#uPwd p {margin:0;}

#LoginForm li#uRM {border:1px dotted #ccc; border-left:0; border-right:0; }
#LoginForm li#uRM p {margin:0; padding-left:20px;}
#LoginForm li#uRM p label {position:relative; top:-1px; display:inline; cursor:pointer;}
#LoginForm li#uRM p input {margin:0 6px 0 0px; position:absolute; left:0; top:10px;}

#LoginForm li#uBtn {text-align:right;}
#LoginForm ul.uLogin li input.loginBtn {cursor:pointer;}

#LoginForm li#uSU {border-top: 1px solid #ddd; margin-bottom:0; padding-bottom:0;}
#LoginForm li#uSU p.signupLnk {text-align:left;}

#LoginForm ul.uLogin li input.loginBtn, #LoginForm ul.uLogin li a.loginBtn {background:url('../../../../img/sso/slid/btnSumbit.png') repeat -5px 0; width:72px; height:22px; border:0; position:relative; top:0; left:3px; color:#fff; padding-bottom:3px; cursor:pointer; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#LoginForm ul.uLogin li a.loginBtn {display:block; height:18px; padding:2px 10px;}
#LoginForm ul.uLogin li input.loginBtn:hover, #LoginForm ul.uLogin li a.loginBtn:hover {background-position:-5px bottom;}

#LoginForm .quesIcon {width:18px; height:18px; position:absolute; background:url('../../../../img/sso/slid/ques.png') no-repeat 0 0; z-index:20; cursor:pointer;}
#LoginForm #ques1.quesIcon {top:26px; left:210px; z-index:25;}
#LoginForm #ques2.quesIcon { margin-left:5px; z-index:15;}
#LoginForm #ques3.quesIcon {top:32px; left:336px;}

.qAns {position:absolute; top:0; right:100%; z-index:25; display:none; cursor:default;}
#qAns1.qAns {}
#qAns2.qAns {top:-150px;}

#loginWrap #LoginForm .overContent { font:normal 11px Verdana, Geneva, sans-serif; padding:10px 20px; color:#666; z-index:30; background:#fff; border:1px solid #ccc; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -o-box-shadow:0px 0px 5px #bbb; -webkit-box-shadow:0px 0px 5px #bbb; box-shadow:0px 0px 5px #bbb; }
#loginWrap #LoginForm .overContent h3 {margin:10px 0; padding:0; font:bold 16px Verdana, Geneva, sans-serif; color:#0094D7; }
#loginWrap #LoginForm .overContent p {margin:10px 0; padding:0; line-height:1.25}

/* Error Box */
#err {padding-top:10px; margin:0 auto 10px; color:#f00; background:#fff; border:2px solid #ff7200; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#errContainer {position:relative; padding:5px 10px 10px;}
#errContainer blockquote {background:url('../../../../img/sso/slid/alert-icon.png') no-repeat 0 0; margin:0; padding:0 0 5px 30px;}
#errContainer ul.errMsg {background:url('../../../../img/sso/slid/alert-icon.png') no-repeat 0 0; margin:0; padding:0 0 5px 30px; list-style:none; font:11px/16px Verdana, Geneva, sans-serif}
/* Error Box */

#overLayCheck {display:none;}

/*Modal Overlay on Submit*/
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:290px; width:630px; color:#333; background-color:#fff; border:1px solid #ccc; padding:20px 25px 0; text-align:left; -moz-box-shadow:0 0 5px #333; -o-box-shadow:0 0 5px #333; -webkit-box-shadow:0 0 5px #333; box-shadow:0 0 5px #333; -moz-border-radius:10px; -o-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
#simplemodal-container .simplemodal-data {}
#simplemodal-container a.modalCloseImg {background:url(https://home.secureapp.att.net/img/sso/slid/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {margin:0; padding:0; font:bold 16px Verdana, Geneva, sans-serif; color:#0094D7;}
#simplemodal-container p {margin:1em 0; font-size:12px;}
#simplemodal-container #overLayCheck ul.btnSignIn {margin:0; padding:0; list-style:none;}
#simplemodal-container #overLayCheck ul.btnSignIn li {float:left; margin-right:10px; padding:0;}
#simplemodal-container #overLayCheck ul.btnSignIn li button.btnLong {margin:0; padding:5px; color:#fff; border:none; /*background-color:transparent;*/ background-color:#067ab4; cursor:pointer; overflow:visible; outline:none; -moz-outline:none; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#simplemodal-container #overLayCheck ul.btnSignIn li button.btnLong:hover { background-color:#ff7200;} 

iframe#headerFrame {border-bottom:1px solid #ccc;}
iframe#footerFrame {display:none;}

#footer {text-align:left; background:url('../../../../design/CDLS10/img/ui/footerBg.png') no-repeat center top; width:100%;  min-width:70.45454545454545em; font-size:11px; overflow:hidden;}
#footer .footerWrap {max-width:87.27272727272727em; margin:0 auto; padding:10px;}
/*#footer {height:160px; background:url('/design/CDLS10/img/ui/footerBg.png') no-repeat center top; width:950px; margin:0 auto; clear:both; position:relative; color:#666;}*/
#footer ul {margin:0; padding:0; list-style:none;}
#footer ul li { display:inline; border-right:1px solid #ccc;}
#footer ul li.last {border:0;}
#footer ul li a {padding:0 5px;}
#footer ul li.first a {padding-left:0;}

#footer p {clear:both; margin:10px 0;}

/* OLD CSS */
.iFramesty { border:none; background:#fff; overflow:hidden; }

/* Account selection page starts */
#pageAccBody #loginMod #loginContainer {padding:0 20px 15px; height:auto;}
#pageAccBody #loginMod #loginContainer ul li {padding:3px 0; position:relative;}
#pageAccBody #loginMod #loginContainer ul li label {cursor:pointer;}

#pageAccBody #loginMod #loginContainer input#cont {background:url('../../../../img/sso/slid/acctSelBtn.png') no-repeat 0 0; border:0; width:87px; height:22px; /*padding:1px 0 5px;*/}
/*
#yadFrame {display:none;}

a#hotSpot {display:block; width:450px; height:450px; position:absolute; z-index:999; top:50px; right:0; border:5px dashed #fff;}
*/


/*
@media (orientation: portrait) and (min-width:768px) { 
	#masthead {width:100%;}
	#promo {width:450px;}
	#hotSpot {position: absolute; left: 32px; top: 50px;	}
	#pageWrap {width:100%;}
	#pageBody {width:100%;}
	#loginWrap {width:100%;}
	#LoginForm {}
}
*/

/* Target screen widths smaller than 500px */
@media screen and (max-width:500px){
/*login page starts */ 
body {width:auto; -webkit-text-size-adjust:none; height:650px; }
#header, #footer {min-width:100%;}
#GlobalNav {display:none;}
#pageBody {width:auto; position:relative; height:auto;}

#YadWrap {display:none;}
#yad {max-width:100%;}
#loginWrap {width:auto; height:auto; max-width:100%;}

#header iframe, #footer iframe {display:none; }
#header {height:50px;}
#masthead {width:100%;}
#signIn {right:10px; }

#pageWrap {height:auto; width:100%; min-width:100%;}
#promo {display:none;}

#loginWrap { width:100%; min-width:100%; max-width:100%; padding-top:20px;}
#LoginForm { margin:20px auto 175px; float:none;}

.qAns {position:relative; right:auto;}
#qAns1.qAns {position:relative; top:auto; right:auto;}
#qAns2.qAns {position:relative; top:auto; right:auto;}

.overContent { font:normal 10px Verdana, Geneva, sans-serif; padding:10px; color:#666; z-index:30; background:#fff; border:1px solid #ccc; border-radius:5px; -o-box-shadow:0px 0px 5px #bbb; -webkit-box-shadow:0px 0px 5px #bbb; box-shadow:0px 0px 5px #bbb; text-align:justify; }
.overContent h3 {margin:0; padding:0; font:bold 12px Verdana, Geneva, sans-serif; color:#0094D7; }
.overContent p {margin:10px 0; padding:0; line-height:1.25;}

/*Modal Overlay on Submit*/
#simplemodal-container {height:90%; width:275px; padding:10px 10px 0;}
#simplemodal-container .overContent {border:0; padding:0; font-size:1em; text-align:justify; -webkit-box-shadow:none; box-shadow:none;}
#simplemodal-container .overContent h3 {margin:0; padding:0; font:bold 12px Verdana, Geneva, sans-serif; color:#0094D7; }
#simplemodal-container .overContent p {margin:10px 0; padding:0; line-height:1.25;}
#simplemodal-container a.modalCloseImg {background:url(https://home.secureapp.att.net/img/sso/slid/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {font:bold 12px Verdana, Geneva, sans-serif; text-align:left;}
#simplemodal-container #overLayCheck ul.btnSignIn {margin:0 auto 0 50px;}
#simplemodal-container #overLayCheck ul.btnSignIn li {float:none; margin:0 auto 10px;}
#simplemodal-container #overLayCheck ul.btnSignIn li button.btnLong {width:175px; height:38px;}

iframe#headerFrame {border-bottom:1px solid #ccc;}
iframe#footerFrame {}

/* Account selection page starts */
#pageAccBody #loginMod #loginContainer {padding:0 20px 15px; height:auto;}
#pageAccBody #loginMod #loginContainer ul li {padding:3px 0; position:relative;}
#pageAccBody #loginMod #loginContainer ul li label {cursor:pointer;}
#pageAccBody #loginMod #loginContainer input#cont {background:url('../../../../img/sso/slid/acctSelBtn.png') no-repeat 0 0; border:0; width:87px; height:22px;}	
}
