/* base template overrides */
.bd .container {
  padding-top: 20px;
  padding-bottom: 100px;
  color: #333; }

/* column template level styles */
.content .main .examples_img {
  margin: 0 0 20px 20px; }

.content .main .main-content, .content .cta #quotes {
  font-size: 0.75em; }

.main-content ul {
  margin-top: 15px; }

.main-content ol li {
  padding-left: 0px;
  margin-bottom: 15px;
  list-style-type: decimal; }

.main-content ul li {
  margin-bottom: 15px;
  padding-left: 24px;
  background: url("../assets/pencilCheck_bullet.gif") top left no-repeat; }

.main-content ul.page li {
  margin-bottom: 10px;
  background: url("../assets/list_icon_page.png") top left no-repeat; }

.main-content ul.page li.pdf {
  background: url("../assets/list_icon_pdf.png") top left no-repeat; }

ol.upper-latin li {
  list-style-type: upper-latin; }

.pp ul li {
  background: none;
  list-style-type: disc;
  padding-left: 0;
  margin-left: 20px; }

.pp ul li ul li {
  list-style-type: circle; }

.pp ol {
  margin-left: 25px; }

.pp ol li.item {
  font-size: 16px;
  font-weight: bold; }

.pp ol li.item div {
  font-size: 12px;
  font-weight: normal; }

.pp .d-box {
  background-color: #E7F5F3;
  padding: 10px;
  font-size: 0.75em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* anonweb general styles */
h1.title {
  font-size: 1.875em;
  color: #333;
  font-weight: bold;
  padding: 0;
  margin-bottom: 20px; }

h1.title .vrn-frm {
  font-size: 12px;
  float: right; }

.content h2 {
  color: #88A634;
  font-weight: bold;
  font-size: 18px;
  padding: 0; }

.content p {
  font-size: 12px;
  line-height: 18px; }

.content .subtitle {
  font-size: 16px;
  line-height: 18px; }

/* shadows */
.bend-shadow, .bottom-shadow {
  position: relative; }

.bottom-shadow:before, .bottom-shadow:after, .bend-shadow:before, .bend-shadow:after {
  content: "";
  position: absolute;
  z-index: -1; }

.bottom-shadow:before, .bottom-shadow:after {
  bottom: 12px;
  left: 50%;
  width: 97%;
  margin: 0 0 0 -48.5%;
  height: 10px;
  -webkit-box-shadow: 0 10px 12px #666;
  -moz-box-shadow: 0 10px 12px #666;
  box-shadow: 0 10px 12px #666; }

.bend-shadow:before,
.bend-shadow:after {
  bottom: 10px;
  height: 20px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px; }

.bend-shadow:before {
  -webkit-box-shadow: 0 12px 2px #bbb;
  -moz-box-shadow: 0 12px 2px #bbb;
  box-shadow: 0 12px 2px #bbb;
  width: 90%; }

.bend-shadow-r:before {
  left: 2px; }

.bend-shadow-l:before {
  right: 2px; }

.bend-shadow-l:after, .bend-shadow-r:after, .bend-shadow-b:before, .bend-shadow-b:after {
  -webkit-box-shadow: 0 9px 3px #bbb;
  -moz-box-shadow: 0 9px 3px #bbb;
  box-shadow: 0 9px 3px #bbb;
  width: 170px; }

.bend-shadow-l:after, .bend-shadow-b:before {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
  left: 6px; }

.bend-shadow-r:after, .bend-shadow-b:after {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 6px; }

/* float helpers */
.fLt {
  float: left; }

.fRt {
  float: right; }

/* layout helpers */
.sm-block {
  display: block; }

.sm-hide {
  display: none; }

.sm-inline {
  display: inline; }

.sm-absolute {
  position: absolute; }

.sm-relative {
  position: relative; }

.sm-top-50 {
  top: 50%; }

.sm-left-50 {
  left: 50%; }

.sm-full-width {
  width: 100%; }

.sm-full-height {
  height: 100%; }

.full-height-nav {
  height: 400px; }

.sm-margin-center {
  margin-left: auto;
  margin-right: auto; }

.sm-text-center {
  text-align: center; }

.sm-vert-center-container {
  vertical-align: middle;
  display: table; }

.sm-vert-center-container .sm-vert-center {
  display: table-cell; }

.sm-sprite-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center; }

/* FIXME: to grids.css */
.grid {
  white-space: nowrap;
  position: relative; }

.col {
  white-space: normal; }

.grid-u-10 {
  width: 10%; }

.grid-u-17 {
  width: 17%; }

.grid-u-20 {
  width: 20%; }

.grid-u-21 {
  width: 21%; }

.grid-u-23 {
  width: 23%; }

.grid-u-25 {
  width: 25%; }

.grid-u-29 {
  width: 29%; }

.grid-u-48 {
  width: 48%; }

.grid-u-50 {
  width: 50%; }

.grid-u-52 {
  width: 52%; }

.grid-u-71 {
  width: 71%; }

.grid-u-75 {
  width: 75%; }

.grid-u-77 {
  width: 77%; }

.grid-u-79 {
  width: 79%; }

.grid-u-83 {
  width: 83%; }

.grid-u-80 {
  width: 80%; }

.grid-u-90 {
  width: 90%; }

.grid-u-100 {
  width: 100%; }

.corner-gray-top-left {
  background-image: url(../assets/corner-gray-top-left.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 18px; }

/* spacers */
.spacer-ptn, .spacer-pvn, .spacer-pan {
  padding-top: 0px !important; }

.spacer-pts, .spacer-pvs, .spacer-pas {
  padding-top: 5px !important; }

.spacer-ptm, .spacer-pvm, .spacer-pam {
  padding-top: 10px !important; }

.spacer-ptl, .spacer-pvl, .spacer-pal {
  padding-top: 15px !important; }

.spacer-ptx, .spacer-pvx, .spacer-pax {
  padding-top: 20px !important; }

.spacer-prn, .spacer-phn, .spacer-pan {
  padding-right: 0px !important; }

.spacer-prs, .spacer-phs, .spacer-pas {
  padding-right: 5px !important; }

.spacer-prm, .spacer-phm, .spacer-pam {
  padding-right: 10px !important; }

.spacer-prl, .spacer-phl, .spacer-pal {
  padding-right: 15px !important; }

.spacer-prx, .spacer-phx, .spacer-pax {
  padding-right: 20px !important; }

.spacer-pbn, .spacer-pvn, .spacer-pan {
  padding-bottom: 0px !important; }

.spacer-pbs, .spacer-pvs, .spacer-pas {
  padding-bottom: 5px !important; }

.spacer-pbm, .spacer-pvm, .spacer-pam {
  padding-bottom: 10px !important; }

.spacer-pbl, .spacer-pvl, .spacer-pal {
  padding-bottom: 15px !important; }

.spacer-pbx, .spacer-pvx, .spacer-pax {
  padding-bottom: 20px !important; }

.spacer-pln, .spacer-phn, .spacer-pan {
  padding-left: 0px !important; }

.spacer-pls, .spacer-phs, .spacer-pas {
  padding-left: 5px !important; }

.spacer-plm, .spacer-phm, .spacer-pam {
  padding-left: 10px !important; }

.spacer-pll, .spacer-phl, .spacer-pal {
  padding-left: 15px !important; }

.spacer-plx, .spacer-phx, .spacer-pax {
  padding-left: 20px !important; }

.spacer-mtn, .spacer-mvn, .spacer-man {
  margin-top: 0px !important; }

.spacer-mts, .spacer-mvs, .spacer-mas {
  margin-top: 5px !important; }

.spacer-mtm, .spacer-mvm, .spacer-mam {
  margin-top: 10px !important; }

.spacer-mtl, .spacer-mvl, .spacer-mal {
  margin-top: 15px !important; }

.spacer-mtx, .spacer-mvx, .spacer-max {
  margin-top: 20px !important; }

.spacer-mrn, .spacer-mhn, .spacer-man {
  margin-right: 0px !important; }

.spacer-mrs, .spacer-mhs, .spacer-mas {
  margin-right: 5px !important; }

.spacer-mrm, .spacer-mhm, .spacer-mam {
  margin-right: 10px !important; }

.spacer-mrl, .spacer-mhl, .spacer-mal {
  margin-right: 15px !important; }

.spacer-mrx, .spacer-mhx, .spacer-max {
  margin-right: 20px !important; }

.spacer-mbn, .spacer-mvn, .spacer-man {
  margin-bottom: 0px !important; }

.spacer-mbs, .spacer-mvs, .spacer-mas {
  margin-bottom: 5px !important; }

.spacer-mbm, .spacer-mvm, .spacer-mam {
  margin-bottom: 10px !important; }

.spacer-mbl, .spacer-mvl, .spacer-mal {
  margin-bottom: 15px !important; }

.spacer-mbx, .spacer-mvx, .spacer-max {
  margin-bottom: 20px !important; }

.spacer-mln, .spacer-mhn, .spacer-man {
  margin-left: 0px !important; }

.spacer-mls, .spacer-mhs, .spacer-mas {
  margin-left: 5px !important; }

.spacer-mlm, .spacer-mhm, .spacer-mam {
  margin-left: 10px !important; }

.spacer-mll, .spacer-mhl, .spacer-mal {
  margin-left: 15px !important; }

.spacer-mlx, .spacer-mhx, .spacer-max {
  margin-left: 20px !important; }

.spacer-pam {
  padding: 10px !important; }

/*  Themes
*/
/* border themes */
.sm-bord-theme-a {
  border-style: dotted;
  border-color: #CCC;
  border-width: 0; }

.sm-bord-theme-b {
  border-style: solid;
  border-color: #CCC;
  border-width: 0; }

.sm-bord-theme-c {
  border-style: solid;
  border-color: #D3D5CC;
  border-width: 0; }

.sm-bord-theme-d {
  border-style: solid;
  border-color: #B3B3B3;
  border-width: 0; }

/* namespace-bord-side-size
  
   sides
   a - all
   b - bottom
   t - top
   l - left
   r - right
   h - horizontal
   v - vertical
  
   size -
   s - small
   m - medium
*/
.sm-bord-a-s,
.sm-bord-b-s,
.sm-bord-v-s {
  border-bottom-width: 1px; }

.sm-bord-a-s,
.sm-bord-t-s,
.sm-bord-v-s {
  border-top-width: 1px; }

.sm-bord-a-s,
.sm-bord-l-s,
.sm-bord-h-s {
  border-left-width: 1px; }

.sm-bord-a-s,
.sm-bord-r-s,
.sm-bord-h-s {
  border-right-width: 1px; }

.sm-bord-a-m,
.sm-bord-b-m,
.sm-bord-v-m {
  border-bottom-width: 2px; }

.sm-bord-a-m,
.sm-bord-t-m,
.sm-bord-v-m {
  border-top-width: 2px; }

.sm-bord-a-m,
.sm-bord-l-m,
.sm-bord-h-m {
  border-left-width: 2px; }

.sm-bord-a-m,
.sm-bord-r-m,
.sm-bord-h-m {
  border-right-width: 2px; }

/* general helpers */
img.valign-txt-top {
  vertical-align: text-top; }

.sm-note {
  color: #666666;
  font-size: 11px; }

.sm-bold {
  font-weight: bold; }

.sm-font-size-p {
  font-size: 12px; }

.sm-content-a {
  border-top: 1px solid #8DCACB;
  background: #88C8CA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#88c8ca), to(#72a7ab));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #88c8ca, #72a7ab);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #88c8ca, #72a7ab);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #88c8ca, #72a7ab);
  /* IE10 */
  background-image: -o-linear-gradient(top, #88c8ca, #72a7ab);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #88c8ca, #72a7ab);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88C8CA', endColorstr='#72A7AB');
  /* for IE < 10 */ }

.sm-header-a {
  background: none repeat scroll 0 0 #609C9D; }

.sm-title-a {
  color: #fff;
  font-size: 30px;
  font-weight: bold; }

.content .sm-title-a {
  color: #fff;
  font-size: 30px;
  font-weight: bold; }

.smartling-ja .content .sm-title-a {
  font-size: 18px; }

.smartling-fr .content .sm-title-a, .smartling-de .content .sm-title-a {
  font-size: 26px; }

.smartling-ru .content .sm-title-a {
  font-size: 28px; }

.sm-header-b {
  background-color: #EAEAE8; }

.sm-content-b {
  border-top: 1px solid #fff;
  background-color: #EAEAE8; }

.content .sm-title-b {
  color: #88A634;
  font-size: 14px; }

.sm-content-c {
  background-color: #EAEAE8; }

.sm-content-d {
  background-color: #5B5A4B;
  color: #ccc; }

.sm-content-e {
  background: #C4C5BF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfda), to(#c4c5bf));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #dfdfda, #c4c5bf);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #dfdfda, #c4c5bf);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #dfdfda, #c4c5bf);
  /* IE10 */
  background-image: -o-linear-gradient(top, #dfdfda, #c4c5bf);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #dfdfda, #c4c5bf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDA', endColorstr='#C4C5BF');
  /* for IE < 10 */ }

.sm-content-f {
  background-color: #E7EBC0; }

ol.sm-ol-a li {
  padding-left: 24px;
  list-style-type: none;
  background-color: transparent;
  background-repeat: no-repeat; }

ol.sm-ol-a li.one {
  background-image: url("../assets/one_bullet.png"); }

ol.sm-ol-a li.two {
  background-image: url("../assets/two_bullet.png"); }

ol.sm-ol-a li.three {
  background-image: url("../assets/three_bullet.png"); }

ol.sm-ol-a li.four {
  background-image: url("../assets/four_bullet.png");
  background-position: -1px -1px; }

ol.sm-ol-a li.five {
  background-image: url("../assets/five_bullet.png");
  background-position: -1px -1px; }

ul.sm-ul-a li {
  position: relative;
  margin: 0 0 0 8px;
  line-height: 21px; }

ul.sm-ul-a li:before {
  content: "\2022";
  position: absolute;
  font-size: 10px;
  left: -7px;
  top: 1px; }

.ie6 ul.sm-ul-a li, .ie7 ul.sm-ul-a li {
  list-style-position: inside;
  list-style-type: disc;
  margin: 0; }

ul.sm-ul-b li {
  position: relative;
  float: left;
  margin: 0 0 0 20px; }

ul.sm-ul-b li:before {
  content: "\2022";
  color: #999999;
  font-size: 10px;
  left: -11px;
  position: absolute;
  top: 4px; }

ul.sm-ul-b li.sm-ul-li-1st {
  margin: 0;
  *margin: 0 0 0 20px; }

ul.sm-ul-b li.sm-ul-li-1st:before {
  content: ""; }

.hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden; }

.hr-dark {
  border-top: 1px solid #DEDEDE; }

.hr-mid {
  border-top: 1px solid #E7E7E7; }

.hr-light {
  border-top: 1px solid #F1F1F1; }

.hr-dotted {
  border-style: dotted; }

/* quote theme */
.quote-body {
  font-size: 14px;
  font-family: Georgia,Times,"Times New Roman",serif;
  line-height: 20px;
  font-style: italic; }

.quote-footer {
  padding-top: 6px;
  font-weight: bold; }

/* signup module styles */
#signup {
  color: #fff;
  width: 225px;
  margin-bottom: 30px;
  background: transparent url("../assets/cta_bg.jpg");
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 20px 10px;
  text-align: center; }
  #signup h2 {
    font: bold 24px "Arial", sans-serif;
    text-align: center;
    color: #FFF;
    margin-bottom: 15px; }
  #signup p {
    width: 160px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0 10px 0; }
  #signup .btn {
    white-space: normal;
    word-wrap: normal;
    max-width: 125px; }
  #signup .grd h3 {
    color: #FFF; }
  #signup .grd p {
    font-size: 0.75em;
    line-height: 15px; }
  #signup .grd a.btn {
    color: #333;
    font-weight: bold;
    font-size: 0.875em;
    padding: 8px 15px; }

#seo-signup .grd a.btn {
  color: #333;
  font-weight: bold;
  font-size: 0.875em;
  padding: 8px 15px; }

/* quotes module styles */
#quotes {
  *width: 98%; }

/* side nav styles */
.nav-item {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 8px 12px 16px;
  font-weight: bold;
  color: #00898B; }

.nav-item:hover {
  background-color: #F3F2EF;
  text-decoration: none; }

.nav-item-child {
  font-size: 12px;
  padding: 10px 8px 10px 24px;
  background-color: #DFE0D8;
  font-weight: normal; }

.nav-item-parent {
  background-image: url("../assets/sm_gry_rt.png");
  background-repeat: no-repeat;
  background-position: 5px 16px; }

.nav-item-on, .nav-item-on:visited {
  background-color: #DFE0D8;
  color: #333333; }

.nav-item-on:hover {
  background-color: #DFE0D8; }

.nav-item-parent-on {
  background-image: url("../assets/sm_blck_dwn.gif");
  background-position: 5px 18px; }

/* icons */
.fol_icon {
  background: url("../assets/social-icons.png") no-repeat scroll 0 0 transparent;
  height: 54px;
  width: 37px;
  border: none;
  display: block; }

.fol_twitter {
  background-position: -44px 0; }

.fol_fb {
  background-position: 0 0; }

.fol_blog {
  background-position: -132px 0; }

.fol_linked_in {
  background-position: -88px 0; }

.navwrap2 .social a#fol_icon_tw img {
  background-position: -44px 0; }

/* partners icons */
.partner-logo-book-fresh {
  background-image: url(../assets/partners/bookfresh.png);
  width: 158px;
  height: 32px; }

.partner-logo-campaign-monitor {
  background-image: url(../assets/partners/campaignmonitor.png);
  width: 153px;
  height: 20px; }

.partner-logo-click-tools {
  background-image: url(../assets/partners/clicktools.png);
  width: 138px;
  height: 40px; }

.partner-logo-eventbrite {
  background-image: url(../assets/partners/eventbrite.png);
  width: 101px;
  height: 53px; }

.partner-logo-evite {
  background-image: url(../assets/partners/evite.png);
  width: 71px;
  height: 44px; }

.partner-logo-facebook {
  background-image: url(../assets/partners/facebook.png);
  width: 123px;
  height: 41px; }

.partner-logo-fresh-books {
  background-image: url(../assets/partners/freshbooks.png);
  width: 124px;
  height: 60px; }

.partner-logo-google {
  background-image: url(../assets/partners/google-apps-marketplace.png);
  width: 146px;
  height: 17px; }

.partner-logo-linkedin {
  background-image: url(../assets/partners/linkedin.png);
  width: 138px;
  height: 36px; }

.partner-logo-mail-chimp {
  background-image: url(../assets/partners/mailchimp.png);
  width: 150px;
  height: 38px; }

.partner-logo-odesk {
  background-image: url(../assets/partners/odesk.png);
  width: 122px;
  height: 48px; }

.partner-logo-usamp {
  background-image: url(../assets/partners/usamp.png);
  width: 140px;
  height: 44px; }

.partner-logo-zendesk {
  background-image: url(../assets/partners/zendesk.png);
  width: 141px;
  height: 33px; }

.features {
  padding: 2px 0 0 60px;
  height: 50px;
  margin-top: 20px;
  background: url("../assets/icons-50x50.png") no-repeat; }

.features#templates {
  background-position: 0 -1920px; }

.features#download {
  background-position: 0 -2040px; }

.features#customization {
  background-position: 0 -2160px; }

.features#collection {
  background-position: 0 -2280px; }

.features#create {
  background-position: 0 -2400px; }

.features#analysis {
  background-position: 0 -1800px; }

.features#politics {
  background: url("../assets/icon_politics.jpg") top left no-repeat; }

.features#conference {
  background: url("../assets/icon_conference.gif") top left no-repeat; }

.features#education {
  background: url("../assets/icon_education.gif") top left no-repeat; }

.features#members {
  background: url("../assets/icon_members.gif") top left no-repeat; }

.features#volunteer {
  background: url("../assets/icon_volunteer.gif") top left no-repeat; }

.map-pin {
  background-image: url("../assets/map-pins.png");
  height: 62px;
  width: 38px; }

.map-pin-a {
  background-position: 0 0; }

.map-pin-b {
  background-position: 0 -469px; }

.map-pin-c {
  background-position: 0 -938px; }

.map-pin-d {
  background-position: 0 -1407px; }

.map-pin-e {
  background-position: 0 -1876px; }

h3.a-sub-title {
  color: #666666;
  font-family: "Georgia","Times New Roman", "Times", serif;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
  line-height: 30px;
  margin-top: 0px;
  width: auto; }

#btm-cta {
  width: 720px;
  background: url("../assets/cta_bg.jpg");
  border-radius: 5px; }
  #btm-cta .left {
    padding: 15px;
    color: #fff; }
    #btm-cta .left h3 {
      color: #fff;
      font-size: 24px; }
    #btm-cta .left p {
      line-height: 14px;
      width: 200px;
      padding: 0;
      margin: 0; }
  #btm-cta .right {
    position: absolute;
    display: block;
    padding: 0;
    right: 15px;
    top: 27px; }
    #btm-cta .right p {
      min-width: 267px;
      padding: 0;
      margin: 0; }
      #btm-cta .right p a.btn {
        margin-right: 10px !important; }

#de-signup {
  color: #fff;
  text-align: center;
  margin-bottom: 30px; }
  #de-signup .grd h3 {
    color: #fff; }
  #de-signup .grd p {
    font-size: 0.75em;
    line-height: 15px; }
  #de-signup .grd a.btn {
    color: #333;
    font-weight: bold;
    font-size: 0.875em;
    padding: 8px 15px; }
  #de-signup .grd .btn {
    white-space: normal; }

.smartling-de #signup .btn {
  max-width: 120px; }

.smartling-fr #signup .btn {
  max-width: 127px; }

.smartling-it #signup .btn {
  max-width: 122px; }
