/* START RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}

table {
border-collapse:collapse;
border-spacing:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}

fieldset,img,abbr,acronym {
border:0;
}

ol,ul{
list-style:none;
}

caption,th {
text-align:left;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}

q:before,q:after {
content:'';
}

/* END RESET */

.fasHeading
{font-size:14px;}

html,body,#wrapper{text-align:center;}
body{font-family:Arial, Helvetica, sans-serif;font-size:12px;background-repeat:repeat;}
a{color:#666666;text-decoration:underline;}
a:hover{color:#333333;}
hr{color:#999;background-color:#999;height:1px;border:0;margin:15px 0;}
.label,label{font-size:12px;padding:0px 3px 5px 0px;}
.DClabels {font-size:12px;padding:0px 3px 5px 0px;color: #939598;}
.DClabels td.label{font-size:12px;padding:0px 3px 5px 0px;color:#939598 ;}
.DClabels td.field input,.DClabels td select {font-size:12px;height:18px;border: 1px rgb(87, 66, 55) solid;}
p{margin-bottom:15px;font-size:12px;}
h1 /* Main heading on all pages */{font-weight:regular;font-family:Arial, Helvetica, sans-serif;;font-size:24px;color:#0047B7;line-height:30px;text-decoration:none;border-bottom:solid 1px #999;margin:15px 0 20px;padding:8px 0 16px;}
h1.altH1 /* Main heading on all pages */{font-weight:regular;font-family:Arial, Helvetica, sans-serif;;font-size:24px;color:#0047B7;line-height:30px;text-decoration:none;border-bottom:solid 1px #999;margin:2px 0 20px;padding:8px 0 16px;}
h1.h1infoHead /* Main heading on all pages */{font-weight:regular;font-family:Arial, Helvetica, sans-serif;;font-size:24px;color:#0047B7;line-height:30px;text-decoration:none;border-bottom:0;margin:2px 0 10px;padding:8px 0 5px;}
h2 /* Secondary headings on pages */{font-weight:bold;font-size:14px;color:#333333;line-height:18px;text-decoration:none;margin:0;}
h3 /* Sub-headings,links on pages */{font-weight:bold;font-size:14px;color:#333333;line-height:16px;text-decoration:none;margin:0 0 10px;}
h4{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333333;line-height:18px;text-decoration:none;margin:10px 0; width:385px;}
.stdFormLite td{padding:5px 0;}
dd{margin-left:15px;}
dt{font-weight:bold;}
#wrapper{text-align:left;vertical-align:middle;width:805px;background-color:#FFF;margin:0 auto;}
#headercontainer{width:805px;height:90px;background:url(http://www.pier1.com/images/content/shell/header/headerbg.jpg) center top repeat;}
#header{width:805px;height:90px;}
#topspacer{height:10px;background-color:#FFFFFF;}
/* #logo{height:46px;margin-left:8px;margin-top:18px;margin-right:22px;float:left;} */
#logo{margin:0px;padding:0px;float:left;}
div.navitems{height:48px;float:left;margin-top:42px;padding-bottom:4px;}
div.rightnav{height:28px;width:100px;margin-top:34px;color:#815813;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;margin-right:8px;text-align:right;float:right;}
div.rightnav a,div.rightnav a:visited{color:#815813;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;text-decoration:none;}
div.rightnav a:hover{text-decoration:underline;color:#815813;}
#subnav{height:20px;width:100%;color:#b9b19b;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;border-bottom:solid 1px #d9d8d4;padding-top:3px;background-color:#FFFFFF;}
a.subnav{color:#aca9a1;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;text-decoration:none;padding:5px;}
a.subnav:hover{color:#0047b7;text-decoration:underline;}
#leftcol h1{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#666666;line-height:18px;text-decoration:none;border-bottom:none;margin:10px 0 20px;padding:0;}
div.CatalogTopNav{width:555px;background:url(http://www.pier1.com/images/content/designconcepts/navR.gif) right no-repeat;background-color:#9D8D85;float:left;height:50px;margin:14px 0 0;}
ul.CatalogTopNav{padding-left:0;padding-top:19px;width:533px;background:url(http://www.pier1.com/images/content/designconcepts/navL.gif) left no-repeat;background-color:#9D8D85;float:left;height:31px;}
ul.CatalogTopNav li{font-family:Arial, Helvetica, sans-serif;padding-left:16px;float:left;margin:0;}
ul.CatalogTopNav li a{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#FFFFFF;font-weight:bold;float:left;text-decoration:none;}
ul.CatalogTopNav li a:hover{color:#FFFFFF;text-decoration:underline;}
ul.LeftNav{margin:0 10px 0 0;}
ul.LeftNav li{font-family:Arial, Helvetica, sans-serif;border-bottom:1px #e5e5e5 solid;margin:0 0 5px;padding:0 0 5px;}
ul.LeftNav li a{font-family:Arial, Helvetica, sans-serif;color:#666666;text-decoration:none;}
ul.LeftNav li a h2{font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;}
ul.LeftSubNav{margin:10px 0 0 10px;}
ul.LeftSubNav li{border:none;margin:3px 0;}
ul.LeftSubNav li a{font-size:11px;}
#footercontainer{height:95px;width:775px;}
/* #footer{width:775px;height:82px;} */
#copyright{font-family:Arial, Helvetica, sans-serif;font-size:11px;margin-top:15px;color:#ab9775;text-align:left;width:775px;}
#botlinks{width:575px;float:left;text-align:left;line-height:16px;padding-top:21px;}
span.blue{color:#0047B7;}
#botlinks span.blue a{color:#0047B7;text-decoration:none;}
#botlinks span.blue a:hover{color:#0047B7;text-decoration:underline;}
span.grey{color:#785b29;}
#botlinks span.grey a{color:#785b29;text-decoration:none;}
#botlinks span.grey a:hover{color:#785b29;text-decoration:underline;}
#emailmodule{width:180px;height:80px;text-align:left;float:left;padding-left:6px;margin-top:5px;border-left:solid 1px #bc9f71;}
.smalltext{display:inline;font-size:11px;Arial, Helvetica, sans-serif;}
.smalltext p{display:inline;font-size:11px;Arial, Helvetica, sans-serif;}
.bluetext{color:#0165C3;}
.container{width:805px;background-color:#FFFFFF;text-align:left;}
#leftcol{width:170px;text-align:left;vertical-align:top;border-right:1px #e5e5e5 solid;}
#rightcol{width:590px;text-align:left;vertical-align:top;padding-left:20px;padding-right:5px;padding-bottom:15px;}
#maincol{width:775px;}
#homepage{width:775px;}
#secondary{width:785px;height:84px;position:relative;padding-top:5px;}
#secondary div{float:left;padding-left:5px;position:relative;}
#creditclearance{width:785px;height:50px;position:relative;padding-top:5px;}
#creditclearance div{float:left;padding-left:5px;position:relative;}
ul.bulletlist{list-style:disc;margin:0 0 15px 25px;}
ul.bulletlistbotspace li{list-style:disc;margin:0 0 15px;}
ol.numberedlist{list-style:decimal;margin:0 0 15px 30px;}
ol.letteredlist{list-style:lower-alpha;margin:0 0 15px 30px;}
div.infobox{padding-left:15px;color:#660000;background-color:#f7f7f7;width:450px;border:solid 1px #E5E5E5;}
div.infobox a{color:#660000;font-weight:bold;}
div.infobox a:hover{color:#990000;font-weight:bold;}
div.infobox ul{list-style:disc;margin:15px;}
h1.news{font-size:18px;}
.white{color:#FFFFFF;line-height:16px;font-size:12px;}
a.white,a.white:hover{color:#FFFFFF;text-decoration:underline;}
.red{color:#960000;}
.clickable,.cursor{cursor:hand;}
.dottedline{background:transparent url(images/site/Misc/graydot.gif) repeat-x 50% 50%;}
.dottedlinetop{background:transparent url(images/site/Misc/graydot.gif) repeat-x left top;}
.dottedlinenospace{background:transparent url(images/site/Misc/graydot.gif) repeat-x left center;height:2px;}
.dottedlinenormal{background:transparent url(images/site/Misc/graydot.gif) repeat-x left center;height:15px;margin:10px 0;}
.dottedlinelarge{background:transparent url(images/site/Misc/graydot.gif) repeat-x left center;height:30px;}
.dottedlineverticle{background:transparent url(images/site/Misc/graydot.gif) repeat-y center top;height:100%;width:30px;}
.dottedlinethin{background:transparent url(images/site/Misc/bluedot.gif) repeat-x center;}
.dottedlinewithbackground{background:#EEEEEE url(images/site/Misc/graydot.gif) repeat-x left center;height:5px;margin-top:20px;margin-bottom:20px;}
.dottedlinewithbackgroundnomargin{background:#EEEEEE url(images/site/Misc/graydot.gif) repeat-x left center;height:5px;margin-top:0;margin-bottom:0;}
.solidlinesep{background-color:#EEEEEE;width:100%;height:1px;}
.newsitems table{border-collapse:separate;border-spacing:10px;}





.infoContent{margin-bottom:40px;}
.infoContent h2{margin:20px 0 7px;}
.infoHead{width:100%;border-bottom:1px solid #CCCCCC;margin-bottom:15px;margin-top:10px;padding:0;}
.infoHead table{width:100%;}
.infoHead td{width:50%;vertical-align:bottom;padding:3px 0;}
.infoHead h1,.infoHead h2{margin:0 0 2px;}
.infoHead.header{margin:30px 0 20px;}
.infoHead #header{margin:5px 0;}
.inlineheading,.inlineheading:active,.inlineheading:hover,.inlineheading:link,.inlineheading:visited{font-weight:bold;color:#222222;display:inline;text-decoration:none;}
.ordercolumnheadings,.productcolumnheadings,.columnheading{font:normal normal normal 11px tahoma,verdana,arial,helvetica,sans-serif;font-weight:bold;color:#666666;background:inherit;margin:0;}
saletext{color:#990000;font:inherit inherit inherit normal 12px tahoma,verdana,arial,helvetica,sans-serif;font-weight:bold;}
.itemNo,.deliveryText,.extrasmalltext{display:inline;font-size:10px;Arial, Helvetica, sans-serif;}
.mediumtextbold{display:inline;font-size:13px;font-weight:bold;}
.redtext{background:inherit;color:#990000;font:inherit inherit inherit normal 12px tahoma,verdana,arial,helvetica,sans-serif;}
.redtextsmall{background:inherit;color:#990000;font:inherit inherit normal 10px tahoma,verdana,arial,helvetica,sans-serif;}
.blacktextsmall{color:#222222;font:inherit inherit normal 10px tahoma,verdana,arial,helvetica,sans-serif;background:transparent;}
.whitetextsmall{color:#ffffff;font:inherit inherit normal 10px tahoma,verdana,arial,helvetica,sans-serif;background:transparent;}
.priceDisclaimer,.graytextsmall{color:#666666;font:normal normal normal 10px tahoma,verdana,arial,helvetica,sans-serif;background:transparent;}
.italictext{font-style:italic;}
.boldtext{font-weight:bold;}
.blacktextextrasmall{color:#222222;font:9px tahoma,verdana,arial,helvetica,sans-serif;background:transparent;}
.tipBox,.alertText,.errorText,.actionText{display:block;border:1px solid #CCCCCC;background-color:#F4F4F4;font:12px tahoma,verdana,arial,helvetica,sans-serif;background-position:left top;background-repeat:no-repeat;margin:0 0 20px;padding:7px 10px 10px 15px;}
.tipBox h1,.errorText h1,.alertText h1,.alertTextHeading,.actionText h1{font-size:14px;font-weight:bold;background-image:none;margin-bottom:7px;margin-top:3px;}
.tipBox ul,.errorText ul,.alertText ul,.actionText ul{margin-bottom:10px;margin-left:10px;line-height:18px;padding-left:10px;}
.tipBox li,.errorText li,.alertText li,.actionText li,.alertText p,.errorText p,.actionText p{line-height:16px;margin-bottom:5px;}
.alertText,.errorText{color:#990000;margin-bottom:20px;width:80%;}
.alertText h1,.errorText h1,.alertText #header{color:#990000;}
.tipBox h1.altH1{border-bottom:1px solid #E3E3E3;margin:0 0 9px;padding:0;}
.tipBox{background-image:URL(http://www.pier1.com/Images/site/misc/TipIcon.gif);width:90%;padding-right:20px;}
.alertText{background-image:URL(http://www.pier1.com/Images/site/misc/InfoIcon.gif);}
.errorText{background-image:URL(http://www.pier1.com/Images/site/misc/ErrorIcon.gif);background-color:#fef4fa;border:1px solid #CCCCCC;}
.actionText{background-image:URL(http://www.pier1.com/Images/site/misc/ActionIcon.gif);background-color:#f0fff8;border:1px solid #CCCCCC;}
#lstRadius td{padding:5px;}
#dlStateList{width:100%;margin-bottom:15px;}
.datagridRow_small{background-color:#ffffff;color:black;font:normal normal normal 7pt tahoma,verdana,arial,helvetica,sans-serif;text-align:left;vertical-align:top;height:30px;width:100%;padding:5px 3px;}
.datagridRow_small_alt{background-color:#F4F4F4;height:40px;}
tr.datagrid_Header{height:30px;text-align:left;vertical-align:middle;font-weight:bold;}
tr.datagrid_Item{height:40px;vertical-align:middle;border:none;}
tr.datagrid_Header td,tr.datagrid_Item td,tr.datagridRow_small_alt td{font-size:11px;}
#botlinks span,#botlinks span a{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;}
#DCheader h1{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#666666;line-height:18px;text-decoration:none;border-bottom:none;float:right;margin:0;padding:0;}
div.DCTopNav{width:555px;background:url(../../img/pier1com/designconcepts/navR.gif) right no-repeat;background-color:#9D8D85;float:left;height:50px;margin:14px 0 0;}
ul.DCTopNav{padding-left:0;width:533px;background-color:#9D8D85;background:url(../../img/pier1com/designconcepts/navL.gif) left no-repeat;float:left;height:50px;}
ul.DCTopNav li{font-family:Arial, Helvetica, sans-serif;padding-top:19px;padding-left:16px;float:left;list-style:none;margin:0;}
ul.DCTopNav li a{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#FFFFFF;font-weight:bold;float:left;text-decoration:none;}
ul.DCTopNav li a:visited{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#FFFFFF;font-weight:bold;float:left;text-decoration:none;}
ul.DCTopNav li a:hover{color:#FFFFFF;text-decoration:underline;}
div.DCBG{background-color:#CCCCCC;margin-bottom:10px;padding:20px;}
.DCcontent{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#9d8d85;padding:20px 20px 0;}
.DCcontent p{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#9d8d85;}
.DCcontent p a,.DCcontent p a:visited{color:#666666;}
.DCcontent li{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#9d8d85;list-style:disc;}
.DCcontent ul{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#9d8d85;list-style:disc;}
.DCcontent h2{font-family:Arial, Helvetica, sans-serif;color:#9d8d85;}
#catalogmenu{width:750px;height:32px;background:transparent url(../../img/pier1com/whatsinstore/catalog/menubg.gif) no-repeat center;text-align:left;}
#catalogmenu span{padding-left:20px;margin-top:8px;}
#catalogmenu span img{margin-top:2px;}
#catalogmenu a{font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;text-decoration:none;color:#96784a;padding-right:15px;}
#catalogmenu a.back{color:#5d3900;}
#catalogmenu a.active{color:#5d3900;font-weight:bold;cursor:default;}
table.IRDividendsTable{width:100%;font-size:12px;border:0;}
td.IRDividendsRowDeclared{width:20%;}
td.IRDividendsRowRecord{width:20%;}
td.IRDividendsRowPayable{width:20%;}
td.IRDividendsRowAmount{width:20%;}
td.IRDividendsRowType{width:20%;}
table.PRPressReleasesListings{width:100%;font-size:12px;border:0;table-padding:5px;}
td.PRPressReleasesDate{width:18%;vertical-align:top;}
td.PRPressReleasesTitle{width:82%;vertical-align:top;}
.RightContent_550px{text-align:left;margin:0 0 0 20px;padding:0;}
#invsidemenu-History A,#invsidemenu-GivingBack A,#invsidemenu-StoreOpeningsRedirect A,#invsidemenu-StoreClosingsRedirect A,#invsidemenu-GivingGuidelines A,#invsidemenu-PressroomPressReleases A,#invsidemenu-PressReleasesRedirect A,#invsidemenu-StoreOpenings A,#invsidemenu-ProductNotices A,#invsidemenu-Copyright A,#invsidemenu-PrivacyPolicy A,#invsidemenu-PurchaseReturn A,#invsidemenu-WebsiteTerms A,#invsidemenu-OverviewRedirect A,#invsidemenu-Advancement A,#invsidemenu-Benefits A,#invsidemenu-PressroomPressReleasesRedirect A{margin-left:10px;}
ProductsBox{margin-left:0;width:100%;}
.ProductsBox td{margin-left:0;text-align:center;color:#666666;font-size:11px;padding:0px 0 5px;}
.ProductsBox td{margin-right:1px;}

div.image{display:block;width:144px;height:144px;background:white url('http://www.pier1.com/img/pier1com/whatsinstore/featuredproducts/lamps/background.jpg') center;}
div.image img{margin-top:12px;}
div.productimage{display:block;width:144px;height:144px;}
div.productimage img{margin-top:12px;}

.ProductsBox td span.price{color:#666666;font-size:11px;}
.ProductsBox td span.sale{color:#960000;font-weight:bold;}
.ProductsBoxPopUp{display:none;position:absolute;font-size:12px;width:294px;background-color:#FFFFFF;border:1px #d3d3d3 solid;}
.ProductsBoxPopUp span{color:#960000;font-weight:bold;}
div.Lspacer{float:left;width:26px;height:1px;padding:0;}
div.closeicon{float:left;width:26px;padding:0;}
div.closeicon a{padding-left:2px;}
div.image2{float:left;width:240px;text-align:center;padding:0;}
.ProductsBoxPopUp div.copy{text-align:left;padding:0;}
.ProductBoxDescPopUp{color:#666666;font-size:12px;text-align:left;width:200px;height:50px;padding-left:10px;padding-top:5px;}
.ProductBoxDiscPopUp{color:#666666;font-size:10px;text-align:left;height:25px;padding-left:10px;}
.ProductBoxStorePopUp{color:#666666;font-size:11px;text-align:right;width:92px;height:55px;padding-right:10px;}
.ProductBoxImgPopUp{color:#666666;font-weight:bold;font-size:15px;width:292px;height:260px;background:url('http://www.pier1.com/img/pier1com/whatsinstore/featuredproducts/largebg.gif') center;}
table.StoreLocatorResults{font-size:12px;vertical-align:top;}
.StoreLocatorStateList{font-size:12px;width:100%;}
td.StoreLocatorHeader{font-weight:bold;font-size:14px;color:#333333;line-height:16px;text-decoration:none;margin:0 0 10px;}
p.StoreLocatorResultsHeader{font-size:12px;}
td.StoreLocatorDistance,td.StoreLocatorMap,td.StoreLocatorPhone,td.StoreLocatorType,td.StoreLocatorStore,td.StoreLocatorNumber{vertical-align:top;}
.StoreLocatorButtons{height:30px;}
.StoreLocatorButtons td.StoreLocatorButton3,.StoreLocatorButtons td.StoreLocatorButton1,.StoreLocatorButtons td.StoreLocatorButton2{padding-right:10px;}
#Span1{text-align:left;}
#Span2{text-align:right;}
#dnn_ctr618_ModuleContent table{width:100%;}
.PRPressReleaseDetailsTitle h2{padding-bottom:20px;}
.Fundamentals{width:100%;margin:20px 0;}
.FundamentalsTD{font-size:12px;width:265px;}
.Fundamentals table{font-size:11px;}
.AnnualReportsDateHeader{font-size:12px;width:15%;padding-top:15px;font-weight:bold;}
.AnnualReportsTitleHeader{font-size:12px;width:85%;padding-top:15px;font-weight:bold;}
.AnnualReportsDate{font-size:12px;}
.AnnualReportsTitle{font-size:12px;padding:3px 0;}
.AnnualReportsTitle a{font-weight:bold;}
.ContactForm td{font-size:12px;padding:3px;}
.ContactForm td.label{white-space:nowrap;}
.field input{width:120px;}
.errorBox{font-weight:bold;font-size:12px;color:Maroon;background-color:AntiqueWhite;display:block;border-color:Maroon;border-style:solid;border-width:1px;margin:10px 10px 20px 0px;padding:10px;}
.HistoricalResults{font-size:11px;width:400px;}
.HistoricalResultsHeader{font-size:14px;font-weight:bold;}
#invsidemenu-FeaturedProducts{font-weight:bold;font-family:Arial, Helvetica, sans-serif;color:#666666;font-size: 14px;}
#invsidemenu-OtherProducts{font-weight:bold;font-family:Arial, Helvetica, sans-serif;color:#666666;font-size: 14px;}

