.popup-lrg{
	width:760px;
}

.popup #page-body{
	padding: 0px 10px;
}

.popup #page-heading{
	margin-top:0px!important;
}

#popup-close{
	position:absolute;
	top:10px;
	right:10px;
}

#popup-close-btm{
	font-size:12px;
}


/* =Header
----------------------------------------------------------------------------------------------------*/
#header {
    background: url("../../img/global/bg/header.jpg") no-repeat scroll 0 0 #1A4E7E;
    height: 119px;
    position: relative;
    z-index:20;
}
.skip-link {
    display: none;
}

/* =Capital One Logo
----------------------------------------------------------------------------------------------------*/
#header div.cap-one-logo-sprite {
    border: none;
    height: 70px;
    left: 37px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 22px;
    width: 145px;
}
#header img.logo-cap-one-default {
    border: none;
    float: left;
    position: absolute;
    top: 0;
}
#header img.logo-cap-one-bank {
    border: none;
    float: right;
    position: absolute;
    top: -110px;
}