/* GLOBAL HEADER FOOTER STYLES BEGIN HERE */
/*.tophat { background: #dedede; }*/
[class^="dwarf-"], [class*="dwarf-"], [class|="dwarf-"]{float:left;margin-right:5px;}
.tophat a { padding: 0; display: block; }
.headerLogo { margin: 18px 0 15px 20px; float: left; }
#nav { z-index: 1000; padding-bottom: 15px; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
#nav.row{margin-left: 0px; border-right: none; border-left: none}
/*Resets and Overides
==============================================*/
div#thdProjectHT.btn,div#thdMyAccount.btn, div.search-controls {position:static !important;}
div#thdProjectHT ul.linkList,div#thdMyAccount ul.linkList,div#thdUtils ul.linkList{z-index:400;}
ul#hd-deptNav .no-link a{cursor:pointer;}
.dept-dropdown ul li a{background-image:none; height:auto;}
#searchButton.btn,#list a.btn,div#thdProjectHT.btn, div#thdMyAccount.btn{box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none;}
/****************************************************************/
/* Header Styles Top Nav (always close - default) Start      */
/****************************************************************/
#thdSearch {position: relative;float: left;}
#searchCenter{float: left;}
#dept-search{min-width: 434px;float: left;margin-left:10px;margin-right:0; border-left:none;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-radius: 3px; height:49px;}
#dept-dropdown #list a span {font-size: 14px;}
#locator-header, #locator-content {position: relative;}/* Override for locator.css on StoreFinder */
/*********** department main drop down list ************/
form#searchBoxForm #dept-dropdown{margin: 0;float: left;position:static;display:block;}
form#searchBoxForm #dept-dropdown a.btn{width: 108px;height: 14px; height:14px\9; *height:16px;float: left;border-top: none; border-bottom: none; border-left: 1px solid #ccc; border-right:1px solid #ccc;border-radius: 3px 0px 0px 3px;background-color: #D9D9D9;
	padding: 18px 7px 17px 12px;padding: 14px 7px 21px 12px\9;*padding: 18px 7px 15px 12px;font-size: 14px;line-height: auto;font-weight: bold;text-transform: none;letter-spacing: -.01px;width:auto;}

/*********** department categories list ************/
form#searchBoxForm ul#dept-list{display:none;background: none repeat scroll 0 0 #ffffff ;border: 1px solid #cccccc;border-top: 0px;position: absolute;width: 201px;top: 50px;left:0px;padding-bottom: 10px;z-index: 10;}
form#searchBoxForm ul#dept-list li a{font-size:13px; /*workbench typography style is Normal*/font-weight:bold;display:block;padding:6px 6px 4px 12px;}
form#searchBoxForm ul#dept-list li a:hover{background:none 0 0 repeat scroll #EAEAEA;text-decoration:none;cursor:pointer;}
form#searchBoxForm #dept-dropdown:hover #list a.btn{border-right: 1px solid #ccc;
	padding: 18px 7px 18px 12px;padding: 14px 7px 22px 12px\9;*padding: 18px 7px 18px 12px;border-bottom: 0px;border-radius: 3px 0px 0px 0px;}

form#searchBoxForm #dept-dropdown:hover #list a.btn, form#searchBoxForm #dept-dropdown:hover #dept-list{display: block; background: none repeat scroll 0 0 #ffffff;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffff', endColorstr='#ffffff',GradientType=0 );box-shadow: -3px 7px 4px rgba(0,0,0,0.2);}
#searchBoxForm fieldset {border: medium none;float: left;padding: 0;width:auto;position:relative;}
/********label saying :What can we help you find?**********/
label#lblSearch{line-height: normal;}
#lblSearch{color: #999999;display: block;font-size: 15px;font-weight: normal;font-style: italic;padding-top: 5px;text-align:left;margin-left:5px;width:auto;}
.labelRemove{position:absolute;margin:13px 0 0 15px; padding-right: 4px;}
/*Search text box*/
#divSearchbox{float:left;}
#divSearchbox input#searchFocus{background:none repeat scroll 0 0 transparent;width:260px;padding:16px 17px 17px 5px;padding-top:24px\9;padding-bottom:8px\9;height:16px;font-size: 14px;font-weight: bold;color: #333; border-radius:none !important;display: inline-block;;border:none transparent;;height:auto;box-shadow: none;line-height: 0;}
#divSearchbox input[type="text"]{border-radius: none}
/*hack for mozilla firefox to match the textbox height and width with the other browsers*/
@-moz-document url-prefix(){body.homepage  #searchFocus{padding-top:2px;padding-left:10px;padding-bottom: 16px;}}
/**********************Search button***********************/

/*hack for iPad1 and iPad2 screen*/
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px) {
#divSearchbox input#searchFocus{padding-bottom:16px; }
}

/*====================== Styles for typeahead begin here================================= */
#nav #typeahead {background:#e6e6e6;border:1px solid #ccc;color:#666; border-top:0px;font-size:1.2em;position:absolute; left:204px !important; top:66px;width:auto;display:none;z-index:300;padding:16px 18px 5px;margin-left:-4px;;margin-top:0px;/*over ridding fragments.css*/}
#nav #typeahead .category {padding-bottom:20px;background:none;width:auto !important;float:none !important;margin:0}
#nav #typeahead .column {width:225px;float:left}
#nav #typeahead h4 {font-size:12px;height:0;color:#333333;padding-bottom:16px;text-transform:uppercase;background-image:none;}
#nav #typeahead ul,#nav #typeahead li {color:#F96302;font-size:12px;padding:0;list-style:square;list-style-image:none;margin:5px 0 0 7px;}
#nav #typeahead .liVideo{list-style-image:url("../images/headerFooter/video_link.png");padding:0;margin-left:14px;margin-left:8px\9;}
#nav #typeahead a.video2{background:none;padding:0;}
#nav #typeahead a {color:#666;line-height:1.1em;height:auto;padding:2px 0 3px 0;background-image:none;}
#nav #typeahead a:hover {color:#333;text-decoration:underline}
#nav #typeahead .tab {background:#e6e6e6;border:1px solid #ccc;border-bottom:0;height:16px;position:absolute;top:-17px;top:-15px \9;left:-1px;width:435px;font-size:1px;color:#666}

/*================== End of Type ahead styles========================*/
/*=============== Search Button ============================*/
#divSearchBtn,#divSearchBtn .controls{float:left;margin-left:-1px;}
#searchButton.btn{clear:both;float: left;height: 49px;width: 45px;border:0;border-radius: 0 3px 3px 0;cursor: pointer;display:inline;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7f09', endColorstr='#fe5006',GradientType=0 )}
#searchButton.btn i.icon-search{*margin-left: 10px; margin-right: 0px;}
.search-control-group{	clear:none;margin-bottom:0;}
.search-controls{margin-left:0;}
/*================END of SEARCH STYLES======================================= Search Styles End================================================================================*/
/****************************************************************/
/* Header Styles Top Nav (always close - default) Start      */
/****************************************************************/
div#header{
	float: left;
	background: -moz-linear-gradient(top,  #f8f8f4 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f4), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f8f8f4 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f8f8f4 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f8f8f4 0%,#ffffff 100%);
	background: linear-gradient(top,  #f8f8f4 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f4', endColorstr='#ffffff',GradientType=0 );
	padding-bottom: 22px;
	z-index:1001;/*to make the localize banner visible in IE*/
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
/*div.headerTop{margin: 0 0 15px 0;}*/
/* Logo Styles */
.dwarf-thdLogo{margin:0 15px;}
img.logo{margin: 0 15px;float: left;}		
/* My Store Styes */
div#myStore{float: left;font-weight: bold;font-size: 14px;color: #333333;position: relative;}
div#myStore a.thdOrange.small{font-weight: normal; font-size: 11px}
div#myStore span{font-size: 11px;font-weight: normal;color:#f96302;}
div#headerOverlay{display: none;position: absolute;top: 25px;left: 0px;padding: 15px 20px 10px;width: 245px;background: #000000;z-index: 1001;}
div#headerOverlay p, #headerOverlay a{color: #ffffff;font-weight: normal;}
div#headerOverlay p.close{text-align: right;}
/* Top and Bottom Header nav */
div.headerNav{float: left;width: 856px;font-family:Arial;}
div.topNav{float: right;margin: 0 0 10px 0;}
ul.topHeaderNav{margin: 15px 16px 0 0;}
ul.bottomHeaderNav{margin: 10px 15px 0 0;font-size: 14px;}
ul.bottomHeaderNav a{padding:2px 0px;font-weight: bold}
ul.topHeaderNav, ul.bottomHeaderNav {list-style-type: none;float: right;}
ul.topHeaderNav li, ul.bottomHeaderNav li {color: #333333;font-weight: bold;border-right: 1px solid #bbbbbb;float: left;padding: 0 10px;font-size:12px;}
ul.topHeaderNav li a{font-weight: bold; font-size:12px; color:#333333;}
ul.bottomHeaderNav li a{font-weight: bold; font-size:14px; color:#333333;}
ul.topHeaderNav li.end, ul.bottomHeaderNav li.end {border-right: medium none;padding-right: 0;}
/****************************************************************/
/* Header Styles Top Nav (always close - default) End      */
/****************************************************************/
/****************************************************************/
/* Navigation Flyout (always close - default)  Start      */
/****************************************************************/
#nav #hd-deptNav{font-family: Helvetica, "Helvetica Neue";width: 175px;height: 51px;margin: 0 0 0 15px !important;position: relative;z-index: 1000;}
ul#hd-deptNav li a{letter-spacing: -.01px;}
ul#hd-deptNav li a.sad, ul#hd-deptNav li a.sad span{float: left;}
ul#hd-deptNav li a:hover, ul#hd-deptNav li a span:hover{text-decoration: none;}
ul#hd-deptNav li a.sad{width: 155px; height: 29px; padding: 11px 0px 11px 15px; line-height: 11px; font-size: 14px;color: #ffffff;background: #666666;border-radius: 3px;
	background: -moz-linear-gradient(top,  #666666 50%, #4B4B4C 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#666666), color-stop(100%,#4B4B4C));
	background: -webkit-linear-gradient(top,  #666666 50%,#4B4B4C 100%);
	background: -o-linear-gradient(top,  #666666 50%,#4B4B4C 100%);
	background: -ms-linear-gradient(top,  #666666 50%,#4B4B4C 100%);
	background: linear-gradient(to bottom,  #666666 50%,#4B4B4C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4B4B4C',GradientType=0 );
}
ul#hd-deptNav li:hover a.sad, body.homepage ul#hd-deptNav li a.sad, body.exposed ul#hd-deptNav li a.sad{background: #444;border-radius: 3px 3px 0 0;box-shadow: 2px 0px 6px rgba(0,0,0,0.4);-webkit-box-shadow: 2px 0px 6px rgba(0,0,0,0.4);-moz-box-shadow: 2px 0px 6px rgba(0,0,0,0.4);}
ul#hd-deptNav li a.sad  i.icon-carrot-white-down{margin-top: 3px; margin-top: 0px\9;}
ul#hd-deptNav li a.seasonal{background-color: #E15800;}

ul#hd-deptNav li a span{font-size: 18px;font-weight: bold; line-height: 20px}
ul#hd-deptNav ul { list-style-type: none; padding-bottom:8px; }
ul#hd-deptNav .active div.flyout { display: block; }
ul#hd-deptNav div li:hover { text-decoration: none; }
ul#hd-deptNav .active a.l1,ul#hd-deptNav .active a.L1{display: block; }
ul#hd-deptNav div ul { list-style: none; width: 210px; float:left; margin-right: 30px; }
ul#hd-deptNav ul ul li a { font-size: 14px; }
ul#hd-deptNav ul ul li {padding: 4px 0px 4px 0px;}
ul#hd-deptNav ul ul li a.lastitem{margin-bottom: 25px;}
ul#hd-deptNav ul ul li a:hover { text-decoration: underline; color: #333333; }
ul.switches{background-color: #444; position:absolute;top:51px;left:0px;text-align: left; height: auto; display:none;z-index: 900; 	box-shadow: 2px 0px 6px rgba(0,0,0,0.4);-webkit-box-shadow: 2px 0px 6px rgba(0,0,0,0.4);-moz-box-shadow: 2px 0px 6px rgba(0,0,0,0.4);}
.switches.expanded{display:block;}
ul.switches li.item{width:auto;}
#main-nav-dropdown{float: left;}
li.no-link:hover ul.switches, #main-nav-dropdown:hover ul.switches, .homepage .switches, .exposed .switches { display: block; }
.flyout {height:397px; width: 730px;background-color: #ffffff; color: #000000;z-index: 500;position: absolute;top:0px; left: 170px; padding: 23px 0px 24px 25px; display: none; list-style: none;margin-top: 10px;border: 1px solid #cccccc; box-shadow: 2px 0px 6px rgba(0,0,0,0.2);-webkit-appearance: none;}
ul#hd-deptNav a.NavLevel1 {background: #333333;}
ul#hd-deptNav a.NavLevel1:hover, ul#hd-deptNav .active a.NavLevel1:hover, ul#hd-deptNav .active a.NavLevel1, ul#hd-deptNav a.NavLevel1.stay { background: #333333;}
ul#hd-deptNav a.seasonal:hover, ul#hd-deptNav .active a.seasonal:hover, ul#hd-deptNav .active a.seasonal, ul#hd-deptNav a.seasonal.stay {background: #E15800 !important;}		
/* Position on the flyouts */	
ul#hd-deptNav li a.l1,ul#hd-deptNav li a.L1{font-size: 12px;color: #ffffff;font-weight:bold;padding: 7px 0px 8px 15px;display: block;line-height: 13px;text-decoration: none;width:155px;}
a.l1:hover, a.l1.stay, #hd-deptNav .active a.l1,#hd-deptNav .active a.l1.stay,a.L1:hover, a.L1.stay, #hd-deptNav .active a.L1,#hd-deptNav .active a.L1.stay{background-color: #696969;}	
a.l2, a.L2{color: #000000 !important;font-weight: bold;font-size: 14px !important;text-transform: uppercase;border: none !important;text-decoration: none;padding: 12px 0px 5px 0px;}
a.l2.carrot,a.L2.carrot {background-position: right center;padding: 0 10px 0 0;}
ul#hd-deptNav ul ul li .NonCat {background-image: none;cursor: default;color: #000000 !important;font-weight: bold;font-size: 14px !important;text-transform: uppercase;border: none !important;}
span.l2,span.L2 {cursor: default;}
a.l3,a.L3{color: #333333;line-height: 16px;text-decoration: none;display: inline-block;}
li.no-link:hover ul.switches, .homepage .switches { display: block; }
ul#hd-deptNav:hover, .homepage ul#hd-deptNav {border-radius: 5px 5px 0 0;}
div#thdProjectHT.btn,div#thdMyAccount.btn,#dept-dropdown a.btn,#cart.btn{
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e7e7e7',GradientType=0 );
}
/****************************************************************/
/* THD Utilities Project How-To and Account Sign in    */
/****************************************************************/
div#thdUtils{float: right;font-size: 14px;line-height: 14px;margin: 0 15px 0 0;position: relative;}
#thdUtils .icon-carrot-grey-down{background-position: 0px 2962px;}
#list a span.icon-carrot-grey-down {background-position: 105% 2962px;}

div#thdProjectHT a, #thdMyAccount a {font-size: 14px;font-weight: bold;text-decoration: none;text-transform: none; color:#333333;}

div#thdProjectHT.btn{padding: 17px 12px; *padding: 17px 12px 16px 12px; border-radius: 3px 0 0 3px;border-color: #ccc;}
div#thdMyAccount.btn{padding: 10px 12px; *padding: 10px 12px 9px 12px; border-radius: 0 3px 3px 0;border-left: none;border-color:#ccc;}

div#thdProjectHT.btn:hover{border-radius: 3px 0 0 0;padding: 17px 12px 18px;*padding: 17px 12px;border-bottom: none;box-shadow: -1px 7px 4px rgba(0,0,0,0.2);}
div#thdMyAccount.btn:hover{border-radius: 0 3px 0 0;padding: 10px 12px 11px;*padding: 10px 12px;border-bottom: none;box-shadow: 1px 7px 4px rgba(0,0,0,0.2);}
div#thdProjectHT.btn:hover, div#thdMyAccount.btn:hover{background: #ffffff;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );}
div#thdProjectHT.btn:hover ul.linkList, div#thdMyAccount.btn:hover ul.linkList{display:block;}
div#thdMyAccount span.smallGreyLink, div#myStore .thdOrange .small{font-size: 12px;font-weight:normal;}
div#thdMyAccount .thdOrange{font-size: 12px;font-weight:bold;}
#myStore  i.icon-localization-off,#myStore i.icon-localization-on{cursor:pointer;}
div#thdMyAccount span{font-size: 12px;font-weight: normal;text-transform: none;}
div#thdMyAccount span#navUserName{color:#333333;font-size: 12px;font-weight: normal;text-transform: none;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 115px;}
div#thdUtils ul.linkList{display: none;background: #ffffff;position: absolute;padding: 17px 0 15px;border: 1px solid #ccc;border-top: none;border-radius: 0 0 3px 3px;top: 51px;}
div#thdProjectHT ul.linkList{left: 0;width: 200px;box-shadow: -1px 6px 5px rgba(0,0,0,0.2);}
div#thdMyAccount ul.linkList{right: 0;width: 217px;box-shadow: 1px 6px 5px rgba(0,0,0,0.2);}
div#thdUtils ul.linkList a, div#thdUtils ul.linkList p{display: block;font-weight: normal;line-height: 29px;padding: 0 20px;}
div#thdUtils ul.linkList p{margin: 5px 0 0;font-size: 12px;display: inline;*display: block;text-transform: none;}
div#thdUtils ul.linkList a:hover{background: #eaeaea;}
div#thdUtils ul.linkList a.thdMyAccountRegister{display: inline;font-weight: bold;font-size: 12px;padding: 0 3px 0 0;color:#F96302}
div#thdUtils ul.linkList a.thdMyAccountRegister:hover{background: none;}
div#thdUtils ul.linkList li{margin: 0;}
div#thdMyAccount div.borderLine {border-bottom: 1px solid #EEEEEE;height: 1px;margin: 6px 20px 12px;width: auto;}
div#thdUtils .linkList a.btn-orange{color:#fff;font-size: 12px;width: 55px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-align:center;text-decoration:none;margin:0 50px 5px 20px;font-weight: bold;}
div#thdUtils .linkList a.btn-orange:hover {cursor: pointer;}
#locator-header #accountInfo {height: 30px;height: 29px\9; *height: 30px;}
#locator-header div#thdProjectHT {height: auto;height: 15px\9; *height: auto;}
#locator-header div#header{margin-top: -4px; margin-top: 0px\9;} 
/* fix for storefinder page in ff and Chrome IE hack*/
/*StoreFinder Override*/
/****************************************************************/
/* Cart Styles Start    */
/****************************************************************/
a#cart.btn{border-top:none;float: right;height: auto;width:auto;font-size: 14px;line-height: 14px;font-weight: bold;margin:0 15px 0 0;color:#2b2b2b;border-radius: 0px 0px 3px 3px;text-shadow:0px -1px 1px #fff;text-transform: none;padding:10px 15px 6px 15px;box-shadow: 0 0 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);}

a#cart i.icon-cart{margin-top:-9px;}
a#cart.btn-orange{
	color: #FFFFFF; 
	padding-right: 0px;
	padding-left: 10px;
	*padding-bottom:4px;
	background: -moz-linear-gradient(center top , #F8952B 0%, #F96302 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8952B), color-stop(100%,#F96302));
	background: -webkit-linear-gradient(top,  #F8952B 0%,#F96302 100%);
	background: -o-linear-gradient(top,  #F8952B 0%,#F96302 100%);
	background: -ms-linear-gradient(top,  #F8952B 0%,#F96302 100%);
	background: linear-gradient(to bottom,  #F8952B 0%,#F96302 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8952B', endColorstr='#F96302',GradientType=0 );
}
div#thdUtils ul.linkList a.btn-orange:hover, a#cart.btn-orange:hover{
	text-decoration: none;
background: -moz-linear-gradient(center top , #F8952B 0%, #F96302 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8952B), color-stop(100%,#F96302));
	background: -webkit-linear-gradient(top,  #F8952B 0%,#F96302 100%);
	background: -o-linear-gradient(top,  #F8952B 0%,#F96302 100%);
	background: -ms-linear-gradient(top,  #F8952B 0%,#F96302 100%);
	background: linear-gradient(to bottom,  #F8952B 0%,#F96302 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8952B', endColorstr='#F96302',GradientType=0 );
}
a#cart.btn.btn-orange span{color: #FFFFFF;border-radius: 0px 0px 3px 0px;-moz-border-radius: 0px 0px 3px 0px;-webkit-border-radius: 0px 0px 3px 0px;
	background: #fe7f09;
	background: -moz-linear-gradient(top,  #fe7f09 0%, #fe5006 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe7f09), color-stop(100%,#fe5006));
	background: -webkit-linear-gradient(top,  #fe7f09 0%,#fe5006 100%);
	background: -o-linear-gradient(top,  #fe7f09 0%,#fe5006 100%);
	background: -ms-linear-gradient(top,  #fe7f09 0%,#fe5006 100%);
	background: linear-gradient(to bottom,  #fe7f09 0%,#fe5006 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7f09', endColorstr='#fe5006',GradientType=0 );
	padding: 8px 7px 10px 10px;
	margin-left: 10px;
}
div#header .btn-orange, div#nav .btn-orange{border: transparent;}
#cart.btn.btn-orange{text-shadow:0px -1px 1px #C66428;box-shadow: 0 0 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);}
div#header .btn-orange:hover, div#nav .btn-orange:hover, a#cart.btn.btn-orange:hover span.btn-orange{}
/****************************************************************/
/* Cart Styles Start    */
/****************************************************************/
#whyToolTip {background: url("../images/headerFooter/toolTipBg.png") no-repeat scroll center top transparent;border-bottom: 1px solid #C4C4C4;color: #333333;display: none;font-size: 11px;line-height: 14px;padding: 20px 10px 10px 10px;position: absolute;width: 365px;z-index: 1001; text-align:left;}
.smallGreyLink {color: #666666;font-size: 11px;font-weight: normal;}
#mystore a.small{font-size:11px;font-weight:normal !important;}
#closeFlyout{display: none;}
/* Media Query for iPad    */
/****************************************************************/
@media screen and (max-width: 1024px){
	#hd-deptNav ul li:hover div.flyout { display: block; }
	#hd-deptNav ul li.flyoutClose:hover div.flyout { display: none; }
	/*#hd-deptNav .item {background:transparent;}
	#hd-deptNav .item:hover {background: #696969;}*/
	#closeFlyout{position:absolute;	top: 10px;	right: 10px; display: block;}
	#closeFlyout a.icon-close{padding: 3px 25px 3px 0px; color:#333333;}
	.flyout {box-shadow:none;}
}	
/****************************************************************/
/* Localization Popup Banner             */
/****************************************************************/
div.btn-icon#myStore{height:inherit;top: 10px;}
div.btn-icon i.icon-localization-on,div#myStore.btn-icon [class^="icon-"]{width:22px; height:22px;padding:0;margin:-5px 0 0 0;}
i.icon-localization-on{*margin-top: -5px !important}

#localizeBanner, #nonlocalizeBanner{display:none;position:absolute;height:110px;width:360px;height: auto;padding:20px;background:#333;opacity:0.9;filter:alpha(opacity=90); border:1px solid #333;z-index:10000!important;top:80px;left:100px;-webkit-box-shadow: 0px 1px 9px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 1px 9px rgba(50, 50, 50, 0.75);box-shadow:0px 1px 9px rgba(50, 50, 50, 0.75);}
#localizeBanner{width:330px;}
.banner_text {margin-bottom: 10px;color:white;}
#localizeBanner a, #unlocalizeBanner a {text-decoration: none;color: #FFFFFF;
    font-weight: bold;}
.zipcodeForm {width:auto;height:33px;}
.zip_text {float:left;padding-top:3px;color:white;}
.zip_text h4{font-weight:normal;font-size:15px;color:white;background-color: #333333;}
.zip_input {float:left;margin-left:10px;font-size: 15px;}
.zip_input .banner_input {height:23px;width:65px;}
.zipcodeForm .banner_input {font-size: 20px;font-family: Helvetica;}
.zipcodeForm .banner_submit {float:left;}
.zipcodeForm .banner_submit .btn {float:left;margin-left:10px;}
.local_close_link {float: right;color: white;width: 70px;cursor: pointer;}
.unlocal_close_link {float: right;color: white;width: 70px;cursor: pointer;}
.close_text {float: left;margin-right: 7px;}

/****************************************** NEW FOOTER STYLES *************************************/

div.footer.mainContent{border-width:1px 0px 0px 0px}
.footerBorderTopBottom { border-top: 1px solid #EEEEEE;}
div.marketpodDesc>p>a,div.contentimage a,.footer h3 a, .footer h4 a,#versignFooter a{text-decoration:none;cursor:pointer;}

.footer p{line-height:13px;margin-bottom:3px;}
/*********** Market pods **********************/
div.mainContent #marketpods{margin:50px 0 30px 0;}

div#marketpods .grid_6{border-width:0 1px 0 0;}/*overriding the class of global.css*/
div.mainContent #marketpods .pod{height:110px;border-color:#BBBBBB;}
div.marketpodDesc>p{padding:5px 0 5px 0;margin:0;line-height:12px;font-size:11px;}
div.marketpodDesc li {line-height: 16px;}
div.marketpodDesc>p#mobileAppDesc{padding-top:3px;}
div.contentimage h3{padding:5px 0 0 0;margin:0px;font-size:14px;color:#333;float:left;background:none;display:inline;font-weight:bold;clear:none;}
.dwarf-toolrental{margin-right:3px;}
.dwarf-creditcenter{margin-top:3px;}
.dwarf-mobileApps{margin-top:-6px;}

/*********** Orange Corner **********************/
.orange_corner p{margin:10px 0px 10px 0px;}
.dwarf-orangeinsider{*margin-left:-10px;}
.dogear.orange_corner{position:relative;width:auto;height:auto;float:left;background-color:#eee;margin:10px 0px 5px -10px;padding:10px;border:1px solid #BBBBBB;box-shadow: 0 1px 2px #333333;}
.dwarf-dogear{position: absolute;left: -1px;top: 101%; *position:relative; *top:93%; *left:-11px;}

/************ Social Icons **********************/	

.footer ul.socialList{margin-bottom:22px;*margin-bottom:9px;}
.footer ul.socialList li{padding-left:0px;min-height: 19px;}
:root .footer ul.socialList li{letter-spacing:0.02em;}/*IE9 cSS workaround*/
.footer ul.socialList li a {color: #999999;font-size: 10px;cursor:pointer;}
.footer ul.socialList li a p{line-height:10px;margin-bottom:14px;}

/*Phone number*/
p#phoneIntro{color:#333;}
.footer p.large{color:#666;}

/************************* Email ************************/
.footer form#emailsub{width:auto !important;height:auto;}
.footer .emailInputField { font-size:12px;color:#999;border:1px solid #BBBBBB;float: left;margin: 0;padding: 5px 8px;width: 131px;height: 20px;box-shadow:none;*padding: 8px 8px;*height: 14px;}
:root .footer .emailInputField { padding: 8px 8px;height: 14px; }/*IE9 cSS workaround*/
.footer .dwarf-footeremailsubmit {cursor:pointer;border: none;border-radius:0px;margin-right:0px;}

/*********** Section Headers (Department,Online Resources..)**********************/

div#sectionheaders{margin:0px 0px 24px 0px;}
div#sectionheaders  div.grid_6{border:0px !important;}
div#sectionheaders h4.title{color:#666;padding-left: 0px;font-size:18px;font-weight:bold;margin-bottom:15px;text-transform:uppercase;background: none repeat scroll 0 0 transparent;}
div#sectionheaders ul.linkList>li>a,div#sectionheaders h4.title {line-height: normal !important;}
.footer h4.prepend, .footer h4.prepend a { padding-top: 25px; background: none repeat scroll 0 0 transparent;}
.customer-care {margin: 40px 0 0 0;}

div.customer-care h4 {margin: 0 0 20px 0;background: none repeat scroll 0 0 transparent;padding: 0px;}
div.customer-care h4 a{font-size: 18px;font-weight: bold;text-transform: uppercase;text-decoration:none;color:#666;background: none repeat scroll 0 0 transparent;}
div.customer-care h4 span {font-weight: bold;}/*Overiding base.css h4 span*/
div.customer-care .dwarf-help,div.customer-care .dwarf-contact,div.customer-care .dwarf-faq,div.customer-care .dwarf-opinions {margin-right:6px;}
.footer #sectionheaders.row, .footer #sectionheaders .row, .footer #sectionheaders .pod, .footer #sectionheaders .rail{border: transparent;}

/******************** Legal and footer horizontal menu ************/

ul.footerHorzMenu{border:none;top:10px;  float: left;left: 76px;position: relative;}
ul.footerHorzMenu li { border-right: 1px solid #999999;float: left;padding: 0 5px;position: relative;right: 50%;}
ul.footerHorzMenu li.end {border-right: medium none;}
#versignFooter {margin:-13px 0px 0px 15px; height: 72px; width: 100px;}
.dwarf-verisign{cursor:pointer;}
.footer-disclaimer>p.legal{padding-left:15px; padding:0px 47px 0 15px;font-size:9px;}
:root .footer-disclaimer>p.legal{padding-right:74px \0/IE9;}/*IE9 cSS workaround*/
.footer-disclaimer>p.legal>a{font-weight:bold;color:#F96302;}

/************************************* NEW Footer Styles End *************************************/

/*Styles for the error pages:  500 & oops page*/
.content_margin_404page{margin-top:45px; margin-left:20px;}
.content_margin_404page p a {color: #F96302;}
.line1_404page{margin-top:5px;margin-bottom:20px;}
.buttons_margin_404page{margin-top:25px;}
#lnReturnHomepage{margin-right:15px;}
.customercare_404page{float:left;padding-bottom:20px;margin-top:45px;}

/*closeQuote styles -- need to be moved to closequote.css*/
#layout h1 {padding-left: 15px;}
#layout{position: relative; z-index: 10;}

/* Rounded corners for IE */
.rounded, .roundedTop, .roundedBottom, .roundedLeft, .roundedRight, #nav #hd-deptNav, #dept-search, div#thdProjectHT.btn, div#thdMyAccount.btn, a#cart.btn {position: relative;}
.tl, .tr, .bl, .br {
     background-color: transparent;
     background-image: url("../../../images/halflings.png");
     background-repeat: repeat-y;
     height: 10px;
     position: absolute;
     width: 10px;
     z-index: 10;
}
.tl, .tr {top: 0px;}
.bl, .br {bottom: 0px;}
.tl, .bl {left: 0px;}
.tr, .br {right: 0px;}
.tl {background-position: -2px 3730px;}
.tr {background-position: -15px 3730px;}
.bl {background-position: -2px 3717px;}
.br {background-position: -15px 3717px;}
#nav #hd-deptNav .tr, #nav #hd-deptNav .br  {right: 5px;}
#dept-search .tl, #dept-search .tr {top: -1px;}
#dept-search .bl, #dept-search .br {bottom: -1px;}
a#cart.btn .bl {bottom: -1px; left: -1px;}
a#cart.btn .br {bottom: -1px; right: -1px;}
a#cart.btn.btn-orange .bl {bottom: 0px\9; left: 0px\9; *bottom: -2px; *left: -2px;}
a#cart.btn.btn-orange .br {bottom: 0px\9; right: 0px\9; *bottom: -2px; *right: -3px;}
a#cart.btn.btn-orange .bl {background-position: -3px 3718px\9; *background-position: -2px 3717px;}
a#cart.btn.btn-orange .br {background-position: -14px 3718px\9; *background-position: -16px 3717px;}
#nav #hd-deptNav .tl {background-position: -3px 3729px;}
#nav #hd-deptNav .tr {background-position: -14px 3729px;}
#nav #hd-deptNav .bl {bottom: -1px; background-position: -3px 3717px;}
#nav #hd-deptNav .br {bottom: -1px; background-position: -14px 3717px;}
#dept-search .tr {background-position: -14px 3730px;}
#dept-search .br {background-position: -14px 3717px;}
div#thdProjectHT.btn:hover .bl, div#thdProjectHT.btn:hover .br, div#thdMyAccount.btn:hover .bl, div#thdMyAccount.btn:hover .br, #nav #hd-deptNav:hover .bl, #nav #hd-deptNav:hover .br, .homepage #nav #hd-deptNav .bl, .homepage #nav #hd-deptNav .br, #dept-search:hover .bl {display: none;}

/********************************** Common Styles for table and mobile header ************************************/
#mobileHeader, #mobileFooter{display:none;}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	body[class*="transparentHT"] .container_30 .tophat, body[class*="transparentHT"] .container_30 div#thdUtils, body[class*="transparentHT"] .container_30 div.topNav, body[class*="transparentHT"] .container_30 div.headerNav, body[class*="transparentHT"] .container_30 div#header, body[class*="transparentHT"] .container_30 form#searchBoxForm #dept-dropdown{display: none;}
	body[class*="transparentHT"] .container_30 div#main-nav-dropdown{margin-top:3px;}
	body[class*="transparentHT"] .container_30 a img.logo{width: 60px;margin-left:3%;}
	body[class*="transparentHT"] .container_30 img.logo, body[class*="transparentHT"] .container_30 #lblSearch{margin-left: 10px !important;}
	body[class*="transparentHT"] .container_30 #nav #hd-deptNav{margin-left:0px!important;}
	body[class*="transparentHT"] .container_30 div#nav.grid_30{width: auto;}
	body[class*="transparentHT"] .container_30 div#header{width:10%;}
	body[class*="transparentHT"] .container_30 #mobileHeader, body[class*="transparentHT"] .container_30 #header .headerTop, body[class*="transparentHT"] .container_30 .hdLogo{display: block;}
	body[class*="transparentHT"] .container_30 #mobileFooter, body[class*="transparentHT"] .container_30 .footer{display:none;}

	/**********************************Flyout and  Nav************************************/
	body[class*="transparentHT"] .container_30 div.headerNav, body[class*="transparentHT"] .container_30 #nav #hd-deptNav, body[class*="transparentHT"] .container_30 ul#hd-deptNav li a.sad{width: auto; height: auto;}
	body[class*="transparentHT"] .container_30 div.topNav{margin:  0 10px 0 0;}
	body[class*="transparentHT"] .container_30 li.no-link:hover ul.switches, body[class*="transparentHT"] .container_30 .homepage .switches, body[class*="transparentHT"] .container_30 li.no-link:hover ul.switches, body[class*="transparentHT"] .container_30 #main-nav-dropdown:hover ul.switches, body[class*="transparentHT"] .container_30 .homepage .switches, body[class*="transparentHT"] .container_30 .exposed .switches{display: none;}
	body[class*="transparentHT"] .container_30 ul#hd-deptNav li a.sad:hover{border-radius: 3px;}
	body[class*="transparentHT"] .container_30 #nav .btn-orange, body[class*="transparentHT"] .container_30 #nav input.btn-orange, body[class*="transparentHT"] .container_30 .btn-orange:hover, body[class*="transparentHT"] .container_30 #nav input.btn-orange:hover{background: none;}
	body[class*="transparentHT"] .container_30 #searchButton.btn{width:32px;height:auto !important;}
	body[class*="transparentHT"] .container_30 #divSearchBtn{width:auto;}
	body[class*="transparentHT"] .container_30 ul#hd-deptNav li a{display:none;}
	body[class*="transparentHT"] .container_30 #main-navigation a.sad img{float: left;width: 118px;position: relative;-webkit-transform: translate3d(0,0,0);width: 104px;height: 35px;border-radius: 3px 3px 3px 3px;}
	body[class*="transparentHT"] .container_30 #main-navigation .sad{float:left;}

	 /****************************************menu icons************************************/

	body[class*="transparentHT"] .container_30  .nav-btns i[class^="icon-"], body[class*="transparentHT"] .container_30  .nav-btns i[class*="icon-"], body[class*="transparentHT"] .container_30  .nav-btns i[class|="icon-"] {width: 30px;height: 24px;margin-bottom: 5px;}
	body[class*="transparentHT"] .container_30  .nav-btns i[class^="icon-"],body[class*="transparentHT"] .container_30  .nav-btns i[class*="icon-"],body[class*="transparentHT"] .container_30  .nav-btns i[class|="icon-"] {	width: 30px;	height: 24px;	margin-bottom: 5px;}
	body[class*="transparentHT"] .container_30  .nav-btns li:last-child {	padding-right: 0;	border-left: 1px solid #EEE;}
	body[class*="transparentHT"] .container_30  .nav-btns li:first-child {	padding-left: 0;}
	body[class*="transparentHT"] .container_30  .how-to-icon {	background-position: right 30px;}
	body[class*="transparentHT"] .container_30 .icon-pdf {background-image: url("../../../images/halflings.png"); background-position: right 256px;}
	body[class*="transparentHT"] .container_30 .icon-thd-logo {	background-position: 0px 0px;}
	body[class*="transparentHT"] .container_30 .icon-howto {	background-position: -40px -103px;}
	body[class*="transparentHT"] .container_30 .icon-localad {	background-position: -82px -154px;}
	body[class*="transparentHT"] .container_30 .icon-storeFinder {	background-position: -41px -161px;}
	body[class*="transparentHT"] .container_30 .icon-myAccount {	background-position: -80px -88px;}
	body[class*="transparentHT"] .container_30 .icon-myList {	background-position: 0px -89px;}
	body[class*="transparentHT"] .container_30 .icon-cart {	background-position: -75px -28px;}
	body[class*="transparentHT"] .container_30 .icon-more {	background-position: -3px -131px;}
	body[class*="transparentHT"] .container_30 .icon-search { background-position: -3px -131px;height: 25px;width: 31px;}
	body[class*="transparentHT"] .container_30 .icon-down-arrow-white {	background-position: -25px -185px;}
	body[class*="transparentHT"] .container_30 .icon-carrot-orange {	background-position: -28px -155px;	width: 10px;	height: 15px;}
	body[class*="transparentHT"] .container_30 .icon-carrot-white {	background-position: -28px -173px;}
	/*Mobile GHF styles end*/
}


/*************************************************** Tablet Portrait View **************************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	body[class*="transparentHT"] .container_30 div#dept-search {margin-right:0;width:223px;height:33px;/*portrait*/}
	body[class*="transparentHT"] .container_30 div#divSearchbox {width:75%;}
	body[class*="transparentHT"] .container_30 #divSearchbox input#searchFocus {padding: 11px 7px;width: 100%;}
	body[class*="transparentHT"] .container_30 #searchBoxForm fieldset#search-cntr {width:100%;}
	body[class*="transparentHT"] .container_30 #lblSearch {font-size:10px; white-space: nowrap;text-overflow: ellipsis;}
	body[class*="transparentHT"] .container_30 span.firstword {display:none;}
	body[class*="transparentHT"] .container_30 span.lastword {display:block;}
	body[class*="transparentHT"] .container_30 ul.nav-btns {margin-right: 1%;}
	body[class*="transparentHT"] .container_30 div.mobHeader {display:inline;}
	body[class*="transparentHT"] .container_30 #main-navigation a.sad {margin-left:0;}

}

/*************************************************** Tablet Landscape View **************************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	body[class*="transparentHT"] .container_30 div#dept-search {margin-right:0;width:223px;height:33px;/*landscape*/}
	body[class*="transparentHT"] .container_30 div#divSearchbox {width:80%;}
	body[class*="transparentHT"] .container_30 #divSearchbox input#searchFocus {padding: 11px 7px;width: 100%;}
	body[class*="transparentHT"] .container_30 #searchBoxForm fieldset#search-cntr {width:100%;}
	body[class*="transparentHT"] .container_30 span.firstword {display:inline-block;}
	body[class*="transparentHT"] .container_30 span.lastword {display:none;}
}

/*************************************************** Tablet Styles  **************************************/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	body[class*="transparentHT"] .container_30 .container_30{width: 100%;}
	body[class*="transparentHT"] .container_30 .grid_30{width: 100%;}
	body[class*="transparentHT"] .container_30 #header .headerTop{display:none;}

	/**********************************Flyout and  Nav************************************/

	body[class*="transparentHT"] .container_30 span.sadTablet{display:block;font-size:12px !important;}
	body[class*="transparentHT"] .container_30 #dept-search{width:25%;border:1px solid #BBBBBB;background-color:#FFFFFF;border-radius:2px;}
	body[class*="transparentHT"] .container_30 #main-navigation a.sad img{padding-top: 14px;}

	/****************************************Search************************************/

	body[class*="transparentHT"] .container_30 #divSearchbox input#searchFocus{height: 11px;}
	body[class*="transparentHT"] .container_30 #dept-search{min-width: 0; border-left:solid 1px #ccc;height:36px; font-size:11px;border-right:solid 1px #ccc;float:left; margin-right: 10px;margin-top:14px;width:auto;}
	body[class*="transparentHT"] .container_30 #lblSearch{font-size: 11px;margin-left: 15px;padding-top: 0;}
	body[class*="transparentHT"] .container_30 .labelRemove {position: absolute;margin: 10px 0 0 15px;padding-right: 4px;}
	body[class*="transparentHT"] .container_30 #searchButton .icon-search { background-image: url("../../../images/mobile/images/mobile-halflings.png");background-repeat: no-repeat;background-size: 279px 239px;background-position: right -191px;}

	/****************************************menu icons************************************/

	body[class*="transparentHT"] .container_30 li.seperator{border:0 1px 0px 1px solid #BBBBBB;width:5px; }
	body[class*="transparentHT"] .container_30 ul.nav-btns{margin-right:3%;width:52%;float:right;}
	body[class*="transparentHT"] .container_30 ul.nav-btns li{display:inline;float:right;text-align:center; display: inline-block;vertical-align: text-top;font-size:11px; width:14%; border-right:1px solid #BBBBBB;margin-bottom:10px; }
	body[class*="transparentHT"] .container_30 li#nav-how-to{border-left:1px solid #BBBBBB;}
	body[class*="transparentHT"] .container_30 ul.nav-btns li{margin-top:10px;}
	body[class*="transparentHT"] .container_30 ul.nav-btns li span.fullword{display:block;}
	body[class*="transparentHT"] .container_30 #header{background: -moz-linear-gradient(top, #FAF8F6 0%, #FAF8F6 100%);	background:webkit-gradient(linear, left top, left bottom,color-stop(0%,#FAF8F6), color-stop(100%,#FAF8F6));	background-color:#FAF8F6;display: block;	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	padding: 10px 0 19px 0;	margin: 0px !important;	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);	top: 0;	left: 0;	}
	body[class*="transparentHT"] .container_30 div#main-navigation{font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; padding: 10px 0 10px 0;	margin-bottom: 0px;background-color:#FAF8F6;box-shadow: 0 1px 5px #aaa;box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);	height: 82px;}
	body[class*="transparentHT"] .container_30 #nav{position: absolute;top: 10px;left: 188px;}
	body[class*="transparentHT"] .container_30 #mcartnum span {	background-color:#F96302;	color:#FFF;	font-size:10px;	font-weight:bold;	padding:1px 2px;	-moz-border-radius:4px;	-webkit-border-radius:4px;	border-radius:4px;	border:2px solid #FFF;	position: absolute;	top: 17px;}
}

/*======================================= MOBILE Header Footer Styles ============================================ */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	div#mobileHeader, body[class*="transparentHT"] .container_30 div#mobileFooter #navFooter{background-color: #ffffff !important;} /*originally was in themes.css,introduced while reverting the HTML5 tags to HTML4 tags*/
	body[class*="transparentHT"] .container_30 div#main-navigation, body[class*="transparentHT"] .container_30 div#mobileHeader, body[class*="transparentHT"] .container_30 div#mobileFooter{width:320px;margin:0 auto;}
	body[class*="transparentHT"] .container_30 span.fullword{display:none;}
	body[class*="transparentHT"] .container_30 ul.nav-btns li{display:none;}
	body[class*="transparentHT"] .container_30 ul.nav-btns{float:left;width:70%;}
	body[class*="transparentHT"] .container_30 ul.nav-btns li{float:right;width:30%;margin-bottom: 10px;text-align:center;margin-top:4px;font-size:11px; border-right:1px solid #BBBBBB;margin-bottom:10px;}
	body[class*="transparentHT"] .container_30 ul.nav-btns li#nav-cart,body[class*="transparentHT"] .container_30 li#nav-my-account,body[class*="transparentHT"] .container_30 li#nav-store-finder, body[class*="transparentHT"] .container_30 li#nav-store-finder span.fullword,body[class*="transparentHT"] .container_30 li#nav-my-account span.fullword,body[class*="transparentHT"] .container_30 li#nav-cart span.fullword{display:inline-block;}
	body[class*="transparentHT"] .container_30 li#nav-store-finder span.firstword{display:none;}
	body[class*="transparentHT"] .container_30 li#nav-cart{border-right:none;}
	body[class*="transparentHT"] .container_30 li#nav-my-account span.firstword{display:none;}
	body[class*="transparentHT"] .container_30 div#main-nav-dropdown li a.sad{display:none;}
	body[class*="transparentHT"] .container_30 #dept-search{min-width: 0; border-left:solid 1px #ccc;width:181px;height:33px;font-size:11px;border-right:solid 1px #ccc;margin: 0;}
	body[class*="transparentHT"] .container_30 #main-navigation a.sad{padding:10px;width: 300px;background-color: #fff;}
	body[class*="transparentHT"] .container_30 div.mobHeader{display: block;font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;background-color:#FAF8F6 !important;box-shadow: 0 1px 5px #aaa;box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);height:59px;top: 0;left: 0;}
	body[class*="transparentHT"] .container_30 #nav{box-shadow: none !important;background-color:none !important;position: absolute;left: 124px;top:69px;padding-bottom:0px;}

	/****************************************Search************************************/
	body[class*="transparentHT"] .container_30 #lblSearch{font-size: 11px;margin-left: 15px;padding-top: 0;}
	body[class*="transparentHT"] .container_30 .labelRemove {position: absolute;margin: 10px 0 0 15px;padding-right: 4px;}
	body[class*="transparentHT"] .container_30 #searchButton .icon-search { background-image: url("../../../images/mobile/images/mobile-halflings.png");background-repeat: no-repeat;background-size: 279px 239px;background-position: right -191px;}
	body[class*="transparentHT"] .container_30 #divSearchbox input#searchFocus{padding: 11px 7px;width: 100%;height: 11px;}
	body[class*="transparentHT"] .container_30 #searchBoxForm fieldset#search-cntr{width:100%;}
	body[class*="transparentHT"] .container_30 div#divSearchbox{width:75%;}

	/************* Footer - Start ********************/

	body[class*="transparentHT"] .container_30 #mobileFooter{display:block;}
	body[class*="transparentHT"] .container_30 #mobileFooter .btns > li > a:first-child, body[class*="transparentHT"] .container_30 #mobileFooter .btns>li > div:first-child, body[class*="transparentHT"] .container_30 #mobileFooter div.btns {  cursor: pointer;  display: table-cell;  width: 320px;  height: 40px;  vertical-align: middle;  padding:0 10px;}
	body[class*="transparentHT"] .container_30 #mobileFooter #navFooter {  padding: 10px 0 20px 0;  float: left;}
	body[class*="transparentHT"] .container_30 #mobileFooter #navFooter ul#floor {  text-align: center;}
	body[class*="transparentHT"] .container_30 #mobileFooter #navFooter ul#floor li {  display: inline-block;  width: 18%;  height: 12px;       border-right: 1px solid #999;  }
	body[class*="transparentHT"] .container_30 #mobileFooter #navFooter ul#floor li:last-child {  border-right: none;}
	body[class*="transparentHT"] .container_30 #mobileFooter #navFooter ul#floor li a {  display: block;  color: #666666;  width: 100%;  height: 12px;  font-size: 12px;  vertical-align: text-top;  text-decoration: none;}
	body[class*="transparentHT"] .container_30 #mobileFooter #navFooter {    float: left;    padding: 0 0 20px; margin-top: 10px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .btns {    font-size: 18px;}
	body[class*="transparentHT"] .container_30 #mobileFooter ul {    list-style: none outside none;}
	body[class*="transparentHT"] .container_30 #mobileFooter .white .white li:last-child {    border-bottom: medium none;}
	body[class*="transparentHT"] .container_30 #mobileFooter .white > li:first-child {    border-top: 1px solid #CCCCCC;}
	body[class*="transparentHT"] .container_30 #mobileFooter section .white > li:not(:last-child), body[class*="transparentHT"] .container_30 #mobileFooter #navFooter .white > li, body[class*="transparentHT"] .container_30 #mobileFooter li.white, body[class*="transparentHT"] .container_30 #mobileFooter li.white_btn {   border-bottom: 1px solid #CCCCCC;}
	body[class*="transparentHT"] .container_30 #mobileFooter section .white > li:not(:last-child) a, body[class*="transparentHT"] .container_30 #mobileFooter #navFooter .white > li a:hover, body[class*="transparentHT"] .container_30 #mobileFooter li.white a:hover, body[class*="transparentHT"] .container_30 #mobileFooter li.white_btn a:hover {    text-decoration: none;}
	body[class*="transparentHT"] .container_30 #mobileFooter .btns > li {    background: none repeat scroll 0 0 transparent;    border: medium none;    min-height: 40px;    padding: 0;}
	body[class*="transparentHT"] .container_30 #mobileFooter .btns > li > a:first-child, body[class*="transparentHT"] .container_30 #mobileFooter .btns > li > div:first-child, body[class*="transparentHT"] .container_30 #mobileFooter div.btns {    cursor: pointer;    display: table-cell;    height: 40px;    padding: 0 10px;    vertical-align: middle;    width: 320px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .carrot {    background-position: right -295px;    padding-right: 20px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .icon, body[class*="transparentHT"] .container_30 #mobileFooter .arrow, body[class*="transparentHT"] .container_30 #mobileFooter .carrot, body[class*="transparentHT"] .container_30 #mobileFooter .plus, body[class*="transparentHT"] .container_30 #mobileFooter .minus, body[class*="transparentHT"] .container_30 #mobileFooter .cart, body[class*="transparentHT"] .container_30 #mobileFooter .account, body[class*="transparentHT"] .container_30 #mobileFooter .location, body[class*="transparentHT"] .container_30 #mobileFooter .video, body[class*="transparentHT"] .container_30 #mobileFooter .phone, body[class*="transparentHT"] .container_30 #mobileFooter .head, body[class*="transparentHT"] .container_30 #mobileFooter .android, body[class*="transparentHT"] .container_30 #mobileFooter .iPhone, body[class*="transparentHT"] .container_30 #mobileFooter .close, body[class*="transparentHT"] .container_30 #mobileFooter .tel, body[class*="transparentHT"] .container_30 #mobileFooter .sms, body[class*="transparentHT"] .container_30 #mobileFooter .radio, body[class*="transparentHT"] .container_30 #mobileFooter .carrots a, body[class*="transparentHT"] .container_30 #mobileFooter .carrot a, body[class*="transparentHT"] .container_30 #mobileFooter .bulettedList li { background-image: url("../../../images/mobile/images/Mobile_Sprite.png");    background-repeat: no-repeat;    background-size: 94px 645px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .arrow {    background-position: right -480px;    padding-right: 30px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .head {    background-position: right -415px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .head.open {    background-position: right -355px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .btns .icon {    display: inline-block;    height: 30px;  margin-right: 10px;  vertical-align: middle; width: 30px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .bold, body[class*="transparentHT"] .container_30 #mobileFooter .B, body[class*="transparentHT"] .container_30 #mobileFooter .b {    font-weight: bold;}
	body[class*="transparentHT"] .container_30 #mobileFooter a {    color: #333333;    text-decoration: none;}
	body[class*="transparentHT"] .container_30 #mobileFooter .txtColor4 {    color: #666666 !important;}
	body[class*="transparentHT"] .container_30 #mobileFooter .norm, body[class*="transparentHT"] .container_30 .N {    font-weight: normal;}
	body[class*="transparentHT"] .container_30 #mobileFooter .small, body[class*="transparentHT"] .container_30 .fs12 {    font-size: 12px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .standard, body[class*="transparentHT"] .container_30 .fs14 {    font-size: 14px !important;}
	body[class*="transparentHT"] .container_30 #mobileFooter .pad-top {    margin-top: 10px;}
	body[class*="transparentHT"] .container_30 #mobileFooter .noBg {  background-image: none !important;}
	/***************** Footer - End**************************/  

	body[class*="transparentHT"] .container_30 #mcartnum span {background-color:#F96302;	color:#FFF;	font-size:10px;	font-weight:bold;	padding:1px 2px;	-moz-border-radius:4px;	-webkit-border-radius:4px;	border-radius:4px;	border:2px solid #FFF;	position: absolute;	top: 0px;}
	body[class*="transparentHT"] .container_30 #mcartnum{margin-right: 18px;}

    /******************* Responsive Content Styles *****************/
    body[class*="transparentHT"] .container_30, body[class*="transparentHT"] .container_30 .grid_30, body[class*="transparentHT"] .container_30 .grid_24, body[class*="transparentHT"] .container_30 .grid_18, body[class*="transparentHT"] .container_30 .grid_12, body[class*="transparentHT"] .container_30 .grid_10, body[class*="transparentHT"] .container_30 .grid_6, body[class*="transparentHT"] .container_30 .vertical-navigation, body[class*="transparentHT"] .container_30 .related-resource-accordion{width: 320px; overflow: hidden;}
    body[class*="transparentHT"] .container_30 .grid_8{width: 50%;}
    body[class*="transparentHT"] .container_30 .content_image > img, body[class*="transparentHT"] .container_30 .content_image > a img {width: 100%;}
    
    body[class*="transparentHT"] .container_30 div#mobileHeader, body[class*="transparentHT"] .container_30 div#mobileFooter footer{background-color: #ffffff !important;}
    body[class*="transparentHT"] .container_30 .pod{height: auto !important;}                                
                           
}



