#monitor-page .important, #coupons-page .important {
  text-align: left; }
#monitor-page .warning, #coupons-page .warning {
  color: #F00; }
#monitor-page .ok, #coupons-page .ok {
  color: #78A300; }
#monitor-page #subscription_audit_message, #coupons-page #subscription_audit_message {
  width: 95%; }
#monitor-page input[type="submit"], #coupons-page input[type="submit"] {
  margin: 10px 0 0 0; }
#monitor-page ul.account_information, #monitor-page ul.coupon_information, #coupons-page ul.account_information, #coupons-page ul.coupon_information {
  float: left;
  min-width: 300px;
  list-style: none;
  margin: 0 20px 5px -10px;
  padding-left: 1em; }
  #monitor-page ul.account_information li, #monitor-page ul.coupon_information li, #coupons-page ul.account_information li, #coupons-page ul.coupon_information li {
    font-size: 13px;
    color: #000; }
  #monitor-page ul.account_information h3, #monitor-page ul.coupon_information h3, #coupons-page ul.account_information h3, #coupons-page ul.coupon_information h3 {
    font-weight: bold;
    color: #333 !important;
    border-bottom: solid 1px #999; }
  #monitor-page ul.account_information h4, #monitor-page ul.coupon_information h4, #coupons-page ul.account_information h4, #coupons-page ul.coupon_information h4 {
    font-size: 15px;
    color: #888;
    font-weight: bold; }
#monitor-page ul#audits, #coupons-page ul#audits {
  margin: 0 10px 0 0;
  padding: 0 0 0 0;
  list-style: none; }
  #monitor-page ul#audits li, #coupons-page ul#audits li {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    background-color: #FFF; }
  #monitor-page ul#audits li.comment, #coupons-page ul#audits li.comment {
    border: solid 1px #78A300; }
  #monitor-page ul#audits .created_at, #coupons-page ul#audits .created_at {
    float: left;
    font-weight: bold; }
  #monitor-page ul#audits .actor, #coupons-page ul#audits .actor {
    float: right; }
  #monitor-page ul#audits .message, #coupons-page ul#audits .message {
    clear: both; }
#monitor-page .number_table, #coupons-page .number_table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  clear: left;
  position: relative;
  width: 98%;
  margin-top: 5px; }
  #monitor-page .number_table thead, #coupons-page .number_table thead {
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #C2C2C2;
    background: #dcdcdc url(../../images/views_table_header_background.png) top left repeat-x;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #dbd7db), color-stop(0.6, #e8e8e8)); }
  #monitor-page .number_table thead th, #coupons-page .number_table thead th {
    font-weight: bold; }
  #monitor-page .number_table thead th a, #coupons-page .number_table thead th a {
    color: #333;
    text-shadow: white -0.5px 1px; }
  #monitor-page .number_table thead th.arrow a, #coupons-page .number_table thead th.arrow a {
    display: block;
    background: url(../../images/table-arrow.png) no-repeat 85px 6px; }
  #monitor-page .number_table td, #monitor-page .number_table th, #coupons-page .number_table td, #coupons-page .number_table th {
    padding: 7px 0 7px 7px;
    color: #333;
    text-align: left;
    white-space: nowrap;
    line-height: 15px; }
  #monitor-page .number_table td, #coupons-page .number_table td {
    border-bottom: 1px solid #E6E6E6; }
  #monitor-page .number_table tbody tr.closed td, #coupons-page .number_table tbody tr.closed td {
    color: #999; }
  #monitor-page .number_table tr.group_by td, #coupons-page .number_table tr.group_by td {
    background-color: #ebebeb;
    text-shadow: white -0.4px 1px;
    border-bottom: 2px solid #DDD;
    padding-bottom: 5px; }
  #monitor-page .number_table tr.linked, #coupons-page .number_table tr.linked {
    cursor: pointer;
    font-size: 12px; }
  #monitor-page .number_table tr.linked:nth-child(2n+1), #monitor-page .number_table tr.zebra:nth-child(2n+1), #coupons-page .number_table tr.linked:nth-child(2n+1), #coupons-page .number_table tr.zebra:nth-child(2n+1) {
    background-color: #F6F6F6; }
  #monitor-page .number_table tr.linked:hover > td, #monitor-page .number_table tr.linked:active > td, #coupons-page .number_table tr.linked:hover > td, #coupons-page .number_table tr.linked:active > td {
    color: #1a6690;
    background-color: #eaf9ff; }
  #monitor-page .number_table td.description span, #coupons-page .number_table td.description span {
    overflow: hidden;
    display: block;
    height: 15px;
    white-space: normal; }
  #monitor-page .number_table th.checkbox, #coupons-page .number_table th.checkbox {
    padding-right: 7px;
    width: 12px; }
  #monitor-page .number_table input, #coupons-page .number_table input {
    margin: 0; }

#account-actions .button-to {
  padding: 0 20px 0 0;
  float: left; }
#coupons {
  border-collapse: collapse; }
  #coupons thead + tbody, #coupons tbody + tfoot {
    margin-top: 8px; }
  #coupons th, #coupons td {
    margin: 0;
    padding: 4px 5px;
    text-align: left; }
  #coupons th + th, #coupons td + td {
    padding-left: 16px; }
  #coupons th.edit, #coupons td.edit {
    padding-left: 45px; }
    #coupons th.edit a, #coupons td.edit a {
      visibility: hidden; }
  #coupons tbody tr:nth-child(even) {
    background-color: #eee; }
table.sponsorship-details {
  width: 90%;
  background-color: #FFF;
  font-size: 13px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #DDD; }

table.sponsorship-details th, table.sponsorship-details td {
  padding: 3px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #DDD; }

table.sponsorship-details th {
  background-color: #EAEAEA; }

.invoices .invoicing-link {
  font-size: 14px;
  padding: 3px 6px; }
table.payment-details th {
  width: 15%; }

table.payment-details td textarea {
  width: 90%; }
div#zuora-subscriptions {
  width: 90%; }
  div#zuora-subscriptions div#index-links {
    float: right;
    margin-top: 16px; }
  div#zuora-subscriptions table {
    width: 100%;
    border-spacing: 0;
    padding: 0;
    margin: 10px 0;
    background-color: #FFF; }
    div#zuora-subscriptions table th {
      text-align: center;
      padding: 4px; }
    div#zuora-subscriptions table td {
      text-align: center;
      padding: 8px 4px; }
    div#zuora-subscriptions table td.numeric {
      text-align: right; }
    div#zuora-subscriptions table td.changed-field {
      color: #cc0000; }
    div#zuora-subscriptions table tr:nth-child(odd) {
      background-color: #FAFAFA; }
    div#zuora-subscriptions table tr:nth-child(even) {
      background-color: #FFF; }

div#zuora-subscription h3 {
  margin: 15px 0 2px 0; }
div#zuora-subscription div input[type="button"], div#zuora-subscription div input[type="submit"] {
  float: right;
  margin: 2px 16px 2px 0;
  font-size: 0.9em; }
div#zuora-subscription ul {
  padding: 0 0 0 0;
  list-style: none;
  border-top: solid 1px #999; }
  div#zuora-subscription ul li {
    text-align: right; }
    div#zuora-subscription ul li strong {
      float: left; }

ul#zuora-subscription-audit {
  text-size: 0.9em;
  list-style: none;
  padding: 0;
  margin: 0; }
  ul#zuora-subscription-audit li {
    margin: 0;
    padding: 6px 0;
    border-bottom: solid 1px #FFF; }
  ul#zuora-subscription-audit div.audit {
    padding: 2px 0 0 0; }
body.payments .payment-details th {
  padding: 3px 15px 3px 0; }

body.payments .payment-details td {
  padding: 3px 10px; }

body.payments .payment-nav {
  font-size: 14px; }

body.payments .payment-status-pending {
  font-weight: bold;
  color: #333; }

body.payments .payment-status-paid {
  font-weight: bold;
  color: #0C0; }

body.payments .receipt-box {
  float: left;
  width: 500px; }

body.payments .status-box {
  float: right;
  width: 100px;
  text-align: right; }

body.payments .order-line {
  font-size: 14px;
  padding-bottom: 3px; }

body.payments .payment-period {
  color: #555;
  font-weight: bold; }
.indexed {
  background-color: green;
  color: white; }
  .indexed.not {
    background-color: red; }

.indexable {
  text-align: center; }
#container .features code.symbol:before {
  content: ":"; }
#container .features {
  border-collapse: collapse; }
#container .features thead tr:last-child th {
  border-bottom: 1px solid; }
#container .features tfoot tr:first-child th {
  border-top: 1px solid; }
#container .features th, #container .features td {
  margin: 0;
  padding: 0.5em 1.5em;
  text-align: left; }
#container input.deployment_percentage[type=range] {
  width: 200px; }
#container output.deployment_percentage.no_js {
  display: none; }
#container output.deployment_percentage {
  margin-left: 1em; }
#container output.deployment_percentage:after {
  content: "%"; }
#container .features a[rel=edit] {
  visibility: hidden; }
#container .features tr:hover a[rel=edit] {
  visibility: inherit; }
#container .features tfoot th {
  text-align: right; }
#container .features tfoot th input {
  margin-left: 2em; }
#container .feature_new label, #container .feature_edit label {
  font-weight: bold; }
#container .feature_new label, #container .feature_new .errors,
#container .feature_edit label, #container .feature_edit .errors {
  display: block; }
#container .feature_new label + input, #container .feature_new label + textarea, #container .feature_new label + select,
#container .feature_edit label + input, #container .feature_edit label + textarea, #container .feature_edit label + select {
  margin-top: 0.5em; }
#container .feature_new input + label, #container .feature_new textarea + label, #container .feature_new select + label,
#container .feature_edit input + label, #container .feature_edit textarea + label, #container .feature_edit select + label {
  margin-top: 1.5em; }
#container .feature_new input[type=text], #container .feature_edit input[type=text] {
  padding: 0.5em; }
#container .feature_new input.symbol, #container .feature_edit input.symbol {
  background: transparent url("../../images/semicolon.png") no-repeat 3px 4px;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  padding-left: 9px; }
#container .feature_new .errors, #container .feature_edit .errors {
  color: red; }
#container .feature_new :invalid {
  border-color: red; }
#container .feature_new footer, #container .feature_edit footer {
  margin-top: 2em; }
#container .arturo.features {
  border-collapse: collapse; }
  #container .arturo.features tbody tr:nth-child(even) {
    background-color: #F4F4F4; }
  #container .arturo.features tbody tr:nth-child(odd) {
    background-color: #fff; }
  #container .arturo.features td, #container .arturo.features th {
    padding: 6px 12px; }
  #container .arturo.features tfoot th {
    padding-top: 12px;
    text-align: right; }
    #container .arturo.features tfoot th a + input {
      margin-left: 30px; }
/*










 */
