.accordion_div h3{
	border-top: 1px dotted #CCCCCC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 10px;
	outline:none;}
.accordion_div, #holder {width:680px;margin-left: 10px;}
.accordion_div {margin-top:12px; margin-bottom:12px;}
.boxik {border: 1px solid #CCCCCC;
    color: #006699;
    float: left;
    height: 9px;
    line-height: 9px;
    margin-right: 10px;
    text-align: center;
    width: 9px;}
.accordion_div span { 
	line-height:14px;}
.accordion_div .ui-accordion-content{
	margin-left:22px;
	line-height: 1.35;}
.accordion_div .ui-accordion-content ol{padding-left:20px;}
.accordion_div h3:first-child {border:none;}
.browsers { 
	width:680px; 
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc; 
	padding-bottom:10px; 
	padding-top:10px;
	margin-bottom: 10px;}
.browsers_icons {
    background: none repeat scroll 0 0 #F4F3F0;
    display: inline-block;
    padding: 12px;
	padding-bottom: 0px;
}
.ie7 h3 a:active, .ie7 h3 a:focus { outline: none; -moz-outline-style: none; }
.ie7 .browsers_icons {float:left; width:320px;}
.ie7 .browsers_icons ul {width:320px; margin-left:-5px;}
.browsers_icons ul {    
    float: left;
    list-style: none outside none;

	padding:0;
    position: relative;}
.browsers_icons ul li{ 
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: top;
    width: 70px;}
.browsers_text {    
    color: #333333;
    float: right;
    position: relative;
    width: 300px;}
	.content_text {
    padding-bottom: 12px;
    padding-top: 12px;}
	.content_text_noline {
    padding-bottom: 12px;
}
.content_text_noline ol li p{font-weight: normal;}
.content_text h4{ padding: 0 0 4px;}
.accordion_div .ui-state-active .ui-icon:after {content: "-";font-size: 14px;line-height: 8px;}
.accordion_div .ui-state-default .ui-icon:before {content: "+";}
.ie7 .ui-state-default div.ui-icon-plus {background: url(http://aka.weightwatchers.com/css/images/ie_plus.png);} 
.ie7 .ui-state-active div.ui-icon-minus{background-image:url(http://aka.weightwatchers.com/css/images/ie_minus.png);} 

.right_nav {    
    float: right;
    position: relative;
    right: 30px;
}
.right_nav ul {list-style:none;padding-left: 0;}
.right_nav ul li {padding-bottom:10px;}
.right_nav a{line-height:14px;}	
.SolidDivider{
border-top: 1px solid #CCCCCC;
}

#embedded_narrow_pages_960_container
{
	width:955px;
}