@charset "utf-8";
/* CSS Document */

.ndn_thumbContainer{
	display:block;
	position:relative;
	top:0px;
	left:0px;
	z-index:10;
	background-color:#FFF;
	overflow:hidden;
}

.ndn_player{
	text-align:center;
	overflow:hidden;
}

.ndn_adchoice{
	top:-40px;
	left:0px;
	position:relative;
	display:inline-block;
	z-index:80;
	visibility:hidden;
}

.ndn_countdown{
	visibility:hidden;
	font-size:12px;
	left:0px;
	width:300px;
	text-align:right;
	z-index:81;
	position:relative;
	color:white;
	background-color:black;
	opacity:0.6;
	filter: alpha(opacity=60);
}

.ndn_thumb_ad{
	top:-190px;
	left:280px;
	float:left;
	position:relative;
	display:inline-block;
	z-index:90;
	visibility:hidden;
}

.ndn_thumbScroller{
	margin:0px auto;
	position:relative;
	display:block;
	z-index:21;
	top:-2px;
	background-color:#FFF;
	width:300px;
	height:88px;
	overflow:hidden;
}

.ndn_thumbScroller2{
	margin:0px auto;
	position:relative;
	display:block;
	z-index:20;
	top:0px;
	background-color:#000;
	width:300px;
}

/* 300x250 sliding thumbnail launcher */

.ndn_sliderthumb{
	overflow:hidden;
	position:relative;
	display:inline-block;
	width:300px;
	height:250px;
	z-index:0;
	cursor:pointer;
}

.ndn_sliderthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_sliderthumbimg{
	position:relative;
	display:inline;
	height:200px;
	width:300px;
	background-color:#000000;
	z-index:15;
}

.ndn_sliderhoverimage { 
	position: relative;
	display: inline-block;
	margin:10px;
	float:left;
	vertical-align:top;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_sliderhovertext {
	position:relative;
	display:inline-block;
	float:left;
	margin-top:10px;
	height:30px;
	_height:30px;
	text-align:left;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
	width:150px;
}

.ndn_sliderhovertext a:link{
	color:#FFF;
}

.ndn_sliderhovertext a:visited{
	color:#FFF;
}

.ndn_sliderhoverlogo{
	position:relative;
	margin-top:10px;
	display:inline;
	float:right;
	margin-right:3px;
}

.ndn_sliderScroll{
	padding-left:257px;	
}

/* 300x250 ap sliding thumbnail launcher */

.ndn_apsliderthumb{
	overflow:hidden;
	position:relative;
	display:inline-block;
	width:300px;
	height:250px;
	z-index:0;
	cursor:pointer;
}

.ndn_apsliderthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_apsliderthumbimg{
	/*position:relative;
	display:inline;
	height:250px;
	width:300px;
	background-color:#000000;
	top:-50px;
	z-index:15;*/
	
	position:relative;
	display:inline;
	height:200px;
	width:300px;
	background-color:#000000;
	z-index:15;
}

/*.ndn_apsliderhoverimage { 
	position: relative;
	display: inline-block;
	width:40px;
	height:40px;
	top:100px;
	left:100px;
	margin:10px;
	float:left;
	vertical-align:top;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}*/

.ndn_apsliderhoverimage { 
	position: relative;
	display: inline-block;
	margin:10px;
	float:left;
	vertical-align:top;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_apsliderhovertext {
	position:relative;
	display:inline-block;
	float:left;
	margin-top:10px;
	height:30px;
	/*left:-40px;*/
	text-align:left;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
	width:150px;
}

.ndn_apsliderhovertext a:link{
	color:#FFF;
}

.ndn_apsliderhovertext a:visited{
	color:#FFF;
}

.ndn_apsliderhoverlogo{
	position:relative;
	margin-top:10px;
	display:block;
	top:-250px;
	float:right;
	margin-right:13px;
	z-index:95;
	/* 
	position:relative;
	margin-top:10px;
	display:inline;
	float:right;
	margin-right:3px*/
}

.ndn_apsliderScroll{
	padding-left:137px;
	padding-left:257px;	
}

/* 160x600 vertical thumbnail launcher */

.ndn_verticalthumb{
	padding-bottom:0px;	
	position:relative;
	display:block;
	left:0px;
	top:0px;
	width:140px;
	height:114px;
	z-index:0;
	margin:0px auto;
	overflow:hidden;
	cursor:pointer;
	float:left
}

.ndn_verticalthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_verticalthumbimg{
	position:relative;
	display:inline-block;
	left:0px;
	background-color:#000000;
	z-index:15;
	width:140px;
	height:113px;
	top:-70px;
	float:left;
	
}

.ndn_verticalhoverimage { 
	position: relative; 
	left: 5px; 
	top: 5px;
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
	float:left;
}

.ndn_verticalhovertext {
	position:relative;
	display:inline-block;
	text-align:center;
	height:30px;
	width:140px;
	top:43px;
	float:left;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_verticalhovertext a:link{
	color:#FFF;
}

.ndn_verticalhovertext a:visited{
	color:#FFF;
}

.ndn_verticalScroll{
	display:inline-block;
}

/* 300x250 playlist grid launcher */

.ndn_plistthumb{
	padding-left:7px;	
	padding-bottom:5px;
	position:relative;
	display:inline-block;
	left:0px;
	top:15px;
	width:140px;
	height:105px;
	z-index:0;
	margin:0px auto;
	cursor:pointer;
}

.ndn_plistthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_plistthumbimg{
	position:relative;
	display:inline-block;
	left:0px;
	background-color:#000000;
	z-index:15;
	width:140px;
	height:105px;
	top:-70px;
	
}

.ndn_plisthoverimage { 
	position: relative; 
	left: 5px; 
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_plisthovertext {
	position:relative;
	display:inline-block;
	text-align:center;
	height:30px;
	width:140px;
	top:35px;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_plisthovertext a:link{
	color:#FFF;
}

.ndn_plisthovertext a:visited{
	color:#FFF;
}

.ndn_plistScroll{
	display:inline-block;
}

.ndn_playlistSelector{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	position:relative;
	display:inline-block;
	z-index:50;
}

.ndn_selector{
	position:relative;
	display:inline-block;
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	width:250px;
	float:left;
}

/* 300x250 headline launcher */

.ndn_headlinethumb{
	padding-bottom:5px;	
	position:relative;
	display:block;
	left:0px;
	top:5px;
	width:280px;
	height:15px;
	z-index:0;
	margin-left: 5px;
	cursor:pointer;
}

.ndn_headlinethumb a:link{ 
	 text-decoration:none;  
} 

.ndn_headlinethumbimg{
	position:relative;
	display:none;
	visibility:hidden;
	width:0px;
	height:0px;
	top:0px;
	
}

.ndn_headlinehoverimage { 
	position: relative; 
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
	top:5px;
}

.ndn_headlinehovertext {
	position:relative;
	display:inline-block;
	text-align:left;
	height:15px;
	top:-10px;
	font-size:12px;
	text-wrap:none;
	overflow:hidden;
	background-color:#FFFFFF;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#1C3651;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
	width:280px;
	left:20px;
	padding-left:5px;
}

.ndn_headlinehovertext a:link{
	color:#1C3651;
}

.ndn_headlinehovertext a:visited{
	color:#1C3651;
}

.ndn_headlinehovertext a:hover{
	color:#1C3651;
	text-decoration:underline;
}

.ndn_headlineScroll{
	display:inline-block;
}

/* 300x250 playlist grid launcher */

.ndn_horizontalthumb{
	padding-left:7.5px;	
	padding-bottom:5px;
	position:relative;
	display:inline-block;
	left:0px;
	top:15px;
	width:107px;
	height:80px;
	z-index:0;
	margin:0px auto;
	cursor:pointer;
}

.ndn_horizontalthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_horizontalthumbimg{
	position:relative;
	display:inline-block;
	left:0px;
	background-color:#000000;
	z-index:15;
	width:107px;
	height:80px;
	top:-70px;	
}

.ndn_horizontalhoverimage { 
	position: relative; 
	left: 5px; 
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_horizontalhovertext {
	position:relative;
	display:inline-block;
	text-align:center;
	height:30px;
	width:107px;
	top:10px;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_horizontalhovertext a:link{
	color:#FFF;
}

.ndn_horizontalhovertext a:visited{
	color:#FFF;
}

.ndn_horizontalScroll{
	height:90px;
	vertical-align:middle;
	display:inline-block;
}

/*horizontal500*/
.ndn_horizontal500thumb a:link{ 
	 text-decoration:none;  
} 

.ndn_horizontal500thumb{
	padding-left: 12px;
	padding-bottom:5px;
	position:relative;
	display:inline-block;
	left:0px;
	top:10px;
	width:114px;
	height:85px;
	z-index:0;
	margin:0px auto;
	cursor:pointer;
	float:left;
}

.ndn_horizontal500thumbimg{
	position:relative;
	display:inline-block;
	left:0px;
	background-color:#000000;
	z-index:15;
	width:114px;
	height:85px;
	top:-64px;	
}

.ndn_horizontal500hoverimage { 
	position: relative; 
	left: 5px; 
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_horizontal500hovertext {
	position:relative;
	display:inline-block;
	text-align:center;
	height:30px;
	width:114px;
	top:19px;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_horizontal500hovertext a:link{
	color:#FFF;
}

.ndn_horizontal500hovertext a:visited{
	color:#FFF;
}

/*horizontal400*/
.ndn_horizontal400thumb a:link{ 
	 text-decoration:none;  
} 

.ndn_horizontal400thumb{
	padding-left: 12px;	
	padding-bottom:5px;
	position:relative;
	display:inline-block;
	left:0px;
	top:11px;
	width:114px;
	height:85px;
	z-index:0;
	margin:0px auto;
	cursor:pointer;
	height:88px;
	float:left;
	/*height:82px;
	overflow:hidden;*/
}

.ndn_horizontal400thumbimg{
	position:relative;
	display:inline-block;
	left:0px;
	background-color:#000000;
	z-index:15;
	width:114px;
	height:85px;
	top:-74px;
	top:-64px;	
}

.ndn_horizontal400hoverimage { 
	position: relative; 
	left: 5px; 
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_horizontal400hovertext {
	position:relative;
	display:inline-block;
	text-align:center;
	height:30px;
	width:114px;
	top:19px;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_horizontal400hovertext a:link{
	color:#FFF;
}

.ndn_horizontal400hovertext a:visited{
	color:#FFF;
}

/* 300x250 horizontal launcher */

.ndn_hscrollthumb{
	padding-left:7.5px;	
	padding-bottom:5px;
	position:relative;
	display:inline-block;
	left:0px;
	top:-25px;
	width:140px;
	height:105px;
	z-index:0;
	margin:0px auto;
	cursor:pointer;
}

.ndn_hscrollthumb a:link{ 
	 text-decoration:none;  
} 

.ndn_hscrollthumbimg{
	position:relative;
	display:inline-block;
	left:0px;
	background-color:#000000;
	z-index:15;
	width:140px;
	height:105px;
	top:-110px;
	
}

.ndn_hscrollhoverimage { 
	position: relative; 
	left: 5px; 
	top:15px;
	display:inline-block;
	vertical-align:baseline;
  	filter:alpha(opacity=75);
 	-moz-opacity:0.75;
 	-khtml-opacity: 0.75;
  	opacity: 0.75;
	z-index:25;
}

.ndn_hscrollhovertext {
	position:relative;
	display:inline-block;
	text-align:center;
	height:90px;
	vertical-align:middle;
	top:90px;
	width:140px;
	font-size:12px;
	text-wrap:normal;
	overflow:hidden;
	background-color:#000000;
	filter:alpha(opacity=75);
	-moz-opacity::0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
	text-decoration:none;
}

.ndn_hscrollhovertext a:link{
	color:#FFF;
}

.ndn_hscrollhovertext a:visited{
	color:#FFF;
}

.ndn_hscrollScroll{
	display:inline-block;
}

/* General Config */
.ndn_thumbContainer #c2pimage{
	margin:0px auto;
}
.ndn_thumbContainer .c2pimage{
	position:relative;
	z-index:5;
}

.ndn_thumbControls{
	position:relative;
	display:block;
	z-index:30;
	margin:0px auto;
	top:-80px;
	text-align:left;
	text-decoration:none;
	float:left;
}

.ndn_viewAll{
	position:relative;
	display:inline-block;
	top:-5px;
	/*margin-left:10px;*/
	padding: 0px 7px;
	color:#000;
	background:#999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	cursor:pointer;
}

.ndn_thumbControls a:link{
	text-decoration:none;
	color:#000;
}

.ndn_thumbControls a:hover{
	text-decoration:none;
	color:#000;
}

.ndn_thumbControls a:visited{
	text-decoration:none;
	color:#000;
}

.ndn_thumbControls a:active{
	text-decoration:none;
	color:#000;
}

#ndn_scrollLeft{
	position:relative;
	display:inline-block;
	cursor:pointer;
	/*padding-left:117px;	*/
}
#ndn_scrollRight{
	position:relative;
	display:inline-block;
	/*padding-left:3px;*/
	cursor:pointer;
}

.clearfix{
	position:relative;
	display:block;
	visibility:hidden;
	margin-top:400px;
}

abbr{
	border-bottom: none;
}