body {
	margin:0;
	color:#333;
	font:14px/19px Helvetica, Arial sans-serif;
	background:#fff;
}
input[type=submit]:hover{cursor:pointer;}
img {border-style:none;}
a {
	text-decoration:none;
	color:#3f3f3f;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	vertical-align:middle;
	color:#808080;
	font:100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	width:940px;
	margin:0 auto;
	overflow:hidden;
}
#header{
	overflow:hidden;
	width:100%;
	padding:38px 0;
}
#nav{
	float:right;
	background:url(../images/bg-nav.gif) no-repeat 100% 0;
	padding:0 6px 0 0;
	margin:15px 0 0;
}
#nav ul{
	margin:0;
	padding:6px 6px 6px;
	list-style:none;
	float:left;
	background:url(../images/bg-nav.gif) no-repeat 0 100%;
	font-weight:bold;
}
#nav ul li{
	float:left;
	background:url(../images/separator-nav.gif) no-repeat;
	padding:0 0 0 2px;
}
#nav ul li:first-child{background:none;}
#nav ul .last{margin:0 -6px 0 0;}
#nav ul li a{
	display:block;
	padding:13px 21px 14px;
	color:#fff;
	background:url(../images/bg-navagation-c.gif) repeat-x;
	text-decoration:none;
}
#nav ul li:first-child a{background:url(../images/bg-navagation-l.gif) no-repeat;}
#nav ul li:first-child .active:hover{background:url(../images/bg-navagation-l.gif) no-repeat 0 -130px;}
#nav ul li:first-child .active{background:url(../images/bg-navagation-l.gif) no-repeat 0 -130px;}
#nav ul li:first-child a:hover{
	background:url(../images/bg-navagation-l.gif) no-repeat 0 -64px;
	text-decoration:none;
}
#nav ul .last a{background:url(../images/bg-navagation-r.gif) no-repeat 100% 0;}
#nav ul .last a:hover{
	background:url(../images/bg-navagation-r.gif) no-repeat 100% -77px;
	text-decoration:none;
}
#nav ul .last .active:hover{background:url(../images/bg-navagation-r.gif) no-repeat 100% -150px;}
#nav ul .last .active{background:url(../images/bg-navagation-r.gif) no-repeat 100% -150px;}
#nav ul li a:hover{background:url(../images/bg-navagation-c.gif) repeat-x 0 -84px;}
#nav ul li .active{background:url(../images/bg-navagation-c.gif) repeat-x 0 -150px;}
#nav ul li .active:hover{background:url(../images/bg-navagation-c.gif) repeat-x 0 -150px;}
#header .logo{
	background:url(../images/logo.gif) no-repeat;
	width:178px;
	height:73px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
	margin:0 0 0 -3px;
}
#header .logo a{
	height:100%;
	display:block;
}
#main{
	width:940px;
	overflow:hidden;
	background:url(../images/bg-main.gif) no-repeat;
	padding:7px 0 0;
}
.MainHolder{
	width:940px;
	float:left;
	background:url(../images/bg-main.gif) no-repeat -1880px 100%;
	padding:0 0 7px;
}
.MainFrame{
	background:url(../images/bg-main.gif) repeat-y -940px 0;
	width:884px;
	float:left;
	padding:0 30px 0 26px;
}
.HeadingBox{
	overflow:hidden;
	border-bottom:1px solid #ddd;
	margin:0 -19px 29px -23px;
	padding:19px 0 22px 23px;
}
.HeadingBox.add{
	border:0;
	font-size:12px;
	line-height:17px;
	margin:0 -19px 0 -23px;
	padding:19px 0 13px 23px;
}
.HeadingBoxHolder{
	width:100%;
	overflow:hidden;
}
.HeadingBoxHolder h2{
	float:left;
}
.HeadingBoxHolder .print{
	float:right;
	padding:0 0 0 23px;
	background:url(../images/ico-print.gif) no-repeat;
	margin:0 11px 0 0;
	color:#339;
	font-size:15px;
	line-height:13px;
}
.HeadingBox p{margin:0 0 10px;}
.HeadingBox.add p{margin:0 0 20px;}
.HeadingBox h2{
	color:#339;
	margin:0 0 16px;
	font-size:20px;
	line-height:23px;
}
.InfoBox{
	width:100%;
	overflow:hidden;
	font-size:12px;
	line-height:17px;
	padding:0 0 21px;
}
.InfoBox.add{padding:0 0 8px;}
.InfoBox h3{
	font-size:14px;
	line-height:19px;
	color:#339;
	margin:0 0 19px;
}
.InfoBox p{margin:0 0 15px;}
.items-list{
	margin:0;
	padding:0 0 17px;
	list-style:none;
	overflow:hidden;
	width:100%;
}
.items-list li{
	height:1%;
	vertical-align:top;
	padding:0 0 1px;
}
.items-list li address{
	margin:0;
	font-style:normal;
}
.InfoBox .TextBox{
	overflow:hidden;
	width:100%;
}
.InfoBox .TextBox p{
	text-indent:37px;
	margin:0 0 19px;
}
.InfoBox .TextBox span{
	font-weight:bold;
	color:#339;
}
.ColumnsList{
	overflow:hidden;
	font-size:12px;
	line-height:18px;
	margin:0 -45px -23px 0;
	padding:0;
	list-style:none;
}
.ColumnsList > li{
	width:410px;
	display:inline-block;
	vertical-align:top;
	padding:0 50px 21px 0;
}
.ColumnsList h3{
	font-size:14px;
	line-height:17px;
	color:#339;
	margin:0 0 10px;
}
.ColumnsList p{margin:0 0 10px;}
.ColumnsList .list{
	margin:0;
	padding:0;
}
.ColumnsList .list li{
	padding:0 0 0 0px;
}
.ContentList {
	margin:0 0 -13px;
	padding:0;
	overflow:hidden;
	counter-reset: item;
	font-size:12px;
	line-height:18px;
}
.ContentList h3{
	color:#339;
	margin:0 0 15px;
	font-size:15px;
	line-height:18px;
}
.ContentList p{margin:0 0 12px;}
.ContentList > li {
	padding:0 0 19px;
	vertical-align:top;
	height:1%;
}
.ContentList > li h3 {
	margin:0 0 16px;
	display:inline-block;
}
.ContentList li a{text-decoration:underline;}
.ContentList li a:hover{text-decoration:none;}
.ContentList > li:before { 
	text-align:center;
	display:inline-block;
	padding:2px 0 0;
	margin:0;
	color:#339;
	font:bold 15px/18px Arial, Helvetica, sans-serif;
	content: counters(item, ".") "."; 
	counter-increment: item;
	text-indent:0;
}
.ContentList li h4{
	margin:0 0 20px;
	font-style:italic;
	color:#339;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	padding:4px 0 0;
}
.DescriptionList{
	margin:0;
}
.DescriptionList > li{
	vertical-align:top;
	line-height:18px;
}
.DescriptionList > li span{
	color:#339;
	font-weight:bold;
}
.DescriptionList .SubList{
	margin:0;
}
.DescriptionList .SubList li{

}
#footer{
	width:100%;
	overflow:hidden;
	padding:35px 0 80px;
}
#footer .logo{
	background:url(../images/logo-footer.gif) no-repeat;
	width:104px;
	height:41px;
	overflow:hidden;
	text-indent:-9999px;
	float:left;
}
#footer .logo a{
	height:100%;
	display:block;
}
.FooterPanel{
	float:left;
	width:780px;
	padding:0 0 0 32px;
	font-size:12px;
	line-height:15px;
	color:#666;
}
.AddNav{
	overflow:hidden;
	width:100%;
	margin:0;
	padding:5px 0 6px;
	list-style:none;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}
.AddNav li{
	float:left;
	padding:0 10px 0 11px;
	background:url(../images/separator-footer.gif) no-repeat 0 2px;
}
.AddNav li:first-child{
	background:none;
	padding:0 10px 0 0;
}
.AddNav li a{color:#339;}
.FooterPanel p{margin:0;}
#privacyContactForm { margin: 0 0 30px 0; }
#privacyContactForm .form-list {
	margin: 0;
	padding: 0;
	list-style: none outside;
}
#privacyContactForm ul li { margin: 10px 0; }
#privacyContactForm label {
	float: left;
	position: relative;
	display: block;
	width: 250px;
	margin-right: 15px;
	text-align: right;
}
#privacyContactForm input,
textarea, select {
	color: #333;
	font:100% Helvetica, Arial, sans-serif;
	outline-color: #339;
	border: 1px solid #ccc;
	padding: 5px 3px;
}
#privacyContactForm input, textarea { 
	width: 350px; }
#privacyContactForm textarea {
	resize: none;
	height: 80px;
}
#privacyContactForm .required_field_error {
	border: 1px solid #C80000;
}
#privacyContactForm select { width: 357px; }
#privacyContactForm_submit {
	color: #777;
	font-weight: bold;
	padding: 4px 8px;
	border: 1px solid #ababab;
	text-shadow: #fff 0 1px 0;
	background-color:#d8d8d8;
	background:-moz-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #d8d8d8));
	background:-webkit-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
	background:-o-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
	background:-ms-linear-gradient(top, #efefef 0%, #d8d8d8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef',endColorstr='#d8d8d8',GradientType=0);
	background:linear-gradient(top, #efefef 0%, #d8d8d8 100%);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 1px 1px rgba(255,255,255,0.8) inset;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1),0 1px 1px rgba(255,255,255,0.8) inset;
	box-shadow:0 1px 2px rgba(0,0,0,0.1),0 1px 1px rgba(255,255,255,0.8) inset;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	cursor:pointer;
}
#privacyContactForm_submit:hover {
	background-color:#f1f1f1;
	background:-moz-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e3e3e3));
	background:-webkit-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
	background:-o-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
	background:-ms-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#e3e3e3',GradientType=0);
	background:linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%)
}
#privacyContactForm .required_error {
	background-color: #C80000;
	color: #fff;
	font-weight: bold;
	padding: 1px 4px 2px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left: 5px;
	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}

#privacyContactForm .required_error {
	display: none;
	position: relative;
	background: #C80000;
	border: 1px solid #c80000;
	color: #fff;
	font-weight: bold;
	padding: 1px 4px 2px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left: 5px;
	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
}
#privacyContactForm .required_error:after, 
#privacyContactForm .required_error:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#privacyContactForm .required_error:after {
	border-right-color: #C80000;
	border-width: 4px;
	top: 50%;
	margin-top: -4px;
}
#privacyContactForm .required_error:before {
	border-right-color: #c80000;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}
.contact-form-errors,
.contact-form-success {
	width: 340px;
	margin-left: 265px;
	padding: 8px 8px 8px 0;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.contact-form-errors {
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
}
.contact-form-success {
	color: #468847;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
}
