@charset "UTF-8";

@import "dropdown.linear.css";


#feedback-service-links ul.dropdown-columnar ul li {
	position: static;
	width: 170px;
	font-size:.94em;
}
#feedback-service-links ul.dropdown-columnar ul li a{
	position: static;
	width: 170px;
	font-size:.92em;
	line-height:110%;
	color:#000;
}
#feedback-service-links ul.dropdown-columnar ul ul {
	display: block !important;
	position: static;
	width: auto !important;
}

#feedback-service-links ul.dropdown-columnar ul ul li {
 float: none;
}

#feedback-service-links ul.dropdown-columnar ul ul ul {
 display: none;
}

#feedback-service-links ul.dropdown-columnar li.hover ul,
#feedback-service-links ul.dropdown-columnar li:hover ul {
 visibility: visible !important;
}
#feedback-service-links #nav .dir.select-pubs .wrapped {
	border-bottom:solid 4px #dfdfdf;
	padding:.92em 0 0 0;

}
#feedback-service-links #nav .dir.select-pubs .wrapped .dir .title{
	font-size:1.09em;
	margin:-1em 0 -.5em 0;
	display:block;
}
#feedback-service-links #nav .dir.select-pubs {padding:0 15px 0 5px;}
#feedback-service-links #nav .dir.select-pubs:hover {
	border-left:solid 1px #000;
	border-right:solid 1px #000;

}