ul.square_bullets {
    list-style-type: square;
    margin-left: 30px;
}

.col_700 {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 700px;
}

.col_340 {
	float: left;
	width: 340px;
}

.col_360 {
	float: left;
	width: 360px;
}

.pageHeader
{
	font-weight:normal;
	font-size:12px;
	padding-right:10px;
	color:#666;
	clear:both;
}

.formPage
{
	font-weight:normal;
	font-size:11px;
	color:#666;
	width:100%;
	background-color:white;
	display:block;
}

.camp
{
	display:block;
}

.field
{
	width: 70px;
	float:left;
	text-align:right; 
	font-size: 11px;
	padding-right: 10px;
}

#footer {
	font-family:Arial !important;
}