/* EXPORTED: TIME: 2012/02/21 13:55:42 with FULL svn REVISION: 22336 */
/*     apps landing page    */

#alp {
	width:952px;
	background-color:#FFFFFF;
	font-family:Arial, sans-serif;
	position:relative;
	text-align:left;
	font-size:12px;
	color:#000000;
	position:relative;
	left:-1px;
}

#alp a {
	font-size:inherit;
}

#alp_wrapper {
	position:relative;
	text-align:left;
}

#alp_control {
	position:relative;
	width:952px;
	height:99px;
}

#alp_items {
	position:relative;
	height:10px;
	width:950px;
}

#alp_category_select {
	position:absolute;
	left:378px;
	width:400px;
}

div.alp_tooltip_container {
	position:relative;
	z-index:1000;
}

div.alp_control_heading {
	position:absolute;
	top:15px;
	left:20px;
	font-size:18px;
	width:95px;
	line-height:23px;
	cursor:default; 
	color:#FFFFFF;
}

div.alp_control_bg {
	position:absolute;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/panel_bg.gif);
	background-repeat:no-repeat;
	width:952px;
/*	height:99px;
*/	height:99px;
	border:50px;
	z-index:2;
}

div.alp_control_elements {
	position:absolute;
	z-index:3;
}

div.alp_control_tray {
	position:absolute;
	font-size:11px;
	color:#666666;
	height:10px;
	top:65px;
	padding-left:12px;
	padding-top:10px;
	padding-bottom:14px;
	width:952px;
	z-index:1;
	background-repeat:no-repeat;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/panel_tray.gif);
}

div.macintosh div.alp_control_tray {
	padding-top:11px;
	padding-bottom:13px;
}

div.alp_control_tray img.alp_tray_icon { 
	vertical-align:text-top;
	border:0px;
	position:relative;
	top:-3px;
}

div.alp_select_section_heading {
	position:absolute;
	top:26px;
	left:20px;
	font-weight:bold;
	font-size:14px;
	white-space:nowrap;
}

img.alp_select_section_question_mark {
	position:absolute;
	top:27px;
	left:155px;
	height:14px;
	width:14px;
	cursor:pointer;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/question_mark.png);
}

div.alp_os_select {
	position:absolute;
	left:175px;
}

div.alp_os_select select {
	position:absolute;
	left:40px;
	top:50px;
	width:130px;
}

div.alp_os_select select option {
	color:#111111;
}

div.alp_checkbox {
	position:absolute;
	cursor:pointer;
	height:12px;
	width:30px;
}

div.alp_checkbox_label {
	position:absolute;
	left:22px;
	font-size:12px;
	top:1px;
	white-space:nowrap;
}

div.alp_catergory_line {
	position:absolute;
	top:20px;
	width:1px;
	height:63px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/vert_line.gif);
}

img.alp_checkbox_check {
	position:absolute;
	width:16px;
	height:16px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/check.png);
}

img.alp_checkbox_box {
	position:absolute;
	width:16px;
	height:16px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/box.png);
}   

a:hover.alp_no_underline {
	cursor:default !important;
	text-decoration:none !important;
}

/* ---------------------------------------------------------------------------------------- */

/**
* Items
*/

div.alp_item {
	position:absolute;
	width:240px;
	height:223px;
}

img.alp_item_icon {
	position:absolute;
	top:4px;
	left:4px;
	width:68px;
	height:68px;
}

img.alp_icon_loader {
	position:absolute;
	top:17px;
	left:17px;
	width:43px;
	height:43px;
}

img.alp_icon_bevel {
	position:absolute;
	width:76px;
	height:76px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/icon_bevel.gif);
}

div.alp_item_right_column {
	position:absolute;
	left:86px;
	top:3px;
	font-size:14px;
/*	width:106px;*/ 
	width:120px;
}

div.alp_item_heading {
	left:100px;
	top:6px;
	color:#000000;
	line-height:1em !important;
}

div.alp_item_price {
	margin-top:5px;
	color:#FF7200;
	font-size:15px;
	line-height:16px;
}

a.alp_item_learn_link {
	position:absolute;
	/*	top:65px;
		left:86px; michael edited from left 75px to 96px*/
	top:146px;
	left:96px;
}

div.alp_item_description {
	position:absolute;
	line-height:16px;
	top:86px;
	font-size:12px;
	color:#333333;
	width:210px;
}

img.alp_item_get_button {
	position:absolute;
	top:148px;
	width:63px;
	height:24px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/get_app_button.gif);
	cursor:pointer;
	border:0px;
}

img.alp_item_get_button_tip {
	width:80px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/get_app_button_tip.gif);
}

div.alp_item_line {
	position:absolute;
	top:188px;
	width:150px;
	height:1px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/dot_pattern_2.png);
	overflow:hidden;
}

div.alp_item_legal {
	position:absolute;
	top:196px;
	left:6px;
	width:209px;
	height:24px;
	font-size:10px;
	color:#666666;
	line-height:12px;
	overflow:hidden;
}

div.alp_item_asterisk {
	position:absolute;
	top:197px;
	font-size:12px;
	color:#666666;
	line-height:12px;	
}

div.alp_item_fade_overlay {
	position:absolute;
	/*Should overlap by one pixel along top left edge for scaling on mobile*/
	top:-2px;
	left:-2px;
	width:223px;
	height:225px;
	background-color:#FFFFFF;
}

/* ---------------------------------------------------------------------------------------- */

/**
* Item Types
*/

div.alp_item_type_ringback img.alp_item_get_button {
	 background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/get_ringback.png);
	 width:87px;
}

div.alp_item_type_ringtone img.alp_item_get_button {
	 background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/get_ringtone.png);
	 width:87px;
}

div.alp_item_type_ringback img.alp_item_icon {
	 background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/icons/ringback.png);
}

div.alp_item_type_ringtone img.alp_item_icon {
	 background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/icons/ringtone.png);
}

/* ---------------------------------------------------------------------------------------- */

/**
* 
*/

div.alp_horizontal_rule {
	position:absolute;
	width:890px;
	height:1px;
	left:14px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/dot_pattern_1.png);
	overflow:hidden;
}

#alp a:link {
	color:#3381B7;
	text-decoration:none;
	cursor:pointer;
}

#alp a:hover {
	color:#3381B7;
	text-decoration:underline;
}

#alp a:visited {
	color:#3381B7;
}

#alp a.inactive:link {
	color:#000000;
	text-decoration:none;
	cursor:default;
}

#alp a.inactive:hover {
	color:#000000;
	text-decoration:none;
}

#alp a.inactive:visited {
	color:#000000;
	text-decoration:none;
}

#alp a.inactive:active {
	color:#000000;
	text-decoration:none;
}

#alp_items_top {
	position:absolute;
	white-space:nowrap;
	top:15px;
	line-height:25px;
}

#alp_items_heading {
	margin-left:12px;
	font-weight:bold;
	font-size:16px;
}

#alp_items_count {
	font-size:16px;
	color:#666666;
}


/* ---------------------------------------------------------------------------------------- */

/**
* Paging
*/

div.alp_paging {
	position:absolute;
	left:950px;
	top:20px;
	font-size:12px;
	white-space:nowrap;	
}

div.alp_paging * {
	line-height:12px;
	font-size:12px;
}

div.alp_paging div.alp_floating_elems {
	position:absolute;
	white-space:nowrap;
	top:3px;
	padding-right:22px;
	left:-140px;
	height:10px;
}

div.alp_paging span.alp_number_container {
	position:relative;
}

div.alp_paging .alp_next_link {
	margin-left:11px;
}

div.alp_paging .alp_prev_link {
	margin-right:7px;
}

div.alp_paging .alp_paging_number {
	text-align:center;
	margin-left:8px;
	margin-right:8px;
	cursor:default;
	font-size:12px;
}

div.alp_paging span.alp_paging_line_holder {
	position:relative;
	margin-left:2px;
}

div.alp_paging img.alp_paging_line {
	position:absolute;
	height:23px;
	width:1px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/vert_line.gif);
	top:-3px;
}

div.alp_paging div.alp_paging_number_box {
	position:absolute;
	width:23px;
	height:23px;
	top:-5px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/page_box.png);
	z-index:0;
}

div.macintosh div.alp_paging div.alp_paging_number_box, div.msie div.alp_paging div.alp_paging_number_box {
    top:-6px;
}

div.alp_paging img.alp_view_swap_button {
	position:absolute;
	width:16px;
	height:16px;
	left:-120px;
	cursor:pointer;
}

div.alp_paging img.alp_minus_button {
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/minus.png);
}

div.alp_paging .alp_view_swap_link {
	position:absolute;
	top:3px;
	left:-96px;
	height:15px;
	line-height:12px;
}

/* ---------------------------------------------------------------------------------------- */

/**
* Panels and Tooltips
*/

div.alp_panel {
	position:absolute;
	z-index:10000;
}

div.alp_panel div.alp_panel_top {
	position:absolute;
	top:-24px;
	width:184px;
	height:34px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/panel_right_top.png);
}

div.alp_panel_left div.alp_panel_top {
	left:-184px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/panel_left_top.png);
}

div.alp_panel img.alp_panel_middle {
	position:absolute;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/panel_mid.png);
	top:10px;
	width:184px;
	height:162px;
	
	   -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */  
         -o-background-size: 100% 100%;           /* Opera 9.5 */  
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */  
            background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */  
/*       -moz-border-image: url(../images/panel_bot.png) 0;    /* Gecko 1.9.1 (Firefox 3.5) */  
	
}

div.alp_panel_left img.alp_panel_middle {
	left:-184px;
}

div.alp_panel div.alp_panel_bottom {
	position:absolute;
	top:172px;
	width:184px;
	height:5px;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/panel_bot.png);
}

div.alp_panel_left div.alp_panel_bottom {
	left:-184px;
}

div.alp_panel div.alp_get_app_panel_heading {
	position:absolute;
	color:#666666;
	font-size:12px;
	white-space:nowrap;
	width:100%;
	text-align:center;
	font-weight:bold;
	cursor:default;
}

div.alp_panel div.alp_get_app_panel_line {
	position:absolute;
	background-color:#888888;
	height:1px;
	width:100%;
	top:21px;
	overflow:hidden;
}

div.alp_panel div.alp_get_app_panel_link_list {
	margin-top:32px;
	z-index:2000;
	line-height:18px;
	font-size:12px;
	font-weight:bold;
	margin-bottom:-2px;
}

div.alp_panel a.alp_get_app_panel_link {
	display:block;
}

div.alp_panel div.alp_panel_tab {
	position:absolute;
	background-image:url(http://1.ecom.attccc.com/media/en_US/jsCenters/appCenter/images/spacer.gif);
}

div.alp_get_app_panel div.alp_panel_tab {
	left:-64px;
	top:-13px;
	width:64px;
}

div.alp_tooltip_panel {
	left:342px;
	top:33px;
}

div.alp_panel div.alp_more_info_panel {
	font-size:11px !important;
}

div.alp_panel div.alp_panel_body {
	position:absolute;
	left:25px;
	top:-8px;
	width:135px;
	color:#666666;
	font-size:12px;
}

div.alp_panel_left div.alp_panel_body {
	left:-159px;
}

/* ---------------------------------------------------------------------------------------- */

/**
* No Match Screen
*/

div.alp_no_match {
	position:absolute;
	width:950px;
	top:75px;
	margin-left:10px;
	line-height:15px;
	font-size:15px;
	color:#666666;
}

div.alp_no_match p.alp_heading {
	font-weight:bold;
	color:#333333;
}


/* ---------------------------------------------------------------------------------------- */

/**
* Warning
*/

div.obsolete_browser_warning_message {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border-top:1px solid;
	border-bottom:1px solid;
	color:#AA0000;
	padding-top:3px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
	background-color:#FFEFEE;
	line-height:13px;
	width:932px
}

div.obsolete_browser_warning_message td
{
	font-size:12px;
}

div.obsolete_browser_warning_message a:link {
	color:#665533 !important;
	text-decoration:none;
}

div.obsolete_browser_warning_message a:visited {
	color:#665533 !important;
	text-decoration:none;
}

div.obsolete_browser_warning_message img.alp_browser_icon {
	border:0px;
	margin-left:10px;
}

div.obsolete_browser_warning_message td.obsolete_browser_warning_try {
	width:200px;
	color:#665533;
	text-align:right;
}













