 /* BREADCRUMB STYLES */
 

  #cars_header #croheader .breadcrumb_and_head {
    width: 918px;
    height: 58px;
    margin: 0;
    padding: 0;
    border-left: 1px solid #e6e6ee;
    border-right: 1px solid #e6e6ee;
    background: url(../apage/images/cars_catheader_mid.gif) repeat-x;
    position: absolute;
    top: 158px;
    overflow: hidden;
    line-height: 1.2em;
  }
  
 *html #cars_header #croheader .breadcrumb_and_head {
  top: 166px;
  }
  
:root #cars_header #croheader .breadcrumb_and_head {
    top: 156px;
}
.breadcrumb { 
    color: #666666; 
    font-size: 11px; 
    margin-bottom: 0; 
    margin-left: 5px; 
    margin-right: 0; 
    margin-top: 3px; 
} 

.breadcrumb a:link, .breadcrumb a:visited {
    color:#666666;

}
