.subpage-heading{
	height: 137px;
	width: 960px;
	background-color: #BFDFFF;
}

.about-item{
	width: 900px;
	height: 115px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 47px;
	padding-bottom: 2px;
}	
	
.about-image{
	float: left;
}

.about-text{
	padding-left: 320px;
	color: #666666;
	font-size: 13px;
	line-height: 20px;
}

.about-text h1{
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	color: #333333;
}

.support-alert{
	width: 902px;
	height: 43px;
	margin-left: auto;
	margin-right: auto;
	background: #E6F0F9;
	border: 1px solid #A7C3D9;
	margin-top: 34px;
	margin-bottom: 33px;
	font-weight: bold;
	font-size: 13px;
	color: #696562;
}

.long-text{
	width: 830px;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
	font-size: 13px;
}

.long-text p{
	margin-bottom: 17px;
}

.jobs-body{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size: 13px;
	color: #666666;
	line-height: 20px;
}

.jobs-heading{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.jobs-image{
	width: 210px;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}

.jobs-image img {
	width: 210px;
}

.jobs-posting{
	width: 880px;
	background: #F6F7F9;
	border: 1px solid #E1E1E1;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.jobs-eoe{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #333333;
}

#features-intro {
        width: 900px;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 47px;
        padding-bottom: 3px;
}
#intro-text {
        float:left;
        color: #666666;
        font-size: 13px;
        line-height: 20px;
        width:610px;
}
#intro-text h1 {
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        color: #333333;
}
#intro-signup {
        float:right;
        text-align:center;
        font-size:13px;
        color:#666666;
        padding-top:10px;
        background: transparent url(../images/signup_background.gif) no-repeat center top;
        width:278px;
        height:103px;
}
#intro-signup p {
        padding:0px;
}
.features-feature {
        width: 900px;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        padding-bottom: 2px;
}
.features-text {
        float:left;
        padding-left:35px;
        color: #666666;
        font-size: 13px;
        line-height: 20px;
        width:650px;
}
.features-image {
        float:left;
        width:185px;
}

.features-feature h1 {
        font-size: 14px;
        font-weight: bold;
        margin: 0px;
        color: #333333;
}
.image-left {
        margin-right:20px;
        padding-top:5px;
        float:left;
}
.image-right {
        margin-left:25px;
        float:right;
}


/* -----------------------------------
	NEW ABOUT US PAGE CSS
----------------------------------- */

#aboutus-body {
	width:900px;
	height:700px;
	background-color:#fff;
	margin:30px;
	font-size:13px;
    color:#666666;
	line-height:20px;
}
.featured-list {
	float:left;
}
.featured-list li{
	list-style:none;
}
#roundedbox {
	clear:both;
	width:900px;
	height:216px;
	background-color:#f6f7f8;
	border:1px solid #e2e1e1;
	font-size:11px;
	line-height:14px;
	margin-top:25px;
}
#box-content {
	float:left;
	margin:0 10px -8px 0px;
}
.box {
	float:left;
	width:250px;
	padding: 15px 0 0 20px;
}
.box h2 {
	font-size:16px;
	color:#333;
	margin-bottom:5px;
}
.box p {
	margin-top:0px;
}
.divider {
	float:left;
	background: url(../images/box_divider.gif) no-repeat top right; 
	width:2px;
	height:185px;
	padding:0px 0px 0px 7px;
	margin-top:10px;
}
#roundtop { 
	background: url(../images/tr.gif) no-repeat top right; 
	margin:-1px 0 0 -1px;
	width:902px;
}

#roundbottom {
	float:left;
	background: url(../images/br.gif) no-repeat top right; 
	width:902px	;
	height:8px;
	margin:1px 0 0 -1px;
}

img.corner {
   width: 8px;
   height: 8px;
   border: none;
   display: block !important;
}

/* -----------------------------------
	DOMAIN MANAGEMENT PAGE CSS
----------------------------------- */



#domain-roundtop { 
	float:left;
	background: url(../images/tr.gif) no-repeat top right; 
	margin:-1px 0 0 -1px;
	width:902px;
}

#domain-roundbottom {
	float:left;
	background: url(../images/br.gif) no-repeat top right; 
	width:902px	;
	height:8px;
	margin:1px 0 0 -1px;
}
#domain-management-body {
	width:900px;
	height:250px;
	background-color:#fff;
	margin:30px;
	font-size:13px;
    color:#666666;
	line-height:1.5;
}
#domain-text {
	font-size:13px;
	line-height:1.5;
	padding:5px 20px 0 25px;
}
#domain-management-form {
	float:left;
	min-height:119px;
	margin:0pt auto;
}
.search-input {
	float:left;
	padding-right:10px;
}
.search-input p{
	padding:0px;
}
#form {
	float:left;
	width:600px;
	margin:0pt auto;
	padding-left:200px;
}
#search-button {
	float:left;
	padding:31px 0 0 0px;
}
h4 {
	font-size:11px;
	margin-bottom:-7px;
}
*html #domain-roundtop { 
	float:left;
	width:900px;
}
*html #domain-roundbottom {
	width:900px	;
	height:8px;
}
*html #search-button {
	float:left;
	padding:26px 0 0 0px;
}
#domain-results-text {
	float:left;
	width:855px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	line-height:1.5;
	padding:5px 20px 0 25px;
}
.domainsettingsbox {
        background-color:#F6F7F8;
        border:1px solid #E2E1E1;
        clear:both;
        font-size:12px;
        line-height:16px;
        height:150px;
        margin-top:25px;
        width:400px;
}

