/*accordionview*/
#articleContentBlocks { float:left; margin-left:5px; _padding:0; _margin:0; width:282px; }
.yui-accordionview div.yui-accordion-content { overflow: hidden; margin: 0; padding: 0; }
.hidden { visibility: hidden; position: absolute; }
.almosthidden { position: absolute; left: -9999px; z-index: -10; }
.yui-accordionview {border-bottom:1px #dcdcdc solid; }
.yui-accordionview li.yui-accordion-panel { display: inline; }
ul.yui-accordionview ul.yui-accordionview { zoom: 1; margin:0; }
.yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle { display:block; border:1px solid #dcdcdc; height:24px; font-weight:bold; text-decoration:none; position: relative; cursor: pointer; background:#e4ebef url('../../../../../a/i/us/help/brws08/sprite_rp3.png') repeat-x; background-position:0px -892px; margin-bottom:-1px; color:#3a69aa; padding-left:15px; padding-top:6px;font:bold 14px arial;}

.yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle:hover { background:#e4ebef url('../../../../../a/i/us/help/brws08/bg_accordion.png') repeat-x; margin-bottom:-1px; color:#3a69aa; text-decoration: none;}

.yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active {border-bottom:1px #dcdcdc solid; background:#e4ebef url('../../../../../a/i/us/help/brws08/bg_accordion.png') repeat-x; margin-bottom:-1px; color:#3a69aa; text-decoration: none;}
.yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active:hover {text-decoration:none; }

.yui-accordion-toggle .indicator { display: block; width: 14px; height: 14px; background: url(accordionview.css) 0 -350px; position: absolute; right: 0.5em; top: 25%; }
.yui-accordion-toggle.active .indicator { background: url(accordionview.css) 0 -400px; }
.yui-accordion-content { border-left:1px #dcdcdc solid; border-right:1px #dcdcdc solid; background:#fff; _zoom: 1; font:normal 100% arial; color:#545454}
.yui-accordion-content p { padding:0; margin: 10px 10px 10px 16px;  font:normal 100% arial; color:#545454}
.yui-accordion-content ul, .yui-accordion-content ol {margin: 10px 10px 15px 28px; font:normal 98% arial; padding:0; list-style: disc; *margin:10px 2px 10px 30px; _margin:0px 10px 10px 33px;}
.yui-accordion-content ul li, .yui-accordion-content ol li {margin-bottom:3px; margin-top:8px;color:#ccc;}

ul.submenu { background: #fff; }
ul.submenu li a { display: block; text-decoration: none;  color:#2d68ce; margin-left:5px; padding:0 10px 6px 20px;}
ul.submenu li a:hover { background: #b3d4ff; }
ul.submenu li a:visited, .yui-accordionview li.yui-accordion-panel a.link:visited { color: #777; }
.yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle:focus { text-decoration:none; }
.yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.activepanel { text-decoration:none; }

