
    /*ads:25424928.24*/
    
.fullbanner {
    position: relative;
    z-index: 10000;
    zoom: 1;
}
#innerWrapper .fullbanner {
    padding: 20px 0 0 0;
    margin: 20px 0 -20px 0;
    border-top: 1px solid #e6e6e6;
}
.skyscraper {
    position: absolute;
    left: 1017px;
    z-index: 10000;
    margin-top: 20px;
}
#skyscraper {
    top: 0;
    margin: 0;
}
.billboard {
    margin-bottom: 12px;
    text-align: center;
}
.billboard .posLast {
    position: relative;
    background-color: #f1f1f1;
    padding: 3px 16px;
}
.halfpage {
    position: relative;
    height: 617px;
    border: 1px solid #e6e6e6;
    padding: 0 44px 17px 44px;
    z-index: 5000;
    background: #f1f1f1;
}
#richmedia {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000000;
}
.eyecatcher {
    background-color: #f1f1f1;
    padding: 3px 16px 3px 3px;
}
.contentbar, .footerbar {
    position: relative;
    z-index: 2000;
    zoom: 1;
    padding: 20px 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.s15 .contentbar {
    margin: 20px 0 -20px 0;
}
.contentbar .pos1 {
    position: relative;
    float: left;
    background-color: #f1f1f1;
    padding: 3px 3px 3px 16px;
    margin: 0 12px 0 0;
}
.contentbar .posLast {
    position: relative;
    float: left;
    background-color: #f1f1f1;
    padding: 3px 16px;
}
.s9 .contentbar .posLast {
    padding: 3px 16px 3px 3px;
}
.contentbar.split .posLast {
    padding: 3px 16px 3px 3px;
}
.footerbar .pos1 {
    padding: 3px 5px 3px 16px;
}
.footerbar .pos2 {
    padding: 3px 5px 3px 0px;
}
.footerbar .posLast {
    padding: 3px 16px 3px 0px;
}
.footerbar .pos1,
.footerbar .pos2,
.footerbar .posLast {
    position: relative;
    float: left;
    background-color: #f1f1f1;    
}
.contentbar.hide,
.footerbar.hide,
.billboard.hide {
    display: none;
}
.billboard object,
.billboard iframe,
.billboard img,
.contentbar object,
.contentbar iframe,
.contentbar img,
.halfpage object,
.halfpage iframe,
.halfpage img,
.rectangle object,
.rectangle iframe,
.rectangle img {
    display: block;
    margin: auto;
}
.rectangle {
    position: relative;
    border: 1px solid #e2e2e2;
    z-index: 5000;
    background: #f1f1f1;
    padding: 0 44px 11px 44px;
}
.s5 .rectangle,
.ab-4 .rectangle {
    padding: 0 11px 11px 10px; 
}
.aside .rectangle {
    margin: 20px 0 0 0; 
}
.abc-3 .rectangle {
    padding: 2px 44px;
}
.abcd-1 .rectangle {
    padding: 0 21px 11px 20px; 
}
.abcd-3 .halfpage,
.abcde-1 .halfpage,
.abcdef-1 .halfpage {
    padding: 0 10px 17px 11px;
}
.abcd-4 .rectangle {
    padding: 11px 44px 28px 44px;   
}

.skyscraper .mark {
    text-align: right;
    padding: 0 0 1px 0;
}
.fullbanner .mark,
.skyscraper .mark,
.contentbar .mark,
.eyecatcher .mark,
.billboard .mark {
    display: block;
    text-transform: uppercase;
    color: #666;
    font-size: 10px;    
}
.footerbar .posLast .mark {
    position: absolute;
    right: -14px;
    left: auto;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.ie7 .footerbar .posLast .mark,
.ie8 .footerbar .posLast .mark {
    background: url(../../bilder.bild.de/fotos/mark-right-25667134/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 42px;
    right: 5px;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
.footerbar .mark {
    color: #333;
    font-size: 10px; 	
    line-height:12px;
    display: block;
    text-transform: uppercase;
    text-align: right;    
}
.footerbar .mark {
    position: absolute;
    top: 55px;
    left: -12px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
.ie7 .footerbar .pos1 .mark,
.ie8 .footerbar .pos1 .mark {
    background: url(../../bilder.bild.de/fotos/mark-left-25667132/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 42px;
    left: 5px;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
#innerWrapper .fullbanner .mark {
    background: #F1F1F1 url(../../bilder.bild.de/fotos/mark-left-25667132/Bild/1.bild.gif) no-repeat 5px 25px;
    text-indent: 99px;
    overflow: hidden;
    float: left;
    height: 90px;
    width: 16px;
    position: static;
}
.fullbanner .mark {
    background: url(../../bilder.bild.de/fotos/mark-left-25667132/Bild/1.bild.gif) no-repeat 5px 25px;
    text-indent: 99px;
    overflow: hidden;
    left: -14px;
    height: 90px;
    width: 16px;
    position: absolute;
}
.ie7 #innerWrapper .fullbanner .mark,
.ie8 #innerWrapper .fullbanner .mark {
    top: 44px;
}
.contentbar .posLast .mark:first-child,
.contentbar.split .pos1 .mark {
    position: absolute;
    top: 57px;
    left: -13px;
    right: auto;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
.ie7 .contentbar .posLast .mark:first-child,
.ie7 .contentbar.split .pos1 .mark,
.ie8 .contentbar .posLast .mark:first-child,
.ie8 .contentbar.split .pos1 .mark {
    background: url(../../bilder.bild.de/fotos/mark-left-25667132/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 40px;
    left: 5px;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
.s9 .contentbar .posLast .mark:first-child,
.contentbar.split .posLast .mark:first-child,
.contentbar .posLast .mark {
    position: absolute;
    top: 57px;
    right: -14px;
    left: auto;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.s9 .contentbar .posLast .mark:first-child {
    top:44px;
}
.ie7 .s9 .contentbar .posLast .mark:first-child,
.ie7 .contentbar.split .posLast .mark:first-child,
.ie7 .contentbar .posLast .mark,
.ie8 .s9 .contentbar .posLast .mark:first-child,
.ie8 .contentbar.split .posLast .mark:first-child,
.ie8 .contentbar .posLast .mark {
    background: url(../../bilder.bild.de/fotos/mark-right-25667134/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 40px;
    right: 5px;
    left: auto;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
.ie7 .s9 .contentbar .posLast .mark:first-child,
.ie8 .s9 .contentbar .posLast .mark:first-child {
    top:33px;
}
.eyecatcher .mark {
    position: absolute;
    top: 48px;
    right: -14px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.ie7 .eyecatcher .mark,
.ie8 .eyecatcher .mark {
    background: url(../../bilder.bild.de/fotos/mark-right-25667134/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 32px;
    right: 5px;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
.billboard .posLast .mark:first-child {
    position: absolute;
    top: 90px;
    left: -13px;
    right: auto;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
.ie7 .billboard .posLast .mark,
.ie8 .billboard .posLast .mark {
    background: url(../../bilder.bild.de/fotos/mark-right-25667134/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 80px;
    right: 5px;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
.billboard .posLast .mark {
    position: absolute;
    top: 90px;
    right: -14px;
    left: auto;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.ie7 .billboard .posLast .mark:first-child,
.ie8 .billboard .posLast .mark:first-child {
    background: url(../../bilder.bild.de/fotos/mark-left-25667132/Bild/1.bild.gif) no-repeat;
    text-indent: 7px;
    top: 80px;
    left: 5px;
    height: 44px;
    width: 7px;
    overflow: hidden;
}
.halfpage .mark,
.rectangle .mark {
    height: 17px;
    display: block;
    text-align: right;
    font-size: 10px;
    line-height: 17px;
    color: #333;
    text-transform: uppercase;
}
.abc-3 .rectangle .mark {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 9px;
}
.markTop {
    padding: 20px 0 10px 0;
    margin: 0 6px;
}
.markBottom {
    padding: 10px 0 0 0;
    margin: 0 6px;
}
.content .markTop,
.content .markBottom {
    margin: 0;
}
.markTop p, .markBottom p {
    position: relative;
    height: 10px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 10px;
    line-height: 10px;
    color: #666;
    text-transform: uppercase;
}
.markTop p {
    border-top: 1px solid #e6e6e6;
}
.markBottom p {
    border-bottom: 1px solid #e6e6e6;
}
.markTop p span, .markBottom p span {
    position: absolute;
    right: 8px;
    background: #fff;
    padding: 0 3px;
}
.markTop p span {
    top: -1px;
}
.markBottom p span {
    bottom: -1px;
}


#badge {
    position: relative;
    margin: 0 6px 12px 6px;
}
