
    /*artikel:15401106.74*/
    

.center {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	clear: both;
}
.center div {
	text-align: left;
}
.element {
	position: relative;
	clear: both;
}
.floatL {
	float: left;
	clear: left;
	margin: 0 12px 0 0;
}
.floatR {
	float: right;
	clear: right;
	margin: 0 0 0 12px;
}

#cover {
	background: #fff url(../../bilder.bild.de/fotos/bg-content-15401664/Bild/2.bild.gif) repeat-x 0 0;
	padding-top: 39px;
	padding-bottom: 5px;
}
#cover .kicker {
	display: block;
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	color: #d00;
	min-height: 17px;
	height: auto !important;
	height: 17px;
}
#cover .headline {
	font-size: 34px;
	line-height: 38px;
	color: #000;
	font-weight: bold;
	display: block;
	clear: both;
}
.article .subhead {
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.article .subhead a {
	text-decoration: underline;
}
.authors li {
	float: left;
	height: 46px;
	width: 46px;
	border: 1px solid #e7e7e7;
	padding: 2px;
	margin: 0 6px 0 0;
	zoom: 1;
}
.article cite {
	display: block;
	padding-top: 6px;
	margin: 0 0 15px 0;
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	font-style : normal;
	color: #000;
	text-align: left;
}

.article .authors~cite {
	height: 46px;
}
.article cite em, .authors li img { 
	display: block;
	font-style: normal;
}
.article cite span {
	float: left;
	margin: 0 3px 0 0;
}
#timestamp {
	float: right;
	clear: right;
	width: 130px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	color: #ccc;
	padding-top: 4px;
}
.article .full,
#timestamp.full {
	float: none;
	display: block;
	width: 100%;
}
#tools {
	float: right;
	margin-top: 12px;
	height: 27px;
}
.article .txt p {
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
}
.article .txt p a {
	text-decoration: underline;
}
.article .txt p a:hover,
.article .txt p a:active,
.article .txt p a:focus {
	color: #d00;
}
.article .txt div p {
	font-size: 13px;
	line-height: 17px;
	padding: 0;
}
.highlight {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.aside .player,
.article .player {
	position: relative;
}
.article .back {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 10px;
	background: #fff url(../../bilder.bild.de/fotos/bg-footer-sep-15401670/Bild/2.bild.gif) repeat-x bottom left;
	clear: both;
	overflow: hidden;
}
.article .back a {
	display: block;
	background: #ccc url(../../bilder.bild.de/fotos/btn-back-15401672/Bild/2.bild.gif) top left no-repeat;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #888;
	line-height: 22px;
	height: 21px;
	width:77px;
	text-indent: -9999px;
}
.article .back a:hover,
.article .back a:active,
.article .back a:focus {
	color: #fff;
	background: #d00 url(../../bilder.bild.de/fotos/btn-back-hover-15401674/Bild/2.bild.gif) top left no-repeat;
}
.article .element .fb-like {
	width: 100%;
	min-height: 30px;
	height: 60px;
	padding: 5px 0 0 0;
	margin: 0;
}
.fb-like-small {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 23px;
    position: absolute;
    left: 5px;
    top: 11px;
	z-index: 1001;
}
.fb-like-nticker {
	margin: 12px 0 3px 0;
	padding: 0;
	width: 100%;
	height: 23px;
    position: relative;
	z-index: 1001;
}


#article .aside {
	padding-top: 13px;
}
#article .article .topicTeaser {
	margin-top: 4px;
	padding-bottom: 3px;
}
#article .article .quickLinks {
	margin-top: 14px;
}
#article .headerImg {
	margin-bottom: 2px;
}
#article .article .element .section {
	margin: 0  0 16px 0;
	padding: 0 0 10px;
	width: auto;
	zoom: 1;
	position: relative;
}
#article .article .center .section {
	margin: 0 auto 16px;
	text-align: left;
} 
#article .article .floatL .section,
#article .article .floatR .section {
	width: 189px;
}
#article .aside .header,
#article .article .element .header {
	width: 100%;
	min-height: 26px;
	height: auto !important;
	height: 26px;
	overflow: visible;
	margin: 0 0 -18px;
	background: #fff url(../../bilder.bild.de/fotos/tb-grad-top-15401560/Bild/2.bild.gif) repeat-x left bottom;
}
#article .aside .header img,
#article .article .element .header img {
	margin: 0 0 0 -26px;
}
#article .aside .header {
	margin: 0 0 -12px;
}
.element .header ul,
#article .aside .header ul {
	margin: 0;
}
#article .aside .section,
#article .aside #rectangle {
	margin-bottom: 13px;
}
#article .aside .header h2,
#article .aside .header h4,
#article .article .element .header h4,
#article .article .element .section .header h2 {
	height: 20px;
	overflow: hidden;
	line-height:15px;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 23px 24px;
	text-transform: uppercase;
	background: url(../../bilder.bild.de/fotos/icon-header-15401212/Bild/2.bild.gif) no-repeat 1px 2px;
	zoom: 1;
}
#article .article .element .section .pag {
	margin-bottom: 0;
}
.aside .section .misc,
.article .section .misc {
	position: relative;
}
.aside .section .misc .entry-content,
.article .section .misc .entry-content {
	border-top: 1px solid #E5E5E5;
	font-size: 11px;
	line-height: 13px;
	overflow: hidden;
	padding: 7px 8px 0;
	margin: 0 0 2px 0;
}



.quickLinks {
	width: 457px;
	overflow: hidden;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	background-color: #fff;
}
.quickLinks ul {
	margin-bottom: 3px;
	height: 21px;
}
.quickLinks li {
	float: left;
	margin-right: 3px;
	height: 21px;
	text-align: center;
	background: url(../../bilder.bild.de/fotos/bg-quicklink-15401686/Bild/2.bild.gif) repeat-x 0 0;
}
.quickLinks li a {
	float: left;
	height: 21px;
	line-height: 21px;
	color: #999;
}
.quickLinks a:hover,
.quickLinks a:active,
.quickLinks a:focus {
	color: #d00;
}
.quickLinks .qlLast {
	margin-right: 0;
}
.ql4 li a {
	width: 89px;
}
.ql3 li a {
	width: 112px;
}
.ql2 li a {
	width: 150px;
}
.ql2 li.qlLast a {
	width: 151px;
}
.ql1 li a {
	width: 227px;
}
.ql0 li a {
	width: 457px;
}
.quickLinks .rLast {
	margin-bottom: 0;
}

 
#sendafriend {
	position: relative;
	width: 380px;
	overflow: hidden;
}
#sendafriend h6 {
	margin-bottom:4px;
	font-size: 11px;
	color: #666;
	font-weight: bold;
}
#sendafriend form {
	position: relative;
	display: block;
	overflow: hidden;
	height: 277px;
	padding: 0 12px 4px;
}
#sendafriend form fieldset {
	display: block;
	width: 356px;
	border: 0;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
} 
#sendafriend legend {
	font-size: 10px;
	font-weight: normal;
	line-height:23px;
	color: #333;
	position: relative;
	left: 0;
	margin-left: 0;
}
* + html #sendafriend legend {
	left:-7px;
}
#sendafriend input {
	vertical-align: bottom;
	display: block;
}
#sendafriend label {
	position: relative;
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	padding-bottom: 18px;
	cursor: pointer;
	line-height:14px;
}
#sendafriend label span {
	position: absolute;
	bottom: 5px;
	left: 0;
	font-size: 10px;
	font-weight: normal;
	text-transform:none;
	color: #666;
	cursor: default;
}
#sendafriend label.skip {
	position: absolute;
}
#sendafriend #safIM {
	width: 354px;
	height: 16px;
	padding: 2px 0 0;
	border: 1px solid #ccc;
	margin:0;
	color: #666;
	line-height: 16px;
	margin-bottom: 10px;
}
#sendafriend form .columnar p {
	float: left;
	font-weight: normal;
}
#sendafriend form .columnar label {
	float: left;
}
#sendafriend form .columnar input {
	width: 168px;
	height: 16px;
	padding: 2px 0 0;
	border: 1px solid #ccc;
	color: #666;
	line-height: 16px;
}
#sendafriend form .columnar #safFROM {
	margin-right: 16px;
}
#sendafriend #safMESSAGE {
	width: 354px;
	height: 58px;
	border: 1px solid #ccc;
	margin:0;
	color: #666;
}
#sendafriend form input,
#sendafriend form textarea {
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 11px;
}
#sendafriend form p {
	line-height: 12px;
	color: #666;
	font-weight: normal;
	font-size: 10px;
}
#sendafriend p.hint {
	margin:6px 0 0;
	width:260px;
	padding: 0;
	background: transparent;
	border: 0;
}
#sendafriend form input.error,
#sendafriend form textarea.error,
#sendafriend form .columnar input.error {
	border: 1px solid #d00 !important;
}
#sendafriend form .btn-submit {
	position: absolute;
	bottom: 4px;
	right: 12px;
}
#sendafriend .sign {
	border: 1px solid #ccc;
	background: #fff;
	margin: 26px 30px 0;
	width: 294px;
	min-height: 179px;
	height: auto !important;
	height: 179px;
	text-align: center;
}
#sendafriend .sign img {
	display: block;
	text-align: center;
	margin: 0 auto 6px;
	padding-top: 27px;
}
#sendafriend .sign p {
	font-size: 11px;
	line-height: 14px;
	padding: 0 10px 20px;
	font-weight: bold;
	color: #666;
}
#sendafriend form .btn-reset {
	position: absolute;
	bottom: 4px;
	right: 42px;
}



.imgEl {
	position: relative;
}
.imgEl img {
	margin: auto;
}
.ie1 .imgElBg {
	background: url(../../bilder.bild.de/fotos/tb-grad-bottom-15401558/Bild/2.bild.gif) repeat-x bottom left;
	padding: 0 0 30px 0;
	width: 457px;
	overflow: hidden;
}
.ie2 .imgElBg {
	background: url(../../bilder.bild.de/fotos/imgel-2footer-15401690/Bild/2.bild.gif) repeat-x bottom left;
	padding: 0 0 30px 0;
	width: 457px;
	overflow: hidden;
}
.ie3 .imgElBg {
	background: url(../../bilder.bild.de/fotos/imgel-3footer-15401692/Bild/2.bild.gif) repeat-x bottom left;
	padding: 0 0 30px 0;
	width: 457px;
	overflow: hidden;
}
.imgEl .hentry {
	position: static;
}
.ie1 {
	background: #f5f5f5;
	width: 457px;
	overflow: hidden;
}
.ie2 {
	background: url(../../bilder.bild.de/fotos/imgel-2bg-15401694/Bild/2.bild.gif) repeat-y;
	width: 457px;
	overflow: hidden;
}
.ie3 {
	background: url(../../bilder.bild.de/fotos/imgel-3bg-15401696/Bild/2.bild.gif) repeat-y;
	width: 457px;
	overflow: hidden;
}
.ie1 .hmedia {
	background: url(../../bilder.bild.de/fotos/tb-grad-top-15401560/Bild/2.bild.gif) repeat-x;
	padding: 10px 0 0 0;
}
.ie2 .hmedia {
	width: 223px;
	margin: 0 11px 0 0;
	float: left;
	background: url(../../bilder.bild.de/fotos/tb-grad-top-15401560/Bild/2.bild.gif) repeat-x;
	padding: 10px 0 0 0;
}
.ie3 .hmedia {
	width: 145px;
	margin: 0 11px 0 0;
	float: left;
	background: url(../../bilder.bild.de/fotos/tb-grad-top-15401560/Bild/2.bild.gif) repeat-x;
	padding: 10px 0 0 0;
}
.ie2 .itemLast, .ie3 .itemLast {
	margin: 0;
}
.imgEl .entry-content {
	font-size: 11px;
	line-height: 13px;
	overflow: hidden;
	padding: 8px 8px 0 8px;
	border-top: 1px solid #e5e5e5;
}
.imgEl .entry-content a,
.article .section .misc .entry-content a {
 	text-decoration: underline;
}
.imgEl .entry-content a:hover, .imgEl .entry-content a:focus, .imgEl .entry-content a:active,
.article .section .misc .entry-content a:hover, .article .section .misc .entry-content a:active, .article .section .misc .entry-content a:focus {
	color: #d00;	
}
.imgEl .credit {
	position: absolute;
	bottom: 10px;
}
.ie1 .item1 .credit {
	left: 0;
	width: 441px;
}
.ie2 .item1 .credit {
	left: 0;
	width: 207px;
}
.ie2 .itemLast .credit {
	left: 234px;
	width: 207px;
}
.ie3 .item1 .credit {
	left: 0;
	width: 129px;
}
.ie3 .item2 .credit {
	left: 156px;
	width: 129px;
}
.ie3 .itemLast .credit {
	left: 312px;
	width: 129px;
}



.article .infoEl {
	padding: 0 0 2px 0;
}
.article .infoEl .hentry {
	border-bottom: 1px solid #e5e5e5;
	padding: 1px 20px 0 21px;
}
.article .infoEl img {
	margin: 17px auto -2px;
}
.article .infoEl .video {
	background: #000;
	padding: 14px 0;
}
.article .infoEl .classic {
	padding: 0;
}
.article .infoEl .kicker {
	width: 148px;
	font-size: 10px;
	line-height: 10px;
	padding: 10px 0 0 0;
	margin: 0;
	text-transform: uppercase;
}
.article .infoEl .headline {
	height: 26px;
	font-size: 11px;
	line-height: 13px;
	overflow: hidden;
	margin: 4px 0 8px 0;
}
.article .infoEl .headline:hover {
	color: #d00;
}
.article .infoEl .photoIcon {
	position: absolute;
	top: 50%;
	left: 52px;
	margin: -12px 0 0 0;
	width: 45px;
	height: 45px;
	overflow: hidden;
	background: url(../../bilder.bild.de/fotos/foto-icon-sprite-15401524/Bild/2.bild.png) no-repeat -13px -161px;
}
.article .infoEl .playerIcon {
	position: absolute;
	top: 50%;
	left: 52px;
	margin: -12px 0 0 0;
	width: 45px;
	height: 45px;
	overflow: hidden;
	background: url(../../bilder.bild.de/fotos/video-icon-sprite-15401528/Bild/2.bild.png) no-repeat -13px -161px;
}
#article .infoEl .hentry > a {
	position: relative;
	display: block;
	padding-top: 1px;
}
#article .infoEl .imgElTitle {
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 1000;
}
#article .infoEl .arrows {
	position: absolute;
	top: 18px;
	left: 0;
	height: 111px;
	width: 148px;
	background: url(../../bilder.bild.de/fotos/prev-next-21029712/Bild/1.bild.png) 0 0 no-repeat;
}
#article .infoEl a:hover .arrows,
#article .infoEl a:active .arrows,
#article .infoEl a:focus .arrows {
	background-position: bottom left;
}
#article .infoFG .hentry > a {
 width: 148px;
 overflow: hidden;
}



#article .article .va1 {
	background: #f5f5f5 url(../../bilder.bild.de/fotos/bg-content-bottom-15401698/Bild/2.bild.gif) repeat-x left bottom;
}
.va1 .imgElTitle {
	position: relative;
	height: 17px;
}
#article .article .va1 .entry-title {
	height: 54px;
	margin: 10px 0 0 0;
	padding: 0 8px;
	text-align: center;
}
#article .article .va1 .kicker {
	display: inline;
	width: 148px;
	font-size: 10px;
	line-height: 12px;
	margin: 0 0 1px 0;
	color: #d00;
	text-transform: uppercase;
	font-weight: bold;
}
#article .article .va1 .headline {
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}
#article .article .va1 .credit {
	position: absolute;
	left: 9px;
	bottom: 4px;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	color: #888;
}
#article .article .va1 .credit.nolines {
	position: relative;
	margin: 10px 0 0 9px;
	left: 0;
}
#article .article .va1 .video-banner {
	width: 457px;
	height: auto;
	border-top: 1px solid #ccc;
}
#article .article .va1 .video-banner img {
	margin: 0 auto;
}


div.imgElTitle {
	height: 17px;
	background: #f5f5f5 url(../../bilder.bild.de/fotos/bg-content-top-15401682/Bild/2.bild.gif) repeat-x left top;
	font-size: 10px;
	text-align: right;
	padding: 0 5px 0 0;
}
div.imgElTitle a {
	color: #666;
	text-decoration: underline;
}
.fg2 div.imgElTitle a.enlarge {
                  visibility: hidden;
}
.imgEl div.imgElTitle a {
                  visibility: hidden;
}
div.imgElTitle a:hover, div.imgElTitle a:active, div.imgElTitle a:focus {
	color: #d00;
}
#article .article .ie4 .hentry .entry-content {
	margin: 0 0 2px 0;
	padding: 7px 8px 0 8px;
	font-size: 11px;
	line-height: 13px;
}
#article .article .ie4 .credit,
.article .section .misc .credit {
	position: relative;
	padding: 1px 8px 0 8px;
	bottom: 0;
	line-height: 14px;
}

.inel2, .inel3 {
	width: 457px;
	overflow: hidden;
}
.inel2 .hentry, .inel3 .hentry {
	float: left;
	width: 223px;
	margin: 0 11px 0 0;
}
.inel3 .hentry {
	width: 145px;
}
.inel2 .hentry.itemLast, .inel3 .hentry.itemLast {
	margin: 0;
}
.txt .inel2 .entry-content, .txt .inel3 .entry-content {
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
    padding: 0 8px 4px 5px;
    border: none;
}
.txt .inel2 img, .txt .inel3 img {
	margin: 0 0 7px;
	border-bottom: 1px solid #e5e5e5;
}
.inel2 .credit, .inel3 .credit {
	clear: left;
	bottom: 1px;
	position: relative;
	min-height: 17px;
    font-size: 11px;
    color: #999;
    padding: 0 0 0 5px;
}
.imgEl .full {
	clear: left;
	width: 443px;
}



#tools ul {
	position: relative;
	top: -2px;
	z-index: 1200;
}
#tools ul li {
	position: relative;
	float: left;
	height: 24px;
	width: 28px;
	padding: 0;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	z-index: 1003;
	font-size: 10px;
	background: transparent;
	margin-left: -1px;
}

#tools li.active {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-image: none;
	background-color: #fff;
	z-index: 1005;
	-moz-box-shadow: 0 1px 3px #333;
	-webkit-box-shadow: 0 1px 3px #333;
	box-shadow: 0 1px 3px #333;
}
#tools ul li a {
	position: relative;
	z-index: 1010;
	display: block;
	height: 24px;
	line-height: 26px;
	text-align: left;
	left: -1px;
	background: url(../../bilder.bild.de/fotos/tools-bg-15401700/Bild/2.bild.gif) 0 6px no-repeat;
}
#tools ul li a img {
	padding-top: 5px;
	padding-left: 7px;
}

#tools li.active li {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#tools ul li.active a img {
	padding-left: 6px;
}

#tools li.active a {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #ccc;
	background: #fff;
	background-image: none;
	width: 28px;
}
* + html #tools li.active a {
	height: 25px;
}
#tools ul ul {
	display: none;
	position: absolute;
	top: 24px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
	z-index: 1002;
	-moz-box-shadow: 0 1px 3px 0 #333;
	-webkit-box-shadow: 0 1px 3px #333;
	box-shadow: 0 1px 3px #333;
}

#tools li.active ul {
	display: block;
}
#tools ul ul li {
	width: auto;
	float: none;
	padding: 0 10px 0 5px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	line-height: 25px;
	height: 24px;
	overflow: hidden;
	border: none;
	margin: 0 0 2px 0;
	z-index: 1000;
	position: relative;
	background-image: none;
}


#tools li.active ul li,
#tools li.active ul li a {
	border: none;
	width: auto;
	background: transparent;
}
#tools ul ul li a {
	color: #888;
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 26px;
	line-height: 26px;
	border-bottom: none;
	display: block;
	text-align: left;
}
#tools ul ul li a:hover,
#tools ul ul li a:active,
#tools ul ul li a:focus {
	text-decoration: underline;
}
#tools ul ul li img {
	float: left;
	padding: 2px 0 0 0;
	margin: 0 5px 0 0;
}
#tools ul ul li.toolsHL {
	border-bottom: 1px solid #ccc;
	border-top: none;
	color: #d00;
	height: 23px;
	font-size: 11px;
	padding-left: 7px;
	position: relative;
}
#tools ul li a.help {
	position: absolute;
	top: 0;
	right: 7px;
	left: auto;
	line-height: 24px;
	width: 10px;
	height: 14px;
	color: #bbb;
	font-weight: normal;
	text-decoration: underline;
}
#tools #print a,
#tools li.first a {
	background-image: none;
}
li#print.active, li#send.active {
	height: 24px;
	border-bottom: 1px solid #ccc;
}
#tools li#print.active a,
#tools li#send.active a {
	border-bottom: 0;
	height: 22px;
}
#print ul {
	right:-17px;
	width:62px;
}
#send ul {
	right:-25px;
	width:76px;
}
#tools #print .toolsHL,
#tools #send .toolsHL {
	border-bottom: 0;
	margin-bottom: 0;
	height: 22px;
	line-height: 24px;
	text-align: center;
	padding: 0;
}
#bookmarks ul {
	width: 127px;
	right: -1px;
}
#networks ul {
	width: 155px;
	right: -1px;
} 
#tools li#networks {
	padding: 0;
}




.aside .stWrap {
	height: 210px;
	width: 323px;
}

.aside .stOpen1 {
	position: relative;
	height: 210px;
	width: 323px;
	overflow: visible;
	z-index: 1200;
}
#article .stOpen1 .section {
	position: absolute; 
	width: 323px;
}

.article .stOpen2 {
	position: relative;
	height: 250px;
	width: 457px;
	overflow: visible;
	text-align: left;
	z-index: 1200;
}
#article .article .stOpen2 .section {
	position: absolute; 
	width: 457px;
}

.article .stOpen3 {
	position: relative;
	height: 203px;
	width: 189px;
	overflow: visible;
	z-index: 1200;
}
#article .article .stOpen3 .section {
	position: absolute; 
	width: 189px;
}

.shorttext {
	position: relative;
	padding-bottom: 1px;
	zoom: 1;
}
.shorttext p {
	padding: 0;
}
.shorttext .index {
	position: absolute;
	bottom: -4px;
	right: 10px;
	font-size: 11px;
	font-weight: bold;
	color: #999;
}
.center .shorttext .index,
.floatL .shorttext .index,
.floatR .shorttext .index {
	bottom: 1px;
}
.floatL .shorttext .index,
.floatR .shorttext .index {
	right: 4px;
}
.shorttext .credit {
	position: absolute;
	bottom: -4px;
	left: 10px;
	padding: 0;
	font-size: 11px;
	color: #999;
}
.center .shorttext .credit,
.floatL .shorttext .credit,
.floatR .shorttext .credit {
	bottom: 1px;
}
.shorttextContent {
	overflow: hidden;
	position: relative;
}
.aside .stWrap .shorttextContent {
	margin: 0 34px 18px;
	padding: 9px 0 1px;
	height: 132px;
}
.center .shorttextContent {
	margin: 0 34px 23px;
	padding: 15px 0 1px;
	height: 159px;
}
.floatL .shorttextContent,
.floatR .shorttextContent {
	margin: 0 22px 22px;
	padding: 18px 0 1px;
	height: 116px;
}
.aside .stOpen1 .shorttextContent {
	min-height: 132px;
	height: auto !important;
	height: 132px;
	overflow: visible;
}
.article .stOpen2 .shorttextContent {
	min-height: 159px;
	height: auto !important;
	height: 159px;
	overflow: visible;
}
.stOpen3 .shorttextContent {
	min-height: 116px;
	height: auto !important;
	height: 116px;
	overflow: visible;
}
.floatL .shorttextContent p,
.floatR .shorttextContent p {
	width: 145px;
	overflow: hidden;
}
.aside .stOpen1 .shorttextContent p,
.article .stOpen2 .shorttextContent p,
.stOpen3 .shorttextContent p {
	height: auto;
	overflow: visible;
}
.shorttext .shorttextContent p a {
	color: #000;
	text-decoration: underline;
}
.shorttext .shorttextContent p a:hover,
.shorttext .shorttextContent p a:active,
.shorttext .shorttextContent p a:focus {
	color: #d00;
}
.shorttextContent span.more {
	position: absolute;
	display: none;
	color: #d00;
	width: 100%;
	left: 0;
	bottom: -1px;
	background-color: #f5f5f5;
	text-decoration: none;
	text-align: right;
	line-height: 18px;
	font-size: 11px;
	zoom: 1;
}
.shorttextContent .headline {
	margin-bottom: 4px;
	line-height: 14px;
	height: 28px;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	color: #d00;
	text-transform: uppercase;
}
.shorttextContent .shorttextImg {
	float: left;
	margin: 4px 12px 12px 0;
}
.shorttextContent .shorttextImg img {
	display: block;
}
.center .shorttextContent .shorttextImg {
	width: 141px;
	text-align: center;
	background: url(../../bilder.bild.de/fotos/bg-bild-15401702/Bild/2.bild.gif) repeat-x 0 0; 
}
.article .stWrap .shorttextImg img,
.lightbox .stWrap .shorttextImg img {
	margin: 0 auto;
}
.stWrap .shorttextImg img {
	margin: 0;
	padding: 0;
}
.stWrap .shorttext .shorttextContent p {
	line-height: 14px;
	font-size: 11px;
}
.floatL .shorttext .artList,
.floatR .shorttext .artList,
.floatL .shorttext .topList,
.floatR .shorttext .topList {
	width: 100%;
}
.shorttext .topList,
.shorttext .artList {
	overflow: hidden;
}
.shorttext .topList .index {
	position: relative;
	bottom: auto;
	right: auto;
}
.aside .stWrap .topList p, 
.aside .stWrap .topList p,
.center .stWrap .topList p, 
.center .stWrap .topList p,
.floatL .shorttext .topList p,
.floatR .shorttext .topList p {
	overflow: visible;
	height: auto;
	width: auto;
}
.shorttextContent ul {
	margin-bottom: 8px;
	clear: both;
	zoom: 1;
}
.shorttextContent table {
	margin-bottom: 8px;
	clear: both;
	table-layout: fixed;
}
.aside .shorttextContent th {
	background: none;
	border-right: 2px solid #fff;
}
.aside .shorttextContent th.lastCol {
	border-right: 0 none;
}
.shorttext .prev {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	display: block;
}
.floatL .shorttext .prev,
.floatR .shorttext .prev {
	width: 18px;
}
.shorttext .next {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	display: block;
}
.floatL .shorttext .next,
.floatR .shorttext .next {
	width: 18px;
}
.shorttext .prev a {
	width: 30px;
	height: 100%;
	display: block;
	outline: none;
}
.floatL .shorttext .prev a,
.floatR .shorttext .prev a {
	width: 18px;
}
.aside .stWrap .shorttext .prev a {
	background: url(../../bilder.bild.de/fotos/pfeil-zurueck-39x36-15401708/Bild/2.bild.png) no-repeat 8px 55px;
}
.center .shorttext .prev a {
	background: url(../../bilder.bild.de/fotos/pfeil-zurueck-48x51-15401706/Bild/2.bild.png) no-repeat 8px 55px;
}
.floatL .shorttext .prev a,
.floatR .shorttext .prev a {
	background: url(../../bilder.bild.de/fotos/pfeil-zurueck-39x36-15401708/Bild/2.bild.png) no-repeat 2px 55px;
}
.aside .stWrap .shorttext .prev a:hover,
.aside .stWrap .shorttext .prev a:active,
.aside .stWrap .shorttext .prev a:focus {
	background-position: -18px 55px;
}
.article .stWrap .shorttext .prev a:hover,
.article .stWrap .shorttext .prev a:active,
.article .stWrap .shorttext .prev a:focus,
.lightbox .stWrap .shorttext .prev a:hover,
.lightbox .stWrap .shorttext .prev a:active,
.lightbox .stWrap .shorttext .prev a:focus {
	background-position: -24px 55px;
}
.shorttext .next a {
	width: 30px;
	height: 100%;
	display: block;
	outline: none;
}
.floatL .shorttext .next a,
.floatR .shorttext .next a {
	width: 18px;
}
.aside .stWrap .shorttext .next a {
	background: url(../../bilder.bild.de/fotos/pfeil-vor-39x36-15401704/Bild/2.bild.png) no-repeat 8px 55px;
}
.center .shorttext .next a {
	background: url(../../bilder.bild.de/fotos/pfeil-vor-48x51-15401714/Bild/2.bild.png) no-repeat 8px 55px;
}
.floatL .shorttext .next a,
.floatR .shorttext .next a {
	background: url(../../bilder.bild.de/fotos/pfeil-vor-39x36-15401704/Bild/2.bild.png) no-repeat 2px 55px;
}
.aside .stWrap .shorttext .next a:hover,
.aside .stWrap .shorttext .next a:active,
.aside .stWrap .shorttext .next a:focus {
	background-position: -18px 55px;
}
.article .stWrap .shorttext .next a:hover,
.article .stWrap .shorttext .next a:active,
.article .stWrap .shorttext .next a:focus,
.lightbox .stWrap .shorttext .next a:hover,
.lightbox .stWrap .shorttext .next a:active,
.lightbox .stWrap .shorttext .next a:focus {
	background-position: -24px 55px;
}

.lightbox .shorttext {
	margin: 0;
}
.lightbox .stOpen2 {
	position: relative;
	overflow: visible;
	text-align: left;
}
.lightbox .stOpen2 .section {
	position: relative; 
}
.lightbox .stOpen2 .shorttextContent {
	min-height: 159px;
	height: auto !important;
	height: 159px;
	overflow: visible;
}
.lightbox .stOpen2 .shorttext p {
	height: auto;
	overflow: visible;
}

.shorttxtacc {
	position: relative;
	padding: 16px 10px 9px 11px;
	font-size: 11px;
}
.aside .shorttxtacc {
	padding-top: 10px;
}
.shorttxtacc .accHeader {
	height: 21px;
	font-weight: bold;
	line-height: 13px;
	text-transform: uppercase;
	color: #d00;
	overflow: hidden;
}
.floatL .shorttxtacc .accHeader, .floatR .shorttxtacc .accHeader {
	height: auto;
	margin: 0 0 9px; 
}
.shorttxtacc h5 {
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	padding: 8px 0 7px 3px;
	border-top: 1px solid #e2e2e2;
	clear: left;
}
.shorttxtacc a:hover, .shorttxtacc a:focus, .shorttxtacc a:active {
	text-decoration: underline;
}
.shorttxtacc h5 a span {
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	margin: 1px 9px 5px 0;
	background: url(../../bilder.bild.de/fotos/stat-sprite-23773142/Bild/1.bild.png) no-repeat 0 -82px;
}
.article .txt .shorttxtacc h5 a strong {
	width: 145px;
	font-size: 12px;
	line-height: 15px;
	float: left;
}
.shorttxtacc .stcontents {
	display: none;
	margin: 8px 0 0 20px;
	line-height: 15px;
}
.shorttxtacc .stcontents .stimg {
	float: left;
	margin: 0 9px 8px 0;
}
.shorttxtacc .stcontents .stimg span {
	display: block;
	width: 111px;
	height: 11px;
	padding: 2px 0 0 2px;
	overflow: hidden;
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	color: #999;
}
.txt .shorttxtacc .stcontents p {
	font-size: 11px;
	line-height: 15px;
	margin: 0 0 8px ;
}
.article .txt .shorttxtacc .stcontents {
	margin-top: 5px;
}
.article .floatL .shorttxtacc .stcontents p, .article .floatR .shorttxtacc .stcontents p {
	font-size: 11px;
	line-height: 15px;
}
.aside .shorttxtacc .stcontents p, .floatL .shorttxtacc .stcontents p, .floatR .shorttxtacc .stcontents p, .floatL .shorttxtacc a, .floatR .shorttxtacc a {
	color: #666;
}
.shorttxtacc .stcontents p a {
	text-decoration: underline;
}
.shorttxtacc .stcontents p a:hover, .shorttxtacc .stcontents p a:focus, .shorttxtacc .stcontents p a:active {
	color: #d00;
}
.shorttxtacc .active.acctoggle a span {
	background-position: 0 -93px;
}
.shorttxtacc .active.stcontents {
	display: block;
}
.shorttxtacc > h5.acctoggle:first-child {
	border: 0;
}




.artGallery {
	position: relative;
	min-height: 145px;
	height: auto !important;
	height: 145px;
	width: 792px;
	background: url(../../bilder.bild.de/fotos/tb-grad-bottom-15401558/Bild/2.bild.gif) repeat-x left bottom;
	padding-bottom: 10px;
	color: #333;
}
.artGallery .container {
	position: absolute;
	bottom: 26px;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 1001;
}
.artGallery-Banner {
	position: relative;
	z-index: 1000;
}
.prev-entry {
	position: absolute;
	top: 0;
	left: 31px;
	width: 164px;
	z-index: 1001;
}
.next-entry {
	position: absolute;
	top: 0;
	right: 31px;
	width: 164px;
	z-index: 1001;
}
.prev-entry p,
.next-entry p {
	font-size: 10px;
	font-weight: bold;
}
.next-entry p { 
	text-align: right;
}
.artGallery .hentry {
	width: 144px;
	height: 94px;
	padding: 6px 10px;
	overflow: hidden;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	background: #fff;
}
.artGallery .hentry img {
	margin-bottom: 5px;
}
.artGallery .hentry .headline {
	margin-top: 2px;
	height: 24px;
	font-size: 10px;
	overflow: hidden;
}
.artGallery .hentry .kicker {
	font-size: 10px;
}
.artGallery .pag {
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 207px;
	width: 378px;
	height: 12px;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	z-index: 1001;
	background: none;
	color: #666;
	text-transform:none;
}
.middle {
	position: absolute;
	top: 0;
	left: 207px;
	width: 378px;
	height: 106px;
	text-align: center;
	z-index: 1001;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	color: #000;
	overflow: hidden;
}
.artGallery .prev {
	position: absolute;
	top: 0;
	left: 0;
	height: 106px;
	width: 31px;
	z-index: 1002;
}
.artGallery .prev a {
	display: block;
	height: 106px;
	background: url(../../bilder.bild.de/fotos/pfeil-zurueck-39x36-15401708/Bild/2.bild.png) no-repeat 7px 36px; 
}
.artGallery .prev a:hover,
.artGallery .prev a:active,
.artGallery .prev a:focus {
	background-position: -19px 36px;
}
.artGallery .next {
	position: absolute;
	top: 0;
	right: 0;
	height: 106px;
	width: 31px;
	z-index: 1002;
}
.artGallery .next a {
	display: block;
	height: 106px;
	background: url(../../bilder.bild.de/fotos/pfeil-vor-39x36-15401704/Bild/2.bild.png) no-repeat 11px 36px; 
}
.artGallery .next a:hover,
.artGallery .next a:active,
.artGallery .next a:focus {
	background-position: -15px 36px;
}


.uploadframe {
	border: 0;
	height: 675px;
	width: 100%;	
}


.topBt {
	overflow: hidden;
	padding: 0 0 10px 0;
	margin: 0 0 11px;
	height: 1%;
	background: url(../../bilder.bild.de/fotos/bg-footer-sep-15401670/Bild/2.bild.gif) repeat-x left bottom;
}
.topBt a {
	float: right;
	width: 51px;
	height: 21px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 21px;
	color: #888;
	background: url(../../bilder.bild.de/fotos/top-arrow-bg-15402000/Bild/2.bild.gif) no-repeat top right;
}
.topBt a:hover, 
.topBt a:active, 
.topBt a:focus {
	color: #d00;
	background-position: bottom right;
}


.article .descriptive {
	margin: 0 0 2px;
	padding: 7px 0 0;
}
.article .descriptive h4 {
	font-size: 30px;
	line-height: 33px;
	margin: 0 0 8px;
	padding: 0 0 0 26px;
	position: relative;
}
.article .descriptive h4 span {
	font-size: 18px;
	position: absolute;
	top: 13px;
	left: 0;
}
.article .descriptive p {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
}


.ntReg {
	position: relative;
	overflow: hidden;
	height: 211px;
	padding: 10px 0 6px 0;
}
.ntReg ul {
	font-size: 11px;
	font-weight: bold;
	color: #666;
	overflow: hidden;
}
.ntReg li {
	float: left;
	border-bottom: 1px solid #ccc;
	height: 25px;
	width: 323px;
}
.ntReg li a {
	display: block;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
	color: #666;
	padding: 0 10px;
}
.ntReg li a:hover,
.ntReg li a:active,
.ntReg li a:focus {
	color: #d00;
}
.ntReg li a span {
	padding: 0 6px 0 0;
	color: #d00;
	text-transform: uppercase;
}
.ntReg .ntRegLast {
	border-bottom: 0;
	height: 29px;
}


.extLinks {
	display: block;
	margin: 0 10px;
	padding: 7px 0;
}
.extLinks li {
	font-weight: bold;
	font-size: 11px;
	color: #666;
	line-height: 16px;
	padding: 0 0 0 15px;
	background: url(../../bilder.bild.de/fotos/icon-extlink-15401376/Bild/2.bild.gif) 0 1px no-repeat;
	height: 1%;
}
.extLinks li a {
	text-decoration: underline;
	color: #666;
}
.extLinks li a:hover,
.extLinks li a:active,
.extLinks li a:focus {
	color: #d00;
}


.liveticker {
	position: relative;
	width: 100%;
}
.liveticker > div:first-child {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	background: #f7f7f7;
	height: 53px;
}
.liveticker > div h3 {
	border-top: 1px solid #fff;
	padding: 12px 10px;
	font-size: 24px;
	line-height: 27px;
	text-transform: uppercase;
	color: #666;
}
.liveticker > div p {
	position: absolute;
	right: 10px;
	top: 21px;
	font-size: 14px;
	color: #999;
}
.liveticker > div p em {
	font-style: normal;
}
.liveticker .refresh {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -5px;
	margin: 0 0 0 5px;
	height: 23px;
	width: 23px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../../bilder.bild.de/fotos/refresh-23513144/Bild/1.bild.png) left bottom no-repeat;
	border-radius: 3px;
}
.liveticker .refresh:hover,
.liveticker .refresh:active,
.liveticker .refresh:focus {
	background-position: 0 0;
}
.ie7 .liveticker .refresh,
.ie7 .liveticker a.share {
	zoom: 1;
}
.liveticker form.sort {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e7e7e7;
	background: #f7f7f7;
	height: 31px;
}
.liveticker form.sort fieldset {
	border: 0;
}
.liveticker .sort div.row {
	line-height: 31px;
	padding: 0 10px;
	color: #666;
	zoom: 1;
}
.ie7 .liveticker .sort span {
	float: left;
}
.liveticker .sort a {
	color: #999;
	padding: 0 4px;
}
.liveticker .sort a.active {
	color: #d00;
}
.liveticker .sort a:hover,
.liveticker .sort a:active,
.liveticker .sort a:focus {
	text-decoration: underline;
}
.liveticker .sort select,
.liveticker .sort label {
	float: right;
}
.liveticker .sort select {
	position: relative;
	top: 6px;
	margin: 0 0 0 7px;
	width: 110px;
}
.liveticker ol {
	width: 100%;
}
.liveticker ol > li {
	border-top: 1px solid #ccc;
	padding: 14px 0;
}
.liveticker ol > li:first-child {
	border: 0;
}
.liveticker li h2 {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
	margin: 0 0 3px 0;
}
.liveticker li h2 span {
	color: #d00;
	padding: 0 5px 0 0;
}
.liveticker li.breaks h2 span {	
	display: block;
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	left: 0px;
                  top: -20px;
}
.liveticker li.breaks h2 {
	font-size: 24px;
	line-height: 30px;
	padding-left: 30px;
	background: url(../../bilder.bild.de/fotos/highlight-23513120/Bild/1.bild.jpeg) 0 1px no-repeat;
                  position: relative;
                  margin-top: 20px;
}
.article .txt div.liveticker ol > li > p {
	font-size: 14px;
	line-height: 17px;
	padding: 0 0 11px 0;
}
.liveticker .figure.floatL {
	width: 189px;
	margin: 0 12px 0 0;
}
.liveticker .floatL .photo {
	display: block;
	margin: auto;
}
.liveticker .video_js_proxy {
 	width: 457px;
}
.liveticker .figure .figcaption {
	font-size: 11px;
	line-height: 15px;
	color: #000;
	padding: 6px 0;
}
.liveticker ul.meta {
	font-size: 12px;
	color: #666;
	overflow: hidden;
	width: 100%;
}
.liveticker .meta li {
	float: right;
	line-height: 15px;
}
.liveticker .meta li.author {
	float: left;
}
.liveticker .meta li a {
	color: #666;
	padding: 0 5px;
}
.liveticker .meta span {
	text-transform: uppercase;	
}
.liveticker .meta a.comment {
	border-right: 1px solid #ccc;
}
.liveticker a.share {
	display: inline-block;
	vertical-align: middle;
	background: url(../../bilder.bild.de/fotos/share-15401312/Bild/2.bild.gif) 50% 0px no-repeat;
	height: 15px;
	width: 16px;
}


#ttipwrapper,
.title-tip span {
	position: absolute;
    display: none;
	line-height: 16px;
	height: 16px;
	width: 60px;
    text-align: center;
    background-color: #d00;
    color: #fff;
    font-size: 11px;
	z-index: 1001;
	text-transform: uppercase;
}
#ttipwrapper,
.title-tip span {
	width: auto;
	padding: 0 4px;
}
#ttipwrapper.show,
.title-tip span.show {
    display: inline-block;
}
