
    /*com-global:25667150.19*/
    



.comment a:link, .comment a:visited, .comment a {
    color: #666;
}
.comment a:active, .comment a:hover, .comment a:focus {
    color: #d00;
}


.com-tabs {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E2E2E2;
    height: 30px;
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 0 10px 0;
}
.com-tabs li {
    float: left;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    background: #fff;
    margin: 4px 10px 0 0;
    font-weight: 700;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
}
.com-tabs li {
    line-height: 26px;
    font-weight: 700;
}
.com-tabs .active {
    border-color: #d00;
    background: #d00;
    height: 26px;
}
.com-tabs .active a:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #d00;
}
.com-tabs a {
    color: #888;
    display: block;
    padding: 0 20px;
    position: relative;
    zoom: 1;
}
.com-tabs a:hover {
    background: #d00;
    color: #fff;
}
.com-tabs .active a {
    color: #fff;
}


.btn-def,
.btn-emp,
.btn-follow,
.btn-reset {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #a20000;
    height: 18px;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    overflow: visible;
    vertical-align: top;
}
input.btn-def,
input.btn-emp,
input.btn-follow,
input.btn-reset {
    display: inline;
    height: 20px;
}
.ie7 .btn-def,
.ie7 .btn-emp,
.ie7 .btn-follow,
.ie7 .btn-reset {
    display: inline;
    zoom: 1;
    line-height: 1em;
}
.ie7 .count span {
    display: inline;
    zoom: 1;
}
.btn-def {
    color: #666;
    background-color: #fff;
    border-color: #dadada;
}
.btn-emp,
.btn-follow {
    background-color: #d00;
}
.btn-follow {
    width: 100px;
    text-align: center;
    padding: 0;
}
.btn-follow.active {
    background: #e2e2e2;
    border-color: #ccc;
    color: #666;
    text-shadow: 1px 1px 0 #fff;
}
.btn-follow.active:before {
    content: "✓";
    display: inline;
    font-family: "fontello";
    font-weight: normal;
    padding: 0 5px 0 0;
}
.btn-reset {
    border-color: #fff;
    background: transparent;
    color: #888;
}
.comment .btn-def:hover, .comment  .btn-def:focus, .comment .btn-def:active,
.btn-def:hover, .btn-def:focus, .btn-def:active {
    background: #d00;
    color: #fff;
}
.btn-emp:hover, .btn-emp:focus, .btn-emp:active,
.btn-follow:hover, .btn-follow:focus, .btn-follow:active {
    color: #e2e2e2;
    background: rgb(221,0,0);
    background: -moz-linear-gradient(top, rgba(221,0,0,1) 0%, rgba(255,85,85,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,0,0,1)), color-stop(100%,rgba(255,85,85,1)));
    background: -webkit-linear-gradient(top, rgba(221,0,0,1) 0%,rgba(255,85,85,1) 100%);
    background: -o-linear-gradient(top, rgba(221,0,0,1) 0%,rgba(255,85,85,1) 100%);
    background: -ms-linear-gradient(top, rgba(221,0,0,1) 0%,rgba(255,85,85,1) 100%);
    background: linear-gradient(to bottom, rgba(221,0,0,1) 0%,rgba(255,85,85,1) 100%);
}
.btn-def:hover, .btn-def:focus, .btn-def:active,
.btn-emp:hover, .btn-emp:focus, .btn-emp:active,
.btn-follow:hover, .btn-follow:focus, .btn-follow:active {
    text-decoration: none;
}
.btn-follow.active:hover, .btn-follow.active:focus, .btn-follow.active:active {
    background: #999;
    border-color: #ccc;
    color: #fff;
    text-shadow: 1px 1px 0 #555;
}
.btn-def.drop {
    padding: 0 3px;
}
.count {
    line-height: 1;
}
.count .btn-follow {
    position: static;
}
.count span {
    position: relative;
    display: inline-block;
    border: 1px solid #dadada;
    background: #fff;
    line-height: 18px;
    color: #888;
    font-size: 10px;
    padding: 0 3px;
    margin: 0 0 0 4px;
}
.count span:after,
.count span:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 5px;
    left: -8px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent #fff transparent transparent ;
}
.count span:before {
    border-width: 5px;
    bottom: 4px;
    left: -10px;
    border-right-color: #dadada;
}


.com-form {
    position: relative;
    border-bottom: 3px solid #f1f1f1;
    zoom: 1;
}
.new-comment {
    padding-bottom: 12px;
    border-width: 0 0 1px 0;
}
.new-comment.active {
    padding-bottom: 0;
}
.comment .com-form {
    margin-top: 10px;
    border: 1px solid #E2E2E2;
    background-color: #F7F7F7;
}
.sub-comment-list .com-form {
    margin-top: 0;
}
.com-form fieldset {
    border: 0;
    display: block;
    padding: 0 12px;
}
.sso .com-form .note,
.com-form .note {
    position: absolute;
    bottom: 17px;
    left: 12px;
    font-size: 12px;
    color: #888;
}
.com-form .com-text input,
.com-form select,
.com-form textarea,
.com-form button,
.com-form input[type="file"] {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
    color: #1b1b1b;
}
.com-form fieldset > div {
    margin-bottom: 25px;
}
.com-form.report fieldset > .com-select {
    margin-top: 30px;
}
.sso .com-form fieldset > div.error {
    margin-bottom: 10px;
}
.sso .com-form fieldset > div.upload-file.error,
.sso .com-form fieldset > div.com-upload.error {
    margin-bottom: 0;
    padding-bottom: 25px;
    height: 36px;
}
.sso .com-form fieldset > div.upload-file.error p,
.sso .com-form fieldset > div.com-upload.error p {
    position: absolute;
    left: 0;
    bottom: 12px
}
.com-form  .column {
    clear: both;
    padding: 25px 0 0 0;
    text-align: right;
}
.com-form .column .com-text {
    text-align: left;
    float: left;
    width: 48.35%;
    padding: 0 0 0 1.65%;
}
.com-form .column .com-text:first-child {
    padding: 0 1.65% 0 0;
}
.com-form .column .com-text input {
    width: 92.4%;
}
.sub-comment-list .com-form fieldset .com-textarea {
    margin-bottom: 12px;
}
.new-comment .com-textarea {
    margin-bottom: 0;
}
.com-form .com-text input,
.com-form .com-textarea textarea {
    padding: 6px 10px 7px;
    border: 1px solid #e2e2e2;
    line-height: 16px;
}
.com-form .com-upload.error input.browse,
.com-form .com-text.error input,
.com-form .com-textarea.error textarea {
    border-color: #d00;
}
.com-form input + label,
.com-form label + p,
.com-form input + p,
.com-form textarea + p {
    display: none;
}
.com-form .error > p {
    display: block;
    font-size: 11px;
    color: #d00;
    line-height: 14px;
    padding: 1px 0 0 12px;
}
.com-form > .com-buttons {
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 12px 15px 0;
    text-align: right;
    min-height: 20px;
}
.js .com-form > .com-buttons {
    display: none;
}
.js .com-form.newthread > .com-buttons {
    display: block;
    visibility: hidden;
}
.js .com-form.active > .com-buttons {
    display: block;
}
.js .com-form.active.newthread > .com-buttons {
    visibility: visible;
}
.anonymus > .com-buttons {
    border: 0;
}
.sub-comment-list .com-form > .com-buttons {
    padding-top: 0;
    border: 0;
}
.com-form > .com-buttons input {
    margin: 0 0 0 5px;
}
.com-form label {
    display: block;
    color: #666;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 2px 0;
}
.com-form label em,
.com-form .note em {
    color: #d00;
}
.com-buttons p.message {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #1b1b1b;
    padding: 110px 0 120px;
}
.new-comment .com-buttons p.message {
    padding: 56px 0;
}
p.hint {
    font-size: 15px;
    line-height: 24px;
    color: #999;
    padding: 55px 0;
    text-align: center;
}
p.hint.fb-likes {
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    padding: 35px 0;
}
p.hint.fb-likes .close {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0 1px 1px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #ccc;
    line-height: 13px;
    font-size: 16px;
    font-weight: bold;
}
p.hint.fb-likes .import-likes {
    display: inline-block;
    *display: inline;
    height: 20px;
    padding: 0 6px;
    margin-top: 1em;
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #5e78ae;
    border: 1px solid #304e8e;
}
p.hint.fb-likes .import-likes:hover {
    background-color: #304e8e;   
}
p.hint.fb-likes .import-likes:before {
    font-size: 14px;
    line-height: 20px;
    font-family: "fontello";
    content: "\F308";
    margin-right: 6px;
    vertical-align: top;
}

.com-form .socials {
    margin: 0 40px 0 0;
}
.com-form .socials,
.com-form .socials label {
    position: relative;
    display: inline-block;
    height: 10px;
}
.ie7 .com-form .socials,
.ie7 .com-form .socials label {
    display: inline;
    zoom: 1;
}
.ie7 .com-form .socials label {
    width: 50px;
}
.com-form .socials {
    top: 1px;
    left: auto;
    bottom: auto;
    font-size: 12px;
    color: #666;
    height: 18px;
}
.com-form .socials input {
    float: left;
    margin: 0;
}
.ie7 .com-form .socials input {
    position: relative;
    top: -2px;
}
.com-form .socials label span {
    float: right;
    margin: 0 0 0 5px;
    background: url(../../bilder.bild.de/fotos/fb-mini-socials-25743656/Bild/2.bild.png) 0 0 no-repeat;
    height: 18px;
    width: 20px;
    position: relative;
    top: -2px;
}

.ie7 .com-form legend {
    margin-left: -7px;
}
.js-load {
    display: block;
    width: 99.7%;
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;   
    font-weight: 700;
    font-size: 10px;
    color: #666;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: background-color .2s linear;
       -moz-transition: background-color .2s linear;
            transition: background-color .2s linear;
}
.js-load.alt {
    border: 0;
    background-color: transparent;
}
.js-load:hover,
.js-load:active,
.js-load:focus {
    background-color: #e2e2e2;
}
.js-load.active {
    text-indent: -9999px;
    background-image: url(../../bilder.bild.de/fotos/loading-25798974/Bild/3.bild.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    pointer-events: none;
}
a.data-ajax-load {
    display: block;
    font-size: 14px;
    height: 3em;
    margin: 6em 0;
    text-align: center;
    background-image: url(../../bilder.bild.de/fotos/loading-25798974/Bild/3.bild.gif);
    background-position: bottom center;
    background-repeat: no-repeat;    
}
a.data-ajax-load:after {
    color: #666;
    content: "Inhalte werden geladen";
}
.popular a.data-ajax-load {
    margin: 0;
}

.top5.loading > div {
    min-height: 15em;
    background-image: url(../../bilder.bild.de/fotos/loading-25798974/Bild/3.bild.gif);
    background-position: center center;
    background-repeat: no-repeat;        
}



div.card {
    min-height: 100px;
    min-width: 155px;
    padding: 10px 10px 10px 120px;
    position: absolute;
    top: -95px;
    left: 4%;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    color: #d00;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    z-index: 1500;
}
.ie7 div.card {
    white-space: normal;
}
div.card img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin: 0 0 0 -110px;
}
div.card > a:first-child,
.usrlist > li > a {
    display: block;
    font-size: 12px;
    color: #d00;
}
div.card > span,
.usrlist > li > span {
    font-size: 11px;
    color: #666;
    font-weight: 400;
    display: block;
}
div.card:after,
div.card:before {
    display: block;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 10px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: #fff transparent transparent transparent;
}
div.card:before {
    left: 9px;
    bottom: -22px;
    border-width: 11px;
    border-top-color: #e2e2e2;
}
div.card .btn-follow {
    position: absolute;
    bottom: 20px;
    left: 120px;
}

.comment-actions {
    padding-top: .4em;
    font-size: 10px;
}
.comment-actions li {
    display: inline-block;
    color: #666;
}
.ie7 .comment-actions li {
    line-height: 17px;
}
.comment-actions li:before {
    display: inline-block;
    content: "|";
    margin: 0 6px;
}
.comment-actions li:first-child:before {
    content: "";
    margin: 0;
}
.comment-actions .comment-on {
    text-transform: uppercase;
}
.comment-actions .like {
    position: relative;
    top: -3px;
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    white-space: nowrap;
    text-indent: -1982em;
    background: transparent url(../../bilder.bild.de/fotos/like-25667140/Bild/2.bild.png) no-repeat;
}
.comment-actions .like.liked,
.comment-actions .like:hover {
    background-position: 0px -18px;
}
.comment-actions .like.active,
.comment-actions .like:active {
    background-position: 0px -36px;
}
.ie7 .comment-actions li {
    display: inline;
    zoom: 1;
    margin-right: 6px;
}
.ie7 .comment-actions .like {
    display: inline;
    float: left;
}
.comment-actions .comment-like-count {
    font-size: 11px;
}
.comment .comment-list,
.sub-comment-list {
    padding-top: 1em;
}
.sub-comment-list .sub-comment-list .comment {
    padding: 12px 0 12px 62px;
    border: none;
}
.comment .comment-list li,
.sub-comment-list li {
    margin-bottom: 4px;
}

form.anonymus,
form.sort,
form.login {
    border: 0;
    padding: 12px 0;
}
form.sort fieldset > div {
    text-align: right;
    margin: 0;
}
.loading .com-buttons {
    min-height: 0;
    height: 10px;
    background: transparent url(../../bilder.bild.de/fotos/loading-25798974/Bild/3.bild.gif) 50% 50% no-repeat;
    padding: 0;
    margin-bottom: 15px;
    border: 0;
}
.sub-comment-list .loading.new-comment .com-buttons {
    background-color: #F7F7F7;
}
.loading.new-comment .com-textarea {
    margin-bottom: 12px;
}
.sort .itemcount {
    float: left;
    font-weight: 700;
    font-size: 14px;
    color: #1b1b1b;
}
.sort .column {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 12px 20px 12px;
    margin: 0 -12px 10px;
}
.sort .column > div {
    float: left;
    text-align: left;
}
.sort .column .com-radio label {
    display: inline-block;
    margin: 0 5px;
    font-weight: 400;
}
.ie7 .sort .column .com-radio label {
    display: inline;
    zoom: 1;
}
.sort .column .active label {
    color: #000;
    font-weight: 700;
}
.sort .column .com-select {
    width: 35%;
}
.sort .column .com-radio {
    width: 22%;
}


.calltoaction {
    padding: 25px 0 25px;
    border-bottom: 1px solid #e2e2e2;
}
.calltoaction p.hint {
    padding: 0;
    line-height: 18px;
}
.calltoaction p.hint .btn-emp {
    margin: 0 0 0 20px;
}
.calltoaction p + p {
    margin: 15px 0 0 0;
}
.calltoaction p.login {
    margin: 20px 10px -15px;
    text-align: right;
    color: #1b1b1b;
}
.anonymus .calltoaction {
    padding-bottom: 25px;
    padding-right: 12px;
}
.anonymus .calltoaction p {
    float: right;
}
.anonymus .calltoaction p a,
.calltoaction p.login a {
    text-transform: uppercase;
    color: #d00;
}


.captcha {
    position: relative;
    padding-top: 15px;
    text-align: center;
}
.new-comment.anonymus fieldset.captcha label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.captcha img {
    vertical-align: bottom;
}
.captcha + *,
.captcha  * {
    display: inline-block;
}
.ie7 .captcha {
    overflow: hidden;
    padding: 25px 0 0 150px;
}
.ie7 .captcha + *,
.ie7 .captcha {
    display: block;
    float: left;
}
.captcha .reload {
    background: url(../../bilder.bild.de/fotos/refresh-sprite-26496278/Bild/2.bild.png) 0 0 no-repeat;
    height: 24px;
    width: 26px;
    white-space: nowrap;
    text-indent: -1982em;
}
.captcha + .com-buttons {
    border-bottom: 1px solid #E2E2E2;
    margin-top: -60px;
    padding-bottom: 40px;
}
.captcha .error input + p {
    position: absolute;
    bottom: -20px;
    left: 27.5%;
    width: 100%;
}


.upload-form {
    position: relative;
    zoom: 1;
    background-color: #f7f7f7;
}
.upload-form fieldset {
    border: 0;
    display: block;
}
.upload-form .note {
    position: absolute;
    bottom: 17px;
    left: 0;
    font-size: 12px;
    color: #888;
}
.upload-form legend {
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    padding: 4px 0 0;
}
.upload-form .upload-text input,
.upload-form textarea,
.upload-form button,
.upload-form input[type="file"] {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
    color: #1b1b1b;
}
.upload-form fieldset > div {
    margin-bottom: 24px;
}
.upload-form .upload-text input,
.upload-form .upload-textarea textarea {
    padding: 6px 10px;
    border: 1px solid #e2e2e2;
    line-height: 16px;
    width: 96.1%;
}
.upload-form textarea {
    height: 14px;
    min-height: 14px;
    overflow: hidden;
}
.upload-form .active textarea, .upload-form textarea:active, .upload-form textarea:focus {
    min-height: 64px;
}
.upload-form .clearfix > .upload-text input,
.upload-form .clearfix > .upload-textarea textarea {
    width: 91.5%;
}
.upload-form .clearfix > .upload-text {
    float: left;
    width: 48.35%;
    padding: 0 0 0 1.65%;
}
.upload-form .clearfix > .upload-text:first-child {
    float: left;
    width: 48.35%;
    padding: 0 1.65% 0 0;
}
.upload-form .upload-text.error input,
.upload-form .upload-textarea.error textarea {
    border-color: #d00;
}
.upload-form input[type="checkbox"] {
    float: left;
    margin: 0 10px 10px 0;
}
.upload-form .error > p {
    font-size: 11px;
    color: #d00;
    line-height: 14px;
    padding: 1px 0 0;
}
.upload-form > .upload-buttons {
    padding: 15px 0;
    text-align: right;
    min-height: 20px;
}
.upload-form .filebrowse {
    cursor: pointer;
    height: 27px;
    filter: alpha(opacity: 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 2;
}
.upload-form .upload-file {
    position: relative;
    margin: 0 0 39px;
}
.upload-form .upload-file input[type="text"] {
    background-color: #FFFFFF;
    color: #000000;
    left: 0;
    position: absolute;
    top: 0;
    width: 70%;
    z-index: 1;
    padding: 6px 10px 6px;
    border: 1px solid #e2e2e2;
    line-height: 16px;
}
.upload-form .upload-file input[type="button"] {
    position: relative;
    left: 448px;
    top: 8px;
}
.upload-form label {
    display: block;
    color: #666;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 2px 0;
}
.upload-form label.upload-terms {
    font-weight: 400;
}
.upload-form .upload-terms a:hover,
.upload-form .upload-terms a:active,
.upload-form .upload-terms a:focus {
    color: #d00;
    text-decoration: underline;
}
.upload-form label em,
.upload-form .note em {
    color: #d00;
}
.upload-form .upload-check em {
    margin: 0 0 0 -6px
}
p.hint {
    font-size: 15px;
    line-height: 24px;
    color: #999;
    padding: 55px 0;
    text-align: center;
}
p.progress {
    font-size: 14px;
    line-height: 18px;
    color: #666;
    padding: 36px 0 24px;
}
legend + p.progress{
    padding: 24px 0 24px;
}
p.progress:before {
    background-color: #e2e2e2;
    bottom: 24px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
}
p.progress strong {
    color: #666;
}
p.progress span {
    color: #999;
    font-size: 12px;
}















.ie7 .upload-form .socials,
.ie7 .upload-form .socials label {
    display: inline;
    zoom: 1;
}
.ie7 .upload-form .socials label {
    width: 50px;
}
.upload-form .socials input {
    float: left;
}
.ie7 .upload-form .socials input {
    position: relative;
    top: -2px;
}

.upload-form .btn-upload,
.upload-form .btn-submit,
.contentsearch input.btn-submit {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    border: 1px solid #e2e2e2;
    display: inline;
    height: 20px;
    padding: 2px 20px;
    color: #666;
    overflow: visible;
    vertical-align: top;
    background-color: #fff;
}
.upload-form .btn-upload {
    padding: 2px 10px;
}
.ie7 .upload-form .btn-upload,
.ie7 .upload-form .btn-submit {
    zoom: 1;
}
.upload-form .btn-upload:hover, .upload-form .btn-upload:focus, .upload-form .btn-upload:active,
.upload-form .btn-submit:hover, .upload-form .btn-submit:focus, .upload-form .btn-submit:active,
.contentsearch input.btn-submit:hover, .contentsearch input.btn-submit:focus, .contentsearch input.btn-submit:active {
    background: #d00;
    color: #fff;
    text-decoration: none;
}


.uploads {
    padding: 15px 0 0;
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0 3px 0 0 #F1F1F1;
}
.uploads > h3,
.uploads > p,
.uploads > ul li {
    color: #666;
    font-size: 12px;
    padding: 0 12px 17px 12px;
}
.uploads > h3 {
    font-size: 14px;
}
.uploads .com-iframe {
    width: 100%;
    min-height: 370px;
}
.sso-alt .com-check input,
.sso .com-check input {
    vertical-align: top;
}
.sso-alt .com-check label,
.sso .com-check label {
    display: inline-block;
    font-weight: 400;
}
.sso .com-check label {
    max-width: 90%;
}
.uploads.sso .com-form legend + p {
    margin: 0;
    padding: 0 0 24px 0;
}
.uploads .upload-file input.browse {
    width: 75%;
}
.uploads .upload-file input.btn-upload {
    left: 82.6%;
}
.uploads.sso .com-form.progress legend + p,
.uploads .com-form.progress p.message {
    margin: 0;
    padding: 0 0 24px 0;
}
.uploads.sso .com-form.progress fieldset {
    padding: 60px 12px;
}
.uploads ol {
    margin: 0 -12px 15px -12px;
}
.uploads ol li {
    clear: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    padding: 30px;
}
.uploads li:first-child {
    padding-top: 0;
}
.uploads ol li > div,
.uploads ol li > div.socials {
    margin: 0 0 10px 37%;
    display: block;
}
.uploads ol li > .com-text {
    margin-bottom: 28px;
}
.uploads ol li > .com-textarea textarea {
    min-height: 80px;
}
.uploads li figure {
    float: left;
    max-width: 35%;
    width: 189px;
}
.uploads li figure img {
    max-height: 189px;
    max-width: 189px;
    margin: 0 auto;

}


body.sso,
.sso #innerWrapper {
    background-color: #f7f7f7;
}
body.sso-alt,
.sso-alt #innerWrapper,
.uploads.sso-alt .upload {
    background-color: #fff;
}
.sso .com-form,
.com-iframe {
    width: 585px;
    border: 0;
}
.sso-alt .com-form {
    width: 658px;
}
.sso .com-form {
    padding-bottom: 12px;
}
.com-upload-data {
    height: 260px;
}
.com-upload-file {
    height: 430px;
}
.com-upload-advanced {
    height: 447px;
    overflow: hidden;
}
.sso .com-form fieldset > p {
    color: #666;
    margin-bottom: 23px;
    padding-bottom: 0;
}
.sso .com-form > .com-buttons {
    display: block;
    border: 0;
    padding: 0 12px 0 0;
}
.sso .com-form p a {
    text-decoration: underline;
}
.sso .com-form p a:hover {
    text-decoration: none;
}
.sso .com-form p a.member {
    font-size: 14px;
    text-transform: none;
    text-decoration: none;
}
.sso .com-form p a.member:hover,
.sso-alt .com-check label a {
    text-decoration: underline;
}
.sso .com-form legend + p {
    font-size: 14px;
    line-height: 18px;
    margin: 30px 0;
    padding: 0;
}
.sso .com-form legend + p:before {
    display: none;
}
.sso .com-form.progress legend + p {
    margin-top: 60px;
}
.sso .com-form .column {
    padding-top: 0;
    margin-bottom: 23px;
}
.sso .com-form .note {
    bottom: 12px;
    margin-bottom: 0;
}
.sso .upload-form legend {
    font-size: 0;
    line-height: 0;
    padding: 0;
}
.sso .progressbar {
    overflow: hidden;
}
.sso .progressbar .meter {
    float: left;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 17px;
    padding: 1px;
    width: 79.500891266%;
}
.sso .progressbar .meter span {
    display: block;
    height: 17px;
    min-width: 10%;
    background-color: #d00;
}
.sso .progressbar em {
    float: left;
    width: 17.112299465%;
    padding-right: 2.673796791%;
    line-height: 21px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    color: #666;
}
.sso .com-form.profile-pic {
    padding-top: 12px;
    padding-left: 178px;
    width: 407px;
}
.sso .com-form.profile-pic legend + p {
    margin-top: 0;
}
.sso .com-form.profile-pic figure {
    float: left;
    margin-left: -166px;
}
.sso .com-form.profile-pic .upload-file input[type="text"] {
    width: 60%;
}
.sso .com-form.profile-pic .upload-file input[type="button"] {
    left: 275px
}
.sso .com-form.profile-pic.upload-form .upload-file {
    margin-bottom: 44px;
}
.sso .com-form.profile-pic.upload-form fieldset > div.com-upload.error {
    margin-bottom: 0;
    padding-bottom: 25px;
}


.comment .fnc {
    position: absolute;
    top: 0;
    right: 0;
}
.fnc > li ul {
    display: block;
    padding: 0 9px;
    color: #888;
    text-transform: uppercase;
    font-size: 11px;
    background-color: #fff;
    z-index: 1000;
}
.fnc > li {
    float: left;
    margin: 0 0 0 10px;
    position: relative;
}
.fnc > li ul {
    position: absolute;
    top: 19px;
    right: 0;
    display: none;
    white-space: nowrap;
    padding: 5px;
}
.fnc > li.active ul,
.fnc > li:hover ul {
    display: block;
    border: 1px solid #e2e2e2;
    background: #fff;
}
.fnc ul a {
    height: 18px;
    line-height: 18px;
    display: block;
    color: #888;
    padding: 0 10px;
}
.fnc ul a:hover,
.fnc ul a:active,
.fnc ul a:focus {
    background-color: #ccc;
    color: #555;
    text-decoration: none;
}


.activity-list {
    overflow: hidden;
}
.activity-list .fblike {
    display: block;
    margin: 20px 0;
}
.activity-list .fblike:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ie7 .activity-list .fblike {
    display: inline-block;
}
.activity-list > ol,
.news-list > ol {
    position: relative;
}
.ie7 .news,
.ie7 .activity {
    position: static;
}
.activity .hentry {
    width: 100%;
    margin-top: 20px;
    padding-top: 8px;
    border-top: 1px dotted #e2e2e2;
}
.news-list .hentry {
    width: 100%;
}
.news-list .fblike {
    margin: 20px 0;
}
.activity .hentry:hover .ugcGroup,
.news-list .hentry:hover .ugcGroup {
    opacity: 1;
    display: block;
}
.news-list .t9l .headline {
    max-height: 42px;
}
.activity .hentry .playerIcon {
    top: 38px;
}
.activity .t9l .ugcGroup,
.news-list .t9l .ugcGroup {
    top: 11px;
    right: auto;
    left: 3px;
    opacity: 0;
}
.news-list .t9l .ugcGroup {
    top: 3px;
}
.activity .t9l .ugcGroup a,
.news-list .t9l .ugcGroup a {
    color: white;
}
.activity > header + .sub-comment-list {
    padding-top: 0; 
}

.com-follow,
.com-topcomments {
    color: #666;
}
.com-follow > div > .more,
.com-topcomments > div > .more{
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;
    position: absolute;
    right: 12px;
    top: 2px;
}
.com-follow p {
    margin-top: 12px;
}
.com-follow .r12 p {
    max-height: 34px;
    overflow: hidden;
}
.follow-list > li {
    clear: both;
    border-top: 1px solid #e2e2e2;
    padding: 12px 0;
}
.topcomments-list li {
    clear: both;
}
.follow-list > li:first-child {
    border-top: none;
}
.s6 .follow-list > li {
    padding: 11px 0;
}

.s6 .r20 .follow-list > li img {
    height: 69px;
}

.follow-list h4 {
    color: #1b1b1b;
    font-size: 14px;
    line-height: 17px;
    height: 34px;
    overflow: hidden;
    margin-bottom: 1em;
}
.wide .follow-list h4 {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 7px;
    height: auto;
}
.wide .follow-list p {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 12px;
}
.topcomments-list h4 {
    color: #1b1b1b;
    font-size: 15px;
    line-height: 17px;
    margin: 8px 0 5px;
}
.topcomments-list {
    margin: 0 4px;
}
.top5 p.hint,
.com-follow .hint,
.com-topcomments .hint {
    position: static;
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
}
.top5 .r20 p.hint,
.top5 .r22 p.hint,
.top5 .r26 p.hint,
.com-follow .r20 .hint,
.com-follow .r22 .hint,
.com-follow .r26 .hint,
.com-topcomments .r20 .hint,
.com-topcomments .r22 .hint,
.com-topcomments .r26 .hint {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px -35% 0;
    width: 70%;
}
.com-topcomments .comment {
    background: #fff;
    border: 1px solid #e2e2e2;
    position: relative;
}
.com-topcomments .comment:before,
.com-topcomments .comment:after {
    border:  solid white;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    pointer-events: none;
}
.com-topcomments .comment:after {
    border-color: transparent;
    border-top-color: white;
    border-width: 7px;
    left: 10%;
    margin-left: -7px;
}
.com-topcomments .comment:before {
    border-color: transparent;
    border-top-color: #e2e2e2;
    border-width: 8px;
    left: 10%;
    margin-left: -8px;
}
.com-topcomments .comment-content {
    color: #1b1b1b;
    font-size: 12px;
    line-height: 15px;
    height: 60px;
}
.com-topcomments .related {
    margin-top: 15px;
}
.com-topcomments.gallery .prev, .com-topcomments.gallery .next {
    bottom: 23px;
    top: auto;
}
.com-topcomments.gallery .prev {
    left: -5px;
}
.com-topcomments.gallery .next {
    right: -5px;
}
.com-topcomments .entry-title .kicker,
.com-topcomments .entry-title .headline {
    font-family: Arial, Helvetiva, sans-serif;
}
.com-topcomments .entry-title .kicker {
    font-size: 10px;
    font-weight: bold;
}
.com-topcomments .entry-title .headline {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    max-height: 51px;
}

.com-question .question {
    padding-top: 12px;
}
.com-question .com-form {
    float: right;
    width: 373px;
    height: 204px;
    border-color: #e2e2e2;
}
.com-question .com-form.loading h4,
.com-question .com-form h4 {
    color: #1b1b1b;
    font-size: 20px;
    line-height: 22px;
}
.com-question .loading .com-buttons {
    background-color: transparent;
}
.com-question .question > a > img {
    float: left;
    padding-right: 12px;
}
.com-question .new-comment fieldset {
    padding-left: 0;
}
.com-question .com-form .socials {
    float: left;
    margin-right: 0;
}
.com-question .com-form > .com-buttons {
    padding-right: 0;
    border: 0;
}
.com-question .com-form .com-textarea.error {
    margin-bottom: -15px;
    zoom: 1;
}
.com-question .com-form .active textarea,
.com-question .com-form textarea.active,
.com-question .com-form textarea:focus,
.com-question .com-form textarea {
    min-height: 51px;
    height: 51px;
    overflow: auto;
}
.com-question .popular {
    padding-top: 11px;
    clear: both;
}
.ie7 .com-question .popular {
    zoom: 1;
}
.com-question .popular header {
    background-color: transparent;
    margin: 0;
    height: auto;
    border: 0;
}
.com-question .popular > header a {
    float: right;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -27px;
    line-height: 27px;
}
.com-question .popular header h4 {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.com-question .popular .comment {
    background-color: #fff;
    padding: 8px 58px 8px 74px;
    min-height: 52px;
    max-height: 52px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}
.com-question .popular .comment .comment-actions {
    position: absolute;
    right: 0;
    top: 8px;
    width: 57px;
    border-left: 1px solid #E2E2E2;
}
.com-question .popular .comment p {
    margin-bottom: 0;
}
.com-question .popular .comment > .comment-actions > li:last-child {
    visibility: visible;
}
.com-question .popular .comment-actions .like {
    float: none;
    background: url(../../bilder.bild.de/fotos/daum-gross-27729078/Bild/1.bild.png) center center no-repeat;
    top: 0;
    width: 19px;
    height: 18px;
    margin: 8px 19px 5px;
}
.ie7 .com-question .popular .comment-actions .like {
    display: block;
}
.com-question .popular .comment-actions .like + span {
    display: block;
    text-align: center;
}
.ie7 .com-question .popular .comment-actions .like + span {
    width: 57px;
}
.com-question p.hint {
    padding: 30px 0;
}
.com-question p.hint strong {
    display: block;
    color: #1b1b1b;
}
.s5 .com-follow,
.s6 .com-follow,
.s5 .com-topcomments,
.s6 .com-topcomments {
    margin-top: 20px;
}
.s5 header + .com-follow,
.s6 header + .com-follow,
.s5 header + .com-topcomments,
.s6 header + .com-topcomments {
    margin-top: 0;
}
.comein {
    border: 1px solid #e2e2e2;
    background: #f7f7f7;
    padding: 0 20px;
}
.pos2 .comein {
    height: 248px
}
.posLast .comein {
    height: 106px
}
.comein h4 {
    font-size: 15px;
    line-height: 1.3;
    color: #666;
    font-weight: 400;
    margin: 15px 0 18px 0;
}
.comein p {
    text-align: center;
    margin-bottom: 14px;
}
.comein .btn-def {
    margin: 0 20px 0 0;
}
.comein .btn-fb-log {
    display: block;
    height: 1.81819em;
    width: 13em;
    padding: 0 6px;
    margin: 1em auto;
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: #5e78ae;
    border: 1px solid #304e8e;
}
.comein .btn-fb-log:hover {
    background-color: #304e8e;
}
.comein .btn-fb-log:before {
    font-size: 14px;
    line-height: 20px;
    font-family: "fontello";
    content: "\F308";
    margin-right: 6px;
    vertical-align: top;
}
