
    /*gallery:25424962.27*/
    

.shift {
    height: 200px;  
}
.modern .shift {
    z-index: 1;
    position: relative; 
    -moz-transition: z-index .3s ease-in; 
    -webkit-transition: z-index .3s ease-in;
    -o-transition: z-index .3s ease-in;
    transition: z-index .3s ease-in;
}
.ie7 .fixit {
    z-index: 99999;
}
.shift:hover {
    z-index: 6500; 
    position: relative; 
}
.shift figure {
    position: relative;
    padding: 0 6px 28px;
    zoom: 1;
}
.element figure.ktg {
    margin-top: 0;
}
.shift figure ul {
    max-height: 136px;
    position: relative;
    overflow: hidden;
    zoom: 1;
    z-index: 2;
    -moz-transition: max-height .4s ease-in-out;
    -webkit-transition: max-height .4s ease-in-out;
    -o-transition: max-height .4s ease-in-out-out;
    transition: max-height .4s ease-in-out;
}
.shift:hover figure ul, .shift:hover blockquote {
    max-height: none;
    overflow: hidden;
    z-index: 2;
    zoom: 1;
}
.modern .shift:hover figure ul {
    max-height: 9999px;
}
.modern .kt.shift:hover figure ul {
    max-height: none;
}
.reference,
.edge > div.reference {
    position: absolute;
    bottom: 0;
    left: -12px;
    right: -12px;
    background: #F7F7F7;
    border: 0;
    padding: 0;
    z-index: 2;
}
.edge,
.edge > div {
    zoom: 1;
}
.reference .inner {
    margin: 0 18px;
    border-top: 1px solid #fff;
    box-shadow: 0 -5px 6px -6px rgba(0,0,0,.6);
    height: 27px;
    background: #F7F7F7;
}
.reference.na .inner {
    box-shadow: none;
    border: none;
}
.reference:before {
    content: url(../../bilder.bild.de/fotos/lasche-opener-27048110/Bild/1.bild.png);
    position: absolute;
    left: 46.7%;
    cursor: pointer;
}
.reference.na:before, .covernews .reference:before, .accordion .reference:before, .kt .reference:before {
    content: "";
}
.shift figure .hentry {
    position: relative;
}


.gallery .prev, 
.gallery .next {
    position: absolute;
    top: 104px;
    width: 19px;
    height: 35px;
    text-indent: -9999px;
    z-index: 3;
    background: url(../../bilder.bild.de/fotos/gallery-arrows-25424920/Bild/1.bild.png) no-repeat 0 -35px;
}
.gallery li.active {
    display: block;
} 
.gallery li {
    display: none;
}
.gallery .hentry img.photo {
    float: left; 
    margin: 0 12px 7px 0;
}
.gallery .hentry > a.media {
    float: left; 
    min-width: 0;
    position: relative;
}
.gallery .prev {
    left: -15px;
}
.gallery .next {
    right: -15px;
    background-position: -23px -35px;
}
.gallery .prev:hover {
    background-position: 0 0;
}
.gallery .next:hover {
    background-position: -23px 0;
}
.gallery .credit,
.gallery .index {
    position: absolute;
    bottom: 5px;
    left: 12px;
    color: #999;
    font-size: 10px;
    z-index: 6;
}
.gallery .index {
    left: auto;
    right: 12px;
}
.gallery p a, figure.ktg li p a, .ktgacc p a {
    display: inline;
    text-decoration: underline;
}
figure.ktg li p a, .ktgacc section p a {
    float: none;
    margin: 0;
}
.gallery p a:hover, .gallery p a:focus, .gallery p a:active,
figure.ktg li p a:hover, figure.ktg li p a:focus, figure.ktg li p a:active,
.ktgacc p a:hover, .ktgacc p a:focus, .ktgacc p a:active {
    color: #d00;
}

.ktg5 {
    height: 265px; 
}
.module .ktg5,
.module .gossip5,
.module .fg5 {
    max-width: 323px; 
}
.ktg5 figure ul {
    max-height: 201px;
    min-height: 201px;
}
.ktg5 .prev,
.ktg5 .next {
    top: 171px;
    background-position: 0px -138px
}
.ktg6 {
    height: 332px;
}
.module .ktg6,
.module .gossip6,
.module .fg6 {
    max-width: 390px;
}
.ktg6 figure ul {
    max-height: 268px;
    min-height: 268px;
}
.ktg6 .prev,
.ktg6 .next {
    top: 238px;
}
figure.ktg li {
   margin-top: 8px; 
}
figure.ktg h4 {
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    padding: 0 0 8px;
    color: #1b1b1b;
}
.ktg6 .ktg h4, .ktg9 .ktg h4, .ktg10 .ktg h4 {
    font-size: 16px;
    line-height: 19px;
}
figure.ktg li a, .ktgacc section a {
    float: left;
    margin: 0 12px 0 0;
    position: relative;
}
figure.ktg li p,
figure.gossip li p,
figure.fg .entry-content,
.ktgacc section p {
    font-size: 12px;
    line-height: 16px;
    color: #1b1b1b;
}
figure.ktg li p + p,
figure.gossip li p + p,
.ktgacc section p + p {
    padding-top: 17px;
}
.ktg9, .ktg10 {
    height: 253px;
}
.ktg9 figure ul,
.ktg10 figure ul {
    max-height: 187px;
    min-height: 187px;
}
.ktg9 .prev, .ktg9 .next,
.ktg10 .prev, .ktg10 .next {
    top: 157px;
}
figure.ktg li ol li, figure.ktg li ul li,
.ktgacc .nrlist, .ktgacc .dtlist, .ktgacc .extlist {
    display: list-item;
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
}
figure.ktg li ol li a, figure.ktg li ul li a,
.ktgacc .nrlist li a, .ktgacc .dtlist li a, .ktgacc .extlist li a {
    float: none;
    text-decoration: underline;
}
figure.ktg .nrlist, figure.ktg .dtlist, figure.ktg .extlist,
figure.ktg .nrlist:hover, figure.ktg .dtlist:hover, figure.ktg .extlist:hover {
    background: none;
    overflow: hidden;
    z-index: auto;
}
figure.ktg ul li ul, figure.ktg ul li ol {
    min-height: auto;
    max-height: none;
    background: transparent;
}
.ktg .extlist {
    margin: 0 3px;
}
.ktg .nrlist {
    padding: 0 3px 0 25px;
}
.ktg .dtlist {
    margin: 0 3px 0 0;
}
.ktg .dtlist li {
    margin-left: 16px;
}
.ktg .arttable, .ktgacc .arttable {
    background-color: transparent;
    border: none;
    padding: 0 3px 12px 0;
}
.ktgacc .arttable {
    padding-bottom: 0;
}

.ktg5 blockquote {
    min-height: 150px;
    max-height: 150px;
}
.ktg6 blockquote {
    min-height: 217px;
    max-height: 217px;
}
.ktg9 blockquote, .ktg10 blockquote {
    min-height: 136px;
    max-height: 136px;
}
.ktg5 li a ~ blockquote {
    width: 147px;
}
.ktg5 li blockquote {
    width: 248px;
}
.ktg6 li a ~ blockquote {
    width: 213px;
}
.ktg6 li blockquote {
    width: 315px;
}
.ktg9 li a ~ blockquote {
    width: 382px;
}
.txt .ktg9 li a ~ blockquote {
    width: 378px;
}
.ktg9 li blockquote {
    width: 511px;
}
.ktg10 li a ~ blockquote {
    width: 450px;
}
.ktg10 li blockquote {
    width: 577px;
}
.ktg .quote a, .ktgacc .quote a {
    margin: 0 3px 0 0;
}
.ktg blockquote {
    position: relative;
    width: auto;
    background: #fff;
    border: 1px solid #e2e2e2;
    margin-left: 9px;
    font-size: 12px;
    line-height: 16px;
    color: #1b1b1b;
    padding: 7px 10px;
    float: left;
}
.ktg blockquote:after, .ktg blockquote:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ktg blockquote:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    top: 15px;
    margin-top: -8px;
}
.ktg blockquote:before {
    border-color: rgba(226, 226, 226, 0);
    border-right-color: #e2e2e2;
    border-width: 9px;
    top: 15px;
    margin-top: -9px;
}
.shift:hover blockquote {
    overflow: visible;
}
.ktg5.kt blockquote, .ktg6.kt blockquote, .ktg9.kt blockquote, .ktg10.kt blockquote {
    max-height: none;
}

.ktg5.kt, .ktg6.kt, .ktg9.kt, .ktg10.kt {
    height: auto;
}
.kt figure ul {
    max-height: none;
    background: none;
}  
.kt .reference .inner, .lightbox .reference .inner {
    border: 0;
    box-shadow: none;
}
.ktg li a + table {
    clear: left;
    padding-top: 10px;
}

.ktgacc .edge > div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.ktgacc .edge > div > h3 {
    border: 0;
    height: 28px;
}
.ktgacc h4 {
    clear: left;
    height: 33px;
    font-size: 12px;
    line-height: 33px;
    padding: 0 0 0 16px;
    cursor: pointer;
    border-top: 1px solid #e2e2e2;
    white-space: nowrap;
    overflow: hidden;
    background: url(../../bilder.bild.de/fotos/pfeil-ktgacc-27048118/Bild/2.bild.png) no-repeat 0 11px;
}
.ktgacc .edge > div > h4:first-child {
    border: 0;
}
.ktgacc h4.active {
    background-position: 0 -47px;
}
.ktgacc section {
    display: none;
    float: left;
    clear: left;
    position: relative;
    padding: 0 0 28px 16px;
}
.ktgacc section p {
    padding-bottom: 0;
}
.ktgacc .credit {
    position: absolute;
    bottom: 0;
    height: 28px;
    font-size: 10px;
    line-height: 27px;
    color: #999;
}
.acc5 a ~ blockquote {
    width: 143px;
}
.acc5 blockquote {
    width: 245px;
    min-height: 17px;
}
.acc6 a ~ blockquote {
    width: 209px;
}
.acc6 blockquote {
    width: 311px;
    min-height: 17px;
}
.acc9 a ~ blockquote {
    width: 380px;
}
.txt .acc9 a ~ blockquote {
    width: 374px;
}
.acc9 blockquote {
    width: 512px;
    min-height: 17px;
}
.acc10 a ~ blockquote {
    width: 447px;
}
.acc10 blockquote {
    width: 579px;
    min-height: 17px;
}
.acc5 h4 {
    max-width: 275px;
}
.acc6 h4 {
    max-width: 342px;
}
.acc9 h4 {
    max-width: 543px;
}
.acc10 h4 {
    max-width: 610px;
}
.ktgacc .nrlist {
    margin-left: 20px;
    list-style-type: none;
}
.ktgacc .dtlist {
    margin-left: 13px;
}
.ktgacc .extlist {
    margin-left: 0;
    list-style-type: none;
}

.toc {
    position: relative;
    width: 230px;
    font-size: 12px;
    line-height: 15px;
}
.edge > div.toc {
    padding-bottom: 5px;
}
.toc h3 {
    margin: 0 0 8px;
}
.toc h4 {
    display: inline;
}
.toc li {
    margin: 0 0 3px;
}
.toc li > a {
    display: block;
    text-decoration: none;
    padding: 0 0 0 13px;
    background: url(../../bilder.bild.de/fotos/pfeil-themenlink-27048138/Bild/2.bild.png) no-repeat 0 3px;
}
article .txtblock {
    margin: 10px 0 33px;
}
article .txtblock h3.crossheading {
    padding-top: 0;
    text-align: left;
}
article .txt .txtblock h3.crossheading {
    text-align: center;
}
.ktg li p .crossheading,
.ktgacc section .crossheading,
.txtblock p span.crossheading {
    padding-bottom: 0;
}
article .txtblock .nrlist {
    padding: 0 3px 0 33px;
}

.ktg5 .prev,
.ktg5 .next,
.ktg6 .prev,
.ktg6 .next,
.gossip5 .prev, 
.gossip5 .next,
.gossip6 .prev, 
.gossip6 .next {
    background-position: 0px -105px;
    height: 32px;
}
.ktg5 .next, 
.ktg6 .next,
.gossip5 .next, 
.gossip6 .next {
    background-position: -23px -105px;
}
.ktg5 .prev:hover,
.ktg5 .next:hover,
.ktg6 .prev:hover,
.ktg6 .next:hover,
.ktg5 .prev:focus,
.ktg5 .next:focus,
.ktg6 .prev:focus,
.ktg6 .next:focus,
.gossip5 .prev:hover, 
.gossip5 .next:hover,
.gossip6 .prev:hover, 
.gossip6 .next:hover,
.gossip5 .prev:focus, 
.gossip5 .next:focus,
.gossip6 .prev:focus, 
.gossip6 .next:focus {
    background-position: 0px -138px;
}
.ktg5 .next:hover, 
.ktg6 .next:hover,
.ktg5 .next:focus, 
.ktg6 .next:focus,
.gossip5 .next:hover, 
.gossip6 .next:hover,
.gossip5 .next:focus, 
.gossip6 .next:focus {
    background-position: -23px -138px;
}



.covernews .edge {
    border-color: #999;
    border-width: 6px;
}
.module .covernews,
.module .fg9 {
    max-width: 591px;
}
.covernews .edge > div {
    border-color: #888;
    background-color: #fff;
}
.covernews .edge > div > h3 {
    position: absolute;
    top: -37px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #666;
    background: #777;
    left: -6px;
    right: -6px;
    padding: 0 6px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.covernews .edge .reference,
.covernews .edge .reference > div {
    background-color: #fff;
}
.covernews figure {
    padding-left: 13px;
    padding-right: 13px;
}
.ie7 .covernews .hentry {
    zoom: 1;
}
.covernews .entry-title .kicker,
.gossip .entry-title .kicker {
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d00;
    line-height: 12px;
    padding: 19px 0 0 0;
    max-width: 70%;
}
.covernews .entry-title .headline,
.gossip .entry-title .headline {
    font-size: 20px;
    color: #1b1b1b;
    line-height: 23px;
    padding: 5px 0 15px;
}
.covernews .entry-content,
figure.gossip li p,
figure.fg .entry-content {
    max-height: none;
    overflow: visible;
}
.covernews time,
.gossip time {
    position: absolute;
    top: 19px;
    right: 0;
    font-size: 10px;
    color: #999;
}
.covernews {
    height: 569px;
    padding-top: 31px;
}
.covernews figure ul {
    max-height: 527px;
    min-height: 527px;
}
.covernews .prev,
.covernews .next {
    top: 495px;
    background-position: 0 0;
}
.covernews .prev:hover {
    background-position: 0 -35px;
}
.covernews .next {
    background-position: -23px 0;
}
.covernews .next:hover {
    background-position: -23px -35px;
}


.gossip time {
    top: 9px;
}
.gossip .entry-title .kicker {
    padding: 9px 0 0 0;
}
.gossip .entry-title .headline {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 9px;
}
.gossip6 .entry-title .headline {
    font-size: 16px;
    line-height: 19px;
}
.gossip5 {
    height: 265px;
}
.gossip5 figure ul {
    max-height: 196px;
    min-height: 196px;
}
.gossip5 .prev,
.gossip5 .next {
    top: 166px;
}
.gossip6 {
    height: 332px;
}
.gossip6 figure ul {
    max-height: 268px;
    min-height: 268px;
}
.gossip6 .prev,
.gossip6 .next {
    top: 238px;
}
.gossip .loupe,
.covernews .loupe {
    right: 15px;
}


figure.fg .hentry > a {
    display: block;
    width: 100%;
    background: #e8e8e8;
    margin: 10px 0 6px;
    position: relative;
}
figure.fg .hentry > a img.photo {
    float: none;
    margin: 0 auto;
}
figure.fg .entry-title {
    background: #f5f5f5;
    padding: 1px 0 6px 0;
}
figure.fg .kicker {
    color: #d00;
    font-size: 10px;
    text-transform: uppercase;
}
figure.fg .headline {
    color: #1b1b1b;
}
.fg5 figure.fg {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -5px;
}
.fg5 li {
    padding: 0 11px;
}
.fg5 li.ad {
    padding: 0;
}
.fg5 {
    height: 384px;
}
.fg5 figure ul {
    max-height:320px;
    min-height:320px;
}
.fg5 .prev,
.fg5 .next {
    top: 290px;
}
.gallery .galAd {
    width: 300px;
    margin: 0 auto;
}
.gallery .galAd .mark {
    font-size: 10px;
    color: #333;
    text-align: right;
    display: block;
    text-transform: uppercase;
}
.fg5 .gallery .prev {
    left: -10px;
}
.fg5 .gallery .next {
    right: -10px;
}
.fg5 div.reference {
    left: -7px;
    right: -7px;
}
.fg6 .headline,
.fg9 .headline,
.fg10 .headline {
    font-size: 16px;
    line-height: 19px;
}
.fg6 {
    height: 332px;
}
.fg6 figure ul {
    max-height: 268px;
    min-height: 268px;
}
.fg6 .prev,
.fg6 .next {
    top: 238px;
}
.fg6-alt {
    height: 463px;
}
.fg6-alt figure ul {
    max-height: 399px;
    min-height: 399px;
}
.fg6-alt .prev,
.fg6-alt .next {
    top: 369px;
}
.fg9 .gallery .hentry,
.fg10 .gallery .hentry,
.fg15 .gallery .hentry {
    text-align: center;
}
.fg9 figure.fg,
.fg10 figure.fg,
.fg15 figure.fg {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -12px;
}
.fg9 figure.fg .hentry > a,
.fg10 figure.fg .hentry > a,
.fg15 figure.fg .hentry > a {
    margin-top: 0;
    position: relative;
}
.fg9 figure.fg .hentry p,
.fg10 figure.fg .hentry p,
.fg15 figure.fg .hentry p {
    padding: 0 28px;
}
.fg9 .gallery .prev,
.fg10 .gallery .prev,
.fg15 .gallery .prev {
    left: -3px;
}
.fg9 .gallery .next,
.fg10 .gallery .next,
.fg15 .gallery .next {
    right: -3px;
}
.fg9 div.reference,
.fg10 div.reference,
.fg15 div.reference {
    left: 0;
    right: 0;
}
.fg9 {
    height: 496px;
}
.fg9 figure ul {
    max-height: 433px;
    min-height: 433px;
}
.fg9 .prev,
.fg9 .next {
    top: 401px;
}
.fg9 .galAd {
    margin: 59px auto 0;
}
.fg10 {
    height: 486px;
}
.module .fg10 {
    max-width: 658px;
}
.fg10 figure ul {
    max-height: 450px;
    min-height: 450px;
}
.fg10 .prev,
.fg10 .next {
    top: 404px;
}
.fg10 .galAd {
    margin: 102px auto 0;
}
.fg15 {
    height: 660px;
}
.module .fg15 {
    max-width: 993px;
}
.fg15 figure ul {
    max-height: 624px;
    min-height: 624px;
}
.fg15 .prev,
.fg15 .next {
    top: 576px;
}
.fg15 .galAd {
    margin: 201px auto 0;
}
