
    /*pm107:26419556.3*/
    

.pm107 .affiliate-icon img {
	margin: 6px 0 0 4px;
}
.ie7 .pm107 .affiliate-icon img {
	margin: -2px 0 0 4px;
}
#pm107-zip {
	width: 100%;
}
#pm107 .pmradio {
	width: 40%;
}
#pm107 .column div.pmtext:first-child {
	width: 67.5%;
}
#pm107 .column .pm107-max,
#pm107 .column .pm107-max {
	width: 32.505%;
}
#pm107 .column div.pmtext:first-child label,
#pm107 .column div.pmtext:first-child label {
	width: 59.26%;
}
#pm107 .pm107-max label {
	width: 15.385%;
	text-align: center;
}
#pm107-price-min,
#pm107-size-min {
	width: 39.26%;
}
#pm107-price-max,
#pm107-size-max {
	width: 81.54%;
}

.s5 .pm107 figure {
	height: 145px;
}
