


/* Zappos.com Print Styles
  ----------------------------------------------------*/

/*
 GLOBAL
 HOMEPAGE
 PRODUCTPAGE
*/


/* =GLOBAL
  ----------------------------------------------------*/

body {background:none;}
#wrap {width:auto; margin:0; border:none;}
#wrap #header *,
#wrap #content *,
#wrap #footer * {background-image:none; background-color:#FFFFFF;}

#wrap #content {width:100%; padding:0;}

#wrap a {color:#555555;}
.logout {display:none;}

#default-sidebar {display:none;}

/* Header */
#global-actions {display:none;}

#header {float:none; width:auto; border:none;}
#header * {display:none;}
#header .main {display:block; width:auto;}
#header .main h1 {display:block;}
#header .main .zlogo a img {display:block;}

/* Footer */
#footer * {display:none; width:auto;}
#footer .copy,
#footer .copy .company-info,
#footer .copy .company-info strong {display:block;}


/* =RETURN CONFIRMATION
  ----------------------------------------------------*/
.return-confirmation-page {}
.return-confirmation-page .return-steps {display:none;}
.return-confirmation-page p.dotted-line {}
.return-confirmation-page #return-label-status {display:none;}

.return-confirmation-page #bar-codes {float:left; display:block; width:100%; padding:10px 0 25px 0;}
.return-confirmation-page #bar-codes div {float:left; padding:0 50px 0 10px;}
.return-confirmation-page #bar-codes div p {width:220px;}
.return-confirmation-page #bar-codes p.note {float:left; display:block; width:25em; padding:40px 20px 0;}

.return-confirmation-page .return-summary {clear:both;}
.return-confirmation-page .return-summary .standard-header {display:block; border:none; color:#555;}
.return-confirmation-page .return-summary .standard-container {border:none;}
.return-confirmation-page .return-summary .order-table {width:100%;}

.return-confirmation-page .return-directions ol li .more-info {display:none;}
.return-confirmation-page .email-confirmation {display:none;}
.return-confirmation-page .help-footer {display:none;}



/* =HOMEPAGE
  ----------------------------------------------------*/
#homepage-content ul.departments {width:701px !important;}
#homepage-content .winner strong {text-indent:0 !important;}
#homepage-content .winner a {background:none !important;}


/* =PRODUCTPAGE
  ----------------------------------------------------*/
.product-page #sizes, .product-page #widths, .product-page #submit {display:none !important;}
#product-description {font-size:1.3333em !important;}
#product-reviews #reviews {font-size:1.3333em !important;}

/* =SHOPPINGCART
  ----------------------------------------------------*/
#shopping-cart .cart .gift-certificate {display:none !important;}

/* =BRANDPAGE
  ----------------------------------------------------*/
#brand-info {height:auto !important; overflow:auto !important;}
#brandmoreless {display:none !important;}
