/* JOE */
.left {float: left;}
.right {float: right;}
.clear {clear: both; font-size: 1px; height: 1px;}
.hidden {display: none;}
.cursor {cursor: pointer;}
.layout_border_bottom {border-bottom:#ccc 1px dotted; padding: 5px 0;}
.layout_border_right {border-right:#ccc 1px dotted; padding: 5px 0; margin: 0 9px 0 0; width: 300px;}
.layout_border_tb {border-top:#ccc 1px dotted; border-bottom:#ccc 1px dotted; margin: 5px 0 5px 1px;}
#landing_wrapper {width: 620px; font: 12px Verdana, Arial, Helvetica, sans-serif; color: #000;}
#landing_wrapper .title{color: #595bad; margin-bottom: 5px; font-size: 16px;}
#landing_wrapper .title a{color: #595bad;}
#landing_wrapper .red_face {color: #e0272f; font: bold 33px Tahoma, Verdana, sans-serif; margin-bottom: 8px;}
#landing_wrapper .img, #fertility_wrapper img {float: left; margin-right: 10px; border: 1px solid #c2c2c2; padding: 1px;}
#landing_wrapper .object {margin-right: 15px; width: 280px; padding: 10px 5px;}