div.text h1,div.text h2,div.text h3,div.text h4,div.text h5,div.text h6{padding-bottom:10px}
div.text ul,div.text ol{margin:3px 3px 10px 20px;padding:0 2px 0 10px}
div.text ul{list-style-type:disc}
div.text ol{list-style-type:decimal}
div.text ul.tabLinks,div.text ul.accordionItems{list-style-position:outside}
div.textimage{overflow:auto}
html.ie7 #certificate div.textimage{overflow-y:hidden}
div.textimage ul,div.textimage ol{overflow:hidden;margin-left:10px;padding-left:20px}
div.tab_display_end{width:100%;height:16px;background-color:#d4e1f2;border:1px solid #99bbe8;padding-left:5px;font-size:11px}
div.cq-tabs_display_end-placeholder-off{display:none}
div.tabsComponent ul.tabLinks{margin:0;padding:0;list-style-type:none}
div.tabsComponent ul.tabLinks li a{text-decoration:none}
div.tabsComponent div.tabContentContainer{clear:both}
div.tabsComponent div.tabContentContainer div.tabContent div.tab_content,div.tabsComponent div.tabContentContainer div.current div.tabContentContainer div.tabContent div.tab_content{position:absolute;top:-9999px;left:-9999px;width:50%}
div.tabsComponent div.tabContentContainer div.tabContent div.tabContentPar{font-size:1em}
div.tabsComponent div.tabContentContainer div.current div.tab_content,div.tabsComponent div.tabContentContainer div.current div.tabContentContainer div.current div.tab_content{position:static;left:0;top:0;width:auto!important;*zoom:1;margin:0!important}
div.tabComponent_top{background:#fff url(../images/bg_tabComponentTop.png) 0 0 repeat-x}
div.tabComponent_top ul.tabLinks{width:100%;background:#fff;border-bottom:0;overflow:auto}
div.tabComponent_top ul.tabLinks li{padding:5px 15px;float:left;background:#fff url(../images/bg_tabComponentTop_tabBorderBottom.png) 0 100% repeat-x;border-top:1px solid #d3d3d3;border-left:1px solid #ededed;position:relative;z-index:2}
div.tabComponent_top ul.tabLinks li a{font-weight:bold;color:#7f9db9}
div.tabComponent_top ul.tabLinks li.current{background:#fff url(../images/bg_tabComponentTop.png) 0 0 repeat-x;border-left:1px solid #d3d3d3}
div.tabComponent_top ul.tabLinks li.current a{color:#014664}
div.tabComponent_top ul.tabLinks li.currentPrev{background:#fff url(../images/bg_tabComponentTop_prevShadow.png) bottom right repeat-y;border-right:0}
div.tabComponent_top ul.tabLinks li.currentNext{background:#fff url(../images/bg_tabComponentTop_nextShadow.png) bottom left repeat-y;border-left:0}
div.tabComponent_top ul.tabLinks li.firstChild{border-left:1px solid #d3d3d3}
div.tabComponent_top ul.tabLinks li.lastChild{border-right:1px solid #d3d3d3}
div.tabComponent_top div.tabContentContainer div.current{padding:12px 10px;border:1px solid #d3d3d3;position:relative;top:-1px;z-index:0}
div.tabComponent_top ul.tabAlign_right li{float:right;border-right:1px solid #ededed}
div.tabComponent_top ul.tabAlign_right li.current{border-right:1px solid #d3d3d3}
div.tabComponent_top ul.tabAlign_right li.currentPrev{background:#fff url(../images/bg_tabComponentTop_nextShadow.png) bottom left repeat-y;border-left:0}
div.tabComponent_top ul.tabAlign_right li.currentNext{background:#fff url(../images/bg_tabComponentTop_prevShadow.png) bottom right repeat-y;border-right:0}
div.tabComponent_top ul.tabAlign_right li.firstChild{border-right:1px solid #d3d3d3}
div.tabComponent_top ul.tabAlign_right li.lastChild{border-left:1px solid #d3d3d3}
div.tabComponent_bottom{background:#fff url(../images/bg_tabComponentBottom.png) 0 100% repeat-x}
div.tabComponent_bottom ul.tabLinks{width:100%;background:#fff;border-top:0;overflow:auto}
div.tabComponent_bottom ul.tabLinks li{padding:5px 15px;float:left;background:#fff url(../images/bg_tabComponentBottom_tabBorderTop.png) 0 0 repeat-x;border-bottom:1px solid #d3d3d3;border-left:1px solid #ededed;position:relative;z-index:2}
div.tabComponent_bottom ul.tabLinks li a{font-weight:bold;color:#7f9db9}
div.tabComponent_bottom ul.tabLinks li.current{background:#fff url(../images/bg_tabComponentBottom.png) 0 100% repeat-x;border-left:1px solid #d3d3d3}
div.tabComponent_bottom ul.tabLinks li.current a{color:#014664}
div.tabComponent_bottom ul.tabLinks li.currentPrev{background:#fff url(../images/bg_tabComponentBottom_prevShadow.png) top right repeat-y;border-right:0}
div.tabComponent_bottom ul.tabLinks li.currentNext{background:#fff url(../images/bg_tabComponentBottom_nextShadow.png) top left repeat-y;border-left:0}
div.tabComponent_bottom ul.tabLinks li.firstChild{border-left:1px solid #d3d3d3}
div.tabComponent_bottom ul.tabLinks li.lastChild{border-right:1px solid #d3d3d3}
div.tabComponent_bottom div.tabContentContainer{clear:both}
div.tabComponent_bottom div.tabContentContainer div.current{padding:12px 10px;border:1px solid #d3d3d3;position:relative;top:1px;z-index:0}
div.tabComponent_bottom ul.tabAlign_right li{float:right;border-right:1px solid #ededed}
div.tabComponent_bottom ul.tabAlign_right li.current{border-right:1px solid #d3d3d3}
div.tabComponent_bottom ul.tabAlign_right li.currentPrev{background:#fff url(../images/bg_tabComponentBottom_nextShadow.png) top left repeat-y;border-left:0}
div.tabComponent_bottom ul.tabAlign_right li.currentNext{background:#fff url(../images/bg_tabComponentBottom_prevShadow.png) top right repeat-y;border-right:0}
div.tabComponent_bottom ul.tabAlign_right li.firstChild{border-right:1px solid #d3d3d3}
div.tabComponent_bottom ul.tabAlign_right li.lastChild{border-left:1px solid #d3d3d3}
div.contentPager{clear:both}
div.contentPager div.pagerContentContainer{clear:both}
div.contentPager div.pagerContent{position:absolute;left:-9999px;top:-9999px;width:50%}
div.contentPager div.pagerContentContainer div.current,div.contentPager div.pagerContentContainer div.editMode{position:static;left:0;top:0;width:auto!important;*zoom:1}
div.tabContentContainer div.contentPager div.current{border:0}
div.contentPager ul.contentPagerControl{float:left;overflow:hidden}
div.text div.contentPager ul.contentPagerControl{margin:0;padding:0;list-style-type:none}
div.contentPager ul.contentPagerControl li{float:left;text-align:center}
div.contentPager ul.contentPagerControl a{display:block;text-indent:-9999px;-moz-outline-style:none;overflow:hidden}
div.contentPager li.progressIndicator ul li{float:left;overflow:hidden}
div.contentPager div.navAlign_right ul.contentPagerControl{float:right}
div.contentPager_top{background:#fff url(../images/bg_contentPagerTop.png) 0 0 repeat-x}
div.contentPager_top div.pagerControlsContainer{padding:10px .5em;height:15px;background:0}
div.contentPager_top div.pagerControlsContainer h3{color:#014664;font-weight:bold;font-size:1.2em;float:right;text-transform:none}
div.contentPager_top div.pagerControlsContainer p{margin:0 .5em 0 0;float:right}
div.contentPager_top div.pagerControlsContainer p a{color:#014664;text-decoration:none;font-size:.93em}
div.contentPager_top ul.contentPagerControl li.prevPage a{height:15px;width:10px;background:transparent url(../images/bg_contentPager_controls.png) 0 0 no-repeat}
div.contentPager_top ul.contentPagerControl li.nextPage a{height:15px;width:10px;background:transparent url(../images/bg_contentPager_controls.png) -10px 0 no-repeat}
div.contentPager_top ul.contentPagerControl li{margin:0 .5em 0 0}
div.contentPager_top li.progressIndicator ul li.lastChild{margin:0}
div.contentPager_top li.progressIndicator ul li a{width:15px;height:15px;background:#014664}
div.contentPager_top li.progressIndicator ul li a:hover,div.contentPager_top li.progressIndicator ul li.current a{background:#a6b1b7}
div.contentPager_top div.pagerContentContainer{padding:.5em}
div.contentPager_top div.navAlign_right p{margin:0 0 0 .5em}
div.contentPager_bottom{background:#fff url(../images/bg_contentPagerBottom.png) 0 100% repeat-x}
div.contentPager_bottom div.pagerControlsContainer{padding:10px .5em;height:15px;background:0}
div.contentPager_bottom div.pagerControlsContainer h3{color:#014664;font-weight:bold;font-size:1.2em;float:right;text-transform:none}
div.contentPager_bottom div.pagerControlsContainer p{margin:0 .5em 0 0;float:right}
div.contentPager_bottom div.pagerControlsContainer p a{color:#014664;text-decoration:none;font-size:.93em}
div.contentPager_bottom ul.contentPagerControl li.prevPage a{height:15px;width:10px;background:transparent url(../images/bg_contentPager_controls.png) 0 0 no-repeat}
div.contentPager_bottom ul.contentPagerControl li.nextPage a{height:15px;width:10px;background:transparent url(../images/bg_contentPager_controls.png) -10px 0 no-repeat}
div.contentPager_bottom ul.contentPagerControl li{margin:0 .5em 0 0}
div.contentPager_bottom li.progressIndicator ul li.lastChild{margin:0}
div.contentPager_bottom li.progressIndicator ul li a{width:15px;height:15px;background:#014664}
div.contentPager_bottom li.progressIndicator ul li a:hover,div.contentPager_bottom li.progressIndicator ul li.current a{background:#a6b1b7}
div.contentPager_bottom div.pagerContentContainer{padding:.5em}
div.contentPager_bottom div.navAlign_right p{margin:0 0 0 .5em}
div.accordionComponent{clear:both}
div.text div.contentPager ul.accordionItems{margin:0;padding:0;list-style-type:none}
div.accordionComponent ul.accordionItems li div.toggleLink a{display:block;text-decoration:none}
div.accordionComponent ul.accordionItems li div.accordionContent div.tab_content{position:absolute;left:-9999px;top:-9999px;font-size:1.0em;width:50%}
div.accordionComponent ul.accordionItems li.editMode div.accordionContent div.tab_content,div.accordionComponent ul.accordionItems li.current div.accordionContent div.tab_content{position:static;left:0;top:0;width:auto;*zoom:1}
li.current div.accordionComponent ul.accordionItems li div.accordionContent div.tab_content{position:absolute;left:-9999px;top:-9999px;font-size:1.0em;width:50%}
li.current div.accordionComponent ul.accordionItems li.editMode div.accordionContent div.tab_content,li.current div.accordionComponent ul.accordionItems li.current div.accordionContent div.tab_content{position:static;left:0;top:0;width:auto;*zoom:1}
div.videoplayerdiv{overflow:hidden;width:100%;background-color:#fff}
div.smallvideoplayerdiv{overflow:hidden;width:288px;background-color:#fff;overflow:none}
div.smallvideoplayerdiv a#flowPlayer{display:block;width:288px;height:165px;overflow:none}
div.largevideoplayerdiv{overflow:hidden;background-color:#fff}
div.largevideoplayerdiv a#flowPlayer{display:block;width:642px;height:362px}
div.videoplayerdiv a#flowPlayer img{border:0;display:block;padding-left:260px;padding-top:228px}
div.videoclipthumbs div.videoclipthumb{float:left;width:135px;padding:10px}
div.videoclipthumb p{text-transform:uppercase;margin:0 0 3px 2px;color:#484848;font-weight:bold;font-family:Arial,Helvetica,sans-serif;font-size:.8em}
div.videoclipthumb a img{width:139px;height:77px;border:2px solid #fff}
div.videoclipthumb a:hover img,div.videoclipthumb a:active img{border:2px solid #c00}
div.videoplayerdiv div.cq-vidoplayer_menu_parconf-placeholder div.section{clear:both}
div.videoplayerdiv div.cq-vidoplayer_menu-placeholder{display:block}
div.videoplayerdiv div.section,div.videoclipthumbs div.section,div.videoplayer div.cq-vidoplayer_menu_parconf-placeholder-off div.section{clear:none}
div.videoplayerdiv div.cq-vidoplayer_menu-placeholder-off{display:none}
div#videoclipthumbs{margin-left:12px;margin-top:10px;display:block}
div.scroller ul{overflow:hidden;width:100%}
div.text div.scroller ul{margin:0;padding:0;list-style-type:none}
div.scroller ul li{float:left}
div.scroller ul li.prevItem,div.scroller ul li.nextItem{width:6%}
div.scroller ul li.prevItem a,div.scroller ul li.nextItem a{display:block}
div.scroller ul li.nextItem a{float:right}
div.scroller ul{*zoom:1}
div.scroller ul li.scrollerContentContainer{display:block;position:relative;overflow:hidden;width:88%;height:100%;*zoom:1}
div.editMode ul li.scrollerContentContainer{overflow:visible;position:static}
div.scroller ul li.arrowsHidden{width:98%;margin:0 auto;float:none}
div.scroller ul li.scrollerContentContainer div.scrollerContent{width:9999px;position:absolute}
div.scroller ul li.scrollerContentContainer div.section{float:left;clear:none;margin:0 0 0 1%}
div.editMode ul li.scrollerContentContainer div.section{float:none;display:block;width:100%!important}
div.scroller ul li.scrollerContentContainer div.firstChild{margin:0}
div.scroller ul li.scrollerContentContainer div.show{display:block}
div.scroller ul li.scrollerContentContainer div.new{display:none}
div.editMode ul li.scrollerContentContainer div.new{display:block}
div.defaultScroller ul li.prevItem a,div.defaultScroller ul li.nextItem a{width:24px;height:39px;text-indent:-9999px;background-image:url(../images/bg_scroller_controls.png);background-repeat:no-repeat}
div.defaultScroller ul li.prevItem a{background-position:0 50%}
div.defaultScroller ul li.nextItem a{background-position:-24px 50%}
div.image_slideshow{width:646px}
div.image_slideshow div.imageSlideshowWrapper{position:relative}
div.image_slideshow div.imageScroller{height:352px;overflow:hidden;position:relative;width:646px}
div.image_slideshow div.imageScroller div.scrollerImages{position:absolute;width:20000em}
div.image_slideshow div.imageScroller div.scrollerImages div{float:left;height:352px;margin:0;width:646px}
.simplePassMeter{color:#666;font-size:.8em;padding:1px 5px 0 5px;margin:0;width:130px}
.simplePassMeterBar{background-color:#ddd}
.meterFail .simplePassMeterProgress{background-color:#f00}
.meterWarn .simplePassMeterProgress{background-color:#ff0}
.meterGood .simplePassMeterProgress{background-color:#4ae817}
.meterExcel .simplePassMeterProgress{background-color:#4ae817}
.simplePassMeter p{margin:0}
.customRetweet{background:url("../images/tweet.png") no-repeat scroll 0 0 transparent;display:inline-block;height:20px;text-indent:-9999px;width:55px}
.customRetweet:hover{background-position:0 -21px}
.customRetweet:active{background-position:0 -42px}
div.lightbox div.lightboxTrigger{cursor:pointer}
.lightbox .lightboxTriggerContainer{float:left}
.navList{border-width:2px 2px;border-style:solid;border-color:#900;border-radius:4px;background-color:#900;margin:4px 0}
.navList .forward{font-size:1.5em;font-weight:bold;color:#ae0200;padding:0 13px}
.navList .navLevel1{text-align:center}
.navList .navLevel1:hover{cursor:pointer;cursor:hand}
.navList .navLevel1 .primaryItem{color:#FFF;text-decoration:none;padding:.7em;margin:0 .125em}
.navList .navLevel1:hover .primaryItem,.navList .highlight .primaryItem{color:#900;background-color:#FFF}
.navList .primaryItem .caret{border:5px solid #900;border-top-color:#FFF;vertical-align:text-bottom;display:inline-block}
.ie6 .navList .primaryItem .caret,.ie7 .navList .primaryItem .caret{vertical-align:sub;height:3px}
.navList .navLevel1:hover .caret,.navList .highlight .caret{border:5px solid #FFF;border-top-color:#900}
.orientationHorizontal{overflow:auto}
.orientationHorizontal .navLevel1{float:left;vertical-align:middle}
.orientationHorizontal .rdivider{border-right:1px solid #FFF}
.orientationHorizontal .navLevel1 .primaryItem{display:block}
.orientationHorizontal .flyoutWrapper{background-color:#FFF;display:none;position:absolute;margin-left:2px;box-shadow:0 0 1px 1px #f2f2f2;z-index:11}
.orientationHorizontal .navLevel1:hover .flyoutWrapper{display:block}
.orientationHorizontal .flyoutWrapper a{color:#900;font-weight:normal}
.orientationHorizontal .flyout{display:inline-block;text-align:left;padding:.5em .8em .5em 0;margin:0 16px;vertical-align:top}
.orientationHorizontal .navLevel2{padding:4px 18px 12px 0;border-bottom:1px solid #f2f2f2;vertical-align:top}
.orientationVertical{width:206px}
.orientationVertical .navLevel2{padding:4px 14px}
.orientationVertical .navLevel2:hover{background-color:#686868}
.orientationVertical .navLevel1,.orientationVertical .forward{width:180px;background:#f2f2f2 repeat-x;padding:4px 13px}