.login {
    margin: 10px auto;
    width: 856px;
    color: #505050;
}

.modal .login {
    margin: 0;
}

.login .gr {
    text-align: center;
}


.modal .login .gr {
    text-align: left;
}


.login .item{
    border: 1px solid #d1d1d1;
    border-radius:3px;
    width: 411px;
    background: url("../images/tpl2/loginBg.png") repeat-x scroll 0 0 #e8e8e8;
	margin-top: 9px;
	margin-left:9px;
	margin-right:4px;
	margin-bottom:9px;
}

.login .itemR{
    border: 1px solid #d1d1d1;
    border-radius:3px;
    width: 411px;
    background: url("../images/tpl2/loginBg.png") repeat-x scroll 0 0 #e8e8e8;
	margin: 9px 9px 9px 5px;
}


.login .itemBottom {
    border: 1px solid #D1D1D1;
    border-radius:3px 3px 3px 3px;
    padding: 9px 9px 9px 9px;
	width: 411;
	margin: 9px 9px 9px 5px;
	text-align: center;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: ;
	vertical-align: bottom;
    width: 392px;
}

.login .loginBnt{
    display: block;
    background-image: url("../images/tpl2/bgSpriteV2.png");
    background-position: 0 -187px;
    /*
    background-image: url("../images/tpl2/toolBtnBg.png");
    */
    background-repeat: repeat-x;
    background-color: #E0E0E0;
    border-radius:3px;
    border: 1px solid #D9D9D9;
    line-height: 39px;
    height: 39px;
    font-size: 13px;
    color: #505050;
    text-align: center;
    text-shadow: 0 1px #F0F0F0;
    font-weight: bold;
    width: 389px;
    position: relative;
}

.login .loginBnt:hover{
    /*
    background-image:url("../images/tpl2/toolBtnBgHover.png");
    */
    background-position: 0 -231px;
    background-color: #f1f1f1;
}

.login .boxC {
    padding: 0;
}

.login .loginModel {
    background: url(../images/tpl2/loginModelNew.png) left bottom no-repeat;
}

#login .loginBnt{
    padding: 0 30px;
}

.login .itemBottom .iconPagerNext {
    margin: 2px 7px;
}

.login .item .top, .login .item .bottom {
    line-height: 35px;
    text-align: center;
    color: #505050;
    font-weight: bold;
}

.login .item .top, .login .item .content {
    border-bottom: 1px solid #dcdcdc;
	margin-bottom: 0;
	padding-bottom: 2px;
}

.login .item .content, .login .item .bottom {
	border-top: 1px solid #F7F7F7;
	padding-top: 4px;
	padding: 4px 4px 4px 4px;
	text-align: right;
	margin: 1px;
}

.login .inp, .login .inp div {
    height: 27px;
}

.login .inp {
	background-color: #FCFCFC;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	box-shadow: 0 1px #F0F0F0;
	height: 21px;
	padding: 3px;
	width: 312px;
	float: left;
	display: block;
	color: #717171;
	margin: 2px 0;
}

.login .red {
    border: 1px solid #F5381F;
}

.login .ajax {
    background-image: url("../images/ajax-loader.s.gif");
    background-repeat: no-repeat;
    background-position: 298px 6px;
}

.login select.inp {
    height: 28px;
    width: 320px;
}

.login label {
    color: #5d5d5d;
    text-align: right;
    width: 70px;
    font-weight: bold;
    line-height: 30px;
    font-size: 12px;
    text-shadow: 0 1px #F0F0F0;
	margin-right: 8px;
	margin-top: 3px;
}

.login .check label {
    font-size: 10px;
    width: auto;
    font-weight: normal;
    text-align: left;
    margin: 0 10px;
    line-height: normal;
}

.login .check {
    margin: 9px 0;
    text-align:left;
}

.login .check input {
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    border-radius:0;
}

.login .captcha {
    border: 1px solid #d9d9d9;
    border-radius:3px;
    background: #e0e0e0;
    height: 129px;
	width: 318px;
	margin-top: 3px;
    margin-bottom: 3px;
}

.login .signup {
    display: block;
    line-height: 34px;
    height: 39px;
    background-image: url(../images/tpl2/signupBg.png);
    background-position: 0 0;
    background-repeat: repeat-x ;
    background-color: #f22b10;
    border-radius:3px;
    color: #FFF;
    box-shadow: 0 1px #F0F0F0;
    font-size: 13px;
    border: 1px solid #f22b10;
    width: 393px;
    font-weight: bold;
    cursor: pointer;
	margin-left: 5px;
	margin: 5px;
	text-align:center;
	padding-bottom:4px;
    position: relative;
}

.login .signup:hover {
    color: #FFF !important;
    background-position: 0 -46px;
    background-color: #424242;
    border: 1px solid #424242;
}

.login .ajSubmit {
    display: none;
    width: 16px;
    height: 16px;
    background: url("../images/ajax-loader.s.gif") no-repeat 0 0;
    position: absolute;
    border-radius:8px;
    top: 11px;
    right: 10px;
}

.itemR .signup {
    height: 33px;
    margin: 0 10px 11px;
    width: 389px;
}


.login .res {
    background-image: url(../images/tpl2/icons.png);
    background-repeat: no-repeat;
    background-position: -109px -138px;
    width: 20px;
    height: 20px;
    margin: 4px;
}

.login .resEr { background-position: -133px -138px;}
.login .resOk { background-position: -156px -138px;}
.login .resAlert { background-position: -86px -138px}

.login .load{
    background: url(../images/tpl2/signupLoad.gif) 0 0 no-repeat;
    border-radius:10px;
}

.login .ad {
    padding: 10px;
}

.login .ad span {
    display: block;
    background: url(../images/tpl2/signupAd.png) 0 0 repeat-x;
    height: 38px;
    line-height: 37px;
    color: #505050;
    text-shadow: 0 1px #F0F0F0;
    text-align: left;
    border-radius:3px;
    margin-top: 4px;
    font-weight: bold;
	padding-left: 10px;
}

div .feat {
background-image: url("../images/tpl2/icons.png");
    background-position: -178px -139px;
    background-repeat: no-repeat;
    float: left;
    height: 18px;
    margin-top: 10px;
    padding-left: 20px;
    width: 4px;
    margin-right:4px;
}

.itemR center {
    height: 25px;
    line-height: 20px;
    color: #505050;
    text-shadow: 0 1px #F0F0F0;
	font-size:12px;
    text-align: center;
    font-weight: bold;
}

.login .counter {
    color: #696969;
    font-size: 12px;
    font-weight: bold;
    height: 38px;
    margin: 16px 25px;
    text-align: center;
}

.login .digitsAd {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 26px;
    text-align: center;
}

.login .err, .login .err label {
    color: #F5381F;
}
.login .err {
    font-size: 10px;
    text-align: center;
    line-height: 10px;
}
.login .err a{
    text-decoration:underline;
}


#loginForm .loginBnt {
	float: right;
    margin: 5px 7px 5px 5px;
    padding-bottom: 4px;
    width: 100px;
	line-height: 20px;
	cursor:pointer;
}

#loginForm .check {
    margin: 10px;
    padding-top: 7px;
}

#loginForm .bottom {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 0;
    text-align: center;
}

.digits {
    text-align: center;
    height: 45px;
}

.digits div, .digits span {
    background-image: url(../images/tpl2/numbers.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    display: inline-block;
    width: 38px;
    height: 41px;
}

.digits span {
    margin: 0 1px;
    background-position: -39px -370px;    
    padding-bottom: 14px;
}

.digits span.dot {
    background-position: -13px -417px;
    height: 4px;
    margin: 0 1px;
    padding: 0;
    width: 5px;
}

#signup .content {
    border-top: none;
    width:100%;
}

#mailHelp {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#mailHelp a {
    font-style: italic;
    font-weight: bold;
}

.digits .d00 {background-position: -1px -1px;}
.digits .d01 {background-position: -39px -1px;}
.digits .d02 {background-position: -77px -1px;}
.digits .d03 {background-position: -115px -1px;}
.digits .d04 {background-position: -153px -1px;}
.digits .d10 {background-position: -1px -42px;}
.digits .d11 {background-position: -39px -42px;}
.digits .d12 {background-position: -77px -42px;}
.digits .d13 {background-position: -115px -42px;}
.digits .d14 {background-position: -153px -42px;}
.digits .d20 {background-position: -1px -83px;}
.digits .d21 {background-position: -39px -83px;}
.digits .d22 {background-position: -77px -83px;}
.digits .d23 {background-position: -115px -83px;}
.digits .d24 {background-position: -153px -83px;}
.digits .d30 {background-position: -1px -124px;}
.digits .d31 {background-position: -39px -124px;}
.digits .d32 {background-position: -77px -124px;}
.digits .d33 {background-position: -115px -124px;}
.digits .d34 {background-position: -153px -124px;}
.digits .d40 {background-position: -1px -165px;}
.digits .d41 {background-position: -39px -165px;}
.digits .d42 {background-position: -77px -165px;}
.digits .d43 {background-position: -115px -165px;}
.digits .d44 {background-position: -153px -165px;}
.digits .d50 {background-position: -1px -206px;}
.digits .d51 {background-position: -39px -206px;}
.digits .d52 {background-position: -77px -206px;}
.digits .d53 {background-position: -115px -206px;}
.digits .d54 {background-position: -153px -206px;}
.digits .d60 {background-position: -1px -247px;}
.digits .d61 {background-position: -39px -247px;}
.digits .d62 {background-position: -77px -247px;}
.digits .d63 {background-position: -115px -247px;}
.digits .d64 {background-position: -153px -247px;}
.digits .d70 {background-position: -1px -288px;}
.digits .d71 {background-position: -39px -288px;}
.digits .d72 {background-position: -77px -288px;}
.digits .d73 {background-position: -115px -288px;}
.digits .d74 {background-position: -153px -288px;}
.digits .d80 {background-position: -1px -329px;}
.digits .d81 {background-position: -39px -329px;}
.digits .d82 {background-position: -77px -329px;}
.digits .d83 {background-position: -115px -329px;}
.digits .d84 {background-position: -153px -329px;}
.digits .d90 {background-position: -1px -370px;}
.digits .d91 {background-position: -39px -370px;}
.digits .d92 {background-position: -77px -370px;}
.digits .d93 {background-position: -115px -370px;}
.digits .d94 {background-position: -153px -370px;}


