/* Small Buttons*/
.button { font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; text-align:center; }
.button[disabled] span{color:#AFAFAF;text-shadow:0 1px 1px #fff;cursor:default}
.button span img { margin-right:3px; border:0; height:10px; width:10px; }
.ie6 .button span img { display:none; }
.button, .button span{ background-color: transparent; background-repeat: no-repeat; outline: none; background-attachment: scroll; }
.button { background-position: right top; }
.button span { background-position: left top; color: #fff; }
.button:hover,button.submitHover { background-position:right bottom; text-decoration:none;}
.button:hover span,button.submitHover span { background-position: left bottom; text-decoration:none; }
a.button,a.button span { display:block; }

a.button_small { float:left; height: 24px; margin-right: 6px; padding-right: 12px; font-size:12px; }
a.button_small span { line-height: 14px; padding: 5px 0 5px 12px; }
a.button_medium { float:left; height: 28px; margin-right: 6px; padding-right: 12px; font-size:14px; }
a.button_medium span { line-height: 14px; padding: 7px 0 7px 12px; }
a.button_large { float:left; height: 36px; margin-right: 6px; padding-right: 12px; font-size:16px; }
a.button_large span { line-height: 22px; padding: 7px 0 7px 12px; }

.button_small_blue { background-image: url(../images/buttons/small_blue_bg_button_a.gif); }
.button_medium_blue { background-image: url(../images/buttons/medium_blue_bg_button_a.gif); }
.button_large_blue { background-image: url(../images/buttons/large_blue_bg_button_a.gif); }
.button_small_blue span { background-image: url(../images/buttons/small_blue_bg_button_span.gif); }
.button_medium_blue span { background-image: url(../images/buttons/medium_blue_bg_button_span.gif); }
.button_large_blue span { background-image: url(../images/buttons/large_blue_bg_button_span.gif); }

.button_small_white { background-image: url(../images/buttons/small_white_bg_button_a.gif); }
.button_medium_white { background-image: url(../images/buttons/medium_white_bg_button_a.gif); }
.button_large_white { background-image: url(../images/buttons/large_white_bg_button_a.gif); }
.button_small_white span { background-image: url(../images/buttons/small_white_bg_button_span.gif); color:#393939; }
.button_medium_white span { background-image: url(../images/buttons/medium_white_bg_button_span.gif); color:#393939; }
.button_large_white span { background-image: url(../images/buttons/large_white_bg_button_span.gif); color:#393939; }

.button_small_pink { background-image: url(../images/buttons/small_pink_bg_button_a.gif); }
.button_medium_pink { background-image: url(../images/buttons/medium_pink_bg_button_a.gif); }
.button_large_pink { background-image: url(../images/buttons/large_pink_bg_button_a.gif); }
.button_small_pink span { background-image: url(../images/buttons/small_pink_bg_button_span.gif); }
.button_medium_pink span { background-image: url(../images/buttons/medium_pink_bg_button_span.gif); }
.button_large_pink span { background-image: url(../images/buttons/large_pink_bg_button_span.gif); }

/* Required Submit Button Styles */

button.button { position: relative; border: 0; padding: 0; cursor: pointer; overflow: visible; /* removes extra side padding in IE */ }
button.button::-moz-focus-inner { border: none;  /* overrides extra padding in Firefox */}
button.button span { position: relative; display: block; white-space: nowrap; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Google Chrome only - fix margins */
button.button span {margin-top: -1px;}
}

button.button_small { padding-right:12px; margin-right:5px; font-size:12px; height:24px; }
button.button_small span { padding: 6px 0 0 12px; height:18px; }

button.button_medium { padding-right:12px; margin-right:5px; font-size:14px; height:28px; }
button.button_medium span { padding: 6px 0 0 12px; height:22px; line-height:16px; }
button.button_large { padding-right:12px; margin-right:5px; font-size:16px; height:36px; }
button.button_large span { padding: 10px 0 0 12px; height:26px; line-height:16px; }