/*
 *  © 2000-2012 deviantART, Inc. All rights reserved.
 */
.policy-page {
    min-width: 300px;
    max-width: 800px;
}
.policy-page h2 {
    margin-top: 1.5em;
}
.policy-page p,
.policy-page ol,
.policy-page ul {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4em;
}
.policy-page a:link {
    text-decoration: underline;
}

#policy-copyright p.p1 {
    margin: 0.0px 0.0px 10.0px 0.0px;
    line-height: 17.0px;
    font: 14pt Verdana, sans-serif;
}
#policy-copyright p.p2 {
    margin: 12px 0.0px 10.0px 0.0px;
    line-height: 17.0px;
    font: 9pt Verdana, sans-serif;
}
#policy-copyright p.p3,
#policy-copyright ul li {
    margin: 0.0px 0.0px 10.0px 22.0px;
    line-height: 17.0px;
    font: 9pt Verdana, sans-serif;
}
#policy-copyright p.p4 {
    margin: 0.0px 0.0px 10.0px 0.0px;
    line-height: 17.0px;
    font: 9pt Verdana, sans-serif;
    min-height: 13.0px
}

#policy-etiquette ul {
    margin-left: 0px;
}
#policy-etiquette li {
    list-style-type: square;
}

#policy-irc ul {
    padding: 0 20px;
    list-style-image: url("../../ic1.deviantart.com/images/shared/2005-01/dACbullet.gif");
}

#policy-premium-content > ol {
    padding-left: 20px;
}
#policy-premium-content ol ul {
    list-style: disc;
}

#premium-content-personal-use-seller-agreement ol ol {
    list-style-type: upper-alpha;
}

#prints-agreement ol li {
    margin: 4px 0px;
}

#policy-privacy h2 {
    margin-top: 25px;
}
#policy-privacy p.contact {
    margin-left: 1em;
    font-weight: bold;
}

#policy-service ol {
    list-style-type: lower-alpha;
}
#policy-service ol.number {
    list-style-type: decimal;
}
#policy-service p.p1 {
    margin: 0;
}
#policy-service p.p2 {
    margin: 0;
}
#policy-service p.p3 {
    margin: 0 0 0 104px;
}
#policy-service p.p4 {
    margin: 0 0 0 56px;
}
#policy-service p.p5 {
    margin: 0;
    text-indent: 36.0px;
}

#policy-submission p.p2 {
    margin: 0.0px 0.0px 0.0px 48.0px;
    text-indent: -24.0px;
}
#policy-submission p.p3 {
    margin: 0.0px 0.0px 0.0px 96.0px;
    text-indent: -24.0px;
}
#policy-submission p.p4 {
    margin: 0.0px 0.0px 0.0px 144.0px;
    text-indent: -24.0px;
}
#policy-submission p.p5 {
    margin: 0.0px 0.0px 0.0px 144.0px;
}
#policy-submission p.p6 {
    margin: 0.0px 0.0px 0.0px 0.0px;
}
div.superbuttons {
    margin-top:1.5em;
    text-align:center;
}
div.superbuttons input {
    font-size:10pt;
    width:17ex;
}

