body {
	font: 11px verdana,arial,helvetica,clean,sans-serif; 
	line-height: 1.09em;
	color: #333;
	}
table {
	font-size: inherit;
	font: 100%;
	}

select, input, textarea {
	font: 99% arial,helvetica,clean,sans-serif;
	}

em {
	font-style: italic;
	}

img {
	outline: none;
	border: none;
	}

/* ----------------- A ---------------------*/

a, a:visited {
	color: #0056b7;
	text-decoration: none;
	outline: none;
	}

a:hover {
	text-decoration: underline;
	}

p a, p a:visited	 {
	text-decoration: underline;
	}

p a:hover, #homepageWrapper p a, #homepageWrapper p a:visited {
	text-decoration: none;
	}

p a:visited, ul.mainLinkMenu a:visited, ul.linkMenu a:visited, #homepageWrapper li.hpLinkList a:visited {
	color: #7faadb;
	}

ul.linkMenu li a {			
	font-weight: bold;
	}

ul.linkMenu li li a {
	font-weight: normal;
	}
	
ul.linkMenu li li li a {
	font-size: 0.9em;		
	font-weight: normal;
	}
	
ul.linkMenu li p a {
	font-weight: normal;
	}

ul.mainLinkMenu {
	margin: 0 0 20px 0;
	}

ul.mainLinkMenu li{
	font-weight:bold;
	margin:10px 0 0 0;
	}
	
a.action  {
	font-size: 11px;
	background: url("../images/chevron.gif") 0 50% no-repeat;
	white-space: nowrap; 
	padding: 0 12px 0 15px;
	
}
	
/* ----------------- HEADER ---------------------*/

h1 {
	font-size: 2.18em;
	line-height: normal;
	color: #ff8A00;
	margin: 20px 0 0.5em 0;
	}

#homepageWrapper h1 {
	font-size: 1em;
	margin: 20px 0 5px 0;
	font-weight: bold;
	color: #ff6600;
	text-transform: uppercase;
	}	

#template1Wrapper #subWrapper h2, #template2Wrapper #subWrapper h2 {
	font-size: 1.455em;
	color: #092Aa4F;
	margin: 10px 0 20px 0;
	text-transform: none;
	font-weight: bold;
	}

h1.newsroom {
	font-size: 2.18em;
	padding-bottom: 1em;
	text-transform:none;
	}

#templateNewsroomWrapper #subWrapper h1 {
	margin: 20px 0 20px 0;
	padding: 0;
	}


h2 {
	font-size: 1.63em;
	line-height: normal;
	color: #092a4f;
	margin-bottom: 1em;
	}
	
#homepageWrapper h2{
	font-size: 1em;
	line-height: 1.63em;
	color: #ff6600;
	margin: 20px 0 5px 0;
	text-transform: uppercase;
	font-weight: bold;
	}

#motorcycleWrapper h2,
#boatWrapper h2,
#rvWrapper h2,
#snowmobileWrapper h2 {
	margin-bottom: 0.5em;
	}

#motorcycleWrapper h3,
#boatWrapper h3,
#rvWrapper h3,
#snowmobileWrapper h3 {
	color: #666;
	font-weight: bold;
	font-size: 1.09em;
	}

h2.newsroom {
	margin-bottom: 2.22em;
	}
	
#templateNewsroomWrapper #subWrapper h2{
	margin: 0 0 20px 0;
	}

h3, td#heading, #ols #managePolicy h3 {
	font-size: 1.27em;
	line-height: 1.27em;
	font-weight: bold;
	color: #092a4f;
	text-transform: none;
	}

#template7Wrapper #subWrapper h3{
	font-size: 1.09em;
	}

h3.xpromo {
	font-size: 1em;
	line-height: normal;
	color: #ff6600;
	margin-bottom: 5px;
	}

#homepageWrapper h3{
	font-size: 1em;
	line-height: normal;
	color: #092a4f;
	text-transform: uppercase;
	}

#blogWrapper #subWrapper h3{
	font-size: 1.09em;
	line-height: normal;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 20px 0;
	}


h4 {
	font-size: 1.27em;
	line-height: normal;
	color:#092a4f;
	text-transform:none;
	font-weight:bold;
	margin-bottom:15px;
	}


#template7Wrapper #subWrapper h4{
	font-size:1.13em;
	color:#f89728;
	text-transform:uppercase;
	margin: 0 0 20px 0;
	}

h4.xpromo {
	font-size: 1em;
	position:absolute;
	top:0;
	left:0;
	padding:0 10px 0 0;
	margin:0;
	color: #f89728;
	background-color:#ffffff;
	}
	
#template1Wrapper #subWrapper h4{
	font-size:1em;
	color: #ff6600;
	margin-bottom: 10px;
	}

#template2Wrapper #subWrapper h4{
	font-size:1.13em;
	color:#003a63;
	text-transform:none;
	}

#blogWrapper #subWrapper h4{
	font-size: 1.09em;
	text-transform: none;
	color: #092a4f;
	margin-bottom: 0.27em;
	}

h4 span {
	color:#003a63;
	}

#web2 h5 {
	color: #ff6600;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: -0.1em;
	}

.nonLinkHeader{
	font-size:1.09em;
	font-weight:bold;
	color:#003a63;
	padding-bottom: 10px;
	}
	
.linkHeader{
	font-size:1.09em;
	font-weight:bold;
	color:#0033cc;
	padding-bottom: 10px;
	}

.headlineGraphic {
	margin-top: 20px;
	}

/* ----------------- PARAGRAPH ---------------------*/

p, ul.bulletList li, #ols #managePolicy p {
	font-size: 1.09em;
	line-height: 1.63em;
	margin-bottom: 1.63em;
	}
ul.bulletListCompact li {
	font-size: 1.09em; 
	line-height: 1.2em;
	margin-bottom: 0.2em; 
}
ul.linkMenu li p {
	font-size: 1em;
	margin: 0;
	}

ul.noBulletList {
list-style:none;

}

ul.noBulletList li{
margin: 0 10px 10px 10px

}

ol {
	list-style: decimal;
	margin: 0 0 2em 30px;
	}

ol li{
margin-bottom: 1.63em;
font-size: 1.09em;
line-height: 1.63em;
	}


#homepageWrapper p {
	margin: 0;
	font-size: 1em;
	line-height: normal;
	}

#template1Wrapper #subWrapper #crossPromoBlockLeft p,
#template1Wrapper #subWrapper #crossPromoBlockRight p {
	font-size: 1em;
	}

#disclaimer p, .disclaimer{
	font-size: 0.90em;
	color: #999;
	line-height: 1em;
	}
.disclaimerMargin {
	margin-top: 60px;
}

.seperator{
	color:#c2cfdb;
	font-size:.9em;
}


/* ----------------- SUP ---------------------*/

sup {
	font-size: .8em;
	}

/* ----------------- REGISTERED MARK ---------------------*/
.reg{
	font-size:1em;
}

/* ----------------- STRONG ---------------------*/

strong {
	font-weight: bold;
	}

#web2 strong, #homepageWrapper ul strong, #headerContact strong {
	color: #ff6600;
	}

#homepageWrapper p strong {
	color: #003a63;
	}


/* -------------------- LEFT NAV --------------------- */

ul#leftNav li a {
	font-size: 1.2em;		
	font-weight: bold;
	}

ul#leftNav li a:hover {
	color: #092a4f;
	text-decoration: none;
	}
	
ul#leftNav li li a{
	font-size: 1.0em; 	
	font-weight: normal;
	}

ul#leftNav li li a:hover {
	color: #092a4f;
	text-decoration: underline;
	}

ul#leftNav li.parentActive {
	font-size: 1.2em;
	font-weight: bold;
	color: #092a4f;
	}

ul#leftNav li.parentActive li a {
	font-size: 0.81em; 	
	line-height: 1em;
	font-weight: normal;
	}

ul#leftNav li.parentActiveLink ul li.activeLink, li#currentPageBreadCrumb  {
	color: #092a4f;
	font-weight: bold;
	}
	
ul#breadCrumb li {
	font-size: 0.90em;
	}



/*------------------ Styles for tabular data - added by JW on 8/8 ----------------------------*/
table#tableWithBorder {
border-bottom:1px solid #CCCCCC;
margin-bottom:1.63em;
}
table#tableWithBorder tr {
vertical-align:top;
padding-bottom: 7px;
}
td#white {
padding: 8px 8px 8px 8px;
border-top:1px solid #CCCCCC;
}
td#gray {
padding: 8px;
border-top:1px solid #c2cfdb;
background-color:#e0e7ed;
}
tr.white {
padding: 8px 8px 8px 8px;
border-top:1px solid #CCCCCC;
}
tr.gray {
padding: 8px;
border-top:1px solid #c2cfdb;
background-color:#e0e7ed;
}

td#heading {
padding: 8px;
border-top:1px solid #CCCCCC;
}



.numericPhone{
	font-size: 1em;
	line-height: normal;
	color:#405e7c;
	text-transform:uppercase;
	font-weight:bold;
	margin: 0 0 2em 0;
}


/* ----------------- Home Page UL-----------------------*/

#homepageWrapper ul .hpLinkList{

font-size: 1em;
margin-bottom:3px;


}




/*------------------ Newsroom Landing-- added by J. Beals on 8/16----------------------------*/
.sectionheader{
font-size: 1.2 em;		
	font-weight: bold;
	color: #0033cc;
	margin: 0 0 10px 0;
}


.date{
	font-size: 1.2 em;	
	font-weight: bold;
	color: #666666;
}


/* -----------------Footer -- added by J. Beals on 7/7/09 ----------------*/
.footerNav2 .title, .footerNav3 .title {
font-weight:bold;
margin-bottom:5px;
color:#092a4f;
}
ul.featured sup {
line-height:.6em;
font-size:.8em;
}
/*------------------Disclaimer -------------------------*/


#disclaimer {
	color: #666;
	}

#disclaimer p {
	font-size: .909em;
	line-height: normal;
	margin:0 0 1.5em 0;
	color: #333;
	}

#disclaimer #tagline{
	font-size: .909em;
	font-weight:bold;
	margin-bottom:5px;
	}

#disclaimer #copyright{
	font-size: .909em;
	margin-bottom: 1.75em;
	color: #666666;
	}

/*-------------------- Form Layout ------------------------*/
.formLabel{

font-size: 1.09em;
color:#003a63;
font-weight:bold;
margin: 0 0 5px 0;

}

/*------------------- Blog Content -------------------------*/




#postDate{
font-size: .909em;

}

#blogArchive .title{
font-size:1.09em;
color:#FFFFFF;
font-weight:bold;

}

#alsoOnPromo .title{
font-size:1.09em;
color:#FFFFFF;
font-weight:bold;

}

#alsoOnPromo li{
font-size:.909em;
}

#comingNextWeek #nextWeekTitle{
	font-size:1.09em;
	font-weight:bold;

}

.bio{
font-style:italic;

}

#author{
font-size: 1.09em;
color:#ff8a00;
font-weight:bold;
}

/*-------------- REFRESH STUFF -------------*/

.homePageWrapper h1{
color:#092a4f;
font-size:1.09em;
font-weight:bold;

}	
	
#heroWrapper h2 {
	font-size: 1.82em;
	margin: 0px 0 8px 0;
	color: #005bb7;
	text-transform: none;
	line-height:normal;
	letter-spacing: -1px;
	}	
	
.homePageWrapper h3{
font-size:1em !important;
}

.homePageWrapper p{

}

.social .date{
display:block;
font-weight:normal;
color:#999999;
}

#carousel_wrapper h1 {
	float: left;
}	

/*-------------- CUSTOMER SERVICE & CLAIMS CENTER ------------------------*/



#customerServiceWrapper #heroContent h1, #claimsWrapper #content h1 {
margin:10px 0 10px 0;
}

#customerServiceWrapper #heroContent h4, #claimsWrapper #content h4{
color:#092a4f;
text-transform:none;
margin-bottom: 9px;
}

#customerServiceWrapper #heroContent p, #claimsWrapper #content p{
line-height:16px;
}

.social .date{
display:block;
font-weight:normal;
color:#999999;
}

#carousel_wrapper h1 {
	float: left;
}




.carousel p {
	font-size: 11px;
	margin-top: -5px;
}

.carousel h4 {
	font-size: 11px;
	font-weight:bold;
	margin-bottom: 10px;
	color:#092a4f;
	text-transform:none;
}


.social p, .valueProp p {
	font-size: 11px;
}

#valueProp h4{
	font-size: 13px;
	text-transform: none;
	}
	


