






	



/* module-3-dl.css  expireTime 120*/




.twc-dl-module{background:#fff url(../../s.imwx.com/v.20100719.135915/img/module/module-dl-bkgd.png) no-repeat;height:340px;left:0;margin:0 0 23px 0;overflow:visible;width:640px}
.twc-dl-module .twc-module-content{height:340px;overflow:visible;padding:0;width:100%}
.twc-dl-module .twc-module-content .twc-dl-module-tabs{height:329px;margin:0;overflow:hidden;position:absolute;right:6px;top:6px;width:176px}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li{background: transparent url(../../s.imwx.com/v.20100719.135915/img/module/dl-module-tabs-sprite.png) no-repeat;border-bottom:1px solid #f2f2f2;cursor:pointer;font-size:116%;list-style-type:none;margin:0;display:block;font-weight:bold}
.twc-dl-module .twc-module-content .twc-dl-module-3-tabs li{background-position:-1111px top}
.twc-dl-module .twc-module-content .twc-dl-module-4-tabs li{background-position:-741px top}
.twc-dl-module .twc-module-content .twc-dl-module-5-tabs li{background-position:-371px top}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li:hover{background-color:#989898;background-image:none}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li.selected{background:transparent url(../../s.imwx.com/v.20100719.135915/img/module/dl-module-tabs-sprite.png) no-repeat}
.twc-dl-module .twc-module-content .twc-dl-module-3-tabs li.selected{background:transparent url(../../s.imwx.com/v.20100719.135915/img/module/dl-module-tabs-sprite.png) -1296px top no-repeat}
.twc-dl-module .twc-module-content .twc-dl-module-4-tabs li.selected{background:transparent url(../../s.imwx.com/v.20100719.135915/img/module/dl-module-tabs-sprite.png) -926px top no-repeat}
.twc-dl-module .twc-module-content .twc-dl-module-5-tabs li.selected{background:transparent url(../../s.imwx.com/v.20100719.135915/img/module/dl-module-tabs-sprite.png) -556px top no-repeat}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li.twc-last{border-bottom-style:none}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li a{background:transparent url(../../s.imwx.com/v.20100719.135915/img/module/dl-module-tabs-sprite.png) 0 -10px no-repeat;color:#fff;display:block;padding:10px 8px;text-decoration:none}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li.twc-first a{background-position:-9px top; }
.twc-dl-module .twc-module-content .twc-dl-module-tabs li.twc-last a{background-position:-194px bottom; }
.twc-dl-module .twc-module-content .twc-dl-module-3-tabs li a{height:89px}
.twc-dl-module .twc-module-content .twc-dl-module-4-tabs li a{height:61.5px}
.twc-dl-module .twc-module-content .twc-dl-module-5-tabs li a{height:45px}
.twc-dl-module .twc-module-content .twc-dl-module-5-tabs li.twc-last a{height:46px}
.twc-dl-module .twc-module-content .twc-dl-module-tabs li a .twc-dl-module-tab-content-type{color:#ffca62;display:block;font-size:67%;margin-bottom:2px;text-transform:uppercase}
.twc-dl-module-content{position:absolute;top:0}
.twc-dl-block{background:#fff url(../../s.imwx.com/v.20100719.135915/img/module/module-dl-bkgd.png) no-repeat;height:339px;width:457px;overflow:hidden}
.twc-dl-block .twc-dl-image{bottom:-3px;z-index:0}
.twc-dl-block .twc-dl-inner{background:transparent url(../../s.imwx.com/v.20110119.170346/img/module/dl-inner-bkgd.png) top left no-repeat;bottom:0;color:#e4e4e4;height:69px;left:0;margin:-9px;padding:16px 24px;position:absolute;width:414px}
.twc-dl-block .twc-dl-inner a{color:#fff}
.twc-dl-block .twc-dl-inner p a{text-decoration:underline}
.twc-dl-block .twc-dl-inner h2{font-size:200%;font-weight:normal;margin:0 0 2px}
.twc-dl-block .twc-dl-inner .twc-dl-text{display:inline;font-size:108%;line-height:105%}
.twc-dl-block .twc-dl-inner .twc-dl-more-link{display:inline;margin-left:4px;font-size:90%;font-weight:normal}

.twc-dl-module-content .twc-story-block{padding:7px 3px 8px 8px;overflow:hidden;width:441px}
.twc-dl-module-content .twc-story-block .twc-story-image{border-style:none;float:left;margin:0 15px 15px 0;padding:0;position:relative}
.twc-dl-module-content .twc-story-block .twc-story-image a,.twc-dl-module-content .twc-story-block .twc-story-image img{display:block}
.twc-dl-module-content .twc-story-block .twc-story-inner{height:168px}
.twc-dl-module-content .twc-story-block .twc-story-inner .twc-related-links{float:left;margin-bottom:0;width:190px}
.twc-dl-module-content .twc-story-block .twc-story-inner h2{font-size:116.7%;margin:0}
.twc-dl-module-content .twc-story-block .twc-related-content{clear:both;border-top:1px dotted #b6b6b6}

.twc-dl-block .twc-story-block{padding-bottom:3px;padding-top:5px;overflow:visible;z-index:1}
.twc-dl-block .twc-story-block .twc-story-inner{border-bottom:1px dotted #a4a4a4;height:auto;padding-bottom:2px}
.twc-dl-block .twc-story-block .twc-story-inner .twc-story-header{padding:0 3px}
.twc-dl-block .twc-story-block .twc-story-inner .twc-story-header h2{display:inline;font-size:200%;font-weight:normal;margin:0}
.twc-dl-block .twc-story-block .twc-story-inner .twc-story-header h3{display:inline;color:#5f5f5f;font-size:92%;font-weight:normal;margin:0;padding-left:4px;white-space:nowrap}
.twc-dl-block .twc-story-block .twc-story-image{bottom:119px;border:1px solid #fff;margin:0;position:absolute;right:8px;z-index:1}
.twc-dl-block .twc-story-block .twc-story-extra-info{border-bottom:1px dotted #a4a4a4;padding:4px 3px 2px;position:static;overflow:hidden;width:434px}
.twc-dl-block .twc-story-block .twc-story-extra-info .twc-story-extra-links dd{font-size:92%}
.twc-dl-block .twc-story-block .twc-story-extra-info dl{margin:0 21px 0 0}
.twc-dl-block .twc-story-block .twc-story-extra-info dl.twc-last{margin-right:0}
.twc-dl-block .twc-story-block .twc-story-extra-info dt{color:#5f5f5f;font-size:83%;margin-bottom:0}
.twc-dl-block .twc-story-block .twc-story-extra-info dd{font-size:142%}
.twc-dl-block .twc-story-block .twc-story-alerts{border-bottom:1px dotted #a4a4a4;line-height:22px;overflow:hidden;padding:0 3px;width:434px}
.twc-dl-block .twc-story-block .twc-story-alerts strong{color:#686868;float:left;font-size:85%;font-weight:normal;margin-right:9px}
.twc-dl-block .twc-story-block .twc-story-alerts ul{margin:0}
.twc-dl-block .twc-story-block .twc-story-alerts li{background:transparent url(../../s.imwx.com/v.20110809.105652/img/common/left-icons.png) -10px -154px no-repeat;float:left;list-style-type:none;margin-right:15px;padding-left:12px}








.twc-dl-module-v2 {background:#f2f2f2 url(http://d.imwx.com/css/none);height:397px;float:left;margin:0 0 23px 0;overflow:visible;width:452px;
-moz-box-shadow: 0px 0px 6px #BFBFBF;
-webkit-box-shadow: 0px 0px 6px #BFBFBF;
box-shadow: 0px 0px 6px #BFBFBF;/*height:397px;width:462px;442 because of padding?*/
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(offx=2, offy=2, Strength=2, Direction=135, Color='#2c2c2c')";
filter: progid:DXImageTransform.Microsoft.Shadow(offx=2, offy=2, Strength=2, Direction=135, Color='#2c2c2c');
}
.twc-dl-module-v2 .twc-module-content{width:440px; height:340px;overflow:visible;padding:0;width:100%;top:5px;left:5px;}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs-block {position:absolute;top:270px;left:0px;width:462px}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs-block .twc-dl-module-tabs{height:115px;width:462px;margin:0;overflow:hidden;position:static;clear:both;}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs li{background: transparent url(module-3-dl.css) no-repeat;cursor:pointer;font-size:116%;list-style-type:none;margin:0;display:block;font-weight:bold;width:147px;height:90px;border:none;float:left;position:relative;}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs-block .twc-dl-module-tabs li .twc-dl-selected-arrow {visibility:hidden;position:absolute;}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs-block .twc-dl-module-tabs li img { border-color: #FFFFFF;border-style: solid;border-width: 5px 4px;margin-top:15px;width:139px;height:90px}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs-block .twc-dl-module-tabs li.selected .twc-dl-selected-arrow{visibility:visible;border-color: transparent transparent #FFF;border-style: solid;border-width: 0 6px 10px;left:69px;height: 0;width: 0;top:5px}

.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs li.selected{background:transparent url(module-3-dl.css) no-repeat}

.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs li a{background:transparent url(module-3-dl.css) 0 0 no-repeat;color:#fff;display:block;padding:0px;}
.twc-dl-module-v2 .twc-module-content .twc-dl-module-tabs li a{height:auto}

.twc-dl-module-content{position:absolute;top:0}
.twc-dl-module-v2 .twc-dl-block{background:#fff url(module-3-dl.css) no-repeat;height:283px;width:440px;overflow:hidden}
.twc-dl-block .twc-dl-image{bottom:-3px;z-index:0}
.twc-dl-module-v2 .twc-dl-block .twc-dl-inner{background:transparent url(../../s.imwx.com/v.20110119.170346/img/module/dl-inner-bkgd.png) top left no-repeat;bottom:10px;color:#e4e4e4;height:50px;left:0;margin:-10px;padding:15px 15px 15px 20px;position:absolute;width:415px}
.twc-dl-block .twc-dl-inner a{color:#fff}
.twc-dl-block .twc-dl-inner p a{text-decoration:underline}
.twc-dl-block .twc-dl-inner h2{font-size:200%;font-weight:normal;margin:0 0 2px}
.twc-dl-block .twc-dl-inner .twc-dl-text{display:inline;font-size:108%;line-height:105%}
.twc-dl-block .twc-dl-inner .twc-dl-more-link{display:inline;margin-left:4px;font-size:90%;font-weight:normal}

.twc-dl-module-content .twc-story-block{padding:7px 3px 8px 8px;overflow:hidden;width:441px}
.twc-dl-module-content .twc-story-block .twc-story-image{border-style:none;float:left;margin:0 15px 15px 0;padding:0;position:relative}
.twc-dl-module-content .twc-story-block .twc-story-image a,.twc-dl-module-content .twc-story-block .twc-story-image img{display:block}
.twc-dl-module-content .twc-story-block .twc-story-inner{height:168px}
.twc-dl-module-content .twc-story-block .twc-story-inner .twc-related-links{float:left;margin-bottom:0;width:190px}
.twc-dl-module-content .twc-story-block .twc-story-inner h2{font-size:116.7%;margin:0}
.twc-dl-module-content .twc-story-block .twc-related-content{clear:both;border-top:1px dotted #b6b6b6}

.twc-dl-block .twc-story-block{padding-bottom:3px;padding-top:5px;overflow:visible;z-index:1}
.twc-dl-block .twc-story-block .twc-story-inner{border-bottom:1px dotted #a4a4a4;height:auto;padding-bottom:2px}
.twc-dl-block .twc-story-block .twc-story-inner .twc-story-header{padding:0 3px}
.twc-dl-block .twc-story-block .twc-story-inner .twc-story-header h2{display:inline;font-size:200%;font-weight:normal;margin:0}
.twc-dl-block .twc-story-block .twc-story-inner .twc-story-header h3{display:inline;color:#5f5f5f;font-size:92%;font-weight:normal;margin:0;padding-left:4px;white-space:nowrap}
.twc-dl-block .twc-story-block .twc-story-image{bottom:119px;border:1px solid #fff;margin:0;position:absolute;right:8px;z-index:1}
.twc-dl-block .twc-story-block .twc-story-extra-info{border-bottom:1px dotted #a4a4a4;padding:4px 3px 2px;position:static;overflow:hidden;width:434px}
.twc-dl-block .twc-story-block .twc-story-extra-info .twc-story-extra-links dd{font-size:92%}
.twc-dl-block .twc-story-block .twc-story-extra-info dl{margin:0 21px 0 0}
.twc-dl-block .twc-story-block .twc-story-extra-info dl.twc-last{margin-right:0}
.twc-dl-block .twc-story-block .twc-story-extra-info dt{color:#5f5f5f;font-size:83%;margin-bottom:0}
.twc-dl-block .twc-story-block .twc-story-extra-info dd{font-size:142%}
.twc-dl-block .twc-story-block .twc-story-alerts{border-bottom:1px dotted #a4a4a4;line-height:22px;overflow:hidden;padding:0 3px;width:434px}
.twc-dl-block .twc-story-block .twc-story-alerts strong{color:#686868;float:left;font-size:85%;font-weight:normal;margin-right:9px}
.twc-dl-block .twc-story-block .twc-story-alerts ul{margin:0}
.twc-dl-block .twc-story-block .twc-story-alerts li{background:transparent url(../../s.imwx.com/v.20110809.105652/img/common/left-icons.png) -10px -154px no-repeat;float:left;list-style-type:none;margin-right:15px;padding-left:12px}

.twc-dl-module-v2 .twc-dl-inner .twc-dl-text {display: block;height: 14px;overflow: hidden;}
		

	
		.twc-feat-conditions {width:172px;float:left;margin-left:20px;margin-bottom:23px}
        .twc-feat-conditions span {display:block}
        .twc-featcond-featcities-location {margin-bottom:5px;}
        .twc-featcond-label {font-weight:bold;font-size:14px;margin-bottom:10px}
        .twc-featcond-loc {margin-bottom:5px}
        .twc-featcond-wxblock {width:165px;}
        .twc-featcond-wxicon {width:52px;height:52px;margin-right:15px;float:left;padding-left:10px}
        .twc-featcond-wxdetails{float: left; width: 88px;}
        .twc-featcond-temp {font-weight:bold;font-size:22px;}
        .twc-featcond-wxphrase {}
        .twc-featcond-wxblock,.twc-featcond-featcities{margin-bottom:10px; border-bottom:1px dotted #ccc;}
		.twc-featcond-wxblock,.twc-featcond-featcities,.twc-featcond-hccities {clear:both;height:auto}
		.twc-featcond-wxblock {padding-bottom:8px}
		.twc-featcond-hotcity,.twc-featcond-coldcity {display:block;clear:both;margin-bottom:5px;font-size:12px}
		.twc-featcond-hccities-icon {width:9px;height:9px;margin-right:10px;margin-top:3px;float:left;}
		.twc-featcond-hotcity .twc-featcond-hccities-icon {background-color:#ff3c00}
		.twc-featcond-coldcity .twc-featcond-hccities-icon {background-color:#006cff}
		.twc-featcond-hccities-location {float:left;width:100px;padding-right:5px;}
		.twc-featcond-hccities-temp {width:30px;float:left}
		.twc-featcond-featcities .twc-last {margin-bottom:0px}
		.twc-featcond-featcity {margin-bottom:10px;font-size:12px;clear:both}
		.twc-featcond-featcities-wxicon {width:22px;margin-left:10px;float:left;}
		.twc-featcond-featcities-temp {font-weight:bold;width:28px;float:left;margin-left:10px;line-height:22px}
		.twc-featcond-label, .twc-featcond-label, .twc-featcond-hccities-temp {white-space:nowrap}
		
		.revised-hp-modules .twc-group {clear:none !important}
		.revised-hp-modules #twc-todays-headlines .twc-story-block .twc-related-links {margin-top:0px !important}
		.revised-hp-modules #twc-tertiaryPromo-narrow .twc-related-links {clear:none !important; margin:0 0 25px 130px !important}
		
		.twc-severe-alert{width:14px; height:14px;margin-right:5px;float:left;background:url(../../s.imwx.com/v.20110110.113134/img/module/savedloc-wxalert.png) 0px -17px no-repeat;display:block}



.twc-singledl-module .twc-story-block{ background-color:#620300; padding:10px; width:auto;}
.twc-singledl-module .twc-story-inner{ border-bottom:1px dotted #fff;}
.twc-singledl-module .twc-story-block .twc-story-extra-info {overflow: hidden; padding: 5px 5px 0 5px; position:relative; top:0px; left:0px;} 
.twc-singledl-module .twc-story-block .twc-story-inner .twc-story-header {padding: 0 5px;}
.twc-singledl-module .twc-story-block .twc-story-inner .twc-story-header h2 {display: inline; font-size: 200%; font-weight: normal; margin: 0; color:#fff;}
.twc-singledl-module .twc-story-block .twc-story-inner .twc-story-header h3 {display: inline; font-size: 92%; font-weight: normal; margin: 0; color: #A6A6A6; padding-left: 4px; white-space: nowrap;}
.twc-singledl-module .twc-story-extra-info dd{ color:#fff;}

.twc-singledl-module .twc-module-content {padding:6px 19px 0 6px}
		
