/* CSS support for browsers that have proprietary versions of latest standards */

button,
input[type="submit"],
.button {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee); 
	background-image:    -moz-linear-gradient(top, #ffffff 0%, #eeeeee); 
	background-image:     -ms-linear-gradient(#ffffff, #eeeeee); 
	background-image:      -o-linear-gradient(#ffffff, #eeeeee); 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btnbuyreserve,
button.progressive.btnbuyreserve,
a.progressive.btnbuyreserve, 
input.progressive.btnbuyreserve, 
input.progressive.btnbuyreserve[type="submit"] 
 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0ab1d1), to(#06a4c1));
	background-image: -webkit-linear-gradient(#0ab1d1, #06a4c1);
	background-image:    -moz-linear-gradient(top, #0ab1d1, #06a4c1);
	background-image:     -ms-linear-gradient(#0ab1d1, #06a4c1);
	background-image:      -o-linear-gradient(#0ab1d1, #06a4c1);
}

#siteheader { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff), color-stop(95%, #eee));
	background-image: -webkit-linear-gradient(#fff 80%, #eee 95%); 
	background-image:    -moz-linear-gradient(#fff 80%, #eee 95%); 
	background-image:     -ms-linear-gradient(#fff 80%, #eee 95%); 
	background-image:      -o-linear-gradient(#fff 80%, #eee 95%); 
}

#offers a {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e42119), to(#c91811)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#e42119, #c91811); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #e42119 0%, #c91811); /* FF3.6 */
	background-image:     -ms-linear-gradient(#e42119, #c91811); /* IE10 */
	background-image:      -o-linear-gradient(#e42119, #c91811); /* Opera 11.10+ */
}

#offers #offers_2 a {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8aa02), to(#d69200)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#f8aa02, #d69200); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #f8aa02 0%, #d69200); /* FF3.6 */
	background-image:     -ms-linear-gradient(#f8aa02, #d69200); /* IE10 */
	background-image:      -o-linear-gradient(#f8aa02, #d69200); /* Opera 11.10+ */
}

.MenuActivatee div {
	-moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

#personal {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#09b2d1), to(#0491aa)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#09b2d1, #0491aa); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#09b2d1, #0491aa); /* FF3.6 */
	background-image:     -ms-linear-gradient(#09b2d1, #0491aa); /* IE10 */
	background-image:      -o-linear-gradient(#09b2d1, #0491aa); /* Opera 11.10+ */
}

#personal .QvtActivator_active { 
	-moz-box-shadow: 0px -2px 2px 2px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px -2px 2px 2px rgba(51,51,51,0.4);
}

.QvtActivatee {
	-moz-box-shadow: 0px 2px 2px 2px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px 2px 2px 2px rgba(51,51,51,0.4);
}

.QvtActivatee .product:hover,
.HotspotActivatee .product:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#userRecognition form .button {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0ab1d1), to(#06a4c1));
	background-image: -webkit-linear-gradient(#0ab1d1, #06a4c1);
	background-image:    -moz-linear-gradient(top, #0ab1d1, #06a4c1);
	background-image:     -ms-linear-gradient(#0ab1d1, #06a4c1);
	background-image:      -o-linear-gradient(#0ab1d1, #06a4c1);
}

.MandatoryLoginActivatee, 
.RecognitionActivatee {
	-moz-box-shadow: 0px 2px 2px 1px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px 2px 2px 1px rgba(51,51,51,0.4);
}

.MessageActivatee {
	-moz-box-shadow: 0px 2px 2px 1px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px 2px 2px 1px rgba(51,51,51,0.4);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.product { display: -moz-inline-block; }

.product:hover,
#pdpFabricPicker a.pickerItem:hover {
	-moz-box-shadow: 0px 0px 2px 2px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(51,51,51,0.4);
}

.carousel {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#fff, 95%), color-stop(#eee));
	background-image: -webkit-linear-gradient(#fff 95%, #eee); 
	background-image:    -moz-linear-gradient(#fff 95%, #eee); 
	background-image:     -ms-linear-gradient(#fff 95%, #eee); 
	background-image:      -o-linear-gradient(#fff 95%, #eee); 
}

#targetProducts {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#f5f5f5, 39px), color-stop(#fff 39px));
	background-image: -webkit-linear-gradient(#f5f5f5 39px, #fff 39px); 
	background-image:    -moz-linear-gradient(#f5f5f5 39px, #fff 39px); 
	background-image:     -ms-linear-gradient(#f5f5f5 39px, #fff 39px); 
	background-image:      -o-linear-gradient(#f5f5f5 39px, #fff 39px); 
}


#content_1 .slideshow,
#content_1 .slideshow .slide {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #fff), color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(center bottom ,#EEEEEE 0.5%, #fff 28px, transparent 28px);
	background-image:    -moz-linear-gradient(center bottom ,#EEEEEE 0.5%, #fff 28px, transparent 28px);
	background-image:     -ms-linear-gradient(center bottom ,#EEEEEE 0.5%, #fff 28px, transparent 28px);
	background-image:      -o-linear-gradient(center bottom ,#EEEEEE 0.5%, #fff 28px, transparent 28px);
}

/* Home page */
.home #content_2 { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #fff), color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(#fff 90%, #eee);
	background-image:    -moz-linear-gradient(#fff 90%, #eee);
	background-image:     -ms-linear-gradient(#fff 90%, #eee);
	background-image:      -o-linear-gradient(#fff 90%, #eee);
}

/* Lister */
#products .item:hover {
	-moz-box-shadow: 0px 0px 2px 2px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(51,51,51,0.4);
}

.lister .pageoptions input[type="submit"] {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0ab1d1), to(#06a4c1));
	background-image: -webkit-linear-gradient(#0ab1d1, #06a4c1); 
	background-image:    -moz-linear-gradient(top, #0ab1d1 0%, #06a4c1); 
	background-image:     -ms-linear-gradient(#0ab1d1, #06a4c1); 
	background-image:      -o-linear-gradient(#0ab1d1, #06a4c1); 
}	

/* Category */
.category .highlight a:hover {
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
}
.category #categories img {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(88%, #fff), color-stop(100%, #eee));
	background-image: -webkit-linear-gradient(#fff 88%, #eee 100%);
	background-image:    -moz-linear-gradient(#fff 88%, #eee 100%);
	background-image:     -ms-linear-gradient(#fff 88%, #eee 100%);
	background-image:      -o-linear-gradient(#fff 88%, #eee 100%);
}
.category #categories li:hover {
	-moz-box-shadow: 0px 0px 2px 2px rgba(51,51,51,0.4);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(51,51,51,0.4);
}

/* Register form */
#main .register a.button { 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee); 
	background-image:    -moz-linear-gradient(top, #ffffff 0%, #eeeeee); 
	background-image:     -ms-linear-gradient(#ffffff, #eeeeee); 
	background-image:      -o-linear-gradient(#ffffff, #eeeeee); 
}

/* PDP */
.pdp #fulfilment { 
	-moz-box-shadow: 0 0 2px rgba(51,51,51,0.4); 
	-webkit-box-shadow: 0 0 2px rgba(51,51,51,0.4);
}

.pdp a.specialoffer,
.pdp .button_buyOrReserve, 
.pdp .button_chooseProduct,
.oneClickConfirmation .cancel {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e42119), to(#c91811)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#e42119, #c91811); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #e42119 0%, #c91811); /* FF3.6 */
	background-image:     -ms-linear-gradient(#e42119, #c91811); /* IE10 */
	background-image:      -o-linear-gradient(#e42119, #c91811); /* Opera 11.10+ */
}

.pdp #productSupplements .btnbuyreserve,
.pdp #oneClickContainer .oneClickDisabled {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee); 
	background-image:    -moz-linear-gradient(top, #ffffff 0%, #eeeeee); 
	background-image:     -ms-linear-gradient(#ffffff, #eeeeee); 
	background-image:      -o-linear-gradient(#ffffff, #eeeeee); 
}

.pdp a.addtogiftlist {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#824a8c), to(#5d2f65));
	background-image: -webkit-linear-gradient(#824a8c, #5d2f65); 
	background-image:    -moz-linear-gradient(top, #824a8c 0%, #5d2f65); 
	background-image:     -ms-linear-gradient(#824a8c, #5d2f65); 
	background-image:      -o-linear-gradient(#824a8c, #5d2f65); 
}

.pdp #oneClickContainer #oneClickActivate .button {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1bf2d), to(#94b125));
	background-image: -webkit-linear-gradient(#a1bf2d, #94b125); 
	background-image:    -moz-linear-gradient(top, #a1bf2d 0%, #94b125); 
	background-image:     -ms-linear-gradient(#a1bf2d, #94b125); 
	background-image:      -o-linear-gradient(#a1bf2d, #94b125); 
} 

.pdp #pdpColourPicker .carousel .selected {
	-moz-box-shadow: -2px 2px 5px #222;
	-webkit-box-shadow: -2px 2px 5px 222;
}

/* QuickView, Check stock & default Lightbox
 *******************************************/
.AddToTrolleyActivatee,
.AlertActivatee,
.CheckStockActivatee,
.LightboxActivatee
.QvpActivatee {
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
}

.AddToTrolleyActivatee .header,
.AlertActivatee .header,
.CheckStockActivatee .header,
.LightboxActivatee .header,
.MandatoryLoginActivatee .header { 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(#ffffff, #eeeeee); 
	background-image:    -moz-linear-gradient(top, #ffffff 0%, #eeeeee); 
	background-image:     -ms-linear-gradient(#ffffff, #eeeeee); 
	background-image:      -o-linear-gradient(#ffffff, #eeeeee); 
}

/* OneClick Reservation Confirmation 
**************************************/
.oneClickConfirmation #receipt {
	-moz-box-shadow: 0px 2px 10px rgba(204, 204, 204, 0.90);
	-webkit-box-shadow: 0px 2px 10px rgba(204, 204, 204, 0.90);
}