html body #wrapper input[type="text"] {border:1px solid #E0DFE3}
html body #wrapper input[type="password"] {border:1px solid #E0DFE3}


#wrapper{margin:0 auto; width:974px; position:relative;}
#main-container{text-align:left; position:relative;}
#wrapperContentDiv{position:relative; padding:14px 0 0 0;width:950px;}

/*****************
 MODAL TREATMENT
*****************/
.openModal,
.nyroModal{}/*empty class so it shows up in dreamweaver*/

.closeModal {
	display: block;
	position: absolute;
	top: 18px;
	right: 15px;
	line-height:20px;
	background: url(http://www.att.com/images/global/btn_close.gif) 100% 50% no-repeat;
	padding:0 25px 0 0;
	outline: 0;
	z-index:9999;
}

.modalHeader {
	position: relative;
	top:0;
	background:url(http://www.att.com/images/global/bg_modal_top.gif) 0 0 repeat-x;
	/*width:100%;*/
	height:56px;
	-webkit-border-top-left-radius:7px; 
	-webkit-border-top-right-radius:7px; 
	-moz-border-radius-topleft:7px; 
	-moz-border-radius-topright:7px; 
	border-top-left-radius:7px; 
	border-top-right-radius:7px;
	text-align:left;
}
.modalHeader h1 {padding:12px 0 0 25px;}
.modalContent {
	position: relative;
	padding:25px;	
	font:11px Arial;	
	text-align:left;
}

/*#ie .modalContent{width:500px}*/
.modalPrint {position:absolute;top:20px;right:30px;}
.printModalLink {
	background:url(http://www.att.com/images/global/icon_print.gif) 0px 3px no-repeat;
	width:30px;
	height:20px;
	padding-left:20px;
}
.modalButtons {position:relative;top:20px;margin-bottom:15px;}
.bt_right {float:right;}

/* COLORBOX MODAL STYLES */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; opacity:1}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden; left:0; top:0; margin:10px; text-align:left; }
#cboxLoadedContent{overflow:auto; }
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

#cboxOverlay{background:#fff;}
#cboxContent{
	background:#fff;
	position:relative;
	border: 1px solid #e3e3e3;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:0 0 15px #818181;
	-webkit-box-shadow:0 0 15px #818181;
	-moz-box-shadow:0 0 15px #818181;
}
#cboxLoadedContent{
	border:1px solid transparent;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;	
}
#cboxLoadedContent iframe{
	border:1px solid transparent !important;
	border-radius:10px !important;
	-moz-border-radius:10px !important;
	-webkit-border-radius:10px !important;
}
	
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
#cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
#cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
#cboxLoadingOverlay{background:#fff url(http://www.att.com/images/global/ajaxLoader.gif) no-repeat 50% 50%;} 


.bg-top-shadow{
	background: url(http://www.att.com/images/global/ie-top-background.png) bottom left no-repeat;
	height: 11px;
	width: 986px;
	left: -6px;
	top: -8px;
	position:relative;
}

.bg-mid-shadow{
	left:  -6px;
	top: -8px;
	width:986px;
	padding-left: 7px;
	background: url(http://www.att.com/images/global/ie-mid-background.png) 0 0 repeat-y;
	position:relative 
}

.bg-bottom-shadow{
	left:  -6px;
	top:-8px;
	background: url(http://www.att.com/images/global/ie-bottom-background.png) top left no-repeat;
	width: 986px;
	height: 13px;
	position:relative 
}
	
.bg-gr-bottom-shadow{
	left:  -6px;
	top:-8px;
	background: url(http://www.att.com/images/global/ie-gr-bottom-background-nofat.png) top left no-repeat;
	width: 986px;
	height: 13px;
	position:relative 
}


#overlayDiv {z-index:91;}
#header2 input {
	vertical-align:middle;
   /*border:1px solid #ccc;
   background-color:#fff;
   color:#656565*/
}
#ie #header2 input { vertical-align:top }

#container2 legend.accent1 {
   margin:0;
   display:block;
   padding:0 0 8px 0;
   font-size:1.4em;
   color:#FF7200;
   font-weight:bold;
}
#ie #container2 legend.accent1 {
   margin:0 0 4px -8px;
   padding:0;
}

#container2 #searchForm label{ display: none }
#container2 #searchForm input.btnGo { border:none }

#container2 a:link {
   text-decoration:none;
   color:#067AB4
}
#container2 a:active { outline:none }
#container2 a:visited {
   text-decoration:none;
   color:#067AB4
}
#container2 a:hover {
   text-decoration:underline;
   color:#067AB4
}

#container2 strong {
   font-weight:bold;
   margin:0 0 1em 0
}
#container2 a img, #container2 a:link img, #container2 a:visited img { border:0 }
/*#container2 ul { margin: 0 0 1em 0 }*/
a sup { text-decoration:none }
.tertiaryNav li sup {
   font-size:.9em;
   color:#067AB4
}
#ie .tertiaryNav li sup {
   font-size:1.1em;
   color:#067AB4
}


/**************************
HEADER
**************************/
#container2 #header2{height:82px; clear: both; font-size: .95em}
#container2 .logo2{float: left; margin-top: 16px}
#container2 .logo2 img{margin-left: 21px}

/*********************
Header Navigation
*********************/
#header2 .topNav2{padding:0; margin:15px 0 0 0; float:right; text-align:right;}
/*
#header2 .topNav2 li{display:block; float:left; vertical-align:bottom; line-height:1.6em; vertical-align:middle}
#header2 .topNav2 li a{padding:0 10px; border-right:1px solid #ccc}
#header2 .topNav2 li.last a{border:0; padding-right:0px !important;/*margin-right:10px !important*/}
*/
#ie #header2 .topNav2 #searchForm{width:29%; white-space:nowrap}
#header2 .topNav2 #searchForm legend{display:none}
#header2 .topNav2 #search{margin-right:5px; width:130px;}
#header2 div#toolbar{clear:right; text-align:right; padding:25px 0 0 0}			
#header2 span#viewCart{background:url(../global/images/wrapper/ico_shop_cart.gif.html) 0 0 no-repeat; padding:5px 40px 3px 25px}
#header2 span.localization a{border:0; padding:0}

#header2 .topNav2 span, #header2 .topNav2 fieldset{vertical-align: middle;}
#header2 .topNav2 fieldset{display: inline;}
#header2 .topNav2 .utilNav span a {font-size: 1em;}
#header2 .topNav2 .utilNav{margin-bottom:8px;}
#header2 .topNav2 .utilNav span{padding: 0px 10px; border-right:1px solid #CCC; line-height:1.6em;}
#header2 .topNav2 .utilNav span.last{ border-right:none; padding-right:0px !important; }
 
/
/**************************
FOOTER
**************************/
.padding {
	padding:10px 10px 10px 16px;
}
#footer {
    left: -6px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 986px;
}

.prefooter {
margin-left:4px;
background:url(http://www.att.com/global/images/en/img_ATTonWeb_composite.gif) 0 4px no-repeat transparent;
height:29px;
width:977px;
padding-top:7px;
margin-bottom:0px;
padding-bottom:0px;
}
.fauxcontainer {
margin-left:8px;
}

#footer .constrained {
width:830px;padding-left:125px;margin-left:0px;position:static; font-size:1.1em
}

.constrained a, .bottomLinks a:visited, .bottomLinks a:hover {
color:#999;	
}

.bottomLinks{clear:both; margin-bottom:10px; color:#ccc;}
.bottomLinks a, .bottomLinks a:visited, .bottomLinks a:hover{font-size:1em; color:#999; padding:0 5px;}
#attonweb {
background-image:url(http://www.att.com/global/images/en/img_ATTonWeb_composite.gif);
background-repeat:no-repeat;
height:26px; 
font-size:10px;
}

.attOnWeb {
position:relative;
margin-left:108px;
width:124px;
font-size:12px;
font-family:Verdana, Geneva, sans-serif;
font-weight:normal;
color:#666;
padding-top:5px;
}
 #attonweb a {
	font-size:12px;	
	text-decoration:none;
}
.attCom {
width:130px;
position:relative;
margin-left:317px;
margin-top:-19px;
line-height:13px;
}

.attNet {
width:200px;
position:relative;
margin-left:500px;
margin-top:-26px;
line-height:13px;
}
.copyright {
	float:left; 
	clear:both;
	width:550px;
	line-height:1.3em;
	margin:0 3px;
	color:#656565;
	padding-top:10px;
}
.copyright a, .copyright a:visited, .copyright a:hover {
   color:#858585;
}
.yellowpages{margin:10px 50px 10px 0}
#ciclogoEN {
clear:both;
text-align:right;	
padding:10px;
width:950px;
}

#ciclogoEN img {
float:right;
position:relative;
margin-top:-30px;
height:89px;
width:57px;	
}

#ciclogo {
clear:both;
float:right;	
padding:10px;
height:89px;
width:57px;
}

.logoBlock {
	clear:both;
	padding-left:1px;
	padding-top:20px;
	position:relative;
	width:865px;
}   
   .logoBlock img {
	padding-left:36px;
	padding-bottom:14px;
	vertical-align:middle;   
   }

	/*.logoBlock img.lastLogo {
	padding-right:0;
	}*/
	.logoBlock a:first-child img { 
	padding-left:0; 
}
.updated {
color:#B20202;	
}

/***************************** B2C-112181 - Web Accessibility css starts here ***********************************/

/* Apply the following class to an element you want to be hidden from view and also not read by a screen reader. */
/* Hidden from sighted users as well as not read by screen reader users. */
.hidden-silent { 
    display:none;
}

/* Apply the following class to an element you want to be hidden from view but still read by a screen reader. */
/* Hidden from sighted users, read by screen reader users. Special content for benefit of screen reader users alone. */
.hidden-spoken {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

/* Apply the following class to an element you want to stay visible (so a background will show, for instance) but you want to make its text invisible. The text will be read by a screen reader. If the element only contains text (no background or other styles), this style serves the same purpose as .hidden-spoken can be used interchangably. */
/* Element viewed by sighted users, text hidden from sighted users, text read by screen reader users. */
.hidden-text-spoken { 
    text-indent:-999em; /* does the actual hiding by pushing content off left side of page */
    overflow:hidden; /* keeps focus outline from extending off left side of page, clips it to visible area of element */
    display:inline-block; /* text-indent only works on display block or inline-block elements. If inline-block won't work in your particular situation, either change to block or nest another element to hold the hidden text and apply this class to the nested element instead of the parent. */
}

/***************************** B2C-112181 - Web Accessibility css ends here ***********************************/