#globalNav, #footer, .demoModal{display:none}

body { 
width:100% !important;
margin:0 !important;
padding:0 !important;
color: #000; 
background: none;
padding-top:20px !important;
}

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline; color:blue }
/*a:link[href^="http://"]:after, 
a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }*/
a[href^="http://"] {color:blue}

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #e3e3e3;  font-weight: bold; }
td { border-bottom: 1px solid #e3e3e3; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;} 


div{filter:none !important}

#ie .noprint{display:none !important}
#ie .autoPadDiv{position:static !important}

.section-title{border-bottom:1px solid #e3e3e3 !important}
.mod-accordion h4{border-top:1px solid #e3e3e3}
.mod-accordion h4.first{border-bottom:1px solid #e3e3e3}

.box				{background:#fff; border:1px solid #e3e3e3 !important; margin-bottom:14px}
#content			{background:#fff; margin-bottom:60px;}
.top-round		{border-bottom:1px solid #e3e3e3}
.bottom-round	{border-top:1px solid #e3e3e3}

#universal-nav form div input{border:1px solid #e3e3e3}
.dropShadow{background:#fff !important}

.section-title{background-image:none !important; background-color:#f5f5f5 !important}

.tabs li,
.ajaxtabs li{border:1px solid #e3e3e3; border-bottom:none}
.tabs a span,
.ajaxtabs a span{font-weight:normal !important; color:#e3e3e3 !important}
.tabs a.current span,
.ajaxtabs a.current span{font-weight:bold !important; color:#000 !important}
.tab-group{top:-3px; border:1px solid #e3e3e3 !important}