a.roulette, img.roulette, area.roulette{
        cursor: pointer;
	cursor: hand;
}

#roulette_sfc_panel .bd {
   padding: 0;
   overflow: visible;
}

#roulette_sfc_panel .container-close{
        background-image: url('../blocks/overlay_elements/overlay_btn_close.gif');
        background-color: transparent;
        width: 26px;
        height: 24px;
        top: 8px;
        right: 9px;
    }

#roulette_sfc_panel {
    overflow: visible;
}

#roulette_sfc_panel .yui-panel-container .yui-panel .container-close{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 8px;
    width: 8px;
    background: url(http://www.shopjustice.com/images/panel_styles/default/close.jpg) no-repeat;
    overflow: hidden;
    text-indent: -10000em;
    background-color:#7A7A7A;
}