/*****************************************************************************************/
/*************** PLEASE REMOVE THIS AREA WHEN THE BROTHERS OVERLAY EXPIRES ***************/
/*****************************************************************************************/
#brothersOL_sfc_panel {
    background-color:transparent;
    border:none;
}

#brothersOL_sfc_panel .container-close {
cursor:pointer;
margin-right:-15px;
margin-top:-15px;
}
/*****************************************************************************************/
/****************                     MAIN AREA STYLES                    ****************/
/*****************************************************************************************/
body {
    font:7.5pt Verdana,Arial,Helvetica,sans-serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin: 0;
    padding: 0;
    background-color:#ed008c;
    background-image:url(../images/layout/20100914/filler.jpg);
    background-repeat:repeat-y;
    background-position:center;
}
img {
    border: 0;
}
embed, object {
    outline: none;
}
.mask {
 background-color:#333333;
 opacity: 0.8;
 display: block;
}
#order_track_base_mask{
 background-color:#fff;
 opacity: 0.8;
 display: block;
}
.clear {
    height: 0;
    clear: both;
    line-height: 0;
}

#main_content {
    background-color:#ffffff;
    margin: 0 auto;
    width: 971px;
    overflow: hidden;
}

#main_content_home {
    background-color:#ffffff;
    margin: 0 auto;
    width: 971px;
    overflow: hidden;
}


/*****************************************************************************************/
/****************                    FOOTER AREA STYLES                   ****************/
/*****************************************************************************************/
#footer {
    margin: 15px auto 35px;
    width: 941px;
    background-color:#ffffff;
    font-family: "Trebuchet MS",Trebuchet,Arial, sans-serif;
    font-size: 12px;
    color: #393939;
    line-height:15px;
    border-style: solid;
    border-top: 1px solid #CCCCCC;
    padding-top: 0px;
    border-width: 1px 0px 0px;    
}

#footer a {
    color: #393939;
    font-size: 12px;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.footer_divider {
    width: 936px;
    color: #CCCCCC;
    background-color: #CCCCCC;
    height: 1px;
    border: 0;
    margin-top: 0;
    margin-bottom: 20px;
    *margin-bottom: 14px;
}

#footer_col_1 {
    float:left;
    margin-left: 0px;
    padding-top: 20px;
}

#footer_col_2 {
    float:left;
    margin-left: 105px;
    padding-top: 20px;
}

#footer_col_3 {
    float:left;
    margin-left: 76px;
    padding-top: 20px;
}

#footer_col_4 {
    float:left;
    margin-left: 63px;
    padding-top: 20px;
}
#footer_col_5 {
    float:right;
    margin-right: 0px;
    padding-top: 20px;
}

.first_to_know {
    font-family: Trebuchet MS;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    color: #393939;
}

.footer_sign_up {
    color: #448ccb;
}

.searchbtn {
    padding-top: 5px;
}

#footer_flash_ads {
    padding-top:10px;
    padding-bottom: 17px;
}

#footer_links, #footer_subscribe {
    float: left;
}

#footer_links {
    width: 960px;
    text-align: center;
}

#footer_bottom {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

#copyright {
    font-family: "Trebuchet MS",Trebuchet,Arial, sans-serif;
    font-size: 12px;
    color: #3a3a3a;
    height: 12px;
    line-height: 9px;
    *line-height: 10px;
}

#footer_subscribe {
    width: 333px;
}


#newsltr_wrapper {
    background: url(../images/footer/email_signup.jpg);
    width: 280px;
    height: 38px;
    margin-left: 53px;
    position: relative;
}

#newsltr_email {
    border:medium none;
    bottom:1px;
    height:16px;
    left:35px;
    width:154px;
    position: absolute;
    color: #92278f;
    font: 10px Arial;
}

#signupbtn {
    left: 189px;
    bottom: 0px;
    position: absolute;
}

/*****************************************************************************************/
/****************                   HOMEPAGE AREA STYLES                  ****************/
/*****************************************************************************************/
#F1 {
    width:590px;
    height:670px;
    float:left;
}

#HEADER{
    width:950px;
    float:left;
    padding-bottom: 10px;
}

#FOOTER {
    padding-top: 10px;
}
#MIDDLELEFT {
    width:590px;
    height:670px;
    float:left;
}

#GIFTWRAP{
    padding-top: 10px;
}

#SUBMIDDLERIGHT {
    float:right;
    width:355px;
    height:163px;
}

#MIDDLERIGHT {
    float:right;
    width:355px;
    height:505px;
}
#SUBMIDDLELEFT {
    float:right;
    width:486px;
    height:200px;
}

#ALLHP {
    width:950px;
    height:750px;
    padding-bottom:5px;
    padding-right:5px;
    float:left;
}

#H1 {
    width:950px;
    height:128px;
    padding-bottom:5px;
    padding-right:5px;
    float:left;
}


#PREFOOTER {
    width:950px;
    height:145px;
    padding-top:15px;
    padding-right:10px;
    padding-left:10px;
    float:left;
}

#SF1 .go_left {
    width:25px;
    height:51px;
    position:absolute;
    left:10px;
    top:205px;
    z-index:999999;
    background:url(blank.gif) repeat;
}

#SF1 .go_right {
    width:25px;
    height:51px;
    position:absolute;
    right:0;
    top:205px;
    z-index:999999;
    background:url(blank.gif) repeat;
}

#SF1 ol {
    list-style:none;
    position:relative;
    text-align:left;
    width:500000px;
    height:502px;
    padding:0;
    margin:0;
    left:0 !important;
}
#SF1 li {position:absolute;left:0 !important; top:0 !important;z-index:5;_filter:alpha(opacity=0);!filter: alpha(opacity=0);}
#SF1 .yui-carousel-item-selected {z-index:10;}

#SF1 ul { display:none;}

#head_h1 {
    margin: 0;
    padding: 0;
}

#SF1R {
    width:590px !important;
    height:670px;
    padding-bottom:5px;
    position:relative;
    float:left;
    overflow:hidden;
}
#SF1R .go_left {
    width:25px;
    height:51px;
    position:absolute;
    left:0px;
    top:308px;
    z-index:999999;
    background:url(blank.gif) repeat;
}
#SF1R .go_right {
    width:25px;
    height:51px;
    position:absolute;
    right:0;
    top:308px;
    z-index:999999;
    background:url(blank.gif) repeat;
}
#SF1R ol {
    list-style:none;
    position:relative;
    text-align:left;
    width:500000px;
    height:502px;
    padding:0;
    margin:0;
    left:0 !important;
}
#SF1R li {position:absolute;left:0 !important; top:0 !important;z-index:5;_filter:alpha(opacity=0);!filter: alpha(opacity=0);}
#SF1R .yui-carousel-item-selected {z-index:10;}

#SF1R ul { display:none;}

#F1R {
    width:355PX;
    height:502px;
    float:left;
}

#CarMiddle ol {
	height:475px;
	left:0 !important;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	text-align:left;
	width:971px;
}

#CarMiddle li {
	left:0 !important;
	position:absolute;
	top:0 !important;
	z-index:5;
}

#CarMiddle .yui-carousel-item-selected {
    z-index:10;
}

#CarMiddle ul {
    display:none;
}

#CarMiddle {
	float:right;
	height:475px;
	overflow:hidden;
	position:relative;
	width:971px !important;
	z-index:2;
	visibility:hidden;
}
#CarNav {
        width: 971px;
        float:right;
	height:115px;
	overflow:hidden;
	position:relative;
	width:971px;
}

#CarRight .go_right {
	width:84px;
        height:42px;
        position:absolute;
        left:270px;
        top:459px;
        z-index:999999;
        background:url(blank.gif) repeat;
}

#CarRight .go_right1 {
	width:84px;
        height:42px;
        position:absolute;
        left:183px;
        top:459px;
        z-index:999999;
        background:url(blank.gif) repeat;
}

#CarRight .go_left {
	width:84px;
        height:42px;
        position:absolute;
        left:9px;
        top:459px;
        z-index:999999;
        background:url(blank.gif) repeat;
}
#CarRight .go_left1 {
	width:84px;
        height:42px;
        position:absolute;
        left:96px;
        top:459px;
        z-index:999999;
        background:url(blank.gif) repeat;
}

#CarRight ol {
	height:502px;
	left:0 !important;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	text-align:left;
	width:355px;
}

#CarRight li {
	left:0 !important;
	position:absolute;
	top:0 !important;
	z-index:5;
}

#CarRight .yui-carousel-item-selected {
    z-index:10;
}

#CarRight ul {
    display:none;
}

#CarRight {
	float:right;
	height:502px;
	overflow:hidden;
	padding-bottom:5px;
	position:relative;
	width:355px !important;
	z-index:2;
	visibility:hidden;
}

/*****************************************************************************************/
/****************                  LEFT NAVIGATION STYLES                 ****************/
/*****************************************************************************************/
#left-menu {
    /*float: left;*/
    border-right: 1px solid #CCCCCC;
    font-family: Arial;
    /*bottom:0px;*/
    min-height:400px;
    padding-top:5px;
    padding-right:5px;
    font-size:13px;
    vertical-align: top;
    height: 100%;
    max-width:170px;
}

#left-menu_ul {
    min-width:140px;
}

#link_to_home{
    margin-left:10px; margin-top:5px;
}

#left-menu_ul {
    padding-left:20px;
    width:145px;
}

#left-menu-holder{
    border-right:1px solid #92278f;
    min-height:400px;
/*  background-color:#333333;*/
}

#left-menu-holder .subcategory {
    font-weight: normal;
    text-transform: lowercase;
}

#fullheight {
    height:100%;
}

#leftmenu_minheight {
    min-height:400px;
    background:none;
    !background:none;
    /*  if this line worked, image will at least appear in IE6 in a fixed position*/
    _background:url(http://www.shopjustice.com/images/catalog/image005_ie6.jpg);
}

#left-menu-footimage{
    position:absolute;
    top:365px;
}

#left-menu-footimage_subcat{
    position:relative;
    left:1px;

    height:0px;
    _height:0px;
    bottom:151px;   /* FF */
    !bottom:151px;  /* IE7 */
    _bottom:0px;    /* IE6 */
}

#left-menu h1, #left-menu h2 {margin:0;padding:0;font-weight:normal;}

#left-menu a, #left-menu-holder a {
    text-decoration:none;
    font-size:13px;
    color: #92278f;
}

#left-menu-holder a:hover {
    text-decoration:underline;
}

#left-menu ul, #left-menu-holder ul, #left-menu .menu_cat {
    padding: 4px;
    margin:0px;
    list-style: none;
    font-size:13px;
    color:#92278f;
}

#left-menu ul a, #left-menu-holder ul a {
    text-decoration: none;
    padding: 3px 3px 3px 15px;
    display: block;
    font-size:13px;
    color: #92278f;
}

#left-menu ul a:hover,
#left-menu ul h1:hover,
#left-menu ul h2:hover{
    color:#f87705 !important;
}

#left-menu .subcategory_visited,
#left-menu .subcategory_visited h1,
#left-menu .subcategory_visited h2{
    color:#636363;
    text-decoration: none;
    font-weight:bold;
    font-size:12px;
    text-align: left;
    font-family:Arial,Helvetica,sans-serif !important;
    line-height:13px;
}

#left-menu .subcategory_visited h1,
#left-menu .subcategory_visited h2{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#left-menu .subcategory, #left-menu .subcategory_link {
    color: #636363;
    text-decoration: none;
    text-align: left;
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif !important;
    line-height:13px;
}

#left-menu .category_header {
    border-bottom-color:#B3B1B2;
    border-bottom-style:solid;
    border-bottom-width:1px;
    color:#990099;
    display:block;
    font-size:13px;
    font-weight:bold;
    text-align:left;
}

#left-menu .subcategory_header {
    color: #990099;
    text-decoration: none;
    padding: 3px 3px 5px 15px;
    text-align: left;
    font-size:13px;
    font-weight:bold;
}

#left-menu .year-end_sale {
    color: #CC0033;
    text-decoration: none;
    padding: 3px 3px 5px 15px;
    text-align: left;
    font-size:13px;
    font-weight:bold;
}

#left-menu .sale {
    padding-left: 5px;
}

#left-menu .cat_selected {
    font-weight:bold;
}

.sale-clearance {
    font-weight: bold;
    font-size: 14px;
    color: #ec008a;
}

#left-menu .category_sale-clearance {
    font-size: 13px;
    color: #92278f;
    text-decoration: none;
   /* padding: 3px 3px 3px 15px;*/
    text-align: left;
}

#left-menu .category_sale-clearance_visited {
    color:#f7941d;
    font-size: 13px;
    text-decoration: none;
    font-weight:bold;
    /*padding: 3px 3px 3px 15px;*/
    text-align: left;
}

#left-menu .subcategory_sale-clearance {
    color: #92278f;
    text-decoration: none;
    text-align: left;
    font-size: 13px;
    /*padding: 0px 2px 4px 25px;*/
}

#left-menu .subcategory_sale-clearance_visited {
    color: #f87705;
    text-decoration: none;
    /*padding: 0px 2px 4px 25px;*/
    text-align: left;
    font-size: 13px;
}

#left-menu .third {
    color: #636363;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    padding-left:15px;
    font-family:Arial,Helvetica,sans-serif !important;
    line-height:14px;
}

#left-menu .third_link {
    color: #636363;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    padding-left:25px;
    font-family:Arial,Helvetica,sans-serif !important;
    line-height:14px;
}

#left-menu .third_visited,
#left-menu .third_visited h1{
    color: #636363;
    text-decoration: none;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif !important;
    line-height:14px;
}

#left-menu .third_visited h1{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#left-menu .fourth {
    color: #636363;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

#left-menu .fourth_link {
    color: #636363;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    font-family: Arial,Helvetica,sans-serif;
}

#left-menu .fourth_visited {
    color: #636363;
    text-decoration: none;
    font-weight:bold;
    padding-left:5px;
    text-align: left;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

#left-menu .fifth {
    color: #92278f;
    text-decoration: none;
    text-align: left;
    font-size: 11px;
    padding: 0px 2px 4px 30px;
}

#left-menu .fifth_visited {
    color: #f87705;
    text-decoration: none;
    padding: 0px 2px 4px 30px;
    text-align: left;
    font-size: 11px;
}

#left-menu .arrow {
    background: url(../images/layout/arrow.gif) no-repeat center left;
}

#left-menu .subcategory_sale {
    color: #EC008C;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
    text-align: left;
}

.dept-content2 {
    float: right;
    width: 830px;
    height: 400;
}

.dept-content_landing {
    float: right;
    width: 831px;
    height: 400;
}

.dept-content_search {
    float: right;
    width: 839px;
    height: 400;
    padding-left:3px;
}

.dept-content_sale {
    float: right;
    width: 831px;
    height: 400;
    padding-left:3px;
}

/*****************************************************************************************/
/****************          Sort by and paging NAVIGATION STYLES           ****************/
/*****************************************************************************************/
#middlebarmenu_zone {
    width: 760px;
    color: #555555;
    font: 13px "Bookman Old Style regular";
    font-weight:bold;
    margin-left:20px;
    font-family:Arial,Helvetica,Verdana,sans-serif;
}

.middlebarmenu_zone_bottom {
    margin-left: 20px;
    width: 760px;
    height: 18px;
    color: #555555;
    font-size: 13px;
    font-family:Arial,Helvetica,Verdana,sans-serif;
    font-weight:bold;
}

.bottom_sortlinks {
    float: left;
    margin-top: 4px;
    color: #55555;
    line-height: 18px;
}

#middlesortlinks{
    color:#555555;
    margin:12px 0;
    line-height:20px;
    float: left;
    display: inline;
    height:30px;
}

#middlesortlinks span.sort-anchor {
    color: #fff;
    /*background: #EF008B;*/
}

.middlebar-italic {
    font-style: italic;
}

#middlebarmenu_zone a,
#middlebarmenu_zone a:visited,
div.middlebarmenu_zone_bottom a,
div.middlebarmenu_zone_bottom a:visited {
    color: #92278f;
    text-decoration: none;
}

#middlebarmenu_zone a:hover {
    text-decoration: underline;
}

.selectsizedropdown{
    float: left;
    margin:10px 22px;
    line-height: 22px;
    z-index:0;
    elevation:lower;
}

.selectsizedropdown_bottom{
    float: left;
    margin-left:22px;
    margin-top: 4px;
    line-height: 22px;
    z-index:0;
    elevation:lower;
}

#space_swatches_empty {
    height: 37px;
}

.paginator {
    float:right;
    margin:5px;
}

#paginator {
    float:right;
    margin:9px 8px 9px 0;
    line-height:18px;
    font-weight: bold;
    color: #fff;
}

#paginator td {
    padding-left: 2px;
    padding-right: 2px;
}


#paginator_bottom {
    float:right;
    font-weight: bold;
    color: #55555;
    line-height: 18px;
    margin-top: 4px;
    margin-right: 8px;
}

#paginator_bottom td {
    padding-left: 2px;
    padding-right: 2px;
}

#paginator span.page-selected, #paginator_bottom span.page-selected {
    /*background-color:#EF008B;*/
    color: #F7941D;
}

#paginator span.page, #paginator_bottom span.page {
    color:#555555;
    margin-left: 2px;
    margin-right: 2px;
}

.style_count {
    height: 30px;
    font-size: 11px;
    text-align: center;
    color: #EF008B;
    line-height: 30px;
}


/** Search Style **/
.sale_clearance_img {
    width: 760px;
    height: 192px;
    margin-left: 20px;
}

#search-title {
    background: #92278F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px;
    width: 748px;
    margin-left: 20px;
}
.search-labelitem{
    color:#EC008C;
    font-weight:bold;
    padding-bottom: 4px;
    padding-top: 0px;
}

#search-title a, #search-title a:visited {
    color: #F7941D;
    text-decoration: none;
}
#search-title a:hover {
    text-decoration: underline;
}
.blue-title {
    color: #00AEEF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 0 0 0;
}
.plus-more {
    float: right;
    margin-top: 70px;
}

.plus-more a, .plus-more a:visited {
    color: #F7941D;
    text-decoration: none;
}
.plus-more a:hover {
    text-decoration: underline;
}


/*  Style for the title horizontal line in contents */

#title_hr{
    height:27px;
    width:740px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-align:left;
    vertical-align:middle;
    background:url(../images/layout/title_hr_png.png);
    background-repeat:repeat-x;
    position:relative;
    top:0px;
    left:0px;
}

#title_hr_txt{
    padding-top:3px;
    padding-left:10px;
    font-size:17px;
}

#title_hr_100{
    height:27px;
    width:932px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-align:left;
    vertical-align:middle;
    background:url(../images/layout/title_hr_png.png);
    background-repeat:repeat-x;
    position:relative;
    top:0px;
    left:0px;
}

.panel_navigation a {
    outline:none;
}

.hidden {
    display: none;
}