/* Shared styles - Privacy Policy & Privacy Questions */
html, body { background:#f2f2f2; }
.privacy #main { margin:0 auto; min-width:982px; }
.privacy #main #content { margin:0 auto; width:880px; padding:50px; }
.privacy #main #content h1 { margin-bottom:0; }

/* Privacy Policy*/
#policy .column.first .intro { margin-bottom:30px; }
#policy .column.first ul.square { margin-left:1.4em; }
.truste,
.privacy-questions { width:230px; background:#fbfbfb; padding:20px; float:right; position:relative; margin-bottom:32px; }
.truste img { padding-bottom:5px; }
.truste p,
.privacy-questions p { margin-bottom:0; }
.privacy-questions h2 { margin-bottom:10px; }
#policy .column.first .sosumi { font-size:11px !important; }

/* Privacy Questions */
.privacy #main #content #questions { width:665px; }
.privacy #main #content #questions p.intro { font-size:16px; line-height:24px; color:#666; margin-bottom:33px; }
.privacy #main #content #form-questions label { font-size:13px; line-height:26px; color:#333; }
.privacy #main #content #form-questions #select-question { float:left; position:relative; }
.privacy #main #content #form-questions #select-question ul li label { float:left; position:relative; display:block; padding-right:20px; }
.privacy #main #content #form-questions #select-question ul li.dropdown span { right:27px; top:2px; }
.privacy #main #content #form-questions #select-question ul li.dropdown i { display:none; }
.privacy #main #content #form-questions ul.inputs { position:relative; float:left; }
.privacy #main #content #form-questions ul.inputs li { float:left; position:relative; }
.privacy #main #content #form-questions ul.inputs li.dropdown select { position:relative; width:302px; height:26px; cursor:pointer; padding:4px 27px 2px 6px; margin:0; background:url(../contact/images/customselect.gif) no-repeat top left !important; font-size:12px; border:none; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; -khtml-appearance:none; }
.privacy #main #content #form-questions ul.inputs li.dropdown span { position:absolute; z-index:10; bottom:22px; right:27px; width:17px; height:22px; background:url(../contact/images/customselect_bg.gif) repeat-x top left; *display:none; _display:none; }
.privacy #main #content #form-questions ul.inputs li.dropdown select:hover { background:url(../contact/images/customselect_hover.gif) no-repeat top left !important; }
.privacy #main #content #form-questions div.content { margin:20px 0 0 1px; padding:25px; width:610px; background:#FAFAFA; float:left; position:relative; }

.privacy #main #content #form-questions div.content#apple-id, 
.privacy #main #content #form-questions div.content#itunes, 
.privacy #main #content #form-questions div.content#mobileme, 
.privacy #main #content #form-questions div.content#lost-stolen, 
.privacy #main #content #form-questions div.content#privacy-issues, 
.privacy #main #content #form-questions div.content#unsubscribe, 
.privacy #main #content #form-questions div.content#other {
background: #fafafa; /* old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 75%, #fafafa 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(75%,#f6f6f6), color-stop(100%,#fafafa)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* ie */
}

.privacy #main #content #form-questions div p { font-size:12px; line-height:22px; color:#333; margin:0; }
.privacy #main #content #form-questions #privacy-issues ul { position:relative; float:left; width:100%; }
.privacy #main #content #form-questions #privacy-issues ul li { position:relative; float:left; width:612px; padding-bottom:10px; }
.privacy #main #content #form-questions #privacy-issues ul li.dropdown span { right:238px; top:2px; }
.privacy #main #content #form-questions #privacy-issues ul li label { float:left; position:relative; display:block; width:98px; }
.privacy #main #content #form-questions #privacy-issues ul li select { width: 445px;  background:url(../contact/images/customselect_long.gif) no-repeat top left !important; }
.privacy #main #content #form-questions #privacy-issues ul li select:hover { background:url(../contact/images/customselect_long_hover.gif) no-repeat top left !important; }
.privacy #main #content #form-questions #privacy-issues ul li.dropdown span { right:95px; }
.privacy #main #content #form-questions #privacy-issues ul li span.formwrap { border:4px solid #f0f0f0; display:block; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px;  float:left; position:relative; width:438px; display:block; }
.privacy #main #content #form-questions #privacy-issues ul li span.formwrap input,
.privacy #main #content #form-questions #privacy-issues ul li span.formwrap textarea { border:1px solid #c0c0c0; }
.privacy #main #content #form-questions #privacy-issues ul li input,
.privacy #main #content #form-questions #privacy-issues ul li textarea { width:436px; margin:0; padding:0; font-size:1.3em; float:left; position:relative; font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; }
.privacy #main #content #form-questions #privacy-issues ul li input { height:23px; }
.privacy #main #content #form-questions #privacy-issues ul li textarea { height:170px; }
.privacy #main #content #form-questions #privacy-issues ul li i { position:absolute; right:0; top:0.6em; width:56px; height:13px; background:#bbb url(../contact/images/required_label.png) no-repeat 0 0; text-indent:-9999px; z-index:1; behavior:url(../../global/scripts/lib/ie7pngfix.htc); overflow:hidden; }
.privacy #main #content #form-questions #privacy-issues ul li i.failed { background-color:#ed7d7a; z-index:2; }
.privacy #main #content #form-questions #privacy-issues ul li span.formwrap i { right:-72px; }
.privacy #main #content #form-questions #privacy-issues input.submit { width:128px; height:35px; float:right; position:relative; margin-right:65px; }
#show-content { width:700px; float:left; position:relative; height:0; overflow:hidden; visibility:hidden; }
#apple-id, #itunes, #mobileme, #lost-stolen, #privacy-issues, #unsubscribe, #other { width:680px; height:0; overflow:hidden; position:relative; visibility:hidden; }

/* Privacy Question - Validation */
#content #form-advice { position:relative; clear:both; overflow:hidden; width:662px; }
#content #form-advice .wrapper { display:block; margin:20px 0 40px; padding:15px 25px 1px; border:1px solid #eaeaea; border-color:#f8f8f8 #eaeaea #d4d4d4; background-color:#fafafa; color:red; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; }
#content #form-advice h3 { margin:0 0 5px; font-size:12px; color:red; font-weight:bold; } /* padding needs to be on child elements of #validation advice to avoid jerky motion in scriptaculous effects */
#content #form-advice ul { margin-left:25px; margin-bottom:18px; }

#content #validation-advice { position:relative; overflow:hidden; display:block; margin:20px 40px 20px 0; padding:15px 25px 1px; border:1px solid #eaeaea; border-color:#f8f8f8 #eaeaea #d4d4d4; background-color:#fafafa; color:red; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; }
#content #validation-advice h3 { margin:0 0 5px; font-size:12px; color:red; font-weight:bold; } /* padding needs to be on child elements of #validation advice to avoid jerky motion in scriptaculous effects */
#content #validation-advice ul { margin-left:25px; margin-bottom:18px; }

#content form input.submit { float:right; width:168px; height:36px; }
#content form p.sosumi.policy { float:left; width:350px; padding:0; color:#7a7a7a; font-weight:normal; font-size:12px !important; }

/*Use of Cookies */
#cookies #main { margin:0 auto; min-width:982px; }
#cookies #main #content { margin:0 auto; width:880px; padding:50px; }
#cookies #main #content h1 { margin-bottom:0; }
#cookies #main #content h1 { margin-bottom:18px; }