#availability-div-wrapper {margin-left:150px;}
#availability-div-main {width:629px;border:1px solid #ccc;vertical-align:middle;}
#availability-underline {border-top:1px solid #ccc;}
#check-availability-form-section {border:1px solid #ccc;border-top:0;width:100% auto;vertical-align:top;min-height:350px;margin:0 auto;padding:0;}
#stateList tr td {margin-right:30px;padding-right:30px;}
#check-availability-form-section tr td {vertical-align:top;margin:0 0 0 16px;}
#availability-form-section {font-size:10px;vertical-align:top;line-height:25px;margin-left:16px;}
#phoneNumberBlock {height:55px;}
#accountIdBlock {font-size:10px;background-color:#F1F9FB;width:500px;line-height:15px;vertical-align:top;}
#serviceAddressTable tr td {font-size:10px;padding:3px;}
#address-not-found-form {line-height:25px;height:25px;margin-top:30px;margin-bottom:40px;width:500px;}
#availability-address-form-header {font-size:10px;margin-top:10px;width:550px;line-height:20px;}
#availability-address-form {line-height:25px;margin-left:25px;}
#radio-button {padding-left:100px;}
#availability-field-name-section {float:left;width:100px;text-align:right;line-height:30px;}
#availability-phone-input-box-section {margin-left:220px;}
#availability-field-sample-section {float:left;width:99px;margin-left:25px;line-height:30px;}
#availibility-header-section {padding:10px;}
#notify-me-address-state {font-size:10px;line-height:normal;}
#notify-me-address-state td {vertical-align:top;padding-right:2px;}
#input-text-field {margin-left:100px;}
#availability-error-message {background-color:#fff1e0;border:#ff7200 solid 1px;color:#ff7200;width:629px;}
#multiaddress-error-message {background-color:#fff1e0;border:#ff7200 solid 1px;color:#ff7200;font-size:10px;width:460px;}
#checkout-error-message {background-color:#fff1e0;border:#ff7200 solid 1px;color:#ff7200;width:600px;padding:5px;}
#availability-service-already-exists {background-color:#e9fbe1;border:#55ca10 solid 1px;color:#063;height:24px;vertical-align:middle !important;width:622px;padding:3px;}
#no-match-found {height:24px;vertical-align:middle !important;color:#FF7200;margin:10px;}
.babyBlue {background-color:#F1F9FB;}
#phoneNumberHighlight tr td {width:500px;padding:10px;}
#check-availability-buttons {border-top:0;margin-left:500px;padding:10px;}
#availability-buttons {border-top:1px solid #ccc;padding-left:520px;padding-top:10px;padding-bottom:10px;}
#multi-address-list-div {border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#multi-address-list {background-color:#f2f9fb;border-top:1px solid #ccc;}
#publish-list {background-color:#eff7fa;width:629px;}
#multi-address-list tr td {line-height:25px;border-bottom:1px solid #ccc;vertical-align:middle;text-transform:uppercase;}
#checkout-range-address {background-color:#eff7fa;font-weight:700;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
#check-availability-success {height:100px;padding:20px;}
#service-not-available {padding-left:20px;padding-top:0;}
#notifyMe {background-color:#F2F9FB;width:590px;height:30px;line-height:30px;margin-top:10px;padding-left:10px;}
#servicesTable tr td {width:150px;padding-bottom:25px;}
#serviceNotAvailablePage {height:50px;line-height:50px;}
#availability-tabs {border:1px solid #ccc;width:628px;height:32px;}
ul.tabs {list-style:none;padding-left:1.5em;}
ul.tabs li {position:relative;float:left;z-index:40;display:inline;}
ul.tabs a,ul.tabs a:link,ul.tabs a:visited {display:block;background:#FFF;background-repeat:repeat-x;background-position:bottom;margin-left:5px;olor:#0A94D6;border:1px solid #ccc;height:21px;line-height:21px;margin-top:10px;margin-bottom:-1px;padding-left:5px;padding-right:5px;width:185px;text-align:center;overflow:hidden;position:relative;text-transform:uppercase;}
ul.tabs a.active,ul.tabs a:link.active,ul.tabs a:visited.active {
background:#FFF;background-repeat:repeat-x;background-position:top;color:#f27d00;border:1px solid #ccc;border-bottom:1px solid #fff;}
div.tabs div.tabs div.tabs {position:absolute;left:0;top:26px;height:auto;width:100%;color:#666;border:1px solid #ccc;margin:auto;padding:14px;}
#tabFlashFull {position:absolute;left:-240px;top:26px;height:auto;width:680px;color:#666;border:1px solid #ccc;padding:14px;}
#tabFlash360 {margin-top:1px;}
.hr {border-top:1px solid #ccc;margin:1em 0;}
#existingCustomerSubmit {cursor:hand;}
.tilesWrapper {width:150px;float:left;margin:0 0 42px 15px;}
.tileWrapper {width:148px;border:1px solid #ccc;margin:0 0 15px;}
.tileLinkWrapper {margin-left:10px;}
.tileLink {background:url("../../media/att/2011/global/btn/img_blue_arrow_9x13_AA000OM4.gif") no-repeat right bottom;padding-right:13px;font-family:Arial;font-size:12px;}
.tip-white {margin-top:10px;opacity:1px;z-index:1000;text-align:left;border:none;min-width:50px;max-width:350px;color:#666;background-color:#fff;background-image:url(../../images/global/tooltip/tip-white/tip-white.png);padding:3px;}
.tip-white .tip-inner {font:13px/18px arial,sans-serif;margin-top:-1px;padding:8px;}
.tip-inner {background:url(../../images/global/tooltip/tip-white/backgroundwhite.gif) repeat-x scroll 100% 100% transparent;}
.tip-white .tip-arrow-top {margin-top:-5px;margin-left:15px;top:0;left:44%;width:16px;min-height:10px;background:url(../../images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat;}
.tip-white .tip-arrow-right {margin-top:-9px;margin-left:-4px;top:50%;left:100%;width:10px;min-height:20px;background:url(../../images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat -16px 0;}
.tip-white .tip-arrow-bottom {margin-top:-6px;margin-left:15px;top:100%;left:44%;width:16px;min-height:13px;background:url(../../images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat -32px 0;}
.tip-white .tip-arrow-left {margin-top:-9px;margin-left:-6px;top:50%;left:0;width:10px;min-height:20px;background:url(../../images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat -48px 0;}
.tips {left:-9999px;position:absolute;top:-9999px;}
#phoneNumberBlock tr td,#addressBlock {font-size:10px;background-color:#F1F9FB;width:500px;line-height:15px;vertical-align:top;padding:10px;}
table colgroup#SUCCESS1,table colgroup#SUCCESS2,table colgroup#SUCCESS3 {width:200px;}
ul.tabs a:hover,ul.tabs a:hover,.required {color:#f27d00;}
.zipLlzdChkAblt{font-size:10px; margin:10px; width:525px}
.serviceAddWidth130{text-align:left;width:130px;}
.serviceAddWidth100{text-align:left;width:100px;}
.serviceAddWidth300{text-align:left;width:300px;}
.pl10{padding-left:10px;}
.addressEntryTipsChkAblt{position:absolute;display:none;z-index:100;width:250px;}
.adrEntTipsTextChkAblt{width:228px;font-size:11px;font-weight:normal;position:relative;padding:5px;background:#FFFFFE;border-right:1px solid #666666;border-left:1px solid #666666;}
.serviceAdd{text-align:left;padding-top:5px;}
.serviceAdd1{text-align:left;padding-top:5px;padding-bottom:15px !important;}
.img_chk_wireless, .img_chk_dsl, .img_ico_tv, .img_chk_phone, .img_chk_bundle{background:url('../../media/att/2012/shop/u-verse/sprite-uverse-service.gif') no-repeat;}
.img_chk_wireless{background-position:-283px 0px;width:29px;height:50px;display:block;margin-left:30px;}
.img_chk_dsl{background-position:-214px 0px;width:62px;height:46px;display:block;margin-left:10px;}
.img_ico_tv{background-position:0px 0px;width:80px;height:50px;display:block;}
.img_chk_phone{background-position:-162px 0px;width:42px;height:50px;display:block;}
.img_chk_bundle{background-position:-90px 10px;width:62px;height:63px;display:block;}
.img_uverse_home{background:url(../../media/en_US/images/btn/btn_UverseHome_AA0009Q3.gif) no-repeat;width:113px; height:18px;}
.btn_try_again{background:url(../../media/en_US/images/btn/btn_tryAgain_AA0009Q5.gif) no-repeat;width:15px; height:15px;float:left;}