#modal-tabs {width:100%;margin:0 0 0 10px;padding:0;}
#modal-browser,div.modal-browser {border:1px solid #fff;width:100%;margin-left:5px;height:400px;padding:10px;}
#modal-browserTabbed,div.modal-browserTabbed {border:1px solid #ccc;width:660px;margin-left:15px;padding-left:10px;}
.modal-iptv-categories {width:145px;height:37px;font-size:10px;line-height:15px;font-weight:700;padding-top:9px;padding-right:9px;text-align:right;border:#CCC solid 1px;border-left-width:0;border-top-width:0;}
.modal-iptv-entries {width:78px;height:37px;font-size:11px;line-height:15px;padding-top:9px;text-align:center;border:#CCC solid 1px;border-left-width:0;border-top-width:0;}
.modal-voip-categories {width:145px;height:75px;font-size:10px;line-height:15px;font-weight:700;padding-top:9px;padding-right:9px;text-align:right;border:#CCC solid 1px;border-left-width:0;border-top-width:0;}
.modal-voip-entries {width:145px;height:75px;font-size:11px;line-height:15px;padding-top:9px;text-align:center;border:#CCC solid 1px;border-left-width:0;border-top-width:0;}
.modal-header-title {font-weight:700;font-size:16px;line-height:16px;color:#F27D00;}
.modal-header-subtitle {font-weight:700;font-size:11px;padding-left:10px;color:#666;}
#browser-header {margin-left:15px;width:675px;border-bottom:1px solid #ccc;font-weight:700;font-size:16px;line-height:43px;height:43px;}
#browser-full-header {margin-left:15px;width:900px;border-bottom:1px solid #ccc;font-weight:700;font-size:16px;line-height:43px;height:43px;}
#modal-breadcrumb {height:35px;width:827px;margin-left:5px;}
ul.tabs {list-style:none;padding-left:0;}
ul.tabs li {position:relative;float:left;z-index:40;display:inline;}
ul.tabs a {width:130px;text-align:center;cursor:pointer;margin-bottom:-1px;}
ul.tabs a.inactive {background:url(../../media/en_US/images/img/img_tabInactive_bg_AA000CO6.gif) !important;color:#0A94D6;border-bottom:1px solid #CCC;}
ul.tabs a.active {background:url(../../media/en_US/images/img/img_tabActive_bg_AA000CO7.gif) !important;color:#F27D00;border-bottom:1px solid #FFF;}
ul.tabs a:hover {text-decoration:underline;}
.startingPrice {font-size:large;color:#F27D00;float:left;padding:9px 0 9px 3px;}
.startingText {float:left;padding:9px 2px 9px 9px;}
#IPTV_Name {font-size:large;float:left;width:110px;padding:9px 5px 9px 3px;}
#VOIP_Name,#HSIA_Name {font-size:large;float:left;width:150px;padding:9px 5px 9px 3px;}
#totalChannels {float:left;padding-top:9px;padding-right:1px;padding-left:5px;}
#IPTVDropDownMenu,#HSIADropDownMenu,#VOIPDropDownMenu {position:absolute;width:527px;border:#CCC solid 1px;border-top:0;margin-top:-4px;background-color:#FFF;padding:0;}
#HSIA_Price,#VOIP_Price {font-size:large;float:left;padding:9px 0 9px 205px;}
.modal.breadcrumb.container {width:99%;height:35px;margin-left:5px;border-collapse:collapse;}
.modal.breadcrumb.active {cursor:hand;color:#FFF;font-size:11px !important;font-weight:700;background:url(../../media/en_US/images/img/img_steps_bg_org_1x35_AA000E1L.gif) repeat-x;}
.modal.breadcrumb.inactive {cursor:hand;color:#666;font-size:11px !important;background:url(../../media/en_US/images/img/img_steps_bg_gry_1x35_AA000E1K.gif) repeat-x;}
.modal.breadcrumb.inactive b {color:#0A94D6;font-weight:400;}
.modal.breadcrumb.whole {width:99%;padding-left:5px;}
.modal.breadcrumb.half {width:48%;padding-left:5px;}
.modal.breadcrumb.third {width:30%;padding-left:5px;}
.modal.breadcrumb.quarter {width:21%;padding-left:5px;}
.modal.breadcrumb.fifth {width:15%;padding-left:5px;}
.modal.breadcrumb.active-left {width:5px;background:url(../../media/en_US/images/img/img_steps_rt-cap_org_6x35_AA000E1P.gif) no-repeat;}
.modal.breadcrumb.inactive-left {width:5px;background:url(../../media/en_US/images/img/img_steps_rt-cap_gry_6x35_AA000E4N.gif) no-repeat;}
.modal.breadcrumb.active-join {width:14px;background:url(../../media/en_US/images/img/img_steps_front-back_org-gry_14x35_AA000E1N.gif) no-repeat;}
.modal.breadcrumb.inactive-join {width:15px;background:url(../../media/en_US/images/img/img_steps_front-back_gry-org_15x35_AA000E4L.gif) no-repeat;}
.modal.breadcrumb.ininactive-join {width:15px;background:url(../../media/en_US/images/img/img_steps_front-back_gry_15x35_AA000E1M.gif) no-repeat;}
.modal.breadcrumb.active-right {width:9px;background:url(../../media/en_US/images/img/img_steps_front_org_9x35_AA000E4M.gif) no-repeat;}
.modal.breadcrumb.inactive-right {width:9px;background:url(../../media/en_US/images/img/img_steps_front_gry_9x35_AA000E1O.gif) no-repeat;}
.modal.details {height:472px;}
.modal.details-bar {width:220px;height:26px;border-top:5px solid #5EBB1F;border-left:1px solid #FFF;border-right:1px solid #FFF;}
.modal.details-title {color:#666;padding-left:9px;padding-top:4px;height:17px;border-left:0 !important;border-right:0 !important;display:none;}
.modal.details-scroller {width:220px !important;height:425px !important;display:block;overflow-x:hidden !important;overflow-y:auto !important;}
.modal.details-body {color:#666;padding-left:9px;padding-top:4px;width:90%;height:90%;}
.modal.details-note {color:#666;width:204px;height:0;vertical-align:bottom;overflow:hidden;display:none;border-top:1px solid #CCC;padding:9px;}
.modal.details-scroller-iptv {height:308px !important;}
.modal.details-note-iptv {height:51px;display:block;}
.modal.details-button {width:222px;height:25px;text-align:center;vertical-align:bottom;padding-top:11px;}
.modal.selection.entry {width:195px;border-bottom:1px solid #E2E2E2;}
.modal.selection.entry-title {width:75%;float:left;text-align:left;padding-top:4px;padding-bottom:5px;}
.modal.selection.entry-price {width:25%;float:right;text-align:right;padding-top:4px;padding-bottom:5px;}
.modal,body {font-family:Verdana;}
.modal.hsia-container {width:767px;height:342px;padding:15px;}
.modal.hsia-scroller {width:765px;height:100%;overflow-x:auto;overflow-y:scroll;}
.modal.stage.table {float:left;border-left:1px solid #CCC;border-top:1px solid #CCC;}
.modal.stage.row th {width:150px;border-right:1px solid #CCC;border-bottom:1px solid #CCC;color:#666;font-weight:700;line-height:20px;text-align:right;vertical-align:top;}
.modal.stage.row td {width:97px;border-right:1px solid #CCC;border-bottom:1px solid #CCC;color:#666;font-weight:400;line-height:20px;text-align:center;}
.modal.stage.row.header {border-collapse:collapse;margin-top:-2px;position:absolute;z-index:1;left:16px;top:133px;}
.modal.stage.row.header th {height:58px;min-height:72px;color:#666;border-left:1px;display:inline-block;vertical-align:top;border-top:1px solid #CCC;background:#FFF url(../../media/en_US/images/img/Internet_modal_bkd_blu_grad_1x65.gif) 0 100% repeat-x;}
.modal.stage.row.header td {height:58px;min-height:72px;color:#F27D00;border-left:1px;display:inline-block;vertical-align:top;border-top:1px solid #CCC;font-size:10px;font-weight:700;background:#FFF url(../../media/en_US/images/img/Internet_modal_bkd_blu_grad_1x65.gif) 0 100% repeat-x;}
.modal.stage.row th div {width:132px;height:100%;overflow:hidden;padding:7px;}
.modal.stage.row td div {width:79px;height:100%;overflow:hidden;padding:7px;}
.modal.stage.row.offset th,.modal.hsia.row.offset td {height:57px;}
.modal.stage.row.guide {background:#F6F6F6 !important;}
.modal.stage.row .disabled,.modal.row .disabled input {color:#999 !important;cursor:default;}
.modal.stage.row .disabled img {filter:gray;opacity:0.5px;}
.modal.popup b {color:#F27D00 !important;font-weight:700 !important;line-height:16px;padding-top:8px;padding-bottom:2px;display:block;margin:0;}
.inline p {display:inline !important;}
.bundle,.bundle div,.bundle .orange,.bundle b,.bundle span,.bundle a,.bundle select {font-size:11px !important;font-family:Verdana !important;}
.domino-packages {line-height:1.3em;font-size:12px;margin-bottom:10px;margin-top:0;}
.domino-sel {background-image:url(../../media/en_US/images/img/header_finishsetup_bg_AA000NEV.png);background-repeat:repeat-x;background-position:top center;border:1px solid #F77D00;line-height:43px;padding-top:5px;}
.domino-sel-complete {background-image:url(../../media/en_US/images/img/header_complete_bg_AA000NEU.png);background-repeat:repeat-x;background-position:top center;border:1px solid #63B229;line-height:43px;padding-top:5px;}
.domino-sel-addToBundle {background-image:url(../../media/en_US/images/img/header_add_bg_AA000P35.png);background-repeat:repeat-x;background-position:top center;border:1px solid #9A9A9A;line-height:43px;padding-top:5px;}
#completeGreenImage {padding-left:0;padding-top:10px;}
#backgroundGradient {background:url(../../media/en_US/images/img/gradient_finishsetup_AA_3ED.png) bottom left repeat-x;}
#backgroundGradient-complete {background:url(../../media/en_US/images/img/gradient_complete_AA000NES.png) bottom left repeat-x;}
#backgroundGradient-addToBundle {background:url(../../media/en_US/images/img/gradient_add_AA000P34.png) bottom left repeat-x;height:135px;}
.domino-sel ul {list-style-type:disc;list-style-position:inside;margin-top:0;}
.domino-sel li {font-size:0.9em;}
.domino-sel input {padding-top:5px;}
.dotted {border:none;height:0;border-bottom:1px solid #ccc;margin:5px 0;padding:0;}
.domino-sel-bottom {padding-bottom:10px;padding-top:0;clear:both;line-height:100%;height:100% font-type:verdana;font-size:11px;font-color:#666;}
.domino-sel-bottom-complete {background-repeat:repeat-x;background-position:bottom left;padding-top:10px;padding-bottom:10px;padding-right:5px;clear:both;line-height:100%;font-type:verdana;font-size:11px;font-color:#666;}
#selectedPackageTable {width:190px;border:0;margin:0;}
#selectedPackageTable-Selected {width:190px;border:0;padding-bottom:3px;margin:0;}
#selectedPackageTable-Selected tr td {line-height:15px;margin:0;}
.radioButton {padding-left:3px;padding-right:2px;}
.selected {padding-top:3px;margin-top:3px;}
.item {width:170px;float:left;padding-bottom:0;}
.description span {padding-right:3px;}
.underline {width:100%;padding-left:auto;padding-right:auto;border-bottom:1px dotted #ccc;}
.price {margin-right:0;}
.price strong {padding-left:3px;}
.modal-iptv-categories a,.modal-voip-categories a {font-size:10px;line-height:15px;font-weight:700;}
.modal.details-scroller-hsia,.modal.details-scroller-voip {height:378px !important;}
.modal.stage.row.guide th,a.orange {color:#F27D00;}
.rcvrCalcTable{border:1px solid #CCCCCC;border-collapse:collapse}
.rcvrCalcHdrCommon{height:30px;border-top:0px;border-bottom:1px solid #CCCCCC;color:#333;}
.rcvrCalcChrgHdr{width:250px;padding-left:15px;font-weight:bold;font-size:14px;text-align:left;}
.rcvrCalcMrcNrcHdr{width:75px;border-left:1px solid #CCCCCC;font-size:11px;text-align:center;background-color:#F5F5F5;}
.rcvrCalcDataColCommon{height:24px;border-bottom:1px solid #E7E7E7;font-size:11px;color:#333;}
.rcvrCalcDataNameCol{width:250px;padding-left:15px;text-align:left;}
.rcvrCalcDataMrcNrcCol{width:75px;padding-right:5px;text-align:right;border-left:1px solid #CCCCCC;background-color:#F5F5F5;}
.rcvrCalcTotColCommon{height:30px;text-align:right;border-top:2px solid #CCCCCC;font-size:12px;color:#FF7200;font-weight:bold;}
.rcvrCalcTotRcvrCol{padding-right:10px;width:250px;}
.rcvrCalcTotMrcNrcCol{padding-right:5px;width:75px;border-left:1px solid #CCCCCC;background-color:#F5F5F5;}
.rcvrWifiSTBMsg{position: bottom; float: left; height: 80px; background-color:#ffffcc; border:1px solid #fcef02; color:#666666; font-size:11px;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px}