
.mod_s {margin-bottom:0;border:1px solid #ccc;border-bottom:0;overflow:hidden;}
.uverse_orange{color:#FF7200;}
.unordered-list li {padding-left:2px;margin-left:20px;list-style:disc !important;}
/* Popup CSS for shop page*/
.programming-packages th {font-weight:700;line-height:1em;}
.programming-packages .btop1 {width:116px;border-top:1px solid #ccc;border-left:1px solid #ccc;text-align:left;padding:10px 0 10px 10px;}
.programming-packages .btop2 {border-top:1px solid #ccc;text-align:left;padding:10px 0 10px 10px;}
.programming-prices .btop1 {width:116px;text-align:left;padding:5px 0 5px 10px;}
.programming-prices .btop2 {text-align:left;padding:5px 0 5px 10px;}
.programming-packages .prod {width:58px;color:#0A94D6;text-align:center;padding:0;}
.programming-packages .prod.last {border-right:1px solid #ccc;padding:0 11px 0 0;}
.programming-prices .price {width:56px;text-align:center;padding:5px 0 0;}
.programming-prices td {font-size:1.1em;line-height:1.2em;border-right:1px dotted #ccc;vertical-align:top;}
.programming-prices .odd td {background:#f5f5f5;}
.programming-prices .even td {background:#fff;}
.programming-prices .odd.last td,.programming-prices .even.last td {border-bottom:1px solid #ccc;}
.monthlyRecurringCharges {height:26px;line-height:22px;font-size:1em;border:1px solid #ccc;border-bottom-color:#fff;text-align:center;font-weight:700;margin-bottom:-1px;}
/* Tool tip CSS for shop page*/
.rounded s,.rounded b,.rounded u,.rounded p {height:1px;font-size:.1em;overflow:hidden;display:block;background:#FFFFFE;border-style:solid;border-width:0 1px;margin:0;padding:0;}
.rounded s {border-color:transparent !important;}
.rounded b {border-color:#B2B2B2;}
.rounded b b {border-color:#8C8C8C;}
.rounded b b b {border-color:#D8D8D8;}
.rounded u {border-color:#666;border-width:1px;}
.rounded p {height:100%;font-size:1em;overflow:visible;border-color:#666;}
/* Shop page specific CSS */
.shop_get_started, .shop_build_your_own, .shop_cb, .shop_iptv_icon, .shop_internet_icon, .shop_phone_icon, .shop_channel_lineup_arrow, .shop_check_green, .shop_iptv_main_bg, .shop_internet_icon_dis, .shop_phone_icon_dis, .shop_iptv_icon_dis{background:url('../../media/att/2012/shop/u-verse/sprite-shop_AA001S2R.gif') no-repeat;}
.shop_get_started{float:left;display:block;width:90px;height:24px;background-position:0px -168px;clear:both;margin-top:6px;}
.shop_build_your_own{position:absolute;bottom:29px;display:block;width:115px;height:24px;background-position:0px 0px;}
.shop_cb_box{width:141px;height:191px;padding-left:12px;}
.shop_cb_box_inner{position:relative;height:102px;padding:0 0 11px 11px;}
.shop_cb{display:block;float:right;width:59px;height:69px;background-position:0px -97px;}
.shop_cb_link{display:inline-block;padding:64px 11px 0px;font-size:9px !important;}
.shop_box_text, .shop_box_text1{font-weight:bold;font-size:15px;padding-top:11px;float:left;overflow:hidden;}
/* PROD12-4809 URock - display issue on the Internet & Phone version of the page */
.shop_box_text{width:81px;height:62px;color:#333;}
.shop_box_text1{width:120px;height:50px;color:#f37d01;}
.shop_cb_rate{font-family:Verdana;color:#60bf1b;float:left;margin-top:8px;width:130px;}
/* PROD12-4809 Added padding for both shop_cb_rate1 and shop_cb_rate2 */
.shop_cb_rate1{font-size:20px;float: left;padding-bottom:5px;}
.shop_cb_rate2{font-size:32px !important;padding-top:4px;float:left;letter-spacing:-2px;*height:24px;*line-height:24px;padding-bottom:5px;}
#ie .shop_cb_rate3{font-size:15px;}
.shop_cb_rate3{font-size:16px;padding-left:1px;float:left;line-height:10px;}
.shop_cb_rate4{font-size:10px;padding-top:5px;}
.shop_no_of_months{clear:left;padding-top:4px;color:#000;}
.shop_compare{clear:both;padding-top:12px;*padding-top:6px;}
.shop_iptv_icon{background-position:-116px 0px;width:33px;height:27px;float:left;margin-left:4px;margin-right:8px;margin-top:8px;}
.shop_internet_icon{background-position:-83px -53px;width:33px;height:36px;float:left;margin-left:4px;margin-right:8px;margin-top:4px;}
.shop_phone_icon{background-position:-118px -26px;width:30px;height:42px;float:left;margin-left:6px;margin-right:9px;}

.shop_iptv_icon_dis{background-position:-40px -62px;width:38px;height:30px;float:left;margin-left:4px;margin-right:8px;margin-top:8px;}
.shop_internet_icon_dis{background-position:-104px -119px;width:33px;height:36px;float:left;margin-left:4px;margin-right:8px;margin-top:4px;}
.shop_phone_icon_dis{background-position:-3px -52px;width:30px;height:42px;float:left;margin-left:6px;margin-right:9px;}

.shop_preview_text{display:inline-block;padding-left:8px;width:100px;}
.shop_iptv_icon1, .shop_ipphone_icon1{height:45px;border-bottom:1px dotted #ccc;}
.shop_iptv_main, .shop_internet_main, .shop_phone_main{padding-left:10px;border-bottom:1px solid #ccc;}
.shop_iptv_main{height:68px;}
.shop_internet_main{height:109px;}
.shop_phone_main{height:62px;}
.shop_iptv_main_bg{background-position:5px -193px;}
.shop_uverse_purple{float:left;padding-left:8px;padding-top:10px;font-weight:bold;font-size:12px;color:#0099FF !important;}
.shop_tv_internet_shop{width:146px;border:0px none !important;margin-bottom:0px;position:absolute;margin-left:3px;}
.shop_channel_lineup, .shop_channel_lineup1{padding:8px;border-bottom:1px solid #ccc;position:relative;}
.shop_channel_lineup_arrow{background-position:-75px -118px;width:17px;height:12px;position:absolute;left:71px;top:0px;}
.shop_channel_lineup{height:52px;}
.shop_channel_lineup1{height:93px;}
.shop_check_green1{height:42px;border-bottom:1px solid #ccc;}
.shop_check_green{background-position:-119px -72px;width:23px;height:18px;margin-top:0px;float:left;margin:12px 6px;}
.shop_tv_plan1{display:block;padding-left:21px;width:110px;}
.shop_plan_details, .shop_plan_details_last_row{background:url('../../media/att/2012/shop/u-verse/offers-gradient_AA001S2Q.gif') repeat-x;width:153px;border-top:0px !important;}
.shop_plan_details_last_row{border-right:0px;}
.shop_tv_details{padding:8px;}	
.shop_high_definition{padding:8px;border-bottom:solid 1px #ccc;height:26px;}
.tv_package_det{width:144px;border:0px none; position: absolute; margin-left: 3px;}
.tv_package_det1{height:42px;border-bottom:1px solid #ccc;color:#0099FF;text-align:right;}
.tv_package_det1 a, .tv_package_det2 a{display:block;padding:12px;color:#0099ff !important;text-align:right;}
.tv_package_det2{height:110px;}

.shop_offers{background:url('../../media/att/2012/shop/u-verse/offers-gradient_AA001S2Q.gif') repeat-x;padding:12px 4px;border:0px !important;min-height:95px;}

.shop_free_time{height:61px;padding-left:5px;}
.shop_build_bundle{position:relative;background:url('../../media/att/2012/shop/u-verse/build_your_own_AA001S2P.gif') no-repeat 0px 38px;width:116px;height:156px;padding:12px;}
.shop_build_bundle_text{font-weight:bold;font-size:15px;color:#333;height:37px;width:81px;float:left;overflow:hidden;width:120px;}
.shop_view_all_premium{height:101px;padding:5px;}
.shop_slot0{height:330px;padding-left:10px;margin-bottom: 7px;}
.shop_filters{border:1px solid #ccc;padding:8px;margin-bottom:2px;height:33px;}
.shop_filters_compare{width:220;float:left;margin-top:8px;}
.shop_filters_compare1{float:left;margin-left:10px;}
.shop_filters_divider{float:left;width:1px;height:32px;background-color:#666666;margin:0px 8px;}
.shop_filter_by{float:left;margin-top:8px;}
.shop_filter_by1{margin-right:3px;float:left;}
.shop_filter_dropdown{float:left;width:170px;z-index:5;}
.shop_cart_text{text-transform:uppercase;}
.shop_cart_padding{padding:0px !important;}
.shop_preview_icon_box{width:100%;}
.shop_disable_text{display:inline-block;padding:10px 0px 0px 8px;color:#999 !important;font-weight:bold;font-size:12px;}
.shop_product_image{width:91px;height:54px;margin:12px 0px 0px 22px;}
.shop_product_text{text-align:center;}
.product_not_selected{height:73px;padding-left:5px;border-bottom:1px solid #ccc;}