#overlayDiv,.overlayDiv {margin:0;padding:0;}
#css-reset ul,#css-reset ol,#css-reset li,#css-reset form,#css-reset fieldset,#css-reset legend,#css-reset label,#css-reset input,#css-reset textarea,#css-reset p,#css-reset h1,#css-reset h2,#css-reset h3,#css-reset th,#css-reset td {
vertical-align:top;margin:0;padding:0;}
#css-reset table {border-collapse:collapse;border-spacing:0;}
#css-reset fieldset,#css-reset img {border:0;}
#css-reset sup {vertical-align:text-top;position:relative;}
#css-reset input,#css-reset textarea,#css-reset select {font-family:Verdana;font-weight:400;font-size:100%;}
#css-reset ul,#css-reset ol,#css-reset li {list-style:none;background:none;}
#css-reset br {line-height:10px;clear:both;float:none;}
#css-reset .left {text-align:left !important;}
#css-reset .right {text-align:right !important;}
.screenreader {position:absolute;left:-9999px;}
a.underline {text-decoration:underline;}
#css-reset input.text {border:1px solid #ccc;background:#fff;height:1.4em;font-size:1.1em;margin-bottom:12px;margin-left:4px;position:relative;top:.4em;padding:2px 5px 0;}
#ie #css-reset input.text {height:1.8em;margin-bottom:10px;top:-0.4em;padding:2px 5px 0;}
#css-reset td input.text {font-size:1em;top:0;margin-left:0;}
#ie #css-reset td input.text {top:0;}
#css-reset select {margin-bottom:12px;position:relative;top:.4em;margin-left:4px;font-size:1.1em;}
#ie #css-reset select {position:relative;top:-0.3em;margin-bottom:10px;margin-left:0;}
#css-reset td select {top:0;margin-bottom:12px;position:relative;left:-0.4em;font-size:1em;}
#ie #css-reset td select {position:relative;top:1px;left:0;margin-bottom:10px;}
#css-reset input.radio {border:none;position:relative;top:-0.2em;height:18px;width:16px;}
#ie #css-reset input.radio {height:1.6em;width:12px;}
#css-reset input.check {background:none;border:none;position:relative;top:-0.15em;}
#ie #css-reset input.check {height:1.4em;width:18px;top:0;}
#css-reset td input.check {background:none;border:none;position:relative;top:.3em;}
#ie #css-reset td input.check {height:1.4em;width:18px;top:.3em;}
#css-reset input.noBorder {border:none;}
#css-reset .first_204 {position:relative;float:left;width:204px;height:100%;}
#css-reset .col_203 {position:relative;float:left;width:203px;margin-left:10px;height:100%;}
#css-reset .col_310 {height:100%;}
#ie6 #css-reset .ie6 .col_310 {margin-left:5px;}
#css-reset #packageTable td {vertical-align:top;font-size:1em;}
#ie #css-reset #packageTable td {font-size:1.01em;}
#css-reset .mod_u {background:url(http://www.att.com/media/en_US/images/img/grad_tall_225.gif) 0 100% repeat-x;border:1px solid #ccc;border-bottom:none;height:100%;}
#css-reset .col_310 .mod_u2 {background:url(../../media/en_US/images/clo/clo_uverse_offers_buildYourOwn_img_AA0009PV.jpg) 0 0 repeat-x;border:1px solid #ccc;height:100%;}
#css-reset .col_320 .mod_u2 {background:url(http://www.att.com/media/en_US/images/img/topGrad225bg.gif) 0 0 repeat-x;border-right:1px solid #ccc;height:100%;}
#css-reset .divider {background:url(http://www.att.com/media/en_US/images/img/down-arrow-divider.gif) 53% 0 no-repeat;border:1px solid #ccc;border-top:none;border-bottom:none;height:100%;}
.icon_window {padding-left:15px;background:url(../../media/en_US/images/btn/btn_preview_AA0005XY.gif) 0 3px no-repeat;font-size:1.1em;position:relative;}
.icon {padding-left:15px;background:url(../../media/en_US/images/btn/btn_caret_AA0009OZ.gif) 0 3px no-repeat;font-size:1.1em;position:relative;}
#css-reset .pad9 {padding:9px;}
#css-reset .mod_u h3 {height:28px;}
#css-reset .h84 {height:83px;}
#css-reset .customize {padding-left:35px;}
#css-reset .customize img {display:block;vertical-align:top;margin-bottom:6px;}
#css-reset .horizDash3 {padding-top:12px;padding-bottom:0;margin:7px 0 0;}
#ie #css-reset .horizDash3 {padding-top:15px;}
#css-reset .noradio {display:block;position:relative;line-height:1.5em;top:-2px;}
#css-reset .h70 {height:80px;padding:8px 0 0 35px;}
#css-reset .divider h3 {height:1.7em;font-size:1.2em;margin-bottom:.1em;}
#ie #css-reset .divider h3 {margin-bottom:.3em;}
#css-reset .divider .pad9 .horizDash3 {position:relative;margin:0 -9px;padding:0;}
#css-reset .divider .pad9 h4 {margin-top:8px;font-size:1.1em;margin-bottom:3px;}
#ie #css-reset .divider .pad9 h4 {margin-top:-7px;margin-bottom:3px;}
#css-reset .divider .programs li {padding-bottom:3px;}
#css-reset .divider .pad9 .orange {position:absolute;bottom:7px;font-size:1.1em;line-height:1.2em;}
#css-reset .dspeed {font-size:1.1em;margin-top:1px;}
#css-reset .digVoice h3 img {margin:7px 0 0 -4px;}
#css-reset .col_320 .details_col {height:80px;padding:17px 0 0 21px;}
#css-reset .col_320 .newWin {margin-top:2px;padding-left:15px;background:url(../../media/en_US/images/btn/btn_preview_AA0005XY.gif) 0 3px no-repeat;font-size:1.1em;}
#css-reset .col_320 .horizDash3 {position:relative;height:1px;}
#css-reset .customizeLast {text-align:center;padding-top:28px;}
#css-reset .smWhiteArrowRight {background:url(http://www.att.com/media/en_US/images/btn/btn_Caret_wht_AA00011P.gif) 0 .2em no-repeat;padding:1px 0 1px 15px;}
.btn_arrow_box_white {height:15px;line-height:20px;background:url(../../media/en_US/images/btn/btn_arrow_right_AA0005YL.gif ) left bottom no-repeat;padding:2px 0 1px 20px;}
#accordion td,#accordionHolder td {white-space:nowrap;}
#accordion,#accordionHolder {border:1px solid #ccc;background-color:#fff;margin:0 0 10px;padding:1px 1px 0;}
.accToggler,.toggleActive {display:block;font-size:1.2em;line-height:15px;color:#0a94d6;background:url(../../media/en_US/images/accordion/bkgrd-accordion_AA000AWN.gif) repeat-x left top #f8f8f8;cursor:pointer;position:relative;margin:0;padding:6px 10px;}
.exploreAccordion .accToggler,.exploreAccordion .toggleActive {font-size:1.1em;font-weight:400;}
h3.accToggler span {display:block;padding-right:15px;background:url(../../media/en_US/images/accordion/acc-arrow-right_AA000AWL.gif) right no-repeat;}
h3.toggleActive span {display:block;padding-right:15px;background:url(../../media/en_US/images/accordion/acc-arrow-down_AA000AWK.gif) right no-repeat;color:#666;font-weight:700;font-family:Verdana;}
h3.toggleActive span a {color:#666;}
.accContent {overflow:hidden;font-size:1em;position:relative;background:#fff url(http://www.att.com/media/en_US/images/img/images/clear.gif);margin:0;padding:0;}
#ie .accContent {height:21.7em;overflow:hidden;zoom:1px;}
.three-tiles .accContent div.accPromo {background:url(../../media/en_US/images/accordion/acc-bkgrd-content_AA000AWM.gif) 0 100% repeat-x;height:26.7em;padding:5px 10px;}
.five-tiles {height:28.7em;}
#ie .five-tiles {height:28.9em;}
.five-tiles .accContent div.accPromo {background:url(../../media/en_US/images/accordion/acc-bkgrd-content_AA000AWM.gif) 0 100% repeat-x;height:14.2em;padding:5px 10px;}
#ie .five-tiles .accContent div.accPromo {height:14.3em;}
#ic_accordion .five-tiles {height:241px;}
#ic_accordion .five-tiles .accContent div.accPromo {height:96px;}
.h328 {height:32.4em;}
#ie .h328 {height:32.6em;}
.h328 .accContent div.accPromo {background:url(../../media/en_US/images/accordion/acc-bkgrd-content_AA000AWM.gif) 0 100% repeat-x;height:18.9em;padding:5px 10px;}
#ie .h328 .accContent div.accPromo {height:20.8em;}
.accPromo th,.accPromo td {padding-top:10px;}
.arrow-list {list-style-type:none;margin:0;padding:0;}
.arrow-list li {padding-bottom:3px;margin:0;}
.arrow-list li a {background:url(../../media/en_US/images/btn/btn_arrow_right_AA0005YL.gif) left no-repeat;position:relative;display:block;padding:1px 0 2px 20px;}
a.arrow-list {background:url(../../media/en_US/images/btn/btn_arrow_right_AA0005YL.gif) left no-repeat;padding:1px 0 2px 20px;}
a.btn_white_caged_arrow {background:url(../../media/en_US/images/btn/btn_arrow_right_AA0005YL.gif) 0 50% no-repeat;height:15px;width:100%;display:block;overflow:hidden;padding-left:25px;}
.modalPopClose {background:url(../../media/en_US/images/btn/btn_close-popup_red_AA0009RA.gif) 100% 0 no-repeat;padding:2px 20px 2px 0;}
#content .first_710 .callout2.h220 {height:219px;}
#content .col_320 .callout2.h328 {height:328px;}
#u-verseLogin td {border:none;padding-left:3px;padding-bottom:10px;}
#u-verseLogin td.first {text-align:right;}
#u-verseLogin td.last {padding-left:5px;padding-right:5px;}
.links-list li {margin-bottom:3px;}
#programmingPackages {margin-bottom:30px;}
#programmingPackages .first_350 {width:374px;}
#programmingPackages .col_252 {width:246px;}
.programming-packages {width:100%;border-bottom:1px solid #ccc;}
.programming-packages th {font-weight:700;line-height:1em;}
.programming-packages .btop1 {width:116px;border-top:1px solid #ccc;border-left:1px solid #ccc;text-align:left;padding:10px 0 10px 10px;}
.programming-packages .btop2 {border-top:1px solid #ccc;text-align:left;padding:10px 0 10px 10px;}
.programming-prices .btop1 {width:116px;text-align:left;padding:5px 0 5px 10px;}
.programming-prices .btop2 {text-align:left;padding:5px 0 5px 10px;}
.programming-packages .prod {width:58px;color:#0A94D6;text-align:center;padding:0;}
.programming-packages .prod.last {border-right:1px solid #ccc;padding:0 11px 0 0;}
.programming-prices .price {width:56px;text-align:center;padding:5px 0 0;}
.programming-prices td {font-size:1.1em;line-height:1.2em;border-right:1px dotted #ccc;vertical-align:top;}
.programming-prices .odd td {background:#f5f5f5;}
.programming-prices .even td {background:#fff;}
.programming-prices .odd.last td,.programming-prices .even.last td {border-bottom:1px solid #ccc;}
.monthlyRecurringCharges {height:26px;line-height:22px;font-size:1em;border:1px solid #ccc;border-bottom-color:#fff;text-align:center;font-weight:700;margin-bottom:-1px;}
.icn_print {background:url(../../media/en_US/images/ico/ico_PrintPage_AA00017Z.gif ) 0 0 no-repeat;padding-left:15px;}
.color-tv {color:#81017E;}
.color-internet {color:#0C2577;}
.color-voice {color:#5EBB1F;}
div.main-popup-button {text-align:center;position:relative;top:-20px;height:10px;}
div.accordion-content-below-heading {height:22em;overflow:auto;}
div.fake-hr {border-top:1px solid #ccc;margin:10px 0;}
.lockup-speed h3 {display:inline;vertical-align:3px;}
.lockup-speed p {margin:0;padding:0 0 2px;}
.lockup-speed img {margin-left:6px;border-left:1px solid #656565;padding-left:6px;}
table.comparison-table {border:1px solid #e2e2e3;empty-cells:show;border-collapse:collapse;margin:10px 0 10px 2px;}
.comparison-table td,.comparison-table th {border:1px solid #e2e2e3;font-size:1em;white-space:normal !important;padding:6px;}
.comparison-table th {background-color:#f6f6f6;}
.unordered-list li {padding-left:2px;margin-left:20px;list-style:disc !important;}
.grayborder {border:1px solid #ccc;}
.h124 {height:124px;}
.h158 {eight:158px;position:relative;}
.h204 {height:204px;position:relative;}
.h242 {height:242px;position:relative;}
.h154 {height:15.4em;}
.h260 {height:260px;}
.orange1-5 {color:#f27d00;font-size:1.5em;padding:10px 0;}
.bottom {position:absolute;bottom:10px;}
/* PROD12-5644 */
.specialUverseNav {position:absolute;right:0;top:120px;z-index:999;}
.specialUverseNav ul li {float:left;height:35px;}
.specialUverseNav ul li a {display:block;border-right:1px solid #ccc;margin-top:5px;padding-right:10px;}
.canIgetUverse {background:url(../../media/en_US/images/ico/ico_link_canIgetUverse_AA000AVA.gif) 0 5px no-repeat;padding-left:25px;}
.shopUverse {background:url(../../media/en_US/images/ico/ico_link_shop_uverse_AA000AVT.gif) 0 5px no-repeat;padding-left:25px;margin-left:10px;}
.tri-col-table {margin-bottom:0;}
.international-calling-rates th {font-weight:700;font-size:1.3em;}
.international-calling-rates th,.international-calling-rates td {padding-top:6px;}
#u-rock #iePopup {background-color:#ededed;margin:0 auto;}
#u-rock #popupWrapper {min-width:300px;width:auto;padding:0 10px;}
#u-rock #topContainerPopup {background:url(../../Common/indc/images/popupPage_topSlice2.gif) 0 bottom repeat-x transparent;height:5em;position:relative;margin:0 3px;}
#u-rock .popupTitle {position:absolute;left:0;bottom:5px;font-size:1.3em;font-weight:700;}
#u-rock .popupClose {position:absolute;bottom:5px;right:0;height:20px;margin-top:30px;background:url(../../media/en_US/images/btn/btn_close-popup_red_AA0009RA.gif) 100% 0 no-repeat;padding-right:20px;}
#u-rock #popupContainer {background:url(../../Common/indc/images/popupPage_midSliceL.gif) left 0 repeat-y #fff;}
#u-rock #popupContainer #popupContent {background:url(../../Common/indc/images/popupPage_midSliceR.gif) right 0 repeat-y;height:100%;padding:35px 15px 15px;}
#u-rock #btmContainerPopup {clear:both;height:1em;background:url(../../Common/indc/images/popupPage_btmSlice2.gif) 0 0 repeat-x transparent;margin:0 3px;}
#u-rock .popupTable {width:100%;font-size:1em;}
#u-rock .popupTable .first {width:150px;border-right:1px solid #ccc;}
#u-rock .bodyTitle {font-size:1.8em;font-weight:400;padding-left:10px;padding-bottom:10px;}
#u-rock .bodyContent div {overflow:auto;margin-left:10px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.note {font-size:.9em;color:#999;letter-spacing:-1px;}
#css-reset td,#u-rock .popupTable td {vertical-align:top;}
a.underline:hover,h3.toggleActive span a:hover {text-decoration:none;}
#css-reset option,#css-reset td option {height:1.4em;}
#ie #css-reset option,#ie #css-reset td option {height:1.5em;}
#css-reset .first_320,#css-reset .col_320 {position:relative;float:left;width:320px;height:100%;}
#css-reset .horizDash3 label,#css-reset .divider .programs {font-size:1.1em;}
#css-reset .h70 .newWin,.newWin,.h154 .newwindow,.h154 .newwindow {padding-left:15px;background:url(../../media/en_US/images/btn/btn_preview_AA0005XY.gif) 0 3px no-repeat;font-size:1.1em;}
#u-verseLogin,ul.unordered-list {margin-top:10px;}
.programming-prices .price.last,.specialUverseNav ul li.last a {border-right:none;}
.dual-col-table li,.tri-col-table li,.pad6 li {margin-bottom:6px;}
#u-rock #iePopup #popupWrapper,#u-rock #iePopup #popupContainer {width:100%;}