/* ----------------------------------------------------------------------------------------------------
    **  Resets the following elements for browser compatibility **
   ---------------------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend
{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

p, ul, ol, dl
{
    text-align: left;
}

p
{
    line-height:1.4em;
}