/* CSS Document */
<!-- start overstock css from os-master.1.2.2.min.css -->
body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 12px;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: left;
}
/*
p {
    margin: 0;
    padding: 0 0 1em;
    text-align: left;
}
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body, input, button, textarea, select, h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica,Arial,sans-serif;
}
th, strong, dt, b {
    font-weight: bold;
}
pre, tt, code, kbd, samp, var {
    font-family: "Courier New",Courier,monospace;
}
h1, .h1 {
    font-size: 167%;
    font-weight: bold;
}
h2, .h2 {
    font-size: 150%;
    font-weight: bold;
}
h3, .h3 {
    font-size: 133.33%;
    font-weight: bold;
}
h4, .h4 {
    font-size: 116.66%;
    font-weight: bold;
}
h5, .h5 {
    font-size: 100%;
    font-weight: bold;
}
h6, .h6 {
    font-size: 100%;
    font-weight: normal;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, ul, p {
    line-height: 1.2em;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
a {
    cursor: pointer;
}
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #3399CC;
    text-decoration: none;
}
a:focus {
    outline: 1px dotted #336699;
    text-decoration: none;
}
a:active {
    outline: medium none;
}
p a:link, p a:visited {
    color: #336699;
    text-decoration: underline;
}
p a:hover {
    color: #3399CC;
}
p a:focus {
    text-decoration: none;
}
p a:focus, *:focus {
    outline: 1px dotted #336699;
}
p a:active {
    outline: medium none;
}
ul {
    list-style: none outside none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
fieldset, img {
    border: medium none;
}
img {
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}
* {
    outline: medium none !important;
}
.h1 > *, .h2 > *, .h3 > *, .h4 > *, .h5 > *, .h6 > * {
    display: inline;
    font-size: 100%;
}
.noprint {
    display: none;
}
.grid-container {
    clear: both;
    overflow: hidden;
}
.grid-1, .product, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .span-all {
    float: left;
}
.grid-1, .product {
    width: 8.33%;
}
.grid-2 {
    width: 16.66%;
}
.grid-3 {
    width: 24.99%;
}
.grid-4 {
    width: 33.32%;
}
.grid-5 {
    width: 41.65%;
}
.grid-6 {
    width: 49.98%;
}
.grid-7 {
    width: 58.31%;
}
.grid-8 {
    width: 66.64%;
}
.grid-9 {
    width: 74.97%;
}
.grid-10 {
    width: 83.3%;
}
.grid-11 {
    width: 91.63%;
}
.grid-12, .span-all {
    width: 100%;
}
.grid-content {
    padding: 5px;
}
.adapt.to1 .grid-1, .adapt.to1 .product {
    width: 100%;
}
.adapt.to2 .grid-1, .adapt.to2 .product {
    width: 50%;
}
.adapt.to3 .grid-1, .adapt.to3 .product {
    width: 33.33%;
}
.adapt.to4 .grid-1, .adapt.to4 .product {
    width: 25%;
}
.adapt.to5 .grid-1, .adapt.to5 .product {
    width: 20%;
}
.adapt.to6 .grid-1, .adapt.to6 .product {
    width: 16.66%;
}
.adapt.to7 .grid-1, .adapt.to7 .product {
    width: 14.285%;
}
.adapt.to8 .grid-1, .adapt.to8 .product {
    width: 12.5%;
}
.adapt.to9 .grid-1, .adapt.to9 .product {
    width: 11.111%;
}
.adapt.to10 .grid-1, .adapt.to10 .product {
    width: 10%;
}
.adapt.to11 .grid-1, .adapt.to11 .product {
    width: 9.09%;
}
.adapt.to12 .grid-1, .adapt.to12 .product {
    width: 8.33%;
}
.adapt.to2 .grid-2, .adapt.to2 .grid-3, .adapt.to2 .grid-4, .adapt.to2 .grid-5, .adapt.to2 .grid-6, .adapt.to2 .grid-7, .adapt.to2 .grid-8 {
    width: 100%;
}
.adapt.to3 .grid-2 {
    width: 66.66%;
}
.adapt.to4 .grid-2 {
    width: 50%;
}
.adapt.to5 .grid-2 {
    width: 40%;
}
.adapt.to6 .grid-2 {
    width: 33.33%;
}
.adapt.to7 .grid-2 {
    width: 28.57%;
}
.adapt.to8 .grid-2 {
    width: 25%;
}
.adapt.to9 .grid-2 {
    width: 22.222%;
}
.adapt.to10 .grid-2 {
    width: 20%;
}
.adapt.to10 .grid-2 {
    width: 20%;
}
.adapt.to11 .grid-2 {
    width: 18.18%;
}
.adapt.to12 .grid-2 {
    width: 16.66%;
}
.adapt.to3 .grid-3 {
    width: 100%;
}
.adapt.to4 .grid-3 {
    width: 75%;
}
.adapt.to5 .grid-3 {
    width: 60%;
}
.adapt.to6 .grid-3 {
    width: 50%;
}
.adapt.to7 .grid-3 {
    width: 42.855%;
}
.adapt.to8 .grid-3 {
    width: 37.5%;
}
.adapt.to9 .grid-3 {
    width: 33.333%;
}
.adapt.to10 .grid-3 {
    width: 30%;
}
.adapt.to11 .grid-3 {
    width: 27.27%;
}
.adapt.to12 .grid-3 {
    width: 24.99%;
}
.adapt.to4 .grid-4 {
    width: 100%;
}
.adapt.to5 .grid-4 {
    width: 80%;
}
.adapt.to6 .grid-4 {
    width: 66.66%;
}
.adapt.to7 .grid-4 {
    width: 57.14%;
}
.adapt.to8 .grid-4 {
    width: 50%;
}
.adapt.to9 .grid-4 {
    width: 44.444%;
}
.adapt.to10 .grid-4 {
    width: 40%;
}
.adapt.to11 .grid-4 {
    width: 36.36%;
}
.adapt.to12 .grid-4 {
    width: 33.32%;
}
.adapt.to5 .grid-5 {
    width: 100%;
}
.adapt.to6 .grid-5 {
    width: 83.3%;
}
.adapt.to7 .grid-5 {
    width: 71.425%;
}
.adapt.to8 .grid-5 {
    width: 62.5%;
}
.adapt.to9 .grid-5 {
    width: 55.55%;
}
.adapt.to10 .grid-5 {
    width: 50%;
}
.adapt.to11 .grid-5 {
    width: 45.45%;
}
.adapt.to12 .grid-5 {
    width: 41.65%;
}
.adapt.to6 .grid-6 {
    width: 100%;
}
.adapt.to7 .grid-6 {
    width: 85.71%;
}
.adapt.to8 .grid-6 {
    width: 75%;
}
.adapt.to9 .grid-6 {
    width: 66.66%;
}
.adapt.to10 .grid-6 {
    width: 60%;
}
.adapt.to11 .grid-6 {
    width: 54.54%;
}
.adapt.to12 .grid-6 {
    width: 49.98%;
}
.adapt.to7 .grid-7 {
    width: 100%;
}
.adapt.to8 .grid-7 {
    width: 87.5%;
}
.adapt.to9 .grid-7 {
    width: 77.77%;
}
.adapt.to10 .grid-7 {
    width: 70%;
}
.adapt.to11 .grid-7 {
    width: 63.63%;
}
.adapt.to12 .grid-7 {
    width: 58.31%;
}
.adapt.to8 .grid-8 {
    width: 100%;
}
.adapt.to9 .grid-8 {
    width: 88.88%;
}
.adapt.to10 .grid-8 {
    width: 80%;
}
.adapt.to11 .grid-8 {
    width: 72.72%;
}
.adapt.to12 .grid-8 {
    width: 66.64%;
}
.adapt.to9 .grid-9 {
    width: 100%;
}
.adapt.to10 .grid-9 {
    width: 90%;
}
.adapt.to11 .grid-9 {
    width: 81.81%;
}
.adapt.to12 .grid-9 {
    width: 74.97%;
}
.adapt.to10 .grid-10 {
    width: 100%;
}
.adapt.to11 .grid-10 {
    width: 90.9%;
}
.adapt.to12 .grid-10 {
    width: 83.3%;
}
.adapt.to11 .grid-11 {
    width: 100%;
}
.adapt.to12 .grid-11 {
    width: 91.63%;
}
.adapt.to12 .grid-12 {
    width: 100%;
}
.height-0-25 {
    height: 32px;
}
.height-0-50 {
    height: 72px;
}
.height-0-75 {
    height: 112px;
}
.height-1 {
    height: 152px;
}
.height-1-25 {
    height: 192px;
}
.height-1-50 {
    height: 232px;
}
.height-1-75 {
    height: 272px;
}
.height-2 {
    height: 312px;
}
.height-2-25 {
    height: 352px;
}
.height-2-50 {
    height: 392px;
}
.height-2-75 {
    height: 432px;
}
.height-3 {
    height: 472px;
}
.height-3-25 {
    height: 512px;
}
.height-3-50 {
    height: 552px;
}
.height-3-75 {
    height: 592px;
}
.height-4 {
    height: 632px;
}
.height-4-25 {
    height: 672px;
}
.height-4-50 {
    height: 712px;
}
.height-4-75 {
    height: 752px;
}
.height-5 {
    height: 792px;
}
.height-5-25 {
    height: 812px;
}
.height-5-50 {
    height: 852px;
}
.height-5-75 {
    height: 912px;
}
.height-6 {
    height: 952px;
}
.page-wrapper {
    height: 100%;
    margin: 0;
    min-width: 960px;
}
#hd, #bd, #ft {
    clear: both;
}
#hd {
    margin-bottom: 6px;
    position: relative;
    z-index: 1;
}
#bd {
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}
#content-main {
    overflow: hidden;
    width: auto;
}
#content-main, #content-nav-a, #content-nav-b {
    padding: 0 5px 5px;
}
#content-nav-a .bd {
    padding: 0 10px;
}
.logo-search {
    background-color: #FFFFFF;
    overflow: hidden;
}
.os-logo {
    margin: 40px 0;
    padding-left: 20px;
    text-indent: -9999px;
}
.os-logo.clubo-logo a {
    background-position: 0 0;
    width: 247px;
}
.os-logo.obiz-logo a {
    background-position: -295px 0 !important;
}
.os-logo a {
    background-color: #FFFFFF;
    background-position: -25px 0;
    color: #555555;
    display: block;
    height: 56px;
    position: relative;
    text-decoration: none;
    width: 222px;
}
.os-logo a span {
    left: 62px;
    position: absolute;
    text-indent: 0;
    top: 36px;
    visibility: hidden;
}
.os-logo.clubo-logo a span {
    left: 87px;
}
.os-logo a:hover span {
    visibility: visible;
}
.head-nav-container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color;
    border-style: solid none;
    border-width: 1px 0;
    clear: both;
    display: block;
    overflow: visible;
    padding: 0 130px 0 0;
    position: relative;
}
span.error {
    background-color: #FFA2A8;
    border: 1px solid #C7202B;
    display: inline-block;
    margin-bottom: 6px;
    padding: 6px;
    position: relative;
    width: auto;
}
span.error i {
    background: url("../../../../www.overstock.com/img/mxc/2010-header-footer-sprite.v3.1.png") no-repeat scroll -380px -60px transparent;
    float: left;
    height: 13px;
    width: 15px;
}
span.error span {
    color: #C7202B;
    font-weight: bold;
    margin-left: 8px;
    white-space: nowrap;
}
span.error i.error-arrow {
    background: url("https://help.overstock.com/images/arrow.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    left: 10px;
    position: absolute;
    top: 26px;
    width: 10px;
}
input.error, textarea.error {
    border: 1px solid #C7202B;
    padding: 2px 4px;
}
#shop-all-departments-menu .hd {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
}
#shop-all-departments-menu .hd * {
    font-size: 108%;
    font-weight: normal;
}
#shop-all-departments-menu .menu {
    display: none;
}
.mod.drop-down .hd {
    padding: 2px 10px 3px;
}
#content-nav-a, #content-nav-a h2, #content-nav-a .h2, #content-nav-a h2, #content-nav-a .h2, .content-nav-b h2 {
    color: #303030;
}
a.h2:hover {
    text-decoration: none;
}
#content-nav-a {
    float: left;
}
#content-main {
    padding: 0 5px 5px;
    z-index: 0;
}
#content-nav-a {
    padding-right: 0;
    width: 200px;
    z-index: 1;
}
#content-nav-b {
    float: right;
    padding-left: 0;
    width: 152px;
    z-index: 1;
}
#content-nav-a, #content-nav-b {
    margin-top: 5px;
}
#content-nav-a .content-block {
    padding: 0;
}
#content-nav-b .content-block {
    padding: 0 0 10px;
}
#categories-and-refinements {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}
#categories-and-refinements .mod {
    margin: 10px;
}
#content-nav-a .hd {
    margin: 0;
}
#content-nav-a h2, #content-nav-a .h2, .content-nav-b h2, .content-nav-b .h2 {
    background: none repeat scroll 0 0 #E5E5E5;
    display: block;
    font-size: 116.66%;
    padding: 8px 5px 7px 10px;
}
#content-nav-a h3, #content-nav-a .h3 {
    font-size: 116.66%;
}
#content-nav-a h2 span, #content-nav-a .h2 span, #content-nav-a h3 span, #content-nav-a .h3 span {
    display: block;
    font-weight: normal;
}
#content-nav-a .expandable i {
    top: 40%;
}
#content-nav-a .bd {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 10px;
}
#content-nav-a .ft {
    padding: 0 10px 10px;
}
#content-nav-a .mod .h2 i {
    background-image: url("../../../../www.overstock.com/img/mxc/os-sprite-arrows-grid.png");
    background-position: -11px 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-left: 5px;
    vertical-align: middle;
    width: 11px;
}
.display-ads .module {
    display: block;
    margin-bottom: 10px;
}
.display-ads .module img {
    display: block;
}
.text_left, .text-left {
    text-align: left;
}
.text_right, .text-right {
    text-align: right;
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.italic {
    font-style: italic;
}
.strike {
    text-decoration: line-through;
}
.view-more {
    cursor: pointer;
    font-weight: bold;
}
.view-more:hover {
    text-decoration: underline;
}
.mod .more-categories {
    display: none;
}
.shop-now i {
    background: url("../../../../www.overstock.com/img/mxc/20100218_os_banner-arrow.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    font-size: 0;
    height: 7px;
    margin-left: 3px;
    vertical-align: middle;
    width: 5px;
}
.bulleted-list {
    list-style: disc outside none;
    padding-left: 15px;
}
.divided-list {
    border-top: 1px solid #CCCCCC;
}
.divided-list li {
    border-bottom: 1px solid #CCCCCC;
    padding: 0.4em 0 0.3em;
}
.separated-list li {
    padding: 0.35em 0;
}
.block-list li a {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 8px 8px 5px;
    text-decoration: none;
}
.block-list li a:hover {
    background: none repeat scroll 0 0 #FDFFD8;
    color: #000000;
    text-decoration: none;
}
.block-list .headline {
    float: left;
    width: 70%;
}
.block-list .shop-now {
    float: right;
    font-size: 100%;
    padding: 0;
}
.content-block {
    overflow: hidden;
    padding: 5px 0;
}
.section-heading {
    background: none repeat scroll 0 0 #6A6A6A;
    clear: both;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 12px 10px 10px;
}
.page-heading {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #CCCCCC;
    color: #333333;
    overflow: hidden;
    padding: 0.6em;
    position: relative;
}
.page-heading .bd {
    padding: 3em 0 1em 2em;
}
.page-heading h1, .page-heading h2, .page-heading h3, .page-heading h4, .page-heading h5, .page-heading h6 {
    font-size: 233.33%;
    font-weight: normal;
    line-height: 1em;
}
.page-heading .bd strong {
    color: #000000;
}
.page-heading .bd p {
    font-size: 150%;
    font-weight: normal;
    line-height: 1.2em;
}
.page-heading img {
    display: block;
    float: right;
    margin-left: 1em;
}













.help-center-logo {margin: 8px 0 10px 0px;}
.help-center-logo a {
	width: 212px;
	height:36px;
	background-image: url(../images/kb_images/ostk_logo_20130108.jpg);
	background-position: 0 0;
}
#content-nav-a {margin: 0;}
#content-nav-a .content-block {
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
#content-nav-a .help-topics {padding: 0 15px;}
#content-nav-a h2, .content-nav-b h2 {
	background-color: #F3F3F3;
	border-bottom: 1px solid #CCC;
	margin-bottom: 15px;
	font-size: 130%;
	padding: 10px 15px;
}
#content-nav-a .help-topic-nav a {
	color: #336699;
	font-size: 116.66%;
	line-height: 1.5em;
}
.help-topic-nav a:hover {
	text-decoration:underline;
}
#content-main {
	padding: 0 5px 5px 10px; 
	_display: inline-block;
}		
.grid-container.hc-oasis {margin: 10px 0 0 0;}
.hc-icon {
	background: url(../../../../www.overstock.com/img/mxc/os-help-center-sprite-resized-red-06272011.png);
	position: relative;
	display: inline-block;			    
	font-size: 1em;
	overflow: auto;
	margin: 0 15px 0 0;
 }    		
	.hc-icon.chat 	{background-position: -208px 0; width: 82px; height: 62px;}
	.hc-icon.mail 	{background-position: -290px 0; width: 84px; height: 52px;}
	.hc-icon.phone 	{background-position: -374px 0; width: 67px; height: 59px;}
	.hc-icon.user 	{background-position: -443px 0; width: 76px; height: 70px; vertical-align: middle;}
	.hc-icon.globe 	{background-position: -519px 0; width: 72px; height: 71px; vertical-align: middle;}
	.hc-icon.o-box 	{background-position: -591px 0; width: 71px; height: 70px; vertical-align: middle;}

a:hover .hc-icon {opacity:0.9;filter:alpha(opacity=90);}
.hc-icon-container {overflow: auto;}
#support-home-page .display-ad {
	background-color: #FFF;			
	display: inline-block;
	text-align: left;
	padding: 0;
	background: transparent;
}	
.display-ad a:hover	{
		color:#3399CC;
		text-decoration: none;
	}
#support-home-page .hc-row {
	color: #222;
	margin: 10px 0 0 0;
	_display: inline-block;			
}
.grid-content {
	margin: 0;
	padding: 0;
}
.hc-row .grid-content {
	text-align: center;
	margin: 15px 0;
	padding: 10px 10px 5px 10px;;
	border-left: 1px solid #ccc;
}
.hc-row .grid-content.first-child {border: 0;}
.page-heading {
	/*background: url(https://www.overstock.com/img/mxc/oasis-contact-customer-care-05102011.jpg) no-repeat scroll 0 0 #E0E2DD;*/
	background: url(
../../../../www.overstock.com/img/mxc/oasis-contact-customer-care-07152011.jpg) no-repeat scroll 0 0 #E0E2DD;
	height: 214px;
	padding: 0;
	width: 100%;
	border: 0;
}
.hc-row {border: 1px solid #ccc;}
.hc-row h3 {
	color: #FFF;
	background-color: #8A8C98;
	padding: 10px 15px;
	font-size: 130%;
}		
.hc-info {
	margin: 5px 0 0 0;
	display: inline-block;
	position: relative;
	white-space: normal;
	min-width: 210px;			
}
.hc-row.row-2 .hc-info		{vertical-align: middle; min-width: 240px;}
.hc-row.row-2 .hc-info .h4 	{font-size: 184%; display: inline-block;}	
.hc-row.row-1 .hc-info .h4 	{font-size: 216.66%; display: inline-block;}
.hc-info .wait-time 		{font-size: 116.66%; display: block;}
.hc-info .sub-heading 		{font-size: 116.66%; display: block; font-weight: bold;}
.hc-row.row-1 a:hover .hc-info-2 {
	color: #222;
}
.hc-info-2 {
	margin: 10px 0 0 0px;
	display: block;
	margin-top: 20px;
	font-size: 116.66%;
}
.hc-info-2 span {display: block;}
.display-ad.service-disabled .hc-icon {
	opacity: 0.15;
	filter:alpha(opacity=15);
}
.display-ad.service-disabled .wait-time {
	color: #C7202B;
}
.service-disabled {cursor: default;}
.service-disabled .h4 {color: #222;}

/*Breadcrumbs*/
#bread-crumbs {margin: 0px 0px 10px;}		
#bread-crumbs li,
#bread-crumbs a {
  color: #fff;
  float: left;
}		
.bread-crumbs {
  background-color: #f2f2f0;
  overflow: hidden;
  _float: none;
  _width: 100%;
}		
.bread-crumbs li,
.bread-crumbs a,
.bread-crumbs span,
.bread-crumbs fieldset {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}		
.bread-crumbs a,
.bread-crumbs span {
  font-weight: bold;
}		
.bread-crumbs fieldset input {
  vertical-align: text-bottom;
}		
.bread-crumbs li:first-child {
  background-image: none;
}		
.bread-crumbs li:first-child a {
  padding-left: 12px;
}		
.bread-crumbs .last-child {
  position: absolute;
  top: 0;
  right: -8px;
  display: block;
  width: 8px;
  height: 100%;
}		
.bread-crumbs li {
  background-position: 0 -30px;
}		
.bread-crumbs li a,
.bread-crumbs span,
.bread-crumbs fieldset {
  padding: 0 20px 0 20px;
  background-position: right 0;
}		
.bread-crumbs fieldset {
  _display: block;
  _float: left;
}		
.bread-crumbs .crumb-5,
.bread-crumbs li {
  background-color: #8B8e97;
}		
.bread-crumbs li fieldset a,
.bread-crumbs li label {
  display: inline;
  padding: 0 0 0 4px;
  background: none;
}		
.bread-crumbs label {
  font-weight: normal;
  cursor: pointer;
}		
.bread-crumbs li,
.bread-crumbs li fieldset,
.bread-crumbs li a,
.bread-crumbs li label {
  position: relative;
  white-space: nowrap;
}		
#bread-crumbs li a:hover {color: #fff;}
.crumb-1-bg, .bread-crumbs .crumb-1 							{background-color: #394153;}
.crumb-2-bg, .bread-crumbs .crumb-2, .bread-crumbs .crumb-2 a 	{background-color: #56596A;}
.crumb-3-bg, .bread-crumbs .crumb-3, .bread-crumbs .crumb-3 a 	{background-color: #626877;}
.crumb-4-bg, .bread-crumbs .crumb-4, .bread-crumbs .crumb-4 a 	{background-color: #757a87;}
.crumb-5-bg, .bread-crumbs .crumb-5, .bread-crumbs .crumb-5 a 	{background-color: #8A8C98;}
.bread-crumbs li.last-child, .bread-crumbs li.last-child a {
	position: relative;
	top: 0;
	right: 0;
	display: inline-block;
	width: auto;
	height: auto;
	background: none;
	_background: none;
	background-color: #8A8C98;
}        
.crumb-2-arrow, .crumb-3-arrow, .crumb-4-arrow, .crumb-5-arrow, .crumb-6-arrow {
	display: inline-block;
	float: left;
	height: 30px;
	width: 15px;
	background: transparent url(../../../../www.overstock.com/img/mxc/20110421-breadcrumb-sprite.png) no-repeat;
}
.crumb-2-arrow {background-position: 0 0;}
.crumb-3-arrow {background-position: -18px 0;}
.crumb-4-arrow {background-position: -36px 0;}
.crumb-5-arrow {background-position: -55px 0;}
.crumb-6-arrow {background-position: -72px 0;}        
.bread-crumbs li a {
	background: none;
	padding: 0 20px 0 17px;
}
.bread-crumbs a, .bread-crumbs li {background: none;}
.ostk_red {color: #C7202B;}
.rn_FileTypeIcon{display:none;}