/*-------------------
Print Styles
-------------------*/
/* Shopping bag page */
#checkout-cart #primary-content .checkout-cart-header,
.js #checkout-cart #primary-content .cart-content tr.item td.item-desc ul li.desc span.edit,
.js #checkout-cart #primary-content .cart-content tr.item td.item-desc ul li.desc span.remove,
#checkout-cart #primary-content .promotions .promo-data,
#checkout-cart #primary-content .promotions .promo-actions,
#checkout-cart #primary-content .cart-touts-bottom,
#checkout-cart #primary-content .actions.last,
#checkout-cart #primary-content .legal-duty,
#checkout-cart #primary-content .print,
#checkout-cart #footer-wrap {
	display: none;
}
#checkout-cart #primary-content .links {
	padding-bottom: 10px;
}
/* End shopping bag page */

body {
	background: #fff;
	letter-spacing: 0.04em;
}
	#logo,
	#primary-nav,
	#secondary-nav,
	#utility-nav,
	#mini-cart-wrap,
	#category-nav-wrap,
	#footer,
	#promo-nav,
	.receipt-actions,
	.product-view .prev-next,
	.product-view .image-util .views,
	.product-view .image-util .tools,
	.product-view .product .product-form .additional-info p.copy,
	.product-view .product .product-form  .swatches,
	.product-view .product .product-form .form-wrap,
	.product-view .product .product-form  .links {
		display: none;
	}
	#logo-print {
		display: block;
		margin: 0px auto 0px;
		width: 350px;
		height: 175px;
	}
	.content {
		background: #fff;
	}
		#primary-content {
			background: #fff;
			overflow: visible;
		}
			#product-content {
				float: none;
				margin: 0 auto;
			}
				#product-content .product {
					background: none;
					width: auto;
					height: auto;
				}
				.multiple-product-view #product-content div.product {
					height: auto;
				}
					.product-view .product .image-util {
						float: none;
						margin: 0 auto;
						padding: 0;
						width: 350px;
					}
						.product-view .product .image-util .image-wrap {
							width: 350px;
							height: 350px;
							background: url('../../../img/global/bg_product-print.png.html') center center no-repeat;
						}
					.product-view .product .product-form {
						position: relative;
						float: none;
						margin: 0 auto;
						padding: 1em 0 0;
						width: 374px;
						text-align: center;
					}
						.product-view .product,
						.product-view .product .product-form .info h2.name,
						.product-view .product .product-form .info .price {
							color: #191a1d;
							text-transform: uppercase;
							font-family: Arial;
						}
						.product-view .product .product-form .info {

							font-family: Arial;
						}
							.product-view .product .product-form .info .price {
								position: absolute;
								top: 6.2em;
								left: 0;
								width: 374px;
								text-align: center;
							}
							.product-view .product .product-form .info .skus {
								display: block;
								position: absolute;
								top: 8.2em;
								left: 0;
								width: 374px;
								font-size: 14px;
								text-align: center;
								font-family: Arial;
							}
								.product-view .product .product-form .info .skus li {
									display: block;
									padding-bottom: .4em;
								}
							.product-view .product .product-form .info .color-wrap {
								padding: 0;
							}
/* Checkout receipt hide create account*/
.receipt-view .create-account {
	display: none;
}
.receipt-view .user-info {
	width: 100%;
}
#checkout-receipt td.price,
#checkout-receipt td.item-total,
#checkout-receipt table.totals {
	font-family: Arial;
}
/* New checkout order receipt */
#checkout-receipt,
#checkout-receipt h2,
#checkout-receipt p,
#checkout-receipt #ship-address li,
#checkout-receipt #ship-method li,
#checkout-receipt .bill-address li,
#checkout-receipt .payment-method li,
#checkout-receipt .contact-info li,
#checkout-receipt .ship-and-hand span,
#checkout-receipt #ship-and-hand-link span,
#checkout-receipt table.items td {
	color: Black;
	font-family: Arial;
}
#checkout-receipt .ship-and-hand span a,
#checkout-receipt #ship-and-hand-link span a {
	color: Black;
	font-family: Arial;
	text-decoration: none;
}
#checkout-receipt #logo-print {
	height: 123px;
	width: 209px;
}
#checkout-receipt #did-you-know,
#checkout-receipt #order-change-dirs,
#checkout-receipt #shopping-bag-faq,
#checkout-receipt .print-link{
	display: none;
}
#checkout-receipt #gift-box-summary .article {
	min-height:0;
	padding-left:0;
}
/* End new checkout order receipt */

/* Wish List */
#accountsection-wishlist #primary-content .wish-list-share .form-wrap,
#accountsection-wishlist #primary-content .wish-list-share .share-it,
#accountsection-wishlist #primary-content .wish-list-share h3 {
	display: none;
}
#accountsection-wishlist #primary-content .wish-list-share .print {
	padding: 0 81px 0 0 !important;
	float: right;
}