@charset "UTF-8";
/* CSS Document */

#privacy-container {margin:0px 0px 0px 10px;}
#privacy-container #left-col {width:204px; float:left; padding:0px 19px 0px 5px;}
#privacy-container #right-col {width:713px; float:left;}

#privacy-container a {color:#006bb6; text-decoration:none;}
#privacy-container a:hover {color:#006bb6; text-decoration:underline;}

#privacy-container h1{color:#006bb6; font-size:18px; font-weight:normal; margin:0px; padding:5px 0px 10px 0px;}
#privacy-container h2{ background:url(../_images/leftnav-top-tall.gif) no-repeat 0px 0px; padding:3px; font-size:16px; color:#ffffff; font-weight:normal; margin:0px;}
#privacy-container h3 {color:#006bb6; font-size:14px; font-weight:bold; border-bottom: #006bb6 1px solid; padding:40px 0px 5px 0px; margin:0px;}
#privacy-container h4{color:#444444; font-size:11px; font-weight:bold; margin:0px; padding:0px;}
#privacy-container h5{color:#444444; font-size:11px; font-weight:bold; margin:0px; padding:0px 0px 0px 30px;}

#privacy-container ul{margin:0px 0px 20px 0px; padding:0px 0px 0px 15px;}
#privacy-container ul#anchor-links{color:#006bb6; margin:10px 0px 20px 15px; padding:0px;}
#privacy-container ul#side-nav{border-right:1px solid #006bb6; border-left:1px solid #006bb6; padding:5px 5px 0px 5px; list-style-type:none; margin:0px;}
#privacy-container ul#side-nav li{font-size:12px; padding:0px 0px 10px 0px;}
#privacy-container #side-nav-bottom{background:url(../../no-hassle-return-policy/_images/leftnav-bottom.jpg) no-repeat left bottom; padding:0px 0px 10px 0px; }

#privacy-container p{margin:0px; padding:0px 0px 20px 0px;}
#privacy-container p.indent{padding:0px 0px 20px 30px;}
#privacy-container p#bullet-exception{padding:0px 0px 0px 0px;}
#privacy-container p.backtotop{ background:url(../../no-hassle-return-policy/_images/arrow-backtotop.jpg) no-repeat 0px 2px; padding:0px 0px 20px 10px;}

sup { height: 0; line-height: 1.2; vertical-align: top; position: relative; font-size: 8px;}