/* Default Search-as-You-Type (SAYT) styles for the default formatter. */

/**
 * Container that holds entire SAYT region.
 */
.cse-sayt {
  border-top: 2px #CCC solid;
  width: 100%;
}

/* The searchbox stuff turns off wrapping, which breaks some of the SAYT layout.
 * This should turn it back on for all divs that are part of SAYT. */
.cse-sayt div {
  white-space: normal;
}

/* Container for one row that contains 1 product match.
 * Inside this is 2 subcontainers, cse-sayt-image and cse-sayt-text.
 * cse-sayt-text in turn contains cse-sayt-title and then an unstyled
 * description.
 */
.cse-sayt-result {
}

/* Container for one row that contains 1 promotion result.
 * Inside this is 2 subcontainers, cse-sayt-image and cse-sayt-text.
 * cse-sayt-text in turn contains cse-sayt-title and then an unstyled
 * description.
 */
.cse-sayt-promotion {
}

.cse-sayt TD {
  vertical-align: top;
}

/* Image with link to product page. Set up to be rendered to the left
 * of the text.
 */
.cse-sayt-image {
}

/* Contains title and description. */
.cse-sayt-text {
}

/* Product title. */
.cse-sayt-title {
  font-weight: bold;
}

/* Product description */
.cse-sayt-descr {
}

/* Product price */
.cse-sayt-price {
  font-weight: bold;
}
