
.padd10 {
	padding: 10px;
}
.padd5 {
	padding: 5px;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
}
.bgUniCart {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background-image: url(../images/top-nav_10.gif);
	background-repeat: repeat-y;
	background-position: left top;
}
.padTopNavBtnsTop {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.bgUniTopNav {
	background-image: url(../images/_headerfooter/u_bg_toptopnav.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.padUniTopLogosArea {
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
}
#dropCart {
	position:absolute;
	right: 0px;
	width:340px;
	z-index:4;
	background-image: url(../images/u_bg_dropcart.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #C2C2C2;
	visibility: hidden;

}
.cartTotal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding-left: 6px;
}
.cartTotalDrop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
.hrDropCart {
	padding-top: 6px;
	padding-right: 75px;
	padding-bottom: 6px;
	padding-left: 48px;
}
.cartDropThmb {
	padding-right: 6px;
}

.cartProdName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.cartQuantEtc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333;
}
.cartSubTotal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.cartItemTotal {
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666;
	text-align: right;
}
.padd20 {
	padding: 20px;
}
.makeItRed {
	color: #C00;
}
.grayLinkNoUL {
	color: #333;
	text-decoration: none;
}
.prodListCell{
      padding: 1px 1px 0px 22px;
}
 .padd0 {
	margin: 0px;
	padding: 0px;
}
.hrDashedMedGray {
	background-image: url(../images/hr_dashed_ltgray.gif);
	background-repeat: repeat-x;
	background-position: center center;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
}
.vruleDashedMedGray {
	background-image: url(../images/vr_dashed_ltgray.gif);
	background-repeat: repeat-y;
	background-position: center center;
	padding: 3px;
}
.padd10Left {
	padding-left: 10px;
}
.padd10LandR {
	padding-right: 10px;
	padding-left: 10px;
}
.padd10Right {
	padding-right: 10px;
}
.f0rmProflieDisplay {
	font-family: helvetica, arial, sans-serif, swiss;
	font-size: 12px;
	color: #333;
	background-color: #ececec;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #666;
	border-left-color: #fff;
}
.makeItBlack {
	color: #000;
}
.nothingFound {
	font-family: Helvetica, arial, sans-serif, swiss;
	font-size: 16px;
	line-height: 20px;
	color: #666;
}
.popErrorText 
{	
	font-family: Helvetica, arial, sans-serif, swiss;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	padding-top: 9px;
	padding-bottom: 9px;
}
#dvAnswer {
	position:absolute;
	width:400px;
	z-index:8;
	background-color: #999;
	padding: 10px;
	margin-top: -50px;
	margin-left: -200px;
}
.ruleHorDashWideGrayTop {
	background-image: url(../images/rule_h_dashwide.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-top: 8px;
}
#dvCheckoutGood, #dvCheckoutBad{
	float: left;
	margin: 0 0 0 180px;
}
#dvCheckoutGood p, #dvCheckoutBad p{
	color: #888;
	font-family: Helvetica, arial, sans-serif, swiss;
	font-size: 14px;
	font-weight: bold;
	width: 375px;
}
#lnkNevermind{
	float: left;
	display: block;
	width: 200px;
}
#lnkiShopUSA{
	float: right;
	display: block;
	width: 180px;
}
#lnkiCheckout{
	float: right;
	display: block;
	width: 180px;
}
#dvGoodCart, #dvBadCart{
	float: right;
	margin-right: 35px;
	width: 245px;
}
#warnNoShip{
	color: #ed1c24;
	font-size: 14px;
	margin-bottom: 5px;
}
#brandDropDowns{
	background:#707070;
	float:right;
	margin: 20px 0 40px 0;
	padding-bottom: 5px;
	width: 228px;
}
#brandDropDowns select{
	clear:right;
	display:block;
	float:right;
	margin: 5px 5px 0 5px;
	width: 218px;
}





div.plistOuterSm{
	background: #fff url(../images/bg_smList.gif) no-repeat left bottom;
	display: block;
	float: left;
	height: 160px;
	position: relative;
	text-align:center;
	width: 120px;
}
div.plistOuterSm:hover{
	background: #fff url(../images/bg_smList.gif) no-repeat left top;
}
div.plistOuterSm a{
	color: #000;
	text-decoration: none;
}
a.smProdLink img{
	border: 0;
	height: 118px;
	margin: 1px;
	width: 118px;
	display: block;
}
a.plistSmQuick{
	display: none;
	height: 19px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 40px;
}
div.plistOuterSm div.plistName{
	background: #fff;
	bottom: 21px;
	display: block;
	font-weight: bold;
	height: 26px;
	left: 1px;
	line-height: 13px;
	padding: 1px 0;
	/*position: absolute;*/
	/*width: 118px;*/
}
div.plistOuterMed{
	background: #fff url(../images/bg_medList.gif) no-repeat left bottom;
	display: block;
	float: left;
	height: 200px;
	position: relative;
	text-align:center;
	width: 160px; 
	margin-bottom: 20px;
}
div.plistOuterMed:hover{
	background: #fff url(../images/bg_medList.gif) no-repeat left top;
}
div.plistOuterMed a{
	color: #000;
	text-decoration: none;
}
a.medProdLink, a.smProdLink, a.lrgProdLink{display: block; position: relative; z-index: 1;zoom: 1;}
.plistSmQuick, .plistMedQuick, .plistLrgQuick{z-index: 1; zoom: 1;}
span.free-ship{
	background: url('../images/2011/free-ship-badge-2012.png') no-repeat 0 0;
	height: 28px;
	left: 1px;
	position: absolute;
	top: 0;
	width: 77px;
	z-index: 10;
}
a.medProdLink img{
	border: 0;
	height: 158px;
	margin: 1px;
	width: 158px;
	display: block;
}
a.plistMedQuick{
	display: none;
	height: 19px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 40px;
}
div.plistOuterMed div.plistName{
	background: #fff;
	bottom: 21px;
	display: block;
	font-weight: bold;
	height: 26px;
	left: 1px;
	padding: 1px 0;
	/*position: absolute;*/
	/*width: 158px;*/
}
div.plistOuterLrg{
	background: #fff url(../images/bg_lrgList.gif) no-repeat left bottom;
	display: block;
	float: left;
	height: 260px;
	position: relative;
	text-align:center;
	width: 240px;
}
div.plistOuterLrg:hover{
	background: #fff url(../images/bg_lrgList.gif) no-repeat left top;
}
div.plistOuterLrg a{
	color: #000;
	text-decoration: none;
}
a.lrgProdLink img{
	border: 0;
	height: 238px;
	margin: 1px;
	width: 238px;
	display: block;
}
a.plistLrgQuick{
	display: none;
	height: 19px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 40px;
}
div.plistOuterLrg div.plistName{
	background: #fff;
	bottom: 21px;
	display: block;
	font-weight: bold;
	height: 13px;
	left: 1px;
	padding: 1px 0;
	position: absolute;
	width: 236px;
}
#quickShop {
	position:absolute;
	width:100%;
	height:500px;
	z-index:99;
	left: 0;
	top: 150px;
	overflow: visible;
	display:none;
}
a.smProdLink div.exclusiveImg, a.medProdLink div.exclusiveImg, a.lrgProdLink div.exclusiveImg{
	background: #fff;
	height: 15px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 107px;
	width: 100%;
	z-index: 0;
}
a.medProdLink div.exclusiveImg{
	top: 147px;
}
a.lrgProdLink div.exclusiveImg{
	top: 209px;
}
a.smProdLink img.badgeExcl, a.medProdLink img.badgeExcl, a.lrgProdLink img.badgeExcl{
	height: 15px;
	margin: 0 auto;
	width: 70px;
}




div.liveChatHolder {
    float: left;
    width: 128px;
    height: 36px;
    background: #000;
}
.btn-dom-check, .btn-int-check{
	background: #000;
	color: #fff;
	float: left;
	margin: 1px 0;
	padding: 1px 2px;
	text-decoration: none;
	text-transform: uppercase;
}
.btn-dom-check{
	background: #f18f28;
	color: #000;
	margin: 1px 1px 1px 0;
}
.cartTotalDrop{
	text-align: right;
}
.lnk-remove-cart{
	color: #fff;
	display: block;
	text-transform: lowercase;
}
.cart-magic-table{width: 100%;}

.flip-nav{
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 35px;
	z-index: 500;
}
.flip-nav li{
	background: #fff;
	clear: both;
	float: right;
	margin: 0 0 10px;
	width: 33px;
}
.flip-nav li.active{
	background: #fffd48;
	clear: both;
	float: right;
	margin: 0 0 5px;
	width: 49px;
}
.nav-num{
	background: url('../images/2011/bg-flip-nav.png') no-repeat 0 0;
	display: block;
	height: 21px;
	margin: 3px 0 1px 5px;
	width: 100%;
}
.nav-2{
	background-position: 0 -21px;
}
.nav-3{
	background-position: 0 -42px;
}
.nav-4{
	background-position: 0 -63px;
}
.nav-5{
	background-position: 0 -84px;
}
.nav-6{
	background-position: 0 -105px;
}
.nav-7{
	background-position: 0 -126px;
}
.nav-8{
	background-position: 0 -147px;
}
.nav-9{
	background-position: 0 -168px;
}
.flip-play-pause{
	background: url('../images/2011/bg-play-pause.png') no-repeat 0 0;
	display: block;
	position: absolute;
	height: 10px;
	right: 10px;
	top: 11px;
	width: 10px;
	z-index: 300;
}
.flip-btn-pause{
	background: url('../images/2011/bg-play-pause.png') no-repeat 0 -10px;
}
.flip-hero{
	position: relative;
	z-index: 1;
}
.lnk-flip{
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}
.flip-hero .active{
	display: block;
	z-index: 100;
}
.flip-cell a, .flip-cell img, .flip-cell a img{border: none;}
.bgBrandCrave .brand-wrap{
	height: 65px;
	overflow: hidden;
	position: relative;
	width: 730px;
}
.lnk-brand{
	background: #fff;
	border: none;
	height: 65px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 73px;
	z-index: 100;
}
.lnk-brand img{
	border: none;
	height: auto;
	margin: auto;
	max-width: 100%;
	width: auto;
}