#main-content {
    background-image: url(../../netflix.hs.llnwd.net/e1/us/layout/page_titles/bgvignette/950w/Blank.jpg);
    background-repeat: no-repeat;
    width: 950px;  
    margin:0;
    padding:0;
    margin: auto; 
    background-color: #fff;
}

.contactPR {
    padding: 20px;
}

#page-content {
    padding: 20px;
}

.page-content a {
    color: #00458B;
}
.page-content a:hover {
    color:#dc181e;
}

.std {
  font-family: arial, sans-serif;
  color: #333;
  font-size: 13px;
}

#page-title {
   padding:10px 0;
}

#page-title h1 {
    font: bold 18pt/1em arial, helvetica, sans-serif;
    margin: 0 0 4px 0;
    color: #3B3B3B;
    padding-bottom:10px;
}
.vignette {
    padding: 10px 0 20px;
}
#page-title.vignette h1 {
    padding: 0;
}
.vignette .tagline {
    font: 13px verdana,sans-serif;
    letter-spacing: 0.025em;
    margin: 0 0 2px;
    display: inline-block;
}
.tou p{
  padding:10px 0;
}

.tou ul {
    list-style:none;
}


.privacy  ul {
   padding-left:40px;
}

.privacy p, .dvds p{
   padding:10px 0;
}

.privacy h3, .dvds p {
   padding:10px 0;
}

.privacy a.back {
   color: #00458B;
}

.dvds ul {
    padding-left:50px;
}

#main-content .jobs {
   background-image:none;
}

.break .hr hr {
    display:none;
}

#main-content .press-content {
    width: 566px;
}
#main-content .press-content a {
    color: #00458B;
}

.press-content .managementteamtable td {
    font-weight: bold;
    padding-left: 10px;
    padding-bottom:5px;
}

.press-content  td {
    vertical-align: middle;
    padding-bottom:5px;
}

.page-COMPANIES .address {
    margin-bottom: 20px;
}
.page-COMPANIES address {
    font-style: normal;
}

.legal h1 { margin-top:0px;
    margin-bottom:36px;
    background:none;
    border:none;
    width:700px;
    font-size:24px;
    color:#3B3B3B;
}
.legal a {text-decoration:underline;color: #00458B;}
.legal a:hover {color:#DC181E;}
.legal {
    background-color:#fff;
    background-position:0 0;
    background-repeat:no-repeat;
    margin:auto;
}
.legal #main-content {padding:20px; width:auto;}
.legal hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
    clear:both;
}

.legal #main-content footer, .main-body .legal footer {
    color:#3B3B3B;
    text-align:left;
}

.legal.content h2 {
    margin:20px 0;
}

.notices ul {
    padding-left:40px;
}

.notices p {
    padding:10px 0;
}


.tou {width:95%;}
.tou .index .leftcol { float:left; width:50%; }
.tou .index .rightcol { float:right; width:50%; }
.tou .index ul { list-style: none; margin-left: 0; padding:0; }
.tou .index ul.child1 { padding-left:15px; }
.tou .index li { padding:0 25px 3px 0; }
.tou h2 {font-size:14px;}
.tou h3 {font-weight:normal; font-size:13px;}
.tou p{padding:10px 0;}
.tou ul { list-style:none;}


.eula-terms ol {
    padding-left:40px;
}
.eula-terms {
    width:95%;
}
.eula-terms .effective {
    text-decoration:underline;
    font-weight:bold;
}
.eula-terms p {
    margin-top:0px;
}
.eula-terms h2 {
    margin:0;
    padding-bottom:5px;
    font-size:14px;
    display:inline-block;
}
.eula-terms h3 {
    padding-right:15px;
    display:inline;
    font-size:inherit;
    font-weight: normal;
}
.eula-terms small {
    text-decoration: underline;
    font-size:inherit;
}
.eula-terms li {
    padding-bottom:15px;
}
.eula-terms ul {
    list-style-type:none;
}

.eula-terms ol.lowerlatin li {
    list-style-type:lower-latin;
}
.eula-terms ol.lowerlatin li:first-of-type {
    padding-top:5px;
}
.eula-terms li.last {
    margin-bottom:0;
    padding-bottom:0;
}
.eula-terms ul p {
    margin-top:0px;
}

.eula-terms ul>li {
    list-style-type:none;
}


.dvdterms {width:90%;}
.dvdterms h2 {
	margin:0;
	padding-bottom:5px;
	font-size:14px;
}

.opensourcenotices {width:90%;}
.opensourcenotices h2 {
    margin:0;
    padding-bottom:5px;
    font-size:14px;
}
.opensourcenotices p.copyright {padding-top:0px;margin-top:0px;}

.privacypolicy  ul {
   padding-left:40px;
}

.privacypolicy p{
   padding-bottom:10px;
}

.privacypolicy h3 {
   padding:10px 0;
}

.privacypolicy {width:95%;}
.privacypolicy a.back {
	font-size:10px;
	padding-bottom:10px;
	display:block;
    color: #00458B;
}

.privacypolicy .index .leftcol {
	float: left;
	width: 47%;
}

.privacypolicy .index .rightcol {
	float: right;
	width: 47%;
}

.privacypolicy ul {
	list-style: none;
	margin-left: 0;
	padding: 0 0 10px 0;
}

.privacypolicy .index li  {
	padding-bottom:3px;
}

#gift_terms_legal h3 {
    font-size: 36px;
    padding-bottom:10px;
}

section#gift_terms_legal {
    padding:0 20px 0 0;
}

section#gift_terms_legal ol {
    font-size: 12px;
    padding: 7px 0 7px 25px;
}

section#gift_terms_legal li {
    padding-bottom: 10px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content p, .content td {
    color: #333;
}

.content .emphasis {
    font-weight: 700;
}

body > footer, section#fb-connected {
    margin: 0 auto;
    width: 960px;
}

body > .content {
    box-shadow: 0 2px 10px #999;
    background-color: #fff;
    padding: 40px;
    width: 880px;
}

#signupform {
    padding: 0;
}

.content h1 {
    font-size: 40px;
    font-weight: 700;
}

.content h2 {
    font-size: 26px;
    font-weight: 400;
    color: #B9090B;
    margin-bottom: 20px;
}

.content h3, p.subhead {
    font-size: 22px;
    font-weight: 700;
}

.content.gift h3 {
    margin-bottom:15px;
}

.content h4 {
    font-size: 20px;
    font-weight: 700;
}
.content.gift h5 {
    font-size:15px;
    font-weight:normal;
    width:90%;
}
button#membutton,
button#membuttonisp {
    font-size: 20px;
}

button#membutton,
button#membuttonisp,
#regform input[type="submit"].happy-path, #regform button.happy-path,
#regform input[type="submit"].happy-path:hover, #regform button.happy-path:hover,
#regform input[type="submit"].happy-path:active, #regform button.happy-path:active,
#loginform input[type="submit"].happy-path, #loginform button.happy-path,
#loginform input[type="submit"].happy-path:hover, #loginform button.happy-path:hover,
#loginform input[type="submit"].happy-path:active, #loginform button.happy-path:active {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 7px;
    font-weight: bold;
    background: #0b407c; /* Old browsers */
    background: -moz-linear-gradient(top, #1c86ff 0%, #0b407c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c86ff), color-stop(100%, #0b407c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1c86ff 0%, #0b407c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1c86ff 0%, #0b407c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1c86ff 0%, #0b407c 100%); /* IE10+ */
    background: linear-gradient(top, #1c86ff 0%, #0b407c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1c86ff', endColorstr = '#0b407c', GradientType = 0); /* IE6-9 */
    padding: 8px 35px;
    min-width: 0;
    border-radius:0\9;
}

button#membutton.red  {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 7px;
    font-weight: bold;
    background: #ae1a0a; /* Old browsers */
    background: -moz-linear-gradient(top, #C91D0C 0%, #ae1a0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C91D0C), color-stop(100%, #ae1a0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C91D0C 0%, #ae1a0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C91D0C 0%, #ae1a0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C91D0C 0%, #ae1a0a 100%); /* IE10+ */
    background: linear-gradient(top, #C91D0C 0%, #ae1a0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#C91D0C', endColorstr = '#ae1a0a', GradientType = 0); /* IE6-9 */
    padding: 8px 35px;
    min-width: 0;
    -moz-box-shadow: 2px 2px 2px #CCC;
    -webkit-box-shadow: 2px 2px 2px #CCC;
    box-shadow: 2px 2px 2px #CCC;
    margin-bottom:5px;
    border-radius:0\9;
}
input:invalid,
select:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus,
select:focus {
    -webkit-box-shadow: #0066ff 0 0 5px 0;
    -moz-box-shadow: #0066ff 0 0 5px 0;
    box-shadow: #0066ff 0 0 5px 0;
    z-index: 1;
}

input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: black;
    outline: 0;
    margin: 0;
    padding: 2px 3px;
    text-align: left;
    font-size: 13px;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    height: 1.8em;
    vertical-align: top;
    *padding-top: 2px;
    *padding-bottom: 1px;
    *height: auto;
}

select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
    background-color: #eeeeee;
}

input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888888;
    cursor: default;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #888888;
}

input.placeholder_text,
textarea.placeholder_text {
    color: #888888;
}

select[size],
select[multiple] {
    height: auto;
}

select[size="0"],
select[size="1"] {
    height: 1.8em;
    *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    select[size],
    select[multiple],
    select[multiple][size] {
        background-image: none;
        padding-right: 3px;
    }

    select,
    select[size="0"],
    select[size="1"] {
        background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 20px;
    }

    ::-webkit-validation-bubble-message {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
        border: 1px solid;
        border-color: #747474 #5e5e5e #4f4f4f;
        color: white;
        font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
        overflow: hidden;
        padding: 15px 15px 17px;
        text-shadow: black 0 0 1px;
        height: 16px;
    }

    ::-webkit-validation-bubble-arrow,
    ::-webkit-validation-bubble-top-outer-arrow,
    ::-webkit-validation-bubble-top-inner-arrow {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #666666;
        border: 0;
    }
}

optgroup {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
optgroup::-moz-focus-inner {
    border: 0;
    padding: 0;
}
