/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
https://netflix.hs.llnwd.net/e1/us/icons/nficon.ico
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
input[type="submit"], input[type="radio"], input[type="checkbox"],
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*- self-clearing floats ----------*/
.clearfix:after{ content: "."; display: block; font-size: 0; line-height: 0; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
/**** Netflix core CSS ****/
html {
background-color: #B9090B;
font-family:arial,helvetica,sans-serif;
font-size:12px;
overflow-y: scroll;
}
body {
margin:0 auto 20px;
width:950px;
}
.nf_left_60 {
float:left;
width:60%;
}
.nf_right_40 {
float:right;
width:40%;
}
#signupform fieldset dl:after,
.nf_cols:after { 
    content: "."; display: block; font-size: 0; line-height: 0; height: 0; clear: both; visibility: hidden;
}
#signupform fieldset dl, 
.nf_cols { 
    zoom: 1;
}

/** global styling **/
body {
    line-height: 1.3;
    color: #333;
}
a {
    color: #09F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.page-title {
    font-size: 200%;
    font-weight: bold;
}
.section-title {
    font-size: 21px;
    font-weight: bold;
}
strong {
    font-weight:bold;
}
.delimitedList li:last-child span {
    display: none;
}
.delimitedList {
    overflow:hidden;
}
.delimitedList,
.delimitedList li {
    list-style: none;
}
.delimitedList li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.delimitedList span {
    padding-right: 3px;
}
.movie-boxshot,
.movie-metadata {
    float: left;
}
.movie-boxshot {
    padding-right: 18px;
}
.boxshot img {
    border:1px solid #bbbbbb;
}
.mdpLink {
    display: inline-block;
}
input::-webkit-input-placeholder {
    color: #666;
}
input:-moz-placeholder {
    color: #666;
}
input.placeholder {
    color: #666;
}
/**********  column heights  ***************/

.flexbox .nf_cols {
    display:-webkit-box;
    display:-moz-box;
    display:box;
}

.flexbox .nf_cols > div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.nf_left_570 {
    width:570px;
    background-color: #fff;
    float:left;
}

.flexbox .nf_left_570 {
    float:none;
}

.nf_right_380 {
    width:380px;
    background-color: #FDF5D6;
    float:right;
}

.flexbox .nf_right_380 {
    float:none;
}

.nf_left_310 {
    width:310px;
    background-color: #fff;
    float:left;
}

.flexbox .nf_left_310 {
    float:none;
}

.nf_right_640 {
    width:640px;
    float:right;
    background-color: #FDF5D6;
}

.flexbox .nf_right_640 {
    float:none;
}

.nf_cols > .nf_left_310 > section {
    padding:20px;
}

/**** header ****/
header .logo {float:left;width:150px;}
header .logo a { display: block; }
header .hlinks    {float:right;text-align:right;color:#fff;position:relative;}
header .hlinks .tpad    {display: inline-block; *display: inline; padding-right:20px;}
header .hlinks    a{text-decoration:none;color:#fff;}
header .hlinks    a:hover{text-decoration:underline;}
header #masthead {
    margin:10px;
}
header #masthead ul {
    margin:0;
    padding:0;
    list-style:none;
}
header #masthead li {
    display: inline-block;
    *display: inline; /* For IE6/IE7 */
    zoom: 1; /* For IE6/IE7 */
    margin-left:15px;
}
#msil {
    display: inline-block;
    *display: inline; 
    background-color:#990000; 
    padding: 5px 20px; 
    zoom: 1;
    text-align:center;
}

.errors {
    border: 1px solid #CCC;
}
.errors-bd {
    padding: 8px;
    background-color: #EEE;
    border: 1px solid white;
    color: #535353;
    line-height: 1.5em;
    text-align: left;
    font-size: 12px;
}
.errors-bd li {
    list-style-type: none;
}
.error-icon-sm,
.confirm-icon-sm {
    padding-left: 44px;
    min-height: 16px;
}
.error-icon-sm {
    background-image: url("../../netflix.hs.llnwd.net/e1/us/icons/svf_std_error_s.gif");
    background-position: 8px 4px;
    background-repeat: no-repeat;
}
.confirm-icon-sm {
    background-image: url("../../netflix.hs.llnwd.net/e1/us/icons/svf_std_confirm_s.gif");
    background-position: 8px 4px;
    background-repeat: no-repeat;
}
.field-row {
    padding-bottom: 5px;
    overflow: hidden;  /** for collapsing margin fix **/
}
.field-label {
    float: left;
    text-align: right;
    line-height: 2em;
    padding-right: 10px;
    position: relative;
}
.field-input {
    float: left;
    padding: 1px;
    position: relative;
}
.form-button {
    font: -webkit-small-control; /** keeping input and button tag consistent on webkit **/
}
.form-secureserver,
.form-padlock {
    background: url("../../netflix.hs.llnwd.net/e1/us/layout/signup/950/b3/padlock_sm.gif") no-repeat; 
    padding: 3px 0 0 15px;
    font-size: 10px;
    display: inline-block;
    *display: inline;
}
.field-indent {
    margin-left: 30%;
    padding-left: 10px;
}
.field-input .note {
    padding-left: 22px;
}
.inputText {
    margin: 0;
    font-size: 12px;
    color: #000;
}
/*
 * Subset of full CSS for jQuery UI
 * jQuery UI CSS Framework 1.8.11
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }
/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,sans-serif; font-size: 12px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff ; color: #000; }
/*.ui-widget-content a { color: #000; }*/
.ui-widget-header { border: 1px solid #b9090b; background: #b9090b; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }
----------------------------------*/
/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; }
.ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-top { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-right {  -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-left { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
/* Overlays */
.ui-widget-overlay { background: #ffffff; opacity: .0;filter:Alpha(Opacity=0); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
/*
 * jQuery UI Dialog 1.8.11
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
 /***** Netflix specific treatment for Dialog. Additional image references will have to leave in template ****/
.ui-widget-overlay { background: #000; opacity: 0.5; filter: alpha(opacity = 50);}
.ui-dialog { position: relative; width: 300px;  -moz-box-shadow: 0 6px 12px #000000;-webkit-box-shadow: 0 6px 12px #000000;box-shadow: 0 6px 12px #000000;}
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;}
.ui-dialog .ui-dialog-title { float:left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { float:right; height:25px; }
.ui-dialog .ui-dialog-titlebar-close span {margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; background: none; overflow: hidden; zoom: 1; }
.ui-dialog-titlebar {background-color:#B9090B;}
.ui-dialog .ui-dialog-titlebar a, .ui-dialog .ui-dialog-titlebar a:hover{
    text-decoration: none !important;
}
.ui-dialog a {
    outline: none;
}
.ui-dialog .ui-dialog-titlebar a.close span {
    background: url("../../netflix.hs.llnwd.net/e1/us/pages/templates/base/button_icons.gif") no-repeat scroll right -95px transparent;
    padding-right: 14px;
    height:12px;
}
.svfb-default {
    background: url("../../netflix.hs.llnwd.net/e1/us/pages/templates/base/button_bg.png") repeat-x scroll 0 0 #C9C5BD;
    border: 1px solid #C9C5BD;
    color: #444444 !important;
}
/***** SVF Button ******/
.svf-button {
    display: block;
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    outline: medium none;
    text-decoration: none !important;
}
.svf-button span {
    font-size: 12px;
    padding: 5px 5px 4px;
}
.svf-button span {
    border: 1px solid #FFFFFF;
    display: block;
}


div.bgwhite {background-color:#fff;}

/*** popups ****/
#popupbody {
    padding:15px;
    background-color:#fff;
}
body.popup {
     width:auto;
     margin: auto;
}
body.popup header #masthead a.close span {
    background: url("../../netflix.hs.llnwd.net/e1/us/pages/templates/base/button_icons.gif") no-repeat scroll right -95px transparent;
    padding-right: 14px;
    height:12px;
}

body.popup header #masthead div.close {
    float:right;
}

.nflx-layer .layerbody {
    padding:15px;
}

/*** selected browse link ***/
.genre-links .sellink {
    font-weight:bold;
}

/***** form error messaging ****/
#aerrors ul {
    list-style-type: none;
    background: url(../../netflix.hs.llnwd.net/e1/us/icons/error.gif) no-repeat;
    color:#D9181E;
    padding-bottom:10px;
}
#aerrors li {
    margin-left:26px;
    padding-bottom:5px;
    font-weight:bold;
    line-height:1.1em;
}
#aerrors li:first-child {
     padding-top:3px;
}

#amessages ul {
    list-style-type: none;
    background: url(../../netflix.hs.llnwd.net/e1/us/icons/svf_std_info_s.gif) no-repeat;
    padding-bottom:20px;
}
#amessages li {
    margin-left:30px;
    padding-bottom:5px;
    font-weight:bold;
    line-height:1.1em;
}
#amessages li:first-child {
     padding-top:5px;
}

.movie-main {
    background-color: #FFF;
    padding: 20px 0;
}
.movie-leftcol{
    padding: 0 20px;
}
.movie-main #regblock, 
.movie-main #regrec {
    border: 1px solid #969696;
    margin-top: 10px;
    margin-right: 10px;
}
/********* Blue Button **********/
.blue-button {
    background-color: #006BAC;
    background-image: url(../../netflix.hs.llnwd.net/e1/us/layout/ecweb/overview/blue_gradient.jpg);
    background-repeat: repeat-x;
    display: inline-block;
    text-align: center;
    border: 0;
    padding: 0;
}
.blue-button span {
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin: 1px;
    min-width: 92px;
    padding: 4px 8px;
    font-weight:bold;
    color:#fff;
}
.gray-button {
    background-color: #b4b3b2;
    background-image: url(../../netflix.hs.llnwd.net/e1/us/layout/ecweb/common/gray_gradient.png);
    background-repeat: repeat-x;
    display: inline-block;
    text-align: center;
    border: 0;
    padding: 0;
}
.gray-button span {
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin: 1px;
    min-width: 92px;
    padding: 4px 8px;
    font-weight:bold;
    color:#000;
}

/************* FB Button ******************/
/*
a.btn_connect_fbb {
    background: none repeat scroll 0 0 #5F78AB;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    outline: medium none;
    padding: 0 0 0 1px;
    text-decoration: none !important;
}

a.btn_connect_fbb span {
    background: url(https://netflix.hs.llnwd.net/e1/us/facebook/fb_logo.png) no-repeat scroll left center #5F78AB;
    border-bottom: 1px solid #1A356E;
    border-top: 1px solid #879AC0;
    color: #FFFFFF;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    margin: 1px 1px 0;
    padding: 2px 6px 3px 24px;
    text-shadow: none;
}
*/

a.btn_connect_fbb {
    background: none repeat scroll 0 0 #3B5999;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 14px;
    outline: medium none;
    text-decoration: none !important;
    -moz-border-radius: 5px;
    -web-kit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 1px 1px #888;
    -webkit-box-shadow: 0 0 1px 1px #888;
    box-shadow: 0 0 1px 1px #888;

    //border-color:#8dacc4 #000 #000  #485e8b;
    //border-top-color:#8dacc4;
    //border-left-color:#8dacc4;

    border: 1px solid #485e8b;

}

a.btn_connect_fbb span {
    //border: 1px solid #485e8b;
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-color:#557b98;
    border-left-color:#557b98;

    background: url(../../netflix.hs.llnwd.net/e1/us/facebook/facebooklogo_26_30.jpg) no-repeat scroll left center;
    color: #FFF;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 8px 12px 8px 35px;
    -moz-border-radius: 5px;
    -web-kit-border-radius: 5px;
    border-radius: 5px;
    //text-shadow: 1px 1px 1px #999;

}

.bluebuttonwrap {
    display: inline-block;
    _display: inline;
    text-align: center;
    background-color: #1e5799;
}

.bluebuttonwrap button {
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;
    border: 1px solid #fff;
    margin: 1px;
    font-weight:bold;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 52%, #2989d8 100%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(52%,#207cca), color-stop(100%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 52%,#2989d8 100%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 52%,#2989d8 100%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 52%,#2989d8 100%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(top,  #7db9e8 0%,#207cca 52%,#2989d8 100%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

/*
example of useful additions for bluebutton
padding: 8px 35px;
 min-width: 92px;
font-size:17px;
*/

/***** gift terms ****/
section#gift_terms_legal, section#gift_terms_legal_prior {background-color:white;padding:30px 35px 30px 30px;}
section#gift_terms_legal ol, section#gift_terms_legal_prior ul {font-size:10px;padding:7px 0 7px 25px;}

header nav ul {
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    background: #333;
}

header nav li {
    float: left; 
    width: 316px;
}

header nav li:first-child {
    width: 316px;
}
header nav li:last-child {
    float: right;
}

header nav li a,
header nav li span {
    display: block;
    zoom:1;
    cursor:pointer;
}

header nav li a {
    text-align: center;
    color: black;
}

header nav li span{
    padding: 4px 0;
    background-color: #ccc;
}

header nav li.mid {
    border-left:1px solid #333;
    border-right:1px solid #333;
}

header nav li a:hover {
    text-decoration: none;    
}

header nav li a:hover span {
    background-color: #e1e1e1;
}

.page-BROWSESELECTION header nav li#bTab span,
.page-BROWSEGENRES header nav li#bTab span,
.page-HOWITWORKS header nav li#hTab span, 
.page-HOME header nav li#sTab span {
    color: #fff;
    background-color: transparent;
}footer {
    font-size:11px;
    padding-top:15px;
    text-align:center;
    color:#fff;
}
footer a {
    color:#fff;
    text-decoration:none;
}
footer a:hover{
    color:#fff;
    text-decoration:underline;
}
footer ul li {
    display: inline;
    font-size: 12px;
    padding: 0 6px;
}
footer nav ul {
    margin-bottom:12px;
}
footer nav ul:first-child {
    font-weight: bold;
}
footer nav ul.fsec2 {
    margin-bottom: 5px;
}
footer .fterms {
    font-size:9px;
}
.abtest-info {
    display: inline-block;
    height: 12px;
    width: 0;
    padding-left: 12px;
    overflow: hidden;
}/* Registration form panel */

#regrec, #regblock {
    background-color: #FDF5D6;
    min-height: 275px;
    min-width: 358px;
}

#regform fieldset > dl:after { content: "."; display: block; font-size: 0; line-height: 0; height: 0; clear: both; visibility: hidden; }
#regform fieldset > dl { zoom: 1; }

.freetrial #regblock #regform {
    background-repeat: no-repeat;
    background-position: 10% 95%;
}

.freetrial #regblock #regform .lastdl {
    min-height:65px;
}

#regform {
    padding: 10px 20px;
}
#regform a {
    color: #0099FF;
    text-decoration: none;
}
#regform .visitor {
    text-overflow: ellipsis;
    max-width: 220px;
    overflow: hidden;
    white-space: pre;
}
#regform .poplink a {
    font-size: 9px;
}
#regform .privacy {
    font-size: 9px;
}
#regform section.header {
    padding-bottom: 8px;
    text-align: center;
}
#regform section.header h2 {
    margin:0;
    font-size: 22px;
    font-weight: bold;
}
#regform fieldset dl {
    padding-bottom:8px;
}

.page-HOME #regform fieldset dl {
    padding-bottom:5px;
}

#regform fieldset dt {
    float:left;
    width:38%;
    text-align:right;
}
#regform fieldset dd {
    float:right;
    width:62%;
    text-align:left;
}
#regform fieldset dt label {
    display:inline-block;
    margin:4px 10px 0 0;
}
#regform fieldset dd input[type="text"],
#regform fieldset dd input[type="password"],
#regform .privacy {
    width:180px;
}

#regform input[type="submit"],
#regform button {
    display: block;
    width: 130px;
}

#regform fieldset dt.error {
    font-weight:bold;
    color:#D9181E;
}
#regform fieldset dd.error input {
    border: 2px solid #FFA8A8;
}
#regform #aerrors ul {
    list-style-type: none;
    background: url(../../netflix.hs.llnwd.net/e1/us/icons/error.gif) no-repeat;
    color:#D9181E;
    padding-bottom:10px;
}
#regform #aerrors li {
    margin-left:26px;
    padding-bottom:5px;
    font-weight:bold;
    line-height:1.1em;
}
#regform #aerrors li:first-child {
     padding-top:3px;
}

#regrec .privacy {
    font-size:9px;
        color: #333;
        width:80%;
        margin:0 auto;
}

#regrec .privacy .poplink{
    text-align:center;
}

#regrec h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 15px;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#regrec input[type="submit"],
#regrec button {
    display: block;
    margin: 0 auto 8px;
    width: 180px;
}
#regrec dl.activation-code,
#regrec dl.specialoffer-code {
    text-align: center;
    margin-bottom: 10px;
}

.csphone {
    line-height: 1.3;
    color: #333;
}

#regrec button {margin-bottom:15px;}

#regrec #fbLogin {text-align:center;margin-top:20px;}#signupform fieldset dl input {
    margin:0;
}

#signupform fieldset dd input[type="radio"],
#signupform fieldset dd input[type="checkbox"] {
    margin: 0 4px 3px 3px;
}

#signupform {
    padding: 10px 20px;
}
#signupform a {
    text-decoration: none;
}
#signupform .visitor {
    text-overflow: ellipsis;
    max-width: 220px;
    overflow: hidden;
    white-space: pre;
}
#signupform .poplink a {
    font-size: 9px;
}
#signupform .privacy {
    font-size: 9px;
}
#signupform section.header {
    padding-bottom: 8px;
    text-align: center;
}
#signupform section.header h2 {
    margin:0;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}
#signupform fieldset dl {
    padding-bottom:8px;
}

#signupform fieldset dt {
    float:left;
    width: 25%;
    text-align:right;
}
#signupform fieldset dd {
    float:right;
    width:73%;
    text-align:left;
}


#signupform fieldset dt label {
    display:inline-block;
    margin:4px 10px 0 0;
    font-weight:bold;
}
#signupform fieldset dd input[type="text"],
#signupform fieldset dd input[type="password"] {
    width:180px;
}

#signupform input[type="submit"],
#signupform button {
    display: block;
    min-width: 130px;
}

#signupform fieldset dt.error {
    font-weight:bold;
    color:#D9181E;
}
#signupform fieldset dd.error input {
    border: 2px solid #FFA8A8;
}
#signupform #aerrors ul {
    list-style-type: none;
    background: url(../../netflix.hs.llnwd.net/e1/us/icons/error.gif) no-repeat;
    color:#D9181E;
    padding-bottom:10px;
}
#signupform #aerrors li {
    margin-left:26px;
    padding-bottom:5px;
    font-weight:bold;
    line-height:1.1em;
}
#signupform #aerrors li:first-child {
     padding-top:3px;
}

#signupform fieldset dd li {
    list-style-type:none;
}

#signupform fieldset dd label {
    cursor: pointer;
}

.signup-flow  header {
    position: relative;
    background: #ebe9ea;
    text-align: center;
}
.signup-flow h1 {
    font-size:26px; 
    font-weight: bold; 
    padding: 10px 0 10px 0;
    text-align: center;
}
.signup-flow header h1 {
    background: #fff;
}
.freetrial .signup-flow header h1 {
    background: #fff;
    padding-left: 210px;
}
.signup-flow .subhead {
    padding: 15px 0;
}
.freetrial .signup-flow .subhead {
    padding: 15px 0 15px 210px;
}
.freetrial .signup-flow .big-badge {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 20px;
    left: 60px;
}
.signup-flow .subhead h2 {
    font-size:24px; 
    font-weight:bold; 
    padding: 2px 0 2px 0;
}
.signup-flow .subhead div {
    font-size:17px; 
    font-weight:bold; 
}

.signup-flow .sidebar h2 {
    padding: 10px 0;
    font-size:16px; 
    font-weight:bold;
}
.signup-flow .sidebar ul {
    margin: 5px 0 30px;
}
.signup-flow .sidebar li{
    margin-bottom: 15px;
    list-style: none;
    padding-left: 22px;
    background: url(../../netflix.hs.llnwd.net/e1/us/layout/ecweb/check_black.png) no-repeat 0 0;
}

.signup-flow .secure-server-top {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #000;
    margin: 15px 0 10px;
}
.signup-flow .secure-server-top p {
    position: relative;
    top: -10px;
    display: inline-block;
    padding: 0 30px 0 60px;
    background: #FDF5D6 url(../../netflix.hs.llnwd.net/e1/us/icons/padlock.gif) no-repeat 35px 0; 
}

.signup-flow .companyname {
    font-style: italic;
}

.secure-server {
    display: inline-block;
    padding: 6px 0 0 20px;
    background: url(../../netflix.hs.llnwd.net/e1/us/icons/padlock.gif) no-repeat 0 0;
}

.signup-flow .personalize,
.signup-flow .payment-type,
.signup-flow .membership-terms,
.signup-flow .terms-agreement,
.signup-flow .nocharge-message,
.signup-flow .whatisthis {
    font-size: 11px;
}

.signup-flow .payment-type li label {
display: inline-block;
vertical-align: middle;
}

.signup-flow .whysecure {
    padding: 5px 0 3px;
}

.signup-flow .gender li {
    display: inline-block;
    *display: inline;
    padding: 3px 0;
}
/*
.signup-flow .terms-agreement {
padding: 10px 0;
}
*/
.cclogos {
    border:1px solid #EFEFEF;
    display:inline-block;
    *display:inline;
    background:#fff;
    padding:1px;
}

/*
.cclogos .visa,
.cclogos .mastercard,
.cclogos .discover,
.cclogos .amex,
.cclogos .paypal {
    float:left;
    background:url(https://netflix.hs.llnwd.net/e1/us/layout/signup/snippets/cclogos_horiz_pp.jpg) no-repeat;
    height:23px;
    width:30px;
}
*/
.cclogos .visa, .cclogos .VISA,
.cclogos .mastercard, .cclogos .MASTERCARD,
.cclogos .discover, .cclogos .DISCOVER,
.cclogos .amex, .cclogos .AMEX,
.cclogos .paypal, .cclogos .PAYPAL,
.cclogos .diners, .cclogos .DINERS,
.cclogos .elo, .cclogos .ELO {
    float:left;
    background:url(../../netflix.hs.llnwd.net/e1/us/layout/ecweb/payment/cc_logos_multi.jpg) no-repeat;
    height:23px;
    width:30px;
}

.cclogos .visa, .cclogos .VISA {
    background-position:-52px -2px;
}

.cclogos .mastercard, .cclogos .MASTERCARD {
    background-position:-24px -2px;
}

.cclogos .discover, .cclogos .DISCOVER {
    background-position:-81px -2px;
}

.cclogos .amex, .cclogos .AMEX {
    background-position:-2px -2px;
    width:22px;
}

.cclogos .paypal, .cclogos .PAYPAL {
    background-position:-111px -2px;
}

.cclogos .diners, .cclogos .DINERS {
    background-position:-142px -2px;
}

.cclogos .elo, .cclogos .ELO {
    background-position:-172px -2px;
    width:26px;
}

.cclogos .paypal_medium {
    background:url(../../netflix.hs.llnwd.net/e1/us/pages/account/paypal/PPlogo_50x34.gif);
    width:50px;
    height:34px;
}

.signup-flow .sidebar p {
    padding: 10px 0;
}
.signup-flow .content hgroup {
    text-align: center;
    padding-bottom: 20px;
}

/*
.signup-flow .content dd {
    margin: 4px 10px 0 0;
}
*/

#signupform fieldset dd.paypal ol li {
    list-style-type: decimal;
    margin-left:18px;
    width:70%;
    font-weight:bold;
    font-size:13px;
    padding-bottom:10px;
}
#signupform fieldset dd.paypal > div {
    font-weight:bold;
    font-size:13px;
    padding-bottom:10px;
}

#signupform input#securityCode {
    width:50px;
}

#signupform input#zipcode {
    width:80px;
}

#page-ORDERFINAL #signupform fieldset dt label {
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 0 0;
}
#page-ORDERFINAL .signup-flow h3 {
    font-size:16px;
}

#page-ORDERFINAL #signupform fieldset dt {
     width: 48%;
}
#page-ORDERFINAL #signupform fieldset dd {
    width:50%;
}
#page-ORDERFINAL .signup-flow h1 {
    padding: 10px 0 0;
}

#page-ORDERCONFIRM #signupform fieldset dt {
     width: 32%;
}
#page-ORDERCONFIRM #signupform fieldset dd {
     width: 66%;
}
#page-ORDERCONFIRM #signupform button[type="submit"] {
    min-width: 180px;
}

#page-ORDERCONFIRM #signupform .edit {
    font-size:11px;
}

#page-ORDERCONFIRM #signupform fieldset dt label {
    margin: 0 10px 0 0;
}

#page-PAYMENT  #signupform button[type="submit"] {
    min-width: 180px;
}

#page-EDITPAYMENT #signupform .personalize {
   margin-top:10px;
}

.hidepm {
    display:none;
}

#scode {padding-top:10px;}
.boxwarnerror {padding:4px;border:1px solid #D9181E;color:#D9181E}
#boxwarn {width:80%;padding-bottom:5px;}
#scode img {padding-right:5px;}

#page-POPUP_CODEWHATISTHIS #scode {
    text-align:center;
}

.starzlang {
    margin-top: 20px;
}

#page-PAYMENT div.csphone, #page-ORDERCONFIRM div.csphone {
    border: 1px solid #a2a2a2;
    display: inline-block;
    padding: 5px;
}


