.login-form-title {
    display: none;
}
.login-form-content #aerrors li {
    color: #333;
    margin-left: 0;
}
.login-form-content fieldset input, .login-form-content fieldset label {
    display: block;
    width: 100%;
    color: #333;
}
#login.layer #aerrors ul {
    background-image: none;
}
.field-row {
    padding-bottom: 10px;
}
.login-content {
    background: none;
}
.login-content .login-form-content {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    width: 230px;
    padding: 15px 30px;
    min-height: 0;
}
.login-content .field-label {
    width: auto;
    color: #333;
    line-height: normal;
    font-size: 14px;
    padding-bottom: 2px;
}
.login-content .form-input {
    width: 97%;
    height: 28px;
    padding: 0;
}
.field-label, .field-input {
    float: none;
    text-align: left;
    padding: 0;
    position: inherit;
}
.field-input .note {
    padding-left: 0;
}
.field-indent {
    margin-left: 0;
    padding-left: 0;
}
.form-padlock {
    display: none;
}
.login-form-help, .login-form-help a, #aerrors a {
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    color: #333;
}
header .hlinks #login a {
    color: #0099FF;
}
input#RememberMe {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}
label[for=password] {
    display: inline;
}
a.forgot-pwd {
    float: right;
    font-size: 11px;
    padding-top: 2px;
}
.field-row {
    padding-bottom: 15px;
}
.field-row.field-indent.login-form-help {
    font-size: 12px;
    color: #333;
    text-align: left;
}
h3.method {
    color: #333;
    text-align: left;
    margin-bottom: 10px;
}
#page-HOME #login button {
    width: auto;
    padding: 5px 30px 7px;
    min-width: 0;
}
#login-form input[type="submit"], #login-form button {
    background: -moz-linear-gradient(center top, #EAEAEA 0%, #E0E0E0 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top, #EAEAEA 0%,#E0E0E0 100%);
    background: -ms-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e0e0e0',GradientType=0 );
    background: linear-gradient(top, #EAEAEA 0%,#E0E0E0 100%);
    border: 1px solid #AEAEAE;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px 7px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
#login-form input[type="submit"]:hover, #login-form button:hover {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #EAEAEA 4%, #EAEAEA 95%, #BFBFBF 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top, #FFFFFF 0%, #EAEAEA 4%, #EAEAEA 95%, #BFBFBF 100%) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(center top, #FFFFFF 0%, #EAEAEA 4%, #EAEAEA 95%, #BFBFBF 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(center top, #FFFFFF 0%, #EAEAEA 4%, #EAEAEA 95%, #BFBFBF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #919191;
    box-shadow: 0 1px 4px #C8C8C8;
}
#login-form input[type="submit"]:active, #login-form button:active {
    background: -moz-linear-gradient(center top , #B5B5B5 0%, #E5E5E5 9%, #E5E5E5 93%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top , #B5B5B5 0%, #E5E5E5 9%, #E5E5E5 93%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(center top , #B5B5B5 0%, #E5E5E5 9%, #E5E5E5 93%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(center top , #B5B5B5 0%, #E5E5E5 9%, #E5E5E5 93%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    box-shadow: none;
    filter: none;
    text-shadow: none;
}
#login-form hr {
    margin: 5px 0 15px;
}
span.form-padlock {
    display: inline-block;
    background: url(../../netflix.hs.llnwd.net/e1/us/layout/ecweb/common/padlock_small.png) no-repeat;
    color: #333;
    font-size: 11px;
    margin-left: 15px;
    padding-left: 20px;
}
a.btn_connect_fbb {
    border-radius: 0;
    box-shadow: none;
}
a.btn_connect_fbb span {
    border-radius: 0;
    background: url(../../netflix.hs.llnwd.net/e1/us/facebook/facebooklogo_22_25.jpg) no-repeat;
    padding: 3px 7px 4px 27px;
}
.errorborder {
    border:1px solid #B9090B;
}
.login-content .login-form-reMe label {
    font-size: 12px;
}

#login {
    background-color: #fff;
    box-shadow: 1px 1px 3px #999;
}
#login.layer {
    position: absolute;
    right: -10px;
    z-index: 100;
}
.no-boxshadow #login.layer {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
#login img.menu_arrow {
    left: 180px;
    position: absolute;
    top: -10px;
    z-index: 100;
}
#login.hide {
    display: none;
}

#pwd-label {
    display: inline;
    float: left;
    width: auto;
}