.bigheader  {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #FFF; font-weight: bold;}
a:link.bigheader  {text-decoration: none;}
a:visited.bigheader  {text-decoration: none;}
a:hover.bigheader  {text-decoration: underline;}

.smallheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #FFF; font-weight: bold;}
a:link.smallheader {text-decoration: none;}
a:visited.smallheader {text-decoration: none;}
a:hover.smallheader {text-decoration: underline;}

.text {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000;}
a:link.text {text-decoration: underline;}
a:visited.text {text-decoration: underline;}
a:hover.text {text-decoration: none;}

.fineprint {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000;}
a.fineprint:link {text-decoration: underline;}
a.fineprint:visited {text-decoration: underline;}
a.fineprint:hover {text-decoration: none;}