#topnavContainer {
	position:relative;
}
#topnavContainer .bg {
	position:absolute;
	left:0;
	top:1px;
	display:block;
	width:100%;
	height:41px;
	background:#48A4E6;
}
div#header ul#theNav {
	padding:0;
	margin:0;
	z-index: 99;
	position: relative;
	background-color:#d1ebff;
	float:left;
}
div#header ul#theNav > li {
	position:relative;
	margin:1px 1px 0 0;
}
div#header ul#theNav > li > a {
	padding: 11px 0;
	text-transform: uppercase;
	font-family:AvenirBlack;
	font-size:18px !important;
	display:block;
	background-color:#48a4e6;
	height:19px;
	font-size:16px;
}
div#header ul#theNav li a .ap {
	display:inline-block;
	width:19px;
	height:1px;
}
div#header ul#theNav > li:hover {
	background:#fff;
	padding:2px 2px 0;
	margin-right:0 !important;
	border-right:2px solid rgb(8,57,91);
	border-right:2px solid rgba(8,57,91,.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
div#header ul#theNav > li:hover > a {
	padding-top:9px;
}
div#header ul#theNav > li:hover .ap {
	width:16px!important;
}
div#header ul#theNav li a#SALE_nav {
	background-color:#ce1123;
}
div#header ul#theNav li#mainNav8 {
}
div#header ul#theNav > li > a:hover, div#header ul#theNav > li.current > a {
	background-color:#08395b;
}
div#header ul#theNav li ul.navDropDown {
	background:none repeat scroll 0 0 #FFF;
	border-bottom:2px solid rgb(8,57,91);
	border-right:2px solid rgb(8,57,91);
	border-bottom:2px solid rgba(8,57,91,.5);
	border-right:2px solid rgba(8,57,91,.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	display:none;
	left:0;
	margin:0;
	padding:0;
	overflow:hidden;
	position:absolute;
	top:41px;
	font: 11px Verdana;
}
div#header ul#theNav li ul#drop1, div#header ul#theNav li ul#drop2, div#header ul#theNav li ul#drop3, div#header ul#theNav li ul#drop4 {
	width:737px;
}
div#header ul#theNav li ul#drop5, div#header ul#theNav li ul#drop6 {
	width:493px;
}
div#header ul#theNav li ul#drop7, div#header ul#theNav li ul#drop8 {
	width:245px;
}
div#header ul#theNav > li:hover > a, div#header ul#theNav > li.hover_active > a {
	background-color: #d1ebff !important;
	color: #004c81;
}
div#header ul#theNav li a.top:hover {
	color: #004c81;
	background-color: #FFFFFF;
}
div#header ul#theNav li:hover ul.navDropDown, div#header ul#theNav li.hover_active ul {
	display: block;
	color: #004c81;
}
div#header ul#theNav li ul li.navSection {
	float:left;
	line-height:14px;
	width:205px;
	border-left:1px solid #d5eafc;
	padding: 20px 20px 30px 20px;
	margin:10px 0 0 0 !important;
	height:260px;
}
div#header ul#theNav #mainNav7 ul li.navSection, div#header ul#theNav #mainNav8 ul li.navSection {
	border-right:none;
	float:none;
	height:auto
}
div#header ul#theNav li ul li.first {
	border:none !important;
}
div#header ul#theNav li ul li ul li {
	float:none;
}
div#header ul#theNav li ul li ul li.nav-heading {
	font-family:AvenirBlack;
	color:#003366;
	margin-bottom:20px;
	font-size:16px;
	text-transform:uppercase;
}
div#header ul#theNav li ul li ul li.viewAll {
	margin-top:20px;
}
div#header ul#theNav li ul li ul li.viewAll a {
	font-weight:bold;
	background:url(http://help.petsmart.com/common/images/hdr_nav_arrow.png) no-repeat right 6px;
	display:inline;
	padding-right:10px;
}
div#header ul#theNav li ul li ul.navCol {
	margin:0;
	padding:0;
}
div#header ul#theNav li ul li ul li a.featuredItem {
	display:block;
	height:33px;
	background:url(http://help.petsmart.com/common/images/hdr_nav_featured.png) no-repeat;
	padding:15px 0 0 60px;
	margin-bottom:10px;
}
div#header ul#theNav li ul li ul li a#dogBoutique {
	background-position:0 0;
}
div#header ul#theNav li ul li ul li a#puppyCenter {
	background-position:0 -48px;
}
div#header ul#theNav li ul li ul li a#marthaStewart {
	background-position:0 -96px;
}
div#header ul#theNav li ul li ul li a#sale {
	background-position:0 -144px;
}
div#header ul#theNav li ul li ul li a#catBoutique {
	background-position:0 -192px;
}
div#header ul#theNav li ul li ul li a#fishBoutique {
	background-position:0 -240px;
}
div#header ul#theNav li ul li ul li a#birdBoutique {
	background-position:0 -288px;
}
div#header ul#theNav li ul li a {
	color:#003366 !important;
	font-weight:normal;
	height:auto;
	background:#fff;
	padding:0;
	text-transform:capitalize;
	font-size:12px;
	line-height:20px;
}
div#header ul#theNav li ul li a:hover {
	text-decoration:underline;
}
div#header ul#theNav li.dropDownCMS {
	clear:both;
	padding:20px;
}
div#header ul#theNav li ul#drop7, div#header ul#theNav li ul#drop8 {
	padding:40px 0 20px 0;
}
div#header ul#theNav li ul#drop7 li.subCats, div#header ul#theNav li ul#drop8 li.subCats {
	width:165px;
	padding:0 20px;
}
div#header ul#theNav li ul#drop7 li.last, div#header ul#theNav li ul#drop8 li.last {
	margin-bottom:20px;
}
div#header ul#theNav li.dropDownCMS {
	clear:both;
	padding:10px 20px 20px 20px !important;
}
div#header ul#drop7 li.dropDownCMS, div#header ul#drop8 li.dropDownCMS {
	padding-bottom:0 !important;
}
