.ur_box
{
	z-index: 1234;
	width: 200px;
	height: 31px;
	position: absolute;
	left: 693px; /* approximate value: must be overridden */
	top: 83px; /* approximate value: must be overridden */
	padding-top: 6px;
	padding-left: 5px;
	text-align: left;
}
#ur_confirmations
{
	z-index: 2;
	width: 300px;
	height: 220px;
	position: absolute;
	/*float: left;*/
	left: -193px;
	top: -21px;
	padding-top: 8px;
	padding-left: 4px;
	padding-right:4px;
	background-color: #FFFFFF;
	border:solid;
	border-width:1px;
	border-color:#000000;
	color: #000000;
}
#ur_login
{
	z-index: 2;
	width: 405px;
	height: 300px;
	position: absolute;
	float: left;
	left: -200px;
	top: -21px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FFFFFF;
	color: #000000;
	border:solid;
	border-width:1px;
	border-color:#000000;
}
#ur_options
{
	z-index: 2;
	width: 400px;
	height: 290px;
	position: absolute;
	float: left;
	left: -193px;
	top: -21px;
	padding-top: 8px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #FFFFFF;
	border:solid;
	border-width:1px;
	border-color:#000000;
}
#ur_register
{
	z-index: 2;
	width: 410px;
	/* height: 505px; */
	height: auto;
	position: absolute;
	float: left;
	left: -200px;
	top: -21px;
	padding-top: 8px;
	background-color: #FFFFFF;
	border:solid;
	border-width:1px;
	border-color:#000000;
}
#urRegister
{
	padding: 0;
	margin: 0;
}
.ur_message
{
	color: Red;
	font-size: 12px;
	font-family: arial, helvetica, Sans-Serif;
	text-align: center;
	z-index: 3;
	border:solid;
	border-width:1px;
	border-color:#000000;
	display: none;
}
.lineCloseWindow
{
	width:90%;
	border-bottom: solid 1px #999999;
	margin-top:-15px;
    margin-bottom:5px;
}
.sans10 {
	color:#000000;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.sans10  a{
	color:#000000;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.sans10Margin {
	color:#000000;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 10px;
}
.sans10Margin  a{
	color:#000000;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 10px;
}
.sans12 {
	color:#000000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.sans12  a{
	color:#000000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.sans12Margin {
	color:#000000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 10px;
}
.sans12Margin  a{
	color:#000000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 10px;
}
.sans16 {
	color:#000000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

* html #ur_register
{
	height: 540px;
}
div.other {
    FONT-SIZE: 10px; VISIBILITY: hidden; DISPLAY: none; FONT-FAMILY: verdana
}
div.default {
    FONT-SIZE: 10px; VISIBILITY:visible; DISPLAY: none; FONT-FAMILY: verdana
}
.sm-active-tab-ur {
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-image:url(../../_common/_images/_static/uasTab.gif);
	background-repeat:no-repeat;
}
.sm-inactive-text-ur {
	font-size: 11px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.inactive-tab-ur {
	background-image:url(../../_common/_images/_static/uasTabBottom.gif);
	background-repeat:no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.sm-inactive-text-ur {
	font-size: 11px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
.small-copy-sans1 {
	font-size: 9px;
	color: #000000;
	text-decoration: none;
}
.sans16 {
	color:#000000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
