	.mc_error_msg { 
		color: red;
	}
	.mc_success_msg {
		color: green;
	}
	.mc_merge_var{ 
		padding:0;
		margin:0;
	}
	#mc_signup_container {}
	#mc_signup_form {}
	#mc_signup_form .mc_var_label {}
	#mc_signup_form .mc_input {}
	#mc-indicates-required { 
		width:100%;
	}
	#mc_display_rewards {}
	.mc_interests_header { 
		font-weight:bold;
	}
	div.mc_interest{
		width:100%;
	}
	#mc_signup_form input.mc_interest {}
	#mc_signup_form select {}
	#mc_signup_form label.mc_interest_label { 
		display:inline;
	}
	.mc_signup_submit { 
		text-align:center; 
	}
	ul.mc_list {
		list-style-type: none;
	}
	ul.mc_list li {
		font-size: 12px;
	}
	.ui-datepicker-year {
		display: none;
	}
	#ui-datepicker-div.show .ui-datepicker-year {
		display: inline;
		padding-left: 3px
	}
	