@charset "UTF-8";

/* CSS Document */
.letter {
	font-size: 10px;
	font-family: arial, helvetica, sans-serif;
	background: #fff;
	width: 10px;
	height: 12px;
	text-align: center;
	border: 1px solid #000;
	color: #000;
	font-weight: bold;
}

img {
	border: 0 none;
}

#KH_WellnessCenter {
	width: 424px;
	margin-top: 10px;
	margin-left: 6px;
	padding: 0;
}

#KH_WellnessCenter_TopLC {
	width: 208px;
	height: 384px;
	float: left;
}

#KH_WellnessCenter_TopRC {
	width: 208px;
	height: 384px;
	float: left;
	margin-left: 8px;
}

#KH_WC_Area_A {
	width: 208px;
	height: 352px;
	margin-bottom: 8px;
	overflow: hidden;
}

#KH_WC_Area_K {
	width: 208px;
	height: 16px;
	margin-bottom: 8px;
	overflow: hidden;
}

#KH_WC_Area_B {
	width: 208px;
	height: 82px;
	margin-bottom: 8px;
	overflow: hidden;
}

#KH_WC_Area_C {
	width: 208px;
	height: 82px;
	margin-bottom: 8px;
	overflow: hidden;
}

#KH_WC_Area_D {
	width: 208px;
	height: 82px;
	margin-bottom: 8px;
	overflow: hidden;
}

#KH_WC_Area_E {
	width: 208px;
	height: 82px;
	margin-bottom: 8px;
	overflow: hidden;
}

#KH_WellnessCenter_Mid {
	width: 424px;
}

#KH_WC_Area_F {
	width: 100px;
	height: 188px;
	float: left;
	overflow: hidden;
}

#KH_WC_Area_G {
	width: 100px;
	height: 188px;
	float: left;
	margin-left: 8px;
	overflow: hidden;
}

#KH_WC_Area_H {
	width: 100px;
	height: 188px;
	float: left;
	margin-left: 8px;
	overflow: hidden;
}

#KH_WC_Area_I {
	width: 100px;
	height: 188px;
	float: left;
	margin-left: 8px;
	overflow: hidden;
}

#KH_WellnessCenter_Foot {
	width: 424px;
	height: 27px;
	clear: both;
	padding: 8px 0 0 0;
}

#KH_WC_Area_J {
	width: 424px;
	height: 19px;
	overflow: hidden;
}

#KH_WC_Area_A ul#wcPredefinedListMaster {
	width: 172px !important;
	padding: 15px 15px 15px 20px !important;
	margin: 0 !important;
	height: 322px !important;
	overflow: hidden !important;
}

#KH_WC_Area_A ul li {
	margin-bottom: 0.5em;
}

#KH_WC_DailyQA {
	z-index: 1 !important;
	position: relative;
}

#KH_WC_DailyQA_Text {
	z-index: 1000 !important;
	position: absolute;
	color: #fff;
	display: block;
	top: 34px;
	left: 8px;
	line-height: 1.2em;
	width: 130px;
	height: 40px;
	background: transparent;
	font-size: 11px;
	overflow: hidden;
}

#KH_WC_DailyQA_Text a {
	text-decoration: none !important;
	color: #fff !important;
	font-weight: normal !important;
	font-size: 11px !important;
	font-style: normal !important;
}

#KH_WC_DailyBrainBuzz {
	z-index: 1 !important;
	position: relative;
}

#KH_WC_DailyBrainBuzz_Text {
	z-index: 1000 !important;
	position: absolute;
	color: #fff;
	display: block;
	top: 28px;
	left: 8px;
	line-height: 1em;
	width: 192px;
	height: 39px;
	background: transparent;
	overflow: hidden;
}

#KH_WC_DailyBrainBuzz_Text a {
	text-decoration: none !important;
	color: #052145 !important;
	font-weight: normal !important;
	font-size: 10px !important;
	font-style: normal !important;
}

#LLCenters {
	width: 208px;
	height: 352px;
	padding: 0;
	margin: 0;
}

#LLCentersMain {
	width: 208px;
	height: 220px;
	border-bottom: 1px solid #000;
}

#LLCentersList ul {
	list-style: none;
	margin: 9px 0 0 0;
	padding: 0;
}

#LLCentersList ul li {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 1px !important;
}

#LLCentersList ul li a {
	width: 208px;
	height: 20px;
}

#LLCentersList ul li a:hover {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
