/* CSS Document */

.section_deep {
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	background-color: #0076cd;
}
.section_lite {
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	background-color: #bfddf2;
}
.section_medium {
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	background-color: #7F99FF;
}
.search_button {
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	background-color: #bfddf2;
	background-image: url(../../_images/_inside/go-btn-wYahoo-news.gif);
	background-repeat: no-repeat;
}
.sectionBullet {
	background-color: #0076cd;
	float: left;
	height: 10px;
	width: 10px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 10px;
}
.smallSectionBullet {
	background-color: #0076cd;
	height: 4px;
	width: 4px;
}
.va_main_header {
	font-size: 13px;
	font-weight: bold;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
}
.va_header {
	font-size: 13px;
	font-weight: bold;
	text-transform: capitalize;
	color: #0033ff;
	text-decoration: none;
}
#section-nav li a {
	display: block;
	color:#666;
	font-size:12px;
	font-weight: bold;
	text-decoration:none;
	background: #fff url(../../_images/divider_news.gif) left no-repeat;
	padding: 0 10px 0 8px;
	margin: 5px 0 0 0;
}

#section-nav a:hover {
	color:#0076cd;
}

#section-nav li.sectionlabel a{
	color:#0076cd;
	font-size:18px;
	background:none;
	padding: 0 8px 0 0;
	margin: 0;
}

#section-nav li.subsectionlabel a{
	color:#0076cd;
	font-size:18px;
	background:none;
	padding: 0 8px 0 0;
	margin: 0;
}
.uslCommentsCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/comments-after_news.gif) left 50% no-repeat;
}
.uslRecommendCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/recommend_news.gif) left 50% no-repeat;
}
.uslRecommendedCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/recommend-after_news.gif) left 50% no-repeat;
}
.uslReviewsCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/rate_news.gif) left 50% no-repeat; 
}
.uslReportAbuseLink a { 
	background:url(../../../community/_common/_images/reportabuse_news.gif) right 50% no-repeat;
}
.uslAbuseReported { 
	background:url(../../../community/_common/_images/reportabuse-after_news.gif) right 50% no-repeat;
}
/* communities */
.communitiesBody .datestamp span.uslCommentsCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/comments-after_news.gif) left 50% no-repeat;
}
.communitiesBody .datestamp span.uslRecommendCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/recommend_news.gif) left 50% no-repeat;
}
.communitiesBody .datestamp span.uslRecommendedCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/recommend-after_news.gif) left 50% no-repeat;
}
.communitiesBody .datestamp span.uslReviewsCount {
	color:#0076cd;
	background:url(../../../community/_common/_images/rate_news.gif) left 50% no-repeat; 
}		
.communitiesBody span.uslReportAbuseLink a { 
	background:url(../../../community/_common/_images/reportabuse_news.gif) left 50% no-repeat;
}
.communitiesBody span.uslReportAbuseLink a { 
	background:url(../../../community/_common/_images/reportabuse_news.gif) left 50% no-repeat;
}
div#community-nav-strip {
	background-image: url(http://i.usatoday.net/_common/_images/_communities/comm-nav-bg-news.png);
}
ul#community-nav li a {
	background-image: url(../../_images/_communities/community-nav-sprite-news.gif);
}
div#ft {
	border-top: 3px solid #7fb8e6;
	background: #0076cd url(../../_images/_communities/footer-bg-news.gif) bottom left repeat-x;
}
div#ft div.global-nav-strip,
div#ft div.leaderboard {
	background: url(../../_images/_communities/footer-divider-news.gif) bottom left repeat-x;
}
div#community-nav-strip {
	background-image: url(http://i.usatoday.net/_common/_images/_communities/comm-nav-bg-news.png) !important;
}
body.communitiesBody {
	background: #d9ebf7;
}
div.copyright-strip div.footer-copyright p  {
	margin-top:0;
	color:#fff;
}