@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: normal;
  src: url('http://www.backcountry.com/fonts/futura-webfont.eot');
  src: url('../../../../fonts/futura-webfont.eot') format("embedded-opentype"), url('../../../../fonts/futura-webfont.woff') format("woff");
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  src: url('http://www.backcountry.com/fonts/futura-bold-webfont.eot');
  src: url('../../../../fonts/futura-bold-webfont.eot') format("embedded-opentype"), url('../../../../fonts/futura-bold-webfont.woff') format("woff");
}

@font-face {
  font-family: 'TisaWebPro';
  font-style: normal;
  font-weight: normal;
  src: url('http://www.backcountry.com/fonts/tisawebpro-webfont.eot');
  src: url('../../../../fonts/tisawebpro-webfont.eot') format("embedded-opentype"), url('../../../../fonts/tisawebpro-webfont.woff') format("woff");
}

@font-face {
  font-family: 'TisaWebPro';
  font-style: normal;
  font-weight: bold;
  src: url('http://www.backcountry.com/fonts/tisawebpro-bold-webfont.eot');
  src: url('../../../../fonts/tisawebpro-bold-webfont.eot') format("embedded-opentype"), url('../../../../fonts/tisawebpro-bold-webfont.woff') format("woff");
}

/* line 12, ../../../../../css-src/common/_prefix.scss */
.pie-element {
  behavior: url("../../../../images/common/PIE.htc");
  position: relative;
}

/* line 562, bcs/icon-16/*.png */
.icon-16-sprite, .rr .rr-header:before, .rr-carousel .rr-header:before {
  background: url('../../../../images/bcs/icon-16-s1ab0632547.png') no-repeat;
}

/* line 370, bcs/icon-32/*.png */
.icon-32-sprite {
  background: url('../../../../images/bcs/icon-32-sec11074136.png') no-repeat;
}

/* line 98, bcs/icon-48/*.png */
.icon-48-sprite {
  background: url('../../../../images/bcs/icon-48-sb6eaf32654.png') no-repeat;
}

/* line 82, bcs/icon-64/*.png */
.icon-64-sprite {
  background: url('../../../../images/bcs/icon-64-sa4c131e85d.png') no-repeat;
}

/* line 61, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 18px;
}

/* line 16, ../../../../../css-src/bcs/_prefix.scss */
body {
  font-family: TisaWebPro, "Times New Roman", Times, serif;
}

/* line 3, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing, .item-listing-horz {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 330px;
  position: relative;
}
/* line 8, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing.sale .item-listing-mask:after, .sale.item-listing-horz .item-listing-mask:after {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 12, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing a, .item-listing-horz a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 15, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing h4, .item-listing-horz h4 {
  margin: 0;
  left: 10px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 220px;
}

/* line 21, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-image {
  position: relative;
  text-align: center;
}
/* line 24, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-image img {
  height: 160px;
  width: 160px;
}

/* line 29, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-offers {
  left: 10px;
  position: absolute;
  right: 10px;
  top: 260px;
}
/* line 32, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-offers .mouse {
  display: block;
}

/* line 37, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-rating {
  overflow: hidden;
  *zoom: 1;
}
/* line 40, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-rating .mouse {
  float: left;
}
/* line 43, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-rating .rating {
  margin: 0 10px 0 0;
  float: left;
}

/* line 51, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz {
  height: 130px;
  padding-left: 100px;
}
/* line 56, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz.sale .item-listing-mask:after {
  display: none;
}
/* line 60, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz h4 {
  left: 110px;
  top: 35px;
}
/* line 63, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz .item-listing-image {
  left: 10px;
  position: absolute;
  top: 0;
  width: 90px;
}
/* line 66, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz .item-listing-image img {
  height: 90px;
  width: 90px;
}
/* line 70, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz .item-listing-offers {
  left: 110px;
  top: 75px;
}
/* line 73, ../../../../../css-src/common/components/_item-listing.scss */
.item-listing-horz .item-listing-rating {
  margin-left: 110px;
  position: relative;
  top: 10px;
}

/* line 6, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing, .item-listing-horz {
  background: white;
  color: #666666;
}
/* line 10, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing.sale .item-listing-offers, .sale.item-listing-horz .item-listing-offers {
  color: #ed6e37;
}
/* line 13, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing.sale .item-listing-offers .mouse, .sale.item-listing-horz .item-listing-offers .mouse {
  color: #666666;
}
/* line 16, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing.sale .item-listing-offers .past-season:before, .sale.item-listing-horz .item-listing-offers .past-season:before {
  content: "| ";
}
/* line 21, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing h4, .item-listing-horz h4 {
  color: black;
  height: 65px;
  left: 0;
  line-height: 22px;
  right: 0;
  top: 207px;
}
/* line 26, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing .currency, .item-listing-horz .currency,
.item-listing .fraction,
.item-listing-horz .fraction,
.item-listing .integer,
.item-listing-horz .integer {
  font-size: 15px;
}

/* line 31, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-image {
  margin-bottom: 15px;
}

/* line 35, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-offers {
  color: black;
  left: 0;
  right: 0;
  top: 270px;
  z-index: 1;
}
/* line 38, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-offers em {
  font-style: normal;
  text-transform: uppercase;
}
/* line 41, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-offers strong {
  font-weight: normal;
}
/* line 44, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-offers .free-gift {
  -webkit-font-smoothing: antialiased;
  color: #80a324;
  font-weight: bold;
}
/* line 48, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-offers .percent-off {
  display: none;
}

/* line 53, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-rating {
  color: black;
}
/* line 56, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-rating .rating {
  width: 70px;
  height: 13px;
}
/* line 430, ../../../../../css-src/common/_mixins.scss */
.item-listing-rating .rating .rating-best,
.item-listing-rating .rating .rating-value {
  background: url('../../../../images/bcs/rating-default.png%3F1344525256');
}
/* line 433, ../../../../../css-src/common/_mixins.scss */
.item-listing-rating .rating .rating-best {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

/* line 61, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-shadow {
  display: none;
}

/* line 67, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-horz {
  height: 125px;
  padding-left: 100px;
}
/* line 71, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-horz h4 {
  left: 110px;
  top: 27px;
}
/* line 74, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-horz .item-listing-offers {
  top: 91px;
}
/* line 77, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-horz .item-listing-offers small {
  display: none;
}
/* line 81, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-horz .item-listing-rating {
  top: 0;
}
/* line 84, ../../../../../css-src/bcs/components/_item-listing.scss */
.item-listing-horz .item-listing-rating.rating-none {
  display: none;
}

/* line 1, ../../../../../css-src/common/components/_subcategory.scss */
.subcategory {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
}
/* line 4, ../../../../../css-src/common/components/_subcategory.scss */
.subcategory.last {
  margin-right: 0;
}
/* line 7, ../../../../../css-src/common/components/_subcategory.scss */
.subcategory ul {
  list-style: none;
  list-style-image: none;
  padding-left: 0;
  margin-bottom: 20px;
}

/* line 5, ../../../../../css-src/bcs/components/_subcategory.scss */
.subcategory h3 a {
  color: black;
}

/* line 1, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr, .rr-carousel {
  margin: 10px 0;
  position: relative;
}
/* line 5, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr .rr-body, .rr-carousel .rr-body {
  overflow: hidden;
}
/* line 8, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr .rr-container, .rr-carousel .rr-container {
  position: relative;
}
/* line 11, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr .rr-header, .rr-carousel .rr-header {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  overflow: hidden;
}
/* line 15, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr .rr-item, .rr-carousel .rr-item {
  margin: 0;
  float: left;
}
/* line 19, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr .rr-items, .rr-carousel .rr-items {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  list-style-image: none;
  padding-left: 0;
  margin: 0;
}

/* line 29, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr-carousel .btn {
  position: absolute;
  z-index: 1;
}
/* line 32, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr-carousel .next-btn {
  right: 0;
}
/* line 35, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr-carousel .prev-btn {
  left: 0;
}
/* line 38, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr-carousel .rr-body {
  position: relative;
}
/* line 41, ../../../../../css-src/common/components/_rich-relevance.scss */
.rr-carousel .rr-items {
  width: 1000px;
}

/* line 4, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr .rr-header, .rr-carousel .rr-header {
  position: relative;
  padding-left: 26px;
}
/* line 261, ../../../../../css-src/common/_mixins.scss */
.rr .rr-header:before, .rr-carousel .rr-header:before {
  background-position: 0 -737px;
  content: " ";
  height: 16px;
  position: absolute;
  width: 16px;
  top: 50%;
  margin-top: -8px;
  left: 0;
}

/* line 9, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel {
  background: transparent url('../../../../images/bcs/dotted-distressed-border.png%3F1344525256') top left repeat-x;
  padding-top: 20px;
}
/* line 14, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .item-listing, .rr-carousel .item-listing-horz {
  height: 100%;
  width: 100%;
}
/* line 17, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .item-listing-offers {
  top: 90px;
}
/* line 20, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-body {
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
}
/* line 24, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-caption {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  *zoom: 1;
  background-color: transparent\9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6FFFFFF', endColorstr='#E6FFFFFF');
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  transition: top 0.5s ease;
  height: 200px;
  position: absolute;
  top: 245px;
  width: 100%;
  z-index: 2;
}
/* line 29, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-item {
  height: 245px;
  overflow: hidden;
  width: 245px;
}
/* line 33, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-item:hover .rr-caption {
  top: 105px;
}
/* line 38, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-items {
  list-style: none;
  list-style-image: none;
  padding-left: 0;
  margin: 0;
  height: 245px;
  position: relative;
}
/* line 381, ../../../../../css-src/common/_mixins.scss */
.rr-carousel .rr-items li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 43, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-name {
  top: 27px;
}
/* line 46, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-thumb {
  height: 200px;
  width: 100%;
}
/* line 49, ../../../../../css-src/bcs/components/_rich-relevance.scss */
.rr-carousel .rr-thumb img {
  height: 200px;
  width: 200px;
}

/* line 6, ../../../../../css-src/bcs/pages/home/screen.scss */
.body {
  display: block;
  float: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* line 10, ../../../../../css-src/bcs/pages/home/screen.scss */
.head {
  left: 50%;
  margin-left: -490px;
  position: absolute;
  z-index: 4;
}

/* line 14, ../../../../../css-src/bcs/pages/home/screen.scss */
.home-categories {
  margin: 0 auto;
  width: 1000px;
}
/* line 18, ../../../../../css-src/bcs/pages/home/screen.scss */
.home-categories h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 10px;
  clear: both;
}

/* line 25, ../../../../../css-src/bcs/pages/home/screen.scss */
.inner-body {
  padding: 0 10px;
  margin: 0 auto;
  width: 980px;
}

/* line 30, ../../../../../css-src/bcs/pages/home/screen.scss */
.promo-centered-logos {
  position: relative;
  z-index: 2;
}

/* line 34, ../../../../../css-src/bcs/pages/home/screen.scss */
.rr-carousel {
  margin: 10px auto;
  width: 980px;
}

/* line 39, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-hero-slot.ui-slideshow {
  margin-bottom: -150px;
}
/* line 42, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-hero-slot .ui-controller {
  bottom: 170px;
  left: 50%;
  margin-left: -490px;
}
/* line 45, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-hero-slot .ui-slideshow-container {
  height: 750px;
}
/* line 48, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-hero-slot .ui-slideshow-container a {
  display: block;
  margin: 0 auto;
  width: 1200px;
}
/* line 53, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-hero-slot .ui-controller-next,
.targeter-hero-slot .ui-controller-prev {
  height: 520px;
}

/* line 59, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-home-center-bottom,
.targeter-main-middle {
  clear: both;
  display: block;
}
/* line 607, ../../../../../css-src/common/_mixins.scss */
.targeter-home-center-bottom:after,
.targeter-main-middle:after {
  clear: both;
  display: block;
  font-size: xx-large;
  height: 0 !important;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* line 64, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-home-center-bottom {
  margin: 20px 0;
}

/* line 69, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-main-middle form {
  position: absolute;
  right: 10px;
  top: 38px;
}
/* line 72, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-main-middle .brand-header {
  margin-top: 0;
}
/* line 75, ../../../../../css-src/bcs/pages/home/screen.scss */
.targeter-main-middle .inner-body {
  position: relative;
}
