/****************************************************************
Filename:                       privacysecur_ov_styles_FF.css
Path:                           www/bankofamerica/data/privacy/stylesheets
Description:            	Applies styles for Privacy overview page 
Original Author:        	GDC team
Change History:
Date            Author                  SIMON WR        Description
****		******			********	***********
02/15/2010	GDC Dev TEAM				Created for Mozilla Browser
*******************************************************************/

/***used for annoucement module in editorial***/

.mannounce {
	width:575px;
	color:#424242;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	margin-bottom: 10px;
}

.mannounce *{
	margin:0;
	padding:0;
}

.mannounce .header{
	position:relative;
	height:29px;
	margin:0px 10px;
	background:#fff url(/www/en_US/images/privacy_security/m_line.gif) left top repeat-x;
}

.mannounce .header .rightCap{
	position:absolute;
	display:block;
	top:0px;
	right:-10px;
	height:30px;
	width:10px;
	background:transparent url(/www/en_US/images/privacy_security/top_right.gif) right top no-repeat;
}

.mannounce .header .leftCap{
	position:absolute;
	display:block;
	top:0px;
	left:-10px;
	height:30px;
	width:10px;
	background:transparent url(/www/en_US/images/privacy_security/top_left.gif) left top no-repeat;
}

.mannounce .header h2 {
	FONT-SIZE: .8em; 
	FONT-FAMILY: Verdana;
	PADDING-TOP: 9px
}

.mannounce .mc{
	clear:both;
	border-left:#cfcdce 1px solid;
	border-right:#cfcdce 1px solid;
	background-color:#fff;
	font-size: 80%;
	padding-top: 5px;
}

.mannounce .mc p {
	padding:5px 15px 0px 10px;
	font-size: 95%;
	line-height: 130%;
}

.mannounce .mc p.contact_us {
	padding:10px 15px 0px 30px;
}


.mannounce .mc ol {
	padding-top: 10px;
	list-style: decimal;
}

.mannounce .mc ol li {
	margin-left: 50px;
	padding: 0px;
}
.mannounce .mc UL {
	PADDING-TOP: 10px;
}
.mannounce .mc UL LI {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 25px; PADDING-TOP: 0px; FONT-SIZE: 95%; LINE-HEIGHT: 130%;
}

.mannounce .footer{
	position:relative;
	height:13px;
	margin:0px 11px; 
	background:#fff url(/www/en_US/images/privacy_security/m_line.gif) left 9px repeat-x;
}

.mannounce .footer .rightCap{
	position:absolute;
	display:block;
	top:0;
	right:-11px;
	height:13px;
	width:11px;
	background:#fff url(/www/en_US/images/privacy_security/bottom_right.gif) right -19px no-repeat;
}

.mannounce .footer .leftCap{
	position:absolute;
	display:block;
	top:0;
	left:-11px;
	height:13px;
	width:11px;
	background:#fff url(/www/en_US/images/privacy_security/bottom_left.gif) left -19px no-repeat;
}
