.rsnip {
	FONT-SIZE: 75%; FONT-WEIGHT: bold; COLOR: #333333; FONT-FAMILY: Verdana
}

.tdrsnip1 {
	BORDER-RIGHT: #333333 1px solid; WIDTH: 126px; HEIGHT: 40px
}
.tdrsnip2 {
	WIDTH: 126px; HEIGHT: 40px
}

.tablersnip {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; WIDTH: 378px; BORDER-BOTTOM: #333333 1px solid
}

.tdrsniptwo1 {
	BORDER-RIGHT: #333333 1px solid; /*WIDTH: 155px; HEIGHT: 40px;*/
	
}
.tdrsniptwo2 {
	/*WIDTH: 155px; HEIGHT: 40px;*/
	
}
.tdrsniptwo3 {
	BORDER-RIGHT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; /*WIDTH: 155px; HEIGHT: 40px; */
	
}

.tdrsniptwo4 {
	BORDER-BOTTOM: #333333 1px solid; /*WIDTH: 155px; HEIGHT: 40px;*/
	
}

.tablersniptwo {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; /*WIDTH: 410px;*/
}
.text1 {
	FONT-SIZE: 70%; COLOR: #333333; FONT-FAMILY: Verdana
}
.text2 {
	FONT-SIZE: 55%; COLOR: #333333; FONT-FAMILY: Verdana
}
.pf2-text-link A {
	FONT-WEIGHT: normal; FONT-SIZE: 70%; MARGIN-LEFT: 1.7em; COLOR: #405ebe; LINE-HEIGHT: 140%; TEXT-DECORATION: underline
}
.pf2-text-link A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.home-signoff-txt2 a {color: #FFFFFF; text-decoration: underline;}
.home-siginoff-a2 a {font-size: 55%; padding-right: 0px; padding-left: 0px; padding-bottom: 3px; padding-top: 2px; color: #000000; text-decoration: underline;}
.grey-bullet-rsnip{font-family: verdana;font-size: 8pt; color: #666666;}
.grey-bullet-bold{FONT-WEIGHT: bold;font-family: verdana;font-size: 8pt; color: #666666;}