/* storepage.html styles added by Kara Primm 02/06/12 */
#locatorwrapper {width:940px; font-family:"Century Gothic",Arial,Sans-serif; font-size:12px;} 
#locatorwrapper h2 {padding: 10px 0 12px;}
#banner {background-color:#666; width:940px; height:70px;}
#banner a {display:block; width:130px; float:left; margin:20px 0 0 0;}
#banner h1 {width:800px; float:left; display:block;}
#inputarea {width:65%; float:left; display:block; }
.locatorinputs {float:left; display:block; margin: 20px 42px 0 0; height:500px width:250px; }
.locatorinputs li {left-align;}
.locatorinputs h2 {color:#666;}
	/*.mapplace {display:block; margin: 0 20px 0 0; padding:5px 0 0; height:350px; width:1000px;}
	.mapplace a {float:left; display:block;}
	.mapplace img {float:left; display:block; margin: 0 10px 0 0; padding: 0 0 0 100px;}*/
#left {width:65%; float:left; display:block; }
#left h2 {margin-bottom: 40px;}
#locatorwrapper .farleft {float:left; display:block; margin: 0 10px 0 20px; height:350px; padding: 0 15px 0 0; width:180px;}
#locatorwrapper .center {display:block; border-right: 1px solid #999; border-left: 1px solid #999; margin: 0 20px 0 0; float:left; width: 340px; padding: 0 0 10px 10px;}
#locatorwrapper .center a { display:block; margin: 0;}
#locatorwrapper .center img {float:left; display:block; margin: 0 10px 0 0;}
 #locatorwrapper .center img a {display: block; float:left; margin: 0 10px 0 0;}
#locatorwrapper .center p {padding: 20px 0 0 0; float:left;}
#locatorwrapper .right {float:left; display:block;}
#locatorwrapper .center a.careers {margin: 0px; float:none;}
.storeListCenter {display:block; margin: 0 20px 0 0; padding:5px 0 0; height:35px; width:1000px;}
.storeListCenter a {float:left; display:block;}
.storeListCenter img {float:left; display:block; margin: 0 10px 0 0; padding: 0 0 0 0;}     
#services {display:block; float: left;} 
#storelist {margin: 0 0 0 20px;}
#storeListLeft {width:940px; float:left; display:block; padding:0 0 5px; border-bottom: 1px solid #999; }
#right {width:35%; float:left; display:block;}   
#locatorwrapper #right h2{line-height: 20px}
#locatorwrapper ul {list-style: none;}
#locatorwrapper .center ul {list-style: none; text-align:right; padding: 0 5px 0 0;}    
#eventscroller {height:280px; width:345px; overflow:auto; border: 1px solid #ccc; margin: 0 0 20px 0;} 
 #locatorwrapper #eventscroller .event .date p {font-size: 18px; text-transform: uppercase;}
.event {margin: 0 0 0 10px;}    
span.eventtitle {font-weight:bold;}
.storeservices li {clear:left; text-align: left; }
#locatorwrapper ul .storeAddress {padding: 40px 0 0 0; text-align:left;}
.popuptitle h2 {text-align: left; padding: 0 0 0 85px; font-weight: bold;}
.popupcopy p {text-align: left; margin: -4px}
.popupimage img {margin: 0 10px 19px 0; float:left;}
.getdirectionsbutton { float:left;height:22px;display:block;font-size:12px;text-align:center;background:url(../../images/buttons/blue-btn-135.gif) no-repeat;text-transform:uppercase;margin:0 .5em 1em 0;padding:.18em .5em .75em 0;}
.getdirectionsbutton a, .getdirectionsbutton span {color: #fff; padding: 0 0 0 6px;}
.contact{font-weight: bold; line-height: 14px}
#productcontainer {clear:left; display:block; height:200px; width: 100%;}
.storeProducts {margin: 0 auto; width: 940px; background-color: #696969; height: 200px; }
.storeProducts img {padding: 15px 25px 25px 54px;}
#productcontainer .storeProducts p {color: #fff; padding: 10px; background-color:#7f8285;}
/* storelocator.html styles added by Kara Primm 02/06/12 */
#locatorwrapper {width:940px; font-family:"Century Gothic",Arial,Sans-serif; font-size:12px;} 
#locatorwrapper h2 .maptitle {padding: 10px 0 12px 150px; float:left; display:block;}
#locatorwrapper p {margin: 0 0 0.83em; padding:0 20px 0 0; text-align: left;}
#locatorwrapper #banner {background-color:#666; width:940px; height:70px;}
	#locatorwrapper #banner h1 {width:500px; float:left; display:block; padding: 20px 0 0 20px;}
	#locatorwrapper #banner a {display:block; width:400px; float:left; margin:24px 20px 0 0; color:#FFF; text-align:right;}
#locatorwrapper #inputarea {width:220px; float:left; display:block; }
.locatorinputs {float:left; display:block; margin: 20px 42px 0 20px; height:500px width:250px; }
	.locatorinputs h2 {color:#666;}
	.locatorinputs img {margin:20px 0 0 0;}
	/*.locatorinputs li {left-align;}*/
	.locatorinputs li input,select{margin: .5em 0em; clear: left;}
	.locatorinputs li {clear:left;}
		.locartorinputs img {margin: 1em 0 0 0;}
#locatorwrapper .mapplace {display:block; margin: 0 20px 0 0; padding:5px 0 0; height:350px; }
#locatorwrapper .mapplace a {float:left; display:block;}
#locatorwrapper .mapplace img {float:left; display:block; margin: 0 10px 0 0; padding: 0 0 0 100px;}
#locatorwrapper .mapplace h2 {text-align: center;}
#storelist {padding: 0 0 1em 0;}
#storelist p {text-align: center;}