/* storepage.html styles added by Kara Primm 02/06/12 */
#locatorwrapper {width:940px; font-family:"Century Gothic",Arial,Sans-serif; font-size:12px;} 
#locatorwrapper h2 {padding: 10px 0 12px;}
#banner {background-color:#666; width:940px; height:70px;}
#banner a {display:block; width:130px; float:left; margin:20px 0 0 0;}
#banner h1 {width:800px; float:left; display:block;}
#inputarea {width:65%; float:left; display:block; }
.locatorinputs {float:left; display:block; margin: 20px 42px 0 0; height:500px; width:250px; }
.locatorinputs li {}
.locatorinputs h2 {color:#666;}
#left {width:65%; float:left; display:block; }
#left h2 {margin-bottom: 40px;}
#locatorwrapper .farleft {float:left; display:block; margin: 0; padding: 0 15px; width:170px;}
#locatorwrapper .center { min-height: 350px; display:block; border-right: 1px dotted #ccc; border-left: 1px dotted #ccc; margin: 0; float:left; width: 370px; padding: 0 14px;}
#locatorwrapper .center a { display:block; margin: 0;}
#locatorwrapper .center img {float:left; display:block; margin: 0 10px 0 0;}
 #locatorwrapper .center img a {display: block; float:left; margin: 0 10px 0 0;}
#locatorwrapper .center p { margin: 0; float:left;}
#locatorwrapper .right {float:left; display:block;}
#locatorwrapper .center a.careers {margin: 0px; float:none;}
#locatorwrapper address p { margin: 0; padding: 0; font-style: normal; }
.storeListCenter { display:block; margin: 0 20px 0 0; padding:5px 0 0; height:35px; width:460px;}
.storeListCenter a {float:left; display:block;}
.storeListCenter img {float:left; display:block; margin: 0 10px 0 0; padding: 0 0 0 0;}     
#services {display: block; margin: 10px 0; float: left; width: 100%; }
#services h3 { font-size: 1.2em; padding: 10px 0 0; }
#storelist {margin: 0 0 0 20px;}
#right {width: 310px; float:left; display:block; padding: 0 15px; }    
#locatorwrapper #right h2{line-height: 20px}

#locatorwrapper #storeInfo .storeHours {margin-bottom: 4px;}
#comments {display: block; margin: 10px 0; float: left; width: 225px; }

#locatorwrapper ul {list-style: none;}
#locatorwrapper .center ul { list-style: none; text-align: right;}
#locatorwrapper .center ul li { line-height: 1.25em; }
#eventscroller { background-color: #fff; height:140px; overflow:auto; border: 1px solid #ccc; padding: 10px 0; } 
 #locatorwrapper #eventscroller .event .date p {font-size: 18px; text-transform: uppercase;}
.advertisement .date p {font-size: 18px; text-transform: uppercase;}
.event {margin: 0 0 0 10px;}   
span.eventtitle {font-weight:bold;}
.storeservices li {clear:left; text-align: left; }
#locatorwrapper .storeAddress {width:260px;float:left;text-align:left;}
.popuptitle h2 {text-align: left; padding: 0 0 0 85px; font-weight: bold;}
.popupcopy p {text-align: left; margin: 5px}
.popupimage img {margin: 0 10px 19px 0; float:left;}
.getdirectionsbutton { display: block; text-align: center; text-transform:uppercase; margin: 10px 0 20px 2px; }
.getdirectionsbutton a {color: #fff; }
.contact{font-weight: bold; line-height: 14px}
#productcontainer {clear:left; display:block; height:200px; width: 100%;}
.storeProducts {margin: 0 auto; width: 940px; background-color: #696969; height: 200px; }
.storeProducts img {padding: 15px 25px 25px 54px;}
#productcontainer .storeProducts p {color: #fff; padding: 10px; background-color:#7f8285;}
/* storelocator.html styles added by Kara Primm 02/06/12 */
#locatorwrapper {width:940px; font-family:"Century Gothic",Arial,Sans-serif; font-size:12px;} 
#locatorwrapper h2 .maptitle {padding: 10px 0 12px 150px; float:left; display:block;}
#locatorwrapper p {margin: 0 0 0.83em; padding:0 20px 0 0; text-align: left;}
#locatorwrapper #banner {background-color: #666; width:940px; height:70px; margin: 10px 0; }
	#locatorwrapper #banner h1 {width:700px; float:left; display:block; padding: 20px 0 0 15px; color: #fff; }
	#locatorwrapper #banner a {display:block; width:210px; float:left; margin:25px 15px 0 0; color:#FFF; text-align:right;}
#locatorwrapper #inputarea {width:220px; float:left; display:block; }
.locatorinputs {float:left; display:block; margin: 20px 42px 0 20px; height:500px; width:250px; }
	.locatorinputs h2 {color:#666;}
	.locatorinputs img {margin:20px 0 0 0;}
	.locatorinputs li input, .locatorinputs select{margin: .5em 0em; clear: left;}
	.locatorinputs li {clear:left;}
		.locartorinputs img {margin: 1em 0 0 0;}
#locatorwrapper .mapplace {display:block; margin: 0 20px 0 0; padding:5px 0 0; height:350px; }
#locatorwrapper .mapplace a {float:left; display:block; cursor: pointer;}
#locatorwrapper .mapplace img {display:block; margin: 0 10px 0 0; padding: 0 0 0 0; margin: 0 auto;}
#locatorwrapper .mapplace h2 {text-align: center;}
#storelist {padding: 0 0 1em 0;}
#storelist p {text-align: center;}
#locatorwrapper #leftinfo { float: left; }
#locatorwrapper #storeproducts { width: 910px; float: left; background-color: #222; padding: 15px 15px 35px; margin: 10px 0 -35px 0; }
#locatorwrapper #storeproducts h2 { color: #fff; padding: 0 0 12px; margin-left: 13px;}
.storestuff img, .storestuff a { display: inline; }
.storestuff img { margin-right: 49px; margin-left: 2px; }
.storestuff img.last { margin-right: 0; }
.storestuff img.notLast { margin-right: 49px; }
#storeproducts .image {margin-left: 12px; }
#storeproducts .storeItem {float:left; display:block; max-width: 185px;}
#storeproducts b {font-weight: bold; color: #fff; padding-left: 3px;}
#storeproducts .description {color: #fff; ; cursor: pointer; font: 100% "Century Gothic",Helvetica,Arial; text-decoration: none; max-width:155px; margin-left: 14px;}
#advLeft {width:35%; float:left; display:block; padding-bottom: 10px }
.advertisement {margin: 0 0 0 10px; clear: both;}  
#advRight {width: 55%; float:left; display:block;}
#storeListLeft {width:460px; float:left; display:block; padding:4px 10px 8px 0;overflow:hidden;position:relative;}
#storeListRight {display:block; padding:10px 0; border-bottom: 1px solid #999; }
.map_canvas_store {position: relative;  width: 400px; height: 200px }
.map_canvas_list {position: relative; width: 485px; height: 141px; border: 1px solid #999999; padding-bottom: 50px;}
 