/*-----------Common Styles---------*/
div#content {
    width: 640px;
    float: left;
    display: inline;
}

div#content div#listing {
    width: 640px;
}

div#content-uploader {
    float: left;
    display: inline;
}

div.padded-content,
div.store-padded-content {
    width: 620px;
    margin: 0 auto;
    text-align: left;
    padding-top: 5px;
}

/* Utility styles for padding differences */

div.padded-content.bump-pad {
    padding-top: 15px;
}

div.padded-content.more-pad {
    padding-top: 20px;
}

div.padded-content.maxi-pad {
    padding-top: 25px;
}


div.store-padded-content-less {
    width: 622px;
    margin-left: 9px;
}

div.padded-content-full {
    width: 790px;
    margin: 0 auto;
    text-align: left;
}

div.store-padded-content-full {
    width: 765px;
    margin: 0 auto;
    text-align: left;
}

div.padded-content-max {
    width: 930px;
    margin: 0 auto;
    text-align: left;
}

div.padded-content.no-top-pad
{
    padding-top: 0;
}

div.cart-content {
    width: 765px;
    margin: 0 auto;
    text-align: left;
}

div.cart-content-full {
    width: 904px;
    margin: 0 auto;
    text-align: left;
}

div.no-nav-content {
    width: 780px;
    margin: 0 auto;
    text-align: left;
}

div.site-padded-content {
    width: 620px;
    margin: 0 auto;
    text-align: left;
    padding-top: 5px;
}

div.section-bar {
    height: 24px;
    width: 100%;
    line-height: 24px;
    background: #f0f0f0 url('http://assets.bodybuilding.com/images/common/sectionBarBg.png') top left repeat-x;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

div.section-bar h2 {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px 0 10px;
    text-align: left;
    display: inline;
}

div.section-bar.float-left h2 {
    float: left;
    display: inline;
}

div.section-bar a {
    float: left;
    display: inline;
    padding: 0 5px 0 5px;
}

.delete-me {
    border: solid 1px red;
    text-align: center;
    height: 100px;
}

.delete-me h2 {
    margin: 20px;
    color: Red;
    font-weight: bold;
}

/*-----------END Common Styles---------*/
/* = Button Styles
----------------------------------------------------------------------------------------------------*/
span.greenBtn {
    background: #4E8D10 url("http://assets.bodybuilding.com/images/common/components/buttons/btnLeftCap.png") left top no-repeat;
    background-repeat: no-repeat;
    font-size: 11px;
    display: inline-block;
    height: 22px;
    border: 0;
    margin: 0;
    font-weight: bold;
    padding: 0 0 0 10px;
    *padding: 0;
    text-align: center;
    *overflow: visible;
    *margin-bottom: 2px;
}

body {
    
}

span.greenBtn input {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px 0 0;
    height: 22px;
    border: 0px;
    margin: 0;
    *padding: 0;
    background: transparent url("http://assets.bodybuilding.com/images/common/components/buttons/btnRightCap.png") right top no-repeat;
    color: #FFF;
}

html> /**/ body span.greenBtn,x:-moz-any-link,x:default { /* Firefox 3 Hack */
    margin-bottom: -10px;
}

html> /**/ body span.greenBtn input,x:-moz-any-link,x:default { /* Firefox 3 Hack */
    padding-bottom: 2px !important;
}

a.greenBtn {
    background: transparent url("http://assets.bodybuilding.com/images/common/components/buttons/btnLeftCap.png") no-repeat 0 0;
    display: inline-block;
    border: 0;
    *margin-right: 4px;
    *margin-bottom: 7px;
    cursor: pointer;
    font-weight: bold;
    padding: 0 0 0 10px;
    text-align: center;
    font-size: 11px;
    color: #FFF !important;
}

a.greenBtn:hover {
    text-decoration: none;
}

a.greenBtn:hover span {
    color: #000;
}

a.greenBtn:active span {
    color: #091232;
}

a.greenBtn span {
    height: 26px;
    line-height: 26px;
    width: 100%;
    display: inline;
    white-space: nowrap;
    padding: 6px 10px 6px 0;
    background: transparent url("http://assets.bodybuilding.com/images/common/components/buttons/btnRightCap.png") no-repeat right -1px;
    *background-position: right 0;
    background-position /*\**/: right 0\9;
}

span.alert-button {
    background: transparent url("http://assets.bodybuilding.com/img/common/components/alertBoxBackground.png") right top no-repeat;
    font-size: 11px;
    display: inline-block;
    line-height: 17px;
    height: 17px;
    border: 0;
    margin: 0;
    font-weight: bold;
    padding: 0 8px 0 0;
    color: white;
    *padding: 0;
    text-align: center;
    overflow: hidden;
    *margin-bottom: 2px;
}

a.alert-button {
    background: transparent url("http://assets.bodybuilding.com/img/common/components/alertBoxBackgroundCap.png") left top no-repeat;
    display: inline-block;
    border: 0;
    *margin-right: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 0 0 0 8px;
    *padding-right: 3px;
    text-align: center;
    font-size: 11px;
    color: #FFF !important;
    text-decoration: none;
}

/* Helper Block */
div#helper-block {
    background: url("http://assets.bodybuilding.com/img/common/skin09/wrapper/grad_sprite.png") repeat-x;
    background-position: 0 -336px;
    height: 205px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#helper-block div#helper-info {
    background: url("http://assets.bodybuilding.com/images/common/backgroundPageDescription.png") repeat-x;
    height: 143px; /* 183px - 40px (padding") */
    width: 273px; /* 313px - 40px (padding") */
    padding: 20px;
    float: left;
    color: #FFF;
    overflow: hidden;
}

div#helper-block div#helper-info h2 {
    font-size: 25px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

div#helper-block div#helper-info p {
    padding-right: 20px;
}

div#helper-block div#helper-image {
    height: 183px;
    width: 327px;
    float: right;
    padding: 0px;
    overflow: hidden;
}

div#helper-block div#helper-video {
    height: 183px;
    width: 327px;
    float: right;
    padding: 0px;
    overflow: hidden;
}

div#helper-block div#helper-controls {
    height: 22px;
    width: 100%;
    clear: both;
    overflow: hidden;
}

/* Bar Header */
div.boom-line-header {
    margin-top: 30px;
    height: 3px;
    background: #414245;
    overflow: visible;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    clear: both;
}

div.boom-line-header.extra-pad {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    /* margin-left: 10px !important;
    margin-right: 10px !important;
    width: auto;*/
}

div.boom-line-header.short {
    margin-top: 20px;
    clear: both;
}

div.boom-line-header.padded {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    clear: both;
}

div.boom-line-header h1,div.boom-line-header h2,div.boom-line-header h3 {
    background: #FFF;
    color: #414245;
    display: inline;
    padding-right: 5px;
    padding-bottom: 3px;
    top: -12px;
    left: 0;
    position: absolute;
    font-weight: bold;
    font-size: 23px;
    overflow: visible;
    clear: both;
    margin: 0; /* override for styles.css */
}

div.boom-line-header h1 {
    padding-left: 10px;
    clear: both;
}


/*Low Bar Header */

div.bb-low-line-header{
    margin: 30px 0 10px;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
}

div.bb-low-line-header h2{
    margin: 0 0 6px 0;
    color:#4d4f53;
    font-size: 18px;
    font-weight: bold;
}

div.bb-low-line-header .link{
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 6px;
}

/* BB Line Header */
div.bb-line-header {
    background-color: #FFF;
    vertical-align: middle;
    position: relative;
    font-family: Arial, sans-serif;
    clear: both;
    width: 100%;
    margin: 15px auto;
}

div.bb-line-header > span {
    display: inline-block;
    width: 100% !important;
    height: 3px !important;
    border: 0px none transparent !important;
    background-color: #414245;
    margin: auto 0 !important;
    position: absolute;
    top: 12px;
    font-size: 0 !important;
}

div.bb-line-header h2,div.bb-line-header h3 {
    background-color: #FFF;
    padding: 0 5px 0 0 !important;
    margin: 0 !important;
    line-height: 26px;
    font-size: 23px;
    font-weight: bold;
    color: #414245;
    position: relative;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

/* Bar Header */
div.button-line-header {
    margin-top: 30px;
    height: 1px;
    background: #c5c5c5;
    overflow: visible;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

div.button-line-header.skinny {
    margin-top: 5px;
    margin-bottom: 15px;
}

div.button-line-header.extra-skinny {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.button-line-header div {
    background: #FFF;
    color: #414245;
    display: inline;
    padding-left: 7px;
    height: 30px;
    line-height: 24px;
    top: -13px;
    right: 0;
    position: absolute;
    font-size: 14px;
    overflow: visible;
    margin: 0; /* override for styles.css */
}

/* Tan Block 3D look */
div.boom-content-tan-block {
    background: #F4F1EB;
    padding: 10px;
    border-right: 2px inset #CCC;
    border-bottom: 3px ridge #CCC;
    border-top: 2px solid #F6F3ED;
    border-left: 3px solid #F6F3ED;
}

div.boom-content-tan-block hr {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #E3DFD9;
    border-right: 0;
    border-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Tan Box Flat 1px border */
div.boom-tan-box div.boom-line-header h2,div.boom-tan-box div.boom-line-header h3 {
    background: #F4F1EB;
}

div.boom-tan-box {
    background: #F4F1EB;
    border: 1px solid #cdcccb;
    text-align: left;
}

div.small-box {
    width: 277px !important;
    margin: 12px 0 0 0;
}

div.boom-tan-box h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

div.boom-tan-box img.float-right {
    float: right;
    margin: 0 0 0 5px;
}

div.boom-tan-box img.float-left {
    float: left;
    margin: 0 10px 20px 0;
}

div.padding {
    padding: 10px !important;
}

div.top-padding {
    padding: 10px 0 0 0;
}

/* Line header in the tan box */
div.boom-tan-box div.boom-line-header {
    margin-top: 10px;
    height: 3px;
    background: #414245;
    overflow: visible;
    width: 100%;
    position: relative;
}

/* Rounded Button */
a:hover div.rounded-button,a:hover div.rounded-button div.border,a:hover div.rounded-button span {
    text-decoration: none;
    border-color: #0099FF;
}

div.rounded-button {
    display: inline-block;
    border-style: solid;
    border-color: #D4D3D2;
    border-top-width: 1px;
    border-bottom-width: 1px;
    position: relative;
    height: 20px;
    width: 120px;
    z-index: 0;
    cursor: pointer;
}

div.rounded-button div {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 120px;
    height: 4px;
    z-index: 1;
    line-height: 0;
    overflow: hidden;
}

div.rounded-button div.g1 {
    background-color: #EEEEEE;
    top: 0;
}

div.rounded-button div.g2 {
    background-color: #F0F0F0;
    top: 4px;
}

div.rounded-button div.g3 {
    background-color: #F5F5F5;
    top: 8px;
}

div.rounded-button div.g4 {
    background-color: #FAFAFA;
    top: 12px;
}

div.rounded-button div.g5 {
    background-color: #FFFFFF;
    top: 16px;
}

div.rounded-button div.border {
    top: 0;
    height: 20px;
    border-style: solid;
    border-color: #D4D3D2;
    border-left-width: 1px;
    border-right-width: 1px;
    margin: 0 -1px;
}

div.rounded-button span {
    text-align: center;
    position: absolute;
    font-size: 9pt;
    z-index: 2;
    width: 120px;
    line-height: 20px;
}

/* Medium Rating */
div.med-rating {
    background: url('http://assets.bodybuilding.com/store/images/common/medium-rating-background.jpg') no-repeat;
    width: 26px;
    height: 23px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    line-height: 23px !important;
    text-align: center;
    color: #FFF;
    font: bold 12px Arial;
    text-decoration: underline;
    margin-right: 2px;
}

div.med-rating a,div.med-rating a:hover,div.med-rating a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

/* End Medium Rating */
/* Small Rating */
div.small-rating {
    height: 20px !important;
    width: 36px !important;
    line-height: 20px !important;
    display: inline-block !important;
    *zoom: 1;
    *display: inline !important;
    color: #FFF !important;
    text-align: center !important;
    background-color: #272727;
    background-image: url("../../../../../../img/common/components/small-rating-overlay.png");
    border: 1px solid #CECECE !important;
}

div.small-rating.gray {
    background-color: #272727 !important;
    text-decoration: underline;
}

div.small-rating.blue {
    background-color: #0099FF !important;
    text-decoration: underline;
}

div.small-rating.dark-blue {
    background-color: #00488C !important;
    text-decoration: underline;
}

div.small-rating a,div.small-rating a:hover,div.small-rating a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

/* Form Messages */
div.message {
    width: 100%;
    height: 75px;
    background: #666;
    margin-bottom: 20px;
}

div.message img {
    height: 75px;
    width: 75px;
    float: left;
    background: #333;
    margin-right: 10px;
}

div.message p {
    margin: 10px;
    padding: 10px;
    width: auto;
    color: #FFF;
    font-weight: bold;
}

div.message.error {
    background: #8A002E;
}

div.message.success {
    background: #4E7C1B;
}

div.message.warning {
    background: #F4BC2C;
}

div.message.hot {
    background: #FF1493;
}

/*Sort list*/
div.boom-sort-links-con {
    margin: 5px 0 5px 0;
}

div.boom-sorted-by {
    width: 105px;
    font-size: 12px;
    float: left;
    text-align: left;
    margin: 0;
    color: #4d4f53;
    font-weight: bold;
    font-family: Arial, Verdana, Sans-Serif;
}

ul.boom-sort-links {
    margin: 0;
    padding: 0;
    float: left;
    height: auto !important;
    overflow: hidden;
}

ul.boom-sort-links li {
    float: left;
    list-style-type: none;
    margin: 0 4px 8px -1px;
    padding: 2px 0px 2px 6px;
    border-left: solid 1px #4d4f53;
    color: #333;
    font-size: 12px;
}

ul.boom-sort-links li.border-off {
    border-left: none 0px transparent !important;
}

ul.boom-sort-links li span.boom-sort-arrows-up {
    width: 10px;
    padding: 0 3px 0 0;
    height: 12px;
    float: left;
    display: block;
    margin: 0 0 0 3px;
    background: url("http://assets.bodybuilding.com/images/common/sortArrows.png") no-repeat 0 0;
}

ul.boom-sort-links li span.boom-sort-arrows-down {
    width: 10px;
    padding: 0 3px 0 0;
    height: 12px;
    float: left;
    display: block;
    margin: 0 0 0 3px;
    background: url("http://assets.bodybuilding.com/images/common/sortArrows.png") no-repeat 0 -12px;
}

ul.boom-sort-links li span {
    width: 10px;
    height: 12px;
    float: left;
    display: block;
    margin: 0 0 0 3px;
}

ul.boom-sort-links li a,.boom-sort-links li a:link,.boom-sort-links li a:visited {
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

ul.boom-sort-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

table.large-product-image {
    width: 156px;
    height: 156px;
    background: url("http://assets.bodybuilding.com/images/common/blackBox.png") no-repeat 0 -75px;
    margin: 0;
    padding: 0;
}

table.medium-product-image {
    width: 110px;
    height: 110px;
    background: url("http://assets.bodybuilding.com/images/common/blackBox.png") no-repeat 0 -235px;
    margin: 0;
    padding: 0;
}

table.small-product-image {
    width: 75px;
    height: 75px;
    background: url("http://assets.bodybuilding.com/images/common/blackBox.png") no-repeat 0 0;
    margin: 0;
    padding: 0;
}

table.large-product-image td,table.small-product-image td {
    vertical-align: middle;
    text-align: center;
    border: none 0px transparent !important;
}

/* Featured Products*/
/* Featured product content */
div.featured-product-image {
    width: 160px;
    float: left;
    display: inline;
    padding: 10px 0 0 0;
    margin: 0 0 5px 10px;
}

div.featured-product-details {
    width: 280px;
    float: left;
    display: inline;
    padding: 10px 0 0 0;
    margin: 0 0 5px 10px;
    text-align: left;
}

div.featured-product-details h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 0;
}

div.featured-product-details h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

div.featured-product-details h5 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

div.featured-product-order {
    width: 130px;
    float: right;
    display: inline;
    margin: 0 0 5px 0;
}

div.featured-product-order div.product-rating-con {
    width: 130px;
    height: 80px;
    padding: 10px 0 0 0;
    border-left: solid 1px #cfcecd;
    border-bottom: solid 1px #cfcecd;
}

div.featured-product-order div.order-button-con {
    width: 130px;
    height: 105px;
    border-left: solid 1px #cfcecd;
    text-align: center !important;
}

div.featured-product-order div.order-button-con p {
    text-align: center !important;
    margin: 0 0 3px 0;
}

div.featured-product-header-align {
    height: 20px;
    width: 585px;
    margin: 0 auto;
}

/* In Content Full Width Ads */
div.boom-content-advertisement div.advertisement-header {
    text-align: left;
    background: #333;
    color: #FFF;
    font-size: 7pt;
    padding-left: 5px;
}

div.boom-content-advertisement div.advertisement {
    background: #000;
}

/*
#tooltip
{
    display:none;
    font-size:12px;
	background:#000;
	border:3px solid #FFF;
    padding:25px;
	opacity:0.75;
	filter: alpha(opacity = 75);
	width:300px;
    color:#fff;
	z-index:10000;
	margin-top:-25px;
}*/


/* Fix inline block */
*.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

/* Tag Links */
div.tag-link {
    width: 625px;
    *width: 610px;
    position: relative;
    margin-bottom: 50px;
}

div.tag-link.padded {
    border-top: 1px solid #DCD8C1;
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
    position: relative;
    margin-bottom: 50px;
}

div.tag-link div {
    position: absolute;
    right: 0px;
    line-height: 23px;
    padding: 0 10px;
    overflow: hidden;
    border-color: #DCD8C1;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    z-index: 0;
}

div.tag-link div div {
    position: absolute;
    width: 100%;
    margin: 0 -10px;
    height: 5px;
    z-index: -1;
}

/* Gradient button */
div.tag-link div div.g1 {
    top: 0;
    background: #EAE9E7;
}

div.tag-link div div.g2 {
    top: 5px;
    background: #EFEEEC;
}

div.tag-link div div.g3 {
    top: 10px;
    background: #F4F3F1;
}

div.tag-link div div.g4 {
    top: 15px;
    background: #FCFBFA;
}

div.tag-link div div.g5 {
    top: 20px;
    background: #FFFFFF;
}

/* End Gradient button */
/* Store Index HTML Rotater */
div#htmlRotater {
    overflow: hidden;
    width: 100%;
    height: 220px;
    position: relative;
}

div#htmlRotater div.r-frame {
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 100%;
}

div#htmlRotaterControlls {
    height: 20px;
    background: url("http://assets.bodybuilding.com/img/common/skin09/wrapper/grad_sprite.png") repeat-x;
    background-position: 0 -519px;
    line-height: 1px !important;
}

div#htmlRotaterControlls div {
    color: #FFF;
    line-height: 1px !important;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    height: 10px;
    width: 10px;
    padding: 0px !important;
    background: #B2B2B2;
    margin: 5px 3px;
}

div#htmlRotaterControlls div.sel {
    background: #00A1D9;
}

div#htmlRotaterControlls div.previous {
    height: 9px;
    width: 8px;
    background: transparent url("http://assets.bodybuilding.com/img/common/components/htmlRotaterControlls.png");
    background-position: 0 0;
}

div#htmlRotaterControlls div.next {
    height: 9px;
    width: 8px;
    background: transparent url("http://assets.bodybuilding.com/img/common/components/htmlRotaterControlls.png");
    background-position: -8px 0;
}

div#htmlRotaterControlls div.previous:hover {
    background-position: 0 -9px;
}

div#htmlRotaterControlls div.next:hover {
    background-position: -8px -9px;
}

div#content div.gray-bg {
    padding: 1px 10px 25px;
    margin: 0 -9px 10px;
}

div#content div.gray-bg,div#content div.gray-bg div.boom-line-header h2 {
    background-color: #E9E9E9 !important;
}

/* Star rating indicator */
div.boom-rating-star {
    height: 17px;
    width: 180px;
    background: #FFF url("http://assets.bodybuilding.com/images/common/components/rating-stars.png") no-repeat -180px 0;
    margin: 0px;
    padding: 0px;
}

div.boom-rating-star.zero {
    background-position: -180px 0;
}

div.boom-rating-star.one {
    background-position: -162px 0;
}

div.boom-rating-star.two {
    background-position: -144px 0;
}

div.boom-rating-star.three {
    background-position: -126px 0;
}

div.boom-rating-star.four {
    background-position: -108px 0;
}

div.boom-rating-star.five {
    background-position: -90px 0;
}

div.boom-rating-star.six {
    background-position: -72px 0;
}

div.boom-rating-star.seven {
    background-position: -54px 0;
}

div.boom-rating-star.eight {
    background-position: -36px 0;
}

div.boom-rating-star.nine {
    background-position: -18px 0;
}

div.boom-rating-star.ten {
    background-position: 0 0;
}

/* Star rating indicator */
/* Rounded gray box  */
div.boom-gray-box-rounded {
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/gray-box-top.png") no-repeat 0 0;
    position: relative;
    padding: 5px 0 6px 0;
    width: 610px;
    font-size: 12px;
    min-height: 10px;
    height: auto !important;
    height: 10px;
}

div.boom-gray-box-rounded p {
    line-height: 14px;
    margin: auto 10px;
}

div.boom-gray-box-rounded-bottom {
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/gray-box-bottom.png") no-repeat 0 0;
    clear: both;
}

/* Rounded gray box  */
/* Ratings box  */
div.rating-box {
    width: 100%;
    border: solid 1px #CCC;
    background-color: #F1F0EE;
    padding: 0 0;
    margin: 0 auto;
    font-size: 12px;
}

div.rating-box div {
    margin: 5px 15px 5px 10px;
}

div.rating-box.message {
    height: 95px;
    line-height: 95px;
    color: #000;
}

div.rating-box.message p {
    color: #000;
    font-weight: normal;
    height: 75px;
    line-height: 75px;
    padding: 10px;
    margin: 0;
}

div.rating-box div.comment-input div {
    margin: 15px 0 5px 0;
}

div.rating-box hr {
    margin: 10px;
    color: #999;
    background-color: #999;
    border: 0;
    height: 1px;
}

div.rating-radios {
    padding: 0px;
    font-weight: bold;
}

div.rating-radios li {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0 3px 0 0;
    position: relative;
}

div.rating-radios li input {
    height: 18px;
    display: inline;
}

div.rating-radios li.text {
    padding-top: 3px;
    margin-right: 10px;
}

/* Ratings box  */

div.user-stats {
    width: 206px;
    float: right;
    font-size: 10px;
}

/* Comments box  */
html.vam,body.vam,div.vam,span.vam,object.vam,iframe.vam,h1.vam,h2.vam,h3.vam,h4.vam,h5.vam,h6.vam,p.vam,blockquote.vam,pre.vam,a.vam,abbr.vam,acronym.vam,address.vam,code.vam,del.vam,dfn.vam,em.vam,img.vam,q.vam,dl.vam,dt.vam,dd.vam,ol.vam,ul.vam,li.vam,fieldset.vam,form.vam,label.vam,legend.vam,table.vam,caption.vam,tbody.vam,tfoot.vam,thead.vam,tr.vam,th.vam,td.vam {
    vertical-align: middle !important;
}

html.vat,body.vat,div.vat,span.vat,object.vat,iframe.vat,h1.vat,h2.vat,h3.vat,h4.vat,h5.vat,h6.vat,p.vat,blockquote.vat,pre.vat,a.vat,abbr.vat,acronym.vat,address.vat,code.vat,del.vat,dfn.vat,em.vat,img.vat,q.vat,dl.vat,dt.vat,dd.vat,ol.vat,ul.vat,li.vat,fieldset.vat,form.vat,label.vat,legend.vat,table.vat,table.vat td,caption.vat,tbody.vat,tfoot.vat,thead.vat,tr.vat,th.vat,td.vat {
    vertical-align: top !important;
}

div.info-box-arrow-short {
    margin-top: 10px;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
    width: 610px;
    border-collapse: collapse;
    background: #F0EFEE url("http://assets.bodybuilding.com/img/common/components/info-box-arrow-short-right-cap.png") no-repeat right top;
    font-size: 12px;
}

div.info-box-arrow-short div.left-cap {
    background: url("http://assets.bodybuilding.com/img/common/components/info-box-arrow-short-left-cap.png") no-repeat;
    width: 10px;
    float: left;
    height: 36px;
}

div.info-box-arrow-short span.topic {
    height: 36px;
    text-align: left;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/info-box-arrow-short.png") no-repeat right top;
    display: inline-block;
    *zoom: 1;
    *display: block;
    padding-right: 18px;
}

div.paper-box {
    width: 630px;
    margin: 10px auto 0 auto;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/paged-middle.png") repeat-y;
    padding: 0;
}

div.paper-box-top {
    width: 630px;
    height: 30px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/paged-top.png") repeat-y;
}

div.paper-box-bottom {
    width: 630px;
    height: 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/paged-bottom.png") repeat-y;
    clear: both;
}

div.paper-box div.content {
    width: 600px;
    margin: 5px auto;
}

div.paper-box div.content.first {
    margin-top: -5px;
}

/* Paper box gift certificate for the store */
div.paper-box-gift-certificate {
    width: 430px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/paged-gift-certificate.png") no-repeat;
    clear: both;
    padding: 20px 0 16px 0;
    position: relative;
    height: 180px;
}

div.paper-box-gift-certificate div.default-pad {
    margin: 0 15px;
}

/* End paper box gift certificate for the store */
div.boom-hr-white {
    height: 0;
    width: 98%;
    margin: 5px auto;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid silver;
    clear: both;
}

div.padded-content.thank-you {
    background: #457b12 url("http://assets.bodybuilding.com/img/bodyspace/photogallery/report-thanks-bg.png") repeat-x top left;
    height: 78px;
    color: #FFF;
    font-size: 20px;
    padding: 0;
    line-height: 60px;
    font-weight: bold;
}

div.padded-content.thank-you img.icon {
    float: left;
    margin: 0 20px 0 0;
    border: 0;
}

div.padded-content.error {
    background: #457b12 url("http://assets.bodybuilding.com/img/common/components/report-error-bg.png") repeat-x top left;
    height: 78px;
    color: #FFF;
    font-size: 20px;
    padding: 0;
    line-height: 78px;
    font-weight: bold;
    text-align: center;
}

table.info-box-big {
    border-collapse: collapse;
    width: 610px;
    margin: 0 auto;
}

table.info-box-big td {
    font-size: 1px;
    line-height: 1px;
}

table.info-box-big td.title {
    padding: 0 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/left-round.png") no-repeat center left;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
    line-height: 25px;
    width: 100px;
}

table.info-box-big td.top-left {
    height: 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/left-round.png") no-repeat top left;
    vertical-align: middle;
    font-size: 1px;
}

table.info-box-big td.bot-left {
    height: 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/left-round.png") no-repeat bottom left;
    vertical-align: middle;
    font-size: 1px;
}

table.info-box-big td.top-arrow {
    width: 13px;
    height: 10px;
    max-height: 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/arrow-bg-big.png") no-repeat top left;
    padding: 0;
    font-size: 1px;
}

table.info-box-big td.arrow {
    width: 13px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/arrow-bg-big.png") no-repeat center left;
    padding: 0;
    font-size: 1px;
}

table.info-box-big td.bot-arrow {
    width: 13px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/arrow-bg-big.png") no-repeat bottom left;
    height: 10px;
    padding: 0;
    font-size: 1px;
}

table.info-box-big td.content {
    background: transparent url("http://assets.bodybuilding.com/img/common/components/right-round.png") no-repeat center right;
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
    height: 100%;
}

table.info-box-big td.top-right {
    height: 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/right-round.png") no-repeat top right;
    font-size: 1px;
}

table.info-box-big td.bot-right {
    height: 10px;
    background: #FFF url("http://assets.bodybuilding.com/img/common/components/right-round.png") no-repeat bottom right;
    font-size: 1px;
}

div.gradient-panel {
    padding: 4px 4px;
    border: 1px solid #B4B4B4;
}

div.gradient-panel div.content { /* background: transparent; */
    background-image: url("../../../../../../store/images/common/store-vertical-gradient-sprite.png");
    /*height: 93px;*/
}

/* Store Pager Box */
div.gradient-panel.pager-panel {
    height: auto !important;
}

div.gradient-panel.pager-panel div.content {
    height: 22px !important;
    padding-top: 6px;
}

div.gradient-panel.pager-panel div.content span.show,div.gradient-panel.pager-panel div.content select {
    float: left;
}

div.gradient-panel.pager-panel div.content div.pagination {
    float: right;
}

div.gradient-panel div.pagination {
    *margin-top: -3px;
    margin-top: /*\**/ -2px\9;
    float: right;
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

/* ----------------------- Old Bodyspace Pager ------------------------------- */
ul.pager {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 19px;
}

ul.pager li {
    list-style-type: none;
    display: block;
    float: left;
    border-bottom: 1px solid #C3BFBC;
    border-left: 1px solid #C3BFBC;
    border-top: 1px solid #C3BFBC;
}

ul.pager li.selected {
    background-color: #505052;
    color: #FFF !important;
}

ul.pager li.last {
    border: 1px solid #C3BFBC;
}

ul.pager li span {
    margin: 0px;
    height: 17px;
    line-height: 17px;
    color: #2C2B2A;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

ul.pager li span.selected {
    background-color: #505052;
    color: #fff;
}

ul.pager li span.next {
    width: 44px;
    border-right: 1px solid #c3bfbc;
}

ul.pager li span.prev {
    width: 44px;
}

ul.pager li a {
    float: left;
    margin: 0px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

ul.pager li a span {
    display: inline;
    padding-left: 0;
    padding-right: 0;
}

ul.pager li a:link,ul.pager li a:visited,ul.pager li a:active,ul.pager li a:focus {
    background-color: #fff;
    color: #0E709A;
    text-decoration: none;
}

ul.pager li a:hover {
    background-color: #186c91;
    color: #fff;
    text-decoration: underline;
}

/* ------------- mini-cart ------------ */
div.mini-cart-3-container {
    width: 324px;
    background: #fff;
    border: #626363 solid 11px;
    font-weight: normal;
}

div.mini-cart-container {
    width: 324px;
    background: #fff;
    border: #626363 solid 11px;
    font-weight: normal;
}

div.mini-cart-3-header {
    background: #fff;
}

div.mini-cart-3-header {
    font-size: 11px;
    margin: 10px 5px 3px;
    font-weight: bold;
    color: #2c2b2a;
}

div.mini-cart-3-header span {
    font-weight: normal;
}

div.mini-cart-3-product-container {
    height: 278px;
    background: #fff;
    overflow-y: scroll;
    padding: 2px 5px 5px;
}

div.mini-cart-product-container {
    height: 91px;
    background: #fff;
    padding: 2px 5px 5px;
}

div.mini-cart-3-product-container ul li,div.mini-cart-product-container ul li {
    border-top: #d4d4d4 solid 1px;
    height: 91px;
    list-style-type: none;
}

div.mini-cart-3-product-container .left {
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px;
    background: #39b54a;
}

div.mini-cart-3-product-container .middle {
    width: 124px;
    height: 70px;
    margin: 10px 0;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #0e709a;
    margin-top: 10px;
}

div.mini-cart-3-product-container .right {
    width: 80px;
    height: 70px;
    margin: 10px 0;
    float: right;
    text-align: right;
}

div.mini-cart-3-product-container .strikethrough {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    color: #929b9c;
}

div.mini-cart-3-product-container .mini-header-bold {
    font-weight: bold !important;
}

div.mini-cart-3-product-container .price {
    font-size: 14px;
    font-weight: bold;
    color: #0e709a;
}

div.mini-cart-3-product-container .each {
    font-size: 11px;
    font-weight: bold;
    color: #0e709a;
}

div.mini-cart-3-product-container .quantity-box {
    width: 24px;
    height: 17px;
    margin: 5px 0;
    background: #fff;
    border: #d4d4d4 1px solid;
    color: #2c2b2a;
    display: inline-block;
    text-align: right;
}

div.mini-cart-3-product-container .quantity {
    font-size: 11px;
    color: #2c2b2a;
    display: block;
}

div.mini-cart-3-product-container .update {
    font-size: 11px;
    display: block;
    font-weight: bold;
    color: #0e709a;
}

div.mini-cart-3-product-container .remove {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    color: #000;
}

div.mini-cart-3-product-container .sub-total-price {
    float: right;
    display: inline;
}

div.mini-cart-3-bottom-container a {
    margin: 10px 110px 10px 0;
    font-size: 11px;
    color: #0e709a;
}

div.mini-cart-3-bottom-container {
    background: #f0f0f0;
    height: 162px;
    padding: 0px 10px 0 10px;
}

div.mini-cart-3-bottom-container {
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

div.mini-cart-3-bottom-container  div.mini-cart-ad {
    background: url("http://assets.bodybuilding.com/common/images/mini-cart/free-gift.png");
    width: 302px;
    margin-top: 5px;
    height: 91px;
    padding: 0;
}

div.mini-cart-3-bottom-container  div.mini-cart-3-sub-total {
    padding: 10px 0 5px;
    border-bottom: #d4d4d4 1px solid;
    heightP: 30px;
}

div.mini-cart-3-bottom-container  div.mini-cart-3-view-full-cart {
    margin: 5px 0;
}

div.mini-cart-3-bottom-container span.close-mini-cart {
    font-size: 11px;
    color: #a71930;
    margin: 0px 10px;
}

.testimonials-footer {
    float: left;
    overflow: hidden;
    width: 375px;
}

.testimonials-title {
    font-family: "Arial Black", Arial;
    font-size: 18px;
    color: #0e709a;
    text-align: left;
    margin: 15px 0 0 15px;
}

.testimonial-block {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: right;
    font-weight: normal;
    font-family: arial, sans-serif;
}

.testimonial-grouping {
    display: none;
}

.testimonial-grouping.first {
    display: block;
}


.customer-testimonial {
    border-bottom: 1px dotted #9e9c9b;
    letter-spacing: 0.1px;
    margin-top: 12px;
    padding-bottom: 10px;
    margin-left: 10px;
    width: 370px;
}

.testimonials-footer .last-item {
    border-bottom: none;
    margin-top: 4px;
    margin-bottom: 0;
}

.customer-testimonial span.username {
    font-weight: bold;
    color: #4d4f53;
}

.customer-testimonial p {
    color: #2C2B2A;
    letter-spacing: -0.1px;
    margin: 2px 0;
    padding: 0;
    width: 299px;
}

.customer-testimonial img {
    width: 70px;
}

.customer-testimonial-left img,.customer-testimonial-right p,.customer-testimonial-left .testimonial-footer {
    float: left;
    text-align: right;
}

.customer-testimonial-right img,.customer-testimonial-left p,.customer-testimonial-right .testimonial-footer {
    float: right;
}

.customer-testimonial .testimonial-footer {
    margin-top: 10px;
}

.customer-testimonial .testimonial-footer span.username {
    margin-right: 3px;
}

.customer-testimonial .testimonial-footer a.profile {
    margin-left: 3px;
}

.testimonial-image {
    float: right;
}

.testimonial-text {
    font-size: 11px;
    color: #4d4f53;
    font-weight: normal;
    text-align: right;
    float: right;
    width: 240px;
    margin-top: 15px;
    margin-right: 5px;
}

/* Helper Block */
div#helper-block {
    background: url("http://assets.bodybuilding.com/img/common/skin09/wrapper/grad_sprite.png") repeat-x;
    background-position: 0 -336px;
    height: 207px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#helper-block.half-height {
    height: 127px;
}

div#helper-block.half-height div#helper-info {
    background: url("http://assets.bodybuilding.com/images/common/blue_block_right.png") repeat-x;
    height: 85px; /* 105px - 20px (padding) */
    width: 620px; /* 313px - 20px (padding) */
    padding: 10px;
    float: left;
    color: #FFF;
    overflow: hidden;
}

div#helper-block.half-height div#helper-image {
    display: none;
}

div#helper-block.half-height div#helper-controls {
    background: url("http://assets.bodybuilding.com/img/common/skin09/wrapper/grad_sprite.png") repeat-x;
    background-position: 0 -519px;
}
