/* Mega Menu */
.CMSMegaMenu { margin: 5px 0 0 20px; width: 752px; }
.CMSMegaMenu .megaMenuContent { margin-bottom: 5px; padding: 10px 0 0 0; background: url(../assets/cms/bkg/bkg-megaMenuContent.gif) repeat-y top left;  }
.CMSMegaMenu .megaMenuBackground { background: url(../assets/cms/bkg/bkg-megaMenuBackground.gif) repeat-y top left; }
.CMSMegaMenu .ThreeColLight { background: url(../assets/cms/bkg/bkg-megaMenu3ColLight.gif) repeat-y top left; }
.CMSMegaMenu .column1 { width: 165px; }
.CMSMegaMenu .column2 { width: 178px; margin-left: 25px; }
.CMSMegaMenu .column3 { width: 172px; margin-left: 27px; }
.CMSMegaMenu .column4 { width: 145px; margin-left: 28px; }
.CMSMegaMenu .ThreeColLight .column1 { width: 165px; }
.CMSMegaMenu .ThreeColLight .column2 { width: 165px;}
.CMSMegaMenu .ThreeColLight .column3 { width: 172px;}
.CMSMegaMenu .ThreeColLight .column4 { width: 158px;}
.CMSMegaMenu .megaMenuList { margin: 0 0 0 0;  }
.CMSMegaMenu .megaMenuList li { margin: 0 0 0 0; }
.CMSMegaMenu .megaMenuList li.endGroup { margin: 0 0 15px 0; }
.CMSMegaMenu .megaMenuList li.title { background: none; font-family: Verdana; font-weight: bold; color: #5e5e45; text-transform: uppercase; padding: 0 0 0 0; }
.CMSMegaMenu .megaMenuList li.underlined {text-decoration: underline; }
.CMSMegaMenu .listWithBullets li { background: url(../assets/cms/bkg/bkg-megaMenuBullet.gif) no-repeat 0px 6px; padding-left: 8px; }
.CMSMegaMenu .otherWaysToShop { background-color: #e6e5d8; border-top: 1px solid #dcdbcf; padding-top: 15px; }
.CMSMegaMenu .otherWaysToShop li { display: inline; padding: 0 20px 0 15px; background: url(../assets/cms/bkg/bkg-otherWaysToShopLI.gif) no-repeat 0px 3px; }
.CMSMegaMenu .otherWaysToShop li.heading { font-weight: bold; background: none; padding: 0 10px 0 15px; }
.CMSMegaMenu .otherWaysToShop a { text-decoration: underline; }
/* ----------------- */

/* CMS Assets */
.cmsProdSmallView { border:1px solid #ccc; background-color:#fff; width:127px; padding:10px;}
.cmsProdSmallView .itemImage img {display:block; margin:0px auto 10px;}
.cmsProdSmallView .price {margin-top:5px;}


/* ---------- */

/* Homepage Template Styles */
#homepageTemplate1 .imageRotator, 
#homepageTemplate2 .imageRotator { height: 372px; margin-bottom:20px; }
#homepageTemplate1 .imageRotator .panel img, 
#homepageTemplate2 .imageRotator .panel img {width:100%;  }
	/* General Layout Styles */
	.CMShomepage2ColumnBox, .CMShomepage1ColumnBox { border: 1px solid #d2d0c9; padding: 1px; background-color: #fff; }
	.CMShomepage2ColumnBox .content { position: relative; padding: 0 0 0 12px; height: 155px; overflow: visible; background: #fff url(../assets/cms/bkg/bkg-CMShomepage2ColumnBox.jpg) repeat-x bottom left; }
	.CMShomepage2ColumnBox h2 { padding-top: 12px; }
	.CMShomepage2ColumnBox h3 { padding: 8px 0 12px 0; }
	.CMShomepage2ColumnBox .picture { position: absolute; top: 12px; right: 10px; }
	.CMShomepage2ColumnBox ul { margin-top: 20px; }
	.CMShomepage2ColumnBox li { display: inline; padding-right: 15px; }
	.CMShomepage1ColumnBox .content { height: 195px; overflow: hidden; background: #fff url(../assets/cms/bkg/bkg-CMShomepage1ColumnBox.gif) repeat-x top left; }
	.CMShomepage1ColumnBox h2 { margin: 5px 0 0 12px; }
	.CMShomepage1ColumnBox p { margin: 0 0 0 12px; }
	.CMShomepage1ColumnBox .picture { display: block;  margin: 10px auto 0 auto; }
	
	.CMShomepageOurStores { position: relative; height: 186px; overflow: hidden; background: #fff url(../assets/cms/bkg/bkg-CMShomepageOurStores.jpg) no-repeat top left; }
	.CMShomepageOurStores .content { width: 365px; margin: 19px 0 0 210px; }
	.CMShomepageOurStores h2 { padding: 0 0 8px 0; margin: 0 0 10px 0; background: url(../assets/cms/bkg/bkg-homepageOurStoresH2.gif) no-repeat bottom left; }
	.CMShomepageOurStores .storeLocation { display: inline; float: left; width: 250px; }
	.CMShomepageOurStores .storeLocation p { margin: 0 0 5px 0; }
	.CMShomepageOurStores select { display: block; margin: 10px 0 0 0; }
	.CMShomepageOurStores .storeLinks { display: inline; float: right; margin: 0 0 0 10px; }
	.CMShomepageOurStores li {padding: 0px 0 10px 0px; margin-bottom:10px; border-bottom: 1px solid #d2d0c9; }
	.CMShomepageOurStores .badge { position:absolute; top: 17px; right: 40px; }
	/* --------------------- */
	/* Widths depending on the Template */
	#homepageTemplate1 .CMShomepage2ColumnBox p, 
	#homepageTemplate1 .CMShomepage2ColumnBox h2, 
	#homepageTemplate1 .CMShomepage2ColumnBox h3, 
	#homepageTemplate1 .CMShomepage2ColumnBox ul,
	#homepageTemplate1 .CMShomepage1ColumnBox h2,
	#homepageTemplate1 .CMShomepage1ColumnBox p  { width: 160px; }
	
	#homepageTemplate2 .CMShomepage2ColumnBox p, 
	#homepageTemplate2 .CMShomepage2ColumnBox h2, 
	#homepageTemplate2 .CMShomepage2ColumnBox h3, 
	#homepageTemplate2 .CMShomepage2ColumnBox ul { width: 260px }
	#homepageTemplate2 .CMShomepage1ColumnBox h2,
	#homepageTemplate2 .CMShomepage1ColumnBox p  { width: 206px; }
	
	.CMShomepage1ColumnBox h2,
	.CMShomepage2ColumnBox h2 {font-family:georgia; font-size: 15px; color: #626262; font-weight:normal;}
	
	
	/* ------------------------- */
/* ------------------- */

/* Footer, Default Styles -- Footer, Checkout Styles */
.CMSdefaultFooterColumn h4, #defaultFooter #emailSignupArea h4 { font-weight: bold; text-transform: uppercase; }
.CMSdefaultFooterColumn ul { margin: 0 0 20px 0; }
.siteFooter a.underlined {text-decoration: underline; }
#CMSfooterCopyright { width: 500px;  position: absolute; margin-top: 10px;}
#CMSfooterCopyright table { position: absolute; top: 26px; left: 0; }
#CMSfooterCopyright p { color: #333; line-height: 1.5; border-left: 1px solid #aeaeac; display: inline; float: left; margin-left: 12px; padding: 5px 12px; }
#CMSfooterCopyright a { text-decoration: underline; }
#CMSfooterdefaultCopyright { width: 500px;  position: absolute; margin-top: 10px;}
#CMSfooterdefaultCopyright p { color: #333; line-height: 1.5; border-left: 1px solid #aeaeac; display: inline; float: left; margin-left: 12px; padding: 5px 12px; }
#CMSfooterdefaultCopyright a { text-decoration: underline; }
.CMSfooterIcons {position: absolute;  margin-top:10px; right: 13px;}
.CMSfooterIcons li { display: inline; padding-left: 25px; }
.CMSfooterIcons li.clr {display:none; }
	/* Checkout Footer */
	.CMSCheckoutFooterList li { color: #5e5e45; display: inline; float: left; padding: 15px 0; margin-right: 15px; }
	.CMSCheckoutFooterList li.customerService { padding-left: 55px; background: url(../assets/cms/bkg/bkg-customerServiceIcon.gif) no-repeat 0% 50%; }
	.CMSCheckoutFooterList li.text { padding-top: 13px; }
	.CMSCheckoutFooterList li.clr { float: none; display: block; margin:0; padding: 0; }
	.CMSCheckoutFooterList a { text-decoration: underline; color: #5e5e45; }
	#checkoutFooter .CMSfooterIcons, 
	#checkoutFooter #CMSfooterCopyright {margin-top:25px;}
	/* ------------- */
/* -------------------- */

/* Header, Checkout Styles */
#CMSCheckoutHeader { position: relative; display: inline; float: right;  border: 1px solid #d6d4c0; background-color: #e6e5d8; }
#CMSCheckoutHeader li { padding: 14px 10px; }
#CMSCheckoutHeader li.first { padding-left: 30px; }
#CMSCheckoutHeader .icon { position: absolute; top: -1px; left: -20px; }
#CMSCheckoutHeader a {color:#5E5E45;}
/* ---------- */

/* Category Templates */
#categoryTemplate1 .imageRotator { height: 286px; }
#categoryTemplate2 .imageRotator { height: 372px; }
#categoryTemplate1 .imageRotator .panel img, #categoryTemplate2 .imageRotator .panel img { width: 100%; }
.CMScategoryGrid { width: 100%; }
.CMScategoryGrid .column { display: inline; float: left; width: 290px; margin-right: 12px; }
.CMScategoryGrid .lastColumn { margin-right: 0px; }
#categoryTemplate2 .CMScategoryGrid .column { width: 380px; }
.CMSpickYourPassion { border: 1px solid #d2d0c9; padding: 1px; margin-bottom: 15px; }
.CMSpickYourPassion img { width: 100%; }
.CMScategoryBox { border: 1px solid #d2d0c9; padding: 1px; }
.CMScategoryBox .content { width: 100%; height: 154px; overflow: hidden; background: url(../assets/cms/bkg/bkg-CMScategoryBoxContent.gif) repeat-x bottom left; }
.CMScategoryBox h2 { margin: 10px 0 0 10px; }
.CMScategoryBox h3 { margin: 8px 0 0 10px; }
.CMScategoryBox p { margin: 10px 0 0 10px; }
.CMScategoryBox .picture { display: inline; float: right; margin: 10px 0 0 10px; }
.CMSshopByBrand { position: relative; border: 1px solid #d2d0c9; background: url(../assets/cms/bkg/bkg-CMSshopByBrand.gif) repeat-x bottom left; }
.CMSshopByBrand .shopByBrand { position: absolute; top: -14px; left: 10px;}
.CMSshopByBrand .picture { position: absolute; top: 20px; right: 16px; }
.CMSshopByBrand .content { width: 285px; background-color: #fff; border-right: 1px solid #d2d0c9; padding: 20px 0; }
.CMSshopByBrand td.borderLeft { border-left: 1px solid #d2d0c9; }
.CMSshopByBrand td.borderBottom { border-bottom: 1px solid #d2d0c9; }
.CMSshopByBrand td { width: 95px; height: 75px; overflow: hidden; vertical-align: middle; text-align: center; }
/* ---------------------- */

/* CMS Left Navigation */
.CMSunderNavigation { border-right: 1px solid #d2d0c9; }
.CMSunderNavigation h4 { line-height: 1; margin: 20px 0 0 0; padding: 3px 0; color: #5e5e45; font-family: Verdana; font-weight: bold; border-top: 1px solid #d2d0c9; border-bottom: 1px solid #d2d0c9; text-transform: uppercase; }
.CMSunderNavigation ul { margin: 5px 0 0 0; }
/* ------------------- */

/* Checkout Help Column */
.CMSCheckoutHelpColumn { padding: 10px 10px 200px 10px; background: #e2e2e2 url(../assets/cms/bkg/bkg-CMSCheckoutHelpColumn.jpg) no-repeat 50% 90%; }
.CMSCheckoutHelpColumn h3 { padding-bottom: 2px; font-weight: bold; font-size: 16px; border-bottom: 1px solid #a7a7a7; }
.CMSCheckoutHelpColumn h4 { font-weight: bold; font-size: 12px; margin-top: 10px; }
.CMSCheckoutHelpColumn p { border-bottom: 1px dotted #a7a7a7; padding: 5px 0; }
.CMSCheckoutHelpColumn a { text-decoration: underline; }
.CMSCheckoutHelpColumn li { margin-top: 10px; padding-bottom: 5px; }
/* ------------------- */

/* Fake Managed Content */
.CMSFakeContent { width: 100%; padding: 15px 0; background-color: #ccc; text-align: center; overflow:hidden;}
/* ------------------------ */

/* Account Benefits */
.CMSCheckoutAccountBenifits { padding: 10px 10px 15px; }
.CMSCheckoutAccountBenifits h4 { margin-bottom: 10px; }
/* ----------- */

/* #photoVideoSubmissionTemplate content */
#photoVideoSubmissionTemplate .introContent { margin-bottom: 10px; }
#photoVideoSubmissionTemplate .introContent p { margin-bottom:4px; }
#photoVideoSubmissionTemplate .introContent h3 { font-size:14px; font-weight:bold; margin-bottom:7px; }

/* Catalog Request */
#catalogRequestTemplate .CMSformButtons { margin: 30px 0; }
#catalogRequestTemplate .CMSformButtons p { margin-top: 5px; }
/* ---------------- */

/* Store Pages */
	/* Retail Stores Homepage */
	#storesHomepageTemplate .layoutWithRightColumn .boxGradientNtoS { margin-bottom: 10px; text-align: center; }
	#storesHomepageTemplate .layoutWithRightColumn .boxGradientNtoS h3 { text-align: left; font-family: Georgia; font-size: 17px; color: #626262; width: 140px; margin: 0 auto; padding: 5px 0; line-height: 1.25; }
	#storesHomepageTemplate .layoutWithRightColumn .boxGradientNtoS p { margin: 0 auto; padding: 5px 0; width: 140px; text-align: left; }
	#storesHomepageTemplate #storeListing { width: 100%; border-bottom: 1px solid #d2d0c9; border-right: 1px solid #d2d0c9; }
	#storesHomepageTemplate #storeListing .odd { background-color: #ebebe7; }
	#storesHomepageTemplate #storeListing td { text-align: left; vertical-align: top; padding: 10px; border-left: 1px solid #d2d0c9; border-top: 1px solid #d2d0c9; }
/* ------------- */

/*******************************/
/****** Client Added CSS *******/
/*******************************/
.headerFont {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 10px;
}

/* Piglet Charts */

#description table tr td {
    padding-left: 10px;
}

tr.subChartHeader {
    background-color: #7E7A64;
}

tr.subChartHeader td {
    border-right: 1px solid white;
}

tr.altColor2 {
    background-color: #EBEBE7;
}

tr.altColor2  td:last-child, tr.altColor td:last-child, tr.subChartHeader td:last-child {
    border-right: none;
}
.chartFine {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #7E7A64;
    border-right: 1px solid #7E7A64;
}

#description table {
    border: 1px solid #7E7A64;
    width: 420px;
}

#description table tr:FIRST-CHILD {
    height: 18px;
    background-color: #D2D0C9;
}

#description table tr:FIRST-CHILD td {
    color: #333333;
    font-size:12px;
}


#contenttable {
    width:592;
    cellpadding:0;
    cellspacing:0;
    border:0;
    margin-bottom:10px;
}

#subCatBar {
    background: url("../assets/images/bkg/bkg-headingPageTitle1.png") repeat-x scroll left bottom transparent;
    margin-top: 8px; margin-bottom: 15px;
}

.leftNavCMS {border-right: 1px dotted #9A967F;}
.leftNavCMS li {list-style: disc inside url("../assets/cms/bkg/bkg-megaMenuBullet.gif");}
.leftNavCMS li.title {
    list-style: none;
    text-transform: uppercase;
    font-family: Veranda;
    font-weight: bold;
    padding: 3px 0 3px;
    color: #5E5E45;
    border-top: 1px dotted #9A967F;
    border-bottom: 1px dotted #9A967F;
}
.leftNavCMS li.leftNavCMSlast { padding-bottom: 10px;}

.RightRail {margin: 10px 0 10px 0;}

.siteGlobalPromotion { margin-bottom: 10px; }

/*******************************/
/*******************************/
/*******************************/