/* Global Print Styles */
.siteLayoutFrame {width:650px; margin:0px;}
#defaultHeader, #checkoutHeader {width:100%;}
#defaultHeader .customerService {top:0px;}
#defaultHeader .logo, #checkoutHeader .logo {position:static;}
#defaultHeader .headerGradient, #checkoutHeader .headerGradient,
#defaultHeader .navigation,
#detailUtilities {display:none;}
.layoutWithRightColumn .layoutCenterColumn, 
.layoutWithAllColumn .layoutCenterColumn {margin:0px; width:auto; display:block; float:none;}
#siteFooter,
.layoutRightColumn, 
.layoutLeftColumn {display:none;}
/* ------------------- */

/* Popup Page Printer Styles */
.popupHeader .closeButton { display: none; }
.popupContent { padding: 0; border-bottom: 0px; }
/* ----------------- */

/* Generic Print Styles */
a.withPrintIcon { display: none; }
/* -------------------- */

/* Printer Friendly Cart Page */
#printCartTemplate {width:650px;}
#printCartTemplate table {width:650px;}
#printCartTemplate table td {width:auto;}
#printCartTemplate #orderSummaryContainer {width:345px;}
#printCartTemplate #orderSummaryContainer dt {width:285px;}
#printCartTemplate #orderSummaryInclude {width:auto;}
/* ---------- */

/* Printer Friendly Order Summary */
#orderConfirmationTemplate { padding: 0; }
/* ------------------------------- */

/* Printer Friendly Product Detail Pages */
.detailsPage .itemImageInclude {width:300px; overflow:hidden;}
.detailsPage .itemImageInclude img {width:250px; height:auto;}
.detailsPage .itemImageInclude a img {width:auto;}
#productDetailsTemplate #productInfo {overflow:hidden; float:none;}
#productDetailsTemplate #productInfo .productInfo {width:325px;}
#tabsCollection .panels,
#tabsCollection .panels .panel {width:auto;}
.itemImageInclude .viewButtonsWrapper { display:none;}
.siteGlobalPromotion {display:none;}
#productDetailsTemplate ul.breadcrumb {display:none;}
.detailsPage .itemImageInclude .printImage {display:block;}
.labledContainer {overflow:hidden;}
#tabsCollection .left {width:330px;}
/* ------------------------------------- */

/* Product Chart */
#productChart {overflow:visible;}
/* ------------------------------------- */



