.col340-ri .navibox-head{
background:url("navi-box-head.gif") no-repeat 0 0;
font-size:12px;
font-weight:bold;
margin:0 0 1px;
padding:7px 2px 4px 5px;
}

.col340-ri .navibox-head a{
color:#000000;
font-size:12px;
font-weight:bold;
}

.col340-ri .navibox{
overflow:hidden;
margin:0;
padding:8px 0 0;
border-bottom: 1px solid #8a8a8a;
background:url(../../c1_i/navibox-bg-top.gif) #f3f3f3 no-repeat left top;
}

.col340-ri .navibox ul{
list-style:none;
overflow:hidden;
margin:0 0 1px;
padding:0 0 2px 4px;
background:url(navibox-bg-bottom-wo-border.gif) no-repeat left bottom;
}

.col340-ri .navibox ul li{
float:left;
width:163px;
}

.col340-ri .navibox ul li a{
display:block;
padding:2px 0 3px 4px;
font-weight:bold;
background:#fff;
}

.col340-ri .navibox ul li a:hover{
background:#def;
}

.col340-ri .navibox div{
  overflow: hidden;
  padding:0 0 1px;
  border-bottom:1px solid #fff;
}

.col340-ri .navibox div ul{
  display: inline-block;
  margin:0 4px;
  padding:0;
  background:url(bottom-grad.gif) #fff repeat-x 0 100%;
}

.col340-ri .navibox div ul li{
  display:inline-block;
  width: auto;
  margin:0;
  padding:0 0 0 3px;  
  background:url(btn-border.gif) repeat-y 0 0;
}

.col340-ri .navibox div ul li.firstChild{
  padding:0 0 0 2px;
  background-position: -1px 0;
}

.col340-ri .navibox div ul li a{
  display:inline-block;
  padding:0 0 0 4px;
  background: none;
}

.col340-ri .navibox div ul li.lastChild a{
  border-right: 1px solid #eee;
}

.col340-ri .navibox div ul li a:hover{
  text-decoration: none;
  background:url(bottom-grad-hover.gif) repeat-x 0 0;
}

.col340-ri .navibox div ul li a:hover span{
  cursor: pointer;
  text-decoration: underline;
}

.col340-ri .navibox div ul li a span{
  display: inline-block;
  padding:8px 14px 5px 19px;
  font-weight:normal;
  background:url(bottom-icos.gif) no-repeat 0 7px;
}

.col340-ri .navibox div ul li.lastChild a span{
  padding:8px 13px 5px 19px;
  border-right: 1px solid #fff;
}

.col340-ri .navibox div ul li a span.newsletter{
  background-position: 0 -46px;
}
.col340-ri .navibox div ul li a span.abo{
  background-position: 0 -98px;
}