/* 
Title: attjobs - Default Stylesheet
Authors: Bobby
Email: bobby.kc@tmp.com
Company: TMP Worldwide Advertising and Communications, LLC
*/


@media screen, projection {

	/* ====== Global Element Rules ====== */

	html, body, form {
	height: 100%;
	}

	html, body, div, span, form, fieldset, legend, h1, h2,  h4, h5, h6, abbrd,ul,li,fieldset { 
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: baseline;
	}

	body {
	font: 62.5% Verdana,Arial,Helvetica, Sans-Serif, Myuen;
	background:#F7F7F7 url("http://att.jobs/images/bg-body.gif") repeat-x left top;
	color: #797979;
	}
	
	h1, h2, h4, h5, h6 {
	clear: both;
	margin: 0px 0;
	}

	h1 {
	color: #fff;
	font-size: 2.3em;
	background:#fff url("http://att.jobs/images/bg-headline.png") no-repeat left top;
	display:block;
	width:760px;
	height:48px;
	padding:7px 0 0 20px;
	font-weight:normal;
	
	}

	h2 {
	color: #FF7200;
	font-size: 1.4em;
	padding:3px 0 0px 0;
	font-weight:bold;
	}

	h3 {
	color: #797979;
	font-size: 1.3em;
	margin:10px 0 0 0 !important;
	}

	h4 {
	color: #FF7B11;
	font-size: 1.3em;
	}

	h5, h6 {
	color: #ff0;
	font-size: 1.2em;
	font-weight: bold;
	}

	a,a.link,a.visited {color:#3AA5DC;text-decoration:none;}

	p{
		font-size:1.2em;
		padding:5px 30px 5px 0;
		margin:0;
		line-height:16px;
	}

	object, embed{
	display: block;
	border: none;
	}
	
	img
	{
		border:none;
	}

	blockquote, q {
	quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
	}

	table {
	border-collapse: collapse;
	border-spacing: 0;
	}

	abbr {
	border: none;
	}
	
	input.submit{
		cursor: pointer;
	}
	
	label
	{
		font-size:1.0em;
		font-weight:bold;
		display:inline;
		color:#929292;
	}
	
	strong{
	color:#797979;
	}

	input, textarea, select {
	border:solid 1px #d9d9d9;
	height:16px;
	}
	
	input[type=submit] 
	{
		border:0;
	}
	
	option {
	font-size: 1.2em;
	text-transform: none;
	}
	
	/* Form and/or Page messages */

	/* Main wrapper */

	#wrapper {
	position: relative;
	width: 1026px;
	margin: 0 auto;
	}

    #skip-to-content
    {
        font-size:14px;
        position:absolute;
        left:50%;
        top:0;
    }

	/* Header */

	#header {
	position: relative;
	width: 1026px;
	height: 140px;
	background:url(http://att.jobs/images/bg-header.png) left bottom no-repeat;
	}
	
	#header img {
	position: absolute;
	top: 52px;
	left:49px;
	}

	#header fieldset {
	position: absolute;
	top: 67px;
	right:38px;
	}

	#header input[type=submit]
	{
		background:url(http://att.jobs/images/btn-search-go.gif) left repeat-y;
		text-indent:-999em;
		overflow:hidden;
		width:31px;
		height:20px;
		line-height:0px;
	}

	#bookmark  {
	border: 0px solid #FFFFFF;
    height: 16px;
    left: 810px;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    /*text-indent: -999px;*/
    top: 111px;
    width: 185px;
	}
	
	#linkedin-att
	{
		height:17px;
		width:17px;
		position:absolute;
		left:744px;
		top:62px;
		cursor:pointer;
	}
	
	#linkedin-att img
	{
	}
	
	#rss 
	{
	height:17px;
	width:17px;
	position:absolute;
	left:956px;
	top:112px;
	background-image:url("http://att.jobs/images/ico-rss.gif");
	text-indent:-999px;
	overflow:hidden;
	}
	
	
	/* breadcrumbs-careerarea */
	#breadcrumbs
	{
		height:30px;
		float:left;
		width:310px;
		list-style:none;
		padding:10px 0 0 230px;
	}
	
	#breadcrumbs li
	{
		background:url("http://att.jobs/images/ico-arrow.gif") no-repeat scroll right center transparent;
		padding:0px 14px 0 6px;
		display:inline !important;
	}
	
	#breadcrumbs li a
	{
		text-decoration:none;
		color:#3AA5DC;
	}
	#breadcrumbs .last
	{
		background-image:none;
	}
	
	#careerarea
	{
		height:40px;
		float:right;
		width:300px;
		position:relative;
	}
	
	#careerarea ul
	{
		list-style:none;
		margin-top:9px;
	}
	
	#careerarea li
	{
		float:left;
	}
	
	#careerarea li span
	{
		position:absolute;
		text-indent:-9999px;
		overflow:hidden;
		left:-183px;
		top:12px;
		text-align:right;
		display:block;
		width:0px;
		text-transform:uppercase;
	}
	
	#careerarea li:hover span
	{
		text-indent:0px !important;
		width:180px;
	}
	
	#careerarea li a
	{
		text-indent:-999px;
		overflow:hidden;
		display:block;
		width:23px;
		height:20px;
		background-repeat:no-repeat;
	}
	
	#careerarea #ca-retail a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -0px 0 transparent;
		
	}
	#careerarea #ca-retail a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll 0px -20px transparent;
	}
	
	#careerarea #ca-it a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -23px 0 transparent;
		
	}
	#careerarea #ca-it a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -23px -20px transparent;
	}
	
	#careerarea #ca-callcenter a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -47px 0 transparent;
		
	}
	#careerarea #ca-callcenter a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -47px -20px transparent;
	}
	
	#careerarea #ca-college a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -71px 0 transparent;
		
	}
	#careerarea #ca-college a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -71px -20px transparent;
	}
	
	#careerarea #ca-tech a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -95px 0 transparent;
		
	}
	#careerarea #ca-tech a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -95px -20px transparent;
	}
	
	#careerarea #ca-business a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -119px 0 transparent;
		
	}
	#careerarea #ca-business a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -119px -20px transparent;
	}
	
	#careerarea #ca-consumer a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -142px 0 transparent;
		
	}
	#careerarea #ca-consumer a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -142px -20px transparent;
	}
	
	#careerarea #ca-mkt a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -165px 0 transparent;
		
	}
	#careerarea #ca-mkt a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -165px -20px transparent;
	}
	
	#careerarea #ca-corp a
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -188px 0 transparent;
		
	}
	#careerarea #ca-corp a:hover
	{
		background:url("http://att.jobs/images/ico-career-area.gif") scroll -188px -20px transparent;
	}
	
/* Main content wrapper */

	#content-wrapper {
	width: 1026px;
	position:relative;
	margin-top:40px;
	min-height:458px;height:auto !important;height:458px;
	
	}

	#leftcontent
	{
		float:left;
		width:208px;
		height:400px;
		background:url("http://att.jobs/images/bg-leftcontent.png") no-repeat left bottom;
		min-height:472px;height:auto !important;height:472px;
	}
	
	#leftcontent h2
	{
		padding:0 0 0 59px;
	}
	
	
	#content
	{
		width:795px;
		float:left;
		background:url("http://att.jobs/images/bg-content.png") no-repeat right top;
		min-height:432px;height:auto !important;height:432px;
		
	}

	#article
	{
		float:left;
		width:487px;
		min-height:390px;height:auto !important;height:390px;
		border:1px solid #E6E7E8;
		border-top:0;
		margin-bottom:5px;
		padding-left:20px;
		padding-bottom:20px;
		margin-top:20px;
		-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
		background-color:#fff;
		position:relative;
	}
	#article h2,#careerarea-topcontent h2
	{
		font-size:1.8em;
		color:#61B7E3;
		padding-bottom:6px;
	}
	
	#article ul
	{
		padding-left:20px;
		margin:5px 0 5px 0;
	}
	#article ul li
	{
		line-height:1.6em;
		font-size:1.2em;
	}
	
	

	/* Footer */
	#footer {
	color:#999999;
	padding:30px 0 10px 40px;
	position:relative;
	width:1000px;
	float:left;
	font-size:0.9em !important;
	}
	
	#footer  a
	{
		color:#999999;
	}
	
	#footer  p
	{
		color:#999999;
		font-size:1.0em;
		line-height:14px;
		padding-bottom:10px !important;
	}
	
	
	#footer ul {
	font-size:1.1em;
	padding:0 0 10px 0;
	}
	
	#footer ul li {
	display:inline;
	list-style:none outside none;
	padding:0 8px 0 0;
	}

	

	.footer_pipe {
	background:url("http://att.jobs/images/footer_pipe.gif") no-repeat scroll 0 0 transparent;
	border:medium none !important;
	display:block;
	height:13px;
	margin:0;
	padding:0;
	width:1px;
	}
	
	#footer p#legal {
	border:0 solid;
	float:left;
	}

	#footer p#eoe_statement {
	border:0 solid;
	}
	
	#footer p#sponsor a  {
	background:url("http://att.jobs/images/footer_sponsor.gif") no-repeat scroll left top transparent;
	border:0 solid;
	float:right;
	height:26px;
	right:52px;
	position:relative;
	top:22px;
	width:226px;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	}

	/*Accordian */
	.accordion_wrapper {
	margin:15px 20px 10px 0;
	width:452px;
	}
	.accordion h3.ui-state-default {
	color:#464646;
	cursor:pointer;
	}

	.accordion h3 {
	font-weight:700;
	line-height:1.5em;
	}

	.accordion div {
		overflow:hidden; 
		position:relative;
		 }
	

	/*General Shared CSS */
	
	
	

	.alert{
		color:red;
		font-weight:900;	
		font-size:1.1em;
	}	
	
	.caption
	{
		font-size:1.2em;
		font-weight:bold;
		margin:0;
		padding:3px 0 0 15px;
	}

	.wai,#why-att h1 embed,#careers h1 embed,#students h1 embed,
		#why-att h1 object,#careers h1 object,#students h1 object,
		#att-events h1 object,#att-events h1 embed
		
		
		 {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -999em;
	}


	ul.dash-list{
		color:#FF4E7A;
		font-style:italic;
		font-weight:800;
	}
	ul.dash-list li{
		background: url(http://att.jobs/images/dash-bullet.gif) left no-repeat;
		padding-left:15px !important;
	}
	
	ul.plain-list{
		color:#FF4E7A;
		font-style:italic;
		font-weight:800;

	}
	ul.plain-list li
	{
		padding:10px 0 0 0 !important;
	}
	
	.link-arrow-ico
	{
		background:url("http://att.jobs/images/btn_arrow.gif") no-repeat scroll left center transparent;
		display:block;
		height:20px;
		line-height:20px;
		margin-top:8px;
		padding:0 0 0 22px;
		font-size:1.2em;
	}
	
	.link-arrow-orange-ico
	{
		background:url("http://att.jobs/images/ico-sp-detail-accordion.gif") no-repeat  scroll 0px -4px ;
		display:block;
		height:20px;
		margin-top:8px;
		padding:0 0 0 22px;
		font-size:1.1em;
		font-weight:700;
	}
	
.elink { font-size: 11px; color:#3AA5DC;   }
a.elink:link,
a.elink:active,
a.elink:visited {
	font-size: 11px; 
	color:#3AA5DC; 
	font-weight:bold; 
	text-decoration:none;
	   }
	   
a.elink:hover {
	text-decoration:underline; 
	  }
	
	
	
	

a.elink1:link,
a.elink1:active,
a.elink1:visited {
	font-size:12px; 
	color:#3aa5dc; 
	text-decoration:underline;
	   }
	   
a.elink1:hover {
	text-decoration:none; 
	  }	
	
	
	
	/*You Tube Social Widget Classes*/
	
	#sd-youtube #yourube-play-list {
	        width:420px;
	        height:450px;
	        overflow:auto;
	        float:left;
	        background:#fff;
	        text-align:left;
	        padding:0;
	        margin:0 auto;
        }

        #sd-youtube ul#playlist {
	        list-style:none;
	        margin:0;
	        padding:0;
	        width:400px !important;
        }

        #sd-youtube  ul#playlist li {
	        list-style:none;
	        float:left;
	        width:165px;
	        padding:10px;
	        margin:0 10px 10px 0;
	        display:block;
	        min-height:140px;
        	
	        color:#288cbd;
	        font-size:12px;
	        font-family:Arial, Helvetica, sans-serif;
	        font-weight:bold;
	        line-height:13px;
	        text-align:center;
        }
        
        #sd-youtube ul#playlist li img
        {
	        border:3px solid #efae3c;
	        margin-bottom:5px;
        }
        
        #sd-youtube ul#playlist li a {
            color:#fff;
            text-decoration:none;
        }
	
	
	
}
