/* 
Title: attjobs - Default Stylesheet
Authors: Bobby
Email: bobby.kc@tmp.com
Company: TMP Worldwide Advertising and Communications, LLC
*/

@media screen, projection {


		*html	#primarynav {
			margin-left:8px !important;
			
		   } 
		
		*html #btn-slide
		{
		
			display:none;
		} 
		
		*html #carousel_ul li h3
		{
			display:none;
		}



	.cbx-select {		                 
		*z-index:-1; /* works for IE7 and below */
		}
}
