/* 
Title: attjobs - Default Stylesheet
Authors: Bobby
Email: bobby.kc@tmp.com
Company: TMP Worldwide Advertising and Communications, LLC
*/
@import "http://att.jobs/css/award.css";    

@media screen, projection {

	#modules
	{
		float:left;
		width:242px;
		min-height:300px;height:auto;
		margin-left:12px;
	}
	
	
	#modules h2 
	{
		background:url("http://att.jobs/images/bg-module-headline.png") no-repeat left top;
		width:235px;
		height:23px !important;
		color:#fff;
		padding:5px 0 0 10px !important;
		margin-top:16px;
		font-size:1.5em;
		font-weight:bold;
		display:block !important;
	}
	
	#modules h4
	{
		color:#797979;
	}
	
	#modules h2 span
	{
		font-size:0.7em !important;
	}
	
	#modules h2.home-html 
	{
	    background-image:none!important;
	    border-top:1px solid #E6E7E8;
	    border-left:1px solid #E6E7E8;
	    border-right:1px solid #E6E7E8;
	   	-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
		-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
		width:233px;
		height:23px !important;
		color:#FF8E33;
		margin-top:16px;
		font-size:1.5em;
		font-weight:bold;
		display:block !important;
		margin-bottom:-5px;
		text-indent:0px!important;
	}
	#modules h2.home-html span
	{
		font-size:0.7em !important;
	}

	.module
	{
		border:1px solid #E6E7E8;
		border-top:0;
		width:233px;
		padding:0 0 11px 10px;
		-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
		background:#fff url("http://att.jobs/images/bg-fourpiece-module.gif") repeat-x bottom;
		position:relative;
	}
	
	.module .rssfeed
	{
		height:17px;
		width:17px;
		background-image:url("http://att.jobs/images/ico-rss.gif");
		text-indent:-999px;
		overflow:hidden;
		display:block;
		margin-top:5px;
		margin-left:200px;
	}
	
	.module .link-arrow-ico
	{
		position:relative;
		bottom:0px;
		
	}
	
	#modules p
	{
		line-height:13px;
		font-size:1.1em;
		padding-bottom:8px;
	}

	#modules h2.mod-iphone-app
	{
		background:url("http://att.jobs/images/module/txt-app-iphone.gif") no-repeat left top;
		height:71px !important;
		width:245px;
		display:block;
		text-indent:-999px;
		overflow:hidden;
		padding:0 !important;
		
	}
	#modules div.mod-iphone-app
	{
		padding-left:20px;
		width:222px;
	}
	
	#modules div.mod-feature-catg
	{
		padding-top:10px;
	}
	#modules div.mod-feature-catg .link-feature-catg
	{
		background:url("http://att.jobs/images/module/txt-feature-catg-content.jpg") no-repeat transparent;
		width:206px;
		height:102px;
		overflow:hidden;
		display:block;
	}
	
	#modules div.mod-feature-catg .link-feature-catg span
	{
		color:#fff;
		position:absolute;
		left:55px;top:30px;
		font-size:12px;
		display:block;
		width:150px;
	}
	#modules div.mod-feature-catg .link-feature-catg strong
	{
		color:#fff;
	}
	
	div.mod-talent-network
	{
		background:url("http://att.jobs/images/bg-join-talentnetwork-mod.jpg") no-repeat scroll -29px -28px transparent;
		min-height:144px;height:auto !important;height:144px;
		padding-bottom:0;
	}
	
	div.mod-talent-network p
	{
		padding-right:100px;
		line-height:12px !important;
	}
	
	
	h2.mod-talent-network
	{
		background:url("http://att.jobs/images/module/txt-join-our-talentnetwork.gif") no-repeat left top !important;
		height:33px !important;
		width:245px !important;
		display:block !important;
		text-indent:-999px !important;
		overflow:hidden !important;
		padding:0 !important;
	}
	
	

	#modules div.mod-rssfeed ul, div.mod-local-jobs ul, div.mod-realted-content ul
	{
		list-style:none;
		margin-right:10px;
	}
	
	#modules div.mod-rssfeed iframe
	{
		border:0;
	}
	
	#modules div.mod-rssfeed 
	{
		text-align:center;
	}
	
	#modules div.mod-rssfeed  p,
	#modules div.mod-rssfeed  li,
	#modules div.mod-rssfeed  h2,
	#modules div.mod-rssfeed  iframe,
	#modules div.mod-rssfeed  ul
	{
		text-align:left;
	}
	
	
	div.mod-local-jobs ul li, div.mod-realted-content ul li
	{
		padding-top:8px; 
	}
	
	
	#modules div.mod-html ul {
		padding:0; 
		list-style:disc; 
		margin:0 0 0 15px;
	}
	
	#modules div.mod-rssfeed ul li {
		padding-top:3px; 
	}
	
	#modules div.mod-rssfeed ul span, div.mod-local-jobs ul span
	{
		
		font-size:0.9em;
	}
	#modules div.mod-rssfeed p.centerimage
	{
	    padding:0px 10px 0px 0px;
	    margin:0px 0px 0px 0px;
	    text-align:center;    
	}

	#modules div.mod-job-search
	{
		min-height:140px;height:auto !important;height:140px;
	}
	
	#modules div.mod-job-search input
	{
		font-size:1.3em;
		color:#797979;
	}

	#modules div.mod-job-search li.ddl-select-category
	{
		background:url("http://att.jobs/images/module/ddl-select-category.gif") no-repeat left top;
		width:178px;
		height:20px;
		text-indent:-9999px;
		overflow:hidden;
		
	}
	
	#modules div.mod-job-search li.ddl-select-category ul
	{
		position:absolute;
		left:-9999px;
		top:57px;
		width:167px;
		height:110px;
		overflow:auto;
		text-indent:0px;
		padding:4px 2px 2px 6px;
		border:1px solid #ccc;
		z-index:99999;
		
	}
	
	#modules div.mod-job-search li.ddl-select-category:hover ul
	{
		left:10px;
		background-color:#fff;
		list-style:none;
		text-indent:0px;
	}

	
	#modules div.mod-job-search label
	{
		display:block;
		padding-bottom:3px;
	}
	
	#modules div.mod-job-search .btn-submit, div.mod-local-jobs .btn-submit
	{
		background:url(http://att.jobs/images/btn-search-go.gif) left repeat-y;
		text-indent:-999em;
		overflow:hidden;
		width:31px;
		height:20px;
		line-height:0px;
		margin-left:0;
	}

	

	#modules div.mod-local-jobs .btn-change-location
	{
		background:url(http://att.jobs/images/module/btn-change-location.gif) left repeat-y;
		overflow:hidden;
		width:107px;
		height:19px;
		margin:10px 0 0 100px;
		display:block !important;
		line-height:0 !important;
		font-size:0 !important;
		color:#fff;
	}
	
	#modules div.mod-local-jobs fieldset
	{
		margin-top:10px;
	}
	
	#default #modules div.mod-local-jobs fieldset
	{
		display:none;
	}
	
	#default div.mod-local-jobs
	{
		background-image:none;
		border:0;
		margin-left:-22px !important;
		padding-left:10px !important;
	}
	
	#modules div.mod-local-jobs .alert
	{
		padding-top:5px;
		font-size:1.0em;
		color:#FF7200;
		font-weight:normal;
	}
	
	#modules div.mod-local-jobs .txt-zip
	{
		width:50px;
		margin-left:116px;
		color:#797979;
		font-size:1.2em;
	}
	
	#modules div.mod-award .link-arrow-ico
	{
		margin-top:12px;
	}
	
	/*Skill translator */
	.skill-translator
	{
		min-height:150px;
		padding-top:10px;
	}
	.skill-translator p
	{
		width:120px;
		float:left;
		padding-right:0;
	}
	
	.skill-translator img
	{
		width:88px;
		float:left;
	}
	
	.skill-translator a
	{
		padding-top:10px;
		display:block;
		font-size:13px;
	}

	/* Video Module */
	.video-thump {position:relative;display:block;width:134px;height:93px;}
	.btn-video-play {position:absolute;left:80px;top:24px;}
	.thump-video {padding:6px 0 0 40px;}
	
	/* Relatived Content Module */
	.mod-realted-content ul
	{
		padding-top:10px;
		width:234px;
		margin-left:-10px;
	}
	.mod-realted-content li
	{
		padding:0 !important;
		margin:2px 0 0 0 !important;
		text-align:center;
	}
	.mod-realted-content li a
	{
		width:240px;
	}
	
	/*Blue R */
	.omnes-light 
	{
		color:#067AB4 !important;
		font-size:1.3em !important;
		font-weight:bold;
	}
	
	/*Green */
	.omnes-med
	{
		color:#BED63A !important;
		font-size:1.5em !important;
		font-weight:bold;
		font-style:italic;
	}
	
	/*Orange */
	.stagstencil
	{
		color:#F47B20 !important;
		font-size:1.4em !important;
		font-weight:bold;
	}
	
	
	/* Blue It */
	.omnes-italic
	{
		color:#067AB4 !important;
		font-size:1.2em !important;
		font-weight:bold;
		font-style:italic;
	}
	
	/*Light Orange*/
	.stag-light
	{
		color:#FDB714 !important;
		font-size:1.5em;
		font-weight:bold !important;
		text-align:right;
	}
}
