#header {
    position: relative;
}

    #header #top {
        position: relative;
        left: 4px;
        width: 966px;
        height: 37px;
    }

        #header #top .nwf {
            position: absolute;
            top: 12px;
            left: 229px;
            width: 64px;
            height: 25px;
        }

        #header #top .adopt {
            position: absolute;
            top: 12px;
            left: 293px;
            width: 78px;
            height: 25px;
        }

        #header #top .shop {
            position: absolute;
            top: 12px;
            left: 371px;
            width: 70px;
            height: 25px;
        }

        #header #top .kids {
            position: absolute;
            top: 12px;
            left: 441px;
            width: 66px;
            height: 25px;
        }

        #header #top .logged-in {
            position: absolute;
            top: 14px;
            left: 30px;
            font-size: 12px;
            color: #555;
        }

            #header #top .logged-in .controls {
                position: absolute;
                top: 0px;
                left: 515px;
                font-size: 11px;
                width: 180px;
            }

                #header #top .logged-in .controls a {
                    text-decoration: none;
                    font-weight: bold;
                    color: #555;
                }

                    #header #top .logged-in .controls a:hover {
                        color: #197b30;
                        text-decoration: underline;
                    }

        #header #top .search {
            position: absolute;
            top: 5px;
            right: 9px;
            width: 223px;
            height: 25px;
        }

            #header #top .search .search-txt {
                position: absolute;
                top: 5px;
                left: 7px;
                max-width: 180px!important;
                font-size: 11px;
                border: none;
                background-color: Transparent;
                color: #999;
            }

            #header #top .search .btn-search {
                position: absolute;
                top: 3px;
                left: 194px;
                width: 22px;
                background: url(../../../images/1x1transparent.gif) top left no-repeat;
                border: none;
            }

    #header #middle {
        position: relative;
        left: 4px;
        width: 966px;
        height: 80px;
    }

        #header #middle .logo {
            position: absolute;
            top: 7px;
            left: 29px;
            width: 164px;
            height: 56px;
        }

        #header #middle .donate {
            position: absolute;
            top: 14px;
            right: 139px;
        }

            #header #middle .donate img {
                border: none;
            }

        #header #middle .take-action {
            position: absolute;
            top: 14px;
            right: 13px;
        }

            #header #middle .take-action img {
                border: none;
            }

    #header #menu {
        position: relative;
        left: 4px;
        width: 966px;
        height: 45px;
    }

        #header #menu table {
            position: relative;
            height: 45px;
            width: 966px;
        }

        #header #menu td {
            text-align: center;
        }

        #header #menu a {
            position: relative;
            font-family: Interstate, Arial, sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
            white-space: nowrap;
            border: 1px solid Transparent;
        }

.related-links {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}

#sub-header1 .related-links {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    right: 25px;
}

ul.rl-links {
    clear: both;
    margin: 0;
    padding: 0px;
    list-style: none;
}

    ul.rl-links li {
        width: 206px;
        margin-bottom: 5px;
    }

        ul.rl-links li a.link {
            color: #421d08;
            font-size: 11px;
            text-decoration: none;
            display: block;
            background: url(../../../images/bgd-relatedLinks.gif);
            padding: 4px 5px;
        }

            ul.rl-links li a.link:hover {
                text-decoration: underline;
            }
