/*
(C) Copyright MarketLive. 2010. All rights reserved.
MarketLive is a trademark of MarketLive, Inc.
Warning:This computer program is protected by copyright law and international treaties.
Unauthorized reproduction or distribution of this program, or any portion of it, may result
in severe civil and criminal penalties, and will be prosecuted to the maximum extent
possible under the law.
*/

/*********** Styles for erroneous input controls *************/
input.csvalidation_error, select.csvalidation_error {
    border: 1px solid #FF0000 !important;
}

/********** Styles for error message boxes used in ClientSideValidate.errorPlacementUsingCSS method ***********/

div.csvalidation_errmessage {
    width: 160px;
    z-index: 999999;
    text-align: left;
}

/* DIV contains the error message text */
div.csvalidation_errmessage div.csvalidation_error {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
     border-radius: 6px;
    -moz-box-shadow: 0px 0px 6px #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;

    background: none repeat scroll 0 0 #b21621;
    border: 2px solid #b21621;
    color: #fff;
    font-family: arial;
    font-size: 12px;
    padding: 4px 10px;
}

/* Below styles used to build the arrow for the message box */
div.csvalidation_errmessage .csvalidation_errmessagearrow {
    margin: -2px 0 0 13px;
    width: 15px;
    z-index: 5001;
	text-align: center;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow div {
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    box-shadow: 0 2px 3px #444;

    background: none repeat scroll 0 0 #b21621;
    border: medium none;
	display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 0 auto;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line10 {
    border: medium none;
    width: 15px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line9 {
    border: medium none;
    width: 13px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line8 {
    width: 15px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line7 {
    width: 13px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line6 {
    width: 11px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line5 {
    width: 9px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line4 {
    width: 7px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line3 {
    width: 5px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line2 {
    background: none repeat scroll 0 0 #b21621;
    border: none;
    width: 3px;
}
div.csvalidation_errmessage .csvalidation_errmessagearrow .line1 {
    background: none repeat scroll 0 0 #b21621;
    border: none;
    width: 1px;
}

/* HTC code to support CSS3 (shadow and round corner) on IE 6, 7, 8 */
div.csvalidation_errmessage div.csvalidation_error_visible {
    behavior:url(ie-css3-customized.htc);
}

/* show/hide error message box */
.csvalidation_forcehide {
    display: none !important;
}