
/* MAIN WHEEL-COMPLIANT BODY CONTENT: manual version 0.001 */

.ilm_error {
    padding: .5em;
    margin: 1em auto;
    background: #FEE;
    border: 1px solid #900;
    width: 80%;
}

.ilm_error h2 {
    color: #900;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.ilm_error p {
    color: #900;
}

.ilm_notice {
    padding: .5em;
    margin: auto;
    width: 80%;
    background:#eee none repeat scroll 0%;
    border:1px solid #ccc;
}

.ilm_notice h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.article {
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -o-border-radius:12px;
    -khtml-border-radius:12px;
    border-radius:12px;
    border:1px solid #E8E8E8;
    margin-bottom:7px;
    padding:10px 12px;
    width:auto;
    background-color: #FFFFFF;
}
.article:after {
    content: '.';
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}

.article.last {
    margin-bottom:18px;
}

.article #knownfor div {
    word-wrap: break-word;
}

#main .article .article, #content-3 #main .article .article, .maindetails_center .article .article {
    border: medium none;
    padding:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
}

#content-3 #main .article .article {
    border-bottom: 1px dotted #ccc;
    margin-bottom:14px;
}

/* AUXILLARY (SIDEBAR) CONTENT */
.aux-content-widget-1 {
    /*border-bottom:1px dotted #CCCCCC;*/
    font-size:13px;
    margin-bottom:20px;
    padding:0 8px 0 0;
    width:150px;
}

.aux-content-widget-2, .aux-content-widget-3, .article.on-tv, .aux-content-widget-4 {
    background-color: #F5F5F4;
    background: -moz-linear-gradient(center bottom, #E8e8e8 0%, #F2F2F1 50%);
    background: -ms-linear-gradient(center bottom, #E8e8e8 0%, #F2F2F1 50%);
    background: -webkit-linear-gradient(center bottom, #E8e8e8 0%, #F2F2F1 50%);
    background: linear-gradient(center bottom, #E8e8e8 0%, #F2F2F1 50%);
    border: 1px solid #F6F6F5;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 7px;
    padding: 10px 12px;
    position: relative;
    width: auto;
}

div.article.on-tv .airtime {
    padding-top:4px;
    font-size:10px;
    line-height:108%;
}

div.article.on-tv .odd, div.article.on-tv .even {
    padding:8px 12px 12px;
    color:#666;
    line-height:108%;
}

.aux-content-widget-1 h3 {
    font-size: 110%;
    margin:0 0 0.5em 0.25em;
}

.aux-content-widget-2 .image-left {
    float:left;
    margin:2px 8px 8px 0px;
    border:none;
}

.aux-content-widget-2 table.list-table td {
    padding-bottom:0.5em;
}

.aux-content-widget-1 ol, .aux-content-widget-2 ol, .aux-content-widget-3 ol, .aux-content-widget-1 ul, .aux-content-widget-2 ul, .aux-content-widget-3 ul {
    list-style: none;
    padding-left: 1.25em;
    margin-bottom:24px;
}

.aux-content-widget-1 ul li, .aux-content-widget-2 ul li, .aux-content-widget-3 ul li {
    list-style-type: none;
    margin-bottom: 0.3em;
    margin-left: -1em;
}

.aux-content-widget-1 ol li, .aux-content-widget-2 ol li, .aux-content-widget-3 ol li {
    list-style-type: decimal;
    margin: 0 0 0.5em 0.75em;
}

.aux-ad-widget-1 {
    margin-bottom: 8px;
}

/* spacer for ad slots */
.aux-ad-widget-3 {
    margin-bottom: 0.5em;
    height:0px;
    line-height:0px;
    display:inline;
    border:none;
}

.action-box {
    background: transparent url(../../SFc79339ea781a3963aa58cc1a62d242a9/wheel/eeeeee.png) repeat;
    border:1px solid #aaa;
    padding:2px;
    text-align:center;
    font-weight:normal;
    margin-bottom:4px;
    font-size:11px;
}

#action-nobox {
    background-color:#fff;
    border: none;
    margin-bottom:15px;
}

#action-nobox p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.action-box .disabled {
    color: #ADB2B5 !important;
    background-image:none;
    background-color: #F4F4F4 !important;
    border-color: #ADB2B5 !important;
}

.action-box hr {
    border-style:solid none none;
    margin:10px 0px;
    border-color:#aaa;
}

#news-disclaimer {
    margin:0px 20px;
    line-height:100%;
}

.thumb_list a {
    padding:0px !important;
    margin:0px !important;
}

.thumb_list img {
    padding:0px !important;
    margin:0px 2px 2px 0px !important;
}

.aux-ad-widget-2 {
    text-align:center;
    margin-bottom:7px;
}

.homepage-featured-videos-box {
    border: 3px solid #6677DD;
    border-top:none;
    background-color:#fff !important;
    margin-bottom:10px;
    width:165px !important;
}

.homepage-featured-videos-box p.right {
    display:none;
}

.homepage-featured-videos-box h2.left {
    width:100%;
}

dl.table-display {
    padding:0;
    overflow:auto;
    margin:0 0 1em;
}

.table-display dt {
    float:left;
    margin:0;
    padding:4px 16px 4px 4px;
    width:65%;
}

.table-display dd {
    float:left;
    margin:0;
    padding:4px;
    width:20%;
}

.table-display dt span {
    width:1.5em;
    display:block;
    float:left;
}

.table-display dt a {
    padding-left:1.5em;
    display:block;
}

.three-columns-container {
    position: relative;
    width: 79%;
    margin: 0 10% 0 10%;
}

.one-third-column {
    float: left;
    width: 30%;
    margin-right: 1em;
}

.photo_strip img {
    margin: 0 4px 5px 1px;
    border: 0px;
    float: left;
}

.photo_strip {
    margin-right:-5px;
}

table.meter-arrow-table {
    margin-bottom: 15px;
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

table.meter-arrow-table td.title {
    width: 220px;
}

table.meter-arrow-table td.arrow {
    width: 10px;
    padding-top: 4px;
}

table.meter-arrow-table td.percent {
    width: 50px;
    text-align: right;
}

.staff-only {
    display: none;
}

.thisweekimg {
    float:right;
    padding:0 0 8px 8px;
}

/* Recently Viewed Items widget */
.recently-viewed {
    clear: both;
    padding: 16px 20px 0;
    font-size:11px;
    min-height: 133px;
}

/* Override .header definitions from tvgrid.css */
.recently-viewed .header {
    background: none;
    border-left: none;
    border-top: none;
    font-weight: normal;
    height: 26px;
}

.recently-viewed .rhs {
    float: right;
    width: 150px;
    text-align: right;
}

.recently-viewed .items {
    display: inline-block;
    margin: 0 -4px 0 0;
}

.recently-viewed .item {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 2px 7px 0;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    font-size: 0; /* fix for extra padding below image */
}

.recently-viewed .item .name {
    background-color: transparent;
    bottom: 0;
    color: #999999;
    display: block; /* IE9 fix */
    font: 10.5px Arial, Helvetica, sans-serif;
    margin: 0 0 5px 7px;
    position: absolute;
}

.recently-viewed .header h3 {
    font-size:13px;
    color:#666;
    margin: 0 0 0.5em;
    padding: 0;
}

.recently-viewed div.last {
    padding-right:0;
}

.recently-viewed-delete {
    background: transparent url(../../SF113181b7fd6215dac89d9fccd0af0363/widgets/del_sprite.png) no-repeat;
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 51px;
    top: -7px;
    margin: 0 0 0px;
}

.recently-viewed-delete:hover {
    background-position: 0 -14px;
    cursor: pointer;
}

/* for widget filling content (no padding) */
.aux-content-widget-5 .aux-content-widget-4 {
    padding: 0px;
}

.aux-content-widget-4 h3 {
    padding:10px 12px;
}

.aux-content-widget-5 {
    margin-bottom:7px;
}

.sponsored_links .help {
    font-weight: normal;
}

.aux-content-widget-6 {
    border: 1px solid #ECECEC;
    border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 8px;
    margin-bottom: 7px;
}

/* three-pack widget */
.sub_tpack {
    box-shadow: 0 0 3px #888;
    background-color:#333;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
    -moz-box-shadow: inset 0 2px 8px #000;
    -webkit-box-shadow: inset 0 2px 8px #000;
    box-shadow: inset 0 2px 8px #000;
    margin-bottom:8px;
    margin-left: 1px;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    width:642px;
}

.sub_tpack .nolink {
    padding: 18.5px 0;
}

.sub_tpack:hover {
    background-color:#464646;
}

.sub_tpack:hover a span {
    text-decoration:underline;
    color:#fff;
}

.sub_tpack a {
    color:#fff;
    text-decoration:none;
    display:block;
    padding:10px;
}

ul.tpack {
    background-color: #333333;
    background-image: -moz-linear-gradient(center bottom, #000 15%, #6b6b6b 100%);
    background-image: -ms-linear-gradient(center bottom, #000 15%, #6b6b6b 100%);
    background-image: -webkit-linear-gradient(center bottom, #000 15%, #6b6b6b 100%);
    background-image: linear-gradient(center bottom, #000 15%, #6b6b6b 100%);
    -moz-box-shadow: 0 0 3px #888;
    -ms-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
    list-style-type: none;
    padding: 0 0 0 1px;
    width: 649px;
}

ul.tpack li {
    float:left;
    margin:0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    cursor:pointer;
    -moz-box-shadow: inset 0 0 50px #000;
    -webkit-box-shadow: inset 0 0 50px #000;
    box-shadow: inset 0 0 50px #000;
}

ul.tpack li a {
    display:block;
    width:213px;
    height:24.462em;
    text-decoration:none;
}

ul.tpack li#tpack1 {
    border-left: 0px solid #333333;
    margin-left:0px;
}

ul.tpack li:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #666;
    margin-left: -1px;
}

.tpack .overlay {
    height:3.538em;
    color:#FFF;
    margin: 0 8px;
    text-shadow: 0.1em 0.1em 0.2em #1B1B1B;
    padding: 20.231em 0 0;
}

.tpack .overlay .background {
    height:4.231em;
    background-color:#000;
    opacity:0.8;
    filter:alpha(opacity=60);
    margin: 0 -8px -3.692em;
}

.tpack .title {
    display: block;
    overflow:hidden;
    font-weight:bold;
    font-size:11px;
    opacity:.99;
    filter:alpha(opacity=99);
    height:4.273em; /* base font size 11px */
}

.tpack .info {
    font-size:10px;
    white-space:nowrap;
    display:block;
    margin:2px 0 0 1px;
}

.tpack .threepack {
    white-space: nowrap;
}

.tpack .spack { 
    max-width: 550px;
    font-weight: normal;
}

.tpack #hd_icon {
  background: url('../../navbar/navbar_sprite.png') no-repeat scroll -22px -2px transparent;
  display: inline-block;
  height: 10px;
  width: 16px;
  vertical-align: bottom;
}

.tpack .blkbtn {
    background-color: transparent;
    background-image: -moz-linear-gradient(rgba(208,205,200,0.8) 15%, rgba(0,0,0,0.2) 100%);
    background-image: -ms-linear-gradient(rgba(208,205,200,0.8) 15%, rgba(0,0,0,0.2) 100%);
    background-image: -webkit-linear-gradient(rgba(208,205,200,0.8) 15%, rgba(0,0,0,0.2) 100%);
    background-image: linear-gradient( rgba(208,205,200,0.8) 15%, rgba(0,0,0,0.2) 100% );
    border: 1px solid #efefef;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 2px #000;
    -ms-box-shadow: 0 2px 2px #000;
    -webkit-box-shadow: 0 2px 2px #000;
    box-shadow: 0 2px 2px #000;
    filter: alpha(opacity=100);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#787878', EndColorStr='#202020');
    float: right;
    height: 2.154em;
    line-height: 2em;
    margin: 0.077em 0 0 0.462em;
    opacity: 1;
    position: relative;
    text-align: center;
    text-shadow: none;
    width: 2.308em;
}

.tpack .blkbtn.play span {
    display: block;
    margin: 0 0 0 4px;
}

.tpack li:hover .blkbtn {
    background-color:#666;
    background-image: -moz-linear-gradient(rgba(198,220,237,0.8) 15%, rgba(19,108,178,0.8) 100%);
    background-image: -ms-linear-gradient(rgba(198,220,237,0.8) 15%, rgba(19,108,178,0.8) 100%);
    background-image: -webkit-linear-gradient(rgba(198,220,237,0.8) 15%, rgba(19,108,178,0.8) 100%);
    background-image: linear-gradient(rgba(198,220,237,0.8) 15%, rgba(19,108,178,0.8) 100%);
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DFE7EE', EndColorStr='#2272B1');
    opacity:1;
}
ul.tpack li#tpacksingle a {
    border-left: 0px solid #333333;
    margin-left: 0px;
    width: 641px;
} 
