#sam_community {
    float: left;
}

#sam_share_text {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0px 10px 0px 0px;
    position: absolute;   
    right: 155px;  
    top: 53px; 
}

div.bv_toastContainer .bv_toastInnerContainer {
    width: 100%;
    position: relative;
    border-bottom: none;
}

div.bv_toast .bv_toastMessage .bv_messageTitle {
    margin: 25px 0 5px 0;
    font-size: 1.6em;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: bold;
}

div.bv_toast .bv_close {
    cursor: pointer;
    float: right;
    font-size: 26px;
    height: 17px;
    font-family: arial;
    width: 17px;
    text-align: center;
    line-height: 18px;
    padding: 3px 3px 3px 3px;
    margin: 10px 10px 5px 5px;
    font-weight: bold;
    border-radius: 15px;
    color:#666666; 
    background-color:#E0E0E0;
}

div.bv_toast .bv_tipShare {
    height: 40px;
    float: right;
    clear: right;
    margin: 10px 34px 0 0;
}

div.bv_toast .bv_toastOptions {
    margin: 7px 216px -37px 0;    
    height: 27px;  
}

div.bv_toast .bv_toastProfile {
    padding: 5px 18px 3px;      
}

#optOutPlaceholder a {
    float: right;
}


