BODY #right_nav,BODY #global_account_bar,BODY #breadcrumbs,BODY .product_tabs,BODY .skipNavigationLink,BODY #sw_header_top,BODY #sw_header,BODY #sw_header_utility_nav,BODY #sw_header_primary_nav,BODY .globalnav_header_subnav_hover_container,BODY #globalnav_header_utility_travel_tools_hover_container,BODY #sw_extra,BODY #bookingLinks,BODY #page_bottom_popup_outer_container,BODY #page_bottom_popup_outer_container_async,BODY #price_itinerary_pointer,BODY #sw_footer,BODY #webappServerInformation,BODY .doNotPrintFlag{display:none!important;}
BODY,BODY #page_content,BODY DIV#page{background:none!important;}
#global_account_bar,body,.std_body2,textarea{font:11px/13px Verdana,Tahoma,sans-serif;color:#333;}
#print_image{display:block!important;margin-bottom:1em;}
#earlyBirdConfirmationContainer .airItinWrapper,#earlyBirdConfirmationContainer .earlyBirdLegend_container,#earlyBirdConfirmationContainer #billingTable,.earlyBirdConfirmationTitle{^width:620px!important;}
.confirmationAd{^padding:5px!important;}
#earlyBirdConfirmationContainer .airItinWrapper,#earlyBirdConfirmationContainer .earlyBirdLegend_container,#earlyBirdConfirmationContainer #billingTable,.earlyBirdConfirmationTitle{^width:620px!important;}
.confirmationAd{^padding:5px!important;}
.searchResultsTable TH{border-bottom:1pt solid black!important;}
.searchResultsTable TD{border:1pt solid #f7f7f7!important;}
.carouselDisabled DIV.carouselHeader,.carouselDisabled DIV.carouselBody,.carouselDisabled DIV.carouselFooter{font-style:italic;}
.carouselDisabled DIV.carouselBody{font-size:11px;}
.calendarCarousel OL LI DIV{border:none;}
.searchResultsFilterWrapper{display:none;}
.priceResultsTable TH{border-bottom:1pt solid black!important;}
.priceResultsTable TD{border:1pt solid #f7f7f7!important;}
ul.confirmation_numbers ul.passenger_info{width:725px!important;}
ul.confirmation_numbers ul.passenger_info li.passenger_name{width:325px!important;}
div.pageBreak{page-break-before:always;}
div.bookingButtons{^width:450px!important;}
.globalnav_header_utility_container .globalnav_header_utility_search_and_links{display:none;}
.popInset .airItineraryTableOnGuardianPopup{width:725px!important;}
.popInset table{border:none;}
BODY .terms_and_conditions_list_container,BODY .carCollapsibleSection,BODY .hotelCollapsibleSection{display:block!important;}
BODY .priceResultsTable,BODY .travelInsuranceTable{border-collapse:separate!important;border:0 none!important;padding:0!important;}
BODY .priceResultsTable TD,BODY .travelInsuranceTable TD{height:auto!important;padding:0!important;border:0 none!important;}
BODY .confirmation_page_outer_container{float:none;clear:both;width:100%;}
BODY .confirmationDetailsLink,BODY .confirmation_number_advice{display:none;}
BODY .confirmation_multiproduct_summary_alternate_upsell .confirmation_page_total_summary_top{border-bottom:0 none;padding-bottom:0;}
BODY .confirmation_summary{float:left;width:33%;margin-bottom:10px;}
.taxes_fees_and_total_container{float:right;border:solid 1px white;}
#swa_printAndShare_content .swa_printAndShare_content_innner{^display:none;}
#swa_page_header h1{^width:950px!important;^line-height:35px!important;^height:35px!important;}
body .trip_itinerary_title{line-height:28px!important;margin-top:0!important;}
.trip_name_read_only_container{^padding-top:0!important;}
body .clearfix{clear:both;}
body .car_price_table,body .carhotel_price_table_container{float:none!important;}
body h4.travel_type_billing{clear:both!important;font:bold 20px/23px helvetica,arial,sans-serif!important;margin-top:29px!important;}