/*
--------------
Bfly Main Page
---------------
*/


/* For Him */
.bflyLeftNavHim{
float: left; 
width: 168px; 
margin: 0 0 0 0;
}

.bflyLeftNavHim ul {
list-style: none;
margin: 5px 0 10px 15px;
font-size: 12px;
padding: 0 0 0 5px;
line-height: 160%;
}

.bflyLeftNavHim  a, .bflyLeftNav a:visited {
    color:#000;
    text-decoration:none;
}

.bflyLeftNavHim  a:hover, .bflyLeftNav a:active {
   color:#00aeff;
    text-decoration:none;
}

.bflyMainNavImage {
margin: 0 10px 5px 10px;
}

.bflyMainNavBold {
font-weight: bold;
line-height: 120%;
}

#bflyContentHim{
    float: right; 
    background-color: #fff; 
    width: 670px; 
}


/* For her */
#bflyLeftNavHer{
float: left; 
width: 168px; 
margin: 0 0 0 0;
}


#bflyLeftNavHer ul {
list-style: none;
margin: 5px 0 10px 15px;
font-size: 12px;
padding: 0 0 0 5px;
line-height: 160%;
}

#bflyLeftNavHer a, .bflyLeftNav a:visited {
    color:#000;
    text-decoration:none;
}

#bflyLeftNavHer a:hover, .bflyLeftNav a:active {
   color:#FF008A;
    text-decoration:none;
}

.bflyMainNavImage {
margin: 0 10px 5px 10px;
}

.bflyMainNavBold {
font-weight: bold;
line-height: 120%;
}

div#bflyContentHer{
    float: right;
    width: 670px;
}

div#bflyprimary {
width:670px;
margin-top:0px;
margin-bottom:5px;
padding:0px;
}
div#bflyContentfooter {
width:670px;
margin-bottom:5px;
padding:0px;
}
.f1 {
width:220px;
position:relative;
margin-top:0px;
margin-left:0px;
padding:0px;
float:left;
}
.f2 {
width:220px;
position:relative;
margin-top:0px;
margin-left:5px;
float:left;
}
.f3 {
width:220px;
position:relative;
margin-top:0px;
margin-left:5px;
float:right;
}
.f1_him {
width:332px;
position:relative;
margin-top:0px;
margin-left:0px;
padding:0px;
float:left;
}
.f2_him {
width:332px;
position:relative;
margin-top:0px;
margin-left:5px;
float:left;
}


