html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
}
body {
        /*line-height: 1;*/
        font-size:10px;
        font-family:Arial, Helvetica, sans-serif;
}
body[contenteditable=true]{
    word-wrap: break-word;
}
ol, ul {
        list-style: none;
}

.richTextContainer ol {
    list-style: decimal inside;
    /*padding-left: 18px;
    margin: 12px 0*/
}

.richTextContainer ul {
    list-style: disc inside;
    /* padding-left: 18px;
    margin: 12px 0*/
}

.richTextContainer li {
    margin-bottom: 12px;
}

blockquote, q {
        quotes: none;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* remember to define focus styles! */
:focus {
        outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
        text-decoration: none;
}
del {
        text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}
a{
    cursor: pointer;
    text-decoration:none;
}
/*End reset*/

/*Set body and site structure to a minimum height of 100%*/
/*this causes the body to be smaller than it's content, which means that when scrolling it looks like the content is out of body. */
html, body{
    height: 100%;
}

#SITE_STRUCTURE
{
    min-height: 100%;
    position: relative;
    /*left: 50%;*/
    margin: 0 auto;
    width: 1000px;
}

textarea, input, select {
    font-family: Arial, sans-serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/*
#SITE_PAGES
{
    left: 50%;
    width: 1000px;
}
*/
/*#SITE_HEADER, #SITE_FOOTER #SITE_PAGES
{
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;
}*/
.hidden {
    display: none !important;
}

[comp="mobile.core.components.Page"], [comp="wixapps.integration.components.AppPage"]
{
    overflow: visible;
}

.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}
.lineThrough {
    text-decoration: line-through;
}
.singleLineText{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alignLeft{
    text-align: left;
}
.alignCenter{
    text-align: center;
}
.alignRight{
    text-align: right;
}
.alignJustify{
    text-align: justify;
}

@-webkit-keyframes fadeOut {
    from { opacity:1.0 }
    to { opacity:0.0 }
}

@-webkit-keyframes fadeIn {
    from { opacity:0.0 }
    to { opacity:1.0 }
}

@-webkit-keyframes swipeHoriz {
    to { left: 0px }
}

@-webkit-keyframes swipeVert {
    to { top: 0px }
}

@-moz-keyframes fadeOut {
    from { opacity:1.0 }
    to { opacity:0.0 }
}

@-moz-keyframes fadeIn {
    from { opacity:0.0 }
    to { opacity:1.0 }
}

@-moz-keyframes swipeHoriz {
    to { left: 0px }
}

@-moz-keyframes swipeVert {
    to { top: 0px }
}
