.text7 {
	font-size: 7px;
}

.text8 {
	font-size: 8px;
}

.text9 {
	font-size: 9px;
}

.text10 {
	font-size: 10px;
}
	
.text11 {
	font-size: 11px;
}

.text12 {
	font-size: 12px;
}
	
.text13 {
	font-size: 13px;
}

.text14 {
	font-size: 14px;
}

.text15 {
	font-size: 15px;
}
	
.text16 {
	font-size: 16px;
}

.text20 {
	font-size: 20px;
}

.old_h1 {
	font-weight: bold;
	line-height:200%;
}

.old_h1_16 {
	font-weight: bold;
	line-height:300%;
}

.redtext {
	color: #FF0000;
}


.clear {
	clear: both;
	line-height: .01em;
	height: 0px;
	overflow: hidden;
}

.spacer20 {
	margin-bottom: 20px;
}
	
.spacer10 {
	margin-bottom: 10px;
}
	
.spacer6 {
	margin-bottom: 6px;
}

.spacer3 {
	margin-bottom: 3px;
}

.spacer2 {
	margin-bottom: 2px;
}
	
.topminus5 {
	margin-top: -5px;
}
	
.topminus2 {
	margin-top: -2px;
}


.indented10 {
	margin-left: 10px;
}


.border {
	border:1px solid #999999;
	padding:1px;
	background-color:#ffffff;
	margin:0px;
}

.border_black {
	border:1px solid #999999;
	padding:1px;
	background-color:#000000;
	margin:0px;
}

.returnlink {
	margin-left: 3px;
	font-size: 12px;
}
