.modulem_top {
	background: #c8c8fd url("../images/borders/corner_ul.gif") no-repeat top left;
	margin: 0px;
	padding: 0px;
}

.modulem_top_noimg {
	background: #c8c8fd no-repeat top left;
	margin: 0px;
	padding: 0px;
}

.modulem_top div   {
	background: url("../images/borders/corner_ur.gif") no-repeat top right;
	padding: 0px 0px;
	margin: 0px;
}

.modulem_top_noimg div   {
	background: no-repeat top right;
	padding: 0px 0px;
	margin: 0px;
}

.modulem_thintop {
	background: #c8c8fd url("../images/borders/corner_ul.gif") no-repeat top left;
	margin: 0px;
	padding: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_thintop_noimg {
	background: #c8c8fd no-repeat top left;
	margin: 0px;
	padding: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_thintop div   {
	background: url("../images/borders/corner_ur.gif") no-repeat top right;
	padding: 2px 0px;
	margin: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_thintop_noimg div   {
	background: no-repeat top right;
	padding: 2px 0px;
	margin: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_bottom {
	background: #c8c8fd url("../images/borders/corner_bl.gif") no-repeat bottom left;
	margin: 0px;
	padding: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_bottom_noimg {
	background: #c8c8fd no-repeat bottom left;
	margin: 0px;
	padding: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_bottom div   {
	background: url("../images/borders/corner_br.gif") no-repeat bottom right;
	padding: 0px;
	margin: 0px;
	height: 5px;
	font-size: 1px;
}

.modulem_bottom_noimg div   {
	background: no-repeat bottom right;
	padding: 0px;
	margin: 0px;
	height: 5px;
	font-size: 1px;
}

.moduletitle {
	font-size: 20px;
	color:#000000;
}

.moduletitle a {
	color:#000000;
}
.moduletitle a:visited {
	color:#000000;
}
.moduletitle a:hover {
	color:#0000cc;
}
.addcontentlink {
	float: right;
	font-size: 14px;
	font-weight: bold;
}

.module_body {
	border: 2px solid #c8c8fd;
	padding: 5px 0px;
	margin: 0px;
	overflow: hidden;
}

.module_body .modulesubnav {
	text-align: left; 
	color: #000000; 
	font-weight: normal;
	font-size: 12px;
	padding: 3px 15px 0 15px;
}

.module_body .linktable {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px;
	border-bottom: 1px solid #dcdcdc;
}

.module_body .linktable_nh {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px;
	border-bottom: 1px solid #dcdcdc;
}
.module_body .linktable:hover {
	background-color: #eeeeff;
}

.module_body .modulepage {
	margin: 0 5px 0 5px;
}

.moduletitleh1 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
}

.moduletitleh2small {
	font-size: 17px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	display:inline;
}
.moduletitleh2small font{
	font-size: 11px;
	font-weight: normal;
	line-height:100%;
	padding:4px 0 0 0;
	color: #000000;
	display:block;
}
.moduletitleh2small b{
	font-size: 17px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	clear: left;
	display:inline;
}


.moduletitleh2 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
}
.moduletitleh2 font{
	display:inline;
	color: #000000;
}

.contentcount {
	font-size: 17px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	display:inline;	
}
