.st_sharethis_custom{
    background-image: none;
}
a.complaints-next.disabled img {
	opacity:0.5;
	cursor:default;
}
a.locations-next.disabled img {
	opacity:0.5;
	cursor:default;
}
#industry-comparison-chart #chart-selectors #chart-wrapper {
	background-image:none; /* Don't want the strange dropdown selector image */
}
#industry-comparison-chart #chart-selectors select#chart-select {
	background: #FFF;
}
#industry-comparison-chart table.complaint-table td {
	text-align:center;
}
#addition-location-results {
	display:none;
}
#additional-locations-win p.win-header-count {
	display: block;
}
#right table.complaint-table th {
	text-align:center;
	vertical-align: middle;
	padding: 0 5px;
	font-size: 1.15em;
	border: 1px solid #d4eaee;
	background-color: #ebf6f9;	
}
#right table.complaint-table td {
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
	font-weight: normal;
	font-size: 1.0em;
	border-right: 1px solid #d4eaee;
	background-color: #fff;	
}

span.thisbusiness {
	display:inline;
	background-color: #E2A339;
}

#right table.complaint-table span.thisbusiness {
	padding-left:10px;
	padding-right:10px;
}

/********************************************** login */
#login-container {
	width: 990px;
	margin: 5px 0 0 0;
	border: 1px solid #e5edee;
	background-color: #eef3f6;
}
#login-container form {
	display: inline-block;
	margin: 12px 10px 12px 12px;
	float: left;
}
#login-container form label,
#login-container form div {
	display: inline-block;
	margin: 0 5px 0 0;
}
#login-container form label {
	font-size: 1.1em;
	font-weight: normal;
}
#login-container form div input[type=text], #login-container form div input[type=password] {
	width: 214px;
	height: 30px;
	padding: 0 5px;
	background: none;
	background-image: url('../hurdman.app.bbb.org/images/2/cbbb-sprites.png');
	background-position: -424px -150px;
	background-repeat: no-repeat;	
	border: none;
	outline: none;
	line-height: 30px;
	color: #9b9b9b;
}
input#login-button {
	display: inline-block;
	width: 78px;
	height: 27px;
	background: none;
	background-image: url('../hurdman.app.bbb.org/images/2/cbbb-sprites-extra.png');
	background-position: -276px -48px;
	background-repeat: no-repeat;	
	border: none;
	outline: none;
	cursor: pointer;
	text-indent: -9999px;
	text-transform: capitalize;
	color: transparent;
}
input#register-button {
	display: inline-block;
	width: 78px;
	height: 27px;
	background: none;
	background-image: url('../hurdman.app.bbb.org/images/2/cbbb-sprites-extra.png');
	background-position: -362px -48px;
	background-repeat: no-repeat;	
	border: none;
	outline: none;
	cursor: pointer;
	text-indent: -9999px;
	text-transform: capitalize;
	color: transparent;
}
input#claim-button {
	display: inline-block;
	width: 78px;
	height: 27px;
	background: none;
	background-image: url('../hurdman.app.bbb.org/images/2/cbbb-sprites-extra.png');
	background-position: -448px -48px;
	background-repeat: no-repeat;	
	border: none;
	outline: none;
	cursor: pointer;
	text-indent: -9999px;
	text-transform: capitalize;
	color: transparent;
}
input#verify-button {
	display: inline-block;
	width: 78px;
	height: 27px;
	background: none;
	background-image: url('../hurdman.app.bbb.org/images/2/cbbb-sprites-extra.png');
	background-position: -535px -48px;
	background-repeat: no-repeat;	
	border: none;
	outline: none;
	cursor: pointer;
	text-indent: -9999px;
	text-transform: capitalize;
	color: transparent;
}

#main-nav #account-leaf a.link {
	position: relative;

}
#main-nav #account-leaf {
	float: right;
}
#main-nav #account-leaf .submenu.vertical {
		margin-left: -96px;
}

#main-nav #menu-edit-biz span.small {
	font-size: 0.8em;
	display: block;
}

#main-nav #account-leaf .submenu.vertical li.leaf a:link,
#main-nav #account-leaf .submenu.vertical li.leaf a:visited,
#main-nav #account-leaf .submenu.vertical li.leaf a:active,
#main-nav #account-leaf .submenu.vertical li.leaf a:hover {
	width: 160px;
}

#left div.container.last.fixed-height {
	min-height:300px;
}

#alert-pop {position: absolute;top: 0px;left: 0px;min-width: 300px;display: none;padding: 30px 10px 10px 10px;text-align: left;background-color: #fff;border: 2px solid #e1a238;z-index: 100;
}

#main-nav {
	background-position: -12px -385px;
}

#bbba-nav {
	float: right;
	width: 883px;
	height: 37px;
	margin: 0 0 0 3px;
	padding: 0 0 0 0;
	background-image: url('../hurdman.app.bbb.org/images/2/cbbb-sprites-extra.png');
	background-position: -12px -387px;
	background-repeat: no-repeat;	
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#bbba-nav li a:link,
#bbba-nav li a:visited {
	display: inline-block;
	padding: 8px 12px;
	border: 2px solid transparent;
	font-weight: normal;
	color: #fff;
	outline: 0px solid red;
}

#bbba-nav li a:active,
#bbba-nav li a:hover,
#bbba-nav li:hover a,
#bbba-nav li:active a {
	background: #e9f5f5;
	border: 2px solid #e9f5f5;
	padding: 8px 12px;
	text-align: center;
	text-indent: 0px;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana;
	color: #087397;
}

#main-content-container #left.noright {
	width: 990px;
	margin-right: 0px;
	float: none;
}

#for-bbb {
	color:#FF9933 !important;
}
label {
    color: #666666;
    display: block;
    font-size: 10px;
    margin-bottom: 4px;
    padding-top: 4px;
    width: auto;
}
#main-content-container #left {
    border: 0 solid red;
    float: left;
    margin: 0 20px 0 0;
    width: 688px;
}
#left #business-image-gallery-container {
	text-align: center;
}
	
#left #business-image-gallery-container img.swap-me {
	width: auto;
}
#left .industry-tips .tip-title {line-height:1.2em;}
div#accedited-rating span.hidden { visibility: hidden; }
.business-address span, .employees span.person { display: inline; }
#business-additional-info-text .startdate { display: inline; }

#left #tabs #claim-review {
	display: block;
	float: right;
	margin: 20px 10px 0 0;
	height: 12px;
	text-indent: 0px;
	color: #648599;
	border: 0px solid red;
	background: none;
}