#container p, #container ol, #container address {
  line-height: 1.4em;
  padding-left: 12px;
}
#container p, #container address {
  line-height: 1.5em !important;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: justify;
  width: 95%;
}
#container address {
  margin-left: 12px;
  padding-bottom: 0;
}
#container p em {
  font-family: Lucida Sans, Lucida Grande, Arial, sans-serif;
}
#container p.tip {
  padding: 5px 10px;
  margin: 0 0 14px 12px;
  margin-bottom: 26px;
  display: block;
  width: 91.3%;
  color: #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow:0 1px 2px #CCCCCC;
  -moz-box-shadow:0 1px 2px #CCCCCC;
  border: 1px solid #f1f1f1;
  text-align: left;
}
#container span.tip {
  color: #fff;
  display: inline;
  padding: 1px 9px 2px 5px;
  font: 9px Lucida Grande, Tahoma, Arial, sans-serif;
  margin: 0 4px 0 0;
  line-height: 11px;
  background: #FFCC00 url(../images/arrow-small-right.gif) no-repeat right center;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border: none;
  vertical-align: baseline;
}
#container p.translation-notice {
  margin: 10px 5px;
  font-style: italic;
}
address {
  border-left: 3px solid #eee;
  padding-left: 14px;
}
#container ol {
  padding-left: 8px;
  margin-left: 24px;
}
#container ul {
  margin-left: 30px;
}
#container ol li, #container ul li {
  padding-bottom: 8px;
  line-height: 1.5em;
}
#container ul {
  list-style-type: disc;
}
#container ul li ul {
  padding: 10px 0 0 20px;
  list-style-type: circle;
}
#container ol li ol {
  padding: 10px 0 0 20px;
}
.wrapper ol {
  width: 87%;
}
#side ol {
  margin-left: 12px;
  width: 140px;
}
h3 {
  margin: 0 0 0 8px;
  padding-top: 40px;
  padding-bottom: 10px;
}

#content #zenbox_overlay p {
  margin: 0;
}
