/* sign-in */
.description-box {
    width: 160px;
    border:1px solid #999999;
    -moz-box-shadow: 2px 2px 4px #ccc;
    -webkit-box-shadow: 2px 2px 4px #ccc;
    box-shadow: 2px 2px 2px #888;
    background:#FFFFFF;
    padding:12px;
    margin:0;
    font:12px Arial, Helvetica, sans-serif;
    line-height:16px;
    z-index: 0;
    max-height: 200px;
    overflow: auto;
    font-weight:bold;
} 
.description-box .subscribe {
    color:#EC1C24;
}
.description-box .sign-in {
    color:#176FCC;
}
.pointer-bottom-left {
    height: 14px;
    width: 15px;
    margin: -1px 0 0 18px;
    padding: 0px 0 0 0;
    background: url(../../images/pop_point_btm_l.png)  no-repeat 0px 0px;
    z-index: 1;
    clear: both;
    position: relative;
}
.pointer-top-left {
    height: 14px;
    width: 15px;
    margin: 0 0 -1px 18px;
    padding: 0px 0 0 0;
    background:url(../../images/pop_point_top_l.png)  no-repeat 0px 0px;
    z-index: 1;
    clear: both;
    position: relative;
}
.non-ie-box {

}

/* sign in menu */
.sign-in-btn-left {
    width:4px;
    height:28px;
    background:url(../../apage/images/sign-in-btn.png);
    background-repeat:no-repeat;
    background-position:top left;
    float:left;
}
.sign-in-btn-body-lock {
    color:#FFF;
    font-weight:bold;
    float:left;
    font-size:15px;
    background:url(../../apage/images/sign-in-btn-bg.png);
    background-repeat:repeat-x;
    background-position:top left;
    padding:4px 7px 0 7px;
    height:23px;
    width:148px;
}
.sign-in-btn-body a:hover {
    text-decoration:none;
}
.sign-in-btn-body a {
    color:white;
}
.sign-in-btn-right {
    width:4px;
    height:28px;
    background:url(../../apage/images/sign-in-btn.png);
    background-repeat:no-repeat;
    background-position:top right;
    float:left;
}

.ui-widget-overlay {
    background: white;
    filter: alpha(opacity = 50);
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
}

/*Jira: CROPP-278*/
.ui-dialog #sign-in-menu-link #sign-in-menu-openned-dialog {
z-index:1003;
}

#sign-in-menu-openned-dialog {
    width:192px;
}
#sign-in-menu-openned-dialog .sign-in-btn-body-lock{
    width: 160px;
}

/*------------*/