body,td,th,font{ font-family:verdana,arial,sans-serif; font-size:11px; }

ul,ol{ margin-top:2px; margin-bottom:2px; padding-top:2px; padding-bottom:2px; }

h1{ font-family:arial,sans-serif; font-weight:bold; font-size:20px; margin:0; }
h2{ font-family:arial,sans-serif; font-weight:normal; font-size:14px; margin:0; }
h3{ font-family:arial,sans-serif; font-weight:bold; font-size:22px; }
h4{ font-family:arial,sans-serif; font-size:18px; }

p.fnt sup{ vertical-align:top; font-size:8px; }

td.blbg{ background-image:url("../../i/v15/t/mhl-grad.gif"); background-repeat:repeat-x; background-position:100% 100%; }

table.mhl td{ height:24px; }

span.upper-masthead-divider{ height:17px; }

#v14-body-table p#subtitle{ font-family:verdana,arial,sans-serif; font-weight:bold; font-size:11px; margin:0; padding:0; }

#v14-body-table p#subtitle em{ font-style:normal; }

#v14-h-tasks table td,
#v14-h-tasks table th,
table.data-table-1 td,
table.data-table-1 th,
table.data-table-2 td,
table.data-table-2 th{ font-size:10px; padding-bottom:4px; }

#v14-pop-mast h1{ font-family:arial,helvetica,sans-serif; font-size:16px; font-weight:normal; line-height:1.1em; margin:0; padding-right:6px; }

.left-nav-child-highlight img,
.left-nav-child img,
.rlinks img{ float:right; margin-right:0px; }

td.left-nav,
td.left-nav-overview,
th.left-nav-overview,
tr.left-nav-child td,
td.left-nav-highlight,
tr.left-nav-child-highlight td{ padding-top:3px; padding-bottom:4px; }

td.left-nav,
td.left-nav-overview,
th.left-nav-overview,
td.left-nav-highlight{ padding-left:4px; padding-right:5px;}

tr.left-nav-child td,
tr.left-nav-child-highlight td{ padding-right:4px; }

td.related{ padding-left:4px; padding-right:5px; padding-bottom:3px; }
tr.rlinks td{ padding-bottom:2px; padding-right:4px; }

.bullet-spacer{ padding-right:4px; }
img.pbl{ margin-top:7px; margin-bottom:10px; }
tr.bullet-list td{ vertical-align:top; padding-right:0px; }
tr.bullet-list td img{ float:right; padding-right:4px; }
tr.no-padding td img{ padding-right:0px; }

td.lbg,
td.hil,
.mbg{ font-weight:bold; }
.input{ width:140px; }

a.bs:link,
a.bs:visited,
a.bs:hover{ font-family:verdana,arial,sans-serif; font-size:9px; }

a.v14-tab-link-unselected:link,
a.v14-tab-link-unselected:visited,
a.v14-tab-link-unselected:hover,
.smgraytext,
.small,
.cty-tou-div,
.input,
.input-local,
.divider,
a.smallplainlink:link,
a.smallplainlink:visited,
a.smallplainlink:hover,
a.close:link,
a.close:visited,
a.close:hover,
.fnt{ font-family:verdana,arial,sans-serif; font-size:10px; }

a.v14-tab-link-selected:link,
a.v14-tab-link-selected:visited,
a.v14-tab-link-selected:hover,
td.v14-header-1-small,
th.v14-header-1-small,
td.v14-header-2-small,
th.v14-header-2-small,
td.v14-header-3-small,
th.v14-header-3-small,
td.v14-header-4-small,
th.v14-header-4-small,
td.v14-header-5-small,
th.v14-header-5-small{ font-family:verdana,arial,sans-serif; font-weight:bold; font-size:10px; }

a.mainlink:link,
a.mainlink:visited,
a.mainlink:hover,
a.masthead-mainlink:link,
a.masthead-mainlink:visited,
a.masthead-mainlink:hover,
a.ur-link:link,
a.ur-link:visited,
a.ur-link:hover,
a.left-nav:link,
a.left-nav:visited,
a.left-nav:hover,
a.rlinks:link,
a.rlinks:visited,
a.rlinks:hover,
a.highlight:link,
a.highlight:visited,
a.highlight:hover,
a.nav:link,
a.nav:visited,
a.nav:hover,
a.left-nav-child:link,
a.left-nav-child:visited,
a.left-nav-child:hover,
.bct,
.bctl,
.spacer,
.country,
.masthead-phone,
.sth,
.iform,
.iformwh,
a.v14-text-tab-unselect-link:link,
a.v14-text-tab-unselect-link:visited,
a.v14-text-tab-unselect-link:hover,
a.tablink:link,
a.tablink:visited,
a.tablink:hover,
a.tablinkblue:link,
a.tablinkblue:visited,
a.tablinkblue:hover,
a.toclink:link,
a.toclink:visited,
a.toclink:hover,
a.fbox:link,
a.fbox:visited,
a.fbox:hover{ font-family:verdana,arial,sans-serif; font-size:11px; }

b.related,
a.left-nav-overview:link,
a.left-nav-overview:visited,
a.left-nav-overview:hover,
.medbluetitlebar,
.medgraytitlebar,
.lightgraytitlebar,
.whitetitlebar,
a.tbmainlink:link,
a.tbmainlink:visited,
a.tbmainlink:hover,
a.texttabselectlink:link,
a.texttabselectlink:visited,
a.texttabselectlink:hover,
a.tocselectlink:link,
a.tocselectlink:visited,
a.tocselectlink:hover,
.tblue,
.tdblue,
.tgray,
.tgreen,
.price,
td.v14-header-1,
th.v14-header-1,
td.v14-header-2,
th.v14-header-2,
td.v14-header-3,
th.v14-header-3,
td.v14-header-4,
th.v14-header-4,
td.v14-header-5,
th.v14-header-5,
a.v14-text-tab-select-link:link,
a.v14-text-tab-select-link:visited,
a.v14-text-tab-select-link:hover{ font-family:verdana,arial,sans-serif; font-weight:bold; font-size:11px; }

a.pr-arial:link,
a.pr-arial:visited,
a.pr-arial:hover{ font-family:arial,sans-serif; font-weight:bold; font-size:12px; }

table.data-table-1 caption em,
table.data-table-2 caption em{ font-family:verdana,arial,sans-serif; font-style:normal; font-weight:bold; font-size:11px; }

.greytextbld,
.hdgd,
.mdgd{ font-family:verdana,arial,sans-serif; font-weight:bold; font-size:12px; }

.mstagline{ font-family:verdana,arial,sans-serif; font-weight:bold; font-size:13px;}
a.mstagline:link,
a.mstagline:visited,
a.mstagline:hover {text-decoration:none; color:#000;}

a.parent:link,
a.parent:visited,
a.parent:hover{ font-family:verdana,arial,sans-serif; font-size:11px; vertical-align:top; }

/* NS6 */
body > table:first-child td img{ display:block; }
img.display-img{ display:block; }
/* NS6 */

.title1{ font-family:arial,sans-serif; font-size:25px; }
.lggraytitle{ font-size:24px; }
.tvgray{ font-family:verdana,arial,sans-serif; font-weight:bold; }

.title{ font-family:arial,sans-serif; font-size:25px; }
.subtitle{ font-family:arial,sans-serif; font-size:15px; }
.boldtitle{ font-family:"Arial Black",arial,sans-serif; font-size:24px; }
.smalltitle,
#v14-body-table p#newstitle em{ font-family:arial,sans-serif; font-style:normal; font-weight:bold; font-size:15px; }
.pagesubtitle{ font-family:arial,sans-serif; font-size:15px; line-height:18px; }
.pagetitle{ font-family:"Arial Black",arial,sans-serif; font-size:24px; line-height:24px; }
.popup_title{ font-family:arial,sans-serif; font-size:16px; }

td.v14-header-1-small,
th.v14-header-1-small,
td.v14-header-2-small,
th.v14-header-2-small,
td.v14-header-5-small,
th.v14-header-5-small{ padding-top:4px; padding-bottom:4px; }

td.v14-header-3-small,
th.v14-header-3-small,
td.v14-header-4-small,
th.v14-header-4-small,
td.v14-header-5,
th.v14-header-5{ padding-top:3px; padding-bottom:3px; }

td.v14-header-1,
th.v14-header-1,
td.v14-header-2,
th.v14-header-2,
td.v14-header-3,
th.v14-header-3,
td.v14-header-4,
th.v14-header-4{ padding-top:3px; padding-bottom:4px; }

td.v14-header-1,
th.v14-header-1,
td.v14-header-1-small,
th.v14-header-1-small,
td.v14-header-2,
th.v14-header-2,
td.v14-header-2-small,
th.v14-header-2-small,
td.v14-header-3,
th.v14-header-3,
td.v14-header-4,
th.v14-header-4,
td.v14-header-5-small,
th.v14-header-5-small{ padding-left:6px; }

td.v14-header-3-small,
th.v14-header-3-small,
td.v14-header-4-small,
th.v14-header-4-small,
td.v14-header-5,
th.v14-header-5{ padding-left:5px; }

td.gradient_bar{ padding-top:2px; padding-bottom:3px; padding-left:6px; }

.imgpaddingright{ padding-right:6px; }
.imgpaddingtop{ padding-top:6px; }

#v14-body-table p{ padding-bottom:8px; padding-top:5px; margin-top:0px; margin-bottom:0px; }
table.v14-gray-table-border{ border:1px solid #e3e3e3; border-top:0px; }
table.v14-gray-table-border p{ padding:5px 5px 5px 5px; }
table.v14-gray-table-border table{ margin-left:5px; margin-right:5px; }
td.no-padding table{ padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
td.no-padding table td p{ padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
td.left-nav-spacer{ vertical-align:top; height:22px; }
td.left-nav-spacer img{padding-top:4px;}
* html td.left-nav-spacer img{padding-top:3px;}
tr.left-nav-spacer td{ vertical-align:top; padding-top:4px; padding-bottom:4px; }
table.v14-list-spacing td{ padding-top:2px; padding-bottom:3px; }
table.v14-list-spac-wbg-toc td{ padding-top:3px; padding-bottom:3px; }
table.v14-list-spac-wbg-no td,
td.v14-graphic-tab-lblue-table td{ padding-top:3px; }
table.v14-list-spac-wbg-toc tr.bullet-list td,
table.v14-list-spac-wbg-no tr.bullet-list td,
table.v14-list-spacing tr.bullet-list td{ padding-top:0px; padding-bottom:6px; }

.esbp{ padding-bottom:8px; }
.ipt{ padding-top:4px; }
.gbp{ padding-top:5px; padding-bottom:9px; }
.spl{ padding-left:5px; }
.pgtl{ padding-left:7px; }
td.npl p{ padding-left:0px; }
td.espl p{ padding-left:9px !important; }
td.npb p{ padding-bottom:0px !important; }
td.nlbp p{ padding-left:0px !important; padding-bottom:0px !important; }
td.iltbp{ padding-left:7px; padding-top:8px; padding-bottom:8px; }
td.ntb p{ font-size:11px; }

.imgleft{ float:left; padding:7px 5px 0px 0px; }
table.v14-gray-table-border .imgleft{ padding-left:5px; }

.midCopyHeader{ font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
.grey-h3-15{ font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; }
.tableTitle{ font-size:14px; font-weight:bold; font-family:'Helvetica Neue 75 Bold', Helvetica, sans-serif; }
.keyText,
.columnTitle{ font-size:11px; font-weight:bold; font-family:'Helvetica Neue 65 Medium', Helvetica, sans-serif; }
.greyBullet{ font-size:11px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
.blueBullet{ font-size:11px; font-family:Arial, Helvetica, sans-serif; }
.pheader{ font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
.subhead15B{ font-size:15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; }
.subhead18B{ font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; }
.subheads{ font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; }
.newsinnovation{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; margin-top:0px; margin-bottom:10px; }
.heading{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:15px; text-align:left; margin-top:0px; margin-bottom:10px; }

.rlinksv15{ font-size:11px; font-weight:bold; }

div.genuineLayer{ z-index:2; display:inline; position:absolute; width:455px; visibility:hidden; background-color:#fff; color:#000; border:solid 1px #000; padding:5px; font-family:Verdana; font-size:11px; font-weight:normal; }
