/*d:\matrixservices\wwwroot\css\wroverride.css */
/* THEME
hyperlinks: #086AB0
headers: #454545
labels: #333
dark blue: #437CA7
homepage blue: #04416C
textbox/select: #FFE
*/

.wrSeeker {width:100%;}

/* WTF IS THIS? */
/* .USNicheHide {display:none;} */

body 
{
	font-family:arial;
	font-size:12px;
	margin:0;
	padding:0;
	background-image: url(../img.icbdr.com/images/wr/backwhole2.gif);
	background-repeat: repeat-x;	
	background-color: #CAD7E1;
}

.cb_style input, .cb_style select
{
    padding-left: 2px;
    border: 2px solid #CCC;
    background-color: #FFE;
    font-family: Verdana;
    font-size: 13px;
}

input[type="checkbox"], input[type="radio"]
{
    border: none !important;
}

/* Small yellow square buttons */
input[type="button"], input[type="submit"], 
input[type="button"]:hover, input[type="submit"]:hover
{
    border: 2px solid #316895;
    background-color: #F1E195 !important;
    padding: 2px;
    cursor: pointer;
    color: #333 !important;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

input[type="button"]:hover, input[type="submit"]:hover
{
    border: 2px solid #437CA7;
    background-color: #FEEEA6 !important;
    color: #0850A0 !important;
}

td.Item a.btn, td.Item a.btn:hover,
#jdpLeftWrapper a[id*=cbhlApplyOnline], #jdpLeftWrapper a[id*=cbhlApplyOnline]:hover,
#jpMainContent .btn, #jpMainContent .btn:hover,
#jpMainContent #btnsubmit, #jpMainContent #btnsubmit:hover,
#jpMainContent #btnsubmitShowAll, #jpMainContent #btnsubmitShowAll:hover,
.cb_style a.linkbtn, a.linkbtn:hover, .cb_style a.linkbtn:visited
{
    background: none !important;
    border: 2px solid #316895 !important;
    background-color: #F1E195 !important;
    padding: 2px !important;
    font-size: 12px !important;
    cursor: pointer !important;
    color: #333 !important;
    font-weight: bold !important;
    text-decoration: none !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

td.Item a.btn:hover,
#jdpLeftWrapper a[id*=cbhlApplyOnline]:hover,
#jpMainContent .btn:hover,
#jpMainContent #btnsubmit:hover,
#jpMainContent #btnsubmitShowAll:hover,
.cb_style a.linkbtn:hover
{
    border: 2px solid #437CA7 !important;
    background-color: #FEEEA6 !important;
    color: #0850A0 !important;
}

#page a, #page a:hover, #page a:visited
{
    color: #086AB0;
}

#page .btn
{
    cursor: pointer;
}

#pnlInnerWrapper 
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    float:none; 
    margin:6px auto;
    display:block;
    background-color:#fff;
}


#pnlOuterWrapper
{
    display: block;
}

.stdInnerContent {

    background-color:#FFFFFF !important;   
}

/* .cb_style {font-size:11px; font-family:arial,sans-serif; color:#454545} */
.cb_style {font-size:11px; font-family:arial,sans-serif; color:#333}

.cb_style a {font-weight:bold !important;}

.clearfix {display:block;}

.cb_style h1 {font-size:1.9em !important; color:#454545 !important; margin-left:10px; margin-top: 0px; margin-bottom: 0px;}

.cb_style .tipHeading {font-size:1.9em !important; color:#454545 !important;}

.cb_style .reviewHeaderText {font-size:1.9em !important; color:#454545 !important;}

/* Big yellow seeker button */
.cb_style .btnSend, .cb_style .btnSend:hover,
.cb_style .btn.blue, .cb_style .btn.blue:hover,
.cb_style .btnSubmit, .cb_style .btnSubmit:hover,
.cb_style .btn.lrg, .cb_style .btn.lrg:hover,
.cb_style #btnsignin, .cb_style #btnsignin:hover,
.cb_style #btnRegisterNow, .cb_style #btnRegisterNow:hover,
.cb_style2011 .button, .cb_style2011 .button:hover,
.cb_style .btnWide, .cb_style .btnWide:hover,
.cb_style .btnwide, .cb_style .btnwide:hover,
input#submit2, input#submit2:hover,
#jdpLeftWrapper a.btn, #jdpLeftWrapper a.btn:hover
{
    background: url("../img.icbdr.com/images/WR/btnyellow.png") no-repeat 0 0 !important;
    border: none !important;
    width: 126px !important;
    height: 36px !important;
    cursor: pointer;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #333 !important;
    display: block;
    text-align: center !important;
    line-height: 30px;
    margin: 0px !important;
    padding: 3px !important;
}

.cb_style .btnSend:hover,
.cb_style .btn.blue:hover,
.cb_style .btnSubmit:hover,
.cb_style .btn.lrg:hover,
.cb_style #btnsignin:hover,
.cb_style #btnRegisterNow:hover,
.cb_style2011 .button:hover,
.cb_style .btnWide:hover,
.cb_style .btnwide:hover,
input#submit2:hover,
#jdpLeftWrapper a.btn:hover
{
    background:url("../img.icbdr.com/images/WR/btnyellowhover.png") no-repeat 0 0 !important;
    color: #0850A0 !important;
}

.cb_style #btnRegisterNow, .cb_style #btnRegisterNow:hover 
{
    display: inline-block !important;
}

div.tagContainer span.updateTag,
div.tagContainer span.updateTag:hover
{
    display: inline;
    background: none !important;
    width: 30px;
    border: 2px solid #316895 !important;
    background-color: #F1E195 !important;
    padding: 2px;
    cursor: pointer; 
    color: #333 !important;
    font-weight: bold;
}

div.tagContainer span.updateTag:hover
{
    border: 2px solid #437CA7 !important;
    background-color: #FEEEA6 !important;
    color: #0850A0 !important;
}

/* Auto-width select boxes */
div.facet_content select[id*="RadiusUnitsDelegate"],
div.bulkactions select,
div#jpMainContent select
{
    width: auto !important;
}

.cb_style a .btn, .cb_style a .btn.blue 
{
    height: 36px !important;
    line-height:36px !important
}

#PswdForgtLnk {width:100%; float:left;}

.cb_style .grayborder {border:1px solid #B3D5A5;}

#wr_header_outer
{
	background: url(../img.icbdr.com/images/WR/topbackseeker2.jpg);
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
}

#wr_header_inner
{
    width: 100%;
    margin: auto;
}

#wr_header_wrapper
{
    width:100%;
	background: url(../img.icbdr.com/images/WR/topfillseeker.jpg);
	background-repeat: repeat-x;
	background-color: #D9E2EA;
}

#wr_header_nav {background:#ffffff;}

#wr_header_nav .adspace 
{    
    width:100%;
    border-bottom:2px solid transparent;
	text-align:center;
	margin:0 auto;
	padding: 0px 0px;
}

#wr_header
{
	width:980px;
	margin:0px auto
}

#header_left {float:left}

#shareHeader_logo { float:left; width:250px; padding-top:20px;}

#header_right {float:right;}

#header_right .cb_EmpNav
{
    height:20px; 
    width:200px;
    display:block;
    margin-left:1px;
    float:right;
    background-color:#fff;
    border-top:none;
    padding:0px;
    }

#header_right img { float:right; margin-top: 7px; }
.cb_EmpNav img {float:left; display:block}

#EmpNav_bg 
{
    background:url(http://img.icbdr.com/images/WR/Tab.jpg) top left  repeat-x;
    display:block;
    float:left}

.cb_EmpNav a, .cb_EmpNav a:hover, .cb_EmpNav a:visited
{ 
    text-decoration:none; 
    color:#fff !important; 
    font-size:12px; 
    font-weight:bold; 
    float:left;
    display:block;
    width:80px;
    margin-left:8px;
    line-height:20px
}

.memoryleft { margin-top:50px !important; text-align:right}

.memoryleft, .memoryleft a, .memoryleft a:visited, .memoryleft a:hover 
{
    color:#7D7D7D;
    text-decoration:none;
    font-size:14px;
    }

.cb_style .regular_content_container {padding:0px !important}

#stdcontent { margin:0px 20px 0px 0px;}

.cb_style .grad {background:none !important; border-color:#B3D5A5; background-color:#fff !important}

.wrGreyBox h2 {font-weight:bold; font-size:20px; color:#454545 !important; margin:0px ; padding:0px }

.wrBoxContent {background-color:#fff}

#WRHomeLeft {width:420px; float:left}

#WRHomeRight {width:540px; float:left; margin-left:16px}

#WRHomeLeft a, #WRHomeRight a {text-decoration:none}

#WRHomeLeft .wrBoxHeader, #WRHomeRight .wrBoxHeader {margin-top:16px;}

.wrBoxHeader, .wrBoxFooter {float:left; width:100%}

#WRHomeLeft .wrBoxContent, #WRHomeRight .wrBoxContent {float:left; width:100%}

#WRHomeRight .jobtitle {float:left; width:56%}

#WRHomeRight .jobcompany {float:left; color:#157BA3}

#WRHomeRight .tabtitle {color:#157BA3}

.wrRecsBoxHeader {height:6px;overflow:hidden; background: #fff;}

.wrRecsBoxHeader div {width:6px;height:6px;overflow:hidden; background-color: #fff; background:url(http://img.icbdr.com/images/WR/wgbtl.gif); background-repeat:no-repeat;}

.BoxInner {margin:10px}

/* Seeker & Employer Nav*/
.nav .pri {background-color:#AAA}

.cb_nav,
.nav .priwrapper {
    margin-top:8px;
    margin-bottom: -1px;
    padding:0px;
    text-align:center;
    width: 100%;
    display:inline-block;
}

.nav div.priwrapper ul
{
    clear: both;

    padding: 0px !important;
}

.cb_nav, 
.nav div.priwrapper 
{
    text-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: url(../img.icbdr.com/images/WR/nav_bg.jpg) 0 0 repeat-x;
}

.cb_nav .cb_nav_inner 
{
    width: 900px;
    margin: 0px auto;
}
    
.cb_nav_inner table {margin:0px auto;}

.nav .priwrapper a.noexpand, .nav .priwrapper a.noexpand:hover { text-decoration: none; color:#086AB0 }

.nav .priwrapper .pri a div { padding: 0px !important; }

.cb_nav .nav_wrapper ul {
    border:0 none;
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
}

.cb_nav .nav_wrapper ul li,
.nav ul li {
    display:block;
    float:left;
    margin:0pt;
    padding:0pt;
    position:relative;
    text-align:center;
	background: transparent url(../img.icbdr.com/images/WR/navitemdivider.gif) right top no-repeat;
    color:#FFFFFF;
}

.cb_nav .nav_wrapper ul li a:hover {
	text-decoration:none !important;
	color:#fff !important;
}   

.cb_nav .nav_wrapper ul li a,
.nav .priwrapper ul li a {
    display:block;
    float:left;
    font-family:arial;
    font-size:12px;
    font-style:normal;
    font-weight:bold;
    line-height: 17px;
    height: 17px;
    padding: 7px 22px !important;
    margin-right: 2px !important;
    text-align:center;
    text-decoration:none; 
    color:#fff !important; 
}

.cb_nav .nav_wrapper li.active a 
{
    background:url(../img.icbdr.com/images/WR/nav_bg_active.jpg) 0 0 repeat-x;
}

.cb_nav .nav_wrapper li a:hover
{
    background:url(../img.icbdr.com/images/WR/nav_bg_hover.jpg) 0 0 repeat-x;
}

.cb_nav .nav_wrapper ul li.employer
{
	background: url(../img.icbdr.com/images/WR/suitbg.gif) 0 0 no-repeat;
}

.cb_nav .nav_wrapper ul li.employer a.navEmployerLink:link,
.cb_nav .nav_wrapper ul li.employer a.navEmployerLink:visited,
.cb_nav .nav_wrapper ul li.employer a.navEmployerLink:active
{
    padding-left: 6px !important;
    margin-left: 30px !important;
    padding-right: 6px !important;
}

.cb_nav .nav_wrapper ul li.employer a.navPostJobLink:link,
.cb_nav .nav_wrapper ul li.employer a.navPostJobLink:visited,
.cb_nav .nav_wrapper ul li.employer a.navPostJobLink:active
{
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.cb_nav .nav_wrapper ul li a.emptyList
{
    padding-left: 1px !important;
    padding-right: 1px !important;
    margin: 0px !important;
}
.cb_nav .nav_wrapper ul li a.emptyList:hover
{
	background: transparent url(../img.icbdr.com/images/WR/navitemdivider.gif) right top no-repeat;
}
    
/*End Nav*/

/* JobReccByPodsAndLoc*/

.jobitemrow
{
	border-bottom: 1px solid #DDDDDD;		
}

.jobitemtitle
{
	border-bottom: 1px solid #DDDDDD;		
    height:20px;
    vertical-align:top;
}

/* CompanyJobResults*/

#bodyBrandBuilder td {border-color: #454545 !important;}
#tblCellFooter img, #tblCellHeader img {display:none !important;}
#tblCellFooter, #tblCellHeader {background-color:#454545; height: 10px;}
#SB_tSearchBox table {background-color: #147CA3 !important;}
#SB_tSearchBox td {text-align:left; color: #DDDDDD !important;}
#tblCellLeftNav {text-align:left; }
.cb_style .hdr_15 {color:#147CA3 !important;}

/*End CompanyJobResults*/
    


/* Search Related */
#WRHomeLeft #QSB .wrBoxContent {background: url(http://img.icbdr.com/images/WR/homesearchbg.jpg) 100% 0 no-repeat; height:212px}
#WRHomeLeft #QSB h2 {margin:8px 0px 0px 0px !important; padding-left:10px}
#WRHomeLeft #QSB .BoxInner {padding:0px; }
#WRHomeLeft #QsbInner #Keyword, #WRHomeLeft #QsbInner #Location, #WRHomeLeft #QsbInner #categories_wrapper {width:100%; float:left; margin-top:10px; margin-left:10px}
#WRHomeLeft #QsbInner #sbmtBtn {margin-top:-22px; margin-left:280px !important; *margin-left:136px !important; float:left}
#WRHomeLeft .qsbLabel {float:left; width:65px;}
#WRHomeLeft #QsbInner #Keyword input, #WRHomeLeft #QsbInner #Location input 
{
width:300px !important; float:left !important;
background-color:#F6F6F6;
border:1px solid #858484;
color:#000000;
height:18px;
line-height:18px;
padding-left:2px;  }

#WRHomeLeft #QsbInner #categories_wrapper
{width:260px;}

#categories_wrapper select 
{
width:160px;
background-color:#F6F6F6;
border:1px solid #858484;
color:#000000;
height:auto;}

div div#middleleftwidgetcontainer {
	float: none;
}

#WRHomeLeft {clear:both}
#WRHomeLeft #QsbInner #categories_wrapper {margin-top:66px !important}
#WRHomeLeft #QsbInner #Location {margin-top:-74px !important}
#WRHomeLeft #QsbInner #sbmt {    background:url(http://img.icbdr.com/images/WR/btnSearchMain.jpg) 100% 0 no-repeat; 
    border:none; 
    height:27px;
    width:99px;
    float:left;
    cursor:pointer;
    color:#fff;
    font-weight:bold;
    line-height:23px}
    
#WRHomeLeft .SBExample {margin-left:100px; float:left; border:solid 1px #C3C3C3}
    
#JRtable #qsb_h1 h1 {color:#454545 !important;
font-size:21px !important;
letter-spacing:-1px;
margin:0;
padding:0;
width:100%}   

#SvdSrchLinks {float:right; margin:-99px 77px 0px 0px;}    
 
#QsbInner 
{
    background:url("http://img.icbdr.com/images/WR/searchbggrey.jpg") repeat-x 0 0 transparent;
    float:left;
    width:100%;
    margin-bottom: 10px;
}
    
#JRtable .SBEnds {height:74px; width:10px; float:left;}
    
#JRtable #QSBbgL {background:url("http://img.icbdr.com/images/WR/searchbgR.jpg") no-repeat 0 0 transparent; display: none;}
    
#JRtable #QSBbgR {background:url("http://img.icbdr.com/images/WR/searchbgL.jpg") no-repeat 0 0 transparent; display: none;}
   
#QsbInner label  
{
    color:#666;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    display: block;
}

#QsbInner .searchOption,
#QsbInner .searchOptionDistance,
#QsbInner #categories_wrapper,
#QsbInner #sbmtBtn
{
    float:left;
    margin-top:5px;
    margin-left:10px;
}

#QsbInner .searchOption {width:32%;}
#QsbInner .searchOptionDistance {width:12%;}
#QsbInner #sbmtBtn {width: 15%;}

#QsbInner .searchOption input {width:95%; text-align: left;}
#QsbInner #categories_wrapper select {width:80%; float:right;}
#JRClear {clear:both;}

#QsbInner .searchOption input, #QsbInner .searchOptionDistance select
{
    background-color: #FBFBFB;
    border: 3px solid #CCC;
    color: #000000;
    font-size: 18px;
    font-family: Arial;
    margin-top: 2px;
}
#QsbInner .searchOption input
{
    padding-left: 2px;
}

#QsbInner .searchOptionDistance select
{
    height: 30px;
    width: 110px;
    text-align: left;
    line-height: 30px;
    margin-left: 0px;
}

#QsbInner input#sbmt, #QsbInner input#sbmt:hover {
    border: none;
    margin-left: 10px;
    margin-top: 12px;
    height:35px;
    width:116px;
    cursor:pointer;
    color:#fff;
    font-weight:bold;
}
#QsbInner input#sbmt 
{
    background-color: transparent !important;
    background:url(../img.icbdr.com/images/wr/btnSearch.png); 
}
#QsbInner input#sbmt:hover
{
    background-color: transparent !important;
    background:url(../img.icbdr.com/images/wr/btnSearchHover.png); 
    color: #0850A0 !important;
}
   
#QsbInner .SBExample { font-style: italic; color: #888; font-weight: bold;}

#QsbInner span.required { display: inline; color: red; font-size: 12px; font-style: italic; }

.cb_style .cb_Narrow strong {
    color:#333;
}

.cb_style .cb_Narrow h2 {border: none; margin-top: 25px; color:#666; width:98% }

.cb_style .cb_Narrow ul li ul {border:1px solid #CCC !important;}

.jl_sort_div { padding: 10px 0px 8px 4px;}

/* END SEARCH */


/*Login / Out*/
.silogin_wrapper {width:98%; margin:0px auto;}

.silogin_wrapper .dvSpacer {width:1px !important; border-right:solid 1px #B3D5A5; height:240px }

.leftLogout H3 {background-color:#157AA4 !important}

.rightLogout H3 {background-color:#7FBA2E !important}

div.dJSNewDiv 
{
    float: left;
}

input.siTextInpt
{
    width: 250px;
}

.siBox {width:48%; border:none !important}

.siBox h3.org, .siBox h3.blue {background:none !important; color:#454545 !important; font-size:21px;
letter-spacing:-1px;}

.siBox.blu {margin-left:10px}

span#ucUserTypeSelector_lblMessage 
{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

/* TEMPORARY Employer Registration */
#ucUserTypeSelector_HHTVUser_UserType label
{
    margin-left:6px; margin-right:20px;
    font-size: 12px;
    font-family: Verdana;
}
.userTypeInfoMsg
{
    padding: 2px;
    font-size: 14px !important;
    font-weight: bold !important;
    float: right;
    background-color: #F6F6FF;
    border: 2px dotted #CCD;
    line-height: 18px;
}
.userTypeInfoMsg a
{
    margin-left: 5px;
}

/* TEMPORARY Employer Login */
.pnlInnerWrapper .userTypeInfoMsg
{
    float: right;
    text-align: center;
}

.siBox .siContent 
{
    width: 300px;
}

.registerRightColumn  {margin:0px !important;}

.registerRightColumn .tipHeading {margin:5px !important; width:95% }

.logoutHeader span {color: #454545 !important}

.tips #TipsHeading {border-bottom-color:#B3D5A5 !important}

#signinBtn {float:right; margin-top:10px; *margin-top:14px; margin-right:10px; *margin-right:0px;}

#siContentID .siItalic {
    display: none;
}

#JobSeekerLogin1_cbRegister 
{
    line-height:30px;
    font-family: Verdana;
}

.RXJP #siBoxRt #EmployerLogin1_cbRegister {margin-top:44px; *margin-top:42px}

div.social_buttons.sb_24.sb_facebook a, div.social_buttons.sb_24.sb_facebook a:hover 
{
    color: White !important;
    text-decoration: none !important;
}
/*End Login / Out*/


/*Job Results*/

#JRtable {margin:2px auto; width:98%}

#JRtable table {width:100%}

#middleleftwidgetcontainer {float:left}

#middleleftwidgetcontainer H1 {margin-left:10px}

.cb_style .jl_wrap_div {border-left:none; border-right:none;}

.cb_style .jl_foam_outer_div {display: none;}

.cb_style .jl_foam_inner_div {border-bottom:1px solid #B3D5A5 !important;}

#JL_D {text-align:left;}

#JL_D tr th, #JL_D tr th a, #JL_D tr th a:visited, #JL_D tr th a:hover { color: White !important; }

.cb_style .jl_even_row {background-color:#FFF !important}

.cb_style .jl_tbl th { background:#437CA7; border: none; padding: 5px 5px;}

.cb_style .jl_tbl td { border-bottom:solid 1px #E1EDFA; padding: 5px 5px;}

.cb_style .jl_tbl th.jlCompany,
.cb_style .jl_tbl td.jlCompany
{
    width: 165px !important;
}

.cb_style .jl_tbl th.jlLocation,
.cb_style .jl_tbl td.jlLocation
{
    width: 150px !important;
}

.cb_style .jl_tbl th.jlPay,
.cb_style .jl_tbl td.jlPay
{
    width: 90px !important;
}

a.jt , a.jt:visited, a.jt:hover {color:#086AB0 !important}

a.jt:visited {text-decoration:none}

.jl_ads_cell, .jl_rvj_cell, .nav_btm_cell {border:none !important}

a.em:link {color:#086AB0 !important}

.cb_style a.jl_view_link, .cb_style a.jl_save_link, .cb_style a.sj {color:#086AB0 ; text-decoration:none !important}
.cb_style a.jl_view_link:visited, .cb_style a.jl_save_link:visited, .cb_style a.sj:visited 
{
    color:#086AB0 ;
    text-decoration:none !important}

.jl_odd_row, .jl_even_row {color:#454545}

a.srt_off:link {color:#086AB0 !important}
a.srt_on:link {color:#086AB0 !important}

.jr_listpanel {border:1px solid #B3D5A5 !important}

#middleadcontainer {margin-top:10px}

a.em:visited {color:#086AB0 !important}

#JL_mxdlpDropDownBottom { visibility:hidden}

/*a.sj:link { visibility:hidden}*/

.cb_style .cb_Narrow ul li {width:20% !important;}

.cb_style .cb_Narrow ul li ul li {width:97% !important;}

/* TEST SIDE NAVIGATION */
/*
.cb_style .cb_Narrow  
{
    width: 210px;
    float: left;
    padding: 0px 0px 15px 0px;
}

.cb_style .cb_Narrow ul li 
{
    width: 179px !important;
}

#ListWrap {
width: 700px;
float: right;
}
*/
/* END SIDE NAVIGATION */
/*End Job Results*/

.headerAdWrapper { text-align: center; }


/*Job Details*/
#jdpLeftWrapper span {color:#3366CC}

#jdpLeftWrapper .jd_jobresults 
{
    float:left !important;
    width:100%;
    text-align:left !important;
    margin-top:0px !important}

#jdpLeftWrapper .jd_jobresults a {margin-left:20px;}

#jdpLeftWrapper .jdpActionBar {border-color:#B3D5A5; width:100% !important; border-right:none; border-left:NONE}
    
#jdpLeftWrapper .jdpActionBar .actionBar {width:100% !important; margin:0px !important;}   
    


#jdpLeftWrapper .jdpActionBar .actionBar td {width:40%; text-align:left !important}

#jdpLeftWrapper .jdpActionBar .actionBar .actionBarLast {width:10%}

.jdpPageWrapper {float:left}

.jdpInnerContent {max-width:100% !important; float:left}

#jdpLeftWrapper .jdpInfo {
float:left;
width:320px;
margin:0px 10px 30px 25px
}

#jdpLeftWrapper .jdpContent {
float:right;
width:580px;
margin:10px 25px 0px 10px
}

#jdpLeftWrapper #jdpRequirements {margin-top:30px}

#jdpLeftWrapper .jdpInfo div {width:100%}

#jdpLeftWrapper .jdpInfo span {width:35% !important}

#jdpLeftWrapper .jdpInfo .jdpSectionHeading {width:100% !important}

#jdpLeftWrapper h1 {margin:0px 0px 0px 20px !important; clear:both !important}

#jdpLeftWrapper #jdpCompany {float:left; margin-left:20px; width:100%}

#jdpLeftWrapper #jdpCompany h2 {color:#787878 !important}

#CompH2 {width:30%; float:left}

#CompLinks {float:right; margin-right:40px}

.jdpSectionHeading {border-bottom:1px solid #B3D5A5 !important}

#jdpLeftWrapper {width:978px}
#jdpAdvice {
   width:978px;
   background-color:#FFFFFF !important; 
}
/*End Job Details*/


/*ECommerce*/

.cb_style .jobprodwrapper span.price {color:#454545 !important}

.cb_style h2.orange {background:url(../img.icbdr.com/images/WR/nav_bg.jpg) !important}

/*End ECommerce*/

/*Job Apply*/
#applyWrapper {width:940px !important; margin:20px !important}

.SingleApply {width:60% !important; border:1px solid #B3D5A5 !important}

#spanRequired {color:#454545 !important; margin:0px}

input.btnSend {color:#fff}

div#applyWrapper div#SingleApply h2 
{
    display: inline;
}

#spanRequired { margin-bottom: 20px; }

#SingleApply fieldset legend div
{
    font-size: 14px;
}

.cb_PnlTabbed ul li
{
    padding: 2px !important;
    list-style-type: circle;
}

.cb_PnlTabbed ul li.active a
{
    padding: 2px !important;
    border: 1px solid #9A9ADE;
    background-color: #EFEFEF;
    text-decoration: none;
}

div#SavedResume div#divSelectResume
{
    margin-left: 40px;
}

div#AJAXLoginDiv
{
    font-size: 12px;
}

div#AJAXLoginDiv a 
{
    color: #086AB0;
}

div#AJAXLoginBtnDiv .btn 
{
    border: 1px solid #9999AA !important;
    background-color: #ECE0AD !important;
    background-image: none !important;
}

div#login.defaultPopup.popup.grad.skinnyPopup
{
    border: 3px solid #5577AA;
}

.cb_style div#ExternalAppUserInfoRequest
{
    background-image: url('../img.icbdr.com/images/WR/topfillseeker.jpg') !important;
    background-size: 100%;
}

.cb_style div#externalInfoSubmit .btn
{
    background: url('../img.icbdr.com/images/WR/btncontinue.gif') 0 0 no-repeat !important;
    border: none;
    width: 127px;
    height: 38px;
}

.cb_PnlTabbed ul .cbhlLogin
{
    padding: 0px !important;
}

iframe.bottomFrm
{
    position: relative !important;
    background-image: none !important;
    background-color: #FFF !important;
}

div.topTable.grad.clearfix div.floatRight.clearfix
{
    display: none;
}

input#txtUserEmail 
{
    width: 250px;
}

/*End Job Apply*/


/*Registration*/
#registrationControl #divCountrySelect
{
    display: none;
}

.requiredText {color:#454545 !important}

.UserEmailOptions .registerRightColumn .tipHeading {color:#454545 !important}

.cb_style h2, .cb_style legend {color:#787878; border-color:#C4D0EC}

.cb_style div.inner h2 { color: #454545 !important; }

.registerBtn 
{
    border: none;
}
.registerBtn input.btn, .registerBtn input.btn:hover
{
    margin-left: auto !important;
    margin-right: auto !important;
}
.siContent li 
{
    list-style-image: url("../img.icbdr.com/images/WR/arrow_go.png");
}
/*End Registration*/

/* Quick Start Registration */
.cb_style2011
{
    margin-left: 10px;
    margin-right: 10px;
}
/* End Quick Start Registration */



/*JS MyCB*/
#myCB_outer {width:100%}

#myCB_outer .stdOuter {border-color:#B3D5A5}

.jsContentWrapper h3 {color:#454545;}

#HTML_RESUME .htmlresume_headline {color:#454545 !important;}

.jsContentWrapper #titleWrapper {margin:10px;}

#myCBLeftConentGreen {color:#454545 !important}

.myCBSaved_wrapper {width:540px !important;}

#myCBHelpfulTips {float:right !important;}

a.joblink {color:#454545 !important}

.jsSnapShot_inner .num {color:#454545;}

.alertHeading .betterJob {color:#454545;}

.cb_style #cb_JobMachine { background:url(http://img.icbdr.com/images/WR/jobmachine.gif) !important;}

.borderWrapper {border:solid 1px #B3D5A5 !important}

#tabChangeEP span {color:#454545 !important;}

td.tip_box strong {color:#454545 !important;}

#EmailCenterWrapper {width:auto !important}

#CoverLetr {float:left}

#myCB_inner h2 {margin-left:10px}

#applyWrapper #applyForm {border:solid 1px #B3D5A5 !important}

#applyForm h2 {*line-height:30px}
 
#applyWrapper #applyForm { width: 80.8%; float:none;}
 
#applyWrapper #ThankHead #heading2 { width: auto;}
 
#INTL_Create_Job_Alerts {text-align:left; margin:0px 20px}

#divmJAM1 .alertHeading {width:auto;}

#divmJAM1 {margin:20px}

#WMResSpan {float:none !important}

#idRMRinfCV #idTdRMR2  {width:auto !important;}

#ResumeStatsBox .StatsNumber {color:#454545 !important}

#SeeMoreRecJobs {display:none}

.cb_style a.apply {color:#454545 !important}

.WMGreenArrow, #GreenArrowUpgrade {visibility:hidden}

#myCB_outer .myresumes {background:none}

.no_message {margin-left:10px}

#idMyresume1 {visibility:hidden}

li a#ucJSSnapShot_ActiveResume, li a#ucJSSnapShot_ActiveResume:hover
{
    font-size: 16px !important;
    font-weight: bold !important;
    border: 2px dotted #CCD;
    background-color: #F6F6FF;
    padding: 5px !important;
}
li a#ucJSSnapShot_ActiveResume
{
    text-decoration: none;
}
li a#ucJSSnapShot_ActiveResume:hover
{
    text-decoration: underline;
}
/*End JS MyCB*/

/* My Resumes */
table#relocationArea1, table#idRDReloc
{
    display: none;
}

#schoolTable span.requiredStarResSchool, #schoolTable span.requiredStarRes
{
    display: none;
}

table.graygrad, table.tbl_brdr
{
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    background-color: #FFE !important;
}

a#ucResumeMyResumeOptions_hlPrivacyOptions 
{
    cursor: default;
    text-decoration: none;
}

hr { display: none; }

/*Resume Post*/
div#noCVOption a 
{
    margin-left: 5px;
    color: #086AB0 !important;
}

#srLeftWrapper h3, #srRightWrapper h3 {color:#454545 !important}

div #slidecontainer {background-color:#CECFE7 !important;}

.prStep .prActiveNum {color:#003073 !important;}

.orDivider, .orText {color:#454545 !important;}

.PRWrapper .resumeSubmit {width:100% !important}

.requiredField {background-color:#FF947F;}
/*End Resume Post*/

.jl_hdr_div {color: #454545 !important}


/*JP MyCB*/

div#JPTopNav { background: none; }

#JPTopNav ul li { background:url(../img.icbdr.com/images/WR/bg_jpTobNav-button-r.png) no-repeat scroll 100% 0 transparent !important;}

#JPTopNav ul li.activeitem {background-position:100% -32px !important;}    
    
#JPTopNav ul li a { background:url(../img.icbdr.com/images/WR/bg_jpTopNav-button.png)  0 0 no-repeat !important;}
    
#JPTopNav ul li a.activeitem {background-position:0 -32px !important;}    

div#JPLeftNav { background-color: White !important; }
   
div#JPLeftNav
{
    width: 160px !important;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
 
#JPLeftNav ul li a { color: #086AB0; background:url(http://img.icbdr.com/images/WR/bg_jpLeftNav-bullet.png) no-repeat scroll 2px 8px transparent !important;}
    
#JPLeftNav ul li a.activeitem 
{
    background-color:#EDEDED !important;
    border: 1px solid #086AB0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.MyCBNews H3 span {color:#fff !important}

.JPMyCBWhiteBoxWrapper .MyCBNews h3 {border-bottom:1px solid #B3D5A5 !important}

.MyCBNews .news img { background:url(http://img.icbdr.com/images/WR/NewsArrow.gif) !important;}

.nav a.log div, .cb_style span.location, .cb_style .mjResults_expires, .mjResults_renew, .mjResults_PostDT
 {color:#333 !important}
 
/* The above incidentally colors a DIV inside a link.  Fix this for Employer nav links: */
.nav .priwrapper .pri a.log div { color: white !important; }

.cb_style .custom_legend_container {border:1px solid #454545 !important}

#jobSummary table th, #contentBounds h4, #feedbackLink strong {color:#454545 !important}

#CorpJobAdd fieldset .tips h3, #CorpJobAdd .mytipbox h3 {border-bottom:1px solid #454545 !important}

.cb_style .candidatedetails .action {border:1px solid #454545 !important}

.candidatedetails #idADv2, .candidatedetails #iconActions, .candidatedetails #appInfo {padding-left:10px  !important}

.cb_style .MyBB_wrapper {width:100% !important}

#CorpJobAdd fieldset .fields fieldset p  {padding:0px !important}

#_JobPostingForm_myGeoControl_Job_StateName {width:164px !important;}

#JPFormGeoZip {clear:left}

#_JobPostingForm_myGeoControl_Job_CityName  {width:160px}

.mediasubgrps a:hover {color:#454545 !important;}

.cb_style .LinkLabelHelp {color:#086AB0 !important; text-decoration: none;}
.cb_style .LinkLabelHelp a, .cb_style .LinkLabelHelp a:hover {text-decoration: underline !important;}

.ScreenerTabs_wrapper #CBHyperLink1 { visibility:hidden}

/* Fix this - does not need to do this for Employer nav links
.nav .pri a:hover {background-color:#EDEDED !important; color:#454545 !important;} */

.cb_style .mjPendingJobs_Wrapper {border:1px solid #454545 !important;}
/*End JP MyCB*/

/*Company Page*/
#ucCompanyDetails_tblCellBannerHeader {border:1px solid #B3D5A5 !important}

#ucCompanyDetails_tblCellHeader {border:1px solid #B3D5A5 !important; background-color:#147CA3 !important}

#ucCompanyDetails_tblCellLeftNav {border-left:1px solid #B3D5A5 !important; background-color:#EDEDED !important}

#ucCompanyDetails_tblCellBannerFooter {border:1px solid #B3D5A5 !important}

#ucCompanyDetails_tblCellFooter {border:1px solid #B3D5A5 !important; background-color:#147CA3 !important}

#ucCompanyDetails_tblCompanyOutlook {background-color:#B6D6A7 !important}

#ucCompanyDetails_tblCompanyOutlook .hdr_14 {color:#454545 !important}

.cb_style .hdr_BB { color:#454545 !important}

.WRBorder {border-right:1px solid #B3D5A5 !important}

.CompanyWrapper #applyWrapper {margin:0px !important; width:100% !important; text-align:center}

.CompanyWrapper #applyWrapper #heading {float:none !important; margin:0px auto !important}

.CompanyWrapper #applyWrapper #applyForm {float:none !important; clear:both; margin:0px auto !important}

#leaveResumeDiv {margin:0px auto !important}

#bodyBrandBuilder .f_tbl_outer {border-right:1px solid #454545 !important; border-left:1px solid #454545 !important}
/*End Company Page*/

/* Job Posting Form */
#CorpJobAdd div#jpfNewCompanyAddress 
{
    width: 525px;
}

#CorpJobAdd div[id*=pnlRelocationOptions]
{
    float: right;
}

/* BrandBuilder */
.cb_style .BBTabs li.active 
{
    border: 1px solid #8AD;
}

/*Job Recs*/
#recLeftColWrapper {background:transparent url(http://img.icbdr.com/images/WR/rec_bkgd_relax.jpg) no-repeat scroll left bottom !important;}
/*Ende Job Recs*/


/* RDB */
div#facets-links-top 
{
    width: 250px;
}
div#facets-links-top a
{
    color: #086AB0 !important;
}

/*404*/
#ForOFor {margin-bottom:20px}

#ForOFor span { color:#454545 !important;}

#ForOFor .intlQuickSearchBox {border:1px solid #B3D5A5 !important}

/*.cb_nav .nav_wrapper ul li a:visited, .cb_nav .nav_wrapper ul li a:link {color:#fff !important}*/
/*End 404*/



/*Article Page*/
#article_page_left {float:left; width:60% !important; margin:20px 0px; text-align:left; margin-left:10px}

#article_page_right {margin:20px 0px; text-align:left}
/*End Article Page*/



/*Articles Page*/
#ArticlesWrapper {display:block; text-align:left}

#ArticlesWrapper h1 {margin-left:30px}
/*End Articles Page*/



/*Advice Page*/
#WRVerticalLeftSide {
    float:left;
    margin:10px;
    width:65%;
    text-align:left;
}

#WRVerticalRightSide 
{
    margin:10px;
    text-align:left;
    float:left;
    width:30%;
}
.featArtImageAdvice 
{
float:left;
 height:160px;
 margin: 20px 10px;
 }
/*End Advice Page*/



/*Video Page*/
#video {
margin:0px auto;
width:100%;
}

/*End Video Page*/


/*----- White Boxes -----*/
.wrSeeker .wrWhiteBox
{
	padding: 6px 0 7px 0;
	/*width:98%; default width */
}

.wrJRBoxHeader 
{
    height:10px;
    overflow:hidden;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.wrJRBoxHeader div {width:6px;height:6px;overflow:hidden; background-color: #fff; background-repeat:no-repeat;}

.wrBoxHeader {height:6px;overflow:hidden; background: #fff url(../img.icbdr.com/images/WR/wbtr.gif) 100% 0 no-repeat;}

.wrBoxHeader div {width:6px;height:6px;overflow:hidden; background-color: #fff; background:url(../img.icbdr.com/images/WR/wbtl.gif); background-repeat:no-repeat;}

.wrJRBoxFooter {height:6px;overflow:hidden;background:#fff;}

.wrJRBoxFooter div {height:6px;width:6px;overflow:hidden;background: #fff;}

.wrBoxFooter {height:6px;overflow:hidden;background:#fff url(../img.icbdr.com/images/WR/wbbr.gif) 100% 0 no-repeat;}

.wrBoxFooter div {height:6px;width:6px;overflow:hidden;background: #fff url(../img.icbdr.com/images/WR/wbbl.gif) 0 0 no-repeat;}


.wrSeeker .wrWhiteBox .wrBoxFooterProfile
{height:23px;overflow:hidden;background:#fff url(http://img.icbdr.com/images/WR/barsbottom.gif) 100% 0 no-repeat;}

.wrSeeker .wrWhiteBox .jobSearchCustom
{
	width:420px; height:212px; background: url(http://img.icbdr.com/images/WR/searchbg.jpg) 0 0 no-repeat;
}
.wrSeeker .boxCaption
{
	margin:0; padding:0; color:#454545; font-size:21px; letter-spacing: -1px;
}

.wrSeeker h1.boxCaption
{
	margin:0; padding:0; color:#454545; font-size:21px; letter-spacing: -1px;
}

.wrSeeker h2.boxCaption
{
	margin:0; padding:0; color:#454545; font-size:21px; letter-spacing: -1px;
}

.wrSeeker h2.boxCaptionProfile
{
	margin:0; padding:0; color:#666666; font-size:18px; letter-spacing: -1px; line-height:15px; width:548px; float:left; background-image: url(http://dyn.icbdr.com/iebgfix.gif);
}

.wrSeeker h2.boxCaptionProfile div
{
	float:left; padding-top:1px; padding-right:5px;
}
/*------White Boxes END -----*/

/*----- Grey Boxes -----*/
.wrSeeker .wrGreyBox
{
	padding: 6px 0 7px 0;
}

.wrSeeker .wrGreyBox .wrBoxHeader
{height:6px;overflow:hidden; background: #f0f0f0 url(../img.icbdr.com/images/WR/gbtr.gif) 100% 0 no-repeat;}
.wrSeeker .wrGreyBox .wrBoxHeader div
{width:6px;height:6px;overflow:hidden; background-color: #f0f0f0; background:url(../img.icbdr.com/images/WR/gbtl.gif); background-repeat:no-repeat;}
.wrSeeker .wrGreyBox .wrBoxContent
{background:#f0f0f0; padding:2px 10px 7px 10px;}
.wrSeeker .wrGreyBox .wrBoxFooter
{height:6px;overflow:hidden;background:#f0f0f0 url(../img.icbdr.com/images/WR/gbbr.gif) 100% 0 no-repeat;}
.wrSeeker .wrGreyBox .wrBoxFooter div
{height:6px;width:6px;overflow:hidden;background: #f0f0f0 url(../img.icbdr.com/images/WR/gbbl.gif) 0 0 no-repeat;}


/*------White Boxes END -----*/

.wrSeeker .contentProfileLeft
{
	padding-left:18px; float:left; width:528px; color:#454545;
}

.wrSeeker .contentProfileRight
{
	float:left; width:130px;
}
/*------Footer---------*/
.wrSeeker #divFooter
{
    width: 98%;
    margin: auto;
}

#footer_group {clear:both}

#footer_group a {text-decoration:none; margin:0px 6px}

.sv_data th {border-bottom-color:#147CA3}

.dividerBar {background-color:#147CA3}

.svContentWrapper #instructions {display:none}

.cb_style .ajaxPopup input.btn, .cb_style .ajaxPopup a.btn {width:147px !important}
#jdpLeftWrapper .jdpActionBar .actionBar input.btn {width:100%}

div.SingleApply .cb_PnlTabbed li.active {background:none}
.UserInfo #divFirstName {margin-left:1px}
.UserInfo #divEmail {margin-left:1px}
.cb_PnlTabbed {margin-bottom:2px}

#prefsWrapper #prefsContent {padding-left:3px;}

#prefboxbottom input { margin-left: auto; margin-right: auto; }
   
#JobCenter div.JobCenterRecentJobs div.tabContainer, #JobCenter div.JobCenterJobRecommendations div.tabContainer 
{
    padding-left:2px;
}

.JobCenterJobRecs div.RecentJobsHelp
{
    text-align: center;
}
.JobCenterJobRecs div#RecentJobsHelpBlurb
{
    display: none;
}
/* --- My CB --- */

div.secwrapper { display: none; }

div.inner h4 { color: #333 !important; }

#resume_search h4 { width: 75%; }
#resume_search p.view-all { float: right;}

div.vjPageWrapper { background-color: White; }

.mjTabsBtn a { color:#086AB0; }

.wrJRBoxHeader div {width:6px;height:6px;overflow:hidden; background-color: #fff; background-repeat:no-repeat;}

/* --- Jobs & Applications --- */

fieldset legend { color: #454545 !important;}

div.viewJob_content a { color: #086AB0; }

.myJobs_content a { color: #086AB0; }

.statstext a[disabled], .statstext a:hover[disabled] { text-decoration: none !important; }

.mjResults_apps { color: #333 !important; }

div#jpMainContent fieldset.fieldset_small 
{
    width: 980px;
}

td#companyImageAndName 
{
    font-weight: bold;
    text-transform: uppercase;
}

.cb_style #contentBounds { margin-left: 10px; }

div.MyQuestionnaires_wrapper 
{    
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

div.savebut { background-color: white; }

ul.vjJobOptions li a { color: #086AB0; }

span.vjProductSpan { color: #333; }

span.vjProductSpan a.vjProductLink { color: #086AB0; }

div.JobAppsContainer div.JobAppSubLinkContainer a.JobAppSubLink { color: #086AB0;}

a.JobAppSubLink { color: #086AB0; }

fieldset legend.SubContainer { color: #086AB0 !important; }

#idMApps1 { color: #086AB0; }

#idMyAppsV2 a { color: #086AB0 !important; }

#idMyAppsV2 th { color: #086AB0 !important; }

.cb_style div.mjStats_info { color: #454545; }

.cb_style span.statstext { color: #333 !important;}

a.sorter { color: #086AB0; }

.cb_style div.LinkLables a { color: #086AB0; }

.cb_style div.myQuestionnaires table thead th { color: #333 !important; }
.cb_style div.myQuestionnaires table thead td { color: #333 !important; }

.cb_style div.myQuestionnaires a {color: #086AB0 !important; }

.cb_style .linkbutton a
{
    background: url("../img.icbdr.com/images/WR/btnApplyNow.gif") no-repeat 0 0 !important;
    display: inline !important;
    width: 50px !important;
    padding: 9px 12px 8px 18px;
    cursor: pointer;
    vertical-align: bottom;
}

div.MyBB_wrapper a { color: #086AB0 !important; }

#hlPreviewSL { color: #086AB0 !important; }
#hlPreviewSL a, a:hover { text-decoration: underline; }

#hlPreviewUL { color: #086AB0 !important; }
#hlPreviewUL a, a:hover { text-decoration: underline; }

.lnkbutton { background: none !important; }

/* My Templates */

a#lnkActive { color: #086AB0; text-decoration: none;}
a#lnkInactive { color: #086AB0; text-decoration: none;}

/* Figure out how to recognize 'disabled' html property, to hide underline
span.statstext a:disabled { text-decoration: none !important; } */

/* Resume Search */

.cb_style div#divResumeSearchContent { margin: 10px; }

.cb_style a.HeaderLink {color: #086AB0;}

.cb_style div#pnlResultsPagination a {color: #086AB0;}

.cb_style div.resumeresults_summary span b { color: #454545 !important; }

table#ResSearchHistory a { color: #086AB0;}

.cb_style .mysearches span.sorter a,
.cb_style .mysearches span.sort_current a,
.cb_style .mysearches a:link
{ 
    color: #086AB0 !important;
}
.cb_style .mysearches a:link { text-decoration: none; }

.cb_style .mysearches thead th, .cb_style .mysearches thead td { color: #333; }

div#resumes-container table th a { color: #086AB0 !important;}
div#page-container div#resumes-container { color: #333; border-top: 1px solid #454545; border-bottom: 1px solid #454545; } 

div#sortdescription a:link, div#sortdescription a:visited { text-decoration: none; }
div#sortdescription a:hover { background-color: white; color: #086AB0; text-decoration: underline; }


/* Account Tools */

.cb_style .myBB thead th,
.cb_style .myBB thead td { color: #333; }

.resumeInputs td label { color: #333; }

.mediasubgrps a, .mediasubgrps a:visited { color: #086AB0 !important; }

.cb_style a#btnUploadPopUp, .cb_style a#cbhlAddFolder { color: #086AB0 !important; }

.cb_style .myfolders .noresults { color: #333 !important; }

.cb_style .myfolders tbody td a { color: #086AB0 !important; }

.cb_style .myfolders thead th, .cb_style .myfolders thead td { color: #333; }

#JobCenter .JobCenterRecentJobs .JobCenterJobRecs table.results td {font-size:11px}

#JobCenter div.JobCenterRecentJobs, #JobCenter div.JobCenterJobRecommendations, #JobCenter div.JobCenterRecentViewedJobs, #JobCenter div.JobCenterSavedJobs
{height:325px}

#JobCenter div.JobCenterJobRecs { height: 200px;}

#pnlJobInfo.JobInfo #divJobInfo { line-height: 30px; }

.UserEmailOptions .registerTwoColumns {margin-left:10px; width:60%}
.UserEmailOptions .registerTwoColumns span {margin-left:10px; *margin-left:15px}
.UserEmailOptions .registerTwoColumns label {margin-left:-16px; *margin-left:-22px}

.tipTxt {font-size:11px}

#idRegister4 h1 {margin-left:0px}
#idRegister1 {display:none}
#idRegister2 {border:none}


.password_wrapper {border-color:transparent !important}

.password_wrapper .info_box {border-color:#4780AB !important; background-color:#C4DDB8 !important}

.password_wrapper #pass_heading {border-bottom-color:#4780AB !important}

#pnlJRResults {width:100%; margin:0px}

#pnlJRResults #tblResultsWrapper {width:100%; margin:0px}

.divToolbarRight {margin-right:40px}

#pnlJRResults #jr_mqcheck {margin-left:20px}

#pnlJRResults #divLegendWIR { display:none;}

#divLegendWR .legendText {vertical-align:bottom;}

#divLegendWR img {vertical-align:bottom}

#idPostTourResume2 #idPostTourResume1 {background-image:none !important}

#idPostTourResume2 #idPostTourResume1 span {color:#086AB0}

#jrError h3 {border-bottom-color:#4780AB !important}

#jrError #jrLeft #cbhlFindJob {display:none}

/* Big yellow employer action buttons */
#jpMyCbContainer input[type="submit"],
#jpMyCbContainer input[type="button"],
#jpMyCbContainer .btn-action a, div.btn-action input, #btnFacetSearch
{
    background: url("../img.icbdr.com/images/WR/btnEmpAction.gif") repeat-x scroll 0 0 !important;
    color: #234 !important;
    border: 1px solid #DC8 !important;
}

#jpMyCbContainer input[type="submit"]:hover,
#jpMyCbContainer input[type="button"]:hover,
#jpMyCbContainer .btn-action a:hover, div.btn-action input:hover, #btnFacetSearch:hover
{
    background: url("../img.icbdr.com/images/WR/btnempactionhover.gif") repeat-x scroll 0 0 !important;
    color: #0850A0 !important;
}

#jpMyCbContainer input#RRApply
{
    width: 182px;
}

    
#jpMyCbContainer .tabs li.on a {color:#4780AB !important;}

.grid_3, #resume_search_landing {margin-left:5px}

#JobDetails_pnlSkinnedJDP {float:none}

#JobDetails_pnlSkinnedJDP #tbl_jobskin {background-color: #fff !important;border:solid 1px #D4E6CC !important; margin-bottom:4px !important}

.cb_style .btnJobSkin {
    background: url("../img.icbdr.com/images/WR/btnBlank.png") no-repeat scroll 0 0 transparent !important;
    border: medium none !important;
    display: block !important;
    font-size: 13px !important;
    font-weight: bold !important;
    height: 36px;
    line-height: 30px;
    text-align: center !important;
    width: 146px !important;
    color: #fff !important;
}



.R2OuterWrapper {margin: 10px 0px 10px 0px}

.facet_content span input, #lblSecurityClearanceClassification span input {margin:2px}

#_facets__ctl13_facet_security {
    background:none; background-color:#fff}
    
#tabVc1 {text-align:left !important}

#JPBreadcrumb ul li a, a:visited, a:active { color: #086AB0; }
#JPBreadcrumb ul li a:hover { text-decoration: none; }
#JPBreadcrumb ul li strong { color: black; }

/* styles for jquery popups on job results page */
.headerfree-dialog .ui-dialog-title { font-size: 1.2em; }
.headerfree-dialog .ui-dialog-content { font-size: 1em; }
.headerfree-dialog .ui-button-text { font-size: 0.95em; }
#sj_form #SaveJobTitleCompany { font-weight: bold; color: #666666; font-size:1.1em;}
#emailJobForm.ui-dialog-content label {font-size: 1.3em;}
#emailJobForm.ui-dialog-content #EmailJobCharCountMessage {font-size: 1.1em;}
#emailJobForm.ui-dialog-content input { font-size: 1.3em;}
#emailJobForm.ui-dialog-content .nocol textarea {font-size: 1.3em;}
#emailJobSending { font-size: 1.3em; } 
#emailJobSendError { font-size: 1.3em; } 
/* end jquery popups */

/* begin additions of styles ported from off-platform stylesheet */
.jobinfoanddescriptions, .jobparagraph, .aboutcompany
{
    width:585px;
}
.jobinfoanddescriptions
{
	float: left;
}

.crumb 
{
    margin-left: 10px;
    font-size: 12px;
    font-family: Arial;
    text-decoration: underline;
    width: 150px;
}

.companyBox
{
    width:202px; 
    height:208px; 
    float:left; 
    background: url(../img.icbdr.com/images/wr/compbg.jpg); 
    background-repeat: no-repeat;
}
.companyBox .companyBoxImage
{
	padding-left: 0px; padding-top: 0px;
}
.companyBox .companyBoxDescription
{
	margin: 5px; padding: 0px;
}

p.companyURL
{
	display:none;
}

p.jobinfo, p.jobactions
{
    font-size:11px;
}

p.jobinfo { margin-bottom: 8px !important; }

p.jobactions { margin-bottom: 4px !important; }
    
.positionBox
{
    margin-left: 10px;
	padding-top:1px; 
	width:371px; 
	height:208px; 
	float:right; 
	background: url(../img.icbdr.com/images/wr/jobbg.jpg); background-repeat: no-repeat;
}

.positionBox .positionBoxDescription
{
	padding-left: 12px;
    padding-top: 12px;
    float: left;
    width: 170px;
    height: 200px;
    overflow: hidden;
}

.jobdetailsactions
{
	float:left; 
	text-align:right; 
	width: 170px; margin-top:13px; 
	margin-left:5px;
}

.mapwrapper
{
    width: 346px;
    border: 0px solid #D9D9D9;
    float: right;
    margin-right: 15px;
}

.cbsalarylink { text-decoration: underline; }

.EmailJobToFriendPopup 
{
    border: 1px solid #97ACC4;
    position: absolute;
    margin: -5px 2px 5px -2px !important;
    margin: 0px;
    background-color: white;
    z-index: 201;
    text-align: left;
    width: 450px;
    height: 250px;
    min-height: 250px;
    visibility: hidden;
}

.jobparagraph, .aboutcompany
{
	margin-top:8px; 
	margin-bottom:8px; 
	margin-right:8px; 
	font-size: 12px;
}

.aboutcompany
{
	display: none;
}

.BlueCaption
{
	float:left; 
	font-size:13px; 
	padding-left: 6px; 
	padding-right:9px; 
	line-height:19px; 
	color:#ffffff; 
	height:19px; 
	border-left:5px solid #f6be17; 
	background-image:url("../img.icbdr.com/images/WR/backblue2.gif"); 
	background-repeat: repeat-x;
}


/**************  JOB DETAILS    ************************/
#JobBody {margin:10px 30px 0px 20px; text-align:left; font-family: Tahoma, Arial, Helvetica, sans-serif;font-size: 11px;}
#rxJobTitle {font-weight:bold; text-align:center;}

#rxJobSnapshot {}
#rxJobsnapshotLeft {float:left;	width:auto;	margin-right:15px;}
#rxJobSnapshotRight {float:left; width:auto; margin-left:15px;}
#rxJobDesc {margin-top:70px;}

#JobBody strong {font-size:12px; text-align:center !important;}
#divButtonBoxBottom {margin-top:20px}

#divApplyBottom {background:url("../img.icbdr.com/images/rx/bouton_jd.gif") left top no-repeat; float:left; height:18px; margin-right:4px; text-align:center; padding-top:1px;}
#divBackToResutlsButton {background:url("../img.icbdr.com/images/rx/bouton_jd_med.gif") left top no-repeat; float:left; height:18px;margin-right:4px; text-align:center; padding-top:1px;}
#divSearchAgainButton {background:url("../img.icbdr.com/images/rx/bouton_jd_med.gif") left top no-repeat; float:right; height:18px; text-align:center; padding-top:1px;}

.cb_style .JDbtn A {border:none; color:#fff !important; text-decoration:none !important; font-weight:bold; height:18px; text-align:center; padding:0px; font-size:10px !important; margin-top:6px;}           
.cb_style .JDbtn A:visited {color:#fff !important; font-size:10px !important}  

#JobBody ul {list-style-position: outside;margin: 5px 0 5px 35px;padding: 0}
  
.intl_jr_fields {padding-bottom: 5px;padding-top: 5px;}    
.intl_jr_label {display:block; clear:left;float:left;}
.intl_jr_value {width:65%;float:left;}

#ucJobDetails1_pnlSkinnedJDP > table { }
.jdpPageWrapper{ }
.jobSkinHdrLinks{text-align:center !important; float:none !important;}
.jobSkinHdrLinks ul li {  margin-top: -4px; }
#tbl_jobskin.tbl_backtoresults{ }
.jobSkinHdrLogo{height:30px !important; float: left }
#ucJobDetails1_ucJobDetails_MainTable{width:100% !important;}
#ucJobDetails1_ucJobDetails_MainTable table{border-collapse: collapse !important;}
#ucJobDetails1_ucJobDetails_MainTable .stdInnerContent {padding-left:2px !important; margin:0 !important;}
#ucJobDetails1_ucJobDetails_MainTable .floatRight{width:41% !important; margin-left:10px !important;}
#ucJobDetails1_ucJobDetails_MainTable .tdLine {height:5px; border-color:Black; border-bottom-style:dashed; border-bottom-width:1px;}
#ucJobDetails1_ucJobDetails_MainTable .jdpInfo {padding-top:14px !important;}
#jdpRequirements .tdLine { }
#jdpSnapShot .tdLine{ }
/* #ucJobDetails1_ucJobDetails_MainTable .jdpContent br{display:none;}*/
#ucJobDetails1_ucJobDetails_MainTable .jdpContent{ font-size:11px;}
.jd_jobresults{display:none;}
tr.jobDetailsLinks td{}

.topNavUList { display: block; list-style-type: none; }
.topNavUList li { float: right; margin-right: 1.4em; }
.topNavUList li a { color: #295767; font-size: 12px; font-weight: bold;}
.topNavUList li a.jl_save_link { font-weight: bold !important; }
.topNavUList li a.jl_save_link:hover { text-decoration: underline;}

form.multigeo_upload_form, div.multigeo_upload_form {
    text-align: left;
}

/* HEADER & LABEL SYTLES */
.multigeo_upload_form h1 {
    font-size: 22px;
    margin: .2em 0 .2em 0;
    color: #202245;
}

.multigeo_upload_form h2 {
    border: none;
    color: #202245;
    margin: 1em 0 .8em 0;
}

.multigeo_upload_form h3 {
    font-weight: normal;
    color: #202245;
    margin: .75em 0 .75em 0;
    font-size: 16px;
    border: none;
}

.multigeo_upload_form h4 {
    margin: .5em 0 .5em 0;
    font-size: 12px;
    color: #333333;
    line-height: 14px;
}

.multigeo_upload_form h5 {
    margin: .2em 0 .5em 0;
    font-size: 14px;
    color: #333;
}

.multigeo_upload_form h6 {
    margin: .2em 0 .2em 0;
    font-size: 12px;
    color: #333;
}

.multigeo_upload_form label {
    margin: .5em 0 .5em 0;
    font-size: 12px;
    color: #333333;
    line-height: 14px;
    font-weight: bold;
}


/* INPUT & LINK STYLES (Text boxes, buttons, anchors) */
.multigeo_upload_form input[type=text], .multigeo_upload_form input[type=email], .multigeo_upload_form input[type=password],
.multigeo_upload_form input[type=url] {
    font-size: 14px;
    padding: 0.2em 0.4em;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 1em;
}

.multigeo_upload_form select {
    font-size: 14px;
    padding: .2em .2em .2em .4em;
}

.multigeo_upload_form .button, .multigeo_upload_form input[type="button"] {
    background-image: -moz-linear-gradient(#F98A07, ##F1E195); /* FF 3.6+ */
    background-image: -ms-linear-gradient(#F98A07, ##F1E195); /* IE10 */
    background-image: -webkit-linear-gradient(#F98A07, ##F1E195); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(#F98A07, ##F1E195); /* Opera 11.10 */
    -pie-background-image: linear-gradient(#F98A07, ##F1E195); /* csspie */
    background-color: #F1E195 !important;
    border: 2px solid #316895;
    color: black;
    font-weight: bold;
    font-size: 12px !important;
    font-style: normal;
    padding: .4em 2.5em .4em 2.5em;
    text-align: center;
    margin: 1em 0 0 1em !important;
    line-height: 16px;
    -moz-border-radius: 4px 4px 4px 4px;
}

.multigeo_upload_form .button:hover, .multigeo_upload_form input[type="button"]:hover {
    cursor: pointer;
    background-image: -moz-linear-gradient(#F08100, #F1E195); /* FF 3.6+ */
    background-image: -ms-linear-gradient(#F08100, #F1E195); /* IE10 */
    background-image: -webkit-linear-gradient(#F08100, #F1E195); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(#F08100, #F1E195); /* Opera 11.10 */
    -pie-background-image: linear-gradient(#F08100, #F1E195); /* csspie */
    background-color: #F1E195 !important;
    border-radius: 0px;
    color: White;
    font-weight: bold;
    font-size: 12px !important;
    font-style: normal;
    padding: .4em 2.5em .4em 2.5em;
    text-align: center;
    margin-top: 1em !important;
    line-height: 16px;
    -moz-border-radius: 4px 4px 4px 4px;
}


.multigeo_upload_form a {
    color: #363fb5;
    margin: 1em 0 0 1em !important;
}

.multigeo_upload_form a:hover {
    cursor: pointer;
}


/* LEFT/RIGHT COLUMN STYLES */
.multigeo_upload_form .right {
    width: 30%;
    float: right;
    padding-top: 1em;
    text-align: center;
}

.multigeo_upload_form .right div.littleBox {
    font-weight: bold;
    background-color: #F9F9F9;
    border: solid 1px #D1D1DB;
    padding: 1.25em;
    margin: .5em 0 1.25em -1em;
    color: #202245;
}

.multigeo_upload_form .right ul {
    font-weight: normal;
    padding-left: 1.5em;
    text-align: left;
    margin-bottom: 0;
}

.multigeo_upload_form .right ul * {
    padding-bottom: .5em;
}

.multigeo_upload_form .left {
    width: 50%;
    float: left;
}

.multigeo_upload_form .left div {
    padding-top: .25em;
}

.multigeo_upload_form .left h2 {
    margin: 1em 0 0 0;
    padding-bottom: 1em;
}

.multigeo_upload_form .submitBar {
    margin-top: 1em;
}


/* VALIDATION STYLES */
.multigeo_upload_form .status {
    position: absolute;
    height: 15px;
    width: 15px;
}

.multigeo_upload_form .inputError {
    border-color: Red;
    border-style: solid;   
}

.multigeo_upload_form .errorText {
    color: #F00;
    font-size: 11px;
    height: 1em;
    padding-bottom: .5em;
}

.multigeo_upload_form .parserResults {
    font-size: 11px;
    height: 1em;
    padding-bottom: 0.5em;
}

.multigeo_upload_form #parserSuccess {
    color: #008000;
}

.multigeo_upload_form #parserError {
    color: #FF0000;
}

.multigeo_upload_form .disabled {
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.multigeo_upload_form input.default {
        color: #888;
}

.multigeo_upload_form #divHideFileUploadButton {
        position: absolute;
        z-index: 12;
        top: -10000px;
        left: -10000px;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
        opacity: 0.0;
        border: 1px solid red;
 }
    
.multigeo_upload_form #divUploadLocationsFile {
        margin: 1em 0em 0em 1em !important;
 }
    
 .multigeo_upload_form  #divFileUploadStyled input  {
        cursor: pointer;
        left: -10000px;
        opacity: 0;
        position: absolute;
        top: -10000px;
        z-index: 10;
}
    
.multigeo_upload_form #spanFilename {
    padding: 2px 0px 0px 0px;
    color: #666;
    font-style: italic;
}

.multigeo_upload_form  #spanFileSelected, #spanFileBrowse {
    display: none;
}

.multigeo_upload_form #spanFileSelected a {
    padding: 0px 0px 5px 5px;
    cursor: pointer;
}

.multigeo_upload_form #spanFileBrowse a {
    cursor: default;
}

.multigeo_upload_form #spanFileBrowse .tips {
    font-style: italic;
    font-size: 12px;
    color: #666666;
    padding-left: 3em;
}

.multigeo_upload_form #spanFileBrowse .tips img {
    padding-right: 0.6em;
}

/*start RegisterAlertFromResults */
.alertsWrapper { background-color: #fff; border: 1px solid #D6D6D6; border-radius: 7px 7px 7px 7px; }
.alertsWrapper h2 { display: block; clear: both; }
.alertsWrapper .stdInnerContent { padding: 10px 0; margin: 0 10px; border: 0; }
.alertsWrapper .btnWrapper input { margin: 2em 0;}
/*end RegisterAlertFromResults */

/* new MyCB page styles */
.ui-helper-reset {
    font-size: 0.85em !important;
}

.value {
    background-color: #086AB0 !important;
}

h3.orange {
    color: #013E7E !important;
}

#mycb_cv_activity .headline_orange {
    border-bottom: 2px solid #B8CADD !important;
}

#myRecentapplication a {
   color: #086AB0 !important;
}

/* hack for print job details page background */
#JobDetails_ucJobDetails_pnlPrintPage + #JobDetails_ucJobDetails_pnlJob {
background: #ffffff;
}

#tabs4 #tabs-001 .post .title a { color: #086AB0; }

/** Niche Recommendations for SGJD **/
.nicheJDRecs
{
    display: block;
    width: 50%;
    background: #FFF;
    position: relative;
    float: left;
}
.nicheJDRecs .nicheJDRHeader:before
{
    content: url("../img.icbdr.com/images/wr/skin_logo.gif");
    padding-right:3px;
    padding-left: 1px;
    vertical-align:text-bottom;
}
.nicheJDRecs .nicheJDRHeader
{
    font: bold 12px Verdana;
    color: #FFF;
    background: #086AB0;
    padding: 2px 120px;
    padding-left: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.nicheJDRecs .nicheJDRBody
{
    padding-top: 5px;
}

.nicheJDRecs .jdr_wrapper
{
    padding-bottom: 5px;
}

.nicheJDRecs .jdr_wrapper a
{
    color: #086AB0;
}
.nicheJDRecs .nicheJDRBody .location
{
    font-style: italic;
}
