@charset "utf-8";

/*
prose is invoked by the class prose.
the most common case being the main body of a post.
*/

.prose h2 {
    color: #000000;
    font: 500 24px/34px 'FCZizouSlab', georgia, serif;
    margin: 0px;
}

.prose h3 {
    color: #000000;
    font: 500 19px/30px "FCZizouSlab", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.prose h4 {
    color: #000000;
    font: 400 22px/39px "FCKaiser", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.prose h5 {
    color: #000000;
    font: 400 18px/24px "FCKaiser", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.prose h6 {
    color: #000000;
    font: 300 14px/24px "MuseoSans", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a {
    color: #000000;
}

.prose h2 a:hover,
.prose h3 a:hover,
.prose h4 a:hover,
.prose h5 a:hover {
    color: #000000;
    cursor: default;
    text-decoration: none;
}

.prose p {
    font: 300 15px/21px "MuseoSans", Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

.prose em {
    font-style: italic;
}

.prose u,
.prose ins {
    text-decoration: underline;
}

.prose p {
    font: 300 15px/21px "MuseoSans",Arial,Helvetica,sans-serif;
    margin-bottom: 1em;
}

/*---------- LISTS -------------*/

.prose ul {
    color: #000000;
    font-family: "MuseoSans",arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    list-style-position: inside;
    list-style-type: disc;
    line-height: 22px;
    margin: 1em 0;
    padding-bottom: 10px;
    padding-left: 10px;
}

.prose ul li {
    color: #333333;
    margin-left: 15px;
    margin-bottom: 15px;
}


.prose ol {
    list-style: decimal;
}

/*--- BLOCKQUOTE -------------------------*/

article.page .prose blockquote   {
    width:500px;
    margin:20px auto 20px auto;
    padding: 20px;
    border-left: 6px solid #eee;
    border-right: 6px solid #eee;
    color: #444 !important;
    font-size: 16px !important;
    font-family: 'MuseoSans', sans-serif;

}

article.page .prose blockquote p {
    font-style:italic;
    }

/*--- PULL QUOTE ------------------------*/

article.page .prose aside.pullquote {
    width: 200px;
    float: left;
    padding: 20px;
    line-height: .98;
    border-left: 9px solid #000;
    text-transform: uppercase;
    font-weight:600;
    font-size:20px;
    }

/*--- ARTICLE BREAKS --------------------*/

.prose hr {
    display: block;
    width: 45px;
    border-bottom: 5px solid #d0d0d0;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*--- INLINE IMAGES ---------------------*/

.prose figure.inline-large,
.prose figure.inline-small,
.prose figure.inline-zoom {
    cursor: pointer;
    position: relative;
}

.prose figure.inline-small {
    float: right;
    margin: 0 0 1em 1em;
}

/*--- INLINE CAPTIONS -------------------*/

.prose figure figcaption,
.prose div.caption {
    font-family: 'MuseoSans', sans-serif;
    color: #333;
    font-size: 13px;
    line-height: 1.2em;
    padding-bottom: 10px;
}

/*--- INFO BOX --------------------------*/

.prose aside.info {
    width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 10px 0px 10px 10px;
    line-height: 1.3em;
    float: right;
    border: 1px solid #d8d8d8;
}

.prose aside.info p {
    font-weight: bold;
    font-size: 14px;
}

/*--- SIDEBAR ---------------------------*/

.prose aside.sidebar.left,
.prose aside.sidebar.right {
    background: url('../img/mag-stripe.gif') no-repeat top left;
    padding: 10px 0px 10px 0px;
    margin: 10px 10px 10px 0px;
    float: left;
    width: 300px;
    overflow: hidden;
    clear: both;
}

.prose aside.sidebar.right {
    float: right;
    margin: 10px 0px 10px 20px;
}

.prose aside.sidebar.left h2,
.prose aside.sidebar.right h2,
.prose aside.sidebar.center h2 {
    font-family: 'FCKaiser', arial, sans-serif;
    font-size: 34px;
    text-transform: capitalize;
    margin-top: 15px;
    font-weight: 400;
    line-height: .98em;
}


.prose aside.sidebar.left h2,
.prose aside.sidebar.right h2 {
    width: 290px;
}

.prose aside.sidebar.left .subhead,
.prose aside.sidebar.right .subhead,
.prose aside.sidebar.inline .subhead {
    font-family: 'FCZizouSlab', Arial, sans-serif;
    line-height: 1.1em;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 6px;
    font-weight: 500;
}

.prose aside.sidebar.left .subhead,
.prose aside.sidebar.right .subhead {
    width: 290px;
}

.prose aside.sidebar .sidebar-inner {
    background: url('../img/mag-stripe.gif') no-repeat bottom;
    width: 290px;
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 10px;
}

.prose aside.sidebar .sidebar-inner p {
    font-family: 'FCZizouSlab', arial, sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
}

.prose aside.sidebar.center::before {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.prose aside.sidebar.center {
    background: url('../img/mag-stripe-610.gif') no-repeat top left;
    padding: 10px 0px 10px 0px;
    margin: 10px auto 10px auto;
    width: 610px;
    clear: both;
}

.prose aside.sidebar.center .sidebar-inner {
    background: url('../img/mag-stripe-610.gif') no-repeat bottom;
    width: 600px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.prose aside.sidebar.center .inline-large img {
    width: 610px;
}

.prose aside.sidebar.right .inline img,
.prose aside.sidebar.left .inline img {
    width: 290px;
}

.prose aside.promo .read-more {
    display: block;
}

.prose aside.sidebar .sidebar-inner-super-promo #super-promo-body {
    font-family: 'FCZizouSlab', arial, sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 400;
}

.prose aside.sidebar .sidebar-inner-super-promo #super-promo-subhead {
    font-family: 'FCZizouSlab',arial,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 10px;
}

.prose aside.sidebar.right #sponsor_logo {
    width: 120px;
    height: 60px;
    position: relative;
    top: -3px;
    left: 69px;

}
.sidebar-inner-super-promo {
    background: url('../img/mag-stripe.gif') no-repeat bottom;
    width: 183px;
    padding-bottom: 20px;
    overflow: hidden;
    padding-top: 10px;
}

.sidebar-inner-super-promo p {
    font-family: 'FCZizouSlab',arial,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 400;
}

.super-promo-river-with-border {
    padding-left: 10px;
    padding-top: 12px;
}