/* ----------------------------------------------------------

    Bath & Body Works Theming

    Use this file to theme the site by overriding styles. Presented here are several examples.

-------------------------------------------------------------

    LOGO - STYLE/COLOR CHANGE:

    To update the logo color or style just replace the following "bbwLogo.png" with a newer file:

    File Location: ftp_images/home/bnbworks/media_files/bbwLogo.png

    **  MAKE SURE YOU BACK UP THIS FILE!!!! Also NEVER change the image dimensions or name of the file or format.

    **  The "bbwLogo.png" needs to remain the same name, dimensions, and file format.**** 

-------------------------------------------------------------

    BUTTON - STYLE/COLOR CHANGE:

    To update the button colors or styles just replace the "graphics.png" with a newer file:

    File Location: ftp_images/home/bnbworks/media_files/graphics.png

    The "graphics.png" allows you to update the following:

    Shopping Bag Icon 
    My Account Icon 
    Search Button rollover
    Get Connected Graphic
    Sign Up for Email Graphic
    Footer Submit Button
    Facebook Graphic
    Get Mobile Alerts Graphic
    Add These Items to Bag Button
    Store Locator Find Button Rollover
    Quick Shop Button
    Add to Bag Button

    **  MAKE SURE YOU BACK UP THIS FILE!!!! Also NEVER change the image dimensions, name of the file or format, and NEVER reoposition or delete the buttons or elements.

    **  The "graphics.png" needs to remain the same name, dimensions, and file format***

-------------------------------------------------------------

    CHECKOUT BUTTON - STYLE/COLOR CHANGE:

    To update the button colors or styles just replace the "graphics.png" with a newer file:

    File Location: ftp_images/home/bnbworks/media_files/checkoutGraphics.png

    The "checkoutGraphics.png allows you to update the following:
    The checkout process
    Checkout buttons


    **  MAKE SURE YOU BACK UP THIS FILE!!!! Also NEVER change the image dimensions, name of the file or format, and NEVER reoposition or delete the buttons or elements.

    **  The "checkoutGraphics.png" needs to remain the same name, dimensions, and file format***

-------------------------------------------------------------

    LINKS - COLOR CHANGE:

    To update the colors of the links just remove the "/*"s and change the #33333 to a color you wish to see. 

    Replace this file "bbw.theming.css" with a newer version.
    File Location: ftp_images/home/bnbworks/media_files/bbw.theming.css

    You can use Firebug for Firefox to easly search on the live site to see what id's match below. Also you can use to to preview the color before replacing this file.

-------------------------------------------------------------

    BACKGROUND:

    Replace this file "bbwBG.jpg" or "bbwBG.gif" with a newer version.
    File Location: ftp_images/home/bnbworks/media_files/bbwBG.gif  (or bbwBG.jpg)

    **  MAKE SURE YOU BACK UP THIS FILE!!!! Also NEVER change the image dimensions, name of the file or format, and NEVER reoposition or delete the buttons or elements.
	
	Uncomment the next declaration to change the hex value of the background color.

*/
	
	body#bbw #home #container {
		/*background-color: transparent;*/
		background-image:url("bbw.theming.css"); 
		background-repeat: no-repeat;
	}

	body#bbw #container {
		background-color: #FFFFFF;
		background-image:url("bbw.theming.css");
		background-repeat: no-repeat;
	}
	
/* 	GLOBAL BANNER MODS
	This spot is used to increase the height and width of the Global Banner sitewide
*/
	#bbw_globalHeader_wrap, #bbw_globalHeader_2010_1 {
		width: 960px !important;
		height: 40px !important;
	}
	
	#nav1 {
		top:85px;
	}
	
	#header {
		height: 115px;
	}

/*

-------------------------------------------------------------
    
    FOOTER/NAVIGATION BACKGROUND:

    Replace this file "graphicsTileHoriz.png" with a newer version.
    File Location: ftp_images/home/bnbworks/media_files/graphicsTileHoriz.png

---------------------------------------------------------- */

body#bbw #brand {
    /* Uncomment this style to override brand graphic. */
	/* visibility : hidden; */
}

/* Shopping Bag Label and Value */
body#bbw #util-cart #util-cart-link {
	/* Set shopping bag label color.
	color: #333333;
	*/
}
/* Shopping Bag Value */
body#bbw #util-cart #util-cart-link #cart-count {
	/* Set shopping bag value color.
	color: #333333;
	*/
}

/* My Account Label */
body#bbw #util-cart #util-cart-link {
	/* Set shopping bag label color.
	color: #333333;
	*/
}


/* Welcome message log in / log out rollover */
body#bbw .homeWelcome a {
	/* Set welcome message color.
	color: #333333;
	*/
}

/* Navigation Label Rollovers */
body#bbw.jsOff #nav1 .nav1-item:hover,
body#bbw.jsOn #nav1 .active {
	/* Set navigation label color.
	color: #333333;
	*/
}

/* Navigation Flyout Headers */
body#bbw #nav1 .nav1-subnav-group .nav1-subnav-group-item {
	/* Set navigation flyout header color.
	color: #333333;
	*/
}

/* Navigation Flyout Link Rollovers */
body#bbw #nav1 .nav1-subnav-group li a:hover {
	/* Set navigation flyout link rollover color.
	color: #333333;
	*/
}

/* Footer Headers */
body#bbw .footer-links h2 {
	/* Set footer header color.
	color: #333333;
	*/
}

/* Family Page Callout Text & Stroke Rollover */
body#bbw.category .features a:hover {
	/* Set callout text color.
	color: #333333;
	*/
}

/* Page Titles */
body#bbw .page-header {
	/* Set header text color.
	color: #333333;
	*/
}

/* Page Subheads / Features Title */
body#bbw .group-header {
	/* Set header text color.
	color: #333333;
	*/
}

/* A-Z Tab Set Labels - Rollover & On */
body#bbw.category #mainContent .groupLetters dt {
	/* Set label text color.
	color: #333333;
	*/
}

/* Features Title override from Page Subheads */
body#bbw.category .features .group-header {
	/* Set label text color.
	color: #333333;
	*/
}

/* Left Navigation Headers */
body#bbw #sidebar1 .subcat-header {
	/* Set header text color.
	color: #333333;
	*/
}

/* Left Navigation Link Rollover */
body#bbw #sidebar1 ul.sidebar li a:hover {
	/* Set link text color.
	color: #333333;
	*/
}

/* Family Page Label Rollovers */
body#bbw .group .group-link:hover {
	/* Set link text color.
	color: #333333;
	*/
}

/* Promotion Label */
body#bbw #products dd.promo strong {
	/* Set promo text color.
	color: #333333;
	*/
}

/* Product Title Rollover */
body#bbw #products .fn .url:hover {
	/* Set link text color.
	color: #333333;
	*/
}

/* Parametric Filter Dropdown Value Rollover */
body#bbw ul.product-filters li.select-filter .jSelect .scroll ul li a:hover {
	/* Set link text color.
	color: #333333;
	*/
}

/* Pagination Label Rollover */
body#bbw ul.product-general .product-pagination a:hover {
	/* Set link text color.
	color: #333333;
	*/
}

/* Product Page Tab Label */
body#bbw #product-information-nav .ui-state-default a {
	/* Default state */
	/* Set link text color.
	color: #333333;
	*/
}
body#bbw #product-information-nav .ui-tabs-selected a {
	/* Selected Tab state */
	/* Set link text color.
	color: #333333;
	*/
}

/* Search Term */
body#bbw .searchNoResults #mainContent strong {
	/* Set text color.
	color: #333333;
	*/
}

/* ----------------------------------------------------------

    CATEGORY-SPECIFIC THEMING

    To update colors for a specific category, you can start the css selector with 
    #container.category(categoryId)
    The examples use Body Wash and Shower Gel, categoryId 4191834.

---------------------------------------------------------- */

/* Change the color of the large header in the middle */
/* #container.category4191834 h1.page-header {
    color: #d56d99;
} */

/* Change the color of the sidebar headers */
/* #container.category4191834 #sidebar1 .subcat-header {
    color: #d56d99;
} */

/* Change the color of the current subcategory in the sidebar */
/* #container.category4191834 #sidebar1 ul.sidebar li a.active {
    color: #d56d99;
} */

/* Change the color of the sidebar links on mouse hover */
/* #container.category4191834 #sidebar1 .sidebar li a:hover {
    color: #d56d99;
} */

/* Change the color of the product link text on mouse hover */
/* #container.category4191834 .result-group .fn .url:hover {
    color: #d56d99;
} */

/* Change the color of the promo for each product */
/* #container.category4191834 .result-group dd.promo strong {
    color: #d56d99;
} */

/* Change the background image to one in the batched images directory. Make sure that the placement of the image matches exactly. */
/* #container.category4191834 {
    background-image: url("/graphics/media/bbw/bbwBG_pink.gif");
} */


/* Discover Our Featured Brands sprite changes */

#bbw.brands .family-list #group-4305140.group-link {
    background-position:-510px 0;
    background-image:url("graphicsFamilies_br.jpg");
}




/* category sprite changes */

#group-11341454 {
    background-position: -3570px 0;
    background-image: url("graphicsCategories.jpg")
}
 
#group-11341455 {
    background-position: -3740px 0;
    background-image: url("graphicsCategories.jpg");
}

#group-11433651 {
    background-position: -3910px 0;
    background-image: url("graphicsCategories.jpg");
}




/* sub-category (family) sprite changes */

.family-list #group-11827845 .group-link {
    background-position: -2625px 0; 
    background-image: url('graphicsFamilies_aa.jpg');
}

.family-list #group-11808425 .group-link {
    background-position: -2100px 0; 
    background-image: url('graphicsFamilies_ab.jpg');
}

.family-list #group-11226246 .group-link {
    background-position: -1750px 0; 
    background-image: url('graphicsFamilies_bs.jpg');
}

.family-list #group-11443838 .group-link {
    background-position: -1925px 0; 
    background-image: url('graphicsFamilies_bs.jpg');
}

.family-list #group-11433650 .group-link {
    background-position: -875px 0; 
    background-image: url('graphicsFamilies_bs.jpg');
}

.family-list #group-11443834 .group-link {
    background-position: -875px 0; 
    background-image: url('graphicsFamilies_lc.jpg');
}

.family-list #group-11443836 .group-link {
    background-position: -350px 0; 
    background-image: url('graphicsFamilies_pf.jpg');
}

.family-list #group-3733048 .group-link {
    background-position: 0px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-3733050 .group-link {
    background-position: -175px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-3733049 .group-link {
    background-position: -350px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-3733047 .group-link {
    background-position: -525px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-3930050 .group-link {
    background-position: -700px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-4450562 .group-link {
    background-position: -875px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-4450563 .group-link {
    background-position: -1050px 0; 
    background-image: url('graphicsFamilies_clb.jpg');
}

.family-list #group-4107068 .group-link {
    background-position: 0px 0; 
    background-image: url('graphicsFamilies_clh.jpg');
}

.family-list #group-3733052 .group-link {
    background-position: -175px 0; 
    background-image: url('graphicsFamilies_clh.jpg');
}

.family-list #group-11341493 .group-link {
    background-position: -350px 0; 
    background-image: url('graphicsFamilies_clh.jpg');
}

.family-list #group-10787117 .group-link {
    background-position: -875px 0; 
    background-image: url('graphicsFamilies_cn.jpg');
}

/**
	HOME FRAGRANCE
**/
.family-list #group-11207211 .group-link {
    background-position: -175px 0; 
    background-image: url('graphicsFamilies_hf.jpg');
}

.family-list #group-11471215 .group-link {
    background-position: -1050px 0; 
    background-image: url('graphicsFamilies_hf.jpg');
}

.family-list #group-11471216 .group-link {
    background-position: -1225px 0; 
    background-image: url('graphicsFamilies_hf.jpg');
}

.family-list #group-4147329 .group-link {
    background-position: -875px 0; 
    background-image: url('graphicsFamilies_hf.jpg');
}

.family-list #group-11207213 .group-link {
    background-position: -350px 0; 
    background-image: url('graphicsFamilies_hf.jpg');
}

.family-list #group-4147330 .group-link {
    background-position: -700px 0; 
    background-image: url('graphicsFamilies_hf.jpg');
}

/**
	HAND SANITZERS
**/
#mainContent .category-list .group-link#group-12544892 {
	background-position: -4090px 0;
}

.category12641582 ul#families .group-link {
    background-image: url('graphicsFamilies_hs.jpg');
}

.category12641582 .family-list #group-4191860 .group-link {
    background-position: -0px 0; 
}

.category12641582 .family-list #group-4234516 .group-link {
    background-position: -175px 0; 
}

.category12641582 .family-list #group-11808425 .group-link {
    background-position: -350px 0; 
}

.category12641582 .family-list #group-4192047 .group-link {
    background-position: -525px 0; 
}

.category12641582 .family-list #group-11443729 .group-link {
    background-position: -700px 0; 
}

/**
	WALLFLOWERS
**/
.family-list #group-11207111 .group-link {
    background-position: -350px 0; 
    background-image: url('graphicsFamilies_wf.jpg');
}

.family-list #group-10833605 .group-link {
    background-position: -700px 0; 
    background-image: url('graphicsFamilies_wf.jpg');
}

.family-list #group-11443729 .group-link {
    background-position: -1925px 0; 
    background-image: url('graphicsFamilies_ab.jpg');
}

.family-list #group-11443730 .group-link {
    background-position: -1400px 0; 
    background-image: url('graphicsFamilies_tr.jpg');
}

.family-list #group-11433659 .group-link {
    background-position: 0px 0; 
    background-image: url('graphicsFamilies_spa.jpg');
}

.family-list #group-11433657 .group-link {
    background-position: -175px 0; 
    background-image: url('graphicsFamilies_spa.jpg');
}

.family-list #group-11433655 .group-link {
    background-position: -350px 0; 
    background-image: url('graphicsFamilies_spa.jpg');
}

.family-list #group-11433656 .group-link {
    background-position: -525px 0; 
    background-image: url('graphicsFamilies_spa.jpg');
}

.family-list #group-11433661 .group-link {
    background-position: -700px 0; 
    background-image: url('graphicsFamilies_spa.jpg');
}

.family-list #group-11542417 .group-link {
    background-position: -2800px 0; 
    background-image: url('graphicsFamilies_gfb.jpg');
}

.family-list #group-11226133 .group-link {
    background-position: -0px 0; 
    background-image: url('graphicsFamilies_tr.jpg');
}


.family-list #group-11341471 .group-link {
    background-position: -2625px 0; 
    background-image: url('graphicsFamilies_ct.jpg');
}


.family-list #group-12803554 .group-link {
    background-position: -525px 0; 
    background-image: url('graphicsFamilies_clh.jpg');
}

/* ----------------------------------------------------------

    PRODUCT-SPECIFIC THEMING

    To update colors for a specific product, you can start the css selector with 
    #container.product(productId)
    These examples use Lemon Cream Body Wash, productId 2222391.

---------------------------------------------------------- */

/* Change the color of the promo */
/* #container.product2222391 #product-detail .promo {
    color: #d56d99;
} */

/* Change the color of the cross-sell header */
/* #container.product2222391 .sidebarRight .section-header {
    color: #d56d99;
} */

/* Change the color of the cross-sell item promos */
/* #container.product2222391 .sidebarRight .hproduct .promo {
    color: #d56d99;
} */

/* Change the color of the selected tab label */
/* #container.product2222391 #product-information-nav .ui-tabs-selected a {
    color: #d56d99;
} */

/* Change the color of the bottom cross-sell header */
/* #container.product2222391 div.crossSellBottom h2.sub-heading20px {
    color: #d56d99;
} */

/* Change the background image to one in the batched images directory. Make sure that the placement of the image matches exactly. */
/* #container.product2222391 {
    background-image: url("/graphics/media/bbw/bbwBG_pink.gif");
} */


.result-group dd.promo a,
.crossSellBottom .hproduct .promo a,
.sidebarRight .hproduct .promo a,
#bbw #product-detail .promo,
#cart-contents .item-table td.description .promos, .promos,
#bbw.checkout .item-table td.description .promos {
    color: #c8101e;
}
/* Landing Page CSS Document */
#landingPage ul, #landingPage ul li {
	list-style-type: none;
}
#landingPage {
	position: relative;
	overflow: hidden;
}
#landingPage .slide-container .slide {
	text-align: center;
	display: block;
	position: absolute;
}
#landingPage .arrow-button.previous {
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 50%;
}
#landingPage .arrow-button.next {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 50%;
}
#landingPage .arrow-button img.over {
	display: none;
}
#landingPage .arrow-button img.out {
	display: block;
}
#landingPage .counter-container {
	position: absolute;
	right: 8px;
	bottom: 8px;
	margin-top: 30px;
	color: #666;
	font-size: 13px;
	font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}

/* Pumpkin CSS Document */
#pumpkinStory ul, #pumpkinStory ul li {
	list-style-type: none;
}
#pumpkinStory {
	position: relative;
	overflow: hidden;
}
#pumpkinStory .slide-container {
	position: relative;
}
#pumpkinStory .sprite {
	position: absolute;
	z-index: 10;
	right: 18px;
	width: 167px;
	top: 6px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#pumpkinStory .sprite .message {
	float: right;
	width: 39px;
	color: #EC6A1C;
	font-size: 11.5px;
	margin-top: 5px;
}	
#pumpkinStory .sprite .sprite-image {
	float: right;
}
#pumpkinStory .sprite .info-box {
	background: white;
	border: 1px solid #EC6A1C;
	font-size: 12px;
	padding: 10px;
	width: 128px;
	margin-top: 29px;
	border-radius: 3px;
	color: #3b3e36;
	display: none;
}
#pumpkinStory .slide-container .slide {
	text-align: center;
	position: absolute;
	transition: top 0.3s ease-in-out;
	/* Firefox 4 */
	-moz-transition: top 0.3s ease-in-out;
	/* Safari and Chrome */
	-webkit-transition: top 0.3s ease-in-out;
	/* Opera */
	-o-transition: top 0.3s ease-in-out;
}
