/* Global Resets */

html, body, div, span,
applet, object, iframe,
h1, h2, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
strong {
    font-weight: bold;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

input { padding: 0; margin: 0 }

.w48p 	{ width: 48% !important; }
.w50p 	{ width: 50% !important; }
.w75p 	{ width: 75% !important; }
.w95p 	{ width: 95% !important; }
.w100p 	{ width: 100% !important; }
.w5		{ width: 5px !important; }
.w10	{ width: 10px !important; }
.w20	{ width: 20px !important; }
.w30	{ width: 30px !important; }
.w40	{ width: 40px !important; }
.w50	{ width: 50px !important; }
.w70 	{ width: 70px !important; }
.w75	{ width: 75px !important; }
.w100	{ width: 100px !important; }
.w120	{ width: 120px !important; }
.w140	{ width: 140px !important; }
.w150 	{ width: 150px !important; }
.w160	{ width: 160px !important; }
.w180	{ width: 180px !important; }
.w190	{ width: 190px !important; }
.w200	{ width: 200px !important; }
.w250	{ width: 250px !important; }
.w275	{ width: 275px !important; }
.w280	{ width: 280px !important; }
.w300 	{ width: 300px !important; }
.w350 	{ width: 350px !important; }
.w400 	{ width: 400px !important; }
.w450 	{ width: 450px !important; }
.w500 	{ width: 500px !important; }

.mt5 	{ margin-top: 5px !important; } 		.pt5 	{ padding-top: 5px !important; } 	
.mt10 	{ margin-top: 10px !important; }		.pt10 	{ padding-top: 10px !important; }	
.mt15 	{ margin-top: 15px !important; }		.pt15 	{ padding-top: 15px !important; }	
.mt20 	{ margin-top: 20px !important; }		.pt20 	{ padding-top: 20px !important; }
.mt30 	{ margin-top: 30px !important; }		.pt30 	{ padding-top: 30px !important; }	
.mt40 	{ margin-top: 40px !important; }		.pt40 	{ padding-top: 40px !important; }

.mb5 	{ margin-bottom: 5px !important; } 		.pb5 	{ padding-bottom: 5px !important; }
.mb7 	{ margin-bottom: 7px !important; } 		.pb7 	{ padding-bottom: 7px !important; }
.mb10 	{ margin-bottom: 10px !important; }		.pb10 	{ padding-bottom: 10px !important; }
.mb15 	{ margin-bottom: 15px !important; }		.pb15 	{ padding-bottom: 15px !important; }
.mb20 	{ margin-bottom: 20px !important; }		.pb20 	{ padding-bottom: 20px !important; }
.mb30 	{ margin-bottom: 30px !important; }		.pb30 	{ padding-bottom: 30px !important; }
.mb40 	{ margin-bottom: 40px !important; }		.pb30 	{ padding-bottom: 40px !important; }

.mr5 	{ margin-right: 5px !important; } 		.pr5 	{ padding-right: 5px !important; }
.mr10 	{ margin-right: 10px !important; }		.pr10 	{ padding-right: 10px !important; }
.mr15 	{ margin-right: 15px !important; }		.pr15 	{ padding-right: 15px !important; }
.mr20 	{ margin-right: 20px !important; }		.pr20 	{ padding-right: 20px !important; }
.mr30 	{ margin-right: 30px !important; }		.pr30 	{ padding-right: 30px !important; }

.ml5 	{ margin-left: 5px !important; } 		.pl5 	{ padding-left: 5px !important; }
.ml10 	{ margin-left: 10px !important; }		.pl10 	{ padding-left: 10px !important; }
.ml15 	{ margin-left: 15px !important; }		.pl15 	{ padding-left: 15px !important; }
.ml20 	{ margin-left: 20px !important; }		.pl20 	{ padding-left: 20px !important; }
.ml30 	{ margin-left: 30px !important; }		.pl30 	{ padding-left: 30px !important; }
.mtsl11 {margin-top: 11px;}
.m0auto {margin: 0px auto !important}
.pt0 {padding-top: 0px !important;}
.pl5pr5 {padding: 0px 5px !important;}
.dLoadBtn {margin-bottom: 5px !important; width: 140px; padding: 5px 0px;}
.dLoadGameButtons {display: inline;}
.dLoadSWUUpsellIcon {float: right; width: 190px; margin-top: -100px;}
.dLoadIconCopy {margin-top: 0px !important;}
.fltL { float: left !important; }
.fltR { float: right !important; }
.alignL { text-align: left !important; }
.alignR { text-align: right !important; }
.alignC { text-align: center !important; }
.noMarg { margin: 0 !important; }
.noPad { padding: 0 !important; }

.font9 { font-size: 9px !important }
.font10 { font-size: 10px !important }
.font11 { font-size: 11px !important }
.font12 { font-size: 12px !important }
.font13 { font-size: 13px !important }
.font14 { font-size: 14px !important }
.font15 { font-size: 15px !important }
.font16 { font-size: 16px !important }
.font17 { font-size: 17px !important }
.font18 { font-size: 18px !important }
.font20 { font-size: 20px !important }
.font24 { font-size: 24px !important }
.normal { font-weight: normal !important }
.bold { font-weight: bold !important }
.italic { font-style: italic !important }

.displayBlock { display: block !important; }
.displayInline { display: inline !important; }
.displayNone { display: none !important; }
.last { margin: 0 !important; }
.onlineSocial {padding-top: 21px !important;}
.irspacer { padding-right: 10px; }

.fiftyL { float: left; width: 48% }
.fiftyR { float: right; width: 48% }

.itemCentered { margin-right: auto !important; margin-left: auto !important}

.posAbsolute {
	position: absolute;
	top: 0;
	left: 0;
}
.relative {
	position: relative;
}

/* overrides */

h1, h2, h3, h4, h5, h6 { font-weight: bold }

.plainList { padding: 0 0 0 30px; margin: 0 0 7px 0}
.plainList li { list-style-position: outside; }
.plainListSpace li { padding-bottom: 7px; }
ol.plainList li { list-style-type: decimal;}
ul.plainList li {list-style-type: disc;}

.sw_contactList {display: none;}

/* Universal Items */

.clearfix:after {
    clear: both; 
    content: "."; 
    display: block; 
    height: 0; 
    visibility: hidden;
    font-size:0;	
}

img { display: block; }

a img { border: 0 }

a { cursor: pointer; cursor: hand; outline: none; }

.clearLink {
	display: block !important; 
	overflow: hidden;
	height: 0 !important;
	cursor: pointer;
	background: url(../i/common/site/clearLinkShim.png) no-repeat;
}
.green { color: green; }
.red { color: red; }
.socialShareLinks {padding-top: 21px !important;}
.socialShareLinks_true {margin-top: -12px;}