
								
#header {
	}
	
	#header ul {}
	#header li {}
	#header .nav li a {
		
	}
		
	#header .nav li:first-child a {
		border-left:#277db4 1px solid;}
		
	#header .nav li:first-child a:hover {
		border-left:#277db4 1px solid;}
		
	#header .nav li a:hover {
		
	}
		
	/*#header .search input[type="submit"]{
		background:#fff;
		color:#000;}
		
	#header .search input {
		outline-color:red;
		outline-width:thick;}*/
		
	

	
/*
.box .title {
	background:url(/images/new/head-bg.jpg) repeat-x #042a48;}
	
.box .title::before, .box .title::after {
	background:url(/images/new/head-bg.jpg) repeat-x #042a48;}
	*/