td.lform {vertical-align:top; width:46%;}
td.lform td.imgform {vertical-align:top;}
td.lform td.imgbutton {text-align:center;}

td.rform {vertical-align:top; width:54%;}
td.rform img.desctabOn{border-width:0px; width:75px; height: 21px;}
td.rform img.sizetabOff{border-width:0px; width:73px; height: 21px;}
td.rform td.descbackImg { width:282px; background-repeat:repeat-x; background-image:url("../../images/en/pages/tab_right.png");}
td.rform td.descbackImg2 { width:290px; background-repeat:repeat-x; background-image:url("../../images/en/pages/tab_right.png");}

td.rform {vertical-align:top; width:48%; padding-right:13;}
td.rform img.desctabOff{border-width:0px; width:75px; height:21px;}
td.rform img.sizetabOn{border-width:0px; width:73px; height:21px;}

td.rform td.contentleft {width:12px; background-repeat:repeat-y;background-image:url("../../images/en/pages/border.png");}
td.rform td.contentright {width:1px; background-repeat:repeat-y;background-image:url("../../images/en/pages/border.png");}
td.rform td.contentbtm 
{
    height:2px; 
    vertical-align:top; 
    background-image:url(../../images/en/pages/border.png); 
    background-repeat:repeat-x;
}
td.rform td.contenttop2 {height:1px; vertical-align:top; background-color:#CECCCD;}
td.rform td.contentleft2 {width:1px; vertical-align:top; background-color:#CECCCD;}
td.rform td.contentright2 {width:1px; vertical-align:top; background-color:#CECCCD;}
td.rform td.contentbtm2 {height:1px; background-color:#CECCCD;}