/**
 * POPUP CONTAINER STYLES
 */
#popupMask {
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .4;
	filter: alpha(opacity=40);
	/* this hack is so it works in IE
	 * I find setting the color in the css gives me more flexibility 
	 * than the PNG solution.
	 */
	background-color:transparent !important;
	background-color: #ffffff;
	/* this hack is for opera support
	 * you can uncomment the background-image if you don't care about opera.
	 * this gives you the flexibility to use any bg color that you want, instead of the png
	 */
	
	background-image:/**/url("../../images/en/common/maskBG.png") !important; // For browsers Moz, Opera, etc.	
	background-image:none;
	background-repeat: repeat;
	display:none;
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	border : 1px solid #d1d1d1;
	background-color: #ffffff;

}

#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}
#popupTitleBar {
	background-color: #ffffff;
	color: #d1d1d1;
	padding: 1px;
	position: relative;
	z-index: 203;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}

#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}

#popCloseBox {padding:7px;color: #6d6f71; text-decoration: none; font-family: Arial,Helvetica;font-size: 11px;font-weight: bold;}