a { color:#000066; }
.primary, a:visited.primaryVlink, .sub a:visited, #breadcrumbs_container a, #related_container h3 a, #related_container h3 a:visited  { color:#006; }
.secondary, #related_container h3 { color:#c00; }
.tertiary { color:#fff; }

.primaryBg { background-color:#006; }
.secondaryBg { background-color:#c00; }
.tertiaryBg { background-color:#fff; }

/* exclusive usage by header */
.login { display:block; font:10px Mini7,Tahoma,Arial,Helvetica,sans-serif; color:white; padding:0px 5px; text-decoration:none; }
a.login:hover { color:#ffcc00; text-decoration:none; }

.mainMenu { height:20px; top:1px; }
.navItem, .altNavItem, .navItemOn, .altNavItemOn { font-weight:bold; }
.hdrBannerBg { background-color:#142F72; background-image:url(../images/masthead/mlb_banner_secondary.jpg); background-repeat:no-repeat; }
.hdrTopBg { background-image:url(../images/masthead/mlb_hdrTopTab.gif); background-repeat:no-repeat; }
.hdrBtmBg { background-image:url(../images/masthead/mlb_hdrBtmBg.gif); background-repeat:repeat-x; background-color:#C02523; }
.hdrTop { color:#fff; font:11px Tahoma,Arial,Helvetica,sans-serif; }
.hdrTopOn, a:hover.hdrTop { color:#fc3; font-size:11px; }
.hdrPip { color:#ccc;}

/* Main Nav Colors, Separator Pipe*/
.collapsed .navItem {color:#fff;}
.collapsed .altNavItem {color:#fff;}

.expanded .navItem, .expanded .navItemOn {color:#fc3; cursor:pointer;}
.expanded .altNavItem, .expanded .altNavItemOn  {color:#fc3; cursor:pointer;}
.collapsed .navItemOn, .collapsed .altNavItemOn  {color:#fc3;}
.navItem, .altNavItem, .navItemOn, .altNavItemOn {background-image:url(../images/masthead/mlb_pipe.gif); background-repeat:no-repeat; }
.navItem, .altNavItem, .navItemOn, .altNavItemOn {font-weight:bold;}

/* header positioning styles */
#head{background:#333; width:100%;}
#bookmark {margin-top:1px; padding-left:35px;}
#logo_mlb{margin-top:-3px; padding-left:5px}
#navTopCell {background:url(../images/masthead/y2007/mlb_hdr.jpg) no-repeat; width:990px}
.mainMenu {height:22px; width:auto;}
#navMenus {white-space:nowrap; width:970px; height:22px; font:bold 11px Arial,Helvetica,sans-serif; line-height:22px;}
#leftMenu{position:absolute; top:70px; z-index:201; background:url(../images/masthead/y2007/mlb_bg_lb.gif) right top no-repeat; width:525px; height:20px; white-space:nowrap;}
#rightMenu {position:absolute; z-index:200; left:520px; top:70px; width:470px; height:20px; background:url(../images/masthead/y2007/mlb_bg_rb.gif) no-repeat;}

#searchDiv {position:absolute; z-index:203; width:140px; left:825px; top:6px; text-align:right; white-space:nowrap;}
#selectDiv {position:absolute; z-index:204; width:100px; left:5px; top:69px;}
#sunDiv {position:absolute; z-index:205; width:145px; height:35px; left:811px; top:33px;}
#loginDiv {position:absolute; z-index:206; left:695px; top:3px; white-space:nowrap;}
.login {width:80px; text-align:right; white-space:nowrap;}
#hdrAdsDiv {position:absolute; z-index:207; width:375px; left:400px; top:21px; white-space:nowrap;}
#hdrDivider {background:url(../images/masthead/mlb_divider.gif); width:100%; height:5px; overflow:hidden; }

#asgGraphic {position:absolute; left:678px; top:21px;}
#asgGraphic img {border:0;}

/* Related Content */
#related_content h3 a, #breadcrumbs_container a {background:url(../images/icons/related_link/mlb.gif) right no-repeat;padding-right:12px;}

/* Main Nav Colors, Separator Pipe*/
#leftMenu.mainMenu .collapsed .navItem,#leftMenu.mainMenu .collapsed .altNavItem {color:#006;}
#leftMenu.mainMenu .expanded .navItem,#leftMenu.mainMenu .expanded .navItemOn,#leftMenu.mainMenu .expanded .altNavItem,#leftMenu.mainMenu .expanded .altNavItemOn {color:#c10; cursor:pointer;}
#leftMenu.mainMenu .collapsed .navItemOn,#leftMenu.mainMenu .collapsed .altNavItemOn {color:#c10;}

#al_teams a, #nl_teams a {text-decoration:none;}
#al_teams a:hover, #nl_teams a:hover {text-decoration:underline;}

/* 2012 footer */
#mlbfooter {font-size:12px;padding:20px 0 20px 20px;background:#1E1E1E;color:#dadada;clear:both;}
#mlbfooter a {color:#8d8d8d;}
#mlbfooter .footer-navigation-column {float:left;width:178px;padding-right:15px;margin-bottom:30px;}
#mlbfooter #footer-info {clear:both;font-size:11px;}
#mlbfooter .footer-navigation-column li:first-child, #mlbfooter .footer-navigation-column li:first-child a {font: normal 12px/12px 'mlb_secondary';text-transform: uppercase;margin-bottom:6px; color:#DADADA;}
#mlbfooter ul.connect {margin-top:20px; clear:both;}
#mlbfooter ul.connect ul li {float:left; margin:5px;}
#mlbfooter .np_social_icons .np_sicon { float: left; height: 24px; width: 24px; display: block; padding: 0px; margin-right: 4px; background: url(../shared/images/social_icons_24x24.png) no-repeat 0px 0px; overflow: hidden; }
#mlbfooter .np_social_icons .np_sicon.np_facebook { background-position: 0 -4px; }
#mlbfooter .np_social_icons .np_sicon.np_twitter { background-position: 0px -100px; }
#mlbfooter .np_social_icons .np_sicon.np_google { background-position: 0px -260px; }
#mlbfooter #sponsor_image {border:none;float:left;margin:0 20px 40px 0;}
#mlbfooter p {padding:0 10px 0 0;}

/* FOOTER */
#footerBackground {width:990px;min-width:990px;height:69px;color:#fff;font-size:11px;font-weight:bold;background: #052055 url(../mlb/images/homepage/y2008/footerLogo.jpg) no-repeat;}
#footerLegal {width:990px;background-color:#000;color:#999;font:normal 10px Tahoma,Arial,sans-serif;}
#footerLegal #footerText {width:960px; padding:15px}
#footerLegal a, .footerBackground a {color:#ccc;}
#footerLinks {width:990px; min-height:150px; background:url('../mlb/images/homepage/y2008/footerBG.jpg') #414141 no-repeat; padding:7px 0;}
.footerLink {width:150px; margin-right:10px; color:white; float:left;}
.footerLink li {margin:1px 0; font-size:11px;}
.footerLink ul {list-style-type:none;padding:0;margin:0;clear:both;}
.footerLink a {color:white}
#footerLegal #sponsor_image {border:none;float:left;margin:0 20px 40px 0;}

/*984x25 Ad */
#ad_984 {height: 25px;}

/*REMOVE ORACLE AD FOR POSTSEASON*/
#oracle_logo_container {display:none;}

