@charset "utf-8";

body {
 background-color: #fff;
 margin: 0px; 
 padding: 0px;
}
body, div, p {
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-size: 10pt;
}
a:link, a:active {
 text-decoration: none;
 color: #3789b9;
}
a:visited {
 text-decoration: none;
 color: #3789b9;
}
a:hover, a:focus {
 text-decoration: underline;
 color: #3789b9;
}





