@charset utf-8;
	/* CSS Document */ 

#home #banner-box { 
	width: 975px;
	/*height: 510px;*/ 
	padding: 0;
	margin-bottom: 0px;
	background: url(homepage.css) center -15px no-repeat;
	position: relative;
	height:332px;
}
#home #frame01 .promo-details {  
    bottom: 190px;
    font-size: 0.8em;
    position: absolute;
    left: 255px;
    width: 475px;
}
#home #frame01 .splash-btn {  
    bottom: 250px;
    position: absolute;
    right: 50px;
}
#home #frame02 .splash-btn {  
    bottom: 40px;
    position: absolute;
    right: 155px;
}
#home #frame03 .promo-details {  
    bottom: 76px;
    font-size: 0.8em;
    position: absolute;
    right: 43px;
    width: 330px;
}
#home #frame03 .splash-btn {  
    bottom: 40px;
    position: absolute;
    right: 155px;
}
#home #frame04 .add-info {  
    bottom: 10px;
    position: absolute;
    left: 105px;
	font-weight: bold;
	width: 290px;
	font-size: .8em !important;
}
#home #frame04 .info-btn {  
    bottom: 100px;
    position: absolute;
    left: 364px; 
}
#home #frame04 .splash-btn {  
    bottom: 40px;
    position: absolute;
    right: 155px;
}
#home #frame05 .splash-btn {  
    bottom: 40px;
    position: absolute;
    right: 155px;
}
#home #frame06 .splash-btn {  
    bottom: 40px;
    position: absolute;
    right: 155px;
}
#banner { 
	width: 975px;
	height: 285px;
	padding: 0;
	margin-bottom: 30px;
}
#home #banner { 
	margin-top: 0px;
	/*height: 500px;*/ 
	height: 332px;
}
#home #banner .banner-background { 
	z-index: -20 
	}
#banner-nav { 
	position: absolute;
	right: 55px;
	bottom: 5px;
	z-index: 200;
}
#home #banner-nav { 
	position: absolute;
	right: 440px;
	bottom: 5px;
	z-index: 200;
}
#home .banner-background { 
	position:absolute;
	/*right:10px;*/ 
	left:0;
	top:0;
	z-index: 1;
}
#comprar .banner-background { 
	position:absolute;
	right:10px;  
	top:0;
	z-index: 1;
}
 
.banner-frame { 
	width: 975px;
	height: 332px;
	display: none;
	/*margin-left: 40px;*/ 
	margin-left:2px;
}
#banner-nav-frames { 
	float: left;
}
#banner-nav-frames a { 
	background:url(../_images/content/banner_navigation/btn_banner_nav_off.gif) no-repeat scroll center top transparent;
	padding:2px 7px;
	text-align:center;
	font-size: .8em;
	float: left;
}
#home #banner-nav-frames a { 
	background:url(../_images/content/banner_navigation/btn_banner_nav_dot_off.gif) no-repeat scroll center top transparent;
	padding:2px 7px;
	text-align:center;
	font-size: .8em;
	float: left;
}
#banner-nav-frames a.activeSlide { 
	background:url(../_images/content/banner_navigation/btn_banner_nav_on.gif) no-repeat scroll center top transparent;
	color: #fff;
}
#home #banner-nav-frames a.activeSlide { 
	background:url(../_images/content/banner_navigation/btn_banner_nav_dot_on.gif) no-repeat scroll center top transparent;
	color: #fff;
}
#banner-nav-frames a:focus { 
	outline: none;
}
#banner-nav-controls { 
	float:  left;
	padding: 0 3px;
}
#banner-play { 
	display: none;
	cursor: pointer;
}
#banner-pause { 
	cursor: pointer;
}
.banner-title { 
	padding: 40px 0 0 20px;
	margin-top: 5px;
}
.banner-frame p { 
	font-size:1em !important;
	margin:15px 0 0 25px;
}
#frame04 p { 
	margin-top: 8px;
	margin-bottom:0;
}
#aspire.banner-frame p { 
	position: absolute;
	top: 100px;
	left: 120px;
	z-index: 10;
}
.aprende-home { 
	position: absolute;
	top:202px;
	left: 20px;
}
.banner-icons { 
	position:absolute;
	top:186px;
	left:124px;
}
.banner-frame p.sm { 
	font-size: .7em !important;
	padding-top: 5px !important;
}
#frame04 p.sm { 
	padding-top: 0px;
	margin-top: 3px;
}
#product-row {
	float: left;
	width: 975px;
	padding: 25px 0 15px;
	background: url(../_images/template/divider_full_page.jpg) no-repeat scroll left top transparent;
}
#home #product-row { 
	background: url(http://espanol.att.com/mlcomm/_images/template/divider_full_page_home.jpg) no-repeat scroll left top transparent;
}
#product-row img {
	float: left;
}
