#footer {
    clear: both;
}

#footer-navWrapper {
}

#footer-nav {
    position: relative;
    height: 24px;
    width: 966px;
    background-color: #00573d;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 6px 0;
    font-size: 13px!important;
}

    #footer-nav a {
        color: #fff;
        text-decoration: none!important;
        margin: 0 12px 0 12px;
    }

        #footer-nav a:hover {
            text-decoration: underline;
        }

    #footer-nav .links {
        width: 966px;
        margin-top: 4px;
        font-size: 13px;
        font-weight: bold;
    }

        #footer-nav .links img {
            /*rr icon*/
            position: absolute;
            top: 4px;
            margin: 2px 0 2px 0;
        }

.barBottom {
    position: relative;
    background: url(../../images/bgd-cntBottom.gif) left top no-repeat;
    height: 9px;
}

#footer-ad {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    display: inline;
}

    #footer-ad img {
        border: none;
        margin-top: 15px;
    }

#footer-links {
    position: relative;
    width: 926px;
    left: 4px;
    background-color: #ece9d8;
    color: #00573d;
    font-size: 11px;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

    #footer-links a {
        color: #00573d;
        font-weight: normal;
        text-decoration: none;
    }

        #footer-links a:hover {
            text-decoration: underline;
        }

        #footer-links a.section {
            text-transform: uppercase;
        }

    #footer-links .copyright {
        margin-top: 21px;
    }

#footer-bottom {
    position: relative;
    float: right;
    width: 700px;
    padding: 25px 0px 20px 20px;
    text-align: left;
    color: #00573d;
    background-color: #faf9f3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9.5px;
}

    #footer-bottom a {
        color: #00573d;
    }
