/* $Id: page-backgrounds.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp $ */

/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
}

#page {
}

#page-inner {
}

#header {
}

#header-inner {
}

#main {
}

#main-inner {
}

#footer {
}

#footer-inner {
}


body.node-type-popup {
  background: url(../images/bg.jpg) repeat-x 0 top;
}
body.node-type-popup.admin-menu {
  background-position: 0 20px;
}