.universal_nav_bg {
	background-image:url(http://www.earthlink.net/img/com/universal_nav_bg.gif);
    background-repeat:repeat-x; 
}

/* Custom List style */
UL.arrowUL, UL.arrowUL UL { 
	margin: .25em 0 0 16px; 
	padding: 0; 
	list-style-image: url(http://www.earthlink.net/img/com/left_nav_arrow.gif); 
}
UL.arrowUL LI {
	list-style-type: none; 
	padding-left: 0; 
	margin-left: 0px; padding-bottom: .25em; 
}
UL.arrowUL LI.selected { 
	list-style-image: url(http://www.earthlink.net/img/com/left_nav_arrow_orange.gif); 
}
UL.arrowUL LI.selected A.selected { 
	font-weight: bold; 
	color: #000;
}
UL.arrowUL LI.open { padding-bottom: 0;}


/* Custom List style CORP */
UL.arrowULCorp, UL.arrowULCorp UL { 
	margin: .25em 0 0 16px; 
	padding: 0; 
	list-style-image: url(http://www.earthlink.net/img/com/left_nav_arrow_blue.gif); 
}
UL.arrowULCorp LI {
	list-style-type: none; 
	padding-left: 0; 
	margin-left: 0px;
	padding-bottom: .25em; 
}

*:first-child+html UL.arrowULCorp LI {
	padding-bottom: 2px;
}
	
UL.arrowULCorp LI.selected { 
	list-style-image: url(http://www.earthlink.net/img/com/left_nav_arrow_orange_trans.gif); 
}
UL.arrowULCorp LI.selected A.selected { 
	font-weight: bold; 
	color: #000;
	font-size:10px;
}
UL.arrowULCorp LI.open { padding-bottom: 0;}




/* Prequal Address  */
#prequal_address { padding-bottom: 10px; }
#prequal_address div,
#prequal_address img,
#prequal_address A { float: left; }
#prequal_address img { float: left; }
#prequal_address .prequal_address_content { float: left; background: url(http://www.earthlink.net/img/com/prequal_address_bg.gif) 0 0 repeat-x; padding: 4px 3px 4px; }
#prequal_address A,
#prequal_address A:link,
#prequal_address A:visited { margin: 3px 8px; font-weight: normal; color: #333; text-decoration: underline; }
#prequal_address .pqaddress_left { 
	background: url(http://www.earthlink.net/img/com/prequal_address_left.gif) 0 0 no-repeat;
	width: 7px;
	height: 23px; 
}
#prequal_address .pqaddress_right { 
	background: url(http://www.earthlink.net/img/com/prequal_address_right.gif) 0 0 no-repeat;
	width: 7px;
	height: 23px; 
}
/* End Prequal Address */

/* Prequal Form */
#prequal_form_box { width: 237px; text-align: left; }
#prequal_form_box .prequal_form_box_content { background: url(http://www.earthlink.net/img/com/prequal_form_bg.gif) 0 0 repeat-y;  }
#prequal_form_box .prequal_form_box_footer { height: 6px; background: url(http://www.earthlink.net/img/com/prequal_form_footer.gif) 0 0 no-repeat; }
#prequal_form_box .prequal_form_box_content fieldset { border: 0; padding: 10px 15px; }
#prequal_form_box .prequal_form_box_content .prequal_form_suite { width: 65px; } 
#prequal_form_box .prequal_form_box_content .prequal_form_zip { width: 45px; }
#prequal_form_box .prequal_form_box_content form input.textbox { margin-bottom: 5px; }
#prequal_form_box .prequal_form_box_content .submit {padding-top: 5px; }
/* End Prequal Form */

/* Change Location Pop Div */
#changelocation {
	z-index: 100;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 236px;
	background-image:url(http://www.earthlink.net/img/www/box_changeloc_bg.gif);
	border: 1px solid #898989;
	border-width: 1px 0;
}
.changelocationInner {
	position: relative;
	margin: 0 auto;
	padding: 5px 12px 5px 11px;
	color: #666666;
	font-size: 10px;
}
.changelocationInner label { font-size: 11px; font-weight: bold;}
.changelocationInner input { margin: 1px 0 2px; }
.changelocationInner A { font-weight: bold; }
.changelocationFooter { background: #CCC; height: 20px; border: 1px solid #898989; border-width: 0 1px;}
.changelocation_submit { float: right; margin-top: 4px; }

/* Message Boxs */
.pop_yellow_alert {
	background-image:url(http://www.earthlink.net/img/store/store_alert_window.gif);
	background-repeat: no-repeat;
}

.error {
     background: #ffe1da url('http://www.earthlink.net/img/com/icon_error.gif') 7px 5px no-repeat;
     border: 1px solid #f34f4f;
     color: #be0b0b;
     padding: 5px 5px 4px 30px;
}
.error_large {
     background: #ffe1da url('http://www.earthlink.net/img/com/icon_error_large.gif') 8px 8px no-repeat;
     border: 1px solid #f34f4f;
     color: #be0b0b;
     padding: 12px 8px 11px 44px;
     height: 25px;
     min-height: 25px;     
}
.error_field { color: #be0b0b; }
.success {
     background: #e2f9e3 url('http://www.earthlink.net/img/com/icon_success.gif') 7px 5px no-repeat;
     border: 1px solid #9c9;
     color: #080;
     padding: 5px 5px 4px 30px;
}
.success_large {
     background: #e2f9e3 url('http://www.earthlink.net/img/com/icon_success_large.gif') 8px 8px no-repeat;
     border: 1px solid #9c9;
     color: #080;
     padding: 12px 8px 11px 44px;
     height: 25px;
     min-height: 25px;     
}
.success_field { color: #080; }
.warning {
     background: #fffbe2 url('http://www.earthlink.net/img/com/icon_warning.gif') 7px 5px no-repeat;
     border: 1px solid #ffe222;
     color: #c06703;
     padding: 5px 5px 4px 30px;
}
.warning_large {
     background: #fffbe2 url('http://www.earthlink.net/img/com/icon_warning_large.gif') 8px 8px no-repeat;
     border: 1px solid #ffe222;
     color: #c06703;
     padding: 12px 8px 11px 44px;
     height: 25px;
     min-height: 25px;     
}
 
#live_chat_component .live_chat_content{
	background-image:url(http://www.earthlink.net/img/com/live_chat_window_bg.gif);
	background-repeat: no-repeat;
}
#live_chat_btn {
	background: url(http://www.earthlink.net/img/com/enable_cookies.gif) 0 0 no-repeat;
}

/* prev viewed */
#prev_viewed .prev_viewedInner {
	background-image: url(http://www.earthlink.net/img/com/box_changeloc_bg.gif);
	background-repeat: repeat-y;
}

