@charset "utf-8";
/* CSS Document */
/*Last Updated By:Scott Hine - 12/3/2012 4:00PM*/
/* =smoothbox popup
--------------------------------------------------------------------- */
#TB_window{font:12px Arial, Helvetica, sans-serif;color:#333;}
#TB_window h3, #TB_window h5{font:bold 13px Arial, Helvetica, sans-serif;}
#TB_secondLine{color:#666;font-size:13px;font-weight:bold;margin-bottom:2px 0 0 2px;} 
#TB_secondLine a{color:#E97400;}
#TB_overlay, #TB_window{background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;} 
#TB_overlay{position:absolute;z-index:100;top:0;left:0;} 
#TB_window{position:absolute;z-index:102;color:#333;border:7px solid #e3e1d8;text-align:left;padding-bottom:20px;}
#TB_Image{margin:10px 0 0 15px;}
#TB_window h1{font-size:24px;}
#TB_caption{height:25px;padding:7px 30px 10px 25px;float:left;} 
#TB_closeWindow{height:25px;padding:11px 25px 10px 0;float:right;} 
#TB_closeAjaxWindow{text-align:right;float:right;} 
#TB_ajaxWindowTitle{font-weight:bold;float:left;width:80%;}
#TB_title{height:15px;padding:5px 15px;} 
#TB_title a{font:bold 12px Arial, Helvetica, sans-serif;color:#000 !important;text-decoration:none;}
#TB_title a:hover{text-decoration:underline;}
#TB_print{float:left;margin:0 10px 0 0;}
#TB_print a{background:url(../../../../../images-p.qvc.com/is/image/pic/qvc/print_bold.gif) no-repeat left 70%;padding:0 0 0 20px;}
#TB_ajaxContent{clear:both;padding:0 15px;margin-bottom:2px 0 5px 0;overflow:auto;text-align:left;line-height:1.4em;}
#TB_ajaxContent .pgshowdet, #TB_ajaxContent .pgmovie img, #TB_ajaxContent .pgmovie{margin:0 0 20px 0;} 
#TB_ajaxContent #sd_date, #TB_ajaxContent #sd_time, #TB_ajaxContent #sd_desc{margin:0;padding:0;} 
#TB_ajaxContent #sd_date, #TB_ajaxContent #sd_time{line-height:0;} 
#TB_ajaxContent a{text-decoration:underline;}
#TB_load{position:absolute;display:none;height:100px;width:100px;z-index:101;} 
#TB_HideSelect{z-index:99;position:absolute;top:0;left:0;background-color:#fff;border:0;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;} 
#TB_iframeContent{clear:both;border:none;}
#TB_closeWindowNew{float:right;margin-bottom:1px;padding:0;text-align:right;}
#TB_closeWindowButton, #TB_closeWindowNew #TB_closeWindowButtonNew{background:url(../images/btnClose.gif) no-repeat 0 50%;padding:0 0 0 18px;text-decoration:none;border:0;color:#333;text-transform:capitalize;font-weight:bold !important;}
#TB_closeWindowButtonNew:hover{text-decoration:underline !important;}
body.productDetailPopup{background-color:none;}
body #divProductDetailPopupViewOptions{background-color:none;width:200px;}
/*Limelight video overlay adjustments*/
.TB_pdinclude{padding: 0 5px 15px 5px !important;text-align:center !important;}
.TB_pdinclude #TB_iframeContent{margin:0 0 0 5px;}
#TB_productvideo #divButtons, #TB_productvideo p{margin:10px 0 0 0;}