/* reset */
h1, h2, h3, h4, h5, ul, li, ol, p, form, input {margin:0; padding:0;}
ul, ol {padding-left:20px;}
img {border:0;}
/* end: reset */

body {color:#666; font:12px Arial,sans-serif; margin:10px auto;background:#fff; width:960px;}

h1 {color:#333; font-size:2em; margin-bottom:0.5em; padding-left:12px;}
h2 {color:#555; font-size:1.8em; margin-bottom:0.5em; padding-left:12px;}
h3 {color:#ff8900; font-size:1.6em; border-bottom:3px solid; padding-bottom:6px; margin-bottom:0.5em;}
p, li {line-height:1.5em; margin-bottom:0.5em;}
a {color:#ff8900; text-decoration:none;}
a:hover {color:#ff9900;text-decoration:underline;}
#mainContent a.button1, #mainContent a.button2 {
	background:url(blugrad-6x67.jpg) 0 40%; 
	border:1px solid #ff9900; 
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	color:#eee;
	display:inline-block; font-size:1.2em; font-weight:bold; margin:10px; padding:8px 20px; text-align:center;
}
#mainContent a:hover.button1 {background-position:0% 20%; text-decoration:none;color:#fff;}
#mainContent a:active.button1 {color:#fff;}
#mainContent a.button2 {background-position:0 50%; color:#ff6600;}
#mainContent a:hover.button2 {text-decoration:none; background-position:0 100%; color:#000}
#mainContent a:active.button2 {color:#fff;}

.clear {clear:both;}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
* html .clearfix {zoom: 1;} /* ie6 */
*:first-child+html .clearfix {zoom: 1;} /* ie7 */

#header {
	background: url(aol-kaleid-216.jpg) -50px -20px no-repeat;
	height:190px; margin-bottom:20px; position:relative;
}
#header .brand {
	left:0px;
	position:relative; 
	text-indent:-600px;
	top:0px;
}
#header .brand_link {
	color:#333;
	display:block;
	height:47px;
	overflow:hidden;
	text-decoration:none;
	text-indent:-6666px;
	width:214px;
}
#header .brand a {
	display:block; 
	height:50px;
	left:80px;
	position:relative;
	top:50px;
	width:120px;
}
#header #headerSearch {
	padding:6px 8px;
	position:absolute;
	right:0;
	top:50px;
}
#headerSearch_form {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	padding:6px 8px;
	text-align:center;
}
#headerSearch_field {
	border:1px solid #d9d9d9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#999;
	float:left;
	font-size:12px;
	margin-right:4px;
	padding:5px 2px 5px 4px;
	width:140px;
}
#headerSearch_button {
	background:#ff9900;
	border:1px solid #d9d9d9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	padding:4px 2px;
	width:60px;
}
#headerSearch_button:hover {background:#ffa500;}
#header #headerNav {
	background:#efefef;
	clear:both;
	height:28px;
	width:auto;
	margin-left:200px;
	position:relative;
	top:80px;
	padding:0 0 3px 4px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
#header .headerNav_LI {
	float:left;
	z-index:666;
	position:relative;
	list-style-type:none;
	margin-right:8px;
	padding-left:1px;
}
#header .headerNav_list a {
	padding-right:12px;
	text-decoration:none;
}
#header .headerNav_list a:hover {
	text-decoration:none;
}
#header .headerNav_A {
	display:block;
	float:left;
	height:20px;
	padding:7px 7px 0;
	font-size:14px;
	font-weight:bold;
	color:#ff9900;
	text-decoration:none;
}
#header .headerNav_A:hover {
	text-decoration:underline;
	}
#header .headerNav_list_UL {
	border-bottom:1px solid #2E2E2E;
	display:none;
	left:0;
	list-style-type:none;
	margin:0;
	padding:7px 0 0 0;
	position:absolute;
	top:22px;
}
#header .headerNav_list_UL li {
	background-color:#f9f9f9;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	clear:both;
	float:left;
	font-size:12px;
	width:135px;
}
#header .headerNav_list_UL a {
	background:none;
	border-bottom:1px solid #fff;
	color:#1f8cf2;
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	padding:7px 0 7px 7px;
	text-transform:none;
	width:128px;
}
#header .headerNav_list_UL a:hover {
	background:#f79119;
	color:#fff;
}
#header .headerNav_list_UL .headerNav_A_last {
	border:none;
}
#mainContent, #subMain, #footer {
	border:1px solid #d9d9d9; 
	-moz-border-radius:40px; 
	-webkit-border-radius:40px; 
	border-radius:40px;
	padding:25px 19px; 
	margin-bottom:20px;
	}
#mainContent a:hover {
	color:#069bd0;
}
a.learnMore {
	background:#ff8c00;
	border:1px solid #999;
	color:#fff;
	display:inline-block;
	font-size:12px;
	font-family:Verdana,Arial,sans-serif;
	letter-spacing:.05em;
	margin-top:10px;
	padding:4px 12px 4px;
	text-transform:uppercase;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#mainContent a.learnMore:hover {
	background:#ffa500;
	color:#fff;
	text-decoration:none;
}
#mainContent a.learnMore:active {
	border-color:#efefef;
	color:#fff;
}
.col_1of1 {margin-bottom:20px;}
.col_1of1 p {
	font-size: 14px; 
	line-height: 1.4em;
	padding:0 12px;
}
.col_1of1 p {
	font-size: 14px; 
	line-height: 1.4em;
	padding:12px;
}
.col_1of3, .col_2of3 {
	float:left;
	margin-right:20px;
	width:260px;
}
.col_1of2 {
	float:left;
	margin-right:20px;
	width:540px;
}
.col_2of2, .col_3of3 {
	float:left;
	width:360px;
}

#subMain {
	background:#efefef; 
	border-color:#efefef;
	text-align:center;
}
#footer img {
	float:left; 
	margin:0 30px 120px 0;
}
#footer p {
	line-height:normal;
	margin-bottom:1em;
}
#footer span {
	font-style:italic;
}
#article {
	clear:both; 
	font-size:14px;
	padding:0 16px;
	position:relative;
}
#article h1, #article h2 {
	padding-left:0;
}
#article h1 {
	font-size:1.8em;
}
#article h2 {
	color:#ff8900;
	font-size:1.6em;
	margin:0.5em 0 0.25em 0;
}
#article h3 {
	color:#555;
	border-bottom:none;
	font-size:1.2em;
	margin:0.75em 0 0.25em 0;
	padding-bottom:0;
}
#nojsprint {
	background:url(../../../o.aolcdn.com/art/ch_global/icon-printthis) no-repeat;
	display:none;
	padding-left:20px;
	position:absolute;
	right:30px;
	top:10px;
}
.box1, .box2, .box3 {
	border:1px solid #d9d9d9;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	margin-bottom:20px;
	padding:16px 10px 10px;
}
.box1 .boxFoot {
	border-top:1px solid #efefef; 
	padding-top:4px;
}
.box2 h3 {
	border-bottom-color:#ff8900;
	color:rgb(111, 0, 194); 
}
.box2 .boxFoot {
	border-top:1px solid #efefef; 
	padding-top:4px;
}
.box3 {
	background:#f9f9f9;
	color:#000;
}
.box3 h3 {
	border-bottom-color:#ff8900;
	color:#333;
}
.videoBox {
	margin-bottom:20px;
}
.videoBox h3 {
	border-bottom:none; 
	color:#000;
	margin-bottom:2px; 
}
.videoBox .caption {
	background:#efefef;
	font-size:0.9em; 
	margin-bottom:0.5em;  
	padding:4px;
}
.videoBox p {
	padding:0 12px 0.53em;
}