
/* Hides ads, un floats columns, ect for for plain printing of all pages. */

/* Basic */

html,
html .wrapper{
	/*font-family: sans-serif;*/
}

body {
	color:#333;
}

.clear{
	clear:both;
}
#footer,
.shell,
.bd{
	page-break-inside: avoid;
}

#headerContent .mainMenu,
iframe {
    display: none;
}


/* Frame */
#header {
    min-height: 3em;
}
	#headerContent {
	    margin-top: 1em;
	    height: auto;
	}

		#logo{
			position: static;
			float:left;
			font-size: 2em;
			font-weight: bold;
		}
		#logo>a{
			text-indent: 0;
		}
		/*
		.wrapper ul.mainMenu {
		    position: static;
		    float: left;
		    width: auto;
		}
		#headerContent .mainMenu>li{
			display: none;
		}
		#headerContent .mainMenu>.topItem.current{
			display: block;
			border: 0;
		}
		#headerContent .mainMenu>.topItem.current>a{
			color:#0054a0;
			text-shadow:none;
			line-height: normal;
		}*/

#footer,
#content{
	border-top: 1px solid #E9EAEE;
}

/* Fixes */

/* img inside photo frame without height dissapears*/
.photoF img{
	min-height:50px;
}


/* Pages */
.wrapper .detailsView .photo-arrow{
	display:none;
}

.agentArea,
.agentEndorsements,
.listOfQuestions, .listOfAnswers,
.result-list,
.result-photo{
	page-break-inside: avoid;
}
