#main td.content_n{width:547px!important;margin:0 auto;}
#main td.content_n table.vwrapper{border-bottom:1px solid #BDBDBD;}
#main td.content_n table.vwrapper td.lead{width:300px;vertical-align:top;border-right:1px solid #BDBDBD;padding:0 10px;}
#main td.content_n table.vwrapper td.right{width:190px;}
#main td.content_n table.vwrapper td.lead div.leadstory{margin:7px 0;}
#main td.content_n table.vwrapper td.lead div.leadstory table td.head{background:#181d78;color:white;font-family:Georgia;font-weight:bold;padding:4px;}
#main td.content_n table.vwrapper td.lead div.leadstory h4 a{font-size:14pt;font-weight:bold;}
#main td.content_n table.vwrapper td.lead div.leadstory span.author,#main td.content_n table.vwrapper div.othernews span.author{color:#181d78;font-size:8pt;}
#main td.content_n table.vwrapper td.lead div.leadstory span.lead_text{color:#717171;font-size:7pt;}
#main td.content_n table.vwrapper td.lead div.s_leadstory table td.img img{border:1px solid #8F8F8F;}
#main td.content_n table.vwrapper td.lead div.s_leadstory table td.img div.caption{color:#8F8F8F;text-align:right;font-size:5pt;}
#main td.content_n table.vwrapper td.lead div.s_leadstory h4 a{font-size:14pt;font-weight:bold;font-family:Georgia;}
#main td.content_n table.vwrapper td.lead div.s_leadstory span.author{color:#181d78;}
#main td.content_n table.vwrapper td.right div.othernews table{margin:1px;}
#main td.content_n table.vwrapper div.othernews table h5{margin:12px 5px 0 0;}
#main td.content_n table.vwrapper td.right div.othernews table h5,#main td.content_n table.vwrapper td.right div.othernews table div.txt{width:182px;}
#main td.content_n table.vwrapper div.othernews img{vertical-align:middle;margin:4px;}
#main td.content_n table.vwrapper div.othernews_hl_head{color:#888888;font-size:8px;margin:10px 0 0;}
#main td.content_n table.vwrapper td.lead div.othernews_hl{border:1px solid #d1d1d1;background:#ebf7e5;margin:0 0 10px;padding:5px;}
#main td.content_n table.vwrapper td.lead div.othernews_hl h5{margin:2px 0 2px 5px;}
#main td.content_n table.vwrapper td.lead div.othernews_hl p{font-size:9pt;margin:2px 0 2px 5px;}
#main td.content_n table.vwrapper td.lead div.s_morenews h5{background:url(../images/bg_h5.jpg) bottom repeat-x;color:black;text-align:left;font-family:Georgia;margin:0;padding:6px 5px 3px 3px;}
#main td.content_n table.vwrapper td.lead div.s_morenews table{background:#F1F3F6;border:1px solid #E0E0E0;width:100%;margin:0;}
#main td.content_n table.vwrapper td.lead div.s_morenews table td{padding:3px;}
#main td.content_n table.vwrapper td.lead div.s_morenews table td a{color:#990000;font-weight:bold;font-size:9pt;padding:3px 6px;}
#main td.content_n table.vwrapper td.lead div.s_visitfull{padding:20px 10px;}
#main td.content_n table.vwrapper td.lead div.s_visitfull a{font-weight:bold;font-size:11pt;color:#990000;}
#main table.content_n {border:1px solid #e0e0e0; border-right: 0px none; vertical-align:top;}
#main table.content_n div.tool{background-color:#FFFFFF;font-size:11px;border:1px solid #e0e0e0;float:right;padding:5px;}
#main table.content_n div.tool td img{margin:3px 1px 2px;}
#main table.content_n div.tool td.comment,#main table.content_n div.tool td.email,#main table.content_n div.tool td.print{border-bottom:1px solid #e0e0e0;}
#main table.content_n div.title h1{margin-top:10px;font-family:Georgia;font-size:20px;color:#000;font-weight:bold;}
#main table.content_n p{font-family:Georgia;font-size:14px;line-height:1.5;margin:15px 1px;padding:0;}
#main table.content_n div.txt{font-family:Georgia!important;font-size:14px!important;line-height:1.5!important;margin-top:5px;margin-bottom:20px;}
#main table.content_n div.txt b{font-family:Georgia!important;font-size:14px!important;line-height:1.5!important;}
#main table.content_n div.article_header,#main table.content_n div.article_link,#main table.content_n div.article_line,#main table.content_n div.article_footer{display:none;}
#main table.content_n div.txt table{line-height:18pt;}
#main table.content_n div.txt table td{padding:5px 0 5px 10px;}
#main table.content_n div.txt table td ul{padding-left:15px;list-style-position:outside;}
#main table.content_n div.txt em{color:#666666;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-style:italic;font-variant:normal;font-weight:bold;line-height:normal;text-decoration:none;text-transform:none;}
#main table.content_n div.txt a:link,#main table.content_n div.txt a:visited{color:#181D78;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;font-variant:normal;line-height:normal;text-decoration:none;text-transform:none;}
#main table.content_n div.txt a:hover{color:#333;text-decoration:underline;}
#main table.content_n div.txt table.nopadding td {padding: 0px;}
#main table.content_n div.related{width:200px;color:#181d78;border-bottom:1px solid #E0E0E0;float:right;margin:10px 5px;padding:5px;}
#main table.content_n div.related div{border-bottom:2px solid #E0E0E0;padding-bottom:1px;}
#main table.content_n div.related div h3{font-family:Arial;border-bottom:1px solid #E0E0E0;}
#main table.content_n div.related ul{margin-left:15px;}
#main table.content_n div.related ul li{margin:8px 0;}
#main table.content_n span.author{font-size:12px;color:#111169;}
#main table.content_n span.date{font-size:12px;color:#717171;margin-right:15px;}
#main table.content_n div.clr{clear:both;}
#main table.content_n div.add_comments{margin-top:60px;height:35px;background:url(../images/bg_comments.jpg) repeat-x;padding-bottom:5px;}
#main table.content_n div.add_comments td{padding-bottom:5px;}
#main table.content_n div.add_comments td.amount{font-size:16px;padding-right:70px;}
#main table.content_n div.add_comments td.add_comment{border:1px solid #E0E0E0;padding:2px;}
#main table.content_n div.add_comments td.amount a:link,#main table.content_n div.add_comments td.amount a:visited{font-family:Georgia;font-weight:bold;font-size:16px;}
#main table.content_n div.add_comments td.add_comment a:link,#main table.content_n div.add_comments td.add_comment a:visited{font-family:Arial;font-weight:normal;font-size:10px;color:#000;}
#main table.content_n div.add_comments td.pagination{padding-left:70px;}
#main table.content_n div.add_comments td.pagination a:link,#main table.content_n div.add_comments td.pagination a:visited,#main table.content_n div.bottom_menu a:link,#main table.content_n div.bottom_menu a:visited{font-family:Arial;font-size:12px;font-weight:bold;}
#main table.content_n div.comments{margin:35px 0;}
#main table.content_n div.comments div{margin:5px 0;}
#main table.content_n div.comments div.txt/*CHANGE*/{font-size:12px;font-family:Georgia;padding:10px 10px 0;}
#main table.content_n div.comments div p.name{font-family:Georgia;margin-bottom:5px;}
#main table.content_n div.comments div p.name a:link,#main table.content_n div.comments div p.name a:visited{font-family:Georgia;font-weight:bold;text-transform:uppercase;}
#main table.content_n div.comments div.second{background:#f3f3f3;padding-bottom:5px;}
#main table.content_n div.comments div.after_comments{margin-top:45px;text-align:right;}
#main table.content_n div.comments div.after_comments a:link,#main table.content_n div.comments div.after_comments a:visited{font-weight:bold;font-size:12px;}
#main table.content_n div.form form,#main table.content_n div.form span{font-size:12px;font-family:Georgia;font-weight:bold;margin:0;padding:0;}
#main table.content_n div.form h2{font-family:Georgia;font-size:18px;font-weight:normal;height:30px;background:url(../images/bg_comments.jpg) repeat-x;margin:5px 0 40px;}
#main table.content_n form input,#main table.content_n form select{border:1px solid #E0E0E0;margin:2px 0 8px;}
textarea{border:1px solid #E0E0E0;margin:2px 0 0;}
#main table.content_n div.form span.checkbox{color:#000067;font-weight:normal;border:none;}
#main table.content_n div.form table td input{font-family:Georgia;font-size:14px;color:#000067;border:1px solid #a3a3a3;background:#f3f3f3;margin:5px 10px 5px 0;padding:2px;}
#main table.content_n div h3 span,#main table.content_n div strong span{font-family:Arial;font-size:14px;color:#990000;font-weight:bold;}
#main table.archive{margin-top:13px;margin-left:12px;margin-right:12px;}
#main table.content_n div.txt table.article_title td.title,#main table.archive td.title,#main table.search td.title,#main table.component td.title{border-bottom:1px solid #111169;padding-bottom:1px;margin:0;}
#main table.archive td.title table div{padding-bottom:7px;border-bottom:2px solid #111169;text-align:right;}
#main table.archive td.mini_title{border-bottom:1px solid #111169;margin:0;padding:0 0 1px;}
#main table.content_n div.txt table.article_title td.title h1,#main table.archive td.title h1,#main table.search td.title h1,#main table.content_n td.title h1{font-size:24pt;font-family:Georgia;color:#9b0000;border-bottom:2px solid #111169;text-transform:uppercase;line-height:22pt;margin:0;padding:0;}
#main table.archive td.mini_title h3{font-weight:bold;font-family:Georgia;color:#000;border-bottom:2px solid #111169;line-height:18pt;margin:0;padding:0;}
#main table.archive td div.images,#main table.component td div.images{margin-right:10px;float:left;}
#main table.component td div.images{margin-right:10px;float:left;height:100px;}
#main table.archive td p{margin:0;}
#main table.archive td.pagination,#main table.section td.pagination,#main table.content_n div.content div.pagenavbar{height:30px;font-family:arial;color:#000;font-size:10px;background:url(../images/bg_dot.jpg) repeat-x;text-align:center;padding:0;}
#main table.archive td{padding-top:2px;padding-bottom:2px;}
table.search{margin-top:13px;margin-left:12px;font-size:12px;}
table.search td.results table{margin-top:10px;}
table.search td.results table td{padding-left:10px;border-right:1px solid #000;}
#main table.cathead{font-family:Georgia;background:transparent url(../images/bg_h5.jpg) repeat-x scroll center bottom;margin:10px 0 10px 10px;}
#main table.cathead td.left{color:#990000;font-family:Georgia;font-size:26pt;font-weight:bold;line-height:27pt;text-transform:uppercase;vertical-align:bottom;}
#main table.cathead td.right{padding-bottom:3px;text-align:right;vertical-align:bottom;width:320px;}
#main table.cathead td.right a{color:#990000;font-size:10pt;font-weight:bold;text-decoration:none;text-transform:uppercase;}
#main table.opinion h2{color:#990000;font-size:14pt;font-weight:bold;text-transform:uppercase;}
#main table.component h1{font-size:16pt;font-family:Georgia;padding:5px;}
#main table.component td.description ul{margin-left:30px;}
#main table.component td.description ul li{font-family:Georgia;font-size:14px;line-height:1.5;}
#main table.component h5{margin-bottom:5px;margin-top:30px;}
#main table.component td strong{display:block;color:#000;border-bottom:2px solid #c0c0c0;font-family:Georgia;font-weight:bold;font-size:13pt;padding-bottom:5px;margin-bottom:5px;}
#main table.component td.about h4{font-size:11pt;margin-bottom:5px;font-family:Georgia;border-bottom:2px solid #c0c0c0;padding:5px;}
#main table.component h5.title{font-family:Georgia;font-size:12pt;}
#main table.component h5 a{font-family:Georgia!important;color:#142470!important;font-size:12pt!important;border-bottom:none!important;}
#main table.component td a.wp_link{color:#000;border-bottom:1px solid #c0c0c0;font-family:Georgia;font-weight:bold;}
#main table.component td.wp_article{padding-top:8px;}
#main table.component div.wp_spacer{border-bottom:2px solid #C0C0C0;margin-bottom:4px;padding:5px 5px 4px;}
#main table.component i{color:#142470;}
#main table.component p{margin-top:5px;}
table.search td.form strong{margin-right:5px;}
table.search td.form input{border:1px solid #b2b2b2;margin-left:5px;margin-right:5px;}
#main table.search td.form input.serarch{background:#FFFFFF;color:#b32c3a;border:none;font-weight:bold;}
table.search td.form p a{margin-right:10px;}
table.search td.topics{font-family:Arial;height:50px;background:url(../images/bg_pagination_archive.jpg) repeat-x;}
table.search td.topics table td{padding-right:10px;}
table.search td.short-text div.txt /*p*/{font-family:georgia;font-size:11px;line-height:15pt;margin:0;}
table.search td.pagination{height:50px;background:transparent url(../images/bg_dot.jpg) repeat-x scroll 0 100%;font-family:arial;color:#000;font-size:10px;padding-top:18px;}
table.search td.pagination span{font-size:12px;}
table.search td.pagination span.current{padding-left:5px;font-weight:bold;font-family:arial;font-size:12px;text-decoration:none;}
#main table.content_n table.sections_page{margin-top:13px;}
#main table.content_n table.sections_page td{padding-left:12px;text-align:left;}
#main table.content_n table.sections_page td div.text a{display:list-item;list-style-type:disc;margin-left:15px;font-weight:bold;}
#main table.content_n table.sections_page td.read-more{padding-left:12px;text-align:right;}
#main table.content_n table.sections_page td.read-more a{color:#850b0a;font-weight:bold;font-size:12px;}
#main table.content_n table.sections_page p{font-size:9pt;font-family:Georgia;}
#main table.content_n table.sections_page div.top_line{width:511px;color:#01075f;font-family:Arial;}
#main table.content_n table.sections_page div.bottom_line{background-position:0 100%;}
#main table.content_n table.sections_page div.text{font-size:10px;margin-bottom:15px;}
#main table.content_n table.sections_page div.text div.text{margin-bottom:0;}
#main table.content_n table.sections_page div.text a{display:block;font-size:12px;}
#main table.content_n table.sections_page div.text h2{color:#000;font-size:14px;text-transform:uppercase;margin:0;padding:0;}
table.archive td h5 a:link,table.archive td h5 a:visited,table.search td span.search_title,table.search td h5 a:link,table.search td h5 a:visited{text-decoration:none;font-family:Georgia;font-size:10pt;font-weight:bold;color:#111169;}
table.archive td.item_jobs h5 a:link,table.archive td.item_jobs h5 a:visited{text-decoration:none;font-family:Georgia;font-size:14pt;font-weight:bold;color:#111169;}
#main table.content_n td.item_jobs div.txt{border-bottom:1px dotted #ccc;}
table.archive td a:link,table.archive td a:visited{text-decoration:none;font-family:Georgia;font-size:9pt;font-weight:bold;color:#111169;}
table.archive td h5 a:hover,table.search td h5 a:hover,table.search td.topics table td a:hover{color:#8887c1;}
table.archive td span.author a:link,table.archive td span.author a:visited,table.search td.short-text span.author a:link,table.search td.short-text span.author a:visited{font-family:arial;font-size:8pt;color:#221f70;text-decoration:none;}
table.archive td span.author,table.search td.short-text span.author{color:#111169;}
table.component td.date_title{color:#0B176B;font-family:Georgia;font-weight:bold;font-size:11pt;padding:10px 0 5px;}
table.component td.elsewhere span.title{color:#990000;font-size:8pt;font-weight:bold;}
table.component td.elsewhere a{color:#181d78;text-decoration:none;font-size:9pt;}
table.component td.elsewhere a:hover{color:#181d78;text-decoration:underline;}
table.component td.pagenavbar{padding:10px 0 0;}
table.search td.topics table td a:link,table.search td.topics table td a:visited{font-family:Georgia;text-decoration:none;border-right:1px solid #151b69;padding-right:10px;color:#221f70;}
table.search td.topics table td.regulation a{border:none;}
table.search td.pagination a:link,table.search td.pagination a:visited,div.content div.txt div.pagenavbar a:link,div.content div.txt div.pagenavbar a:visited,table.component td.pagenavbar a:link,table.component td.pagenavbar a:visited{font-family:arial;text-decoration:none;color:#9b0000;font-weight:bold;font-size:12px;padding-left:5px;}
table.search td.form a:link,table.search td.form a:visited{font-family:arial;text-decoration:none;color:#9b0000;font-weight:bold;font-size:12px;}
table.component td.pagination{background:none;text-align:center;padding:0;}
table.search td.pagination a:hover,div.content div.txt div.pagenavbar a:hover,table.component td.pagenavbar a:hover,table.component td.pagination a:hover,table.search td.form a:hover,table.archive td.pagination a:hover,table.section td.pagination a:hover{color:#9b0000!important;}
table.archive td.pagination a.pagination-start,table.section td.pagination a.pagination-start{padding-right:15px!important;}
table.archive td.pagination a.pagination-end,table.section td.pagination a.pagination-end{padding-left:15px!important;}
table.archive td.pagination a.pagination-prev,table.section td.pagination a.pagination-prev{padding-right:16px!important;padding-left:12px!important;}
table.archive td.pagination a.pagination-next,table.section td.pagination a.pagination-next{padding-right:12px!important;padding-left:16px!important;}
table.archive td.pagination span.current,table.section td.pagination span.current,table.component td.pagination span.current, #main table.content_n div.content div.pagenavbar span.current{color:#9b0000;font-weight:bold;font-size:12px;padding-left:5px;padding-right:5px;}
tr.sectiontableentry1 td,tr.sectiontableentry2 td{padding:5px;}
table.search td.results table td a:link,table.search td.results table td a:visited{font-family:Georgia;font-weight:bold;font-size:12px;color:#151b69;text-decoration:none;padding-right:10px;}
table.search td.results table td a:hover{text-decoration:underline;color:#b32c3a;}
table.component td.title{padding-bottom:1px;border-bottom:1px solid #111169;margin:0;}
table.component td.title h1{font-size:24pt;font-family:Georgia;color:#9b0000;border-bottom:2px solid #111169;text-transform:uppercase;margin:0;padding:0 0 2px;}
table.opinion td.list,table.component td.list{background:url(../images/double_line.png) repeat-x;background-position:0 100%;padding:0 0 10px;}
table.opinion td.list ul,table.component td.list ul{list-style-type:disc;list-style-position:inside;margin:5px;}
table.opinion td.list ul li a:link,table.opinion td.list ul li a:visited{font-weight:bold;}
table.opinion table td img{margin:20px 15px 10px;}
table.opinion table td div.dot img{margin:0!important;}
table.opinion td p{font-family:tahoma!important;font-size:9pt!important;}
table.opinion td a.more{display:block;font-weight:bold;font-size:9pt;color:#990000;text-align:right;margin:10px 5px;}
table.opinion table td p a.more{display:inline!important;font-weight:bold;font-size:9pt!important;font-family:georgia;color:#181D78;margin:0;}
table.opinion h5{margin:15px 5px 2px;}
table.opinion h6{margin:10px 5px;}
table.opinion h5 a{font-family:georgia;}
table.component ul.list2{margin-left:25px;color:#111169;list-style-position:inside;font-weight:bold;padding:10px 0;}
#main table.content_n table.component td.text /*p*/{font-family:georgia;font-size:8pt;line-height:1.2;margin:0;}
#main table.content_n table.component td.text p{line-height:1.5;margin:0;padding:0;}
table.component td.read-more{font-family:arial;color:#9b0000;font-size:9pt;text-align:right;background:url(../images/bg_dot.jpg) repeat-x;background-position:0 100%;padding:5px 0;}
#main table.content_n table.component table.topics h5,#main table.content_n table.component table.organization h5{border-bottom:2px solid #c0c0c0;font-family:Georgia;font-size:13pt;font-weight:normal;margin-bottom:10px;padding:7px 0;}
#main table.content_n table.component table.topics table td,#main table.content_n table.component table.organization td{padding:2px 10px 2px 0;}
#main table.content_n table.component span.description{display:block;padding:10px 20px;}
#main table.content_n table.component span.description strong{font-weight:bold;border:0;display:block;margin:0;}
#main table.content_n table.component span.sb-description{display:inline;font-family:Georgia;font-size:9pt;margin:0;padding:0;}
#main table.content_n table.component span.sb-description strong{display:inline;font-weight:bold;border:0;font-size:9pt;margin:0;padding:0;}
#main div.module div.whitepapers_search{text-align:right;vertical-align:middle;padding:10px;}
#main div.module div.whitepapers_search span.search_text{color:#0b176b;text-transform:uppercase;font-size:13pt;font-family:Georgia;}
#main div.module div.whitepapers_search form input#as_q{width:90px;border:1px solid #c0c0c0;margin:0 10px;padding:4px 2px;}
#main div.module div.whitepapers_search form input.button{font-family:Georgia;background:none;font-size:13pt;border:none!important;}
table.component td.text table td span{font-family:Georgia;font-size:11px;font-weight:bold;}
table.component td h5 a:link,table.component td h5 a:visited{text-decoration:none;font-family:Georgia;font-size:12pt;font-weight:bold;color:#111169;}
table.component td.text span.author{font-family:arial;font-size:9pt;color:#111169;text-decoration:none;}
table.component td.list2 ul a:link,table.component td.list2 ul a:visited{text-decoration:none;color:#111169;font-size:11pt;font-weight:bold;font-family:Georgia;}
table.component p a.more:link,table.component p a.more:visited{text-decoration:none;font-weight:bold;color:#111169;font-family:Georgia;font-size:11px;}
table.section td.title{padding-bottom:1px;border-bottom:1px solid #111169;height:30px;margin:0;}
table.section td h2 a:link,table.section td h2 a:visited{font-size:16pt;color:#111169;font-family:Georgia;}
table.section td h2{margin-top:5px;margin-bottom:10px;}
table.section td.line{border-bottom:1px solid #c0c0c0;}
table.section td.list{height:60px;background:url(images/double_line.png) repeat-x;background-position:0 100%;}
table.section td.list ul{list-style-type:disc;list-style-position:inside;}
table.section td span{font-size:8pt;}
#main table.section td span.by{color:#696969;font-size:8pt;}
#main table.section td span.author{color:#111169;font-size:8pt;}
table.section td div.txt /*p*/{font-family:georgia;font-size:8pt;margin:5px 0;}
table.section td table.food_box{width:90%;margin:5px 0;}
table.section td table td.comments span{color:#7E7E7E;font-size:7pt;}
table.section td.read-more{font-family:arial;color:#9b0000;font-size:10pt;text-align:left;padding:10px 0;}
table.section a,table.section span.date{text-decoration:none;color:#111169;font-size:11px;}
table.section div.banner{text-align:center;margin:20px 3px;}
table.section a.mainlevel_round{font-size:9pt;}
#main table.section ul.menu_round,#main table.archive ul.menu_round{list-style:none;margin-top:7px;}
#main table.section ul.menu_round li,#main table.archive ul.menu_round li{float:left;border-right:1px solid #000;}
#main table.section ul.menu_round li span,#main table.archive ul.menu_round li span{font-weight:none;font-size:9pt;padding:0 5px;}
#main table.search td.short-text div.txt{line-height:1.2;font-family:georgia;font-size:11px;margin:0;}
blockquote{background:#FAFAFA none repeat scroll 0 0;border-left:5px solid #CCCCCC;margin-left:1.5em;padding-left:5px;margin-top:5px;margin-bottom:5px;}
table.no_margin td h2 a:link,table.no_margin td h2 a:visited{font-size:16pt;font-family:Georgia;color:#111169;text-decoration:none;}
#jc h4{background-color:inherit;font-family:tahoma, sans-serif;font-weight:bolder;font-size:14px;text-align:left;margin-bottom:10px;color:#00006d;padding:0 0 2px;}
#jc a:link,#jc a:visited,#jc a:hover{outline:none;}
#jc .clear{clear:both;height:1px;overflow:hidden;}
#jc .busy{display:none;width:16px;height:16px;background:url(../../../components/com_thecomments/css/images/jc_busy.gif) no-repeat;margin:3px auto;padding:0;}
.comments_header{width:100%;height:23px;border-bottom:1px dotted #D2DADB;}
.comments_pagination{width:100%;height:23px;}
#comments{width:100%;text-align:left;text-decoration:none;text-transform:none;text-indent:0;margin:0;padding:0;}
#comments a{color:#849B9F;background-color:inherit;font-weight:normal;text-decoration:none;}
#comments a:active,#comments a:focus,#comments a:hover{color:#cc0000;background-color:inherit;}
#comments a[rel*=external]{margin:0 2px;padding:0 10px 0 0;}
#comments span{font-family:Georgia;font-size:12px;}
#comments span.comment-date{color:#000000;margin:0;padding:0;}
#comments span.comment-body{color:#000000;background-color:inherit;display:block;letter-spacing:normal;margin:0;padding:2px 0 15px;}
#comments span.comment-author{color:#00006d;text-transform:uppercase;font-weight:bolder;font-size:10pt;}
#comments div.comments-list{clear:both;height:1%;margin:0;}
.rbox{clear:both;width:auto;color:#000000;margin:0;padding:10px 8px;}
.rbox div{text-align:left;margin:0 0 10px;}
.row1{background-color:#f3f3f3;}
#comments-form,#comments-form p,#comments-form div.comments-policy,#comments-form span,#comments-form .counter{text-align:left;text-decoration:none;text-transform:none;text-indent:0;}
#comments-form p,#comments-form span,#comments-form .counter{color:#505050;background-color:inherit;font-weight:bold;font:normal 1em Verdana, Arial, Sans-Serif;}
#comments-form p,#comments-form #comments-form-buttons,#comments-form #comments-form-error{font:bold 1em Verdana, Arial, Sans-Serif;margin-left:20px!important;margin-top:10px;margin-bottom:8px;clear:both;padding:0;}
#comments-form #comments-form-buttons{margin-left:220px!important;}
#comments-form div.comments-policy{color:#777;background-color:inherit;border:1px dotted #ccc;margin-left:20px!important;margin-top:5px;margin-bottom:5px;padding:5px;}
#comments-form div.comments-policy ol,#comments-form div.comments-policy ul{line-height:5px;margin:0;padding:5px 0 0 20px;}
#comments-form div.comments-policy ol li,#comments-form div.comments-policy ul li{font:normal 1em Verdana, Arial, Sans-Serif;border:none;line-height:5px;margin:0;padding:0;}
#comments-form img.smile{border:none;cursor:pointer;margin:0 3px 3px 0;padding:0;}
#comments-form img.captcha{border:1px solid #ccc;margin:0 0 3px;padding:0;}
#comments-form span.captcha{color:#777;cursor:pointer;padding:0 0 0 12px;}
#comments-form label{color:#777;background-color:inherit;line-height:1.2em;vertical-align:baseline;}
#comments-form input,#comments-form textarea{color:#444;background-color:#fff;border:1px solid #ccc;padding:0;}
#comments-form input{width:350px;margin-bottom:2px;height:1.5em;}
#comments-form input.selected,#comments-form textarea.selected{color:#777;background-color:#ffffe0;border:1px solid #849B9F;}
#comments-form input.error,#comments-form textarea.error{border:1px solid #f00;text-decoration:none;text-transform:none;background-color:#ffffe0;}
#comments-form input.checkbox{width:16px;border:none;margin:0 0 5px;padding:0;}
#comments-form input.captcha{width:116px;margin:3px 0 5px;}
#comments-form textarea{max-width:400px!important;width:350px;margin:0;}
#comments-form #comments-form-message,#comments-inline-edit #comments-form-message{margin-right:5px;display:block;padding:5px 5px 5px 25px;}
.comments-form-message-error{background:#FFD86F url(../../../components/com_thecomments/css/images/jc_error.gif) no-repeat 4px 50%;}
.comments-form-message-info{background:#DFEEFF url(../../../components/com_thecomments/css/images/jc_info.gif) no-repeat 4px 50%;}
#comments-form .counterpanel{height:13px;display:block;overflow:hidden;color:#ccc;border:1px solid #ddd;border-top-width:0;max-width:400px!important;width:350px;background-color:#eee;margin:0;padding:0;}
#comments-form .btn{float:left;background:url(../../../components/com_thecomments/css/images/jc_btnl.gif) no-repeat;margin-right:5px;}
#comments-form .btn div{float:left;background:url(../../../components/com_thecomments/css/images/jc_btnr.gif) 100% 0 no-repeat;margin:0;}
#comments-form .btn a{height:22px;line-height:22px;font-size:12px;font-weight:bold;color:#777;border:none;padding:0 5px;}
#comments-form .btn a:hover{text-decoration:none;color:#0B55C4;}
#jc div#nav-top{font-size:10px;color:#000;float:right;margin:4px 0 0 30px;}
#jc #nav-top a{font-size:10px;font-weight:bolder;height:1px;vertical-align:top;margin:0;padding:0 8px;}
#jc #nav-top a.page{color:#00006d;cursor:pointer;}
#comments .btn_add{float:right;background:url(../../../components/com_thecomments/css/images/add_comment.jpg) no-repeat;height:21px;line-height:21px;width:145px;font-size:12px;border:none;}
#main td.content_n table.vwrapper td.lead div.leadstory h4,#main td.content_n table.vwrapper td.lead div.s_leadstory h4{margin:6px 0 0;}
#main td.content_n table.vwrapper td.lead div.leadstory h4 a:hover,#main td.content_n table.vwrapper td.lead div.leadstory a.related:hover,#main td.content_n table.vwrapper td.lead div.s_leadstory h4 a:hover,#main td.content_n table.vwrapper td.lead div.s_leadstory a.related:hover,#main td.content_n table.vwrapper div.othernews h5 a:hover,#main td.content_n table.vwrapper td.lead div.othernews_hl h5 a:hover,#main td.content_n table.vwrapper td.lead div.s_morenews table td a:hover,#main td.content_n table.vwrapper td.lead div.s_visitfull a:hover,table.section td h2 a:hover{text-decoration:underline;}
#main td.content_n table.vwrapper td.lead div.leadstory span.date,#main td.content_n table.vwrapper td.lead div.s_leadstory span.date,#main td.content_n table.vwrapper div.othernews span.date{color:#717171;font-size:8pt;}
#main td.content_n table.vwrapper td.lead div.leadstory h4.related,#main td.content_n table.vwrapper td.lead div.s_leadstory h4.related{color:#717171;margin:8px 0;}
#main td.content_n table.vwrapper td.lead div.leadstory a.related,#main td.content_n table.vwrapper td.lead div.s_leadstory a.related{font-size:8pt;font-weight:bold;}
#main td.content_n table.vwrapper td.lead div.leadstory img,#main td.content_n table.vwrapper td.lead div.s_leadstory img,#main table.archive td.title table td,table.component td.text table td{vertical-align:middle;}
#main td.content_n table.vwrapper td.lead div.leadstory span.subtitle,#main td.content_n table.vwrapper td.lead div.s_leadstory span.subtitle,#main td.content_n table.vwrapper div.othernews span.subtitle{font-size:9pt;color:#181d78;}
#main td.content_n table.vwrapper td.lead div.s_leadstory,#main td.content_n table.vwrapper td.lead div.s_morenews,table.search td.form p{margin:10px 0;}
#main td.content_n table.vwrapper td.lead div.s_leadstory p,#main table.content_n p strong,#main table.component,#main table.component td.description,#main table.component td,table.search td.form td.search strong,table.search td.form td.result strong,table.component ul.list2 li a{font-family:Georgia;}
#main td.content_n table.vwrapper td.right div.othernews,table.section{margin-left:8px;}
#main td.content_n table.vwrapper div.othernews table div.txt,#main table.content_n div.txt img{margin:0 5px 0 0;}
#main td.content_n table.vwrapper div.othernews h5 a,#main td.content_n table.vwrapper td.lead div.othernews_hl h5 a{font-size:12pt;font-weight:bold;}
#main table.content_n div.content,#main table.content_n div#comments{width:496px;margin:20px 20px 50px;}
#main table.content_n div.txt table td.contentheading,#main table.content_n div.txt table.article_title td{padding:0;}
#main table.content_n ul.list2 span.date,table.search td.form span,table.section ul.menu_round li a:link,table.section ul.menu_round li a:visited{font-weight:normal;}
table.search td.results table td.all,#main table.section ul.menu_round li.item130,#main table.archive ul.menu_round li.item130{border-right:none;}
#main table.opinion,table.component{margin:10px;}
table.search td.form,table.component td.text{padding:15px 0 0;}
table.search td div.images,table.component div.images,table.section div.images{margin-right:5px;float:left;}
table.search td.short-text,#main table.search td.short-text{padding:10px 0;}
table.archive td span.date,table.search td.short-text span.date,table.component td span.date,table.section td span.date{font-family:arial;font-size:9pt;color:#6e6e6e;}
table.section td.pagination a:link,table.section td.pagination a:visited,table.archive td.pagination a:link,table.archive td.pagination a:visited,table.component td.pagination a:link,table.component td.pagination a:visited,#main table.content_n div.content div.pagenavbar a:link,#main table.content_n div.content div.pagenavbar a:visited{font-family:arial;text-decoration:none;color:#111169;font-weight:bold;font-size:12px;padding-left:5px;padding-right:5px;}
table.section td.pagination strong,table.archive td.pagination strong,table.search td.pagination strong,div.content div.txt div.pagenavbar strong,table.component td.pagenavbar strong{margin-left:6px;}
table.component td.text h2,table.component td.text h2 a{margin-top:5px;font-size:14pt;font-family:Georgia;color:#111169;margin-bottom:10px;}
table.opinion td.list ul li,table.component td.list ul li,table.section td.list ul li{float:left;list-style-type:disc;list-style-position:inside;color:#111169;font-size:9pt;margin:2px;padding:0 5px;}
table.opinion h2,table.opinion span{padding-left:5px;}
#main table.content_n table.component span.description p,#main div.module div.whitepapers_search form{margin:0;padding:0;}
table.component td h5 a:hover,table.component td.list ul li a:hover,table.component p a.more:hover,table.component td.list2 ul a:hover,table.section ul li a:hover,#main table.archive ul.menu_round li a:hover{color:#666;}
table.component td.list ul li a:link,table.component td.list ul li a:visited,table.section ul li a:link,table.section ul li a:visited{text-decoration:none;font-weight:bold;color:#111169;}
table.component td.read-more a:link,table.component td.read-more a:visited,table.section td.send a:link,table.section td.send a:visited,table.section td.read-more a:link,table.section td.read-more a:visited{color:#9b0000;font-size:12px;text-decoration:none;font-weight:bold;}
a.general-link-style{color:#9b0000!important;font-size:12px!important;text-decoration:none!important;font-weight:bold!important;font-family:arial!important;border:0;margin:0;padding:0;}
table.component td.read-more a:hover,table.section td.read-more a:hover,#jc #nav-top a.activepage{color:#000;}
div.social {display:block;}
div.social .twitter-share-button {float: left;}
div.social .fb_iframe_widget {clear: both;}