/*
	Updated 12.20.2011 Jake Clark - Added fix for search bar in iPad
	Updated 04.02.2012 Ron Troyer - Added fix for FB like button causing horizontal overflow
*/

body {
	background-color: #050507 !important;
	margin-top: -7px !important;
}
#glo-container {
	background-attachment: scroll;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	margin: 7px auto 0;
	width: 970px !important;
}
#glo-header {
}
#glo-header-ima-logo {
	margin: 8px 10px 0 0;
}
.glo-header-tab-span a {
	margin:0 23px 0 0 !important;
}
.for-her-img {
	margin-left:11px;
}
.glo-header-tab-span img {
	margin: 13px 7px 7px;
}
#glo-footer-nav-cont1 {
	margin: 25px auto 0;
}
#global-footer {
}
#left-ul, #right-ul, #footer-secondary-ul {
	margin: 0;
	padding: 0;
}
#left-ul li, #right-ul li {
	float: left;
	margin: 9px 8px 0 0;
}
#left-ul {
	width: 560px;
}
#right-ul {
	width: 315px;
}
#global-footer #footer-primary #footer-left-side #locateStoreForm {
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	display: block;
	float: left;
	height: 16px;
	margin: 0;
	padding: 0;
	position: relative;
	top: -2px;
}
#global-footer #footer-primary #footer-left-side #locateStoreForm input {
	margin: 0;
	padding: 0;
}
#global-footer #footer-primary #footer-left-side #locateStoreForm #cityStateZip {
	height: 16px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 63px;
}
.store-title {
	display: block;
	float: left;
	margin: 0 8px 0 0;
	padding: 0;
}
#cus-sto-search-button {
	vertical-align: top !important;
}
#global-footer #footer-primary #footer-right-side {
	float: right;
	height: 30px;
	width: 315px;
}
#global-footer #footer-secondary {
	background-attachment: scroll;
	background-color: #000000;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	float: left;
	height: 34px;
	width: 100%;
}
#global-footer #footer-secondary img {
	margin: 2px 0 0;
}
#global-footer #footer-secondary ul {
	float: left;
	padding: 0 0 0 20px;
	width: 930px;
}
#global-footer #footer-secondary ul li {
	float: left;
	margin: 9px 8px 0 0;
}
#global-footer #footer-secondary ul li#mcafee {
}
#global-footer #footer-secondary ul li#mcafee img {
	position: relative;
	top: -2px;
}
#home-page-banner {
	float: left;
	height: 70px;
	width: 766px;
}
#forhim-body-wrapper {
	width: 780px;
}
#landing-page-email-widget {
	float: left;
	height: 63px;
	margin: 7px 0 0;
	width: 184px;
}
#emailForm {
	margin: 0;
}
.cat-thu-product a:hover {
	color: #535353;
}
.like-btn-container {
	display: none !important;
}
/** TODO: CHANGE THIS ONCE NEW SCREEN.CSS GOES OUT NEXT BUILD **/
#home-page-hero, #home-page-div, #home-page-hero #hero {
	height:500px !important;
}
#glo-body-container {
	background:#ffffff;
}
#glo-body-container-inner {
	background: url("../global/site_assets/left-nav-background.gif") repeat-y scroll 0 0 #FFFFFF !important;
	height:auto !important;
	display:table;
}
#sortItemsForm {
	background: url("../global/site_assets/sortbg-down.gif") no-repeat scroll right center transparent;
}
#cat-quickview-body {
	background: url("../global/site_assets/bac-quickview-body.png") no-repeat scroll 0 0 transparent;
}
#cat-quickview-top {
	background: url("../global/site_assets/bac-quickview-top.png") no-repeat scroll 0 0 transparent;
	height: 11px;
}
#cat-quickview-bottom {
	background: url("../global/site_assets/bac-quickview-bottom.png") no-repeat scroll 0 0 transparent;
	height: 18px;
}
a.widget-quickview-but-close:link, a.widget-quickview-but-close:visited, a.widget-quickview-but-close:hover, a.widget-quickview-but-close:active {
	background: url("../global/site_assets/ima-quickview-close.gif") no-repeat scroll 0 0 transparent;
}
a.widget-ucart-close-but:link, a.widget-ucart-close-but:visited, a.widget-ucart-close-but:hover, a.widget-ucart-close-but:active {
	background: url("../global/site_assets/ima-quickview-close.gif") no-repeat scroll 0 0 transparent;
}
#foreImageSjElement7, #foreImageSjElement11, #backImageSjElement11 {
	top:0px !important;
}
#glo-body-content {
}
.reg-thumb {
	background:url(../global/site_assets/ima-glo-loading.gif) no-repeat center middle
}
.no-left-nav {
	background: none repeat scroll 0 0 #FFFFFF;
}
.filters .refinements a.clear, .filters .clear-all {
	background: url("../global/site_assets/clear.gif") no-repeat scroll right center transparent;
}
#cat-pro-con-detail #cat-pro-but-con li.wishbutton {
	cursor:default;
	margin:12px 0 0 8px !important;
	padding:0px 0px 0px 0px !important;
}
#izView_2 {
	background: url("../global/site_assets/ima-glo-loading.gif") no-repeat scroll center center transparent !important;
}
#izView {
	background: url("../global/site_assets/ima-glo-loading.gif") no-repeat scroll center center transparent !important;
}
.che-bas-also-like-container-inside {
	margin-top:2px;
}
#cms-careers, .use-glo-content-container {
	text-align:left;
}
#cms-careers-inner, #cms-about-us {
	background: url("../global/site_assets/left-nav-background.gif") repeat-y scroll 0 0 #FFFFFF !important;
}
.active {
	background: none !important;
	color: #000000 !important;
	font-weight:bold;
}
#glo-leftnav-container a.left-nav-item:hover, #glo-leftnav-container a.left-nav-item:link, #glo-leftnav-container a.left-nav-item:visited {
	color: #000000 !important;
}
.che-del-promo-area {
	position:relative !important;
}
#mainContainer {
	margin:0 0 0 12px;
}
.che-cre-box-msg {
	position:relative !important;
}
#investor-nav li a {
	color:#3D3D3D !important;
	text-decoration:none !important;
}
#investor-nav li a:hover {
	color:#3D3D3D !important;
	text-decoration:underline !important;
}
.cat-luc-product-ima {
	height:auto !important
}
#cat-luc-con .cat-luc-item-img, #cat-luc-more .cat-luc-more-item-img {
	height:auto !important
}
#widget-product-swatches img {
	width:24px;
	height:24px;
}
#investor-nav li a {
	color:#3D3D3D !important;
	text-decoration:none !important;
}
#investor-nav li a:hover {
	color:#3D3D3D !important;
	text-decoration:underline !important;
}
#glo-popup-template {
	background-color: white !important;
}
.header-top #glo-header-search-component-input {
	width: 175px !important;
}
#glo-header-search-component-input {
	width: 155px !important;
}
#landing-page-hero {
	margin:0px !important;
}
.filters h2.refine-heading {
	text-transform:uppercase !important;
}
#glo-body-border {
	overflow:inherit;
	width:970px;
	background:#ffffff;
}
#account-content {
	margin:0px 0 0 36px !important;
	width:934px !important;
}
#nav-content {
	width:220px !important;
}

/* JS Added for NEXT Nav after refresh */

#next-content #nav-content {
    width: 240px !important;
}

/* CG: Added for some refresh issues */
.filters h2.refine-heading {
	display:none !important;
	text-transform:uppercase !important;
}
.ref-over-limit {
	display:none !important;
}
/* Mobile Help Page Styles- Added 11/03/11 */

#mobile-help-wrapper {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ffffff !important;
	padding: 20px;
	width: 90% !important;
}
#mobile-help-topic-nav {
}
#mobile-help-topic-nav h1 {
	font-size: 12px;
	font-weight: bold;
}
#mobile-help-topic-nav ul li {
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 0 10px;
}
#mobile-help-content p {
	font-size: 11px;
	font-weight: normal;
	margin: 5px 0 5px 0;
	padding: 5px 0 5px 0;
}
#mobile-help-content p.red {
	font-size: 11px;
	font-weight: normal;
	color: red;
}
#mobile-help-content h1 {
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 20px 0 0 0;
}


#mobile-help-content h2 {
	color: silver;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding: 20px 0 0 0;
}
#mobile-help-table {
	font-size:10px;
	padding: 2px 2px 2px 2px;
}
#mobile-help-table tbody tr.table-head td {
	color: #fff;
	background-color: #000;
	font-weight: bold;
	text-align: center;
}
#mobile-help-table tbody tr.even td {
	background-color: #eee;
	vertical-align:middle;
}
#mobile-help-table tbody tr.odd td {
	background-color: #fff;
}
/* Ecommerce Help Page Styles- Added 11/07/11 */

#ecomm-help {
	height: 100%;
}
#ecomm-help-inner {
	background: url("../global/site_assets/left-nav-background.gif") repeat-y scroll 0 0 #fff !important;
	height: auto ! important;
	min-height: 520px;
	width: 100%;
}
#ecomm-help-leftnav {
	display: inline;
	float: left;
	width: 170px;
}
#ecomm-help-content {
	display: inline;
	float: left;
	font-size: 9pt;
	color: black;
	font-family: Arial;
	width: 600px;
	padding: 25px 50px 50px 50px;
}
#ecomm-help-content h1 {
	margin: 20px 0 0 0;
	font-size: 12px;
	font-weight:bold;
}

#ecomm-help-content h1.silver {
	color: #999;
	margin: 20px 0 0 0;
	font-size: 12px;
	font-weight:bold;
}
#ecomm-help-content h2 {
	color: #999;
	font-style:italic;
	font-size: 12px;
	margin: 0px 0px;
	padding: 0px 0px;
}
#ecomm-help-content h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

#ecomm-help-content ul li {
	background: url("../help/bac-bullet-help-topic-circle.gif") no-repeat scroll 0 4px transparent;
	margin: 0px 0 0px 0;
	padding: 0px 0 0 20px;
}
#ecomm-help-content p {
	line-height: 1.4;
	margin: 5px 0 5px 0;
	padding: 0pt 0pt 10px;
}
#ecomm-help-content p.red {
	color: red;
}
#ecomm-help-content #ecomm-help-feature {
	margin: 0pt auto;
	width: 728px;
}
#ecomm-help-content #ecomm-help-feature #ecomm-help-feature-left {
	display: inline;
	float: left;
	width: 500px;
}
#ecomm-help-content #ecomm-help-feature #ecomm-help-feature-right {
	display: inline;
	float: left;
	margin-left: 15px;
	width: 213px;
}
#ecomm-help-content #ecomm-help-breadcrumb {
	color: #858585;
	font-size: 10px;
	margin: 10px 25px 0pt;
}
#ecomm-help-content #ecomm-help-breadcrumb a:link, #ecomm-help-content #ecomm-help-breadcrumb a:visited, #ecomm-help-content #ecomm-help-breadcrumb a:hover, #ecomm-help-content #ecomm-help-breadcrumb a:active {
	color: #858585;
	font-size: 10px;
}
#ecomm-help-topic-nav {
	border-bottom: 1px solid #D6D6D6;
	padding: 0 0 25px 0;
	margin: 0 0 25px 0;
}
#ecomm-help-topic-nav h2 {
	color: #000;
	font-style: normal;
	font-size: 12px;
	font-weight:bold;
}
#ecomm-help-topic-nav ul li {
	background: url("../help/bac-bullet-help-topic.gif") no-repeat scroll 0 4px transparent;
	margin: 5px 0 0 0;
	padding: 0 0 0 10px;
}

#rotating-banner{margin: 8px 0 0 26px; margin-top:8px !important}

/* JS Added for some refresh issues */
.che-bas-promo-container {clear:both;}
table#rewards-list .buttonWrap {width:64px;}

.glo-header-search-component, #glo-header-search-component-input {margin:0px !important;display:block !important;}
#searchForm{float:right; height:28px; margin:8px 12px 0 0}

#header-social{width:295px !important; float:right !important; padding:1px 2px 2px 0;}

/* JS added for issue with basket banner */
#premierTierBasketTC {position:absolute;}
#premierTierBasketTC.nonmember {position:relative;height:50px;}
#premierTierBasketTC.loyaltymember {float:left;}

.like-btn-pdp {
	position: relative;
}
#subscribeForm #use-sub-form-wrap {
	float: right;
	margin-top: 0px;
}
#subscribeForm #use-sub-sample-cont img {
	width: 467px;
	margin-bottom: 20px;
}
#subscribeForm {
	margin-top: -25px;
}
#subscribeForm h3.subscribeFormDarkPromoText {
	text-transform: uppercase;
	background: #262626;
	color: #fff;
	font-weight: 500;
	font-size: 22px;
	padding: 3px 10px 2px;
}
#subscribeForm h3.subscribeFormDarkPromoText strong {}
#subscribeForm h3.subscribeFormDarkPromoText sup {
	margin-top: 3px;
}
#subscribeForm h3.subscribeFormDarkPromoText em {
	font-style: normal;
	font-size: 20px;
}
#subscribeForm p.subscribeFormPromoDescription {
	margin: 0 0 5px 0;
	font-size: 13px;
	padding: 3px 10px;
}

.employee-login #use-log-forms img {
	margin-left: 10px;
	float: right;
	/*width: 465px;*/
	height: auto;
}