.modal {
	background-color:#fff;
	display:none;
	width:350px;
	text-align:left;
	border:1px solid #333;
	opacity:1.0;
}

#login_form_overlay{
	width:600px;
	height:auto;
	left:30%;
	background:transparent url(../../themes/fc_v1/images/bg_dots.png) repeat scroll 0 0;
	z-index:10002 !important;
}

#login_wrap{
	height:auto;
	border:4px solid white;
	padding:15px;
}

#edit_form_overlay{
	width:590px;
	padding:15px;
	z-index:10002 !important;
}

.signup_blurb{
	padding-bottom:10px;
}

form#profilLoginForm{
	float:left;
}

form#profileSignUpForm{
	border-left:1px dotted;
	margin-left:220px;
	padding-left:35px;
}

.login_headline_text{
	font-size:18px;
	font-weight:bold;
}

.login_required_fields{
	font-size:12px;
	padding-left:15px;
	font-weight:normal;
}

form#profilLoginForm #edit-submit {
	background:transparent url(../../themes/fc_v1/images/form-login-button.gif) no-repeat scroll 0 0;
	overflow:visible;
	font-size:14px !important;
	font-weight:bold !important;
	display:inline;
	margin:0;
	border:0;
	color:#FFFFFF;
	cursor:pointer;
	text-indent:0;
	height:20px !important;
	width:61px !important;
	float:left;
}

form#profileSignUpForm #edit-submit {
	background:transparent url(../../themes/fc_v1/images/form-submit-button.gif) no-repeat scroll 0 0;
	overflow:visible;
	font-size:14px !important;
	font-weight:bold !important;
	display:inline;
	margin:0;
	border:0;
	color:#FFFFFF;
	cursor:pointer;
	text-indent:0;
	height:20px !important;
	width:61px !important;
}

#left_forms form#user-pass #edit-submit {
	background:transparent url(../../themes/fc_v1/images/retreive-pw-button.gif) no-repeat scroll 0 0;
	overflow:visible;
	font-size:14px !important;
	font-weight:bold !important;
	display:inline;
	margin:0;
	border:0;
	color:#FFFFFF;
	cursor:pointer;
	text-indent:0;
	height:20px !important;
	width:182px;
	margin-top:10px;
}

form#profilLoginForm #edit-remember-me {
	vertical-align:bottom;
}

form#profileSignUpForm input{
	border-top: 2px inset #959595;
	border-left: 2px inset #959595;
	font-family:arial !important;
	font-size:12px !important;
	padding: 2px 0;
  width: 135px;
}

#left_forms #user-pass input{
	border-top: 2px inset #959595;
	border-left: 2px inset #959595;
	font-family:arial !important;
	font-size:12px !important;
	padding: 2px 0;
}

form#profilLoginForm input{
	border-top: 2px inset #959595;
	border-left: 2px inset #959595;
	font-family:arial !important;
	font-size:12px !important;
	padding: 2px 0;
}

.fullname_field_image{
	background:transparent url(images/fullname_field.gif) no-repeat scroll 0 0 !important;
}

.email_field_image{
	background:transparent url(../../themes/fc_v1/images/email_field.gif) no-repeat scroll 0 0 !important;
}

.pass_field_image{
	background:transparent url(../../themes/fc_v1/images/password_field.gif) no-repeat scroll 0 0 !important;
}

.loginpass_field_image{
	background:transparent url(../../themes/fc_v1/images/password_field.gif) no-repeat scroll -8px 0 !important;
}

form#profilLoginForm #edit-pass{
	background:transparent url(../../themes/fc_v1/images/password_field.gif) no-repeat scroll -8px 0;
}

form#profileSignUpForm #edit-regFullName{
	background:transparent url(images/fullname_field.gif) no-repeat scroll 0 0;
}
form#profileSignUpForm #edit-regEmail{
	background:transparent url(../../themes/fc_v1/images/email_field.gif) no-repeat scroll 0 0;
}
form#profileSignUpForm #edit-regPassClear{
	background:transparent url(../../themes/fc_v1/images/password_field.gif) no-repeat scroll 0 0;
}
form#profileSignUpForm #edit-regPass{
	background:transparent url(../../themes/fc_v1/images/password_field.gif) no-repeat scroll 0 0;
}

.item-list{
	padding-left:50px;
	padding-top:3px;
}

.item-list ul li a{
	color:#999999 !important;
}

.item-list ul li{
	list-style-type:none;
}

#main_login_wrapper{
	background:#FFFFFF;
	padding:20px;
	border:1px solid #333333;
}

#login_form_overlay .logo_spot{
	background: url(../../themes/fc_v1/images/fc_tp_logo.gif) no-repeat;
	height:41px;
	width:194px;
}

#block-fc_profiles-0 #login_link{
	line-height:26px;
	text-align:left;
	font-weight:bold;
}

#login_form_overlay .close {
	background-image:url(../../themes/fc_v1/images/overlay_close.png);
	cursor:pointer;
	height:35px;
	position:absolute;
	right:-15px;
	top:-15px;
	width:35px;
}

#edit_form_overlay .close {
	background-image:url(../../themes/fc_v1/images/overlay_close.png);
	cursor:pointer;
	height:35px;
	position:absolute;
	right:-15px;
	top:-15px;
	width:35px;
}

form#profileSignUpForm #edit-regPass{
	display:none;
}

#catch_err{
	color: red;
	text-align: center;
	padding-top: 15px;
	width: 180px;
}

#edit_form_overlay .resizable-textarea textarea{
	height: 150px;
}

#left_forms #user-pass label{
	display:none;
}

#left_forms #user-pass{
	float:left;
	display:none;
	background:none !important;
	border:none !important;
	padding:0 !important;
}

#left_forms {
	float:left;
}

#user-pass .form-item #edit-name {
	width:175px !important;
	margin:0 !important;
}

form#profileSignUpForm div#edit-regEmail-wrapper,
form#profileSignUpForm div#edit-regPass-wrapper {
  position: relative;
}

div#edit-regEmail-wrapper div.email_exists_blurb {
	margin-top:-2px;
}

#forgotpasserr {
  color:red;
}

/*ie7*/
.hide_user_login_ie {
  z-index:10000 !important;
}
.dark_overlay_background {
  background-color:#999999 !important;
}

.display_edit_overlay_blocked {
  z-index:10002 !important;
}
