/*1344230486,169775555*/

.UIFaq_Container{font-size:12px;line-height:16px;padding-bottom:5px}
.UIFaq_Container p{font-size:12px}
.UIFaq_Inert_Link{padding-top:1px}
.UIFaq_Inert_Link input:hover{text-decoration:none}
.UIFaq_Inline_Feedback input{margin-top:1px}
.UIFaq_Inline_Feedback{display:inline}
.UIFaq_Inline_Feedback div{display:inline}
.UIFaq_Arrow{width:12px;float:left}
.UIFaq_ClosedArrow{display:block}
.UIFaq_OpenArrow{display:none}
.UIFaq_Content{float:left;width:460px;padding-left:5px}
.UIFaq_Open > .UIFaq_Arrow > .UIFaq_ClosedArrow{display:none}
.no_js .UIFaq_ClosedArrow{display:none}
.UIFaq_Open > .UIFaq_Arrow > .UIFaq_OpenArrow{display:block}
.no_js .UIFaq_OpenArrow{display:block}
.UIFaq_Content > .UIFaq_Answer{display:none}
.UIFaq_Open > .UIFaq_Content > .UIFaq_Question{font-weight:bold;padding-bottom:2px}
.no_js .UIFaq_Question{font-weight:bold;padding-bottom:2px}
.UIFaq_Open > .UIFaq_Content > .UIFaq_Answer{display:block;padding-bottom:10px}
.no_js .UIFaq_Answer{display:block;padding-bottom:10px}
.UIFaq_Open > .UIFaq_Content > .UIFaq_Snippet{display:none}
.no_js .UIFaq_Snippet{display:none}
.UIFaq_Highlight{background:#fff8cc;border-bottom:1px solid #ffe222;padding:1px 1px 2px}
.UIFaq_QuestionHighlight{font-weight:bold}
.UIFaq_Question a{font-weight:bold}
.UIFaq_Snippet{font-size:11px;color:gray}
.UIFaq_Sharing{padding:5px 0}
.UIFaq_Sharing a{color:#6d84b4;text-decoration:none}
.UIFaq_Feedback{font-size:11px;vertical-align:middle}
.UIFaq_Feedback .tiny_indent{margin-left:2px}
.UIFaq_Answer .uiListBulleted{padding-left:40px;margin:12px 0}
.helpPage .backLink{display:inline;font-size:13px;font-weight:bold;padding-bottom:10px;text-transform:none}
#pageNav #navAccount.hideMenu .navigation{display:none}
#pageNav #navAccount #bug_or_feedback .contextualCenterBlock a,
#pageNav #navAccount #bug_or_feedback .contextualCenterBlock a{background-color:transparent;color:#3b5998;font-size:14px;height:auto;line-height:30px;white-space:normal}
#pageNav #navAccount #bug_or_feedback .contextualCenterBlock{width:350px;text-align:center}
div.contextualHelpReportAbuse{text-align:center}
#pageNav #navAccount #bug_or_feedback .contextualHelpTextDivider{font-weight:bold;color:gray;text-transform:uppercase;font-size:9px;position:relative;top:12px;display:inline;padding:5px;background:white;left:160px}
#pageNav #navAccount #bug_or_feedback hr{margin-left:20px;margin-right:20px}
.contextualHelp,
#pageNav #navAccount .contextualHelp{color:#444;padding-bottom:0;width:350px}
#pageNav #navAccount .contextualHelp .backButton{width:20px;height:14px;padding:3px;margin-top:-20px;float:left}
.contextualHelp .menuDivider,
#pageNav #navAccount .contextualHelp .menuDivider{margin:6px 20px}
.contextualHelp .UIFaq_Answer a,
#pageNav #navAccount .contextualHelp .UIFaq_Answer a{display:inline;font-size:11px;font-weight:normal;line-height:16px}
.contextualHelp .UIFaq_Answer li,
#pageNav #navAccount .contextualHelp .UIFaq_Answer li{display:list-item}
.contextualHelp .UIFaq_Answer img,
#pageNav #navAccount .contextualHelp .UIFaq_Answer img{max-width:100%}
.contextualHelp .inContext .UIFaq_Content,
#pageNav #navAccount .contextualHelp .inContext .UIFaq_Content{font-size:11px}
.contextualHelp a,
#pageNav #navAccount .contextualHelp a{background-color:transparent;color:#3b5998;font-size:11px;height:auto;line-height:18px;white-space:normal}
.contextualHelp .slidableFooter,
#pageNav #navAccount .contextualHelp .slidableFooter{color:#858585;font-size:11px;height:auto;line-height:18px}
.contextualHelp .survey a,
#pageNav #navAccount .contextualHelp .survey a{line-height:14px}
.contextualHelp .helpBody a:hover,
#pageNav #navAccount .contextualHelp .helpBody a:hover{background:none;border-color:transparent;color:#3b5998}
.contextualHelp a.navSubmenu,
#pageNav #navAccount .contextualHelp a.navSubmenu{display:block;line-height:25px;padding:0 3px 0 10px}
.contextualHelp li.topic:hover,
#pageNav #navAccount .contextualHelp li.topic:hover{background:#f5f6f9}
#pageNav .slidableBox .navSubmenu img.uiLoadingIndicatorAsync{margin-top:5px}
#pageNav .slidableBox .showablePane{max-width:350px}
.contextualHelp .UIFaq_Content{width:303px}
.contextualHelp .faqRow{margin:0 8px}
.contextualHelp .feedbackButtons .uiLinkButton > input{font-weight:bold}
.contextualHelp .feedbackBox{padding-bottom:3px}
.contextualHelp li.topic{border-top:solid 1px #ededed;height:27px}
.contextualHelp .topicsArea li.topic:hover,
.contextualHelp .topicsArea li.topic:hover + li.topic{border-color:#dbe1eb}
.contextualHelp li.topic.last{border-bottom:solid 1px #ededed}
.contextualHelp li.topic a:hover{text-decoration:none}
.contextualHelp li.topic .chevron{display:none}
.contextualHelp li.topic:hover .chevron{display:inline-block}
.contextualHelp li.topic .async_saving .hideOnAsync{display:none}
.contextualHelp .searchArea{border:solid 1px #a7b3cc}
.contextualHelp .seeMoreLink .seeMore{background:#f7f7f7;border:solid 1px #ddd;border-bottom:none;border-left:none;border-right:none;padding-bottom:10px}
.contextualHelp .seeMoreLink .seeMore:hover{border:solid 1px #3b5998;border-bottom:none;border-left:none;border-right:none}
.contextualHelp .seeMoreLink{width:100%}
.contextualHelp .seeMore .subtitle{color:#a5a5a5;display:block;font-size:9px;font-weight:bold;line-height:10px}
.contextualHelp .seeMore:hover{background:#6d84b4;color:#fffcea}
.contextualHelp .seeMore:hover .subtitle{color:#fffcea}
.contextualHelp .seeMore .blue{display:inline-block}
.contextualHelp .seeMore:hover .blue{display:none}
.contextualHelp .seeMore:hover .white{display:inline-block}
.contextualHelp .seeMore .white{display:none}
.contextualHelp .tightScrollableArea.contentAfter::after,
.contextualHelp .tightScrollableArea.contentBefore::before{background-color:rgba(0, 0, 0, .1);height:2px}
.contextualHelp .uiContextualDialogArrowTop .uiContextualDialogArrow{background-image:url(../../ye/r/XwVnEeAwSgg.png);background-position:0 0}
.contextualHelp .topTitle{line-height:18px}
.contextualHelp .helpBody .elasticContainer{margin-top:7px}
.helpMore.collapsed .showMoreLink{display:inline}
.helpMore .showMoreLink{display:none}
.helpMore.collapsed > div{display:none}
.helpMore > div{display:inline}
.HCGray{background:#e7e7e7}
.helpPage{min-width:1024px}
.helpPage .menu{background-color:#3b5998;font-weight:bold;padding-top:8px;margin:0;width:100%;z-index:1}
.helpPage .menu a{color:#fff;text-decoration:none}
.helpPage .body .HCContents #HCContent{font-size:13px;max-width:670px}
.helpPage .menu .HCContents{background:#627aad;border:1px solid #1a3c6c;border-bottom-width:0;margin:0 auto;max-width:980px}
.helpPage .menu .search{display:inline-block;width:300px}
.helpPage .body{margin:0}
.helpPage .body .HCContents{border:1px solid #cfcfcf;border-top-width:0;margin:0 auto;width:940px;background-color:#fff;padding:70px 20px 40px 20px;min-height:400px}
.helpPage .body .HCContents .bodyMenu{float:left;width:250px;background-attachment:scroll}
.helpPage .body .HCContents .bodyMenu li{font-size:16px}
.helpPage .body .HCContents .bodyMenu ul{border-color:#ccc;border-width:1px 0;border-style:solid}
.helpPage .body .HCContents .bodyMenu .menuOption{width:240px;padding-left:10px}
.helpPage .body .HCContents .bodyMenu .subOption .menuOption{font-size:14px;padding-left:30px;width:220px}
.helpPage .body .HCContents .bodyMenu .subOption.selected{background-color:#fff}
.helpPage .body .HCContents .bodyMenu .menuOption .label{width:190px}
.helpPage .body .HCContents .bodyMenu .firstMenuItem{padding-top:11px}
.helpPage .body .HCContents .bodyMenu .lastMenuItem{padding-bottom:11px}
.helpPage .body .HCContents .bodyMenu .selected{font-weight:bold;background-color:#f9f9f9}
.helpPage .body .HCContents .bodyMenu .selected a{color:#333}
.helpPage .body .HCContents .bodyMenu a{text-decoration:none}
.helpPage .body .HCContents .bodyMenu li :hover{color:#333}
.helpPage .body .HCContents .bodyMenu li .selectionIndicator{padding-bottom:2px}
.helpPage .body .HCContents .bodyMenu li :hover .hidden{display:inline}
.helpPage .body .HCContents .bodyMenu a{text-decoration:none;color:#333}
.helpPage .body .HCContents .bodyMenu a :hover{color:#3b5998}
.helpPage .body .HCContents .additionalLinks{padding:15px 10px}
.helpPage .body .HCContents .topics li.ptl{padding-top:0}
.helpPage .body .HCContents .topics a.topLevelTopic{border-bottom:solid 1px #f0f0f0;display:block;padding:15px 10px;text-decoration:none}
.helpPage .body .HCContents .topics a.topLevelTopic:hover{background:#f5f6f9}
.helpPage .body .HCContents .topics .helpNavItemTitle{width:390px}
.helpPage .body .HCContents .narrow{max-width:635px;padding-left:30px}
.helpPage .body .HCContents .bodyText .help_title{font-size:20px;font-weight:bold}
.helpPage .body .HCContents .bodyText .breadcrumb{font-size:12px;margin-top:7px}
.helpPage .body .HCContents .bodyText .help_title .rfloat{margin-top:7px}
.helpPage .body .HCContents .bodyText td, .helpPage .body .HCContents .bodyText td.label{font-size:13px}
.menuButton{background:#627aad;font-size:14px;padding:7px 21px 6px}
.logo{text-transform:uppercase}
.menuButton:hover{background:#293870;text-decoration:none}
.helpPage .logo .menuButton.lfloat{padding-left:21px;padding-right:0;padding-top:7px;padding-bottom:6px}
.helpPage .logo .menuButton.rfloat{padding-left:2px;padding-right:21px;padding-top:11px;padding-bottom:5px}
.fixed{position:fixed}
.hidden{display:none}
.appsPile tr{line-height:20px}
.helpPage #contentCurve{border:none;background:#e7e7e7}
.helpPage #footerContainer{border:none}
.HC_MainContent td{text-align:center}
.helpPage .uiComboInput .comboButton{z-index:0}
.block{display:block}
.helpPage .body .HCContents .bodyMenu .surveyBox{padding-top:50px}
.helpPage .body .HCContents .bodyMenu .surveyBox a{color:#3b5998}
.helpPage .body .HCContents .bodyMenu .surveyBox a:hover{text-decoration:underline}
.helpPage .fakeWash{background-color:#f4f4f4;margin:-28px -20px 0;padding:30px 60px 45px}
.helpPage .searchHeading{color:#1c2a47;font-size:20px;font-weight:bold;margin-bottom:20px}
.helpPage .body .HC_Typeahead{height:40px;width:650px}
.helpPage .body .HC_Typeahead .wrap{height:40px}
.helpPage .body .HC_Search_Input input{font-size:14px;padding:10px;width:600px}
.helpPage .body .HC_Search_Input button{background-image:url(../../yf/r/vQsNR62oPGI.png);background-repeat:no-repeat;background-position:-502px -60px;margin:9px 9px 0 0}
.helpPage .body .title{color:#3b5998;font-size:16px;font-weight:bold;margin-bottom:5px}
.helpPage .body .subtitle{color:#888;font-size:11px}
.helpPage .helpBrowser{width:610px}
.helpPage .rightColTitle{color:#333;font-size:13px;font-weight:bold}
.helpPage .helpFeed{width:370px;padding-top:0}
.helpPage .helpFeed li{border-style:none}
.helpPage .helpFeed .profilePic{height:30px;width:30px}
.helpPage .helpFeed .uiStream .uiStreamMessage{width:295px}
.helpPage .uiUfi{width:295px}
.helpPage .topics{width:440px;padding-top:0}
.helpPage .helpSpacer{border-color:#ececec}
.helpPage .inlineImageBlock i, .helpPage .inlineImageBlock img, .helpPage .inlineImageBlock span{vertical-align:middle}
.helpPage a.inlineImageBlock:hover{text-decoration:none}
.helpPage .inlineImageBlock span:hover{text-decoration:underline}
.helpPage .topics .additionalLinks a.inlineImageBlock{display:inline}
.helpPage .shortSelect{max-height:19px}
.helpPage .HC_Center{width:395px}
.helpPage .wideContent{width:640px}
.helpPage #HCContent{float:left}
.helpPage .helpFeed .helpMore .showMoreLink{font-size:13px;font-weight:bold;float:right;margin-right:35px}
.helpPage .noResults ul > li{list-style-type:disc}
.helpPage .personalizedHelp{margin:10px -11px;text-align:center}
.fbIndexFeaturedRegistration .feature{width:581px !important}
.fbIndex .gradient{background:#dae4f3 !important}
.fbIndexFeaturedRegistration .videoBox{padding-top:43px}
.create_album_form textarea,
.create_album_form .inputtext{width:380px}
.sp_443ui0{background-image:url(../../yt/r/cTMEq8V6nqf.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_c86919{background-position:-0px -0px}
.sx_f5e616{width:11px;height:9px;background-position:-0px -17px}
.sp_6h616r{background-image:url(../../yR/r/7LPWa5soUXW.png);background-repeat:no-repeat;display:inline-block;height:17px;width:81px}
.sx_2089fb{background-position:-0px -0px}
.sx_03bdb3{width:14px;height:9px;background-position:-0px -18px}
.supportForm .fadeEffect{opacity:.15}
.supportForm .alwaysHiddenElem{display:none}
.supportForm .inputtext, .supportForm .uiTypeahead, .supportForm textarea{width:300px}
.supportForm input.supportFieldShortInput{width:50px}
.supportForm .uiProgressiveDatepicker select{width:103px}
.supportForm select{width:308px}
.supportForm .friendSelector .uiTypeahead{width:253px}
.supportForm .singleCheckBox{position:relative;top:4px}
div.-cx-PRIVATE-hc2Page__root, p.-cx-PRIVATE-hc2Page__text, div.-cx-PRIVATE-hc2Page__text{font-size:13px;line-height:1.4}
.-cx-PRIVATE-hc2Page__edpMainTitle{font-size:18px;margin-bottom:10px;color:#333}
.-cx-PRIVATE-hc2Page__edpTitle{font-size:14px;color:#333;margin-bottom:10px}
.-cx-PRIVATE-hc2Page__edpIntro{margin-bottom:20px;color:#444}
.-cx-PRIVATE-hc2Page__blockMargin{margin-bottom:5px}
.-cx-PRIVATE-hc2Page__list{margin-left:15px;margin-bottom:5px}
div.-cx-PRIVATE-hc2Page__section{border-bottom:1px solid #eee;margin-bottom:15px;padding-bottom:8px}
h2.-cx-PRIVATE-hc2Page__sectionTitle{font-size:14px;font-weight:bold;margin-bottom:10px}
p.-cx-PRIVATE-hc2Page__sectionDescription{color:#777;margin-top:-5px}
.flashFallbackButton{text-align:center}
.cfUploadedFileBox{padding:0;margin-bottom:5px}
.cfUploadedFile{padding:5px}
.cfUploadFileIFrame{height:1px;position:absolute;top:-10000px;width:1px}
.lightbox .pop_content .dialog_content{border:1px solid #333}
.lightbox .pop_content .dialog_body{background-color:#000;border-bottom:none;line-height:0;padding:0}
.close a{color:#fff;display:none;float:right;padding:4px 8px 4px 0}

#bootloader_3A5Y4 { height: 42px; }