@charset "utf-8";
/* CSS Document */

/* SEO HEADER DROPDOWN */
/* MAIN NAV BUTTONS */
#main_nav {
	height:46px;
	margin:0;
	padding:0;
}
#main_nav dl {
	height: 46px;
}
#main_nav dl dd {
	height: 46px;
	cursor:pointer;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
#main_nav dl dd a {
	display:block;
	height:46px;
}
#main_nav dl dd.cars {
	width: 87px;
	background:url(images/mainnav_cars.png) 0 0 no-repeat;
}
#main_nav dl dd.appliances {
	width: 127px;
	background:url(images/mainnav_appliances.png) 0 0 no-repeat;
}
#main_nav dl dd.electronics {
	width: 128px;
	background:url(images/mainnav_electronics.png) 0 0 no-repeat;
}
#main_nav dl dd.home {
	width:156px;
	background:url(images/mainnav_home_and_garden.png) 0 0 no-repeat;
}
#main_nav dl dd.babies {
	width: 145px;
	background:url(images/mainnav_babies_and_kids.png) 0 0 no-repeat;
}
#main_nav dl dd.money {
	width:82px;
	float:left;
	background:url(images/mainnav_money.png) 0 0 no-repeat;
}
#main_nav dl dd.health {
	width: 100px;
	background:url(images/mainnav_health.png) 0 0 no-repeat;
}
#main_nav dl dd.shopping {
	width:115px;
	background:url(images/mainnav_shopping.png) 0 0 no-repeat;
}
#main_nav dl dd.cars:hover, #main_nav dl dd.cars.on {
	width: 87px;
	background:url(images/mainnav_cars.png) 0 -46px no-repeat;
}
#main_nav dl dd.appliances:hover, #main_nav dl dd.appliances.on {
	width: 127px;
	background:url(images/mainnav_appliances.png) 0 -46px no-repeat;
}
#main_nav dl dd.electronics:hover, #main_nav dl dd.electronics.on {
	width: 128px;
	background:url(images/mainnav_electronics.png) 0 -46px no-repeat;
}
#main_nav dl dd.home:hover, #main_nav dl dd.home.on {
	width:156px;
	background:url(images/mainnav_home_and_garden.png) 0 -46px no-repeat;
}
#main_nav dl dd.babies:hover, #main_nav dl dd.babies.on {
	width: 145px;
	background:url(images/mainnav_babies_and_kids.png) 0 -46px no-repeat;
}
#main_nav dl dd.money:hover, #main_nav dl dd.money.on {
	width:82px;
	float:left;
	background:url(images/mainnav_money.png) 0 -46px no-repeat;
}
#main_nav dl dd.health:hover, #main_nav dl dd.health.on {
	width: 100px;
	background:url(images/mainnav_health.png) 0 -46px no-repeat;
}
#main_nav dl dd.shopping:hover, #main_nav dl dd.shopping.on {
	width:115px;
	background:url(images/mainnav_shopping.png) 0 -46px no-repeat;
}

/* CARS SUB NAV STYLES */

 #cars_header #croheader #subnav {
	height: 26px;
	width: 920px;
	background: #000;
	clear: both;
	color: #fff;
	margin-top: 24px;
	position: absolute;
	}

*html #cars_header #croheader #subnav {
	margin-top: -2px;
	}

 #cars_header #croheader #subnav dl {
 	width: 920px;
	height: 25px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	}

 #cars_header #croheader #subnav dl dd {
	height: 25px;
	margin: 0;
	padding: 7px 20px 0 20px;
	list-style: none;
	float: left;
	overflow: hidden;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	}

 #cars_header #croheader #subnav dl dd a:link {
 	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}

 #cars_header #croheader #subnav dl dd a:visited {
 	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}

 #cars_header #croheader #subnav dl dd a:active {
 	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: underline;
	}

 #cars_header #croheader #subnav dl dd a:hover {
 	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: underline;
	}

#t-header #body-wrap {
    height: 120px;
}

/* CARS MENU */
#header-dropdown-box-cars {
    width: 306px;
    overflow:auto;
    background-color: #000;
    position:relative;
    top:-5px;
    margin-top:5px;
    padding-bottom:14px;
}

#header-dropdown-box-cars .products-header {
color: #e3eef1;
font: bold 14px Arial, Helvetica, sans-serif;
margin: 17px 0 11px 21px;
clear:left;
}

#header-dropdown-box-cars .nav-close-button {
	padding: 12px 12px 0 0;
	float: right;
}
#header-dropdown-box-cars .nav-close-button:hover {
	cursor:pointer;
}
#header-dropdown-box-cars .left-column {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#fff;
	width: 132px;
	margin-left: 21px;
	float: left;
	line-height: 20px;
	padding: 0 0 0 0;
}
#header-dropdown-box-cars .left-column .last {
	padding:0 0 14px 0;
	margin:0;
}
#header-dropdown-box-cars .right-column {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#fff;
	width: 116px;
	float: left;
	margin: 0 12px 0 25px;
	line-height: 20px;
	padding: 0 0 0 0;
}
#header-dropdown-box-cars .right-column .last {
	padding:0 0 14px 0;
	margin:0;
}
#header-dropdown-box-cars .products-tires-car-care-header {
	color: #e3eef1;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 9px 0 11px 21px;
}

#header-dropdown-box-cars .products-topic-header {
	color: #e3eef1;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 9px 0 0 20px;
	padding-bottom: 11px;
}

#header-dropdown-box-cars a {
	color: #FFF;
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
	display:block;
}
#header-dropdown-box-cars a:link {
	color: #FFF;
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	display:block;
	line-height: 20px;
}
#header-dropdown-box-cars a:visited {
	color: #FFF;
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
}
#header-dropdown-box-cars a:active {
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
}
#header-dropdown-box-cars a:hover {
	text-decoration: underline;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
}
#header-dropdown-box-cars .see-all-products {
	font-weight:bold;
	padding:0 0 0 0px;
	margin-left: 21px;
	width: 285px;
	color: #FFF;
}
#header-dropdown-box-cars .see-all-products a.product-link {
	font-weight:bold;
	padding:0 0 0 0;
	width: 285px;
	display: inline;
	margin: 0 0 0 0;
}
#header-dropdown-box-cars .botborder {
	border-bottom:1px solid #364353;
	margin: 0 12px 0 12px;
	width:282px;
	clear: both;
	height: 1px;
	padding-top: 5px;
}
#header-dropdown-box-cars .blogs-header {
	color: #e3eef1;
	font: bold 14px Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 9px 0 14px 21px;
	clear: both;
}
#header-dropdown-box-cars .blogs {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#fff;
	margin: 11px 0 17px 21px;
	clear: both;
}
/* END CARS MENU */

/* BEGIN OTHER MENUS */
#header-dropdown-box {
	width: 308px;
	overflow:auto;
	background-color: #142233;
	position:relative;
	top:-5px;
	margin-top:5px;
	padding-bottom:14px;
}
#header-dropdown-box .products-header {
	color: #e3eef1;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 17px 0 11px 21px;
}
#header-dropdown-box .nav-close-button {
	padding: 12px 12px 0 0;
	float: right;
}
#header-dropdown-box .nav-close-button:hover {
	cursor:pointer;
}
#header-dropdown-box .left-column {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#fff;
	width: 132px;
	margin-left: 21px;
	float: left;
	line-height: 20px;
}
#header-dropdown-box .right-column {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#fff;
	width: 116px;
	float: left;
	margin: 0 12px 0 25px;
	line-height: 20px;
}
#header-dropdown-box a {
	color: #FFF;
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
	display:block;
	margin-left: 1px;
}
#header-dropdown-box a:link {
	color: #FFF;
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	display:block;
	line-height: 20px;
}
#header-dropdown-box a:visited {
	color: #FFF;
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
}
#header-dropdown-box a:active {
	text-decoration: none;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
}
#header-dropdown-box a:hover {
	text-decoration: underline;
	font: normal 11px Arial, Helvetica, sans-serif;
	line-height: 20px;
}
#header-dropdown-box .see-all-products {
	font-weight:bold;
	padding:0 0 0 0px;
	margin-left: 21px;
	width: 285px;
	clear: left;
}
#header-dropdown-box .see-all-products a.product-link {
	font-weight:bold;
	padding:0 0 0 0px;
	width: 285px;
	display: inline;
}
#header-dropdown-box .botborder {
	border-bottom:1px solid #364353;
	margin: 7px 12px 0 12px;
	width:282px;
	clear: both;
	height: 1px;
}
#header-dropdown-box .blogs-header {
	color: #e3eef1;
	font: bold 14px Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 9px 0 11px 21px;
	clear: both;
	padding: 0 0 0 0;
}
#header-dropdown-box .blogs {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#fff;
	margin: 0 0 0 21px;
	clear: both;
	width: 220px;
	padding: 0 0 0 0;
}
/* END OTHER MENUS */

/* SUB NAVIGATION BLOCKER FOR CARS ONLY -- GETS IGNORED ON NON-CARS PAGES */
#subNavBlocker {
	display:none;
	position:absolute;
	z-index:998;
	background-color:#000;
	height:25px;
	width:308px;
}

/* OUTER CONTAINERS FOR EACH MENU -- THESE ARE INVISIBLE CONTAINERS */

#main-nav-cars {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}
#main-nav-appliances {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}
#main-nav-electronics {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}
#main-nav-home {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}
#main-nav-babies {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}
#main-nav-shopping {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}

#main-nav-health {
	display:none;
	width:auto;
	position:absolute;
	z-index:100000;
	padding:0;
	padding-right:12px;
}
 /* BREADCRUMB STYLES */


  #cars_header #croheader .breadcrumb_and_head {
	width: 918px;
	height: 58px;
	margin: 0;
	padding: 0;
	border-left: 1px solid #e6e6ee;
	border-right: 1px solid #e6e6ee;
	background: url(images/cars_catheader_mid.gif) repeat-x;
	position: absolute;
	top: 158px;
	overflow: hidden;
	line-height: 1.2em;
  }

 *html #cars_header #croheader .breadcrumb_and_head {
  top: 166px;
  }

:root #cars_header #croheader .breadcrumb_and_head {
	top: 156px;
}
/* sub nav */
#health-sub-nav {
	height:19px;
	background-color:#2C75A3;
	position:relative;
	z-index:996;
	margin-top:-7px;
	margin-bottom:10px;
	width:940px;
	padding-top:7px;
	color:#FFFFFF;
	-moz-box-shadow:3px 3px 3px 2px #E6E6E6;
	-webkit-box-shadow:3px 3px 3px 2px #E6E6E6;
	box-shadow:3px 3px 3px 2px #E6E6E6;
}
#main-sub-nav {
    background:url(images/shadow.png) repeat-x bottom;
    background-color:#000000;
    color: #FFFFFF;
    height:33px;
    margin-bottom: 10px;
    margin-top:-7px;
    padding-top: 13px;
    position: relative;
    width:940px;
}
#main-sub-nav a:first-child {
    margin-left:24px;
}
#main-sub-nav a, #health-sub-nav a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	display:block;
	float:left;
	margin:0 16px;
	vertical-align:middle;
}
#main-sub-nav a:link, #main-sub-nav a:visited, #main-sub-nav a:hover, #health-sub-nav a:link, #health-sub-nav a:visited, #health-sub-nav a:hover{
	color: #FFFFFF;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #header-content, #header-content-wrap {
        height:60px;
    }
}

#t-content{
    background-color:#FFFFFF;
}
.breadcrumb {
    color:#666666;
    font-size:11px;
    margin-bottom:0;
    margin-left:3px;
    margin-right:0;
    margin-top:3px;
}
.breadcrumb .breadcrumb {
    margin-top:0;
    margin-bottom:0;
    margin-right:0;
}