/* Common elements */
/* New search widget provided by expedia used by the booking usercontrol for hotel */

/* Search widget container. Here you can change border, background and text style of the widget */
.search-widget {zoom:1}
.search-widget:after {content:".";display:block;font-size:0;line-height:0;height:0;clear:both;visibility:hidden}
/* Reset default browser properties for list elements */
.search-widget ul,
.search-widget li {
		list-style: none;
}

/* Labels for input fields. They are located above the appropriate elements  */
.search-widget label {
		display: block;
		overflow: hidden; /* Cut too long labels */
}

/* Properties for input fields. Here you can change font, color, border and background style */

.search-widget input.textbox,
.search-widget select {

		width: 100%; /* Textboxes and select elements occupy the whole width of appropriate part of search widget */

}

/* Reset the default browser properties for checkbox and radio button elements */
.search-widget input.checkbox,
.search-widget input.radio {
		margin: 0 5px 0 2px;
		padding: 0;
		height: 14px;
		width: 14px;
		border: none;
}

.search-widget .button-block, .search-widget .adults-block, .search-widget .hotel-chains-block {
		clear: both; /* By default the button is a new line */
}
.search-widget .check-in-block,
.search-widget .check-out-block,
.search-widget .adults-block,
.search-widget .children-block,
.search-widget .hotel-chains-block,
.search-widget .star-rating-block, 
.search-widget .predefined-destinations-block,
.search-widget .destination-block{
	margin-bottom:.25em
}

.search-widget .button-block {padding-top:.5em;padding-left:17em}

/* Predefined destinations section */
.search-widget .predefined-destinations-block {
		float: left;
		width: 100%;
}

/* Predefined destinations list. It occupies the whole width of search widget. */
.search-widget .predefined-destinations-block ul {
		float: left;
		margin-top: 2px;
		margin-bottom: 2px;
		width: 100%;
}

/* Predefined destinations list item */
.search-widget .predefined-destinations-block li {
		float: left;
		overflow: hidden; /* Cut long labels */
		width: 33%; /* Items can be divided into 2 columns (50%) or 3 columns (33%) */
		margin-top: 1px;
}

/* Predefined destinations list item labels */
.search-widget .predefined-destinations-block input {
		float: left;
}

.search-widget .predefined-destinations-block label {
		vertical-align: top;
		margin-top: 0;
}

/* Destination section */
.search-widget .destination-block {
		padding-right: 13px;
}

/* Destination input field. It occupies the whole width of search widget */
.search-widget .destination-block input {
		width: 100%;
}

/* Check-in, check-out, rooms, adults, children, hotel-chains, star-rating */

.search-widget .check-in-block,
.search-widget .check-out-block,
.search-widget .adults-block,
.search-widget .children-block,
.search-widget .hotel-chains-block,
.search-widget .star-rating-block {
		float: left; /* Search widget sections are displayed in line */
}

.search-widget .check-in-block,
.search-widget .hotel-chains-block {
		clear: both; /* Check-in section and Hotel chains section start from new line */
}

/* Calendar icon (for check-in, check-out fields) */
.search-widget .calendar-icon {
		background: url("../img/calendar/calendar.gif") right top no-repeat;
		width: 17px;
		height: 17px;
		float: right;
		cursor: pointer;
		margin-left: 0.5em;
}

/* Reset dates section */
.search-widget .reset-dates-block {
		clear: both; /* Reset dates section starts from new line */
		white-space: nowrap;
		overflow: hidden; /* Cut long label */
}

/* Align label with checkbox */
.search-widget .reset-dates-block label {
		display: inline-block;
		vertical-align: top;
}
/* Clear calendar's float, using dialog inbuilt form element */
#check-inDialogContainer .bd form {
	clear:left;
}

/* Have calendar squeeze upto bd bounding box */
#check-inDialogContainer .bd {
	padding:0;
}

#check-inDialogContainer .hd {
	text-align:left;
}

/* Center buttons in the footer */
#check-inDialogContainer .ft .button-group {
	text-align:center;
}

/* Prevent border-collapse:collapse from bleeding through in IE6, IE7 */
#check-inDialogContainer.yui-overlay-hidden table {
	*display:none;
}

/* Remove calendar's border and set padding in ems instead of px, so we can specify an width in ems for the container */
#check-inContainerCalendar {
	border:none;
	padding:1em;
}
/* Clear calendar's float, using dialog inbuilt form element */
#check-outDialogContainer .bd form {
	clear:left;
}

/* Have calendar squeeze upto bd bounding box */
#check-outDialogContainer .bd {
	padding:0;
}

#check-outDialogContainer .hd {
	text-align:left;
}

/* Center buttons in the footer */
#check-outDialogContainer .ft .button-group {
	text-align:center;
}

/* Prevent border-collapse:collapse from bleeding through in IE6, IE7 */
#check-outDialogContainer.yui-overlay-hidden table {
	*display:none;
}

/* Remove calendar's border and set padding in ems instead of px, so we can specify an width in ems for the container */
#check-outContainerCalendar {
	border:none;
	padding:1em;
}
/* 420x348, variant A specific */

/* Set size of widget (2px less because of the border) */


/* Search widget inner intends */
.search-widget .search-widget-inner {
		padding:0 5px 5px 5px;

}

/* Don't display predefined destinations section */
.size420x348A .predefined-destinations-block {
		display: none;
}

/* Set sizes for check-in, check-out, rooms, adults, children, hotel chains and star rating sections (they are divided into 3 columns) */
.size420x348A .check-in-block,
.size420x348A .check-out-block,
.size420x348A .rooms-block,
.size420x348A .adults-block,
.size420x348A .children-block,
.size420x348A .hotel-chains-block,
.size420x348A .star-rating-block {
		width: 133px;
		padding-right: 8px;
}

/* Set sizes for check-in, check-out input fields */
.size420x348A .check-in-block input,
.size420x348A .check-out-block input {
		width: 106px;
}

/* Correct sizes for IE7 Quirks Mode (it uses border-box sizing model) */
* html .size420x348A {
		width /**/: 420px;
		height /**/: 348px;
}

* html .size420x348A .check-in-block,
* html .size420x348A .check-out-block,
* html .size420x348A .rooms-block,
* html .size420x348A .adults-block,
* html .size420x348A .children-block,
* html .size420x348A .hotel-chains-block,
* html .size420x348A .star-rating-block {
		width /**/: 132px;