html{color:#000;background:#F5F4F4;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
body{height: 100%;font-family: Arial;background:#F5F4F4;text-align:center;min-height:950px;}
/**
    Header Styles .
    Most of the elements inside the header are absolute positioned so that we can move the elements without affecting other things

    Please maintain the DOM order so that it is easy to find out the styles . If over riding is instituted using the order please specify so

*/
/*wrapper*/
#wrp{
    background: url("../images/dic_serp_bg.png") repeat-x scroll 0 0 #F2F2F2;
    text-align: center;   
    height:119px;
}

/*shadow*/
#wrp #sh{
    background:url("../images/tp.png") no-repeat scroll 100% 0 transparent;
    height:26px;
    position:absolute;
    right:0;
    top:0;
    width:857px;
}
/* Header and content wrapper have the same width so that we can have the them center aligned , the center aligning is done using the two properties
 1) In IE -> Text align center and width
 2) In Firefox and other browsers -> margin:auto
*/
#hdr,#cwrp{
    position: relative;
    width: 970px;
    margin: auto;
    background:white;
}
#hdr span, #hdr a, #hdr div{
font-family: Helvetica,Arial;
font-weight: bold;
}
/*header top nav elements */

#tpnv{
    position: absolute;
    right: 0px;
    top:0px;
	line-height:20px;		
    display: block; 
}
#tpnv a,#hdr #tpnv span{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    position: static;
}
    #tpnv a{
        padding-left:4px;
        padding-right:1px;
    }
#tpnv a+a{
    border-left: 1px solid;
    padding-left:5px;
}
.favL {
    background: url("../../../en/i/dictionary/newserp/Sprite_Serp.png") no-repeat scroll -269px -221px transparent;
     padding-left: 14px;
	 *display:inline-block;
}
/* The anchor surrounding the logo image */
#hdr .diclogo{
    left:0;
    top:19px;
    position:absolute;
}
.fbuser{
    background: url("../../../en/i/dictionary/newserp/Sprite_Serp.png") no-repeat scroll -783px -380px transparent;
    padding-left: 16px;
	height: 13px;width: 13px;
    *display:inline-block;
}
.favlg {
    background: url("../../../en/i/dictionary/newserp/Sprite_Serp.png") no-repeat scroll -269px -221px transparent;
     padding-right: 14px;
}
#hdr form{    
    height: 48px;
    width: 478px;
    position: absolute;
    text-align: left;
    left: 194px;
    top: 20px;
}
#hdr input{
    position: relative;
    top: 10px;
    font:21px arial;
    color: black;
    width: 350px;
    height: 28px;
    outline: none;
    border: 0;
}
.area-holder #q {
    background: url("../images/sh_a.png") no-repeat scroll -805px -40px transparent;
    padding: 0;
}
#hdr button{
   background: url("../images/hdr_search_box.png") no-repeat scroll -396px 0 transparent;
    width: 66px;
    height: 48px;
    border: none;
    position: absolute;
    right: 6px;
    top: 0px;
    cursor:pointer;
}
#hdr button:hover{
    background: url("../images/hdr_search_box.png") no-repeat scroll -396px 0 transparent;
}
#hdr span{
    position: absolute;
    right:101px;
    top: 35px;
    font-weight: bold;
    font-size: 12px;
    color: #6699CC;
}


/*content wrapper styles */
#contouter{
    width:978px;
    margin:auto;
    background:transparent url("../images/bg-main.png") repeat-y scroll 0 0;
    position:relative;
    top:-29px;
	z-index:100;

}

#cwrp .nbl{
    border-left:none;
    padding-left: 0;
}
#cwrp .nbr{
    border-right:none;
}

#dmain{
top:0;
width:auto;
background-color:#ffffff;
}

/*main navigation tabs*/
#hlin{
    width:100%;
    height:28px;
    background: none repeat scroll 0 0 #E4E4E4;
}
#hlin a{
    float:left;
    color: #333333;
    font: normal 17px/17px arial;
    padding: 6px 3px 5px;
    text-decoration: none;
    height:17px;
    position:relative;
    border-left:1px solid #D0CFCF;;
    position:relative;
}
#hlin a:hover{
    background:none repeat scroll 0 0 #EFEFEF;
}
#hlin a.sel{background:#ffffff;color: #333333;font-weight:bold;}

/*sub navigation tabs*/
#de{
    margin:0 auto;
    text-align: left;
    width: 944px;
	background-color:#ffffff;
}
#snv{
    position:relative;
    height:28px;
    padding:0 0 0 30px;
    display:block;
}
#snv a{
    font:13px/13px arial;
    color:#666666;
    text-decoration:none;
    padding:0 17px;
    margin:8px 0 8px;
    border-right:1px solid #666666;
    border-left:1px solid #d9d9d9;
    float:left;
}

/*Inner content wrappers*/


#icw{
    border-top:4px solid #dad9d9;
    display:inline-block;
}

.prmsbl
{
background: url('../images/sh_a.png') no-repeat -719px -282px;
width: 32px;
height: 31px;
padding-bottom: 15px;
padding-left: 35px;
padding-top: 3px;
}



/* footer styles*/


#fotr{
    width:1006px;
    height:38px;
    background: url("../images/dicfooterNew.png") no-repeat scroll 10px -9px transparent;
    margin:auto;
    position:relative;
    top:-37px;
    padding:0;
	z-index:1;
}
#nfotr{width:974px;padding-top:80px;margin-bottom: 6px;display:inline-block;}

#nfr{
    height:35px;
    background-color: #FFFFFF;
    margin:auto;
    position:relative;
    padding:0;
}


.od{
    float:right;
}
.brli a,.od a{
    margin-right:9px;
    text-decoration:none;
    font:12px/12px arial;
    color:#666666;
}
.brd{
    padding:10px 0;
    border-top: 1px solid #D6D6D6;
}
.od a{
    margin-right:0;
}
.specdict{
    border-right: 1px solid #666666;
    padding-right:5px;
    padding-left:5px;
}
.abbre{
    padding-left:5px;
}
.spdict{
    padding-right:2px;
    padding-left:3px;
}
.brw{
    font:bold 12px/12px arial;
    color:#666666;
    padding-bottom:5px;
}
#nn{
    margin:0;
    padding:0;
}

.ptn a,.ptn, #nfr a, #nfr .bllt{
    margin-right: 0;
    padding: 0 5px ;
    color: #666666;
    font: 12px/12px arial;
    text-decoration:none;
	font-weight:normal;
	top:12px;
}

.ptn{
    text-align:right;
    padding-right:0;
	margin-top:3px;
	font-weight:bold;
}

.brftr .npr,#fotr .npr{
    padding-right:0;
}

.auth{
    padding:0 0 8px 15px;
    font:bold 14px arial;
    color:#CCCCCC;
}                                                        
.brftr{
    clear:both;
	float:none;
	width:auto;
	padding:0 0 8px 0;
	position:relative;
	text-align:left;
	display:block;
}
#nfotr .brftr{
width: 942px;
margin-left: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #E4E4E4;
}
.bllt{
    color: #FFFFFF;
    font: 12px arial;
    left: 30px;
    top: 15px;
    position: absolute;
}
#nfr .bllt{left:16px;padding:0;}
.blf a{
    color: #FFFFFF;
    font: 12px/12px arial;
    text-decoration:none;
    padding:0px 5px;
}
.blf a+a{
    border-left:1px solid white;
}
.blf{
    position:absolute;
    right:30px;
    top:16px;
	font: 12px/12px arial;
}
#nfr .blf{right:16px;padding:0;top:13px;}


.fdic,.fask{
    display: inline-block;
    position: absolute;
    z-index: 1;
    top:5px;
    background:url('../images/sh_a.png') no-repeat;
}
.fdic{background-position: -316px -149px;height: 24px;width: 105px;}
.fask{
    left:110px;
	height:19px;
	width:24px;
	top:8px;
background-position: -427px -154px;
}
.er{
    position:relative;
    padding:10px 0 5px 0;
	border-top:1px solid #D6D6D6;
}

#dycp{
background: url("http://static.sfdict.com/dictionary/homepage/images/sampleImgnew.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 115px;
    position: absolute;
    width: 115px;
    right: 0px;
    top: 0px;
    float:right;
    cursor:pointer;	

}

#dycp:hover{
background: url("http://static.sfdict.com/dictionary/homepage/images/sampleImgnew.jpg") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 250px;
    position: absolute;
    width: 300px;
    right: 0px;
    top: 0px;
    float:right;
    cursor:pointer;
    z-index:100;
	

}
#fancybox-outer {
    background: none repeat scroll 0 0 transparent;
}
/*Styles related to Ads*/

.banner-ad {
       width: 728px;
       height:90px;
	   margin: 0 auto;
}
.sykscraper-ad {
    width: 160px;
    height: 600px;
	margin: 0 auto;
}
.box-ad {
  width : 300px;
  height: 250px;
  margin: 0 auto;
}
/*Styles related to dynamo tab flyout*/
    #flyout {
        position: relative;
    }
    #flyout .flyt {
        width: 233px;
        height: 181px;
        position: absolute;
        z-index: 10005;
        top: 27px;
        cursor:pointer;
    }
    #hlin #dyn{
        background-color:#E53357;
        color:#FFFFFF;
        font: normal 17px/17px arial;
    }
    #hlin #dyn:hover{
        background:#FF5275;
    }
    .gear{
        height: 147px;
        left: 14px;
        position: relative;
        width: 233px;
    }
    .txt {
        color: #FFFFFF;
        width: 200px;
        position:relative;
        left:-20px;
        top:5px;
        font: bold 17px/17px arial;
    }
    .bnew{
        background-image:url("../../../en/i/dictionary/newserp/beta_n.png");
    }
/*peel promo styles*/
        .peelprm {
            height: 90px;
            width: 130px;
            color: #6699CC;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            right: 0px;
            top: 0px;
            cursor:pointer;
        }
       .peelpr {
        /*background-image: url("http://static-dev.en.dev.ask.com/en/i/dictionary/adshop/promos/small.png");*/
            height: 75px;
            width: 173px;
            color: #6699CC;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            right: 1px;
            top: 0px;
            cursor:pointer;
        }
        .peelprbg {
            background-color: transparent;
            background-repeat: no-repeat;
            color: #6699CC;
            display: none;
            font-size: 12px;
            font-weight: bold;
            height: 255px;
            position: absolute;
            right: 0;
            top:0px;
            width: 300px;
            z-index: 10001;
            cursor:pointer;
        }
		#snv .andr{
    background: url("../images/sh_a.png") no-repeat scroll -601px -287px;
    border-right: medium none;
    border-left: medium none;
    height: 23px;
    width: 65px;
    margin: 3px 0 0 0;
    padding: 4px 0 0 10px;
    color: #FFFFFF;
}

#snv .apple{
    background: url("../images/sh_a.png") no-repeat scroll -603px -335px;
    border-right: medium none;
    border-left: medium none;
    height: 23px;
    width: 65px;
    margin: 3px 0 0 0;
    padding: 4px 0 0 8px;
    color: #FFFFFF;
}
#snv .mr{
    border-right: medium none;
    border-left: medium none;
    padding-left: 0px;
	padding-right: 0px;
}

#prem_symbol
    {
    background: url("../../../en/i/dictionary/newserp/Sprite_Serp.png") no-repeat -693px -819px;
    width: 135px;
    height: 38px;
    float:right;
	position:absolute;
    right:20px;
    margin-top: 29px;
    }
	
#prem_symbol1
    {
    background: url("../../../en/i/dictionary/newserp/prm_login.png") no-repeat;
    width: 72px;
    height: 65px;
    float:right;
    position:absolute;
    right:0px;
    margin-top: 23px;
    }	
.area-holder
{
background: url("../images/hdr_search_box.png") no-repeat scroll 0 0 transparent;
padding: 0 16px;
margin: 0 12px 0 0;
width: 365px;
height: 49px;
}
.prmsbl
{
background: url('../../../en/i/dictionary/newserp/Sprite_New.png') no-repeat -93px -40px;
width: 32px;
height: 31px;
padding-bottom: 15px;
padding-left: 35px;
padding-top: 7px;
*display:inline-block;
}
.bar
{
border-left: 1px solid;
padding-right: 2px;
}
.myacnt
{
border-right: 1px solid;
padding-right: 2px;
}
#tpnv{
top:5px;
}