.minicart-header-section
{
  cursor:pointer;
  vertical-align:baseline
}
.dropdown-menu-minicart
{
  display:inline
}
.ie6 .minicart-popup
{
  width:100px
}
.minicart-popup
{
  border:1px solid #bec3c5;
  background:white;
  color:black;
  min-width:100px;
  min-height:50px;
  max-width:400px;
  width:auto;
  float:right;
  right:0;
  z-index:1000;
  display:none;
  position:absolute
}
.ie6 .mini-cart-content
{
  max-width:400px;
  width:360px
}
.mini-cart-content
{
  padding:10px;
  display:block
}
.mini-cart-wrapup
{
  padding:1px;
  border:1px solid #bec3c5;
  display:block;
  text-align:left
}
.mini-cart-header-section
{
  background-color:#e8eaeb;
  line-height:25px;
  margin-top:0;
  margin-bottom:0
}
.mini-cart-header-text
{
  padding-left:10px;
  padding-right:10px;
  color:black;
  font-weight:bold;
  white-space:nowrap;
  vertical-align:middle;
  text-align:left
}
.mini-cart-right-aligned-text
{
  display:block;
  text-align:right;
  font-size:12px;
  min-width:100%;
  line-height:16px;
  height:16px;
  margin-right:2px;
  white-space:nowrap;
  vertical-align:middle
}
.mini-cart-callout-text
{
  display:block;
  text-align:center;
  font-size:12px;
  min-width:100%;
  line-height:16px;
  height:16px;
  white-space:nowrap;
  vertical-align:middle
}
.mini-cart-item-text
{
  padding:0 10px 0 10px;
  white-space:nowrap;
  text-align:right;
  min-width:90%;
  width:90%;
  vertical-align:middle;
  height:12px;
  font-size:12px
}
.mini-cart-price
{
  padding-right:18px;
  text-align:right;
  white-space:nowrap;
  vertical-align:middle;
  font-size:12px
}
.mini-cart-list-price
{
  text-align:right;
  white-space:nowrap;
  vertical-align:middle;
  font-size:12px;
  padding-right:8px
}
.mini-cart-total-line
{
  color:white;
  background:#4d4d4f;
  vertical-align:middle;
  height:28px;
  line-height:24px;
  width:100%;
  min-width:340px;
  font-size:14px;
  border-collapse:collapse;
  border:0;
  padding:0
}
.mini-cart-total-text
{
  padding-right:10px;
  font-weight:bold;
  white-space:nowrap;
  text-align:right;
  min-width:90%;
  width:90%;
  font-size:14px
}
.mini-cart-total-list-price
{
  text-align:right;
  white-space:nowrap;
  padding-right:8px;
  font-size:14px
}
.mini-cart-total-price
{
  padding-right:18px;
  text-align:right;
  white-space:nowrap;
  font-size:14px
}
.mini-cart-single-line
{
  vertical-align:middle;
  line-height:28px;
  height:28px;
  width:100%;
  min-width:340px
}
.mini-cart-total-regular-price
{
  padding-left:2px;
  white-space:nowrap;
  text-align:right
}
.mini-cart-total-discounted-price
{
  padding-left:2px;
  white-space:nowrap;
  font-size:14px;
  font-weight:bold;
  text-align:right
}
.mini-cart-regular-price
{
  text-align:center;
  white-space:nowrap
}
.ie7 .basket-loading
{
  padding:15% 0 15% 0
}
.basket-loading
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:25%;
  margin-bottom:25%
}
.mini-cart-text-message
{
  text-align:left;
  white-space:normal;
  padding:20px;
  line-height:18px;
  max-width:300px;
  min-width:200px
}
.mini-cart-line
{
  background-color:#e8eaeb;
  min-width:340px;
  width:100%;
  line-height:18px;
  border-collapse:collapse;
  border:0;
  padding:5px 0 5px 0
}
.ie6 .mini-cart-item-list-container,
.ie7 .mini-cart-item-list-container
{
  width:340px
}
.mini-cart-item-list-container
{
  color:black;
  width:100%;
  min-width:320px;
  max-height:200px;
  min-height:100px;
  overflow-x:hidden;
  overflow-y:auto;
  clear:both
}
.mini-cart-item-control
{
  padding:0 10px 0 10px
}
.ie .mini-cart-spacer
{
  zoom:1
}
.mini-cart-spacer
{
  padding:10px 0 10px 0;
  clear:both
}
.mini-cart-cell
{
  background:white;
  border:1px solid #bec3c5;
  border-style:none none solid none;
  font-size:12px;
  text-align:left;
  padding:10px 8px 10px 0;
  line-height:14px;
  vertical-align:bottom;
  text-align:right
}
.mini-cart-name-cell
{
  width:90%;
  text-align:left;
  white-space:normal
}
.minicart-icon
{
  vertical-align:middle;
  margin-left:5px
}
.nav-icon-drop-down-arrow
{
  display:inline-block;
  background-position:0 -151px;
  width:8px;
  height:4px;
  font-size:1px;
  line-height:1px;
  vertical-align:baseline;
  margin:0 3px 0 2px;
  position:relative;
  top:-2px;
  background-image:url(../../../../../../../_hc-1291/_/vp/images/b11/common/page-bg/top-nav/sr1-sprite.png)
}
.mini-cart-total-line span.discount-price,
.mini-cart-total-line span.undefined-price
{
  color:white
}
.mini-cart-cell .item-money span.undefined-price,
.mini-cart-cell .strikeout-price span.undefined-price,
.mini-cart-list-price .strikeout-price span.undefined-price,
.mini-cart-price span.discount-price,
.mini-cart-price span.undefined-price
{
  color:black
}
.mini-cart-price .discount-price span.undefined-price
{
  color:#d1005d
}
