/*  flatcat styles  - by Kimo Fouts */

.sNavSectionDiv_1, 
.sNavSectionDiv_2,
.sNavSectionDiv_3,
#top_partyIdeaContent {   
  width: 990px; 
  *width: 986px;
} 

.sNavSectionDiv_1 td#sNavTd_1_1,
.sNavSectionDiv_2 td#sNavTd_2_1,
.sNavSectionDiv_3 td#sNavTd_3_1,
#top_partyIdeaContent td:first-child {
  background: none;
}

.sf-menu .flatCatsUL li, .sf-menu .flatCatsUL li:hover, .sf-menu .flatCatsUL li.sfHover {
    background:none;
    margin:0 0 0 0;                  /* push the DHTML up and down. */
}

.flatCats {
    width:225px;                        /* dropdown defaults */
    padding:0;
    background-color:#ffffff;
    border:7px solid #f2f2f2;
    float:left;
}
.flatCat {                              /* a column defaults */
    position:relative;
    float:left;
    font-weight:bold;
    background-color:#ffffff;
    margin:10px 0 10px 10px;
}

.flatCat a {                            /* reset the flatcat links */
    padding:0px 30px 0px 0;
    text-decoration:none;
    white-space:nowrap;
    border:0;
    font-weight:normal;
    /*font-size: 13px; */
    font-size: 12px; /*make all flyout/flatcats 12px */
    color: #333333;
}

.flatCat a:hover {
    text-decoration:underline;
    background:none;
}

.flatCat div.flatCatSnippet {           /* default DHTML snippet styles */
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    margin:0 0 10px 0;
}



/* Start - Category specific menu styles (width, border-color, left/right positioning) */
/*   ---------------------   START ALL PARTY SUPPLIES  aka #top_108891--------------------   */

#top_108891 .sNav a span, #top_108891 .sfHover .sNav a span, #top_108891 #sf-menu-text-nav .sf-menu .sNav a span {
  font-size: 12px; /* size of font in the horizontal menu bar*/
}

#flatCatMenu_108893, #flatCatMenu_109288, #flatCatMenu_109414, #flatCatMenu_109486, #flatCatMenu_109027, #flatCatMenu_109027, #flatCatMenu_108934, #flatCatMenu_109402, #flatCatMenu_109795, #flatCatMenu_108985, #flatCatMenu_109793, #flatCatMenu_109792, #flatCatMenu_109794 {
    border:7px solid #867cda;
    border-top-width:0;
    position:relative;
    z-index:1;
}

#flatCatMenu_109794 div div.flatCatSnippet {
    color: #077227;
}

/* lock down categoroy width  - purple  */
/* tnc_109795: padding added because the menu text has ampersand in akward place that pevents using sizing as an option. test on mac too where font sizes are slightly larger */
/*
#tnc_108893 { display:block; width:100px; padding-left: 3px; }
#tnc_109288 { display:block; width:60px; padding-left: 5px; }
#tnc_109414 { display:block; width:80px; }
#tnc_109486 { display:block; width:56px;  padding-left: 4px; }
#tnc_109027 { display:block; width:83px; }
#tnc_108934 { display:block; width:79px; padding-left: 5px; padding-right: 3px; }
#tnc_109402 { display:block; width:84px; }
#tnc_109795 { display:block; width:82px; padding-left:5px; padding-right:5px;}
#tnc_108985 { display:block; width:60px; padding-top:8px; padding-left: 4px;}
#tnc_109793 { display:block; width:71px; padding-top:8px; padding-left: 5px;}
#tnc_109792 { display:block; width:69px; padding-top:8px; padding-left: 5px;}
#tnc_109794 { display:block; width:81px; }
*/
/* link specific adjustments needed to fix an overhang on the right where the button extends beyond the right edge of the menu*/
/*#tn_109794 { width: 80px; }*/



/* tab #3 text spans (class="sNavS")           */
#tnc_108893,  /* [01] Birthday Party Supplies  */
#tnc_109288,  /* [02] Theme Parties            */
#tnc_109414,  /* [03] Special Occasions        */
#tnc_109486,  /* [04] Holiday Parties          */
#tnc_109027,  /* [05] Halloween Costumes       */
#tnc_108934,  /* [06] Entertaining & Serving   */
#tnc_109402,  /* [07] Solid Color Tableware    */
#tnc_109795,  /* [08] Party Favors & Candy     */
#tnc_108985,  /* [09] Balloons                 */
#tnc_109793,  /* [10] Invitations              */
#tnc_109792,  /* [11] Weddings                 */
#tnc_109794 { /* [12] Baby Showers             */
  display: block; 
  width: 80px; 
  *width: 80px; 
  margin: 0 auto 0 auto; 
  padding: 7px 0 0 0;
  vertical-align: middle;
}	

#tnc_108893 {width: 91px; *width: 91px;}  /* [01] Birthday Party Supplies  */
#tnc_109795 {width: 95px; *width: 95px;}  /* [08] Party Favors & Candy     */
#tnc_108985,  /* [09] Balloons                 */
#tnc_109793,  /* [10] Invitations              */
#tnc_109792 { /* [11] Weddings                 */
  padding: 14px 0 0 0;
}  


/* size and position the flyout/dropdown menu's  */
#flatCatMenu_108893 { width:325px; }                                          /* [01] Birthday Party Supplies */
#flatCatMenu_109288 { width:507px; }                                          /* [02] Theme Parties           */
#flatCatMenu_109414 { width:300px; *width:286px; }                            /* [03] Special Occasions       */
#flatCatMenu_109486 { width:250px; }                                          /* [04] Holiday Parties         */
#flatCatMenu_109027 { width:369px; }                                          /* [05] Halloween Costumes      */
#flatCatMenu_108934 { width:570px; left:-5px; *width:563px; *left:-0px; }     /* [06] Entertaining & Serving  */
#flatCatMenu_109402 { width:293px; }                                          /* [07] Solid Color Tableware   */
#flatCatMenu_109795 { width:450px; left:-45px; *width:436px; *left:-33px; }   /* [08] Party Favors & Candy    */
#flatCatMenu_108985 { width:630px; left:-320px; *width:616px; *left:-309px; } /* [09] Balloons                */
#flatCatMenu_109793 { width:671px; left:-442px; *width:657px; *left:-430px; } /* [10] Invitations             */
#flatCatMenu_109792 { width:976px; left:-828px; *width:962px; *left:-815px; } /* [11] Weddings                */
#flatCatMenu_109794 { width:510px; left:-443px; *width:496px; *left:-430px; } /* [12] Baby Showers            */


/*   ---------------------   END ALL PARTY SUPPLIES   ---------------------   */
/*   ---------------------   START BIRTHDAY PARTY SUPPLIES  aka #top_108893 ---------------------   */

#flatCatMenu_109847, #flatCatMenu_109848, #flatCatMenu_109849, #flatCatMenu_170053, #flatCatMenu_169536, #flatCatMenu_169785, #flatCatMenu_169787, #flatCatMenu_169789, #flatCatMenu_169791, #flatCatMenu_169793 {
    border:7px solid #009ada;
    border-top-width:0;
    position:relative;
    margin:0 0 0 0;   /* push the DHTML up and down. */
}

/* tab #2 text spans (class="sNavS")           */
#tnc_109848,  /* [01] Girls Birthday           */
#tnc_109849,  /* [02] Boys Birthday            */
#tnc_109847,  /* [03] 1st Birthday             */
#tnc_170053,  /* [04] Adult Birthday           */
#tnc_169793,  /* [05] Birthday Invitations     */
#tnc_169536,  /* [06] Birthday Party Favors    */
#tnc_169785,  /* [07] Birthday Decorations     */
#tnc_169787,  /* [08] Birthday Balloons        */
#tnc_169789,  /* [09] Cake Supplies            */
#tnc_169791 { /* [10] Pinatas & Games          */
  display: block; 
  width: 72px; 
  *width: 72px; 
  margin: 0 auto 0 auto; 
  padding: 5px 0 0px 0;
  vertical-align: middle;
}	

#tnc_169536 {width: 80px; *width: 80px;}  /* [06] Birthday Party Favors    */



/* lock down categoroy width  - blue
#tnc_109848 {padding-left:8px; padding-right:8px;}
#tnc_109847 {padding-left:10px; padding-right:9px;}
#tnc_109849 {padding-left:8px; padding-right:8px;}
#tnc_169536 {padding-left:6px; padding-right:6px;}
#tnc_170053 {padding-left:6px; padding-right:6px;}
#tnc_169789 {padding-left:6px; padding-right:6px;}
#tnc_169791 {padding-left:0px; padding-right:4px;}
*/

/* link specific adjustments needed to fix an overhang on the right where the button extends beyond the right edge of the menu*/
#tn_109794 { width: 80px; }

/* size and position the flyout/dropdown menu's  */
#flatCatMenu_109848 { width:285px; *width:271px; }                            /* Girls Birthday */
#flatCatMenu_109849 { width:285px; *width:271px;}                             /* Boys Birthday */
#flatCatMenu_109847 { width:285px; *width:271px;}                             /* 1st Birthday */
#flatCatMenu_170053 { width:315px; *width:301px;}                             /* Adult Birthday */
#flatCatMenu_169793 { width:287px; *width:273px;}                             /* Birthday Invitations */
#flatCatMenu_169536 { width:360px; *width:346px;}                             /* Birthday Party Favors */
#flatCatMenu_169785 { width:430px; left:-51px; *width:430px; *left:-50px;}    /* Birthday Decorations */
#flatCatMenu_169787 { width:490px; left:-209px; *width:476px; *left:-197px;}  /* Birthday Balloons */
#flatCatMenu_169789 { width:165px; left:-0px; *width:151px; *left:-0px;}      /* Cake Supplies */
#flatCatMenu_169791 { width:315px; left:-230px; *width:301px; *left:-217px; } /* Pinatas & Games */

/*   ---------------------   END BIRTHDAY PARTY SUPPLIES   ---------------------   */
/*   ---------------------   START HALLOWEEN   aka ???? ---------------------   */

#flatCatMenu_109915, #flatCatMenu_110759, #flatCatMenu_110791, #flatCatMenu_110826, #flatCatMenu_170266, #flatCatMenu_170302, #flatCatMenu_170372, #flatCatMenu_116853, #flatCatMenu_170484, #flatCatMenu_170590, #flatCatMenu_170540, #flatCatMenu_179235, #flatCatMenu_194824, #flatCatMenu_271432 {
    border:7px solid #f79239;
    border-top-width:0;
    position:relative;
    margin:0 0 0 0;                  /* push the DHTML up and down. */
}

/* category widths do not need to be manually specified at present because this menu bar automatically fits satisfactory */


/* size and position the flyout/dropdown menu's  */
#flatCatMenu_271432 { width:454px;}                                           /* 01: New Costumes */
#flatCatMenu_170302 { width:179px; }                                          /* 02: Baby, Toddler Costumes */
#flatCatMenu_110826 { width:509px; left:0px;}                                 /* 03: Boys Costumes */ /* 8/2012 former value = left: -105px*/
#flatCatMenu_110791 { width:651px; left:0px; }                                /* 04: Girls Costumes */ /* 8/2012 former value = left: -181px*/
#flatCatMenu_170266 { width:160px; }                                          /* 05: Teen Costumes */
#flatCatMenu_109915 { width:808px; left:-208px; *width:794px; *left:-194px;}  /* 06: Womens Costumes */ /* 8/2012 former value = left: -266px*/
#flatCatMenu_116853 { width:640px; left:-112px; *width:639px; *left:-111px;}  /* 07: Sexy Costumes */ /* 8/2012 former values = width: 600px; left: -178px*/
#flatCatMenu_110759 { width:678px; left:-222px; *width:664px; *left:-208px;}  /* 08: Mens Costumes */ /* 8/2012 former value = left: -325px*/
#flatCatMenu_170484 { width:212px; }                                          /* 09: Plus Size Costumes */
#flatCatMenu_170372 { width:195px; }                                          /* 10: Couples, Groups Costumes */
#flatCatMenu_179235 { width:353px; left:-138px; *width:339px; *left:-124px; } /* 11: Dog Costumes */ /* 8/2012 former value = left: -126px*/
#flatCatMenu_170590 { width:650px; left:-507px; *width:636px; *left:-493px;}  /* 12: Costume Accessories */ /* 8/2012 former value = left: -442px */
#flatCatMenu_170540 { width:661px; left:-596px; *width:647px; *left:-582px;}  /* 13: Decorations, Supplies */ /* 8/2012 former value = left: -539px */
#flatCatMenu_194824 { width:353px; left:-295px; }                             /* 14: Sale & Clearance (not currently active) */

/*   ---------------------   END HALLOWEEN   ---------------------   */
/*   ---------------------   START COSTUMES  aka #top_109027  ---------------------   */

#top_109027 .sNav a span, #top_109027 .sfHover .sNav a span, #top_109027 #sf-menu-text-nav .sf-menu .sNav a span {
    font-size: 12px; /* size of font in the horizontal menu bar*/ /* 8/2012 former value = 12px */
    color: #000000 !important;
}
/*
.sNav #tn_194824, .sfHover .sNav #tn_194824, #sf-menu-text-nav .sf-menu .sNav #tn_194824 {
	position: relative;

	display: block;

	background-color: #f9373e;

	margin: 0px;
	padding: 7px 0px 0px 0px ! important;
}
*/
/*
.sNav a, .sfHover .sNav a, #sf-menu-text-nav .sf-menu .sNav a {
	position: relative;

	display: block;

	margin: 0px;
	padding: 7px 0px 0px 0px ! important;
}
*/

.sNav #tn_194824, #top_109027 .sfHover .sNav #tn_194824 {
	background-color: #f9373e ! important;
}

#top_109027 .sNav a #tnc_194824, #top_109027 .sfHover .sNav a #tnc_194824, #top_109027 #sf-menu-text-nav .sf-menu .sNav a #tnc_194824 {
  color: 000000 ! important;
}

/* tab #1 text spans (class="sNavS")            */
#tnc_271432,  /* [01] New Costumes              */
#tnc_170302,  /* [02] Baby, Toddler Costumes    */
#tnc_110826,  /* [03] Boys Costumes             */
#tnc_110791,  /* [04] Girls Costumes            */
#tnc_170266,  /* [05] Teen Costumes             */
#tnc_109915,  /* [06] Womens Costumes           */
#tnc_116853,  /* [07] Sexy Costumes             */
#tnc_110759,  /* [08] Mens Costumes             */
#tnc_170484,  /* [09] Plus Size Costumes        */
#tnc_170372,  /* [10] Couples, Group Costumes   */
#tnc_179235,  /* [11] Dog Costumes              */
#tnc_170590,  /* [12] Costume Accessories       */
#tnc_170540,  /* [13] Decorations, Supplies     */
#tnc_194824 { /* [14] Sale & Clearance          */
  display: block; 
  width: 72px; 
  *width: 72px; 
  margin: 0 auto 0 auto; 
  padding: 7px 0 0px 0;
  vertical-align: middle;
}	

#tnc_170302 {width: 88px;} /* [02] Baby, Toddler Costumes */
#tnc_170372 {width: 97px;} /* [10] Couples, Group Costumes */
#tnc_170590 {width: 78px;} /* [12] Costume Accessories       */
#tnc_170540 {width: 79px;} /* [13] Decorations, Supplies     */

/* anchor (link) elements (containing category text spans (class="sf-top-level-link")  */
#tn_271432, /* [01] */
#tn_170302, /* [02] */
#tn_110826, /* [03] */
#tn_110791, /* [04] */
#tn_170266, /* [05] */
#tn_109915, /* [06] */
#tn_116853, /* [07] */
#tn_110759, /* [08] */
#tn_170484, /* [09] */
#tn_170372, /* [10] */
#tn_179235, /* [11] */
#tn_170590, /* [12] */
#tn_170540, /* [13] */
#tn_194824 	/* [14] */
{
}

/*   ---------------------   END COSTUMES   ---------------------   */
/*   ---------------------   START PARTY IDEAS   ---------------------   */

#top_partyIdeaContent table td {
    width: auto;
}


/* add padding to fill most of extra space between buttons. letting table autofill extra space results in bigger words get more separation space then smaller words*/
/* we should leave enough free space for some cross platform font expansion */
/*
#sf-menu-text-nav #top_partyIdeaContent .sf-menu .sNav a {
  padding-left:22px !important; 
  padding-right:22px !important; 
}
*/

/* tab #4 text spans (class="sNavS")  */

/* HTML as of 8/14/2012
<span id="tnc_100308" class="sNavS"> Halloween <br /> Ideas</span>
<span id="tnc_100448" class="sNavS"> Girls Birthday <br />Party Ideas</span>
<span id="tnc_100311" class="sNavS"> Boys Birthday <br />Party Ideas</span>
<span id="tnc_100312" class="sNavS"> Baby Shower <br />Ideas</span>
<span id="tnc_101811" class="sNavS"> Videos</span>
<span id="tnc_103149" class="sNavS"> Idea<br /> Galleries</span>
<span id="tnc_103220" class="sNavS"> Shop Party City</span>
*/

#top_partyIdeaContent span.sNavS {
  display: block; 
  width: 141px; 
  *width: 141px; 
  margin: 0 auto 0 auto; 
  padding: 5px 0 0 0;
  vertical-align: middle;
}

/* [1] Halloween Ideas */
#top_partyIdeaContent #tnc_100308 {}

/* [2] Girls Birthday Party Ideas */
#top_partyIdeaContent #tnc_100448 {}

/* [3] Boys Birthday Party Ideas */
#top_partyIdeaContent #tnc_100311 {}

/* [4] Baby Shower Ideas */
#top_partyIdeaContent #tnc_100312 {}

/* [5] Videos */
#top_partyIdeaContent #tnc_101811 {padding-top: 13px;}

/* [6] Idea Galleries */
#top_partyIdeaContent #tnc_103149 {}

/* [7] Shop Party City */
#top_partyIdeaContent #tnc_103220 {padding-top: 13px; width: 144px;}


/*   ---------------------   END PARTY IDEAS   ---------------------   */

/*  below here not-tab specific and not by Kimo Fouts */

/* lock down the width */
#top_108891, #top_108893, #top_109027, #top_partyIdeaContent { width:990px; overflow:clip; }

/* remove padding, add margins */
/* old values for .sNavS { padding:2px 0px 0px 0px; margin:7px 2px 0px 0px; } -- padding moves text down, margins change size of horizontal menu bar*/
.sNavS {
  display: block;
  margin: 0px auto 0px auto; 
  line-height: 1.2;
}

.sNavSectionDiv_1 .sNavS {padding:0; margin:0 auto 0 auto;}/* padding moves text down, margins change size of horizontal menu bar*/

#sf-menu-text-nav .sf-menu a {
    padding:4px 15px 4px 0px;
}

.bgiframe{ /* I don't see this being used curently. there is some javascript associated with it, but no class assignments */
display:none;
width:1px;
height:1px;
}

.flatCatPromos{clear:both} /* presently this is only used on all party supplies tab, but maybe we'll want it on onother page someday */
/* global header */
#topNavLinksDiv {margin-top:-24px !important;}
