#fdbk_overlay {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1000000;
  position: absolute;
}
#fdbk_screen {
  top:0;
  left:0;
  z-index:1;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter:alpha(opacity=45);
}
#fdbk_container {
  width: 680px;
  height: 640px;
  margin: 0 auto;
  z-index:2;
  position:relative;
}
#fdbk_container iframe {
    width: 658px;
    height: 100%;
    margin: 20px;
    background: transparent url(fb_loading.png) no-repeat;
}
#fdbk_container iframe.loaded {
      background: transparent;
}
a#fdbk_tab {
  top: 25%;
  left: 0;
  width: 42px;
  height: 102px;
  color: #FFF;
  cursor:pointer;
  text-indent:-100000px;
  overflow:hidden;
  position: fixed;
  z-index: 100000;
  margin-left: -7px;
  background-image: url(feedback_trans_tab.png);
  _position: absolute;
  _background-image: url(feedback_tab_ie6.png);
}
a#fdbk_tab:hover {
    margin-left: -4px;
}

a.fdbk_tab_right {
  right: 0 !important;
  left: auto !important;
  margin-right: -7px !important;
  margin-left: auto !important;
}
a.fdbk_tab_right:hover {
    margin-right: -4px !important;
    margin-left: auto !important;
}
a.fdbk_tab_bottom {
  top: auto!important;
  bottom: 0 !important;
  left: 20% !important;
  height: 38px !important;
  width: 102px !important;
  background-position: 0 -102px !important;
  margin-bottom: -7px !important;
  margin-left: auto !important;
}
a.fdbk_tab_bottom:hover {
    margin-bottom: -4px !important;
    margin-left: auto !important;
}
a.fdbk_tab_hidden {
  display:none !important;
}

  
a#fdbk_close {
  position: absolute;
  cursor:pointer;
  outline:none;
  top: 0;
  left: 0;
  z-index: 4;
  width:42px;
  height:42px;
  overflow:hidden;
  background-image: url(feedback-close.png);
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://s3.amazonaws.com/getsatisfaction.com/feedback/feedback-close.png', sizingMethod='crop');
}
#fdbk_close:hover {
    background-position: -42px 0;
}

.feedback_tab_on embed, .feedback_tab_on select, .feedback_tab_on object {
  visibility:hidden;
}