@charset utf-8;
/* CSS Document */

body, input, textarea, select { font-family: Arial, Helvetica, sans-serif !important; color: #333; }
html, .ie-corner-shadow-left { background: url(../images/about_us_lp/bg_temp.jpg) right 35px repeat-x !important; }
ul#universalNav { background: none !important; }
#stock-ticker { float: right; height: 25px; margin: 0; margin-right: 10px; width: 300px; }
#stock-ticker img { float: right; margin: 0; padding: 0; }
#highlights { height: 473px; position: relative; width: 945px; zoom:1; }
#highlights-content { width: 945px; position: relative; float: left; z-index: 100; background:transparent; }
#highlights-content h1 { text-align: center; color: #005b95; font-size: 3.3em; font-weight: bold; margin-bottom: 10px; }
#highlights-content h2 { text-align: center; color: #ff7200; font-size: 2.2em; font-weight: bold; margin-bottom: 20px; }
#highlights-content .main-banner { float: left; }
.highlights-banner { position: relative; z-index: 100; }
#highlights-content .banner-details { width: 885px; float: left; background: #323232; color: #fff; padding: 15px 30px 5px; position: relative; z-index: 100; height:89px; -moz-border-radius-topleft: 0px; -moz-border-radius-topright: 0px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; }
#highlights-content .banner-details h3 { font-size: 2.0em; font-weight: bold; line-height: 1.2; margin: 5px 0; }
#highlights-content .banner-details p { font-size: 1.5em; margin: 0; color: #fff; line-height:125% }
#highlights-content .banner-details a { color: #7cc6ff; font-weight: bold; }
#highlights-content .banner-details h3 a { color: #fff; }
#highlights-menu { height: 288px; position: absolute; right: 0; top: 76px; width: 335px; z-index: 500; background: url(../images/topstory/bkg_nav.png) no-repeat scroll right top; }
#highlights-menu ul { margin: 0 !important; position:relative; }
#highlights-menu li { height: 96px; z-index: 1000; overflow:hidden; position:relative; }
#highlights-menu li img { float: left; width:126px; height:auto; margin:20px 12px 0 0; }
#highlights-menu li div { float: left; width:136px; font-size: 1em !important; margin:20px 0 0; }
#highlights-menu a { padding: 0 0 0 35px; display:block; height: 96px; position: relative; z-index: 100000; zoom:1; }
#highlights-menu div { width: 155px; }
#highlights-menu a.activeSlide { background: url(../images/topstory/bkg_active.png) left center no-repeat; position:relative; zoom:1; }
#highlights:after, #highlights-menu:after { clear: both; content:''; display: table; }
#network-news-box { border: 1px solid #dbdbdb; margin-top: 35px; float: left; width: 945px; border-radius: 5px; padding-bottom: 10px; }
#network-news-box h6 { color: #ff7200; font-size: 1.35em; font-weight: bold; text-transform: uppercase; margin: 0 0 0 5px; display:inline; }
#scrollup { position: relative; overflow: hidden; height: 30px; width: 900px; margin-left: 5px; }
.headline { position: absolute; top: 65px; left: 5px; height: 58px; width:890px; font-size: 1.4em; color: #333; line-height: 20px; }
#network-news-box ul { width: 100%; margin: 10px 0; }
#network-news-box li { display: inline; float: left; border-right: 1px solid #ccc; padding: 0 5px 2px !important; line-height: 8px; }
#network-news-box li.first, #network-news-box li.last { border-right: none !important; padding-right:0; }
.ie-ticker-top { background: url(../images/att_news/ticker_top.jpg) left bottom no-repeat; height: 4px; width: 947px; float: left; margin-top: 32px; }
.ie-ticker-bottom { background: url(../images/att_news/ticker_bottom.jpg) left top no-repeat; height: 7px; width: 947px; float: left; }
#homepage-content { float: left; margin: 40px 0 0 0; }
#homepage-content #content-left { float: left; width: 615px; margin-right: 25px; }
#homepage-content h2 { color: #333; font-size: 2.1em; background: url(../images/about_us_lp/bg_title_h3.jpg) left bottom repeat-x; padding-bottom: 12px; padding-top: 2px; }
#content-left .recent-news, #recent-news-stories .recent-news { float: left; width: 600px; padding: 0 0 25px 0; }
#content-left .recent-news .details, #recent-news-stories .recent-news .details { margin-left: 324px; width: 272px; }
#content-left .recent-news img, #recent-news-stories .recent-news img { float: left; }
#content-left .recent-news p, #recent-news-stories .recent-news p { float: left; font-size: 1.1em; margin-bottom: 12px; width: 272px; }
#content-left .recent-news .date-line, #recent-news-stories .recent-news .date-line { margin: 0 0 3px 0; float: none; }
#content-left .recent-news .date-line a, #recent-news-stories .recent-news .date-line a { color: #ff7200; }
#content-left .recent-news h3, #recent-news-stories .recent-news h3 { color: #005b95; font-size: 2.3em; margin: 0 0 15px 0; line-height: 25px; }
#homepage-content #content-right { float: left; width: 305px; }
#content-right .right-box { margin-bottom: 10px; float: left; }
#content-right #social-media { margin-bottom: 45px; background: url(../images/about_us_lp/social_media_right_col.jpg) left top no-repeat; width: 275px; height: 230px; padding: 10px 15px; }
#content-right #social-media h5 { color: #81017e; font-size: 1.2em; font-weight: bold; margin-bottom: 15px; }
#content-right #social-media .fb-like { margin-bottom: 15px; }
#content-right #social-media #share-this-box { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
#content-right #social-media p { float: none; width: 190px; }
#content-right #social-media p#rss-link { line-height: 20px; margin: 10px 0 3px; width: 112px;/*background: url(/Common/about_us/images/about_us_lp/icons/icon_rss.jpg) right top no-repeat;*/ }
#content-right #social-media p#rss-link a { background: url(../images/about_us_lp/icons/icon_rss.jpg) right top no-repeat; width: 110px; float: left; }
#content-right .right-box h2 { width: 305px; }
#content-right .right-box img { float: left; margin-right: 15px; }
#content-right .right-box p { float: left; width: 120px; margin-bottom: 0; }
#content-right .right-box #rss-link a { float: left; width: 120px; }
#content-right .corp-news-box { float: left; margin-bottom: 28px; width: 300px; }
#content-right .blog-box { margin-bottom: 25px; padding-right: 25px; }
#content-right .blog-box p { margin: 0 !important; float: none !important; width: 295px; }
#content-right .date-line a { color: #ff7200; }
#content-right .blog-box h4 { padding: 2px 0 !important; font-size: 2.1em; line-height: 22px; }
#content-right .blog-box h4 a { color: #005b95; }
#youtube-flickr { background: url(../images/about_us_lp/bg_youtube_flickr.jpg) left top no-repeat; height: 230px; width: 945px; float: left; margin-bottom: 45px; position: relative; }
#flickr { height: 138px; left: 0; overflow: hidden; position: absolute; top: 44px; width: 415px; }
#flickr-box { left: 20px; position: absolute; top: 10px; }
#flickr .flickr-item { float: left; width: 80px; margin-right: 20px; }
#flickr a { margin: 0 10px; overflow: hidden; margin: 0 20px 10px 0; width: 80px; }
#flickr img { float: left; height: 80px; width: 80px; }
#flickr p { float: left; height: 60px; margin-top: 10px; overflow: hidden; width: 80px; }
#fl-subscribe { background: url(../images/about_us_lp/icons/icon_flickr.jpg) left top no-repeat; padding-left: 44px; height: 35px; }
#youtube { position: absolute; top: 10px; left: 460px; }
#yt-subscribe { background: url(../images/about_us_lp/icons/icon_youtube.jpg) left top no-repeat; padding-left: 44px; height: 35px; }
#facebook_iframe { float: left; }
#fl-subscribe h6, #yt-subscribe h6 { color: #FF7200; margin: 0; padding: 2px 0 0; font-weight: bold; font-size: 1.2em; }
#fl-subscribe p, #yt-subscribe p { margin: 0; font-size: 1.2em; }
#fl-subscribe a, #yt-subscribe a { font-weight: bold; }
#latest-news { float: left; }
#latest-news h2 { width: 945px; }
#latest-news .latest-news-box { float: left; width: 300px; margin-right: 23px; margin-bottom: 25px; }
#latest-news .last { margin-right: 0 !important; }
#latest-news .inner-news { border: 1px solid #eaeaea; border-radius: 0 0 5px 5px; min-height: 200px; padding: 15px 25px 15px 15px; min-height: 275px; }
#latest-news .ie-box-top { background: url(../images/about_us_lp/bg_news_boxes_top_ie.jpg) left bottom no-repeat; height: 4px; width: 300px; }
#latest-news .ie-box-bottom { background: url(../images/about_us_lp/bg_news_boxes_bottom_ie.jpg) left bottom no-repeat; height: 10px; width: 300px; }
#latest-news .latest-news-box h5 { background: #333; padding: 15px 10px 0 !important; border-radius: 5px 5px 0 0; height: 32px; line-height: 18px; color: #fff; font-size: 1.7em !important; }
#latest-news #wireless-news.latest-news-box h5 { padding: 5px 10px 10px !important; color: #fff; font-size: 1.7em !important; }
#latest-news .latest-news-box .rss-more .more-link { float: left; line-height: 20px; margin: 0 0 3px; width: 40px; }
#latest-news .latest-news-box .rss-more img { float: left; margin: 0 0 3px; }
#links-row .links-box { float: left; width: 300px; margin: 20px 23px 25px 0; }
#links-row .links-box h3 { border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; padding: 7px 0 5px; color: #333; }
#links-row .links-box ul { float: left; width: 130px; margin-right: 20px; }
#links-row .links-box ul.last { margin-right: 0px; }
#links-row .links-box li { margin-bottom: 5px; }
#links-row .links-box a { font-size: 1.1em !important; }
/*.story-social-media { float: left; margin-right: 10px; }*/
.facebook { margin-right: 1px; }
.twitter { width: 58px; height: 62px; }
.news-headlines li a { font-weight: bold; }
#network-news-box ul { width: 100%; }
#wrapper .highlights a.internal { font-weight:normal; text-decoration:underline; color:#fff !important; }
#highlights h2, #highlights h2 a { color:#ff7200; }
/* browser specific */
.ie #content { margin-left: 10px !important; }
.ie7 .twitter { display: none; }
.ie #stock-ticker { float:none; position: absolute; right: 10px; top: 128px; margin-top: 5px; }
.ie7 #content-container { top:10px; }
.ie7 #network-news-box li { vertical-align:text-top; padding-bottom:8px !important; }
.ie #network-news-box ul { margin-bottom:0; }
/* updates */
.twitter-share-button { float:left; margin:4px 8px 0 0; }
#highlights-content .banner-details { padding: 10px 30px; }
#highlights-content .banner-details a { font-weight:normal; text-decoration:underline; color:#fff; }
.details a[class] img, .details p a img, #highlights-content .banner-details a[class], .banner-details a img, .details > a img { display: inline-block; padding: 12px 10px 2px 0; vertical-align: text-top; }
.details a[class] img, .details p a img, .details > a img  { padding-top:2px; }
#network-news-box { float:left; }
.story-social-media { display:block; clear:both; }
