#gh { margin-bottom: 0px; }
#gh a { text-decoration: none; }
.noNav #ghSubUtilSection { border-bottom: 9px solid #D4CFC3; }
#ghMainUtil, #ghIntUtil,
#ghSubUtilContent,
#ghFirstNav #ghMainNav { width: 1002px; }
#ghClientSegment * { font-weight: bold; }
#ghUtilLinks { padding-right:8px; }
#ghSubUtilContent #ghSubUtilSearch { padding-right:18px; }
#gh .x-ghNoNavBar {line-height: 9px; background-color: #D4CFC3;}
#ghMainUtil, #ghIntUtil, #ghSubUtilContent, #gh #ghFirstNav #ghMainNav { margin: 0 auto; }
#gh #ghFirstNav #ghMainNav { _margin-left: 0px; }
#ghSubUtilSection, #ghSubUtilContent, #ghSubUtilSearch .searchButton a, #ghSubUtilSearch .box, #ghFirstNav .yui3-menu-label a .x-ghArrow, #gh .yui3-menu .topscrollbar, #gh .yui3-menu .bottomscrollbar, .ghProminentImage, #ghUtilLinks .ghArrow {background-image: url("../../images/gh2/ghImages_15_690.png");}
#retailNav #utilSection { border: none; }
.noNav #utilSection { border-bottom: 9px solid #D4CFC3; width: 100%; }
.noFirstNav #utilSection { border-bottom: 9px solid #D4CFC3; }
#gh .x-ghUtilBar { padding-left: 0px; position:relative; z-index: 1; height: 21px; width: 100%; }
#ghUtilBar, #retailNav #ghMainUtil, #fasNav #ghMainUtil, #iamNav #ghMainUtil, #instNav #ghMainUtil { background-color: #96151D;}
#gh .x-internalGH { background-color: #BBCF9D;}
#ghMainUtil, #ghIntUtil { height: 21px; position: relative; }
#ghMainUtil form.thread { display: inline; }
#ghMainUtil form.thread div { background-image: none; }
#ghMainUtil .fm li ul { font-size:11px; letter-spacing:normal; }
html>body #ghMainUtil .fms input { padding: 1px 0px 4px 4px; }
#ghMainUtil .fms input { font-size:12px; vertical-align:middle; padding:1px 0 4px 4px; }
#ghMainUtil .fms ul li.trigger { padding-bottom: 3px;}
html>body #ghMainUtil .fms ul li.trigger { padding-bottom: 0px; }
#ghMainUtil .fms li a:link, #ghMainUtil .fms li a:visited { text-decoration: none; color: #069; background-color: transparent; border-bottom: none;  }
#ghMainUtil .fms ul li a:link, .fms li a.noSub:link, body .fms ul li, body .fms ul li a.noSub:link { background-color: #FFF; }
#ghMainUtil .fms li a.disabled-text:link, #ghMainUtil .fms li a.disabled-text:visited, #ghMainUtil .fms li a.disabled-text:hover { color: #666; cursor: default; background-color:transparent; border-bottom: none;   }
#ghClientSegment, .x-ghClientSegment { position: absolute; top:0; left: 16px; font: bold 10px/20px Arial, sans-serif; color: #FFF; letter-spacing: .4px; text-transform: uppercase; vertical-align: middle; background-color:transparent; }
#gh .x-internalGH #ghClientSegment, #gh .x-internalGH .x-ghClientSegment  { color: #333; font-size: 11px; text-transform: none;}
#gh .noNav .x-internalGH #ghClientSegment {text-transform: uppercase;}
#utilDropLinks { position: absolute; right: 0px; top: 0px; }
#utilDropLinks .thread { float: left; }
#utilDropLinks #ghUtilLinks { float: left; position: relative; line-height: 23px; }
#utilDropLinks .fm li ul { font-size: 11px; letter-spacing: normal; }
#utilDropLinks .fms input { font-size: 12px; vertical-align: middle; padding: 2px 1px 1px 4px; }
html>body #utilDropLinks .fms input { padding: 2px 1px 3px 4px; }
#utilDropLinks .fms ul li.trigger { padding-bottom: 3px;}
html>body  #utilDropLinks .fms ul li.trigger { padding-bottom: 0px; }
#utilDropLinks .fms li a:link, #utilDropLinks .fms li a:visited { text-decoration: none; color: #069; border-bottom: none;   }
#utilDropLinks .fms li a.disabled-text:link, #utilDropLinks .fms li a.disabled-text:visited, #utilDropLinks .fms li a.disabled-text:hover { color: #666; cursor: default; background-color:transparent; border-bottom: none;   }
#ghUtilIconsListResp { list-style: none; }
#ghUtilLinks { float: right; right: -1px;  font: 10px/21px Arial, sans-serif; text-transform: uppercase;}
#ghUtilLinks li { display: inline;  float: left; background-position: 0px -575px; background-repeat: no-repeat; padding-left: 1px; }
#ghUtilLinks li.first { background-image: none; padding-left: 0px; }
#ghUtilLinks a { display: block; padding: 0px 9px; text-decoration: none; font: 10px/21px Arial, sans-serif; color: #FFF; background-color:transparent; border-bottom: none;   }
#ghUtilLinks form.thread a { color: #006699; padding:4px 2px 4px 4px; border-bottom: none;   }
#ghUtilLinks a:hover , #ghUtilLinks a.first:hover  { text-decoration: underline; border-bottom: none;   }
a#cbdVanguardSites { width: 153px; margin-right: 10px; border: 1px solid #CCC; font: 11px/19px Arial, sans-seriff; color: #96151D; background-color: #FFF; text-transform:none }
a#cbdVanguardSites:hover  { text-decoration:none; }
#cbdVanguardSites .x-ghArrow { color: #96151D; display: inline; width: 9px; height: 4px; overflow:hidden; position: absolute; left: 136px; background-position: 0 -950px; margin-top: 7px; background-color:transparent; }
div#vanguardSitesList { border: 1px solid #CCC; border-top: 0; padding: 5px 3px 9px; background-color: #FFF; width: 153px; position: absolute; top: 20px; }
#vanguardSitesList ul { list-style: none; margin: 0; padding: 0; }
#vanguardSitesList a { height: 21px; font: 11px/21px Arial, sans-seriff; color: #333; text-transform: none; border-bottom: none;   }
#vanguardSitesList a:hover { background-color: #96151D; color: #FFF; text-decoration: none; border-bottom: none;   }
#ghUtilLinks { _margin: 0px 0px 0px 0px; }
#ghUtilLinks .navDropDown a {padding: 0px 23px 0px 9px; }
#ghUtilLinks .navDropDown .yui3-menu-content a.disabled, #ghUtilLinks .navDropDown .yui3-menu-content a.disabled:hover { color:#B3B3B3; background-color:transparent; cursor:default; text-decoration:none; border-bottom:none; }
#ghUtilLinks .option1 .menu-label { width: 153px; margin-right: 10px; border: 1px solid #CCC; font: 11px/19px Arial, sans-seriff; color: #96151D; background-color: #FFF; text-transform:none }
#ghUtilLinks .option1 a:hover  { text-decoration:none; }
#ghUtilLinks .option1 .ghArrow { color: #96151D; display: inline; width: 9px; height: 4px; overflow:hidden; position: absolute; background-position: 0 -950px; margin: 7px 0px 0px 50px; _margin-top: 5px; background-color:transparent; }
#ghUtilLinks .option2 .ghArrow {  display: inline; width: 13px; height: 6px; overflow:hidden; position: absolute; background-position: 0 -675px; top: 8px; }
#ghUtilLinks .option2 .utilNavSelected { line-height: 20px; padding: 0px 21px 0px 9px; border: 1px solid #CCC; border-bottom: 0; color: #96151D; background-color: #FFFFFF; text-decoration:none; cursor: default}
#ghUtilLinks .option2 .utilNavSelected .ghArrow {background-position: 0 -474px; margin-left: 0px; }
#ghUtilLinks .yui3-menu-content { border: 1px solid #CCC; border-top: 0; padding: 5px 3px 9px; background-color: #FFF; width: 153px; position: absolute; top: 21px; }
#ghUtilLinks ul { list-style: none; margin: 0; padding: 0; }
#ghUtilLinks .option2 ul { padding-top: 3px; }
#ghUtilLinks .yui3-menu-content li {width: 100%;}
#ghUtilLinks .yui3-menu-content a { height: 21px; font: 11px/21px Arial, sans-seriff; color: #333; text-transform: none; border: none; padding-right: 0px }
#ghUtilLinks .yui3-menu-content a:hover { background-color: #96151D; color: #FFF; text-decoration: none; border-bottom: none; }
#ghSubUtilSection { background-color: #FFF; background-position: 0px 0px; background-repeat: repeat-x; width: 100%; }
#ghSubUtilContent { position: relative; height: 75px; background-color: #FFF; background-position: 0px 0px; background-repeat: repeat-x; _text-align:left; }
#ghSubUtilLogo { width: 245px; position: absolute; left: 23px; bottom: 2px; padding-left: 5px; }
#ghSubUtilLogo a { display: block; height: 50px; width: 175px; text-decoration: none; border-bottom: none;   }
#ghSubUtilSecondaryLogo { width: 245px; height:50px; position: absolute; left: 145px; bottom: 2px; padding-left:36px; }
#ghSubUtilSecondaryLogo a { border-left: #999 1px solid; display: block; height: 42px; width: 175px; text-decoration: none; border-bottom: none; padding-left:36px; }
#ghSubUtilLinks { width: 405px; position: absolute; left: 258px; _left: 255px; bottom: 15px; padding-left: 9px; font: 11px Arial, sans-serif; }
#ghSubUtilSearch { _width: 295px; position: absolute; right: 0; bottom: 18px; padding-right: 9px; _padding-right: 8px; }
#ghSubUtilContact a { float: right; text-decoration: none; color: #666; letter-spacing: 1px; background-color:transparent; border-bottom: none;   }
#ghSubUtilContact a:hover { color: #96151D; background-color:transparent; border-bottom: none;   }
#ghSubUtilOrders { bottom:15px; float:right; left: 252px; position: absolute; width: 405px}
#ghSubUtilOrders a { top: 10px; float: right; font-size: 11px; letter-spacing: 1px; color: #666; background-color:transparent; border-bottom: none;   }
#ghSubUtilOrders a:hover { color: #96151D; background-color:transparent; text-decoration:none; border-bottom: none;   }
#ghSubUtilOrders a:hover .shoppingCartText { border-bottom: 1px solid #96151D; }
#ghSubUtilOrders img { position: relative; bottom: 1px; right: 5px; }
#ghSubUtilSearch form { float: right;  padding-left: 3px;  _width: 258px; }
#ghSubUtilSearch .shdwbox { display: none; }
#searchForm table.int-only { background-color: #D3E0C5; }
#cbdSearchToggle td { padding: 0; }
#cbdSearchToggle label.jsfRadioLabel { margin: 0 9px 0 0; padding: 0; }
#cbdSearchToggle input.jsfRadioInput { margin:0 7px; padding:0; }
#cbdSearchToggle { margin-bottom: 6px; }
#ghSubUtilSearch #_cbdSearchBoxShdwBox { display: none; }
#ghSubUtilSearch .box { font: 12px Arial, sans-serif; background-repeat: no-repeat; background-position: -1px -440px; padding-left: 23px; border: none; width: 194px; height: 21px; padding-top: 2px; float: left; line-height: normal; border: 1px solid #D4CFC3; }
#ghSubUtilSearch .asNoFocus { color: #B3B3B3; }
#ghSubUtilSearch .searchButton { margin:0px; width:61px; text-align:center; background-color: #666; float:right; }
#ghSubUtilSearch .searchButton a { background-position: 0px -960px; background-repeat: repeat; display:block; padding: 4px 0 5px 0; font:bold 10px Arial, sans-serif; letter-spacing:1px; color:#333333; text-transform:uppercase; background-color:transparent; border: 0; text-decoration: none; line-height: 12px; }
#ghSubUtilSearch .searchButton a:hover { background-position: 0px -981px; border: 0; color: #000000; }
#ghSubUtilSearch .searchButton a.press, #ghSubUtilSearch .searchButton a:hover.press { background-image: none; background-color: #666; color: #FFF; }
#ghFirstNav { height:27px; background-color:#D4CFC3; }
#ghFirstNav #ghMainNav { margin:0px; padding: 0px 18px 0px 22px; z-index:1; }
#ghFirstNav .yui3-menubaritem, #ghFirstNav .yui3-menubar-label { float:left; display:block; }
#ghFirstNav .yui3-menubaritem { margin:0 3px 0 0; padding:0px; }
#ghFirstNav .yui3-menubar-label { height:34px; padding:6px 10px 0; height:27px; font-size:13px; color:#333; border-bottom:none; margin-left: 1px;  }
#ghFirstNav .yui3-menuitem-hassubmenu .yui3-menubar-label { padding-right:27px; }
#ghFirstNav #gh-current.int-only,
#ghFirstNav #ghMainNav .int-only .yui3-menu-label-menuvisible a, #ghFirstNav #ghMainNav .int-only .yui3-menu-label-active a { background-color:#BBCF9D; }
#ghFirstNav #gh-current a.yui3-menubar-label,
#ghFirstNav .yui3-menubaritem .yui3-menu-label-menuvisible a, #ghFirstNav .yui3-menubaritem .yui3-menu-label-active a { color:#96151D; border-bottom:none; }
#ghFirstNav #gh-current a.yui3-menubar-label { background-color:#FFF; }
#ghFirstNav .yui3-menubaritem .yui3-menu-label-menuvisible a, #ghFirstNav .yui3-menubaritem .yui3-menu-label-active a { background-color:#FFF; text-decoration:none; z-index:5020; }
#ghFirstNav .int-only .yui3-menu-label a { background-color:#D3E0C5; }
#ghFirstNav .yui3-menu-label a .x-ghArrow { display:inline; position:absolute; width:9px; height:4px; overflow:hidden; background-position:0 -945px; margin:7px 12px 0px 8px; padding:4px 7px 0px 0px; }
#ghFirstNav .yui3-menu-content .yui3-menu-label-menuvisible a .x-ghArrow , #ghFirstNav .yui3-menu-content .yui3-menu-label-active a .x-ghArrow, #ghFirstNav #gh-current .yui3-menu-label a .x-ghArrow { background-position:0 -950px; }
#ghFirstNav .yui-menu-shadow { display:none; }
#ghFirstNav .iframe_cover_gh { padding:0; clear:both; }
#gh .yui3-menu .yui3-menu { padding-top: 1px; z-index:5010 !important; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); position:absolute; }
#gh .yui3-menu .yui3-menu .yui3-menu-content, #gh .yui3-menu .topscrollbar, #gh .yui3-menu .bottomscrollbar { border:solid 1px #D4CFC3; }
#gh .yui3-menu .yui3-menu .yui3-menu-content { padding:8px 6px; border-top:0; background-color:#FFF; float:left; }
#gh .yui3-menu .yui-menu-body-scrolled { border-color: #666; overflow: hidden; }
#gh .yui3-menu .yui3-menu .yui3-menuitem a,
#gh .yui3-menu .yui3-menu li.yui3-menuitem a:hover,#gh .yui3-menu .yui3-menu li.yui3-menuitem-active a, #gh .yui3-menu li.selected a:hover,
#gh a.disabled, #gh a.disabled:hover { text-decoration:none; border-bottom:none; outline:none;}
#gh .yui3-menu .yui3-menu .yui3-menuitem a { display:block; color:#333; font:13px/18px Arial, sans-serif; padding:0px 6px; text-align:left; }
#gh .yui3-menu .yui3-menu .x-ghSubSiloGroup li.int-only { background-color: #D3E0C5; }
#gh .yui3-menu .yui3-menu ul.ghProminentLink li { display: inline-block; _display:inline; white-space: nowrap;}
#gh .yui3-menu .yui3-menu .cbdGHRow .ghProminentLink li.yui3-menuitem {padding: 0px; }
.ghProminentImage{ display: inline-block; _display: inline; vertical-align: middle; margin: 7px 0px 9px 7px; _margin-bottom: 7px; height: 9px; width: 9px; background-position: 0 -1007px; overflow:hidden; }
.selected .ghProminentImage{ background-position: 0 -1022px; }
.ghProminentLink .yui3-menuitem-active a .ghProminentImage, a:active .ghProminentImage, a:focus .ghProminentImage{ background-position: 0 -1037px; }
#gh a.disabled, #gh a.disabled:hover, #gh .yui3-menu .yui3-menu .yui3-menuitem a.disabled, #gh .yui3-menu .yui3-menu .yui3-menuitem a.disabled:hover { color:#B3B3B3; background-color:transparent; cursor:default; }
#gh .yui3-menu #gh-current .yui3-menu li.selected a { color:#96151D; background-color:transparent; border-bottom:none; }
#gh .yui3-menu .yui3-menu li.yui3-menuitem-active, #gh .yui3-menu #gh-current .yui3-menu li.yui3-menuitem-active, #gh .yui3-menu .yui3-menu .x-ghSubSiloGroup li.yui3-menuitem-active { background-color:#96151D; }
#gh #gh-current .yui3-menu .yui3-menu li.yui3-menuitem-active a:hover , #gh .yui3-menu .yui3-menu li.yui3-menuitem-active a:hover,
#gh .yui3-menu #gh-current .yui3-menu li.yui3-menuitem-active a, #gh .yui3-menu .yui3-menu li.yui3-menuitem-active a { color:#FFF; }
#gh .yui3-menu .yui3-menu li.linkHeader a, #gh .yui3-menu .yui3-menu li.linkHeader a:hover, #gh .yui3-menu #gh-current .yui3-menu .cbdGHColumn li.linkHeader a:hover { color:#333; font: bold 13px/13px Arial,sans-serif; height: 18px; padding-bottom: 6px; cursor:default; background-color:transparent; }
.cbdGHColumn { display: table-cell; vertical-align:top; border-left: 1px solid #D4CFC3; _border-width: 0px; padding: 0 5px; _padding-left: 0px; height: 100%; }
.cbdGHRow { display: table; width: 100%; _width: auto; }
#gh .yui3-menu .yui3-menu-content .yui3-menu .cbdGHRow li.linkHeader a {margin-top: 0px}
#gh .firstGHColumn { border-left: none; padding-left: 0; }
#gh .lastGHColumn { padding-right: 0; }
#gh .yui3-menu .yui3-menu ul.first-of-type { background:none; border: 0px; padding-top: 0px; }
#gh .yui3-menu .yui3-menu ul.last-of-type { padding-bottom: 0px; }
#gh .yui3-menu .yui3-menu ul { width:190px; margin:0px; border-top:1px solid #D4CFC3; padding:5px 0px; }
#gh .yui3-menu .yui3-menu ul.ghProminentLink { padding: 5px 0 0; border-top:1px solid #D4CFC3; margin-top: 12px; width: auto; text-align: right; }
#gh .yui3-menu .yui3-menu li { _width: 190px; margin: 0px; padding: 3px 0px; }
#gh .yui3-menu .yui3-menu .cbdGHColumn ul { padding: 11px 0 0; border: 0px; }
#gh .yui3-menu .yui3-menu .cbdGHColumn ul.first-of-type { padding: 0; }
#gh .yui3-menu li, #gh .yui3-menu li { list-style-type:none; }
#gh .yui3-menu .topscrollbar, #gh .yui3-menu .bottomscrollbar { height:16px; background-color:#fff; background-repeat:no-repeat; clear:both; }
#gh .yui3-menu .topscrollbar { border-top:0; background-position:center -739px; }
#gh .yui3-menu .topscrollbar_disabled { background-position:center -760px; }
#gh .yui3-menu .bottomscrollbar { border-top:0; background-position: center -697px; }
#gh .yui3-menu .bottomscrollbar_disabled { background-position: center -718px; }
.ghLargeImage img { height:75px; width: 190px; }
#gh .yui3-menu .yui3-menu .ghLargeImage { padding-bottom: 0px; }
#gh .yui3-menu .yui3-menu .ghLargeImageLink { padding: 0px; }
#gh .yui3-menu .yui3-menu .ghLargeImageLink a { height: 100%; line-height: normal; padding: 4px 6px; white-space: normal; width: 190px; }
#gh .yui3-menu .yui3-menu a.ghSmallImageLink { cursor:pointer; line-height: normal; min-height: 39px; padding-top: 0px; padding-bottom:0px; white-space: normal; width: 190px; }
.ghSmallImage { float: left; height:28px; margin-right: 6px; margin-top: 5px; margin-bottom: 5px;width: 28px; }
li.ghSmallImageLink { height:45px; }
.smallImageTextContainer {  _position:relative; }
.smallImageTextWrapper > .smallImageTextContainer { display: table; position: static; height:39px; }
.smallImageTextContainer .verticalCenterAlignOuterDiv { position: absolute; top: 50%; }
.smallImageTextContainer .verticalCenterAlignOuterDiv .verticalCenterAlignInnerDiv { position: relative; top: -50%; width:144px; }
.smallImageTextContainer > .verticalCenterAlignOuterDiv { display: table-cell; vertical-align: middle; position: static; }
#gh ul { margin:0px; }
#gh ul li { line-height: 140%; _line-height: 130%; margin:0px; }
.yui3-menu-hidden { visibility:hidden; left: -10000px; top: -10000px; }
.vg-menuBar .yui3-menu ul, .vg-menuBar .yui3-menu li, .vg-menu .yui3-menu ul, .vg-menu .yui3-menu li { margin:0; padding:0; list-style-type:none; }
.yui3-menu .yui3-menu { position:fixed; _position:absolute; z-index:1; }
.yui3-menu .yui3-menu .yui3-menu-content { background-color:#FFFFFF; overflow:hidden; }
.vg-menu {display:inline-block;}
.vg-menu .yui3-menubaritem { display:inline-block; _display:inline; border:none; }
.vg-menu .yui3-menu-horizontal .vg-menuBorder { height:21px; background-color: #FFF; }
.vg-menu .yui3-menu .topscrollbar, .vg-menu .yui3-menu .bottomscrollbar { height: 16px; border: solid 1px; background-color: #fff; background-repeat: no-repeat; width:100%; }
.vg-menu .yui3-menu .topscrollbar { border-bottom: 0; background-position: center -739px; }
.vg-menu .yui3-menu .topscrollbar_disabled { background-position: center -760px; }
.vg-menu .yui3-menu .bottomscrollbar { border-top: 0; background-position: center -697px; }
.vg-menu .yui3-menu .bottomscrollbar_disabled { background-position: center -718px; }
.vg-menu .yui3-menu .topscrollbar, .vg-menu .yui3-menu .bottomscrollbar {background-image:url(../../images/gh2/ghImages_14_253.png);}
.nonCntAlign #ghMainUtil, .nonCntAlign #ghSubUtilContent, .nonCntAlign #gh #ghFirstNav #ghMainNav { margin: 0; }
.x-ghHideOnAll, .x-ghHideOnLrg, .x-ghShowOnSml, .x-ghShowOnMed { display: none; }
