/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

/* =============================================================================
   Custom styles Haven 2012.
   ========================================================================== */

#pageContent
{
  float: left;
  width: 995px;
}
#upperCont
{
  float: left;
  width: 995px;
  
}
#leftCont
{
  float: left;
  width: 190px;
}
#leftContentInner
{
  float: left;
  width: 190px;
  margin: 0 0px 15px 0;

}
.overlay #leftContentInner
{
  text-align:left;
  width:189px;  
}
#rgtCont
{
  float: left;
  width: 805px;
}
#leftContentInner ul
{
  float: left;
  width: 190px;
}
#leftContentInner ul li.LHSMenu A
{
  float: left;
  width: 158px;
  background-position: -150px -300px;
  background-repeat:no-repeat;
  padding: 0 0 0 31px;
  border-bottom: 2px solid #fff;
}
#leftContentInner ul li.LHSMenu ul.subLHS li.subLHSActive A
{
  float: left;
  width: 158px;
  background-position: -150px -400px;
  background-repeat:no-repeat;
  padding: 0 0 0 31px;
  border-bottom: 2px solid #fff;
}
#leftContentInner ul li.LHSMenu A
{
background-color:#EEEAE5;
}

#leftContentInner ul li.LHSMenu .active A
{
  background-color: #3DC3DC;
  
   /*url(/Images/leftArr.jpg) no-repeat;*/
}
#leftContentInner ul li.LHSMenu .last A
{
  border-bottom: 5px #9A9A90 solid;
}
#leftContentInner ul li.LHSMenu a, #leftContentInner ul li.LHSMenu a:visited, #leftContentInner ul li.LHSMenu a:link
{
  float: left;
  width: 153px;
  padding: 8px 6px 8px 31px;
  font-family:HeinemannHVNRoman;
  min-height:46px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  color: #5B5C5D;
  /*line-height:1em;*/
}
#leftContentInner ul li.active.LHSMenu a, #leftContentInner ul li.active.LHSMenu a:visited, #leftContentInner ul li.active.LHSMenu a:link
{
  color: #ffffff;
  min-height:46px;
}

 
/* New style to make icon to the right by W.Chen 27/10/12 */  
.touring-menu a 
{
background-image:url(../images/Regional_tc_icon.jpg)!important; background-position:0 0!important; 
}

.parkSecMain
{
  float: left;
  width: 176px;
  border-bottom: 1px solid #848484;
  padding:5px 0 0 14px;
}
.parkSecMain.parkSecMainLast
{
  border:none;
}
.parkSecMainLast a
{
  background-image:none !important;
}
.parkSecMain h4
{
  width: 95%;
  padding: 0 0 5px 0px;
  color: #897064;
  font-size:18px;
}
.parkSecMain ul
{
  width: 95% !important;
  background-color: #fff;
  padding: 0 0 15px 0;
}
.parkSecMain ul li
{
  float: left;
  list-style: none;
}
.parkSecMain .imgDiv
{
  float: left;
  padding: 0 0 15px 0;
  width: 164px;
}
.parkSecMain p
{
  float: left;
  width: 95%;
  padding: 0 0 10px 0;
  font-size:11px;
  color:#333333;
}
.parkSecMain span
{
  float: left;
  width: 139px;
  background: transparent url(../Images/starBlt.gif.html) no-repeat;
  padding: 0 0 6px 17px;
  color:#4D4D4D;
  font-size:12px;
}
.parksSecLwr
{
  float: left;
  width: 100%;
}
.parksSecLwr h4
{
    color: #897064;
    font-size: 18px;
    padding: 0 0 5px 0;
    width: 95%;
}
.parksSecLwr a
{
  float: left;
  width: 174px;
  margin: 0;
}
.parksSecLwr a img
{
  float: left;
  width: 100%;
}
.prkRtUpTop .imgDiv
{
  float: left;
  margin: 13px 27px 0 0;
  width: 99px;
}
.prkBotLft
{
  float: left;
  width: 100%;
  text-align:left;
}
.prkBotLft p
{
  /*float:none;*/
  width:100%;
}

.prkRtMidTop a,.prkRtMidTop p a:visited,.prkRtMidTop p a:hover
{
  float: left;
  width:372px;
}
.prkRtMidTop a img
{
  float:left;
  width:372px;
}
.midBotRt h3, .midBotLt h3
{
  float: none;
  width: auto;
  padding: 3px 0 5px 0;
  font-size:23px; 
}
.topBorder
{
    border-top: 1px solid gray;
    padding-top: 18px;
}
#accommodation .topBorder {
    border-top:none;
}
.midBotRt h2
{
  color:#333333;
  font-weight:normal;
  font-size:27px;
  float:none;
  width:auto;
  padding-bottom:11px;
  padding-top:6px;
  line-height:1.3;
  
}
.midBotRt h3.gryClr
{
  color:#333333;
  padding-top:6px;
  padding-bottom:11px;
  font-size:27px;
  width:auto;
  line-height:1.3;
}
.midBotRt p,.midBotRt DIV
{
  width:auto;
  color: #848484;
    /*float: none;*/
    font-family: HeinemannHVNRoman;
  font-size:19px;
  font-weight:normal;
  line-height:1.3;
}

.midBotLt h2
{
  color:#333333;
  font-weight:normal;
  font-size:27px;
  float:none;
  width:auto;
  padding-bottom:11px;
  padding-top:6px;
  line-height:1.3;
  
}
.midBotLt h3.gryClr
{
  color:#333333;
  padding-top:6px;
  padding-bottom:11px;
  font-size:27px;
  width:auto;
  line-height:1.3;
}
.midBotLt p,.midBotLt DIV
{
  width:auto;
  color: #848484;
    /*float: none;*/
    font-family: HeinemannHVNRoman;
  font-size:19px;
  font-weight:normal;
  line-height:1.3;
}

#FeatureImage1 UL
{
	list-style-type: disc;
	
}

#FeatureImage1 LI
{
	list-style-type: none;
	font-size:90%;
}


.prkRtMidBot .midBotRt p, .prkRtMidBot .midBotRt DIV
{
  width:450px;
  color: #808080;
    font-family:arial;
  font-size:19px;
  font-weight:normal;
  line-height:1.3;
}

.prkRtMidVisitsearch .midBotRt p
{
  width:100%;
  color: #808080;
    float: left;
    font-family:arial;
  font-size:19px;
  font-weight:normal;
  line-height:1.3;
}
.midBotRt p a,.midBotRt p a:visited,.midBotRt p a:hover
{
  width: 75px;
  height: 15px;
  /*float: none;*/
}
.rhsOfrNew
{
  float:left;
  width:239px;
  padding:10px 0 15px 0;
  border-bottom:1px solid gray;
}
.rhsOfrNew img
{
  width:239px;
}
.prkRtMidTopGalIcons {
    float: left;
    padding: 25px 27px 25px 27px;
    width: 751px;
    
}

#ourparks .prkRtMidTopGalIcons
{
    padding: 0 27px 14px;
}
.prkRtMidTopGalIcons .imgDiv {
float:right;
margin-left:34px;
width:277px;

}
.prkRtMidTopGalIcons .midBotRt {
    margin:0;
    float:left;
    text-align:left;
    width:751px;
} 
.prkRtMidVisitsearch {
    float: left;
    padding: 18px 27px 0 27px;
    width: 751px;
}
.prkRtMidVisitsearch .imgDiv {
    float: left;
    width: 444px;
    height:296px;
}
.prkRtMidVisitsearch .searchElements
{
  float:left;
  
  position:relative;
  top:-280px;
  left:15px;  
  width:200px;
}
.prkRtMidVisitsearch .imgDiv h3
{
  
  color:#ffffff;
  font-size:1.5em;
  width:92%;
  margin-bottom: 85px;
}
.prkRtMidVisitsearch .imgDiv h2
{
  color:#ffffff;
  margin-bottom: 85px;
  font-weight:normal;
  font-size:30px;
}
.prkRtMidVisitsearch .imgDiv select {
    float: left;
    font-size: 0.9em;
    width: 92%;
    margin-top: 10px;
}
.prkRtMidVisitsearch .midBotRt {
    float: left;
    margin-right: 24px;
    width: 283px;
    padding-top:7px;
} 
.prkRtMidVisitsearch .findIdeasbtn,.parkSecMainLast .directionsMapbtn {
   /* background: url("/Images/findIdeas.gif") no-repeat scroll 0 0 transparent !important;*/
  float:left;

  background-position:0px -1400px;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 17px;
    height: 30px;
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 10px;
    color:White;
    width:auto;
}

.parkSecMainLast .directionsMapbtn {
font-size:15px;
height:19px;
margin-top:-4px;
padding-top:5px;
width:124px;
}

.midBotRt ul {
    /*float: none;*/
    margin: 0;
    padding: 0 0 0 0;
    width: auto;
}
.midBotRt ul li {
    color: #848484;
    /*float: none;    */
    padding: 0 0 10px 19px;
    width: auto;
    font-family: HeinemannHVNRoman;
  font-size:19px;
  line-height:1.3;
}
#mainPageWrapper {
    margin: 0 auto;
    text-align: left;
    width: 995px;
}
#mainPageWrapperInner {
    background-color: #FFFFFF;
    float: left;
    position: relative;
    width: 995px;
}

/*banner and availability box styles starts*/
#banner-parks {
    background: none repeat scroll 0 0 transparent;
}
.bannerLeft {
    clear: both;
    float: left;
    height: 329px;
    margin-top:-7px;
    width: 742px;
}
.ie7 .bannerLeft {
    margin-top:-9px;
}
#parksBannerRightWrapper {
    float: right;
    left: 741px;
    position: absolute;
    top: 81px;
    z-index: 999;
}
.ie7 #parksBannerRightWrapper
{
  /*top:79px;*/
}

/*banner and availability box styles starts*/

/*2012 Booking box styles starts here*/

#tbl-book {
clear:both;
float:left;
margin:4px 10px 0;
width:93%;
font-size:11px;

}

#tbl-book label {
clear:both;
color:#000000;
float:left;
/*font-size:11px;*/
line-height:1.1em;
padding-bottom:2px;
}

#tbl-book select, #tbl-book input {
clear:both;
float:left;
}

.homepageSelectBoxWide {
font-size:10px;
width:212px;
}

.homepageSelectBoxPark {

font-size:10px;
margin-top:3px;
width:212px;
}
#tbl-book .options {
width:70px;
float:left;
}
.homepageSelectBoxSmall {

font-size:10px;
width:38px;
}

#tbl-book .radio {

width:55px;
float:left;
}
.rbYes, .rbNo {
width:15px;

}
#tbl-book .radio label {
clear:none;
color:#000000;
float:left;
height:12px;
margin:0px 0 0 5px;
}
.ie7 #tbl-book .radio label
{
  margin:3px 0 0 5px;
  
}
#tbl-book .footlink {
width: 211px;
float:left;
margin-top:10px;
}
.ie7 #tbl-book .footlink
{
  margin-top:5px;
}
.ie8 #tbl-book .footlink
{
  margin-top:10px;
}
#tbl-book .footlink a {
color:#000000;
display:block;
/*font-size:11px;*/
font-weight:bold;
}

.calendarDiv {
cursor:pointer;
display:inline;

margin:0 20px 0 5px;/*2px 18px 0 5px;*/

float:right;
height:18px;/*21px;*/
width:32px;/*33px;*/
/*background-position:-700px -100px;*/
background-position:-100px -1150px;
}
.ie7 .calendarDiv 
{
  margin-top:16px;
}
  
.txtDate {
height:15px;/* !important;*/
margin-top:-1px;
}

.arrivalDateContainerTxtBox {
  
  font-size:10px;
  margin:1px 0 0;
  padding: 0 0 0 2px;
  width: 64px;
  height: 15px;  
}
#tbl-book .top-label {
  float: left;
    vertical-align: bottom;
    width: 212px;
}
#tbl-book .title h2
{
  color:#fff;
  font-size:17px;
}
#tbl-book .date {
  
  width:211px;
  float: left;
  margin:0px 0 8px 0;
}
.bannerRight {
  float:left;
  height: 341px;
  width:253px;
  background-color: #D0C4B4;
  padding-bottom:8px;
}

#tbl-book .title {
  height:25px;
  width:100%;
  float:left;
  margin-bottom:9px;
}
#tbl-book .title img
{
  width:212px;
}
#tbl-book .dropdown {
  
  margin:0px 5px 5px 0;
  width: 212px;
  float:left;
}

#tbl-book .optn 
{
  width:211px;
  float: left;
  margin:0px 0 8px 0;
}
input.searchBtn {
  /*background:url("/Images/srchBtnNew.gif") no-repeat scroll left top transparent;*/
  border:medium none;
  background-position: -0 -1050px;
  height: 33px;
    width: 116px;
    float: right !important;
    text-indent:-9999px;
    font-size:0px;
    display:block;
    line-height:0px;
}
#tbl-book .submtSrch
{
  float:right;
  width:55%;
}

.awning {float: left; margin: 0 0 5px; width: 100px;}
.inLineTxt{float: right;margin: -18px 0 0 22px;width:75px;}

#tbl-book .submissionCell 
{
  height:auto;
  width:auto;
}
#tbl-book .calndr
{
  width:128px;
  float:left;
  
}
#tbl-book .nghts
{
  width:80px;
  float:left;
  
}
#tbl-book .brngDog,#tbl-book .radioBtn
{
 float: left;
    width: 211px;
}
/*2012 Booking box styles ends here*/

/*#prkRtUpperCont
{
  float: left;
  width: 751px;
  margin: 0px 27px 14px 27px;
  background-color: #fff;
}*/
.prkRtUpTop
{
  float: left;
  width: 751px;
  padding: 0 0 0px 0;
  background-color: #FFFFFF;
    padding: 0 27px 14px;
}
.prkRtUpTop h1, #ourparks .prkRtMidTopGalIcons h1
{
  float:left;
  margin-top:25px;
  width: auto;
  vertical-align: bottom;
  color: #998073;
  padding:0 0 18px 0;
}

.prkRtUpTop h1.smallWidth
{
width:640px;
}

.ie7 .prkRtUpTop h1.smallWidth
{
width:88%;
}

/*.prkRtUpBot
{

  width: 751px;
}
.prkRtUpBot h3
{
  font-size:28px;
  width: 751px;
  padding: 0 0 10px 0;
  color: #333333;
  

}
.prkRtUpBot h2
{
  font-size:23px;
  width: 751px;
  padding: 0 0 25px 0;
  color: #333333; 
  font-weight:normal;

}
.prkRtUpBot p
{
  float: left;
  color: #848484;
  font-size: 19px;
  font-family:Arial Regular;
}
.prkRtUpBot .OfferImage
{
  float: right;
  margin:0 0 0 34px;
}
.prkRtUpBot p.fullWdth
{
  width:100%;
  padding-bottom:20px;
}

*/
.prkRtUpTop h2, #ourparks .prkRtMidTopGalIcons h2
{
  font-size:23px;
  width: 751px;
  padding: 0 0 25px 0;
  color: #333333; 
  font-weight:normal;
}
.prkRtUpTop h3
{
  font-size:28px;
  width: 751px;
  padding: 0 0 10px 0;
  color: #333333;
}
.prkRtUpTop p,.prkRtMidTop p, .prkRtUpTop DIV, #ourparks .prkRtMidTopGalIcons DIV, #ourparks .prkRtMidTopGalIcons p
{
  float: left;
  
  
  color: #848484;
  width:100%;
  text-align:left;
  line-height:1.4;
  font-family: Arial;
    font-size: 19px;
}
.prkRtUpTop .OfferImage, .prkRtMidTop .OfferImage, #ourparks .prkRtMidTopGalIcons .OfferImage
{
    float: right;
    margin: 0 0 0 34px;
    width:204px;
}
.prkRtUpTop p.fullWdth
{
  width:100%;
  padding-bottom:20px;
}


#prkRtMiddleCont
{
  float: left;
  width: 805px;
}
.prkRtMidTop
{
  width: 751px;
  float: left;
  padding: 20px 27px 20px 27px;
}
.prkRtMidTop h2
{
  color: #333333;
    font-size: 27px;
    font-weight: normal;
    padding: 0 0 25px;
    /*width: 751px;*/
    width:auto;
}
.prkRtMidTop h3
{
  width: 100%;
  padding: 0 0 10px 0;
  color: #3DC3DC;
  font-size: 24px;
}

.prkRtMidTop ul#adCont
{
float:left;
  width:758px;
}
.prkRtMidTop ul#adCont li
{
  float:left;
  width:379px;
  padding:0 0 8px 0;
  height:244px;
}
#adCont span.heading
{
    color: #FFFFFF;
    float: left;
    font-size: 35px;
    margin: 0 0 0 13px;
    position: relative;
    top: -225px;
    width: 85%;
    line-height:0.9;
    font-family:HeinemannHVNRoman;
    height:60px;
}
#adCont span.description
{
    color: #000000;
    float: left;
    font-size: 19px;
    margin: 0 0 0 13px;
    position: relative;
    top: -150px;
    width: 90%;
    font-family:HeinemannHVNRoman;
}

.prkRtMidTop a.lft,.prkRtMidTop p a.lft:visited,.prkRtMidTop p a.lft:hover
{
  margin-right:7px;
}
.lnkImgCont A
{
  height:244px;
  width:372px;
}
.prkRtMidBot
{
  float:left;
  width:805px;
  /*padding:20px 0 20px 0;*/
  padding: 18px 0 12px 0;
}
.prkRtMidBot .imgDiv
{
  float:left;
  margin-right:27px;
  width:277px;
}

.midBotRt
{
  float:left;
  width:461px;
  margin-right:40px;
}
#prkRtBottomCont
{
  float:left;
  width:791px;
  margin:0 14px 0 0;
}
#prkRtBotRgt
{
  float:left;
  width:239px;
}
#prkRtBotLft
{
  float:left;
  width:521px;
  margin:0 31px 0 0;
}
/*#botHead
{
  float:left;
  background-color:#EFECE7;
  padding:11px 0 0 20px;
  width:500px;
  min-height:50px;
}
#botHead h2
{
  width:100%;
  color: #3DC3DC;
    font-size: 22px;
    font-weight:normal;
}*/
#botLwr
{
  float:left;
  width:520px;
  position:relative;
}
#prkRtBotLft h2
{
    font-size: 22px;
    font-weight:normal;
    background-color: #EFECE6;
    float: left;
    min-height: 50px;
    padding: 11px 0 0 10px;
    width: 510px;
}
.headRHSImg
{
  float:right;
  width:105px;
  margin:13px 0 0 0;
}



#lstPrkCont
{
  float:left;
  margin:20px 39px 10px 0;
  width:766px;
}
.lstItemPrkData
{
  float:left;
  width:100%;
}
.lstItemPrkData .lstItemPrkLft
{
  float:left;
  width:277px;
  padding:0 27px 20px 0;
}
.lstItemPrkData .lstItemPrkRgt
{
  float:left;
  width:462px;
  padding:20px 0 20px 0;
  border-top:solid 1px #CCCCCC;
  min-height: 151px;
  font-family: arial;
  font-size: 17px;
    line-height: 1.2;
}
.last .lstItemPrkRgt
{
  border-bottom:none;
}
.lstItemPrkRgt h3
{
  width:100%;
  padding:0 0 10px 0;
    font-size: 23px;
}
.lstItemPrkRgt p, .lstItemPrkRgt UL
{
  float:left;
  width:100%;
  color:#808080;
  font-family: arial;
    font-size: 17px;
    padding-bottom: 5px;
    line-height:1.2;
}

.lstItemPrkRgt UL LI /* .lstItemPrkCenter UL LI added by offshore 0n 17-11-2011*/
{
width:95%;
background-position:-175px -2143px;
padding-left:15px;
}

.lstItemPrkRgt .telMoreLnk,.lstItemPrkCentre .telMoreLnk, .midBotRt .telMoreLnk /* .lstItemPrkCenter telMoreLnk added by offshore 0n 17-11-2011*/
{
  float:left;
  width:100%;
  padding:5px 0 0px 0;
}
.lstItemPrkRgt .telMoreLnk A, .lstItemPrkCentre .telMoreLnk A, .midBotRt .telMoreLnk A  /* .lstItemPrkCenter telMoreLnk A added by offshore 0n 17-11-2011*/
{
  float:right;
  width:auto;
  font-family:HeinemannHVNRoman;
  font-size:12px;
  color:#fff;
  height: 20px;
    padding-left: 30px;/*25px;*/
    padding-right: 10px;
  padding-top:5px;
  border:medium none;
    background-position: 0 -1550px;
}
.lstItemPrkRgt .telMoreLnk A.sameWindowLink, .midBotRt .telMoreLnk A.sameWindowLink
{
    background-position: 0 -1500px;
} 
.interactiveBanner {
    clear: both;
    float: left;
    height: 323px;
    overflow: hidden;
    width: 742px;
}
.highlightsMainImageFrame {
    height: 100%;
  
    width: 100%;
}

.highlightsMainImage {
    height: 323px;
    overflow: hidden;
    width: 742px;
}
.subLHS
{
  width:190px;/*183px*/
  float:left;
  position:relative;
  /*left:-31px;*/
  display:none;
}
#leftContentInner ul li
{
float:left;
}
#leftContentInner ul li.active.LHSMenu .subLHS
{
  display:block;
}
#leftContentInner ul li.LHSMenu ul.subLHS A
{
  
  width: 190px; 
}
#leftContentInner ul li.LHSMenu ul.subLHS li A
{
    background-color: #EEEAE5 !important;
   /* 
    border-bottom:medium none !important;
    border-bottom:none;*/
    float: left;
    padding: 0 0 0 31px;
    width: 158px;
    background-position:0px -1600px;
    background-repeat:no-repeat;
    /*height: 30px;   */
}
#ajaxSpider #leftContentInner ul li.LHSMenu.last A
{
border-bottom:medium none;
}
#leftContentInner ul li.LHSMenu A, #leftContentInner ul li.LHSMenu ul.subLHS li A, #ajaxSpider #leftContentInner ul li.LHSMenu A, #ajaxSpider #leftContentInner ul li.LHSMenu ul.subLHS li A
{
  border-bottom:2px solid #FFFFFF;
}
#leftContentInner ul li.LHSMenu.last
{
  border-bottom:8px solid #99998F;
}
#leftContentInner ul li.LHSMenu.last A, #leftContentInner ul li.LHSMenu.last ul.subLHS li.lastChild A
{
  border-bottom:none;
}


#leftContentInner ul li.LHSMenu ul.subLHS li a, #leftContentInner ul li.LHSMenu ul.subLHS li a:visited, #leftContentInner ul li.LHSMenu ul.subLHS li a:link, #leftContentInner ul li.LHSMenu ul.subLHS li a:hover 
{
color: #5B5C5D;
min-height:24px;
padding: 3px 6px 2px 31px;
width:152px;
font-size:14px;
font-weight:normal;
}

/*#leftContentInner ul li.LHSMenu DIV.subLHS ul LI.subLHSActive
{
background: url("/Images/activesubLHS.gif") no-repeat scroll 0 0 #E5F9FC;
}*/

#leftContentInner ul li.LHSMenu:hover a
{
  color:#FFFFFF;
}
#leftContentInner ul li.LHSMenu ul.subLHS li A:hover
{
  background-position:-150px -400px;
}


div.bannerNav {
    float: left;
    height: 82px;
    left: 606px;
    position: absolute;
    top: 350px;
    width: 138px;
    z-index: 50;
    visibility:hidden;
}
.oneItem
{
width:69px !Important;
left:674px !Important;
}
div.bannerNav ul
{
  float:left;
  width:100%;
  margin:0;
  padding:0;
}
div.bannerNav ul li
{
  float:left;
}
.ParksAwardsImage {
  float:left;
  height:46px;
  margin-top:8px;
  width:32px;
}
.jcarousel-skin-HorizontalSliding LI
{
  float:left;

}
.jcarousel-skin-HorizontalSliding .jcarousel-item-horizontal {
  margin-left:0;
  margin-right:5px !important;
}

.jcarousel-skin-HorizontalSliding .jcarousel-item {

  width:170px;
  height:255px;
  background-color:#EFECE7;
}

.jcarousel-skin-HorizontalSliding .jcarousel-clip-horizontal {

  width:520px;
  flaot:left;
  
}

.jcarousel-skin-HorizontalSliding .jcarousel-container-horizontal {
  width:520px;

}

.jcarousel-skin-HorizontalSliding {
  width:520px !important;
  float:left;
  
  
  

}
.jcarousel-list, .HorizontalSliding -list-horizontal
{
float:left;
}

.jcarousel-skin-HorizontalSliding .jcarousel-prev-disabled-horizontal, .jcarousel-skin-HorizontalSliding .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-HorizontalSliding .jcarousel-prev-disabled-horizontal:active {
display:none !important;
}

.jcarousel-skin-HorizontalSliding .jcarousel-prev-horizontal {
  
  background-position:0 -1300px;
  cursor:pointer;
  height:42px;
  left:-20px;
  position:absolute;
  top:3px;
  width:45px;
  float:left;
    
}

.jcarousel-skin-HorizontalSliding .jcarousel-next-disabled-horizontal, .jcarousel-skin-HorizontalSliding .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-HorizontalSliding .jcarousel-next-disabled-horizontal:active {
display:none !important;
}

.jcarousel-skin-HorizontalSliding .jcarousel-next-horizontal {
  
  background-position:-50px -1300px;
  cursor:pointer;
  height:42px;
  position:absolute;
  right:-12px;
  top:3px;
  width:45px;
  
}
#banner-video #player1
{
  width:742px;
  height:323px
}

.rhsOfrNew .submit, .rhsOfrNew .submit
{
  float:left;
    color: #ffffff;
    height: 16px;
    width: 75px;/*76px;*/
    background-position: 0 -1100px;
    border: medium none;
    padding:0px 5px 0px 22px;
    clear:both;
    text-indent:-9999px;
    font-size: 0;
    display:block;
  line-height: 0;
  margin-top:10px;
  cursor:pointer;
  
}
.brochure .submit
{
margin-top:15px;
background-position: 0 -2315px;
width:115px;
}
.characterCount
{
display:none;
width:0px;
height:0px;
}
.newsletterSignUp .submit
{
  margin-top:0px;
}
/*
.brochureImg
{
  float:right;
  display:inline;
  width:70px;
  
  
  
}
.brochureImg img
{
  width:70px;
}
.newsletterSignUp
{
  width:212px;
  margin-right:27px;
}
.newsletterSignUp h4
{
    color: #5E8DC0;
    font-size: 23px;
    font-weight: normal;
    width: 100%;
    
}
.newsletterSignUp p
{
    float: left;
    font-size: 12px;
    width: 100%;
    margin:8px 0 0 0;
}*/
.rhsOfrNew .txtbox
{
    color: #666666;
    float: left;
    font-size: 12px;    
    width: 75%;
    margin-bottom:1px;
    margin-top:5px;
    text-indent:2pt;
    height:18px;  
}
.rhsOfrNew .chkBox
{
    width:75%;float:left;margin-top:5px;margin-bottom:5px;
}
.rhsOfrNew p {
    float: left;
    font-size: 12px;
   margin: 2px 0 0;
  
    width: 100%;
}
.rhsOfrNew p.brochure, .rhsOfrNew h4.brochure
{
  width:149px;
  margin-right:20px;
  overflow:hidden;
  display:inline;
}


.rhsOfrNew h4 {
    color: #5E8DC0;
    font-size: 23px;
    font-weight: normal;
 padding-bottom:2px;/* added  on 18-11-11 by offshore */
}
.rhsOfrNew h4.brochure A, .rhsOfrNew h4.brochure A:active
{
color: #5E8DC0;
}
.rhsOfrNew img {
    width: 70px;
    display:inline;
    float:right;
}
.brochureImg
{
  float:none;
}
.rhsOfrNew img.prefernceImage
{
width:150px;
height:16px;
}
.rhsOfrNew.newsletter
{
  float:left;
}
#successSpan1 IMG,#successSpan2 IMG, #successSpan3 IMG
{
  width:14px;
  height:14px;
  float:left;
  margin-top:10px;
  margin-left:8px;
}
.newsError
{
  float:left;
  /*margin-left:-15px;*/
  width:100%;
}

.regError {
color:#FF0000;
float:left;
font-size:85%;

line-height:1.4em;
margin:4px 0 0;
}

.MoreInfoLinkHide
{
  display:none;
}

.FaqTextSectionAreas {
  float:left;
  margin-bottom:18px;
  margin-top:10px;
  width:100%;
}
.clickFaq
{
  border-top:1px solid #CCCCCC;
  float:left;
  width:94%;
  margin-left:25px;
}
.clickFaq h3
{
  font-size:24px;  
    font-size: 22px;    
    margin: 0;
    padding:0;
  cursor:pointer;
}

.MoreFaq
{
  float:right;
  margin-top:5px;
  /*background:url("/Images/moreBtnNw.gif") no-repeat;*/
  background-position: 0 0;
  width:60px;
  height:16px;
  display:none;
}
.MoreFaqHide
{
  float:right;
  margin-top:5px;
  /*background:url("/Images/lessBtnNw.gif") no-repeat;*/
  background-position: 0 -25px;
  width:60px;
  height:16px;
}
.faq_inner_section_middle
{
  float:left;
  width:94%;
  margin-left:25px;
  padding-bottom:10px;
}

.tabFree {
  float:left;
  width:100%;
}

.headingCont {
  float:left;
  margin-bottom:7px;
  width:100%;
}

.headingCont h3 {
  color:#0178BC;
}

.rowWrapper {
  float:left;
  width:100%;
  margin-bottom:5px;
}

.firstColumnContents {
  color:Black;
  float:left;
  font-size:120%;
  font-weight:bold;
  line-height:1.3em;
  width:280px;
}

.secondColumnContents {
  color:#606060;
  float:left;
  font-size:120%;
  line-height:1.4em;
  width:382px;
}

.firstlargeColumn {
  color:Black;
  float:left;
  font-size:120%;
  height:5px;
  line-height:1.3em;
  width:280px;
}

.secondColumnTitle {
  color:Black;
  float:left;
  font-size:120%;
  font-weight:bold;
  line-height:1.3em;
  margin:0 7px 0 0;
  width:185px;
}

.thirdColumnTitle {
  color:Black;
  float:left;
  font-size:120%;
  font-weight:bold;
  line-height:1.3em;
  margin:0 7px 0 0;
  width:185px;
}

.secondColumnContentsSmallWidth {
  float:left;
  font-size:120%;
  line-height:1.4em;
  width:192px;
}

.thirdColumnContents {
  float:left;
  font-size:120%;
  line-height:1.4em;
  width:192px;
}

.FaqInnerTextSection {
  float:left;
  font-size:120%;
  width:460px;
}

.FaqInnerTextSection p {
  margin:0 0 8px;
  padding:0;
}

.FaqInnerTextSection ul {
  float:left;

  width:100%;
}

.FaqInnerTextSection li {
  color:#606060;
  
  list-style-type:square;
  margin-left:15px;
  margin-top:5px;
}

.MoreInfoLink
{
  /*background:url("/Images/moreBtnNw.gif") no-repeat;*/
  background-position: 0 0;
  width:60px !important;
  height:16px !important;
  display:none;
  position:absolute;
  display:inline;
  margin-top:3px;
  margin-left:5px;

}
.LessInfoLink
{ 
  /*background:url("/Images/lessBtnNw.gif") no-repeat;*/
  background-position:0 -25px;
  width:60px !important;
  height:16px !important;
  display:block !important;
  /*position:absolute;*/
  margin-top:5px;
  margin-left:5px;
  /*float:left;*/ 
}
.FeatureUpperImage
{
  float:left;
  background-repeat:no-repeat;  
  width:275px; 
  height:193px;
  margin-bottom:5px;
  cursor:pointer;
}
.FeatureLowerImage
{
  float:left;
  background-repeat:no-repeat;
  width:275px;
   height:193px;
   cursor:pointer;
}

SPAN#VideoLink 
{
  float: left;
  display: block;
  height: 162px;
  background-repeat:no-repeat;
  /*background-position: -170px -260px;*/
  background-position: 0 -750px;
  margin:30px 0 0 40px;
  width: 235px;
  cursor:pointer;
}
SPAN#GalleryLink
{
  float: left;
  display: block;
  height: 162px;
  background-repeat:no-repeat;
  /*background-position: -340px -260px;*/
  background-position: 0 0;
  margin:30px 0 0 40px;
  width: 235px;
  cursor:pointer;
  
}

.bannerNav UL LI A#video
{
  /*background-position: 0 -300px;*/
  background-position: 0 -950px;
    float: left;
    height: 82px;
    width: 68px;
}

.ie7 .bannerNav UL LI A#video
{
  /*background-position: 0 -300px;*/
  background-position: 0 -950px;
    float: left;
    height: 80px;
    width: 68px;
}
.bannerNav UL LI A#gallery
{
  /*background-position: -100px -300px;*/
  background-position: 0 -200px;
    float: left;
    height: 82px;
    width: 68px;
}
.ie7 .bannerNav UL LI A#gallery
{
  /*background-position: -100px -300px;*/
  background-position: 0 -200px;
    float: left;
    height: 80px;
    width: 68px;
}

.bannerNavBottomBorder
{
  float: left;
  width: 742px; 
  background-color:#99998F;
  height:6px;
} 

#HorizontalSliding img
{
  float:left;
}
#HorizontalSliding LI
{
    float: left;
    height: 250px;
    margin-right: 4px;
    width: 170px;
    background-color:#EFECE7;
    position:relative;
}
#HorizontalSliding span {
color:#4F4F4F;
float:left;
font-size:14px;
font-weight:normal;
margin:11px 0 0 4px;

width:163px;
}


#HorizontalSliding span strong {
color:#333333;
float:left;
min-height:30px;
width:100%;
}

#HorizontalSliding span.lwrArrow {
    float: left;
    background-position: 0 -1400px;
    height: 30px;
    width: 30px;
    margin:0;
    position:absolute;
    left:0px;
    bottom:0px;

}
.ie7 #HorizontalSliding span.lwrArrow 
{
/* margin:113px 0px 0px -165px;*/
margin:0;
}

#HorizontalSliding a.thickbox span.lwrArrow, #HorizontalSliding a.newWindow span.lwrArrow
{
background-position: 0 -1450px;
}
#HorizontalSliding a
{
  float: left;
    height: 250px;
    width: 170px;
    cursor:pointer;
}
.regionTopContent{
    background-color: #E5F8FC;
    float: left;
    padding: 5px 0 23px 21px;
    width:784px;
}
.regionTopContent h2
{
  color: #333333;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
    padding-bottom: 11px;
    padding-top: 6px;
    float:left;
    width:100%;

}
.regionTopContent p,.searchTxt {
    color: #848484;
    font-family: HeinemannHVNRoman;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.3;
    width:68%;
    float:left;
}

.regionTopContent ul {
    margin: 0;
    width:535px;
    float:left;
}


.regionTopContent ul LI
{
    background: none repeat scroll 0 0 #EEEAE5;
    float: left;
    height: 130px;
    margin-right: 4px;
    padding: 0;
    width: 103px;
    cursor:pointer;
  
}
.regionTopContent ul LI strong{
    color: #333333;
    float: left;
    font-family: HeinemannHVNRoman;
    font-size: 16px;
    min-height: 44px;
    padding-left: 5px;

    font-weight:normal !important;
}

.regionTopContent ul LI span.lwrArrow
   {
    background-position: 0 -50px;
    background-repeat: no-repeat;
    float: left;
    font-size: 11px;
    height: 18px;
    padding-left: 22px;
    width: 83px;    
    padding-top:2px;
}

.regionTopContent ul LI A
   {
    
    float: left;
    font-size: 11px;
    height:130px;
    cursor:pointer;
    
}
.regionTopContent ul li.selected
{
  background-color:#D1F7FD;
}
.regionTopContent ul li.selected span.lwrArrow {
    background-image: url("../Images/common.png");
    background-position: 0 -1950px;
    text-indent:-999em;
}
.regionTopContent ul LI:hover
{
  background-color:#D1F7FD;
}

.regionTopContent #SearchBox
{
  float:left;
  background-color:#D1F7FD;
  width:235px;
  height:130px;
  position:relative;
}
#ptvRtMiddleCont {
    border-top: 16px solid #3DC3DC;
    float: left;
    width: 805px;
}
.result-count,  .result-count-bottom
{
    float: left;
    margin:10px 0 5px 0;
  padding: 0 5px 0 22px;
    width: 778px;
        
}


.prev
{
    float: left;
    width: 25px;
    height: 25px;
    margin:0 5px 0 0;
}

.next
{
    float: right;
    width: 25px;
    height: 25px;
    margin:0 0 0 5px;
}
.result-count li.prev, .result-count li.next, 
.result-count-bottom li.prev, .result-count-bottomt li.next,
{
  width:auto;
}
.result-count li.prev a, .result-count-bottom a
{
  background-position: -150px -2400px;
}

.result-count li.next a, .result-count-bottom li.next a
{
  background-position: 35px -2400px;
}

.result-count ul.pageNav, .result-count-bottom ul.pageNav  
{
  width:778px;
  float:left;
}

.next a
{
float:right;
height:25px;
/*width:60px;*/
padding-right:30px;
*padding-right:1.5em; /* IE 7 fix */
position:relative;
font-size:17px;
padding-top:5px;
/* text-align:right; */
/* width:4em; */
}

.prev a
{
float:left;
/*width:85px;*/
height:25px;
padding-left:30px;
font-size:17px;
padding-top:5px;
}
.labelName
{
display:none;
}
.pagerClickCls
{
display:none;
}
UL#Categories LI IMG
{
width:102px;
height:64px;
}
.result-count p,.result-count-bottom p
{
    float: left;
    margin:-21px 0 0 100px;
    width: 55%;
    font-size:17px !important;
    text-align:center;
}
.searchTxt
{
margin:-25px 0 0 0;
}
#SearchBox #ddlRegions, #SearchBox #ddlCategories, #SearchBox #ddlMonths
{
  width:214px;
  float:left;
  margin-top:11px;
  margin-left:8px;  
  font-size:0.825em;
}
#SearchBox .searchBoxDropDown
{
  width:214px;
  float:left;
  margin-top:11px;
  margin-left:8px;  
  font-size:0.825em;
}
#SearchBox input.ptvSearch
{
  background-color:#3DC3DC;
  background-position:0 -1950px;
  border:medium none;
  bottom:0;
  color:#FFFFFF;
  display:block;
  float:left;
  height:20px;
  left:0;
  padding-left:25px;
  padding-right:5px;
margin-top:20px;
}
.ie7 #SearchBox input.ptvSearch, .ie8 #SearchBox input.ptvSearch 
{
margin-top:15px;
}


.PTVSearchResult {
    border-top: 1px solid;
    float: left;
    margin-left: 20px;
    padding: 15px 0 15px 0;
    width: 780px;
}


.PTVSearchResult .LeftSection {
   float:left;
   width: 325px;
   margin-right:5px;
  
   
}
.PTVSearchResult .LeftSection a{
  
  text-decoration:underline;
  
   
}


.PTVSearchResult .RightSection {
    float: left;
    width: 450px;
    background-color:#F4F1EE;
    height:296px;
    
    }
.PTVSearchResult p
{
  /*width:520px;*/
  width:100%;
  line-height:1.4em;
  font-family:HeinemannHVNRoman;
  font-size:15px;
  float:left;
  margin-top:10px;
  padding-top:5px;
  
}

.LeftSection h3 {
    color: #3DC3DC;
    float: none;
    font-size: 23px;
    padding: 0px 0;
    width: auto;
}

.LeftSection h4 {
    color: #333333;
    font-size: 15px;
    padding: 5px 0;
    width: 325px;

}
.LeftSection h4 span {
float:left;
width:95px;
}
.LeftSection h4 em {
width:200px;
padding-left:30px;
float:right;
}

.LeftSection h3.gryClr {
    color: #333333;
    font-size: 27px;
    line-height: 1.4;
    padding-bottom: 25px;
    padding-top: 0px;
    width: auto;
}
.RightSection div.ptvOfferImage
{
  float:right;
  width:291px;
  height:296px;
}
.RightSection h3
{
  float: left;
  margin-top: 70px; 
  margin-left: 20px;
  color: #333333;
  margin-bottom:10px;
  font-size:23px !important;
}
.PriceInfomation
{
  height:120px;
  
  width:159px;
  
}
.PriceInfomation h4
{
  float: left;
   font-size: 15px;
    color: rgb(0, 0, 0);
     margin-left: 20px; 
     width: 139px;
     line-height:1.4em;
}
.PriceInfomation h4 span
{
  float: left;
   width: 60px;
}
.PriceInfomation h4 span.FreePrice
{
  color:#ED1C24;

}

.RightSection P
{
  float:left;
  width:139px;
  margin-left:20px;
  line-height:1em;
  margin-top: 200px;
  font-size:12px;
  border:medium none !important;
}

.LeftSection .MoreInfoLink
{
  float: left;
    margin-top: 5px;
    position: relative;
}

.PTVmoreTextHide
{
display:none;
}
.PTVmoreTextShow
{
display:block;
}
#ourparks .prkRtMidVisitsearch
 {
    padding: 18px 27px 18px 27px;
}
#ourparks .prkRtUpTop
{
  background-color:#E5F8FC;
}
/*styles for region template starts*/

/*styles for Our Parks left menu */
. leftMenuParks ul {
    margin: 0 0 0 10px;
}
.leftMenuParks ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 180px;
}
.leftMenuParks ul li {
    font-weight: bold;
}
.leftMenuParks ul li {
    float: left;
    list-style: none outside none;
    padding: 0 0 0 10px;
    text-align: left;
    width: 180px;
    margin-bottom:5px;
}
.leftMenuParks a.offMnuItem {
    background-position: 0 -1800px;
    margin: 0;
    padding-left: 16px;
    width: 164px;
}
.leftMenuParks a {
    color: #606060;
    float: left;
    font-size: 95%;
   padding: 0;
    text-decoration: none;
}
.leftMenuParks ul li ul li {
    background: none repeat scroll 0 0 transparent;
    font-weight: normal;
    padding-left: 16px;
    width: 164px;
    margin-bottom:0px;
}

.leftMenuParks ul li A:hover, .leftMenuParks ul li ul li A:hover
{
color:#000000;
}

.leftMenuParks
{
  float:left;
  width:190px;
  background:url("../Images/haven_mapbackground.png") repeat-x scroll left top transparent;
}
.leftMenuParks h3
{
  padding:10px 0 10px 23px;
  font-size: 45px;
  line-height:0.9;
}
/*styles for Our Parks left menu ends */

#prksInRgnHdng
{
  background-color:#F0ECE8;
  float:left;
  padding: 10px;
    width: 761px;
    margin-top:18px;
}
#prksInRgnHdng h2
{
  color: #333333;
    font-size: 22px;
    width: auto;
}
/*body#region #leftContentInner
{
    margin: 0 0 15px 15px;
    width: 175px;
}*/
#ptvLeft
{
float:left;
margin: 0 0 15px 15px;
    width: 175px;
}


#leftContentInner h2
{
  color: #333333;
    font-size: 22px;
    font-weight: normal;
    padding: 31px 0 10px 0;
    width: 105%;
    line-height:1em;
}
#leftContentInner ul.region
{
  width:175px;
  margin-top:5px;
}
#leftContentInner ul.region li a
{
  min-height:19px !important;
  padding-bottom:1px !important;
  /*  padding-top:0px !important; */
/* New style to make font size fit better by W.Chen 27/10/12 */  
  padding-top:3px !important; font-size:13px!important;
  width:138px !important;
  background-position:0 -1500px;
}
#regDDCont
{
  float:left;
  width:100%;
  margin:20px 0 0 0;
}
.ptvBack
{
  float:left;
  margin:20px 0 0 0;
}
#regDDCont label
{
   color: #848484;
    float: left;
    font-family: Arial Regular;
    font-size: 18px;
    width: 100%;
}
#regDDCont select
{
      float: left;
    font-size: 0.9em;
    margin-top: 10px;
    width: 80%;
    display:none;
    }
    
    .DropDownDisplay select
    {
    display:block !important;
    }
    #midPrkMap
{
  float:left;
  width:777px;
  padding:0 0 15px 0;
  border-bottom:1px solid #CCC;
  margin:20px 27px 0 0;
}
#midPrkLft
{
  float:left;
  width:487px;
  margin-right:15px;
  
}
#midPrkLft h3
{
  color: #3DC3DC;
    float: left;
    font-size: 23px;
    padding: 5px 0;
    width: 100%;
}
#midPrkLft img
{
  margin:10px;
  float:left;
}
#midPrkLft a.compareParks
{
  background-color:#3DC3DC;
  background-position:0 -1500px;
  color:#FFFFFF;
  float:left;
  font-family:arial;
  font-size:17px;
  height:25px;
  margin:10px 0 0;
  padding:0 6px 0 31px;
width:auto;
}
#midPrkRgt
{
  width:270px;
  float:left;
  margin:30px 0 0 0;
}
#midPrkRgt .featrCont
{
  padding:0px 0 12px 0;
  width:100%;
  float: left;
}

#midPrkRgt .featrCont h2
{
  color: #333333;
    float: none;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
    padding-bottom: 3px;
    width: auto;
}
#midPrkRgt .featrCont ul
{
  width:100%;
}
#midPrkRgt .featrCont ul li
{
  width:100%;
  float:left;
}
.featrCont ul li span
{
float:left;
width:60%;
cursor:pointer;
}
.featrCont ul li span.number
{
  background-color:#3DC3DC;
  width:15px;
  height:15px;
  
  text-align:center;
  padding:2px;
  margin-top: 4px;
  color:#fff;
  font-size: 11px;
  margin-right:5px;
}

.featrCont ul li a,.featrCont ul li a:active, .featrCont ul li a:hover
{
   color: #848484;
    width: 100%;
    float:left;
    font-family:HeinemannHVNRoman;
font-size:19px;
font-weight:normal;
line-height:1.4;

}
  
  
  .OverlayRightContent ul {
margin:0;
padding:0 0 15px;
width:100%;
float:left;
}


.OverlayRightContent h2 {
color:#333333;
float:left;
font-size:27px;
font-weight:normal;
line-height:1.4;
padding-bottom:11px;
padding-top:6px;
width:100%;
}

.OverlayRightContent h3 {
float:left;
font-size:23px;
padding:3px 0 5px;
width:100%;
}

.OverlayRightContent h4
{
  color:#3DC3DC;
  font-size:19px;
  padding-bottom:8px;
  width:100%;
}
.OverlayRightContent .bottomText
{
font-size:15px;
color:#666666;
}
.OverlayRightContent .bottomText Span
{
  color:#3DC3DC;
  font-size:19px;
}

.OverlayRightContent p {
color:#848484;
font-family:HeinemannHVNRoman;
font-size:19px;
font-weight:normal;
line-height:1.3;
width:auto;
float:left;
padding-bottom:11px;
}


.OverlayRightContent ul li {
background:url("../Images/NonTridion/bluebullet_2.png.html") no-repeat scroll 0 3px transparent;
color:#848484;
font-family:HeinemannHVNRoman;
font-size:17px;
line-height:1.4;
padding:0 0 12px 19px;
width:auto;
}

.OverlayRightContent {
float:left;
margin-left:-1px;
padding:25px 10px;
width:751px;
text-align:left;
}  

#overlayImage
{
  float:left;
  width:718px;
  height:332px;
  overflow:hidden;
}
.jcarousel-skin-overlayImage
{
  float:left;
width:718px;
}

.jcarousel-skin-overlayImage .jcarousel-container-horizontal {
width:718px;
}
.jcarousel-skin-overlayImage .jcarousel-clip-horizontal {
width:718px;
}

#overlayImage li {

float:left;
height:332px;
background:none;
width:718px;
padding:0;
}
#overlayImage a {
cursor:pointer;
float:left;
height:332px;
width:718px;
}



.jcarousel-skin-overlayImage .jcarousel-next-horizontal {
background-position:-50px -1300px;
cursor:pointer;
height:42px;
position:absolute;
right:-20px;
top:3px;
width:45px;
}

.jcarousel-skin-overlayImage .jcarousel-prev-horizontal {
background-position:0 -1300px;
cursor:pointer;
height:42px;
left:-20px;
position:absolute;
top:3px;
width:45px;
}

.jcarousel-skin-overlayImage .jcarousel-prev-disabled-horizontal, .jcarousel-skin-overlayImage .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-overlayImage .jcarousel-prev-disabled-horizontal:active, .jcarousel-skin-overlayImage .jcarousel-next-disabled-horizontal, .jcarousel-skin-overlayImage .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-overlayImage .jcarousel-next-disabled-horizontal:active {
display:none !important;
}


.labelName
{
  float:left;
  width:100%;
  margin-top:10px;
}
.noVisible
{
visibility:hidden;
}

.mapSectionParks {
    float: left;
    height: 649px;
    margin: 0;
    width: 600px;
    position:relative;
z-index:100;

    overflow:hidden;
}

#ourparks #rgtCont
{
  background:url("../Images/haven_mapbackground.png") repeat-x scroll left top transparent;
}
.leftMenuParks p
{
  color: #606060;
  width:89%;
  text-align:left;
    line-height:1.3em;
    font-size: 20px;
    padding:0 0 8px 25px;
    position:relative;
}
.ie7 #ourparks #pageContent {
    margin-top: -8px;
}
#ourparks #pageContent
{
    margin-top: -6px;
    
}



 
  .ltScroll,  .rtScroll, .ltScrollFirstLevel
  {
    position:absolute;
    overflow:hidden;
    width:45px;
    height:42px;
    text-indent:-1999px;
    z-index:10;
    display:none;
  }
   .ltScroll, .ltScrollFirstLevel
  {
    background-position:0px -1300px;  
  }
  
  .rtScroll
  {
    background-position:-50px -1300px;  
  }
  
  
  .OverlayRightContent 
  {
    position:relative;
    width:718px;
  }
  
    .OverlayRightContent .ltScroll,.OverlayRightContent .ltScrollFirstLevel
    {
       top:100px;
       left:10px;
    }
    
    .OverlayRightContent .rtScroll
    {
       top:100px;
       right:10px;
    }
    
   
.prkRtUpTop DIV UL LI
{
width:95%;
padding-left:15px;
background-position:0 -2140px;
}
.descriptionTextIntro
{
float:none !important;
width:auto !important;
}
#ptvOverlay .PTVSearchResult p
{
border-top: 1px solid #CCCCCC;
}

#ptvOverlay #mainPageWrapper
{
width:auto;
}
#ptvOverlay .result-count, #ptvOverlay .result-count-bottom,#ptvOverlay .MoreInfoLink,#ptvOverlay .LessInfoLink, #redEyeIMGNweletter
{
display:none !important;
height:0px;
widht:0px;
line-height:0em;
}
#ptvOverlay .PTVSearchResult
{
border: medium none;
}

#DefaultImageForRegion
{
display:none;
}

#ptvRtMiddleCont .msgPrompt
{
color:red;
float:left;
font-family:HeinemannHVNRoman;
font-size:19px;
margin-left:22px;
width:70%;
margin-top:15px;

}

.prkRtMidTop .exploreImg
{
float:right;
width:273px;
height:36px;
}
#accommodation #prkRtMiddleCont h2 {
    color: #333333;
    font-size: 27px;
    font-weight: normal;
    padding: 0 0 5px 0;
    width: auto;
}
#prkRtMiddleCont #banner-tour h2 
{
  font-size: 23px;
  /* color:#d0a93e; commented on 18-11-11 by offshore */
}
#accommodation #prkRtMiddleCont h3 {
    font-weight: normal;
    font-size: 23px;
    padding: 0 0 5px 0;
    width: 100%;
}
#accommodation #prkRtMiddleCont .exploreImg {
    float: right;
    height: 36px;
    width: 273px;
    padding:0 75px 5px 0;
}
#accommodation #tour-area
{
  /*margin-left:85px;*/
  margin-left:0;
}
.prkRtMidTour {
    float: left;
    padding: 20px 27px;
    width: 751px;
}

/*styles for region template ends*/
.listitembottomBorder
{
border-bottom: 1px solid #CCCCCC;
float: left;
width: 100%;
height:0px;
}



.eSliderOuter {
float:left;
overflow:hidden;
}

#botLwr .ltScroll
  {
  top:70px;
  left:-18px;
  
  }
 
 #botLwr .rtScroll
 {
  top:70px;
  right:-18px;
  
 }
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/PrinlstItemPrkRgt ting_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/* added by offshore on 11 Oct, 2011 */


.prkRtMidBot .telMoreLnk, .midBotRt .telMoreLnk{
    float: left;
    padding: 5px 0 0;
    width:100%;
}
.midBotRt .telMoreLnk{
    width: auto; /*100%;*/
    float:right;
}

.prkRtMidBot .telMoreLnk A, .midBotRt .telMoreLnk A {
    background-position: 0 -1550px;
    border: medium none;
    color: #FFFFFF;
    float: right;
    font-family: HeinemannHVNRoman;
    font-size: 12px;
    height: 20px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    width: auto;

}

.prkRtMidBot .telMoreLnk A.sameWindowLink, .midBotRt .telMoreLnk A.sameWindowLink{
    background-position: 0 -1500px;
}

/* added by offshore on 17-11-2011*/
.lstItemPrkData .lstItemPrkCentre {
    border-top: 1px solid #CCCCCC;
    float: left;
    font-family: arial;
    font-size: 17px;
    line-height: 1.2;
    min-height: 50px;
    padding: 20px 0;
    width: 100%;
}

.lstItemPrkCentre h3
 {
    font-size: 18px;
    padding: 0 0 10px;
    width: 100%;
}
.lstItemPrkCentre p, .lstItemPrkCentre UL {
    color: #808080;
    float: left;
    font-family: arial;
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 5px;
    width: 100%;
}
.lstItemPrkCentre UL LI 
{
width:95%;
background-position:-175px -2147px;
padding-left:15px;
}

/* end of  added by offshore 0n 17-11-2011*/

