/* The "plugin.css" is a combination of (flora.datepicker.css) & (thickbox.css) added for Haven Optimization on 26th November 2010 */


/* css added for datepicker(flora.datepicker.css) on 26/11/2010 for Haven Optimization starts here */

.DisabledDate, .ui-datepicker-unselectable
{
	background-color: #E0E0E0;
}
#ui-datepicker-div, #ui-datepicker-div table, .ui-datepicker-div, .ui-datepicker-div table, .ui-datepicker-inline, .ui-datepicker-inline table
{
	font-size: 12px !important;
}
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	background: #f3f3f3;
	font-size: 1.2em;
	border: 3px solid #BFD8F7;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative;
}
#ui-datepicker-div
{
	z-index: 9999;
	display: none;
	background: #f3f3f3;
}
.ui-datepicker-inline
{
	float: left;
	display: block;
}
.ui-datepicker-control
{
	display: none;
}
.ui-datepicker-current
{
	display: none;
}
.ui-datepicker-next, .ui-datepicker-prev
{
	position: absolute;
	left: .5em;
	top: .5em;
	background: #e0e0e0 url(images/e0e0e0_40x100_textures_02_glass_80.png.html) 0 50% repeat-x;
}
.ui-datepicker-next
{
	left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover
{
	background: #d8d8d8 url(../Images/DatePicker/d8d8d8_40x100_textures_02_glass_90.png) 0 50% repeat-x;
}
.ui-datepicker-next a, .ui-datepicker-prev a
{
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background: url(../Images/DatePicker/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #ccc;
	cursor: pointer;
}
.ui-datepicker-next a
{
	background: url(../Images/DatePicker/888888_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover
{
	background: url(../Images/DatePicker/222222_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover
{
	background: url(../Images/DatePicker/222222_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active
{
	background: url(../Images/DatePicker/ffffff_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active
{
	background: url(../Images/DatePicker/ffffff_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select
{
	border: 1px solid #ccc;
	color: #444;
	background: #e0e0e0;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;
}
.ui-datepicker-header select.ui-datepicker-new-month
{
	width: 7em;
	left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year
{
	width: 5em;
	left: 9.4em;
}
table.ui-datepicker
{
	width: 15.5em;
	text-align: right;
}
table.ui-datepicker td a
{
	padding: .1em .3em .1em 0;
	display: block;
	color: #444;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #f3f3f3;
}
table.ui-datepicker td a:hover
{
	border: 1px solid #888;
	color: #111;
	background: #d8d8d8 url(../Images/DatePicker/d8d8d8_40x100_textures_02_glass_90.png) 0 50% repeat-x;
}
table.ui-datepicker td a:active
{
	border: 1px solid #2694e8;
	color: #000;
	background: #8ab9ff url(../Images/DatePicker/8ab9ff_40x100_textures_02_glass_50.png) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td
{
	padding: 0;
	border: 0;
	text-align: center;
	font-size: .9em;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}
.ui-datepicker-title-row td
{
	background: #2f549c;
	color: white;
}
table.ui-datepicker .ui-datepicker-title-row td a
{
	color: white;
	text-decoration: none;
}
.ui-datepicker-cover
{
	display: none;
	display: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 200px;
	height: 200px;
}
.ui-datepicker-days-cell
{
	border: 1px solid #CCC;
}
.ui-datepicker-week-end-cell
{
	background-color: #bfd8f7;
}
.ui-datepicker-status
{
	background-color: #FAEAC8;
	font-size: 85%;
}
.holidayHelpText
{
	background-color: #FAEAC8;
	font-size: 85%;
}
.BankHolidayNYD
{
	background-color: #FAEAC8;
}
.BankHolidayGFD
{
	background-color: #FAEAC8;
}
.BankHolidayESD
{
	background-color: #FAEAC8;
}
.BankHolidayEMD
{
	background-color: #FAEAC8;
}
.BankHolidaySPH
{
	background-color: #FAEAC8;
}
.BankHolidaySUM
{
	background-color: #FAEAC8;
}
.BankHolidayCHD
{
	background-color: #FAEAC8;
}
.BankHolidayBXD
{
	background-color: #FAEAC8;
}

/* css added for datepicker(flora.datepicker.css) on 26/11/2010 for Haven Optimization ends here */


/* css added for thickbox(thickbox.css) on 26/11/2010 for Haven Optimization starts here */


/* THIS IS THE CUSTOMIZED VERSION OF THE jquery.fancybox-1.3.1.css ****/
/* File name changes to thickbox.css to avoid maintenance and duplicate inclusion of files i.e. both fancybox and thickbox****/

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

* html #fancybox-loading {	/* IE6 */
	position: absolute;
	margin-top: 0;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../Images/FancyBox/fancybox.png');
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 1100;
	display: none;
}

* html #fancybox-overlay {	/* IE6 */
	position: absolute;
	width: 100%;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 1101;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
	border-top:solid 15px #3DC3DC;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

#fancybox-close {
	position: absolute;
	top: -42px;
	right: 0px;
	width: 72px;
	height: 26px;
	background-image: url('../Images/common.png');
	background-position: 0px -2100px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox_error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 7px;
	margin: 0;
}

#fancybox-content {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}

#fancybox-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding: 10px 0;
	text-align: center;
	color: #333;
}

.fancybox-title-outside {
	padding-top: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.fancybox-title-over {
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../Images/FancyBox/fancy_title_over.png');
	display: block;
}

#fancybox-title-wrap {
	display: inline-block;
}

#fancybox-title-wrap span {
	height: 32px;
	float: left;
}

#fancybox-title-left {
	padding-left: 15px;
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -90px;
	background-repeat: no-repeat;
}

#fancybox-title-main {
	font-weight: bold;
	line-height: 29px;
	background-image: url('../Images/FancyBox/fancybox-x.png');
	background-position: 0px -40px;
	color: #FFF;
}

#fancybox-title-right {
	padding-left: 15px;
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -55px -90px;
	background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background-image: url('../Images/FancyBox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancy-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancy-bg-n {
	top: -35px;
	left: 0;
	width: 100%;
	background-image: url('../Images/FancyBox/fancybox-x.png');
}

#fancy-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -162px;
}

#fancy-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../Images/FancyBox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancy-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -182px; 
}

#fancy-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../Images/FancyBox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancy-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -142px;
}

#fancy-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../Images/FancyBox/fancybox-y.png');
}

#fancy-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../Images/FancyBox/fancybox.png');
	background-position: -40px -122px;
}

.fancybox-outer-accomm
{
border-top:15px solid #D0A93E !important;
}

/* IE 

#fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_loading.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie #fancybox-title-left	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-main	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-right	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-right-ico	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg { background: transparent !important; }

.fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/FancyBox/fancy_shadow_nw.png', sizingMethod='scale'); }

*/
/* css added for thickbox(thickbox.css)  for Haven-2012 Optimization ends here */