BODY {
	/*color: #000000;
	background: #FFFFFF;commented by offshore on 04/10/2010*/
}

BODY, DIV, DL, DT, DD, UL, OL, LI, H1, H2, H3, H4, H5, H6, PRE, CODE, FORM, FIELDSET, LEGEND, INPUT, TEXTAREA, P, BLOCKQUOTE, TH, TD {
	margin: 0px;
	padding: 0px;
}

TABLE {
	border-collapse: collapse;
	border-spacing: 0px;
}

FIELDSET, IMG {
	border: 0px;
}

ADDRESS, CAPTION, CITE, CODE, DFN, EM, STRONG, TH, VAR {
	font-style: normal;
	font-weight: normal;
}

CAPTION, TH {
	text-align: left;
}

H1, H2, H3, H4, H5, H6 {
	font-size: 100%;
	font-weight: normal;
}

Q:before, Q:after {
	content: '';
}

ABBR, ACRONYM {
	border: 0px;
	font-variant: normal;
}

SUP, SUB {
	vertical-align: text-top;
}

SUB {
	vertical-align: text-bottom;
}

INPUT, TEXTAREA, SELECT {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

LI {
	list-style: none;
}