.N3_cookies {
  padding: 0 12px 40px;
  font-size: 1.2em;
}
.cookies .N1_autres_h .N3_cookies,
.cookies .N1_autres_h + .N3_cookies { padding:0 12px 0 }

.N3_cookies h3.websitesPJ {
  margin: 0;
}
.N3_cookies p.websitesPJ {
  margin: 0 0 20px;
}
.N3_cookies fieldset {
  background-color: #EEEEEE;
  border-radius: 4px 4px 4px 4px;
  margin: 30px 0 20px;
  padding: 20px 20px 10px;
}
.N3_cookies fieldset input {
  float: left;
  margin-right: 8px;
}
.N3_cookies fieldset label {
  float: left;
  display: inline-block;
  font-weight:bold;
  width:95%;
  line-height: 1.5em;
}
.N3_cookies fieldset button {
  float: right;
}

.N3_cookies p {
  margin: 10px 0 5px;
}
.N3_cookies h3 {
  font-weight:bold;
  font-size: 1.2em ;
  margin: 20px 0 5px;
}

.cookies .popinGlobal {
	width:550px
}
.cookies .popinGlobal .txtConfirm {
	padding:10px 0;
	font-size:1.089em
}
#formCookie  .popinGlobal {
	width:auto;
	background:none;
	padding:0
}
#formCookie  .popinGlobal .title {
	display:none
}
