body.N1_popup {
	font-size:1em;
}
.ie6 body.N1_popup {
	font-size:100%;
}

/* popup */

.N1_popup {
	background:none !important;
}
.N2_indic {
    margin: 0;
}
.popmain {
    margin: 20px 20px 0 20px;
}
 .header_pop a{
	position:absolute;
	right:20px;
	top:12px;
	width:19px;
	height:19px;
	overflow:hidden;
	text-indent:-999em;
	background:url("http://static.pagesjaunes.fr/plusdeservices/static_3.4.0.3/images/common-popup-btn-close.png") 0 0 no-repeat;
}
.footer_pop {
    padding: 0 0 8px;
}
.footer_pop p {
    background: url("http://static.pagesjaunes.fr/plusdeservices/static_3.4.0.3/images/logo-pagesjaunes-footerw.png") no-repeat 0 0;
    margin: 0;
    min-height: 15px;
    padding: 0 0 0 28px;
    text-align: left;
    width: 625px;
	font-size:1.1em;
}