#minicart {
	position: absolute;
	z-index: 20;
	margin-left: -156px;
	margin-top: -10px;
	width: 300px;
	display: none;
}

.minicart_container {
	border: 5px solid #275ead;
	padding:  5px;
	background: white;
	line-height: 13px;
	overflow: auto;
}

#hdrCart.bru .minicart_container {
	border: 5px solid #5c2d91;
}

.minicart_header {
	border-bottom: 1px solid #d6e8ff;
	overflow: auto;
	padding: 5px;
}

#hdrCart.bru .minicart_header {
	border-bottom: 1px solid #d5cae0;
}

.minicart_title {
	float: left;
	font-family: arial;
	font-size: 14pt;
	font-weight: bold;
	line-height: 21px;
}

.minicart_close {
	background: url("../images/TRU_closex.gif") no-repeat scroll right center transparent;
	color: #0056AF;
	cursor: pointer;
	float: right;
	font-family: "Avenir-Black";
	font-size: 10pt;
	line-height: 21px;
	padding-right: 25px;
	text-decoration: underline;
}

#hdrCart.bru .minicart_close {
	background-image: url("../images/BRU_closex.gif");
	color: #5e2c94;
}

.minicart_product {
	border-bottom: 1px solid #eaf3ff;
	overflow: auto;
}

#hdrCart.bru .minicart_product {
	border-bottom: 1px solid #d5cae0;
}

.minicart_orderItem_image {
	float: left;
	width: 90px;
}

.minicart_orderItem_image img {
	margin: 10px 5px;
}

.minicart_orderItem_description {
	float: left;
	width: 190px;
	padding: 10px 0;
}

#hdrCart .minicart_orderItem_description a {
	line-height: 13px;
	font-size: 12px;
	font-family: arial;
	color: black;
}
#hdrCart span{
	pointer-events: none;
}
.minicart_footer {
	overflow: auto;
	padding: 5px;
}

.minicart_total_items {
	float: left;
}

.minicart_total_items .value {
	font-weight: bold;
}

.minicart_total_price {
	float: right;
}

.minicart_total_price .value {
	font-weight: bold;
}

#minicart .minicart_proceed a {
	float: right;
	margin: 5px;
	text-indent: -9999em;
	background-image: url(../images/btn_viewCartCheckout_TRU.png);
	width: 192px;
	height: 27px;
	display: block;
}

#hdrCart.bru #minicart .minicart_proceed a {
	background-image: url(../images/btn_viewCartCheckout_BRU.png);
}
