div {}	
	/* Band 5 : Anchor; */
	div.anchor {
		background: #eee;
		color: #666;
		font-size: 13px;
		line-height: 19px;
		padding: 25px 0 0;
	}
		/* fat footer-like site map; */
		div.navsitemap {}
			div.navsitemap ul {
				margin: 0;
			}
				div.navsitemap ul ul.links {
					padding-left: 20px;
				}
			div.navsitemap li {}
				/* top level LIs (defined so we don't have to reset the nested LIs); */
				div.navsitemap li.l1 {
					float: left;
					list-style: none;
					width: 180px;
					margin: 0 10px;
					padding: 0;
				}
					div.navsitemap li.alpha {
						width: 160px;
						padding-left: 20px;
					}
					div.navsitemap li.omega {
						width: 160px;
						padding-right: 20px;
					}
			div.navsitemap p {}
				div.navsitemap p.title {
					color: #848484;
					font-weight: bold;
					display: block;
					position: relative;
					padding: 2px 0 2px 20px;
					margin-top: 0px;
				}
				div.navsitemap img {
					margin-top: 2px;
					float: left;
				}
		
		/* copyright info; */
		div.legal {}
			div.legal p {
				margin: 0;
				padding: 50px 0;
				text-align: center;
			}


