/*
1000px grid system ~ Core CSS.
10 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/* =Containers
--------------------------------------------------------------------------------*/
.container_10
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0 !important;}
.omega {margin-right: 0 !important;}

/* =Grid >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .grid_1 {width: 80px;}
.container_10 .grid_2 {width: 180px;}
.container_10 .grid_3 {width: 280px;}
.container_10 .grid_4 {width: 380px;}
.container_10 .grid_5 {width: 480px;}
.container_10 .grid_6 {width: 580px;word-wrap: break-word;}
.container_10 .grid_7 {width: 680px;}
.container_10 .grid_8 {width: 780px;}
.container_10 .grid_9 {width: 880px;}
.container_10 .grid_10 {width: 980px;}

/* =Prefix Extra Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .prefix_1 {padding-left: 100px;}
.container_10 .prefix_2 {padding-left: 200px;}
.container_10 .prefix_3 {padding-left: 300px;}
.container_10 .prefix_4 {padding-left: 400px;}
.container_10 .prefix_5 {padding-left: 500px;}
.container_10 .prefix_6 {padding-left: 600px;}
.container_10 .prefix_7 {padding-left: 700px;}
.container_10 .prefix_8 {padding-left: 800px;}
.container_10 .prefix_9 {padding-left: 900px;}

/* =Suffix Extra Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .suffix_1 {padding-right: 100px;}
.container_10 .suffix_2 {padding-right: 200px;}
.container_10 .suffix_3 {padding-right: 300px;}
.container_10 .suffix_4 {padding-right: 400px;}
.container_10 .suffix_5 {padding-right: 500px;}
.container_10 .suffix_6 {padding-right: 600px;}
.container_10 .suffix_7 {padding-right: 700px;}
.container_10 .suffix_8 {padding-right: 800px;}
.container_10 .suffix_9 {padding-right: 900px;}

/* `Push Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .push_1 {left: 100px;}
.container_10 .push_2 {left: 200px;}
.container_10 .push_3 {left: 300px;}
.container_10 .push_4 {left: 400px;}
.container_10 .push_5 {left: 500px;}
.container_10 .push_6 {left: 600px;}
.container_10 .push_7 {left: 700px;}
.container_10 .push_8 {left: 800px;}
.container_10 .push_9 {left: 900px;}

/* `Pull Space >> 10 Columns
--------------------------------------------------------------------------------*/
.container_10 .pull_1 {left: -100px;}
.container_10 .pull_2 {left: -200px;}
.container_10 .pull_3 {left: -300px;}
.container_10 .pull_4 {left: -400px;}
.container_10 .pull_5 {left: -500px;}
.container_10 .pull_6 {left: -600px;}
.container_10 .pull_7 {left: -700px;}
.container_10 .pull_8 {left: -800px;}
.container_10 .pull_9 {left: -900px;}


