/* START: common */
INPUT.fcButton { background-color:#ddd; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffcccccc'); }
INPUT.fcButtonHov { background-color:#fed; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#D98719'); }
TABLE.standardTable { font-family: Verdana, Helvetica, Sans-Serif; font-size: 13px; /*color:#000000;*/ text-decoration: none; }
TABLE.standardTable, .standardText { font-family: Verdana, Helvetica, Sans-Serif; font-size: 13px; /*color:#000000;*/ text-decoration: none; }
a.blogTopicLink { font-family: Verdana, Helvetica, Sans-Serif; font-weight:bold; font-size: 14px; }
a:hover.blogTopicLink { color:#777; }
.blogGray, a.blogGrayLink { font-family: Verdana, Helvetica, Sans-Serif; font-size: 11px; color:#777; }
a.blogGrayLink { font-weight:bold; }
a:hover.blogGrayLink { color:#000000; }
tr.tanBgTr { background-color:#CCCC99; }
tr.silverBgTr { background-color:Silver; }
tr.whiteBgTr { background-color:White; }
.smallText { font-size: 10px; }
.fixedHeader { overflow: scroll; }
.fixedHeader { overflow: scroll; }
table.fixedHeader th {position: relative; top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);}
TD.chgUp { color: Green; background-image: url(../images/up.png); background-repeat: no-repeat; background-position: left; }
TD.chgDn { color: Red; background-image: url(../images/down.png); background-repeat: no-repeat; background-position: left; }
/* Footer  */
div#footer{clear:both;border-top:solid 2px #aaa;font-family:Verdana, Helvetica, Sans-Serif;font-size:13px;color:#000;background:url(../images/footer_gray.gif) repeat-x top left;margin:0;padding:30px 0 40px}
div#footer a{color:#006E2E;font-weight:700;text-decoration:none}
div#footer a:hover{color:#0a0}
div#footer a.standOut{color:#000}
div#footer a:hover.standOut{color:#777}
div#footer-central{width:750px;text-align:left;margin:0 auto 10px;padding:0 15px}
div#footer p{margin:0 8px;padding:0}
div#footer p#copyright{margin-top:20px;padding:2px 0}
#rssLinks{font-family:"Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;font-size:62.5%;position:absolute;border:solid 1px #000;background-color:#fff;width:300px;margin:0 5px 5px;padding:3px 5px}
#rssLinks #controlStrip{width:100%;text-align:right;margin-bottom:-15px}
#rssLinks img{border:none}
#rssLinks h2{font-size:1.8em;color:#03c;margin-top:0;margin-bottom:0}
#rssLinks h4{font-size:1.3em;color:#636363;margin-top:0;margin-bottom:4px}
#rssLinks .infoLabel{font-size:1.2em;color:#636363;font-weight:700;padding-left:5px}
.info{background-color:#ffc}
.getFeedTxt{font-style:italic;font-weight:700;color:#707070;padding-left:2px;padding-right:5px}
a.unvisited{text-decoration:none;color:#000}
div.tweetsDiv{position:absolute;border:solid 1px #000;background-color:#fff;width:400px;height:250px;overflow:auto;margin:0 5px;padding:3px 5px}
.tweetsDiv img{border:none;padding:0 3px}
.tweetsDiv #controlStrip{width:385px;text-align:right;margin-bottom:-15px}
.tweetsDiv a{color:#036;text-decoration:none}
.tweetsDiv a:link,.tweetsDiv a:visited{text-decoration:none}
.tweetsDiv a:hover,.tweetsDiv a:active{text-decoration:underline}
.tweetsDiv div{width:95%;clip:auto;white-space:normal;padding:5px 5px 0}
.tweetHeader{margin-bottom:8px}
.tweetHeader img{float:left;margin-right:5px}
.tweetItem{border-bottom:dashed 1px #999}
.tweetItem .tweetInfo{font-size:small;color:#787878}
.tweetsDiv .tweetProblem{color:red;font-weight:700;text-align:center}
.tweetProblem img{border:0}
/* END: common */
/* START: gallerific */
/* Generic Styles */
div.content{text-align:center;width:550px}
div.content a{text-decoration:none;color:#00f}
div.content a:focus,div.content a:hover,div.content a:active{text-decoration:underline}
div.content a img{border:none}
div.controls{padding-top:10px}
div.controls a{display:block;float:left;margin-right:2px;border:1px solid #666;font-size:smaller;padding:2px 4px}
div.controls a:link,div.controls a:visited{text-decoration:none;color:#333}
div.controls a:hover,div.controls a:active{text-decoration:none;color:#fff;background-color:#000;border:1px solid #000}
div.ss-controls{float:left;text-align:left;width:50px;padding-left:10px}
div.nav-controls{float:left;text-align:left;width:50px}
div.galCaption{text-align:left;width:550px}
div.image-title{font-weight:700;font-size:larger;padding:10px 10px 0}
div.image-desc{line-height:1.1em;padding:8px 10px 5px}
div.navigation{width:550px}
/* Lg Layout Styles */
#thumbs-adv ul.thumbs{clear:both;margin:0;padding:0}
#thumbs-adv ul.thumbs li{float:left;list-style:none;margin:5px 10px 5px 0;padding:0}
#thumbs-adv a.thumb{display:block;border:1px solid #ccc;padding:2px}
#thumbs-adv ul.thumbs li.selected a.thumb{background:#000}
#thumbs-adv a.thumb:focus{outline:none}
#thumbs-adv ul.thumbs img{border:none;display:block}
#thumbs-adv div.pagination{clear:both}
#thumbs-adv div.navigation div.top{display:none}
#thumbs-adv div.navigation div.bottom{margin-top:12px}
#thumbs-adv div.pagination a,#thumbs-adv div.pagination span.current{display:block;float:left;margin-right:2px;border:1px solid #666;padding:4px 7px 2px}
#thumbs-adv div.pagination a{text-decoration:none;color:#333}
#thumbs-adv div.pagination a:hover{background-color:#eee;text-decoration:none}
#thumbs-adv div.pagination span.current{font-weight:700;background-color:#000;color:#fff;border-color:#000}
/* Minimal Layout Styles */
#thumbs-min, #thumbs-min ul, #thumbs-min ul li, #thumbs-min li a { display: none; }
/* END: gallerific */
/* START: tabStyle */
.TopGroup{z-index:99;position:relative}
.DefaultTab{color:#000;background-image:url(../images/tab_bg.gif);font-family:MS Sans Serif, Verdana;font-size:10px;cursor:default}
.DefaultTabHover{color:#000;background-image:url(../images/hover_tab_bg.gif);font-family:MS Sans Serif, Verdana;font-size:10px;cursor:default}
.SelectedTab{color:#000;background-image:url(../images/selected_tab_bg.gif);font-family:MS Sans Serif, Verdana;font-size:10px;cursor:default}
.MultiPage{border:1px solid #919B9C;position:relative;top:-3px;left:1px;z-index:98;padding:10px}
.PageContent{font-family:MS Sans Serif, Verdana;font-size:10px}
/* END: tabStyle */