body{width:100%}
a{text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline}
a img{border:0;}
#footer {margin:0 auto;width: 985px;text-align: center;font-family:verdana;color:#CCCCCC;font-size:11px;font-style: normal;line-height: 14px;}
#footer {padding-top:8px}
#footer li {display: inline;}
#footer li a {padding: 0 8px;}
#footer li a.last {padding: 0 8px; border-right:0px}
#footer p{padding:0;margin:0;}
#footer a{color:#067AB4;}
#segMenuContainer{width:985px;margin:0px auto;text-align:left;}
#segMenuContainer a{cursor: pointer;text-decoration: none;}
#segMenuContainer a:hover{text-decoration:underline;}
.segSubMenu{text-align:left;width:140px;}
#segMenuBar {font-family:arial,helvetica,sans-serif; width:100% !important; height:34px;  position:absolute;top:0;left:0;background:url("../en_US/images/global/navigation/menubg.gif") no-repeat center; z-index:100;}
#segMenuBar #stub { width:974px;height:34px;background:url('https://www.wireless.att.com/businesscenter/images/sprite.png') repeat right -204px;margin:auto;}
#segMenuBar .segMenu li.rightMost a span {position:relative;right:-2px;margin-left:12px;height:10px;}
#segMenuBar .segMenu li {margin:0;float:left;list-style-type:none;}
#segMenuBar .segMenu li a.segMenuItem.hasSubMenu span {background-position: right -68px;padding-right:24px;}
#segMenuBar .segMenu li a.segMenuItem.hasSubMenu {background-position: left -68px;}
#segMenuBar .segMenu li a.segMenuItem.selectedChevron span {background-position: right -34px;}
#segMenuBar .segMenu li a.segMenuItem.selectedChevron {background-position:left -34px;color:#515151;}
#segMenuBar .segMenu li a.segMenuItem.over span {background-position: right 0px;color:#515151;}
#segMenuBar .segMenu li a.segMenuItem.over {background-position:left 0px;}
#segMenuBar .segMenu a.segMenuItem span {display:block;padding: 13px 14px 11px 0px; margin-left:14px;background:url("../en_US/images/global/navigation/sprite.png.html") right -170px;}
#segMenuBar .segMenu a.segMenuItem {cursor:default;font-size:12px;background:url("../en_US/images/global/navigation/sprite.png.html") left -170px #808080;color:white;margin:0;float:left;height:34px;padding:0;overflow:hidden;display:block;text-decoration:none;}
#segMenuBar .segMenu li a.segMenuItem.hasURL:hover span{ text-decoration:underline;cursor:pointer}
#segMenuBar .segMenu li a.segMenuItem.selected span {background:url("../en_US/images/global/navigation/sprite.png.html") right -136px;}
#segMenuBar .segMenu li a.segMenuItem.selected {background:url("https://www.wireless.att.com/businesscenter/css/h/businesscenter/en_US/images/global/navigation/sprite.png") left -136px;color:#515151;}
#segMenuBar #segMenuItemPersonal {width:79px;}
#segMenuBar #segMenuItemBusiness {width:100px;}
#segMenuBar #segMenuItemAboutATT {width:95px;}
#segMenuBar div.segSubMenu {overflow:visible;position:absolute;display:none;list-style:none;margin:0;clear:left;margin: 0 -100px 0 0;padding:0 0 0 0;float:left;background:url("../en_US/images/global/navigation/rounded_bottom.gif") bottom right;}
#segMenuBar div.segSubMenu ul{padding-left:0px;padding-bottom:13px;overflow:hidden;position:relative;left:-6px;background:url("../en_US/images/global/navigation/rounded_bottom.gif") bottom left;list-style:none;margin:0;clear:left;float:left;}
#segMenuBar div.segSubMenuDivider {border-bottom:1px dotted #cccccc;margin:-14px 0 5px;}
#segMenuBar div.segSubMenu ul li {margin:0;padding:5px 10px 0 14px ;float:none;list-style-type:none;line-height:22px;}
#segMenuBar div.segSubMenu ul li a {font-size:12px;color:#005b95;}
#segMenuBar div.segSubMenu ul li a:hover {text-decoration:underline;}
#segMenuBar #leftSegMenu { position:absolute; padding:0;margin:0; }
#segMenuBar #rightSegMenu { float:right; }
#segMenuBar #segcenterSpan {background:url("../en_US/images/global/navigation/menubg.gif") repeat-x; padding:0; margin:0 201px -34px 274px; height:34px;}
#container {margin: 0 auto;position: relative;top: 40px;width: 989px;text-align:left !important;}
#footer {margin-top: 40px;}