html * {margin:0pt;padding:0pt;}
body{width:100%;font-family:verdana,arial,helvetica,san serif;font-style:normal;font-size:11px;color:#666666;line-height:14px;background-color:#EDEDED;}
input {font-size:11px;}
p{padding:0;margin:0;}
a{color:#067AB4;}
h1{font-size:22px;line-height:22px;color:#333333;font-weight:normal;margin:0px;}
h1 .sup{font-size: 0.6em;position: relative;top: -7px;}
h2{font-size:14px;line-height:14px;color:#ff7200;font-weight:normal;margin:0px;}
h3{font-size:13px;line-height:14px;font-weight:bold;margin:0px;}
h4{font-size:11px;line-height:14px;font-weight:bold;margin:0px;}
h5{font-size:11px;line-height:14px;color:#ff7200;font-weight:normal;margin:0px;}
.alignmiddle{margin:0 auto;}
.h1smaller{font-size:16px;color:#333333;font-weight:normal;line-height:18px;}
.red{color:#ff0000;}
.lipad li{padding-bottom:6px;}
li.lispace{margin-bottom:10px;list-style-type:disc;margin-left:15px;}
li.indent15{margin-left:30px;} 
ul.circle{line-height:14px;list-style-type:disc;margin-left:15px;}
li.circle {line-height:14px;list-style-type:disc;margin-left:15px;margin-bottom:3px;}
ul.circle li{line-height:15px;margin-bottom:3px;} 
ul.disc{line-height:14px;list-style-type:circle;margin-left:15px;}
li.disc {line-height:14px;list-style-type:circle;margin-left:15px;margin-bottom:3px;}
ul.none{list-style-type:none;}
ol li{margin-bottom:3px;}
ol.decimal {line-height:14px;list-style-type:decimal;margin-left:22px;}
.decimal.lispace li{margin-bottom:10px;}
ul.tilebullet li{ list-style-image: url(../en_US/images/businessCenter/icons/bullet_img.gif);color:#666666 !important;font-family:arial;font-size:11px;line-height:13px;margin-left:15px;}
table tr td strong{line-height:1.4em;}
.padbtm{padding-bottom:10px;}
.legal{font-size:10px;color:#999999;}
.legalsmall {color:#999999;font-size:9px;line-height:11px;margin-top:10px;}
.linefont0{line-height:0;font-size:0;}
.paddingtoplarge{padding-top:20px;}
.paddingtopmedium{padding-top:10px;}
.paddingtopsmall{padding-top:5px;}
.paddingrightmedium{padding-right:10px;}
.marginleftmedium{margin-left:10px !important;}
.heightspacer{height:10px;}
.innerlinespacer{height:7px;}
.margintopmedium{margin-top:10px;}
.arrow{background:url(../en_US/images/businessCenter/icons/btn_ArrowBox_wht.gif );background-repeat:no-repeat;background-position:0px 2px !important;line-height:17px;padding:2px 0 2px 21px;cursor:pointer;}
.window{background:url(../en_US/images/businessCenter/icons/btn_preview.gif);background-repeat:no-repeat;background-position:3px 3px !important;background-position:3px 5px ;line-height:17px;padding:2px 0 2px 21px;}
.pdf{background:url(../en_US/images/businessCenter/icons/icon_pdf.gif);background-repeat:no-repeat;background-position:-1px -1px !important;line-height:17px;padding:5px 0 0 21px;}
.videoicon{background:url(../en_US/images/businessCenter/icons/icon_video.gif);background-repeat:no-repeat;background-position:3px -1px !important;line-height:17px;padding:0 0 0 21px;}
.help {background: url("../en_US/images/businessCenter/icons/icon_help.gif") no-repeat scroll 0 3px transparent;line-height: 17px;padding: 5px 0 0 21px;}
.info {background: url("../en_US/images/businessCenter/icons/icon_info.gif") no-repeat scroll 0 3px transparent;line-height: 17px;padding: 5px 0 0 21px;}
.floatleft { float:left; }
.floatright { float:right; }
.clearfloat {line-height:0px; height:0px; clear: both;font-size:0px;}
.indent15{margin-left:15px;}
.hidden{display:none;height:1px;}
.pad5{padding:5px;}
#topLine{background:url(../en_US/images/global/layout/page_topSlice.gif);background-repeat:no-repeat;width:985px;height:5px;vertical-align:top;}
#container {text-align:left;background:transparent url(../en_US/images/global/layout/page_midSlice.gif) repeat-y scroll 0pt;margin:0pt auto;width:989px;padding: 0 !important;padding: 0;}
#content{padding:0 0px 5px 17px !important;padding:0 0px 0px 17px;width:985px;overflow:auto;}	
#btmLine{font-size:0px; line-height:0px;background:url(../en_US/images/global/layout/page_btmSlice.gif);background-repeat:no-repeat;width:985px;height:5px;padding:0;background-position:bottom !important;background-position:top;margin:0;position:relative;top:0px !important;}
.table-gen td {border:1px solid #E5E5E5;caption-side:top;color:#333333;margin:0;padding:6px;font-size:11px;}
td.alt {background-color: #f6f6f6}
.table-gen{border:1px solid #E5E5E5;caption-side:top;color:#333333;margin:0;padding:0;}
.table-gen th.title {color:#F27D00;font-size:12px;font-weight:bold;height:24px;text-align:center;}
.table-gen th, .table-gen td {border:1px solid #E5E5E5;margin:0;padding:6px;}
.table-gen.narrow th, .table-gen.narrow td {padding:6px 3px;}
.table-gen tfoot {background-color:#E5E5E5;height:10px;margin:0;padding:0;line-height:0px;}
.table-gen tr.alt {background-color:#F6F6F6;}
.table-gen.center td{text-align:center;}
.dots img{margin:7px 0 5px;}
.dots{width:332px;}
.sm{font-size:7px;}
.tabledata{padding:0px;margin:0px;border-collapse:collapse;border:1px solid #e5e5e5;table-layout: fixed;text-align: left;}
.tabledata th{padding:5px;background-color:#e5e5e5;font-weight:bold;text-align:center;text-decoration:none;margin:0px;border-right:1px solid #ffffff;font-size:11px !important;text-align: left;}
.tabledata th:last-child{border-right:1px solid #e5e5e5;;}
.tabledata td{padding:5px;border:1px solid #e5e5e5;vertical-align:text-top;}
.tabledata tr.alt td{background-color:#f5f5f5;}
.tabledatatitle{color:#F27D00;font-size:12px;font-weight:bold;height:24px;text-align:center;}
.center{text-align:center;}
.sup{font-size:.8em;position:relative;top:-2px;}
hr{background-color:#cccccc;border:0;color:#cccccc;padding:0;}
.smallstar{font-size: 0.8em;position: relative;top: -3px;}
.trademark {
    font-size: 1.3em;
    position: relative;
    top: 1px;
}
H1 span.trademark{
    font-size: 1.3em;
    position: relative;
    top: 5px;
	line-height:30px;}
.uparrow{
background: url("../en_US/images/businessCenter/icons/icon_caret_up.gif") no-repeat scroll 0 12px transparent;
background-size: auto auto;
line-height: 16px;
padding: 5px 0 0 10px;
margin-left: 10px;
text-decoration:none !important;
}	
.imageonhover img{display:none;position:absolute;}
.imageonhover{position:relative;}
td a.pdf {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../en_US/images/businessCenter/icons/icon_pdf.gif");
    background-origin: padding-box;
    background-position: 0 3px !important;
    background-repeat: no-repeat;
    background-size: auto auto;
    line-height: 17px;
    padding-bottom: 0;
    padding-left: 21px;
    padding-right: 0;
    padding-top: 5px;
}