a:link { color:#003DAD;text-decoration:none; }
a:visited { color:#70298E;text-decoration:none; }
a:active,a:hover { color:#003DAD;text-decoration:underline; }
.bc { font:normal 11px Arial;margin-left:-14px;color:#555; }
.bc a { margin:0px 7px 0px 7px; }
.cPage { margin-left:7px;color:#333;font:normal 11px Arial; }
.searchBx { border:1px solid #CCC;background-color:#EEE;padding:5px 10px 5px 10px; }
.gryBx { border:1px solid #ccc;padding:15px;margin-bottom:15px; }
.title { padding:0px 0px 10px 0px; }
.gryBxSmlBar,.gryBxMainBar { border:1px solid #ccc;margin-bottom:15px; }
.secMainHead,.secHead,.gryBxMainBar .head,.gryBxSmlBar .head,.gryBxSmlBar .gryHead { color:#5D5D5D;border-bottom:1px solid #CCC;padding:6px 6px 6px 8px;font-weight:bold;background-color:#EEE;font-size:small; }
.gryBxMainBar .head,.secMainHead { font-size:medium; }
.gryBxSmlBar .gryHead,.lytGryBg,.secHead { background-color:#E8E8E8; }
.gryBxSmlBar .cnt,.gryBxMainBar .cnt { padding:15px; }
.grybg { background-color:#EEE; }
.stitle { color:#5d5d5d;font-weight:bold;padding-bottom:10px; }
.brd { border:1px solid #ccc; }
.brdT0 { border-top:0px; }
.marT15 { margin-top:15px; }
.marB15 { margin-bottom:15px; }
.menuTtl { font:normal 18px Trebuchet MS;padding-bottom:5px;border-bottom:1px solid #ccc; }
.expColMenu { width:100%;padding-bottom:5px;border-bottom:1px solid #ccc; }
.ttlCls,.ttlOpn { font:normal 13px Trebuchet MS;color:#555;padding:6px 6px 6px 6px; }
.ttlCls .img,.ttlOpn .img { display:inline;float:left;font-size:0;height:11px;margin:3px 6px 0 0;width:11px; }
.ttlCls .img { background:url(../../../../../q.ebaystatic.com/aw/pics/cmp/ds2/sprArrows.png) no-repeat scroll 0 -470px transparent; }
.ttlOpn .img { background:url(../../../../../q.ebaystatic.com/aw/pics/cmp/ds2/sprArrows.png) no-repeat scroll 0 -489px transparent; }
.expColMenu .cnt { margin:0 15px 0px 23px; }
.hvr { background-color:#EDEDED;color:#1162B7;cursor:pointer; }
.expColMenu .cnt div { padding:2px 0 2px 0; }
.txtBox,.blackTxtBox { color:#999999;font-family:verdana;font-size:11px;height:17px;line-height:15px; }
.blackTxtBox { color:#000000; }
.redBar { border:1px solid red;padding:10px; }
.ylwBg { background-color:#FFFFCD; }

.btn-w,.btn-b,.btn-b input,.btn-b b,.btn-b a,.btn-wd,.btn-bd,.btn-bd input,.btn-bd b,.btn-bd a { background:transparent none no-repeat 0 -1404px;height:26px;display:inline-block;outline:none;color:#666; }
.btn-ws,.btn-bs,.btn-bs input,.btn-bs b,.btn-bs a { background:transparent none no-repeat 0 -344px;height:27px;display:inline-block;outline:none;color:#666; }
.btn-wd,.btn-bd input,.btn-bd b,.btn-bd a { background:transparent none no-repeat 0 -1472px;color:#C7C7C7; }
.btn-w,.btn-wd { height:26px; }
.btn-ws { height:27px; }
.btn-p { padding:2px 6px 0 6px; }
.btn-bs,.btn-b { padding:0 3px 0 0px;vertical-align:middle;z-index:2; }
.btn-b { background-position:100% -1438px; }
.btn-bs { background-position:100% -378px; }
.btn-bd { background-position:100% -1504px;padding:2px 5px 0 0px;vertical-align:middle;z-index:2;height:26px;display:inline-block;outline:none; }
.btn-b input,.btn-b b,.btn-b a,.btn-bd input,.btn-bd b,.btn-bd a,.btn-bs input,.btn-bs b,.btn-bs a { border:0;font:Trebuchet,"Trebuchet MS";font-weight:bold;padding:2px 7px 7px;padding:2px 20px 5px \9;cursor:pointer;margin:0 -5px;white-space:nowrap;color:#666; }
*+html .btn-b input,*+html .btn-b b,.btn-b a,*+html .btn-bd input,*+html .btn-bd b,*+html .btn-bd a,*+html .btn-bs input,*+html .btn-bs b,*+html .btn-bs a { border:0;font:Trebuchet,"Trebuchet MS";font-weight:bold;padding:2px 4px 5px;cursor:pointer;margin:0 -5px;white-space:nowrap;color:#666; }
#feedbackButton { padding:3px 10px 5px; }
.btn-bd input,.btn-bd b,.btn-bd a { padding:2px 7px 5px;cursor:default;color:#c7c7c7; }
.btn-bs input,.btn-bs b,.btn-bs a { margin:0;padding:1px 10px 7px;color:#FFF; }
*+html .btn-bs input,*+html .btn-bs b,*+html .btn-bs a { margin:0;padding:3px 4px 5px;color:#FFF; }
.btn-w,.btn-b,.btn-b b,.btn-b a,.btn-wd,.btn-bd,.btn-bd b,.btn-bd a,.btn-ws,.btn-bs,.btn-bs b,.btn-bs a { position:relative !important; }
.btn-b a,.btn-b a:hover,.btn-b a:visited,.btn-b a:active,.btn-bd a,.btn-bd a:hover,.btn-bd a:visited,.btn-bd a:active,.btn-bs a,.btn-bs a:hover,.btn-bs a:visited,.btn-bs a:active { text-decoration:none;color:#000 !important; }
.btn-b b,.btn-bd b,.btn-bs b { display:none; }
.btn-w i { _background-position:0% -1403px;margin:0px 0 1px 4px;_margin-top:-1px;_left:-3px;position:absolute;white-space:nowrap;_height:25px;z-index:2; }
.btn-wd i { _background-position:0% -1471px;margin:2px 0 1px 4px;_margin-top:1px;_height:25px;_left:-3px;position:absolute;white-space:nowrap; }
.btn-ws i { _background-position:0% -339px;position:absolute;white-space:nowrap;z-index:2;margin-top:1px; }
.pbn-P,.pbn-P input,.pbn-P b,.pbn-P a,.btn-w i,.btn-wd i,.btn-ws i { background-image:url(../../../../../q.ebaystatic.com/aw/pics/cmp/ds2/ui/sprBtnCore.png); }


/* b=14743762 */
