body { margin:0 15px 15px 15px; }
.contentContainer { width:940px;margin:0 auto; }
#rootPanel { position:relative;margin-left:auto;margin-right:auto;text-align:left;width:940px; }
div,p,span { color:#333; }
ul { list-style-type:none;padding:0;margin:0; }
ul li.unorderedList { list-style-type:none;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/help/ProStores/imgPsHelpBullet.gif);background-repeat:no-repeat;background-position:0 .4em;padding-left:10px; }
.greyrcpnoBar,.greyrcp { border:1px solid #CCC;margin-bottom:15px;width:100%; }
.greyrcpnoBar .n,.greyrcp .n { position:relative;background-color:#E8E8E8; }
.greyrcpnoBar .n { position:relative;background-color:#FFF; }
.greyrcpnoBar .n .e,.greyrcpnoBar .n .w,.greyrcpnoBar .s .e,.greyrcpnoBar .s .w,.greyrcp .n .e,.greyrcp .n .w,.greyrcp .s .e,.greyrcp .s .w { display:block;font-size:0;line-height:0%;height:4px;position:relative;margin:0; }
.greyrcpnoBar .n .w,.greyrcp .n .w { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULGrey.gif) no-repeat top left;top:0;left:-2px; }
.greyrcpnoBar .n .e,.greyrcp .n .e { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURGrey.gif) no-repeat top right;top:-1px;right:-1px; }
.greyrcpnoBar .s .e,.greyrcp .s .e { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLRGrey.gif) no-repeat bottom right;bottom:-1px;right:-1px; }
.greyrcpnoBar .s .w,.greyrcp .s .w { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLLGrey.gif) no-repeat bottom left;left:-2px;bottom:0; }
.greyrcp .Title { padding:2px 10px 5px 9px;background-color:#E8E8E8;border-bottom:1px solid #CCC;font-weight:bold;font-family:Arial;font-size:small;color:#5D5D5D; }
.greyrcpnoBar .Title { padding:0 10px 8px 10px;background-color:#FFF;border-bottom:1px solid #CCC;font-weight:bold;font-family:Arial;font-size:small;color:#5D5D5D; }
.greyrcpnoBar .TitleNoBorder { padding:13px 0 0 9px;font-family:Arial;font-size:small;color:#5D5D5D;font-weight:bold; }
* html .greyrcp .Title,* html .greyrcpnoBar .Title,* html .greyrcpnoBar .TitleNoBorder { font-size:x-small; }
.greyrcp .leftNavCnt { margin:10px 10px 5px 10px; }
.greyrcpnoBar .leftNavCnt { margin:10px 10px 8px 10px; }
.greyrcpnoBar .leftNavCntFeedback { margin:10px 10px 8px 15px; }
* .greyrcpnoBar .leftNavCntFeedback { margin:10px 10px 8px 10px; }
.greyrcpnoBar .greySecCnt,.greyrcp .greySecCnt { margin:10px 10px 5px 10px; }
.greyrcpnoBar .leftNavCnt .divider,.greyrcp .leftNavCnt .divider { margin-top:5px;margin-bottom:5px;border-bottom:1px solid #CCC;width:100%; }
.greyrcpnoBar .customerSupportTitle { padding-left:10px; }
.greyrcpnoBar .customerSupportTitlePad { padding-left:10px;padding-bottom:10px; }
.leftNav { width:208px; }
.leftNav .links { padding-bottom:7px; }
.areaTitleYukon { margin-top:15px;margin-bottom:15px;margin-left:14px;font-size:14pt;color:#5D5D5D;text-align:left; }
button { padding:0;margin:0;border:0;background:none;text-indent:inherit;vertical-align:middle; }
* html button { width:1%;overflow:visible;margin:0 15px 0 0; }
.ButtonNormal .btn { background:url(../../../../../securepics.ebaystatic.com/aw/pics/viewitem/imgVIPrmryBtnLt.gif) no-repeat top left;color:#fff;font-family:Arial;font-weight:bold;cursor:hand;cursor:pointer;font-size:x-small;white-space:nowrap; }
.ButtonNormal .btn .btn { background:url(../../../../../securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif) no-repeat right;background-position:100% 0; }
button .btn { background:url(../../../../../securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif);color:#fff;font-family:Arial;font-weight:bold;white-space:nowrap;cursor:pointer;display:block;height:24px;line-height:190%;padding:0 0 0 6px;vertical-align:middle; }
button .btn .btn { padding:0 14px 0 8px; }
.signPost,.progressIndicator { margin-bottom:10px;margin-top:12px; }
* html .signPost,* html .progressIndicator { margin-bottom:10px;margin-top:7px; }
.signPost .level1,.progressIndicator .level1 { color:#fff;padding-right:24px;padding-left:16px;margin-right:12px;_margin-right:16px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgSignpostArrow.gif);background-repeat:no-repeat;background-position:100% 50%;background-color:#ccc;height:17px;display:inline;text-align:center;font-weight:bold;white-space:nowrap; }
.signpost .active { color:#333;display:inline;margin:0;margin-right:12px;_margin-right:16px;font-weight:bold;display:inline;font-size:x-small;_font-size:xx-small;font-family:Verdana;vertical-align:23%; }
.signpost .inactive { color:#999;display:inline;margin:0;margin-right:12px;_margin-right:16px;font-weight:normal;font-size:x-small;_font-size:xx-small;font-family:Verdana;vertical-align:23%; }
.ttlPanel-n { position:relative;background-color:#faf5ce;border:1px solid #FCD13C;border-bottom:0; }
.ttlPanel-n .ttlPanel-e { position:relative;top:-1px;right:-1px;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURYellow.gif) no-repeat top right; }
.ttlPanel-n .ttlPanel-w { position:relative;left:-2px;height:6px;font-size:0;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULYellow.gif) no-repeat top left; }
.ttlPanel-s { position:relative;border:1px solid #ccc;border-top:0;margin-bottom:15px; }
.ttlPanel-s .ttlPanel-e { position:relative;bottom:-1px;right:-1px;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLRGrey.gif) no-repeat bottom right; }
.ttlPanel-s .ttlPanel-w { position:relative;left:-2px;height:6px;font-size:0;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLLGrey.gif) no-repeat bottom left; }
.ttlPanel-head { position:relative;padding:0 4px 4px 9px;font-weight:bold;font-family:Arial;font-size:medium;background:#faf5ce url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelBGYellowGrad1.gif) repeat-x bottom;border-style:solid;border-color:#000 #FCD13C #E1BF48 #FCD13C;border-width:0 1px 1px 1px;color:#666; }
* html .ttlPanel-head { font-size:small; }
.secCnt { padding:10px 10px 0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc; }
.secCnt1 { padding:10px 10px 0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:-5px; }
.secCnt2 { padding:10px 10px 0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:-5px; }
* html .secCnt2 { padding:10px 10px 0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:0px;height:100%; }
.secCnt3 { padding:10px 10px 0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:-13px; }
* html .secCnt3 { padding:10px 10px 0 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:0;height:100%; }
.yukonSearch { padding:0;width:490px; }
.bg { position:relative;background-color:transparent;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPageLevelToolBarBG40.gif) repeat-x;width:490px;border:1px solid #dedede;border-width:0; }
.greyTable table,.greyTable td { border-color:#ddd;border-style:solid; }
.greyTable table { border-width:0 0 1px 1px;border-spacing:0;border-collapse:collapse; }
.greyTable td { margin:0;border-width:1px 1px 0 0; }
.greyTable td.thcH { background-color:#FFF;font-weight:bold;text-align:center; }
.greyTable td.ttcH { background-color:#EFEBEF;font-weight:bold;text-align:left; }
.greyTable tr.evenorodd_even { background-color:#E8E8E8; }
.thcH P,.tCell P,.thcH-subheader P { margin-bottom:0;margin-top:0; }
.yellowrcpnoBar .n { position:relative;background-color:#FFF; }
.yellowrcpwithBg .n .e,.yellowrcpwithBg .n .w,.yellowrcpwithBg .s .e,.yellowrcpwithBg .s .w,.yellowrcpnoBar .n .e,.yellowrcpnoBar .n .w,.yellowrcpnoBar .s .e,.yellowrcpnoBar .s .w { display:block;font-size:0;line-height:0%;height:10px;position:relative;margin:0; }
.yellowrcpwithBg .n .w,.yellowrcpnoBar .n .w { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULYellow.gif) no-repeat top left;top:0;left:-2px; }
.yellowrcpwithBg .n .e,.yellowrcpnoBar .n .e { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURYellow.gif) no-repeat top right;top:-1px;right:-1px; }
.yellowrcpwithBg .s .e,.yellowrcpnoBar .s .e { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLRYellow.gif) no-repeat bottom right;bottom:-1px;right:-1px; }
.yellowrcpwithBg .s .w,.yellowrcpnoBar .s .w { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLLYellow.gif) no-repeat bottom left;left:-2px;bottom:0; }
.yellowrcpwithBg .content { margin:1px 15px 3px 15px;padding:0; }
.yellowrcpwithBg .levelTitle { padding-bottom:3px; }
.yellowrcpwithBg { margin-top:15px;margin-bottom:8px;background-color:#FFFFCD;border:1px solid #e5d081; }
.pipeline { color:#00C; }
.outline_list { margin:0 0 0 0.8em;padding:0 0 0 0.8em; }
.outline_list li { line-height:16px; }
.dft_blt { color:#d1d1d1; }
ul.bullets { list-style:disc outside; }
.numbullets { list-style:decimal outside; }
li.bullets { margin:0; }
.normal { padding:0.6em 0 0 0; }
.util-hdr-rcp .n { border:1px solid #ccc;border-bottom:0px solid;position:relative;background-color:#fff; }
.util-hdr-rcp .n .e { background-position:100% -10px;right:-1px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-repeat:no-repeat;position:relative;top:-1px;background-color:transparent; }
.util-hdr-rcp .n .w { background-position:0 0;font-size:0;left:-2px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-repeat:no-repeat;position:relative;height:6px;background-color:transparent; }
.util-hdr-rcp .s { border-color:#ccc;border-style:solid;border-width:0 1px 1px;position:relative;background:transparent url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPageLevelToolBarBG40.gif) repeat-x;background-position:0% 100%; }
.util-hdr-rcp .s .e { background-position:100% -19px;right:-1px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);bottom:-1px;background-repeat:no-repeat;position:relative;background-color:transparent; }
.util-hdr-rcp .s .w { background-position:0 -29px;font-size:0;left:-2px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-repeat:no-repeat;position:relative;height:6px;background-color:transparent; }
.util-hdr-rcp .utilityBarTitle { font-family:Arial;font-size:13px;font-weight:bold;color:#5D5D5D;padding-bottom:5px; }
.util-hdr-rcp a { word-wrap:nowrap;font-family:verdana;font-size:10px;color:#00C; }
.util-hdr-rcp .infoFont { font-family:verdana,Arial;font-size:9px;color:#666; }
.util-hdr-rcp .txtBox { font-family:verdana;font-size:10px;color:#999;height:21px;line-height:15px; }
.util-hdr-rcp .blackTxtBox { font-family:verdana;font-size:10px;color:#000;height:21px;line-height:15px; }
* html .util-hdr-rcp .txtBox { font-family:verdana;font-size:10px;color:#999;height:23px;line-height:15px; }
* html .util-hdr-rcp .blackTxtBox { font-family:verdana;font-size:10px;color:#000;height:23px;line-height:15px; }
.showHideBox { background-color:#EFEBEF;margin-bottom:0;margin-top:10px;border:1px solid #CCC;padding:4px; }
.searchTitle { BACKGROUND:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPageLevelToolBarBG40.gif) repeat-x 0% 100%;padding-left:10px; }
.util-hdr-rcp .util-mid { background-color:#fff;border-color:#ccc;border-style:solid;border-width:0 1px;position:relative; }
.util-hdr-rcp .util-mide { padding:0; }
.util-hdr-rcp .util-mide table { margin:-5px 0 0 0;background-cdaolor:#f0f0f0;background:transparent url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPageLevelToolBarBG40.gif) repeat-x;background-position:0% 100%;color:#666; }
.searchBoxTxtCell { padding:9px 0 8px 10px;text-align:left; }
.searchBoxLable { padding:9px 0 8px 15px;text-align:left; }
.searchBoxTbl { width:100%;_width:99.7%; }
.util-hdr-rcp .utilityBarTitle { font-family:Arial;font-size:13px;font-weight:bold;color:#5D5D5D; }
.util-hdr-rcp table a { word-wrap:nowrap;font-family:verdana;font-size:10px;color:#00c; }
.util-hdr-rcp table .infoFont { font-family:verdana,Arial;font-size:9px;color:#666; }
.util-hdr-rcp table .txtBox { font-family:verdana;font-size:11px;color:#999;height:23px;line-height:15px; }
.util-hdr-rcp table .blackTxtBox { font-family:verdana;font-size:11px;color:#000;height:23px;line-height:15px; }
.showHideBox .showHideTitle { margin-left:10px; }
.yellowNavBar { background-color:#FFFFCC;border:1px solid #FFCC00;width:97%; }
.yellowNavBar .yellowNavCnt { margin-left:10px; }
.greySeparator { background-color:#ddd;margin:10px 0 10px 0; }
.secCnt .divider { margin-top:0;margin-bottom:7px;border-bottom:1px solid #CCC;width:100%; }
.paging { padding:0;width:100%;border:0; }
.paging .td-l { padding:0; }
.paging .td-l .nowrap span { font-weight:bold; }
.paging .td-c { padding:0;text-align:center; }
.paging .td-r { padding:0;text-align:right; }
.paging .p { padding:6px 2px 6px 8px; }
.paging .pg { padding:6px 5px 6px 8px;color:#666; }
.paging .n { padding:6px 8px 6px 2px; }
.paging .ng { padding:6px 8px 6px 5px;color:#666; }
.paging img { vertical-align:-30%; }
.paging form { margin:0;display:inline; }
.paging .num {  }
.paging .num .b { font-weight:bold; }
.paging .num span.b,.paging .num a { padding:0 7px; }
.paging .nowrap { white-space:nowrap;color:#333; }
.paging .nowrap .pginput input { width:2em; }
.paging .pipe { color:#666; }
.paging .disabled { color:#666; }
.continueSpacing { padding-bottom:15px; }
.progMarginTier0and1 { margin:-20px 0 23px 0; }
* html .progMarginTier0and1 { margin:-15px 0 23px 0; }
.progMarginTier2 { margin:-5px 0 14px 0; }
* html .progMarginTier2 { margin:0 0 14px 0; }
.SectionTitle,.feedbackTitle,.title { font-family:Arial;font-size:medium;color:#5D5D5D;font-weight:bold; }
.SectionTitle { padding:13px 0 0 15px; }
* html .SectionTitle { font-size:small;padding:13px 0 0 9px; }
.noBottomMargin { margin-bottom:0; }
.feedbackCharMargin { width:45%;margin-top:20px; }
* html .feedbackCharMargin { width:45%;margin-top:20px;margin-left:-20px; }
.breadcrumbMargin { margin-left:10px; }
.helpBreadcrumbMargin { margin-left:2px; }
h3.sTH { font-size:small;font-weight:bold;border-bottom:1px solid #ddd;margin:10px 0 10px 0; }
.progressIndicator .active { color:#333;margin:0;font-weight:bold;font-size:x-small;_font-size:xx-small;font-family:Verdana; }
.progressIndicator .inactive { color:#999;font-weight:normal;font-size:x-small;_font-size:xx-small;font-family:Verdana; }
.progressIndicator .stepActive,.progressIndicator .stepInActive { margin:0;font-size:x-small;_font-size:xx-small;font-family:Verdana;padding-left:10px; }
.progressIndicator .stepActive { font-weight:bold; }
.progressIndicator .stepInActive { color:#999; }
.code { font-family:"Courier New",Courier,monospace;color:#000066;font-weight:bold; }

/* b=15841300 */
