body { color:#333; }
table.clr1 td.tCell,table.no-border td.tCell,table.main-table td.tCell,.tCell { color:#5D5D5D; }
table.main-table { border:0px; }
td.thcH { background-color:#FFF;font-weight:bold;color:#333; }
td.ttcH,.ttcH { background-color:#F2F2F2;text-align:left;font-weight:bold;color:#333; }
table.clr1 tr.evenorodd_even,table.main-table tr.evenorodd_even,table.no-border tr.evenorodd_even { background-color:#E8E8E8; }
td.thcH-subheader,.table-subheader { background-color:#F2F2F2;font-weight:bold;color:#333; }
table.clr1,table.clr1 td,table.main-table td,table.clr1 td.thcH,table.main-table td.thcH,table.clr1 td.ttcH,table.main-table td.ttcH,table.clr1 tr.evenorodd_even,table.main-table tr.evenorodd_even,table.clr1 td.thcH-subheader,table.main-table td.thcH-subheader { border:1px solid #CCC;border-collapse:collapse; }
table.no-border td,table.no-border td.thcH,table.no-border td.ttcH,table.no-border tr.evenorodd_even,table.no-border td.thcH-subheader { border:0px; }
.tbleTitleCnt { padding:0px 10px 7px 10px;border-left:1px solid #ccc;border-right:1px solid #ccc; }
.tbleTitleBg { margin-bottom:0px;background-color:#F2F2F2; }
.tbleTitleBg .w { font-size:7px; }
table.main-table td.ttcH { border-top:0px; }
.noTopBorder { border-top:0px; }
h2,.pSTH,h2 span { font-size:small;font-weight:bold;margin:6px 0px 6px 0px; }
h3 span { font-size:medium;font-weight:normal;border-bottom:1px solid #DDDDDD;margin:10px 0px 10px 0px; }
.widgetSection .sTH { border:0px; }
.sectionTtl { font-family:Arial,Helvetica,sans-serif;font-size:medium;color:#5D5D5D;margin:0px 0px 10px 0px;font-weight:bold; }
.sectionTtl1 { font-family:Arial,Helvetica,sans-serif;font-size:medium;color:#5D5D5D;margin:15px 0px 11px 0px;padding-top:12px;border-top:1px solid #ddd; }
.itemTitle,.itemTitle span { font-family:Arial,Helvetica,sans-serif;font-size:17px;color:#666;font-weight:bold;margin:0px; }
.expandableList .itemTitle { font-family:Arial,Helvetica,sans-serif;font-size:x-small;color:#00C;font-weight:normal;margin:0px; }
.expandShrinkList { margin-top:10px; }
.moreLnk { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;text-align:right;margin-right:5px; }
.panel .n { position:relative;background-color:#faf5ce;border:1px solid #FCD13C;border-bottom:0px; }
.panel .n .e { position:relative;top:-1px;right:-1px;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURYellow.gif) no-repeat top right; }
.panel .n .w { position:relative;left:-2px;height:6px;font-size:0px;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULYellow.gif) no-repeat top left; }
.panel .s { position:relative;border:1px solid #ccc;border-top:0px;margin-bottom:15px; }
.panel .s .e { position:relative;bottom:-1px;right:-1px;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLRGrey.gif) no-repeat bottom right; }
.panel .s .w { position:relative;left:-2px;height:6px;font-size:0px;background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLLGrey.gif) no-repeat bottom left; }
.panel .header { position:relative;padding:0 4px 4px 9px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:16px;background:#faf5ce url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelBGYellowGrad1.gif) repeat-x bottom;border-style:solid;border-color:#000 #FCD13C #E1BF48 #FCD13C;border-width:0px 1px 1px 1px; }
.panel .header { color:#666; }
.yellowBackground { background:#FFF url(../../../../../pics.ebaystatic.com/aw/pics/help/infohubs/images/imgYellowGrad_1x97.gif) repeat-x; }
.checkmarkContent { padding-left:6px;padding-top:10px; }
.checkMarkCell { padding-top:10px; }
.largeNumContent { padding-left:5px;padding-top:13px; }
.marginTop { padding-top:4px; }
.articleMsg { font-family:Arial,Helvetica,sans-serif;font-size:small;color:#5D5D5D;font-weight:bold;margin:0px; }
.graphic-numeric { color:#ff8000;font-family:Arial;font-size:32px;font-weight:bold; }
.articleImgCell { padding-top:5px; }
.borderTop { border-top:1px solid #CCC; }
.borderBottom { border-bottom:1px solid #CCC; }
.notation-text { font-family:verdana;font-size:x-small;color:#5D5D5D; }
.tutorial-text { font-family:verdana;font-size:xx-small;color:#333; }
.infoHeading { background-color:#CCC; }
.no-border,.no-border .sTH { border:0px; }
.anchorTop { margin-top:9px; }
.anchortext { padding-left:6px; }
.topTierTitle { font-weight:bold;font-size:medium;background:#F7F3F7 url(../../../../../pics.ebaystatic.com/aw/pics/help/infohubs/images/imgLeftNaviHeaderBg_1x23.gif) repeat-x;color:#333333;padding:0px 0px 3px 8px;margin:0px;vertical-align:middle;font-weight:bold; }
.secondTierTitle { cursor:pointer;vertical-align:middle;background:#dedede url(../../../../../pics.ebaystatic.com/aw/pics/help/infohubs/images/imgLeftNavBgUPD_1x100.gif) repeat-x;padding:4px 10px 3px 10px;margin:0px;border-top:1px solid #CCC;font-weight:bold; }
.secondTierTitleShow { cursor:pointer;vertical-align:middle;background-color:#E8E8E8;padding:4px 10px 3px 10px;margin:0px;border-top:1px solid #CCC;font-weight:bold; }
.subTierTitle { padding:5px 4px 8px 4px;font-size:small;color:#0000cc;vertical-align:middle;word-wrap:break-word; }
.applyBackground { padding-left:18px;padding-bottom:2px;padding-top:2px; }
.RTMmarginBottom { height:15px; }
.widget { border:1px solid #CCC;margin:10px; }
.relatedTopicCnt { padding-left:22px; }
.boldTxt { font-weight:bold;color:#5D5D5D; }
.bulletSqrItem { list-style-type:square;margin-left:20px;background-image:none;padding:0px; }
ul li .unorderedList { list-style-type:none;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/help/ProStores/imgPsHelpBullet.gif);background-repeat:no-repeat;background-position:0 .4em;padding-left:10px; }
.expandableItems { margin-left:20px;padding-bottom:10px; }
.clearBoth { clear:both; }
.noMarginTop { margin-top:0px; }
.c-rcp-rcp { margin-bottom:15px; }
.c-rcp-rcp .gn,.c-rcp-rcp .rcp-n { position:relative;background-color:#fff;border:1px solid #ccc;border-bottom:0px; }
.c-rcp-rcp .gn .ge,.c-rcp-rcp .rcp-n .rcp-e { position:relative;top:-1px;right:-1px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-color:transparent;background-repeat:no-repeat;background-position:100% -10px; }
.c-rcp-rcp .gn .gw,.c-rcp-rcp .rcp-n .rcp-w { position:relative;left:-2px;height:6px;font-size:0px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-color:transparent;background-repeat:no-repeat;background-position:0 0; }
.c-rcp-rcp .gs,.c-rcp-rcp .rcp-s { position:relative;background-color:#fff;border:1px solid #ccc;border-top:0px; }
.c-rcp-rcp .gs .ge,.c-rcp-rcp .rcp-s .rcp-e { position:relative;bottom:-1px;right:-1px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-color:transparent;background-repeat:no-repeat;background-position:100% -19px; }
.c-rcp-rcp .gs .gw,.c-rcp-rcp .rcp-s .rcp-w { position:relative;left:-2px;height:6px;font-size:0px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnrgrey_spaced.gif);background-color:transparent;background-repeat:no-repeat;background-position:0 -29px; }
.c-rcp-rcp .c-rcp-head,.c-rcp-rcp .c-rcp-head-g { position:relative;padding:0 6px 6px 8px;color:#5d5d5d;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:medium;background-color:#fff;border-style:solid;border-color:#ccc;border-width:0px 1px 1px 1px; }
.c-rcp-rcp .c-rcp-mid { background-color:#fff;border:solid #ccc;border-width:0px 1px 0px 1px; }
.c-rcp_g_s_h-rcp .gn,.c-rcp_g_s_h-rcp .rcp-n { background-color:#e8e8e8; }
.c-rcp-cnt-pad { padding:15px 15px 8px 15px; }
div.c-rcp-cnt-pad,.c-rcp-cnt-pad p { word-wrap:break-word; }
.c-rcp-cnt-nopad { padding:0px; }
.nobar-cnt-pad { overflow:hidden;word-wrap:break-word; }
.nobar-cnt-pad p { padding-top:0px;margin-top:0px;padding-bottom:0px;margin-bottom:0px; }
.c-rcp_g_s_h-rcp .c-rcp-head,.c-rcp_g_s_h-rcp .c-rcp-head-g { background-color:#e8e8e8; }
.c-rcp_y_s_h-rcp .c-rcp-head,.c-rcp_g_s_h-rcp .c-rcp-head,.c-rcp_g_s_h-rcp .c-rcp-head-g { font-size:small; }
.c-rcp_y_s_h-rcp .rcp-n,.c-rcp_y_l_h-rcp .rcp-n { position:relative;background-color:#faf5ce;border-color:#fd6;border-bottom:0px; }
.c-rcp_y_s_h-rcp .rcp-n { background-color:#f8e89d; }
.c-rcp_y_s_h-rcp .rcp-n .rcp-e,.c-rcp_y_l_h-rcp .rcp-n .rcp-e { background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnryellow_spaced.gif);background-color:transparent;background-repeat:no-repeat;background-position:100% -10px; }
.c-rcp_y_s_h-rcp .rcp-n .rcp-w,.c-rcp_y_l_h-rcp .rcp-n .rcp-w { background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgrndcnryellow_spaced.gif);background-color:transparent;background-repeat:no-repeat;background-position:0 0; }
.c-rcp_y_l_h-rcp .c-rcp-head { background:#faf5ce url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelBGYellowGrad1.gif) repeat-x bottom;border-top:0;border-left:1px solid #fd6;border-right:1px solid #fd6;border-bottom:1px solid #e1bf48;font-size:medium; }
.c-rcp_y_s_h-rcp .c-rcp-head { background-color:#f8e89d;border-left:1px solid #fd6;border-right:1px solid #fd6;border-bottom:1px solid #e1bf48; }
.feedbackCharWidth { display:block;float:left;margin-left:10px;margin-top:35px;vertical-align:top; }
* html .feedbackCharWidth { margin-top:25px; }
.index-cnt-pad { padding-bottom:5px; }
.expItemSubttl { margin-left:17px; }
.categoryFont { font-size:large; }
.lastImportantPara { display:block;_display:inline; }
.normalWrap { word-wrap:normal; }
.c-img_spr { font-size:1px;width:6px;height:1px; }
.c-r3_l { background-color:transparent;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgTransRndCrnAllColor_spaced.gif);background-repeat:repeat-y;background-attachment:scroll;background-position:0% -96px;width:6px;height:6px; }
.c-r3_r { background-color:transparent;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgTransRndCrnAllColor_spaced.gif);background-repeat:no-repeat;background-attachment:scroll;background-position:0% -108px;width:6px;height:6px; }
.c-r3_hm { background-color:transparent;border-left:1px solid #ccc;border-bottom:2px solid #ccc;border-right:1px solid #ccc;color:#5d5d5d;font-family:Arial,Helvetica,sans-serif;font-size:small;font-weight:bold;padding:0px 10px 6px 9px; }
.c-r3_cm { border-left:1px solid #ccc;border-right:1px solid #ccc; }
.c-r3_bl { background-color:transparent;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgTransRndCrnAllColor_spaced.gif);background-repeat:no-repeat;background-attachment:scroll;background-position:0% -120px;width:6px;height:6px; }
.c-r3_bm { border-bottom:1px solid #ccc;height:5px; }
.c-r3_br { background-color:transparent;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgTransRndCrnAllColor_spaced.gif);background-repeat:no-repeat;background-attachment:scroll;background-position:0% -132px;width:6px;height:6px; }
.c-yl .c-r3_l { background-color:#faf5ce;background-position:100% 0px; }
.c-yl .c-r3_m { border-top:1px solid #fdd84d;background-color:#faf5ce;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgYellowBG_1x30.gif);background-repeat:repeat-x;background-attachment:scroll;background-position:100% 0%; }
.c-yl .c-r3_r { background-color:#faf5ce;background-position:0% -12px; }
.c-yl .c-r3_hm { background-color:#faf5ce;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgYellowBG_1x30.gif);background-repeat:repeat-x;background-attachment:scroll;background-position:0% 100%;border-left:1px solid #fd6;border-right:1px solid #fd6;border-bottom:1px solid #e1bf48;font-size:medium; }
.c-yl .c-r3_infol { background-color:#f8e89d;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgTransRndCrnAllColor_spaced.gif);background-repeat:repeat-y;background-attachment:scroll;width:6px;height:6px; }
.c-yl .c-r3_infom { border-top:1px solid #fdd84d;background-color:#f8e89d;background-repeat:repeat-x;background-attachment:scroll; }
.c-yl .c-r3_infor { background-color:#f8e89d;background-position:0% -12px;background-image:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgTransRndCrnAllColor_spaced.gif);background-repeat:no-repeat;background-attachment:scroll;width:6px;height:6px; }
.c-yl .c-rcp-headinfo { background-color:#f8e89d;position:relative;padding:0 6px 8px 9px;color:#5d5d5d;font-family:Arial,Helvetica,sans-serif;font-size:small;font-weight:bold;border-bottom:1px solid #e1bf48;border-right:1px solid #fd6;border-left:1px solid #fd6;border-top:0px; }
.custSupportInfo { color:#666666; }
.redrcpnoBar { border:1px solid red;margin-bottom:15px;width:100%; }
.redrcpnoBar .n { position:relative;background-color:#E8E8E8; }
.redrcpnoBar .n { position:relative;background-color:#FFF; }
.redrcpnoBar .n .e,.redrcpnoBar .n .w,.redrcpnoBar .s .e,.redrcpnoBar .s .w { display:block;font-size:0;line-height:0%;height:4px;position:relative;margin:0; }
.redrcpnoBar .n .w { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelULred.gif) no-repeat top left;top:0px;left:-2px; }
.redrcpnoBar .n .e { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelURred.gif) no-repeat top right;top:-1px;right:-1px; }
.redrcpnoBar .s .e { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLRred.gif) no-repeat bottom right;bottom:-1px;right:-1px; }
.redrcpnoBar .s .w { background:url(../../../../../pics.ebaystatic.com/aw/pics/globalAssets/imgPanelLLred.gif) no-repeat bottom left;left:-2px;bottom:0px; }
.feedconftruetop { margin-top:5px;margin-left:10px; }
.feedimage { float:left; }
.feedtopmsg { margin-left:5px;_margin-left:2px; }
.feedbotmsg { margin-left:30px;margin-bottom:5px; }
.feederrorimg { margin:5px 0px 3px 10px; }
.feederrortxt { color:red;margin-left:5px; }
.triangleList { margin-top:7px; }
.triangleItem { padding:5px; }
.triangleLastItem { padding:5px 5px 0px 5px; }
.closeDiv { width:100%;font-size:small;font-weight:bold;padding-bottom:10px; }
div.closeDiv a:active { text-decoration:underline;color:#00C; }
div.closeDiv a:visited,div.closeDiv a:link,div.closeDiv a:hover { text-decoration:underline; }
button { padding:0;margin:0;border:0;background:none;text-indent:inherit; }
* html button { width:1%;overflow:visible;margin:0 5px 0 0; }
button .btn { background:url(../../../../../securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif);color:#fff;font-family:Arial;font-weight:bold;white-space:nowrap;cursor:pointer;display:block;height:24px;line-height:190%;padding:0 0 0 6px;vertical-align:middle; }
button .btn .btn { padding:0 20px 0 14px; }
.closeBtn .btn { background:url(../../../../../securepics.ebaystatic.com/aw/pics/viewitem/imgVIPrmryBtnLt.gif) no-repeat top left; }
.closeBtn .btn .btn { background:url(../../../../../securepics.ebaystatic.com/aw/pics/buttons/btnViPrmry.gif) no-repeat right;background-position:100% 0;font-size:small; }
.closeBtn { margin-right:5px; }
.externalContent { width:100%; }
.externalContent p { word-wrap:break-word; }
.formMargin { margin-top:5px;margin-bottom:0px; }
h4.paraHeader { font-size:small;font-weight:bold;margin:6px 0px 3px 0px;color:#5D5D5D; }
h4.moduleHeader { font-size:small;font-weight:bold;margin:0px 0px 10px 0px;color:#5D5D5D; }
.areaTitleHub { margin-top:15px;margin-bottom:20px;font-size:16pt;text-align:left;border-bottom:1px solid #999;font-family:Trebuchet,"Trebuchet MS";padding-bottom:5px;width:100%; }
.listHeading { font-size:11pt;color:#5D5D5D;margin:0px 0px 5px 0px;font-weight:bold; }
.faqContainer { width:100%;margin:0 auto; }
.faqContainer div.c-rcp-mid div.c-rcp-cnt-pad p { font-size:small; }
.feedbackTitle { padding-bottom:2px;margin-left:-2px; }
.feedbackTextarea { float:left;display:block;width:auto;margin:5px 0 0 0px; }


/* b=15841300 */
