@charset "utf-8";
/* CSS Document */
span.commentsQuickNav {position:relative; top:22px; font-weight:bold;}
#commentLoginForm {background-image:url(../../site_images/redesign/comments/formBG.png);background-repeat:no-repeat; width:540px; height:265px; padding:80px 30px 0 50px;}
#commentPostingForm {
background-image:url(../../site_images/redesign/comments/formBG.png);
	background-repeat:no-repeat; width:520px; height:265px; padding:80px 50px 0 50px;}
#commentPostingForm {padding-top:60px; padding-bottom:70px;}
#commentLoginForm form .formLabel,
#commentPostingForm form .formLabel{color:#ed0f69!important; width:330px;margin-bottom:10px;}
form#commentingLogin {width:300px;}
#commentLoginForm form .formLabel {float:left;}
#commentLoginForm form .formLabel label,
#commentPostingForm form .formLabel label{width:135px!important; float:left; text-align:right; padding-right:7px;color:#ed0f69!important;font-weight:bold;}
#commentsContainer {margin-top:20px;}
#commentLoginForm form .formLabel input,
#commentPostingForm form .formLabel input {float:left;border-top:solid 1px #bfbfbf; border-right: solid 1px #dfdfdf; border-bottom:solid 1px #e1e1e1; border-left: solid 1px #e1e1e1; width:170px;padding-top:4px;padding-bottom:2px;}

#commentLoginForm p.loginIntro,
#commentLoginForm p.loginOutro {font-style:italic;}
#commentLoginForm p.loginOutro {width:355px;}
.blog_comment_text #count {width:620px!important; float:left; margin-bottom:10px; color:#ed0f69; font-size:24px; font-weight:bold; text-transform:uppercase;}
.blog_comment_text #count .comment_count_outer span.comment_count_inner {}
.blog_comment_text #count img.over {width:160px!important; height:30px!important;position:relative; top:3px;}


.blog_comment {margin-bottom:10px;border-top:solid 1px #cccccc; padding-top:10px; *float:left; _float:left;}
.blog_comment_title span.title_text {font-size:17px;color:#f37021;font-weight:bold; max-width:620px;}
.blog_comment_title span.timestamp {font-size:12px;color:#999999; float:right; width:75px; margin-right:-15px}
.blog_comment_date {font-size:12px;color:#999999;}
.blog_comment_user_name {font-size:12px;color:#999999;}
.blog_comment_user_name span.user_name {color:#ed0f69;font-weight:bold;}
a.blog_comment_report_abuse_link {background:url(../../site_images/redesign/comments/reportAbuse.png) no-repeat; background-position:right;padding-right:15px;font-weight:bold;}
h3.postWrap {display:none;}
#commentPostingFormArea {width:528px;}
/*#commentPostingFormArea .formLabel label {color:#ed0f69; width:70px!important; padding-right:10px;}*/
span#commentUsername {color:#666666;}
#commentPostingFormArea input {border-top:solid 1px #bfbfbf; border-right: solid 1px #dfdfdf; border-bottom:solid 1px #e1e1e1; border-left: solid 1px #e1e1e1;}
#commentPostingForm #commentPostingFormArea label {display:block;float:left;width:70px;font-weight:bold;}
#commentPostingForm #commentPostingFormArea textarea#commentText {width:430px;border-top:solid 1px #bfbfbf; border-right: solid 1px #dfdfdf; border-bottom:solid 1px #e1e1e1; border-left: solid 1px #e1e1e1; height:100px;}
#commentPostingForm #commentPostingFormArea label.commentLabel {float:left;}
input#submit_button {border:0px;}
form#commentingLogin .submit.left {float:right; padding-right:0px; margin-right:0px;}
#commentPostingForm #commentPostingFormArea .formLabel label{color:#ed0f69; float:left; width:80px;}
#commentPostingForm #commentPostingFormArea .formLabel {float:left; width:528px; margin-bottom:10px;}
#commentPostingForm #commentPostingFormArea .formLabel input#commentTitle {width:429px;}
p.charCountContainer {padding-left:79px;}
#commentPostingForm #commentPostingFormArea input#submit_button {padding-right:15px;}

.comment_pagination a {font-weight:bold;color:#007d97; cursor:pointer;}
.comment_pagination a:hover {color:#ed0f69;}
#commentLoginForm .container {*width:600px;}
#commentLoginForm .container.middle {*padding-top:20px; *padding-bottom:20px;}
#commentLoginForm .container form#commentingLogin{float:left; border-right:solid 1px #dddddd; width:320px; padding-right:20px; *height:100px;}
#commentLoginForm .container form#commentingLogin p {*margin:0px; *padding:0px;}
#commentLoginForm .container .fb_inner_right{ display:block; float:right; height:61px; width:auto; *float:left; *padding-left:15px;}
#commentLoginForm .container .fb_inner_right span{color:#ED0F69; font-weight: bold; padding-bottom:12px; display: block;}