@charset "utf-8";
/* 2010.01.07 - Base and Reset CSS Document */


/*******************
START - Reset
*******************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}

/*******************
START - Basee
*******************/
h1 {
	font-size:138.5%;
}
h2 {
	font-size:123.1%;
}
h3 {
	font-size:108%;
}
h1, h2, h3 {
	margin:1em 0;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight:bold;
}
abbr, acronym {
	border-bottom:1px dotted #000;
	cursor:help;
}
em {
	font-style:italic;
}
blockquote, ul, ol, dl {
	margin:1em;
}
ol, ul, dl {
	margin-left:2em;
}
ol li {
	list-style: decimal outside;
}
ul li {
	list-style: disc outside;
}
dl dd {
	margin-left:1em;
}
th, td {
	border:0;
}
th {
	font-weight:bold;
	text-align:center;
}
caption {
	margin-bottom:.5em;
	text-align:center;
}

/*******************

START - Global Properties

*******************/

/*** START - Updates that will need to be implemented ***/
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:.75em;
}
img {
	border:0 none;
}
#whole-page {
	/* Future Enhancement for Fluid Layout.
	min-width:778px; 
	max-width:1000px;
	*/
	width:1000px;
	margin:0 auto;
	padding:0px 5px 0px 5px;
	text-align:left;
}


.creative {
	border:1px solid #05173D;
	background:#EEEEEE;
}
.creative-content table{
	margin:0px auto;
}
.banner {
	height:65px;
	overflow:hidden;
	width:100%;
}
/**********************
END
Global Properties
**********************/

/*******************
START - Alerts and Error Messaging
*******************/

/***Notification Defaults***/

.noticeBorderOrange, .alertSolidOrange, .warnBorderRed, .errorSolidRed {
	background-repeat: no-repeat;
	background-position: left;
	padding: 10px 15px 10px 40px;
	margin:10px 0px 10px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:.95em;
}
.noticeBorderOrange p, .alertSolidOrange p, .warnBorderRed p, .errorSolidRed p {
	font-size:1.1em;
	font-weight:bold;
	margin:0;
	padding:0;
}
/* Notice and Alert */
.noticeBorderOrange {
	background-image: url(../images/notifications/noticeBorderOrange.gif);
	border:1px solid #FF6600;
	color:#FF6600;
}
.alertSolidOrange {
	background-image: url(../images/notifications/alertSolidOrange.gif);
	background-color: #FF6600;
	color:#FFFFFF;
}
/*Warning and Error*/
.warnBorderRed {
	background-image: url(../images/notifications/warnBorderRed.gif);
	border:1px solid #CC0000;
	color:#CC0000;
}
.errorSolidRed {
	background-image: url(../images/notifications/errorSolidRed.gif);
	background-color: #CC0000;
	color:#FFFFFF;
}
/*******************
END - Alerts and Error Messaging
*******************/
/*******************
START - Buttons
*******************/
button, input {
	width: auto;
	overflow: visible;
	vertical-align:middle;
	cursor:pointer;
	white-space:nowrap;
	margin:0;
	padding:0;
}
input {
	overflow: hidden;
}

.btn-ppa, .btn-spa, .btn-opa {
	padding:3px 5px 2px 5px;
	background:#FFFFFF;
	border:0;
	background-position:bottom;
	background-repeat:repeat-x;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
/* Primary Page Action - Orange*/
.btn-ppa {
	background:#FF6600;
	background-image:url(../images/form_elements/ppa.gif);
}
/* Secondary Page Action - Light Blue*/
.btn-spa {
	background:#DBE4ED;
	background-image:url(../images/form_elements/spa.gif);
	color:#05173D;
}
/* Other Page Action - Dark Blue*/
.btn-opa {
	background:#05173D;
	background-image:url(../images/form_elements/opa.gif);
}
/*******************
END - Buttons
*******************/
/*******************
START - Form Elements
*******************/

input.input-txt, input.input-txt-focus, input.input-txt-disabled, input.input-3digit-txt, input.input-3digit-txt-focus, input.input-3digit-txt-disabled, input.input-4digit-txt, input.input-4digit-txt-focus, input.input-4digit-txt-disabled, textarea.input-txt, textarea.input-txt-focus {
	border:1px solid #CCCCCC;
	background-image:url(../images/form_elements/input_bg_default.gif);
	background-repeat:repeat-x;
	background-position:top;
	color:#444444;
	padding:3px 5px 2px 5px;
	font-size:11px;
	vertical-align:middle;
	width:15em;
}
textarea.input-txt, textarea.input-txt-focus {
	font-family:Arial, Helvetica, sans-serif;
}
input.input-3digit-txt, input.input-3digit-txt-focus, input.input-3digit-txt-disabled {
	width:3.25em;
	text-align:center;
	margin-right:8px;
}
input.input-4digit-txt, input.input-4digit-txt-focus, input.input-4digit-txt-disabled {
	width:4.5em;
	text-align:center;
}
input.input-txt-focus, textarea.input-txt-focus, input.input-3digit-txt-focus, input.input-4digit-txt-focus {
	background-image:url(../images/form_elements/input_bg_focus.gif);
	color: #000000;
	background-color: #f8f8b2;
	border-color:#444444;
}
input.input-txt-disabled, textarea.input-txt-disabled, input.input-3digit-txt-disabled, input.input-4digit-txt-disabled {
	background-image:url(../images/form_elements/input_bg_disabled.gif);
	color:#666666;
	cursor:not-allowed;
}
/*******************
END - Form Element Components
*******************/




/**********************
START
Universal Helpers ( pixie dust and magic code )
**********************/
.clear {
	clear:both;
}
*HTML .clear {
	display:inline;
}
/**********************
END
Universal Helpers
**********************/
/**********************
START
Retiring Medium.css 
**********************/
.txt-wht-xsm-nl
.txt-wht-sml-nl
.txt-wht-med-nl,
.txt-wht {
	color : #ffffff; 
}
.txt-red-xsm-nl,
.txt-red-sml-nl,
.txt-red-med-nl,
.txt-red {
	color : #990000; 
}
.selected,
.Lev1 a:hover,
.Lev2 a:hover,
.Lev3 a:hover,
.txt-ora-xsm-nl,
.txt-ora-sml-nl,
.txt-ora-med-nl,
.txt-ora {
	color : #CC6600; 
}
.txt-lbr-xsm-nl,
.txt-lbr-xlg-nl,
.txt-lbr-sml-nl,
.txt-lbr-med-nl,
.txt-lbr-lrg-nl,
.txt-lbr {
	color : #996600; 
}
.txt-gry-xsm-nl,
.txt-gry-sml-nl,
.txt-gry-med-nl,
.txt-gry ,
.txt-grn-xsm-nl,
.txt-grn-sml-nl,
.txt-grn-med-nl,
.txt-grn {
	color : #333333; 
}
.txt-dbr-xsm-nl.
.txt-dbr-xlg-nl,
.txt-dbr-sml-nl,
.txt-dbr-med-nl,
.txt-dbr-lrg-nl,
.txt-dbr {
	color : #663333; 
}
.txt-blu-xsm-nl,
.txt-blu-sml-nl,
.txt-blu-med-nl,
.txt-blu-lrg-nl, 
.txt-blu {
	color : #336699; 
}
.txt-blk-med-nl-bold {
    font-weight : bold; 
 }
/**********************
END
Retiring Medium.css
**********************/

#egc-balance #bd .gc_body {
	margin:0px auto;
}
#page-not-found #bd{ 
    text-align:center; 
    padding:45px 0px 45px 0px; 
} 
/**********************
Start
Vignette and DPS Page Retirement
**********************/

#dps-page #bd,
#frame2k-page #bd,
#catalog-request #bd{
	width:768px;
	margin:10px auto;
}

/**********************
END
Vignette and DPS Page Retirement
**********************/
