.attDDPAdSolution{height:15em !important} 


/*** CSS RESET ***/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p{margin:0; padding:0; text-align:left}table{border-collapse:collapse; border-spacing:0}fieldset,img{border:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup {vertical-align:text-top; position:relative}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}ul,ol,li{list-style:none}
html{-webkit-text-size-adjust:95%}
#track{position:absolute; bottom:0;}

/*** GLOBAL ***/
body{font-size:62.5%; font-family:Verdana, Helvetica, sans-serif; color:#656565; background-color:#ededed; line-height:1.3em; text-align:center}
.clear{clear:both}
.rel{position:relative}
.block{display:block}
.inline{display:inline}
.left{text-align:left !important}
.right{text-align:right !important}
.bottom{position:absolute; bottom:0}
.bullet li{background:url(../../../../../Common/indc/images/bullet_square_10x7.gif) 0 0 no-repeat; margin:2px 0; padding:1px 10px}
p{margin:0 0 1em 0}
a:link{text-decoration:none; color:#3381B7}
a:visited{text-decoration:none; color:#3381B7}
a:hover{text-decoration:underline; color:#3381B7}
ul, ol, dl{ margin: 0 0 1em 0 } 
input, textarea, select{border:1px solid #ccc; vertical-align:middle; background-color:#fff; color:#656565}
.hide{display:none}
#ie{zoom:1}
#pageID{position:absolute; top:-20px; width:100px; text-indent:-9999px;}
#wrapper{margin:0 auto; width:985px; background-color:#ededed; height:100%}

/**** UNIVERSAL NAV CONTAINER ****/
#universalNav{position:relative; top:0; left:0; width:985px; background:url(../images/page_topSlice.gif) bottom repeat-x; width:985px; text-align:right; height:3.0em}

/**** TOP LEFT TABS ****/
.topLeftTabs{position:absolute; left:-4px; bottom:2px; height:2.8em; background:#ffffff url(../images/nav/top_tabs_top.gif) 0 0 no-repeat; margin:0; padding:0; font-size:.9em}
	#ie6 .topLeftTabs{bottom:0px; height:3.0em}

.topLeftTabs li{float:left; height:2.5em; overflow:hidden; background:url(../images/nav/top_tabs-butbg2.gif) 0 bottom no-repeat !important; padding:0 0 0 4px; margin-top:4px}
	#ie6 .topLeftTabs li{margin-top:4px}
.topLeftTabs .per{background-position:-4px bottom !important; padding:0; margin-left:8px;}
	#ie6 .topLeftTabs .per{margin-left:4px}
.topLeftTabs #last{border-right:1px solid #e6e6e6; padding:0}

.topLeftTabs li a{display:block; margin-top:1px; text-align:center; height:2.0em; font-size:1.2em; line-height:2.0em; letter-spacing:-1px;}
.topLeftTabs .per a{width:8.0em}
.topLeftTabs .smb a{width:9.6em}
.topLeftTabs .ent a{width:8.0em}
.topLeftTabs li a.selected{background:#ffffff; font-weight:bold; color:#ff7200; cursor:default; text-decoration:none}
.topLeftTabs #last span{border-right:1px solid #dcdcdc; font-size:.1em; width:2px}

/* TOP RIGHT LINKS */
.topRightLinks{float:right; position:absolute; top:1px; right:5px; height:3.0em; font-size:.9em}
.topRightLinks span{line-height:3.0em; zoom:1}
.topRightLinks .espanol{padding:0 1.1em 0 1.1em; border-right:1px solid #cccccc; zoom:0}
.topRightLinks .language{padding:0 0 0 .7em; zoom:1}

#container{clear:both; background:#fff url(../images/page_midSlice.gif) 0 0 repeat-y}
#page{ margin:0 17px; width:950px; position:relative}
#header{ height:73px; clear: both; font-size: .95em}

/**** LOGO, LOG IN LINKS, & SEARCH FORM ****/
#homeSearch{height:73px; text-align:right;}
.logo{float:left; width:200px; height:73px}
.logo a{position:absolute; top:2px; left:15px; text-indent:-9999px}
.logo a span{
	background:url(../images/logo-small.png.html) 0 0 no-repeat;
	width:93px;
	height:43px;
	position:relative;
	display:block;
}
#homeSearch fieldset{position:absolute; top:25px; right:0;}
#homeSearch .find-a-store{position:absolute; right:0; top:-10px; padding-right:95px; text-align:right; font-size:1.1em; color:#cccccc}
#homeSearch .login{position:absolute; right:0; top:-10px; text-align:right; font-size:1.1em; color:#cccccc}
#homeSearch .login .lnk1{padding:0 0 0 0}
#homeSearch .login .lnk2{padding:0 0 0 0}

#homeSearch legend{display:none}
#homeSearch label{font-size:1.1em; margin-left:5px}
	#ie #homeSearch label{zoom:1}
#homeSearch input{border:1px solid #cccccc; text-indent:5px; font-size:1.1em; margin-left:2px; background:#ffffff}	
#homeSearch #query, #homeSearch #q{height:1.6em; width:137px; margin-right:1px; line-height:1.5em;}
#homeSearch select{width:130px; font-size:1.1em; height:1.6em; color:#444444; background:#ffffff}
	#ie #homeSearch select{height:1.8em; filter:alpha(opacity=70); margin-left:5px}
#homeSearch option{padding:0; margin:0;}
#homeSearch input.btnGo{border:none; width:3.0em; height:1.7em; margin-bottom:1px; margin-left:3px}
	#ie #homeSearch input.btnGo{margin-left:5px}

/**** PRODUCT NAVIGATION ****/
#content{clear:both; overflow:hidden; position:relative; width:100%; height:auto; text-align:left; z-index:2}

#prodNav{min-height:3.1em; background:url(../images/nav/prodNav-bg.gif) bottom repeat-x; letter-spacing:-1px; font-weight:bold; font-size:1.1em;}
	#ie6 #prodNav{zoom:1}
#prodNav ul{float:right; margin:0;}
#prodNav li{float:left}
#prodNav li a{line-height:2.5em; text-decoration:none; font-size:1.2em; padding:0 18px; display:block; white-space:nowrap;}
#prodNav li a:hover{color:#ff7200}

	#shopFor{position:absolute; left:20px; line-height:3.1em; font-size:1.0em; font-weight:bold; color:#888888}
   
	.shopForLink{background:url(../images/nav/prodNav-bar.gif) bottom right no-repeat;}
	.shopForLinkLast{padding:0 7px 0 0}	

/**** FLASH MARQUEE ****/
.marquee{clear:both; height:258px; overflow:hidden;border-top:1px solid #cccccc;}
.marquee .hero{height:258px;}
.micromini {
background:transparent url(../images/slots/slot-grad.png.html) no-repeat scroll 1px 1px;
border:1px solid #CCCCCC;
height:5em;
margin-bottom:10px;
position:relative;
}
/**** 4 TILES ****/
#quadBox1{height:12.4em; clear:both; display:block; position:relative; margin-bottom:10px; overflow:hidden}
   #ie #quadBox1{height:12.5em;}
   
#spacer1, #spacer2, #spacer3, #spacer4{height:12.6em; border:1px solid #cccccc; background:url(../images/slots/slot-grad.png.html) 1px 1px no-repeat; margin-bottom:10px}
.defaultContent{position:relative; height:12.2em; border:1px solid #cccccc; background:url(../images/slots/slot-grad.png.html) 1px 1px no-repeat; margin-bottom:10px}
	#ie .defaultContent{position:relative; height:12.3em; border:1px solid #cccccc; background:url(../images/slots/slot-grad.png.html) 1px 1px no-repeat; margin-bottom:10px}

.slot img{padding:1px; border:1px solid #cccccc}
.slot h2{position:relative; left:10px; top:6px; text-transform:uppercase; font-size:1em; margin-bottom:12px}
.slot h3{position:relative; left:10px; color:#ff7200; font-weight:bold; font-size:1.2em; margin-bottom:5px}
.slot p.subhead{position:relative; left:10px; color:#ff7200; font-weight:bold; font-size:1.2em; margin-bottom:5px}
.slot .disclaimer {padding: 0;margin: 0;color: #999;font-size: .9em;line-height:1.1em;}
.slot p{position:relative; left:10px; font-size:1.1em}
.slot a.bottom{left:10px; bottom:9px; font-size:1.1em}
.slotGrad{background:#f5f5f5 url(../images/slots/slot-grad.png.html) !important}

/**** LINK FARM ****/
.linkFarm{width:950px; clear:both; background:url(../images/farm-grad.gif) 0 1px repeat-x; margin-bottom:10px; border-top:1px solid #cccccc}
.linkFarmOptIn{width:948px; height: 32px; background:url(../images/optin-grad.jpg) 0 1px repeat-x; margin-bottom:10px; border:1px solid #cccccc}
.linkFarm .dim{margin:10px 0 0 10px}
.linkFarm .dim h4{font-weight:bold; margin-bottom:1em; font-size:1.1em}
.linkFarm .dim ul li{font-size:1.0em; line-height:1em; margin-bottom:.8em}

.bottomLinks{clear:both; margin-bottom:10px; color:#cccccc}
.bottomLinks a, .bottomLinks a:visited, .bottomLinks a:hover{font-size:.9em; color:#999999; padding:0 5px;}

/**** FOOTER ****/
#btmContainer
{
    clear: both;
    margin: 0 auto;
    width:985px;
    height:5px;
   background: url(../images/page_btmSlice.gif) 0 0 no-repeat transparent;
}
.copyright {
   float:left; 
	clear:both;
   width:550px;
   line-height:1.3em;
	margin:0 3px;
   color:#656565;
   padding-top:10px
}
.copyright a, .copyright a:visited, .copyright a:hover {
   color:#858585;
   font-size:1em
}
.yellowpages{margin:10px 50px 10px 0}
.ciclogo{float:right; padding:15px 10px 0 0}

/**** CONTAINERS & STUFF ****/	 
.first_182{float:left; width:182px; clear:left}
.col_182{float:left;	width:182px; margin-left:10px}
.first_230 {float:left; width:230px; clear:left}
.col_230 {float:left; width:230px; margin-left:10px}
.first_710 {float:left; width:710px; clear:left}
.col_710 {float:left; width:710px; margin-left:10px}
.col_100pc {float: left;width: 100%;}
.btnBlueCagedArrow {
   background: url(../images/btn_blue_caged_arrow.gif.html) 0 50% no-repeat transparent;
   padding: 2px 1px 0 20px;
   cursor:pointer;
   height:15px;
   display:block;
}
.btnWhiteCagedArrow {
   background: url(../images/btn_white_caged_arrow.gif) 0 50% no-repeat transparent;
   padding: 2px 1px 0 20px;
   cursor:pointer;
   height:15px;
   display:block;
}

/**** RESIZABLE ACCORDION ****/
#accordion td, #accordionHolder td{white-space:nowrap}
#accordion, #accordionHolder {
	border:1px solid #ccc;
	padding:1px 1px 0 1px;
	margin:0 0 10px 0;
	background-color:#fff;	
	overflow: hidden;
}
#ie #accordion, #ie #accordionHolder{
	overflow: hidden;
}
.accToggler, .toggleActive {
	display:block;
	margin:0;
	padding:4px 9px;
	color: #0a94d6;
	background: url(../images/bkgrd-accordion.gif) repeat-x left top #f8f8f8;
	cursor: pointer;
   position:relative;
}
h3.accToggler span {
	display: block;
	padding-right: 15px;
	/*background: url(../images/acc-arrow-right.gif) right no-repeat;*/
}
h3.toggleActive span {
	display: block;
	padding-right: 15px;
	background: url(../images/acc-arrow-down.gif) right no-repeat;
	color: #666;
	font-weight:bold; 
	font-family:Verdana;
}
h3.toggleActive span a{color:#666}
h3.toggleActive span a:hover{text-decoration:none}
.accContent {
	background: url(../images/acc-bkgrd-content.gif) repeat-x left bottom #fff;
	font-size: 1em;
	position:relative; 
	zoom:1;  
}
.three-tiles .accContent div.accPromo {
   padding:0 10px 10px;
}
.accPromo th, .accPromo td { 
	padding-top: 0px
}
.arrow-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.arrow-list li {
	padding-bottom: 3px;
	margin: 0;
}
.arrow-list li a {
	padding: 1px 0 2px 20px;
	background: url(../images/btn_white_caged_arrow.gif) left no-repeat;	
	position:relative;
	display:block;
}

/* Login Code */
.register-account {
	margin-left: 0px;
}
#login-select-form {
	display: block; 
	text-align:right; 
	margin: 7px 0 10px 0; 
}
#login-select-form label {
	font-weight: bold;
	float: left;
}
#login-select {
	width: 176px;
}
fieldset.fieldset-dimensions {
	text-align:right; 
	margin-bottom:7px;
}

.loginLinks {text-align:left; padding:10px 0 0;}
.loginLinks .es {margin:0 0 9px;display:block;font:11px/13px arial;}

input.three-boxes {
	width:22px !important; 
	height:16px !important;
}
input.four-boxes {
	width:30px !important; 
	height:16px !important;
}
fieldset.one-box input {
	/*width:80px !important; 
	height:16px !important;*/
	border: 1px solid #ccc;
}
fieldset.one-boxUV input {
	/*width:80px !important; 
	height:16px !important;*/
	border: 1px solid #ccc;
}
.rememberme input {
	border:none;
}
.rememberme label {
}
/********************
.net footer
********************/
.prefooter {margin-left:4px;background-image:url(../../../../../global/images/img_prefooter.gif);background-repeat:no-repeat;height:29px;width:977px;padding-top:7px;margin-bottom:0px;padding-bottom:0px;}
.padding {padding:10px 10px 10px 16px;}
#attonweb {background-image:url(../../../../../global/images/en/img_ATTonWeb_composite.gif);background-repeat:no-repeat;height:26px; width:977px;font-size:10px;}
.attOnWeb {position:relative;margin-left:140px;width:124px;font-size:12px;font-family:Verdana, Geneva, sans-serif;font-weight:normal;color:#666;padding-top:5px;}
.attCom {width:130px;position:relative;margin-left:317px;margin-top:-19px;line-height:13px;}
.attNet {width:200px;position:relative;margin-left:500px;margin-top:-26px;line-height:13px;}
#attonweb a {font-size:12px;text-decoration:none;}
.constrained {width:600px;position:absolute;margin-left:155px;}
/********************
autocomplete search
********************/
#suggestBoxHeader {position:absolute; top:24px; left:10px; z-index:9999; margin:0; height:auto; width:137px; background:#ffffff; border:1px solid #cccccc; }
#suggestBoxHeader ul {float:left; list-style:none; margin:0; padding:0; clear:both;}
#suggestBoxHeader li {cursor: pointer; font-size:1.0em; display:block; height:18px; line-height:18px; font-family:Verdana; padding:0 5px; width:auto; clear:both; white-space:nowrap }
#ie #suggestBoxHeader li {width:100%; min-width:150px;}
#suggestBoxHeader ul li.selected,
#suggestBoxHeader ul li:hover{background-color: #ebebeb}
 
.defaultContent2 {
background:transparent url(../images/slots/slot-grad.png.html) no-repeat scroll 1px 1px;
border:1px solid #CCCCCC;
height:18.4em;
margin-bottom:10px;
position:relative;
}

.news /* 1px border box with dark gradient one line tall */
{
    background: url(../images/rv_gradient.gif);
	height:28px;
	padding-left:10px;
	margin: 5px 0 10px 0;
    border: 1px solid #ccc;
	color:#fff;
	line-height:2.8em;
	overflow:hidden;
}

.align-left {
	text-align:left;
}

.tileTitle {
	font-size: 1em; 
	text-transform: uppercase; 
	margin-bottom: 12px; 
	position: relative; 
	top: 6px; 
	left: 10px; 
	font-weight: normal;
}
 
.padTop {
		padding-top: 16px;
}

.slot p {
	line-height:1.3em;
}

/* FOR 10104 RELEASE... */
#loginSection {
	margin:0 0 10px 0;
	background-color:#fff;	
	/*-webkit-box-shadow: rgba(0,0,0,.4) 0px 0px 10px;
	-moz-box-shadow: rgba(0,0,0,.4) 0px 0px 10px;
	box-shadow: rgba(0,0,0,.4) 0px 0px 10px;*/
}
#loginSection h3 {
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 5px 0px 5px 16px;
	/*background-color: #eee; */
	background:transparent url(../../../../../media/att/2011/homepage/bkd_LoginHeader_AA000PDF.jpg) repeat-x scroll;
}
#loginSection .accContent {
	background: none;
	margin-top:10px;
}
#loginSection .loginRibbon {
	margin:9px 0 0 -12px;
	padding:9px 12px;
	width:222px;
	height:45px;
	background:url(../../../../../media/att/2012/global/page-elements/login-ribbon_AA001GDR.png) top left no-repeat;
	color:#ffffff;
	font: 12px/14px arial;
}
#loginSection .loginRibbonEs {
	margin:9px 0 0 -12px;
	padding:15px 13px;
	width:220px;
	height:73px;
	background:url(../../../../../media/att/2012/global/page-elements/login-ribbon-SP_AA001GDS.png) top left no-repeat;
	color:#ffffff;
	font: 12px/14px arial;
}
#loginSection .importantMessage {
	margin:12px 17px 6px;
	padding:5px 8px 5px 6px !important;
	border:1px solid #E3E3E3;
	font: 12px/14px arial;
}
#loginSection .importantMessage .img {
	float:left;
	position:relative;
	margin:2px 0 0;
	width:20px;
	height:20px;
	background:url(../../../../../media/att/2012/global/page-elements/blue_alert_AA001GGE.jpg) top left no-repeat;
}
#loginSection .importantMessage .message {
	float:left;
	position:relative;
	width:148px;
}
#loginSection .accContent div.accPromo {
   padding:0 15px 0px;
}
#loginSection #unError p {
	margin:0 0 8px;
}
#loginSection label {
	margin-left: 3px;
}

.shadowClass, .shadowClassBB{
	-webkit-box-shadow: rgba(0,0,0,.4) 0px 0px 10px;
	-moz-box-shadow: rgba(0,0,0,.4) 0px 0px 10px;
	box-shadow: rgba(0,0,0,.4) 0px 0px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	filter:
	progid:DXImageTransform.Microsoft.Alpha(opacity=30)
	progid:DXImageTransform.Microsoft.Blur(pixelRadius=6, enabled='true');
}

.shadowClass{
	top: 0 !important;
	left: 1px !important;
}

.shadowClassBB{
	top: 1px !important;
	left: 2px !important;
}

.userInputNote {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 1.3em;
	color: #666;
	width: 100%;
	height: 20px;
	padding: 5px 0 0 10px;
	line-height:1.3em;
	overflow:hidden;
}
.passInputNote {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 1.3em;
	color: #666;
	width: 100%;
	height: 20px;
	padding: 5px 0 0 10px;
}

.capsLock {color:#f20; font-weight:bold; margin-left:5px; display:none}

/* jquery "uniform" global style overrides */
.styled_forms > div {
    margin-bottom: 0px;
}
.styled_forms span.textInput-wrapper {
	height: 26px;
	width: 184px;
}
div.checker {
	top: -2px;
}

/* removed from login pages */
#loginSection #numWireless, #loginSection #passWireless, #loginSection #passInputNote {border:0;width:170px;font-size:12px;}
#rem {text-align:left}
.formErrorMessage {display:none; margin:0}
.fieldset-dimensions.one-box {text-align: left; position: relative}
.styled_forms span.textInput-wrapper.error {background:url(http://www.att.com/images/global/forms/input-right-err.gif) no-repeat scroll 100% 1px transparent}
.styled_forms span.textInput-wrapper span.error {background:url(http://www.att.com/images/global/forms/input-left-err.gif) no-repeat scroll 0 1px transparent}
#loginSection .btnGo {border: 0px}

/* bubble tooltip */
#bubble {display:none; width:252px; margin-left:7px; position:absolute; top:22px; left:-235px}
#bubble.es {top:22px;}
#bubble.es.unError {top:58px;}
#bubble.unError {top:45px}
#bubbleTop {background:url(../../../../../media/att/2012/homepage/bubble_bottom.png) 0 100% no-repeat; height:190px}
.es #bubbleTop {height:200px}
#bubbleBtm {background:url(../../../../../media/att/2012/homepage/bubble_top.png) 0 0 no-repeat; min-height:90px; padding:10px 15px 15px 20px; position:relative; top:-87px}
#bubbleBtm p {margin-top:20px}
#bubbleBtm ul {margin-top:10px}
#bubbleBtm li {line-height:1em; padding:10px 0; margin:0 20px; list-style:disc}
#bubble img {width:165px; height:29px; margin:-10px auto; border:0}