#linkFarm {
	border-top: 1px solid #ccc;
	background-color: #f9f9f9;
}
#linkFarm.homepage {
	border: none;
}
#linkFarmTopLinks {
	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: 30px;
}
#linkFarmTopLinks .topLinkImg {
	vertical-align: middle;
}
#linkFarmTopLinks p {
	color: #666;
}
#linkFarmTopAndMain {
	float: left;
	width: 754px;
	background-color: #f9f9f9;
}
#linkFarm.shopLanding #linkFarmTopAndMain,
#linkFarm.homepage #linkFarmTopAndMain {
	width: 972px;
}
#linkFarm.homepage #linkFarmTopAndMain {
	background-color: transparent;
	padding-bottom: 42px;
	margin-top: 28px;
}
#linkFarmMain {
	margin-left: 40px;
}
#linkFarmOther {
	float: left;
	width: 218px;
	background-color: #f3f3f3;
}
#linkFarmTopAndMain .linkFarmCol {
	float: left;
	margin-left: 30px;
	margin-bottom: 10px;
}
.linkFarmSectionWithImg .leftImg,
.linkFarmSectionWithImg .titleAndList {
	float: left;
}
.linkFarmSectionWithImg .leftImg {
	margin-right: 10px;
}
.linkFarmSection {
	width: 160px;
}
#linkFarm.homepage .linkFarmSection {
	width: 196px;
}
.linkFarmSectionWithImg {
	width: 180px;
}
#linkFarm.shopLanding .linkFarmSectionWithImg {
	width: auto;
}

.linkFarmSectionWithMargin {
	margin-left: 55px;
	margin-top: 20px;
}
.linkFarmSection h4, .linkFarmSectionWithImg h4,
.linkFarmSectionWithMargin h4 {
	color: #666;
	font-size: 1.2em;
	line-height: .9em;
	text-transform:uppercase;
	position:relative;
	margin-bottom:20px;
}
#linkFarmColContainer3 .linkFarmSection h4 {text-transform:none !important}

.linkFarmSection ul, .linkFarmSectionWithImg ul,
.linkFarmSectionWithMargin ul {
	font-size: 12px;
}
.linkFarmSection ul li, .linkFarmSectionWithImg ul li,
.linkFarmSectionWithMargin ul li {
	font-size: 12px;
	line-height: 18px;
}
.linkFarmSection ul li a, .linkFarmSectionWithImg ul li a,
.linkFarmSectionWithMargin ul li a {
	font-size: 12px;
}
#linkFarmOther .linkFarmCol {
	margin-left: 30px;
	margin-bottom: 10px;
}
#linkFarmOther .linkFarmSection {
	margin-top: 65px;
}