.cssGlobalLinks_PageNav_Bold {
	font-size: 11px;
	color: #003799;
	font-weight: 700;
}
.cssGlobalLinks_PageNav {
	font-size: 11px;
	font-weight: 400;
	text-decoration: none;
}

a:link.cssGlobalLinks_PageNav {
	text-decoration: none;
	color: #007CC4;
}

a:hover.cssGlobalLinks_PageNav {
	text-decoration: underline;
	color: #007CC4;
}

a:visited.cssGlobalLinks_PageNav {
	color: #007CC4;
}

.cssGlobalSysText_DarkGrayBold {
	color: #333333;
	font-size: 11px;
	font-weight: 700;
}

.cssGlobalSysText_MaroonBold {
	font-size: 11px;
	color: #003799;
	font-weight: 700;
}

.cssGlobalDetour1_LimeBold {
	font-size: 13px;
	color: #808080;
	font-weight: 700;
	line-height: 18px;
}

/* admittedly a duplicate of the above link, but easier to remember, and less junky on the CSS */

a.matchLink {
	text-decoration: none;
	color: #007CC4;
}

a:hover.matchLink {
	text-decoration: underline;
}
