/* craigslist.css cl_version: 11 */

/* things we just want all the time */

body     { background: white; }
fieldset { background: #eee; }
legend   { font-weight: bold; font-family: sans-serif; font-size: small; }
label    { cursor: pointer; }
em       { color: red; font-weight: bold; font-style: normal; }
sup      { font-size: x-small; }
form     { margin: 0 }

p   { clear: both; }
img { border: 0; }

input.dv, textarea.dv { color: #aaa !important ; }

/* generic styles found sprinkled all over the place */
.ban {
	text-align:center;
	font-weight:bold;
	padding: 2px;
	clear: both;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

.highlight, .error {
	background: #ffc;
	font-family:sans-serif;
	padding: 6px;
}

.error { color: red; font-weight: bold; }
.notice { color: green; font-weight: bold; }
.alert { color: orange; }
.redForEmphasisButNotBold { color: red; }

.greytext {
	color: #777;
	font-size: x-small;
	font-weight: normal;
	font-family: serif;
}
.clfooter {
	text-align: center;
	font-size: small;
	list-style-type: none;
	padding: 0px;
}
.clfooter li {
	display: inline; padding: 0 5px;
}

td.head {
	background: #eee;
	border: 1px solid #ccc;
	text-align: right;
	white-space: nowrap;
	font-weight: bold;
}

.bchead {
	background: #eee;
	padding: 3px;
	font-family: sans-serif;
	border-bottom: 2px #ccc solid;
	margin-bottom: 1em;
}

/**********
 HELP PAGES
 **********/
.dropshadow { background: gray; float: left; margin-bottom: 10px; margin-right: 5px;}
.dropshadow img { position: relative; right: 5px; top: -5px; border: 1px #333 solid; display:block; }
.header { background: #ddd; font-weight: bold; }

td.p {
	font-family: courier,monospace;
	width: 50%;
	font-size: small;
}
td.p pre { font-size: medium; }

/*********
 HOMEPAGES
 *********/
.hp { font-family: sans-serif; }

.hp * { padding: 0;  margin: 0; }

.hp #container {
	border-spacing: 10px;
	margin: 0 auto;
	padding: 0 10px;
}

.hp .ban a { display: block; padding: 0 5px; }
.hp .ban a:hover { background: white; }

.hp td, .hp a { white-space:nowrap; }
.hp a { text-decoration:none; }
.hp a:hover { color:purple; }

.hp td { vertical-align: top; }

.hp ul { list-style: none; }

.hp div.cats { position: relative; }

.hp .col ul {
	display: table-cell;
	font-size: smaller;
	list-style: none;
	width: 48%;
	padding-bottom: 1em;
}

.hp .col h4 { margin-bottom: 3px; }

.hp div#ppp ul,
.hp div#hhh ul,
.hp div#jjj ul { width: 100%; display: block; }

/* trailing comma intentional for ie */
.hp .col ul, {
	display: inline !important;
	zoom: 1;
	vertical-align: top;
	margin-left: -10px;
	position: relative;
}

.hp div#forums ul { font-size: 72%; }
/* trailing comma intentional for ie */
.hp div#forums ul, { width: 31%; }

.hp .col ul li {
	padding-right: 8px;
}

.hp .col ul li a {
	position: relative;
	width: 100%;
	display: block;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #eaeaea;
}

.hp .col ul li a:hover {
	border-bottom: 1px solid #ccc;
	background: #eee;
}


.hp #leftbar, .hp #rightbar {
	margin: 0 10px;
	background: #f4f4f4;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
}

.hp #leftbar {
	text-align: center;
	font-size: smaller;
}

.hp #leftbar * {
	margin-left: auto;
	margin-right: auto;
}

.hp #leftbar li, .hp #leftbar a { padding: 2px; }

.hp #leftbar li:hover,
.hp #leftbar a:hover,
.hp #rightbar ul.acitem > li > a:hover { background: white; }

.hp #rightbar ul.acitem > li.cont:hover { background: transparent !important; }

.hp #rightbar h5.active { background: white; }

/* trailing comma intentional for ie */
.hp #rightbar > ul.acitem > li, { margin-bottom: -1em; }

.hp #leftlinks { margin-top: 2em; }

.hp #leftlinks li {
	margin: 4px;
}

.hp #logo {
	font-size: 235%;
	font-weight: 500;
	font-family: serif;
	width: 100%;
}

.hp #main { width: 100%; }
.hp #main td { padding: 0 10px; }

.hp div#calttl {
	background: transparent;
	border: 0;
	margin: 2px;
}

.hp div#calttl a:hover,
.hp #logo a:hover { background: transparent !important }

.hp table.cal { background: #ccc; }

.hp .cal {
	margin: 0 10px;
	text-align: center;
}

.hp .cal a { padding: 1px !important; }
.hp .cal a:hover { background: transparent !important; }

.hp .cal .dys th  {
	font-weight:bold;
	color: #555;
}
.hp .cal td  {
	background: white;
	padding: 2px;
}

.hp .cal td:hover {
	background: #eee;
}

.hp .cal td.tdy {
	background: #ffc;
	font-weight:bold;
}

.hp #postlks {
	margin: 15px 0;
}

.hp #postlks li {
	margin: 4px;
	font-size: normal;
	font-weight: 500;
}

.hp #search {
	margin: 20px 10px;
	text-align: left;
}

.hp #search div {
	text-align: center;
}

.hp #search #query { width: 98%; }
.hp #search select { width: 75%; }

.hp #topban {
	height: 2em;
	margin-bottom: 1em;
	padding: 3px;
	font-weight: normal;
}

/* trailing comma intentional for ie */
.hp #topban, {
	margin-left: 1em; margin-right: 1em;
}

.hp #topban h2 {
	display: inline;
	font-weight: normal;
	font-family: serif;
}

.hp #topban .sublinks {
	font-size:72%;
}

.hp #topban a { display: inline; }

.hp #topban .sublinks a {
	padding: 2px 5px;
	background: white;
	margin: 1px 3px;
}
.hp #topban .sublinks span { margin: 3px 7px; }

.hp #rightbar {
	font-size:70%;
	line-height: 1.43em;
	vertical-align: top;
	padding: 5px 10px;
	min-width: 11em;
}

.hp #rightbar #langlinks {
	text-align: center;
	height: 2em;
	padding: 8px;
	font-size: small;
}

.hp #rightbar h5 {
	background: transparent;
	color: blue;
}

.hp #rightbar h5.active {
	color: inherit;
}

.hp #rightbar h5.ctry {
	background: #ffc;
	border-color: #ddd;
}

.hp #rightbar h5.hot { cursor: pointer; }
.hp #rightbar h5.hot:hover { background: white; }

.hp #rightbar h5.hot.ctry:hover,
.hp #rightbar h5.hot.ctry.active,
.hp #rightbar h5.hot.ctry.active:hover { background: #ff8; }

.hp #rightbar ul { margin: 4px; list-style: none; }

.hp #rightbar ul.menu li { display: none; }

.hp #rightbar ul.menu li.s,
.hp #rightbar ul.menu li.s a { display: block; }

.hp #rightbar ul.menu ul li.more { padding-left: 1em; font-style: italic; }


/****
 TOCS
 ****/

.toc h4, .toc .sh {
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 6px 25px;
}

.toc td, .toc a, .toc th, .toc .hl { white-space:nowrap; }
.toc #messages { white-space: normal; text-align: right; }
.toc dd, .toc dt { font-size:smaller; }

.toc #ef a { font-weight: bold; }

.toc #satabs {
	margin-top: 10px;
	font-size: smaller;
}

.toc #satabs b, .toc #satabs a {
	padding: 3px;
	-moz-border-radius: 0.7em 0.7em 0 0;
	-webkit-border-radius: 0.7em 0.7em 0 0;
	border-top: 2px #ccc solid;
	border-left: 2px #ccc solid;
	border-right: 2px #ccc solid;
	line-height: 2em;
	white-space: nowrap;
}
.toc #satabs b {
	background: white;
	padding-bottom: 0.9em;
}

.toc #satabs a {
	text-decoration: none;
	padding-bottom: 0.7em;
}

.toc #satabs a:hover  {
	background: #f7f7f7;
}

.toc #sform {
	white-space: nowrap;
	background:#eee;
	border:1px solid #ccc;
	width: 90%;
	padding: 4px;
}
/**
 * CSS for the "toChecklist" jQuery plugin, by Scott Horlbeck
*/
select#neighborhood, select#nh, div#hoodtitle {
	display: none;
}

div#neighborhood, div#nh {
	position: absolute;
}

div.checklist,
div.checklistHighlighted {
	overflow: hidden;
}
div.checklist {
	border: 1px solid #ccc;
	color: #555;
	font-size: 12px;
	line-height: 1.6em;
	position: absolute;
	top: 6px;
	left: -6px;
}

ul.checklist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: white;
}

div.checklist li { padding: 3px; }
div.checklist li.even { background: white; }
div.checklist li.odd { background: #f7f7f7; }

div.checklist li.even:hover,
div.checklist li.odd:hover,
div.checklist li.focused,
div.checklist li:hover label {
	background: #dde;
}

div.checklist li.checked {
	background: #ffffa7;
	font-style: italic;
}

div.checklist li.checked:hover,
div.checklist li.checked:hover label {
	background: #ffff22;
	font-style: italic;
}

div.checklist label.disabled {
	color: #ddd;
}

div.checklist li input {
	display: block;
	float: left;
}
div.checklist label {
	display: block;
	margin: 0;
	padding: 0;
}
div.checklist label.leaveRoomForCheckbox {
	display: block;
	padding-left: 25px;
} 

ul.showSelectedItems {
	color: #770;
	font-size: .8em;
	list-style-position: outside;
	margin-left: 0;
	padding-left: 1.4em;
}

div.checklist li.optgroup {
	font-size: 1.1em;
	font-weight: bold;
	font-style: italic;
	background: #ccc;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	padding-left: 7px;
}
div.checklist li.optgroup:hover {
	background: #ccc;
}

.toc #footer #copy { float: left; }
.toc #footer #copy a { font-size: x-small; }
.toc #footer .rss { float: right; text-align: right; }

.toc #hideImgs,
.toc #showImgs { display: none; }

.toc #searchfieldset {
	border: 1px solid #ccc;
	background: #fff;
	white-space: nowrap;
}

.toc #searchtable {
	border: 1px solid #ccc;
	background: #eee;
	white-space: nowrap;
}

.toc #hoodcount {
	min-width: 1em;
	display: inline-block;
	text-align: right;
}

.toc #hoodtitle { cursor: pointer; }
.toc #hoodtogon, .toc #hoodtogoff {
	font-family: monospace;
	font-weight: bold;
	display: none;
}

.toc #searchtable td { vertical-align: top; }
.rss .l {
	background: orange;
	padding: 0px 2px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.rss .y { font-size: x-small; }

.toc #floater {
	position:absolute;
	overflow:hidden;
	z-index:999;
	display: none;
}

.toc #floater img {
	border: 2px solid #ccc;
}


.toc .row .ih { display: none; }

.toc .row .i {
	float: left;
	width: 60px;
	height: 52px;
	clear: both;
	background-repeat: no-repeat;
	background-position: center center;
}

.toc .row .i img { 
	border: 0;
	height: 50px;
	width: 50px;		
 }

.toc span.p { color: orange;  font-size: smaller; }
.toc .row .c { clear: both; }

.toc .gc a {
	padding: 2px;
	background: #eee;
	text-decoration: none;
}

.toc .gc a:hover {
	background: #f7f7f7;
}

/*************
 POSTING PAGES
 *************/

#tsb {
	background: #ffc;
	font-size: small;
	margin-top: 1em;
	padding: 4px;
}

#tsb a { white-space: normal; font-style: italic; }

#ef { float: right; }

/* flag links on postings */
#flags {
	margin: 7px;
	padding: 7px;
	border: 2px #ccc solid;
	float: right;
	text-align: right;
	font-size: small;
	background: white;
}

#flags a.fl { padding-right: 8px; display: block; }
#flags a.fl:visited { position: relative; }

/* body blurbs*/
ul.blurbs { clear: left; margin-left: 10px; padding: 10px 0 0 10px; font-size: smaller; }

/****************
 IMAGE WIDGET 
 ***************/

.iw div {
	float: left;
	margin: 2px;
}
.iw:before, .iw:after {
	content: "";
	display: table;
}
.iw:after {
	clear: both;
}

#iwt {
	margin: 0;
}

#ci {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 602px; 
	height: 452px;
	border: 1px #ccc solid;
}
#ci * {
	vertical-align: middle;
}
#ci span {
    display: inline-block;
    height: 100%;
}
/* IE/Mac *//*/
#ci {
    display: block;
}
#ci span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

.tn {
	clear: both;
}

/************
 SIMPLE PAGES
 ************/

#fakePage { position: relative; }

#sc { position: absolute; }

#sc #banner {
	width: 9em;
	position: absolute;
	background: #ddd;
	padding: 4px;
	height: 100%;
	top: 0;
	left: 0;
}

#sc #banner #logo {
	text-align: center;
	margin-bottom: 8em;
}
#sc #banner #logo span {
	color: #009;
	font-size: 80%;
	font-family: verdana,sans-serif;
	font-weight: bold;
}
#sc #banner #logo a { font-size: 200%; }

#sc #banner #update {
	font-size: xx-small;
	color: #444;
	padding: 12px;
	padding-bottom: 600px;
}

#sc #banner #prinfo {
	font-size: x-small;
	background: #ffc;
	padding: 4px;
	margin: 8px;
	margin-bottom: 3em;
}

#sc #content { margin-left: 11em;  padding: 10px; }

#sc #content p { clear: none; }

/************
 SOCIAL LINKS
 ************/

div#shareSocial {
	margin: 7px;
	padding: 7px;
	border: 2px #ccc solid;
	float: right;
	font-size: x-small;
	font-family: sans-serif;
	display: none;
	background: white;
	width: 10em;
}

div#shareSocial #sstitle { font-size: small; }

div#shareSocial #ssmain {
	border-top: 2px #ccc solid;
	margin-top: 6px;
}
div#shareSocial #ssGetMore { padding: 2px 0 0 20px; }

div#shareSocial a {
	color: #4c4c4c !important;
	text-decoration: none;
	line-height: 16px;
	margin: 3px;
	padding: 0 0 0 20px;
	background: url(../images/shareSocial.png) no-repeat top left;
	display: block;
	height: 16px;
	border-bottom: 1px #eee solid;
}

div#shareSocial a.more { display: none; }

#shareSocial a#delicious { background-position: 0px -176px; }
#shareSocial a#diigo { background-position: 0px -208px; }
#shareSocial a#digg { background-position: 0px -192px; }
#shareSocial a#email { background-position: 0px -224px; }
#shareSocial a#facebook { background-position: 0px -240px; }
#shareSocial a#fark { background-position: 0px -256px; }
#shareSocial a#friendfeed { background-position: 0px -304px; }
#shareSocial a#mixx { background-position: 0px -464px; }
#shareSocial a#myspace { background-position: 0px -496px; }
#shareSocial a#stumbleupon { background-position: 0px -704px; }
#shareSocial a#propellor { background-position: 0px -576px; }
#shareSocial a#reddit { background-position: 0px -592px; }
#shareSocial a#technorati { background-position: 0px -752px; }
#shareSocial a#twitter { background-position: 0px -784px; }

div#shareSocial a:hover { background: #eee; }


/***************
 POSTING PROCESS
 ***************/

#pp bc a {font-weight: bold; white-space: nowrap; }
#pp span.imageLabel { font-size: smaller; font-family: sans-serif; }
#pp #header { line-height: 1.5; }

#pp textarea {
	font-family: serif;
	border: #ccc 1px solid;
	background: #fbfbfb
}

#pp span.std, #pp span.req, #pp span.err { font-weight: bold; }
#pp span.req { color: green; }
#pp span.err { color: red; }

#pp input.req { border: green 1px solid; }
#pp input.err,
	#pp textarea.err { border: red 2px solid; }


#pp button { font-family: sans-serif; }
#pp blockquote#thanks {font-family: sans-serif; }
#pp blockquote#thanks div { background: #eee; padding: 12px; }

#pp h5 { font-family: sans-serif; padding: 6px; border-bottom: 3px #aaa solid; } /* bye? */

#pp .highlight { margin: 10px; }
#pp #map div { display: inline-block; padding: 0 0.2em; }
#pp #geoverifymapbits { border: 1px solid #ddd; }
#pp #search_button { display: inline-block; margin: 0.2em; }
#pp #geocodebutton { display: inline-block; margin: 0.2em; float: right; }
#pp .title { white-space: nowrap; }
#pp .title input { font-size: 1.3em; font-weight: bold; padding: 0 5px; }
#pp .row div { float: left; padding: 0 5px; }

#pp ol.sprlst li { margin-top: 1em; }
#pp ol.sprlst li span { background: #ffc; }

#pp .posting { background:#f5f5f5; padding: 10px;}

#pp #jsErr { display: none; }

#pp #oiab { font-style: italic;}

#pp #ed { white-space: nowrap; }
#pp #ed p { float: left; clear: none; padding: 5px; }

/* image upload */
#pp .addmore { float: left; }
#pp .alldone { float: right; }
#pp .alldone button { margin-right: 4px; }
#pp .images div { display: inline-block; padding: 4px; }
#pp .images div button { float: right; }

#imgtbl { min-width: 660px; }
#imgtbl div { text-align: center; width: 300px; font-size: small; float: left; margin: 10px; }

body.mceContentBody, body.mceContentBody td { font-size: inherit !important; font-family: inherit !important; }
body.mceContentBody p { clear: none !important; }

/* forms classes for use with js validation / etc */
form .defval { color: #aaa; }
form .req    { color: green; }
form .err    { color: red; }

input.req, textarea.req { border: green 1px solid; color: black; }
input.err, textarea.err { border: red   2px solid; color: black; }

/* teambios whee */
.bios p { clear: none; }
.bios #content { width: 80%; margin: 0px auto; }
.bios ul { list-style: none; padding: 0; }
.bios ul li { padding: 10px; margin: 10px 0; width: 100%; overflow: auto;}
.bios ul li img { float: left; margin: 0 10px 0 0; }

/* post management */
.managestatus { font-family: sans-serif; padding: 12px 20px; margin: 10px 20% 10px 10px; }
.managebutton { padding: 12px 4px 4px; float: left; }
