@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {


    /* Dropdown and play icon */
    .play-icon{
        background: url("../image/playlist_play@2x.png") no-repeat 0 0;
        background-size:47px 178px;
        width: 48px;
    }
    .play-icon:hover,
    .play-icon:active{
        background-position: 0 -131px;
    }

    .caret-holder{
        background: url("../image/playlist_selector@2x.png") no-repeat 0 0;
        background-size:34px 157px;
        right:.5px;
    }

    .caret-holder:hover,
    .caret-holder:active{
        background-position: 0 -118px
    }


    /* Play buttons */
/*
#artPlayer{
    background: teal!important;
}

#artPlayer:after{
    content:"";
    position: absolute;
    width: 100%;
    height:50%;
    border-bottom:1px solid lime;

}
#artPlayer:before{
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 50%;
    height:100%;
    border-right:1px solid white;
    z-index: 1000

}*/

    #artPlayer .itemPlayButton.playing,
    #artPlayer .playButton.playing{
        background-position:-24px -25px;
        width: 80px
    }

    #artPlayer .itemPlayButton,
    #artPlayer .playButton{
        background:url('../image/play_500@2x.png') no-repeat -97px -25px;
        background-size: 201px 459px;
        margin-top: -47px;
        margin-left: -35px;
        height: 98px;
        width: 94px;
    }

    #artPlayer:hover .itemPlayButton,
    #artPlayer:hover .playButton,
    #artPlayer .playButton:hover,
    #artPlayer .playButton.hover,
    #artPlayer .itemPlayButton.hover{
        background-position:-97px -130px;
    }

    #artPlayer:hover .itemPlayButton.playing,
    #artPlayer:hover .playButton.playing,
    #artPlayer .playButton.playing.hover,
    #artPlayer .itemPlayButton.playing.hover{
        background-position:-12px -130px;
    }

    #artPlayer:hover .itemPlayButton.playing,
    #artPlayer:hover .playButton.playing,
    #artPlayer .playButton.playing.hover,
    #artPlayer .itemPlayButton.playing.hover{
        background-position:-24px -130px;
        width: 80px
    }



    .newsItem.expanded .itemPlayButton{
        background-image: url("../image/play_200@2x.png%3Fv2");
        background-size: 290px 580px;
    }

    /* Player controls */

    #controls li,
    .control,
    .muteButton {
        background-image: url("../image/player_controls@2x.png");
        background-size: 230px 97px;
    }



    .js-gotoCurrent,
    #controls .js-gotoCurrent,
    .control .js-gotoCurrent {
       /* background-position: -170px -2px;
        margin-left: 25px;
        margin-right: 0;*/
        width:22px;
        height: 22px;
        margin-top: -10px;
        background-position: -170px -2px;
    }




}