/*POLLS*/
.resHold
{
	display: block;
	background-color: #000000;
}
.res
{
	display: block;
	background-image: url('../../images/2009/polls_blue.jpg');
	background-repeat: repeat-x;
	float: left;
}
.res-gray
{
	display: block;
}
/*END POLLS*/

/*RELATED ARTICLE*/
.outerAuthor
{
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.innerAuthor
{
	position: relative;
	top: -8px;
	left: -8px;
}
.resize {
	width: 150px;
	height : auto;
}
/*END RELATED ARTICLE*/

/*EXERCISE IMAGES*/
.crop
{
	width: 220px;
	height: 275px;
	overflow: hidden;
}
.inner-crop
{
	position: relative;
	top: 0px;
	left: -10px;
}
.centering
{
	text-align: center;
	width: 400px;
	overflow: hidden;
}
/*END EXERCISE IMAGES*/

/*FONT MANIPULATION*/
.font-arial
{
	font-family: Arial, Helvetica, sans-serif;
}
.font-white
{
	color: #ffffff;
}
.font-light-yellow
{
	color: #fff799;
}
.font-yellow
{
	color: yellow;
}
.font-bold
{
	font-weight: bold;
}
.font-italics
{
	font-style: italic;
}
.font-size-1
{
	font-size: 10px !important;
}
.font-size-2
{
	font-size: 13px !important;
}
.font-size-3
{
	font-size: 16px !important;
}
.font-size-4
{
	font-size: 18px !important;
}
.font-size-5
{
	font-size: 26px !important;
}
.font-size-6
{
	font-size: 32px !important;
}
/*END FONT MANIPULATION*/

/*IMAGES*/
.dot
{
	background-image: url("../../i2.gif");
	background-position: center;
	background-repeat: no-repeat;
	width: 483px;
	height: 5px;
}
/*END IMAGES*/

/*BG COLORS*/
.bg-gray
{
	background-color: #444444;
}
.bg-black
{
	background-color: #000000;
}
/*END BG COLORS*/

/*TABLES*/
.related-article
{
	width: 90%;
	height: 100%;
}
.related-author
{
	width: 80px;
}
/*END TABLES*/

/*MAIN PAGES*/
td.body
{
	color: white;
	font-size: .86em;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
td.header
{
	font-size: 1em;
	font-size: 16px;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: thin;
}
.image_border img
{
border: 2px solid #9a9b9c;
}
.image_border:hover img
{
border: 2px solid #00aceb;
}
.image_border:hover
{
color: red; /* IE bug fix */
}
/*END MAIN PAGES*/
/*BOTTOM RELATED ARTICLES*/
.related-content-bottom
{
	float: left;
	width: 30%;
	margin: 5px;
}
.related-content-bottom .image
{
	clear: both;
}
.related-content-bottom .title
{
	font-weight: bold;
	color: #fff799;
	margin-bottom: 5px;
}
.related-content-bottom .desc
{
	/*font-size: 11px;*/
	text-align: left;
}
.related-content-clear
{
	clear: both;
}
ul.no-disc
{
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
}
ul.no-disc li
{
	padding-bottom: 3px;
}
/*END BOTTOM RELATED ARTICLES*/

/*IMAGE OVERLAY*/
.overlay
{
	overflow: hidden;
}
.overlay .image
{
	background-color: #000000;
	position: relative;
	opacity:0.3;
	filter:alpha(opacity=30);
}
.enlarge-image
{
	background-image: url('../../images/2010/enlarge-image-text.png');
	position: relative;
	width: 216px;
	height: 124px;
}
.hide-overlay
{
	position: relative;
	display: none;
}
/*END IMAGE OVERLAY*/
/*SNIPPETS*/
.main-header
{
	font-size: 25px; font-weight: bold; margin: 0;
}