@import url("default.css");

body {
    background-color: #faf9f3;
}

#wrapper {
    /*background: url('/common/images/main/homepage/wrapper-shadow.jpg')!important;*/
}

#content {
    /*background: url(/common/images/bgd-mainTile.gif) repeat-y;*/
    background: url('../../../images/main/homepage/wrapper-shadow.jpg') 4px 0 repeat-y!important;
}

.cross-links h5 {
    background: url(../../../images/bgd-crossPageHeader.gif);
    border-bottom: 3px solid #421d08;
    color: #421d08;
}

.cross-links ul {
    border-top: 1px dashed #421d08;
    background: #f2e8cf;
}

    .cross-links ul li {
        border-bottom: 1px dashed #421d08;
    }

        .cross-links ul li a {
            color: #b84c14;
        }

.box-more h5,
.box-more-blog h5 {
    background: url(../../../images/bgd-aboutHeaders.gif);
    border-bottom: 3px solid #00573d;
    color: #421d08;
    padding: 6px 8px 5px 8px;
    margin-bottom: 8px;
    font-size: 12.5px;
}

.roundedCorners-left,
.roundedCorners-right {
    display: block;
    z-index: 10!important;
    bottom: -19px;
    position: absolute;
    width: 15px;
    height: 29px;
}

.roundedCorners-left {
    left: -1px;
}

.roundedCorners-right {
    right: -1px;
}

    .roundedCorners-left .rc-img,
    .roundedCorners-right .rc-img {
        display: block;
        width: 10px;
        height: 20px;
        background: url(http://www.nwf.org/common/images/topnav-landing-corners.png) no-repeat left top;
    }

    .roundedCorners-right .rc-img {
        background-position: right top!important;
    }

.top-links {
    margin-top: 0px!important;
}