#footerDiv {
	width: 100% !important;
}

li.footerlist {
		display: inline;
		padding-left: 5px;
}

#email_campaign {
	margin: 0 auto !important;
	float: none !important;
	position: relative;
	bottom: 71px;
    	left: 235px;
    	width: 270px; 
}

.fbLikeIframeClass {
	position: relative;
	top: -42px;
	left: 430px;
}

.nonAnchor a:hover,.nonAnchor a:visited,.nonAnchor a:link, a:active
{
    text-decoration: none;
    cursor:text;
}
.nonAnchor a{
cursor:text;
}

@media screen and (max-width: 940px) {
   #footer_box{ width: 1110px !important; }
   #email_campaign {display: none !important;}
}