/* iPad targeted css styles  */
.contactus #contact-us-submit .box-orange {bottom : 4px !important;}
.vehicles #global-like #siteshare-pdf a {padding-right:16px !important;}
.showroom .vehicle-selector .vehicle-tout ul li{width:146px;}
.owners.videos #subnav-wrapper #content #videos-container {height:470px !important;}
.owners.videos #subnav-wrapper #content #video-player-desc .share-widget-container {margin-top:26px !important;}
.small-view:hover a.design-view-btn, .large-view-container:hover a.design-view-btn {
	background-position:0 0;
}
.themes .available li .display img {
    margin-left: 14px;
}


.modal-shield {
       width: 1200px !important;
}
.modal-content-wrapper {
    margin-left: 110px !important;
    width: 980px;
    top:80px !important;
}
.modal-content-wrapper.narrow {
    width: 520px;
}
body {
        width: 1200px !important;
}

/* Environment */
.environment .module-container.footerTypeModule,
.environment .module-container#module-8 {
    background-color: #000;
    margin-bottom:-1px;
}
/* Showroom */
li#all-models_tab {width: 138px;}

.showroom #content #vehicle-containers.all-models .vehicle-container:hover,
.showroom #content #vehicle-containers.all-models .vehicle-container,
.showroom #content #vehicle-containers .vehicle-container,
.showroom #content #vehicle-containers.all-models .vehicle-container:hover .all-models-container {
    border-radius: none !important;
    box-shadow: none !important; 
    -webkit-border-radius: none !important;
    -webkit-box-shadow: none !important; 
    -webkit-appearance:none !important;
}
.showroom #content #vehicle-containers.all-models .vehicle-container:hover,
.showroom #content #vehicle-containers.all-models .vehicle-container,
.showroom #content #vehicle-containers .vehicle-container  {
    border-bottom: 0px solid #fff !important;
    margin: -15px 0 15px;
    padding: 15px 15px 0px;
}
.showroom #content #vehicle-containers.all-models .vehicle-container:hover .all-models-container,
.showroom #content #vehicle-containers.all-models .vehicle-container .all-models-container,
.showroom #content #vehicle-containers .vehicle-container .all-models-container {
    border-bottom: 1px dotted #C6C6C6;
}

/** Gallery **/
#gallery-hero-wrap {height:549px !important}

/*Family Pages */
.four-col-tout .module-cta li a{visibility:visible;}
.events_partnerships #module-1 .module-cta li a , .enthusiasts #module-1 .module-cta li a{visibility:visible;}
.events_partnerships #module-2 .module-cta li a , .enthusiasts #module-2 .module-cta li a{visibility:visible;}
.events_partnerships .footer-module .module-cta li a, .enthusiasts .footer-module .module-cta li a {visibility:visible;}
.events_partnerships .video-button {visibility:visible;}

/** Oweners videos **/
.owners.videos .type5 .modal-content-wrapper {
	width: 424px;
}