.leaderboardContainer {width: 867px; }
* html .leaderboardContainer {border-bottom-style:none;}

.globalNavBorder {width: 867px; }
* html .globalNavBorder {border-top-style: solid;}

.morecomments {font-size:12px;font-weight:bold}

/* Reviews */
.uslReviews { text-align:left; font-family: Arial, Helvetica, sans-serif; border-top:1px solid #666; padding-top:30px;}

.uslRevSmry { float:left; padding-bottom: 12px; width:100%;}
.uslRevSmryCount { float:left; font-size:14px; font-weight:bold; }  
.uslRevSmryRating { float:right; font-size:12px; font-weight:bold; }
.uslRevSmryRating img { vertical-align: middle; }  
.uslRevSmryRating { }

.uslRevFormInHead { font-size: 11px; font-weight:normal; }
.uslRevFormInHeadMsg { float:left; font-size: 12px;font-weight: bold; }
.uslRevFormInHeadHandle { float: right; }
.uslRevFormInHeadHandle a { color: black;text-decoration: none; }

.uslRevFormOutHead { font-size:12px; font-weight:bold;}
.uslRevFormOutHeadMsg { }
.uslRevFormOutHeadLogin a { color:#00529b; text-decoration: none; }
.uslRevFormOutHeadRegister a { color:#00529b; text-decoration: none; }
.uslRevFormOutHeadLogin a:hover, .uslRevFormOutHeadRegister a:hover { text-decoration:underline; }

.uslRevForm { float:left;  margin: 10px 0px 0px 0px; }
.uslRevForm form { margin: 0px; } 
.uslRevFormTitleLabel { font-size: 11px; font-weight:bold; display:block;  }
.uslRevFormTitle { float: left;}
.uslRevFormTitle input{ font-family: Arial, Helvetica, sans-serif;font-size:12px;width: 400px;margin-top:10px;margin-bottom:10px; float:left;}
.uslRevFormRating { float: right; display:inline; padding-top:10px;}
.uslRevFormBodyLabel { float:left;width:100%;font-size: 11px; font-weight:bold; display:block; text-align:left; }
.uslRevFormBody textarea { float:left; font-family: Arial, Helvetica, sans-serif;font-size:12px;width:100%;  margin-top:10px; height:102px;}
.uslRevFormBody { float:left; font-family: Arial, Helvetica, sans-serif;font-size:12px;width:100%;  margin-top:10px;}
.uslRevFormSubmit { float:left;padding-top: 30px;padding-bottom: 28px;}
.uslRevFormError { float:left; }

.uslRev {clear:both; }
.uslRevStaff { font-weight:bold; font-size: 13px; }
.uslRevUserPhoto a img { float: left; vertical-align: top; margin-right: 10px; border: 1px solid #999999; width: 58px; height:58px; }
.uslRevHeader { vertical-align: top; margin-bottom: 5px; }
.uslRevWroteBy {font-size: 11px; margin-right: 5px;}
.uslRevWroteBy a { color: #508ab3; font-weight: bold; text-decoration: none; font-size: 11px; }
.uslRevDate { color: gray; font-size: 11px; }
.uslRevHeadline { margin-left:70px; } 
.uslRevTitle { font-size: 12px; font-weight: bold;  }
.uslRevRating { }
.uslRevBody { padding-left: 70px; font-size: 12px; color: black; }
.uslRevCtls { text-align:right; vertical-align: bottom;}
.uslRevRec a { }
.uslRevRepAbuse { }
.uslRevSeparator { margin: 13px 0px 22px 0px; border-bottom: 1px solid #b1b1b1; height:5px; }

.uslReviewsLink a { color:#666; font-size: 10px; text-decoration: none;  }
.uslReviewsLabel { padding-right: 2px;}
.uslReviewsCount { font-weight:bold; font-size: 11px; padding:1px 0px 1px 15px;}
.uslDisabledReviewsLink { color:#666; font-size: 10px; text-decoration: none;  }
.uslDisabledReviewsCount { color:#666; padding:1px 0px 1px 14px; background:url(../../../community/_common/_images/rate_off.gif) right 50% no-repeat; }
       
/* Comments */ 
.uslComments { width:100%; text-align:left; font-family: Arial, Helvetica, sans-serif; padding-top:8px;}
.uslComSmry {float:left;padding-bottom:20px}
.uslComSmryCount { font-size:14px; font-weight:bold; padding-bottom:5px;}  
.uslComFormInHead { font-size: 11px; font-weight:normal; }
.uslSortOrder { font-size:11px;margin-top:-2px;padding-left:10px;float:left}
.uslSortOrder select { font-size:11px; font-family: Arial, Helvetica, sans-serif; }
.uslComFormInHeadMsg { float:left; font-size: 12px;font-weight: bold; padding-bottom:0px; margin-bottom:2px; _MARGIN-BOTTOM:-12px;}
.uslComFormInHeadHandle { float: right; padding-bottom:0px;  _MARGIN-BOTTOM:-20px;}
.uslComFormInHeadHandle a { color: black;text-decoration: none; }
.uslComFormOutHead { font-size:12px; font-weight:bold; MARGIN-BOTTOM:2px; _MARGIN-BOTTOM:-27px;}
.uslComFormOutHeadMsg { }
.uslComFormOutHeadLogin a { color:#00529b; text-decoration: none; }
.uslComFormOutHeadRegister a { color:#00529b; text-decoration: none; }
.uslComFormOutHeadLogin a:hover, .uslComFormOutHeadRegister a:hover { text-decoration:underline; }
.uslComForm { margin-top:0px; margin-bottom: 0px;}
.uslComFormBody textarea { width:99%; height:102px;font-family: Arial, Helvetica, sans-serif;font-size:12px;}
.uslComFormSubmit { padding-bottom: 30px; padding-top: 10px;}
.uslComFormSubmit input { width:65px; height:21px;}
.uslComFormError { }
.commentsponsor {float:right; margin:9px 0 0 0;}

div.uslCom {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
.uslComStaff { font-weight:bold; font-size: 13px; display:block; padding-bottom: 3px;}
div.uslComUserPhoto {margin-right: 0;}
.uslComUserPhoto a img { float: left; vertical-align: top; margin-right:10px; margin-top:2px; border: 1px solid #999999; width: 58px; height:58px; }
.uslComHeader { padding-left: 70px; font-size: 11px; vertical-align: top; margin-bottom: 5px; }
div.uslComBody   { padding: 0 0 0 70px; font-size: 12px; color: black; width:auto; font-family: Arial, Helvetica, sans-serif; line-height:15px}
.uslComWroteBy {font-size: 11px; margin-right: 5px; float:left; display:block; margin-left:1px; }
.uslComWroteBy a { color: #508ab3; font-weight: bold; text-decoration: none; font-size: 11px; }
.uslComDate { color: gray; font-size: 11px;  }
.uslComCtls { font-size: 11px; text-align:right; vertical-align: bottom;}

.uslComRec a { }
.uslComRepAbuse { }
.uslComSeparator { margin: 6px 0px 22px 0px; border-bottom: 1px solid #b1b1b1; height:5px; }

span.uslCommentsLink {display: inline;}
.uslCommentsLink a { color:#666; font-size: 10px; text-decoration: none;  }
.uslCommentsLabel { padding-right: 2px; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, sans-serif;}
span.uslCommentsCount {display: inline; float: none; font-weight: bold; font-size:11px; padding:1px 0px 1px 16px; font-family: Arial, Helvetica, sans-serif;}
.uslDisabledCommentsLink { color:#666; font-size: 10px; text-decoration: none; display: inline; font-weight:normal}
.uslDisabledCommentsCount { color:#666; font-weight: bold; font-size:11px; padding:1px 0px 1px 14px; background:url(../../../community/_common/_images/comments-after_off.gif) right 50% no-repeat; }  

/* For Pluck Facebook Connect */
.facebook_connect_wrapper {padding-left:85px; padding-top:12px;}
.facebook_connect_checkbox {vertical-align: 1px; margin-left:1px; margin-right:1px;}
.uslComFacebook {font-size: 12px; vertical-align: 3px;}
.no_facebook_connect {padding-left:85px; padding-top:12px;}
.no_facebook_connect a {color: #00529b; text-decoration: none;}
.no_facebook_connect a:hover {text-decoration: underline;}

/* Comments and Reviews Common */
.uslPipe { text-align:center; }
.uslReactionFormHead { }
.uslReactionForm { }
.uslComFormError { float:left; display:block; width:100%; }
.uslRevFormError { float:left; display:block; width:100%; }
.uslFormErrorTitle { display: block; width: 100%; color:Red; font-size:12px; font-weight:bold; }
.uslFormErrorMsg { display: block; padding-bottom:10px;font-size:11px; font-weight:normal; }
.uslReactionSummary { }
.uslReactionList { clear:both }
.uslPagination {}
.uslPaginationInside a {text-decoration:none; color:#00529b;}
.uslPaginationInside a:hover {text-decoration: underline;}
.uslPaginationInside {background-color:#f0f0f0; padding:5px 10px 5px 10px; text-align:right; font-size:11px; text-decoration:none; color:#000; margin:20px 0 20px 0;}
        
/* Avatar */  
#pageContainer .ur_box { width: 230px; padding-top: 0px; font-size:10px;}
#ur_login { left: -168px; top: -3px; }
#ur_options { left: -143px; top: -3px; }
#ur_register { left: -168px; top: -3px; }
#ur_confirmations { left: -66px; top: -3px; }
.transImg img { float:right; padding-top:25px; }

.uslAvtIn { text-align:right; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.uslAvtIn a { text-decoration: none; color:#000000; font-size: 10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.uslAvtPhoto { float:right; margin-left: 9px; }
* html .uslAvtPhoto {border-top: 1px solid #fff;}
.uslAvtPhoto img { border: 1px solid #999999; width: 58px; height:58px; }
#pageContainer .uslAvtInfo { width: 159px;padding-top:3px;text-align:right; float:left;}
#pageContainer .uslAvtWelcome { font-size:9px; color:#000000; font-weight:bold;}
#pageContainer .uslAvtHandle b { padding-top: 2px;display:block;font-size:9px; color:#00529b;}
* html .uslAvtHandle b { padding-top: 3px; }
#pageContainer .uslAvtInCtls {  padding-top: 2px; }
#pageContainer .uslAvtInCtls a {font-size:9px; color:#00529b; }
.uslAvtLogout a {  }
.uslAvtOptions a {  }
.uslAvtMsgs a { font-size:9px; color:#00529b; } 
.uslAvtHandle a:hover, .uslAvtMsgs a:hover, .uslAvtInCtls a:hover { text-decoration:underline; }       
.uslAvtMsgs { padding-top:2px;}
* html .uslAvtMsgs {  padding-top: 3px;}

.uslAvtPhotoLogOut {float:right; margin-left: 6px; }
.uslAvtPhotoLogOut img { border: 1px solid #999999; width: 58px; height:58px; filter:alpha(opacity=25); opacity:.25; }
.uslAvtGreeting { float:left; padding-top:3px; color:#000000; text-align:right; font-size:9px; width:160px;}
.uslAvtOut { float:left;text-align:right; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }  
.uslAvtOut a { text-decoration: none; color:#000000; font-size: 10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.uslAvtOutCtls { }  
.uslAvtOutCtls a:link a:visited a:active { text-decoration: none }
.uslAvtOutCtls a:hover { text-decoration: underline }    
.uslAvtRegister { }
.uslPipe { }
.uslAvtLogin a{color:#00529b; }
.uslAvtRegister a{ color:#00529b; }       
.uslWhatsThis { }
.uslWhatsThis a{ color:#666; }
.uslWhatsThis a:hover {text-decoration:underline;}

/* Report Abuse Form */
.uslReportAbuseLink a { font-size: 11px; text-decoration: none;	color: gray; font-size:10px; font-family: Arial, Helvetica, sans-serif; padding:1px 20px 2px 5px; }
.uslAbuseReported { font-size: 10px; color: gray; padding:1px 20px 1px 5px; }
.uslReportAbuseForm {background-color:#d1dcfc; width:190px; font-weight:bold; border:1px solid #000000; font-family:Verdana; font-size:10px; text-align:left; z-index:4; position:absolute;}
.uslReportAbuseHead {padding:2px; height:15px;}
.uslReportAbuseHead a{float:right; border:1px solid #000000; color:#000000; background-color:#FFFFFF; padding:1px; text-decoration:none; }
.uslReportAbuseHead a:hover{background-color:#000000; color:#FFFFFF;}
.uslReportAbuseInterior{ width:190px; padding-bottom:3px; clear:both;}
.uslReportAbuseInterior a{float:left; font-weight:bold; height:15px; border-bottom:1px solid #000000; color:#000000; padding:2px 0px 0px 10px; width:160px; background-color:#FFFFFF; text-decoration:none; }
.uslReportAbuseInterior a:hover{background-color:#CCCCCC;}
.uslReportAbuseInterior select{margin-left:5px; }
.uslReportAbuseComment {width:190px;}
.uslReportAbuseComment textarea {width:90%; height:70px; margin-left:5px; font-family: Arial, Helvetica, sans-serif;font-size:12px; }
.uslReportAbuseComment input {padding:1px; margin:3px 0px 3px 5px; }

/* Recommend */
span.uslRecommendLink {display: inline;}
.uslRecommendLink a { color:#666; font-size: 10px; text-decoration: none; }
.uslRecommendLabel { padding-right:2px; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, sans-serif;}
.uslRecommendCount { font-weight: bold; font-size:11px; padding:1px 0px 1px 13px;font-family: Arial, Helvetica, sans-serif;display: inline; float: none;}
.uslDisabledRecommendLink { color:#666; font-size: 10px; text-decoration: none; display: inline; font-weight:normal}
.uslDisabledRecommendCount { color:#666; font-weight: bold; font-size:11px; padding:1px 0px 1px 13px; background:url(../../../community/_common/_images/recommend-after_off.gif) right 50% no-repeat; }
span.uslRecommended {display: inline;}
.uslRecommended { color: #666; font-size: 10px; text-decoration: none;  } 
.uslRecommendedLabel { padding-right:4px; }
.uslRecommendedCount { font-weight: bold; font-size:11px; padding:1px 0px 1px 16px; font-family: Arial, Helvetica, sans-serif;display: inline;float: none;}
.uslDivider {}

.uslNoLabels .uslCommentsLabel { display: none; }
.uslNoLabels .uslReviewsLabel { display: none; }
.uslNoLabels .uslRecommendLabel { display: none; }

.uslCommentsLabel { margin-right: 3px; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, sans-serif; float: none; display: inline; font-weight: normal;}
.uslReviewsLabel { margin-right: 3px; }
.uslRecommendLabel { margin-right: 2px; font-size:11px; text-decoration:none; font-family: Arial, Helvetica, sans-serif; float: none; display: inline; font-weight: normal;}
.uslCommentsLink a:hover, .uslReviewsLink a:hover, .uslRecommendLink a:hover {text-decoration:underline; } 

/*.uslCom { overflow:hidden;}*/