.snas_template{
	display: none;
}

div#gateway_message_alertbox{
	border: 1px solid #050505;
	background: #FFFFFF;
	color: #000;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	position: absolute;
	top: -1000;
	left: -1000;
	padding: 10px;
	z-index:5000;
}
div#gateway_message_alertbox a{
	color: #0E259A;
}
	.login_popup_wrapper{
		padding:4px !important;
		background:#bebebe !important;
		}
div#lightbox{
/*	position: fixed;*/
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	z-index:4999;
}
ul.comments{
	list-style-type: none;
	/*width: 500px;*/
	margin: 0px;
	padding: 0px;
	clear: both;
}
div#commenting{
	position: relative;
}
div#commenting ul.pagination{
	display: block;
	float: right;
	clear: both;
}
div#commenting ul.pagination li{
	float: left;
	list-style-type: none;

	border-right: 1px solid black;
}
div#commenting ul.pagination li a:hover{
	cursor: pointer;
}
div#commenting ul.pagination li:last-child{
	border-right: none;
}
div#commenting ul.pagination li.selected a{
	font-weight: bold;
}
ul.comments .created_date,ul#comments .flag_comment{
	font-size: .8em;
	margin: 3px 0;
}
ul.comments .created_date{
	float: left;
}
ul.comments .flag_comment{
	float: right;
	text-transform: uppercase;
	text-decoration: none;
}
ul.comments div.comment{
	clear: both;
	border: 1px solid #CCC;
	padding: 5px;
}
ul.comments li{
	overflow:hidden;
}
textarea.commentText{
	width: 630px;
	font-size: 12px;
	border: 1px solid #000;
	clear: both;
	display: block;
}
a#comment_link{
	display: none;
}
form#comment_input{
	margin: 10px 0;
}
form#comment_input label{
	font-size: .9em;
}
form#comment_input button{
	/*font-size: .9em;*/
	margin-top: 3px;
	float:right;
}
form#comment_input button#cancel_comment{
	float:left;
	text-transform:uppercase;
}
span.vote_percent{
	margin-right: 5px;
}
div.G_internal_alertbox{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	position: absolute;
	z-index:30;
	overflow: hidden;
}
		/***************************
		ALERTBOX
		*/
		.G_internal_alertbox_msg{
			width: 495px;
			}
		div.G_internal_alertbox_message{
			position: absolute;
			top: -1000;
			left: -1000;
			z-index:50;
			}
			div.internal_alertbox_registration{
				width: 495px;
			}
			.G_internal_alertbox_header{
				background: url(../registration/app/_images/alertbox/alertbox_header.png) no-repeat left top;
				height: 51px;
				position: relative;
				padding: 18px 22px 0;
				}
				.G_internal_alertbox_header .G_internal_alertbox_header_msg{
					color: #FFF;
					font-weight: bold;
					font-size: 1.58em;
					}
				.G_internal_alertbox_header .G_internal_alertbox_close_btn{
					background: url(../registration/app/_images/alertbox/close_btn.gif) no-repeat left top;
					display: block;
					text-align: center;
					width: 78px;
					height: 31px;
					color: #e9eef0;
					font-weight: bold;
					font-size: 1.5em;
					position: absolute;
					right: 10px;
					top: 16px;
					padding-top: 4px;
					}
			.G_internal_alertbox_content{
				background: url(../registration/app/_images/alertbox/alertbox_content.gif) repeat-y left top;
				padding: 8px 23px 15px;
				min-height: 141px;
				color: #323031;
				font-size: 1.1em;
				}
				.G_internal_alertbox_content p{
					padding: 0 0 10px;
					}
			* html .G_internal_alertbox_content{
				height: 141px;
				}
			.G_internal_alertbox_footer{
				background: url(../registration/app/_images/alertbox/alertbox_footer.png) no-repeat left top;
				height: 22px;
				}
div.G_internal_alertbox_message.G_internal_wait{
	height: 30px;
	color: #000000;
	border: none;
	padding-bottom: 10px;
	background: url('../_images/ajax-loader.gif') no-repeat center 95%;
}

/* facebook connect button in overlay ajax login */
div#gateway_message_alertbox .fb_loginButton {
	height: 50px;
	width: 360px;
}

div#gateway_message_alertbox .progressIndicator {
	float: left;
	font-size:11px;
	padding: 10px 10px 0px 0px;
}
