
/***************************
        HEADER
***************************/
#header
{
 width: 980px;
 height: auto;
 position: relative;
 z-index: 16000;
}

#header_wrapper
{
 width: 980px;
 height: auto;
 /*background: url('/_images/header_new.jpg') left top no-repeat;*/
 background: url('../_images/gw2013/header_new.jpg') left top no-repeat;
}

#header h1.logo
{
 width: 217px;
 height: 172px;
 float: left;
}

#header h1.logo a
{
 width: 206px;
 height: 133px;
 display: block;
 text-indent: -9999px;
 cursor: pointer;
 z-index: 20000;
 /*background: url('/_images/telemundo_logo_rebrand.png') no-repeat 50% 0;*/
 background: url('../_images/gw2013/telemundo_logo_rebrand.png') no-repeat 50% 0;
 margin-top: 30px;
}

#header_content_wrapper
{
 width: 728px;
 height: auto;
 float: left;
}

/****************************
    HEADER TOP SECTION
*****************************/
#header_top
{
 height: 60px;
 padding: 6px 0 0 0;
 overflow: hidden;
}

.header_area1
{
 width: 350px;
 float: left;
}

.header_area2
{
 float: right;
 margin:22px 0 0 0;
}

/** Bing Search form **/
#buscar
{
 width: 418px;
 height: 40px;
 float: left;
 margin: -2px 2px 0 0;
 background:url('../_images/bing_search_box.png') 0 0 no-repeat;
 padding:6px 0 0 5px;
 position:relative;
 top:-3px;
}

#buscar_input
{
 width: 260px;
 height: 20px;
 padding: 1px 1px 2px 2px;
 font-weight:normal;
 font-size:14px;
 color:#525051;
 border: 0;
 float:left;
}

#buscar button
{
 height: 23px;
 cursor: pointer;
 text-indent: -9999px;
}

#buscar #btn_search_site
{
 width: 80px;
  height:26px;
 background: url('../_images/buttons/btn_site_search.png') no-repeat 0 0;
 float:left;
 margin:-1px 0 0 64px;
}

#buscar #btn_search_web
{
 width: 35px;
 background: url('../_images/buttons/Btn_web.jpg') no-repeat 0 1px;
}

/** MSN links **/
#header_top #msn_links
{
 float: left;
 font-family: Arial, Helvetica, sans-serif;
 font-size: .84em;
 line-height: .84em;
}

#header_top #msn_links li
{
 float: left;
}

#header_top #msn_links li.nav
{
 padding: 3px 5px 4px 4px;
 margin: 6px 0;
 background: url('../_images/divider_white.gif') no-repeat right 3px;
}

#header_top #msn_links li a
{
 color: #fff;
 text-transform: capitalize;
}

#header_top #msn_links #msn_dropdown
{
 padding: 0 0 0 4px;
 background: none;
 z-index: 89999;
}

#header_top #msn_links #msn_dropdown a.dropdown_trigger
{
 width: 32px;
 padding: 2px 0 4px;
 background: url('../_images/icons/down_arrow_white.gif') no-repeat 23px 3px;
 border: 1px solid transparent;
 display: block;
}

#header_top #msn_links #msn_dropdown a.dropdown_trigger:hover
{
 border-color: #fff;
}

/** MSN Logo **/
#header_top #msn_links #msn_logo
{
 text-indent: -9999px;
 padding: 0;
 margin: -2px 0 0 8px;
 background: url('../_images/msn_logo.png') no-repeat left top;
}

#header_top #msn_links #msn_logo a
{
 width: 90px;
 height: 20px;
 display: block;
}

.dropdown_wrapper
{
 overflow: hidden;
 height: 0;
 position:absolute;
 z-index:50000 !important;
}

.dropdown_content
{
 width:140px;
 height:250px;
 color:#fff;
 overflow:auto;
 z-index: 22000 !important;
 position: relative;
}

.dropdown_content dd,
.dropdown_content li
{
 width: 100px;
 font-size: 0.9em;
}

.dropdown_content dd a
{
 display: block;
 padding: 2px 0 2px 4px;
 margin-left: -4px;
}

.dropdown_content dd a:hover
{
 background-color: #273e50;
}

li#msn_dropdown .dropdown_wrapper
{
 background: #8F8F8F;
 width: 121px;
}

li#msn_dropdown .dropdown_wrapper
{
 right: 0;
 top: 28px;
}

li#msn_dropdown .dropdown_content
{
 font-size: 1.2em;
}

li#msn_dropdown .dropdown_content li
{
 float: none;
 line-height: 20px;
}

li#msn_dropdown .dropdown_content li a
{
 display: block;
 padding-left: 5px;
 line-height: 20px;
}

li#msn_dropdown .dropdown_content li a:hover
{
 background-color: #707070;
}

li#msn_dropdown .dropdown_content li,
li#msn_dropdown .dropdown_content li a
{
 width: 110px;
}

/***************************
 HEADER MAIN SECTION
*****************************/
#header_main
{
 height: 91px;
 padding: 1px 0 0 0;
}

/* 728 x 90 ad */
#top_ads
{
 overflow: hidden;
 clear: both;
}

#ad_728x90
{
 padding: 0 0 0 0;
 width: 728px;
 height: 90px;
 text-align: right;
 float: left;
}

/* ad companion promo */
#ad_120x90
{
 margin-left: 0;
 float: right;
}

/***************************
  HEADER CONTENT 2 SECTION
*****************************/
#header_content2
{
 width: 746px;
 height: 38px;
}

.login_links
{
 width: 180px;
 font-size: .92em;
 line-height: .92em;
 padding-top: 14px;
 position: absolute;
 left: 16px;
 top: 156px; 
 font-family: 'museo_300regular';
}

.login_links li
{
 float: left;
}

.login_link
{
 margin-right: 5px;
}

.welcome_text
{
 margin-right: 5px;
 color: #959595;
}

.login_link a:link,
.login_link a:visited
{
 /*color: #fff;*/
 color: #8f8f8f;
}

.login_link a:hover,
.login_link a:active
{
 color: #fff;
}

.register_link
{
 padding-left: 7px;
 background: url('../_images/divider_white.gif') no-repeat left;
}

.register_link a:link,
.register_link a:visited
{
 /*color: #fff;*/
 color: #8f8f8f;
}

.register_link a:hover,
.register_link a:active
{
 /*color: #fff;*/
 color: #8f8f8f;
}

.secmenu_navbar
{
 width: 734px;
 height: 27px;
 margin: 5px 0 0 0;
 z-index: 19990;
 float: right;
 position: relative;
}

.secmenu_navbar li.nav_item
{
 height: 27px;
 float: left;
 z-index: 19990;
 position: relative;
 padding:0 13px 0 0;
 border-right: 1px solid #fff;
}

.secmenu_navbar li.nav_last{
 padding:0;
 border: 0;
 
}

.secmenu_navbar li.nav_item a.nav_top
{
 height: 27px;
 display: block;
 text-indent: -9999px;
 cursor: pointer;
 /*background: url('/_images/modules/header/icons_subnav.png') left top no-repeat;*/
 background: url('../_images/gw2013/icons_subnav.png') left top no-repeat;
}

.secmenu_navbar li.nav_item:first-child{
background: none;
}
/* NAV MAIN */
.secmenu_navbar li.nav_item1 a.nav_top:link,
.secmenu_navbar li.nav_item1 a.nav_top:visited
{
  background-position: -153px 0;
  width: 132px;
}

.secmenu_navbar li.nav_item2 a.nav_top:link,
.secmenu_navbar li.nav_item2 a.nav_top:visited
{
 width: 42px;
 background-position: -444px 0;
}

.secmenu_navbar li.nav_item3 a.nav_top:link,
.secmenu_navbar li.nav_item3 a.nav_top:visited
{
  background-position: -75px 0;
  width: 65px;
}

.secmenu_navbar li.nav_item4 a.nav_top:link,
.secmenu_navbar li.nav_item4 a.nav_top:visited
{
  background-position: -152px 0;
  width: 72px;
}

.secmenu_navbar li.nav_item5 a.nav_top:link,
.secmenu_navbar li.nav_item5 a.nav_top:visited
{
  background-position: -297px 0;
  width: 146px;
}

.secmenu_navbar li.nav_item6 a.nav_top:link,
.secmenu_navbar li.nav_item6 a.nav_top:visited
{
 width: 76px;
 background-position: -408px 0;
}

.secmenu_navbar li.nav_item7 a.nav_top:link,
.secmenu_navbar li.nav_item7 a.nav_top:visited
{
 width: 42px;
 background-position: -497px 0;
}

.secmenu_navbar li.nav_item8 a.nav_top:link,
.secmenu_navbar li.nav_item8 a.nav_top:visited
{
  background-position: -550px 0;
  width: 38px;
}

.secmenu_navbar li.nav_item9 a.nav_top:link,
.secmenu_navbar li.nav_item9 a.nav_top:visited
{
 width: 84px;
 background-position: -607px 0;
}

.secmenu_navbar li.nav_item10 a.nav_top:link,
.secmenu_navbar li.nav_item10 a.nav_top:visited
{
 width: 66px;
 background-position: 0 0;
}

/** Rollovers **/
.secmenu_navbar li.nav_item1 a.nav_top:hover,
.secmenu_navbar li.nav_item1 a.nav_top:active,
.secmenu_navbar li.nav_item1 a.nav_active:link,
.secmenu_navbar li.nav_item1 a.nav_active:visited
{
 background-position: -153px -30px;
}

.secmenu_navbar li.nav_item2 a.nav_top:hover,
.secmenu_navbar li.nav_item2 a.nav_top:active
{
 background-position: -444px -30px;
}

.secmenu_navbar li.nav_item3 a.nav_top:hover,
.secmenu_navbar li.nav_item3 a.nav_top:active
{
 background-position: -75px -30px;
}

.secmenu_navbar li.nav_item4 a.nav_top:hover,
.secmenu_navbar li.nav_item4 a.nav_top:active
{
  background-position: -152px -30px;
}

.secmenu_navbar li.nav_item5 a.nav_top:hover,
.secmenu_navbar li.nav_item5 a.nav_top:active
{
 background-position: -297px -30px;
}

.secmenu_navbar li.nav_item6 a.nav_top:hover,
.secmenu_navbar li.nav_item6 a.nav_top:active
{
 background-position: -408px -30px;
}

.secmenu_navbar li.nav_item7 a.nav_top:hover,
.secmenu_navbar li.nav_item7 a.nav_top:active
{
 background-position: -497px -30px;
}

.secmenu_navbar li.nav_item8 a.nav_top:hover,
.secmenu_navbar li.nav_item8 a.nav_top:active
{
 background-position: -550px -30px;
}

.secmenu_navbar li.nav_item9 a.nav_top:hover,
.secmenu_navbar li.nav_item9 a.nav_top:active,
.secmenu_navbar li.nav_item9 a.nav_active:link,
.secmenu_navbar li.nav_item9 a.nav_active:visited
{
 background-position: -607px -30px;
}
.secmenu_navbar li.nav_item10 a.nav_top:hover,
.secmenu_navbar li.nav_item10 a.nav_top:active
{
 background-position: 0px -30px;
}

.secmenu_navbar .secmenu_drop
{
 width: 150px;
 height: auto;
 position: absolute;
 top: -3px;
 left: 5px;
 padding: 0 0 13px;
 display: none;
 z-index: 19980;
}

.secmenu_navbar .nav_center .secmenu_drop
{
 top: -2px;
 left: -55px;
}

.secmenu_navbar li.nav_item:hover ul.secmenu_drop
{
 display: block;
}

.secmenu_navbar .secmenu_drop li.secmenu_drop_first
{
 width: 150px;
 height: 30px;
 float: left;
}

.secmenu_navbar .nav_left .secmenu_drop li.secmenu_drop_first
{
 background: transparent url('../_images/modules/header/subnav_left_firstdropshawdow.png') 1px top no-repeat;
}

.secmenu_navbar .nav_center .secmenu_drop li.secmenu_drop_first
{
 background: transparent url('../_images/modules/header/subnav_center_firstdropshawdow.png') center top no-repeat;
}

.secmenu_navbar .secmenu_drop li.secmenu_drop_wrapper
{
 width: 136px;
 height: auto;
 padding: 0 8px 0 6px;
 margin: 0;
 float: left;
 background: transparent url('../_images/modules/header/subnav_vdropshawdow.png') center top repeat-y;
}

.secmenu_navbar .secmenu_drop li.secmenu_drop_last
{
 width: 150px;
 height: 13px;
 margin: 0;
 float: left;
 background: transparent url('../_images/modules/header/subnav_lastdropshawdow.png') center bottom no-repeat;
}

.secmenu_navbar .secmenu_drop li.secmenu_drop_wrapper ul.secmenu_drop_content
{
 width: 136px;
 background: #fff;
}

.secmenu_navbar .secmenu_drop .secmenu_scroll
{
 width: 136px;
 height: 300px;
 overflow: hidden;
}

.secmenu_navbar .secmenu_drop li.nav_drop_item,
.secmenu_navbar .secmenu_drop li.nav_drop_label
{
 width: 136px;
 height: auto;
}

.secmenu_navbar .secmenu_drop .secmenu_scroll li.nav_drop_item,
.secmenu_navbar .secmenu_drop .secmenu_scroll li.nav_drop_label
{
 width: 125px;
 height: auto;
}

.secmenu_navbar .secmenu_drop li.nav_drop_item a
{
 width: 127px;
 min-height: 20px;
 height: auto !important;
 height: 20px;
 line-height: 18px;
 font-weight: bold;
 font-size: 11px;
 padding: 0 3px 2px 6px;
 display: block;
}

.secmenu_navbar .secmenu_drop .secmenu_scroll li.nav_drop_item a
{
 width: 117px;
 padding: 0 3px 2px 6px;
}

.secmenu_navbar .secmenu_drop li.nav_drop_item a:link,
.secmenu_navbar .secmenu_drop li.nav_drop_item a:visited
{
 color: #252525;
}

.secmenu_navbar .secmenu_drop li.nav_drop_item a:hover,
.secmenu_navbar .secmenu_drop li.nav_drop_item a:active
{
 color: #252525;
 background: #fe0000;
}

.secmenu_navbar .secmenu_drop li.nav_drop_label span
{
 width: 125px;
 height: 20px;
 line-height: 20px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 12px;
 padding: 0 3px 0 8px;
 display: block;
 color: #fe0000;
}

.secmenu_navbar .secmenu_drop .secmenu_scroll li.nav_drop_label span
{
 width: 115px;
 padding: 0 3px 0 8px;
}

/* Index jScrollPanel Overwrites */
.secmenu_navbar .secmenu_drop .jScrollPaneContainer
{
 position: relative;
 overflow: hidden;
 z-index: 1;
}

.secmenu_navbar .secmenu_drop .jScrollPaneTrack
{
 position: absolute;
 cursor: pointer;
 right: 0;
 top: 0;
 height: 100%;
 border: none;
 background: #fff;
}

.secmenu_navbar .secmenu_drop .jScrollPaneDrag
{
 position: absolute;
 background: url('../_images/modules/header/drag_middle.png') no-repeat 50% 50%;
 width: 6px;
 height: auto;
 cursor: pointer;
 overflow: hidden;
}

.secmenu_navbar .secmenu_drop .jScrollPaneDragTop
{
 position: absolute;
 top: 0;
 left: 0;
 overflow: hidden;
 height: 9px;
 background: url('../_images/modules/header/drag_top.png') no-repeat 50% 0;
}

.secmenu_navbar .secmenu_drop .jScrollPaneDragBottom
{
 position: absolute;
 bottom: 0;
 left: 0;
 overflow: hidden;
 height: 9px;
 background: url('../_images/modules/header/drag_bottom.png') no-repeat 50% 0;
}

/***************************
    XFINITY HEADER
***************************/
#xfinity_bar
{
 width: 980px;
 height: 40px !important;
 text-align: left;
 margin: 0 auto;
 padding: 0 9px;
 overflow: hidden;
 z-index: 18800;
 background: url('../_images/wrap_dropshadow_bg.png') repeat-y top left;
}

#xfinity_bar .xpbar-stripe
{
 width: 980px !important;
 left: 9px !important;
}

#xfinity_bar iframe
{
 width: 930px !important;
}

#header.xfinity #header_wrapper
{
 background: url('../_images/header_xfinity_bg.jpg') left bottom no-repeat;
}

#header.xfinity h1.logo
{
 height: 143px;
}

#header.xfinity h1.logo a
{
 margin-top: 13px;
}

#header.xfinity #header_main
{
 padding-top: 14px;
}

/***************************
 NAVIGATION
*****************************/
#navigation
{
 width: 980px;
 height: 35px;
 background: #D9D9DB url('../_images/nav/nav_new.jpg') left top no-repeat;
}

#navigation li
{
 float: left;
}

#navigation li a
{
 height: 35px;
 display: block;
 text-indent: -9999px;
 cursor: pointer;
 background: url('../_images/nav/nav_new.jpg') left top no-repeat;
}

#navigation li.nav_novelas a,
#navigation li.nav_novelas a:link,
#navigation li.nav_novelas a:visited
{
 width: 75px;
 background-position: 0 0;
}

#navigation li.nav_entretenimiento a,
#navigation li.nav_entretenimiento a:link,
#navigation li.nav_entretenimiento a:visited
{
 width: 134px;
 background-position: -75px 0;
}

#navigation li.nav_noticias a,
#navigation li.nav_noticias a:link,
#navigation li.nav_noticias a:visited
{
 width: 77px;
 background-position: -209px 0;
}

#navigation li.nav_deportes a,
#navigation li.nav_deportes a:link,
#navigation li.nav_deportes a:visited
{
 width: 82px;
 background-position: -286px 0;
}

#navigation li.nav_musica a,
#navigation li.nav_musica a:link,
#navigation li.nav_musica a:visited
{
 width: 67px;
 background-position: -368px 0;
}

#navigation li.nav_mujer a,
#navigation li.nav_mujer a:link,
#navigation li.nav_mujer a:visited
{
 width: 108px;
 background-position: -435px 0;
}

#navigation li.nav_autos a,
#navigation li.nav_autos a:link,
#navigation li.nav_autos a:visited
{
 width: 65px;
 background-position: -543px 0;
}

#navigation li.nav_videos a,
#navigation li.nav_videos a:link,
#navigation li.nav_videos a:visited
{
 width: 65px;
 background-position: -608px 0;
}

#navigation li.nav_crossover a,
#navigation li.nav_crossover a:link,
#navigation li.nav_crossover a:visited
{
 width: 89px;
 background-position: -673px 0;
}

#navigation li.nav_mun2tv a,
#navigation li.nav_mun2tv a:link,
#navigation li.nav_mun2tv a:visited
{
 width: 75px;
 background-position: -762px 0;
}

#navigation li.nav_cdn a,
#navigation li.nav_cdn a:link,
#navigation li.nav_cdn a:visited
{
 width: 143px;
 background-position: -837px 0;
}

/** Rollovers **/
#navigation li.nav_novelas a:hover,
#navigation li.nav_novelas a:active,
#navigation li.nav_novelas a.nav_active:link,
#navigation li.nav_novelas a.nav_active:visited
{
 background-position: 0 -35px;
}

#navigation li.nav_entretenimiento a:hover,
#navigation li.nav_entretenimiento a:active,
#navigation li.nav_entretenimiento a.nav_active:link,
#navigation li.nav_entretenimiento a.nav_active:visited
{
 background-position: -75px -35px;
}

#navigation li.nav_noticias a:hover,
#navigation li.nav_noticias a:active,
#navigation li.nav_noticias a.nav_active:link,
#navigation li.nav_noticias a.nav_active:visited
{
 background-position: -209px -35px;
}

#navigation li.nav_deportes a:hover,
#navigation li.nav_deportes a:active,
#navigation li.nav_deportes a.nav_active:link,
#navigation li.nav_deportes a.nav_active:visited
{
 background-position: -286px -35px;
}

#navigation li.nav_musica a:hover,
#navigation li.nav_musica a:active,
#navigation li.nav_musica a.nav_active:link,
#navigation li.nav_musica a.nav_active:visited
{
 background-position: -368px -35px;
}

#navigation li.nav_mujer a:hover,
#navigation li.nav_mujer a:active,
#navigation li.nav_mujer a.nav_active:link,
#navigation li.nav_mujer a.nav_active:visited
{
 background-position: -435px -35px;
}

#navigation li.nav_autos a:hover,
#navigation li.nav_autos a:active,
#navigation li.nav_autos a.nav_active:link,
#navigation li.nav_autos a.nav_active:visited
{
 background-position: -543px -35px;
}

#navigation li.nav_videos a:hover,
#navigation li.nav_videos a:active,
#navigation li.nav_videos a.nav_active:link,
#navigation li.nav_videos a.nav_active:visited
{
 background-position: -608px -35px;
}

#navigation li.nav_crossover a:hover,
#navigation li.nav_crossover a:active,
#navigation li.nav_crossover a.nav_active:link,
#navigation li.nav_crossover a.nav_active:visited
{
 background-position: -673px -35px;
}

#navigation li.nav_mun2tv a:hover,
#navigation li.nav_mun2tv a:active,
#navigation li.nav_mun2tv a.nav_active:link,
#navigation li.nav_mun2tv a.nav_active:visited
{
 background-position: -762px -35px;
}

#navigation li.nav_cdn a:hover,
#navigation li.nav_cdn a:active,
#navigation li.nav_cdn a.nav_active:link,
#navigation li.nav_cdn a.nav_active:visited
{
 background-position: -837px -35px;
}

/* New Menu Navbar */
.menu-navbar-module
{
 width: 980px;
 height: auto;
 font-family: 'museo_700regular', Arial, Helvetica, sans-serif;
}

.menu-navbar-module .nav_main
{
 width: 980px;
 height: 35px;
 z-index: 18990;
 position: relative;
 background: url('../_images/modules/menu-navbar/nav.jpg') left top no-repeat;
}

.menu-navbar-module li.nav_top
{
 height: auto;
 float: left;
}

.menu-navbar-module li.nav_top a.nav_top_link
{
 height: 35px;
 display: block;
 text-indent: -9999px;
 cursor: pointer;
 background: url('../_images/modules/menu-navbar/nav.jpg') left top no-repeat;
}

.menu-navbar-module li.nav_last a.nav_top_link
{
 margin-right: 0;
}

/* NAV MAIN */
.menu-navbar-module li.nav_item1 a.nav_top_link:link,
.menu-navbar-module li.nav_item1 a.nav_top_link:visited {
width: 82px;
background-position: 0 0;
}

.menu-navbar-module li.nav_item2 a.nav_top_link:link,
.menu-navbar-module li.nav_item2 a.nav_top_link:visited
{
 width: 154px;
 background-position: -82px 0;
}

.menu-navbar-module li.nav_item3 a.nav_top_link:link,
.menu-navbar-module li.nav_item3 a.nav_top_link:visited
{
 width: 75px;
 background-position: -236px 0;
}

.menu-navbar-module li.nav_item4 a.nav_top_link:link,
.menu-navbar-module li.nav_item4 a.nav_top_link:visited
{
 width: 77px;
 background-position: -311px 0;
}

.menu-navbar-module li.nav_item5 a.nav_top_link:link,
.menu-navbar-module li.nav_item5 a.nav_top_link:visited
{
 width: 91px;
 background-position: -387px 0;
}

.menu-navbar-module li.nav_item6 a.nav_top_link:link,
.menu-navbar-module li.nav_item6 a.nav_top_link:visited
{
 width: 94px;
 background-position: -478px 0;
}

.menu-navbar-module li.nav_item7 a.nav_top_link:link,
.menu-navbar-module li.nav_item7 a.nav_top_link:visited
{
 width: 73px;
 background-position: -572px 0;
}

.menu-navbar-module li.nav_item8 a.nav_top_link:link,
.menu-navbar-module li.nav_item8 a.nav_top_link:visited
{
 width: 159px;
 background-position: -645px 0;
}

.menu-navbar-module li.nav_item9 a.nav_top_link:link,
.menu-navbar-module li.nav_item9 a.nav_top_link:visited
{
 width: 96px;
 background-position: -804px 0;
}

.menu-navbar-module li.nav_item10 a.nav_top_link:link,
.menu-navbar-module li.nav_item10 a.nav_top_link:visited
{
 width: 79px;
 background-position: -900px 0;
}

/** Rollovers **/
.menu-navbar-module li.nav_item1 a.nav_top_link:hover,
.menu-navbar-module li.nav_item1 a.nav_top_link:active,
.menu-navbar-module li.nav_item1 a.nav_selected:link,
.menu-navbar-module li.nav_item1 a.nav_selected:visited
{
 background-position: 0 -35px;
}

.menu-navbar-module li.nav_item2 a.nav_top_link:hover,
.menu-navbar-module li.nav_item2 a.nav_top_link:active,
.menu-navbar-module li.nav_item2 a.nav_selected:link,
.menu-navbar-module li.nav_item2 a.nav_selected:visited
{
 background-position: -82px -35px;
}

.menu-navbar-module li.nav_item3 a.nav_top_link:hover,
.menu-navbar-module li.nav_item3 a.nav_top_link:active,
.menu-navbar-module li.nav_item3 a.nav_selected:link,
.menu-navbar-module li.nav_item3 a.nav_selected:visited
{
 background-position: -236px -35px;
}

.menu-navbar-module li.nav_item4 a.nav_top_link:hover,
.menu-navbar-module li.nav_item4 a.nav_top_link:active,
.menu-navbar-module li.nav_item4 a.nav_selected:link,
.menu-navbar-module li.nav_item4 a.nav_selected:visited
{
 background-position: -311px -35px;
}

.menu-navbar-module li.nav_item5 a.nav_top_link:hover,
.menu-navbar-module li.nav_item5 a.nav_top_link:active,
.menu-navbar-module li.nav_item5 a.nav_selected:link,
.menu-navbar-module li.nav_item5 a.nav_selected:visited
{
 background-position: -387px -35px;
}

.menu-navbar-module li.nav_item6 a.nav_top_link:hover,
.menu-navbar-module li.nav_item6 a.nav_top_link:active,
.menu-navbar-module li.nav_item6 a.nav_selected:link,
.menu-navbar-module li.nav_item6 a.nav_selected:visited
{
 background-position: -478px -35px;
}

.menu-navbar-module li.nav_item7 a.nav_top_link:hover,
.menu-navbar-module li.nav_item7 a.nav_top_link:active,
.menu-navbar-module li.nav_item7 a.nav_selected:link,
.menu-navbar-module li.nav_item7 a.nav_selected:visited
{
 background-position: -572px -35px;
}

.menu-navbar-module li.nav_item8 a.nav_top_link:hover,
.menu-navbar-module li.nav_item8 a.nav_top_link:active,
.menu-navbar-module li.nav_item8 a.nav_selected:link,
.menu-navbar-module li.nav_item8 a.nav_selected:visited
{
 background-position: -645px -35px;
}

.menu-navbar-module li.nav_item9 a.nav_top_link:hover,
.menu-navbar-module li.nav_item9 a.nav_top_link:active,
.menu-navbar-module li.nav_item9 a.nav_selected:link,
.menu-navbar-module li.nav_item9 a.nav_selected:visited
{
 background-position: -804px -35px;
}

.menu-navbar-module li.nav_item10 a.nav_top_link:hover,
.menu-navbar-module li.nav_item10 a.nav_top_link:active,
.menu-navbar-module li.nav_item10 a.nav_selected:link,
.menu-navbar-module li.nav_item10 a.nav_selected:visited
{
 background-position: -900px -35px;
}

/** Actives **/
.menu-navbar-module li.nav_item1 a.nav_active:link,
.menu-navbar-module li.nav_item1 a.nav_active:visited
{
 background-position: 0 -70px;
}

.menu-navbar-module li.nav_item2 a.nav_active:link,
.menu-navbar-module li.nav_item2 a.nav_active:visited
{
 background-position: -83px -70px;
}

.menu-navbar-module li.nav_item3 a.nav_active:link,
.menu-navbar-module li.nav_item3 a.nav_active:visited
{
 background-position: -238px -70px;
}

.menu-navbar-module li.nav_item4 a.nav_active:link,
.menu-navbar-module li.nav_item4 a.nav_active:visited
{
 background-position: -313px -70px;
}

.menu-navbar-module li.nav_item5 a.nav_active:link,
.menu-navbar-module li.nav_item5 a.nav_active:visited
{
 background-position: -388px -70px;
}

.menu-navbar-module li.nav_item6 a.nav_active:link,
.menu-navbar-module li.nav_item6 a.nav_active:visited
{
 background-position: -479px -70px;
}

.menu-navbar-module li.nav_item7 a.nav_active:link,
.menu-navbar-module li.nav_item7 a.nav_active:visited
{
 background-position: -573px -70px;
}

.menu-navbar-module li.nav_item8 a.nav_active:link,
.menu-navbar-module li.nav_item8 a.nav_active:visited
{
 background-position: -644px -70px;
}

.menu-navbar-module li.nav_item9 a.nav_active:link,
.menu-navbar-module li.nav_item9 a.nav_active:visited
{
 background-position: -804px -70px;
}
/*
.menu-navbar-module li.nav_item10 a.nav_active:link,
.menu-navbar-module li.nav_item10 a.nav_active:visited
{
 background-position: -871px -70px;
}
*/
/* NAV CONTAINER */
.menu-navbar-module .nav_container
{
 width: 941px;
 height: 374px;
 position: absolute;
 float: none;
 left: 0;
 top: 35px;
 z-index: 18980;
 padding: 30px 26px 5px 13px;
 overflow: hidden;
 background: #fffeff url('../_images/modules/menu-navbar/drop_bg.jpg') left bottom repeat-x;
 display: none;
}

.menu-navbar-module .nav_drop_wrapper
{
 width: 260px;
 height: 374px;
 float: left;
}

.menu-navbar-module .nav_content
{
 width: 621px;
 height: 374px;
 padding-left: 60px;
 float: left;
}

.menu-navbar-module .nav_content p
{
 font-size: 16px;
 line-height: 1.5em;
 color: #707070;
 padding: 14px 0 14px 5px;
 margin-bottom: 10px;
 font-weight: normal;
}

.menu-navbar-module .nav_content p.link_container
{
 border-top: 1px dotted #fff;
 padding: 8px 3px 5px 0;
}

.menu-navbar-module .nav_content p.link_container a
{
 width: auto;
 float: right;
 line-height: 25px;
 display: block;
 color: #707070;
 text-transform: uppercase;
 font-size: 16px;
 padding-right: 18px;
 font-weight: bold;
 background: url('../_images/modules/menu-navbar/nav_item_arrow.png') right 10px no-repeat;
}

.menu-navbar-module .nav_content p.link_container a:link,
.menu-navbar-module .nav_content p.link_container a:visited
{
 background-position: right -80px;
 color: #707070;
}

.menu-navbar-module .nav_content p.link_container a:hover,
.menu-navbar-module .nav_content p.link_container a:active
{
 color: #003755;
}

.menu-navbar-module .nav_drop
{
 width: 247px;
 height: auto;
}

.menu-navbar-module .nav_drop li.nav_drop_item
{
 width: 247px;
 height: auto;
 border-bottom: 1px solid #b7b7b7;
}
.menu-navbar-module .nav_drop li.nav_last {
	border-bottom: none;
}
.menu-navbar-module .nav_drop li.nav_drop_item a
{
 width: 227px;
 height: auto;
 display: block;
 padding: 4px 11px 4px 9px;
 font-size: 18px;
 border-top: 1px dotted #fff;
 background: url('../_images/modules/menu-navbar/nav_item_arrow.png') right 6px no-repeat;
}

.menu-navbar-module .nav_drop li.nav_drop_item a:link,
.menu-navbar-module .nav_drop li.nav_drop_item a:visited
{
 color: #fcab13;
 background-position: right 6px;
}

.menu-navbar-module .nav_drop li.nav_drop_item a:hover,
.menu-navbar-module .nav_drop li.nav_drop_item a:active
{
 color: #fcab13;
 background-position: right -79px;
}

.menu-navbar-module .nav_drop li.nav_drop_home a
{
 background: url('../_images/modules/menu-navbar/nav_home_arrow.png') right 6px no-repeat;
}

.menu-navbar-module .nav_drop li.nav_drop_home a:link,
.menu-navbar-module .nav_drop li.nav_drop_home a:visited
{
 color: #fe0200;
 background-position: right 6px;
 font-size: 20px;
}

.menu-navbar-module .nav_drop li.nav_drop_home a:hover,
.menu-navbar-module .nav_drop li.nav_drop_home a:active
{
 color: #f7701e;
 background-position: right -79px;
}

.menu-navbar-module .nav_drop li.nav_first a
{
 padding-top: 0;
 border-top: none;
 font-size: 20px;
 font-family: 'museo_900regular';
}

.menu-navbar-module .nav_drop_small li.nav_drop_item a
{
 padding: 5px 11px 5px 9px;
 font-size: 16px;
 background-position: right 7px;
}

.menu-navbar-module .nav_drop_small li.nav_drop_item a:link,
.menu-navbar-module .nav_drop_small li.nav_drop_item a:visited,
.menu-navbar-module .nav_drop_small li.nav_drop_home a:link,
.menu-navbar-module .nav_drop_small li.nav_drop_home a:visited
{
 background-position: right 7px;
}

.menu-navbar-module .nav_drop_small li.nav_drop_item a:hover,
.menu-navbar-module .nav_drop_small li.nav_drop_item a:active,
.menu-navbar-module .nav_drop_small li.nav_drop_item a:hover,
.menu-navbar-module .nav_drop_small li.nav_drop_item a:active
{
 background-position: right -78px;
}

.menu-navbar-module .nav_drop li.nav_separator,
.menu-navbar-module li.nav_separator
{
 height: 20px;
}

/* Close button */
.menu-navbar-module .nav_close
{
 width: 60px;
 height: 25px;
 line-height: 28px;
 text-align: right;
 padding-right: 26px;
 position: absolute;
 right: 8px;
 top: 8px;
 font-size: 12px;
 font-weight: bold;
 text-transform: uppercase;
 color: #747474;
 background: url('../_images/modules/menu-navbar/close.png') right center no-repeat;
}

/* Text Classes */
.menu-navbar-module .nav_drop li.lines_link_double,
.menu-navbar-module .nav_list li.lines_link_double,
.menu-navbar-module .nav_drop li.lines_link_single,
.menu-navbar-module .nav_list li.lines_link_single
{
 padding:  0;
}

.menu-navbar-module .nav_drop li.lines_link_double a,
.menu-navbar-module .nav_list li.lines_link_double a,
.menu-navbar-module .nav_drop li.lines_link_single a,
.menu-navbar-module .nav_list li.lines_link_single a
{
 color: #005686;
 font-size: 16px;
 font-weight: normal;
 font-family: 'Museo_900regular', Helvetica, Arial;
 display: block;
 text-align: left;
 text-transform: uppercase;
 border-top:  1px dotted #fff;
 border-bottom:  1px dotted #fff;
 background: url('../_images/modules/menu-navbar/lines_link_arrow.png%3Ft=1') right 6px no-repeat;
}

.menu-navbar-module .nav_drop li.lines_link_double a,
.menu-navbar-module .nav_list li.lines_link_double a
{
 padding: 5px 11px 4px 9px;
}

.menu-navbar-module .nav_drop li.lines_link_single a,
.menu-navbar-module .nav_list li.lines_link_single a
{
 padding: 5px 11px 5px 9px;
}

.menu-navbar-module .nav_drop li.lines_link_double a:link,
.menu-navbar-module .nav_drop li.lines_link_double a:visited,
.menu-navbar-module .nav_drop li.lines_link_single a:link,
.menu-navbar-module .nav_drop li.lines_link_single a:visited,
.menu-navbar-module .nav_list li.lines_link_double a:link,
.menu-navbar-module .nav_list li.lines_link_double a:visited,
.menu-navbar-module .nav_list li.lines_link_single a:link,
.menu-navbar-module .nav_list li.lines_link_single a:visited
{
 border-top: 1px solid #b6b6b6;
 border-bottom: 1px solid #b6b6b6;
 color: #f8070d;
 background-position: right 0;
 
}

.menu-navbar-module .nav_drop li.lines_link_double a:hover,
.menu-navbar-module .nav_drop li.lines_link_double a:visited,
.menu-navbar-module .nav_drop li.lines_link_single a:hover,
.menu-navbar-module .nav_drop li.lines_link_single a:visited,
.menu-navbar-module .nav_list li.lines_link_double a:hover,
.menu-navbar-module .nav_list li.lines_link_double a:visited,
.menu-navbar-module .nav_list li.lines_link_single a:hover,
.menu-navbar-module .nav_list li.lines_link_single a:visited
{
 color: #f8070d;
 background-position: right -90px;
}
.menu-navbar-module .nav_list li.lines_link_single a:link,
.menu-navbar-module .nav_list li.lines_link_single a:visited {
    font-family: 'Museo_900regular', Helvetica, Arial;	
}

/* Column Helpers */
.menu-navbar-module .nav_content_wrapper
{
 width: 100%;
 height: auto;
}

.menu-navbar-module .nav_content_wrapper .nav_col
{
 height: auto;
 float: left;
}

/* 100 - 1 Column*/
.menu-navbar-module .col_size_1 .nav_col1
{
 width: 100%;
}

/* 50 - 2 Column */
.menu-navbar-module .col_size_2 .nav_col1
{
 width: 46%;
 margin-right: 40px;
}

.menu-navbar-module .col_size_2 .nav_col2
{
 width: 46%;
}

.menu-navbar-module .nav_col .col_size_2 .nav_col1
{
 width: 48%;
 margin-right: 2%;
}

.menu-navbar-module .nav_col .col_size_2 .nav_col2
{
 width: 48%;
 margin-left: 2%;
}

/* 25 - 75 - 2 Column */
.menu-navbar-module .col_size_25 .nav_col1
{
 width: 31%;
 margin-right: 40px;
}

.menu-navbar-module .col_size_25 .nav_col2
{
 width: 61%;
}

/* 40 - 60 - 2 Column */
.menu-navbar-module .col_size_46 .nav_col1
{
 width: 41%;
 margin-right: 40px;
}

.menu-navbar-module .col_size_46 .nav_col2
{
 width: 51%;
}

/* 75 - 25 - 2 Column */
.menu-navbar-module .col_size_75 .nav_col1
{
 width: 71%;
 margin-right: 40px;
}

.menu-navbar-module .col_size_75 .nav_col2
{
 width: 21%;
}

/* 33 - 3 Column*/
.menu-navbar-module .col_size_3 .nav_col1
{
 width: 29%;
 margin-right: 40px;
}

.menu-navbar-module .col_size_3 .nav_col2
{
 width: 29%;
 margin-right: 40px;
}

.menu-navbar-module .col_size_3 .nav_col3
{
 width: 29%;
}

/* Content */
.menu-navbar-module .nav_content h4
{
 font-size: 18px;
 font-weight: normal;
 padding: 0 0 5px 9px;
 color: #fb0400;
 border-bottom: 1px solid #fe0f08;
}

.menu-navbar-module .nav_content h4 span
{
 color: #898989;
 font-size: 15px;
 font-weight: normal;
}

.menu-navbar-module .nav_content h4 a,
.menu-navbar-module .nav_content h4 a:link,
.menu-navbar-module .nav_content h4 a:visited
{
 color: #005686
}

.menu-navbar-module .nav_content h4 a:hover,
.menu-navbar-module .nav_content h4 a:active
{
 color: #005686
}

.menu-navbar-module .nav_list
{
 margin-bottom: 13px;
}

.menu-navbar-module .nav_list li
{
 font-size: 15px;
 color: #555;
}

.menu-navbar-module .nav_list li a
{
 color: #555;
 padding: 5px 0 5px 7px;
 cursor: pointer;
 display: inline-block;
}

.menu-navbar-module .nav_list li a:link,
.menu-navbar-module .nav_list li a:visited
{
 color: #898989;
 font-family: 'MuseoSans700', Helvetica, Arial;
}

.menu-navbar-module .nav_list li a:hover,
.menu-navbar-module .nav_list li a:active
{
 color: #333;
}

/* Zebra */
.menu-navbar-module .nav_zebra li.nav_alt
{
 background: url('../_images/modules/menu-navbar/pixel_zebra.png') left top repeat;
}

.menu-navbar-module .nav_zebra li a
{
 font-size: 14px;
 padding: 5px 0 5px 9px;
 font-family: 'MuseoSans700', Helvetica, Arial;
}

.menu-navbar-module .nav_zebra li.nav_alt a
{
 padding: 4px 0 4px 9px;
}

.menu-navbar-module .nav_social li
{
 padding: 3px 0 2px;
}

.menu-navbar-module .nav_social li .nav_social_title
{
 width: 196px;
 height: auto;
 font-size: 15px;
 font-weight: normal;
 padding: 5px 0 5px 9px;
 color: #636363;
 display: block;
 float: left;
 font-family: 'MuseoSans700', Helvetica, Arial;
}

.menu-navbar-module .nav_zebra li.nav_alt .nav_social_title
{
 padding: 5px 0 5px 9px;
}

.menu-navbar-module .nav_social li .nav_facebook
{
 width: 31px;
 height: 31px;
 margin-right: 5px;
 display: block;
 float: left;
}

.menu-navbar-module .nav_social li .nav_facebook a
{
 width: 31px;
 height: 31px;
 display: block;
 font-size: 10px;
 text-indent: -9999px;
 background: url('../_images/modules/menu-navbar/facebook_icon.png') center -1px no-repeat;
}

.menu-navbar-module .nav_social li .nav_facebook a:link,
.menu-navbar-module .nav_social li .nav_facebook a:visited
{
 background-position: center -1px;
}

.menu-navbar-module .nav_social li .nav_facebook a:hover,
.menu-navbar-module .nav_social li .nav_facebook a:active
{
 background-position: center -91px;
}

.menu-navbar-module .nav_social li .nav_twitter
{
 width: 31px;
 height: 31px;
 display: block;
 float: left;
}

.menu-navbar-module .nav_social li .nav_twitter a
{
 width: 31px;
 height: 31px;
 display: block;
 font-size: 10px;
 text-indent: -9999px;
 background: url('../_images/modules/menu-navbar/twitter_icon.png') center -1px no-repeat;
}

.menu-navbar-module .nav_social li .nav_twitter a:link,
.menu-navbar-module .nav_social li .nav_twitter a:visited
{
 background-position: center -1px;
}

.menu-navbar-module .nav_social li .nav_twitter a:hover,
.menu-navbar-module .nav_social li .nav_twitter a:active
{
 background-position: center -91px;
}

/*************************
BING SEARCH CATEGORY
**************************/
#bing_cat_container{
	color:#626262;
	font-size:1.100em;
	}
	#bing_cat_container ul{
		overflow:hidden
		}
		#bing_cat_container li{
			float:left;
			padding:0 7px 0 7px;
			background:url('../_images/bing_search_divider.png') 0 3px no-repeat;
			}
		#bing_cat_container li:first-child{
			background:none;
			}
			#bing_cat_container li a{
				/*color:#fff; */
				color:#8f8f8f ;
				font-weight:bold;
				font-size:13px;
				}
			#bing_cat_container li a.selected{
				/*color:#fff;*/
				color:#8f8f8f;
				background:url('../_images/bing_search_arrow.png') center 15px no-repeat;
				display:block;
				height:25px;
				position:relative;
				z-index:9999;
				font-weight:bold;
				font-size:13px;
				}
				