.jScrollPaneContainer
{
	position: relative;
	overflow: hidden;
	z-index: 1
}

.jScrollPaneTrack
{
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 99%;
	background: #000;
	border: 1px solid #3A5F7A;
}

li#msn_dropdown .jScrollPaneTrack
{
	border-color: #8F8F8F;
	margin-right: 2px;
}

.jScrollPaneDrag
{
	position: absolute;
	background: url(../_images/shows_dropdown_scroll.gif) no-repeat 50% 50%;
	width: 6px;
	height: 93px;
	cursor: pointer;
	overflow: hidden;
}

.jScrollPaneDragTop
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.jScrollPaneDragBottom
{
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 9px;
}

a.jScrollArrowUp:hover
{
	/*background-color: #f60;*/
}

a.jScrollArrowDown
{
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 9px;
}

a.jScrollArrowDown:hover
{
	/*background-color: #f60;*/
}

a.jScrollActiveArrowButton,
a.jScrollActiveArrowButton:hover
{
	/*background-color: #f00;*/
}