/* r.a.d.window default embedded skin */

iframe.RadWContentFrame
{
	background: white; /* Mozilla overlay */
}

.RadWContentFrame
{
	scrollbar-face-color: #BACBF4;
	scrollbar-highlight-color: white;
	scrollbar-shadow-color: #7E9FD2;
	scrollbar-3dlight-color: #E6EEFC;
	scrollbar-arrow-color: #4D6185;
	scrollbar-track-color: #F7F7F3;
	scrollbar-darkshadow-color: #C6D1DC;	
}

.RadWStatus
{
	height: 19px;
	background: white url('CssImg/RadWStatus.gif') repeat-x;
}

.RadWModalImage
{
	background: url('Img/ModalImageBg.gif');
}

.RadWStatusRow
{
	background-color: #f7f7f7;
}

.RadWStatus input
{
	font: normal 10px Arial, Verdana, Sans-Serif !important;
	cursor: default;
	color: #a5a5a5;
	margin-top: 2px;
}

.RadWDragHelper
{		
	border: solid 1px solid #ccc;
	background: #ccc;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: 0.5; /* Mozilla */
	opacity: 0.5; /* CSS3 */
	margin: 0px;
	padding: 0px;	
	position: absolute;
	z-index: 50000;
	overflow: hidden;	
}

.RadWMinimizedPageLoaded
{
	width: 60px;
	height: 24px;
	border: solid 1px #ccc;
	background: url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
}

.RadWMinimizedActive,
.RadWMinimizedOver
{
	width: 60px;
	height: 24px;
	border: solid 1px #ccc;
	background: transparent url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
}

.RadWMinimizedInactive
{
	border: solid 1px #ccc;
	background: #f3ba0f url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
	width: 60px;
	height: 24px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=63); /* IE */
	-moz-opacity: 0.6; /* Moz */
	opacity: 0.6; /* CSS3 */
}

.RadWLoadingWrapper
{
	width: 80px;
	height: 100%;
	vertical-align: middle;
	text-align: center;	
	font: normal 11px Verdana, Arial, Sans-Serif;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99); /* IE */
}

.RadWIcon
{
	margin: 0px 2px 0px 2px;
	cursor: default;
	vertical-align: middle;
}

.RadWTitleText
{
	font: bold 10px Verdana, Arial, Sans-Serif;
	color: #666;
	vertical-align: top;
	padding-left: 4px;
}

.RadWButton
{
	cursor: hand;
	vertical-align: top;
}

.RadWWrapperActive
{
	background-color: white;
	font-size: 0px;	
	border-top: solid 1px #e5e5e5;
	border-right: solid 2px #e5e5e5;
	border-left: solid 1px #e5e5e5;
	border-bottom: solid 2px #e5e5e5;
}

.RadWWrapperInactive
{
	background-color: white;
	font-size: 0px;	
	border-top: solid 1px #e5e5e5;
	border-right: solid 2px #e5e5e5;
	border-left: solid 1px #e5e5e5;
	border-bottom: solid 2px #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE */
	-moz-opacity: 0.9; /* Moz */
	opacity: 0.9; /* CSS3 */
}

.RadWWrapperModal
{	
	border-right: solid 1px #404040;
	border-bottom: solid 1px #404040;
	border-left: solid 1px #d4d0c8;
	border-top: solid 1px #d4d0c8;
	font-size: 0px;
}

.RadWTitleRow
{
	cursor: default;		
}

.RadWWrapperHeaderLeft
{
	width: 3px;
	background: white url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
	height: 25px;
}

.RadWHeaderTopResizer
{
	height: 3px;
	font-size: 0px;
	background: white url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x top;
}

.RadWWrapperHeaderCenter
{
	height: 22px;
	text-align: left;
	background: white url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x bottom;
}

.RadWWrapperHeaderRight
{
	width: 3px;
	background: white url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
	height: 25px;
}

.RadWWrapperBodyLeft
{
	width: 3px;
	font-size: 0px;
	background: white url('CssImg/RadWWrapperBodyLeft.gif') no-repeat bottom;
}

.RadWWrapperBodyCenter
{
	width: 100%;
	height: 100%;
}

.RadWWrapperBodyRight
{
	width: 3px;
	font-size: 0px;
	background: white url('CssImg/RadWWrapperBodyLeft.gif') no-repeat bottom;
}

/* Mozilla 1.5 Fix */
.RadWWrapperBodyLeft:before
{
	content: " ";
	display: block;
	width: 3px;
}

/* Mozilla 1.5 Fix */
.RadWWrapperBodyRight:before
{
	content: " ";
	display: block;
	width: 3px;
}

.RadWWrapperFooterLeft,
.RadWWrapperFooterCenter,
.RadWWrapperFooterRight
{
	font-size: 0px;
	background: white;
	height: 3px;
}