/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
#main-slideshow { margin: -20px 0 -75px 0; max-width: 980px; position: relative; }

/* Why is #featured-stories CSS in flexslider.css??
 * Moved to ucla.css
#featured-stories, #supporting-content { margin: 0 30px; }
#featured-stories { margin-bottom: 60px; }
#featured-stories .flex-direction-nav li a { top: 20%; } //This ancestry does not exist
*/

.flexslider { background: #fff; width: 100%; margin: 0; overflow: hidden; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; width:960px;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
.flex-caption {font-size: 1.5em; height: 80px; line-height: 1.2; margin: 0; padding: 0 3%; position: absolute; right: 0; bottom: 75px; color: #204e91; text-transform: uppercase; width: 265px; z-index: 100; zoom: 1;}
#caption-box { background: #fff100; bottom: 45px; height: 80px; padding: 2.5% 2%; position: absolute; right: -20px; width: 30%; z-index: 99; }

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(../img/flexslider-direction-nav.png) no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background-position: -52px 0; right: 10px;}
.flex-direction-nav li .prev {left: 10px;}
.flex-direction-nav li .disabled { display: none; opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; bottom: 50px; right: -10px; z-index: 100;}
.flex-control-nav li {margin: 0 0 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../img/flexslider-control-nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}