/* :::::::::::::::::::::::::::::::::::::::::::::::::::
	MOBILE STYLES
::::::::::::::::::::::::::::::::::::::::::::::::::: */
#nav-control { background:#033b6e url(../img/mobile-menu-arrow.png) no-repeat right center; border:1px solid #183969; border-radius:2px; color:#fff; display:none; font-weight:600; letter-spacing:1px; padding:5px 25px 5px 15px; position:absolute; right:0; text-decoration:none; text-transform:uppercase; top:30px; }

#mobile-top-bar { padding-right:10px; text-align:right; }
#mobile-top-bar li { background:url(../img/blue-divider.gif) no-repeat right center; display:inline; margin-right:5px; padding-right:10px; }
#mobile-top-bar li a { font-weight:600; text-decoration:none; text-transform:uppercase; }
#mobile-top-bar li a:hover { color:#fff; }
#mobile-landing-img { margin:0 auto; }
#mobile-landing-nav { margin:0; }
#mobile-landing-nav li a { background:#fff100; color:#204e91; display:block; font-size:1.846em; font-weight:600; margin-bottom:2px; padding:10px; text-decoration:none; text-transform:uppercase; }
#mobile-landing-social-media { height:50px; margin:20px 0; overflow:hidden; }
#mobile-landing-social-media li { float:left; margin:0 5px; }

#featured-stories-mobile { display:none; margin:0 30px 60px; position:relative; }
#featured-stories-mobile .viewport { height:auto; min-height:288px; position:relative; width:100%; }
#featured-stories-mobile .text { height:auto; }
#featured-stories-mobile .overview li { float:none; list-style:none; height:175px; padding-right:76px; width:216px; word-wrap:break-word; }
#featured-stories-mobile .story h4 a:link { text-decoration:none; }
#featured-stories-mobile .story h4 a:hover { text-decoration:underline; }
#featured-stories-mobile .story p { margin-bottom:0; }
#featured-stories-mobile .carousel-nav { display:none; }




/* :::::::::::::::::::::::::::::::::::::::::::::::::::
	RESPONSIVE STYLES
::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width:1023px) { 
	.offset-left { margin:0; }
	.offset-right { margin:0; }
	a.offset-left { margin-left:0; }
	a.offset-right { margin-left:0; }
	.callout-headline { margin-bottom:20px; }
	.flex-caption { background:#fff100; height:auto!important; padding:2% 2% 2.5%!important; }
	#caption-box { display:none!important; }
	.flex-control-nav { bottom:80px!important; right:10px!important; }
	#interior-split-page-header { float:none; width:auto; }
	.full-page .right-wide-column { margin:0; width:100%; }
	.full-page #interior-split-hero-image { left:215px; max-width:685px; width:100%; }
	.lt-ie9 .flex-caption { background:#fff100; }
	.right-med-column .offset-right { margin-left:0; }
	#main-nav .close { display:none; }
}

@media screen and (max-width:996px) { 
	.full-page #interior-split-hero-image { left:215px; width:100%; }
	#footer-nav { margin-left:20px; }
	#social-media { margin-right:20px; }
}

@media screen and (max-width:974px) { 
	#top-bar-nav { width:64%; }
	#weather { width:10%; }
	#weather p span { display:none; }
	#hero-image { margin-bottom:-50px; }
	#featured-stories { display:none; }
	#featured-stories .carousel-nav { display:none; }
	#featured-stories-mobile { display:block; height:auto; overflow:auto; position:relative; }
	#featured-stories-mobile h3 { border-bottom:1px solid #E4E4E4; padding-bottom:5px; }
	#featured-stories-mobile .viewport { overflow:hidden; }
	#featured-stories-mobile .overview li { float:left; font-size:1em; padding-right:5%; width:45%; }
	#featured-stories-mobile .story { color:#333333; }
	#featured-stories-mobile .story h4 { margin-bottom:5px; }
	#featured-stories-mobile .photo { float:left; width:45%; }
	#featured-stories-mobile img { margin-bottom:45px; }
	#featured-stories-mobile .text { margin-left:51%; }
}

@media screen and (max-width:959px) { 
	#main-nav li { background:url(../img/white-divider.gif) no-repeat left 35%; margin:0; padding:0 0 0 5px; }
	#main-nav li a { font-size:1.2em; margin:0; padding:5px; }
	#container { padding:0 10px; }
	#callout-nav li a { font-size:1.1em; height:35px; line-height:3.3em; width:55px; }
	#search { top:23px; }
	#search #search-bar { width:155px; }
	.full-page #interior-split-hero-image { max-width:664px; width:70%; }
	#top-bar-nav { margin:0 20% 0 0; width:69%; }
	.lt-ie9 #main-nav li { background-position-y:45%; margin-left:3px; }
	#home-news ul { height:auto; min-height:100px; }
	#home-events ul { height:auto; min-height:100px; }
	#footer li { margin-left:8px; padding-left:8px; }
}

@media screen and (max-width:930px) { 
	.lt-ie9 #main-nav li a { font-size:1.1em; padding:0 6px 0 5px; }
}

@media screen and (max-width:900px) { 
	#interior-split-hero-image { clear:both; max-width:100%; width:auto; }
	#audience-nav li { margin:0 0 0 4px; padding:0 0 0 4px; }
	#main-nav li { margin:0 0 0 1px; padding:0 0 0 4px; }
	#main-nav li a { padding:0 4px; }
	#hero-image { margin-bottom:0; }
	#featured-stories-mobile .overview li { width:95%; height:auto; }
	#featured-stories-mobile .photo { width:25%; }
	#featured-stories-mobile img { margin-bottom:20px; }
	#featured-stories-mobile .text { margin-left:26%; }
	#footer a { font-size:1.1em; }
}


@media screen and (max-width:880px) { 
	#callout-nav li a { border-top-width:4px; }
	#top-bar-nav { margin:0 22% 0 0; width:67%; }
}

@media screen and (max-width:870px) { 
	#audience-nav li { margin:0 0 0 3px; padding:0 0 0 3px; }
	#main-nav li a { font-size:1.1em; }
	.lt-ie9 #main-nav li a { padding:0 3px 0 5px; }
	.lt-ie8 #main-nav li a { padding:0 6px 0 5px; }
	.left-column .link-column { float:none; margin:0 0 20px; width:auto; }
	.right-column .link-column { float:none; margin:0 0 20px; width:auto; }
	#footer li { margin-left:7px; padding-left:7px; }
}

@media screen and (max-width:840px) { 
	#main-nav li { margin:0; padding:0 0 0 3px; }
	#footer a { font-size:1em; }
}

@media screen and (max-width:803px) { 
	#page-wrap { padding-bottom:0; }
	.full-page #interior-split-hero-image { left:0; max-width:745px; width:100%; }
	td { word-wrap:break-word; }
	#edu-link { display:none; }
	#top-bar { display:block; margin:0; padding:0; width:100%; }
	#top-bar-nav { margin:0; padding:0; width:100%; }
	#weather { display:none; }
	#audience-nav { display:block; float:none; height:auto; margin:1% 0 0 1%; overflow:auto; padding:0; top:0; width:auto; }
	#audience-nav li { background:url(../img/audience-nav-opac.png)!important; display:inline; float:left; margin:0 1% 1% 0 !important; padding:0!important; width:32.33%; }
	#audience-nav li a { display:block; padding:7px 0; text-align:center; }
	#audience-nav li a.active { margin:0; padding:7px 0; }
	#audience-nav li a.active:hover { color:#fff100; }
	#header { height:auto; min-height:inherit; }
	#header-content { min-height:50px; }
	#mobile-buttons { display:block; }
	#header-nav { display:block; }
	#searchbox { left:auto; padding:35px 0 0; position:relative; top:auto; }
	#searchbox form { width:auto; }
	#searchbox #searchbox-input { width:90%; }
	#callout-nav { display:block; height:auto; margin:0; position:relative; top:auto; width:auto; }
	#callout-nav li { border-top:1px solid #FFFFFF; display:block; float:none; height:auto; width:auto; }
	#callout-nav li a { background:none; border:none; box-shadow:none; color:#fff100; font-size:1.3em; height:auto; letter-spacing:normal; line-height:1.4em; padding:5px; text-align:left; text-shadow:none; width:auto; }
	#callout-nav li a:hover { color:#fff100; }
	#mobile { background:#033B6E; border:1px solid #183969; border-radius:2px; color:#fff; display:block; font-size:1.3em; font-weight:600; letter-spacing:1px; line-height:1.4em; padding:5px 5px 5px 10px; position:absolute; right:0; text-decoration:none; text-transform:uppercase; top:15px; width:75px; }
	#mobile span { background:url(../img/sprites.png) no-repeat -176px 0; float:right; height:18px; width:13px; }
	#nav-control { background:#033B6E; display:none; font-size:1.3em; line-height:1.4em; padding:5px 5px 5px 10px; top:50px; width:75px; }
	#nav-control span { background:url(../img/sprites.png) no-repeat -149px 0; float:right; height:18px; width:13px; }
	#nav-control.open span { background-position:-162px 0; }
	#main-nav { display:block; margin:25px 0 0; text-align:left; }
	#main-nav li { background:none; border-top:1px solid #fff; display:block; margin:0; padding:0; }
	#main-nav li a { display:block; font-size:1.3em; line-height:1.4em; padding:5px; }
	.lt-ie9 #main-nav li a  { font-size:1.3em; padding:5px; }
	#expand-menu { display:none!important; }
	#main-content { margin-left:0; padding:35px 10px; }
	#hero-image { margin:0; }
	#home-news { float:none; margin-bottom:40px; padding-right:0; width:auto; }
	#home-events { float:none; margin-bottom:40px; padding-right:0; width:auto; }
	#home-social-media { float:none; margin-bottom:40px; padding-right:0; width:auto; }
	a.bullet { border:none!important; display:block; padding-top:0!important; width:auto; }
	#main-slideshow { margin:0!important; }
	#caption-box { display:none!important; }
	.flex-caption { background:#fff100; position:static!important; width:auto!important; }
	.flex-control-nav { bottom:5px!important; }
	.lt-ie8 .flex-control-nav { bottom:5px!important; }
	.flex-control-nav li { margin:0 0 0 5px; }
	#secondary-nav { position:static; width:auto; }
	.left-column img { margin:10px 0; }
	.right-column img { margin:10px 0; }
	.left-column { float:none; width:auto; }
	.left-wide-column { float:none; width:auto; }
	.left-med-column { float:none; width:auto; }
	.left-narrow-column { float:none; width:auto; }
	.right-column { margin:20px 0 0!important; width:auto!important; }
	.right-wide-column { margin:20px 0 0!important; width:auto!important; }
	.right-med-column { margin:20px 0 0!important; width:auto!important; }
	.right-narrow-column { margin:20px 0 0!important; width:auto!important; }
	.right-med-column .offset-right { margin-left:0; }
	.timeline-entry img { margin:0; }
	.decade { margin:0 0 6px; }
	.right-sidebar { margin-left:0; }
	.link-column { float:none; margin:0; width:auto!important; }
	.more-info.link-list { float:none; width:auto; }
	#landing-content .link-column { float:none; width:auto; }
	.left-column .link-column { float:none; width:auto; }
	.right-column .link-column { float:none; width:auto; }
	.link-category h3 { display:block; float:none; width:auto; }
	.link-category .link-list { margin:0; }
	.content-category h3 { float:none; width:auto; }
	.dept-list-group { width:12%; }
	.dept-list .link-column { margin-left:12%; width:88%; }
	.letter .link-column { clear:none; margin-left:50px; width:auto; }
	#featured-stories-mobile .viewport { margin-bottom:25px; }
	#featured-stories-mobile .overview-mobile .photo { width:25%; }
	#featured-stories-mobile .overview-mobile img { margin-bottom:30px; }
	#featured-stories-mobile .overview-mobile .text { margin-left:26%; }
	#featured-stories-mobile { margin:0!important; }
	#supporting-content { margin:0!important; }
	#supporting-content a.bullet { position:relative; }
	.full-page #secondary-nav { float:none; margin-right:0; width:auto; }
	.full-page #main-content { margin-top:0; padding:20px 10px 35px; }
	.department-page #main-content { margin-top:0; padding:0 10px 35px; }
	#footer { height:auto; padding:0 0 10px; position:relative; }
	#footer-content { padding:7px 0 0; }
	#footer li { background:none; display:block; float:none; margin:0; padding:0; text-align:center; }
	#footer a { font-size:1.2em; }
	#footer-nav { float:none; margin-left:0!important; }
	#contact-info { float:none; padding-right:0; width:auto; }
	#social-media { float:none; margin:10px 0; text-align:center; }
	#social-media a { float:none; margin:0 2px; }
	.lt-ie8 #social-media a { display:inline-block; float:none; }
	#content-emergency { float:none; width:100%; }
	#emergency-information-container { float:none; width:100%; }
}

@media screen and (max-width:767px) { 
	#header { height:auto; min-height:inherit; }
	#main-nav { text-align:left; }
	#main-nav li { border-top:1px solid #fff; display:block; }
	#main-nav li a { display:block; padding:5px; }
	#nav-control { display:inline-block; }
	#main-content { margin-left:0; }
	.full-page #main-content { margin-top:0; }
	.department-page #main-content { margin-top:0; }
	#hero-image { margin:0; }
	#featured-stories { display:none; margin:0!important; }
	#home-news { float:none; margin-bottom:40px; width:auto; }
	#home-events { float:none; margin-bottom:40px; width:auto; }
	#home-social-media { float:none; margin-bottom:40px; width:auto; }
	#main-slideshow { margin:0!important; }
	#secondary-nav { position:static; width:auto; }
	.left-column { float:none; width:auto; }
	.right-column { margin-left:0; width:auto; }
	.left-wide-column { float:none; width:auto; }
	.right-sidebar { margin-left:0; }
	.link-column { float:none; width:auto; }
	.more-info.link-list { float:none; width:auto; }
	#landing-content .link-column { float:none; width:auto; }
	.left-column .link-column { float:none; width:auto; }
	.right-column .link-column { float:none; width:auto; }
	#edu-link { display:none; }
	#search { display:none; }
	#supporting-content { margin:0!important; }
	.flex-caption { background:#fff100; min-height:55px!important; position:static!important; width:auto!important; }
	#caption-box { display:none!important; }
	.flex-control-nav { bottom:5px!important; }
	#footer { height:auto; }
	#footer li { background:none; display:block; text-align:center; }
	#footer #contact-info { float:none; padding-right:0; width:auto; }
	#footer #social-media { border:0; margin:10px 0; }
}

@media screen and (max-width:680px) { 
	#google-map { display:none; }
	#bottom-search-box { display:none; }
}

@media screen and (max-width:600px) { 
	#audience-nav li { width:49%; }
	.flex-caption { min-height:85px!important; }
	.gallery-caption { text-align:left; }
	#featured-stories-mobile .viewport { margin-bottom:20px; }
	#featured-stories-mobile .story { margin:5px 0; }
	#featured-stories-mobile img { width:25%; }
	#featured-stories-mobile .text { margin-left:27%; }
	#contactForm { width:100%; }
	#contactForm input[type="text"] { padding:2%; width:96%; }
	#contactForm textarea { padding:2%; width:96%; }
}

@media screen and (max-width:480px) { 
	.bio-img { float:none; }
	.bio-copy { margin:10px 0; }
	.full-page	#secondary-nav { float:none; margin-right:0; width:auto; }
	#featured-stories-mobile .overview li {  margin-bottom:20px; }
}

@media screen and (max-width:320px) { 
	#audience-nav li { background:none; margin:0 10px 0 0; padding:0; }
}
