
h1	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: normal;
	margin: 12px 0px 0px 0px;
	color: #000000;
	}

h2.subtitle	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 95%;
	font-weight: normal;
	margin: 2px 0px 0em 0px;
	padding: 0px;
	}

h2	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 95%;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 4px 0px;
	}

h3	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	margin: 8px 0px 0px 0px;
	padding-bottom: 4px;
	}

h4	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	margin: 0px;
	}

h5	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	margin: 0px;
	}

h6	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
	}

p	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 140%;
	padding: 0px 0px 1em 0px;
	margin: 0px;
	}

.date	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: #666666;
	margin-top: 9px;
	}

.datePipe	{
	color: #CCCCCC;
	}

.byline	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: #666666;
	}

hr	{
	color: #CCCCCC;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	}

.ancestorLinks	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	margin-top: 12px;
	}

.ancestorLinks a:visited	{
	color: #0033CC;
	}

.ancestorLinks a:hover	{
	color: #FF6600;
	}

.ancestorLabel	{
	color: #666666;
	}

.topOfPage	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-left: 4px;
	padding-right: 4px;
	}

a.topOfPage:visited	{
	color: #0033CC;
	}

a.topOfPage:hover	{
	color: #FF6600;
	}

a	{
	color: #0033CC;
	}

a:link	{
	color: #0033CC;
	}

a:visited	{
	color: #800080;
	}

a:hover	{
	color: #FF6600;
	}

a:active	{
	color: #800080;
	}

.onThisPage	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 2px;
	padding-bottom: 8px;
	}

.overview	{
	padding-top: 10px;
	}

.overviewPara	{
	padding-top: 10px;
	}

.tocLink	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-bottom: 8px;
	}

.tocLink a:visited	{
	color: #0033CC;
	}

.tocLink a:hover	{
	color: #FF6600;
	}

.tocBullet	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #CCCCCC;
	width: 13px;
	padding-left: 4px;
	}

.containerHeader	{
	background: #999999;
	}

.containerFooter	{
	background: #999999;
	margin-bottom: 12px;
	}

.relatedLink	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-bottom: 7px;
	}

.rlBullet	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #999999;
	width: 10px;
	}
	
table.sidebar	{
	margin-right: 20px;
	}

.sidebarContent	{
	background: #E9E9E6;
	}

.downloadCaption	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding: 5px 0px 0px 0px;
	}

.streams	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-top: 10px;
	padding-bottom: 11px;
	}

.downloadRule	{
	height: 2px;
	width: 149px;
	margin: 13px 1px 8px 1px;
	background: #999999;
	border-bottom: solid 1px #FFFFFF;
	overflow: hidden;
	}

.getPlayer	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-top: 5px;
	}

.getPlayer2	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-top: 16px;
	}

.file	{
	margin-top: 7px;
	}

.fileDetails	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	}

.streamPipe	{
	color: #CCCCCC;
	padding: 0px 2px;
	}

.fnSpacer	{
	height: 4px;
	overflow: hidden;
	}

.figureCaption	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding: 12px 0px 0px 0px;
	}

.figureRule	{
	height: 1px;
	overflow: hidden;
	background: #CCCCCC;
	margin: 7px 0px 18px 0px;
	}

table.pullQuote	{
	margin: 7px 20px 0px 0px;
	}

.pullQuoteRule1	{
	height: 1px;
	background: #999999;
	overflow: hidden;
	}

.pullQuoteRule2	{
	height: 1px;
	background: #999999;
	overflow: hidden;
	margin-top: 14px;
	margin-bottom: 9px;
	}

.sourcelessQuote	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 155%;
	color: #CC6600;
	margin: 0px;
	padding: 18px 12px 0px 12px;
	}

.directQuote	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 155%;
	color: #CC6600;
	margin: 0px;
	padding: 18px 0px 0px 0px;
	}

.citation	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	margin: 0px;
	padding: 11px 0px 0px 0px;
	}

.citationAuthor	{
	font-weight: bold;
	}

.startQuote	{
	padding-top: 20px;
	padding-right: 11px;
	}

.endQuote	{
	padding-left: 9px;
	padding-bottom: 5px;
	}

h5.sidebar	{
	padding-top: 8px;
	}

.farGraphic	{
	margin: 0px 0px 9px 9px;
	}

.nearGraphic	{
	margin: 0px 9px 9px 0px;
	}

ul	{
	margin: 0px;
	padding-left: 2.75ex;
	}
	
li
	{
	}

.numberedList	{
	margin-bottom: -1px;
	}

.numberedList p	{
	padding-bottom: 1.1em;
	}

.listNumber	{
	padding-right: 1.5ex;
	padding-left: 2.1ex;
	}

.sidebarHeader	{
	width: 165px;
	height: 1px;
	overflow: hidden;
	background: #999999;
	}

.sidebarFooter	{
	width: 165px;
	height: 1px;
	overflow: hidden;
	background: #999999;
	margin-bottom: 12px;
	}

.pageNumber	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding: 0px 5px;
	}

.footnote	{
	font: 70% Arial;
	position: relative;
	top: -0.2em;
	}

td.footnote	{
	font: 55% Arial;
	padding-right: 1ex;
	}

.footnoteText	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	}

.footnotes	
{
	margin-top: 11px;
	margin-bottom: 36px;
	}

.sidebarClass	{
	margin: 2px 7px 8px 7px;
	}

.sidebarClass p	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	padding-bottom: 11px;
	}

.bioImage	{
	padding-right: 7px;
	padding-bottom: 14px;
	}

pre.codeSample
{
	background: #DDDDDD;
	font-family: Lucida Console, Courier New;
	font-size: 70%;
	padding: 10px 15px 10px 25px;
	margin-bottom: 1em;
}

span.codeSample
{
	font-family: Lucida Console, Courier New;
}

.linkList
{
	margin-top: 2px;
}

.linkItem
{ 
	font: 70% Verdana;
	padding: 0em 0em 0em 0.5em;
}

.linkBullet 
{ 
	color: #A6A6A6;
	padding-top: 1px;
	font-size: 120%;
}

.listBullet
{
	color: #A6A6A6;
	font-size: 120%;
}

.listItem
{
	padding: 0em 0em 0em 0.5em;
}

.sidebarClass .listBullet
{
	font-size: 100%;
}

.sidebarClass .listItem
{
	padding-left: 4px;
}

.sidebarClass .listItem p
{
	padding-bottom: 0em;
}

.forMoreInfo hr
{
	margin-top: 8px;
}

.forMoreInfo h3
{
	margin-top: 0px; margin-bottom: 3px;
}

.forMoreInfo pre
{
	font: 70% Verdana;
	line-height: 130%;
}

.dataTable	{
	border-bottom: solid 1px #CCCCCC;
	}
	
.dataTable td	{
	padding: 5px;
	}

.tableHeader	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	background: #0A6CCE;
	color: #FFFFFF;
	}

.superHeader	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	}

.stdHeader	{
	background: #99CCFF;
	color: #000000;
	}

.stdHeader td	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	border-top: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	}

.subHeader	{
	background: #DDDDDD;
	}

.subHeader td	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	border-top: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	}

.record td	{
	border-top: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	}
	
.record td td 
{
	border-width: 0px;
}

.evenRecord	{
	background: #E9E9E6;
	}

.evenRecord td	{
	border-top: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	}
	
.evenRecord td td
{
	border-width: 0px;
}

.rowLabel	{
	font-weight: bold;
	background: #F0F0F0;
	}


p.lastInCell	{
	padding-bottom: 0px;
	}

.keyLegend	{
	padding-bottom: 6px;
	}

.key	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	font-weight: bold;
	padding-right: 10px;
	}

.legend	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	}

.legendBullets	{
	color: #666666;
	}

.dataBullets	{
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.tableFootnotes	{
	margin-top: 7px;
	margin-left: 5px;
	}

.dataTableBottomMargin
{
	height: 1px;
	overflow: hidden;
	margin-bottom: 18px;
}

tr.sortable
{
	background: #CCC;
	color: #000000;
}

td.sortable
{
	padding: 0px;
}

td.sortable a
{
	cursor: hand;
}

td.sortable a:hover
{
	background: #E0E0E0;
}

td.sortable table
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: #FFF #999 #999 #FFF;
	padding: 5px;
	height: expression(this.parentElement.parentElement.clientHeight);
}

td.selectedSort
{
	padding: 0px;
}

td.selectedSort a
{
	cursor: hand;
	background: #999;
}

td.selectedSort table
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: #666 #CCC #CCC #666;
	padding: 5px;
	height: expression(this.parentElement.parentElement.clientHeight);
	color: White;
}

.simpleForm
{
	margin: 20px 0px 1.5ex 0px;
}

.simpleForm p  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 65%;
	font-weight: bold;
	padding-bottom: 0px;
	}
	
.simpleForm div
{
	margin-bottom: 14px;
}

.simpleFormSelect {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin-right: 6px;
	margin-top: 2px;
	}

.simpleFormSelectSmall {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin-right: 6px;
	margin-top: 2px;
	width: 123px;
	}

.simpleFormSelectMedium {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin-right: 6px;
	margin-top: 2px;
	width: 169px;
	}

.simpleFormSelectLarge {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin-right: 6px;
	margin-top: 2px;
	width: 261px;
	}

.simpleFormText {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	width: 261px;
	margin-right: 6px;
	margin-top: 1px;
	}

.simpleFormSubmit 	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding: 0px 1px 0px 2px;
	}

.alertType	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	line-height: 140%;
	margin: 0px;
	}