#main h1 { font-weight: normal; }
#main h2 { font-size:110%; margin-bottom:0; }
#main ul { margin-bottom:0; }
#main ul.square { margin-left: 1.5em; }
#main ul.square li { line-height: 1.3em; padding: 4px 0; }
#main ul.video li { line-height: 1.3em; padding: 4px 0; padding-left: 18px; background: url(../_images/icon_video_sm.gif) no-repeat 0 5px; }
#main ul.manual li { line-height: 1.3em; padding: 4px 0; padding-left: 18px; background: url(../_images/icon_manual_sm.png) no-repeat 0 5px; }
#main li.manual { display:inline; line-height: 1.3em; padding: 4px 0; padding-left: 18px; background: url(../_images/icon_manual_sm.png) no-repeat 0 5px; } 
#main li.video { display:inline; line-height: 1.3em; padding: 4px 0; padding-left: 18px; background: url(../_images/icon_video_sm.gif) no-repeat 0 5px; } 
#main a.more { text-align:left; background: url(../_images/morearrow.png) 100% 0.4em no-repeat; padding-right: 9px; *display:inline-block; }

a { text-decoration: none; }
a:hover { text-decoration:underline; }

hr { margin: 14px 0; border:0; height:1px; color:#ccc; background-color:#ccc; }
.divider { border-top:1px solid #ccc; margin-bottom:10px; }

/* original search */
#country { padding-bottom: 10px; }
#country select { font-size: 85%; }
#globalfooter { margin-top: 14px; }
#search { float: right; margin-top:1px; }
#search .restrict { padding:5px 0 5px 5px; font-size:10px; color:#686868; }

/* UTILITY BAR */
#utilbar { padding:7px 10px; background: url(../_images/utilbar.gif) no-repeat center top; }
#utilbar .first #search {  height:25px; float:left; }
#utilbar .first #search a { color:#666; }
#utilbar .first input.prettysearch { width:220px; }
#utilbar .first .search-wrapper { width: 220px; }
#utilbar .first .search-wrapper input.prettysearch { width: 191px; }
#utilbar .column { width:470px; }
#utilbar #searchbox { float:left; }
#utilbar #searchutils { float:left; color:#666; font-size:10px; padding:1px 10px; }
#utilbar #articleutils { float:right; }
#utilbar #articleutils .tool { position:relative; float:left; margin-right:10px; font-size:10px; color:#666; }
#utilbar #articleutils .tool.last { }
#utilbar #internal { line-height:14px; height:13px; margin:1px; padding:1px 6px 3px; text-align:center; font-size:10px; background: url(../iknow/images/button_internal.png) center center; }
#utilbar #internal a { color:white; }
#utilbar #internal a:hover { text-decoration:none; }
#utilbar #countryselector { text-align:right; font-size:11px }
#utilbar #email-container { width:250px; }
#utilbar #email-send { margin-top:2px; padding-left:16px; background: url(../iknow/images/aqua2spinner12.gif) no-repeat center left }
#utilbar #email-sent { margin-top:2px; padding-left:16px; background: url(../iknow/images/i_greencheck.gif) no-repeat center left }
#utilbar #email-address { width:120px; height:13px; font-size:11px; margin:1px 2px; }
#utilbar #sendbutton { font-size:11px; }

/* wide pretty search for product browser */
#pb-search, #pb-search a { color:#fff; font-size:13px; }
#pb-search { padding:10px; background:url(../iknow/images/pb_searchbg.gif) no-repeat bottom; }
#pb-search input.prettysearch { width:320px; }
#pb-search .search-wrapper { width: 320px; }
#pb-search .search-wrapper input.prettysearch { width: 291px; }
#pb-searchlabel { float:left; max-width:130px; margin:1px 8px 0 0; line-height:1.2em; }
#pb-searchfield { float:left; }

/* new utilbar for advanced search */
#utilbar-advanced #pb-search-topcap { height:5px; background:url(../iknow/images/pb_searchbg_topcap.gif) no-repeat bottom; }
#utilbar-advanced #pb-search { padding:4px 10px; background:url(../iknow/images/pb_searchbg_advanced.gif) no-repeat bottom; }
#utilbar-advanced #pb-search a { display:block; font-size:10px; margin:2px 0 0 5px; color:#ccc; }
#utilbar-advanced a.searchtips { padding-left:12px; background:url(../iknow/images/searchtips.gif) no-repeat 1px 5px; }
#utilbar-advanced a.searchtips-down { background:url(../iknow/images/searchtipsdown.gif) no-repeat 1px 5px; }
#utilbar-advanced #pb-searchtips { margin:5px 0; font-size:10px; color:#eee; }
#utilbar-advanced #pb-searchtips td { padding-left:16px; }
#utilbar-advanced #pb-searchtips .arrowlink { text-align:right; padding:0 16px 0 0; background-image:url(../iknow/images/arrow_jump.gif); }
#utilbar-advanced #pb-searchtips .column.first { width:100%; max-width:650px; min-height:60px; _height:60px; }
#utilbar-advanced #pb-searchtips .column.last { position:absolute; top:73px; right:11px; _top:83px; }
#utilbar-advanced #searchbox { float:left; }
#utilbar-advanced #articleutils { position:absolute; top:14px; right:1px; }
#utilbar-advanced #articleutils .tool { position:relative; float:left; margin-right:10px; font-size:10px; color:#ccc; }
#utilbar-advanced #articleutils .tool.last { }
#utilbar-advanced #searchutils { position:absolute; top:14px; right:11px; _top:24px; }
#utilbar-advanced #searchutils .tool { float:right; }
#utilbar-advanced #searchutils #country { float:right; line-height:1.8em; padding:1px 12px 0 5px; background:url(../iknow/images/searchtips.gif) no-repeat right 55%; }
#utilbar-advanced #searchutils a { cursor:pointer; }
#utilbar-advanced #searchutils a:hover { _background:none; }

/* modification to reposition #articleutils for unified search */
#article #articleutils { float:right; margin:8px -10px 0 0; }
#article #articleutils .tool { position:relative; float:left; margin-right:10px; font-size:10px; color:#444; }
#article #articleutils #email-form, #articleutils #email-address { margin:0 3px; }

/* non-expanding version */
#utilbar-advanced #searchlinks { margin:1px 0 0 1px; }
#utilbar-advanced #searchlinks a { display:inline; padding:0 12px 0 0; margin-right:10px; background:url(../iknow/images/searchtips.gif) no-repeat right 55%; }
#utilbar-advanced #pb-search.noexpand { height:36px; }


/*#utilbar-advanced #email-container { width:250px; margin-top:2px; }*/
#utilbar-advanced #email-container { margin-top:2px; white-space:nowrap; }
#utilbar-advanced #email-send { margin-top:3px; padding-left:20px; background: url(../iknow/images/aqua2spinner_adv.gif) no-repeat center left }
#utilbar-advanced #email-sent { margin-top:3px; padding-left:18px; background: url(../iknow/images/i_greencheck_adv.gif) no-repeat center left }
#utilbar-advanced #email-address { width:120px; height:13px; font-size:11px; margin:1px 2px; }
#utilbar-advanced #sendbutton { font-size:11px; }



/* SIDEBAR FOR 2 COLUMN LAYOUTS */
#sidebar { width:228px; float:left; }
#main ul.buttons { margin:0; padding:4px 8px 10px 8px; font-size:11px; }
#main ul.buttons li { margin:3px 2px 0 2px; list-style-type:none; }
#main ul.buttons li a { display:block; height:13px; padding:2px 12px 4px 12px; color:#5c5c5c; text-decoration:none; font-weight:bold; }
#main ul.buttons li a.selected { color:#fff; background:url(../iknow/images/button_selected.png) 0 0 no-repeat; }

#main ul.buttons .count { font-size:10px; color:#a9a9a9; }
#main ul.buttons li a.selected .count { color:#d0d0d0; }


/* rounded corners */
/* !!!! make these into 1 image !!!! */
.module { border:1px solid #e5e5e5; 
	background: url(../_images/module_background.gif) repeat-x bottom;
	_background: url(../_images/module_background_ie.gif) repeat-x bottom; 
	*background: url(../_images/module_background_ie.gif) repeat-x bottom; }
.tl, .tr, .bl, .br { position:relative; } 
.tl { background: transparent url(../_images/tl.gif) no-repeat top left; top:-1px; left: -1px; }
.tr { background: transparent url(../_images/tr.gif) no-repeat top right; right: -2px; }
.bl { background: transparent url(../_images/bl.gif) no-repeat bottom left; bottom: -2px; left: -2px; }
.br { background: transparent url(../_images/br.gif) no-repeat bottom right; right: -2px; *bottom: 0; }

.arrowlink { text-align: left; padding:2px 16px 2px 0; background: url(../_images/arrow_jump.gif) no-repeat center right; }
.arrowlinklast { text-align: left; padding:2px 16px 2px 0; background: url(../_images/arrow_jump.gif) no-repeat center right; }

.titleicon { float:right; padding:0 10px; }

/* left menu bar */
#menu h2 { position:relative; top:-1px; left:-1px; padding: 3px 7px; color:white; font-weight:normal; background-color:#aaa; background: url(../_images/module_headerbg.png) no-repeat center top; }
#menu h2 a { color: white; }
#menu h2 a:hover { text-decoration:underline; color: white; }
#menu h3 { padding: 1px 10px; padding-top: 12px; }
#menu ul { padding-bottom: 10px; }
#menu li { line-height: 1.2em; padding: 4px 10px; }
#menu hr { margin: 8px 15px; border:0; height:1px; color:#ccc; background-color:#ccc; }
#menu a { color: #666; }
#menu a:hover { text-decoration:underline; color: #333; }
#menu select { font-size: 85%; margin: 0 10px; width:140px; }
#menu .arrowlink { background: url(../_images/arrow_jump_white.gif) no-repeat center right; }
#menu .module { background-color: transparent; margin: 0 0 15px 0; font-size: 95%; }
#menu .hilite { position:relative; left:-1px; background-color: #e8e8e8; }


/*#main h2 { font-weight:normal; }*/
#resourcespsp .module h2 { position:relative; top:-1px; left:-1px; padding: 3px 10px; color:white; font-weight:normal; background-color:#aaa; background: url(../_images/module_headerbg_wide.png) no-repeat center top; }
#resourcespsp .module h2 a { color:white; }
#resourcespsp .module h2 .arrowlink { background: url(../_images/arrow_jump_white.gif) no-repeat center right; }
#resourcespsp .module h2 .headerlinkright { float:right; position:relative; left:0px; }


/* right sidebar */
#rightsidebar img { padding:8px 0; }
#rightsidebar ul { padding-bottom: 5px; }
#rightsidebar .module h2 { position:relative; top:-1px; left:-1px; padding: 3px 7px; color:white; font-size:11px; font-weight:normal; background-color:#aaa; background: url(../_images/module_headerbg.png) no-repeat center top; }

#rightsidebar .lefticon { float:left; padding:0; margin:5px 10px 5px 0; }
#rightsidebar .desc { padding-bottom:10px; }



/* featured group */
#featured h1 { margin-bottom:5px; }
#featured li { margin-bottom:4px; }

#main .subbar { font-size:14px; font-weight:bold; color:#8390a7; margin-bottom:18px; }
#main h1.subbar { font-size:24px; font-weight:normal; color:black; margin-bottom:0; }

/* resources group */
#featured #resourcelinks { padding:0; } /* new featured area with borders */
#resourcelinks { padding:15px 0; } /* old featured area without borders */
#resourcelinks li { float: left; margin-right:10px; padding-right:15px; font-size: 95%; }
#resourcelinkshome { padding-top:10px; }
#resourcelinkshome li { float: left; margin-right:25px; padding-right:25px; font-size: 100%; }

#resourceshome ul { padding-top:18px; }
#resourceshome .column { padding-right: 15px; border-right: 1px solid #e0e0e0; } 
#resourceshome .column.last { padding-right:0; border-right: none; } 

#resourcespsp h3 { font-size:14px; font-weight:bold; color:#8390a7; }
#resourcespsp h4 { font-size:12px; font-weight:bold;}
#resourcespsp ul { padding-bottom:10px; }
#resourcespsp .column { padding-right: 20px; border-right: none; } 
#resourcespsp .column.last { width:48%; padding-right:0; border-right: none; } 

#coveragetool { margin-bottom:8px; }
#coveragetool ul { padding-top:0; }
#coveragetool .inputtext { width:175px; }
#coveragetool .column { padding-right:0; border-right: none; }


/* family pages */
#navgrid h1 { padding-top:20px; }
#navgrid ul { margin: 0 0 40px 0; }
#navgrid li { text-align: center; }
#navgrid img { margin: 10px; }
#navgrid .arrowlink { text-align: left; padding: 5px 15px 5px 0; border-bottom: 1px solid #e0e0e0; }
#navgrid .arrowlink.last { border-bottom:none; }
#navgrid .column { padding-right:20px; border-right: 1px solid #e0e0e0; }
#navgrid .column.last { padding-right:0; border-right: none; }

/* tables of information */
#tablegrid th { font-size:10px; color:#666; padding:5px 15px 10px 0; }
#tablegrid td { font-size:10px; color:#666; padding:5px 15px 5px 0; border-bottom:1px solid #e0e0e0 }
#tablegrid td.last { padding:5px 15px 20px 0; border-bottom:none }

/* basic table styles */
#main .smallfont { font-size:10px; }
#main .maxwidth { width:100%; }
#main table.basictable th, #main table.basictable td { padding: 5px 10px; }
#main table.basictable th { font-weight:bold; border-right:1px solid #ddd; background:#bababa url(../_images/table_headerbg.gif) repeat-x 0 100%; }
#main table.basictable th.sorted { background:#909090 url(../_images/table_headerbg_sorted.gif) repeat-x 0 100%; }
#main table.basictable th.ascending { background:#797979 url(../_images/table_headerbg_sorted_asc.gif) no-repeat center right; padding-right:25px; }
#main table.basictable th.descending { background:#797979 url(../_images/table_headerbg_sorted_desc.gif) no-repeat center right; padding-right:25px; }
#main table.basictable th a { color:#fff; }
#main table.basictable td { border-bottom: 1px solid #ddd; }	
#main table.basictable tr.odd { background:#fff; }
#main table.basictable tr.even { background:#efefef; }
#main table.basictable tr.odd td, #main table.basictable tr.even td { border:none; }

/* sitemap */
#sitemap h3 { padding-top:15px; }
#sitemap li { font-weight:bold; }
#sitemap li a { font-weight:normal; }

/* flow pages */
#flow h2 { font-size:130%; margin-bottom:15px; color:#8a96ad; }
#flow .note { padding:10px; border:1px solid #ccc; background:#ffffe8; }
#flow ul { margin:1em 0; }

#buttongroup { text-align:right; margin-bottom:15px; }
#buttongroup a { height: 20px; padding: 3px 0 3px 20px; color: white; font-weight:bold; background:transparent url(../_images/acbutton_background_l.gif) no-repeat center left; }
.acbutton { height: 20px; padding: 3px 20px 3px 0; background:transparent url(../_images/acbutton_background_r.gif) no-repeat center right; }

#errorbox { width:640px; margin-top:50px; margin-left:auto; margin-right:auto; }
#alert { border:1px solid #ddd; padding:8px 15px 8px 38px; margin-bottom:10px; background:#ffffd9 url(../home/images/icon_alert.gif) no-repeat 5px top; }

/* alerts */
.alert { border:1px solid #ddd; padding:8px; margin-bottom:10px; background:transparent no-repeat 5px top; }
.alert.yellow { background-color:#ffffd9; }
.alert.icn { padding:8px 15px 8px 38px; background-image: url(../home/images/icon_alert.gif); }

/* warranty checker */
#personalization { float:right; margin:-10px 0 0 10px; font-size:11px; text-align:right; }
#warranty h1 { padding:20px 0 0 20px; margin-bottom:0; }
#warranty #tagline { color:#888; margin-left:20px; }
#warranty #serialnumber { font-size:12px; padding:2px; margin:5px 0; }
#warranty button.happy { font-size:12px; font-weight:bold; color:black; padding:3px 12px; }
#warranty #warrantycheckspinner { position:absolute; margin:6px 0 0 4px; }
#warranty #product { padding:10px; margin:20px 20px 0 20px; 
	border:1px solid #ddd; 
	background:#fff url(../applecare/images/warranty_product_bg.jpg) repeat-x 0 0; }
#warranty #productimage { display:block; float:left; padding:5px 20px 5px 15px;}
#warranty #productinfo { padding-top:8px; }
#warranty #productinfo h2 { font-size:18px; font-weight:normal; margin-bottom:5px; }
#warranty #productinfo .sosumi { margin:10px 0 0 0; }
#warranty #dateofpurchase { margin:5px 0 35px; }
#warranty #dateofpurchase label { margin-right:10px; }
#warranty #register, #warranty #results { padding:20px; }
#warranty #results .status { padding-left:50px; min-height:40px; }
#warranty #results .green { background:url(../applecare/images/warranty_status_green.png) no-repeat 5px 5px; }
#warranty #results .yellow { background:url(../applecare/images/warranty_status_yellow.png) no-repeat 5px 5px; }
#warranty #results .red { background:url(../applecare/images/warranty_status_red.png) no-repeat 5px 5px; }
#warranty #results table { width:100%; }
#warranty #results td { border-bottom:1px solid #dedede; padding:10px 0; }
#warranty #results td p { margin-bottom:0; }
#warranty #results td.button { width:200px; text-align:right; vertical-align:center; }
#warranty #results td.button button { width:170px; }

.rightbuttons { text-align:right; }

/* text pages */
.grid1col { width:75%; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }
.padtop5 { padding-top: 5px;}
.padtop10 { padding-top: 10px;}
.padtop15 { padding-top: 15px;}
.padtop20 { padding-top: 20px;}
.padtop25 { padding-top: 25px;}
.padtop30 { padding-top: 30px;}
.padtop35 { padding-top: 35px;}
.padright10 { padding-right: 10px;}
.padright20 { padding-right: 20px;}
.padleft10 { padding-left: 10px;}
.padleft20 { padding-left: 20px;}

/* base.css page grid overrides */
.grid2colc .grid2cola .column.first { width: 66%;}
.grid2colc .grid2cola .column.last { width: 32%;}
.grid2colc .grid2colb .column.first { width: 582px;}
.grid2colc .grid2colb .column.last { width: 184px;}
.grid2colc .grid2colb .grid2col .column.first { width: 47%;}
.grid2colc .grid2colb .grid2col .column.last { width: 46%;}

.grid2colc .column.first { width: 184px; }
.grid2colc .column.last { width: 781px; }
.grid2colc .grid2col .column { width: 49%; }
.grid2colc .grid4col .column { width: 23%; margin-left: 2%; }
.grid2colc:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.grid3col .column { width: 29%; }
.grid3col .column.first { width: 29%; }
.grid3col .column.last { width: 32%; float: right; }

/* hack for sites with old header */
#tabs { padding-bottom: 15px; }

/* global footer with country selector flag */
#globalfooter .gf-sosumi ul.piped li.country_selector { float:right; text-align:right; }
#globalfooter .gf-sosumi ul.piped li.country_selector a { display:inline; border-left:none; margin-left:0px; padding-left:0; cursor:pointer; line-height:19px; }
#globalfooter .gf-sosumi ul.piped li.country_selector p { float:right; padding:0 9px 0 5px; margin:0; background:transparent url(../home/images/morearrow.png) no-repeat right center; }
#globalfooter .gf-sosumi ul.piped li.country_selector p:hover { text-decoration:underline; }
#globalfooter .gf-sosumi ul.piped li.country_selector img { width:24px; height:24px; margin-top:-2px; border:none; }
#globalfooter .gf-sosumi ul.piped li.country_selector img[width="22"] { width:22px; }
#globalfooter .gf-sosumi ul.piped li.country_selector img[height="22"] { height:22px; }

/* Video Channel module on PSPs */
.video_portlet_lt UL { width:100%; padding:0; margin:0; overflow:auto; clear:both; }
.video_portlet_lt LI { width:auto; padding:0; margin:0 0 10px 0; font-weight:normal; overflow:auto; clear:both; }
.video_portlet_lt LI SPAN { width:80px; float:left; margin-right:10px; text-align:center; border:4px solid #999; }
.video_portlet_lt LI SPAN IMG { width:80px; height:60px; vertical-align:baseline; border:0; cursor:pointer; }
.video_portlet_rt UL { width:100%; padding:0; margin:0 0 0 -20px; overflow:auto; clear:both; }
.video_portlet_rt LI { width:auto; padding:0; margin:0 0 10px 0; font-weight:normal; overflow:auto; clear:both; }
.video_portlet_rt LI SPAN { width:80px; float:left; margin-right:10px; text-align:center; border:4px solid #999; }
.video_portlet_rt LI SPAN IMG { width:80px; height:60px; vertical-align:baseline; border:0; cursor:pointer; }

/* GLOBAL FOOTER LITE */
#globalfooter .gf-sosumi.lite { border-top: none}
