/* Comments Styling (includes support for threaded comments!) |||||||||||||||||||||||||||-*/


#comment{width: 100%;}

ol.commentlist{
	list-style-type: none;
    margin: 0 0 15px;
}

li.comment{
	background: none repeat scroll 0 0 transparent;
    list-style: none outside none !important;
    margin: 0 !important;
    padding-left: 0 !important;	
}

.commentlist .comment-body .avatar {
    position: absolute;
    right: 30px;
    top: 30px;
}

.commentlist .children .comment-body .avatar {
    height: 50px;
    left: 20px;
    position: absolute;
    right: auto;
    top: 20px;
    width: 50px;
}

.commentlist .comment-body {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DFDFDF;
    margin-bottom: 10px;
    min-height: 80px;
    overflow: hidden;
    padding: 30px 90px 30px 30px;
    position: relative;
}

.commentlist .comment-body .commentmetadata {
    padding: 5px 0;
}

.commentlist p{
    padding-bottom: 15px;
}

.comment-reply-link {
	font-family: Tahoma;
    font-size: 8px;
    background: none repeat scroll 0 0 #F9F9F9;
    border-right: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    bottom: 0;
    left: 0;
    padding: 0 8px 1px;
    position: absolute;
    text-decoration: none !important;
    text-transform: uppercase;
}


.commentlist .children .highlighted > .comment-body .wrap-comment {
    padding: 20px 20px 20px 90px !important;
}

.commentlist .highlighted > .comment-body .wrap-comment {
    border-color: #ECFFF9;
}

.commentlist .highlighted > .comment-body {
    background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    padding: 1px !important;
}

.commentlist .children li > .comment-body {
    margin-bottom: 10px;
}

.commentlist .children .comment-body {
    margin-bottom: 0;
    min-height: 90px;
    padding: 20px 20px 20px 90px;
}

.commentlist .highlighted > .comment-body {
    background-color: #98BAB1;
}

.commentlist .highlighted > .comment-body .wrap-comment {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #EFEFEF;
    margin-bottom: 0;
    overflow: visible;
    padding: 15px 125px 25px 25px;
}

.commentlist .children > li { 
	list-style-type: none;
    background: url("../images/theme/li-left.png") no-repeat scroll 0 20px transparent !important;
    border-left: 1px solid #CACACA;
    list-style: none outside none;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 30px !important;
    margin-bottom: 10px !important;
}