div > label#zipCodeEntry { width: 126px !important; }
div > span#zipCodeWrapper { margin-right: 3px; }

#linkFarm.fiveCol {
   background: url("../../../../shopcms/media/att/2012/shop/apps/myATT-App-LandingPg/img-myATTApp-LinkFarmBG.png") no-repeat scroll -3px top transparent;
}

.carousel-row-container { min-height: 150px; padding: 30px; position: relative; }
            .sub-header-not-underlined { width: 912px; margin: 0 0 20px 0; text-align: left; }
            .device-container-no-border { float: left; width: 122px; position: relative; padding: 0 15px; }
            .device-container-no-border p { font-weight: bold; }
            
            .tabs { top: 1px; }
            .tabs a { color: #9c9c9c; font-weight: normal; padding: 10px 15px; }
            .tabs a.current { background-color: #FFFFFF; color: #000000; }
            
            /** BEGIN: Branded tabs **/
             /** BEGIN: Branded tabs **/
            #lt-android           { background: transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/android-off.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }
            #lt-android .current     { background:transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/android-on.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }     
            
            #lt-bb             { background: transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/bb-off.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }
            #lt-bb .current      { background:transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/bb-on.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }     
            
            #lt-win            { background: transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/win-off.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }
            #lt-win .current     { background: transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/win-on.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }     
           
            #lt-ios           { background: transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/ios-off.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px;}
            #lt-ios .current     { background: transparent url(../../../../shopcms/media/att/2012/shop/wireless/common/ios-on.png) no-repeat 15px 6px; padding: 10px 20px 10px 40px; }     
           
            .tab-three-column-container { width: 895px; margin-bottom: 75px; }
            .tab-three-column-container h3 { font: 12px/20px arial; margin-bottom: 5px; }
            .tab-three-column-container div { margin-top: 25px; }
            .tab-three-column-container div p { float: left; color: #787878; }
            .thumb-text { margin-left: 15px; width: 145px; }
            .tab-three-column-left { background:  url(http://1.ecom.attccc.com/content/dam/att/2012/shop/wireless/common/or-image.jpg) no-repeat right top; float: left; width: 240px; padding: 0 58px 0 0; }
            .tab-three-column-left-w200 { background:  url(http://1.ecom.attccc.com/content/dam/att/2012/shop/wireless/common/or-image.jpg) no-repeat right top; float: left; width: 200px; padding: 0 58px 0 0; }
            .tab-three-column-center { background:  url(http://1.ecom.attccc.com/content/dam/att/2012/shop/wireless/common//or-image.jpg) no-repeat right top; height: 135px; float: left; width: 200px; padding: 0 40px 0 58px; }
            .tab-three-column-right { float: left; width: 258px; padding: 0 0 0 40px; }
            .tab-three-column-right-w240 { float: left; width: 240px; padding: 0 0 0 40px; }
            
            #bar-code { padding: 0 0 0 40px; }
            .tab-column-container { margin: 10px 0 0 55px; }

.mainPromoLayout .fullWidthTile .titleAndCopy .small-h2 { font: 12px/20px arial; margin-bottom: .5em; }
            .fullWidthTile .titleAndCopy .two-buttons * { margin: 0; padding: 0; }
            .fullWidthTile .titleAndCopy .two-buttons img#right-button { padding: 0 0 10px 8px; margin: 0 }
            .fullWidthTile .titleAndCopy .two-buttons img#left-button { padding: 10px 10px 10px 0; margin: 0; border-right: 1px solid #eee; }
            .fullWidthTile .titleAndCopy .cta img { display: block; }
            .fullWidthTile.contentRight575 .titleAndCopy { padding-left: 500px; }
            .fullWidthTile.contentLeftDefault .titleAndCopy { padding-left: 40px; }
            .titleAndCopy h1 { margin-bottom: 1em; }
            
            .left-text { margin: 0 10px; 0 0 }
            .price-and-button div { float: left; }
            .price-and-button .left-text p.contract-price { float: right; margin: 0 10px 0 0; font-size: 24px; }
            .price-and-button .left-text p.contract-term { float: right; margin: -5px 10px 0 0; font-size: 9px; }
            .fullWidthTile .titleAndCopy .price-and-button div a img { margin: 0 0 0 -10px; }
    
/** BEGIN: Itoro's Styles **/
    .column-divider h4 { font-weight: bold; }
    .column-divider p { margin-bottom: 20px; width: auto; }
    .marqueeTile div.right-side { padding-left: 0; }
    #feature-phone { background: url('http://1.ecom.attccc.com/media/cms/shop/styles/samsung-galaxy-s2_files/vertical-phone.jpg') no-repeat scroll -10px 30px transparent; }
    .feature-phone-copy { padding: 80px 0 90px 350px; }
    .feature-phone-copy h3, .noteinfo h3 { font: 12px/20px arial; margin-bottom: 5px; }
    .feature-phone-copy h4, .noteinfo h4 { font-size:2em; margin-bottom: 5px;  }
    .feature-phone-copy p { margin-bottom: 30px;  }
    .noteinfo { margin: 10px 12px 14px 14px; }
    ul.first-list { width: 300px; padding-right: 20px; }
    ul.second-list { width: 300px; }
    ul.specs li { background: url('../../../../../www.att.com/media/att/2011/shop/wireless/landing/lg_thrill_coming_soon_lander/spec_icons/icon-1GHz_AA000VQ6.png') no-repeat scroll left top transparent;}
    div.first-div { border-bottom: 1px dotted #ccc; }
    .below-notes-container { margin: 50px 14px 155px 14px; }
    .below-notes-container h4 { margin-bottom: 30px; }
    .below-notes-left { width: 325px; }
    .below-notes-right { width: 275px; margin-left: 50px; }
    .notes-border-two-column { background: url("../../../../../www.att.com/media/att/2011/shop/common/bkd_div_vertical_197_AA000PN6.gif") no-repeat scroll 323px top transparent; }
    .note-no-bg.box { border: 1px solid #E3E3E3; margin: 0 0 14px; padding: 12px 14px 5px; }
    .one-up { position: relative; min-height: 200px; overflow: hidden;}
    #one-up-copy-left h3, #one-up-copy-right h3 { font: 12px/20px arial; margin-bottom: 5px; }
    .screenshots-container { margin: 40px 0; }
    .screenshots-container .jcarousel-clip-horizontal { width: 828px; height: auto; }
    .screenshots-container .jcarousel-container-horizontal  { width: 888px; height: auto; }
    .screenshots-container h3 { margin-left: 40px; }
    .screenshots-casing { float: left; width: 182px; margin-right: 25px; }
    .screenshots-casing  h5{ margin: 0 0 6px 0; color: #333; font: bold 12px arial; }
    .screenshots-casing img { margin-bottom: 20px; }
    .screenshots-casing p { line-height: 19px; }
    .screenshots-last { margin-right: 0; }
            
	/** fixing right rail issues **/
	.primary-content,.secondary-content,.warranty,.lnkfrm{float:left;}
	#right-rail .section-title{width:100%;position:relative;}
	.section-title h5{width:216px;height:auto;position:relative;}
              
/** END: Itoro's Styles **/
/** reset styling **/

.firebugResetStyles {

    z-index: 2147483646 !important;

    top: 0 !important;

    left: 0 !important;

    display: block !important;

    border: 0 none !important;

    margin: 0 !important;

    padding: 0 !important;

    outline: 0 !important;

    min-width: 0 !important;

    max-width: none !important;

    min-height: 0 !important;

    max-height: none !important;

    position: fixed !important;

    -moz-transform: rotate(0deg) !important;

    -moz-transform-origin: 50% 50% !important;

    -moz-border-radius: 0 !important;

    -moz-box-shadow: none !important;

    background: transparent none !important;

    pointer-events: none !important;

}
.firebugBlockBackgroundColor {

    background-color: transparent !important;

}
.firebugResetStyles:before, .firebugResetStyles:after {

    content: "" !important;

}

/**actual styling to be modified by firebug theme**/

.firebugCanvas {

    display: none !important;

}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.firebugLayoutBox {

    width: auto !important;

    position: static !important;

}
.firebugLayoutBoxOffset {

    opacity: 0.8 !important;

    position: fixed !important;

}
.firebugLayoutLine {

    opacity: 0.4 !important;
    background-color: #000000 !important;
}

.firebugLayoutLineLeft, .firebugLayoutLineRight {
    width: 1px !important;
    height: 100% !important;
}

.firebugLayoutLineTop, .firebugLayoutLineBottom {
    width: 100% !important;
    height: 1px !important;
}

.firebugLayoutLineTop {
    margin-top: -1px !important;
    border-top: 1px solid #999999 !important;
}

.firebugLayoutLineRight {
    border-right: 1px solid #999999 !important;
}

.firebugLayoutLineBottom {
    border-bottom: 1px solid #999999 !important;
}

.firebugLayoutLineLeft {
    margin-left: -1px !important;
    border-left: 1px solid #999999 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBoxParent {
    border-top: 0 none !important;
    border-right: 1px dashed #E00 !important;
    border-bottom: 1px dashed #E00 !important;
    border-left: 0 none !important;
    position: fixed !important;
    width: auto !important;
}
.firebugRuler{
    position: absolute !important;
}

.overflowRulerX > .firebugRulerV {
    left: 0 !important;
}

.overflowRulerY > .firebugRulerH {
    top: 0 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.fbProxyElement {
    position: fixed !important;
    pointer-events: auto !important;
}

/*----------------------- Begin Three Quarter Right Rail page style -----------------------*/

.deviceMainContainer {
    padding-top:30px;
}

.deviceSocialMediaVerticalBar {
    position:absolute;
    top:25px;
    right: -42px;
}

.deviceFacebookContent {
    border: medium none;
    height: 60px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 6px;
    width: 340px;
    z-index: 1;
}

.deviceMarqueeContainer {
    position: relative;
    top: -6px;
    left: -1px;
    width:972px;
    height:615px;
}

#bannerLayover {
    position:absolute;
    left:-7px;
    top:40px;
    z-index:6;
}

.deviceContent {
    margin:-90px 0 0 12px;
    position:relative;
    float:left;
}

.deviceContent .deviceMainContent {
    float:left;
    margin:0 10px 10px 0;
    width:708px;
    position:relative;
    background:url('../../../att/2011/shop/wireless/landing/lg_thrill_coming_soon_lander/main_section/bg-gradient_AA000VPV.gif') repeat-x scroll left top transparent;
}

.deviceContent .deviceSideContent {
    float:left;
    margin:0 0 10px 0;
    width: 230px;
    position:relative;
}

.deviceContent .deviceLegalContent {
    float:left;
    width:710px;
    position:relative;
    color:#666666;
}

.deviceContent .deviceLegalContent b {
    font:normal normal bold 11px arial;
}

.deviceContent .deviceLegalContent p {
    color:#666666;
}

.leftContent {
    float:left;
}

.rightContent {
    float:right;
}

.threeQuarterTile {
    width:704px;
    clear:both;
}

.threeQuarterTile p {
    font:normal normal normal 12px/21px arial;
    color:#666666;
}

.threeQuarterTile h2 {
    font:normal normal normal 30px arial;
    color:#000000;
}

#primary-content .threeQuarterTile .rightrailimagetile .row-seamless {
	padding: 5px 0 7px 0;
}
#primary-content .threeQuarterTile .rightrailimagetile .marqueeTile.top {
	margin: 0;
}

.threeQuarterTile .titleplustext h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.overlappingThreeQuarteroneup .threeQuarterTile h2 {
    font-size: 2em;
}

.overlappingThreeQuarteroneup h4 {
    margin-bottom: 20px;
}

.threeQuarterTile h3 {
    font:normal normal normal 20px arial;
    color:#333333;
}

.threeQuarterTile img {
    display:block;
}

.threeQuarterTile .titleAndCopy {
    padding:20px;
}

.threeQuarterTile .titleAndCopy h2 {
    margin:0 0 41px;
}

.threeQuarterTile .titleAndCopy h3 {
    margin:0 0 10px;
}

.threeQuarterTile .titleAndCopy p {
    margin:0 0 5px;
}

.threeQuarterTile .titleAndCopy ul {
    list-style-type:disc;
    margin-left:15px;
}

.threeQuarterTile .titleAndCopy ul li {
    line-height: 1.5em;
    padding-bottom: 5px;
}

.threeQuarterTile .titleAndCopy .tm {
    top: -15px;
    font-size: 9px;
}

.threeQuarterTile .deviceVideoContainer {
    font-size:13px;
    width: 230px;
    margin: 25px 0 0 0;
    padding:15px 0 20px 110px;
}

.threeQuarterTile .deviceVideoContainer a {
    line-height:18px;
}

.threeQuarterTile .dottedDivider {
    border-bottom: 1px dotted #cccccc;
    clear: both;
    margin: 0 20px;
}

.fullwidthoneup > .dottedDivider, .oneup .dottedDivider , .tab-three-column-container .dottedDivider {
    border-bottom: 1px dotted #cccccc;
    clear: both;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dottedDivider.nomargin {
    margin-top: 0;
}

.threeQuarterTile .specsWrapper {
    width:670px;
    margin:0 auto 20px;
    padding:0 0 5px;
}

.specsWrapper .specsTitle {
    padding:17px 20px 0;
    margin:0 0 29px;
}

.specsWrapper .specsTitle p {
    margin:0 0 9px;
}

.specsWrapper .specsTitle h3 {
    margin:0 0 12px;
}

.specsContainer {
    width:670px;
    clear:both;
}

.specsTile {
    margin:0 0 7px 0;
    width:335px;
    float:left;
}

.specsTile p {
    width:255px;
    margin:0 0 7px;
}

.specsTile .rightContent {
    margin:0 17px 0 0;
}

.specsTile .imgContainer {
    width:56px;
}

.specsTile .imgContainer img {
    float:right;
}

.specsTile .dottedDivider {
    border-bottom:1px dotted #cccccc;
    clear:both;
    width:255px;
    margin:0;
}

.oneQuarterTile {
    padding:12px 0 0;
    margin:0 0 10px;
    width:228px;
    height:143px;
    clear:both;
}

.oneQuarterTile h2 {
    font:normal normal normal 16px arial;
    color:#333333;
    margin:0 0 0 12px;
}

.oneQuarterTile p {
    margin:12px 5px 0 0;
    padding:0;
    width:127px;
    font:normal normal normal 14px arial;
    color:#333333;
}

.oneQuarterTile .btmLink {
    margin:12px 0 0;
    padding:0;
    width:110px;
}

a.tileLinkRightArrow {
    text-decoration: none;
    padding-right: 13px;
    background: url("../../../att/2011/global/btn/img_blue_arrow_9x13_AA000OM4.gif") no-repeat scroll right bottom transparent;
    font:normal normal normal 12px arial;
    color:#067AB4;
}

a.tileLinkRightArrow:hover {
    text-decoration:underline;
}

.oneQuarterTile img {
    margin:12px 0 0 5px;
}

.threeQuarterTile.contentRightDefault .titleAndCopy {
    padding-top: 20px;
    padding-left: 324px;
    /* width: 446px; */
    padding-right: 40px;
}

.threeQuarterTile.contentLeftDefault .titleAndCopy {
    padding-top:20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 292px;
}


.tile.margintop60 {
    height:118px;
    margin-top:60px;
}

.w226-inner-padding-no-image {
    padding:10px;
    }
    
    #tabsLinksthreequarter {
    background: url("../../../att/2011/shop/common/img_bg_gray_tabs_1x54_AA000OML.gif") repeat-x scroll 0 -5px transparent;
    height: 49px;
    margin-bottom: 40px;
    width: 680px;
}
/*----------------------- End Three Quarter Right Rail page style -----------------------*/
.below-notes-container{ 
	margin: 50px 14px 155px 14px;
	border-top-width: 3px; 
	margin-top: 30px; 
	margin-bottom: 13px; 
	}
    .below-notes-left{ width: 325px; }
    .notes-border-two-column{ background: url("../../../../../www.att.com/media/att/2011/shop/common/bkd_div_vertical_197_AA000PN6.gif") no-repeat scroll 323px top transparent; }
    .below-notes-right{ width: 275px; margin-left: 50px; }
    .floatl{ float:left}

.fullwidthfaqs {
   padding-top:20px;
   text-align:left;
   padding: 0 40px;
}

.fullwidthfaqs p {
   color: #666666;
}

.fullwidthfaqs a {
   display: block;
   margin-bottom: 15px;
}

.fullwidthfaqs li a, .fullwidthfaqs b.inline {
   display: inline;
   margin-bottom: 0;
}

.fullwidthfaqs b {
   display: block;
   margin-bottom: 11px;
}
   
  /* supported 3.0 font colors */
.price-and-button .left-text .price .orange {
	color: #f37f06;
	font-size: 32px; 
	line-height: 32px;
	margin: 0 5px 0 0;
}
.oneupstaticlegal .legal{
	color: #666666;
	font-size: 10px;
	/*height:77px;*/
	line-height: 110px;	
	
}

.legal p, .titleAndCopy p {
	color: #666666;
}

.box > p.legal {
   margin-left: 15px;
   margin-bottom: 15px;
}

.fullWidthTile .titleAndCopy p {
	font-size: 12px;
}

h4.subhead {
	font-size: 12px;
	font-weight: bold;
}

div.orangeheading h3.orangeheadingtext, div.orangeheading h2.orangeheadingtext {
	margin-bottom: 1em;
    color: #F37F06;
}

#breadcrumbs-and-facebook-like-container { font-size: 1em;color: #666;width: 930px; position: absolute; top: 15px; left: 20px; z-index: 3;}
#breadcrumbs-and-facebook-like-container-noabsolute { 
	font-size: 1em;color: #666;width: 930px; padding: 15px 0 0 20px; z-index: 3;
}
#breadcrumbs-container { float: left; width: 455px;}
#facebook-like-container { float: right; width: 455px; margin-top: -15px;}

.price-and-button h3 {
	font-size: 2em;
	margin-bottom: 10px;
}
.price-and-button p {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 9px;
}
.price-and-button .priceNote {
	font-size:10px;
	font-weight:400;
	color: #666;
	margin: 0px;
}
.price-and-button p.price, div.price p.price {
	font-size: 25px;
	line-height: 16px;
	color: #f27d00;
	margin-bottom: 2px;
}
.price-and-button p.detail, div.price p.price span.detail {
	font-size:12px;
	font-weight:400;
	color: #666;
	max-width: 122px;
	line-height:12px;
}

div.pageLevel h2 { text-align: left; }
.fullwidthoneup div.pageLevel h2 { padding: 30px 30px 0; font-size: 26px; }

.fullwidthwarrantyinfo .warranty-info, .threequarterwarrantyinfo .warranty-info {   
    background: url("../../../../../www.att.com/images/global/note-header-bg.gif") repeat-x scroll 0 -6px #FFFFFF;
  	border: 1px solid #E3E3E3;
  	margin: 0 0 14px;
}

.FlexibleWidthLoBT .tabcontent {
   padding: 0;
}

.mediaContainer.box { background-color: #f7f7f7; }
.mediaContainer.box.single { width: 147px; }
.mediaContainer.box.double { width: 289px; }
.mediaContainer.box.singlewide { width: 320px; min-height: 108px; }
.mediaContainer.box.doubletall { width: 210px; height: auto; }
.mediaContainer.box.w345 { width: 345px !important; }
.mediaContainer.box.w370 { width: 370px !important; }
.mediaContainer.box.w445 { width: 445px !important; }

.mediaContainer .mediaCopy { margin: 15px 20px 10px 15px; float: left; clear: right; }
.mediaContainer.box.singlewide .mediaCopy.singlewide { width: 155px; }
.mediaContainer.box.singlewide.w345 .mediaCopy.singlewide { width: 180px; }
.mediaContainer.box.singlewide.w370 .mediaCopy.singlewide { width: 205px; }
.mediaContainer.box.singlewide.w445 .mediaCopy.singlewide { width: 280px; }

.mediaContainer .mediaLinkAndCaption { margin: 15px 0 10px 20px; width: 110px; height: 62px; float: left; }

.mediaContainer .mediaCopy p {
   font-size: 1.3em;
}

.mediaContainer .mediaLinkAndCaption p.caption {
    width: 118px;
    font-size: 1.3em;
    text-align: left;
    margin-bottom: 0;
    margin-top: 5px;
}

.mediaContainer .mediaCopy h4, #primary-content .mediaContainer .mediaCopy h4 { font-size: 16px; }

.mediaContainer .mediaLinkAndCaption .mediaLink {
	position: relative;
   width: 118px;
}

.mediaContainer .mediaLinkAndCaption .mediaLink a {
	position: static;
   vertical-align: top;
}

.thumbHoverIE {
   position:absolute;
   top: -7px;
   left: -11px;
   z-index:-50;
   width:110px;
   height:62px;
   border: 0;
   background-color:#333;
   border:4px solid #444;
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=11);
   margin: 0;
   padding: 0;
}

.thumbHover{
   position:absolute;
   top: 7px;
   left: 4px;
   z-index: 50;
   width: 110px;
   height: 62px;
   background-image:url(../../../gvp/video_resources/thumb/thumb_overlays/thumbnailOverlay_110x62.png);
   margin: 0;
   padding: 0;
}
.thumbHover:hover{
   z-index: 100;
   background-image:url(../../../gvp/video_resources/thumb/thumb_overlays/thumbnailOverlayHover_110x62.png);
}

.thumbHover.small {
   background-image:url(../../../gvp/video_resources/thumb/thumb_overlays/thumbnailOverlay_51x29.png);
}
.thumbHover.small:hover {
   background-image:url(../../../gvp/video_resources/thumb/thumb_overlays/thumbnailOverlayHover_51x29.png);
}

a img.gvpThumbnail {
   -moz-box-shadow:    0px 0px 3px 4px #ccc;
   -webkit-box-shadow: 0px 0px 3px 4px #ccc;
   box-shadow:         0px 0px 3px 4px #ccc;
   z-index: 0;
   border: 4px solid white;
   margin: 0;
   padding: 0;
   top: 3px;
   position: relative;
   width: 110px;
   height: 62px;
}

a img.gvpThumbnail.small {
   width: 51px;
   height: 29px;
}

#secondary-content .promo img.chat.left { float: left; width: 100px; }
#secondary-content .promo img.chat.right { float: right; width: 100px; }

.rightRail .box.promo div.left, #right-rail .box.promo div.left { float:left; width:99px; }
.rightRail .box.promo div.right, #right-rail .box.promo div.right { float:left; width:99px; }

#one-up-copy-left h3, #one-up-copy-right h3 { font: 12px/20px arial; margin-bottom: 5px; }

.threeQuarterTile .titleAndCopy.left-20 { padding-left: 20px; }
.threeQuarterTile .titleAndCopy.left-30 { padding-left: 30px; }
.threeQuarterTile .titleAndCopy.left-40 { padding-left: 40px; }
.threeQuarterTile .titleAndCopy.left-50 { padding-left: 50px; }
.threeQuarterTile .titleAndCopy.left-60 { padding-left: 60px; }
.threeQuarterTile .titleAndCopy.left-70 { padding-left: 70px; }
.threeQuarterTile .titleAndCopy.left-80 { padding-left: 80px; }
.threeQuarterTile .titleAndCopy.left-90 { padding-left: 90px; }
.threeQuarterTile .titleAndCopy.left-100 { padding-left: 100px; }
.threeQuarterTile .titleAndCopy.left-320 { padding-left: 320px; }
.threeQuarterTile .titleAndCopy.left-330 { padding-left: 330px; }
.threeQuarterTile .titleAndCopy.left-340 { padding-left: 340px; }
.threeQuarterTile .titleAndCopy.left-350 { padding-left: 350px; }
.threeQuarterTile .titleAndCopy.left-360 { padding-left: 360px; }

.fullWidthTile .titleAndCopy.left-20 { padding-left: 60px; }
.fullWidthTile .titleAndCopy.left-30 { padding-left: 70px; }
.fullWidthTile .titleAndCopy.left-40 { padding-left: 80px; }
.fullWidthTile .titleAndCopy.left-50 { padding-left: 90px; }
.fullWidthTile .titleAndCopy.left-60 { padding-left: 100px; }
.fullWidthTile .titleAndCopy.left-70 { padding-left: 110px; }
.fullWidthTile .titleAndCopy.left-80 { padding-left: 120px; }
.fullWidthTile .titleAndCopy.left-90 { padding-left: 130px; }
.fullWidthTile .titleAndCopy.left-100 { padding-left: 140px; }
.fullWidthTile .titleAndCopy.left-320 { padding-left: 360px; }
.fullWidthTile .titleAndCopy.left-330 { padding-left: 370px; }
.fullWidthTile .titleAndCopy.left-340 { padding-left: 380px; }
.fullWidthTile .titleAndCopy.left-350 { padding-left: 390px; }
.fullWidthTile .titleAndCopy.left-360 { padding-left: 400px; }

.mediaContainer .mediaLinkAndCaption.doubletall {
    width: auto;
}

.mediaContainer .mediaLinkAndCaption .mediaLink.doubletall {
    float: left;
    margin-right: 10px;
}

.mediaContainer .mediaLinkAndCaption .mediaText.doubletall {
    float: left;
}

.mediaContainer .mediaLinkAndCaption p.caption {
    width: 85px;
    font-size: 1.3em;
    text-align: left;
    margin-bottom: 0;
}

.mediaContainer .mediaLinkAndCaption p.link {
    width: 85px;
    font-size: 11px;
    text-align: left;
    margin-top: 0;
}

.mediaContainer hr {
    height: 0px;
    border-left: 0px none;
    margin: 10px;
    border-right: 0px none;
    border-bottom: 0px none;
}

#secondary-content .promo, .promo {
        background: none repeat scroll 0 0 white;
        min-height: 100px;
}

#secondary-content .promo p { font-size: 12px; }

.marqueeTile div {
  padding-left: 90px;
}

.page-title-container .marqueeTile div {
  padding-left: 0;
}

#secondary-content .promo h4, .promo h4 {
  font-size: 13px;
  padding-bottom: 10px;
}

#secondary-content p { margin: 0 0 0.5em; }

#secondary-content div.left { padding-left: 0; }

.marqueeTile.border-bottom-dotted {
  background: url("../../../../../www.att.com/images/global/row-seam-dotted.gif") repeat-x scroll center bottom transparent;
  margin: 0;
   padding-bottom: 8px;
}

#primary-content .row-seamless .fullWidthTile, .primary-content-full .row-seamless .fullWidthTile {
   width: 923px;
}

.eyebrow {
   font-size: 12px;
   color: #666666;
   text-transform: uppercase;
}
div.fullwidthwarrantyinfo{
    margin: 0 12px;
    width: 946px;
    }

.threequarterwarrantyinfo {
   margin: 0 12px;
   width: 706px;
}

.one-up .threeQuarterTile li {
   color: #666666;
}

.fullWidthTile .TallPromo1 div:first-child p {
   margin-bottom: 15px;
}

.fullWidthTile .TallPromo1 div:first-child p.priceNote {
   margin-bottom: 3px;
}

.fullwidthfaqs ul {
   list-style: disc inside none;
}

.PriceNote {
	border-right: 1px solid #eee;
}

.one-up .pageHeaderSection {
   padding: 30px 30px 0 40px;
}

.one-up .pageHeaderSection h2 {
   font-size: 30px;
}

.price-and-button .cta {
	margin: 10px;
}

.priceDetail {
	color: #666666;
	font-size: 12px;
	font-weight: 400;
}
.overlappingFullWidthoneup .fullWidthTile .row-seamless h2{ 
  font-size: 32px;  
}

.JSAM_panel { width:972px !important;margin-top:-5px;}

/* CSS to make the content area overlap the marquee - START */
#primary-content, #secondary-content  { margin-top: -112px; }
.FlexibleWidthLoBT, .LoBT, .FlexibleWidthImageLoBT, .categoryLoBT { margin-top: -38px; }
.marquee.tile.base { min-height: 200px; }
.tabcontent { background-color: white; }
.tabs li, .ajaxtabs li { background-color: #eeeeee; background-image: url("../../../../shopcms/media/att/2012/global/page-elements/tab-gradation.png"); }
.tabs li.current, .ajaxtabs li.current { background-color: #ffffff; }
/* END marquee overlap styles */

 .tabDotted {
  float: left;
  height: 200px;
  padding-top: 30px;
  width: auto;
}

.lobfullwidthnotabs-content .pageLevel {
	margin-left: 40px;
}

.lobfullwidthnotabs-content .fullwidthoneup div.pageLevel h2 {
   padding-left: 0;
}

.lobfullwidthnotabs-content .tab-three-column-container {
   padding-left: 40px;
   padding-top: 20px;
   margin-bottom: 0;
}

.appsInstructions .tab-column-container {
   margin-left: 0;
}

.marquee.tile.base {
	z-index: 0;
}
.rightdetailpar {
	background-color: #fff;
}

.lobfullwidthnotabs-content {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    margin: 0 12px 12px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 946px;
    z-index: 1;
}
.leftRail .note.box.warranty-info p {
  font-size: 11px;
}

.horizontal-separator {
  border-bottom: 1px solid #E3E3E3;
  width: 950px;
}
.row-container {
  margin-top: 30px;
  min-height: 150px;
  padding-bottom: 30px;
  position: relative;
}
.row-container .five-column {
    margin-left: 2px;
    margin-right: 1px;
    text-align: center;
    margin-top: 0;
}
.row-container .five-column h2 {
    font-size: 20px;
    color: #333333;
    margin: 35px 0 0;
    padding: 0;
}
.row-container .five-column h3 {
    font-size: 13px;
    color: #666666;
    margin: 14px 0 0;
}
.row-container .five-column .price {
    font-size: 20px;
    margin-bottom: 15px;
}
.row-container .five-column .eyebrow {
    margin-bottom: 13px;
}
.row-container .five-column p {
    font-size: 12px;
    color: #333333;
    margin-bottom: 14px;
    padding: 0;
}
.five-column .device-container-with-border {
    background: url(http://1.ecom.attccc.com/shopcms/media/att/2012/shop/wireless/promotions/Holiday-Gift-Center-2012/Page-elements/divider-vertical-305.png) no-repeat scroll right top transparent;
}
.five-column .device-container-with-border, .five-column .device-container-no-border {
    height: 306px;
    width: 188px;
    float: left;
}
.LoBT .jcarousel-clip-horizontal {
    width: 825px;
}
.LoBT .jcarousel-container-horizontal {
    width: 910px;
}
.LoBT .wirelessCarouselStyle3 {
    width: 910px;
}
.shadedHr {
    background-image: url(http://1.ecom.attccc.com/shopcms/media/att/2012/shop/wireless/promotions/Holiday-Gift-Center-2012/Page-elements/divider-horiz-948x6.gif);
    height: 6px;
    width: 948px;
}
.featuredItemTile .price {
    font-size: 25px;
}
.LoBT .featuredItemTile {
    width: 307px;
}
.LoBT .twoUp .box.w463 {
    width: 445px;
}
.carouselDiv h3 {
    font-size: 15px;
    color: #333333;
    margin-top: 26px;
}
.two-column-5 {
  float: left;
  width: 182px;
}

.oneXthreeup .w306.box {
   width: 294px;
}

.tabcontent .threeup .w306 {
   width: 290px;
}

.tabcontent .oneXthreeup .w306.box.first {
   margin-left: 10px;
}

.tabcontent .oneXthreeup .tile .textRight {
   margin-left: 135px;
}

.oneXthreeup .tile .textRight {
   margin-right: 10px;
}

.tabcontent #uverseValueTiles .bgDiv  {
   width: 283px;
}

.tabcontent #uverseValueTiles {
   width: 850px;
}

.tabcontent #uverseValueTiles .valueTile p, .tabcontent #uverseValueTiles .valueTile h4 {
   padding-left: 35px;
}

.tabcontent #tvEquipmentValueTiles .w306, .tabcontent #tvEquipmentValueTiles .valueTile {
   width: 294px;
}


#tvEquipmentValueTiles .last .valueTile  {
   border-right: 0 none;
}

.appdeviceimages div {
	float: left;
	padding: 0px 10px 0 0;
}

.appdeviceimages div.clear {
   float: none;
   padding: 0;
}

.appdeviceimages p {
	color: #666666;
}
	
	.appinstructions-description {
		color: #666666;
    	font: 12px arial;		
		margin: 0 0 10px;
	}

.legal a{
   font-size: 10px;
   line-height: 11px;
   color: #3381B7;
   padding-right: 6px;
   text-decoration: none;
}

.tabcontent > .parsys > .twoup > .fullwidthtwocolumnoneup > #twoCol { padding-left: 70px; }
.tabcontent > .parsys > .twoup > .fullwidthtwocolumnoneup > #twoCol > .twoupColumn { width: 360px; }
.tabcontent > .parsys > .twoup > .fullwidthtwocolumnoneup > #twoCol > .twoupColumn.first { padding-right: 100px; }

/* Carousel styles */
.wirelessCarouselStyle3 {
    margin-left: auto;
    margin-right: auto;
    width: 948px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-li,
.wirelessCarouselStyle1 ul.jcarousel .jcarousel-item-horizontal,
.wirelessCarouselStyle1 ul.jcarousel .jcarousel-item-placeholder-horizontal {
    width: 275px;
    height: 150px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-li,
.wirelessCarouselStyle2 ul.jcarousel .jcarousel-item-horizontal,
.wirelessCarouselStyle2 ul.jcarousel .jcarousel-item-placeholder-horizontal {
    width: 407px;
    height: 150px;
}
.wirelessCarouselStyle3 .horiz-item-li,
.wirelessCarouselStyle3 .jcarousel-item-horizontal,
.wirelessCarouselStyle3 .jcarousel-item-placeholder-horizontal {
    width: 275px;
    height: 150px;
}

.wirelessCarouselStyle1 .jcarousel-list {
	height: 150px;
}
.wirelessCarouselStyle2 .jcarousel-list {
	height: 150px;
}
.wirelessCarouselStyle3 .jcarousel-list {
	height: 150px;
}
.shopLandingCarousel .horiz-item-div {
	width: 428px;
	height: 340px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div {
	width: 265px;
	height: 150px;
	margin-right: 10px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div .prodImg {
	float: left;
	width: 86px;
	height: 143px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div .prodInfoContainer {
	float: left;
	width: 172px;
	height: 150px;
	padding-left: 5px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div .prodInfo {
	width: 172px;
	height: 120px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div .prodInfo .ratingImg {
	/* width: 105px;
	height: 21px;*/
	margin-left: 0 !important;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div a img {
	padding-left: 0px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div img.cta {
	width: 90px;
	height: 24px;
}
.wirelessCarouselStyle1 ul.jcarousel .horiz-item-div .prodInfo p.price {
	font-size: 18px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div {
	width: 358px;
	height: 150px;
	margin-right: 26px;
	margin-left: 26px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div .prodImg {
	float: left;
	width: 92px;
	margin-left: 45px;
	margin-right: 45px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div .prodInfoContainer {
	float: left;
	width: 172px;
	height: 150px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div .prodInfo {
	float: left;
	width: 172px;
	height: 120px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div .prodInfo .ratingImg {
	margin-left: 0 !important;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div a img {
	padding-left: 0px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div img.cta {
	width: 90px;
	height: 24px;
}
.wirelessCarouselStyle2 ul.jcarousel .horiz-item-div .prodInfo p.price {
	font-size: 18px;
}
.wirelessCarouselStyle3 .horiz-item-div {
	width: 265px;
	height: 150px;
	margin-right: 10px;
}
.wirelessCarouselStyle3 .horiz-item-div .prodImg {
	float: left;
	width: 86px;
	height: 143px;
}
.wirelessCarouselStyle3 .horiz-item-div .prodInfoContainer {
	float: left;
	width: 172px;
	height: 150px;
	padding-left: 5px;
}
.wirelessCarouselStyle3 .horiz-item-div .prodInfo {
	width: 172px;
	height: 120px;
}
.wirelessCarouselStyle3 .horiz-item-div .prodInfo .ratingImg {
	margin-left: 0 !important;
}
.wirelessCarouselStyle3 .horiz-item-div a img {
	padding-left: 0px;
}
.wirelessCarouselStyle3 .horiz-item-div img.cta {
	width: 90px;
	height: 24px;
}
.wirelessCarouselStyle3 .horiz-item-div .prodInfo p.price {
	font-size: 18px;
}
