#content {
	padding: 0;
}
#tabsLinks {
	background: transparent url(../../../att/2011/shop/common/img_bg_gray_tabs_1x54_AA000OML.gif) repeat-x 0 -5px;
	width: 972px;
	height: 49px;
	margin-bottom: 40px;
}
#tabsLinks .tabsButton {
	float: right;
	margin: 5px 10px 0 0;
}
.tabs,
.ajaxtabs {
	float: left;
	margin-top: -10px;
}
.tabs li,
.ajaxtabs li {
	margin-right: 0px;
	/* margin-top: -5px; */
	border-style: none;
}
.tabs li.firstItem a,
.ajaxtabs li.firstItem a {
	-moz-border-radius-topleft: 3px;
}
.tabs a,
.ajaxtabs a {
	height: 55px;
	margin-top: 4px;
	background: transparent url(../../../att/2011/shop/common/img_gray_tabs_divider_1x54_AA000OMK.gif) no-repeat scroll right top;
	line-height: 55px;
	padding: 0;
	color: #333;
}
.tabs a:hover,
.ajaxtabs a:hover {
	color: #f27d00;
	text-decoration: underline;
}
.tabs li a.current,
.ajaxtabs li a.current {
	color: #fff;
	font-weight: bold;
	top: 0;
	text-decoration: none;
}
.tabs li a.current,
.ajaxtabs li a.current {
	background: transparent url(../../../att/2011/shop/common/tab_orange_Overview_AA000PJT.gif) repeat scroll left bottom;
}
.tabs li .tab-overview.current,
.ajaxtabs li a[href*="tab-overview"].current {
	background: transparent url(../../../att/2011/shop/common/tab_orange_Overview_AA000PJT.gif) repeat scroll left bottom;
}
.tabs li .tab-features.current,
.ajaxtabs li a[href*="tab-features"].current {
	background: transparent url(../../../att/2011/shop/common/tab_orange_KeyFeatures_AA000PJR.gif) repeat scroll left bottom;
}
.tabs li .tab-equipment.current,
.ajaxtabs li a[href*="tab-equipment"].current {
	background: transparent url(../../../att/2011/shop/common/tab_orange_EquipmentInstall_AA000PJQ.gif) repeat scroll bottom;
}
.tabs li .tab-learning.current,
.ajaxtabs li a[href*="tab-learning"].current {
	background: transparent url(../../../att/2011/shop/common/tab_orange_LearningCenter_AA000PJS.gif) repeat scroll left bottom;
}
.tab-group {
	border: 0px none;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-topright:0px;
}
.tab-group .tabcontent {
	width: 972px;
	padding: 0;
}
.tabs li a.features-tab.current,
.tabs li a.overview-tab.current,
.tabs li a.learningcenter-tab.current,{
	background: transparent url(../../../att/2011/shop/common/tab_orange_KeyFeatures_AA000PJR.gif) repeat scroll left bottom;
}
