/*
	add/change fonts in typography.css
*/
body  {
	background-color: #f7f5f6 !important;
}
.content_area {
	background: #fff;
        color: #000;
}
.content_area a{
	color: #000;
}
.content_area_red {
	background: #fff;
	color: #FF0000;
}
.content_area_header {
	background: #fff;
	color: #000000;
}
.content_area_small {
	background: #fff;
	color: #000000;
}
.cart_detail {
	background: #FFFFFF;
}
.cart_detail td {
	border-top: 3px solid #ccc;
	padding: 5px 0;
}

.cart_detail td table td {
	border-top: none;
	padding: 0;
}

.outfitbuilderItem td {
	border-top: 3px solid white;
}

.cart_header_detail {
	background: #CCCCCC;
	color: #000000;
}
.cart_detail_red {
	background: #FFFFFF;
	color: #FF0000;
	font-weight: bold;
}
.cart_calc {
	background: #FFCC33;
}
.product_name {
	background: #fff;
	color: #000;
}
.product_description {
	background: #fff;
        color: #000;
}
div.product_border {
	border: 1px solid #fff; 
}
div.product_cell {
	background: #fff;
}
.product_cell a {
	color: #000;
}
.product_price em {
	color: red;
}
.breadCrumb {
	color: #000;
}
.breadCrumb a {
	color: #000;
}
.product_OtherStylesBar {
	background: #292929;
}
.product_OtherStylesBar a {
	color: #fff;
}
.navigationExtraDark {
	color: #000;
}
.navigationExtraDark a {
	color: #000;
}
.navigationExtraDark a:hover, .navigationDark a:focus, .navigationDark a:active {
	color: #7e175e;
}
.navigationDark {
	color: #000;
}
.navigationDark a {
	color: #000;
}
.navigationDark a:hover, .navigationDark a:focus, .navigationDark a:active {
	color: #c103ab;
}
.navigationLight {
	color: #fff;
}
.navigationLight a {
	color: #fff;
}
.navigationLight a:hover, .navigationLight a:focus, .navigationLight a:active {
	color: #FFD551;
}
.linkButton a {
	color: #000;
	background: #ccc;
}
.linkButton a:hover, .linkButton a:focus, .linkButton a:active {
	color: #000;
	background: #ffd551;
}
.sideNavigation {
	color: #fff;
	background: #292929;
}
.sideNavigation H1 {
	color: #ffd551;
}
.sideNavigation H2 {
	color: #ffd551;
}
.sideNavigation H3 {
	color: #fff;
}
.sideNavigation strong {
	color: #fff;
}
.sideNavigation label {
	color: #fff;
}
.sideNavigation a {
	color: #fff;
}
.sideNavigationFocusSearch {
	background: #FFD551;
}
.sideNavigation a:hover, .navigationLight a:focus, .navigationLight a:active {
	color: #FFD551;
}
.sideNavHeading {
	color: #ffd551;
	font: bold 12px/14px Arial, sans-serif;
	padding: 0px 0 1px 0px;
	margin: 0;
	
}
.searchNavigation {
        color: #fff;
        background: #292929;
}
.searchPaging {
        color: #000;
        background: #CCC;
}

/*.searchNavigation H1 {
        color: #F33;
}*/
.searchH1 {
		padding: 0px 0px 0px 2px;
		color: #F33;
		font: bold 16px Arial, sans-serif;
}
.searchUnselect {
        color: #F33;
}
/*.searchNavigation H2 {
        color: #ffd551;
}*/
.searchH2 {
		color: #ffd551;
		font: bold 12px/14px Arial, sans-serif;
        padding: 10px 0 1px 0px;
        margin: 0;
}
/*.searchNavigation H3 {
        color: #fff;
}*/
.searchH3 {
		font: bold 11px Arial, sans-serif;
        padding: 2px 0 0 1px;
        margin: 0;
		color: #fff;
}

.searchNavigation em {
	color: #fff;
}
.searchNavigation strong {
        color: #fff;
}
.searchNavigation label {
        color: #fff;
}
.searchNavigationFocusSearch {
        background: #FFD551;
}

#search_control {
	cursor: pointer;
	display: block;
	width: 100%;
}
.search_field {
	margin: 3px;
	float: left;
}
	
div.search_group ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align:left;
	float: none;
}
div.search_group li {
	margin: 0;
	padding: 0;
	float:left;
}
		
.search_group a {
	margin: 0;
	padding: 0;
	float:left;
	width: 138px;
	text-decoration:none;
	padding: 1px 1px 1px 2px;
	background-color: #292929;
	border-top: 1px solid #494949;
	border-left: 1px solid #494949;
	border-bottom: 1px solid #090909;
	border-right: 1px solid #090909;
}

html>body .search_group a {
	width: 133px;
}
	
.search_group a:hover {
	background-color: #090909;
	border-top: 1px solid #090909;
	border-left: 1px solid #090909;
	border-bottom: 1px solid #494949;
	border-right: 1px solid #494949;
}

.search_group i {
	color: gray;
	font: 10px normal Verdana;
}

.filter_button_up {
	margin: 0;
	padding: 0;
	float:left;
	display: block;
	padding: 1px 1px 1px 2px;
	background-color: #292929;
	border-top: 1px solid #494949;
	border-left: 1px solid #494949;
	border-bottom: 1px solid #090909;
	border-right: 1px solid #090909;
}
	
.filter_button_down {
	margin: 0;
	padding: 0;
	float:left;
	display: block;
	padding: 1px 1px 1px 2px;
	background-color: #090909;
	border-top: 1px solid #090909;
	border-left: 1px solid #090909;
	border-bottom: 1px solid #494949;
	border-right: 1px solid #494949;
}
	
.filter_available {
	font: 11px Arial, sans-serif;
	color: #FFF;
}
.filter_active {
	font: 11px Arial, sans-serif;
	color: #FFD551;
}
	
.filter_unavailable {
	font: 11px Arial, sans-serif;
	color: #898989;
}

.navigationFooter {
	color: inherit;
	background: #000;
}
#brands {
        color: #000;
}
#brands a {
        color: #000;
}
.navigationContent a {
	color: #000;
}
.navigationContent a:hover, .navigationLight a:focus, .navigationLight a:active {
	color: #FFD551;
}
/*---- personalizationshop ----*/
.ppSectionNumber {
	background-color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border-top: 2px solid #CCCCCC;
	border-left: 4px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	border-right: 4px solid #CCCCCC;
}
.ppSectionHeader {
	background-color: #CCCCCC;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.helpBars
{
background-color: #CCCCCC;
color: #000000;
}

.footernav-back {
	width:100%;
	height:67px;
	z-index:0;
}
.footernav {
	z-index:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
}
.footernav a {	
	text-decoration:none;
	color:#000000;
	padding-bottom:3px;

}
.footernav a:hover {	
	text-decoration:underline;
}


/* custom product kit */

#pdp_kit {
	font-family: Arial, Helvetica, sans-serif;
}

#pdp_kit .product_info {
	font-size: 12px;
}

#pdp_kit p {
	margin: 0;
	padding: 0;
}

#pdp_kit .kit {
	text-align: center;
    padding-top: 5px;
    border-collapse: collapse;
}

.bold {
	font-weight: bold;
}

#pdp_kit .kitTable {
	width: 755px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#pdp_kit .kitTable td {
	border: 2px solid black;
    text-align: center;
    vertical-align: top;
	padding: 10px;
}

#pdp_kit .noOptionsKitTable .options {
	display: none;
}

#pdp_kit .kitTable .options {
	width: 225px;
}

#pdp_kit .kitTable .image {
	width: 100px;
}

#pdp_kit .kitTable .noborder {
	border: none;
	padding: 0;
}

#pdp_kit .kitTable .noborder p {
	padding-bottom: 5px;
}

#pdp_kit .kitTable .spacing td {
	border: none;
    font-size: 1px;
	padding: 0;
}

#pdp_kit .kitTable h6 {
	font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
}

#pdp_kit .kitTable .info {
	vertical-align: top;
    text-align: left;
}

#pdp_kit .kitTable .info p {
	margin: 0;
    padding: 0;
}

/* Shopping Cart */
#shoppingCartContainer {
	width: 936px;
	margin: 10px 15px;
	border-collapse: collapse;
}

#shoppingCart {
	width: 725px;
	border-collapse: collapse;
	font : normal 12px Arial, sans-serif;
}

#shoppingCart_right_wrapper {
	padding : 62px 22px 30px 0px;
	float: right; 
	font-family: Arial,sans-serif; 
	font-size: 12px;
}

#shoppingCart_rv_inside {
	width: 131px; 
	border: 2px solid Silver;
}

html>body #shoppingCart_rv_inside {
	width: 127px;
}

#shoppingCart_rv_title {
	background-color: Silver; 
	text-align: center; 
	padding: 1px;
}
#shoppingCart_rv_content {
	padding: 10px;
}
#shoppingCart_rv_content img {
	border:1px solid #bbb;
}

#shoppingCart_link_inside {
	width: 131px; 
	border: 2px solid Silver;
}

html>body #shoppingCart_link_inside {
	width: 127px;
}

#shoppingCart_link_title {
	background-color: Silver; 
	text-align: center; 
	padding: 1px;
}
#shoppingCart_link_content {
	padding: 10px;
	text-align: center;
}

#shoppingCart_payment_inside {
	width: 131px; 
	border: 2px solid Silver;
	margin-top:15px;
}

html>body #shoppingCart_payment_inside {
	width: 127px;
}

#shoppingCart_payment_title {
	background-color: Silver; 
	text-align: center; 
	padding: 1px;
	font-weight:bold;
}
#shoppingCart_payment_content {
	text-align: center;
	padding-bottom:10px;
}

#shoppingCart_payment_content DIV {
	padding-top: 10px;
}

#shoppingCart_payment_content IMG {
	padding-left: 2px;
	padding-right: 2px;
}

/*** PRODUCT DETAIL ***/ 

.breadCrumb {
	padding: 5px 10px 0px;
	font-weight: bold;
	background-color: white;
	text-align: left;	
}

/* search top and bottom page nav bars */ 
.searchPaging { 
	font-weight: bold; 
	font-size: 12px; 
	color: black; 
	background-color: #e3e3e3; 
} 

#sort_filters {
	font-weight: normal;
	font-style: italic;
	line-height: 20px;
}

#sort_filters a {
	color: #00adef;
	text-decoration: none;
}

#sort_filters a.selected {
	color: #F33;
}

#otherStyles {
	width: 966px;
	padding-bottom: 10px;
	font-size: 10px;
}

#otherStyles .product_price {
	font-size: 12px;
}

#otherStyles .otherStylesColors td {
	padding-bottom: 20px;
}

/* advanced search page */

#advancedSearch {
	width: 966px;
	border-collapse: collapse;
}

#advancedSearch table {
	border-collapse: collapse;
}

#search_results {
	padding: 0;
	width: 824px;
}

html>body #search_results {
	width: 820px;
}

#search_results table td .product_border {
	width: 137px;
}

html>body #search_results table td .product_border {
	width: 130px;
}

.searchNavigation, .searchNavigation table, .searchNavigation .search_group {
	width: 138px;
}

.sideNavigation {
	width: 138px;
}

.feature_style {
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding-bottom:2px;
	vertical-align:text-top;
}
#paypalOption {
	width: 100%;
}

#RegisteredUsers {
	width: 100%;
}

.rightside {
	width: 828px;
	padding-top: 2px;
	padding-left: 1px;
}

#wrapper {
	width: 770px;
}

#main, .fullWidthTable {
	width: 966px;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	font: 12px Arial,sans-serif;
}

/* my account */

#accountCreateForm {
	width: 966px;
}

#survey_questions td {
	text-align: left;
}

#displayOrder #container {
	margin: 0;
}

html>body #displayOrder #container {
	margin: 0 20px 0 0;
}
#primarytable{
	width: 966px;
}
.primarytable{
	width: 966px;
}
.custserv_index {
	width: 200px;
}
.custserv_content {
	width: 766px;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
.largebold
{
	font-size: 14px;
	font-weight: bold;
}
.bold
{
	font-weight: bold;
}
.infoBars
{
	font-size: 11px;
	background-color: #CCCCCC;
	background-position: left;
}

.spacerBars 
{
	font-size: 11px;
	color: #FFFFFF;
	background-color: #CC0000;
}

.specialBars 
{
	font-size: 11px;
	color: #000000;
	background-color: #CCCCCC;
}

.titleBars
{
	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
	background-position: left;
	text-align:center
}

.sizingBars
{
	font-size: 11px;
	background-color: #CCCCCC;
	background-position: left;
	text-align:center
}

.otherBars
{
	font-size: 11px;
	background-position: left;
	text-align:center
}

.helpBars
{
background-color: #CCCCCC;
color: #000000;
}

.cart_premiersource {
	text-align: right;
}

#productsizingbody {
	background: White !important;
	color: Black; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	margin: 0; 
	padding: 0;
}

#order_summary {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	float: right;
	margin: 0;
	width: 130px;
	position:absolute;
	top: 68px;
	right: 0px;
}

#order_summary .label {
	float: left;
	width: 58px;
	font-weight: bold;
	text-align: right;
}

#order_summary .value {
	float: right;
	width: 70px;
	text-align: left;
	color: red;
	font-weight: bold;
}

#cartClubEnrollment {
	/* margin-bottom:-50px; */
	margin-left:38px;
}

#BVCustomerRatings a:link
{
	color: #000000;
}
#BVCustomerRatings a:visited
{
	color: #000000;
}
#BVCustomerRatings a:hover
{
	color: #000000;
}
#BVCustomerRatings a:active
{
	color: #000000;
}

.product_maskPurchasePrice {
	color: red;
}
.product_maskPurchasePrice a{
	color: red;
	font-weight: normal;
	text-decoration: underline;
	cursor: help;
	
}
