/* template.css to control templates and high level layout */

#body-container {
	background: #f1f3f5 url("../cmsimages/bg_body.gif") repeat-x scroll 0 0;
	padding-top: 7px;
}
#foot-container {
	background: #ffffff url("../cmsimages/bg_footer.gif") repeat-x scroll 0 0;
	clear: both;
	margin-top:50px;
}
#content {
	float: left;
	width: 714px;
	padding-left:12px
}
#body-SingleColumn #content {
	margin-top:1px;
 *margin-top:8px;
}
#right-rail {
	float: right;
	width: 244px;
}
#body-SingleColumn #right-rail {
	position: absolute;
	right:	50px;
}
.block,
#body {
	margin: 0 auto;
	width: 986px;
}
.clear {
	clear: both;
}
#bundleBody-container {
	background: #ebedef url("../cmsimages/bg_bundleLandingPage.jpg") repeat-x scroll 0 0;
	padding-top: 7px;
}
#bundleIndex-container {
	background: #ebedef url("../cmsimages/bg_bundleIndexPage.jpg") repeat-x scroll 0 0;
	padding-top: 7px;
}
#bundleIndex-container .block {
	margin:0;
	width:100%;
}
#bundleIndex-container #page-404 {
	background-color:#F3F4F8;
}
#header {
	height: 125px;
	margin:0 auto;
	width:986px;
}
#bundleIndex-container .support #content .heroImageContainer {
	background:	url(../cmsimages/bg_res_supp_land.jpg) no-repeat;
	width:1080px;
}
#bundleIndex-container #content {
	float:none;
	padding:0;
	position: relative;
	width:1090px;
	margin:0px auto;
}
.supportHeroImageContainer .ressiden_support_hero {
	background-repeat:no-repeat;
	padding:0 0 0 7px;
	float:none;
	margin:0px auto auto auto;
	height:320px;
}
.supportHeroImageContainer .enterprise-support {
	background-repeat:no-repeat;
	padding:0 0 0 7px;
	float:none;
	margin:0px auto auto auto;
	height:320px;
}
.small-business-support {
	background-repeat:no-repeat;
	padding:0 0 0 7px;
	float:none;
	height:320px;
	margin:0px auto auto auto;
}
/* whole-sale support start*/
.whole-sale-support {
	background-image:url(../cmsimages/Hero_Wholesale_Support.jpg);
	background-repeat:no-repeat;
	padding:0 0 0 7px;
	height:320px;
	float:none;
	width:1090px;
	margin:0px auto auto auto;
}
/* whole-sale support end*/