.header,
.headerads,
#footer {
display: none;
}

* {
color: #000 !important;
}

div {
border: none !important;
-moz-box-shadow: none !important;
-khtml-box-shadow: none !important;
-webkit-box-shadow: none !important;
}

hr {
border-left: none;
border-right: none;
}

div.podtop > div > a {
display: none;
}

h2 {
padding: 0 !important;
}

div.pagenav,
.optionlinks {
display: none;
}

div.post-bbs {
border-bottom: solid 2px #000 !important;
}
