.js_minicart {
  cursor: pointer;
}
#minicart_container {
  position: absolute;
  right: 0;
  z-index: 10000;
}
#minicart {
  background-color: #FFF;
  border: 1px solid #6da4af; /* Override in site specific CSS */
  padding: 0 0 10px 0;
  width: 435px;
  position: relative;
  z-index: 10000;
}
#minicart a {
  text-decoration: underline !important;
}
#minicart .clr {
  clear: both;
}
#minicart .bar {
  background-color: #e2cbcb; /* Override in site specific CSS */
  font-size: 13px;
  font-weight: bold;
  padding: 0 20px;
}
#minicart .bar.top {
  height: 24px;
}
#minicart .bar.top .message {
  float: left;
  padding-top: 3px;
}
#minicart .bar.bottom {
  height: 50px;
  margin-top: 20px;
}
#minicart .bar.bottom .message {
  float: right;
  padding-top: 18px;
}
#minicart .bar.bottom .total {
  padding-left: 15px;
}
#minicart .bar.top .close {
  float: right;
  padding: 2px 0;
  cursor: pointer;
}
#minicart .items .item {
  padding: 0 20px;
  border-bottom: 1px dotted #c7c7c7;
}
#minicart .items .item .divider {
  border-bottom: 1px dotted #c7c7c7;
  height: 1px;
}
#minicart .items .item .productImage {
  float: left;
  width: 105px;
  height: 105px;
  margin: 17px 15px 5px 0;
}
#minicart .itemContainer {
  margin: 15px 0;
}
#minicart .items .item .productInfo {
  float: left;
  width: 270px;
  text-align: left;
  margin: 17px 0 5px 0;
}
#minicart .items .item .productInfo .details {
  margin-bottom: 10px;
}
#minicart .items .item .productInfo span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}
#minicart .items .item .productInfo span a,
#minicart .items .item .productInfo span.editLinks {
  font-weight: normal;
}
#minicart .items .item .productInfo span.pick {
  margin-top: 10px;
}
#minicart .items .item .productInfo span.backOrdered,
#minicart .items .item .productInfo span.backOrdered a {
  margin: 6px 0;
  font-weight: normal;
  color: #e50000;
}
#minicart .buttons {
  text-align: center;
  margin: 15px auto;
}
#minicart .buttons.empty {
  text-align: left;
  margin: 15px 0 15px 15px;
}
#minicart .buttons .button {
  display: inline;
  cursor: pointer;
}
#minicart p.error {
  font-size: 12px;
  display: block;
  text-align: left;
  margin: 5px 0 15px 15px;
}
#minicart .contentArea {

}
#minicart .crossSells {
  margin: 15px 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}
#minicart .crossSells .title {

}
#minicart .crossSells .item {
  float: left;
  margin-right: 30px;
}
#minicart .crossSells .item .productImage {
  margin: 10px 0 10px 0;
}
#minicart .crossSells .item .productInfo span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}
#minicart .crossSells .item .productInfo span a {

}
#minicart .crossSells .item .productInfo span a {
  display: block;
  font-size: 12px;
  font-weight: bold;

  line-height: 16px;
}
#minicart .crossSells .item .productInfo span.price {

}
#minicart .upArrow {
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px dotted #c7c7c7;
  cursor: pointer;
}
#minicart .total {
  text-align: right;
  margin-right: 20px;
  font-size: 13px;
}
#minicart .downArrow {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -1px;
  border-top: 1px dotted #c7c7c7;
  cursor: pointer;
}
#minicart .contentArea {
  text-align: left;
}
#minicart #similar_items {
  margin: 0 10px;
}
#minicart #similar_items  a img {
  width: 72px;
  height: 72px;
  margin-bottom: 5px;
}
#minicart #similar_items .price {

}
#templateHeader #headerCart #minicart #similar_items  a {

}
#minicart #similar_items .thumbnail_content {
  font-size: 12px;
  text-align: center;
  width: 136px;
  margin: 0;
  padding: 2px 1px;
}
#minicart #similar_items h4 {
  font-size: 13px;
  text-align: center;
}