/*---------------------------
+ColorBox Core Style
----------------------------*/
#colorbox { -webkit-box-shadow: 0 0 5px 5px #bfbfbf; box-shadow: 0 0 5px 5px #bfbfbf;  -moz-box-shadow: 0 0 5px 5px #bfbfbf; background-color: #FFF; overflow:hidden; }
#colorbox, #cboxOverlay {position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; }
#cboxLoadedContent{overflow-x:hidden !important;overflow-y:scroll;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*---------------------------
+Quickview Button
----------------------------*/
a.cbox { outline: none; border:none; display: block; text-align: center;}

/*---------------------------
+Quickview Layer
----------------------------*/
#cboxOverlay{background:#FFF;}
#quickview_layer { width: 670px;  background-color: #FFF; }
#quickview_layer .inner {
	border: 1px solid #445685;
	margin: 0 15px 15px 15px;
	padding: 15px;
}

#quickview_layer .inner.overflowing {
	max-height: 500px;
	height:auto !important;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: scroll;
}
#quickview_layer .qtyBox {
	width: 30px;
	margin-right: 10px;
}

#quickview_layer .closeRow { text-align: right; margin: 3px 15px; }
#quickview_layer .bottomRow { height: 0px; }
#quickview_layer .cboxClose {  cursor: pointer; }
#quickview_layer #cboxClose {  display: none; }

#quickview_layer #quickviewLeft { float: left; width: 260px; overflow: hidden; text-align: center; }
#quickview_layer #quickviewLeft .main-item-image { height: 260px; }
#quickview_layer #quickviewLeft .mediaTabsContent { width: 260px; }
#quickview_layer #quickviewLeft .EntityBody .main-item { width: 260px; }
#quickview_layer #quickviewLeft .EntityBody .main-item .image-container .entity-image { cursor:auto;}

#quickview_layer #quickviewRight { float: right; width: 325px; overflow: hidden; margin-bottom: 15px; }
#quickview_layer #quickviewRight a { text-decoration: underline; }
#quickview_layer #quickviewRight #starRating { position: relative; }
#quickview_layer #quickviewRight #starRating img { padding-right: 5px; }
#quickview_layer #quickviewRight #starRating a { position: absolute; top: 2px; text-decoration: underline; }
#quickview_layer #quickviewRight .shippingRest { margin: 15px 0; }
#quickview_layer #quickviewRight .truncate_more_link { padding-left: 6px; }
#quickview_layer #quickviewRight .customSwatchSelectionLabel {font-weight: bold; font-size:13px;}
#quickview_layer #quickviewRight .customSwatches { margin-top: 10px; }
#quickview_layer #quickviewRight .customSwatchUnselected { padding: 0; border: 1px solid #A3865E; margin: 0 4px 0 0; }
#quickview_layer #quickviewRight .customSwatchSelected { padding: 0; border: 1px solid #990300; margin: 0 4px 0 0; }
#quickview_layer #quickviewRight .customSwatchText { padding: 1px 0 0 0; }
#quickview_layer #quickviewRight .dropDowns select { margin-bottom: 10px; }

#quickview_layer #quickviewRight .personalizeMessage { width: 205px; margin:0 0 10px 15px;}
#quickview_layer #quickviewRight .customSwatchUnavailable,
#quickview_layer #quickviewRight .customSwatchUnavailableOnMouseOver,
#quickview_layer #quickviewRight .customSwatchUnavailableOnClick {
    margin: 0 4px 0 0;
    padding: 0;
}

#quickview_layer #quickviewLeft .EntityBody .main-item .image-container { float: none; }
#quickview_layer #quickviewLeft .EntityAltImages .image-list .image-item { float: left; border: 1px solid #FFF;  margin-right: 9px; width: 50px; height: 50px; }
#quickview_layer #quickviewLeft .EntityAltImages .image-list .image-item.active { border: 1px solid #990300;  }
#quickview_layer #quickviewLeft .EntityAltImages ul.image-list { list-style: none;}
#quickview_layer #quickviewLeft .EntityAltImages ul.image-list li { list-style: none;  }
#quickview_layer #quickviewLeft .videoLink { text-align: left; margin: 15px 0 10px 0; }
#quickview_layer #quickviewLeft .videoLink a:hover { text-decoration: underline; }



#quickview_layer .mediaTabsContent { border: none; padding: 0; }
#quickview_layer .tabbed_viewer .main-item {width: 260px; }
#quickview_layer .tabbed_viewer .EntityBody .main-item .image-container { float: none; width: 260px; height: 260px; overflow: hidden; }


/*** General Product ***/
#quickview_layer #quickviewRight #starRating { margin: 5px 0 10px 0; }
#quickview_layer #quickviewRight p.credit_plan { margin: 5px 0 10px 0; }
#quickview_layer #quickviewRight p.restrictions_link { margin: 10px 0 6px 0; padding-top: 0; }
#quickview_layer #quickviewRight .inputs { margin: 20px 0; }
#quickview_layer #quickviewRight .qty { float: left; font-weight: bold; margin-top: 2px; }
#quickview_layer #quickviewRight .cart { float: left; margin-left: 40px; }
#quickview_layer #quickviewRight .cart.personalize { margin-left: 10px; }
#quickview_layer #quickviewRight .fl{ float: left; }
#quickview_layer #quickviewRight .fr { float: right; }
#quickview_layer #quickviewRight .qty input { width: 30px; }
#quickview_layer #quickviewRight .qty input, #quickview_layer #quickviewRight .qty label  { display: inline; }
#quickview_layer #quickviewRight .buttons { float: left; text-align: center; }
#quickview_layer #quickviewRight input.wishlist { float: left ;}
#quickview_layer #quickviewRight input.fulldetails { float: left; margin-left: 8px;}
#quickview_layer #quickviewRight .buttonsrow { margin: 0 0 10px 0; padding-top: 20px;}
#quickview_layer #quickviewRight .shippingHidden { display: none; }

/*** Alt Images ***/
#quickview_layer #quickviewLeft ul.alt-image-list { display: block; margin: 20px 0; }
#quickview_layer #quickviewLeft ul.alt-image-list li { float: left; width:55px; height: 55px; list-style: none; border:1px solid white; margin-right: 10px; }
#quickview_layer #quickviewLeft ul.alt-image-list li.active { border:1px solid red; }