body {
 background-color: #FAFFD7;
 background-image:url(../../../ar/partners/arwallpaper/cincodemayo/CincodeMayo_2012_lp_wp_02_02.gif);
 background-repeat:no-repeat;
 background-position:center top;
 background-attachment:fixed;
}