html { background:#f2f2f2; width:100%; height:100%; }
body { min-height:100%; width:980px; margin:0 auto; padding:0 70px; position:relative; z-index:1; background:#fff; border:1px solid #d9d9d9; border-top:none; border-bottom:none;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);
	   -moz-box-shadow:0 0 4px rgba(0,0,0,.3);
	        box-shadow:0 0 4px rgba(0,0,0,.3);
}
body:nth-child(1n) { border:none; }
body:before { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

#main,
#main #content { position:static; padding:0; background:transparent; }
#main .content,
#main #content { border:none;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	-webkit-border-radius:0;
	 -khtml-border-radius:0;
	   -moz-border-radius:0;
	        border-radius:0;
}

@media only screen and (max-width:1119px) {
	html { background:#fff; }
	body { width:980px; padding-left:22px; padding-right:22px;
		-webkit-box-shadow:none;
		   -moz-box-shadow:none;
		        box-shadow:none;
	}
}

@media only screen and (max-device-width:768px) {
	body { width:1024px; padding-left:0; padding-right:0; }
	#main { overflow:hidden; width:980px; padding:0 22px; }
}

#globalfooter { clear:both; }

@media only screen and (max-device-width:768px) {
	/* Changing body font-size to ~13.714px, which changes #content font-size to 16px */
	body { font-size:.85714em; }
}
