img {border:0; position:static}
#moveButtonLeft {float:left; position:relative; margin-top:31px; margin-left:10px; margin-right:19px; z-index:5; cursor:pointer;}
#moveButtonRight {float:right; position:relative; margin-top:31px; margin-right:10px; z-index:5; cursor:pointer;}
#videoSelector {float:left; position:relative; width:950px; height:117px; visibility:hidden; margin-top:15px; margin-bottom:15px; }
#innerContainer {float: right; position:relative; width:710px; height:117px; border:#dedede solid 1px; background-image:url('images/bg_gradient2.jpg'); background-repeat:repeat-x;}
#filmstrip {display: inline; text-align:left; overflow:hidden; float:left; position:relative; height:117px; width:610px; background-image:url('images/bg_gradient2.jpg'); background-repeat:repeat-x;}
#promoTile {float:left; position:relative;}
.thumbnail {float:left; position:absolute; margin-top:10px; cursor:pointer; }
.thumbPlayArrow {float:left; position:absolute; margin-top:51px; cursor:pointer; z-index:8;}
.vidTitle {display: inline; float:left; position:absolute; margin-top:75px; color:grey; font-size:10px; width:108px; line-height:1.2em; }