/* ----------------------------- hub pages */
.hub_wrap {float:left; width:212px; height:177px; padding:8px; margin-bottom:20px; margin-right:6px; overflow:hidden; position:relative;}
.three_column .hub div.nth-child-even {margin-right:0; margin-left:6px;}

.hub .hub_wrap a {display:block; width:90px; height:90px;}

.hub_wrap p {padding-left:1px; clear:left;}
.hub_wrap p a {font-size:1.3em; color:#000; display:inline !important; width:auto !important; height:auto !important;}
.hub_wrap p a:hover {color:#0086c3;}
