

/* ---------------------------------------- popular recent widget */ 

.popular_recent {position:absolute; display:none; margin:0; background:#fff; height:100%; width:100%;}

.popular_recent.jsactive {display:block;}
.popular_recent.noscript {display:block;}

.popular_recent .tabbed_content_wrap,
.popular_recent .tabbed_content_wrap .sb-inner {padding:0; background:#F3F3F3 url(http://www.o2.co.uk/assets2/theme/bluedawn-theme/images/pop_rec_bg.jpg) repeat-x top left;}

.single_col .popular_recent .tabbed_content_wrap,
.single_col .popular_recent .tabbed_content_wrap .sb-inner {background:#F3F3F3 url(http://www.o2.co.uk/assets2/theme/bluedawn-theme/images/pop_rec_bg_big.jpg) repeat-x top left;}

.popular_recent .tabbed_content {width:100%; height:100%; overflow:hidden; padding:0;}

.popular_recent .tabbed_content ul.list {margin-top:8px; overflow:hidden; position:absolute; float:left;}
.popular_recent .tabbed_content ul.list li {background:#fff; float:left;}
.popular_recent .tabbed_content ul.list li .sb-inner {background:#fff;}

.popular_recent .tabbed_content ul.list li:hover .sb-border {background: #bfc5cc;}

.popular_recent_list_wrap {overflow:hidden;}

/* single column list */
.single_col .popular_recent_list_wrap {width:227px; height:243px;}

.single_col .popular_recent .tabbed_content ul.list {height:235px; width:224px; margin-left:0;}
.single_col .popular_recent .tabbed_content ul.list li {width:212px; height:43px; margin: 0 0 5px 8px;}

.single_col .popular_recent .tabbed_content ul.recent {height:272px;}
.single_col .popular_recent .tabbed_content ul.recent li {height:39px;}

.popular_recent .tabbed_content ul.list li a {display:block; overflow:hidden; padding:3px 8px !important; color:#515559;}
.popular_recent .tabbed_content ul.list li a:hover {text-decoration:none;}

.popular_recent .tabbed_content ul.list li a span {display:block; font-size:1.2em; color:#0086c3;}
.popular_recent .tabbed_content ul.recent li a span {font-size:1em;}

/* double column list */
.double_col .popular_recent_list_wrap {width:462px; height:100px;}

.double_col .popular_recent .tabbed_content ul.list {height:91px; width:460px; margin-left:0;}
.double_col .popular_recent .tabbed_content ul.list li {width:222px; height:43px; margin:0 0 5px 8px;}

.double_col .popular_recent .tabbed_content ul.recent {height:125px;}
.double_col .popular_recent .tabbed_content ul.recent li {height:36px; line-height:1.15em;}

/* reset for slider control */
.popular_recent ul.slider_control {margin:0 8px; position:absolute; bottom:6px; left:-5px; width:100%; height:auto !important; font-size:0.95em;}
.popular_recent ul.slider_control li {float:left;}

.popular_recent ul.slider_control li a,
.popular_recent ul.slider_control li span {display:block; padding:3px 6px !important;}

.popular_recent ul.slider_control li.selected .sb-inner {background:#fff;}

/* fix layout for liferay */
.general .popular_recent .tabbed_content ul.list, 
.general .popular_recent ul.slider_control {padding:0;}

.general .popular_recent .tabbed_content ul.list li, 
.general .popular_recent ul.slider_control li {list-style:none !important; line-height:normal !important;}


