/* =========================== */
/* ==== O2 Print CSS File ==== */
/* =========================== */

/* new */
html {width:100%; height:100%; margin:0;}
body {height:100%; margin:0;}

body,
#page_wrap {background:none;}

#top_banner, 
#top_corners, 
#foot_banner, 
#copyright, 
#content_foot {display:none !important;}

#wrapper {width:auto; margin:0 5%; padding:0; float:none;}
#layout {padding:0;}

#breadcrumb a {color:#CCC;}

#columns .support_col {display:none;}
#columns .main_col {width:468px; display:inline; margin:0;}

/* display o2 and telefonica logos */
.print_hide {display:block;}
.print_hide .o2 {margin-bottom:20px;}
.print_hide .tele {position:fixed; bottom:0; left:0;}
