.gigya-screen *, div.gigya-screen, .gigya-screen span, .gigya-screen a:hover, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active { border: none; padding: 0px; margin: 0px; color: inherit; text-decoration: none; width: auto; float: none; -moz-border-radius: 0; border-radius: 0; font-family: arial; font-size: 12px; color: #333333; background: none; text-align: left; font-family: arial; }
.gigya-screen a, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active { color: #0098ca; text-decoration: underline; }
.gigya-screen-set .gigya-screen { margin: 0 auto; }
.gigya-screen h2 { font-size:16px; color:#333; font-weight: normal; }
.gigya-screen a:hover { text-decoration: none; }
.gigya-screen h1 { border-bottom: 1px solid #dbdbdb; font-size: 16px; font-family: Arial; font-weight: bold; color: #333; padding-bottom: 5px; margin-bottom: 45px; }
.gigya-screen .gigya-layout-row { width:100%; zoom:1; float:left; }
.gigya-screen .gigya-layout-cell { float: left; width: 50%; margin-top: 1px; }
.gigya-screen .gigya-layout-cell-right { float: right; width: 50%; }
.gigya-screen select { margin: 5px 0px; padding: 5px; border-radius: 5px; background-color: #FFFFFF; border: 1px solid #CCCCCC; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }
.gigya-screen option { padding: 5px; }
.gigya-screen option:hover { background-color: #3593C1; }
.gigya-screen .gigya-label { display: block; font-weight: bold; font-size: 12px; }
.gigya-screen .gigya-required { color: red; font-size: 12px; font-weight: bold; margin-left: 5px; }
.gigya-input-text, .gigya-input-password, .gigya-textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:100%; margin: 5px 0px; padding: 0 5px; border-radius: 4px; background-color: #FFFFFF; border: 1px solid #CCCCCC; color: #555555; outline: none; box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05); }
.gigya-textarea { padding: 5px; }
.gigya-input-text, .gigya-input-password, .gigya-screen select, .gigya-input-submit, .gigya-input-button { height: 28px; }
.gigya-input-text:focus, .gigya-input-password:focus, .gigya-textarea:focus, .gigya-screen select:focus { border: 1px solid #87B9EA; outline: none; }
.gigya-input-text:focus, .gigya-input-password:focus, .gigya-textarea:focus { box-shadow: 0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05); -webkit-box-shadow: 0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05); -moz-box-shadow: 0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05); }
.gigya-input-submit, .gigya-input-button { text-align:center; border: 1px solid #8b909e; cursor: pointer; padding: 0 12px; color: #fff; font-weight: bold; border-radius: 5px; line-height: 26px; background: #b61c26;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc0e12", endColorstr="#b61c26");
background: -webkit-gradient(linear, left top, left bottom, from(#dc0e12), to(#b61c26)); background: -moz-linear-gradient(top, #dc0e12, #b61c26); }
.gigya-input-submit:hover, .gigya-input-button:hover { background: #FFFFFF;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b61c26", endColorstr="#dc0e12");
background: -webkit-gradient(linear, left top, left bottom, from(#b61c26), to(#dc0e12)); background: -moz-linear-gradient(top, #b61c26, #dc0e12); }
.gigya-input-radio, .gigya-input-checkbox { margin-right: 5px; vertical-align: bottom; height: 14px; width: 14px; }
input.gigya-input-text, input.gigya-input-password { display: block; }
.gigya-screen .gigya-composite-control { padding: 5px 13px 5px 10px; }
.gigya-screen .gigya-composite-control-submit, .gigya-screen .gigya-composite-control-button, .gigya-screen .gigya-composite-control-form-error { padding-bottom:5px; padding-right:13px; }
.gigya-composite-control-multi-choice .gigya-multi-choice-item, .gigya-composite-control-checkboxes .gigya-checkboxes-item { padding-top:5px; }
.gigya-composite-control-form-error { padding-bottom:5px; padding-right:5px; }
.gigya-screen .gigya-composite-control-submit { text-align: right; }
.gigya-screen .gigya-composite-control-label { display:block; }
.gigya-clear { clear: both; overflow: hidden; }
.gigya-composite-control-radio label { font-weight: normal; }
.gigya-composite-control-checkbox label { font-weight: normal; }
.gigya-screen .gigya-composite-control-checkbox { padding: 5px 10px; }
.gigya-screen .gigya-composite-control-checkbox label { display: inline; text-indent: 10px; margin-left: 0px; }
.gigya-screen .gigya-message { font-size:14px; color:#333; display: block; text-align: center; }
.gigya-screen .gigya-error-display { display:block; visibility:hidden; }
.gigya-screen .gigya-error-display-active { display:block; visibility:visible; margin-left: 10px; }
.gigya-screen .gigya-error-msg { line-height: 14px; color: #dd4b39; font-size: 11px; display:block; font-weight:normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gigya-screen .gigya-form-error-msg { _height:26px; min-height: 26px; line-height: 14px; color: #dd4b39; font-size: 11px; text-align: center; margin-top: 1px; border: 1px solid #FFDCCE; display: block; background: #FFE7E1; font-weight:normal; padding:5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gigya-screen a.gigya-composite-control-link { display:block; padding-left:13px; }
.gigya-screen .gigya-composite-control a.gigya-composite-control-link { display:inline; padding:0px; }
.gigya-screen .gigya-composite-control-checkbox .gigya-label, .gigya-screen .gigya-composite-control-radio .gigya-label { font-weight:normal; }
.gigya-layout-footer { text-align:right; clear:both; }
#gigya-login-screen .gigya-composite-control-social-login, #gigya-register-screen .gigya-composite-control-social-login { border-right: 1px solid #CCC; height: 125px; width:285px; padding: 13px 38px 0 0px; }
#gigya-register-screen .gigya-composite-control-social-login { height: 240px; }

/* Chicago Sun Times */
.font-suntimes-red { color: #b61c26; }
.bg-suntimes-red { background-color: #b61c26; }
.gigyaLoginBox a:link, .gigyaLoginBox a:visited { color: #b61c26; text-decoration:none; }
.gigyaLoginBox a:hover, .gigyaLoginBox a:active { color: #b61c26; text-decoration:underline; }
.gigyaLoginBox .gigya-logged-out { text-align:right; display:none; height:25px; }
.gigyaLoginBox .gigya-logged-in { text-align:right; display:none; height:25px; }
.gig-comments-container *, div.gig-comments-container, .gig-comments-container span, .gig-comments-container a:hover, .gig-comments-container a:visited, .gig-comments-container a:link, .gig-comments-container a:active { /*	color: #4D4D4D; */
	float: none; }
.gig-comments-login-container { color:#fff; }
span.gig-comments-comment-time { /*	color: #919191; */
	font-size: 11px; padding-left: 10px; padding-top: 1px; text-align: left; white-space: nowrap; }
.gig-comments-comment { padding:10px 0; text-align:left; }
a.gig-comments-button-post, a.gig-comments-button-post:link, a.gig-comments-button-post:active, a.gig-comments-button-post:visited, a.gig-comments-button-post:hover, a.gig-comments-button-reply, a.gig-comments-button-reply:link, a.gig-comments-button-reply:active, a.gig-comments-button-reply:visited, a.gig-comments-button-reply:hover, a.gig-comments-dropdown-login, a.gig-comments-dropdown-login:link, a.gig-comments-dropdown-login:active, a.gig-comments-dropdown-login:visited, a.gig-comments-dropdown-login:hover, a.gig-comments-button-dropdown-login, a.gig-comments-button-dropdown-login:link, a.gig-comments-button-dropdown-login:active, a.gig-comments-button-dropdown-login:visited, a.gig-comments-button-dropdown-login:hover { background: #b61c26; background: -moz-linear-gradient(top, #dc0e12, #b61c26); /* for Firefox */ background: -webkit-gradient(linear, left top, left bottom, from(#dc0e12), to(#b61c26)); /* for webkit browsers */  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc0e12", endColorstr="#b61c26"); /* for IE */
/*	border: 0 none; */
/*	border: 1px solid #8b909e; */ /* grey border */
	border-radius: 5px; color: #fff; /*	float: right; */
	font-size: 12px; height: auto; line-height: 1em; /*margin: 0 0 0 10px;*/
	padding: 4px 8px; text-transform: uppercase; vertical-align: middle; }
#commentsDiv-loginDropdown { color: #fff; }
.gig-comments-dropdown-login-text { margin-top: 6px; color: #fff; }
.gig-comments-comment-body { font-size:14px; margin:10px 0; }
a.gig-mobile-button, a.gig-mobile-button:link, a.gig-mobile-button:active, a.gig-mobile-button:visited, a.gig-mobile-button:hover { background: #b61c26; background: -moz-linear-gradient(top, #dc0e12, #b61c26); /* for Firefox */ background: -webkit-gradient(linear, left top, left bottom, from(#dc0e12), to(#b61c26)); /* for webkit browsers */  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc0e12", endColorstr="#b61c26"); /* for IE */
/*	border: 0 none; */
/*	border: 1px solid #8b909e; */ /* grey border */
	border-radius: 5px; color: #fff; font-size: 12px; height: auto; line-height: 1em; /*margin: 0 0 0 0;*/
	padding: 4px 8px; text-transform: uppercase; vertical-align: middle; text-decoration:none; }
	
.gigyaLoginBox { position:absolute; bottom:0; right:0; height:25px; margin:0 5px 5px 0; }
.gigyaLoginBox .userThumbnail { max-height:25px; margin:0 5px 0 10px; vertical-align:middle; display:none; }
.gigyaLoginBox .gigyaUI-welcome, .gigyaLoginBox .gigyaUI-account, .gigyaLoginBox .gigyaUI-register { height:25px; line-height:25px; float:right; }
#gigyaLoginShortcuts, #gigyaConnections { width:110px; height:25px; margin:0 5px; float:right; }

/* PPN overrides */
#gigyaPPN .gigyaLoginBox { float:right; margin:10px -80px 5px 0; position:relative; }
#gigyaPPN .gigyaLoginBox .userThumbnail { margin:-3px 5px 0 10px; }

.gigya-logged-in { display: none; }
.gigya-logged-out { }

/* newsletters */
.global_unsubscribe { text-align:center; padding:15px; background-color: #fcf8e3; border: 1px solid #fbeed5; color:#c09853; }
.global_unsubscribe input { background: #f89406 !important; color: #fff; padding: 10px; font-size: 14px; line-height: 6px; border: 1px solid #fbeed5 !important; cursor:pointer; }
.global_unsubscribe input:hover { background:#FC3 !important; border: 1px solid #fbeed5 !important; cursor:pointer; }
.global_unsubscribe p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 17px; padding-top: 10px; font-weight: normal; margin-left:0; }
.newsletters-screen .global_unsubscribe { margin-bottom: 15px; background: #fcf8e3; border: 1px solid #fbeed5; padding: 10px; text-align: center; }
.newsletters-screen .global_unsubscribe p { text-align: center; }
.grayedOut { color:#cccccc !important; }
/* /Chicago Sun Times */