/*==================== Hero Styles ====================*/
.hero_wrapper{
	float:right;
	padding: 0; margin: 0;
	height: auto;
	position: relative;
}

.heroAjaxIncluded { zoom:1; }

.hero_wrapper.rotator{ 
	height: 420px; 
	margin-top: 31px;
}

/* Used only for rotating hero */
.hero_slide{
	padding: 0; margin: 0;
	width: 766px; height: 310px;
	/*position:absolute;*/
	display: none;
}

.hero_wrapper.rotator ul.linkList {
	margin: 15px 0 0 20px;
}

.hero_slide.active{ display:block;}


/*==================== Hero Info Styles ====================*/
.hero_info {
	position: absolute;
	width: auto; height: auto; /* QC 14950 */
	top : 30px; left: 30px;
	color: white;
	text-shadow: 1px 2px 4px #333;
}

.hero_info h2 {
	letter-spacing: -1pt;
	line-height: 0.9;
}

.hero_subtitle h3 { margin-bottom: 10px; } /* QC 14950 */
.hero_info h4 { line-height:1; margin-bottom: 10px; } /* QC 14950 */

.hero_list_wrapper{
	position: absolute;
	top : 250px; margin-left : 30px;
	width: auto; height: auto;
	left:0;
}

.hero_list_wrapper .hero_list{
	float: left; 
	width: 160px; 
	margin-right: 15px;
}

.hero_list li, .hero_list li a{
 color: #fff;
}

.ctaSpacer{
	display: block;
	margin-bottom: 0px; /* QC 14950 */
}
/*=================Dogear styles=================*/
.dogear_wrapper {
	position: absolute;
	top : 30px;
	width: 180px; height: auto;
	top : 15px; right: -10px;
}

.dogear_wrapper.inset{
	right:0;
}

.dogear{
	cursor : pointer;
	float: left;
	position: relative;
	margin : 0 0 15px;
	width: 180px; height: auto;
	-moz-box-shadow: -1px 1px 4px #333; -webkit-box-shadow: -1px 1px 4px #333; box-shadow: -1px 1px 4px #333;
}

.dogear a { float: none; }

.dogear img {
	border: none;
	float: left;
	margin: 0; padding: 0;
}

.dogear_corner {
	width: 10px; height: 12px;
	line-height: 0;
	position: absolute;
	background:url("../images/corner_right.gif") no-repeat;
	top: 100%; right: 0;
}

.dogear_wrapper.inset .dogear_corner{display:none}
/*==================== Hero Button Styles ====================*/
.hero_wrapper .dynamic_btn{margin-top:10px;}  /* QC 14950 */

/*==================== Hero Thumbs Styles ====================*/
.heroSlideThumbs {
	background: #eee;
}

.heroSlideThumbs ul {
	margin: 0 18px;
}

.heroSlideThumbs li {
	height: 95px;
	width: 116px;
	float:left;
	padding: 15px 15px 0;
	color: #000;
	position: relative;
	cursor: pointer;
}
.heroSlideThumbs li:hover {
	background: #f96302;
}

.heroSlideThumbs li img {
	-moz-box-shadow: -1px 1px 4px #333; -webkit-box-shadow: -1px 1px 4px #333; box-shadow: -1px 1px 4px #333;
}

.heroSlideThumbs li.active {
	background: #ccc;
}

.heroSlideThumbs li.active .heroThumbArrow {
	width: 51px;
	height: 30px;
	background: url('../images/heroThumbArrow.png');
	position: absolute;
	top:-26px; left: 48px;
}
/*==================== Social Media Cartridge ====================*/
/* SOCIAL MEDIA NEEDED STYLES START HERE */
		#social_media_content {
			margin: 0 auto;
			width: 928px;
		}
		.push5 { padding-left: 5px; }
		
		#facebookPod, #forumPod, #blogPod, #facebookPodWide, #forumPodWide, #blogPodWide { overflow: hidden; float: left; line-height: 18px; min-height: 500px;}
		/*#forumPosts, #blogPosts { height: 358px; background: #efefef; overflow: hidden; overflow-y: auto; clear: both; }*/
		
		#forumPosts, #blogPosts { height: 358px; background: #efefef; overflow: hidden; overflow-y: scroll; clear: both; }
		
		.socialBtn { float: right; }
		img.socialBtnImg { padding-top: 15px; border: none; }
		.socialTitle { margin: 0; padding: 0; display: block; }
		.socialHeader { background: #dedede; height: 27px; font-size: 10px; }
		.socialLeftCol { margin: 0; padding: 10px 10px 0 14px; float: left; }
		.socialRightCol { margin: 0; padding: 10px 0 0 0; float: left; }
		.socialListItem { padding-bottom: 7px; font-size: 12px; color: #858585; line-height: 13px; }
		.socialBorderBottom { border-bottom: solid 1px #DDD; }
		.socialDivider {
			height: 500px;
			padding-left: 15px;
			margin-right: 15px;
			float: left;
			border-right: 2px solid #EEE;
		}
		
		/* FACEBOOK STYLES */
		#facebookPod { width: 256px; float: left; }
		#facebookPod iframe, #facebookPodWide iframe { background: #efefef; }
		
		#facebookPodWide { width: 448px; float: left; }
		
		/* FORUM STYLES */
		#forumPod { width: 352px; }
		#forumPosts .loader { margin: 135px 0 0 165px; }
		#forumPod .socialLeftCol { width: 205px; }
		#forumPod .socialRightCol { width: 123px; }
		#forumPod #forumPosts .socialListItem { width: 352px; }
		
		#forumPodWide { width: 448px; }
		#forumPodWide #forumPosts .loader { margin: 135px 0 0 205px; }
		#forumPodWide .socialLeftCol { width: 268px; }
		#forumPodWide .socialRightCol { width: 156px; }
		#forumPodWide #forumPosts .socialListItem { width: 448px; }
		
		/* BLOG STYLES */
		#blogPod { width: 256px; }
		#blogPosts .loader { margin: 135px 0 0 115px; }
		#blogPod .socialLeftCol { width: 129px; }
		#blogPod .socialRightCol { width: 102px; }
		#blogPod #blogPosts .socialListItem { width: 257px; }
		
		#blogPodWide { width: 448px; }
		#blogPodWide #blogPosts .loader { margin: 135px 0 0 210px; }
		#blogPodWide .socialLeftCol { width: 292px; }
		#blogPodWide .socialRightCol { width: 132px; }
		#blogPodWide #blogPosts .socialListItem { width: 448px; }



/*================Leap Frog Grid CSS*=====================*/

.IFrame_grid {
  display:inline;
  float: left;
  position: relative;
  border-width: 0 1px;
}
 
.container_30 .IFrame_grid { width:255px; }
 
.IFrame_1col_grid {
  display:inline;
  float: left;
  position: relative;
  border-width: 0 1px;
}
 
.container_30 .IFrame_1col_grid { width:500px; }

/*================End Leapfrog CSS=========================*/



/*================thdSlider CSS*=====================*/

.row .slider{ 
	overflow : hidden;
	position: relative;
}

.slider_window{
	visibility: hidden;
	position: relative;
	float: left;

}


/* Default/Horizontal Slider Styles */
.slider_controls{
	bottom: 7px;
    display: block;
    height: auto;
    position: absolute;
    width: 100%;
	
}

.slider_controls .next{
	position        : absolute;
	bottom			: 107px;
	right           : 0;
	width           : 30px; 
	height          : 50px;
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: 130px 434px;
	display         : block;
	cursor          : pointer;
}
.slider_controls .next:hover{
	background-position: 130px 357px;
}

.slider_controls .prev{
	position        : absolute;
	bottom			: 107px;
	left            : 0;
	width           : 30px; 
	height          : 50px;
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: 125px 582px;
	display         : block;
	cursor          : pointer;
}

.slider_controls .prev:hover{
	background-position: 125px 505px;
}
.pagination_control{
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: -177px -29px;
	width     :20px;
	height    : 20px;
	margin    :0 2px;
	display   : inline-block;
	zoom:1;
    display: inline\9;

}
.pagination_control:hover{
    background-position: -177px -104px;
}
.pagination_control.active{
    background-position: -177px -104px;
}

.slider_pagination{
	margin: 0 auto;
	text-align: center;
}



/* Vertical Slider Styles */
.vert .slider_controls{
	bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: auto;
    right:0;
	
}

.vert .slider_controls .next{
	position        : absolute;
	bottom			: 0;
	right           : 0;
	width           : 35px; 
	height          : 30px;
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: 130px 126px;
	display         : block;
	cursor          : pointer;
}
.vert .slider_controls .next:hover{
	background-position: 130px 54px;
}

.vert .slider_controls .prev{
	position        : absolute;
	bottom			: auto;
	left            : auto;
	width           : 35px; 
	height          : 30px;
	right			: 0;
	top				: 0;
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: 130px 279px;
	display         : block;
	cursor          : pointer;
}

.vert .slider_controls .prev:hover{
	background-position: 130px 203px;
}
.vert .pagination_control{
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: -177px -29px;
	width     :20px;
	height    : 20px;
	margin    :0 2px;
	display   : block;
	zoom	  :1;
    display   : block\9;

}
.vert .pagination_control:hover{
    background-position: -177px -104px;
}
.vert .pagination_control.active{
    background-position: -177px -104px;
}

.vert .slider_pagination{
	margin: 0 auto;
	text-align: center;
	position: absolute;
	bottom:40%;
	right:6px;
}

/* Homepage Hero Horizontal Slider Controls */

.homepage .hero_slider, .homepage .hero_slider .pod {width:960px;}
.homepage .hero_slider .slider_controls{
	bottom: 0;
    display: block;
    height: auto;
    position: absolute;
    width: 766px;
    right:0;
	
}

.homepage .hero_slider .slider_controls .next{
	position        : absolute;
	bottom			: 90px;
	right           : 12px;
	width           : 35px; 
	height          : 50px;
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: 205px 434px;
	display         : block;
	cursor          : pointer;
}
.homepage .hero_slider .slider_controls .next:hover{
	background-position: 205px 359px;
}

.homepage .hero_slider .slider_controls .prev{
	position        : absolute;
	bottom			: 90px;
	left            : 12px;
	width           : 35px; 
	height          : 50px;
	right			: auto;
	background-image: url("../images/btns/scrolling_graphics.png");
    background-position: 205px 585px;
	display         : block;
	cursor          : pointer;
}

.homepage .hero_slider .slider_controls .prev:hover{
	background-position: 205px 510px;
}

.homepage .hero_slider .slider_pagination{
	margin: 0 auto;
	text-align: center;
	position: relative;
	bottom:25px;
}
 .homepage .hero_slider .hero_info, .homepage .hero_slider .hero_list_wrapper {left:225px; z-index:1;}

/*================End thdSlider CSS*=================*/

/*================ HotSpots CSS*=================*/

.hotspots{
   position : absolute;
   top : 0; left : 0;
}
 
.hotspots a{
   width : 30px;
   height : 30px;    
   position: absolute;
   background-image: url("../images/btns/hotspots_sprite.png");
   background-position: -8px -19px;
}
.hotspots a:hover{background-position: -63px -19px}
 
.hotspots a.hotVideo{
   background-image: url("../images/btns/hotspots_sprite.png");
   background-position: -8px 49px;
}
.hotspots a.hotVideo:hover{background-position: -63px 49px;}





