
@import url("myatt-common.css");

/****** 1104 CSS Starts *******/	
/************
COMMON STYLES
*************/
.pag.pageDesc { position:relative; top:-20px; margin-bottom:20px}
.pageDesc { position:relative; top:-5px}
.productOwner {font:14px Arial;position:relative;}
.row-seam .productOwner, .row-seamless .productOwner {left:0}
.productPlanOwnerListing {float:left;width:290px;}
.productPlanOwnerListing tr td {padding:3px 0 3px 0;}
.planAvatar {position:relative;left:25px;top:5px;}
.planImgBox{position:relative; left:-8px}
.famImg {float:left; width:120px; margin:0 14px 14px 0}
.planImg {border:1px solid #ccc !important;}
.usageData {padding:10px 0 10px 0;border-bottom:1px solid #ccc;margin-bottom:20px;}
.editProductOwner, .changePlan {font-size:12px;}
.userDevice {position:relative !important;top:25px !important;left:10px !important;}
.userAvatar {border:1px solid #ccc;}
.cost {font-size:16px;color:#f27d00;}
.userBox h3, .tvBox h3, .tvDetailsBox h3, .userInfoBox h3 {float:left;}
.userInfoBox h3 {float:left; font-size:12px; font-weight:bold;}
/* For WUP00550177; Removing the top margin as the font size in <h3> has been reduced userInfoBox has been reduced */
/* .userNumber {position:relative;float:left;width:166px;top:5px;left:10px;} */
.userNumber {position:relative;float:left;width:166px;left:10px;}

.colRightLink {position:relative;float:left;top:4px;left:10px;}
.planTableBox {position:relative;top:20px;padding-top:20px;background:url(../images/brand30/bg_section_divider.gif) top center no-repeat;}
.tertiaryLinks {position:relative;top:15px;}
.bottomDivider {position:relative;width:100%;padding-top:20px;border-top:1px solid #ccc;}
.bt_right {float:right;}
.twoColumnBox h4 {margin:0 0 10px 0 !important;}
.twoColLeft {float:left !important;}
.twoColLeftLink {position:relative;float:left;left:10px;top:4px;}
.twoColBullets {list-style: disc;}
.twoColBullets li {padding:5px;margin-left:20px;}
p.usageError {color:#CC0000 !important;}
span.overageNoLink, span.pendingCancelLink {color:#fd0200 !important;}
.tipLink {border-bottom:1px dotted #999 !important;}
.tipLink:hover {text-decoration:none !important;}
.groupSummary {border-top:1px solid #ccc;}
.sumLeft {position:relative;float:left;top:10px;left:10px;}
.sumRight {position:relative;float:right;top:10px;right:30px;}
.contractDates {position:relative;left:20px;}
.contractDates td {padding:5px;}
.planLinksRight {position:relative;float:left;top:5px;}
.planLinksRight ul li {padding:3px;} 

.mobileToMobileDashSep {
    color: #333;
    display: inline;
    height: 2px;
    left: 2px;
    position: relative;
    top: -9px;
    vertical-align: middle;
}
.mobileToMobileBtn {
    display: inline;
    margin-left: 3px;
    position: relative;
}

/* .mobileToMobileDashSep { position:relative; top:.5em; color:#333; padding-left:.2em }


.mobileToMobileDashSep {
    color: #333333;
    display: inline;
    height: 2px;
    left: 2px;
    position: relative;
    top: -9px;
    vertical-align: middle;
}
.mobileToMobileBtn {
    display: inline;
    margin-left: 3px;
    position: relative;
}

/* .mobileToMobileDashSep { position:relative; top:.5em; color:#333; padding-left:.2em }

.mobileToMobileBtn { position:relative; float:right; text-align:right; top:.3em}
*/
.rghtDottedSep { border-right:1px dotted #ccc }

/****************************
Table Header Help Icon fixes
****************************/
th.nobr {white-space:nowrap}
#ie th.nobr .align {position:relative; top:15px !important}
table.nobr th {white-space:nowrap;}
#ie table.nobr th .align {position:relative; top:15px !important}
/*****
STEPS
*****/
.steps .row-seam {
	font-size:0.75em;	
	background:#fff url(../../images/global/accordion-header.gif) bottom left repeat-x;
	}
.steps h4 {line-height: 1.45em}
.steps .last {border: 0;}
.steps .current { background:#f27d00 }
.step1 { background:url(../images/brand30/step1.png.html) left no-repeat; padding-left:35px }
.step2 { background:url(../images/brand30/step2.png.html) left no-repeat; padding-left:35px }
.step3 { background:url(../images/brand30/step3.png.html) left no-repeat; padding-left:35px }
.step4 { background:url(../images/brand30/step4.png.html) left no-repeat; padding-left:35px }
.current .step1 { background:url(../images/brand30/step1-selected.png.html) left no-repeat; padding-left:35px }
.current .step2 { background:url(../images/brand30/step2-selected.png.html) left no-repeat; padding-left:35px }
.current .step3 { background:url(../images/brand30/step3-selected.png.html) left no-repeat; padding-left:35px }
.current .step4 { background:url(../images/brand30/step4-selected.png.html) left no-repeat; padding-left:35px }
.past .step1, .past .step2, .past .step3 {background:url(../images/brand30/checkmark.gif) left no-repeat; padding-left:35px; color:#005B95}
.steps .current h4 {
	font-weight:bold;
	color:#FFF;
}

/**********
CONTAINERS
**********/
#breadcrumb {position:relative;left:20px;}
.userBox{position:relative;top:20px;padding:20px 0 20px 0; background:url(../images/brand30/bg_user_box.gif) top center no-repeat;width:655px;}
.userDeviceBox {position:relative;float:left;width:210px;left:-10px;/*top:15px;left:25px;*/}
.userInfoBox {position:relative;float:left;top:0;width:346px;}
.userCostBox {
 	display: inline-block;
    float: right;
    position: absolute;
    right: 20px;
    text-align: right;
	}
.userLinkBox {position:relative;left:212px;}
.noShadow {background:none;position:relative;padding:10px 0 0 0px;float:left;}
.inlineLinkBox {position:relative;left:235px;top:14px}
.changePlanSteps {position:relative;margin-bottom:20px;}
.tvDetailsBox {position:relative;top:20px;padding:20px 0 20px;background:url(../images/brand30/bg_user_box.gif) top center no-repeat;width:655px;}
.twoColumnBox {position:relative;float:left;width:100%;top:20px;background:url(../images/brand30/bg_twoColumnBox.gif) center center repeat-y;}
.twoColumnBoxLeft {position:relative;float:left;width:290px;}
.twoColumnBoxRight {position:relative;float:left;left:65px;width:290px;}
.tripleBox {position:relative;float:left;top:60px;}
.tBox {float:left;width:130px;border-right:1px dotted #ccc;padding-left:15px;height:30px;}
.tBoxLast {border-right:none;}

/**********
OVERRIDES
**********/
p.inline-links {padding:5px 0 10px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.msg p {color:#333 !important;border:none !important;background:none !important;}
.planTable {width:100% }
.planTable th{background:url(https://www.att.com/images/global/row-seam-dotted.gif) bottom repeat-x; padding-bottom:.5em}
.planTable th, .planTable td{line-height:normal; padding:10px 5px; position:relative}
.planTable th a{padding-right:5px; font-weight:bold; color:#3381b7; display:inline-block; position:relative}
.planTable th {/*padding:10px 0 10px 5px*/width:80px;}
.planTable th a{padding-right:10px}
.planTable td {background:#fff url(https://www.att.com/images/global/row-seam-dotted.gif) top repeat-x;}
th.planName {width:160px;}
.tblSeparator {border-bottom:2px solid #ccc;padding:10px 0; }
.noline td {background:none !important;}
.noBorder {border:none !important;}
#ie .togTip {position:relative; top:-3px}
/**************
GROUP HEADING 
**************/
.group-title{position:relative; min-height:3.5em }	
.group-title h2{ float:left; display:inline; line-height:1.2; color:#333}
.group-title ul{display:inline; float:left; min-height:3.5em; line-height:1.2}
.group-title li{display:inline; white-space:nowrap}
.group-title .left{position:absolute; top:.7em; line-height:1.2; margin:0; padding-left:1em}
.group-title .right{position:absolute; right:0; top:.3em; line-height:1.2; margin:0}
.styled_forms > div.group-title{margin-top:20px; margin-bottom:0}

/**************
2.0 Step Indicator
**************/
.stepIndicator {list-style:none; /*margin:20px 0 20px 5px*/}
.stepIndicator li {color:#666; display:inline-block; background:url(../images/brand30/arrow.png.html) right center no-repeat; padding-right:40px; margin-right:15px; float:left} /*use olam path */
.stepIndicator li.active {color:#f60}
.stepIndicator li.last {background:none; margin-right:0; padding-right:0}

/**************
LTE STYLES 
**************/
.table th, .table td{ text-align:left !important}
.selectDate p { margin-bottom:15px}
.selectDate dl { margin-bottom:10px}
.selectDate .btn { padding:20px 0}
.selectDate .btnLt img{ vertical-align:middle }
.disclaimer { background:url(../../images/global/grad-top-disclaimer.gif) top left repeat-x }

.selectDateList {padding-bottom:30px}
.selectDateList dt{padding:15px 0 10px 0;margin-top:20px;border-top:1px dotted #cccccc;font-weight:bold}
.selectDateList dt:first-child{border:0;padding-top:0px}
.selectDateList dd{margin-top:10px}
.selectDateList .openModal img{position:relative;top:5px}

/********************
CALENDAR TREATMENT
********************/
.w230{float:left; width:230px; margin:0 14px 14px 0}
.w230.last{margin:0 -14px 14px 0; clear:right}
.calendar {
	position: relative;
	width: 100%;
	height: 100%;
	}

.calendar th {
	color: #fff; 
	font-weight: bold;
	}
	
.calendar th.calendarDay {
	background:url(../images/brand30/calendar-day-bg.png.html) 100% 0 no-repeat;
	padding: 3px 0 2px 5px;
	border:none !important;
	text-align:left !important;
	}

.calendar td {
	color:#333; 
	font-weight: bold;
	border: 1px solid #e2e2e2;
	padding: 2px 13px 14px 4px !important;
	}
	
.calendar td a {
	color:#333; 
	font-weight: bold;
	}
.calendar td.noBtmBorder {
	border-bottom:none;
	}
.calendar td.noRgtBorder {
	border-right:none;
	}
.calendar td:hover {
	background:#e6f1f7 url(../images/brand30/calendar-hover-bg.png.html) 100% 0 no-repeat; 
	text-decoration:none;
	}
.calendar td.selectedDate {
	color: #fff; 
	font-weight: bold;
	background:url(../images/brand30/calendar-selected-date-bg.png.html) 100% 0 no-repeat;
	}

.calendar td.currentDate {
	background:url(../images/brand30/calendar-todays-date-bg.png.html) 100% 0 no-repeat;
	}

.calendar td.unavailableDate {
	background: url(../images/brand30/calendar-unavailable-date-bg.png.html) 100% 0 no-repeat;
	}
	
.calendar-titleContainer {
	position: relative;
	width: 100%;
	height: 2.6em;
	text-align: center;
	background:url(../images/brand30/calendar-title-bg.png.html) 0 100% no-repeat;
	}

.calendar-titleText {
	position: absolute;
	top: .5em;
	left: 0px;
	width: 100%;
	text-transform: uppercase; 
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	}

.calendar-titleText .prevMonth {
	position:absolute;
	left:0px;
	top: .135em;
	padding-left: .60em;
	}
	
.calendar-titleText .nextMonth {
	position:absolute;
	right:0px;
	top: .135em;
	padding-right: .60em;
	}

/****** 1104 CSS Ends *******/	

/****** 1106 CSS Starts *******/
/**********
PAGINATION
**********/
.extend3o .pagination { position:relative;float:right;width:100%;}
.extend3o .pagination ul {list-style:none;float:right;}
.extend3o .pagination ul li {float:left;}
.extend3o .pagination ul li a {padding:0 5px 0 5px;}
.extend3o .pagination ul li a.current {border:1px solid #ccc;}
.extend3o .pagination ul li a.prev {border-right:1px dotted #ccc;}
.extend3o .pagination ul li a.next {border-left:1px dotted #ccc;}
.extend3o .pagination.ptop {margin-top:-17px;top:-10px;}

/************
COMMON STYLES
*************/
.extend3o .pag.pageDesc { position:relative; top:-20px; margin-bottom:20px}
.extend3o .pageDesc { position:relative; top:-5px}
.extend3o .productOwner {font:14px Arial;position:relative;left:0px;}
.extend3o .productOwner p {font:14px Arial;position:relative;left:0px;} /* paragraph is added for WUP00552414*/
.extend3o .row-seam .productOwner, .extend3o .row-seamless .productOwner {left:0}
.extend3o .productPlanOwnerListing {float:left;width:290px;}
.extend3o .productPlanOwnerListing tr td {padding:3px 0 3px 0;}
.extend3o .productPlanOwnerListing .tooltips{margin:0px;}
.extend3o .planAvatar {position:relative;left:25px;top:5px;}
/*.extend3o .planImgBox {position:relative;left:15px;}*/
.extend3o .planImg {border:1px solid #ccc !important;}
.extend3o .usageData {padding:10px 0 10px 0;border-bottom:1px solid #ccc;margin-bottom:20px;}
.extend3o .usageDataDotted{padding:10px 0 10px 0;border-bottom:1px dotted #ccc;margin-bottom:20px;}
.extend3o .editProductOwner, .extend3o .changePlan {font-size:12px;}
.extend3o .userDevice {position:relative !important;top:25px !important;left:10px !important;}
.extend3o .userAvatar {border:1px solid #ccc;}
.extend3o .cost {font-size:16px;color:#f27d00;}
.extend3o .userBox h3, .extend3o .tvBox h3, .extend3o .tvDetailsBox h3, .extend3o .userInfoBox h3 {float:left;}
.extend3o .userNumber {position:relative;float:left;width:166px;top:5px;left:10px;}
.extend3o .userNumberNew {position:relative;float:left;width:166px;top:5px;left:0px;} /* Added to resolve the missalignment Issue in WUP00550177*/
.userNumberNew {position:relative;float:left;width:166px;top:5px;left:0px;} /* Added to resolve the missalignment Issue in WUP00550177*/
.extend3o .colRightLink {position:relative;float:left;top:4px;left:10px;}
.extend3o .planTableBox {position:relative;top:20px;padding-top:20px;background:url(../images/brand30/bg_section_divider.gif) top center no-repeat;}
.extend3o .tertiaryLinks {position:relative;top:15px;}
.extend3o .bottomDivider {position:relative;width:100%;padding-top:20px;border-top:1px solid #ccc;}
.extend3o .bt_right {float:right;}
.extend3o .twoColumnBox h4 {margin:0 0 10px 0 !important;}
.extend3o .twoColLeft {float:left !important;}
.extend3o .twoColLeftLink {position:relative;float:left;left:10px;top:4px;}
.extend3o .twoColBullets {list-style: disc;}
.extend3o .twoColBullets li {padding:5px;margin-left:20px;}
.extend3o p.usageError {color:#CC0000 !important;}
.extend3o span.overageNoLink, span.pendingCancelLink {color:#fd0200 !important;}
.extend3o .tipLink {border-bottom:1px dotted #999 !important;}
.extend3o .tipLink:hover {text-decoration:none !important;}
.extend3o .groupSummary {border-top:1px solid #ccc;}
.extend3o .sumLeft {position:relative;float:left;top:10px;left:10px;}
.extend3o .sumRight {position:relative;float:right;top:10px;right:30px;}
.extend3o .contractDates {position:relative;left:20px;}
.extend3o .contractDates td {padding:5px;}
.extend3o .planLinksRight {position:relative;float:left;top:5px;}
.extend3o .planLinksRight ul li {padding:3px;} 
.extend3o .mobileToMobileDashSep { position:relative; top:.5em; color:#333; padding-left:.2em }
.extend3o .mobileToMobileBtn { position:relative; float:right; text-align:right; top:.3em}
.extend3o .rghtDottedSep { border-right:1px dotted #ccc }

.extend3o .vertical-sep{font-size:12px;color:#bfbfbf;margin:0px 5px 0px 5px}

/*****
STEPS
*****/
.extend3o .steps .row-seam {
	font-size:0.75em;	
	background:#fff url(../../images/global/accordion-header.gif) bottom left repeat-x;
	}
.extend3o .steps h4 {line-height: 1.45em}
.extend3o .steps .last {border: 0;}
.extend3o .steps .current { background:#f27d00 }
.extend3o .step1 { background:url(../images/brand30/step1.png.html) left no-repeat; padding-left:35px }
.extend3o .step2 { background:url(../images/brand30/step2.png.html) left no-repeat; padding-left:35px }
.extend3o .step3 { background:url(../images/brand30/step3.png.html) left no-repeat; padding-left:35px }
.extend3o .step4 { background:url(../images/brand30/step4.png.html) left no-repeat; padding-left:35px }
.extend3o .current .step1 { background:url(../images/brand30/step1-selected.png.html) left no-repeat; padding-left:35px }
.extend3o .current .step2 { background:url(../images/brand30/step2-selected.png.html) left no-repeat; padding-left:35px }
.extend3o .current .step3 { background:url(../images/brand30/step3-selected.png.html) left no-repeat; padding-left:35px }
.extend3o .current .step4 { background:url(../images/brand30/step4-selected.png.html) left no-repeat; padding-left:35px }
.extend3o .past .step1, .extend3o .past .step2, .extend3o .past .step3 {background:url(../images/brand30/checkmark.gif) left no-repeat; padding-left:35px; color:#005B95}
.extend3o .steps .current h4 {
	font-weight:bold;
	color:#FFF;
}

/**********
CONTAINERS
**********/
.extend3o #breadcrumb {position:relative;left:20px;}
/* Commented for WUP00550863 and moved to myatt-common.css */
/*.extend3o .userBox{position:relative;top:20px;padding:20px 0 20px;background:url(/olam/images/brand30/bg_user_box.gif) top center no-repeat;width:655px;}*/
.extend3o .userDeviceBox {position:relative;float:left;width:210px;left:-5px;/*top:15px;left:25px;*/}
.extend3o .userDeviceBoxTitanOrder {position:relative;float:left;width:184px;left:-5px;/*top:15px;left:25px;*/}
.extend3o .userDeviceBoxTitanOrder_nowrap {position:relative;float:left;width:174px;left:-5px;/*top:15px;left:25px;*/}
.extend3o .userInfoBox {position:relative;float:left;top:0;left:5px;width:365px;}
.extend3o .userCostBox {position:relative;/*float:left;*/left:0px;text-align:right;}
.extend3o .userLinkBox {position:relative;left:205px;}
.extend3o .noShadow {background:none;position:relative;padding:10px 0 0 25px;float:left;}
.extend3o .inlineLinkBox {position:relative;left:230px;}
.extend3o .changePlanSteps {position:relative;margin-bottom:20px;}
.extend3o .tvDetailsBox {position:relative;top:20px;padding:20px 0 20px;background:url(../images/brand30/bg_user_box.gif) top center no-repeat;width:655px;}
.extend3o .tvBoxMargin14 {float: left; margin: 0 14px 14px 0;}
.extend3o .twoColumnBox {position:relative;float:left;width:100%;top:20px;background:url(../images/brand30/bg_twoColumnBox.gif) center center repeat-y;}
.extend3o .twoColumnBoxLeft {position:relative;float:left;width:290px;}
.extend3o .twoColumnBoxRight {position:relative;float:left;left:65px;width:290px;}
.extend3o .tripleBox {position:relative;float:left;top:60px;}
.extend3o .tBox {float:left;width:130px;border-right:1px dotted #ccc;padding-left:15px;height:30px;}
.extend3o .tBoxLast {border-right:none;}

/**********
OVERRIDES
**********/
.extend3o p.inline-links {padding:5px 0 10px !important;border-top:1px solid #ccc !important;border-bottom:1px solid #ccc !important}
.extend3o .msg p {color:#333 !important;border:none !important;background:none !important;}
.extend3o .planTable {width:100% }
.extend3o .planTable th{background:url(https://www.att.com/images/global/row-seam-dotted.gif) bottom repeat-x; padding-bottom:.5em}
.extend3o .planTable th, .extend3o .planTable td{line-height:normal; padding:10px 5px; position:relative}
.extend3o .planTable th a{padding-right:5px; font-weight:bold; color:#681aa9; display:inline-block; position:relative}
.extend3o .planTable th {/*padding:10px 0 10px 5px*/width:80px;}
.extend3o .planTable th a{padding-right:10px}
.extend3o .planTable td {background:#fff url(https://www.att.com/images/global/row-seam-dotted.gif) top repeat-x;}
.extend3o th.planName {width:160px;}
.extend3o .tblSeparator {border-bottom:2px solid #ccc;padding:10px 0; }
.extend3o .noline td {background:none !important;}
.extend3o .noBorder {border:none !important;}

/**************
GROUP HEADING 
**************/
.extend3o .group-title{position:relative; min-height:3.5em }	
.extend3o .group-title h2{ float:left; display:inline; line-height:1.2; color:#333}
.extend3o .group-title ul{display:inline; float:left; min-height:3.5em; line-height:1.2}
.extend3o .group-title li{display:inline; white-space:nowrap}
.extend3o .group-title .left{position:absolute; top:.7em; line-height:1.2; margin:0; padding-left:1em}
.extend3o .group-title .right{position:absolute; right:0; top:.3em; line-height:1.2; margin:0}
.extend3o .styled_forms > div.group-title{margin-top:20px; margin-bottom:0}

/*************
Buttons
**************/
.extend3o .btnInsideRowSeam{
border-top:1px solid #DBDBDB;
margin:0 0px 0 0px;
padding:20px 0 0;
width:655px;
}
.extend3o .modalContent .btnInsideRowSeam{
border-top:1px solid #DBDBDB;
margin:0 0px 0 0px;
padding:20px 0 0;
width:627px;
}

.extend3o .MyservicesTermsROwSeam{padding:0 10px;}

.extend3o .Myservicesterms {
border:1px solid #E3E3E3;
height:50px;
overflow-y:scroll;
padding:20px;
}
/**************
2.0 Step Indicator
**************/
.stepIndicator {list-style:none; /*margin:20px 0 20px 5px*/}
.stepIndicator li {color:#666; display:inline-block; background:url(../images/brand30/arrow.png.html) right center no-repeat; padding-right:40px; margin-right:15px; float:left} /*use olam path */
.stepIndicator li.active {color:#f60}
.stepIndicator li.last {background:none; margin-right:0; padding-right:0}


/**************
LTE STYLES 
**************/
.extend3o .table th, .extend3o .table td{ text-align:left }
.extend3o .selectDate p { margin-bottom:15px}
.extend3o .selectDate dl { margin-bottom:10px}
.extend3o .selectDate .btn { padding:20px 0}
.extend3o .selectDate .btnLt img{ vertical-align:middle }
.extend3o .disclaimer { background:url(../../images/global/grad-top-disclaimer.gif) top left repeat-x }

/********************
CALENDAR TREATMENT
********************/

.extend3o .calendar {
	position: relative;
	width: 100%;
	height: 100%;
	}

.extend3o .calendar th {
	color: #fff; 
	font-weight: bold;
	}
	
.extend3o .calendar th.calendarDay {
	background:url(../images/brand30/calendar-day-bg.png.html) 100% 0 no-repeat;
	padding: 3px 0 2px 5px;
	border:none !important;
	text-align:left !important;
	}

.extend3o .calendar td {
	color:#333; 
	font-weight: bold;
	border: 1px solid #e2e2e2;
	padding: 2px 13px 14px 4px !important;
	}
	
.extend3o .calendar td a {
	color:#333; 
	font-weight: bold;
	}
.extend3o .calendar td.noBtmBorder {
	border-bottom:none;
	}
.extend3o .calendar td.noRgtBorder {
	border-right:none;
	}
.extend3o .calendar td:hover {
	background:#e6f1f7 url(../images/brand30/calendar-hover-bg.png.html) 100% 0 no-repeat; 
	text-decoration:none;
	}
.extend3o .calendar td.selectedDate {
	color: #fff; 
	font-weight: bold;
	background:url(../images/brand30/calendar-selected-date-bg.png.html) 100% 0 no-repeat;
	}

.extend3o .calendar td.currentDate {
	background:url(../images/brand30/calendar-todays-date-bg.png.html) 100% 0 no-repeat;
	}

.extend3o .calendar td.unavailableDate {
	background: url(../images/brand30/calendar-unavailable-date-bg.png.html) 100% 0 no-repeat;
	}
	
.extend3o .calendar-titleContainer {
	position: relative;
	width: 100%;
	height: 2.6em;
	text-align: center;
	background:url(../images/brand30/calendar-title-bg.png.html) 0 100% no-repeat;
	}

.extend3o .calendar-titleText {
	position: absolute;
	top: .5em;
	left: 0px;
	width: 100%;
	text-transform: uppercase; 
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	}

.extend3o .calendar-titleText .prevMonth {
	position:absolute;
	left:0px;
	top: .135em;
	padding-left: .60em;
	}
	
.extend3o .calendar-titleText .nextMonth {
	position:absolute;
	right:0px;
	top: .135em;
	padding-right: .60em;
	}
	
/****** LTE Phase @ *****/
	
	/*Manage-Features*/
				.extend3o .table td.tableTDBG{ background:url('../English/brand30/attReccomends.JPG') no-repeat scroll left top; padding-top:20px;}
.extend3o .table tr.recomend td {padding-top: 20px;}
		.extend3o .mod-service-landing .blackberry {border-bottom:1px solid #CCCCCC; padding-bottom:20px;}
		.extend3o .leftblackberry #blackberryquest{font-size:12px;float:right;margin-left:100px;}
		.extend3o #blackberryprint{font-size:12px;float:right;}
		.extend3o .blackberry h2 a{font-size:12px;}
		.extend3o .blackberry p{padding-top:10px;}
		.extend3o #include{margin-left:80px;}
		/*.extend3o .mod-accordion h4{font-size:1.2em;}
		.extend3o .mod-accordion h4 a{color:#666666;float:left; padding:0 5px;}
		.extend3o .mod-accordion h4 img{float:left; padding-top:7px;}
		.extend3o .mod-accordion h4.confirmStep{background:url('/olam/images/brand30/bg_currentStep.gif') repeat-x;}
		.extend3o .mod-accordion h4.confirmStep a{color:#FFFFFF; font-weight:bold;}*/
		.extend3o .texttable{width:200px;}
		.extend3o .table td.tableTDBG{ background:url('../English/brand30/attReccomends.JPG') no-repeat scroll left top; padding-top:20px;}
		.extend3o .texttableWid{width:65px;}
		.extend3o .texttableWidText{width:45px;}
		.extend3o .row-seamless table.table tbody tr td .texttableWidSel{padding-left:0px;}
		/*.extend3o .menu_container div:first-child {background: url("/olam/images/brand30/usm/iconChange.png") no-repeat scroll 100% 100% transparent;}*/
		.extend3o a.usm_click img{ margin:2px 5px 0 6px !important; margin:2px 5px 0 6px;}
		.extend3o .row-seamless .btn{padding-bottom:40px;}
	
	/*for screen-11.0c-myservices-wireless-services-landingpage-FTplan*/
		.extend3o .LTECRdivider{ color:#333; background:url(../images/brand30/global/divider-h2.gif) 0 50% no-repeat; margin-left:5px; padding-left:11px} 				
		.extend3o .LTECRuserInfoBox {top:0;left:5px;width:365px;}
		.extend3o .wallet-list{}
		.extend3o .wallet-list li:first-child{border-bottom:1px solid #bfbfbf;padding:5px 0 5px 0}		
		.extend3o .wallet-list li{border-bottom:1px dotted #bfbfbf;padding:5px 0 5px 0}
		.extend3o .wallet-list .title{font-weight:bold}
		.extend3o .wallet-list .sep{color:#bfbfbf;font-size:1.2em;margin:0 5px 0 5px}
		.extend3o .wallet-list li.last{border-bottom:0px;padding:5px 0 5px 0;text-align:right}
		.extend3o .wallet-list li.last img{margin-left:5px;position:relative;top:3px}
		
		.wallet-list{}
		.wallet-list li:first-child{border-bottom:1px solid #bfbfbf;padding:5px 0 5px 0}		
		.wallet-list li{border-bottom:1px dotted #bfbfbf;padding:5px 0 5px 0}
		.wallet-list .title{font-weight:bold}
		.wallet-list .sep{color:#bfbfbf;font-size:1.2em;margin:0 5px 0 5px}
		.wallet-list li.last{border-bottom:0px;padding:5px 0 5px 0;text-align:right}
		.wallet-list li.last img{margin-left:5px;position:relative;top:3px}
	
	/*individual_plan.css*/
		.extend3o #text_center{margin:20px 60px 30px 185px;}
		.extend3o #my_row{padding-bottom:22px;}
		.extend3o #abs1{float:right;margin-right:70px}
		.extend3o #my_table .last1{padding-left:250px;}
		.extend3o .toggleGroup{margin-left:30px}
		.extend3o #toggleGroup2  .mod-service-landing a img{ display: inline-block;
			margin-right: 10px;
			position: relative;
			top: 0px;
			}
		.extend3o #landing #right_div{padding-left:19px;}
		
		
		
	
	
	/***********************/
/* For LTE Issue fix on 10 - Mar 2011 */
.extend3o .usageYellow{color:#f7ba00;}

.extend3o .mod-service-landing a img {top: -1px;}
.extend3o .mod-service-landing a img.helpicn-img {top: -2px;}
.extend3o .mod-service-landing a img.calc-img{top: 2px;}
.extend3o .LTECRw226 {float: left;margin: 0 14px 14px 0;width: 226px;}
.extend3o .LTECRw186 {float: left;margin: 0 14px 14px 0;width: 186px;}
.extend3o .inline-links a.lnk-help-icon{margin:0}
.extend3o .section-title .acnumber-top0{top:0px;}
.extend3o table p.Ultd-Usage-para{margin-bottom:0px;}

/*** PROMOS AND REWARDS ***/
.extend3o .promoList{border-top:1px dotted #e5e5e5;padding-bottom:20px}
.extend3o .promoList li:first-child{padding-top:20px}
.extend3o .promoList li{padding-top:10px}
.extend3o .promoList li .tooltips{line-height:1em}
.extend3o .promoList .amountTitle{font-weight:bold;font-size:14px;margin-left:10px}
.extend3o .promoList .amount{font-weight:bold;font-size:14px;color:#F27D00}


.extend3o .defList{}
.extend3o .defList  dt {font-weight:bold;margin:20px 0 10px 0}
.extend3o .defList  dt:first-child {margin:0px 0 10px 0}
.extend3o .defList  dd{margin-bottom:10px}
.extend3o .defList  .last{margin-top:20px}

.extend3o .other-products{}
.extend3o .other-products li{width:110px;float:left;text-align:center;margin-left:20px}
.extend3o .other-products li:first-child{margin-left:0px}

/* For LTE CR*/
.extend3o .LTECRuserLinkBox {position:relative;left:215px;}
.extend3o .box.lte { -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; background:#fff; border:1px solid #e3e3e3; margin-bottom:14px; width:450px }

/****Divider****/
.extend3o .servicedivider{background:url(../images/brand30/global/divider-h2.gif) 0 50% no-repeat; margin-left:5px; padding-left:5px} 	

.extend3o .group-title-3-0{
	position:relative;
	min-height:55px }	
.extend3o .group-title-3-0 h2,
.extend3o .group-title-3-0 h3,
.extend3o .group-title-3-0 h4,
.extend3o .group-title-3-0 h5,
.extend3o .group-title-3-0 h6{
	margin:0 10px 0 24px;
	float:left;
	display:inline;
	font-size:2.0em; 
	line-height:55px;
	color:#333 }

.extend3o .group-title-3-0 > ul{display:inline; float:left; min-height:55px; line-height:55px }
.extend3o .group-title-3-0 li{display:inline; white-space:nowrap}

.extend3o .group-title-3-0 .account-number{line-height:55px; font-size:1.3em; color:#333; background:url(https://www.att.com/images/global/divider-h2.gif) 0 50% no-repeat; margin-left:5px; padding-left:11px}
.extend3o .group-title-3-0 .right{position:absolute; right:14px; top:3px; line-height:55px; margin:0}
.extend3o .group-title-3-0 .left{position:absolute; top:3px; line-height:55px; margin:0}
.extend3o .group-title-3-0 .disabletext{color:#c3c3c3;}
.extend3o .disabletext{color:#c3c3c3;}
.extend3o a.toggle {
    color: #333333;
    text-decoration: none;}
.extend3o .pos-rel{position:relative;}
.extend3o .MarLeft70{Margin-left:70px;}			
.MarLeft25 {Margin-left:25px;};
.extend3o .lineHeightNormal{line-height:normal !important}
body.extend3o.AriaContBackG {background: url("../images/brand30/bgShop.png.html") repeat-x scroll left top transparent;}
.tertiaryLinksTop10 {
position:relative;
top:10px;
}
/* table .leftRight0 th,table .leftRight0 td {padding:10px 0px 10px 0px !important}; */
.leftRight0{padding:10px 0px 10px 0px !important}

 /*My Services inline links*/
 p.inline-links a, .inline a {white-space:nowrap}
 
/*WUP00541402*/
.selectDateList {padding-bottom:30px}
.selectDateList dt{padding:15px 0 10px 0;margin-top:20px;border-top:1px dotted #cccccc;font-weight:bold}
.selectDateList dt:first-child{border:0;padding-top:0px}
.selectDateList dd{margin-top:10px}
.selectDateList .openModal img{position:relative;top:5px}

/***Myservices 11/7 ***/	
.extend3o .calEntry-titleContainer {
	position: relative;
	width: 100%;
	height: 2.4em;
	text-align: center;
	background: #999;
	}

.extend3o .calEntry-titleText {
	background: #999;
	position: absolute;
	top: .5em;
	left: 0px;
	width: 100%;
	text-transform: uppercase; 
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
}

.extend3o .calEntry-titleText img {
	position: relative;
	top: .135em;
	padding-left: .60em;
	padding-right: 0em;
	}

.extend3o .calEntry {
	position: relative;
	left: 0.1em;
	width: 100%;/*changed 11/7*/
	height: 100%;
	
	text-align: center;
	}

.extend3o .calEntry th {
	color: #646464; 
	background: #fff;
	font-weight: bold;
	}

.extend3o .calEntry td {
	padding: .35em; 
	font-weight: normal;
	background: #e5e5e5;
	border: 1px solid #fff;
	}
.extend3o .wid200{float:left; width:200px; margin:0 14px 14px 0} /* 5x26px */
.extend3o .SDGMemberInnerTD > div.disabled {color: #333333;}
