
.image-navigator tr {background:#fff}

table.image-navigator td.image-navigator-position {width:17%}
table.image-navigator td.image-navigator-first {width:15%; text-align:right}
table.image-navigator td.image-navigator-prev {width:18%; text-align:left}
table.image-navigator td.image-navigator-next {width:15%; text-align:right}
table.image-navigator td.image-navigator-last {width:15%; text-align:left}
table.image-navigator td.image-navigator-gallery-link {width:20%; text-align:right}

/**
 * Helper classes *not* meant for styling.
 */
.ng3-hidden { display:none; }

.ng3-rotate-90 {
  transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.ng3-rotate-180 {
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.ng3-rotate-270 {
  transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#node-gallery-rotate-dialog img {
  margin: 10px;
  border: 1px solid #000;
}

#node-gallery-rotate-dialog img.selected {
  outline: 5px solid #000;
}

/**
 * Fix for word-wrap on the manage images page.
 */
 #node-gallery-manage-images-form div.description {
  white-space: normal;
}

/**
 * Classes for the sort images screen.
 */
#node-gallery-sort-images-grid {
  margin: 10px auto;
}

div.node-gallery-sort-presets {
  margin-bottom: 5px;
  padding: 5px;
}

/* @todo: Set width and height in javascript, depending on the imagecache settings */
div.node-gallery-sort-images-item {
  width: 70px;
  height: 70px;
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: move;
}

div.node-gallery-sort-images-item:hover {
  background-color: #e0e0e0;
  outline: 1px dashed #98C4DF;
}

div.node-gallery-sort-images-item img {
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-bottom: 0px;
  margin: 0px;
}

/**
 * Classes for views.
 */
div.view-node-gallery-gallery-image-views div.views-field-title {
  font-size: 1.2em;
}

img.imagecache-node-gallery-admin-thumbnail {
  border: 1px solid #666;
}

div.views-field-field-node-gallery-image-fid {
  text-align:center;
}

div.views-field-field-node-gallery-image-fid img {
  border: 1px solid #666;
}

div.field-field-node-gallery-image {
  text-align:center;
}

div.node-node_gallery_image div.field-field-node-gallery-image img {
  border: 1px solid #666;
}

div.view-node-gallery-gallery-image-views div.views-field-field-node-gallery-image-fid a:hover {
  background-color: #e0e0e0;
  display: block;
}

div.view-node-gallery-gallery-image-views table.views-view-grid td {
  padding-bottom: 0;
  text-align: center;
}

div.view-node-gallery-gallery-image-views table {
  margin:0;
  padding:0;
}
