/**
* This file has been forked to IMDbConsumerSiteStaticMedia/src/css/wheel/base.css
* Any changes should be made to both files.
*/
/* BASIC PAGE ELEMENTS */

br.clear {
    height:1px;
}

#root, #root td {
    font-family: Verdana, Arial, sans-serif;
    color:#333;
    font-size:13px;
}

/* link colors */
a:link {
    color:#136CB2;
    text-decoration: none;
}

a:visited {
    color:#70579D;
    text-decoration: none;
}

a:hover {
    color:#136CB2;
    text-decoration: underline;
}

a:active {
    color: #E7BE00;
    text-decoration: none;
}

p {
    margin:0.5em 0 0.75em;
    line-height:140%;
    padding:0;
}

img {
    border: none;
}

h1 {
    color:#333333;
    font-size:21px;
    line-height:110%;
    margin:14px 0;
}

.article h1 {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 0 8px;
    padding: 0 0 12px;
}

.article h1.header {
    margin: 0;
    padding: 0;
    border-bottom: medium none;
}

.article h1.header span {
    color: #666666;
    font-size: 15px;
    font-weight: normal;
}

h2 {
    color:#A58500;
    font-size:17.5px;
    margin:0 0 0.5em;
    padding:0;
}

h3 {
    color:#A58500;
    font-size:15px;
    margin:0 0 0.5em;
    padding:0;
}

h4 {
    color:#666666;
    font-size:13px;
    margin:0.35em 0 0.25em;
    padding:0;
}

h4.inline {
    display:inline;
    padding:0 0.5em 0 0;
}

h4.li_group {
    background-color: inherit;
    line-height: 2.6em;
    display: inline;
}

h4.li_group span {
    font-weight: normal;
}

h4.li_group:before {
    content: "";
    border-bottom: 1px dotted #CCC;
    width: 100%;
    margin-top: 1.6em;
    margin-bottom: -1.5em;
    float: left;
}

h5 {
    font-size: 11px;
    color: #666;
    margin: 0;
    padding: 0;
}

h5.inline {
    display:inline;
    padding:0 0.5em 0 0;
}

h5.li_group {
    background-color: inherit;
    line-height: 2.2em;
    display: inline;
}

h5.li_group span {
    font-weight:normal;
}

h5.li_group:before {
    content: "";
    border-bottom: 1px dotted #CCC;
    width: 100%;
    margin-top: 1.1em;
    margin-bottom: -1.2em;
    float: left;
}

h5.li_group span {
    font-weight:normal;
}

ul {
    margin: 0;
    padding-left:1.25em;
}

ol {
    margin: 0;
    padding-left:2em;
}

ol li {
    list-style-type: decimal;
}

li {
    margin-bottom:0.5em;
}

/* SPECIALTY ELEMENTS */

.redesign .ghost {
    color:#CCC;
}

.redesign .mellow {
    color:#999;
}

/* sub page navigation */
.article div.options, .article div.parent {
    margin-bottom: 2px;
    font-size:15px;
}

.article div.parent h3, .article div.options h3 {
    margin: 2px 0.1em 2px 0;
    display:inline-block;
}

.article div.options a, .article div.parent a {
    text-decoration:none;
}

.article div.options a:hover, .article div.parent a:hover {
    text-decoration:underline;
}

/* floating right corner controls and links */

.rightcornerlink {
    border-left: 1px dotted rgb(204, 204, 204);
    float: right;
    font-size: 11px;
    margin: -10px 0 0 10px;
    padding: 10px 0 1px 7px;
}

.rightcornerlink span {
    color:#CCC
}

.rightcornerlink form {
    display:inline;
}

.rightcornerlink form select.fixed {
    font-size:13px;
    vertical-align:middle;
}

.rightcornerlink form input.fixed {
    vertical-align:middle;
}

.rightcornerlink span.filmo-show-hide-all {
    color:#333;
    cursor:pointer;
}

/* misc specialty elements */

.fontsmall {
    font-size: 10px !important;
}

a.offsite-link {
    padding: 0 13px 0 0;
    background: url(../../offsite.png) no-repeat right;
}

img.hidden {
    display: none;
    visibility: hidden;
}

img.absmiddle {
    vertical-align: middle;
    margin-bottom: 0.2em;
}

.txt-block {
    margin:0.35em 0;
}

.nobr {
    white-space: nowrap;
}

.center {
    text-align: center;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px dotted #CCC;
}

a.linkastext {
    text-decoration: none;
    color: black;
}

a.linkastext:hover {
    text-decoration: underline;
    color: blue;
}

.disabled {
    color: #999 !important;
}

.error {
    font-weight: bold;
    color: #900;
}

.emphasis {
    font-weight: bold;
    background: #FFC;
}

.less-emphasis {
    font-size: 85%;
    margin: 0.25em 0;
}

.see-more {
    border-top:1px dotted #CCCCCC;
    clear:both;
    display:block;
    font-size:100%;
    margin:5px 0 0;
    padding:5px 0 0;
    text-align:left;
}

.see-more.inline {
    border:medium none;
    clear:none;
    display:inline;
    margin:0;
    padding:0;
}

.see-more span {
    color:#CCCCCC;
}

.message_box .see-more {
    border-top: none;
    float: right;
    margin-top: -1.2em;
    padding: 0;
}

.message_box .see-more .btn {
    margin-top: .12em;
}

.nopmargin p {
    margin: 0
}

/* FORM ELEMENTS */

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px dotted #ccc;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

legend {
    font-size: 130%;
    font-weight: bold;
    text-transform: capitalize;
    color: #655300;
    margin: 0;
    padding: 0.5em 0 0.25em 0;
}

label {
    font-weight: bold;
}

label.block {
    margin: 1em 0 0.5em 0;
    display: block;
}

/* BUTTONS */

button {
    font-weight: bold;
    padding: 0.25em;
    cursor: pointer;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.linkasbutton-primary, .linkasbutton-secondary {
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

button.primary, .linkasbutton-primary {
    background: #f3ce00 url(../../wheel/button-bg.gif) 0 0 repeat-x;
    border-bottom: 1px solid #CC9933;
    border-left: 1px solid #D5AB55;
    border-right: 1px solid #CC9933;
    border-top: 1px solid #D5AB55;
    color: #000000 !important;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    overflow:visible;
    padding: 6px 10px;
    text-decoration: none;
    vertical-align: middle;
}

button.secondary, .linkasbutton-secondary {
    background: #ECE2C6 url(../../wheel/button-bg.gif) 0 -150px repeat-x;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #bbbbbb;
    color: #000000 !important;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal !important;
    margin-bottom: 4px;
    overflow:visible;
    padding: 5px 6px;
    text-decoration: none;
    vertical-align: middle;
}
/* force btn2 to look like legacy style buttons */
.action-box .wlb_wrapper{
    display:block;
    height:23px !important;
    margin-bottom: 5px;   
}
.action-box .btn2.linkasbutton-secondary {
    display:block;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    height:13px !important;
    line-height:13px !important;
}

.yn .linkasbutton-secondary {
    height: inherit !important;
    padding: 3px 6px !important;
}

.action-box .linkasbutton-primary, .action-box button.secondary, .action-box .linkasbutton-secondary {
    display: block;
    margin-bottom: 3px;
}

button.primary:hover, button.primary-hover, .linkasbutton-primary:hover, button.secondary:hover, button.secondary-hover, .linkasbutton-secondary:hover {
    background-image: none;
    border: 1px solid #E6B800;
}

.linkasbutton-secondary.search {
    padding: 2px 6px;
    vertical-align: top;
}

button.media {
    font-size: 12px;
    color: #fff;
    background: url('../../wheel/button-bg-media.gif') repeat-x left top;
    background-color: #333;
    border: 3px double #666;
}

button.media:hover, button.media-hover {
    color: #ccc;
    border-color: #999;
}

.callout {
    background-color:#B19200;
    border-style:none;
    color:white;
    display:inline;
    font-size:10px;
    font-weight:bold;
    padding-left:0.25em;
    padding-right:0.25em;
    text-align:center;
    white-space:nowrap;
}

.callout-box {
    display: block;
    margin: 1em;
    padding: 0.25em;
    background: #fff;
    width: 250px;
    border: 1px solid #E6BC00;
}


/* message boxes, alerts, info and notification */

.message_box {
    overflow:auto
}

.message_box .success, .message_box .alert, .message_box .error, .message_box .showtime, .message_box .info {
    padding:12px 12px 12px 64px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom:9px;
}

.message_box div h2 {
    font-size:15px;
    font-weight:bold;
    margin-bottom:0;
}

.message_box div p {
    line-height: 120%;
    margin: 0.2em 0 0;
    padding: 0;
}

.message_box .success {
    background: #cff2ad url(../../notify.png) 12px 12px no-repeat;
}

.message_box .success h2 {
    color:#3e4834;
}

.message_box .success p {
    color:#3e4834;
}

.message_box .alert {
    background:#F3EEAF url(../../warning.png) 12px 12px no-repeat;
}

.message_box .alert h2 {
    color:#48462e;
}

.message_box .alert p {
    color:#48462e;
}

.message_box .error {
    background:#ffe3e3 url(../../error.png) 12px 12px no-repeat;
}

.message_box .error h2 {
    color:#d6000c;
}

.message_box .error p {
    color:#d6000c;
    font-weight: normal;
}

.message_box .info {
    background:#ffffff url(../../info.png) 12px 12px no-repeat;
    border:1px solid #E8E8E8;
}

.message_box .info h2 {
    color:#222222;
}

.message_box .info p {
    color:#222222;
    font-weight: normal;
}

.message_box .showtime {
    background:#F3EEAF url(../../showtime.png) 12px 12px no-repeat;
}

.message_box .showtime h2 {
    color:#48462e;
}

.message_box .showtime p {
    color:#48462e;
}

.message_box.small div {
    padding:7px 7px 7px 34px;
}

.message_box.small div h2 {
    font-size:13px;
    display:inline;
}

.message_box.small div p {
    font-size: 13px;
    display:inline;
}

.message_box.small .success {
    background-image: url(../../notify_small.png);
    background-position: 8px 8px;
}

.message_box.small .alert {
    background-image: url(../../warning_small.png);
    background-position: 8px 8px;
}

.message_box.small .error {
    background-image: url(../../error_small.png);
    background-position: 8px 8px;
}

.message_box.small .info {
    background-image: url(../../info_small.png);
    background-position: 8px 8px;
}

.popup {
    display: none;
    position: absolute;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    z-index: 200; /* Above the navbar */
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.popup > .title {
    background: #f6f1e3;
    border-bottom: 1px solid black;
    display: block;
    padding: 10px 0 10px 15px;
    font-weight: bold;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.popup > a.close.btn {
    float: right;
    margin: 6px;
    width: 10px;
}
.popup > .body {
    padding: 10px;
}

