@charset "utf-8";
/* CSS Document */
#content_well {width:640px; height:auto; margin:10px 0 0 0; padding:0; float:left; overflow:hidden;font-size:14px;line-height:16px;}
#quizzes-games #content_well {padding-top:12px;} 
#redesignBlogs #rightRailEditorial .container {width:313px; margin:0px; padding:15px 15px 10px 15px; float:left;}
p.seeMore2 {margin:0 15px; padding: 5px 0;border-top:dotted 2px #ffffff; float:left; width:303px;}
#blogAboutBlog  .bottomText {margin:0; padding: 15px ; float:left; width:303px; font-style: italic;}
#content_well a {color:#5e50a1;}
#articleImg {width:308px; height:auto; background:transparent; margin-bottom:10px;}
#content_well .xboxcontent div p.caption,
#content_well .xboxcontent div p.credit { padding:0 8px; margin:0px; font-size:12px;}
#content_well .xboxcontent div p.caption { font-size:12px; color:#000; margin-top:8px;}
#content_well .xboxcontent div p.credit{margin:0; color:#777777; font-size: 10px; color:#9e9e9e; margin-top:8px;}
#adCirc300X200.no_image {padding-top:52px;}
#content_well .units {float:left; clear:right; /*width:308px;*/width:315px; padding-right:15px;}  
#content_well .units img.large_v{height:300px; width:231px;padding:0 29px;}
#content_well .units img.large_h{width:300px; height:231px;}
#content_well .units img.medium_v{height:215px; width:165px; padding:0 66px;}
#content_well .units img.medium_h{width:215px; height:165px; padding:0 42px;}
#content_well .body {line-height:18px; text-align:left; font-color:#000!important;font-weight:normal;}
#content_well .body p{padding:10px 0 0 0;clear:right;height:auto;} /* added because cosmo does weird stuff in the body tag */
#content_well .body ol, #content_well .body ul {display:block; float:none;width:auto;}
#content_well .body ol, #content_well .body ul {font-weight:normal;}
#content_well .body ul li {padding:0 0 0 0px; margin:0 0 0 20px;list-style-type: disc;color:#000;font-weight:normal;}
#content_well .body ol li {padding:0 0 0 0px; margin:0 0 0 20px;list-style-type: normal;color:#000;font-weight:normal;}
#related_links {width:640px; float:left; height:auto; margin-bottom:15px; *margin-bottom:25px;}
#article_links {width:640px; float:left; height:auto; padding:10px 0 35px 0; border-top:dotted 2px #000; margin-top:5px;}
#article_links span {padding-right:50px;}
#related_links a:link, #related_links a:visited, #article_links a:link, #article_links a:visited{color:#5e50a1; font-weight:bold;}
/*.container .link {width:220px;padding:0 100px 18px 0; float:left;line-height:12px;}*/
.container .link {width:280px;padding:0 40px 18px 0; float:left;line-height:14px;}
#related_links .container .link {width:280px; padding-bottom:0px!important;float:left;line-height:14px;}
#related_links .container {margin:0 0 14px 0;float:left;}
/* **************** Q&A ********************* */
.wrapper_qa {}
.question_wrapper {font:bold 16px Georgia, "Times New Roman", Times, serif; padding-bottom:10px;}
.answer_wrapper {padding-bottom:10px;}
img.qa {width:46px; height:37px;padding-right:5px;}


#content_well .supplement img.right{padding-left:4px;}
#content_well .supplement h2 {font:bold 20px Georgia, "Times New Roman", Times, serif;}
#content_well .supplement ul {width:640px; height:auto; padding-bottom:30px;float:left;}
#content_well .supplement ul, #content_well .supplement li {display:inline; font-size:11px;}
#content_well .supplement ul li {background:url(http://www.cosmopolitan.com/cm/cosmopolitan/images/redesign/arrow_buttons/li_black.png) no-repeat; background-position:0 2px; padding:0 5px 0 10px;}
#content_well .supplement ul li.first{padding:0 5px 0 0px;background:none;}
#content_well .supplement ul li img{padding-right:4px;}

/* Blogs */
body#redesignBlogs #pageHead, body#blog_index #pageHead, body#blog_v2_entry #pageHead, body#blog_archive #pageHead, body#blog_bio #pageHead {border-bottom:0px;}
body#redesignBlogs dd, body#blog_index dd, body#blog_v2_entry dd, body#blog_archive dd {padding-bottom:10px;}
#pageHead .blogHead {width:640px; float:left; background-color:#000; color:#fff;position:relative;}
#pageHead .blogHead span img{}
#cosmo-latina #pageHead .blogHead{background: none;}
#MAIN_CENTER_Ccontainer #pageHead .blogHead h1{float: left;font-size: 40px;font-family: Georgia,"Times New Roman",Times,serif;line-height: 36px;margin: 4px 0 0;padding: 0;text-align: left;width: 300px;}
#pageHead .blogHead h2{float: left;font-family: bold 36px Georgia,"Times New Roman",Times,serif;margin: 0;padding:0px 0 0;text-align: left;width: auto;}
#MAIN_CENTER_Ccontainer #pageHead .blogHead h1.hairstyles_beauty_blog {float: left;font-size: 38px;line-height: 45px;margin: 20px 0 0;padding: 0;text-align: left;width: auto;}
#pageHead .blogHead .celebrity_news_blog{float: left;font-family: bold 36px Georgia,"Times New Roman",Times,serif;font-size:40px;margin: 6px;padding: 0;text-align: left;width: 300px;line-height:34px;}
/*#pageHead .blogHead .celebrity_h2{width:322px; padding-top:8px; line-height:32px;}*/
/*???*/
/*#pageHead .blogHead .celebrity_h1{width:322px; padding-top:8px; line-height:32px;}*/
/*???*/
body#redesignBlogs .blogSearchWrapper, body#blog_index .blogSearchWrapper, body#blog_v2_entry .blogSearchWrapper, body#blog_archive .blogSearchWrapper, body#blog_bio .blogSearchWrapper {float:left;width:631px; height:46px;padding:8px 0 0 9px; background-color:#d71463; color:#fff; font-weight:bold;}
#cosmo-latina #pageHead .blogSearchWrapper{width: 630px;}
body#redesignBlogs .blogSearchWrapper td.shaded, body#blog_bio .blogSearchWrapper td.shaded, body#blog_index .blogSearchWrapper td.shaded, body#blog_v2_entry .blogSearchWrapper td.shaded, body#blog_archive .blogSearchWrapper td.shaded {background:#fff;overflow: hidden; width: 330px; height: 39px; *width:305px;}

img.blogSearchTitle {width:99px; height:39px; float:left;}
.blogFormWrapper {width: 330px; background:#FFFFFF; height: 39px; *width:305px; overflow:hidden;float:left;margin-right:8px;}
.blogSearchWrapper .container {width:187px; float:left;}
.blogSearchWrapper .container  form select{border: 1px solid #999; overflow: hidden; width: 183px!important; height: 20px;}
.blogSearchWrapper p {margin-bottom:5px;*margin-bottom:3px;}

.blogFormWrapper form {border:none!important; border:0px;}
.blogFormWrapper form img {*float:right;*padding:2px; padding-top:4px;}
.blogFormWrapper form .formTextInput {border:none!important;width:292px;border:0px;*width:260px;*float:left;font-size:26px;color:#999;}
.blog_excerpt {width:640px; float:left; border-bottom:dotted 2px #000;padding-bottom:20px;margin-bottom:20px;}
.blog_excerpt.last {border:none!important;margin-bottom:0px!important;}
.blog_categories {display:none;}
.CNTR_main_content {}
/* .blog_excerpt .CNTR_main_content h2 {font-size:22px; color:#000;margin-bottom:10px;line-height:24px;}*/
.blog_excerpt .CNTR_main_content h2 {font-size:22px; color:#000;margin-bottom:10px;line-height:normal;float:left;height:auto;width:640px;}
.CNTR_main_content h2 a{color:#000!important;}

.blog_entry_date {width:640px; float:left; margin-bottom:20px;}
.blog_entry_date span {font-weight:bold; color:#5e50a1;}
.blog_excerpt .tags, .blog_excerpt .tools, .blog_excerpt .comments_number {font-size:12px; font-weight:bold;clear:left;width:640px;}
.blog_excerpt .tools, .blog_excerpt .comments_number {margin-bottom:10px;}
.blog_excerpt .post_body img {}
.blog_excerpt img.blog_arrows {position:relative; top:5px;padding-right:3px;}
.blog_excerpt .comments_number span {margin-right:10px;}
.blog_excerpt .tools .virals {float:left; width:200px; margin:0px; padding:0px; text-align:left;}


body#redesignBlogs p.seeMore2, body#blog_index p.seeMore2, body#blog_v2_entry p.seeMore2 {border-color:#fff;padding-top:15px;}
body#redesignBlogs p.seeMore2 img, body#blog_index p.seeMore2 img {position:relative; top:0px; padding-right:3px;}
body#redesignBlogs .archive_links a, body#blog_index .archive_links a, body#redesignBlogs .archive_links a:visited, body#blog_index .archive_links a:visited, body#blog_bio .archive_links a, body#blog_bio .archive_links a:visited {color:#5e50a1;width:640px; float:left;}
body#redesignBlogs .archive_links a, body#blog_index .archive_links a, body#redesignBlogs .archive_links a:visited, body#blog_index .archive_links a:visited{margin-bottom:35px;}
body#blog_bio .archive_links a, body#blog_bio .archive_links a:visited {margin-bottom:10px;}
#blogTags {text-align: center; vertical-align: middle; text-transform: lowercase; padding-bottom:10px;}
#blogTags span {vertical-align: middle; padding: 6px 4px; font-weight: bold;}
#blogTags .w1 {font-size: 10px;}
#blogTags .w2 {font-size: 10px;}
#blogTags .w3 {font-size: 12px;}
#blogTags .w4 {font-size: 12px;}
#blogTags .w5 {font-size: 14px;}
#blogTags .w6 {font-size: 16px;}
#blogTags .w7 {font-size: 18px;}
#blogTags .w8 {font-size: 20px;}
#blogTags .w9 {font-size: 22px;}
#blogTags .w10 {font-size: 24px;}
#blogTags a:hover {text-decoration:none; color:#fff;}

#blog_index .blog_excerpt .blog_body_text img, #blog_v2_entry .blog_excerpt .post_body img, #blog_archive .blog_excerpt .blog_body_text img {padding-right: 13px;}
#blog_v2_entry .next_article_button{padding-left: 3px;padding-top: 0;margin-top: -2px;}
#blog_v2_entry .next_article_button a{display: table-cell;height: 35px;vertical-align: middle;}
#blog_v2_entry .next_article_link{padding-right: 3px;padding-top: 0;margin-top: -2px;margin-left: 21px;}
#blog_v2_entry .next_article_link a{display: table-cell;height: 35px;vertical-align: middle;width: 200px;}
#blog_v2_entry .prev_article_button{padding-left: 3px;padding-top: 0;margin-top: -2px;}
#blog_v2_entry .prev_article_button a{display: table-cell;height: 35px;vertical-align: middle;}
#blog_v2_entry .prev_article_link{padding-right: 3px;padding-top: 0;margin-top: -2px;}
#blog_v2_entry .prev_article_link a{display: table-cell;height: 35px;vertical-align: middle;}
#blog_v2_entry #adCirc_620_100{margin-top: 35px;}
#blog_v2_entry #content_well{margin-bottom: 10px;}
#content_well.blog_entry_lite .blog_excerpt {border-bottom:0px; padding-bottom:0px;}
#redesignBlogs #related_links {margin-bottom:20px;}
#content_well.blog_entry_lite .blog_excerpt .blog_categories{display:block;margin-top: 10px;}
#content_well.blog_entry_lite .blog_excerpt .blog_categories span{font-size:14px;line-height:30px;}
.CNTR_next_prev {/*font-size:14px; line-height:16px;*/font-weight: bold; display: block; float: left; width: 640px; border-style:dotted; border-color:#000; border-width:2px 0px 2px 0px;height:auto; padding:8px 0px;/*new */ font-size:12px; line-height:14px;}
.CNTR_next_prev a, .CNTR_next_prev a:visited, .blog_pagination a, .blog_pagination a:visited{color: #5e50a1;}
.CNTR_next_prev a:hover, .blog_pagination a:hover{color: #5e50a1; text-decoration: underline;}
.prev_article_button{width: 8px; display: block; float: left; text-align: right; margin: 0; padding: 15px 3px 0 0;}
.next_article_button {width:8px; display: block; float: left; text-align: left; margin: 0; padding: 15px 0 0 3px;}
.prev_article_link {width: 147px; text-align: left; padding: 0px 28px 0 0; float: left; display: block;}
.next_article_link {width: 145px; text-align: right; padding: 0px 0 0 30px; float: left; display: block;}
.blog_home_link {width: 260px; height: 17px; text-align: center;  padding:8px 0px; float: left; display: block; border-left: 1px #9e9e9e dotted; border-right: 1px #9e9e9e dotted;}
#blog_archive .CNTR_next_prev .prev_article_link, #blog_archive .CNTR_next_prev .next_article_link {padding-top:8px;}
#blog_archive .CNTR_next_prev .next_article_button, #blog_archive .CNTR_next_prev .prev_article_button {padding-top:10px;}
ul.blogroll.left, ul.blogroll {width:150px; display:block; float:left;}
ul.blogroll.left {margin-right:30px;}
ul.blogroll li {margin-bottom:10px;}
ul.blogroll img.arrow_right {padding:0 0 1px 3px;}

ul.blogs_arrowList {width:313px; margin:0px; padding:15px 15px 10px 15px; float:left;}
ul.blogs_arrowList li{line-height:18px;}
ul.blogs_arrowList li:nth-child(1) span{margin-top:0px;}
ul.blogs_arrowList li span{background:#005095; width:76px;display:block;color:#FFF;padding:0px 5px;text-transform: uppercase;height: 17px;font-weight: normal;margin:4px 0 3px 0;}
.rc_module_col_2 li, .rc_module_col_1 li {line-height:18px;}
img.thumb3 {border:solid 1px #e21361; height:100px; width:100px; padding:0px; float:left;}

.bio_author_module .author_hr {border-bottom:2px dotted #000; padding-top:20px; margin-bottom:30px; clear:both;}
.blog_excerpt .tools {margin-top:10px;margin-bottom:-3px;}
#blog_v2_entry #related_links {margin-bottom:10px;}
#blog_archive #content_well {border-bottom:0px;}

#blog_bio h1, #blog_bio h2 {font-weight:bold; font-size:22px;margin:0 0 5px 0; padding:0; letter-spacing:-0.1ex; line-height:24px;}
.blog2_author {margin-top:20px; border-top:dotted 2px #000;padding-top:20px;}
.bio_author_module .blog_bio_clear {clear: both; float: none; height: 0px; font-size: 0px; margin-bottom: 20px;}
#blog_bio h3 {font-size:14px; color:#000; text-transform:none; margin:0 0 5px 0; padding:0px;font-weight:bold;}
.blog2_author .aboutthisblog {padding-bottom:10px; }
.sepbar {padding:0px; margin:0px; font-size:5px;}
.blog2_author .large_bio_pic {float:left; width:120px; border:solid 1px #000; margin-right:10px;}
.blog2_author .large_bio {float:left; width:506px;}
ul.bio_article_link {list-style-type:none;}
ul.bio_article_link li {margin-bottom:5px;}
.bio_auother_text {}
.blog_author_link {margin:10px 0px;float:left; padding:0px; width:506px;font-size:12px;}
.author_recent_post {font-size:12px;}
.bio_comment_count a {margin-left:10px; color:#999;}
.bio_comment_count span a b {color:#000!important;font-weight:normal;}
#content_well .body .qspBody {height:460px; width:460px;margin: 15px 0;float:left;padding-left:90px;}
#content_well .body .openBody {height:auto; width:640;margin: 15px 0 0px 0;float:left;}
#mobile #content_well .body p.bull{margin:0 0 10 0px; padding:0px;}
.amsCosOutbrain610x{clear:both;display:block;width: 610px;padding:20px 0 0;}
.flipbook_2 #content_sec_fb_frame{float:none;}
.flipbook_2 #content_sec_fb_more_title{padding-top: 10px;}

.SexPosition .viral_tools{display: block;width: 455px;float: none;height: 22px;}
.spodc2{float: right;height: 68px;position: relative;width: 454px;}
.spodc2 #vt_bottom{float: right;height: 20px;width: 454px !important;}
.spodc2 #vt_bottom.viral_tools{min-width: 454px !important;}

.spodc2 #vt_bottom .xs_viral_button_b.right.twitterbot {position: absolute;right: 135px !important;top: 0;}
.spodc2 #vt_bottom .xs_viral_button_b.right.fblikebot {position: absolute;right: 245px !important;top: 0;}

.spodc2 .linktips2{float: right;height: 27px;padding-top: 5px;right: auto;top: auto;width: 453px;}
.gotop{}

.sponsored #sponsored_blog_cntr {padding:3px 10px 10px 10px; background-color:#E9E9E9;}
.sponsored #sponsored_blog_cntr p.spon_label {color:#666; text-transform:uppercase; text-align:center; margin:0px; padding:0 0 2px 0; letter-spacing:0;font-weight: bold;font-size: 11px;line-height: 18px;}
.sponsored #sponsored_blog_cntr #sponsored_blog {background-color:#FFF; padding:15px; height:auto;}
.sponsored #sponsored_blog_cntr #sponsored_blog .blogsv2_title, .sponsored #sponsored_blog .blogsv2_title a {color:#281259;} /*  blog title is a different color */
.sponsored #sponsored_blog_cntr #sponsored_blog p.spon_logo {text-align:center; margin:0px; padding:0px;margin-bottom: 12px;}
.sponsored #sponsored_blog_cntr #sponsored_blog .CNTR_main_content h1,.sponsored #sponsored_blog_cntr #sponsored_blog .CNTR_main_content h2 a{color:#005095!important;line-height:20px;}
.sponsored #sponsored_blog_cntr #sponsored_blog .CNTR_main_content .blog_entry_date{font-size:12px; line-height:20px;}
span.sponsored{color: #005095;font-family: arial;font-size: 11px;font-weight: bold;line-height: 18px;text-transform: uppercase;}