body {
	background-color: #fff;
	background-image: none;
}
h2 {
	/* clear: none; */  /* Commented out 11-5-12 so Multimedia page will print correctly */
	width: auto;  /* IE will not allow a floated div if we omit this */
	padding-top: 0.5em;
	background: none;
}
h2.top {
	padding-top: 0.5em;
}
a:visited {
	color: #004fba;
}
#banner ul#utilities {
	display: none;
}
#banner {
	position: relative;
	height: 78px;
	background: transparent url(../images/banner-nihlogo.gif) no-repeat 418px 0;
}
#banner h2 {
	top: 8px;
}
#banner p#tagline {
	top: 38px;
}
#banner #search {
	display: none;
}
#banner p {
	top: 11px;
	left: auto;
	right: 0px;
}
#globalnav {
	display: none;
}
#home #globalnav {
	display: block;
	top: 72px;
}
#content {
	padding-top: 0;
}
#home #content {
	padding-top: 39px;
}
#breadcrumbs {
	display: none;
}
#leftnav {
	display: none;
}
#centercolumn {
	width: 653px;
	padding-bottom: 20px;
	background: none;
}
#rightcolumn {
	padding-bottom: 20px;
	background: none;
}
#leftwidecolumn {
	width: 653px;
	padding-bottom: 20px;
	padding-left: 0;
	background: none;
}
#rightwidecolumn {
	width: 944px;
	padding-right: 0;
	padding-bottom: 20px;
	background: none;
}
#singlecolumn {
	width: 944px;
	padding: 27px 0 0 0;
}
#institutes #leftwidecolumn {
	width: 944px;
	padding-right: 0;
}
#institutes #rightcolumn {
	display: none;
}

ul.news_inline_nav {
	display: none;
}


.researchmattersstory {
	width: 653px;
}
.researchmattersstory .description {
	width: 572px;
}

#rightwidecolumn .storylistitem {
	width: 944px;
}
#rightwidecolumn .storylistitem .description {
	width: 863px;
	position: relative;
}
.icd_listing_text {
	width: 824px;
}
.addthis_toolbox {
	display: none;
}

/* For jquery accordion affect */
.accordion .switch {
	display: none;
}
.accordion .collapse {
	/* display: block !important; */
}
.accordion .expand a:link, .expand a:visited {
	color: #996c36;
	padding-left: 0;
	background: none;
}
.accordion .expand a:link.open, .expand a:visited.open {
	color: #996c36;
	background: none;
}

.uptotop {
	display: none;
}
#lastupdated { 
	clear: both;
	width: 904px;
	text-align: center;
	position: static;
	padding-top: 20px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}
#socialmedia {
	display: none;
}
#home #socialmedia {
	display: block;
}
#footer {
	padding-bottom: 0;
	background-color: #fff;
}
#home #footer {
	padding-bottom: 15px;
	background-color: #e8e7e3;
}
#footer ul {
	display: none;
}