	/*All the images in the mega menu and the footer of the main page are clubbed together.*/
	
	/* Mega Menu */
	#megaMenuLayer { position: absolute; width: 792px; top: 0; left: 0; z-index: 100; }
	.megaMenu { position: relative; width: 100%; }
	.megaMenu .content { width: 100%; background: url(../images/bkg/bkg-megaMenu.png) no-repeat top left; }
	.megaMenu .bottom { height: 34px; width: 792px; background: url(../images/bkg/bkg-megaMenuBottom.png) no-repeat top left; position: absolute; bottom: -34px; left: 0; }

.N030111_GH_ClubVisa {position: relative; width: 169px; height: 31px; overflow:hidden;}
.N030111_GH_ClubVisa img {position:absolute; top:0; left:0;}
.N030111_GH_ClubVisa.spriteitem img {top: -0px; left: -0px; clip: rect(0px 169px 31px 0px);}

.N030111_GH_CService {position: relative; width: 169px; height: 31px; overflow:hidden;}
.N030111_GH_CService img {position:absolute; top:0; left:0;}
.N030111_GH_CService.spriteitem img {top: -32px; left: -0px; clip: rect(32px 169px 63px 0px);}

.fs_ol_bottom {position: relative; width: 147px; height: 45px; overflow:hidden;}
.fs_ol_bottom img {position:absolute; top:0; left:0;}
.fs_ol_bottom.spriteitem img {top: -128px; left: -0px; clip: rect(128px 147px 173px 0px);}

.ftr_hdr_GetConnected1 {position: relative; width: 87px; height: 12px; overflow:hidden;}
.ftr_hdr_GetConnected1 img {position:absolute; top:0; left:0;}
.ftr_hdr_GetConnected1.spriteitem img {top: -115px; left: -168px; clip: rect(115px 255px 127px 168px);}

.ftr_hdr_StoreDepts {position: relative; width: 117px; height: 12px; overflow:hidden;}
.ftr_hdr_StoreDepts img {position:absolute; top:0; left:0;}
.ftr_hdr_StoreDepts.spriteitem img {top: -45px; left: -170px; clip: rect(45px 287px 57px 170px);}

.ftr_iconFacebook {position: relative; width: 12px; height: 12px; overflow:hidden;}
.ftr_iconFacebook img {position:absolute; top:0; left:0;}
.ftr_iconFacebook.spriteitem img {top: -220px; left: -128px; clip: rect(220px 140px 232px 128px);}

.ftr_iconInstantAlerts {position: relative; width: 12px; height: 12px; overflow:hidden;}
.ftr_iconInstantAlerts img {position:absolute; top:0; left:0;}
.ftr_iconInstantAlerts.spriteitem img {top: -225px; left: -141px; clip: rect(225px 153px 237px 141px);}

.ftr_iconTwitter {position: relative; width: 12px; height: 12px; overflow:hidden;}
.ftr_iconTwitter img {position:absolute; top:0; left:0;}
.ftr_iconTwitter.spriteitem img {top: -99px; left: -274px; clip: rect(99px 286px 111px 274px);}

.ftr_iconYouTube {position: relative; width: 12px; height: 12px; overflow:hidden;}
.ftr_iconYouTube img {position:absolute; top:0; left:0;}
.ftr_iconYouTube.spriteitem img {top: -225px; left: -154px; clip: rect(225px 166px 237px 154px);}

.ftrhdr_aboutus {position: relative; width: 54px; height: 12px; overflow:hidden;}
.ftrhdr_aboutus img {position:absolute; top:0; left:0;}
.ftrhdr_aboutus.spriteitem img {top: -56px; left: -288px; clip: rect(56px 342px 68px 288px);}

.ftrhdr_cabelasclub1 {position: relative; width: 82px; height: 12px; overflow:hidden;}
.ftrhdr_cabelasclub1 img {position:absolute; top:0; left:0;}
.ftrhdr_cabelasclub1.spriteitem img {top: -184px; left: -144px; clip: rect(184px 226px 196px 144px);}

.ftrhdr_custserv {position: relative; width: 106px; height: 12px; overflow:hidden;}
.ftrhdr_custserv img {position:absolute; top:0; left:0;}
.ftrhdr_custserv.spriteitem img {top: -71px; left: -168px; clip: rect(71px 274px 83px 168px);}

.ftrhdr_otherdepts {position: relative; width: 117px; height: 12px; overflow:hidden;}
.ftrhdr_otherdepts img {position:absolute; top:0; left:0;}
.ftrhdr_otherdepts.spriteitem img {top: -58px; left: -170px; clip: rect(58px 287px 70px 170px);}

.ftrhdr_outdoorinfo {position: relative; width: 127px; height: 12px; overflow:hidden;}
.ftrhdr_outdoorinfo img {position:absolute; top:0; left:0;}
.ftrhdr_outdoorinfo.spriteitem img {top: -220px; left: -0px; clip: rect(220px 127px 232px 0px);}

.ftrhdr_shopresource {position: relative; width: 120px; height: 12px; overflow:hidden;}
.ftrhdr_shopresource img {position:absolute; top:0; left:0;}
.ftrhdr_shopresource.spriteitem img {top: -32px; left: -170px; clip: rect(32px 290px 44px 170px);}

.seal_m {position: relative; width: 143px; height: 45px; overflow:hidden;}
.seal_m img {position:absolute; top:0; left:0;}
.seal_m.spriteitem img {top: -174px; left: -0px; clip: rect(174px 143px 219px 0px);}

.btn-continue {position: relative; width: 61px; height: 18px; overflow:hidden;}
.btn-continue img {position:absolute; top:0; left:0;}
.btn-continue.spriteitem img {top: -212px; left: -222px; clip: rect(212px 283px 230px 222px);}

.btn-autoAndAtv_off {position: relative; width: 87px; height: 27px; overflow:hidden;}
.btn-autoAndAtv_off img {position:absolute; top:0; left:0;}
.btn-autoAndAtv_off.spriteitem img {top: -156px; left: -148px; clip: rect(156px 235px 183px 148px);}

.btn-autoAndAtv_on {position: relative; width: 87px; height: 27px; overflow:hidden;}
.btn-autoAndAtv_on img {position:absolute; top:0; left:0;}
.btn-autoAndAtv_on.spriteitem img {top: -28px; left: -291px; clip: rect(28px 378px 55px 291px);}

.btn-barginCave_off {position: relative; width: 120px; height: 31px; overflow:hidden;}
.btn-barginCave_off img {position:absolute; top:0; left:0;}
.btn-barginCave_off.spriteitem img {top: -0px; left: -170px; clip: rect(0px 290px 31px 170px);}

.btn-boating_off {position: relative; width: 67px; height: 27px; overflow:hidden;}
.btn-boating_off img {position:absolute; top:0; left:0;}
.btn-boating_off.spriteitem img {top: -56px; left: -426px; clip: rect(56px 493px 83px 426px);}

.btn-boating_on {position: relative; width: 67px; height: 27px; overflow:hidden;}
.btn-boating_on img {position:absolute; top:0; left:0;}
.btn-boating_on.spriteitem img {top: -140px; left: -383px; clip: rect(140px 450px 167px 383px);}

.btn-camping_off {position: relative; width: 75px; height: 27px; overflow:hidden;}
.btn-camping_off img {position:absolute; top:0; left:0;}
.btn-camping_off.spriteitem img {top: -115px; left: -256px; clip: rect(115px 331px 142px 256px);}

.btn-camping_on {position: relative; width: 75px; height: 27px; overflow:hidden;}
.btn-camping_on img {position:absolute; top:0; left:0;}
.btn-camping_on.spriteitem img {top: -156px; left: -236px; clip: rect(156px 311px 183px 236px);}

.btn-clothing_off {position: relative; width: 72px; height: 27px; overflow:hidden;}
.btn-clothing_off img {position:absolute; top:0; left:0;}
.btn-clothing_off.spriteitem img {top: -184px; left: -227px; clip: rect(184px 299px 211px 227px);}

.btn-clothing_on {position: relative; width: 72px; height: 27px; overflow:hidden;}
.btn-clothing_on img {position:absolute; top:0; left:0;}
.btn-clothing_on.spriteitem img {top: -56px; left: -353px; clip: rect(56px 425px 83px 353px);}

.btn-fishing_off {position: relative; width: 66px; height: 27px; overflow:hidden;}
.btn-fishing_off img {position:absolute; top:0; left:0;}
.btn-fishing_off.spriteitem img {top: -168px; left: -383px; clip: rect(168px 449px 195px 383px);}

.btn-fishing_on {position: relative; width: 66px; height: 27px; overflow:hidden;}
.btn-fishing_on img {position:absolute; top:0; left:0;}
.btn-fishing_on.spriteitem img {top: -196px; left: -383px; clip: rect(196px 449px 223px 383px);}

.btn-footwear_off {position: relative; width: 77px; height: 27px; overflow:hidden;}
.btn-footwear_off img {position:absolute; top:0; left:0;}
.btn-footwear_off.spriteitem img {top: -197px; left: -144px; clip: rect(197px 221px 224px 144px);}

.btn-footwear_on {position: relative; width: 77px; height: 27px; overflow:hidden;}
.btn-footwear_on img {position:absolute; top:0; left:0;}
.btn-footwear_on.spriteitem img {top: -71px; left: -275px; clip: rect(71px 352px 98px 275px);}

.btn-hobbies_off {position: relative; width: 71px; height: 27px; overflow:hidden;}
.btn-hobbies_off img {position:absolute; top:0; left:0;}
.btn-hobbies_off.spriteitem img {top: -84px; left: -353px; clip: rect(84px 424px 111px 353px);}

.btn-hobbies_on {position: relative; width: 71px; height: 27px; overflow:hidden;}
.btn-hobbies_on img {position:absolute; top:0; left:0;}
.btn-hobbies_on.spriteitem img {top: -112px; left: -332px; clip: rect(112px 403px 139px 332px);}

.btn-homeAndCabin_off {position: relative; width: 104px; height: 27px; overflow:hidden;}
.btn-homeAndCabin_off img {position:absolute; top:0; left:0;}
.btn-homeAndCabin_off.spriteitem img {top: -128px; left: -148px; clip: rect(128px 252px 155px 148px);}

.btn-homeAndCabin_on {position: relative; width: 104px; height: 27px; overflow:hidden;}
.btn-homeAndCabin_on img {position:absolute; top:0; left:0;}
.btn-homeAndCabin_on.spriteitem img {top: -0px; left: -291px; clip: rect(0px 395px 27px 291px);}

.btn-hunting_off {position: relative; width: 69px; height: 27px; overflow:hidden;}
.btn-hunting_off img {position:absolute; top:0; left:0;}
.btn-hunting_off.spriteitem img {top: -84px; left: -425px; clip: rect(84px 494px 111px 425px);}

.btn-hunting_on {position: relative; width: 69px; height: 27px; overflow:hidden;}
.btn-hunting_on img {position:absolute; top:0; left:0;}
.btn-hunting_on.spriteitem img {top: -112px; left: -404px; clip: rect(112px 473px 139px 404px);}

.btn-shooting_off {position: relative; width: 75px; height: 27px; overflow:hidden;}
.btn-shooting_off img {position:absolute; top:0; left:0;}
.btn-shooting_off.spriteitem img {top: -0px; left: -396px; clip: rect(0px 471px 27px 396px);}

.btn-shooting_on {position: relative; width: 75px; height: 27px; overflow:hidden;}
.btn-shooting_on img {position:absolute; top:0; left:0;}
.btn-shooting_on.spriteitem img {top: -28px; left: -379px; clip: rect(28px 454px 55px 379px);}

.img-cabelasLogoFooter {position: relative; width: 105px; height: 30px; overflow:hidden;}
.img-cabelasLogoFooter img {position:absolute; top:0; left:0;}
.img-cabelasLogoFooter.spriteitem img {top: -84px; left: -168px; clip: rect(84px 273px 114px 168px);}

.NewCabLogo {position: relative; width: 167px; height: 63px; overflow:hidden;}
.NewCabLogo img {position:absolute; top:0; left:0;}
.NewCabLogo.spriteitem img {top: -64px; left: -0px; clip: rect(64px 167px 127px 0px);}

.entrust-badge-1 {position: relative; width: 70px; height: 70px; overflow:hidden;}
.entrust-badge-1 img {position:absolute; top:0; left:0;}
.entrust-badge-1.spriteitem img {top: -143px; left: -312px; clip: rect(143px 382px 213px 312px);}






		
		
		
	