
html{height:100%;margin-bottom:1px;}
body{margin:0px;padding:0px;color:#000;font-family:Geneva, Arial,sans-serif;background:url('../../../hw-cache.worldstarhiphop.com/videos/images/bg_grad.jpg') repeat-x fixed #000;text-align:center;}
# body{margin:0px;padding:0px;color:#000;font-family:Geneva, Arial,sans-serif;background:url('http://static.worldstarhiphop.com/images/bg_grad.jpg') repeat-x fixed #000;text-align:center;}
h1{margin:0px;padding:2px 0px 5px 5px;text-align:left;font-size:small;color:#fff;}
h2{margin:10px 0px 0px 0px;font-size:medium;padding:0px 0px 0px 0px;display:inline;color:#fff;}

a img {border:none;}
a{color:#00f;font-size:10px;}


.head {color:#FFFFFF;width:1000px;height:23px;padding:0px 0px 15px 0px;margin:auto;background:url('../../../hw-cache.worldstarhiphop.com/videos/images/world-star.png') 0px 0px no-repeat;}
# .head {color:#FFFFFF;width:1000px;height:23px;padding:0px 0px 15px 0px;margin:auto;background:url('http://static.worldstarhiphop.com/images/world-star.png') 0px 0px no-repeat;}
.head a{background:none;border:none;color:#FFFFFF;font-size:12px;font-weight:bold;text-decoration:none;}
.swfCon{width:1000px;height:330px;margin:auto;padding:0px 0px 0px 0px;background:none;}
.swfCon td{background:none;}
.swf{width:800px;float:left;height:330px;padding:0px;border:1px solid #000;border-top:1px solid #808080;}
.uppedCon{width:180px;background:#3A3A3A;height:450px;border-top:1px solid #808080;overflow:hidden;}
.upped div{padding:0px 10px 0px 10px;}
.upped img{margin-top:5px;border:2px solid #000;}
.upped a{color:#fff;text-decoration:none;}

.banOneCon{margin-top:10px;}
# .banBG{height:200px;width:800px;border:1px solid #000;clear:left;float:left;width:800px;height:110px;background:url('http://static.worldstarhiphop.com/images/ban-bg.gif') #000;}
.banBG{height:200px;width:800px;border:1px solid #000;clear:left;float:left;width:800px;height:110px;background:url('../../../hw-cache.worldstarhiphop.com/videos/images/ban-bg.gif') #000;}
.banOne{width:728px;height:90px;margin:auto;margin-top:10px;} # background:url(http://www.worldstarhiphop.com/videos/images/WSHHBANNER.jpg);}
.banADS{width:728px;height:90px;margin:auto;margin-top:10px;}

.com{height:20px;text-align:left;padding-left:5px;font-size:12px;background:url('../../../hw-cache.worldstarhiphop.com/videos/images/comment_top.png');color:#fff;font-weight:bold;border-top:1px solid #000;border-bottom:1px solid #000;}
.comB{text-align:left;font-size:12px;color:#fff;font-weight:bold;padding:5px 0px 10px 5px;}
.comhead{font-size:small;color:#fff;}
.comhead2{font-size:medium;color:#fff;font-weight:bold;margin-top:4px;text-align:left;padding:4px;width:100%;}
.comhead2 a{color:#fff;font-size:small;}

.add_comh{text-align:left;margin-bottom:0px;font-size:x-small;color:#fff;height:230px;overflow:hidden;}
.add_comh{background:#3A3A3A;border-left:1px solid #000;border-right:1px solid #000;padding:5px;overflow:hidden;}

.comh{font-size:small;}	
.comment_top{background:url('../../../hw-cache.worldstarhiphop.com/videos/images/comment_top.png');height:20px;color:#fff;font-size:12px;font-weight:bold;text-align:left;padding:2px 0px 0px 5px;}
# .comment_top{background:url('http://static.worldstarhiphop.com/images/comment_top.png');height:20px;color:#fff;font-size:12px;font-weight:bold;text-align:left;padding:2px 0px 0px 5px;}
.comment_tbl{background:#3A3A3A;font-size:small;text-align:left;border:1px solid #000;border-top:none;}
.comment{color:#fff;}
.comBy{color:#000;font-weight:bold;padding:5px;background:#5A5A5A;color:#CACACA;margin:0px 5px 5px 5px;}
.comDate{color:#000;font-weight:bold;padding:0px;background:#5A5A5A;color:#CACACA;margin:0px;float:right;}
.comM{color:#fff; font-size:small;margin:5px 20px 10px 20px;}
.relatedList{background:#3A3A3A;}
.relatedCon{padding-top:20px;}
.signUpSmall{width:502px;height:78px;margin-bottom:20px;border:1px solid #000;}
# .signUpSmall{width:502px;height:78px;margin-bottom:20px;background:url("../../../i35.tinypic.com/ac3hqx.gif");border:1px solid #000;}
# .signUpSmall{width:502px;height:78px;margin-bottom:20px;background:url(http://www.worldstarhiphop.com/videos/images/WSHHBANNER-502x78.jpg);border:1px solid #000;}

.paging a{font-size:small;color:#000;font-weight:bold;}
.front_page_list_table{font-size:11px;}
.front_page_list_table a{font-size:x-small;color:#0000FF;}
.bigdate{color:#000;text-align:center;font-size:x-large;}

.movie{background:#2A2A2A;padding-top:0px;border:1px solid #000;}

.vidURLField{width:100%;}
.stripe{clear:both;margin:auto;height:21px;padding:0px 0px 0px 0px;background:url('../../../hw-cache.worldstarhiphop.com/videos/images/stripe.jpg') 0px 13px repeat-x;}
# .stripe{clear:both;margin:auto;height:21px;padding:0px 0px 0px 0px;background:url('http://static.worldstarhiphop.com/images/stripe.jpg') 0px 13px repeat-x;}
# .conCon{margin:auto;background:url('http://static.worldstarhiphop.com/images/world-star-round-bg.png') 0% 100% repeat-x #3A3A3A;border:solid 1px #000;border-bottom:none;}
.conCon{margin:auto;background:url('../../../hw-cache.worldstarhiphop.com/videos/images/world-star-round-bg.png') 0% 100% repeat-x #3A3A3A;border:solid 1px #000;border-bottom:none;}
.vidCon{padding:20px 20px 0px 20px;}
.noteCon{width:478px;text-align:left;background:#2A2A2A;margin:20px 20px 0px 5px;border:solid 1px #000;}
.noteCon div{padding:5px;}

.adsenseOne{width:468px;height:60px;}

.form1 input{border:1px solid #ccc;color:#000;}
.form1 textarea{border:1px solid #ccc;color:#000;}

.error{font-size:14px;font-weight:bold;color:#FF0000;}
.style7{font-size:12px;font-weight:bold;color:#fff;}
.style7 div{float:right;padding-right:5px;}

.style1 {font-size: 24px;font-weight: bold;color: #000000;}
.style2 {color: #000066}

.vSizeLink{background:#000;color:#fff;height:20px;font-size:small;}
.vSizeLink a{color:#fff;height:20px;font-size:small;}
.rel_thumbA{background:#2B2B2B;}
.rel_thumbB{}
.rel_thumbA,.rel_thumbB{clear:both;padding:10px 0px 10px 0px;font-size:small;font-weight:bold;height:85px;}
.rel_thumbA img,.rel_thumbB img{float:left;margin:0px 10px 0px 10px;border:2px solid #CACACA;}
.rel_thumbA a,.rel_thumbB a{font-size:small;display:block;font-weight:bold;text-decoration:none;color:#CACACA;}
.rel_thumbA a:hover,.rel_thumbB a:hover{text-decoration:underline;}

.iframe {color:#fff;text-align:left;overflow:auto;width:470px;background:#2A2A2A;margin:0px 0px 10px 10px;border:1px solid #000;}
#quality{
	font-size:12px;
	font-weight:bold;
}
#quality a:link{
	font-size:11px;
	text-decoration:none;
	color:#FFFFFF;
}
#quality a:visited{
	font-size:11px;
	text-decoration:none;
	color:#FFFFFF;
}
#quality a:hover{
	font-size:11px;
	text-decoration:none;
	color:#FF0000;
}
