html {
/*     overflow: -moz-scrollbars-vertical; */
 	overflow-x: auto;
 	overflow-y: auto;
}

/* float clearing for IE6 */
* html .clearfix, * html .clearleft {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix, *+html .clearfleft {
  min-height: 1%;
}


.clearfix:after, .clearleft:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clearleft:after {clear:left;}

/* float clearing ends */

body {
	background: #fff url('../../cdn.thomasnet.com/images/bg/sitebg.png') repeat-y center;
	margin: 0;
	font: normal 13px arial,helvetica,sans-serif;
	text-align: left;
}

table { border-collapse: collapse; }

table.center { margin-left:auto; margin-right:auto; }
table.center td { text-align:left; }
img.center { display: block; margin-left: auto; margin-right: auto; }
.center { text-align:center; }
.right { text-align:right; }
form { margin: 0; }

#tnbody { padding-bottom: 10px; width: 1002px; margin: auto; position: relative; }
#tncontent { margin: 20px 18px 7px 18px; }
#tncontenthome { margin: 7px 36px 7px 20px; }
#tncopyright { padding-top:24px; }
#tncopyright, .sociallinks { text-align: center; clear: both; }

.dkgreen { color: #093; }
.dkblue, a { color: #3e5991; }
.mdblue, a:visited { color: #70a0cf; }
.mdgreen { color: #c7e58e; }
.ltgreen { color: #f2ffd9; }
.orange, .orangetitle, .orangetxt, .alphanavlinks li.active, .alphanavlinks li.active a, .modsubgroup, .menusec, .menusec a, .phoneicon, .rsltsubtitle .hilite { color: #c27121; }
.dkgray, body, .menutitle a, .menutitle a:hover { color: #363636; }
.mdgray, .graytxt { color: #bebebe; }
.gray, .rsltsubtitle { color: #808080; }	/* 3-22-2013 */
.ltgray { color: #e6e6e6; }
.error, .alert, .req { color: #bb0000; }

.phoneicon { float:right; white-space:nowrap; margin-right:70px; }
.phoneicon img { width:16px; height:23px; margin-right:4px;}
.mapicon { vertical-align:middle; border:0; margin-left:3px; }
.callicon, .previewicon { vertical-align:bottom; border:0; }
.previewicon { width:23px; height:18px; }

a, .menutitle a:hover { text-decoration: none; }
a:hover, a.primary, #crumbs a, a.u { text-decoration: underline; }
a.primary:hover { color: #093; }
h1, .h1 { font: bold 20px arial; }
h2, .orangetxt, .modsubgroup, .advpop, .coname1, .menusec, #copromenu .inactive { font: bold 14px arial; }
h3, .phoneicon { font: bold 13px arial; }
h4, .menutitle { font: bold 16px arial; }
h5 { font: normal 16px verdana; }
h6 { font: bold 13px verdana; }
h1, h2, h3, h4, h5, h6, .menutitle { margin: 0 0 18px 0; }
.bb, .menutitle { border-bottom: 1px solid #bebebe; }
.bp { margin-bottom: 18px; }
.bnp { margin-bottom: 0px; }
.np { margin:0; padding:0; }
.normal { font-weight:normal; margin:0; }
.shadedltgray { background-color:#e6e6e6; padding:4px; }
.rsltsubtitle { padding-bottom:4px; }

.tinytxt, #headnav { font: normal 10px verdana; }
.i { font-style:italic; }
.smalltxt, #crumbs, #backtotop, #modresults ul, .alphanavlinks, .browsesub, .modopts, #complist, #copromenu .submenu, 
#coinfo td, #leftcol .rbox-menu-body ul ul, #tncopyright, .graytxt, .rsltsubtitle  
{ font: normal 11px verdana; }
.modtxt { font: bold 20px verdana; }
.adv, .coname2, .qmatch { font-weight: bold; }

.imgrollover, a img { border:0; }

ul { list-style-image: url('../../cdn.thomasnet.com/images/images/bullets.gif'); }
ul ul { list-style-image: none; list-style-type: circle; }
#modresults ul { list-style-image: none; list-style-type: none; padding-left: 9px; }
ol.padded li { margin-bottom: 18px; }
ul.padded li { margin-bottom: 9px; }

#columns { width: 100%; border: none; }
#columns td { vertical-align:top; }
#leftspacer, #rightspacer, #leftcol, #rightcol { width: 213px; }
#leftspacer, #rightspacer { height: 1px; border: 0; }

#leftcol { padding-right: 9px; }
#rightcol { padding-left: 9px; }

#leftcol h4, #rightcol h4, #maincol h4 { border-bottom: 1px solid #bebebe; }
#leftcol h4 a:hover, #rightcol h4 a:hover { text-decoration: none; }
.menusec, b, .bold, .req { font-weight: bold; }
#leftcol ul, #rightcol ul { list-style-type: none; list-style-image: none; margin: 9px 0; padding-left: 18px; }
#leftcol ul ul, #rightcol ul ul { margin: 0; }
#leftcol ul ul a,#rightcol ul ul a { font-weight: normal; }

.aboutcol { background: #fff url('../../cdn.thomasnet.com/images/bg/articles-side-navigation.png') top left no-repeat; padding: 18px; }
a.toggle, .toggle, #browsecats a.toggle, #browsecats a:hover.toggle { text-decoration: none; color: #363636; }

img.framed { outline: #e6e6e6 solid 1px; border: 4px solid #fff; }
table.imgframe { background-color: #fff; background-image: none; border: 1px solid #e6e6e6; }
table.imgframe div { margin: 4px; }
table.imgframe td { padding:0; background-color:#fff; background-image:none; }
.dblarrow { width: 21px; height: 13px; border: 0; }

.printscreen { text-align: right; margin: 36px 36px 0 0; }
.printscreen img { border: 0; width: 53px; height: 9px; }

/* title bar used on articles and white-papers pages */
.titlebar { width: 100%; margin-bottom: 18px; }
.titlebar td { padding: 0; }
.titlebar td img { border: none; height: 35px; }
.titlebar td.home { width: 56px; }
.titlebar td.text, #columns td .titlebar td.text { vertical-align: middle; width: 100%; padding-left: 9px; background: #fff url('../../cdn.thomasnet.com/images/bg/guide_crumbs_bg.jpg') repeat-x; }
.titlebar td.end { width: 6px; text-align: right; }

.adbox { position: relative; border: solid 1px #e6e6e6; padding: 4px; }
.adbox .adtitle, .tilebox .adtitle { font: normal 9px arial; position: absolute; top: -8px; background-color: #FFF; padding: 0 4px 0 4px; right: 4px; }

.box300 { background: #fff url(../../cdn.thomasnet.com/images/bg/side_background300.png) repeat-y; width:300px; text-align:left; margin-bottom:12px;}
.box300 .body { padding:8px 18px; display:block; }
.box300 .top { background: #fff url(../../cdn.thomasnet.com/images/bg/side_top300.png) center top no-repeat; height:10px; }
.box300 .bottom { background: #fff url(../../cdn.thomasnet.com/images/bg/side_bottom300.png) center bottom no-repeat; height:10px; }
.box300 h2 { cursor: pointer; margin-bottom:0;}
.box300 ul { margin:0; }
.box300 ul li { padding-bottom:6px; }

#tnheadprint { display: none; margin-bottom: 36px; }
#headnav { padding: 3px 9px; position: absolute; top: 0; right: 0; }
#headnav a { color: #fff; }

/*#crumbs      { background: #fff url('http://cdn.thomasnet.com/images/images/bg-topline.jpg') repeat-x; position:relative; }*/
#crumbs      { position:relative; }
#backtotop   { background: #fff url('../../cdn.thomasnet.com/images/images/bg-nav.gif.png') repeat-x; margin: 18px 0; }
#crumbs, #backtotop { border: none; clear: both; padding: 8px 8px 8px 18px;  }
#backtotop { padding-right:18px; }
#utillinks { float: right; height: 22px; white-space: nowrap; padding-right: 10px; }
#utillinks img { border: 0; height: 22px; vertical-align: top; margin-left: 9px; }

table.browselist { width: 100%; }
table.browselist td { padding: 0 9px; vertical-align: top; }

.alphanavlinks { padding: 3px 0; margin-left: 0; border-bottom: 1px solid #cecece; white-space: nowrap; margin-bottom: 0; }
.alphanavlinks li { list-style: none; margin: 0; margin-left: 3px; display: inline; text-align: center; }
.alphanavlinks li a { padding: 3px 0.5em; border: 1px solid #cecece; border-bottom: none; background: #fff url('../../cdn.thomasnet.com/images/bg/alphanav.png') right repeat-y; text-decoration: none; }
.alphanavlinks li.active { padding: 3px 0.5em; border: 1px solid #cecece; border-bottom: 1px solid #fff; font-weight: bold; }

.srchnavbot, .srchnavtop { text-align: right; }
.pagenavlinks { padding: 3px 0; white-space: nowrap; margin: 18px 0; }
.pagenavlinks li { list-style: none; margin: 0; margin-left: 3px; display: inline; text-align: center; font-size: 10px; }
.pagenavlinks li img { border: none; width: 6px; height: 10px; vertical-align: bottom; }
.pagenavlinks li a, .pagenavlinks li.hover a, .pagenavlinks li.active { padding: 3px 0.5em; }
.pagenavlinks li a { border: 1px solid #cecece; background: #fff url('../../cdn.thomasnet.com/images/bg/alphanav.png') right repeat-y; text-decoration: none; }
.pagenavlinks li a:visited { color: #3e5991; }
.pagenavlinks li.hover a, .pagenavlinks li.active { border: 1px solid #093; background-color: #093; color: #fff; }
.pagenavlinks li.pghover a { border: 1px solid #093; color: #093; }
.pagenavlinks li.hover a { background-image: none; }
.pagenavlinks li.active { font-weight: bold; }

.resultrow { border-bottom: 1px dashed #e6e6e6; padding: 9px 0; clear: both; }
table.resultrow { border-bottom: 1px dashed #e6e6e6; margin-top: 9px; }
table.resultrow td {padding-bottom: 9px; }
table#advpro td#coinfo table.resultrow td { font-family: arial; }
.indent { padding-left: 18px; }

img.art100 { width: 100px; height: 100px; }
table.superfeatart, table.featart { width: 100%; border: none; }
table.superfeatart td, table.featart td { vertical-align: top; padding: 0; }
table.superfeatart td.thumbnail, table.featart td.thumbnail { padding-right: 6px; }

.featpop { position:absolute; top:80px; right:80px; z-index:900; background-color:#fff; border:2px solid #ccc;box-shadow: 5px 5px 5px #666; }
.featpopbody { margin-bottom:10px; padding:0 15px; }
.featpop h2 { font:bold 13px arial; color:#C27121; margin:3px 45px 3px 0; }
.featpopclose { background:url('../../cdn.thomasnet.com/images/rfi/images/controls.png') no-repeat scroll center top transparent;cursor:pointer; display:block;height:20px; position:absolute;right:0; text-indent;-9999px;top:0; width:51px; }
.featpopclose:hover { background-position:center bottom; }
.featpopbody p { border-top:1px solid #E6E6E6; clear:left; margin:0; padding-top:5px; font:normal 12px arial; }

#adbotbanner { text-align: center; margin: 18px 0; }
#adbotbanner a:hover { background-color: transparent; }

.adcol { text-align: center; margin-bottom: 18px; }

#debug, .listdebug, .debugbox { font: 10px verdana; color: #555; margin: 10px; padding: 10px; border: 1px solid #bebebe; background-color: #eee; clear:left; }
.debugbox { display: none; clear: both; }

/* search forms begin */

#tnhead	{ height: 85px; background: #019934 url('../../cdn.thomasnet.com/images/header/bg.png') bottom repeat-x; position:relative; }
#tnlogo { border: 0; width:236px; position:absolute; left:30px; top:17px; }

#tnsearch { position:absolute; width:672px; top:22px; left:288px; }
#tnsearch td { padding:0; white-space:nowrap; }
#tntabs { height:23px; }
#tntabs img { border:0; height:23px; }
#tnsearchflds { background-color:#fff; width:587px; height:26px; }
#tnwhat { width:571px; margin-left:8px; }
#tnwhat.supp { width:335px; }
#tncov, #tnwhat { font-size: 14px; border:0; }
#tncov { width:230px; border-left: 1px solid #bebebe; padding-left:9px; }

#tnsearch td#tnsearchbtn { padding-left:5px; }
#tnsearchbtn img { border:0; width:80px; height:26px; }

#tnsubsearch { height:24px; background:#fff url('../../cdn.thomasnet.com/images/header/subsearchbg.png') bottom repeat-x; position:relative; font:normal 11px verdana; }
#ssarrow { position:absolute; bottom:0px; left:318px; width:17px; height:5px; }
.tnsearchopts { position:absolute; left:297px; top:4px; vertical-align:middle; }
.tnsearchopts span { display:none; }
.tnsearchopts img { margin:0 4px 3px 18px; vertical-align:middle; border:0; width:16px; height:16px; cursor:pointer; }

#tnheadstripe { height:6px; border-top:2px solid #fff; }
#tnheadstripe.supp, #tnheadstripe.products { height:2px; border:none; }
#tnheadstripe.supp { background-color:#c27122; }
#tnheadstripe.products { background-color:#aecf28; }
#tnheadstripe.cad { background-color:#f0d749; }
#tnheadstripe.news { background-color:#88cfe5; }
#tnheadstripe.whitepapers, #tnheadstripe.cert { background-color:#bd423a; }

/* search forms end */

/* search results begin */

.offsite { vertical-align:bottom; margin-left:4px; border:0; width:18px; height:14px; }
table#rsltwrap { width: 100%; border: none; margin: 0; }
table#rsltwrap td { vertical-align: top; }
td#rsltl, td#rsltr { width: 170px; padding: 0; }
img.modspacer { width: 170px; height: 1px; margin: 0; }
td#rsltc { padding: 0 5px; width: 100%; }
td#rsltc h1 { margin-bottom: 0; }
td#rsltl { padding-right: 13px; }
td#rsltc dt a { font-weight: bold; }
td#rsltc .toprow { border-top: 1px solid #bebebe; }

#rsltlist { width: 100%; }
#rsltlist td    { padding: 9px 0; vertical-align: top; border-bottom: 1px dashed #bebebe; }
#rsltlist tr.hlrslt td, .hlrslt, .hlcompare  { background-color: #e6e6e6; }
#rsltlist td.listchk { border: 0; width: 19px; text-align: center; background: url('../../cdn.thomasnet.com/images/bg/dotted_line_side.gif.png') center repeat-y; }
#rsltlist td.listthumb { padding: 9px 9px 9px 0; }
#rsltlist td.listthumb img { max-width:120px; max-height:90px; }
#rsltlist tr.psrow td, #rsltlist tr#psib_spin_tr td { border:none; padding-top:7px; padding-bottom:3px; }
.hlcheck { position:absolute; top:9px; left:3px; }

.modopts { display: none; padding-left: 9px; border:none; margin: 0 0 4px 5px; line-height: 1.3em; }
.modsubgroup { cursor: pointer; margin: 3px 0; }
.modarrow { width: 10px; height: 10px; border: 0; margin: 3px 3px 0 0; }
.undo   { border: none; background-color: transparent; width: 10px; height: 10px; vertical-align: middle; }
.modmore, .modless { margin: 0; }
.modmore { display: none; }
a.undomod { color:#363636; text-decoration:none; }
#glossary { padding-bottom: 18px; }


/* narrow search styles - 10-28-2010 */
td#rsltl, img.modspacer { width:187px; }
.nar h4 { padding: 2px 0 6px 5px; margin: 0; }
.nar h4.top { padding: 0 0 6px 5px; }

.nar { background-color:#e6e6e6; margin-bottom: 18px; }
.nar_top div { background: url('../../cdn.thomasnet.com/images/bg/nar_tl.png') no-repeat top left; }
.nar_top { background: url('../../cdn.thomasnet.com/images/bg/nar_tr.png') no-repeat top right; }
.nar_bottom div { background: url('../../cdn.thomasnet.com/images/bg/nar_bl.png') no-repeat bottom left; }
.nar_bottom { background: url('../../cdn.thomasnet.com/images/bg/nar_br.png') no-repeat bottom right; }
.nar_top div, .nar_top,
.nar_bottom div, .nar_bottom { width: 100%; height: 8px; font-size: 1px; }
.nar_content { margin: 0 4px; }

.nargrp { background-color:#fff; margin-bottom: 4px; }
.nargrp_top div { background: url('../../cdn.thomasnet.com/images/bg/nargrp_tl.png') no-repeat top left; }
.nargrp_top { background: url('../../cdn.thomasnet.com/images/bg/nargrp_tr.png') no-repeat top right; }
.nargrp_bottom div { background: url('../../cdn.thomasnet.com/images/bg/nargrp_bl.png') no-repeat bottom left; }
.nargrp_bottom { background: url('../../cdn.thomasnet.com/images/bg/nargrp_br.png') no-repeat bottom right; }
.nargrp_top div, .nargrp_top,
.nargrp_bottom div, .nargrp_bottom { width: 100%; height: 4px; font-size: 1px; }
.nargrp_content { margin: 0 4px; }
.modlinks { padding-left:6px; }
.modlinks a { margin-bottom:4px; display:block; }
.modlinks a.undomod { color:#363636; text-decoration:none; }
/**/

table#servloctabs       { width: 100%; }
table#servloctabs td    { padding: 0; white-space: nowrap; background: url('../../cdn.thomasnet.com/images/images/cecece.gif') bottom repeat-x; border: 0; }
table#servloctabs td.servlocon, table#servloctabs td.servlocoff { white-space: nowrap; padding: 2px 5px 2px 5px; font: bold 11px verdana; vertical-align: middle; }
table#servloctabs td.servlocon  { white-space: nowrap; background: url('../../cdn.thomasnet.com/images/images/servloc-on-bg.jpg') left repeat-x; color: #c27121; }
table#servloctabs td.servlocoff { background: url('../../cdn.thomasnet.com/images/images/servloc-off-bg.jpg') left no-repeat; }
table#servloctabs td.servlocoff, table#servloctabs td.servlocoff a, table#servloctabs td.servlocoff a:hover { color: #3e5991; text-decoration: none; background-color: transparent; }

#complist { background-color: #e6e6e6; margin-bottom: 18px; padding: 9px; line-height: 2em; border: 1px solid #bebebe; }

#comparetop { border-bottom:1px solid #bebebe; clear:both; padding-bottom:7px; margin:18px 0 7px; }
#comparebottom { padding-bottom:7px; margin:9px 0; }
.comparechk { vertical-align: middle; width: 25px; height: 23px; }
.resultdata { border-bottom:1px dashed #bebebe; padding:9px 0 9px; position:relative; clear:left; }

/* search results end */

/* home page begins */

table#homebrowse { width: 640px; border-collapse: collapse; border: 0; }
table#homebrowse td.wrapper { padding: 0; }

.welcome   { padding-right:50px; margin-bottom: 25px; clear:both; }
.welcome_head      { background-position:top right; margin-right:-30px; padding-right:10px; }
.welcome_head h4   { background-position:top left; margin:0; padding:20px 0 0 25px; height:auto !important; height:1%; } /* IE Holly Hack */
.welcome_body      { background-position:bottom left; margin-right:0; padding:0 0 12px 10px; }

.homebox { width: 298px; height: 269px; background: #fff url('../../cdn.thomasnet.com/images/bg/box1.png') no-repeat; overflow: hidden; margin: 9px auto; }
.homebox2 { width: 298px; height: 125px; background: #fff url('../../cdn.thomasnet.com/images/bg/box2.png') no-repeat; overflow: hidden; margin: 9px auto; }
.homebox .body, .homebox2 .body { margin: 16px; }
.homebox h1 { clear: both; }
.homebox2 h1 { margin-bottom:6px; }
.homebox h2, .homebox2 h2 { display: inline; margin: 0 auto; }

.closedbox { width: 298px; height: 34px; background: #fff url('../../cdn.thomasnet.com/images/bg/closed_bucket.jpg') no-repeat; overflow: hidden; margin: 9px auto; }
.openedbox { width: 298px; height: 184px; background: #fff url('../../cdn.thomasnet.com/images/bg/open_bucket.jpg') no-repeat; overflow: hidden; margin: 9px auto; }
.closedbrowsebox, .openedbrowsebox { width: 944px; overflow: hidden; margin: 9px auto; }
.closedbrowsebox { height: 47px; background: #fff url('../../cdn.thomasnet.com/images/bg/browse-cat-closed.jpg') no-repeat; }
.openedbrowsebox { height: 323px; background: #fff url('../../cdn.thomasnet.com/images/bg/browse-cat-opened.jpg') no-repeat; }
.closedbox h2, .openedbox h2 { margin: 10px 0 0 0; cursor: pointer; } 
.closedbrowsebox h2, .openedbrowsebox h2 { margin: 13px 0 0 0; cursor: pointer; }
.closedbox h2 img, .openedbox h2 img, .closedbrowsebox h2 img, .openedbrowsebox h2 img, .box300 h2 img { border: 0; vertical-align: middle; margin: 0 4px 0 13px; width: 12px; }
.closedbox div, .openedbox div, .closedbrowsebox div, .openedbrowsebox div { margin: 18px; }
.openedbrowsebox table { width:100%; margin: 0 0 0 18px; }
.openedbrowsebox table td { vertical-align:top; width:20%; }

#homeboxes { width: 936px; }
#homeboxes td { vertical-align: top; }

#browsecathead { margin: 0 0 18px 24px; }
#browsecathead h1 { margin: 0; }
#browsetabs { width: 612px; height: 34px; margin: 0 auto; background: #fff url('../../cdn.thomasnet.com/images/images/browse_products.png') no-repeat; }
#browsetabs div { text-align: center; width: 203px; border: 0; float: left; margin-top: 8px; }
#browsetabs h4 { margin: 0; display: inline; }
#browsetabs h4 a { text-decoration: none; }

#browsecats table { width: 576px; margin: 18px auto 0 auto; }
#browsecats table td { vertical-align: top; width: 50%; }

table#browsecats td { vertical-align: top; width: 30%; font: normal 11px verdana; padding: 9px; }
table#browsecats td .supercat { font: bold 13px arial; }


.browseopened, #opened-1, #opened-11, #opened-106, #opened-157, #opened-256, #opened-316, #opened-362, #opened-434, #opened-494, #opened-867,
#opened-962, #opened-1101, #opened-1263, #opened-1299, #opened-1361, #opened-1443, #opened-1043 { display: none; margin-bottom: 6px; }

.browseclosed, #closed-1, #closed-11, #closed-106, #closed-157, #closed-256, #closed-316, #closed-362, #closed-434, #closed-494, #closed-867,
#closed-962, #closed-1101, #closed-1263, #closed-1299, #closed-1361, #closed-1443, #closed-1043 { margin-bottom: 3px; }
.browsesub { padding-left: 20px;}



/* home page ends */

/* profile page begins */
#coprowrapper, #coprobody { width: 100%; }
#coprowrapper td { vertical-align: top; }
#coprobody, #copromenu, #coprorightcol { border-top: 1px solid #bebebe; }
#coprowrapper, #coprobody, #copromenu, #coprorightcol { border:0; background: url('../../cdn.thomasnet.com/images/bg/gray4x4.png') top repeat-x; }
#copromenu { background: url('../../cdn.thomasnet.com/images/bg/gray4x4.png') right repeat-y; padding:0 0 18px 0; width:160px; }
#copromenu .active { border:none; border-left:4px solid #e6e6e6; background-color:#fff; }
#coprobody { padding: 24px 0 18px 24px; }
#coprorightcol { padding: 24px 0 18px 12px; width: 300px; }
#copromenuspacer { width: 160px; height: 1px; }
#coprorightspacer { width: 300px; height: 1px; }
#copromenu a { color:#3E5991; }


#profilehead { width: 100%; border-collapse: collapse; }
#profilehead td { vertical-align: top; padding: 0;}
#profilehead td.addr { white-space: nowrap; }
#profilehead h1 { display: inline; margin: 0; }
.tellsupps { margin: 9px 0; white-space: nowrap; }
.pbnav { border:0; vertical-align:middle; margin-left:15px; width:102px; height:26px; }

#coproads    { float: right; margin-left: 18px; text-align: center; background-color: #fff; }

#proforms { width: 325px; border: 1px solid #bebebe; background-color: #F2FFD6; margin-bottom: 10px; padding: 10px 5px; text-align: left; }
#proforms textarea { width: 293px; height: 125px; margin: 10px 0 10px 0; }
#proforms .coaddr { margin: 15px 0 15px 0; font-size: 12px; }

#proformtabs { padding: 4px 0; margin-left: 0; border-bottom: 1px solid #bebebe; font: bold 10px verdana; color: #363636; white-space: nowrap; margin-bottom: 0; text-align: left;}
#proformtabs li { list-style: none; margin: 0; display: inline; }
#proformtabs li a { padding: 4px 0.5em; margin-left: 6px; border: 1px solid #bebebe; border-bottom: none; background-color: #e6e6e6; text-decoration: none; }
#proformtabs li a:link, #proformtabs li a:visited, #proformtabs li.active{ color: #363636; }
#proformtabs li.active a { background-color: #F2FFD6; color: #363636; border-bottom: 1px solid #F9F9E6; }

table#coinfo { border: 1px solid #bebebe; }
table#coinfo tr.bg0	{ background-color: #e6e6e6; }
table#coinfo tr.bg1	{ background-color: #fff; }
table#coinfo td	{ vertical-align: top; padding: 2px; }
table#coinfo td.label	{ font-weight: bold; }

#tnettooltip{
	position: absolute;
	border: 1px solid #000;
	width: 150px;
	padding: 2px;
	background-color: #FFFFE1;
	visibility: hidden;
	font: normal 10px verdana;
	z-index: 100;
}

.isyourco { margin:36px auto 18px auto; width:131px; font-size:12px; line-height:1.4em; }
.isyourco img { width:131px; height:21px; margin-bottom:6px; }
.isyourco .feedback { margin-top:60px; }
.isyourco .feedback a, #copromenu .feedback a { color: #bebebe; }

/* profile page ends */

ul.roman { list-style-type: lower-roman; list-style-image: none; }
ul.roman li { margin-bottom: 9px; }

/* menus begin */
.rbox-menu, .rbox-menu170	{
	background-image: url('../../cdn.thomasnet.com/images/images/side_background.jpg');
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0 0 18px 0;
	width: 100%;
}
.rbox-menu-top, .rbox-menu-top170	{
	background-image: url('../../cdn.thomasnet.com/images/images/side_top.jpg');
	height: 13px;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
}

.rbox-menu-body	{ padding: 5px 18px 0 18px; }
#leftcol .rbox-menu-body ul ul { margin-bottom: 9px; }
.rbox-menu-body li { margin-bottom: 8px; }

.rbox-menu-bottom, .rbox-menu-bottom170	{
	background-image: url('../../cdn.thomasnet.com/images/images/side_bottom.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 53px;
}
.rbox-menu170 { background-image: url('../../cdn.thomasnet.com/images/bg/side_background170.png'); width: 170px; }
.rbox-menu-top170	{ background-image: url('../../cdn.thomasnet.com/images/bg/side_top170.png'); }
.rbox-menu-bottom170	{ background-image: url('../../cdn.thomasnet.com/images/bg/side_bottom170.jpg'); }

/* menus end */
.rfpvids { width:100%; }
.rfpvids th, .rfpvids td { text-align:center; width: 33%; }
.rfpvids td img { border:none; width:180px; }

.phonefax td { vertical-align:top; font-weight:bold; white-space:nowrap; }

/* ALL OF THIS IS OLD AND SHOULD BE REPLACED */


table.rsltli    { width: 100%; margin: 0; }
table.rsltli td { vertical-align: top; }
table.rsltli td.adbodyright     { text-align: right; }

table#suppcomp { border: 0; }
table#suppcomp th { font: bold 12pt verdana; text-align: left; color: #fff; background-color: #696; border-bottom: 1px solid #bebebe; padding-left: 3px; }
table#suppcomp th a { color: #fff; background-color: #696; text-decoration: none; }
table#suppcomp td { border: 1px solid #bebebe; border-bottom: 0; padding: 4px; }
table#suppcomp td.shaded, table#suppcomp td.shadedjoin, table#suppcomp tr.hilite td.shaded, table#suppcomp tr.hilite td.shadedjoin { background-color: #fff; }
table#suppcomp td.shadedjoin, table#suppcomp td.join  { border-top: none; padding-top: 4px; }
table#suppcomp tr.hilite td, table#suppcomp tr.hilite td.join { background-color: #e6e6e6; }
table#suppcomp td.nonqs { background-color: #fff; border-bottom: none; vertical-align: top; }
table#suppcomp tr.hdr td { background: #fff url('../../cdn.thomasnet.com/images/bg/tbl_header_gradient.jpg') top repeat-x; vertical-align: middle; border-top: 0; }
table#suppcomp tr.hdr td.lt { background: #fff url('../../cdn.thomasnet.com/images/bg/tbl_header_gradient_left.jpg') top left no-repeat; white-space: nowrap; padding-left: 10px; border-left: 0; }
table#suppcomp tr.hdr td.rt { background: #fff url('../../cdn.thomasnet.com/images/bg/tbl_header_gradient_right.jpg') top right no-repeat; border-top: 0; border-right: 0; }
table#suppcomp tr.ftr td { background: #fff url('../../cdn.thomasnet.com/images/bg/tbl_footer_gradient.jpg') bottom repeat-x; vertical-align: middle; border-bottom: 0; }
table#suppcomp tr.ftr td.lt { background: #fff url('../../cdn.thomasnet.com/images/bg/tbl_footer_gradient_left.jpg') bottom left no-repeat; white-space: nowrap; padding-left: 10px; border-left: 0; border-bottom: 0; }
table#suppcomp tr.ftr td.rt { background: #fff url('../../cdn.thomasnet.com/images/bg/tbl_footer_gradient_right.jpg') bottom right no-repeat; border-bottom: 0; border-right: 0; }

.sociallinks { border-bottom:1px solid #e6e6e6; padding-bottom:9px; margin:0 36px 9px 36px; }
.sociallinks img { border:0; vertical-align:middle; width:17px; height:17px; }
.sociallinks a { text-decoration:none; margin:0 7px; }
.sociallinks div { margin:0 7px; display:inline; }
.sociallinks div div { vertical-align:middle; }

.footerlinks { margin:0 36px; clear:both; }
.footerlinks div { float:right; margin-left:65px; white-space:nowrap; }

table.grid, table.grid2 { width: 100%; border: 1px solid #bebebe; margin-bottom: 18px; }
table.grid th, table.grid2 th   { background: #fff url('../../cdn.thomasnet.com/images/images/bg-topline.jpg') top repeat-x; padding: 5px; border: 1px solid #bebebe; text-align: left; }
table.grid th.center, table.grid2 th.center { text-align: center; }
table.grid td, table.grid2 td { padding: 5px; border: 1px solid #bebebe; vertical-align: top; }
table.grid tr.bg0, table.grid2 tr.bg0   { background-color: #fff; }
table.grid tr.bg1, table.grid2 tr.bg1   { background-color: #e6e6e6; }
table.grid table, table.grid table td, table.grid table th, table.grid2 table, table.grid2 table td, table.grid2 table th { border: none; font-size: 100%; }
table.grid li, table.grid2 li { padding-bottom: 6px; }

table.chart { width: 100%; border: 1px solid #bebebe; margin-bottom: 18px; }
table.chart th { background: #fff url('../../cdn.thomasnet.com/images/images/bg-topline.jpg') top repeat-x; padding: 4px; text-align: left; }
table.chart td { border-top: 1px solid #bebebe; padding: 4px; vertical-align: top; }
table.chart tr.bg0 { background-color: #fff; }
table.chart tr.bg1 { background-color: #e6e6e6; }

table#locations	{ width: 100%; }
table#locations th	{ text-align: left; background-color: #e6e6e6; border-bottom: 1px solid #bebebe; border-top: 1px solid #bebebe; padding: 5px; text-transform: uppercase; }
table#locations td	{ padding: 5px; vertical-align: top; border-top: 1px dashed #bebebe; }
table#locations td.phones	{ white-space: nowrap; text-align: right; }
table#locations tr.focus td	{ background-color: #f9f9f9; }

td#suppads { vertical-align: top; width: 140px; padding: 10px 0 0 18px; font-weight: bold; }
td#suppads div { margin: 22px 0 0 0; font: normal 11px arial; color: #363636; }

table#smcatthumbs	{ border-collapse: collapse; margin-top: 6px; width: 100%;}
table#smcatthumbs td	{ text-align: center; vertical-align: middle; }
table#smcatthumbs td.thumbnails	{ background: url('../../cdn.thomasnet.com/images/images/scroll_bg_sm.gif') center repeat-x; }
table#smcatthumbs td img	{ height: 76px; border: none; }
table#smcatthumbs td.thumbnails img	{ margin: 10px; }
table#smcatthumbs td a	{ background: transparent; }
table#smcatthumbs td.prev, table#smcatthumbs td.next	{ width: 31px; padding: 0; border: none; }
table#smcatthumbs td.prev img, table#smcatthumbs td.next img	{ width: 31px; height: 96px; border: none; }

table#lgcatthumbs	{ border-collapse: collapse; margin-top: 18px; width: 720px;}
table#lgcatthumbs td	{ text-align: center; vertical-align: middle; }
table#lgcatthumbs td.thumbnails	{ background: url('../../cdn.thomasnet.com/images/images/scroll_bg_lg.gif') center repeat-x; }
table#lgcatthumbs td img	{ height: 105px; border: none; }
table#lgcatthumbs td.thumbnails img	{ margin: 10px; }
table#lgcatthumbs td a	{ background: transparent; }
table#lgcatthumbs td.prev, table#lgcatthumbs td.next	{ width: 31px; padding: 0; border: none; }
table#lgcatthumbs td.prev img, table#lgcatthumbs td.next img	{ width: 31px; height: 125px; border: none; }

.wpabstract td { vertical-align: top; }
#popbody { margin:9px; }
#popbody ul	{ margin-left: 8px; padding-left: 8px; }

div#aboutforum {
background-color:#e6e6e6;
border:1px solid #bebebe;
font: bold 10px verdana;
line-height:1.5em;
padding:5px;
text-align:center;
}

#cadmodels { width: 100%; margin: 18px 0; border-top: 1px dashed #bebebe; border-bottom: 1px dashed #bebebe; background-color: #e6e6e6; } 
#cadmodels td { padding: 10px; }

.debuglink { font-size: 11px; }
.debuglink img { border: 0; width: 17px; height: 17px; }

.catsortopts { padding-left:18px; margin-bottom: 18px; }
.catsortopts img { vertical-align:middle; height:25px; }

.pagenavsort { width:100%; margin:18px 0; border:6px solid #e6e6e6;}
.pagenavsort td { background-color:#e6e6e6; vertical-align:middle; padding:0 1px; white-space:nowrap;}
.pagenavsort .pagenavlinks { margin:0; display:inline;}

/* product search vertical creep */
.psvc { border:0; }
.psvc td { width:100%; padding:6px 9px; vertical-align:middle; background: url('../../cdn.thomasnet.com/images/bg/creep-mid.jpg') repeat-x; }
.psvc td.left, .psvc td.right { width:10px; padding:0; }
.psvc td.left img, .psvc td.right img { width:10px; height:131px; }
.psvc td .psvcmain { font-size:14px; margin-bottom:9px; }
/**/

.searchribbon { height:25px; background:#fff url('../../cdn.thomasnet.com/images/bg/ibar.jpg') bottom repeat-x; vertical-align:middle; }
.searchribbon div { width:16px; height:25px; margin:0 9px 0 0; float:left; }
.searchribbon div.rsupp { background-color:#d8722a; }
.searchribbon div.rcad { background-color:#f0d749; }
.searchribbon div.rproducts { background-color:#abcd1f; }
.searchribbon div.rnews { background-color:#81d4e4; }
.searchribbon div.rwhitepapers, .searchribbon div.rcert { background-color:#bd423a; }
.searchribbon h4 { margin:0; padding-top:3px; }

table.srchrbn, table.srchrbn td.label { width:100%; }
table.srchrbn td { background:url('../../cdn.thomasnet.com/images/images/srchrbn_bg.jpg') repeat-x; padding:0;}
table.srchrbn td h4 { margin:0; } 
.altresults { margin-bottom:24px; font-style:italic; }

table.matchcols, table.cols { margin: 0; border: none; width: 100%; }
table.cols td { vertical-align:top; padding:0; }
table.links td br { display:block; margin:0 0 8px 0; }
table.matchcols td { padding: 0; width: 50%; vertical-align: top; font-size:13px; }
table.matchcols td h4 { margin:0; }
.srchrslts { margin-bottom: 18px; }

table.intnorslts { width:550px; }
table.intnorslts td, table.intnorslts td img { padding:0; width:15px; vertical-align:middle; }
table.intnorslts td.suggestions { padding:0 18px; width:520px; background:url('../../cdn.thomasnet.com/images/bg/open_bucket_c.jpg') repeat-x top center; }

table.gbform td { font-size: 12px; padding: 4px; }
table.gbform th { text-align: left; font-weight: bold; font-size:13px; padding: 4px; background-color: #f2f2f2; }

table.basicform td { padding:4px 8px 4px 0; }
table.basicform td.label { font-weight:bold; }

.cpsocmed { white-space:nowrap; }
.cpsocmed img { border:0; margin-right:6px; height:32px; width:32px; }

table.cpdata td { padding:2px 4px 4px 0; }

.ccp { margin-bottom:18px; }
.ccp h4 { background-color:#e6e6e6; margin-bottom:18px; padding:4px; }
/*.ccpmedia { margin-bottom:18px; }*/
.ccpmedia td { vertical-align:top; padding: 0 18px 18px 0; }
.ccpmedia td img { max-width:120px; }
.ccpexpand { margin: 3px 0; }
.ccpexpand img { margin-right: 4px; border:none; vertical-align:middle; }
.ccpmore { margin: 18px 0; }
.ccpmore img { border:none; }
.ccppreview { background-color:#f2ffd9; padding:4px; border:1px solid #008025; }
.ccpmedia tr.ccppreview td, #rsltlist tr.ccppreview td { background-color:#e2edde; padding:4px; }

.morestates { margin: 0 0 9px 0; }
.psblock { border:2px solid #bebebe; border-left:none; border-right:none; padding:12px 0; }
.psblock h2 { margin-bottom:14px; }
.psblock table	{ margin:0; }
#rsltlist td .psblock table td { padding:0; border:none; }

.intprod { margin: 18px 0 0 18px; }
.intprod td { vertical-align:top; padding:0 9px 9px 0; }
.allmatches { padding-left:20px; }

/*  Begin Styles for the Survey Bar  */
#surveybar {
	z-index: 1;
	position: fixed;
	width: 1002px;
	bottom: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	height: 28px; 
	background-color: #363636; 
	color: white;
}
#surveybar div {
	margin: 0 auto; height: 28px; width: 75%; 
}
#surveybar #surveyClose {
	position: absolute; 
	right: 10px; 
	top:5px; 
	width: 18px;
}
#surveybar div img {
	vertical-align: middle;
}

/* End Styles for the Survey Bar */

.cadavail { width:95px; height:20px; margin-top:6px; }
table#resourcelinks td { border-bottom: 1px dashed #cecece; padding: 15px 5px; }

table#resources { width: 100%; }
table#resources td { border-bottom: 1px dashed #e6e6e6; padding: 9px 0; vertical-align: top; }
table#resources td.logo { text-align: center; padding-right: 5px; padding-left: 5px; }
table#resources td.logo img { border: none; }

div.servlist { clear: both; border-bottom: 1px dashed #ccc; width: 95%; margin: 0 auto 0 auto; padding: 10px 5px 5px 5px; }
.servtitle { font-weight: bold; }
table.servaddr { margin: 1px 0 0 -2px; }
table.servaddr td { white-space: nowrap; vertical-align: top; padding: 0 2px 0 0; }
div.servtop { clear: both; padding: 5px 0 5px 18px; margin: 2px 0 2px 0; background: url('../../cdn.thomasnet.com/images/images/icon_15x11_uparrow.gif') no-repeat center left; }
table.grid { width: 100%; }
table.grid table.ores { float: right; width: 225px; border: 2px solid #eee; }
table.grid table.ores th { background-color: #eee; text-align: left; padding:3px; }
table.grid table.ores td { padding-left: 8px; }
table.grid table.ores td ul { margin: 0 0 0 8px; padding-left: 8px; }
table.grid table.ores td ul li { margin: 2px 0 2px 0; }

table#browsehome { width: 600px; margin-top: 18px; }
table#browsehome td { width: 50%; vertical-align: top; }

.aboutbeta { width:100%; margin-top:22px; }
.aboutbeta td img { border:none; }
.aboutbeta h3 { margin-bottom: 4px; }
.aboutbeta td.content { border: 1px solid #e6e6e6; background: #fff url('../../cdn.thomasnet.com/images/bg/beta_box.png') repeat-x top; width: 50%; vertical-align:top; padding:18px; }
.aboutbeta td div { text-align:center; }
.aboutbeta td.spacer, .aboutbeta td.spacer img { width:30px; }
.aboutbeta td table { width:100%; margin:22px 0; }
.aboutbeta td table td { width:50%; padding:0 9px; vertical-align:top;}

.psverts { margin:0 42px; }
.psverts table#browsehome { width:100%; }
.psverts table#browsehome td { vertical-align:top; width:50%; }
.psverts .browseopened, .psverts .browseclosed { margin-bottom:13px; }

.menusep, .menusep div { height:12px; padding:0; margin:0; }
.menusep { background: url('../../cdn.thomasnet.com/images/bg/gray4x4.png') center repeat-x #fff; }
.menusep div { background:url('../../cdn.thomasnet.com/images/bg/menusep-right.png') no-repeat scroll right center; }
.menusep div.open1 { background:url('../../cdn.thomasnet.com/images/bg/menusep-open-top.png') no-repeat scroll right center; }
.menusep div.open2 { background:url('../../cdn.thomasnet.com/images/bg/menusep-open-bot.png') no-repeat scroll right center; }
.menusep div div { background:url('../../cdn.thomasnet.com/images/bg/menusep-left.png') no-repeat scroll left center; }
.menusep div div.pmclose { background:url('../../cdn.thomasnet.com/images/bg/menusep-bot-left.png') no-repeat scroll left center; }
.menugroup { padding: 3px 0 3px 10px; background-color:transparent; border-left:4px solid #e6e6e6; }

.menusep.top { height:8px; background: url('../../cdn.thomasnet.com/images/bg/gray4x4.png') top repeat-x #fff; }
.menusep.top div { height:8px; background:url('../../cdn.thomasnet.com/images/bg/menusep-top-right.png') no-repeat scroll right top; }
.menusep.top div.open { height:8px; background-image:none; }
.menusep.top div div { background:url('../../cdn.thomasnet.com/images/bg/menusep-top-left.png') no-repeat scroll left top; }
.menugroup.active { padding: 3px 0 3px 10px; background-color:#fff; border-left:4px solid #e6e6e6; }

#compbtn { text-align: center; padding: 4px 0 4px 0; }

#servingtabs, #locatedtabs { width: 100%; }
#servingtabs td, #locatedtabs td { padding:0; font:bold 11px verdana; vertical-align:middle; white-space: nowrap; background: url('../../cdn.thomasnet.com/images/images/cecece.gif') bottom repeat-x; border: 0; }
#servingtabs td.tabon, #locatedtabs td.tabon, #servingtabs td.taboff, #locatedtabs td.taboff { padding:5px 5px 0 5px; }
#servingtabs td.tabon, #locatedtabs td.tabon { background:url('../../cdn.thomasnet.com/images/images/servloc-on-bg.png') top repeat-x; color:#c27121; }
#servingtabs td.taboff, #locatedtabs td.taboff { background:url('../../cdn.thomasnet.com/images/images/servloc-off-bg.png') top right no-repeat; }
#servingtabs td.taboff, #servingtabs td.taboff a, #servingtabs td.taboff:hover, #locatedtabs td.taboff, #locatedtabs td.taboff a, #locatedtabs td.taboff a:hover { color: #3e5991; text-decoration: none; }
#servingtabs td.compare, #locatedtabs td.compare { padding:10px 5px 0 30px; }
#servingtabs td.left img, #locatedtabs td.left img, #servingtabs td.right img, #locatedtabs td.right img { width:14px; height:39px; }
#servingtabs td.mid img, #locatedtabs td.mid img { width:32px; height:39px; }

#commodlist { width:95%; margin:auto; }
#commodlist td { vertical-align:top; width:50%; padding:4px 6px 4px 0; }
#commodlist td td { width:auto; }
#commodlist .recno { text-align:right; }
#commodlist li { padding-bottom:6px; }

.sharestorybtn { text-align:center; }
.sharestorybtn img { width:212px; height:96px; }

#supptitle { margin:0 15px 18px 15px; }
#supptitle h1 { margin:0 0 9px 0; font-size:30px; }

#suppcats { width:930px; margin:0 auto; background-color:#f5f5f5; }
#suppcatslist { padding:18px; margin:0; }
#suppcatslist h1 { margin:0; margin-bottom:18px; }
.orangemore { margin:0 0 2px 3px; vertical-align:middle; }

.suppcatbox { clear:both; background-color:#fff; width:265px; padding:9px; margin-bottom:18px; border:1px solid #d7d7d7; border-top:none; border-left:none; font-size:12px; }
.suppcatbox b { display:block; padding-bottom:8px; font-size:13px; }
.suppcatbox a { color:#3e5991; }

/** about page **/
#abouttop, #aboutbottom { width:100%; margin:12px 0; }
#aboutbottom { margin-top:0; }
#abouttop h1 { margin:29px 0 0 0; text-align:center; }
#aboutbottom h1, #aboutbottom h2 { margin:0; }
#aboutbottom h2 { margin-bottom:8px; }
#abouttop td { vertical-align:top; width:33%; background-color:#f5f5f5; padding:12px; padding-top:0; font:normal 15px arial; }
#aboutbottom td { vertical-align:top; width:50%; background-color:#f5f5f5; padding:12px 48px 12px 23px; font:normal 13px arial; }
#aboutbottom img { float:right; width:116px; height:31px; }
#abouttop td.div, #aboutbottom td.div { padding:0; background-color:#fff; }
#abouttop td.div, #abouttop td.div img, #aboutbottom td.div, #aboutbottom td.div img { width:12px; }
#abouttop .trynow { margin:13px auto 19px auto; width:163px; height:33px; display:block; }
#abouttop .graphic { margin:23px auto 35px auto; display:block; }
#abouttop ul { margin-left:0; padding-left:1.1em; }
#abouttop ul.supplier { list-style-image:url("../../cdn.thomasnet.com/images/images/supplier_bullet.png"); }
#abouttop ul.products { list-style-image:url("../../cdn.thomasnet.com/images/images/products_bullet.png"); }
#abouttop ul.cad { list-style-image:url("../../cdn.thomasnet.com/images/images/cad_bullet.png"); }
#abouttop li { margin-bottom:18px; font: bold 13px arial;}
#abouttop ul.cad li { margin-bottom:28px; }

#newfeature { position:absolute; top:85px; right:8px; border:none; display:none; z-index:999; }
/**/

#artabstract { clear: both; margin: 10px 0; padding-top:3px; font-size: 12px; font-family: georgia, "times new roman", arial; }
#artabstract img { border: 1px solid #363636; margin: 5px; }
.errmsg { background-color:#fee; border:2px solid #AA6666; color:#600; margin:1em; padding:1em; }

/** catnav pages **/
#cnheader h1 { margin:0; }
#cncrumbs { background-color:#e6e6e6; font:normal 11px verdana; color:#363636; padding:5px; margin:10px 0 38px; }
#cncrumbs a { color:#3e5991; text-decoration:none; }
#cncrumbs a.active { color:#363636; }

#cnsearch { font:normal 11px verdana; float:right; }
#cnsearch input { vertical-align:middle; }
#cnsearch input[type=text] { width:164px; }
/**/

/** related headings **/
.relcatblock { border:1px solid #bebebe; border-left:none; border-right:none; padding:6px; margin-bottom:18px; }
.relcatblock table { width:100%; margin:3px 0 0 17px; }
.relcatblock td { vertical-align:top; padding:0; }
.relcatblock a { margin:3px; margin-left:0; display:block; }

/* RP 11-12-2012 */
.sortlinks li.active, .sortlinks li.active a {
	color: #ffffff; 
}
.sortlinks   {
	font: normal 11px verdana; 
}
.sortlinks {
	padding-left:0px; margin-left: 0; border-bottom: none; white-space: nowrap; margin-bottom: 0; 
}
.sortlinks li {
	list-style: none; margin: 0; margin-left: 3px; display: inline; text-align: center; 
}
.sortlinks li a {
	padding: 3px 0.5em; border: 1px solid #cecece; border-bottom: none; background: #fff url('../../cdn.thomasnet.com/images/bg/alphanav.png') right repeat-y; text-decoration: none; color: #3e5991; 
}
.sortlinks li.active {
	padding: 3px 0.5em; border: 1px solid #cecece; font-weight: bold; background: #009933 ;
 }

.filtertext{font:bold 11px verdana; vertical-align:middle; white-space: nowrap; border: 0; }


div#graybarcontainer { position:relative; height:28px; width:100%; text-align:left; background-color:#e6e6e6; }
div#graybarcontentleft  {margin-left:6px; width:500px;}
div#graybarcontentright {float:right; margin-right:6px;}
/**/

.psbrowse1 { float:left; width:200px; height:150px; margin:0 36px 0 0; }
.psbrowse2 { float:left; width:125px; height:125px; margin:0 18px 0 0; }
.psbrowsecats { width:100%; }
.psbrowsecats td { vertical-align:top; padding:0 0 56px 0; width:50%; }
.psbrowsecats td.leftcol { padding-right:18px; }
.psbrowsecats.catalogs td { padding-bottom:20px; }
.psbrowsecats td.image { padding-left:18px; padding-right:18px; width:161px; }
.psbrowsecats td.image img { width:125px; height:125px; }
.psbrowsecats dl dt { margin:0 0 9px 0; font-weight:bold; }
.psbrowsecats dl, .psbrowsecats dl dd { margin:0; }
.psbrowsecats dl dfn { font-style:normal; font-size:14px; }

.thomasspecbtn { height:13px; margin-left:6px; }

/*--------------------- Brand-Dom Slide-Out Styles for ThomaseNet.com --------------*/
a.tt7{
    position:relative;
    z-index:24;
    color:#3CA3FF;
/*    font-weight:bold;  */
    text-decoration:none;
}
a.tt7 span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt7:hover{ z-index:25; color: #aaaaff; background:;}
a.tt7:hover span.tooltip{
    display:block;
    position:absolute;
    bottom:-80px; right:290px; /* top-middle-left */
/* bottom:60px; right:125px;  middle-left  */
    padding: 15px 0 0 0;
    width:405px;
    color: #000;
    text-align: left;
    z-index:2;
/*   
    filter: alpha(opacity:90);
    KHTMLOpacity: 0.90;
    MozOpacity: 0.90;
    opacity: 0.90;
*/
}
a.tt7:hover span.top{
    display: block;
    padding:25px 8px 10px;
    background: url(../../cfnewsads.thomasnet.com/images/adbub/blog-bub_btm_exp.png) no-repeat top;
    z-index:2;
}
a.tt7:hover span.middle{ /* different middle bg for stretch */
    display: block;
    padding: 0 35px 0 15px;
    background: url(../../cfnewsads.thomasnet.com/images/adbub/bub_btm_filler.png) repeat bottom;
    text-decoration:none;
    z-index:2;
}
a.tt7:hover span.bottom{
    display: block;
    padding: 15px 8px 0;
    color: #548912;
    background: url(../../cfnewsads.thomasnet.com/images/adbub/blog-bub_btm_exp.png) no-repeat bottom;
    z-index:2;
}

/*----------------------- end Brand-Dom Slide-Out Styles for ThomaseNet.com  -----------------------*/

/*--------------------- bubble tooltip 6 - expanding --------------*/
a.tt6{
	position:relative;
	z-index:24;
	color:#3CA3FF;
/*	font-weight:bold;  */
	text-decoration:none;
}
a.tt6 span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt6:hover{ z-index:25; color: #aaaaff; background:;}
a.tt6:hover span.tooltip{
	display:block;
	position:absolute;
	bottom:60px; right:125px;
	padding: 15px 0 0 0;
	width:405px;
	color: #000;
	text-align: left;
	z-index:2;
/*	
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
*/
}
a.tt6:hover span.top{
	display: block;
	padding: 15px 8px 0;
	background: url(../../cfnewsads.thomasnet.com/images/adbub/bub_btm_exp.png) no-repeat top;
	z-index:2;
}
a.tt6:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 35px 0 15px; 
	background: url(../../cfnewsads.thomasnet.com/images/adbub/bub_btm_filler.png) repeat bottom; 
	text-decoration:none;
	z-index:2;
}
a.tt6:hover span.bottom{
	display: block;
	padding:25px 8px 10px;
	color: #548912;
	background: url(../../cfnewsads.thomasnet.com/images/adbub/bub_btm_exp.png) no-repeat bottom;
	z-index:2;
}

/*----------------------- end tooltip 6 -----------------------*/

#adrtsky { float:right; width:172px; padding-top:10px; display:none; }
.skyscraper { float:right; }
.tilebox { float:right; position:relative; border-top:1px solid maroon; width:135px; text-align:center; font-size:10px;}
.tilebox .adtitle { right:0; }
.tilebox .adbox { margin:10px auto 18px; }
.skyscraper.local { clear:both; margin-left:18px; margin-right:36px; margin-bottom:18px; }
.skyscraper.interim { padding-top:0; }
.skyscraper.results { padding-top:30px; }


.recform { margin-bottom:18px; }
.recform td { padding:3px 0; }
.recform td.label { white-space:nowrap; padding-right:8px; width:100px; }
.recform td.indent { padding-left:30px; }
.recform input { width:320px; }
.recsupp { border-top:1px dashed #bebebe; padding-top:18px; }
.recsupp.top { border:none; padding-top:0; }
#suppdetails { border-top:1px solid #bebebe; }
.orangetitle { font: bold 18px arial; margin:30px 0 18px 0; }

/*------------------ Made2Spec -----------------------*/
    .adgreenbox
    {
        background-color: #009933;
        border: 1px solid #009933;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        z-index: 500;
        width: 756px;
        text-align: center;
    }
    .adcontentbox
    {
        margin: 1px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        font-family: Arial,verdana;
    }
        
    .adlable
    {
        margin-top: 2px;
        text-align: center;
        font-family: Arial,verdana;
        font-size: 20px;
        line-height: 33px;
        color: #ffffff;
        height: 35px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .adpopdivtxt
    {
        font-family: Arial,verdana;
        text-align: center;
        color: #070809;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .adpoplabletxt
    {
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
    }
    .adpopsmalltxt
    {
        font-family: Arial,verdana;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        color: #070809;
        line-height: 20px;
    }
    .adwhitebox
    {
        background-color: #E6E6E6;
        border: 1px solid #E6E6E6;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        color: #070809;
        font-size: 15px;
    }
    .adbuttonlink
    {
        background-image: url('../../cdn.thomasnet.com/images/made2spec/button.png');
        background-repeat: no-repeat;
        background-position: top left; /*height: 60px;*/
        width: 182px;
        display: inline-block;
        color: #202122;
        font-size: 12px;
        text-align: center;
        line-height: 15px;
        vertical-align: top;
        padding: 14px 0px 16px 0px;
        text-decoration: none;
    }

    a.adbuttonlink:visited { color: #202122; }

    .main
    {
        margin: 0 auto;
        position: fixed;
        z-index: 1000;
        display: block;
        width: 590px;
        top: 120px;
        left: 30%;
    }
    .optionmenu
    {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: #39393A;
        height: 50px;
        width: 260px;
        margin: 0px 0px -22px 312px;
        color: #ffffff;
        font-size: 12px;
        font-family: Arial, Verdana;
        font-weight: bold;
        padding-top: 5px;
        padding-left: 20px;
        line-height: 20px;
    }
    .greenbox
    {
        background-color: #363636;
        box-shadow: 0px 0px 20px #3E3E3E;
        -moz-box-shadow: 0px 0px 20px #3E3E3E;
        -webkit-box-shadow: 0px 0px 20px #3E3E3E;
        border: 1px solid #363636;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        width: 590px;
        z-index: 500;
    }
    .contentbox
    {
        background-color: #009933;
        margin: 1px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        font-family: Arial,verdana;
    }
    .popadbanner
    {
        background-image: url('../../cdn.thomasnet.com/images/made2spec/pop_ad_banner.png');
        background-repeat: no-repeat;
        background-position: top left;
        height: 129px;
        width: 588px;
    }
    .poplable
    {
        background-color: #39393A;
        margin-top: 2px;
        text-align: center;
        font-family: Arial,verdana;
        font-size: 20px;
        line-height: 33px;
        color: #ffffff;
        height: 35px;
        letter-spacing: 1px;
    }
    .poplabletxt
    {
        font-family: Arial,verdana;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        margin-top: 13px;
        margin-bottom: 10px;
        line-height: 25px;
    }
    .whitebox
    {
        background-color: #E6E6E6;
        border: 1px solid #E6E6E6;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        color: #070809;
        font-size: 15px;
    }
    .thomasnetlogo
    {
        background-image: url('../../cdn.thomasnet.com/images/made2spec/thomasNet_logo.png');
        background-repeat: no-repeat;
        background-position: top left;
        height: 43px;
        width: 235px;
    }
    .bluelink
    {
        color: #398EC6;
        text-decoration: none;
        font-size: 13px;
    }
    .buttonlink
    {
        background-image: url('../../cdn.thomasnet.com/images/made2spec/button.png');
        background-repeat: no-repeat;
        background-position: top left;
        width: 182px;
        display: inline-block;
        color: #202122;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        line-height: 15px;
        vertical-align: top;
        padding: 14px 0px 16px 0px;
        text-decoration: none;
    }

    a.buttonlink:visited { color: #202122; }
        
    .popupclose
    {
        background-image: url('../../cdn.thomasnet.com/images/made2spec/popupclose.png');
        background-repeat: no-repeat;
        background-position: top right; /*width: 16px;*/
        height: 16px;
        display: inline-block;
        cursor: pointer;
    }
    .padtop
    {
        padding-top: 5px;
    }
    .padleft
    {
        padding-left: 6px;
    }
    .padright
    {
        padding-right: 6px;
    }
    .closemargin
    {
        margin-left: 15px;
        margin-right: 25px;
    }
    .divsmalltxt
    {
        padding: 0 25px 0 25px;
        line-height: 20px;
    }
    .hide { display: none; }
    .show { display:block; }
    .web_dialog_overlay
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #000000;
        opacity: .7;
        filter: alpha(opacity=70);
        -moz-opacity: .7;
        z-index: 120;
        display: none;
    }
/*------------------ End Made2Spec -------------------*/

.quicklinks { margin-top:18px; }
.quicklinks th { text-align:left; padding-bottom:3px; } 
.quicklinks td { vertical-align:top; padding:0 6px; line-height:1.3em; text-align:left; }
.quicklinks td.thumb { text-align:center; width:60px; padding:0; }
.quicklinks td.thumb img { width:60px; height:60px; }

table.toolbar td { vertical-align:top; padding:3px 10px 10px 10px; }
table.toolbar .sysreq { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#333; line-height:12px; margin:4px 0 15px 35px; }
table.toolbar h2 { font-size:16px; }
table.toolbar ul { padding-left:9px; }
table.toolbar li b { color:#093; font-size:14px; }
table.toolbar li { margin-bottom:15px; }
table.toolbar li ul { margin-top:15px; padding-left:36px; }
table.toolbar li li { font-weight:bold; }
table.toolbar .cols td { padding:5px; width:50%; }

.modchk checkbox { margin:0 4px 0 0; }
.modchk { margin:3px auto; clear:both; }
.modchk .check, .modchk .checkdisabled { margin:2px 4px 0 0; float:left; width:12px; height:12px; border:0; }
.modchk .check.indent, .modchk .checkdisabled.indent {  margin-left:16px; padding:0; }
.modchk .link { display:table-cell; }

#newcerts { margin: auto auto 4px; width:180px; height:23px; cursor:pointer; }

.certblock { background-color:#f5f5f5; margin-right:14px; font-size:12px; padding:6px; float:left; width:120px; }
.certblock .certitle { margin-bottom:5px; }
.certblock .thumbnail { text-align:center; margin-bottom:5px; }
.certblock .links { font-family:verdana; font-size:10px; }
.certblock .dl { font-style:italic; font-family:verdana; font-size:10px; color:#808080; }
.certblock .icon { vertical-align:middle; width:13px; height:16px; margin-right:3px; float:left; }
.certblock img.framed { clear:both; }
.certblock a:hover { color:#093; }
.certblock .landscape	{ width:100px; height:80px; }
.certblock .portrait	{ width:80px; height:100px; }
.certblock .seeall { margin-top:12px; font-size:12px; font-weight:bold; }

.certtopnav { border:1px solid #e6e6e6; background:#fff url(../images/bg/cert_nav_bar.png) bottom repeat-x; }
.certmenu { padding:0; margin:0; list-style:none; white-space:nowrap; font:normal 13px arial; }
.certmenu li { float:left; min-width:100px; }
.certmenu a { position:relative; display:block; text-decoration:none; min-width:100px; float:left; color:#3e5991; }
.certmenu a:hover { color:#093; text-decoration:underline; }
* html .certmenu a { width:100px; }
.certmenu a span { display:block; background:url(../images/bg/divider.png) right no-repeat; text-align:center; padding:6px 91px; cursor:pointer; }
* html .certmenu a span { width:100px; cursor:hand; width:66px; }
.certmenu a em { display:none; }
.certmenu .selected a span { background-image:none; color:#fff; background:#059949; }
.certmenu .selected a:hover { color:#fff; text-decoration:none; }
.certmenu .selected a em { display:block; overflow:hidden; border:6px solid #059949; border-color:#059949 #fff; border-width:6px 6px 0 6px; position:absolute; left:50%; margin-left:-6px; }

.certsubnav { border-bottom:1px solid #e6e6e6; margin:4px 0 18px; }
.cert_types { list-style:none; position:relative; margin:0; padding:0; }
.cert_types li { float:left; font:normal 11px verdana; padding:0; margin:0; }
.cert_types li a { display:block; color:#3E5991; padding:6px 8px; margin:0; }
.cert_types li a:hover, .certglossary a:hover { color:#093; }
.cert_types li.selected a { font-weight:bold; color:#363636; text-decoration:none; }

.glossary_subheading { font-weight:bold; color:#363636; }
.glossary_item_name, .glossary_subheading { font-size:14px; }
.certglossary { line-height:1.5em; color:#808080; }
.certglossary a { color:#3E5991; }
.glossary_item_name { font-weight:bold; }


.certifications_beta_links {
	position: absolute; left:1px; top:1px; z-index: 50; background-color: #ebebeb;
}

/* brand/distributor data */
.brandgrid { width:100%; }
.brandgrid td { vertical-align:top; font-family:verdana; font-size:11px; width:220px; padding:6px 0; }
.brandgrid td.spacer, .brandgrid td.spacer img { width:40px; }
.brandgrid div { margin-bottom:12px; }
.brandgrid .logo { text-align:center; display:table-cell; vertical-align:middle; width:220px; height:150px; overflow:hidden; font:bold 24px arial; border:1px solid #e6e6e6; color:#808080; }
.brandgrid .logo img { margin:auto; }
.brandgrid .authstock { text-align:center; margin:6px 0 15px; font:normal 11px verdana; color:#808080; height:12px; line-height:12px; }
.brandgrid .authstock img { width:13px; height:12px; vertical-align:middle; }
.brandgrid ul { list-style-type:disc; list-style-image:url(../../cdn.thomasnet.com/images/icons/gray-disc.png); padding:0px 0px 0px 14px; margin:0px 0px 5px 0px; }
/**/

/* Mini RFI launch form with only subject field on profile page. GS 2013-04-25 */
#rfiSubjectForm { margin-bottom: 8px; padding: 3px 5px; text-align: left; color: #ffffff; width: 291px; height: 61px; background: #f5f5f5 url('../../cdn.thomasnet.com/images/bg/request_information_bar.png') no-repeat top left; }
#rfiSubjectForm b { display: block; padding-left: 10px; }
#rfiSubjectForm input { width: 266px; height: 17px;padding: 1px; border: 1px solid #cecece; float: left; margin-top: 15px }
#rfiSubjectForm img { float: right; margin-top: 15px; }
#rfiSubjectForm .watermark { color: #808080; }
	
/* Click To Call on Company Profile */
#callcomp_new { display: inline-block; text-align: left; font-size: 12px; line-height: 22px; vertical-align: bottom; padding: 0 0 0 16px; color: #363636; background: transparent url('../../cdn.thomasnet.com/images/icons/phone.png') no-repeat top left; }

/* Certifications */
input.certsearch { float: left; padding-left: 10px; width: 516px; height: 41px; font-size: 16px; line-height: 40px;}
