@charset "utf-8";
/* CSS Document */


ul#icon_bullet_chat li {
	background:url("../images/bullet-3x3.gif") no-repeat scroll 6px 6px transparent;
	font-size:11px;
	line-height:1.45em !important;
	padding-left:20px;
}

ul#icon_bullet_chat li.repairIcon {
        background:url("../images/ico_wrench_16x15.gif") no-repeat scroll 0 0 transparent;
        padding-left:20px;
}

h3 { /* hidding it after glb intregration font-size: 1.3em; */ font-size:13px !important; font-weight: bold; margin: 0 0 5px 0; }
h4 { margin: 5px; font-size: 1.1em; font-weight: bold; }

.homepage-title {
    height: 4em;
    padding: 10px 0 0 14px;
    position: relative;
}
.homepage-title h1 {
    color: #333333;
    float: left;
    font-size: 2.3em;
    line-height: 1.2;
    margin-right: 10px;
}

/* Hiding after global Nav integration start */
body{font-size:12px; color:#333; font-family:Arial;}
p, li,p a, li a, dt a, dd a, dd p, td a, th a, h2 a, h3 a, h4 a, h5 a, h6 a, td, label {font-size:12px;}

a{font-size:12px; color:#278CBE;}
a:hover{color:#278CBE;}

div.clear{clear:both; height:1px; overflow:hidden;}

.hidden{display:none;}

.gn_prefooter{float:left; width:100%;}
#footer{float:left; margin-top:20px;}
.bg-gr-bottom-shadow{clear:both;}



.moreSupportLink {padding:14px 0 5px 35px; position:relative;}
a.arrowUp{background:url(../../olam/images/brand30/greyArrow.png.html) right no-repeat; padding:0 24px 0 0px; margin-left:0}

.secondaryLinksContainer{background:#fff url(../../images/eSupport/Backgrounds/212820_thumb_support-links-background-large.png) 0 0 no-repeat; width:238px; position:absolute; bottom:0; left:-11px; padding-bottom:20px}
.secondaryLinksContainer h4 {font-size:1.4em; padding:20px 0 10px 14px}
.secondaryLinksContainer ul.secondaryLinks {font-size:.9em;}
.secondaryLinksContainer ul.secondaryLinks li{margin:10px 14px 14px 14px}
.link-divider{background:url(../../olam/images/brand30/support-link-divider.png.html) 14px 0 no-repeat; position:relative; width:235px}
.bottom{position:absolute; bottom:0}

.nobullet {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 100%;
}
.nobullet li {    
    line-height: 1.45em !important;
    padding-left: 10px;
}
ul#icon_nobullet_chat li {   
    font-size: 11px;
    line-height: 1.45em !important;
    padding-left: 20px;
}
ul#icon_nobullet_chat li.repairIcon {
    background: url("../images/ico_wrench_16x15.gif") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}


.bullet li {
	background: url(../images/bullet-3x3.gif) 1px 6px no-repeat;
	padding-left:10px;
	line-height:1.45em !important;
	/* removing for UI Change 2/16/2011
	font-size:11px; */
}


#wrapper {text-align:left;}

.first_182 { position:relative; float:left; display:inline; width:180px; margin-left:10px; border:1px solid #ccc; margin-bottom:10px}

.min294 { 
/* Changing min-height after global Nav integration start */
min-height:310px; padding:10px}

.center{ text-align:center }

.col_182 {border:1px solid #CCCCCC; display:inline; float:left; margin-bottom:10px; margin-left:10px; position:relative; width:180px;}

.first_310 {border:1px solid #CCCCCC; display:inline; float:left; margin-bottom:10px; margin-left:10px; position:relative; width:308px;}
.col_310 {border:1px solid #CCCCCC; display:inline; float:left; margin-bottom:10px; margin-left:10px; position:relative; width:308px;}

.min196 {min-height:174px; padding:10px;}

.link_whiteCagedArrow {background:url(../images/buttons/btn_white_caged_arrow.gif) 0 0 no-repeat;	padding:0 0 0 20px;	 line-height:15px; height:15px;	width:15px;	white-space:nowrap;	display:block;}

ul {list-style-image:none; list-style-position:outside; list-style-type:none;}

.alignBot {bottom:5px; position:absolute;}

a {color:#067AB4; text-decoration:none;}

.link_whiteCagedArrow {background:transparent url(../images/buttons/btn_white_caged_arrow.gif) no-repeat scroll 0 0; display:block; height:15px; line-height:15px; padding:0 0 0 20px; white-space:nowrap; width:15px;}

ul#icon_bullet_chat li.repairIcon {
        background:url("../images/ico_wrench_16x15.gif") no-repeat scroll 0 0 transparent;
        padding-left:20px;
}
ul#icon_bullet_chat li.chatIcon {background:transparent url(../../images/eSupport/Chat/icn_chat-att_AA000M2E.gif) no-repeat scroll 0 2px;padding-left:20px;}
ul#icon_bullet_chat li {background:transparent url(../images/bullet-3x3.gif) no-repeat scroll 6px 6px; font-size:11px; line-height:1.45em !important; padding-left:20px;}

h4 {color:#656565; font-size:12px; font-weight:bold; line-height:14px; margin-bottom:5px;}
 p {font-size:11px;line-height:1.27em;margin-bottom:0.5em;}
/* UI Change for new UI 14-02-2011 End */


a img{border:0;}

.first_182 .min294 p.alignBot, .col_182 .min294 p.alignBot, .first_310 .min196 p.alignBot, .col_310 .min196 p.alignBot{left:10px;}
.col_310 .min196 div.alignBot{position:absolute; left:10px;}
