#cxHoroscopes{
	padding:0px;
}
#cxHoroscopes #cxIconClick
{
  margin: 10px 0px 0px 0px;
}

#cxHoroscopes #cxHoroscopesSectionHeader  {
  float:left;
  color: #ccc;
  font-size:11px;
  /*padding:10px;*/
  width:593px;
  padding-bottom: 10px;
}
/*#cxHoroscopes #cxHoroscopesSectionHeader h1.section{
  font-size:21px;
  font-weight:normal;
  text-transform:uppercase;
}*/
#cxHoroscopes #cxHoroscopesSectionHeader a {
  font-weight:bold;
}
#cxHoroscopes .cxSummaryBlockLeft {
	float:left;
	font-size:12px;
	font-weight:bold;
	margin:0px;
	text-transform:uppercase;
	width:74%;
}
#cxHoroscopes .cxSummaryBlockLeft .headline {
	font-size:18px;
	font-weight:bold;
	text-transform:none;
}
#cxHoroscopes .cxSummaryBlockLeft .cxSummaryTitle {
	font-size:12px;
	font-weight:normal;
	text-transform:none;
}
#cxHoroscopes .cxSummaryBlockRight {
	float:right;
	margin:0px;
	text-align:center;
	width:15%;
}
#cxHoroscopes .cxSummaryBlockRight p {
	font-size:10px;
	text-align:center;
}

/*  BEGIN cxHoroscopeTabToolBox*/
#cxHoroscopeTabToolBox .cxHoroscopeTabToolChild {
	font-size:12px;
	font-weight:normal;
	padding:0pt 30px 0pt 10px;
	width:594px;
}
#cxHoroscopeTabToolBox .cxHoroscopeTabToolChild div.header {
	float:left;
	font-size:12px;
	font-weight:bold;
	background-image:none;
	border:none;
	/*height:auto;*/
}
#cxHoroscopeTabToolBox .cxHoroscopeTabToolChild a {
	font-size:11px;
	font-weight:normal;
}
#cxHoroscopeTabToolBox .cxHoroscopeTabToolChild p {
	padding-right:30px;
	padding-bottom:5px;
	font-weight:normal;	
}
#cxHoroscopeTabToolBox .cxHoroscopeTabToolChild .title {
	padding-top:10px;
	text-transform:uppercase;
}
/*  END cxHoroscopeTabToolBox*/


/*  BEGIN icon list  */
.cxHoroscopeTabToolChild ul.cxHoroscopeIconList {
	margin-left:-5px;
	margin-top:10px;
	padding-right:20px;
}
.cxHoroscopeTabToolChild ul.cxHoroscopeIconList li {
	font-size:12px;
	margin-left:0px;
	padding:0px 0px 10px 27px;
	text-transform:none;
}
.cxHoroscopeTabToolChild ul.cxHoroscopeIconList li .title {
	font-size:12px;
	font-weight:normal;
	text-transform:uppercase;
}


/*  END icon list  */

/*  BEGIN horoscope subform  */
.cxDarkGreenSubForm {
	/*margin-top:7px;*/
}
.cxDarkGreenSubForm .header,
.cxDarkGreenSubForm .headerClosed
{
	line-height:25px;
	padding:7px 5px 5px 10px;
	text-align:left;
	width:535px;
	margin-bottom:-10px;
}

.cxDarkGreenSubForm .header label,
.cxDarkGreenSubForm .headerClosed label {
	font-weight:bold;
	text-transform:uppercase;
}
.cxDarkGreenSubForm .header input, .cxDarkGreenSubForm .header form select,
.cxDarkGreenSubForm .headerClosed input, .cxDarkGreenSubForm .headerClosed form select {
	font-weight:normal;
	margin-left:10px;
	text-transform:none;
}
.cxDarkGreenSubForm .header .go_button,
.cxDarkGreenSubForm .headerClosed .go_button {
	margin-left:0px;
	position:relative;
	top:3px;
}

.cxDarkGreenSubForm .content p {
	padding:0px 25px 10px 10px;
}
.cxDarkGreenSubForm .content p span.header {
	font-weight:bold;
	padding-left:0px;
	border:none;
}
.cxDarkGreenSubForm .content .leftSide {
	float:left;
	margin-left:10px;
	width:60%;
    text-align:left;
}
.cxDarkGreenSubForm .content .rightSide {
	float:right;
	text-align:right;
	margin-right:30px;	
	width:15%;
	line-height:20px;
}
.cxDarkGreenSubForm .content .leftSide a,
.cxDarkGreenSubForm .content .rightSide a
{
  font-size:9px;
}

.cxDarkGreenSubForm div.bottom {
	height:12px;
	margin-top:20px;
	clear:both;
}
/*  END horoscope subform  */

/*  **** BEGIN cxHoroscopeLandingSummary **** *************************************************************  */

.cxHoroscopeLandingSummary{
	width:280px;
	float:left;
	margin:auto;
  padding-right: 10px;
}
.cxHoroscopeLandingSummary p{
	font-size:12px; 
}

.cxHoroscopeLandingSummary table.cxSelectYourSign{
  width:200px;
  padding:5px;
}

.cxHoroscopeLandingSummary table.cxSelectYourSign td{
  font-size:11px;
	font-weight:bold;
}


.cxHoroscopeLandingSummary .cxDropDownTeaser .header{
  font-size: 16px;
  font-weight: normal;
  text-transform:uppercase;
	margin-bottom: 3px;
}

.cxHoroscopeLandingSummary .cxDropDownTeaser form#astrologicalReportsForm{
	font-size:11px;
}
.cxHoroscopeLandingSummary .cxDropDownTeaser form#astrologicalReportsForm label{
	font-size:11px;
	font-weight:bold;
}

.cxHoroscopeLandingSummary .cxDropDownTeaser form#astrologicalReportsForm input,
.cxHoroscopeLandingSummary .cxDropDownTeaser form#astrologicalReportsForm select{
	margin-left:3px;
}

/*  **** END cxHoroscopeLandingSummary **** *************************************************************  */


/* **** BEGIN cxHoroscopeLandingTabToolBox **** ************************************************************* */
#cxHoroscopeLandingTabToolBox  {
	height: auto;
	float:left;
	max-width: 290px;
	width:290px;
}

.cxHoroscopeLandingTabs  {
 	padding: 0px;
 	width: 100%;
 	height: 25px;
 	max-height: 25px;
 	background: transparent;
 	voice-family: "\"}\"";
 	voice-family: inherit;
}

.cxHoroscopeLandingTabs ul  {
 	font: bold 12px Arial;
 	margin: 0px;
 	padding: 0px;
 	list-style: none;
}

.cxHoroscopeLandingTabs li  {
 	display: inline;
 	margin: 0 2px 0 0;
 	text-align: center;
	text-transform: uppercase;
	margin-top:15px;
}


.cxHoroscopeLandingTabs a  {
 	float: left;
 	margin: 0 3px 0 0;
 	padding: 0 0 0 3px;
 	text-decoration: none;
 	cursor: pointer;
}

.cxHoroscopeLandingTabs a span  {
 	float: left;
 	max-height: 25px;
 	padding: 5px 5px 5px 3px;
}


/*currently selected tab*/


.cxHoroscopeLandingTabContainer  {
	padding-top: 11px;
 	width: 298px; /*width of 2nd level sub menus*/
}

.cxHoroscopeLandingTabContent  {
	display: none;
 	width: 298px; /*width of 2nd level sub menus*/
 	max-width: 298px;
	min-height: 284px;
}

.cxHoroscopeTabToolChild .cxHoroscopeTabToolChildHeader{
	font-weight:normal;
	margin:10px 10px 0px 10px;
	text-transform:uppercase;
}

.cxHoroscopeTabToolChild .cxHoroscopeTabToolChildTitle{
	font-weight:bold;
	text-transform:uppercase;	
}
.cxHoroscopeTabToolChild table.cxSignsTable{
  width:290px;
  padding:5px;
	margin:auto;
	text-align:center;
}

.cxHoroscopeTabToolChild table.cxSignsTable td p{
  font-size:10px;
	font-weight:normal;
}

/* BEGIN Compatilibity Tab forms */

.cxHoroscopeLandingTabContent .cxHoroscopeTabToolChild .cxCompatibilityTabForm {
	margin:10px 10px 0 10px;
	margin-bottom:10px;
	font-size:11px;
}	

.cxHoroscopeLandingTabContent .cxHoroscopeTabToolChild .cxCompatibilityTabForm .header{
  font-size: 16px;
  font-weight: normal;
  text-transform:uppercase;
	margin-bottom: 5px;
}

.cxHoroscopeLandingTabContent .cxHoroscopeTabToolChild .cxCompatibilityTabForm form label{
	font-weight:bold;
  text-transform:uppercase; 
	float:left;
	width:30%;
	margin-top:3px;
}

.cxHoroscopeLandingTabContent .cxHoroscopeTabToolChild .cxCompatibilityTabForm form input,
.cxHoroscopeLandingTabContent .cxHoroscopeTabToolChild .cxCompatibilityTabForm form select{
	margin-left:5px;
	margin-top:5px;
  font-weight: normal;	
}


/* END Compatilibity Tab forms */



/* begin less or equal IE 6 specific cxZestSearchBox cxTabContent height \*/
* html  .cxHoroscopeLandingTabContent  {
	height: 284px
}
/* end less or equal IE 6 specific cxZestSearchBox cxTabContent height */

.cxHoroscopeLandingTabBottom  {
	width: 298px;
	max-width: 298px;
	height: 91px;
}

.cxHoroscopeLandingTabBottom_PETS  {
	width: 298px;
	max-width: 298px;
	height: 97px;
}
.cxHoroscopeLandingTabBottom span.credit,
.cxHoroscopeLandingTabBottom_PETS span.credit{
	position:relative;
	top:50px;
}


#cxHoroscopes span.credit {
	clear:both;
	float:right;
	font-size:10px;
	font-weight:bold;
	padding-bottom:5px;
	color:#333;
}


/* **** END cxHoroscopeLandingTabToolBox **** ************************************************************* */


/* Begin iconClick.js text size controls - Horoscopes */
body.textExtraSmall #cxHoroscopes .cxHoroscopeLandingSummary p,
body.textExtraSmall #cxHoroscopes .cxHoroscopeLandingTabContainer p,
body.textExtraSmall #cxHoroscopes .cxHoroscopeLandingSummary a,
body.textExtraSmall #cxHoroscopes .cxHoroscopeLandingTabContainer a,
body.textSmall #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild a
{
  font-size: 7px;
}
body.textSmall #cxHoroscopes .cxHoroscopeLandingSummary p,
body.textSmall #cxHoroscopes .cxHoroscopeLandingTabContainer p,
body.textSmall #cxHoroscopes .cxHoroscopeLandingSummary a,
body.textSmall #cxHoroscopes .cxHoroscopeLandingTabContainer a  {
  font-size: 9px;
}

body.textLarge #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild a
{
  font-size: 13px;
}


body.textSmall #cxHoroscopes .cxSummaryBlockLeft .headline
{
	font-size:16px;
}

body.textSmall #cxHoroscopes .cxSummaryBlockLeft p,
body.textSmall #cxHoroscopes .cxSummaryBlockLeft .cxSummaryTitle,
body.textSmall #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild div.header,
body.textSmall #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild div.title,
body.textSmall #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild p,
body.textSmall .cxDarkGreenSubForm .header label,
body.textSmall .cxDarkGreenSubForm .headerClosed label,
body.textSmall .cxDarkGreenSubForm .header input
{
	font-size:10px;
}

body.textSmall .cxDarkGreenSubForm .header label,
body.textSmall  .cxDarkGreenSubForm .headerClosed label

body.textLarge #cxHoroscopes .cxHoroscopeLandingSummary p,
body.textLarge #cxHoroscopes .cxHoroscopeLandingTabContainer p,
body.textLarge #cxHoroscopes .cxHoroscopeLandingSummary a,
body.textLarge #cxHoroscopes .cxHoroscopeLandingTabContainer a  {
  font-size: 13px;
}

body.textLarge #cxHoroscopes .cxSummaryBlockLeft .headline
{
	font-size:20px;
}

body.textLarge #cxHoroscopes .cxSummaryBlockLeft p,
body.textLarge #cxHoroscopes .cxSummaryBlockLeft .cxSummaryTitle,
body.textLarge #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild div.header,
body.textLarge #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild div.title,
body.textLarge #cxHoroscopeTabToolBox .cxHoroscopeTabToolChild p,
body.textLarge .cxDarkGreenSubForm .header label,
body.textLarge .cxDarkGreenSubForm .headerClosed label,
body.textLarge .cxDarkGreenSubForm .header input
{
	font-size:14px;
}
body.textExtraLarge #cxHoroscopes .cxHoroscopeLandingSummary p,
body.textExtraLarge #cxHoroscopes .cxHoroscopeLandingTabContainer p,
body.textExtraLarge #cxHoroscopes .cxHoroscopeLandingSummary a,
body.textExtraLarge #cxHoroscopes .cxHoroscopeLandingTabContainer a  {
  font-size: 15px;
}



/* End iconClick.js text size controls - Horoscopes */

/* BEGIN TabTool Styles */

.cxTabToolBox  {
	height: auto;
	width: 594px;
	max-width: 594px;
	}

.cxTabs  {
  padding: 0;
  width: 100%;
  height: 25px;
  max-height: 25px;
  background: transparent;
  voice-family: "\"}\"";
  voice-family: inherit;
}

.cxTabs ul  {
  font: bold 12px Arial;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cxTabs li  {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  text-align: center;
	text-transform: uppercase;
/*	  margin-top:15px;*/
}


.cxTabs a  {
  float: left;
  margin: 0 2px 0 0;
  padding: 0 0 1px 3px;
  text-decoration: none;
  cursor: pointer;
}

.cxTabs a span  {
  float: left;
  display: block;
  max-height: 25px;
  padding: 5px 15px 5px 15px;
}





.cxTabsLine  {
  clear: both;
  padding: 0;
  width: 594px;
  height: 8px;
  line-height: 8px;
  display: none;
}

.cxTabContainer  {
  clear: left;
  padding-top: 11px;
  width: 594px; /*width of 2nd level sub menus*/
}

.cxTabContent  {
  display: none;
  width: 594px; /*width of 2nd level sub menus*/
  max-width: 594px;
  min-height: 284px;
}

/* begin less or equal IE 6 specific cxZestSearchBox cxTabContent height \*/
* html  .cxTabContent  {
	height: 284px
}
/* end less or equal IE 6 specific cxZestSearchBox cxTabContent height */

.cxTabBottom  {
	width: 594px;
	max-width: 594px;
	height: 11px; 
}
/* END TabTool Styles */