/**
* This file has been forked to IMDbConsumerSiteStaticMedia/src/css/wheel/button.css 
* the changes should be made to both files 
*/
a.btn, button.btn, input.btn {
    display:inline-block;
    text-decoration:none;
    margin:0;
    padding: .3em .6em;
    color:#000 !important;
    font-family: Verdana, Arial, Sans-serif;
    cursor: pointer;  /* important for any clickable/pressable element */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding;
    background-clip: padding;
    background: -moz-linear-gradient(top, rgba(252,243,194,1) 0%, rgba(255,255,255,0) 70%);
    background: -webkit-linear-gradient(top, rgba(252,243,194,1) 0%, rgba(255,255,255,0) 70%);
    background: -ms-linear-gradient(top, rgba(252,243,194,1) 0%, rgba(255,255,255,0) 70%);
    background: linear-gradient(to bottom, rgba(252,243,194,1) 0%, rgba(255,255,255,0) 70%);    
	background-repeat: repeat-x;
    border-width:1px;
    border-style:solid;
    border-color: #E0E0E0 #C0C0C0 #C0C0C0 #E0E0E0;
    background-color: #ECE2C6;
    vertical-align:baseline;
    font-weight:normal;
    overflow: visible; /*IE Submit <button> horizontal padding bugfix */
}

button:disabled, button:disabled:hover {
    background-color:#F4F4F4 !important;
    background-image:none;
    border-color:#ADB2B5 !important;
    color:#838383 !important;
    cursor:default;
}
/* removes default focus outline and extra padding in Mozilla browsers */ 
button.btn::-moz-focus-inner, input.btn[type="reset"]::-moz-focus-inner, input.btn[type="button"]::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner, input.btn[type="file"] > input.btn[type="button"]::-moz-focus-inner {
 padding:0;
border:none;
}

.btn img {
    border:none;
    margin:0 0.3em 0 0.1em;
    vertical-align:middle;
    /* Hack: to eliminate Mozilla underlining inline images in <a> */
display:block;
    float:left;
*display:inline;/* Hack: Ignored by Mozilla seen by IE */
*float: none;/* Hack: Ignored by Mozilla seen by IE */
*margin-left:0;
}

.btn.bold {
    font-weight: bold;
    color: #333 !important;
}

.btn.large {
    font-size: 120%;
}

.btn.small {
    font-size: 80%;
 *font-size: 75%; /* Hack: Ignored by Mozilla seen by IE */
    padding-bottom:.4em;
}

/* states */
.btn:hover {
    border-color:#E6B800 !important;
    background-image:none;
}

.btn:active {
    background-position:bottom;
    background-image: inherit;
}

.btn:focus {
    outline:none; /* doesn't seem to be respected for <button>, only <a> */
}

/* buttons - primary */
.btn.primary {
    border-color:#D5AB55 #c93 #c93 #D5AB55;
    background-color: #f3ce00;
    _background-image: url(../../wheel/gradient-bg-FFC.gif);  /* for IE6 */
}

/* buttons - disabled*/
.btn.disabled {
    border-color:#ADB2B5 !important;
    color:#838383 !important;
    cursor:default;
    background-image:none;
    background-color: #F4F4F4;
}

/* buttons - selected*/
.btn.selected {
    border-color:#E6B800;
    color:#C90 !important;
    background-color: #FEE086;
    background-position:bottom;
}

.btn.tab.selected {
    background-position:top;
    border-color:#E6B800;
    color:#000 !important;
    border-color:#bbb #aaa #EEE #bbb;
}

/* IE <input> and <button> padding/margin adjustments  */
input.btn, button.btn, {
 *padding: .2em .5em .1em .5em;
 *margin-bottom:.05em;
}
input.btn.small, button.btn.small, {
 *padding: .2em .5em .2em .5em;
 *margin-bottom:.15em;
}

/* tabs does not apply to input tags... that would be silly */

.btn.tab {
    position:relative;
    height:1.7em;
*height:1.6em;  /* Hack: Ignored by Mozilla seen by IE */
*margin-bottom:-.45em;  /* Hack: Ignored by Mozilla seen by IE */
    background-color: #EEE;
    -moz-border-radius: 3px 3px 0 0;
    -moz-background-clip:padding;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-background-clip:padding;
    _background-image: url(../../wheel/gradient-bg-EEE.gif); /* for IE6 */
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* Valid yet non-compliant selector: seen only by webkit */
.btn.tab {
height:1.85em;
}
}

.btn.tab:active {
    background-position:top !important;
}

.btn.tab:hover {
    border-bottom-color:#EEE !important;
}

/* buttons treated to resemble links */ 
.btn.link {
    background-image:none;
    border:transparent;
    _border:#fff; /* for IE6 */
    background-color: transparent;
    color:#003399 !important;
}

.btn.link:hover {
    text-decoration:underline;
    border:transparent !important;
    _border:#fff !important; /* for IE6 */
}

/* box buttons */
.btn.box {
    padding:.4em;
    display:block;
    margin-bottom:.2em;
    text-align:center;
}
