/* Shopzilla Rebrand Custom CSS */

#Header h1 a { background:url(logo.png) no-repeat; position:relative; width:260px; height:58px; top:16px; left:10px; padding:0; }
#Header h1 a span { display:none; } 
#Header h2 span { display:none;}