body {
	font-size: 14px;
	line-height: 1.357em;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px !important;
}
p {
	font-size: 1em;
	line-height: 1.357em;
	margin: 0 0 1.357em 0;
	color: #2C2C2C;
}
ul,
ol {
	margin: 0 0 1.357em 0;
}
a {
	color: #0181E3;
}
img {
    border: none;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 2.462em;
	line-height: 1.19em;
	margin-bottom: 15px;
	letter-spacing: -0.03em;
	color: #2c2c2c;
}
h2 {
	font-size: 1.286em;
	line-height: 1.056em;
	padding: 9px 0 10px 0;
	color: #2C2C2C;
}
h3, h4, h5, h6  {
	font-size: 1em;
	line-height: 1.357em;
	margin: 0;
	color: black;
}
sup {
	font-size: 0.85em;
	vertical-align: super;
}
sub {
	font-size: 0.85em;
	vertical-align: sub;
}
p img {
    margin: 0 1em 0 1em;
}
.floatl {
	float: left;
}
.floatr {
	float: right;
}
.clearer {
	clear: both;
	font: 1px/1px monospace;
	height: 1px;
	width: 1px;
}
.clear {
	clear: both;
}
div.clear {
    clear: both;
    overflow: hidden;
}
#container {
    width: 640px !important;
    margin: 0 auto;
}
#sidebar,
#headerNavigation,
#subNavigation,
#footerNavigation,
.welcomeBackFlash,
#sidebarIllustration,
object,
embed {
    display: none !important;
}
#mainNavigation {
    border-top: 1px solid #7FD7F7;
    width: 640px;
}
    #mainNavigation * {
        display: none
    }
#footer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
    width: 640px !important;
    margin: 2em auto 1em auto;
}
    #footer form {
        display: block !important;
    }
#skypeLogo {
	float: left;
	overflow: auto;
	text-decoration: none;
}
	#skypeLogo img {
		margin: 0 15px 0 0;
		display: block;
		float: left;
		display: inline;
		border: none;
		vertical-align: middle;
	}
	#skypeLogo span {
		display: block;
		float: left;
		color: #7FD7F7;
		padding-top: 1.2em;
		font-weight: bold;
		font-size: 0.8em;
	}
#header {
    padding: 1em 0 1em 0;
    margin: 0 auto;
    height: 47px;
    width: 640px !important;
    border-bottom: #e5f7fd solid 30px;
}
#legalLinks {
    visibility: hidden;
    text-align: center;
}
#legalLinks a {
    display: none;
}
#legalLinks span {
    visibility: visible !important;
}
#content {
    clear: both;
}
table {
    border-bottom: 1px solid #ccc;
    border-spacing: 0;
}
table td {
    border-top: 1px solid #ccc;
    padding: 3px 5px;
}
form {
    display: none;
}
#topSplash {
    width: 640px;
}
.clouds {
    display: none;
}