body {margin: 0 5% !important; position: static; padding:0 !important; float:none !important; background:#FFF; font:12pt Arial, Helvetica, sans-serif; width: auto !important;}
.symUtil, .globalNav, .segNav, .sclBkmrkWdgtRgt, .sclBkmrkWdgtMrgnTop, .sclBkmrkWdgtMrgnBtm, #lftNavPane, .yelWdgt, .sclBkmrkWdgtMrgn {display:none !important;}
a:link, a:visited, a:hover, a:active {color:#000}
img {border:0 none;}
.symLogo {margin:15px 0;}