/* Global Navigation items */

#primary a { padding: 0px 9px 0px 8px; }

/* by category */
#menu #primary .ddm_32732741.MenuActivator_active  { 
	border-color: #e42119; 
}

#primary .ddm_32732741 a { 
	color: #e42119; 
}

/* additional on bau item */
#primary #spring a { 
	background: transparent url(../../siteAssets/images/header_sprite.gif) 108% -172px no-repeat; 
	border-left: #ccc solid 1px;
	border-right-width: 0px;
	color: #a8b701;
	padding: 0px 20px 0px 11px; 
}

#primary #spring:hover,
#primary #spring.MenuActivator_active { 
	border-color: #a8b701; 
}

#primary #spring.MenuActivator:hover { border-color: #fff; }

/* drop down menus */

#ddm_32732741 {
	border-top: 2px solid #e42119;
	background: #fff url(../images/headerfooter/ddm_14419152_menu_bg.gif) 246px bottom no-repeat;
}

#ddm_32732741 .column_2 .item_2 {
	margin-top: 55px;
}

#ddm_32732612 .column_1 .item_1_5 a {
	color: #E42119;
} 

#ddm_32732612 .column_1 .item_1_5 a:hover {
	background-color: #E42119;
	color: #fff;
} 

#ddm_32732612 .column_1 .item_2_2 a {
	color: #09B2D1;
} 

#ddm_32732612 .column_1 .item_2_2 a:hover {
	background-color: #09B2D1;
	color: #fff;
}

#ddm_32732612 .column_1 .item_2_4 a {
	color: #7b7e15;
} 

#ddm_32732612 .column_1 .item_2_4 a:hover {
	background-color: #7b7e15;
	color: #fff;
}

#ddm_32732701 .column_1 .item_1_3 a {
	padding-bottom: 75px;
	background-image: url(../images/headerfooter/dd_item4.jpg);
	background-position:  5px 75%;
	background-repeat: no-repeat;
} 

#ddm_32732701 .column_1 .item_2_2 a {
	padding-bottom: 75px;
	background-image: url(../images/headerfooter/dd_item1.jpg);
	background-position:  5px 75%;
	background-repeat: no-repeat;
} 

#ddm_32732701 .column_1 .item_3_2 a {
	padding-bottom: 75px;
	background-image: url(../images/headerfooter/dd_item2.jpg);
	background-position:  5px 75%;
	background-repeat: no-repeat;
} 

#ddm_32732701   .column_1 .item_3_5 a {
	padding-bottom: 75px;
	background-image: url(../images/headerfooter/dd_item3.jpg);
	background-position:  5px 75%;
	background-repeat: no-repeat;
} 

/* clearance style 
*******************/
#primary .ddn_clearance a {
	color: #faab02;
}

#primary .ddn_clearance a:hover,
#primary .ddn_clearance.MenuActivator_active { 
	border-color: #faab02; 
} 

#primary .ddn_clearance a {
	color: #faab02;
}

#primary .ddn_clearance a:hover,
#primary .ddn_clearance.MenuActivator_active { 
	border-color: #faab02; 
} 

.MenuActivatee .ddn_clearance a {
	color: #faab02;
}

.MenuActivatee .ddn_clearance a:hover {
	background-color: #faab02;
	color: #fff;
}

/* Footer styles */
#app,
#mobile,
#social { 
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 40px;
	overflow: hidden;
}

#app span {
	background: transparent url(../../siteAssets/images/footer_sprite.gif) 110% -120px no-repeat;
	float: inherit;
	font-weight: bold;
	padding-right: 40px;
}

#app a { float: inherit; }

#app .separator {
	background-image: none;
	padding: 0 6px;
}

#mobile { 
	font-weight: bold;
	margin-right: 0px; 
}

#mobile a,
#social a {
	background: transparent url(../../siteAssets/images/footer_sprite.gif) 0 -150px no-repeat;
	float: inherit;
	font-weight: normal;
	padding-left: 42px;
}

#social { clear: left; }

#social span {
	float: inherit;
	font-weight: bold; 
}

#social a {
	background: transparent url(../../siteAssets/images/footer_sprite.gif) 0 0 no-repeat;
	margin-right: 11px; 
}

#social_ar { 
	background-position: 9px -90px !important; 
	padding-left: 64px !important;
}

#social_fb { background-position: 0 -30px !important; }
#social_tw { background-position: 0 -60px !important; }

/* promo banner title messages */ 
#content_1 .staticmessage p {
	line-height: normal;
	width: auto;
}

#content_1 .staticmessage {
	background-color: #fff;
	border: 1px solid #C91711;
	color: #333;
	font-weight: bold;
	height: 95px;
	opacity: 0.7;
	padding: 10px;
	position: absolute;
	top: 55px;
	width: 225px;
}

#content_1 .staticmessage span {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

/* promo banners rich media */



/* Home page */
.home #content_1 .HotspotActivator,
.home #content_1 .MessageActivator {
	background: transparent url(../../siteAssets/images/main_sprite.gif) -4px -28px no-repeat;
}



/*
.home #content_1 #banner0 { background-color: #bdbc31; }
.home #content_1 #banner1 { background-color: #000; }
.home #content_1 #banner2 { background-color: #bdbc31; }
*/
/* Category remove border from BAU component */
.category .bauComponentRow .noborder { 
	background-color: transparent;
	background-image: none;
}


/* tag cloud - layout */
.bauComponentRow .tagCloud  {
	float: left;
	padding: 12px 0px 0px 10px;
}

.tagCloud ul { 
    border: 1px solid #eee;
	margin-bottom: 30px;
    padding: 17px;
    text-align: center;
    width: 184px;
}

.tagCloud .title {
	font-size: 18px;
	font-weight: normal;
	height: 48px;
	margin-bottom: 0px;
	overflow: hidden;
}

.tagCloud .navigation li {
	display: inline;
	margin-left: 4px;
	margin-top: 15px;
}

.tagCloud .navigation li a {
	float: none;
	margin: auto;
	padding: 0px;
	width: auto;
}

.tagCloud a:hover,
.bauComponentRow .tagCloud a:hover{
	border: none;
	box-shadow: none;
	padding: 0px;
} 


/* tag cloud - sizes */
.tagCloud .size0 { font-size: 12px; }
.tagCloud .size1 { font-size: 14px; }
.tagCloud .size2 { font-size: 16px; }
.tagCloud .size3 { font-size: 18px; }
.tagCloud .size4 { font-size: 20px; }
.tagCloud .size5 { font-size: 12px; }
.tagCloud .size6 { font-size: 14px; }
.tagCloud .size7 { font-size: 16px; }
.tagCloud .size8 { font-size: 18px; }
.tagCloud .size9 { font-size: 20px; }


/* tag cloud - custom colours */
.tagCloud .colourA { color:#e42119; }
.tagCloud .colourB { color: #a8b701; }
.tagCloud .colourC { color:#055d9d; }
.tagCloud .colourD { color: #91005d; }
.tagCloud .colourE { color: #db7500; }

/* Sitewide BAU slots - not promo banners 
 ****************************************/
 
.bauComponentRow {	
	margin: 0px 0px 20px 0px;
	overflow: hidden;
	padding-left: 10px;
	width: 990px;
}

.bauComponentRow a,
.bauComponentRow .mediaPlayer,
.bauComponentRow .textLinksBox  {
	float: left;
	margin: 0px 43px 30px 0px;
	width: 148px;
}

.bauComponentRow .textLinksBox a {
	float: none;
}

.bauComponentRow  a:hover { text-decoration: none; }



.bauComponentRow a img,
.bauComponentRow .mediaPlayer iframe { 
	border: 1px solid #d2d2d2; 
	margin-bottom: 5px;
}

/* bauParagraphRow reset */
.bauParagraph { padding-bottom: 30px; }

.bauParagraph a {
	float: none;
	margin: auto;
	text-decoration: underline;
	width: auto;
}

.bauParagraph a span {
	display: inline;
	font-size: inherit;
	margin: auto;
}

.bauParagraph a:hover { text-decoration: none; }
.bauParagraph a img  { border: none; }

/* graphic bau slots */

.bauTitles {
	margin-bottom: 20px;
	margin-left: 10px;
}

.bauEditorial,
.bauVisualBrowse,
.bauTitles {
	padding-left: 0px;
}

.bauEditorial a,
.bauVisualBrowse a,
.bauTitles a,
.bauEditorial .mediaPlayer,
.bauVisualBrowse .mediaPlayer,
.bauTitles .mediaPlayer,
.bauComponentRow .textLinksBox  {
	margin: 0 10px 20px 0;
	padding: 10px;
	width: 220px;
}


.bauEditorial a:hover,
.bauVisualBrowse a:hover,
.bauTitles a:hover,
.bauEditorial .mediaPlayer:hover,
.bauVisualBrowse .mediaPlayer:hover,
.bauTitles .mediaPlayer:hover   {
	border: 1px solid #d2d2d2;
	box-shadow: 1px 1px 5px #999;
	padding: 9px;
} 

.bauEditorial a:hover img,
.bauVisualBrowse a:hover img,
.bauTitles a:hover img,
.bauEditorial .mediaPlayer iframe,
.bauVisualBrowse .mediaPlayer iframe,
.bauTitles .mediaPlayer iframe   {
	border: 1px solid #d2d2d2;
}

.tagCloud span,
.bauEditorial a span,
.bauEditorial .mediaPlayer span,
.bauComponentRow .textLinksBox span {
	display: table-cell;
	font-size: 15px;
	font-weight: bold;
	height: 42px;
	margin-bottom: 0px;
	padding-bottom: 6px;
	vertical-align: bottom; 
}

.bauVisualBrowse a span,
.bauVisualBrowse .mediaPlayer span,
.bauTitles a span,
.bauTitles .mediaPlayer span {
	display: block;
	font-size: 15px;
	margin-bottom: 0px;
	padding-bottom: 2px;
}

.bauComponentRow .textLinksBox span {
	color: #e42119;
	padding-left: 5px;
}

.bauEditorial .large,
.bauVisualBrowse .large,
.bauTitles .large {
	width: 470px;
}

.mediaPlayer .mediaPlayerAction {
	background-repeat: no-repeat;
	height: 128px;
	margin-top: 1px;
	margin-bottom: 2px;
}

.bauComponentRow .s7video-banner { 
	background-color: #ffcc00;
	height: 20px;
	width: 220px;
}

.bauComponentRow .large .s7video-banner { width: 470px;}

.bauComponentRow .s7video-banner a,
.bauComponentRow .large .s7video-banner a { 
	margin: 0px;
	padding: 0px;
	width: auto; 
}

.bauComponentRow a.s7video-button:hover {
	border: none;
	box-shadow: none;
	padding: 0px;
}


.mediaPlayer .s7video-buttonContainer {
	top: 38px;
	width: 220px!important;
}	

.mediaPlayer .s7video-buttonContainer:hover {
	border: none;
	box-shadow: none;
	padding: 0px;
} 


.bauComponentRow .textLinksBox li {
	margin: 0px -10px 5px;
}

.bauComponentRow .textLinksBox a,
.bauComponentRow .textLinksBox a:hover {
	padding: 0px;
	margin: 0px;
	border: none;
	box-shadow: none;
	text-decoration: underline;
	width: auto;
	
}

 /* Category landing BAU slot adjustments - not promo banners 
 ************************************************************/
 
 .category .bauComponentRow  { 
	background: transparent url(../../siteAssets/images/cat_row_border.gif) bottom center  no-repeat;
	margin-bottom: 30px;
	margin-left: 245px;
	width: 735px; 
}

.category .bauEditorial,
.category .bauVisualBrowse,
.category .bauTitles {
	margin-top: -10px;
	margin-left: 240px;
	width: 750px;	
}

.category .bauEditorial  { margin-top: -15px; }
.category .bauTitles  { margin-top: 0px; }
.category .bauBrandsRow  { background-position: 10px bottom; } 

.category .bauGallery {
	margin-left: 255px;
	padding: 0px;
	width: 720px;
}

.category .bauComponentRow.noborder {
	background-image: none;
	margin-bottom: 0px; 	
}

.category .bauEditorial a.first,
.category .bauVisualBrowse a.first,
.category .bauTitles a.first {
	margin-left: 5px;
}

.category .bauTitles .title { 
	margin-bottom: 30px;
	margin-left: 15px;
}

.bauComponentRow  .first{ clear: left; }
.bauComponentRow  .last { margin-right: 0px; }
.category #main .bauGallery {margin-bottom: 30px;padding-bottom:30px;}
.category #main .bauGallery .content {border-top: none;background-color:#222;color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:720px;margin:auto;}
.category #main .bauGallery  h1 {font-size:12px;font-weight:normal;color:#ddd;margin:0;}
.category #main .bauGallery  p {margin:0 0 20px}
.category #main .bauGallery  a {color:#22BCB9;text-decoration:none;}
.category #main .bauGallery .cred {margin-top:20px;font-size:11px;}

/* This rule is read by Galleria to define the gallery height: */
.category #main .bauGallery #galleria {height:600px;}

.category #main .bauGallery a.tag img {
	border: none;
}

.category #main .bauGallery a.btn1 {
    z-index:3;
    padding:5px 10px;
    background:#5b3741;
	border:1px solid #fff;
    color:#fff;
    position:absolute;
    bottom:20px;
    left:20px;
    cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width: auto;
}

.category #main .bauGallery a.btn2 {
    z-index:3;
    padding:5px 10px;
    background:#000;
	border:1px solid #fff;
    color:#fff;
    position:absolute;
    bottom:20px;
    left:20px;
    cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width: auto;
}

.category #main .bauGallery a.btn3 {
    z-index:3;
    padding:5px 10px;
    background:#c74a43;
	border:1px solid #fff;
    color:#fff;
    position:absolute;
    bottom:20px;
    left:20px;
    cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width: auto;
}

.category #main .bauGallery a.btn4 {
    z-index:3;
    padding:5px 10px;
    background:#a49e53;
	border:1px solid #fff;
    color:#fff;
    position:absolute;
    bottom:20px;
    left:20px;
    cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width: auto;
}

.category #main .bauGallery .tag { 
    position:absolute;
    bottom:20px;
    left:20px;
} 


/* HRG SUPPLIED RULES
***************************/

#content_1 .banner .landing_dark h2, #content_1 .banner .landing_light h2, #content_1 .banner .landing_promo h2 { font-size:40px; line-height:46px; width:300px; padding:0px; font-weight:normal; margin:0px; text-align:left;}
#content_1 .banner .landing_dark p, #content_1 .banner .landing_light p, #content_1 .banner .landing_promo p { font-size:12px; font-weight:bold; width:300px; margin:20px 0px 0px 0px;  }
#content_1 .banner .highlight_dark h2, #content_1 .banner .highlight_light h2, #content_1 .banner .highlight_promo h2 { font-size:40px; line-height:42px; width:300px; padding:0px; font-weight:normal; margin:0px; text-align:left;}
#content_1 .banner .highlight_dark p, #content_1 .banner .highlight_light p, #content_1 .banner .highlight_promo p { font-size:12px; font-weight:bold; width:300px; margin:20px 0px 0px 0px;  }
#content_1 .banner .landing_dark .limit, 
#content_1 .banner .landing_light .limit, 
#content_1 .banner .landing_promo .limit {
	width:300px; 
	max-height:205px; 
	overflow:hidden; 
	margin: 0px 0 0 20px;
	padding-top: 20px;
} 

#content_1 .banner .highlight_dark .limit, 
#content_1 .banner .highlight_light .limit, 
#content_1 .banner .highlight_promo .limit {
	width:300px; 
	max-height:165px; 
	overflow:hidden; 
	margin: 0px 0 0 20px;
	padding-top: 20px;
}

#content_1 .banner .messageLeft { position:absolute; top:30px; left:30px;}
#content_1 .banner .messageCenter { position:absolute; top:30px; left:35%;}
#content_1 .banner .messageRight { position:absolute; top:30px; right:30px;}

#content_1 .banner .landing_dark { width:340px; max-height:240px; background-color: rgba(0,0,0,0.4); color:#FFF; font-family:Arial, Helvetica, sans-serif; padding:0 0 20px 0;}
#content_1 .banner .landing_light { width:340px; max-height:240px; background-color: rgba(255,255,255,0.6); color:#000; font-family:Arial, Helvetica, sans-serif; padding:0 0 20px 0;}
#content_1 .banner .landing_promo { width:340px; max-height:240px; background:#e42119; color:#fff; font-family:Arial, Helvetica, sans-serif; padding:1px 0 20px 0; border:20px solid #ad1913; }

#content_1 .banner .landing_dark a { color:#fff!important;}
#content_1 .banner .landing_light a { color:#000!important;}
#content_1 .banner .landing_promo a { color:#fff!important; }

#content_1 .banner .highlight_dark { width:340px; max-height:180px; background-color: rgba(0,0,0,0.4); color:#FFF; font-family:Arial, Helvetica, sans-serif; padding:0 0 20px 0;}
#content_1 .banner .highlight_light { width:340px; max-height:180px; background-color: rgba(255,255,255,0.6); color:#000; font-family:Arial, Helvetica, sans-serif; padding:0 0 20px 0;}
#content_1 .banner .highlight_promo { width:340px; max-height:180px; background:#e42119; color:#fff; font-family:Arial, Helvetica, sans-serif; padding:1px 0 20px 0; border:20px solid #ad1913; }

#content_1 .banner .highlight_dark a { color:#fff!important;}
#content_1 .banner .highlight_light a { color:#000!important;}
#content_1 .banner .highlight_promo a { color:#fff!important; }

#content_1 .banner .banner_video { width:340px; max-height:240px; background-color: rgba(0,0,0,0.4); color:#FFF; font-family:Arial, Helvetica, sans-serif; padding: 0px; border:1px solid #ccc;}
#content_1 .banner #scene7Video .s7video-buttonContainer { left: 123px; top: 73px; z-index: 0;}

#landing_dark_IE { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='/wcsstore/argos/en_GB/argosAssets/images/dark.png'); } 
#landing_light_IE { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='/wcsstore/argos/en_GB/argosAssets/images/light.png'); } 
