/* CSS PRINT - MAJ le 23/10/07 */
/* generique.css */
body{
	background:#FFF;
}

body .main *{
	font-size:6.5pt;
}

/* entete.css */
#N1_entete h1{
	float:none;
}
.main #N1_entete div{
	display:block;
	position:absolute;
	top:9px;
	left:247px;
}
*html .main #N1_entete {
	margin-top: 0px;
}
*html body.PB .main #N1_entete img{
	width: 150px
}
*html body.PB .main #N1_entete div{
	left:165px;
}
*html body.PB .main #N1_entete div object{
	height: 50px;
}

#N1_publicites .N2_publicites_1 .N3_publicites_titre,
#N1_publicites .N2_publicites_2 .N3_publicites_titre{
	background:none;
}
#N1_publicites .N2_publicites_1 ul,
#N1_publicites .N2_publicites_1 ul li{
	background:none;
}
#N1_publicites .N2_publicites_2 li{
	background:none;
}

/* interne.css */
.main{
	width:auto;
	margin:0;
}
html#N1_popup_pb body{
	background:none;
}
html#N1_popup_pb body *{
	font-size:6.5pt;
}
.closepopup, .closewindow{
	display:none;
}

.N1_pg_cols,
.N2_pg_col1{
	display: block;
	width:564px;
}
*html .N2_pg_col1{
	width: 490px;
}

.N2_pg_col2{
	float:none;
	position:absolute;
	margin:0;
	left:564px;
	top:81px;
}

*html .N2_pg_col2{
	left:500px;
}

.main #N1_bloc_reponse .N2_bloc_resultats .N3_bloc_resultats_1{
	width: 450px;
}

.N1_carte_retour{
	display:none;
}
.carte{
	width:546px;
	margin:0 0 6px 4px;
	padding-top:0;
	overflow:hidden;
}
/* resize Flash Carte */
.carte embed,
.carte object{
	zoom:.68;
 	width:710px;
	height:270px;
	margin-left:-170px;
}
* html .carte embed,
* html .carte object{
	margin:0;
	width:auto;
	height:auto;
}
*:first-child+html .carte embed,
*:first-child+html .carte object{
	margin:0;
	width:auto;
	height:auto;
}

.carte .N1_carte_cols embed,
.carte .N1_carte_cols object{
	zoom:.93;
}

.main #N1_actions_carte,
html#N1_popup_pb .carte.carte_pb #N1_actions_carte{
	background:none;
	border:1px solid #CCC;
	padding-top:0;
	width:544px;
	margin:0 0 6px 0;
}
html#N1_popup_pb .carte.carte_pb #N1_actions_carte{
	width:704px;
}
* html#N1_popup_pb .carte.carte_pb #N1_actions_carte{
	overflow:visible;
}

* html .main #N1_actions_carte,
* html#N1_popup_pb .carte.carte_pb #N1_actions_carte {
	margin-left:4px;	
	width:510px;
}

#N1_actions_carte div.reduire{
	margin-top:0;
	padding-top:4px;
	padding-bottom:2px;
}
#N1_actions_carte div.inline{
	padding-top:4px;
}
#N1_actions_carte li a, 
#N1_actions_carte li span{
	padding:0 12px 2px 0;
}
#N1_actions_carte li .plan,
#N1_actions_carte li .vue,
#N1_actions_carte li .iti,
#N1_actions_carte li .photo,
#N1_actions_carte li .recentrer{
	background:none;
}
#N1_popup_pb #N1_actions_carte li .plan,
#N1_popup_pb #N1_actions_carte li .vue,
#N1_popup_pb #N1_actions_carte li .iti,
#N1_popup_pb #N1_actions_carte li .photo,
#N1_popup_pb #N1_actions_carte li .recentrer{
	background:none;
}
#N1_actions_carte .actions2, #N1_actions_carte .actions2_proxi{
	display:none;
}
.carte #N1_carte{
	background:none;
}

* html div.main.proxi #N1_carte div {
	margin-left: 4px;
}
* html div.main.proxi #N1_carte div embed,
* html div.main.proxi #N1_carte div object{
	zoom:.93;
}

html#N1_popup_pb #N1_carte{
	padding:0;
}
html#N1_popup_pb .N1_carte_cols{
	padding:0;
}
#N1_carte .N2_carte_cols{
	background:none;
}
#N1_carte .N2_carte_col1{
	float:none;
	background:none;
	padding-top:0;
	width:544px;
}
.N2_carte_col2{
	float:none;
	width:544px;
	background:none;
	margin:0;
}
html#N1_popup_pb .carte.carte_pb{
	width:auto;
	margin:8px 0 0 4px;
}
html#N1_popup_pb .carte.carte_pb #N1_actions_carte .inline,
html#N1_popup_pb .carte.carte_pb #N1_actions_carte .inline .N3_actions_carte_popup{
	background:none;
}
html#N1_popup_pb .N2_carte_cols_fond,
html#N1_popup_pb .N2_carte_cols_ombre,
html#N1_popup_pb .N2_carte_cols{
	background:none;
}
html#N1_popup_pb .N2_carte_col1{
	width:704px;
}
html#N1_popup_pb .N2_carte_col2{
	float:none;
	min-height:1px;
	width:704px;
	border:1px solid #CCC;
	padding:0;
	margin:0 0 6px 0;
	background:none;
}
* html#N1_popup_pb .N2_carte_col2{
	height:auto;
}
html#N1_popup_pb .N2_carte_col2 .N1_form{
	display:none;
}
.N3_carte_calcul iframe{
	zoom:.92;
}
/* redimensionner la carte Flash pour IE sinon trop zoomée */
* html#N1_popup_pb .carte_pb embed,
* html#N1_popup_pb .carte_pb object{
	zoom:.92;
}
html#N1_popup_pb .N2_carte_col1 iframe{
	height:750px;
}
#N1_carte .N3_carte_parution{
	background:none;
	padding-top:8px;
	padding-bottom:8px;
	border:1px solid #CCC;
}
.N4_carte_toutes{
	display:none;
}
.main .N1_form{
	display:none;
}
#N1_form_zone{
	display:none;
}
#N1_actions_carte div.reduire{
	_margin:0;
	width:auto;
}
.N1_NonReponse,
.N1_NonReponse .N2_NonReponse_fond ,
.N1_NonReponse p.N2_NonReponse_titre{
	background:none;
}
.N1_NonReponse{
	border:1px solid #CCC;
	margin-left:4px;
	width:544px;
}
.N1_popup .main *{
	font-size:8pt;
}
.N1_popup{
	background:none;
}
.N1_popup .closewindow{
	display:none;
}
.N1_popup .main{
	width:716px;
}
.N1_popup_pb_print {
	display:none;
}
.N4_carte_form_saisie{
	margin-bottom:20px;
}
html>/**/body textarea#message{
	height: 35px;
}

.form_envoi_popup a{
	display:none;
}
#N1_popup_pb .N3_bloc_parution_col1 {
	background:none;
}
.N1_popup .N2_bloc_parution_pb_simple{
	list-style-type:none;
	margin-bottom:12px;
}
.carte_pb #N1_actions_carte,
.carte.carte_pb #N1_carte{
	background:none;
}

/* navigation.css */
#N1_onglets{
	display:none;
}

/* blocs_formulaires.css */
#N1_form_haut,
#N1_form_bas{
	display:none;
}

/* bloc_reponses.css */
.N1_entete_reponse,
.quiDonc_LR div.N2_cont_col1 .N1_entete_reponse.N1_entete_reponse_pbi {
	margin:0 0 6px 4px;
	border:1px solid #CCC;
	background:none;
	width:544px;
}
*html .N1_entete_reponse,
*html .quiDonc_LR div.N2_cont_col1 .N1_entete_reponse.N1_entete_reponse_pbi {
	width: 490px;
}

#N1_comprehension{
	background:none;
	padding-bottom:8px;
	border-bottom:none;
}

.N1_entete_reponse_pbi{
	margin-bottom:0;
}

.N1_entete_reponse_pbi #N1_comprehension{
	border-bottom:none;
}
#N1_comprehension p.N3_comprehension_titre{
	font-size: 100%;
}
#N1_comprehension p.N3_comprehension_titre strong{
	font-weight:normal;
}
#N1_comprehension div.N2_comprehension_fond{
	background:none;
}
#N1_comprehension li.sclear{
	width:auto;
	padding-top:0;
	padding-bottom:0;
	float:none;
}
#N1_comprehension div.sclear{
	width:auto;
}
#N1_comprehension div.N3_comprehension_illus{
	background:none;
	min-height:1px;
	margin-left:12px;
}
#N1_comprehension div.N3_comprehension_illus_pb{
	background:none;
	min-height:1px;
	margin-left:12px;
	width:30px;
}
* html #N1_comprehension div.N3_comprehension_illus,
* html #N1_comprehension div.N3_comprehension_illus_pb{
	height:1%;
}
#N1_comprehension .N4_comprehension_quoi,
#N1_comprehension .N4_comprehension_qui,
#N1_comprehension .N4_comprehension_ou{
	margin:6px 0 0 0;
	padding:3px 6px 3px 0;
	text-align:right;
	border:1px solid #ffcc00;
}

#N1_comprehension .N3_comprehension_illus_pb .N4_comprehension_quoi,
#N1_comprehension .N3_comprehension_illus_pb .N4_comprehension_qui,
#N1_comprehension .N3_comprehension_illus_pb .N4_comprehension_ou{
	border-color:#CCC;
}
#N1_comprehension .N4_comprehension_ou br{
	display:none;
}
.bt_imp{
	display:none;
}
.N4_comprehension_ul{
	display:none;
}
#N1_filtres{
	padding-bottom:0;
	border-bottom:none;
}
.N2_filtres_desactiver{
	display:none;
}
.N2_filtres_affiner{
	display:none;
}
.N4_filtres_sel_ul{
	display:none;
}
#N1_tris{
		display:none;
}
.N1_cont_cols{
	width:auto;
	margin-top:0;
	margin-bottom:0;
	border:1px solid #FFF;
}
.N2_cont_col1{
	float:none;
	width:550px;
}
* html .N2_cont_col1{
	width:500px;
}

.N2_cont_col2{
	display:none;
}

.N1_jauge{
	background:none;
	border:1px solid #CCC;
	width:auto;
	margin:0 0 0 4px;
	padding-right:10px;
}
* html .N1_jauge.deuxchiffres {
	width: 500px;
}
.N1_jauge_pb{
	display:none;
}
.N1_jauge div.sclear{
	background:none;
	padding:4px 0 0 18px;
}
.N1_jauge .N2_jauge_nav p{
	margin-right:4px;
}
.N1_jauge .N2_jauge_nav li{
	background:none;
}
.N1_jauge .N2_jauge_nav li.noborder{
	display:none;
}
.N1_jauge .N2_jauge_nav li a.page_suivante{
	display:none;
}
.N1_jauge .N2_jauge_nav li a.page_prec{
	display:none;
}
.N1_jauge .N2_jauge_nav img{
	display:none;
}
.N2_jauge_imp,
.N2_jauge_print {
	display:none;
}

.N2_bloc_resultats,
#N1_bloc_reponse.N1_bloc_reponse_pb .N2_bloc_resultats_autres{
	background:none;
	border:1px solid #CCC;
	margin:5px 0 5px 0;
}
*html .N2_bloc_resultats,
*html #N1_bloc_reponse.N1_bloc_reponse_pb .N2_bloc_resultats_autres{
	width: 490px;
}

.N2_bloc_resultats div,
#N1_bloc_reponse.N1_bloc_reponse_pb .N2_bloc_resultats_autres div{
	background:none;
}

/* bloc_parution.css */
.main .N2_bloc_parution{
	background:none;
	border:1px solid #CCC;
	width:544px;
}
* html .main .N2_bloc_parution {
	width: 490px;
}

.main .N2_bloc_parution div{
	background:none;
}
.main .N2_bloc_parution_cols{
	padding-left:0;
}

*html .main .N2_bloc_parution_cols{
	width:490px;
}

.main .N3_bloc_parution_col1{
	padding-left:10px;
	width:434px;
}
* html .main .N3_bloc_parution_col1{
	padding-left:5px;
	width:395px;
}

.main .N3_bloc_parution_col1w{
	width:auto;
}
.main .N3_bloc_parution_col2{
	width:91px;
	float:right;
	padding-right:4px;
}

* html .main .N3_bloc_parution_col2 {
	width:65px;
}

.main .N4_bloc_parution_i{
	background:none;
}
.main h5.N4_bloc_parution_raison{
	background:none;
}
.main .N2_bloc_parution_pb_simple h5.N4_bloc_parution_raison{
	padding-left:10px;
}
*html .main h5.N4_bloc_parution_raison{
	padding: 0px;
	padding-left: 10px;
	width: 440px;
}
*html .main .N3_bloc_parution_h{
	width: 440px;
}

.main .N5_bloc_parution_index,
.main .N2_bloc_parution .N5_bloc_parution_index_gris{
	border:1px solid #ffcc00;
	background:none;
	padding-bottom:0;
}
.main .N2_bloc_parution .N5_bloc_parution_index_gris{
	border:1px solid #CCC;
}
.main .N5_bloc_parution_index span,
.main .N2_bloc_parution .N5_bloc_parution_index_gris span{
	background:none;
	padding-right:5px;
	padding-bottom:3px;
}
.main .N4_bloc_parution_coordonnees{
	margin-top:0;
}
.N4_bloc_parution_i{
	border-bottom:1px solid #CCC;
	padding-bottom:4px;
	margin:5px 0 5px 0;
	_width:auto;
}
.main .N5_bloc_parution_adresse,
.main .N5_bloc_parution_mail{
	padding:0;
	width:51%;
}
.main .N5_bloc_parution_mail{
	display:block;
	clear:both;
}
.main .N6_bloc_parution_communication_div{
	width:45%;
}
.main .N6_bloc_parution_communication_div li{
	padding-right:0;
}
.main .N4_bloc_parution_activites{
	padding:0;
}
.main .N4_bloc_parution_activites li ul li{
	padding-left:5px;
	background:none;
}
.main .N5_bloc_parution_liens,
.main .N5_bloc_parution_infoscontact{
	background:none;
	margin-left:0;
}
.main .N5_bloc_parution_liens ul.N5_bloc_parution_liens_h,
.main .N5_bloc_parution_infoscontact_h{
	background:none;
	padding-left:0;
}
.main .N4_bloc_parution_modules{
	padding:0;
}
.main .N4_bloc_parution_modules li.vignette{
	margin-right:0;
	margin-top:5px;
}
*html .main .N4_bloc_parution_modules li.vignette{
	margin-top: 0;
	margin-bottom: 0;
}
.main p.N5_bloc_parution_modules_desc{
	width:auto;
}
*html .main p.N5_bloc_parution_modules_desc{
	margin-top: 0;
	margin-bottom: 0;
}
.main .N5_bloc_parution_modules_auto_ul{
	clear:left;
	padding:0;
}
.main .N6_bloc_parution_modules_auto_a,
.main a.N6_bloc_parution_modules_auto_a{
	padding-left:0;
}
.main .N4_bloc_parution_donnees{
	background:none;
	margin:0;
}
.main .N4_bloc_parution_produits_pub{
	padding:0;
	width:91px;
}
* html .main .N4_bloc_parution_produits_pub,
* html .main .N4_bloc_parution_produits_pub li,
* html .main .N4_bloc_parution_produits_pub a {
	width: auto;
}

.main .N4_bloc_parution_produits_pub a{
	background:none;
	color:#990066;
}


.main span.coin_bas_droite{
	display:none;
}

* html .N3_bloc_parution_services {
	margin-top: 0px;
	width: 490px;
}

.main .N3_bloc_parution_services div div{
	padding-bottom:6px;
}
*html .main .N3_bloc_parution_services div div{
	padding-top: 0px;
	padding-bottom: 0px;
}
.main .N3_bloc_parution_services li{
	background:none;
}
.main .N3_bloc_parution_services .N4_bloc_parution_appel{
	padding-left:0;
}
.main .N3_bloc_parution_services .N4_bloc_parution_appel a{
	padding-left:14px;
	background:none;
}
.N5_bloc_parution_chevron{
	display:none;
}
.N5_bloc_parution_distance{
	position: absolute;
	right:-50px;
}
* html .N5_bloc_parution_distance{
	right:-25px;
}
#N1_bloc_reponse.N1_bloc_reponse_pb .N2_bloc_parution_pb_simple .N2_bloc_parution_cols,
#N1_bloc_reponse.N1_bloc_reponse_pb .N3_bloc_parution_services div,
#N1_bloc_reponse.N1_bloc_reponse_pb .N3_bloc_parution_services div div{
	background:none;
}
#N1_bloc_reponse.N1_bloc_reponse_pb span.coin_bas_droite{
	display:none;
}

/* autres.css */
body#N1_pages_autres{
	background:#FFF;
	text-align:left;
	font-size:90%;
}
body#N1_pages_autres .main,
body#N1_pages_autres .hmain{
	width:716px;
	margin:0;
}
.N1_annuaire{
	background:none;
	padding:0 20px 0 0;
	font-size:120%;
}
.N1_annuaire_h,
.N1_annuaire_h_pb,
.N1_annuaire_b{
	background:none;
}
.N1_annuaire_b p{
	padding:0 20px 0 20px;
}
.N2_annuaire_cols{
	background:none;
	padding-left:12px;
}
.N2_annuaire_col1{
	width:200px;
	border-right:1px solid #CCC;
}
.N2_annuaire_col2{
	margin-left:10px;
	width:470px;
}
.N3_annuaire_carte_pays{
	height:auto;
}
.N1_autres{
	width:auto;
}
body .main .N1_autres *,
body .hmain .N1_annuaire *{
	font-size:8pt;
}
.N1_autres,
.N1_autres_h,
.N1_autres_b{
	background:none;
	height:auto;
	min-height:1px;
}
body#N1_pages_autres .N2_autres_titre,
body.N1_popup .N2_autres_titre,
body.N1_popup .N2_indic_titre,
body#N1_pages_autres .N2_annuaire_titre{
	padding:24px 0 4px 0;
	margin:0 12px 16px 18px;
	font-size:160%;
	border-bottom:1px solid #000;
}
body.N1_popup .N2_indic_titre{
	margin-left:0;
}
body.N1_popup .N2_autres_titre{
	font-size:165%;
}
.N3_aide, .N3_faq{
	padding:0 0 0 20px;
}
.N3_aide p, .N3_faq p{
	padding-left:0;
	margin-right:20px;
	padding-right:10px;
	width:auto;
	z-index:0;
}
.N4_faq_lst{
	padding:0;
}
.N3_indic_nav{
	background:none;
	padding-left:0;
}
.N5_faq_q,
.N6_faq_txt{
	background:none;
}
.N5_faq_q a,
.N5_faq_q a.N6_faq_q_moins,
.N5_faq_q a.N6_faq_q_plus{
	background:none;
	padding-left:0;
}
.N5_faq_r,
.N5_aide_r{
	background:none;
	border-bottom:1px solid #CCC;
}
.N5_faq_top,
.N5_mentions_top,
.N3_indic_top{
	visibility:hidden;
}
.N3_plan{
	background:none;
	padding:0;
}
.N3_plan li{
	background:none;
	width:320px;
}
* html .N3_plan li{
	overflow-x:hidden;
}
.N3_plan li li{
	width:auto;
}
.N3_plan li img{
	position:relative;
	left:-40px;
	top:-10px;
}
.N3_plan ul li a{
	text-decoration:none;
	color:#000;
}
.N4_racc_txt{
	width:330px;
}
.N6_racc_txt_entete{
	width:230px;
}
.N3_mentions{
	padding-bottom:0;
}
.N3_mentions p{
	width:90%;
}
.N4_mentions_nav{
	background:none;
	padding-left:0;
}
.N3_smm_cadre_gch{
	width:480px;
	background:none;
	border:1px solid #CCC;
}
.N3_smm_cadre_gch_haut,
.N3_smm_cadre_gch_bas{
	background:none;
}
.N3_smm_cadre_gch1{
	padding-left:0;
}
.N3_smm_cadre_dte{
	background:none;
	border:1px solid #CCC;
	width:180px;
	overflow:hidden;
}
.N3_smm_cadre_dte_bas{
	padding:20px 8px 0 8px;
}
.N3_smm_cadre_dte_haut,
.N3_smm_cadre_dte_bas{
	background:none;
}
.N3_smm_envoi td {
	background:none;
}
.N2_indic{
	width:auto;
}
.N1_espace_perso_page {
	width:auto;
	background:#FFF;
}
.N3_espace_col1{
	width:495px;
}
.N3_espace_col2{
	width:210px;
}
.N3_espace_col1 p.N4_espace_ic_cap img{
	width:98%;
	margin-left:-10px;
}
body .main .N1_autres .N4_espace_titre{
	font-size:125%;
}

/* baspage.css */
#N1_baspage{
	margin:0;
	padding:0;
}

.quiDonc_LR #N1_baspage {
	width: auto;
}

.N1_popup #N1_baspage,
.N1_popup_pb #N1_baspage{
	width:auto;
}

.main #N1_baspage .N2_baspage_m,
.main #N1_baspage .N2_baspage_g,
.main #N1_baspage .N2_baspage_d,
body#N1_pages_autres #N1_baspage .N2_baspage_m,
body#N1_pages_autres #N1_baspage .N2_baspage_g,
body#N1_pages_autres #N1_baspage .N2_baspage_d{
	background:none;
}
.main .N3_baspage_logos,
body#N1_pages_autres .N3_baspage_logos{
	display:none;
}
.main .N3_baspage_nav,
body#N1_pages_autres .N3_baspage_nav{
	display:none;
}
.N1_popup #N1_baspage .N3_baspage_copy span,
.N1_popup_pb #N1_baspage .N3_baspage_copy span{
	display:inline;
	text-align:center;
}
#N1_baspage .N3_baspage_copy span,
body#N1_pages_autres #N1_baspage .N3_baspage_copy span{
	width:470px;
	font-size:10px;
}

.hmain #N1_baspage .N3_baspage_copy span,
body#N1_pages_autres .hmain #N1_baspage .N3_baspage_copy span{
	font-size:10px;
}
#N1_baspage .N3_baspage_copy span a{
	font-size:100%;
}
body#N1_pages_autres #N1_baspage .N3_baspage_part,
body#N1_pages_autres #N1_baspage .N3_baspage_part_double{
	float:none;
	height:auto;
	min-height:1px;
	background:none;
	width:610px;
	margin:0 auto;
}
body#N1_pages_autres #N1_baspage .N3_baspage_part:after,
body#N1_pages_autres #N1_baspage .N3_baspage_part_double:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
* html body#N1_pages_autres #N1_baspage .N3_baspage_part,
* html body#N1_pages_autres #N1_baspage .N3_baspage_part_double{
	height:1%;
}
*:first-child+html body#N1_pages_autres #N1_baspage .N3_baspage_part,
*:first-child+html body#N1_pages_autres #N1_baspage .N3_baspage_part_double{
	height:1%;
}
body#N1_pages_autres #N1_baspage .N3_baspage_part li,
body#N1_pages_autres #N1_baspage .N3_baspage_part_double li{
	float:left;
	border:1px solid #CCC;
	margin:0 10px 0 10px;
	padding:8px 0 8px 0;
}
body#N1_pages_autres #N1_baspage .N3_baspage_part li span,
body#N1_pages_autres #N1_baspage .N3_baspage_part_double li span{
	display:block;
	color:#767676;
	float:left;
	width:118px;
	text-align:center;
	padding:12px 0 0 0;
}

/* -------- Impression des plans -------- */
*html body.N1_popup .N1_popup_print{
	margin-right: 30px;
}
body.N1_popup .form_envoi_popup #swfvue{
	margin: 0 auto;
	padding: 1px;
	width:auto;
	height:auto;
	overflow: hidden;
}

#N1_carte #FlashAPI {
	width:544px;
	height:419px;
}

body.N1_popup .form_envoi_popup #swfvue #FlashAPI{
	width:468px;
	height:528px;
}
body.N1_popup .form_envoi_popup #swfvue > #FlashAPI{
	margin-top: -105px;
	width:520px;
	height:587px;
}
*+html body.N1_popup .form_envoi_popup #swfvue #FlashAPI{
	margin-top: 0px;
}

/* QuiDonc */
.gcarte_h {
	width: 544px;
	background: url(http://static.pagesjaunes.fr/plusdeservices/images/bloc_carte_quidonc_gd_bas_printFF.gif) left bottom no-repeat;
}
*html .gcarte_h {
	width: 510px;
	background: url(http://static.pagesjaunes.fr/plusdeservices/images/bloc_carte_quidonc_gd_bas_printIE6.gif) left bottom no-repeat;
}
.gcarte_m {
	width: 510px;
}
.gcarte_b h2 {
	visibility: hidden;
}

.gcarte_m img, .gcarte_m object, .gcarte_m embed {
	margin-left: 1px;
	width: 539px;
}
*html .gcarte_m img, *html .gcarte_m object, *html .gcarte_m embed {
	width: 505px;
}

.gcarte_b {
	width: 544px;
	background: url(http://static.pagesjaunes.fr/plusdeservices/images/bloc_carte_quidonc_gd_ht_printFF.gif) left top no-repeat;
}
*html .gcarte_b {
	width: 510px;
	background: url(http://static.pagesjaunes.fr/plusdeservices/images/bloc_carte_quidonc_gd_ht_printIE6.gif) left top no-repeat;
}

/*----- Impressions des pages de réponses QuiDonc -----*/
body.quiDonc_LR .main,
body.quiDonc_LR .main #N1_entete,
body.quiDonc_LR .main .N1_pg_cols,
body.quiDonc_LR .main .N1_pg_cols .N2_pg_col1{
	width: 590px;
	display: block;
}
.quiDonc_LR #N1_entete div{
	display: none;
}
html>/**/body.quiDonc_LR #N1_entete h1 a img {
	width: 200px;
}

html>/**/body.quiDonc_LR .main .N2_bloc_parution .N2_bloc_parution_cols{
	/* bordure pour résoudre un bug FF de non prise en compte de la taille des div */
	border: 1px solid transparent;
}
body.quiDonc_LR .main .N2_bloc_parution_pb_simple,
body.quiDonc_LR .main .N2_bloc_parution,
body.quiDonc_LR .main .N2_bloc_parution .N2_bloc_parution_cols{
	margin-top: 5px;
	width: 590px;
	display:block;
}

body.quiDonc_LR .N1_entete_reponse,
body.quiDonc_LR div.N2_cont_col1 .N1_entete_reponse.N1_entete_reponse_pbi {
	width: 590px;
}
*html body.quiDonc_LR .N1_entete_reponse,
*html body.quiDonc_LR div.N2_cont_col1 .N1_entete_reponse.N1_entete_reponse_pbi {
	margin-bottom: 10px;
}

*html body.quiDonc_LR #N1_comprehension{
	width: 590px;
}

body.quiDonc_LR #N1_comprehension .N4_comprehension_quoi,
body.quiDonc_LR #N1_comprehension .N4_comprehension_qui,
body.quiDonc_LR #N1_comprehension .N4_comprehension_ou{
	font-weight: normal;
}

*+html body.quiDonc_LR #N1_comprehension .N4_comprehension_quoi,
*+html body.quiDonc_LR #N1_comprehension .N4_comprehension_qui,
*+html body.quiDonc_LR #N1_comprehension .N4_comprehension_ou,
html>/**/body.quiDonc_LR #N1_comprehension .N4_comprehension_quoi,
html>/**/body.quiDonc_LR #N1_comprehension .N4_comprehension_qui,
html>/**/body.quiDonc_LR #N1_comprehension .N4_comprehension_ou{
	text-align: left;
	padding: 3px 3px 3px 6px;
}
*html body.quiDonc_LR #N1_comprehension .N4_comprehension_quoi,
*html body.quiDonc_LR #N1_comprehension .N4_comprehension_qui,
*html body.quiDonc_LR #N1_comprehension .N4_comprehension_ou{
	padding: 3px;
}

body.quiDonc_LR .N1_cont_cols,
body.quiDonc_LR .N2_cont_col1{
	width:600px;
}

.quiDonc_LR .N2_cont_col2 {
	display: block;
}
.quiDonc_LR #N1_services.pds, 
.quiDonc_LR #N1_services.small, 
.quiDonc_LR #N1_services .N2_services_col1, 
.quiDonc_LR .N2_cont_col2 .N1_recherchepro, 
.quiDonc_LR .N2_cont_col2 .N_repli, 
.quiDonc_LR .N2_cont_col2 .pcarte_h {
	display: none;
}
.quiDonc_LR .N2_cont_col2 #N1_services.medium .N2_services_col2 {
	display: block;
	float: left;
}

.quiDonc_LR .N2_cont_col1 .gcarte_b h2{
	display: none;
}

.quiDonc_LR .gcarte_h,
.quiDonc_LR .gcarte_h .gcarte_b{
	width: 590px;
	text-align: center;
}

.quiDonc_LR .gcarte_h .gcarte_b .gcarte_m{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.quiDonc_LR .gcarte_h .gcarte_b .gcarte_m object,
*html .quiDonc_LR .gcarte_h .gcarte_b .gcarte_m,
*html .quiDonc_LR .gcarte_h .gcarte_b .gcarte_m embed{
	width: 480px;
	height: 351px;
}

html>/**/body.quiDonc_LR .main #N1_bloc_reponse .N2_bloc_reponse_liste,
html>/**/body.quiDonc_LR .main #N1_bloc_reponse.N1_bloc_reponse_pb{
	/* bordure pour résoudre un bug FF de non prise en compte de la taille des div */
	border: 1px solid transparent;
}
body.quiDonc_LR .main #N1_bloc_reponse.N1_bloc_reponse_pb,
body.quiDonc_LR .main #N1_bloc_reponse .N2_bloc_reponse_liste{
	width: 590px;
}
body.quiDonc_LR .main #N1_bloc_reponse .N2_bloc_resultats,
body.quiDonc_LR .main #N1_bloc_reponse.N1_bloc_reponse_pb .N2_bloc_resultats_autres{
	width: 570px;
	padding: 4px 0 4px 20px;
}

body.quiDonc_LR .main #N1_bloc_reponse .N2_bloc_resultats div,
body.quiDonc_LR .main #N1_bloc_reponse .N2_bloc_resultats .N3_bloc_resultats_1,
body.quiDonc_LR .main #N1_bloc_reponse .N2_bloc_resultats .N3_bloc_resultats_2{
	width: 450px;
	padding: 0;
}

*html body.quiDonc_LR .main .N3_bloc_parution_col1{
	padding-left:10px;
}

.quiDonc_LR #N1_baspage .N3_baspage_copy {
	text-align: center;
	overflow: hidden;
	display: block;
	width: 600px;
}
.quiDonc_LR #N1_baspage .N3_baspage_copy span {
	text-align: left;
	overflow:visible;
	margin:0pt auto;
}
html>/**/body.quiDonc_LR #N1_baspage .N3_baspage_copy span {
	font-size: 10px;
}

body.quiDonc_LR .N2_cont_col2{
	overflow: hidden;
	display:block;
	float: none;
	width: 600px;
	text-align: center;
}

*html body.quiDonc_LR .main .N3_bloc_parution_col2,
*html body.quiDonc_LR .main .N4_bloc_parution_produits_pub{
	width:91px;
}

body.quiDonc_LR .N2_cont_col2 .pcarte_h,
body.quiDonc_LR .N2_cont_col2 .N1_recherchepro {
	display:none;
}

body.quiDonc_LR .N2_cont_col2 #N1_services, 
body.quiDonc_LR .N2_cont_col2 #N1_services.medium {
	margin: 0pt auto;
	float: none;
	overflow: hidden;
	display:block;	
}
/*-------------------------------*/