/* add to contentassets.css */

#container #footer .social-section ul li.link-twitter a{background:url('../images/site-elements/sprite-main.png') no-repeat -317px -1px } 
#container #footer .social-section ul li.link-twitter a:hover{background-position:-317px -33px } 
#container #footer .social-section ul li.link-tumblr a{background:url('../images/site-elements/sprite-main.png') no-repeat -382px -1px } 
#container #footer .social-section ul li.link-tumblr a:hover{background-position:-382px -34px }
#container #footer .social-section ul li.link-instagram a{background:url('../images/site-elements/sprite-main.png') no-repeat -416px -1px } 
#container #footer .social-section ul li.link-instagram a:hover{background-position:-416px -34px }

/* lightbox always on top fix */

#sb-container {z-index:100000;}
      
/* sale page fix */

.sale-bottom ul.sale-links li{width:100%;}

/* bottom promo fix */

.bottomPromo {margin: 19px 0 0;}

/* product recomendation denim div hieght fix */

div#container.pt_shoes div#main.group div#content.group div.denim div.fullSlot div.productlisting div.product {height:auto;}

/* tooltip cvc fix */

.tooltip-cvc .tooltipcontainer{width:500px;}

/* Nav Bold fix */

.categorymenu {font-weight:700;}

/* Promo slider button fix */

.promoButtons a{color:#000;}

/* No Search Results fix */

.noresults-mid {background:none repeat scroll 0 0 #F8F7F2;width:855px;margin-left:60px;}
.noresults-tips{background:none !important;letter-spacing: 1px;line-height:14px;}
.nohits .noresults-mid-left {float:left;margin:0 55px 0 54px;}

/* Brands landing page text fix */

.brand-top .brand-top-right .brand-top-right-text p {text-align:left;}

/* Backgrounds */
body.springbg{background:url('../images/site-elements/bg-spring-2013_v3.jpg') 50% 0% no-repeat #0b212e;}

/* inner pages */

body.alpinestars{background:url('../images/brandpage-backgrounds/brandBG_Alpinestars.jpg') 50% 0% fixed no-repeat;}
body.billabong{background:url('../images/brandpage-backgrounds/brandBG_BillabongMens.jpg') 50% 0% fixed no-repeat;}
body.billabong.billabong-womens{background:url('../images/brandpage-backgrounds/brandBG_BillabongWomens.jpg') 50% 0% fixed no-repeat;}
body.billabong.billabong-mens{background:url('../images/brandpage-backgrounds/brandBG_BillabongMens.jpg') 50% 0% fixed no-repeat;}
body.bullhead{background:url('../images/brandpage-backgrounds/brandBG_Bullhead.jpg') 50% 0% fixed no-repeat;}
body.bullhead-black{background:url('../images/brandpage-backgrounds/brandBG_Bullhead.jpg') 50% 0% fixed no-repeat;}
body.civil{background:url('../images/brandpage-backgrounds/brandBG_Civil.jpg') 50% 0% fixed no-repeat;}
body.converse{background:url('../images/brandpage-backgrounds/brandBG_Converse.jpg') 50% 0% fixed no-repeat;}
body.dc-shoes{background:url('../images/brandpage-backgrounds/brandBG_DC.jpg') 50% 0% fixed no-repeat;}
body.insight{background:url('../images/brandpage-backgrounds/brandBG_Insight.jpg') 50% 0% fixed no-repeat;}
body.matix{background:url('../images/brandpage-backgrounds/brandBG_Matix.jpg') 50% 0% fixed no-repeat;}
body.metal-mulisha.womens-metal-mulisha{background:url('../images/brandpage-backgrounds/brandBG_MetalMulishaWomens.jpg') 50% 0% fixed no-repeat;}
body.metal-mulisha.mens-metal-mulisha{background:url('../images/brandpage-backgrounds/brandBG_MetalMulishaMens.jpg') 50% 0% fixed no-repeat;}
body.modern-amusement{background:url('../images/brandpage-backgrounds/brandBG_ModernAmusement.jpg') 50% 0% fixed no-repeat;}
body.nike{background:url('../images/brandpage-backgrounds/brandBG_Nike.jpg') 50% 0% fixed no-repeat;}
body.oneill{background:url('../images/brandpage-backgrounds/brandBG_Oneill.jpg') 50% 0% fixed no-repeat;}
body.quiksilver{background:url('../images/brandpage-backgrounds/brandBG_Quiksilver.jpg') 50% 0% fixed no-repeat;}
body.riot-society{background:url('../images/brandpage-backgrounds/brandBG_Riot.jpg') 50% 0% fixed no-repeat;}
body.rip-curl{background:url('../images/brandpage-backgrounds/brandBG_Ripcurl.jpg') 50% 0% fixed no-repeat;}
body.roxy.roxy-womens{background:url('../images/brandpage-backgrounds/brandBG_Roxy.jpg') 50% 0% fixed no-repeat;}
body.rvca{background:url('../images/brandpage-backgrounds/brandBG_RVCA.jpg') 50% 0% fixed no-repeat;}
body.vans{background:url('../images/brandpage-backgrounds/brandBG_Vans.jpg') 50% 0% fixed no-repeat;}
body.vestal{background:url('../images/brandpage-backgrounds/brandBG_Vestal.jpg') 50% 0% fixed no-repeat;}
body.womens-vigoss{background:#fff;}
body.vigoss{background:#fff;}
body.volcom{background:url('../images/brandpage-backgrounds/brandBG_Volcom.jpg') 50% 0% fixed no-repeat;}
body.young-reckless{background:url('../images/brandpage-backgrounds/brandBG_YoungReckless.jpg') 50% 0% fixed no-repeat;}
body.altamont{background:url('../images/brandpage-backgrounds/brandBG_Altamont.jpg') 50% 0% fixed no-repeat;}
body.fmf{background:url('../images/brandpage-backgrounds/brandBG_FMF.jpg') 50% 0% fixed no-repeat;}
body.globe.globe-mens{background:url('../images/brandpage-backgrounds/brandBG_Globe.jpg') 50% 0% fixed no-repeat;}
body.fox{background:url('../images/brandpage-backgrounds/brandBG_Fox.jpg') 50% 0% fixed no-repeat;}
body.fox.fox-mens{background:url('../images/brandpage-backgrounds/brandBG_Fox.jpg') 50% 0% fixed no-repeat;}
body.fox.fox-womens{background:url('../images/brandpage-backgrounds/brandBG_FoxW.jpg') 50% 0% fixed no-repeat;}
body.poler{background:url('../images/brandpage-backgrounds/brandBG_Poler.jpg') 50% 0% fixed no-repeat;}
body.electric{background:url('../images/brandpage-backgrounds/brandBG_Electric.jpg') 50% 0% fixed no-repeat;}
body.ambiguous{background:url('../images/brandpage-backgrounds/brandBG_Ambiguois.jpg') 50% 0% fixed no-repeat;}
body.arbor{background:#fff;}
body.burton{background:url('../images/brandpage-backgrounds/brandBG_Burton.jpg') 50% 0% fixed no-repeat;}
body.clarks{background:url('../images/brandpage-backgrounds/brandBG_Clarks.jpg') 50% 0% fixed no-repeat;}
body.emerica{background:url('../images/brandpage-backgrounds/brandBG_Emerica.jpg') 50% 0% fixed no-repeat;}
body.enjoi{background:url('../images/brandpage-backgrounds/brandBG_Enjoi.jpg') 50% 0% fixed no-repeat;}
body.etnies{background:url('../images/brandpage-backgrounds/brandBG_Etnies.jpg') 50% 0% fixed no-repeat;}
body.ezekiel{background:url('../images/brandpage-backgrounds/brandBG_Ezekiel.jpg') 50% 0% fixed no-repeat;}
body.flud{background:#fff;}
body.fly-society{background:url('../images/brandpage-backgrounds/brandBG_Fly.jpg') 50% 0% fixed no-repeat;}
body.city-fog{background:url('../images/brandpage-backgrounds/brandBG_CityFog.jpg') 50% 0% fixed no-repeat;}
body.stance{background:url('../images/brandpage-backgrounds/brandBG_Stance.jpg') 50% 0% fixed no-repeat;}
body.neff{background:url('../images/brandpage-backgrounds/brandBG_Neff.jpg') 50% 0% fixed no-repeat;}

/* Trends */

.trendsHeader{border-bottom:1px solid #000000;font-size:22px;font-weight:bold;;padding:20px 0 5px;text-transform:uppercase;width:471px;letter-spacing:2px;}

/* Inner Content Pages */

.innerPickHeader{border-bottom: 1px dotted #C1C1C1;font-size:14px;font-weight:700;padding:20px 0 5px;text-align:left;text-transform:uppercase;width:780px;}
.innerRecHeader{font-size: 12px;font-weight:700;padding: 20px 0 5px;text-align:left;text-transform:uppercase;width:780px;}
#FSOtext {color:#81424A;font-size:14px;font-weight:bold;float:left;}
#FSOtext .FSOreg {color:#000000;font-size:11px;font-weight:normal;}
#csrLightboxes {display:none;}
.main_header clearfix {margin-bottom:5px;}
.csrText {margin-left:10px;}

/* Affiliate page */

#affiliateMainWrap{height:600px;width:960px;color:#000;}
#affiliateBanner{padding:0px;margin:0px;}
#affiliateTextContainer{height:320px;padding:30px 0px;}
#affiliateTextContainer ul li{list-style-type:none;margin-bottom:20px;font-size:18px;line-height:25px;}
#affiliateTextHeader{line-height:20px;font-size:20px;font-weight:bold;border-bottom:2px dotted #ccc;width:445px;padding-bottom:10px;text-transform:uppercase;margin-bottom:10px;}
#affiliateTextLeft{float:left;width:445px;}
#affiliateTextRight{float:right;width:445px;}

/* International Shipping */

.intShipWrap{background:url('../images/backgrounds/intShip_BG.jpg') no-repeat;position:relative;width:960px;height:375px;}
.intShipText{padding-left:40px;display:inline;float:left;width:400px;color:#000;letter-spacing:1px;}
.intShipText h1{font-size:30px;font-weight:bold;margin-top:40px;text-transform:uppercase;}
.intShipText h2{font-size:17px;font-weight:500;text-transform:uppercase;line-height:17px;margin-bottom:20px;}
.intShipText h3{font-size:10px;font-weight:bold;text-transform:uppercase;margin-bottom:20px;}
.intShipText p{font-size:11px;}

.intShipWrap2{background:url('../images/backgrounds/intShip_BG2.jpg') no-repeat;position:relative;width:960px;height:460px;}
.intShipText2{padding-left:30px;display:inline;float:left;width:450px;color:#000;letter-spacing:1px;}
.intShipText2 h1{color:#b31a3a;font-size:25px;font-weight:bold;margin:25px 0 20px;text-transform:uppercase;border-bottom:1px #ccc dotted;padding-bottom:20px;}
.intShipText2 h2{font-size:14px;font-weight:bold;text-transform:uppercase;line-height:17px;margin:20px 0 5px;}
.intShipText2 p{font-size:13px;width:450px;}
.intShipText2 ul li{font-size:12px;margin-bottom:3px;}
.myUSbutton{display:none;}
.intShipText2 .intDetails{margin-top:5px;}
.intShipText2 .intDetails a{color:#000;font-weight:bold;letter-spacing:0px;font-size:12px;}
#brandsInt{display:none;}
#brandsIntContainer{padding:10px 0 0 20px;}
#brandsIntContainer .header1{width: 345px;color:#b31a3a;font-size:25px;font-weight:bold;margin:25px 0 20px;text-transform:uppercase;border-bottom:1px #ccc dotted;padding-bottom:20px;}
#brandsIntContainer .header2{font-size:18px;font-weight:bold;text-transform:uppercase;line-height:17px;margin:20px 0 5px;}
#brandsIntContainer .par{font-size:14px;width:325px;line-height: 20px;}


/* Site Map */

.sitemapWrap{position:relative;}
.sitemapHeader{border-bottom:#c3c3c3 solid 2px;padding: 0 0 20px 18px;margin-top:10px;font-weight:bold;font-size:18px;color:#000;text-transform:uppercase;letter-spacing:1px;}
.sitemapColumn{width:205px;float:left;text-transform:capitalize;margin-right:40px;}
.sitemapColumnLast{width:205px;float:left;text-transform:capitalize;}
.sitemapColumnWrap{margin:10px 0 0 15px;}
.sitemapColumn li, .sitemapColumnLast li{padding-left:3px;margin-bottom:4px;}
.sitemapCatHeader{border-bottom:1px dotted #C1C1C1;font-weight:700;color:#000;padding-bottom:8px;margin:20px 0 5px 0;letter-spacing:1px;}

/* Snow Shop */

.snow-shop{width:780px;margin:10px 0 0;font-size:12px;line-height:16px;}
.snow-promos-top{width:780px;margin:40px 0;height:260px;}
.snow-promos-bot{width:780px;margin:40px 0 10px;;height:206px;}
.snow-promos-top ul li, .snow-promos-bot ul li{margin-right:45px;float:left;width:230px;}
.snow-promos-top ul li.last, .snow-promos-bot ul li.last{margin:0;}
.snow-promos-bot li a{width:230px;height:206px;display:block;background:url('../images/blank.gif');}
.snow-promos-bot li a:hover{background:#f00;}
.snow-promo-text{font-size:13px;font-weight:bold;margin-top:10px;text-transform:uppercase;letter-spacing:2px;line-height:16px;}
.snow-promo-text a{text-decoration:underline;font-weight:normal;color:#000;}
.snow-promo-text a:hover{text-decoration:none;}
.featuredBrands{width:780px;height:45px;background:#ececec;}
.featuredBrandsText{padding:15px 0 20px 25px;font-size:14px;font-weight:bold;letter-spacing:2px;text-transform:uppercase;}
.snow-section-navWrapMens{padding:0 18px 0 19px;float:left;width:440px;}
.snow-section-navWrapWomens{float:Right;width:440px;}
.snow-nav-list1{width:214px;height:159px;border:1px solid #CCC;float:left;margin:10px 8px 0 0;}
.snow-nav-list1 ul li{padding-left:20px;font-size:14px;line-height:16px;letter-spacing:2px;width:214px !important;}
.snow-nav-list2{float:left;margin-top:10px;}
.snow-prod1, .snow-prod2, .snow-prod3{display:block;width:230px;height:206px;}
.snow-prod1:hover .image-cover, .snow-prod2:hover .image-cover, .snow-prod3:hover .image-cover{display:block;}
.image-cover{display:none;width:230px;height:206px;background:#000;top:0;left:0;
      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    
      /* IE 5-7 */
      filter: alpha(opacity=20);
    
      /* Netscape */
      -moz-opacity: 0.2;
    
      /* Safari 1.x */
      -khtml-opacity: 0.2;
    
      /* Good browsers */
      opacity: 0.2;
    }
      
/* store info page */

#emailFooter {margin-bottom:15px;}
.store-info{background:#f8f8f8;width:209px;height:120px;border:1px solid #c6c6c6;}
.store-info .store-info-title{padding:5px 0;text-align:center;font-size:14px;font-weight:bold;color:#006b7f;border-bottom:1px solid #c6c6c6;}
.store-info .store-info-buttons{text-align:center;position:relative}
.store-info .store-info-buttons img{margin-top:12px;}
.store-info .store-infoRolla{position:absolute;top:12px;left:26px;display:block;background:url('../images/site-elements/spacer.png');}
.store-info .store-infoRolla:hover{background:url('../images/site-elements/store-locator_roll.jpg') no-repeat;}
.store-info .store-infoRollb{position:absolute;top:50px;left:26px;display:block;background:url('../images/site-elements/spacer.png');}
.store-info .store-infoRollb:hover{background:url('../images/site-elements/outlet-specials_roll.jpg') no-repeat;}

#container #footer .email-signup p {margin-top:10px;}
.pacsun-store-info-img{margin: 10px 0;}



#footer .email-signup input {background:url('../images/site-elements/bg-enter-email.jpg') no-repeat;width:166px !important;}
      