
.handheld {
	display: block;
}

html * {
	width: auto !important;
	height: auto !important;
	background: none !important;
}

body {
	background-color: #fff;
	color: #000;
	font-family: trebuchet ms, helvetica, arial, sans-serif;
}

div {
	position: relative;
}

a:link, a:visited {
	color: #1a358c;
}

a:hover, a:active {
	color: #2c4ebc;
}

.nav {
	list-style-type: square;
	margin-left: 0;
	padding-left: 15px;
}

.nav li {
	margin: 0 0 5px 0;
}

div#worldmap {
	display: none;
}

div#logo h1 {
	background: #fff url('../images/stepstone_logo.gif') no-repeat !important;
	width: 140px !important;
	height: 91px !important;
}

div#logo a {
	display: block;
	width: 140px !important;
	height: 91px !important;
}

div#logo span {
	position: absolute;
	top: -1000em;
	left: -1000em;
}

#flashcontent {
	display: none;
}

fieldset {
	border: none;
}

form label {
	display:block;
	font-size:1.3em;
	margin-bottom:0.5em;
	position:relative;
}