/* full clearfix */
/* add to floating elements which should not float afterthem */ 
* html .clearfix {
	height: 1%; /* IE5-6 */
}

* + html .clearfix {
	display: inline-block; /* IE7not8 */
}

.clearfix:after { /* FF, IE8, O, S, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a img {
	border:none;
}

html, body {
	height:100%;
}

html {
overflow-y:scroll;
}

html, body, form, fieldset {
font:normal 100% "trebuchet ms", arial, sans-serif;
}

body {
background-color:#fff;
color:#444;
margin:0;
font-size: 0.69em;
}

* {
font-size:100%;
}

layer {
position:absolute;
top:-1234em;
left:-1234em;
}

.seo,.hide {
position:absolute;
top:-1324em;
left:-1234em;
}

fieldset {
background-color:#FFF;
border:1px solid #FFF;
margin:0.5em 0;
}

#wrapper {
height:98.9%;
margin:0;
text-align:center;
position:relative;
zoom:1;
}

#container {
position:relative;
margin:0 auto -50px;
_height:100%;
min-height:100%;
text-align:left;
zoom:1;
}

#header,#content,#nav_content,
#footer_content,
#metanavigation_content {
position:relative;
width:940px;
margin: auto auto;
text-align:left;
}

#header {
height:215px;
position:relative;
zoom:1;
}

#navigation {
background: #DBEAF6 url("../images/bck_mainNav.gif") repeat-x scroll left top;
clear:both;
left:0;
position:absolute;
top:160px;
width:100%;
zoom:1;
}

#logo {
position:absolute;
top:50px;
left:0;
}

#strapline {
position:absolute;
top:50px;
left:212px;
color: #0C2579;
}

#strapline h1 {
font-size:28px;
font-weight:normal;
margin:0 0 10px;
padding:0
}

#strapline ul {
font-family:verdana,sans-serif;
font-size:11px;
list-style-type:none;
margin:0;
padding:0;
}

#strapline li {
margin: 0 0 5px 0;	
}	
	
#logo a {
display:block;
width:140px;
height:91px;
}

#logo span {
position:absolute;
top:-1000em;
left:-1000em;
}

a:link,a:visited {
color:#1a358c;
}

a:hover,a:active {
color:#2c4ebc;
}

#navigation ul.nav {
font: bold 1.47em "trebuchet ms", arial, sans-serif;
height: 45px;
table-layout: fixed;
margin:0;
padding:0;
}

#navigation ul.nav li {
display:block;
float:left;
height:45px;
padding-right:10px;
}

#navigation ul.nav li.selected,
#navigation ul.nav li:focus {
background: #fff url("../images/bck_mainNav_hover.gif") no-repeat scroll right top;
}

#navigation ul.nav li.selected a,
#navigation ul.nav li:focus a{
background: #fff url("../images/bck_mainNav_hover.gif") no-repeat scroll left top;
}

#navigation ul.nav li a {
cursor:pointer;
_cursor:hand;
display:block;
height:30px;
padding:15px 0 0 10px;
text-decoration:none;
}

#navigation ul.nav li a:link span,#navigation ul.nav li a:visited span {
display:block;
text-align:center;
}

#navigation ul.nav li a:link span,#navigation ul.nav li a:link span {}
#navigation ul.nav li.selected a:link span,#navigation ul.nav li.selected a:visited span {}

#subnavigation li.selected h4 a:link,#subnavigation li.selected h4 a:visited {
color:#0a1d5b;
}

#copyrightnotice {}

#regionallinks {
width: 80%;
margin: 5px 0 0
}

.first {
margin-left:0 !important;
}

.last {
margin-right:0 !important;
}

.right {
float:right;
}

#flashcontent {
position:absolute;
top:-3em;
left:5%;
width:720px;
height:600px;
}

#boxes_right {
position:absolute;
top:9.2em;
right:1em;
width:20em;
}

body.front #boxes_right {
top:5.5em;
}

#boxes_bottom {
position:absolute;
top:44em;
left:14px;
height:15em;
width:102em;
background:transparent;
z-index:20;
}

#boxes_bottom .box .label {
font:normal 1.3em 'trebuchet ms', arial, sans-serif;
color:#1a358c;
position:absolute;
top:30px;
left:15px;
width:175px;
line-height:1.1;
padding-right:20px;
background:transparent url('../images/arrow_right.gif') no-repeat scroll right 50%;
}

#boxes_bottom .box .content {
font:normal 1.2em 'trebuchet ms', arial, sans-serif;
color:#555;
position:absolute;
top:65px;
left:15px;
width:185px;
line-height:1.1;
}

div.readmore {
z-index:10;
}



div.readmore a.readmore:link,div.readmore a.readmore:visited {
display:block;
font:bold 1.3em 'myriad web', Arial, Helvetica, sans-serif;
color:#0c2577;
}

div.readmore a.readmore:hover {
color:#ff8700;
}

a.readmore.arrow {
background:transparent url('../images/arrow_right.gif') no-repeat 160px 4px;
}

a.readmore.video {
background:transparent url('../images/icon_video.gif') no-repeat 150px 0;
}

#subnavigation * {
border:none;
}

#subnavigation h3 {
font-size:2em;
color:#1e3d90;
line-height:1;
}

#subnavigation h4 {
font-size:1.2em;
margin-top:0.5em;
margin-bottom:0;
line-height:1.3;
}

#subnavigation ul {
margin-top:0.5em;
float:left;
}

#subnavigation ul li {
clear:both;
width:100%;
}

#subnavigation ul ul {
margin-left:0.5em;
width:16em;
}

#subnavigation ul ul li {
background:transparent url('../images/bullet_stone_noshadow.gif') no-repeat scroll 0 -1px;
clear:both;
display:block;
font-family:sans-serif;
font-size:12px;
margin-bottom:0.5em;
padding-left:15px;
}

#subnavigation ul ul li a:link,#subnavigation ul ul li a:visited {
color:#223e99;
line-height:1.2;
display:block;
}

#subnavigation ul ul li a span {
display:block;
}

#content {
clear:both;
padding-bottom:2%;
}

#content #searchbox {
position:absolute;
top:-0.5em;
right:0;
}

input.text {
background-color:#fff;
border:1px solid #E2E6EF;
border-top-color:#0C2577;
font:normal 1.4em "myriad web", myriad, "trebuchet ms", arial, sans-serif;
margin:0;
padding:2px 8px;
}

button.submit.go {
background-color:#0c2577;
border:none;
color:#fff;
font:bold 1.4em "myriad web", myriad, "trebuchet ms", arial, sans-serif;
margin:0;
padding:2px 8px;
}

#debug {
position:absolute;
right:0;
top:0;
}

.even {
background-color:#efefef;
}

.odd {
background-color:#F6F6F6;
}

.even td,.odd td {
border-bottom:5px solid #FFF;
}

div.whitebox a.readmore.arrow {
background:transparent url('../images/arrow_right.gif') no-repeat scroll 155px 0;
}

.errormessage,.alert {
color:#ED2024;
display:block;
font-size:1.2em;
position:relative;
}

label {
display:block;
margin-bottom:0.5em;
position:relative;
}

.input,input,select,textarea {
font-family:arial,sans-serif;
font-size:1.2em;
}

.field,.textarea {
border:1px solid #888;
color:#000;
}

#content h4.pagination {
margin:2em 0 0;
}

.highlight {
background-color:#ff9;
}

div.copy table {
width:100%;
font-size:1.2em;
}

body.announcements .pagetitle,body.press-releases .pagetitle {
width:60%;
}

ul.bullet,ul.bullet ul {
list-style-type:none;
_height:25px;
}

ul.bullet li {
background: transparent url('../images/bul_links.gif') no-repeat scroll left 10px;
padding-left:1em;
}

ul.options li {
margin-left:0;
padding-left:0;
background-repeat:no-repeat;
}

ul.downloads li {
background-repeat:no-repeat;
margin:0 0 0 0.5em;
padding:0 0 0 0.5em;
}

ul.stone li,
body.press .copy ul li,
#pagecontent .copy ul li {
background: transparent url("../images/bul_point.gif") no-repeat left 6px;
padding-left:1em;
}

ul.blue li {
background-position:left 6px;
background-image:url("../images/bul_links.gif");
padding-left:1em;
}

ul.lightblue li {
background-position:left 6px;
background-image:url("../images/bul_links.gif");
padding-left:1em;
}

ul.grey li {
background-position:left 6px;
background-image:url("../images/bul_point.gif");
padding-left:1em;
}

ul.arrow li {
background-position:left top;	
background-image:url("../images/bullet_ArrowRight.gif");
padding-left:1.8em;
}

#content dt,#content dd {
margin-left:0;
}

dl.contactperson,dl.contactperson dd {
line-height:1;
margin:0;
}

dl.contactperson dd {
margin-top:2px;
}

#thenetwork {
clear:both;
}

.alert {
background-color:#ED2024;
border:2px solid #ED2024;
color:#FFF;
font-weight:700;
text-align:center;
padding:2px 4px;
}

.alert strong {
color:#FFF;
}

p.alert {
margin-bottom:0.5em;
}

#content .notice {
background-color:#3957A7;
color:#fff;
text-align:center;
padding:4px;
}

div.errors {
color:#ED2024;
font-size:1.2em;
line-height:1.4;
margin:0 1em;
}

.required {
color:gray;
}

#content div.contacts div.target {
border-left:1px solid #efefef;
margin:1em 0 2em;
padding:0 1em;
}

#content div.contacts div.target:hover {
border-left:1px solid #0c2577;
}

#content div.contacts ul {
margin:0.5em;
}

#legend span {
display:block;
float:left;
font-size:1em;
}

#content td.casestudy {
font-size:1.2em;
vertical-align:top;
padding:0.5em 4em 2.5em 0.5em;
}

div.customerlogo {
height:85px;
vertical-align:bottom;
}

div.customerlogo img {
position:absolute;
bottom:0;
left:0;
}

#content .block.article .copy h2 {
color:#000;
font-size:1.6em;
font-weight:400;
width:100%;
margin:1em 0;
}

#newsarticles {
position:absolute;
top:2.5em;
right:0;
}

body.inner #bottomOrn {
left:-10px;
}

div.article .copy table {
line-height:normal;
margin:1em 0 !important;
}

#content div.article .copy table th,#content div.article .copy table td {
font-family:arial, sans-serif !important;
font-size:11px !important;
line-height:normal;
padding:4px;
}

#content div.article .copy ul {
list-style-type:disc;
}

#content div.article .copy ul ul {
list-style-type:circle;
font-size:1em;
}

#content div.article .copy ul ul li {
line-height:1.4;
}

.clearfix{
clear:both;
}	
		
#footer {
background-color:#E3EDF6;
color:#2F3134;
font:10px arial,sans-serif;
clear:both;
padding:15px 5px;
text-align:center;
position:relative;
zoom:1;
}

#copyrightnotice {
font-size: 11px;
text-align:center;
}

.handheld,.cfdebug {
display:none;
}

#footer a:link,#footer a:visited{
color:#2F3134;
text-decoration: none;
}

#footer a:hover,#footer a:active,#content a:hover,#content a:active,div.article a.readmore:hover,div.article a.readmore:active {
color:#2C4EBC;
text-decoration:underline;
}

.left,#boxes_bottom .box {
float:left;
}

div.bluebox .top .content,div.orangebox .top .content {
color:#fff;
}

#subnavigation ul ul li a:hover,#subnavigation ul ul li a:active,.PersonTitle strong {
color:#0c2577;
}

ul.options,ol.nums {
list-style-type:none;
}


#metanavigation {
background-color: #CADDEC;
color: #0c2579;
font:normal 1em verdana, sans-serif;
text-transform: capitalize;
height:30px;
position:absolute;
left:0;
top:0;
width:100%;
padding: 0;
}

#metanavigation_content {
margin: 7px auto 0 auto;
}

#metanavigation a:link, #metanavigation a:visited {
text-decoration:none;
}

.menu-join-stepstone {
font-weight: bold;
}

#sitesearch {
position:absolute;
top:0;
left:700px;
}

.topleft, .topright, .bottomleft, .bottomright {
position:absolute;
display:block;
width:5px;
height:5px;
}

.topleft {
top:0;
left:0;
background-position: top left;
}
.topright {
top:0;
right:0;	
background-position: top right;
}
.bottomleft {
bottom:0;
left:0;
background-position: bottom left;
}
.bottomright {
bottom:0;
right:0;
background-position: bottom right;
}

/* expects 1px border around the container so we move the corners -1px */
.border .topleft {
top:-1px;
left:-1px;
}
.border .topright {
top:-1px;
right:-1px;	
}
.border .bottomleft {
bottom:-1px;
left:-1px;
}
.border .bottomright {
bottom:-1px;
right:-1px;
}

.greybox {
color:#444;
}

#content .title {
font: bold 1.4em "trebuchet ms", arial, sans-serif;
color:#0C2579;
margin: 0 0 5px 0;
}

#content .greybox h2,
#content .greybox h3 {
color: #444;
}

.rounded {
position:relative;	
border:1px solid #A8BFD1;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

.rounded .whitebox {
border-color: #dadada;
}

.orangebox {
background: #ce4300 url('../images/borders_orangeboxbg.gif') repeat-x bottom left;
}

#content .orangebox * {
color: #fff;
}

.rounded.orangebox {
border-color:#d44500;
}

.greybox {
background: #fff url('../images/borders_whitegradboxbg.gif') repeat-x bottom left;
}

.rounded.greybox {
border-color: #d9d9d9;
}

#regionselector #regions .topleft, #regionselector #regions .topright, #regionselector #regions .bottomleft, #regionselector #regions .bottomright {
background-image:url('screen.css');
}

.whitebox .topleft, .whitebox  .topright, .whitebox  .bottomleft, .whitebox .bottomright {
background-image:url('../images/borders_whitebox.gif');
}

.bluebox .topleft, .bluebox  .topright, .bluebox  .bottomleft, .bluebox .bottomright {
background-image:url('../images/borders_bluebox.gif');
}

.greybox .topleft, .greybox  .topright, .greybox  .bottomleft, .greybox .bottomright {
background-image:url('../images/borders_whitegradbox.gif');
}

.orangebox .topleft, .orangebox  .topright, .orangebox  .bottomleft, .orangebox .bottomright {
background-image:url('../images/borders_orangebox.gif');
}

#sitestats {
display:block;
font-size: 1.2em;
}

#promo .rounded {
cursor:pointer;
_cursor:hand;
}

#regionselector {
clear:both;
margin:30px 0;
}

#regionselector_content {
background: #CEE1F0 url('../images/bck_img_stepStoneLocal.jpg') no-repeat top right;
width:940px;
height:300px;
}

#regionselector .title {
color: #013078;
font: bold 1.6em "trebuchet ms",arial,sans-serif;
margin:0 0 5px 10px;
padding:5px 0;
}

#regionselector #regions {
float:left;
width:800px;
margin:15px;
}

#regionselector #regions .country {
border-bottom:1px dotted #A8BFD1;
float:left;
margin:0 5px 10px;
padding:0 0 5px;
width:240px;
}

#regionselector #regions .countryname {
margin:0;
font: bold 1.4em "trebuchet ms", arial, sans-serif;
}

#regionselector #regions .countryname {
padding-left: 27px;
zoom:1;
position:relative;
}

#regionselector .country .rounded {
border:none;
}

#regionselector .country a.rounded:hover,
#regionselector .country a.rounded:active{
background: transparent url('../images/bck_localLinks_hover.gif') no-repeat;
color: #fff;
}

#regionselector .country ul {
margin:0 0 0 22px;
padding:0;
font: normal 11px verdana,sans-serif;
color:#0c2579;
list-style-type:none;
}	

#regionselector .country li {
margin:2px 0;
padding:0;
line-height: normal;
zoom:1;
}	

#regionselector #othercountries{
clear:both;
font: bold 12px verdana, sans-serif;
position: absolute;
bottom: 15px;
left: 20px;
/bottom: auto;
/left: auto;
}

#regionselector #newhrreport {
	clear:both;
	font: bold 12px verdana, sans-serif;
	position: absolute;
	bottom: 15px;
	right: 270px;
	/bottom: auto;
}

#newhrreport_label {
	padding-left: 25px;
}

#othercountries_label {
padding-left: 25px;
}

#regionselector #newhrreport a {
	position:relative;
	display:block;
	float:left;
	margin: 0 10px 0 5px;
	text-decoration: none;
}

#regionselector #othercountries a {
position:relative;
display:block;
float:left;
margin: 0 10px 0 5px;
text-decoration:underline;
}

#regionselector #newhrreport_label .underline {
	text-decoration: underline;
}

#regionselector #newhrreport_label .icon {
	display:block;
	position:absolute;
	width:19px;
	height:27px;
	background: transparent url("../images/icon_new_report.gif") no-repeat;
	top:-5px;
	left:0;
}

#regionselector #othercountries_label .icon {
display:block;
position:absolute;
width:21px;
height:21px;
background: transparent url("../images/flags.gif") no-repeat scroll -84px top;
top:-2px;
left:0;
}

#regionselector a#othercountries_label {
text-decoration:underline;
}

#regionselector a.rounded {
padding:3px 6px;
}

#regionselector a:link, #regionselector a:visited {
color:#0B277A;
text-decoration:none;
display:block;
position:relative;
}

#regionselector a:hover, #regionselector a:active {
color: #2C4EBC;
text-decoration:none;
}


.country .flag {
display:block;
position:absolute;
top:4px;
left:0;
width:21px;
height:13px;
background: transparent url('../images/flags.gif') no-repeat top left;
}

.country .label {
}

.country-BE .flag,
.country-BE-NL .flag {
background-position:0 -13px;
}
.country-BE-FR .flag {
background-position:0 -13px;
}
.country-DK .flag,
.country-DA .flag {
background-position:-21px -26px;
}
.country-DE .flag {
background-position:-42px -26px;
}
.country-FR .flag {
background-position:0 -26px;
}
.country-IT .flag {
background-position:-42px -13px;
}
.country-LU .flag {
background-position:-21px -13px;
}
.country-NL .flag {
background-position:-21px 0;
}
.country-NO .flag {
background-position:-42px 0;
}
.country-AT .flag {
background-position:0 0;
}
.country-PL .flag {
background-position:-63px 0;
}
.country-SV .flag,
.country-SE .flag {
background-position:-63px -13px;
}

.midbluebox .topleft, .midbluebox .topright, .midbluebox .bottomleft, .midbluebox .bottomright {
background-image:url("../images/panels/rounded_10px_daebff.png");
}

#onlineordering .nums {
margin:10px 0 0 5px;
padding:0;
font: normal 11px verdana,sans-serif;
list-style-type:none;
color:#444;
zoom:1;
}

#onlineordering .nums li {
margin: 0 0 8px;
padding: 0 0 5px 25px;
background: transparent url('../images/nums.gif') no-repeat top left;
}

#onlineordering .nums .num1 {background-position:0 0;}
#onlineordering .nums .num2 {background-position:0 -34px;}
#onlineordering .nums .num3 {background-position:0 -69px;}
#onlineordering .nums .num4 {background-position:0 -103px;}

#content #promo a:link, #content #promo a:visited,
#content #promo a:hover, #content #promo a:active,
#content .box a:link, #content .box a:visited,
#content .box a:hover, #content .box a:active {
text-decoration:none;
}

#content #solutionsintro a:link, #content #solutionsintro a:visited,
#content #solutionsintro a:hover, #content #solutionsintro a:active {
color:#444;
}

#content #contactus a:link, #content #contactus a:visited,
#content #contactus a:hover, #content #contactus a:active {
color:#fff;
}

#breadcrumbs {
font: normal 1em verdana, sans-serif;
margin-bottom:15px;
}

#breadcrumbs a {
background: transparent url("../images/bul_breadcrumb.gif") no-repeat scroll right 4px;
margin-right:5px;
padding-right:13px;
text-decoration:none;
text-transform: capitalize;
}

#pagecontent .valuebox {
float:left;
width:165px;
height:285px;
margin: 0 5px;
text-align:center;
background-color:#E2EDF5;
color:#0c2577;
}

body.locale_en #pagecontent .valuebox,
body.locale_da #pagecontent .valuebox,
body.locale_no #pagecontent .valuebox,
body.locale_sv #pagecontent .valuebox {
height:210px;
}	

body.locale_nl #pagecontent .valuebox {
height:240px;
}

#pagecontent .valuebox .title {
font-size: 14px;
padding:5px 0 0 0;
margin:5px 0 10px 0;
}

#pagecontent .valuebox p {
font: normal 11px/1.3 "trebuchet ms",arial, sans-serif;
margin: 0 8px;
}

#stepstone-values {
margin: 15px 0;
}

#stepstone-values .content {
margin:5px;
}

#stepstone-values .first {
margin-left:0;
}

#stepstone-values .last {
margin-right:0;
}

#changelang {
position:absolute;
right:10px;
top:-2px;
z-index:3;
}

#changelang label {
display:block;
float:left;
margin:4px 5px 0 0;
}

body.join-stepstone #strapline.careers {
right:0;
position:absolute;
top:31px;	
width:720px;
height:125px;
background: transparent url('../images/stepstone_clouds_720x125.jpg') no-repeat;
}
/* css rules for downloadForm */
#downloadForm {
padding:20px 0 0 0;
width: 600px;
}
#downloadForm .downloadpair {
margin-bottom:11px;
height:21px;
line-height:21px;
}
#downloadForm .downloadradiopair {
margin-bottom:10px;
height:21px;
}
#downloadForm .downloadpair label, #downloadForm .downloadradiopair label.main {
width:142px;
display: block;	
float:left;
}
#downloadForm .downloadpair input {
width:208px;
display: block;	
float:left;
border:1px solid #d1d1d1;
}
#downloadForm .downloadpair select {
width:208px;
display: block;	
float:left;
border:1px solid #d1d1d1;
}
#downloadForm .downloadradiofield {
width:180px;
display: block;	
float:left;
}
#downloadForm .downloadradiofield label  {
display: inline;
margin-right:5px;	
}
#downloadForm p.desc {
padding-top:1em;	
}
#downloadForm .downloadcheckboxespair {
line-height:28px;
}
#downloadForm .downloadcheckboxespair input {
margin: 6px 5px 0 0;	
}
#downloadForm .downloadcheckboxespair label {
display: inline;	
}
#downloadForm .downloadsubmit {
background:url(../images/buttons/buttons.png)  100% -441px no-repeat;
_background:url(../images/buttons/buttons_ie6.gif)  100% -441px no-repeat;
font: normal normal bold 11px/normal 'Trebuchet MS', Arial, Helvetica, sans-serif;
height: 23px;
padding: 0px 15px 0px 0px;
overflow:hidden;
text-transform: uppercase;
vertical-align: top;
float:left;
margin-left:65px;
margin-top:15px;
_margin-left:30px;
}

#downloadForm .downloadsubmit input {
border: 0px;
height: 23px;
background: url(../images/buttons/buttons.png) 0 -378px no-repeat;
_background: url(../images/buttons/buttons_ie6.gif) 0 -378px no-repeat;
text-transform: uppercase;
cursor: pointer;
display: block;
float:left;
padding: 0 0px 0px 15px;
color:#fff;
font-size:1em;
font-weight:bold;
}
.surveybox {
padding:  0 0 15px 0;	
}
.surveybox img {
float:left;
margin-right:7px;	
}
#container #content #pagecontent .surveybox h3 {
color:#444;
padding-bottom: 5px;
}
#pagecontent .surveybox p {
	padding:0;
}
.surveybox span,.surveybox span a {
color:#bfbfbf;
}
.surveys {
width: 353px;
float:left;	
padding: 20px 22px 0 0;
}
.tips {
width:325px;
float:left;
padding: 20px 0 0 0;
}
.tips .rounded {
padding:7px;	
background:#fff;
}
.tips .border .bottomleft {
bottom: -1px;
left: -1px;
background: url(http://local.stepstone.com/resources/images/borders_whitebox.gif) 0 100% no-repeat;
_bottom: 53px;
_left:-8px;
}
.tips .border .topleft {
_left:-8px;	
}
.tips .border .bottomright {
bottom: -1px;
right: -1px;
_bottom: 53px;
background: url(http://local.stepstone.com/resources/images/borders_whitebox.gif) 100% 100% no-repeat;
}
#content #pagecontent .tips .rounded ul {
padding-bottom:0;	
font-weight:bold;
}
#content #pagecontent .tips .rounded ul li {
padding-top:3px;
color:#444;	
}
#content #pagecontent  .tips .rounded ul li:first-child {
	
}

.contactbuttons {
	text-align: center; 
	display: block !important;
	position:relative;
}
.contactbuttons a {
	margin-top: 15px;
	margin-bottom: 20px!important;
}

div.downloadform-error {
	float: left;
	padding-left: 20px;
}

.skyscraperAd #wrapper #container #content {
	position: relative;
	min-height: 600px;
}

.skyscraperAd #container {
	margin: 0px auto 0px;	
}

.skyscraper {
	width: 160px;
	height: 600px;
	position: absolute;
	float: left;
	top: 0px;
	right: 25px;
}

.downloadform-clear {
	clear:both;	
}

.icon {
	text-align: center;
	vertical-align:  middle;	
	display:block;
	float: left;
	margin-right: 5px;
	margin-top: -2px;
}

