body
{
background-image: url('../images/styleimg/bg.gif');
background-position: top;
background-repeat: repeat-x;
margin: 0px;
}
td {
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
letter-spacing: normal;
}
.mapFrame a:link {
color: #333333;
}
.mapFrame a:visited {
color: #FFFFFF;
}
.mapFrame a:hover {
color: #CCCCCC;
background-color: #333333;
text-decoration: none;
}
.mapFrame a:active {
color: #333333;
}
.logo {
height: 50px;
text-align: left;
vertical-align: top;
}
.textHeight {	height: 160px;
}

.entry
{
width: inherit;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
height:27px;
border:none;
border-color:Transparent;
background-color: Transparent;
borderColorLeft:
}

textarea:focus, input:focus     
{
	outline: none;               
} 

.entryBig {	color: #555555;
font-size: 23px;
font-weight: bold;
}
.entryFlip {	color: #333333;
font-size: 13px;
font-weight: bold;
}
.small {	color: #333333;
font-size: 10px;
font-weight: normal;
}
.link {	color: #067ab4;
font-size: 15px;
font-weight: bold;
text-decoration: none;
}
a.link:hover {
color: #067ab4;
font-size: 15px;
font-weight: bold;
text-decoration: underline;
}
.border {	border: 0px solid #D2D2D0;
padding: 5px 0px 25px 0px;
}
.mapFrameTitle
{
color: #333333;
font-size: 14px;
padding-bottom: 5px;
}
.stripe
{
padding-left: 10px;
overflow:visible;
width: auto;
white-space:nowrap;
}
.ypguide {	color: #ffe600;
font-size: 12px;
font-weight: bold;
text-decoration: underline;
}
a.ypguide:hover {
color: #ffffff;
font-size: 12px;
font-weight: bold;
text-decoration: underline;
}
.logoPlacement {
text-align: left;
vertical-align: middle;
}
.langPlacement {
vertical-align: top;
text-align: right;
padding-top: 10px;
padding-right: 30px;
}
.entrySearchOutside {
background-color: transparent;
}
.entrySearchInside {
background-color: #fffac7;
}	

.entryTitle {
font-size: 15px;
font-weight: bold;
}
.entry12 {
font-size: 12px;
font-weight: normal;
}
.entry11 {
color: #555555;
font-size: 11px;
font-weight: normal;
}
.searchError {
color: #e60b13;
font-weight: bold;
padding: 5px 0px 2px 0px;
}

select.entry, option.entry {
font-size: 16px;
overflow: visible;
}

.listTitle {
color: #333333;
background-color: #fff9c4;
border-bottom-color: #ffe600;
font-size: 16px;
font-weight: bold;
padding: 5px 10px 5px 10px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
.list {
color: #333333;
font-size: 11px;
text-decoration: none;
}
a.list:hover {
color: #000000;
font-size: 11px;
text-decoration: underline;
}
.hint {	color: #000000;
background-color: #FEFEE1;
border: 2px solid #222222;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
padding: 4px;
position: absolute;
display: none;
width: 220px;
margin: -3px 0px 0px 5px;
z-index: 1000;
}
#flashCover {	width: 324px;
height: 455px;
text-align: left;
margin: 0px auto;
position: absolute;
top: 0px;
left: 49%;
margin-left: -160px;
z-index: 0;
}
#flashCoverSearch {	margin: 0;
padding: 0;
z-index: 100;
background-repeat: no-repeat;
}
.headerStripe {
border-style: none;
border-color: inherit;
border-width: 0;
height: 25px;
background: url('../images/styleimg/header.png') repeat-x right;
}