/* $Id: dialogbox.css 64263 2011-04-07 16:16:23Z christopher.sanders $
/css/0.1/screen/common/modules/dialogbox.css
(c)2006 - 2010 The New York Times Company */

.dialogBoxContainer,
.dialogBox,
.dialogBoxPointer,
.dialogBoxPointerLeft,
.dialogBoxPointerRight,
.dialogBoxPointerUp,
.dialogBoxCloseContainer {
  position: absolute;
}

.dialogBox {
  border: 1px solid #ccc;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px #aaa;
  -webkit-box-shadow: 0 1px 3px #aaa;
  box-shadow: 0 1px 3px #aaa;
  text-align: left;
}

.dialogBox.blue {
  border: 1px solid #c5d3e1;
  background-color: #e6eff8;
}

.dialogBox .inset {
  margin: 10px;
}

.dialogBox .module {
  border: none;
  margin-bottom: 20px;
  background: none;
}

.dialogBox .header {
  margin-bottom: 4px;
  zoom: 1;
}

.dialogBox .header .moduleHeaderBd,
.dialogBox .header .moduleHeader {
  margin: 0;
}

.dialogBox .header .element2 {
  width: 52px;
}

.dialogBoxPointer {
  left: 48%;
  background: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_down.png) left top no-repeat;
  height: 13px;
  width: 11px;
}

.dialogBoxPointerLeft {
  top: 48%;
  left: -10px;
  background: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_left.png) left top no-repeat;
  height: 15px;
  width: 10px;
}

.dialogBoxPointerRight {
  top: 48%;
  right: -10px;
  background: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_right.png) left top no-repeat;
  height: 15px;
  width: 10px;
}

.dialogBoxPointerUp {
  left: 48%;
  top: -8px;
  background: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_up.png) left top no-repeat;
  height: 8px;
  width: 12px;
}

.dialogBox.blue .dialogBoxPointer {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_down_blue.png);
  background-color: transparent;
}

.dialogBox.blue .dialogBoxPointerLeft {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_left_blue.png);
  background-color: transparent;
}

.dialogBox.blue .dialogBoxPointerRight {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_right_blue.png);
  background-color: transparent;
}

.dialogBox.blue .dialogBoxPointerUp {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_up_blue.png);
  background-color: transparent;
}

.dialogBoxCloseContainer {
  top: 5px;
  right: 5px;
}

.dialogBoxClose {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #000 !important;
  background: url(http://graphics8.nytimes.com/images/modules/dialogbox/close_dialog_box_icon.gif) right top no-repeat;
  display: block;
  height: 13px;
  padding-right: 18px;
}

.dialogBoxClose.hideText {
  padding-right: 0;
  width: 13px;
}

/* IE8 and below get non shadowed pointer images */

.dialogBoxPointer {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_down_no_shadow.png)\9;
}

.dialogBoxPointerLeft {
  left: -8px\9;
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_left_no_shadow.png)\9;
  height: 10px\9;
  width: 8px\9;
}

.dialogBoxPointerRight {
  right: -8px\9;
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_right_no_shadow.png)\9;
  height: 10px\9;
  width: 8px\9;
}

.dialogBox.blue .dialogBoxPointer {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_down_no_shadow_blue.png)\9;
}

.dialogBox.blue .dialogBoxPointerLeft {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_left_no_shadow_blue.png)\9;
}

.dialogBox.blue .dialogBoxPointerRight {
  background-image: url(http://graphics8.nytimes.com/images/modules/dialogbox/pointer_right_no_shadow_blue.png)\9;
}

