.nonIndentList
{
    margin: 0;
    padding-left: 0;
    text-indent: 0;
}

ol.nonIndentList
{
    padding-left: 1.5em;
}

.nonIndentList li
{
    margin: 0;
    padding: 0;
}

.bulletList
{
    font-size: 11px;
    line-height: 18px;
}

.numberedList *
{
    font-weight: normal;
}

.numberedList ul
{
    list-style-position: outside;
    list-style-type: decimal;
    font-size: 15px;
    line-height: 22px;
    color: #636466;
    margin-top: 0;
    margin-left: -15px;
}

.multiColumnList ul
{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.multiColumnList li
{
    float: left;
    width: 80px;
    margin: 0;
    padding: 0;
}


.headerLarge
{
    color: #A40016;
    font-size: 60px;
    line-height: 58px;
    font-weight: bold;
}

.subHeaderLarge
{
    color: #636466;
    font-size: 26px;
    height: 60px;
}

.finePrint
{
    font-size: 10px;
    color: #636466;
    padding: 0px 10px 0px 10px;
}

.important
{
    color: #A40016;
    font-weight: bold;
    font-size: 16px;
}

.clear
{
    /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

/*http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html*/
a.button
{
    background: transparent url('img/buttons/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span
{
    background: transparent url('img/buttons/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active
{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span
{
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.progressBarCtr
{
    height: 9px;
    width: 100px;
}

.progressBar
{
    height: 9px;
    width: 100px;
    background: url(img/animations/progressbar.gif);
}

.spinnerCtr
{
    height: 16px;
    width: 16px;
}

.spinner
{
    height: 16px;
    width: 16px;
    background: url(images/spinner-sm-gray.gif);
}

.ui-layout-pane
{
    /* start by removing all padding & scrolling */
    padding: 0;
    overflow: hidden;
}

/*.ui-layout-content 
{
	padding:		15px;
	overflow:		auto;
	position:		relative; 
}*/

.ui-layout-resizer-west
{
    /* NOTE: SOMETHING in the theme CSS is setting opacity here */
    background: #F00 url(images/resizable-w.gif) no-repeat 0 center;
}
.ui-layout-resizer-west-closed
{
    background: #DDDDDD;
}

.ui-layout-resizer-west-closed:hover
{
    background: #EEEEEE;
}

.ui-layout-toggler
{
    width: 21px; 
    height: 21px;
    background: url(images/go-lt-off.gif) no-repeat center;
    display: inline-block;
}

.ui-layout-toggler-closed		{ background: url(images/go-rt-off.gif) no-repeat center; }

.ui-layout-button-pin
{
    width: 21px; 
    height: 21px;
    background: url(images/pin-dn-off.gif) no-repeat center;   
    display: inline-block;
}

.ui-layout-button-pin-up	  		{ background: url(images/pin-up-off.gif) no-repeat center; }
.ui-layout-button-pin-down	  		{ background: url(images/pin-dn-off.gif) no-repeat center; }

.ui-state-alt {background-color: #EEEEEE;}


.ui-layout-button-prev	  		{ background: url(images/go-lt-off.gif) no-repeat center; width: 15px; height: 15px; cursor: pointer; }
.ui-layout-button-next	  		{ background: url(images/go-rt-off.gif) no-repeat center; width: 15px; height: 15px; cursor: pointer; }

#rb-footer {
	font-size: 12px;
}