@charset "UTF-8";
/* CSS Document */


/****** FRAMEWORK ******/

html {
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/weave_bg.jpg) #126788 top repeat;
	height: 100%
}

body {
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/frame_bg.png) top repeat-y;
	margin: 0 auto;
	
}

div#frame {
	position:relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
}
.headerNothing {
	height: 95px;
	width: 220px;
	position: absolute;
	right: 507px;
	top: 0px;
	padding: 3px;
}
div#header {
	height: 130px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: #E0F1FA;
	z-index:1;
}

div#sideCol {
	width: 170px;
	height: 100%;
	padding: 10px 5px 100px 0;
	
	float: left;
}

div#mainBody {
	width: 1000px;
	height: 100%;
	margin-top: 5px;
	
}
div#mainBodyLogin {
	width: 1000px;
	height: 100%;
	margin-top: 5px;
margin-left:190px;

}
div.seoMsg {	
	font-size:11px;
    text-align:center;   
	margin-top: 5px;
	padding-top:5px;
	border-top: 1px solid #CBE1EC;	
	clear: both;	
	}

/****** TYPOGRAPHY ******/

.preText {
	font-size: 11px;
	color: #2889AD;
	width:170px;
	height:15px;
	border:none !important;
}
.searchinput{
	margin-top:-3px;
	
	}
	
/*****HEADER SEALS**/
#seals{
	width:120px;
	height:65px;
	position:absolute;
	top:10px;
	right:5px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/seal_mcafee.gif) no-repeat;
	}

/****** MINICART ******/


.cartTopNoClick{
	border-bottom: solid 1px #126788;
	}

.cartTopClick{
	border-bottom: solid 1px #FFFFFF;
	}

.cartTop {
	z-index: 800;
	width: 200px;
	height: 63px;
	padding: 0 5px 0 5px;
	margin:10px 10px 0 780px;
	border-top: solid 1px #126788;
	border-left: solid 1px #126788;
	border-right: solid 1px #126788;
	background: #FFF;
	overflow: hidden;
	position: absolute;
	top: 0;
    right:120px;  
	
}

.cartBottom {
	z-index: 700;
	position: absolute;
	top: 64px;
	width: 403px;
	border: solid 1px #126788;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/rope.gif) bottom repeat-x #FFF;
	margin:10px 10px 0 580px;
	padding: 0 5px 17px 5px;
}


/****** TYPOGRAPHY ******/

.miniCart a, .miniCart h6, .miniCart li ,.cartTop3 h6,.cartCheckout2 a{
	font-size: 11px;
	text-decoration: none;
}

.miniCart a, .miniCart h6 {
	color: #126788;
}


/****** TOP BOX ******/
#cartTop2{
	cursor:pointer;
}
#cartTopShopping {
	height: 21px;
	
	position: relative;
	text-align: right;
	padding: 7px 7px 0 0;
}

.cartTitle {
	position: absolute;
	top: 5px;
	left: 5px;
}

.cartTitle img {
	padding-left: 7px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/br_arrow_rt.gif) left no-repeat;
	cursor:pointer;
}


.cartTitleArrowDown img {
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/br_arrow_dn.gif) left no-repeat;
}


.cartTop3 {
	height: 24px;
	position: relative;
	padding: 10px 0 0 7px;
}

.checkoutBtn {
	position: absolute;
	right: 5px;
	top: 8px;
}


/****** ITEM LIST ******/

ul.cartItems {
	padding: 15px 10px 15px 20px;
	max-height: 350px;
	overflow: auto;
}

.cartItems li {
	list-style: none;
	margin-bottom: 10px;
}

.cartItems li img {
	padding: 3px;
	border: 1px solid #CBE1EC;
	float: left;
	margin-right: 20px;
}

ul.cartItemInfo {
	padding-top: 10px;
	height: 98px;
}

.cartItemInfo li {
	margin: 0;
}

.cartItemName h6,.cartItemName {
	font-size: 12px;
}
a.productName{
	line-height:1.1em;
	font-size: 12px !important;
	text-decoration: none;
	padding-bottom:10px;
	text-transform: lowercase;
	color:#543 !important;
	
}

/****** SUBTOTAL & CHECKOUT BARS ******/

.cartSubtotalBar {
	height: 18px;
	border-top: solid 1px #CBE1EC;
	position: relative;
	padding: 6px 0 0 15px;
}
.cartSubtotalBar a {
	text-decoration:none;
	font-size:11px;
}

.cartSubtotalBar h6 {
	padding-left: 70px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/subtotal.gif) left no-repeat;
	font-weight: bold;
	position: absolute;
	right: 17px;
	top: 6px;
	font-size:11px;
	
}

.cartCheckout2 {
	height: 30px;
	border-top: solid 1px #CBE1EC;
	position: relative;
	padding: 11px 0 0 15px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/rope.gif) bottom repeat-x #E0F1FA;
}

.closeCart {
	padding-left: 15px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/xbox_blue.gif) left no-repeat;
}

.checkoutBottom {
	position: absolute;
	top: 8px;
	right: 13px;
}


/****** RELATED ITEMS ******/

.cartRelated {
	padding: 20px 5px;
	text-align: center;
}

.cartRelated ul {
	list-style: none;
}

.cartRelated ul li {
	width: 100px;
	display: inline;
	text-align: center;
	float: left;
	padding: 15px;
}

.cartRelated ul img {
	margin-bottom: 8px;
}




/****** HEADER TOP ******/

div#logo {
	width: 280px;
	height: 33px;
	padding-top: 67px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/ugLogo.gif);
	float: left;
	text-align: center;
}

div#miniCart {
	height: 63px;
	width: 210px;
	float: right;
	margin: 10px 10px 2px 10px;
	background-color: #FFF;
	border: solid 1px #CBE1EC;
}

p.topInfo {
	position:absolute;
	left:450px;
	top: 13px;
	font-size: 11px;
	color: #543;
	line-height: 14px;
	width:196px;
	text-align:right;
}

#searchBox {
	height: 24px;
	width: 269px;
	background-color: #F7A91A;
	position: absolute;
	right: 350px;
	top: 45px;
	padding: 3px;
}

.searchInput {
	float: left;
	width: 171px;
	height: 19px;
	border: none;
	padding: 5px 10px 0;
	background-color: #FFF;
	border: none;
}

.searchBtn {
	float: right;
	display: block;
	width: 75px;
	height: 20px;
	font-size: 11px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #F7A91A;
	padding-top: 4px;
	text-align: center;
	text-decoration: none;
	border:none;
}

/****** SUB NAV ******/

div#subNav {
	position: absolute;
	height: 22px;
	right: 15px;
	top: 78px;
}

ul#subNavList {
	height: 22px;
}

ul#subNavList li {
	float: left;
	list-style: none;
}

ul#subNavList li a {
	float: left;
}

#subNav a:hover {visibility:visible}
#subNav a:hover img {visibility:hidden;}
#subnav0 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/vote_dn.gif) no-repeat;}
#subnav1 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/giftfinder_dn.gif) no-repeat;}
#subnav2 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/occasions_dn.gif) no-repeat;}
#subnav3 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/gifts_dn.gif) no-repeat;}
#subnav4 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/blog_dn.gif) no-repeat;}
#subnav5 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/tji_dn.gif) no-repeat;}
#subnav6 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/sale_dn.gif) no-repeat;}


/****** MAIN TOP NAV ******/

div#topNav {
	clear: both;
	height: 24px;
	width: 1000px;
	border-top: solid 1px #2889AD;
	border-bottom: solid 1px #2889AD;
	padding-top: 2px;
	background-color: #FFF;
	position: absolute;
	bottom: 0;
}

ul#topNavList {
	height: 22px;
	background-color: #2889AD;
}

ul#topNavList li {
	float: left;
	list-style: none;
}

ul#topNavList li a {
	float: left;
}

#topNav a:hover{visibility:visible;}
#topNav a:hover img {visibility:hidden;}
#cat1 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/home-garden_dn.gif) no-repeat;}
#cat2 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/dining-entertaining_dn.gif) no-repeat;}
#cat3 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/office_dn.gif) no-repeat;}
#cat4 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/leisure_dn.gif) no-repeat;}
#cat5 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/jewelry-accessories_dn.gif) no-repeat;}
#cat6 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/for-her_dn.gif) no-repeat;}
#cat7 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/for-him_dn.gif) no-repeat;}
#cat8 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/for-kids_dn.gif) no-repeat;}
#cat9 {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/birthday_dn.gif) no-repeat;}*/
/*#cat9 {background: url(http://data.uncommongoods.com.edgesuite.net/images/newweb/frame/val_dn.gif) no-repeat;}*/
/*#cat9 {background: url(http://data.uncommongoods.com.edgesuite.net/images/newweb/frame/mday_dn.gif) no-repeat;}/*#cat9 {background: url(http://data.uncommongoods.com.edgesuite.net/images/newweb/frame/fathersday_dn.gif) no-repeat;}
/*cat9 {background: url(http://data.uncommongoods.com.edgesuite.net/images/newweb/frame/wedding_dn.gif) no-repeat;}*/
/****** SIDE BAR ******/

div#yourRefinements {
	width: 175px;
}

.currentCat {
	display: block;
	padding-bottom: 8px;
	background: #FFF url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/cat_carrot.gif) bottom no-repeat;
}

a.sideCats {
	display: block;
	width: 175px;
	
	padding: 0;
	border-top: #CBE1EC solid 1px;
}

a.sideCats:hover {visibility:visible}
a.sideCats:hover img {visibility:hidden;}
.sideCat_wedding{background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/wedding_side_dn.gif) no-repeat;}
.sideCat_wedding-gifts {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/wedding_side_dn.gif) no-repeat;}
.sideCat_fathers-day-gifts {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/fathers-day_side_dn.gif) no-repeat;}
.sideCat_mothers-day-gifts {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/mothers-day-gifts_side_dn.gif) no-repeat;}
.sideCat_birthday {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/birthday_side_dn.gif) no-repeat;}
.sideCat_valentines-day {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/valentines-day_side_dn.gif) no-repeat;}
.sideCat_home-garden {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/home-garden_side_dn.gif) no-repeat;}
.sideCat_dining-entertaining {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/dining-entertaining_side_dn.gif) no-repeat;}
.sideCat_office {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/office_side_dn.gif) no-repeat;}
.sideCat_leisure {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/leisure_side_dn.gif) no-repeat;}
.sideCat_jewelry-accessories {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/jewelry-accessories_side_dn.gif) no-repeat;}
.sideCat_for-her {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/for-her_side_dn.gif) no-repeat;}
.sideCat_for-him {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/for-him_side_dn.gif) no-repeat;}
.sideCat_for-kids {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/for-kids_side_dn.gif) no-repeat;}
.sideCat_a-touch-of-autumn {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/a-touch-of-autumn_side_dn.gif) no-repeat; border-bottom: #CBE1EC solid 1px;}
.sideCat_occasions {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/occasions_side_dn.gif) no-repeat;}
.sideCat_gifts {background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/gifts_side_dn.gif) no-repeat;}
.taxSubs, .taxFams {
	margin-left: 15px;
}

.taxSubs {
	padding: 5px 0 10px;
}

.taxFams { 
	padding: 3px 0 5px;
}

.taxCats li, .taxSubs li, .taxFams li {
	list-style: none;
	margin: 0;
	padding: 0;
	zoom:1;
}

.taxSubs a, .taxFams a {
	float: none;
	display: block;
	text-decoration: none;
	line-height: 1.1em;
}	

.taxSubs a {
	zoom:1;
	text-transform: none;
	font-weight: normal;
	font-size: 12px;
	padding: 5px 15px;
	color: #543;
	border: none;	
}

.taxFams a {
	width: 115px;
	padding: 4px 15px;
}

.taxSubs a:hover, taxFams a:hover {
	background-color: #E0F1FA;
	color: #543;
}

p.currentSub {
	display: block;
	height: 26px;
	width: 130px;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 15px;
	background: #CBE1EC url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/sub_carrot.gif) bottom no-repeat;
	color: #543;
}

p.currentSubSpecial {
	display: block;
	height: 26px;
	width: 160px;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0px;
	background-color: #CBE1EC;
	color: #543;
}

p.currentFam {
	display: block;
	width: 145px;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0px;
	background-color: #CBE1EC;
	color: #543;
	line-height: 1.1em;
}
	

/****** RECENTLY VIEWED ******/
#Recentwrap{
clear: both;
	width: 175px;
	padding: 10px 0 0px 0;
	  background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/rope.gif) top repeat-x;
}
.jcarousel-skin-tango-recent li{
list-style:none;
}
.jcarousel-skin-tango-recent .jcarousel-container {
	margin: 0 auto;
	 padding: 20px 20px;
	width: 136px;
	  background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/rope.gif) bottom repeat-x;
  
}
.jcarousel-skin-tango-recent .jcarousel-container-vertical {
    width: 136px;
    height: 320px;
   
}
.jcarousel-skin-tango-recent .jcarousel-clip-vertical {
	margin: 0 auto;
	 width:  136px;
    height: 275px;
    margin-top:10px;
}

.jcarousel-skin-tango-recent .jcarousel-item {
    width: 60px;
    height: 60px;
}

.jcarousel-skin-tango-recent .jcarousel-item-vertical {
   
	margin: 3px;
	float: left;
	width:59px;
}

.jcarousel-skin-tango-recent .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango-recent .jcarousel-next-vertical {
    position: absolute;
    bottom: 25px;
    left: 85px;
    width: 13px;
    height: 11px;
    cursor: pointer;
    background: transparent url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/arrow_down.gif) no-repeat 0 0;
}

.jcarousel-skin-tango-recent .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango-recent .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-recent .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango-recent .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango-recent .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango-recent .jcarousel-prev-vertical {
    position: absolute;
    top: 10px;
    left: 85px;
    width: 13px;
    height: 11px;
    cursor: pointer;
    background: transparent url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/arrow_up.gif) no-repeat 0 0;
}

.jcarousel-skin-tango-recent .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}
.jcarousel-skin-tango-recent .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-tango-recent .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango-recent .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango-recent .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.rvTitle {
	width: 175px;
	padding: 20px 0 0px ;
	margin: 0 0 0 0px;;
}
img.thumbImg {
	padding: 2px;
	border: solid 1px #CBE1EC;
	background-color: #FFF;

}
.red{
	color: #CC4544;

	}
/**GF MODAL POP**/



#dialog{

	background-color: #E1F1FA;
	border: 5px solid #126788;
	box-shadow: 4px 5px 7px #ccc;
	-moz-box-shadow: 4px 5px 7px #ccc;
	-webkit-box-shadow: 4px 5px 7px #ccc;
}
#boxes #dialog1 {
  width:150px; 
  height:140px;
  background-color: #E1F1FA;
	border: 5px solid #126788;
	box-shadow: 4px 5px 7px #ccc;
	-moz-box-shadow: 4px 5px 7px #ccc;
	-webkit-box-shadow: 4px 5px 7px #ccc;
}

#boxes #dialog2 {
  background-color: #E1F1FA;
	border: 5px solid #126788;
	box-shadow: 4px 5px 7px #ccc;
	-moz-box-shadow: 4px 5px 7px #ccc;
	-webkit-box-shadow: 4px 5px 7px #ccc;
  width:150px; 
  height:140px;
  
}
.gfTitle {
	padding-bottom: 10px;
}

#dialog  select {
	font-size: 11px;
	color: #2889AD;
	background-color: #FFF;
	border: 1px solid #2899AD;
	padding: 2px;
	width: 175px;
	margin-bottom: 8px;
}

#gfSubmitBtn a {
	width: 120px;
	height: 20px;
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/submit_btn.gif) no-repeat;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

#gfSubmitBtn a:hover {
	background: url(../../data.uncommongoods.com.edgesuite.net/images/newweb/frame/submit_btn_dn.gif) no-repeat;
}


#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#080808;
  display:none;
}

#boxes .window {
 width: 175px;
 padding: 35px 35px 40px 35px ;
 position: fixed;
 top: 200px;
 left: 600px;
 display:none;
 z-index:9999;
}
.close{
border:none;
position:absolute;
left:225px;
top:10px;
}
#message p {
	color: #CC4544;
	font-style: italic;
	padding: 10px 20px;
	font-size: 10px;
	line-height: 1.25em;
	text-align:center;
}

/** submit button for view all*/

.submitButton{
	letter-spacing: .05em;
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #FFF;
	text-decoration: none;
	border:none;
	font-size:13px;
	background-color:transparent;
	cursor: pointer;
	font-weight:bold;

}
.submitButton:hover{
	text-decoration: underline;
	}

#sideCol{
	margin-top:-24px;
}
/**FOOTER**/
.clearBoth {
	clear: both;
}

#footer {
	clear: both;
	background-color: #E0F1FA;
	margin-top: 5px;
	border-top: 1px solid #CBE1EC;
}

.footerMsg {
	width: 1000px;
	padding: 10px 0;
	color: #126788;
}

.footerLinks {
	background-color: #FFF;
	padding: 20px 0 18px;
	border-top: 1px solid #CBE1EC;
	border-bottom: 1px solid #CBE1EC;
}

.footerLinks1, .footerLinks2, .footerLinks3, .footerLinks4, .emailSign {
	padding-left: 50px;
	float: left;
}

.footerLinks1 {
	width: 100px;
}

.footerLinks2 {
	width: 100px;
}

.footerLinks3 {
	width: 120px;
}

.footerLinks4 {
	width: 150px;
}

#footer p, #footer a {
	font-size: 11px;
	text-align: center;
}

#footer a, #footer a:visited {
	color: #2889AD;
	text-decoration: none;
	text-align: left;
}

#footer a:hover {
	text-decoration: underline;
}

#footer img {
	padding-right: 5px;
}

.emailSign strong {
	color: #126788;
}

.emailSign p {
	text-align: left !important;
}

.emailSignBtn {
	margin-bottom: -6px;
}

/**video icon show hand**/
#vid{
	cursor:pointer;
	}
/**grayed out sku**/
.grayedOut{
	color: #CCC000 !important;}
	
.strikeOut{
	text-decoration: line-through;
	}
.backToTop{
	clear:both;
	float:right;
	width:92px;
    margin:-40px 20px 0px 0;
	}
.noLineOnLink{
	text-decoration:none !important;
	}
	
span .price{
	padding-right:30px; 
	text-align:left;
	font-size: 11px;
	text-decoration: none;
	color: #126788;
}
