body, div, span, br, form, label, fieldset, legend, img, blockquote, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, a, table, td, tr, th {
	border:0;
	margin:0;
	padding:0;
}

body {
	font: 0.75em 'Tahoma',Arial,Helvetica,sans-serif;
	color:#666666;
	text-align:center;
	height:100%;
	background:#E4E1DC;
}

input, select, textarea {
	font: 1.0em 'Tahoma',Arial,Helvetica,sans-serif;
	color:#666666;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Tahoma', Arial, Helvetica, sans-serif;
	color:#fefefe;
}

ul, li, ol, dl, dt, dd {
	list-style:none;
}

.full-clear {
	clear: both;
	margin-bottom:-1px;
	height: 0px;
	font-size: 0.1px;
}

.lite-clear {
	clear: both;
	font-size: 0.1px;
}

p {
	line-height: 1.4em;
	margin-bottom:1.0em;
}

div.main-container {
	margin: 0 auto;
	width: 990px;
	text-align: left;
}

div#upper-frame div#header {
	height:120px;
	min-height: 120px !important;
}

a:link {
	outline:none;
}

.primary-link:link, .primary-link:visited, .primary-link a:link, .primary-link a:visited {
	color:#666666;
}

.primary-link:hover, .primary-link a:hover {
	color:#666666;
	text-decoration:none;
}

.secondary-link:link, .secondary-link:visited, .secondary-link a:link, .secondary-link a:visited {
	color:#fefefe;
}

.secondary-link:hover, .secondary-link a:hover {
	color:#fefefe;
	text-decoration:none;
}

a.home-link {
    color:#666666;   
    text-decoration:underline;
}

/* Xmas styles */
div#upper-frame div.main-container img.holly-1 {
    display:block;
    width:36px;
    height:35px;
    position:absolute;
    top:140px;
    left:528px;
}

div#upper-frame div.main-container img.holly-2 {
    display:block;
    width:36px;
    height:35px;
    position:absolute;
    top:143px;
    left:-35px;
}

div#upper-frame div.main-container img.holly-3 {
    display:block;
    width:36px;
    height:35px;
    position:absolute;
    top:140px;
    left:696px;
}

/* Adding badges to the prize images */

span.disabled-badge-star-prize-medium {
    background:url("../images/badges/starprize_med.png") no-repeat;
    display:block;
    height:42px;
    width:42px;
    float:right;
}

span.disabled-badge-closing-prize-medium {
    background:url("../images/badges/closing_med.png") no-repeat;
    display:block;
    height:40px;
    width:70px;
    float:right;
}

span.disabled-badge-new-prize-medium {
    background:url("../images/badges/new_med.png") no-repeat;
    display:block;
    height:42px;
    width:42px;
    float:right;
}

span.disabled-badge-star-prize-large {
    background:url("../images/badges/starprize_large.png") no-repeat;
    display:block;
    height:80px;
    width:80px;
    float:right;
}

span.disabled-badge-closing-prize-large {
    background:url("../images/badges/closing_large.png") no-repeat;
    display:block;
    height:77px;
    width:132px;
    float:right;
}

span.disabled-badge-new-prize-large {
    background:url("../images/badges/new_large.png") no-repeat;
    display:block;
    height:75px;
    width:75px;
    float:right;
}

span.prize-completed {
    width:120px;
    background:url("../images/subsidiary/entered_sm.png") no-repeat;
    display:block;
    height:40px;
    position:relative;
    top:-71px;
}

span.prize-completed-large {
    height:70px;
    width:290px;
    background:url("../images/subsidiary/entered_lg.png") no-repeat;
    display:block;
    position:relative;
    top:-120px;
}

/*Two stage questionnaire styles */
div#two-stage-questionnaire p.message {
    display:block;
    width:320px;
    margin:30px 0 0 137px;
    font:bold 15px/22px bold Tahoma,Geneva,Verdana,sans-serif;
    color:#585858;
}

span.lightbox-bg {
    background:url(../promotions/promoid_220/images/questionnaire/light-box-bg.png) no-repeat;
    display:block;
    width:297px;
    height:242px;
    position:absolute;
    top:140px;
    left:1px;
}

div#prize-entry-status-overlay {
    background:#e5f1f6;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; 
    width:331px;
    margin:20px 0 5px 137px;
     padding:10px 0;
}

div#prize-entry-status-underlay {
    background:#e5f1f6;
    width:346px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; 
    margin:20px 0 5px 320px;
    padding:10px 0;
}

div#prize-entry-status-overlay p {
    font:bold 12px bold Tahoma,Geneva,Verdana,sans-serif;
    display:block;
    width:220px;
    margin:0 auto 10px auto;
}

div#prize-entry-status-underlay p {
    font:bold 12px bold Tahoma,Geneva,Verdana,sans-serif;
    display:block;
    width:220px;
    margin:0 auto 10px auto;
}

div#prize-entry-status-overlay img {
    display:block;
    margin:0 auto;
    width:244px;
}

div#prize-entry-status-underlay img {
    display:block;
    margin:0 auto;
    width:244px;
}

div#prize-entry-status-underlay p.bottom-text {
    font:bold 10px bold Tahoma,Geneva,Verdana,sans-serif;
    display:block;
    width:328px;
    padding-top:5px;
}

div#prize-entry-status-underlay img.down-arrow {
    display:block;
    width:67px;
    height:45px;
    margin:10px 0 0 140px;
    position:absolute;
}