dl#skip-navigation {
	float: right;
	clear: both;
}

dl#skip-navigation dt {
	position: absolute;
	right: 9000px;	
}

dl#skip-navigation a, dl#skip-navigation a:visited {
	position: absolute;
	right: 9000px;
	top: 0; 
	display: block;
	width: auto;
	white-space: nowrap;
}
dl#skip-navigation a:focus, dl#skip-navigation a:active, dl#skip-navigation a:hover {
	right: 0;
	display: block;
	color: #fefefe;
	padding: 4px;
	width: auto;
	white-space: nowrap;
}

div#top-navigation {
	height:3.1em;
}

div#top-navigation ul#main-navigation {
	float:left;
}

div#top-navigation ul#main-navigation li {
	float:left;
}

div#top-navigation ul#main-navigation li a {
	margin-top:10px;
	color:#fefefe;
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;
	display:block;
}

div#top-navigation ul#main-navigation li a:hover {
	margin-top:5px;
	padding-bottom:5px;
}

ul#main-navigation a#nav-option-home, ul#main-navigation a#nav-option-home span.l, ul#main-navigation a#nav-option-home span.r, 
ul#main-navigation a#nav-option-travel, ul#main-navigation a#nav-option-travel span.l, ul#main-navigation a#nav-option-travel span.r ,
ul#main-navigation a#nav-option-motoring, ul#main-navigation a#nav-option-motoring span.l, ul#main-navigation a#nav-option-motoring span.r,
ul#main-navigation a#nav-option-money, ul#main-navigation a#nav-option-money span.l, ul#main-navigation a#nav-option-money span.r,
ul#main-navigation a#nav-option-electronic, ul#main-navigation a#nav-option-electronic span.l, ul#main-navigation a#nav-option-electronic span.r,
ul#main-navigation a#nav-option-lifestyle, ul#main-navigation a#nav-option-lifestyle span.l, ul#main-navigation a#nav-option-lifestyle span.r,
ul#main-navigation a#nav-option-household, ul#main-navigation a#nav-option-household span.l, ul#main-navigation a#nav-option-household span.r
 {
	background-image: url(../images/navigation/main_navigation_tabs.png);

/* xmas navigation

	background-image: url(../images/themes/christmas/main_navigation_tabs.png);
	
	*/
}

ul#main-navigation a#nav-option-home {
	background-color: #3693B6;
	background-position: center 0;

	/*background:url(../images/themes/christmas/xmas_header_background.png) repeat-x;*/
}

ul#main-navigation a#nav-option-home span.l {
	background-position: 0 -90px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-home span.r {
	background-position: right -90px;
	display:block;
	padding:5px 10px 5px 0;
}


ul#main-navigation a#nav-option-travel {
	background-color: #BA142F;
	background-position: center -160px;
}

ul#main-navigation a#nav-option-travel span.l {
	background-position: 0 -250px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-travel span.r {
	background-position: right -250px;
	display:block;
	padding:5px 10px 5px 0;
}

ul#main-navigation a#nav-option-motoring {
	background-color: #675249;
	background-position: center -320px;
}

ul#main-navigation a#nav-option-motoring span.l {
	background-position: 0 -410px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-motoring span.r {
	background-position: right -410px;
	display:block;
	padding:5px 10px 5px 0;
}

ul#main-navigation a#nav-option-money {
	background-color: #F58303;
	background-position: center -480px;
}

ul#main-navigation a#nav-option-money span.l {
	background-position: 0 -570px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-money span.r {
	background-position: right -570px;
	display:block;
	padding:5px 10px 5px 0;
}

ul#main-navigation a#nav-option-electronic {
	background-color: #429829;
	background-position: center -640px;
}

ul#main-navigation a#nav-option-electronic span.l {
	background-position: 0 -730px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-electronic span.r {
	background-position: right -730px;
	display:block;
	padding:5px 10px 5px 0;
}

ul#main-navigation a#nav-option-lifestyle {
	background-color: #DC297E;
	background-position: center -800px;
}

ul#main-navigation a#nav-option-lifestyle span.l {
	background-position: 0 -890px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-lifestyle span.r {
	background-position: right -890px;
	display:block;
	padding:5px 10px 5px 0;
}

ul#main-navigation a#nav-option-household {
	background-color: #684F8A;
	background-position: center -960px;
}

ul#main-navigation a#nav-option-household span.l {
	background-position: 0 -1050px;
	padding-left:10px;
	display:block;
}

ul#main-navigation a#nav-option-household span.r {
	background-position: right -1050px;
	display:block;
	padding:5px 10px 5px 0;
}

div#home-style ul#main-navigation a#nav-option-home, 
div#travel-style ul#main-navigation a#nav-option-travel,  
div#motoring-style ul#main-navigation a#nav-option-motoring, 
div#money-style ul#main-navigation a#nav-option-money,
div#electronic-style ul#main-navigation a#nav-option-electronic,
div#lifestyle-style ul#main-navigation a#nav-option-lifestyle,
div#household-style ul#main-navigation a#nav-option-household {
	margin-top:0;
}

div#home-style ul#main-navigation a#nav-option-home:hover, 
div#travel-style ul#main-navigation a#nav-option-travel:hover, 
div#motoring-style ul#main-navigation a#nav-option-motoring:hover,
div#money-style ul#main-navigation a#nav-option-money:hover,
div#electronic-style ul#main-navigation a#nav-option-electronic:hover,
div#lifestyle-style ul#main-navigation a#nav-option-lifestyle:hover,
div#household-style ul#main-navigation a#nav-option-household:hover {
	padding-bottom:0;
}

div#home-style ul#main-navigation a#nav-option-home span.r, 
div#travel-style ul#main-navigation a#nav-option-travel span.r,
div#motoring-style ul#main-navigation a#nav-option-motoring span.r,
div#money-style ul#main-navigation a#nav-option-money span.r,
div#electronic-style ul#main-navigation a#nav-option-electronic span.r,
div#lifestyle-style ul#main-navigation a#nav-option-lifestyle span.r,
div#household-style ul#main-navigation a#nav-option-household span.r {
	padding-bottom:15px;
}

div#upper-frame {
    background-color:#454545;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5f5f5f), color-stop(30%, #4b4b4b), color-stop(70%, #454545));
	background:-moz-linear-gradient(top, #5f5f5f, #4b4b4b 30%, #454545 70%);

/* xmas header background
	
	background:url(../images/themes/christmas/xmas_header_background.png) repeat-x;
	
	*/
}

div#upper-frame div.main-container {
    z-index:2;
    position:relative;
    background:url(../images/navigation/main_frame_bar_wrapper.png) no-repeat right bottom;    
}

div#upper-frame.no-utility-bar div.main-container {
    background:none;    
}

div#upper-frame-bar-container {
    position:relative;
    text-align:left;
}

div#upper-frame-bar-container div.frame-bar {
    position:absolute;
    top:-20px;
    left:0;
    z-index:1;
    height:20px;
    width:100%;
    background-repeat:repeat-x;
}

div#home-style div#upper-frame-bar-container div.frame-bar, div#travel-style div#upper-frame-bar-container div.frame-bar, div#motoring-style div#upper-frame-bar-container div.frame-bar, div#money-style div#upper-frame-bar-container div.frame-bar, div#electronic-style div#upper-frame-bar-container div.frame-bar, div#lifestyle-style div#upper-frame-bar-container div.frame-bar, div#household-style div#upper-frame-bar-container div.frame-bar {
	background-image:url(../images/navigation/main_frame_bar.png);
}

div#home-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 0;   
}

div#travel-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 -20px;   
}

div#motoring-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 -40px;   
}

div#money-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 -60px;   
}

div#electronic-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 -80px;   
}

div#lifestyle-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 -100px;   
}

div#household-style div#upper-frame-bar-container div.frame-bar {
    background-position:0 -120px;   
}

div#bottom-navigation {
	clear: both;
	padding-top:5px;
}

div#bottom-navigation div.box-panel {
	position:static;
}

div#bottom-navigation div.panel-container {
	padding:0 10px;
	font-size:0.9em;
}

div#bottom-navigation div.panel-container ul li {
	float:left;
}

div#bottom-navigation div.panel-container ul li a {
	padding-right:8px;
}

div#bottom-navigation div.panel-container p {
	clear:both;
	padding:5px 0 0;
	margin:0;
}