@charset "UTF-8";
/* CSS Document */

#certona-home {font-size: 14px;}
#certona-home.certona-items-area{ width:960px; height:355px; border:1px solid #ccc; position: relative;  }
#certona-home .viewport { width:960px; height:355px; overflow:hidden;  position: relative;  }
#certona-home .overview { list-style: none; position: absolute; }
#certona-home .overview li{
    list-style:none;
    width: 153px;
    float:left;
    margin:15px 0 15px 24px;
    padding-right: 16px;
    border-right:1px solid #cccccc;
}
#certona-list .related-products-name {
}

#certona-list.certona-items-area{ width:718px; height:410px; border:1px solid #ccc; position: relative;  }
#certona-list .viewport { width:718px; height:400px; overflow:hidden;  position: relative;  }
#certona-list .overview { list-style: none; position: absolute; }
#certona-list .overview li{
    list-style:none;
    width: 146px;
    float:left;
    margin:15px 5px 15px 25px;
    border-right:1px solid #cccccc;
    padding-right: 6px;
}

#certona-list div.viewport ul.ul-product-inner.overview li.related-products-inner.top button.button.btn-cart {
    width:127px;
}

.slide-product-inner input:hover {cursor:pointer;}

#certona-list div.viewport ul.ul-product-inner.overview li.related-products-inner.top p.related-products-name {
    width: 130px;
}

#certona-list div.viewport ul.ul-product-inner.overview li.related-products-inner.top p.related-products-name a {
    width: 130px;
}

.slide-product-inner input {
    border:none;
    width:27px;
    height:56px;
    position:absolute;
    top:160px;
}

.slide-product-inner .slide-product-back-inner
{
    background:url(../images/category-arrow-left-hover.jpg) right center no-repeat;
    left:-2px;
}

.slide-product-inner .slide-product-next-inner
{
    background:url(../images/category-arrow-right-hover.jpg) right center no-repeat;
    right:-1px;
}

#certona-home .disable, #certona-list .disable { visibility: hidden; }

form.related-products-form input
{
    margin:10px 0;
    background:url(../images/btn-add-item-to-cart.jpg) center center no-repeat;
    width:144px;
    height:30px;
    border:none;
}

form.related-products-form input:hover
{
    cursor:pointer;
}

a.add-to-wishlist-inner
{
    color:#0c51b0;
    text-decoration:underline;
    height:15px;
    line-height:15px;
    font-size: 12px;
}

#certona-list .regular-price .price, #certona-list .regular-price .price-label {
    font-size: 19px;
    color: #333333;
}

#certona-list .regular-price {
    float: left;
    padding-top: 25px;
}
#certona-home .regular-price .price-label, #certona-home .regular-price .price {
    font-size: 19px;
    color: #333333;
}
#certona-list .regular-price, #certona-home .regular-price {
    float: left;
    padding-top: 25px;
}