/* $Id: videobelt.css 1918 2012-03-30 17:55:27Z jowilso $ */

@charset "UTF-8";
.volWrap {
margin: 18px auto 0 auto;
background:#f3f0ec;
width:870px;
padding:15px 0 10px 0;
}
.videoSlider h1 {
margin: 0 0 15px 0;
}
 .top {
margin-left:12px;
width:798px;
display:block;
}
p.sub {
font:normal 16px arial, sans-serif;
color:#666;
line-height:22px;
}
.mid {
float:left;
margin: 0 0 0 10px;
width:400px;
background:#fff;
padding:10px;
display:block;
height:477px;
}
.videoSlider h2 {
color:#680;
font:bold 14px arial, sans-serif;
margin:10px 0 10px 0;
}
.mid h2.leftHeadline {
width:240px;
}

.mid .VMlogo {
margin-top:10px;
padding-bottom:10px;
float:right;
}
.mid p {
margin-top:0;	
line-height:18px;
}
.videoSlider {
background:#fff;
padding:10px 60px;
width:815px;
margin:10px 0 0 10px;
}
#volunteer #pageContent form fieldset {
padding:0;	
}
.checkhdr {
width:60px;
float:left;
clear:none;
}
#volunteer #pageContent .checkbox {
width:65px;
float:left;
clear:none;
}
#volunteer #pageContent .lastCheck {
width:125px;
}
#volunteer #pageContent form input.submit {
margin:10px 0;	
}
.mid ul li {
list-style:none;
float:left;
display:block;
margin-right:5px;
padding:0;
}

.mid ul li a {
color:#333;
text-decoration:none;
cursor:pointer;
}

.mid ul {
margin:0 0 0 3px;
width:380px;
height:20px;
float:left;
}

.mid #playPause {
display:block;
width:9px;
height:10px;
float:left;
margin-top:5px;
background:url(../../static/rei-wcm/pix/common/pauseIcon.gif);
cursor:pointer;
}

.mid p.imgCaption {
margin:5px 0 0 3px;
}

.vidSlide #leftBtn,
.vidSlide #rightBtn {
float:left;
margin-top:18px;
cursor: pointer;
}

.vidSlide {
height:84px;
width:782px;
margin: 0 auto 20px auto;
}

.vidSlide ul {
width:1920px;
margin:0;
}

#vidContainer {
width:630px;
height:84px;
overflow:hidden;
float:left;
margin:0 30px;
position:relative;
}

.vidSlide ul li {
float:left;
list-style:none;
width:160px;
}

#thumbList {
position:absolute;
top:0;
left:0;
}

.videoThumb {
border:none;	
}

#photo0 {
text-decoration:underline;	
}

.slideImage {
position:relative;
width:400px;
height:317px;
}

.slideImage .imageSlide {
position:absolute;
top:0;
left:0;
width:400px;
height:317px;
}

.mid .hidden {
display:none;	
}

.mid .callout {
font-weight:bold;
color:#f60;
}

.mid .button {
margin:10px 0 0 0;
padding:3px 20px;
}

#userProfile_photos,
#userProfile_productReviews,
#userProfile_recentActivity,
#userProfile_profileDetails {
    display: none;
}
/* $Id: rssfeed.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: questionsummary.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: questionprompt.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: questionform.css 1956 2012-04-02 21:21:34Z rray $ */

/* $Id: postedquestion.css 1956 2012-04-02 21:21:34Z rray $ */

/* $Id: listing.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: featuredqa.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* START Featured Q&A styles */
.visual { color: #FFFFFF; }
.visual { border: 1px solid #CCCCCC; }
.visual { padding: 5px;}

.featuredqa { margin-bottom: 20px; }
.featured-QA *{
	color:#fff;
	font-family:verdana;
}

.featured-QA {
	background-color:#46484a;
	padding: 20px;
	min-height: 260px;
}

.featured-QA .mainImg {
	float:right;
	margin:0 0 5px 5px;
	border: 4px solid #FFFFFF;
}

.featured-QA h1{
    display: block;
    font-size: 2.909em;
    font-weight: bold;
    line-height: 1.03125em;
    padding-bottom: 6px;
}

.featured-QA a{
	text-decoration:none;
}


.qaButtons{
    background-color: #eee;
    border-radius: 4px;
    padding: 3px 8px;
	min-width: 140px;
	display:inline-block;
	margin-right:10px;
}

.qaButtons:link, .qaButtons:visited, .qaButtons:active {
	text-decoration:none;
	color:#333;
}

.qaButtons:hover {text-decoration:underline;}

/* END Featured Q&A styles */
/* $Id: categoryaccordion.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: answerdetail.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: login.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: flag.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: roll.css 1918 2012-03-30 17:55:27Z jowilso $ */

.blogRoll h3 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2em;
}

.blogRoll img {
	float:left;
	margin:0 10px;
	height:30px;
	width:30px;
}

.blogRoll li {
	padding-bottom:15px;

}

/* $Id: postlist.css 1918 2012-03-30 17:55:27Z jowilso $ */

.blogPostListing {
	border-top: 1px solid #D5D5D5;
	padding: 11px 0 19px 21px;
}

.blogPostListing .textHolder img {
	float:left;
	margin: 6px 10px 0 0;
}

.blogPostListing .pagination {
	
	float:right;
}


/* START Pagination */
.pagination {
	height:20px;
	line-height:10px;
}

.pagination a {
	text-decoration: none;
}

.pagination a:hover {
	text-decoration: underline;
}

.arrowUp {
	display:inline-block;
	clear:none;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #680;
	cursor:pointer;
}

.arrowUp.off {
	border-bottom: 5px solid #e5e5e5;
	cursor:default;
}

.arrowDown {
	display:inline-block;
	clear:none;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #680;
	cursor:pointer;
}

.arrowDown.off {
	border-top: 5px solid #e5e5e5;
	cursor:default;
}

.arrowRight {
	display:inline-block;
	clear:none;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #680;
	cursor:pointer;
}

.arrowRight.off {
	border-left: 5px solid #e5e5e5;
	cursor:default;
}

.arrowLeft {
    border-bottom: 5px solid transparent;
    border-right: 6px solid #680;
    border-top: 5px solid transparent;   
    clear: none;
    cursor: pointer;
    display: inline-block;
    height: 0;
    width: 0;
}

.arrowLeft.off {
	border-right: 5px solid #e5e5e5;
	cursor:default;
}

.ie7 .arrowUp {
	zoom: 1;
	display:inline;
}
.ie7 .arrowDown {
	zoom: 1;
	display:inline;
}
.ie7 .arrowLeft {
	zoom: 1;
	display:inline;
	margin-right:3px;
}

.ie7 .arrowRight {
	zoom: 1;
	display:inline;
}

/* STOP Pagination */
/* $Id: ratings.css 1918 2012-03-30 17:55:27Z jowilso $ */

/*
 * Thumbs Up and Down Rating Buttons
 */

#rating_alreadyVoted {
    float: right;
    font-weight: bold;
    display: none;
}

#rating_notVoted {
    display: none;
}

#rating_notVoted ul {
    float: right;
}

#rating_notVoted li {
    float: left;
    list-style: none;
    padding: 0 0 0 11px;
}

#rating_thumbsUp a,
#rating_thumbsDown a {
    color: #666666;
    float: left;
    height: 19px;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
}

#rating_thumbsUp a {
    background: url(../../static/rei-wcm/pix/sprite.gif ) no-repeat -1389px -384px;
    padding: 0 0 0 28px;
    width: 116px;
}

#rating_thumbsDown a {
    background: url(../../static/rei-wcm/pix/sprite.gif ) no-repeat -1538px -384px;
    padding: 0 0 0 23px;
    width: 121px;
}
/* $Id: featuredpost.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* START Blog Component Styles */
											
.featured-posts-list {
    overflow:hidden;
}

.featured-posts-list .item {
	
    width: 100%;
	height: 99px;
    margin:10px 0;
}

.featured-posts-list .item img {
    float: left;
	margin-right:10px;
}

.featured-posts-list .item a {
    text-decoration: none;
}

.featured-posts-list .item a:hover {
    text-decoration: underline;
}

#featuredBlogPost {
	background-color:#46484a;
	padding:10px;
	/*width:100%;*/
}

#featuredBlogPost p, #featuredBlogPost a, #featuredBlogPost li {
	color:#fff;
}

.imgHolder {
	width: 60px;
	float:left;
	margin-right: 10px;
}

.textHolder {
	overflow: hidden;
}

.textHolder h2 {
	margin-top:0;
}

#featuredBlogPost .textHolder img {
	float:right;
	margin:0 0 5px 5px;
}


/*ratings and comments*/
.rating {
	margin: 10px 0;
	width: 100%;
}
.rating h2 {
	float: left;
	/*font: bold 1.637em/2em Arial,Helvetica,sans-serif;*/
	font: bold 18px Arial,Helvetica,sans-serif;
	margin: 0 15px 0 0;
	display:inline;
}
.rating .holder {
	padding: 5px 0;
	float:right;
}

.rating .holder span {
	float: left;
	margin: 0 5px 0 0;
}

.rating .holder .commentsUp {
	background: url("../../../../findout.rei.com/site/rei/images/bg-coments.gif") no-repeat scroll 0 2px transparent;
}

.rating .holder .commentsDown {
	background: url("../../../../findout.rei.com/site/rei/images/bg-coments.gif") no-repeat scroll 0 -20px transparent;
}

.rating .holder .commentsDown, .rating .holder .commentsUp {
	padding: 0 0 0 15px;
}


.rating fieldset {
	border:0;
	float:right;
	margin:0 0 0 10px;
	padding:0;
}

.commentNav {
	background: url("../../../../findout.rei.com/site/rei/images/sep-tabs.gif") repeat-x scroll 0 100% transparent;
}

.commentNav {
	margin: 0 0 4px;
	overflow: hidden;
	padding: 20px 0 11px 0;
	width: 100%;
}

.commentNav .btnWriteComment {
	background: url("../../../../findout.rei.com/site/rei/images/sprite.gif") no-repeat scroll -1236px -384px transparent;
	color: #FFFFFF;
}

.sub-comment-list .btnWriteComment, .commentNav .btnWriteComment {
	float: left;
	height: 19px;
	line-height: 17px;
	padding: 0 0 0 27px;
	text-decoration: none;
	width: 117px;
}

.commentNav .logInCommentRate {
	float:right;font-weight:bold;
}

.commentsList {
	background: url("../../../../findout.rei.com/site/rei/images/sep-tabs.gif") repeat-x scroll 0 100% transparent;
	overflow: hidden;
	padding: 10px 0 50px 0;
	width: 100%;
	color: #333333;
}

.commentsList .textHold {
	height: 1%;
	overflow: hidden;
}

.commentsList .postInfo {
	margin: 0 0 9px;
}

.flag {
	background: url("../../../../findout.rei.com/site/rei/images/sprite.gif") no-repeat scroll -639px 0 #FFFFFF;
	float: right;
	padding: 1px 0 0 18px;
	text-decoration: none;
}

.postInfo dt, .postInfo dd  {
	display:inline;
}

.postInfo dd {
	margin:0;
}

.commentsList .item {
	margin-bottom: 30px;
}

.commentsList .imgHolder img {
	height:60px;
	width:60px;
}

.commentsList .holder {
	height: 1%;
	overflow: hidden;
}

.subPost {
	background: url(../../../apps/rei-wcm/components/share/blog/comments/clientlibs/pix/bg-sub-post2.gif.html) no-repeat scroll 0 0 transparent;
}

.subPost {
	margin: 25px 0 0;
	padding: 22px 0 0 90px;
}

.imgHolder .authorRating {
	display: block;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
}

.imgHolder .blogger {
	background: none repeat scroll 0 0 #668800;
}

.imgHolder .authorRating {
	color: #FFFFFF;
}
/* $Id: $ */

/* We need to override any child component margin when we are inside a .fixHeight container */
.fixHeightTarget .parbase .mb10 {
    margin-bottom:0;
}
body#popup {
    background: none;
    min-width: 0;
}

body#popup #container {
    margin: 0;
    width: 100%;
}

body#popup #container #coreWrapper {
    width: 100%;
}




#community {
margin:20px auto 0 auto;
}

/* TODO Move to Global */

#leadSlide {
margin-top:20px;
height:169px;
float:left;
position:relative;
/* TODO need new image to support 960 grid width */
background: url("../../static/rei-wcm/pix/stewardship/quote_bg_main.jpg") no-repeat;
}

#leadSlide div.leadImg {
position:absolute;
top:0;
left:0;
width:950px;
height:169px;	
}

#leadSlide #image1 {
background: url(../../static/rei-wcm/pix/stewardship/bottom_quote1.jpg);
}

#leadSlide #image2 {
background: url(../../static/rei-wcm/pix/stewardship/bottom_quote2.jpg);
display:none;
}

#leadSlide #image3 {
background: url(../../static/rei-wcm/pix/stewardship/bottom_quote3.jpg);
display:none;
}

#leadSlide #image4 {
background: url(../../static/rei-wcm/pix/stewardship/bottom_quote4.jpg);
display:none;
}

#leadSlide .slideCopy {
margin-left:20px;
width:400px;
padding-right:20px;
padding-top:29px;
}

#leadSlide #image1 p,
#leadSlide #image2 p,
#leadSlide #image3 p,
#leadSlide #image4 p{
font:normal 11px verdana,sans-serif;
color:#fff;
line-height:18px;
}

#leadSlide #image1 a,
#leadSlide #image2 a,
#leadSlide #image3 a,
#leadSlide #image4 a{
color:#fff;
font:normal 11px arial, sans-serif;
margin-bottom:3px;
}

/* $Id: videottt.css 1918 2012-03-30 17:55:27Z jowilso $ */

.videottt .shaded {
	background: none repeat scroll 0 0 #EFEFEF;
}

/* START OOYALA VIDEO PLAYER STYLES */
.oyalaBodyWrapper {
	width: 425px;
	height: 239px;
	overflow: hidden;
}

.oyalaRailWrapper {
	width: 225px;
	height: 127px;
	overflow: hidden;
}

.oyalaRailLink {
	float: left;
	margin: 10px 0;
}

.oyalaRailLink p {
	float: left;
	margin-top: 35px;
	width: 140px;
}

.oyalaRailLink a p {
	color: #668800;
}

.oyalaRailLink img {
	float: left;
	margin: 14px 10px 10px 14px;
}

/* END OOYALA VIDEO PLAYER STYLES */
/* $Id: feedback.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* $Id: giftcardstyle.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* BEGIN Preview Gift Card (PreviewGiftCard.jsp) */

#giftCardPreview h1.giftCardHead{
	margin-bottom: 10px;
}

#giftCardPreview p#subTitle{
	padding-top:10px;
}
#giftCardPreview ul.buttonSec1 {
    list-style:none;
    float:left;
    width:24%;
    margin:0 9% 10px 0;
    padding:0;}
    
#giftCardPreview ul.buttonSec2 {
    list-style:none;
    float:left;
    width:25%;
    margin:0 12% 10px 0;
    padding:0;}    
    
#giftCardPreview ul.buttonSec3 {
    list-style:none;
    float:left;
    width:24%;
    margin:0 0 10px 0;
    padding:0;}        
   
#giftCardPreview ul.buttonSec1 li, 
#giftCardPreview ul.buttonSec2 li, 
#giftCardPreview ul.buttonSec3 li {
    clear:both;}    
    
#giftCardPreview ul li a:link, a:visited{
	text-decoration: none;
}
    
#giftCardPreview .gcBkgd {
    width:553px;
    height:470px; 
    background:#fff url(../../../../media.rei.com/graphics/giftcards/physical-card-bg.jpg) no-repeat;
    padding-top:21px;}

/* Default image - turn back on after holiday 
#PreviewGiftCard #pageContent .GCGNRC {
    width:553px;
    height:470px; 
    background:#fff url(https://media.rei.com/graphics/giftcards/physical-card-bg.jpg) no-repeat;
    padding-top:21px;}
*/

#giftCardPreview .GCFOV1,
#giftCardPreview .GCFOV2, 
#giftCardPreview .ECFOV1,
#giftCardPreview .ECFOV2,
#giftCardPreview .GCWNTR,
#giftCardPreview .ECWNTR, 
#giftCardPreview .GCAHDY
{
    width:553px;
    height:470px; 
    background:#fff url(../../static/rei-wcm/pix/giftcard/physical-card-bg_fo09s.jpg) no-repeat;
    padding-top:21px;}
	
#giftCardPreview .GCGNRC {
    width:553px;
    height:470px; 
    background:#fff url(../../static/rei-wcm/pix/giftcard/physical-card-bg-hol.gif) no-repeat;
    padding-top:21px;}	
	
/* Default image - turn back on after holiday 2010	
#PreviewGiftCard #pageContent .GCAHDY {
    width:553px;
    height:470px; 
    background:#fff url(https://www.rei.com/pix/giftCard/physical-card-bg-hol3.gif) no-repeat;
    padding-top:21px;}
*/
	
#giftCardPreview .gcValue {
    background-color:#fff;
    height:20px;
    padding:4px;
    margin:0 0 0  302px;
    color:#333333;}

#giftCardPreview .gcField1 {
    background-color:#fff;   
    width:200px;
    height:20px;
    padding:2px;
    margin:30px 0 0 100px;}

#giftCardPreview .gcField2 {
    background-color:#fff;   
    width:200px;
    height:20px;
    padding:2px;
    margin:9px 0 0 100px;}

#giftCardPreview .gcTextarea {
    background-color:#fff;   
    width:200px;
    height:75px;
    padding:2px;
    margin:9px 0 0 100px;}
    
#giftCardPreview .cardImg  { 
    margin:80px 0 0 266px;}

#giftCardPreview .previewECard  { 
    border:1px solid #ccc;
    width:466px;
    padding:25px;}

#giftCardPreview .logoImg  { 
    float:left;
    margin-right:20px;}

#giftCardPreview .message  { 
    font-size:1.25em;
    font-weight:bold;
    font-family: arial, sans-serif;}

#giftCardPreview .eCardImg  { 
    float:right;
    margin-left:10px;}

#giftCardPreview .eCardList,
#giftCardPreview .addressList { 
    list-style:none;
    margin:0;
    padding:0;}

#giftCardPreview .categoryList { 
    width:518px;
    background:#ccc;
    text-align:center;}
    
/* END Preview Gift Card (PreviewGiftCard.jsp) */
/* $Id: text.css 2200 2012-04-10 23:30:17Z mhewson $ */

.text .shaded,
.text .txt-primaryCTA {
	background: none repeat scroll 0 0 #EFEFEF;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.text .txt-secondaryCTA {
	background: none repeat scroll 0 0 #333;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

/* $Id: style.css 2190 2012-04-10 21:37:20Z mgraham $ */
.mobileWhite {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 145px;
    left: -124px;
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 124px;
    position: relative;
    width: 236px;
}
.mobileMainImage{
	position:absolute;
	z-index:2;
    margin: 15px 0 0 5px;
}
.mobileWhite ul li{
	font-size:12px;
}
.bgColor2{
	background-color: #E5E5E5;
}
.bgColor2 h3{
    color: #333333;
    display: block;
    font-size: 12px;
    width: 185px;
}
.iconText {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px;
    height: 40px;
}
.bgColor2 h2 {
	padding-top:10px;
}
.mobileWhite a.button{
    bottom: 10px;
    left: 130px;
    position: absolute;
}
/* $Id: basicmarquee.css 1918 2012-03-30 17:55:27Z jowilso $ */

/* START Marquee Image/Slideshow styles */
.marqueeImage { 	
	overflow: hidden;
	padding-right: 0;
	position: relative;	
}

.marqueeImage.grayBox {
	border: 10px solid #E5E5E5;
}

.marqueeImage .slides {
	overflow: hidden;
	/*position: absolute;*/
}

.marqueeImage .slides .bannerImage {
	
}

.marqueeImage p.slideDesc {
	color: #b00c36;
	font: 13px verdana, sans-serif;
	line-height: 18px;
}

.marqueeImage p.slideDesc { /*padding-top: 50px;*/
	margin: 20px;
	position: relative;
}

.marqueeImage a.slideBtn {
	background-color: #F3F3F3;
	color: #333;
	cursor: pointer;
	display: block;
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	opacity: 0.8;
	padding: 0 25px 0 28px;
	margin: 5px 0;
	float: left;
	clear: both;
	text-decoration: none;
	white-space: nowrap;
	z-index: 20;
	position: relative;
	clear: both;
	float: left;
	/*line-height: 17px;*/
}

.marqueeImage a.slideBtn:hover,.marqueeImage a.slideBtn.dark:hover
	{
	color: #FF6600;
}

.marqueeImage a.slideBtn.dark {
	background-color: #666;
	color: #FFF;
}

.marqueeImage a.slideBtn span.shopProd {
	display: block;
	padding-top: 6px;
	text-transform: uppercase;
}

/*.marqueeImage a.slideBtn span.shopProd img{margin-left:5px;margin-right: 5px;}*/
.marqueeImage .arrow {
	border-color: transparent transparent transparent #FF6600;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	display: inline-block;
	height: 0;
	left: 20px;
	position: absolute;
	top: 10px;
	width: 0;
}

.marqueeImage .slideCopy {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.marqueeImage .slideDesc div {
	float:left;
}



.marqueeImage .slideCopy .bannerText {
	margin: 20px;
}

.marqueeImage .thumbs {
	display: block;
	position: absolute;
	/*
	padding-top: 50px;
	*/
	right: 0;
	bottom: 0;
	z-index: 10;
}

.marqueeImage .thumbs ul {
	margin: 0;
	padding: 0;
}

.marqueeImage .thumbs ul li {
	background-color: #F3F3F3;
	display: block;
	height: 20px;
	float: left;
	margin-right: 5px;
	text-align: center;
	margin-top: 278px;
	/*width: 15px;*/
}

.marqueeImage .thumbs ul li a {
	color: #333;
	font-size: 12px;
	height: 20px;
	font: arial, verdana;
	cursor: pointer;
	margin: 0 3px;
	/*width: 20px;*/
}

.marqueeImage .thumbs ul li a.activeBtn {
	color: #FF6600;
	height: 30px;
	margin-top: 0;
}

.marqueeImage .thumbs ul li.activeThumb {
	height: 30px;
	margin-top: 268px;
}

/* END Marquee Image/Slideshow styles */
