/* $Id: rteStyles.css 2200 2012-04-10 23:30:17Z mhewson $ */

/* Begin classes for the Style plugin of the "richtext" widget */
.style1 {
	color: #cc0000;
} /*red*/

.style2 {
	color: #ff6600;
} /*orange*/

.inverted1,
a .inverted1,
a.inverted1,
.inverted1 a {
	color: #fff;
	font-weight: bold;
} /* white */

.invertedNormalState,
a .invertedNormalState,
a.invertedNormalState,
.invertedNormalState a {
	color: #fff;
	font-weight: normal;
} /* white */
.p2 {
	font-weight: bold;
	color: #333333;
	padding-right: 0px;
	/* right padding is 0 for when p2 is used as a span within a p tag */
}

.pullQuote{
	font-size:16px;
	padding-top:10px;
	color: #5d5145;
}

.pullQuote p{
	color: #5d5145;
}

.reiFont1 {
	font-family: 'REI',Rockwell Extra Bold,Rockwell,Georgia,serif;
	color:#fff;
	font-size:30px;
	font-weight:bold;
	line-height:1em;
	text-transform:uppercase;
}

.reiFont2 {
	font-family: 'REI',Rockwell Extra Bold,Rockwell,Georgia,serif;
	color:#333;
	font-size:30px;
	font-weight:bold;
	line-height:1em;
	text-transform:uppercase;
}
/* END classes for the Style plugin of the "richtext" widget */

/* For each of the classes above, place an entry below in order to keep its entry in the Style plugin list
   from rendering with the style itself */
#CQ .style1, 
#CQ .style2, 
#CQ .inverted1, 
#CQ .invertedNormalState,
#CQ .p2, 
#CQ .pullQuote, 
#CQ .reiFont1, 
#CQ .reiFont2 {
	font: inherit;
	color:#333;
	padding: 0;
	margin: 0;
}
