.jScrollPaneContainer {
	position: absolute;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: transparent;
}

.jScrollPaneDrag {
	position: absolute;
	background: transparent;
	overflow: hidden;
}

.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: transparent url(../cmsimages/arrow_icon_up.png) no-repeat;
	height: 13px;
}

a.jScrollArrowUp:hover {
	background: transparent url(../cmsimages/arrow_icon_up_hover.png) no-repeat;
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: transparent url(../cmsimages/arrow_icon_down.png) no-repeat;
	height: 13px;
}

a.jScrollArrowDown:hover {
	background: transparent url(../cmsimages/arrow_icon_down_hover.png) no-repeat;
}

a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	background-color: transparent;
}