.horizon_line {
	background: url(../cmsimages/services_background.png) repeat-x left 345px;
}

.horizon_line_bundles {
	background: url(../cmsimages/services_background.png) repeat-x left 284px;
}

.cflow_vessels {
	position: absolute;
	outline: none;
}

#more_left {
	position: absolute; 
	left: 0px; 
	top: 290px;
	display: block;
	width: 30px;
	height: 20px;
	background: url(../cmsimages/arrow_left.gif) no-repeat;
	font-size: 10px;
	padding: 4px 0 0 14px;
	text-align: left;
	z-index: 900;
	cursor: pointer;
}

#more_right {
	position: absolute; 
	right: 0px; 
	top: 290px;
	display: block;
	width: 30px;
	height: 20px;
	background: url(../cmsimages/arrow_right.gif) no-repeat right 0px;
	font-size: 10px;
	padding: 4px 14px 0 0;
	text-align: right;
	z-index: 900;
	cursor: pointer;
}

.tileArrowNext {
	display: block;
	position: absolute;
	z-index: 1000;
	cursor: pointer;
	left: 0;
	overflow: hidden;
	background: transparent url(../cmsimages/arrow_icon_right.png) no-repeat;
	height: 13px;
	bottom: 55px; 
	width: 13px; 
	height: 13px; 
	
}

.tileArrowNext_hover {
	background: transparent url(../cmsimages/arrow_icon_right_hover.png) no-repeat;
}

#bundles {
	display: block;
	position: relative;
	height: 300px;
	width: 100%;
}

.bundles {
	overflow: hidden;
}

#svc_coverflow {
	display: block;
	position: relative;
	height: 350px;
	width: 100%;
}

.svc_coverflow {
	overflow: hidden;
}

#select_services {
	display: block;
	position: relative;
	height: 360px;
	width: 100%;
}

.select_services {
	overflow: hidden;
}

.show_bundles {
	font-size: 10px; 
	font-weight: bold; 
	color: #000; 
	text-decoration: underline; 
	padding: 13px 5px 5px 2px; 
	float: right;
}

.selectServiceHide {
	display: none;
}

.selectServiceShow {
	display: block;
}

.selectServiceDisclaimer {
	display: block;
	background: #fff;
	border: solid 1px;
}

.services_main {
	display: block;
	width: 100%;
	height: 375px;
}

#svc_center_product {
	display: block;
	width: 324px;
	height: 290px;
	color: Silver;
	position: absolute;
	background-color: transparent;
	left: 333px;
	top: 48px;
	z-index:75000;
}

.svc_internet_speed_details {
	background: url(http://www.suddenlink.com/cmsimages/services_internet_speed_details.png) no-repeat;
}

.svc_internet_wireless_details {
	background: url(http://www.suddenlink.com/cmsimages/services_internet_wireless_details.png) no-repeat;
}

.svc_internet_mcafee_details {
	background: url(../cmsimages/services_internet_mcafee_details.png) no-repeat;
}

.svc_internet_internet_details_ie {
	background: url(../cmsimages/services_internet_internet_details.jpg) no-repeat;
}

.svc_internet_speed_details_ie {
	background: url(../cmsimages/services_internet_speed_details.jpg) no-repeat;
}

.svc_internet_wireless_details_ie {
	background: url(../cmsimages/services_internet_wireless_details.jpg) no-repeat;
}

.svc_internet_security_details_ie{
	background: url(../cmsimages/services_internet_security_details_v2.jpg) no-repeat;
}

.svc_internet_email_details_ie{
	background: url(../cmsimages/services_internet_email_details.jpg) no-repeat;
}

.svc_television_television_details_ie {
	background: url(../cmsimages/services_television_television_details.jpg) no-repeat;
}

.svc_television_vod_details_ie {
	background: url(../cmsimages/services_tv_vod_details.jpg) no-repeat;
}

.svc_television_tvg_details_ie {
	background: url(../cmsimages/services_tv_tvg_details.jpg) no-repeat;
}

.svc_television_dvr_details_ie{
	background: url(../cmsimages/services_tv_dvr_details.jpg) no-repeat;
}

.svc_television_digital_details_ie {
	background: url(../cmsimages/services_tv_digital_details.jpg) no-repeat;
}

.svc_television_channels_details_ie {
	background: url(../cmsimages/services_tv_channels_details.jpg) no-repeat;
}

.svc_telephone_telephone_details_ie{
	background: url(../cmsimages/services_telephone_telephone_details.jpg) no-repeat;
}

.svc_telephone_security_details_ie{
	background: url(../cmsimages/services_phone_security_details.jpg) no-repeat;
}

.svc_telephone_e911_details_ie{
	background: url(../cmsimages/services_phone_e911_details.jpg) no-repeat;
}

.svc_telephone_intl_details_ie{
	background: url(../cmsimages/services_phone_intl_details.jpg) no-repeat;
}

.svc_security_security_details_ie{
	background: url(../cmsimages/services_security_security_details.jpg) no-repeat;
}

.svc_security_mcafee_details_ie{
	background: url(../cmsimages/services_internet_security_details.jpg) no-repeat;
}

.svc_security_e911_details_ie{
	background: url(../cmsimages/services_security_e911_details.jpg) no-repeat;
}

.svc_security_intl_details_ie{
	background: url(../cmsimages/services_security_intl_details.jpg) no-repeat;
}

#sampleOffer2 {
	display: block;
	width: 323px;a
	height: 221px;
	background-color: transparent;
	color: Silver;
	position: absolute;
	left: 330px;
	top: 50px;
	z-index:99999;
	background: url(../cmsimages/wireless_offer.png) no-repeat;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.centerProductOn {
	visibility: visible;
}

.centerProductOff {
	visibility: hidden;
}

#offer_feature {
	display: block;
	left: 10px;
	top: 20px;
	width:300px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #7b7d7f;
}

#offer_description {
	margin: 10px 0 10px 0;
}

#offer_disclaimer {
	display: block;
	left: 20px;
	bottom: 3px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	position: absolute;
	width: 950px;
	z-index: 1000;
}

#offer_disclaimer_text {
	padding: 5px;
}

.add_outline
{
	background: #fff;
	border: solid 1px;
	padding: 4px;
}


#offer_feature_button {
	display: block;
	margin-top: 10px;
	padding: 4px 5px 3px 10px;
	background: url(http://www.suddenlink.com/cmsimages/offer_button.png) no-repeat;
	width: 88px;
	height: 22px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	
}

.offer_footer {
	font-size: 12px; 
	font-weight: normal; 
	color: #242424;
	float: right;
}

.offer_footer_title {
	font-size: 14px; 
	font-weight: bold; 
	color: #242424;
}

#vip_promo {
	display: block;
	background-color: #000;
	font-size: 14px; 
	font-weight: normal; 
	color: #fff;
	width: 459px;
	float: right;
	padding: 9px 18px 9px 18px;
}

.offer_header {
	font-size: 16px; 
	font-weight: bold; 
	color: #7c7d7f;
}

.offer_info{
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #7c7d7f;
}

.myhr {
	display: block;
	width: 100%;
	height: 0;
	border: 0;
	border-top: 1px solid #7c7d7f; 
}

#offers_main {
	background: url(../cmsimages/tv_product.jpg) no-repeat scroll 0 0 transparent;
	color: #fff;
	height: 322px;
	text-align: center;
	padding-top: 30px;
}

#sas_callout_container {
	position: absolute; 
	left: 34px; 
	top: 10px; 
	z-index: 7000;
	padding: 10px 3px 10px 3px; 
	color:#fff;
}

#sas_callout_title {
	padding: 0px 0px 4px 10px; 
	font-size: 16px;
	font-weight: bold;
}

#sas_callout_bullets {
	font-size: 12px;
	line-height: 14px;
	padding: 0px 0px 0px 10px;
}

ul.sas_callout {
	list-style-image: url(../cmsimages/offers_bullet_inv.png);
	margin: 5px 10px 0px 20px; 
	padding: 0;
}

li.sas_callout{
	margin: 3px 0 0 0; 
	padding: 0; 
}

#sas_callout_sub {
	padding: 8px 10px 5px 10px; 
	font-size: 10px;
	font-weight: normal;
	line-height: 16px;
	float: left;
}


.ps_icon {
	position: absolute; 
	bottom: 5px;
}


.psc_containment {
	position: absolute; 
	left: 452px; 
	top: 0px; 
	width: 533px; 
	height: 300px; 
	background-color: #7C7D7F;
}

.psc_container {
	position: relative; 
	width: 533px; 
	height: 300px; 
	background-color: #ffffff;

}

.psc_containment2 {
	position: absolute; 
	left: 505px; 
	top: 15px; 
	width: 480px; 
	height: 300px; 
	background-color: #7C7D7F;
}

.psc_container2 {
	position: relative; 
	width: 480px; 
	height: 350px; 
	background-color: #fff;
}

.ps_content2 {
	position: absolute; 
	left: 1px; 
	top: 0px; 
	width: 483; 
	height: 320px; 
	padding: 0 10px 0 15px;
	background-color: transparent;
	border: 0px solid #000;
	color: #515151;
}

#hidescroller{
	position: absolute;
	background-color: #fff;
	display: block;
	width: 17px;
	height: 237px;
	right: 0px;
	top: 31px;
	z-index: 3000;
}

.ps_main {
	position: absolute; 
	left: 0px; top: 0px; 
	width: 495px; 
	height: 270px; 
	background: transparent;
}

.ps_icon {
	position: absolute; 
	bottom: 5px;
	cursor: pointer;
}

.ps_content {
	position: absolute; 
	left: 1px; 
	top: 15px; 
	width: 540; 
	height: 50px; 
	padding: 0 10px 0 15px;
	background-color: transparent;
	border: 0px solid #000;
	color: #515151;
}

.psc_title {
	font-size: 28px;
	padding-bottom: 10px;
}
.psc_sub{
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 10px;
}
.psc_bullet_container{
	padding-bottom: 10px;
}
.psc_bullets{
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	padding: 0px 0px 0px 20px;
}

.psc_bullets ul{
	list-style-type: square;
	margin: 0px 0 0 11px; 
	padding: 0;
}

.psc_bullets li{
	list-style-type: square;
	margin: 0; 
	padding: 0;
	line-height: 28px;
}
.psc_bottom{
	padding-bottom: 10px;
}
.psc_link{
	text-decoration: underline;
}
.psc_disclaimer{
	font-size: 9px;
	font-weight: bold;
        padding-top: 5px;
}

.psc_disclaimer_text {
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	padding: 0px;
	letter-spacing: .01em;
        text-align:justify;
}

.product_callout_container {
	padding: 15px 15px 15px 65px; 
	color:#fff;
}

.product_callout_title {
	padding: 0px 0px 10px 0px; 
	font-size: 16px;
	font-weight: bold;
}

.product_callout_sub {
	padding: 0px 0px 2px 0px; 
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
}

.product_callout_bottom {
	width: 240px; 
	position: absolute; 
	left 0px; top: 200px;
	font-size: 11px;
}

.product_callout_disclaimer{
	text-decoration: underline;
	cursor: pointer;
}

.product_callout_link{
	text-decoration: underline;
	float: right;
}

.product_callout_bullets {
	font-size: 11px;
	line-height: 16px;
	padding: 5px 0px 0px 20px;
}

.product_bullets ul{
	list-style-type: square;
	margin: 0px 0 0 11px; 
	padding: 0;
}

.product_bullets li{
	list-style-type: square;
	margin: 0; 
	padding: 0;
	line-height: 14px;
}


.offers_title {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	min-height: 26px;
}

.offers_image {
	margin: 5px 0px 5px 2px;
	padding: 0; 
}

.offers_description {
	font-size: 11px;
	font-weight: normal;
	color: #3a3a3a;
}

ul.offers_description{
	list-style-image: url(../cmsimages/offers_bullet.png);
	margin: 5px 10px 0px 20px; 
	padding: 0;
}

li.offers_description{
	margin: 3px 0 0 0; 
	padding: 0; 
}

.offers_disclaimer_title {
	font-size: 9px;
	font-weight: bold;
	color: #000;
	border-bottom: 1px dotted #000;
	width: 50px;
	padding: 10px 0 0 0;
	margin: 0px;
}

.offers_disclaimer {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid black;
	color: #000;
	display: none;
	font-size: 8px;
	font-weight: bold;
	max-width: 300px;
	padding: 3px;
	position: absolute;
}

.btnFluidLeft {
	display: block;
	background: transparent url(../cmsimages/green_btn_lft.gif) no-repeat;
	width: 6px;
	height: 24px;
	float: left; 
	margin-left: 5px;
	overflow: visible;
	margin-top: -2px;
}

.btnFluidRight {
	display: block;
	background: transparent url(../cmsimages/green_btn_rgt.gif) no-repeat;
	width: 6px;
	height: 20px;
	float: left; 
	margin-right: 5px;
	overflow: visible;
	margin-top: -2px;
}

.btnFluidLeftInv {
	display: block;
	background: transparent url(../cmsimages/green_btn_lft_inv.gif) no-repeat;
	width: 6px;
	height: 24px;
	float: left; 
	margin-left: 5px;
	overflow: visible;
	margin-top: -2px;
}

.btnFluidRightInv {
	display: block;
	background: transparent url(../cmsimages/green_btn_rgt_inv.gif) no-repeat;
	width: 6px;
	height: 20px;
	float: left; 
	margin-right: 5px;
	overflow: visible;
	margin-top: -2px;
}

button.fluid {
	display: block;
	background: url(../cmsimages/green_btn_mid.gif) repeat-x;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	text-align: center;
	outline: none;
	float: left; 
	padding-bottom: 5px;
	margin-top: -2px;
}

button::-moz-focus-inner { 
	border: 0; 
}

button.fluidInv {
	display: block;
	background: url(../cmsimages/green_btn_mid_inv.gif) repeat-x;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	text-align: center;
	outline: none;
	float: left; 
	padding-bottom: 5px;
	margin-top: -2px;
}

button.order_offer {
	background: url(../cmsimages/order_offer_now.png) no-repeat 2px center;
	border: none;
	color: #000;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	padding: 1px 3px 3px 20px;
	text-align: left;
	width: 150px;
	outline: none;
	margin: 1px 0px 1px 2px;
}

#offers_main .banner_message {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 20px;
}
#offers_main .description {
	font-size: 1em;
}
#offers_main .disclaimer {
	font-size: .7em;
}

#offers #offers_sub .offers_sub_item {
	width: 230px;
}

#offers_sub {
	height: auto;
}
.offers_sub_item {
	float: left;
	margin: 0 3px;
	height: auto;
	padding: 5px;
}

#offers_price {
	padding: 5px 0 5px 3px;
	font-size: 10px;
}

.offers_price {
	font-size: 12px;
	font-weight: bolder;
}

#offers_price_large {su
	padding: 0 0 0 3px;
	font-size: 10px;
}

.offers_price_large {
	font-size: 14px;
	font-weight: bolder;
}

.offers_sub_item .banner_message {
	font-size: 1em;
	font-weight: bold;
}
.offers_sub_item .description {
	font-size: .9em;
}
.offers_sub_item .disclaimer {
	font-size: .7em;
}

h1.sub_services {
	color: #707070; 
	padding: 0px 0px 8px 0px; 
	font-size: 14px; 
	font-weight: bold;
}

p.sub_services {
	padding: 0px 0px 16px 0px; 
	line-height: 14px;
}

ul.sub_services {
	list-style: disc inside none;
}
ol.sub_services {
	list-style: decimal inside none;
}

img.sub_services {
	float: right;
}

#sub_services_container {
	overflow: hidden;
	padding: 16px;
}

#sub_services_right_col {
	float: left;
	width: 35%;
}
#sub_services_left_col {
	float: left;
	width: 60%;
}
#sub_services_container p {
	line-height: 1.5em;
	margin-top: 1em;
}
span.offer_caption {
	display: block;
	margin-bottom: 4px;
}
a.offers_only_link {
	font-weight: bold;
}
.speed_test_wrapper {
	height: 1%;
	overflow: hidden;
}
.speed_services_text {
	margin-bottom: 40px;
}
.speed_test_1,
.speed_test_2,
.speed_test_3,
.speed_test_4,
.speed_test_5 {
	float: left;
	font-weight: bold;
	height: 60px;
	margin-right: 45px;
	padding-bottom: 125px;
	text-align: center;
	width: 65px;
}
.aws_table {
	margin: 0.5em 0;
	width: 90%;
}
.aws_head {
	background: none repeat scroll 0 0 #999;
	color: #fff;
	text-align: left;
	border: 1px solid #adadad;
	padding: 2px 4px;
}
.left_aws {
	background: none;
	color: #000;
	text-align: left;
	border: 1px solid #adadad;
	padding: 2px 4px;
	width: 25%;
}
.right_aws {
	background: none;
	color: #000;
	text-align: left;
	border: 1px solid #adadad;
	padding: 2px 4px;
	width: 75%;
}
.aws_title {
	background: none;
	color: #000;
	font-weight: bold;
	border: none;
	padding: 22px 4px 0;
}