/* CONTENT ASSETS STYLES
--------------------------------------------------------------------------------------- */

/*** header-banner-slot-content ***/

#header .header-banner a{background-color:#edd794;display:block;width:960px;height:34px;text-align:center;color:#fff;font-size:160%;font-weight:700;line-height:230%;margin:10px 0 0;text-decoration:none;text-transform:uppercase;}
#header .header-banner a:hover{text-decoration:none}

/*** header-slot-1 ***/

#header .header-slot-1 a{background-color:#edd794;display:block;width:360px;height:32px;text-align:center;font-size:110%;font-weight:700;line-height:300%;color:#000;text-decoration:none;text-transform:uppercase}
#header .header-slot-1 a:hover{text-decoration:none}

/*** header-slot-2 ***/

#header .header-slot-2 a{background-color:#edd794;display:block;width:360px;height:32px;text-align:center;font-size:110%;font-weight:700;line-height:300%;color:#000;text-decoration:none;text-transform:uppercase}
#header .header-slot-2 a:hover{text-decoration:none}

/*** minicart-banner-slot-top ***/

#minicart-banner-slot-top{display:block;background-color:#ccc;line-height:31px;margin:0 auto 13px;width:290px;}
#minicart-banner-slot-top a{display:block;width:280px;height:31px;text-align:left;padding-left:10px;color:#fff;text-decoration:none;text-transform:uppercase;font-weight:700}
#minicart-banner-slot-top a:hover{text-decoration:none}
	
/*** minicart-banner-slot-bottom ***/

#minicart-banner-slot-bottom{display:block;background-color:#ccc;line-height:23px;margin:7px auto 0;width:290px;}
#minicart-banner-slot-bottom a{display:block;width:280px;height:23px;text-align:left;padding-left:10px;color:#fff;text-decoration:none;text-transform:uppercase;font-weight:700}
#minicart-banner-slot-bottom a:hover{text-decoration:none}

/*** Child menu: cm-slot-mens-1, cm-slot-womens-1  ***/
/*
#header .child-menu .cm-mens-slot-1 a, 
#header .child-menu .cm-womens-slot-1 a{background-color:#edd794;display:block;height:168px;color:#000;font-size:110%;line-height:15em;text-align:center;text-decoration:none;text-transform:uppercase;font-weight:700}
#header .child-menu .cm-mens-slot-1 a:hover, 
#header .child-menu .cm-womens-slot-1 a:hover{text-decoration:none;}
*/
/*** Child menu: cm-slot-quarter  ***/

/* #header .child-menu .cm-slot-quarter a{background-color:#edd794;display:block;height:168px;color:#000;font-size:110%;line-height:15em;text-align:center;text-decoration:none;text-transform:uppercase;font-weight:700}*/
#header .child-menu .cm-slot-quarter a:hover{text-decoration:none;}

/*** Child menu: cm-slot-full  ***/

/*#header .child-menu .cm-slot-full a{background-color:#edd794;display:block;height:168px;color:#000;font-size:110%;line-height:15em;text-align:center;text-decoration:none;text-transform:uppercase;font-weight:700;width:910px;margin-left:16px;}*/
#header .child-menu .cm-slot-full a:hover{text-decoration:none;}

/*** FOOTER ***/

/*** footer-banners ***/
#footer .footer-banners > div a{display:block;height:32px;text-transform:uppercase;color:#000;text-align:center;font-size: 110%;letter-spacing:.1em;line-height:300%; margin-bottom:24px;text-decoration:none;}
#footer .footer-banners > div a em{font-weight:700;font-style:normal;}
#footer .footer-banner-1 a{background-color:#f1ca54;}
#footer .footer-banner-2 a{background-color:#edd794;}

/*** email-signup ***/
#footer .email-signup p{color:#ff3000;font-weight:700;text-transform:uppercase;margin-bottom:8px;}
#footer .email-signup p a{color:#000;}
#footer .email-signup input{ padding:0 7px;font-size:90%;line-height:15px;text-transform:uppercase;width:176px;border:1px solid #d2d2d2;border-width:1px 0 1px 1px;float:left;height:15px }
#footer .email-signup button{background:none;display:block;float:left;height:15px;line-height:15px;width:20px;}
#footer .email-signup button span{background:#fff url('../images/pacsun/sprite-main.png') no-repeat 0 -45px;border:1px solid #d2d2d2;display:block;text-indent:-9999px;}

/*** social-section ***/
#footer .social-section ul li{display:block;width:31px;height:31px;float:left;margin-right:12px }
#footer .social-section ul li a{display:block;width:31px;height:31px;text-indent:-9999px }
#footer .social-section ul li.link-mobile a{background:url('../images/pacsun/sprite-main.png') no-repeat -153px -1px } 
#footer .social-section ul li.link-mobile a:hover{background-position:-153px -34px } 
#footer .social-section ul li.link-googleplus a{background:url('../images/pacsun/sprite-main.png') no-repeat -186px -1px } 
#footer .social-section ul li.link-googleplus a:hover{background-position:-186px -34px } 
#footer .social-section ul li.link-facebook a{background:url('../images/pacsun/sprite-main.png') no-repeat -218px -1px } 
#footer .social-section ul li.link-facebook a:hover{background-position:-218px -34px } 
#footer .social-section ul li.link-youtube a{background:url('../images/pacsun/sprite-main.png') no-repeat -251px -1px } 
#footer .social-section ul li.link-youtube a:hover{background-position:-252px -34px } 
#footer .social-section ul li.link-flickr a{background:url('../images/pacsun/sprite-main.png') no-repeat -284px -1px } 
#footer .social-section ul li.link-flickr a:hover{background-position:-284px -34px } 
#footer .social-section ul li.link-twitter a{background:url('../images/pacsun/sprite-main.png') no-repeat -317px -1px } 
#footer .social-section ul li.link-twitter a:hover{background-position:-317px -33px } 
#footer .social-section ul li.link-pinterest a{background:url('../images/pacsun/sprite-main.png') no-repeat -350px -1px } 
#footer .social-section ul li.link-pinterest a:hover{background-position:-350px -34px } 

/*** pacsun-seo-info ***/
#footer .pacsun-seo-info{border-top:1px dotted #C1C1C1;color:#666;line-height:190%;margin:0 10px 20px;padding:22px 0;text-align:justify }	
#footer .pacsun-seo-info .divider{height:10px }

/*** footer-sections ***/
#footer .footer-section{margin-bottom:30px;}
#footer .footer-section .section-header{border-bottom:1px dotted #C1C1C1;font-weight:700;padding-bottom:11px;width:202px;}
#footer .footer-section ul{margin-top:11px;}
#footer .footer-section ul li{margin-bottom:8px;}
#footer .footer-section ul li a{color:#666;text-decoration:none;}
#footer .footer-section ul li a:hover{text-decoration:underline;}

/*** company Info ***/
.companyInfoLeft{border-right:1px solid #c1c1c1;}
.companyInfoLeft .section-header{text-transform:uppercase;border-bottom:1px dotted #C1C1C1;font-weight:700;padding-bottom:11px;margin-right:25px; font-size:150%;}
.companyInfoLeft ul{margin-top:11px; font-size:130%;}
.companyInfoLeft ul li{margin-bottom:8px;}
.companyInfoLeft ul li a{color:#666;text-decoration:none;}
.companyInfoLeft ul li a:hover{text-decoration:underline;}
.companyInfoLeft li.selected a{color:#000;}

#content h1.content-header, #rightContent h1.content-header{
	text-transform: uppercase;
	border-bottom: 1px dotted #C1C1C1;
	font-weight: 700;
	padding-bottom: 11px;
	margin-bottom:11px;
	font-size: 150%;
	display:block;
}
#rightContent{
	width:778px;	
}


/*** Search: noresults-mid-left  ***/
.nohits .noresults-mid-left .noresults-tips{background:#edd794;padding:25px;}

/*** Account: account-landing  ***/
.accountsections{padding:20px 0 0;}
.accountsections > div{float:left;padding:50px 50px 50px 0;width:290px;}
.accountsections a{color:#000;display:block;font-size:170%;font-weight:bold;line-height:150%;text-transform:uppercase;}

.accountsections .leftIcon{float: left; margin: 0 13px 0 0;} 

.accountsections .accountlandingpersonaldata,
.accountsections .accountlandingaddresses,
.accountsections .accountlandingpaymentsettings,
.accountsections .accountlandingwishlist{border-bottom:1px dotted #C1C1C1;}

.accountsections .accountlandingpersonaldata,
.accountsections .accountlandingorders,
.accountsections .accountlandingpaymentsettings {border-right:1px dotted #C1C1C1;}

.accountsections .accountlandingaddresses,
.accountsections .accountlandingwishlist,
.accountsections .accountlandingemailpreferences {padding-left:20px;}

/*** Account Mobile: mobile-account-landing  ***/
.mobileaccountsections {background:#fff;}
.mobileaccountsections a {color:#000;display:block;float:left;font-size:120%;height:35px;padding:60px 5px 5px;text-align:center;width:146px;}
.mobileaccountsections > div {border:1px solid #d9d9d9;border-width:0 1px;}
.mobileaccountsections > div ~ div {border-top-width:1px;}

.mobileaccountsections .mobileaccountlandingpersonaldata,
.mobileaccountsections .mobileaccountlandingpaymentsettings,
.mobileaccountsections .mobileaccountlandingwishlist{border-right:1px solid #d9d9d9;}

/*** GiftCert-Landing  ***/
.giftcertlanding{ }
.gcimageWrapper{height:175px;}
.giftcertlanding .gcdetails ul{margin:20px 0;}
.giftcertlanding .gcdetails ul li{font-size:120%;font-weight:bold;list-style-type:disc;margin:0 0 0 14px;padding-bottom:0.85em;}
.giftcertlanding .gcdetails .gcblurb{color:#6d6e71;font-style:italic;}

/*** GiftCert-Purchase  ***/
.giftcertpurchase .gcdetails .gcblurb{color:#6d6e71;padding:20px 0 0;}
.giftcertificatepurchaseinformation select{width:214px;}
.giftcertificatepurchaseinformation .messageCount{margin:5px 0;width:285px;}
.giftcertpurchaseform .messageRequired{float:right;}

/*** Physical Gift Card  ***/
.productdetail.giftcarddetail .gcdetails .gcblurb{color:#6d6e71;padding:20px 0 0;}

.cart .cart-banners > div{background-color:#edd794;display:block;font-weight:bold;line-height:300%;text-align:center;text-transform:uppercase;width:280px;}
.cart .cart-banners .cart-banner-1{float:left;}
.cart .cart-banners .cart-banner-2{float:right;}

/*** Cart: cartfooter-left (cartfooter-left-top & cartfooter-left-bottom)  ***/
.cart .cartfooter-left .cartfooter-left-top{margin:0 0 10px;}
.cart .cartfooter-left .cartfooter-left-bottom .covered-header{border-bottom:1px dotted #6d6e71;font-size:110%;padding:0 0 10px;}
.cart .cartfooter-left .cartfooter-left-bottom .covered-text{color:#6d6e71;line-height:200%;padding:10px 0 0;}
.cart .cartfooter-left .cartfooter-left-bottom .covered-text .left{float:left;width:250px;}
.cart .cartfooter-left .cartfooter-left-bottom .covered-text .right{float:right;width:250px;}

/*** Cart: cartfooter-right-bottom  ***/
.cart .cartfooter-left .cartfooter-left-top div{}

/*** Wish List Banner ***/
.wishlistbanner a {background-color:#edd794;display:block;width:100%;height:34px;text-align:center;color:#fff;font-size:160%;font-weight:700;line-height:230%;margin:10px 0 0;text-decoration:none;text-transform:uppercase;margin-bottom: 10px;}
.wishlistbanner a:hover{text-decoration:none}

/** SHOES AND DENIM LEFT NAV **/
.shoes-leftnav, .denim-leftnav {min-height:10px;}

/** CONTACT US **/
#RegistrationForm .label{
	font-weight:bold;
	color:#000;
}