html{
color:#000;background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,blockquote,th,td{
margin:0;
padding:0;
}
table{
border-collapse:collapse;
border-spacing:0;
}
fieldset,img{
border:0;
}
address,caption,cite,code,dfn,th,var{
font-style:normal;
font-weight:normal;
}

caption,th{
text-align:left;
}

q:before,q:after{
content:'';
}
abbr,acronym{
border:0;
font-variant:normal;
}
sup{
vertical-align:text-top;
}
sub{
vertical-align:text-bottom;
}
input,textarea,select{
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}
input,textarea,select{
*font-size:100%;
}
.clear{clear:both;}



#nmMain{
background-image: url(../App_Themes/NewsmaxNew/images/spriteVertBkg.gif);
background-repeat:repeat-y;
width:990px;
margin: 0px auto;
padding: 15px 0px 0px 0px;
}
.mainDiv {
	position: relative;
}
#nmSiteNav
{
width: 800px;
height: 39px;
margin: 0px 0px 0px 185px;
}

/*# Main Site Navigation #*/

.nmSiteNavBtn
{
display: inline;
background-image: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat: no-repeat;
float: left;
cursor: pointer;
}

.Newsmax_i
{
background-position: 0px 0px;
width: 103px;
height: 39px;
margin-left: 0px;
}

.Newsmax_a
{
background-position: 0px -52px;
width: 103px;
height: 39px;
margin-left: 0px;
}

.TV_i
{
background-position: -113px 0px;
width: 103px;
height: 39px;
margin-left: 31px;
}

.TV_a
{
background-position: -113px -52px;
width: 103px;
height: 39px;
margin-left: 31px;
}

.Money_i
{
background-position: -226px 0px;
width: 103px;
height: 39px;
margin-left: 37px;
}

.Money_a
{
background-position: -226px -52px;
width: 103px;
height: 39px;
margin-left: 37px;
}

.Health_i
{
background-position: -339px 0px;
width: 103px;
height: 39px;
margin-left: 39px;
}

.Health_a
{
background-position: -339px -52px;
width: 103px;
height: 39px;
margin-left: 39px;
}

.World_i
{
background-position: -452px 0px;
width: 103px;
height: 39px;
margin-left: 12px;
}

.World_a
{
background-position: -452px -52px;
width: 103px;
height: 39px;
margin-left: 12px;
}

/*# Search Box #*/

#nmSearchCont
{
display: inline;
border: 1px solid #999;
width: 175px;
height: 23px;
float: right;
margin: 0px 25px 10px 0px;
}

.nmSearchInput
{
border: none;
border-color: transparent;
height: 23px;
width: 139px;
font-family: "Times New Roman" , Times, serif;
font-size: 13px;
float: left;
line-height: 23px;
padding-left: 7px;
}

#nmBtnSearch
{
background-image: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat: no-repeat;
background-position: 0px -104px;
width: 26px;
height: 23px;
float: right;
cursor: pointer;
}

/*# Site Header #*/

#nmNewsmaxLogo{
display:block;
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position: -35px -104px;
width:310px;
height:85px;
margin: 0px auto;
margin-top:20px;
}

#nmTodaysDate{
font-family: "Times New Roman" , Times, serif;
font-size: 13px;
float:left;
padding: 12px 0px 0px 25px;
}

/*# Main Nav #*/

.nmNavSep{
background-image: url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);
background-position: 0 -37px;
height: 1px;
margin: 0 auto;
margin-top: 10px;
padding: 5px 0px 5px 0px;
width: 940px;
}

.nmNavSepTop{
background-image: url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);
background-position: 0 -37px;
height: 1px;
margin: 0 auto;
padding: 5px 0px 5px 0px;
width: 940px;
}

.nmNavSepBot{
background-image: url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);
background-position: 0 -37px;
height: 1px;
margin: 0 auto;
padding: 5px 0px 5px 0px;
width: 940px;
}

#nmMainNav{
height: 35px;
margin: 0px 0px 0px 25px;
width: 958px;
}
#nmMainNav li{
*display: inline;
}
a.nmMainNavLink:active, a.nmMainNavLink:link, a.nmMainNavLink:visited
{
float: left;
font-size: 13px;
font-weight: bold;
color: #005aab;
font-family: Arial, Helvetica, sans-serif;
padding-left: 19px;
padding-right: 19px;
padding-top: 5px;
height: 22px;
text-decoration: none;
}

a.nmMainNavLink:hover
{
background-color: #005aab;
float: left;
font-size: 13px;
font-weight: bold;
color: #FFF;
font-family: Arial, Helvetica, sans-serif;
height: 22px;
padding-left: 19px;
padding-right: 19px;
padding-top: 5px;
text-decoration: none;
}

a.nmMainNavLinkSel:active, a.nmMainNavLinkSel:link, a.nmMainNavLinkSel:visited, a.nmMainNavLinkSel:hover
{
background-color: #005aab;
float: left;
font-size: 13px;
font-weight: bold;
color: #FFF;
font-family: Arial, Helvetica, sans-serif;
height: 22px;
padding-left: 19px;
padding-right: 19px;
padding-top: 5px;
text-decoration: none;
}

.nmMainNavSep
{
float: left;
padding: 0px 0px 0px 1px;
background-image: url(../App_Themes/NewsmaxNew/images/spriteVertBkg.gif);
background-position: -1325px 0px;
background-repeat: repeat-y;
width: 2px;
height: 25px;
}

#nmMainNavBot
{
background-image: url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);
background-position: 0px -37px;
height: 5px;
margin: 0px 0px 0px 15px;
width: 720px;
margin: 0px auto;
padding-bottom: 10px;
}

#nmMainNavBottom{
background-image:url(../App_Themes/NewsmaxNew/images/nmNavMain.gif);
width: 965px;
height:45px;
margin:15px 0px 0px 13px;
background-position: 0 -56px;
}
.nmBotNavigation
{
float: left;
background-image:url(../App_Themes/NewsmaxNew/images/nmNavMainTemplate.gif);
height:45px;
margin-left: 2px;
}
.nmBotNavHome_a
{
background-position: 0 -155px;
width: 72px;
margin-left: 0;
}

.nmBotNavHome_i
{
background-position: 0 -105px;
width: 72px;
margin-left: 0;
}

.nmBotNavNewsfront_a
{
background-position: -74px -155px;
width: 92px;
}
.nmBotNavNewsfront_i
{
background-position: -74px -105px;
width: 92px;
}
.nmBotNavAmerica_a
{
background-position: -168px -155px;
width: 77px;
}
.nmBotNavAmerica_i
{
background-position: -168px -105px;
width: 77px;
}
.nmBotNavPolitics_a
{
background-position: -247px -155px;
width: 69px;
}
.nmBotNavPolitics_i
{
background-position: -247px -105px;
width: 69px;
}
.nmBotNavInsiders_a
{
background-position: -318px -155px;
width: 77px;
}
.nmBotNavInsiders_i
{
background-position: -318px -105px;
width: 77px;
}
.nmBotNavThewire_a
{
background-position: -397px -155px;
width: 82px;
}
.nmBotNavThewire_i
{
background-position: -397px -105px;
width: 82px;
}
.nmBotNavTechnology_a
{
background-position: -481px -155px;
width: 100px;
}
.nmBotNavTechnology_i
{
background-position: -481px -105px;
width: 100px;
}
.nmBotNavFastfeatures_a
{
background-position: -583px -155px;
width: 109px;
}
.nmBotNavFastfeatures_i
{
background-position: -583px -105px;
width: 109px;
}
.nmBotNavSlideshows_a
{
background-position: -694px -155px;
width: 111px;
}
.nmBotNavSlideshows_i
{
background-position: -694px -105px;
width: 111px;
}
.nmBotNavJokes_a
{
background-position: -802px -155px;
width: 73px;
}
.nmBotNavJokes_i
{
background-position: -802px -105px;
width: 73px;
}
.nmBotNavCartoons_a
{
background-position: 93px -155px;
width: 93px;
}
.nmBotNavCartoons_i
{
background-position: 93px -105px;
width: 93px;
}

/*# Zones #*/
.TopZone
{
margin: 0 0 0 0;
}
.zoneFooter
{

height:169px;

padding-top:0px;
}
.zoneMainContent
{
margin: 0 0 0 25px;
}
#divMenuFooter
{
height: 45px;
}
#NewsmaxHeader
{
margin: 0 0 0 0;
}
/*# Breaking News #*/
#nmBreakingNewsCont{
width: 938px;
height: 27px;
border: 1px solid #c32720;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
overflow:hidden;
background-color:#FFF;
margin: 0px 0px 10px 0px;
}

#nmBreakingNewsTitle{
background-color:#c32720;
width:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#FFF;
height: 27px;
padding: 4px 10px 0px 10px;
}

#nmBreakingNewsArrow{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-position: -170px -201px;
background-repeat:no-repeat;
width: 18px;
height: 27px;
margin: 0px 0px 0px 0px;
float:left;
}

#nmBreakingNewsCont h2 {
padding: 2px 0px 0px 0px;
color:#000;
text-decoration: none;
}

#nmBreakingText{
padding-top: 3px;
}

#nmBreakingNewsCont a {
color:#000;
text-decoration: none;
font-weight:normal;
font-size:18px;
}

#nmBreakingNewsCont a:hover {
                color:#000;
                text-decoration: underline;
                font-weight:normal;
                font-size:18px;
}





/*# Home Page Columns #*/
#nmLeftColumn{
display:inline;
width: 612px;
margin: 23px 18px 0px 0px;
float:left;
padding-right: 0px;
}

#nmRightColumn{
display:inline;
width: 312px;
margin: 23px 0px 0px 0px;
padding:21px 0px 0px 0px;
float:left;
}


/*# Section Headers #*/

.nmSectionHead{
background-image:url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);
background-repeat:repeat-x;
background-position: 0px -42px;
height: 25px;
width: 612px;

}

.nmDefault{
border-bottom: 2px solid #005aab;
margin-bottom: 10px;
}

.nmSectionHeadL{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:0px -299px;
height:25px;
width: 4px;
float:left;
}

.nmSectionHeadR{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-14px -299px;
height:25px;
width: 14px;
float:left;
}

.nmSectionHeadLabel{
background-color:#005aab;
height:25px;
text-align:center;
padding: 0px 0px 0px 0px;
float:left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}

a.nmSectionHeadLink:link,a.nmSectionHeadLink:visited,a.nmSectionHeadLink:active{
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
text-decoration:none;
}

a.nmSectionHeadLink:hover{
text-decoration:underline;
}

.nmWorld{
border-bottom: 2px solid #aa65aa;
margin-bottom: 10px;
}

.nmWorldHeadL{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-37px -299px;
height:25px;
width: 4px;
float:left;
}

.nmWorldHeadR{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-51px -299px;
height:25px;
width: 14px;
float:left;
}

.nmWorldHeadLabel{
background-color:#aa65aa;
height:25px;
width:114px;
text-align:center;
padding: 0px 0px 0px 0px;
float:left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}

.nmHealth{
border-bottom: 2px solid #00a1b1;
margin-bottom: 10px;
}

.nmHealthHeadL{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-74px -299px;
height:25px;
width: 4px;
float:left;
}

.nmHealthHeadR{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-88px -299px;
height:25px;
width: 14px;
float:left;
}

.nmHealthHeadLabel{
background-color:#00a1b1;
height:25px;
width:114px;
text-align:center;
padding: 0px 0px 0px 0px;
float:left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}


.nmMoney{
border-bottom: 2px solid #ffa300;
margin-bottom: 10px;
}

.nmMoneyHeadL{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-111px -299px;
height:25px;
width: 4px;
float:left;
}

.nmMoneyHeadR{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-125px -299px;
height:25px;
width: 14px;
float:left;
}

.nmMoneyHeadLabel{
background-color:#ffa300;
height:25px;
width:114px;
text-align:center;
padding: 0px 0px 0px 0px;
float:left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}


/*# Newsfront Lead Story #*/
#nmLeadStoryCont{
width: 610px;
margin: 20px 0px 20px 0px;
}

#nmLeadStoryContentNT{
width: 600px;
margin-left: 10px;
float:left;
}

#nmLeadStoryThumb{
border-left: 6px solid #c32522;
float: left;
font-size: 0;
margin: 0 10px 0 0;
}

#nmLeadStoryContent{
width: 400px;
float:left;
}


#nmleadStoryHead{
margin-top:0px;
}

#nmleadStoryHead h2 a{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:30px;
margin: 0px;
color:#000;
font-weight:normal;
}

a.linkFullStory:link,a.linkFullStory:active,a.linkFullStory:visited {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#c32620;
text-decoration:none;
}

a.linkFullStory:hover {
text-decoration:underline;
}

/*# Newsfront Story #*/

.spacer {
clear:both;
margin-top: 20px;
border: 0;
color: #dfdfe7;
background-color: #dfdfe7;
height: 1px;
width: 100%;
text-align: left;
font-size:0px;
}

.nmNewsfrontStory{
padding: 0px 0px 10px 0px;
margin: 24px 0px 24px 0px;
}


.nmNewsfrontHead h2{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
margin: 0px 0px 0px 0px;
font-weight:normal;
}

a.nmNewsfrontHeadLink:link,a.nmNewsfrontHeadLink:active,a.nmNewsfrontHeadLink:visited{
font-family:Georgia, "Times New Roman", Times, serif;
color: #000;
font-size:24px;
margin: 0px 0px 0px 0px;
text-decoration:none;
}

a.nmNewsfrontHeadLink:hover{
text-decoration:underline;
}

.nmNewsfrontSummary{
margin: 6px 0px 0px 0px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#666;
}


.nmNewsfrontThumb img {
border-left:solid #c32921 6px;
margin: 0px 10px 0px 0px;
float:left;
display: inline;
}

.nmNewsfrontThumb {

}

.nmNewsfrontNT{
float:left;
width: 100%;
}


.nmNewsfrontT{
float:left;
margin-left: 10px;
width:460px;
}

.nmMoreNewsfront{
margin: 0px auto;
padding:15px 0px 35px 0px;
width: 120px;
}

a.linkMore:link,a.linkMore:active,a.linkMore:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#151a78;
font-weight:bold;
text-decoration:none;
}

a.linkMore:hover{
text-decoration:underline;
}

/*# Banners #*/

#nmBanner468{
width: 468px;
padding: 0px 0px 30px 0px;
margin: 0px auto;
}


/*# Sections  #*/

.nmSectionLead{
padding: 0px 0px 10px 0px;
margin: 0px 0px 24px 0px;
}

.nmSectionHeadline h2{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:24px;
margin: 0px 0px 0px 10px;
font-weight:normal;
}

.nmSectionHeadline a:link{
color: #000;
text-decoration: none;
}

.nmSectionHeadline a:hover{
text-decoration: underline;
}

.nmSectionSummary{
margin: 6px 0px 0px 10px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#666;
}

.nhWorldCont div.nmSectionThumb{
	background-color:#AA65AA;
}


.nmSectionThumb{
border-left:solid #c32921 6px;
margin: 0px 10px 0px 0px;
font-size:0px;
display: inline;
float:left;
margin-top:10px
}

.nmSectionNT{
float:left;
width:610px;
display:inline;
margin-top: 5px;
}
a.Normal
{
color : #000;
}

a.Bold
{
color : #000;
font-weight: bold;
}
a.BoldRed
{
font-weight: bold;
color : #c32620;
}

.nmSectionT{
float:left;
margin: 5px 0px 0px 0px;
display:inline;
width: 420px;

}

.nmMoreSection{
margin: 0px auto;
padding:10px 0px 35px 0px;
width: 150px;
text-align:center;
}

.nmSectionLinks a {
color: #000;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
text-decoration:none;
}

.nmSectionLinks a:hover {
                color:#000;
                font-family:Georgia, "Times New Roman", Times, serif;
                font-size:18px;
                text-decoration:underline;
}              
.nmSectionLinks {
margin: 17px 0px 0px 22px;
}

.nmSectionLinks li {
list-style-type: square;
color:#c32620;
margin: 8px 0px 0px 0px;
}




a.nmSectionLink:link, a.nmSectionLink:active, a.nmSectionLink:visited {
color: #000;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
text-decoration:none;
}

a.nmSectionLink:hover{
text-decoration:underline
}

a.Default:link,a.Default:active, a.Default:visited {
color:#000;
}

a.Default:hover{
text-decoration: underline;
}

a.Normal:link,a.Normal:active, a.Normal:visited {
color:#000;
}

a.Normal:hover{
text-decoration: underline;
}

a.Bold:link, a.Bold:active, a.Bold:visited{
font-weight:bold;
color:#000;
text-decoration:none;
}

a.Bold:hover{
text-decoration: underline;
}

a.DefaultBold:link, a.DefaultBold:active, a.DefaultBold:visited{
font-weight:bold;
color:#000;
text-decoration:none;
}

a.DefaultBold:hover{
text-decoration: underline;
}

a.BoldRed:link, a.BoldRed:active, a.BoldRed:visited{
font-weight:bold;
color:#cc3333;
text-decoration:none;
}

a.BoldRed:hover {
text-decoration: underline;
}

a.Alternate:link, a.Alternate:active, a.Alternate:visited{
font-family: Georgia,"Times New Roman",Times,serif;
color:#cc3333;
text-decoration:none;
}

a.Alternate:hover {
text-decoration: underline;
}

a.AlternateBold:link, a.AlternateBold:active, a.AlternateBold:visited{
font-family: Georgia,"Times New Roman",Times,serif;
font-weight:bold;
color:#cc3333;
text-decoration:none;
}

a.AlternateBold:hover {
text-decoration: underline;
}

/*# Sign Up #*/

.nmOptIn {
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 15px;
color:#000;
height: 150px;
margin: 50px 0px 0px 0px;
}
.confirmSuccess{
text-align:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-weight:normal;
}

.confirmSuccess a{
text-decoration:underline;
color:#0000FF;
}

#Progress {
background-image: url(../App_Themes/Newsmax/images/articlePage/ajax-loader.gif);
height: 15px;
width: 128px;
margin: 0px auto;
display:none;
}

#nmSignUpContainer{
width: 312;
margin: 0px auto;
margin-bottom: 25px;
}

#nmSignUpTop{
background-image:url(../App_Themes/NewsmaxNew/images/nmSignUpTop.gif);
width: 312px;
height: 111px;
}



#signupFormWrapper2{
background-image: url(../App_Themes/NewsmaxNew/images/spriteVertBkg.gif);
background-position: -1000px 0px;
background-repeat:repeat-y;
width: 312px;
padding: 10px 0px 0px 0px;
color: #666666;
font-family: arial;
font-size: 22px;
font-weight: bold;
}


#nmSignUpBottom{
background-image: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position: 0px -334px;
width: 312px;
height: 20px;
}

.nmSignUpLabel{
font-family:Arial, Helvetica, sans-serif;
color:#646464;
font-size:11px;
font-weight:bold;
float:left;
height:22px;
width:85px;
text-align: right;
margin: 0px 5px 0px 0px;
padding-top: 5px;
}

.nmSignUpInputCont{
float:left;
height: 22px;
padding: 0px 0px 0px 0px;
}

.nmSignUpInputContSm{
float:left;
height: 22px;
margin-right: 10px;
}

.nmSignUpInput{
width: 184px;
height: 22px;
border: 1px solid #ccc;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

.nmSignUpInputSm{
width: 115px;
height: 22px;
border: 1px solid #ccc;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

#nmSignUpButtonCont{
float:left;
width:60px;
height: 24px;
}

.nmSignUpButtonCont{
margin: 0px 0px 0px 0px;
cursor: pointer;
}
.signupSubmit
{
background-image: url(../App_Themes/NewsmaxNew/images/nmSignUpButton.gif);
width: 60px;
height: 24px;
border: 1px solid #FFF;
}
.signupError{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#cc3300;
height:10px;
margin: 0px 0px 3px 90px;
}

/*# Module Head #*/

.nmModuleHead{
/* background-image: url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);*/
background-repeat:repeat-x;
background-position: 0px -42px;
height: 25px;
width: 306px;
margin: 10px 0px 1px 0px;
border-bottom: 2px solid #8ebfe0;

}

.nmModuleHeadL{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-149px -299px;
height:25px;
width: 4px;
float:left;
}

.nmModuleHeadR{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-163px -299px;
height:25px;
width: 14px;
float:left;
}

.nmModuleHeadLabel{
background-color:#8ebfe0;
height:25px;
text-align:center;
padding: 0px 0px 0px 0px;
float:left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}

/*# Module Head Link #*/

.nmModuleHeadLabel a {

color:#FFF;
text-decoration:none;
}

.nmModuleHeadLabel a:hover {

text-decoration:underline;
}

/*# Hot Topics #*/

.nmMoreHotTopics{
margin: 0 auto;
padding: 10px 0 30px;
width: 115px;
}

.nmHotCont{
margin: 0px 0px 10px 0px;
}
.nmHotTopic {
width:150px;
float:left;
margin: 5px 0px 0px 5px;
}

.nmHotBullet{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position: 0px -241px;
width:3px;
height:3px;
float:left;
margin: 8px 3px 0px 0px;
}

a.nmHotTopicsLink:active, a.nmHotTopicsLink:link, a.nmHotTopicsLink:visited {
font-size: 12px;
font-family: arial;
text-decoration: none;
font-weight: bold;
}

a.nmHotTopicsLink:hover{
text-decoration: underline;
}

/*# Social #*/
#nmSocialFB{
width: 210px;
margin: 0px 0px 10px 0px;
}

#nmSocialTwit{
margin: 0 0 25px 10px;
}



/*# TV #*/

#nmTVBkg{
background-image: url(../App_Themes/NewsmaxNew/images/nmTVBkg.gif);
background-repeat:no-repeat;
background-color:#f2f7fb;
background-position:bottom;
width: 304px;
margin: 0px 0px 15px 0px;

}

#nmVideo{
margin: 1px 0px 0px 3px;
}

.nmTVTitle{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #151a78;
font-weight:bold;
text-align:center;
margin: auto 0px;
padding: 13px 5px 0px 5px
}



.nmTVDescription{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
width: 290px;
margin: 14px 0px 10px 7px;
display:none;
}

.TVspacer {
clear:both;
border: 0;
color: #dfdfe7;
background-color: #dfdfe7;
height: 1px;
width: 290px;
margin: 0px auto;
font-size:0px;
}

.nmMoreTV{
margin: 0px auto;
padding:10px 0px 10px 0px;
width: 140px;
}


/*# Advertising #*/

#nmAdvertisment{
margin: 10px 3px 38px 3px;
width: 300px;
}

/*# Sponsor Head #*/

.nmSponsorHead{
background-repeat:repeat-x;
background-position: 0px -42px;
height: 25px;
width: 500px;


}
.nmSponsorHeadL{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-187px -299px;
height:25px;
width: 4px;
float:left;
}

.nmSponsorHeadR{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-repeat:no-repeat;
background-position:-201px -299px;
height:25px;
width: 14px;
float:left;
}

.nmSponsorHeadLabel{
background-color:#c3241f;
height:25px;
text-align:center;
padding: 0px 0px 0px 0px;
float:left;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}

/*# Sponsor Center #*/

#nmSponsorCenter {
border: 1px solid #c3241f;
width: 498px;

}

#nmSponsorCenter ul {
list-style-type: none;
padding: 10px 0px 10px 0px;
margin-left: 20px;
width: 498px;
}

#nmSponsorCenter li {
list-style:none;
padding: 0px 0px 0px 20px;
margin-bottom: 10px;
background: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif)  0px -365px  no-repeat;
line-height: 17px;
}

#nmSponsorCenter a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 13px;
color:#000;
}

/*# Sponsor Module #*/

#nmSponsorModule ul {
list-style-type: none;
padding: 10px 0px 10px 0px;
width: 300px;
}

#nmSponsorModule li {
list-style:none;
padding: 0px 0px 0px 20px;
margin-bottom: 10px;
background: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif)  0px -365px  no-repeat;
}

#nmSponsorModule a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 15px;
color: #000;
}

#atwWhatsThis {
background-color: white;
border-color: white;
border-style: hidden;
display: block;
margin: 5px;
padding: 0;
text-align: right;
}

#atwWhatsThis a {
color: black;
font-size: 10px;
}

/*# Sponsor List #*/

.nmSponsorListSpacer{
margin: 20px 0px 0px 0px;
}

#nmSponsorList ul {
list-style-type: none;
padding: 10px 0px 10px 0px;
width: 580px;
}

#nmSponsorList li {
list-style:none;
padding: 0px 0px 0px 20px;
margin-bottom: 10px;
background: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif)  0px -365px  no-repeat;
}

#nmSponsorList a:link,#nmSponsorList a:active,#nmSponsorList a:visited {
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 18px;
color: #000;
}

#nmSponsorList a:hover {
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 18px;
color: #000;
text-decoration:underline;
}

/*# Special Links #*/

.nmSpecialHead {
background-image: url(../App_Themes/NewsmaxNew/images/spriteHorBkg.gif);
background-position: 0 -42px;
background-repeat: repeat-x;
height: 25px;
width: 612px;
border-bottom: 2px solid #c3251e;
margin-bottom: 10px;
}

.nmSpecialHeadL {
background-image: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-position: -187px -299px;
background-repeat: no-repeat;
float: left;
height: 25px;
width: 4px;
}
.nmSpecialHeadR {
background-image: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-position: -201px -299px;
background-repeat: no-repeat;
float: left;
height: 25px;
width: 14px;
}
.nmSpecialHeadLabel {
background-color: #c3251e;
color: #FFFFFF;
float: left;
font-family: Arial,Helvetica,sans-serif;
font-size: 22px;
font-weight: bold;
height: 25px;
padding: 0;
text-align: center;
}

.nmSpecialList {
list-style-type: none;
margin: 10px 0 20px 10px;
padding-right: 15px;
width: 450px;
}

.nmSpecialList li {
background: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif) no-repeat scroll -333px -329px transparent;
list-style: none outside none;
margin-bottom: 10px;
padding: 0 0 0 20px;
}
.nmSpecialLink:link, .nmSpecialLinkactive, #nmSpecialLink:visited {
color: #000000;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 18px;
text-decoration:none;
}
.nmSpecialLink:hover {
color: #000000;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 18px;
text-decoration: underline;
}

.nmSpecialListCont{
float:left;
}
.nmSpecialBanner{
float:left;
width: 125px;
margin: 12px 0px 0px 0px;
}

/*# Insiders #*/

.nmInsiderCont{
margin: 10px 0px 0px 13px;
}

.nmInsiderThumb img{
float:left;
border:#4889c3 3px solid;
padding: 0px;
}

.nmInsiderContent{
float:left;
width: 230px;
margin-left: 5px;
}


.nmInsiderName a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color:#333333;
text-decoration:none;
}

.nmInsiderName a:hover{
text-decoration:underline;
}

.nmInsiderTitle,.nmInsiderTitle a {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#4889c3;
text-decoration:none;
}

.nmInsiderTitle a:hover{
text-decoration:underline;
}

.nmInsiderSummary a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
color:#333;
text-decoration:none;

}

.nmInsiderSummary a:hover{
text-decoration:underline;
}

.nmInsiderSpacer{
clear:both;
border: 0;
color: #dfdfe7;
background-color: #dfdfe7;
height: 1px;
width: 306px;
font-size:0px;
margin: 15px 0px 15px 0px;
}

.nmMoreInsiders{
margin: 0px auto;
padding:0px 0px 30px 0px;
width: 80px;
}


/*# Popular News/Magazine #*/

.nmPopularNews{
margin: 0px 0px 30px 0px;
}

.nmMagThumb{
float:left;
width: 100px;
display:inline;
margin-left:3px;
}

.nmMagContent{
float:left;
width:185px;
margin-left: 12px;

}

.nmMagTitle{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
line-height: 20px;
}

.nmMag2{
padding:14px 0px 0px 6px;
}

.nmMag2Button{
padding:5px 0px 0px 3px;
text-align:center;
}

.nmMag2Text{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:17px;
font-weight:bold;
padding:5px 0px 0px 5px;
text-align:center;
}

.nmTextBlue{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color: #151a78;
font-weight:bold;
margin: 5px 0px 5px 0px;
}

.nmTextArial{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color: #333;
}

a.linkRed:link,a.linkRed:visited,a.linkRed:active {
color:#c32620;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

a.linkRed:hover{
text-decoration:underline;
}

.nmMagContainer{
margin: 12px 0px 0px 0px;
}

.nmMagTextBold{
padding: 35px 0px 0px 0px;
clear:both;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #000;
font-weight:bold;
width: 250px;
margin: 0px auto;
}

.nmiPadButton{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-position: -15px -241px;
height: 48px;
width: 147px;
margin: 0px auto;
margin-top: 15px;
cursor:pointer;
display:block;
}


.nmWash{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-position: -172px -241px;
height: 33px;
width: 261px;
margin: 0px auto;
margin-top: 15px;
cursor:pointer;
}

.nmMagLink{
margin: 12px 0px 0px 0px;
text-align:center;
}



/*# Default Module Botttom #*/


.nmModuleSpacer{
clear:both;
border: 0;
color: #dfdfe7;
background-color: #dfdfe7;
height: 1px;
width: 306px;
font-size:0px;
margin: 15px 0px 15px 0px;
}

.nmModuleMore{
margin: 0px auto;
padding:0px 0px 30px 0px;
width: 80px;
}

/*# Footer #*/


#nmMainNavFooter{
height: 35px;
margin: 0px 0px 0px 25px;
width: 958px;
}

#nmMainNavFooter li{
*display: inline;
}

#nmCopyContainer{
float:left;
width: 190px;
margin: 0px 0px 10px 0px;
}

#nmLogoSm{
background-image:url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif);
background-position: -356px -135px;
height: 19px;
margin: 38px 0 0 25px;
width: 148px;
}

#nmCopyRight{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #7f7f7f;
margin: 8px 0px 0px 25px;
}

#nmSupportNavCont{
float: right;
display:inline;
margin: 40px 40px 0px 0px;
}

a.nmFooterLink:link, a.nmFooterLink:visited, a.nmFooterLinkactive {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color:#cd123c;
text-decoration:none;
}


a.nmFooterLink:hover {
text-decoration:underline;
}

.nmFooterSpacer {
color:#8f8f8f;
font-size:14px;
font-weight:bold;
padding: 0px 5px 0px 5px;
}
/*# Canvas #*/

.canvasSelectorContainer{
                width: 780px; 
                margin: 0px auto;
}

.CanvasSelector{                
  float:left; 
  text-align:center; 
  font-weight:bold; 
  width: 340px; 
  margin: 10px 20px 0px 0px; 
  
  padding: 10px;
}

.CanvasSelector img{
  padding: 5px; 
  cursor:pointer;
  border:1px solid;
}


#nmCanvasContainer{
                margin-top: 12px;
                width:940px;
                padding: 0px;
position: relative;
}

#nmCanvasContainer2{
                margin-top: 12px
                width:940px;
                padding: 0px;
                border-left: 6px solid #C32620;
}
/*# Canvas/Canvas Standard #*/

#nmCanvas1PhotoContainer{
width:476px;
float:left
}

#nmCanvas1Photo{
                border-left: 6px solid #C32620;
                width: 470px;
                min-height:300px;
                height:auto !important;
                height:300px;
                position: relative;
}

#nmCanvas1PhotoCaption{
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
text-align:justify;
}

#nmCanvas1Content{
width:464px;
float:left;
}

#nmCanvas1Headline{
margin: 0px 0px 0px 15px;
padding-right: 20px;
}

#nmCanvas1Headline h1 {
color:#c32620;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:26px;
font-weight:normal;
}

a.nmCanvas1HeadLink:link, a.nmCanvas1HeadLink:active, a.nmCanvas1HeadLin:visited{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:40px;
text-decoration:none;
}

a.nmCanvas1HeadLink:hover {

text-decoration:underline;
}

#nmCanvas1Subhead {
margin: 0px 0px 0px 15px;
}

#nmCanvas1Subhead h2 {
color:#151a78;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:26px;
}

#nmCanvas1Summary{
color:#666;
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 14px;
width: 420px;
margin: 10px 0px 0px 15px;
padding-right:40px;

}

#nmCanvas1Related{
margin: 10px 0px 0px 15px;
color:#666;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
}

#nmCanvas1RelatedLinks{
width: 440px;
}

#nmCanvas1RelatedLinks ul {
margin: 0px 0px 0px 40px;
}

#nmCanvas1RelatedLinks li {
margin-top: 5px;
list-style:square;
color:#c32620;
}

#nmCanvas1RelatedLinks a{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-decoration:none;
color:#000;
}

#nmCanvas1RelatedLinks a:hover{
text-decoration:underline;
color:#000;
}

a.nmCanvas1RelLink:link, a.nmCanvas1RelLink:active, a.nmCanvas1RelLink:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-decoration:none;
}

a.nmCanvas1RelLink:hover {
text-decoration:underline;
}


/*# Canvas/Canvas Image With Overlaid Headline#*/
#nmCanvas2Photo{
width: 935px;
text-align:right;
z-index:1;
min-height:360px;
height:auto !important;
height:390px;
border-left: 6px solid #C32720;
}
#nmCanvas2Bkg{

background: rgba(0, 0, 0, 0.9);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
border: 0px;
width: 915px;
padding: 15px 10px;
left: 6px;
bottom: 0;
position: absolute;

}
#nmCanvas2Headline,#nmCanvas2Headline a{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:39px;
margin: 0px 0px 0px 0px;
z-index: 42;
color:#FFF;
}
#nmCanvas2Summary
{
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color : #fff;
}

#nmCanvas2PhotoCaption{
width: 935px;
margin: 0px 15px 0px 0px;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
}



/*# Canvas/Canvas Single Headline with Preview text#*/
#nmCanvas3Container{
width: 940px;
text-align:right;
z-index:1;
}
#nmCanvas3Bkg{

background: #fff;
width: 935px;
padding: 0 0 20px 0;
float: right;
}
#nmCanvas3Headline,#nmCanvas3Headline a{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:60px;
text-align: center;
z-index: 42;
margin: 20px 0 20px 0;
}
#nmCanvas3Summary
{
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 16px;
font-weight: normal;
color : #000;
text-align: justify;
width: 700px;
margin: 0px auto;
}
/*# Canvas/Canvas Headline with Preview text and Sub Heads#*/

#nmCanvas4Container{
width: 940px;
text-align:right;
z-index:1;
}
#nmCanvas4Bkg{

background: #fff;
width: 935px;
padding: 0 0 20px 0;
float: right;
text-align: center;
}
#nmCanvas4Headline{
margin: 0px 0px 0px 15px;
}

#nmCanvas4Headline h1,#nmCanvas4Headline a h1 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:40px;
padding: 0px 30px;
}

#nmCanvas4Subhead {
margin: 0px 0px 0px 15px;
}

#nmCanvas4Subhead h2 {
color:#151a78;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:26px;
}

#nmCanvas4Summary{

color: #000000;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 16px;
margin: 0 auto;
padding: 25px 0 20px 0;
text-align: justify;
width: 700px;
}

#nmCanvas4Related{
color: #666666;
font-family: Arial,Helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
margin: 0 0 0 25px;
}

#nmCanvas4RelatedLinks
{
text-align: left;
width: 400px;
margin:0px auto;
}
#nmCanvas4RelatedLinks ul {
margin: 0px 0px 0px 40px;
}

#nmCanvas4RelatedLinks li {
margin-top: 5px;
list-style: square;
color:#c32620;
}
a.nmCanvas4RelLink:link, a.nmCanvas4RelLink:active, a.nmCanvas4RelLink:visited{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-decoration:none;
}

a.nmCanvas4RelLink:hover {
text-decoration:underline;
}


/*# Canvas/Canvas Single Headline with Preview text and  Image#*/
#nmCanvas5Container{
	width: 940px;	
	text-align:right;
	z-index:1;
}
#nmCanvas5Bkg{
	
	background: #fff;
	width: 935px;
	float: right;
	text-align: center;
}
#nmCanvas5Headline,#nmCanvas5Headline a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:52px;
	text-align: center;
	z-index: 42;
	margin: 20px 0px 10px 0px;
}

#nmCanvas5SummaryCont{
	float: left; 
	position: relative; 
	left: 50%;
}

#nmCanvas5Summary{
                color: #000000;
                font-family: Georgia,"Times New Roman",Times,serif;
                font-size: 25px;
                font-weight: normal;
                padding: 10px 20px 30px 20px;
                text-align: justify;
                float: left; 
                position: relative; 
}

#nmCanvas5Photo{
	float: left; 
	position: relative; 
	left: -50%;
}

#nmCanvas5PhotoCont{
	float: left; 
	position: relative; 
	left: 50%;
}

#nmCanvas5PhotoCaption {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: justify;
}

/*# Canvas/Image And Headline#*/
#nmCanvas6 {
text-align:center;
margin-right:20px;
}

#nmCanvas6PhotoCont{
display:inline-block; 
/* float: left; */
/* position: relative; */
/* left: 50%; */
}

#nmCanvas6Photo{
display:inline-block; 
/* float: left; */
/* position: relative; */
/* left: -50%; */
}

#nmCanvas6Photo img {
border-left: 6px solid #C32620;
}

#nmCanvas6 h1 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:42px;
padding: 0px 0px 15px 0px;
margin: 0px;
font-weight:normal;
}

a.nmCanvas6HeadLink:link, a.nmCanvas6HeadLink:active, a.nmCanvas6HeadLink:visited{
color:#000;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:42px;
text-decoration:none;
}

a.nmCanvas6HeadLink:hover {
text-decoration:underline;
}

#nmCanvas6PhotoCaption {
font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
text-align: left;
}



/*# Canvas/Canvas Vertical Image #*/

#nmCanvas7 {
	text-align:center;
	border-left: 6px solid #C32620;
	width: 940px;
	display:table; 
}

#nmCanvas7photo{
	float:left;
	height: 100%; 
	width: auto;
	position:relative;
}


#nmCanvas7Text{
	text-align:left;
	display:table-cell; 
	vertical-align:middle; 
}

#nmCanvas7TextCont{
	display:table-cell; 
	vertical-align:middle;
	padding: 0px 20px 0px 20px;
	text-align: left;	
}

#nmCanvas7Summary{
	padding-top: 10px;
}


#nmCanvas7Head h1{
	text-align:left;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	text-decoration:none;
}

/*# Site Sections #*/

.nmSectionTop{

}

.nmSectionBottom{
clear:both;
}

.NMsectionContainer{
width: 100%;
}

.nmSectionLeft {
width: 170px;
float: left;
}

.nmSectionMain {
width: 471px;
float: left;
}

.nmSectionRight {
width: 300px;
float: left;
}

/*# Double Click #*/

.dblNewsbulletWrapper{
display:block;
text-decoration:none;
font-family:Arial, Helvetica, Sans-serif;
width:296px;
height:77px;
padding:2px;
/* border: 1px solid #CCC; */
}
.dblNewsbulletImage{
display:block;
float:left;
border:1px solid black;
margin-right:5px;
height:75px;
width:100px;
}
.dblNewsbulletHeadline{
display:block;
color:#1d2d5c;
font-size:13px;
font-weight:bold;
line-height:17px;
height:17px;
overflow:hidden;
}
.dblNewsbulletDescription{
display:block;
color:#000;
font-size:11px;
line-height:14px;
height:43px;
overflow:hidden;
}
.dblNewsbulletLink{
display:block;
color:#00f;
font-size:11px;
line-height:17px;
height:17px;
overflow:hidden;
}




/*# Fox News Feed #*/

#nmFoxFeed .rssFeed {
color: #000000;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 13px;
width: 300px;
}
#nmFoxFeed .rssFeed a {
color: #000;
text-decoration: none;
font-weight:normal;
}
#nmFoxFeed .rssFeed a:hover {
color: #000000;
text-decoration: underline;
}
#nmFoxFeed .rssHeader {
display: none;
font-size: 20px;
font-weight: bold;
padding: 0.2em 0;
}
#nmFoxFeed .rssBody {
width: 300px;
margin: 10px 0px 0px 15px;
}

#nmFoxFeed .rssBody ul, #nmFoxFeed .rssRow, #nmFoxFeed .rssRow h4, #nmFoxFeed .rssRow p {
margin: 0;
padding: 0;
}

#nmFoxFeed .rssBody li {
background: url(../App_Themes/NewsmaxNew/images/nmSpriteMaster.gif) no-repeat scroll 0 -365px transparent;
list-style: none outside none;
margin-bottom: 10px;
padding: 0 0 0 20px;
margin :0px 0px 10px 0px;
padding:0px 0px 0px 20px;
}

#nmFoxFeed .rssRow {
padding: 0.8em;
}
#nmFoxFeed .rssRow h4 {
font-size: 1.1em;
}
#nmFoxFeed .rssRow div {
color: #666666;
font-size: 90%;
margin: 0.2em 0 0.4em;
}
#nmFoxFeed .odd {
background-color: #FFFFFF;
}
#nmFoxFeed .even {
background-color: #FFFFFF;
}
#nmFoxFeed .rssRow .rssMedia {
font-size: 1em;
padding: 0.5em;
}

#nmFoxFeed{
width: 306px;
padding: 10px 0px 10px 0px;
border-bottom: 2px solid #8EBFE0;
}

#nmFoxLogo{
border-top: 2px solid #8EBFE0;
border-bottom: 1px solid #dfdfe7;
padding: 5px 0px 5px 0px
}
/*# Poll Table #*/

table.Polls2012 {
border:0px;
}

h1.Polls2012 {
border:0px;
padding: 0px;
font-size: 35px;
margin: 10px 0px 10px 0px;
}


h2.Polls2012 {
font-size: 25px;
border:0px;
padding: 0px;
margin: 0px;
}

.Polls2012 td{
padding: 5px 25px 5px 0px;

}

.Polls2012 thead {
font-weight:bold;
font-size: 20px;
color: #005AAB;

}

.Polls2012 thead td{
font-size: 20px;
border-bottom: 1px #999 dashed;

}

.pollDate {
                width:100px
}

.Polls2012 thead td:first-child{
                width: 300px;
}

.Polls2012 tbody {
font-size: 17px;
}

.Polls2012 tbody td{
font-size: 17px;

}
/*# Addvertise #*/
 
         .newsmaxAdHeader
        {
            font-family: Georgia;
            font-size: 29px;
            font-weight: bold;
            color: #000;
            text-align: left;
        }
        #adPage div p
        {
            font-family: Georgia;
            font-size: 15px;
            color: #000;
        }
        /*Left*/
        .adLeft
        {
            float: left;
            font-weight: bold;
            text-align: justify;
            width: 623px;
            padding-right: 34px;
            line-height: 23px;
        }
        /*Right*/
        #adRight
        {
            float: left;
            margin: 19px auto;
            text-align: left;
            width: 191px;
            border: 1px solid #005AAB;
            background-color: #F6FAFD;
            padding: 22px 20px 8px;
        }
        
        #adRight .header
        {
            color: #005AAB;
            font-family: Arial;
            font-weight: bold;
            font-size: 19px;
            padding-bottom: 9px;
        }
        #adRight .title p
        {
            color: #000;
            font-family: Arial;
            font-weight: bold;
            font-size: 13px;
            margin: 7px 0;
        }
        #adRight span
        {
            font-weight: normal;
        }
        #adRight a
        {
            color: #005AAB;
            text-decoration: underline;
        }
        /**/
        .adPageBook
        {
            background: url('../App_Themes/NewsmaxNew/images/Advertise/nmMediabg.jpg') no-repeat;
            width: 909px;
            height: 421px;
            margin: 0 0 -36px -12px;
        }
        .AdLinkBook
        {
            text-align: center;
        }
        .AdLinkBook a
        {
            color: #000000;
            font-weight: bold;
            float: left;
            font-family: Georgia;
            font-size: 15px;
            padding: 5px 45px 5px 5px;
            text-decoration: underline;
        }
        .footerText
        {
            font-family: Arial;
            font-size: 10px;
            color: #000;
            text-align: center;
            padding: 36px 0;font-weight:bold;
        }
        .footerText a
        {
            color: #005AAB;
            text-decoration: underline;
        }
        .PDFLink
        {
            float: left;
            padding: 2px 4px;
        }


	.build p{
	font-size:20px;
	font-weight:bold;
	padding-bottom:10px;
}