.help { color: #404040; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  }
.help h1, .help h2, .help h3 { font-weight: bold; color: #000; }
.help h1 { font-size: 28px; margin: 28px 0 14px 0; border-bottom: 1px solid #404040; }
.help h1:first-child { margin: 0 0 14px 0; }
.help h2 { font-size: 21px; margin: 21px 0 0 0; }
.help h3 { font-size: 14px; margin: 14px 0 0 0; }
.help p { line-height: 21px; margin: 0 0 21px 0; text-align: left; }
.help p.center { text-align: center; }
.help ol { margin: 10px 0 21px 0; list-style: decimal; }
.help ul { margin: 10px 0 21px 0; list-style: none; }
.help ul.bullets { list-style: disc; }
.help ul li, .help ol li { margin: 0 0 0 21px; line-height: 21px; }
.help dl { margin: 10px 0 21px 0; }
.help dl dt { font-weight: bold; }
.help dl dd { margin: 0 0 0 21px; line-height: 21px; }
.help a:link, .help a:visited, .help a:hover { font-weight: bold; }

.help .contactsupport { font-size: 12px; background: url(../../common/css/gamestopdotcom/images/wayfind_grad.gif); padding: 6px 5px 6px 0; }
.help .contactsupport h3 { font-size: 11px; text-transform: uppercase; color: #404040; border-bottom: 1px solid #cfcfcf; margin: 0 0 6px 0; padding: 0 0 6px 0; }
.help .phonesupport { font-size: 150%; line-height: 200%; }
.help .emailsupport { font-weight: bold; }

.help table { border: none; border-collapse: collapse; width: 100%; margin: 14px 0; }
.help table caption { background: #000; color: #fff; font-weight: bold; font-size: 14px; text-align: left; padding: 6px; }
.help table tr { background: #ddd; }
.help table tr:nth-child(2n) { background: transparent; }
.help table tr th[scope='col'] { font-weight: bold; text-align: center; background: #404040; color: #fff; padding: 6px; vertical-align: bottom; }
.help table tr th[scope='row'] { font-weight: bold; text-align: left; vertical-align: top; padding: 6px; }
.help table tr td { vertical-align: top; padding: 6px; }

.help .esrb { margin: 21px 0 0 0; float: left; width: 355px; }
.help .esrb img { float: left; margin: 0 10px 0 0; }
.help .esrb h3 { margin: 0; }
.help .esrb p { margin: 0 10px 0 0; }

.help .tradecredit { text-align: center; border-top: 1px solid #404040; padding: 10px 0 0 0; }
.help .tradecredit p { text-align: center; font-size: 200%; }