/* Facebook modules */
.friends-module { border:1px solid #ccc; background-color:#fff; color:#414141 }
.friends-module a, .plugin-lightbox a { font-weight:bold; color:#034678 !important }

.friends-module .lid,
#colRight .friends-module .lid { 
  color:#414141;
  border:0;
  font-size: 14px;
  padding: 8px 12px;
  height: 24px;
  line-height: 24px;
  background:#fff url('img/sys/facebook/tm_silver_bg.png') bottom repeat-x;
  margin-bottom:10px;
  overflow:hidden
}
.friends-module .lid b { 
  background:url('img/sys/facebook/facebook-icon_24x24.jpg') no-repeat;
  width:24px;
  height:24px;
  line-height:24px;
  float:left;
  margin-right:10px;
  vertical-align:middle;
}

.friends-module .attending-module { margin:0 10px 10px;  }
.friends-module .attending-module .fb-profile-picture { float:left; }
.friends-module .attending-module .question { margin-left:60px; font-weight:bold; font-size:12px; min-height:50px; overflow:hidden; }
.friends-module .attending-module .question ul.option { margin:10px 0 0; padding:0; list-style-type:none; overflow:hidden }
.friends-module .attending-module .question ul.option li { float:left; margin-right:5px; }
.friends-module .attending-module .question ul.option li + li { margin:0; }

.friends-module .attending-module .question ul.option li a,
.friends-module .attending-module .question ul.option li a b { 
  display:inline-block;
  background: url('img/sys/facebook/btn_style.png') 0 0 no-repeat;
  height:21px;
  line-height:21px;      
  color:#fff;
}
.friends-module .attending-module .question ul.option li a { background-position:0 0; padding-left:8px;  }
.friends-module .attending-module .question ul.option li a.mail-icon { padding-left:28px; }
.friends-module .attending-module .question ul.option li a b { background-position:right 0; padding-right:8px; }
.friends-module .attending-module .question ul.option li a:hover { text-decoration:none; } 
.friends-module .hrline {
  background-color:#ccc;
  height:1px;
  line-height:0;
  font-size:0;
  margin:10px 0 0;
}
.friends-module .attending-module .rsvp-response { 
  padding-top:10px;
  clear:both;
  width:100%;
  overflow:hidden;
}

.friends-module .attending-module .rsvp-response:first-child { padding-top:0; }
.friends-module .attending-module .rsvp-response .rsvp-cancel { 
  background:url('img/sys/facebook/rsvp-cancel.gif') 0 -15px no-repeat;
  float:right;
  height:15px;
  width:15px;
  overflow:hidden;
  text-indent:-9999em;
  margin:0 0 5px 5px;
}
.friends-module .attending-module .rsvp-response:hover .rsvp-cancel { background-position:0 0;  }
.friends-module .attending-module .rsvp-response .rsvp-cancel:hover { background-color:#ccc; background-position: -15px 0; }

.friends-module .tab-title { margin-bottom:1px; font-weight:bold; font-size:12px; padding:0 10px; }
.friends-module ul.tabs { 
  margin:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;  
  position:relative;
  z-index:2;
  margin-bottom:-1px;
}
.friends-module ul.tabs li { 
  float:left;
  background-color:#d7dfea;
  border:1px solid #d7dfea;
  border-bottom:1px solid #ccc;
  margin:4px 0 0 10px;  
}
.friends-module ul.tabs li.selected { background-color:#fff; border-color:#ccc #ccc #fff; }
.friends-module ul.tabs li.selected a { cursor:auto; font-weight:bold; color:#414141; }
.friends-module ul.tabs li a { display:inline-block; padding:3px 8px; font-weight:normal; height:16px;}
.friends-module ul.tabs li a:hover { text-decoration:none; }
.friends-module ul.tabs li b { 
  display:inline-block;
  background:url('img/sys/facebook/fb-sprites.png') -170px -183px no-repeat;
  width:16px;
  height:16px;
  vertical-align:bottom;
  margin-right:5px;
}

.friends-module .module-content { border-top:1px solid #ccc;  padding:10px 5px 15px; text-align:right }
.friends-module .no-occurrence { padding:0 5px; text-align:left; }
.friends-module .no-occurrence a { font-weight:normal; }
.friends-module .fb-like-module { background-color:#efefef; border-top:1px solid #ccc; }

table.fb-occurrence-table thead { overflow:hidden; height:0; line-height:0; text-align:left; text-indent:-999999em; }
table.fb-occurrence-table td { padding:0 5px 15px; vertical-align:top; text-align:left }
table.fb-occurrence-table .image-col, table.fb-occurrence-table .image-col img, table.fb-occurrence-table .fb-image-col img.artist-image { width:74px; }
table.fb-occurrence-table .details-col { font-size:11px; }
table.fb-occurrence-table .details-col a,
table.fb-occurrence-table .fb-details-col a { font-size:12px; font-weight:bold }
table.fb-occurrence-table .fb-details-col .post-time { font-size:11px; color:#999; font-weight:normal;}
table.fb-occurrence-table .fb-image-col { text-align:center }
table.fb-occurrence-table .fb-image-col img { width:50px; }
table.fb-occurrence-table .count-col { color:#999; font-size:11px; font-weight:bold; text-align:center; white-space:nowrap }
table.fb-occurrence-table .count-col .count { font-size:24px; font-weight:bold; line-height:1em; color:#414141; }

.friends-module ul.attend-list { margin:0 0 15px; padding:0; list-style-type:none; overflow:hidden }
.friends-module ul.attend-list li { padding:0; margin:0 3px 0 5px; width:60px; float:left; text-align:left  }
/* text-overflow does not work on FF browsers. */
.friends-module ul.attend-list li a { display:block; width:60px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis }
.friends-module ul.attend-list li .name { font-size:12px; margin-top:3px }
.friends-module ul.attend-list li .status { font-size:11px; color:#999; }

/* plugin lightbox styles */
.plugin-lightbox { position:absolute; border-bottom:1px solid #727272; }
.plugin-lightbox .frame { width:auto; }
.plugin-lightbox .lid,
#colRight .plugin-lightbox .lid { 
  border:0;
  font-size:14px;
  font-weight:bold;
  margin:0;
  background:#000; 
  padding:10px;
  height:16px;
  line-height:16px;
  overflow:hidden;
  color:#fff;
}
.plugin-lightbox .lid .left { float:left; font-size:14px; }
.plugin-lightbox .lid .right { float:right; width:13px; height:13px;  }
.plugin-lightbox .lid b { 
  background: url('img/sys/facebook/fb-sprites.png') -135px -200px no-repeat;
  width:14px;
  height:14px;
  float:left;
  margin-right:5px;
}
.plugin-lightbox .content,
.plugin-lightbox .content-attend { background-color:#fff; border-left:1px solid #727272; border-right:1px solid #727272;  padding:15px 15px 0; overflow:hidden }
.plugin-lightbox .content dl { display:block; margin-bottom:10px; }
.plugin-lightbox .content dt { font-size:15px; font-weight:bold }
.plugin-lightbox .content dd { font-size:11px; }

.plugin-lightbox .find-friends-module { border-top:1px solid #ccc; padding:10px 0; }
.plugin-lightbox .find-friends-module label { font-weight:bold; }
.plugin-lightbox .find-friends-module input[type=text] { 
  margin-left:5px; 
  border:1px solid #999; 
  background:url('img/sys/facebook/gray-magnify-icon.gif') 3px center no-repeat; 
  padding:3px 3px 3px 18px;
  width:175px;
}

.plugin-lightbox .invite-friends-module .title { font-weight:bold; font-size:12px; }
.plugin-lightbox .invite-friends-module .title span { font-size:11px; font-weight:normal; color:#999 }
.plugin-lightbox .invite-friends-module textarea { min-height:66px; width:98.8%; margin-top:5px; }

.plugin-lightbox .attending-module { margin:0; }
.plugin-lightbox .attending-module .fb-profile-picture { float:left; }
.plugin-lightbox .attending-module .question { margin-left:60px; font-weight:bold; font-size:12px; min-height:50px; overflow:hidden; }

.plugin-lightbox .event-module { padding-bottom:30px; border-bottom:1px solid #ccc;}
.plugin-lightbox .event-module .event-image { float:left; }
.plugin-lightbox .event-module .event-image img { width:126px; }
.plugin-lightbox .event-module .event-image + .event-content { margin-left:136px; }
.plugin-lightbox .event-module .event-content { font-size:12px; }
.plugin-lightbox .event-module .event-content .event-name { font-size:15px; }
.plugin-lightbox .event-module .event-content .venue-name-link { font-size:12px; color:#414141; }
.plugin-lightbox .event-module .event-content .venue-name-link:hover { color:#034678; }

.plugin-lightbox .content-attend { padding-right:0; padding-left:5px; }
.plugin-lightbox ul.attend-list { margin:0 0 15px; padding:0; list-style-type:none; overflow:hidden }
.plugin-lightbox ul.attend-list li { padding:0; margin:0 0 10px 10px; width:60px; float:left; text-align:left  }
/* text-overflow does not work on FF browsers. */
.plugin-lightbox ul.attend-list li a { display:block; width:60px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis }
.plugin-lightbox ul.attend-list li .name { font-size:12px; margin-top:3px }
.plugin-lightbox ul.attend-list li .status { font-size:11px; color:#999; }

.plugin-lightbox .action-box { text-align:center; padding:15px 0; background-color:#fff;  border-left:1px solid #727272; border-right:1px solid #727272;}
.plugin-lightbox .action-box input + input,
.plugin-lightbox .action-box input + button { margin-left:20px; }
.plugin-lightbox .action-box button b { background:url('img/sys/facebook/invite-icon.gif') 0 center no-repeat; padding-left:20px; }

.plugin-lightbox .overflowed { max-height:275px; overflow:auto; overflow-x:hidden; }
.plugin-lightbox table.fb-occurrence-table td.image-col,
.plugin-lightbox table.fb-occurrence-table td.fb-image-col { padding-left:0; }
.plugin-lightbox table.fb-occurrence-table td.fb-details-col { padding-right:0; }

.plugin-lightbox .results-tally { font-size:12px; font-weight:bold;padding-bottom:15px; }
.plugin-lightbox .content-attend .results-tally { padding-left:10px; }

.filter-friends-module { background-color:#000; padding:5px; margin-bottom:10px; }
.filter-friends-module .lid { 
  text-align:right;
  position:relative;
  min-height:22px;
  height:auto;
  font-weight:normal;
  line-height:normal;
  overflow:visible;
  padding:2px 5px 5px 0;
  font-size:12px;
}
.filter-friends-module .lid .left { position:absolute; top:2px; left:0; float:none; }
.filter-friends-module .lid .right { 
  text-align:right; 
  line-height:22px; 
  width:auto; 
  height:auto; 
  float:none;  
  color:#8d8a8a; 
  font-size:12px;
  letter-spacing:0.3em;
}
.filter-friends-module .lid .right .title-option { color:#fff; margin-right:0.3em; letter-spacing:normal }
.filter-friends-module .lid .right a.selected { color:#fff; font-weight:bold;  letter-spacing:normal }
.filter-friends-module .lid .right a { color:#8d8a8a; font-weight:normal; letter-spacing:normal }
.filter-friends-module ul.friends-list { 
  list-style-type:none;
  margin:0;
  padding:0;
  height:290px;
  overflow:auto;  
  background-color:#fff;
}
.filter-friends-module ul.friends-list li { 
  margin:3px;
  width:134px;
  height:64px;
  float:left;    
}
.filter-friends-module ul.friends-list li a { 
  display:block;
  height:56px;
  padding:4px;
}

.filter-friends-module ul.friends-list li a .square { 
  background-color:#fff;
  background-position:2px 2px;
  background-repeat:no-repeat;
  border:1px solid #ccc;
  float:left;
  width:50px;
  height:50px;
  margin-right:5px;
  padding:2px;
}

.filter-friends-module ul.friends-list li a strong { 
  color:#414141;
  font-size:11px; 
  margin-top:2px;
}
.filter-friends-module ul.friends-list li a .network {
  color:#999;
  font-size:9px;
  margin-top:1px;
}
.filter-friends-module ul.friends-list li a strong,
.filter-friends-module ul.friends-list li a .network {
  float:left; 
  width:65px; 
  line-height:1.3;
  font-weight:normal;
  word-wrap:break-word;
}

/* hover, active, and focus styles */
.filter-friends-module ul.friends-list li a:hover,
.filter-friends-module ul.friends-list li a:active,
.filter-friends-module ul.friends-list li a:focus {  
  color:#414141;
  background-color:#ccc;
  text-decoration:none;
}
.filter-friends-module ul.friends-list li a:hover .square,
.filter-friends-module ul.friends-list li a:active .square,
.filter-friends-module ul.friends-list li a:focus .square { border-color:#000 }

.filter-friends-module ul.friends-list li a:hover strong,
.filter-friends-module ul.friends-list li a:active strong,
.filter-friends-module ul.friends-list li a:focus strong { color:#000 }

.filter-friends-module ul.friends-list li a:hover .network,
.filter-friends-module ul.friends-list li a:active .network,
.filter-friends-module ul.friends-list li a:focus .network { color:#414141 }


/* selected styles */
.filter-friends-module ul.friends-list li.selected a,
.filter-friends-module ul.friends-list li.selected a:hover { background-color:#000 }
.filter-friends-module ul.friends-list li.selected a .square { border-color:#d00509; background-color:#d00509; }
.filter-friends-module ul.friends-list li.selected a .square span { 
  background:url('img/sys/facebook/friends-select-check-tm.gif') 0 36px no-repeat;
  display:block;
  height:50px;
  width:50px;
}
.filter-friends-module ul.friends-list li.selected a strong,
.filter-friends-module ul.friends-list li.selected a:hover strong { color:#fff }

.filter-friends-module ul.friends-list li.selected a .network,
.filter-friends-module ul.friends-list li.selected a:hover .network,
.filter-friends-module ul.friends-list li.selected a:active .network,
.filter-friends-module ul.friends-list li.selected a:focus .network  { color:#ccc }

/* disabled styles */
.filter-friends-module ul.friends-list li.disabled { opacity:0.4; filter:alpha(opacity=40); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }
.filter-friends-module ul.friends-list li.disabled a:hover,
.filter-friends-module ul.friends-list li.disabled a:active,
.filter-friends-module ul.friends-list li.disabled a:focus { background:none; }

.filter-friends-module ul.friends-list li.disabled a:hover .square,
.filter-friends-module ul.friends-list li.disabled a:active .square,
.filter-friends-module ul.friends-list li.disabled a:focus .square { border-color:#ccc }

.filter-friends-module ul.friends-list li.disabled a:hover strong,
.filter-friends-module ul.friends-list li.disabled a:active strong,
.filter-friends-module ul.friends-list li.disabled a:focus strong { color:#414141 }

.filter-friends-module ul.friends-list li.disabled a:hover .network,
.filter-friends-module ul.friends-list li.disabled a:active .network,
.filter-friends-module ul.friends-list li.disabled a:focus .network { color:#999 }

.filter-friends-module .notify-list { height:270px; background-color:#fff; color:#414141; font-size:12px; font-weight:bold; padding:10px 5px; text-align:center }

