#wpadminbar li#wp-admin-bar-admin-bar-likes-widget {
	width: 61px;
}

#wpadminbar iframe.admin-bar-likes-widget {
	width: 61px;
	height: 28px;
	min-height: 28px;
	border-width: 0px;
	position: absolute;
	top: 0;
}

div.jetpack-likes-widget-wrapper {
	width: 100%;
}

#likes-other-gravatars {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #000;
	border-width: 0;
	opacity: 0.88;
	filter: alpha(opacity=88);
	box-shadow: 0 0 10px black;
	min-width: 130px;
}

#likes-other-gravatars .likes-text {
	color: white;
	font-size: 14px;
	padding-bottom: 5px;
}

#likes-other-gravatars ul,
#likes-other-gravatars li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

#likes-other-gravatars li::before {
	content: "";
}

#likes-other-gravatars ul.wpl-avatars {
	overflow: auto;
	display: block;
	position: absolute;
	max-height: 190px;
}

#likes-other-gravatars ul.wpl-avatars li {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px 5px 0;
}

#likes-other-gravatars ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

#likes-other-gravatars ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}


div.sd-box {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
}

h3.sd-title {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

.rtl .sd-title {
	float: right;
	text-align: right;
}

.entry-content .post-likes-widget, .post-likes-widget,
.comment-likes-widget {
	margin: 0;
	border-width: 0;
}

.post-likes-widget-placeholder {
	margin: 0;
	border-width: 0;
}

.post-likes-widget-placeholder .button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #999;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.post-likes-widget-placeholder .button span {
	padding: 1px 5px 1px 2px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

.post-likes-widget-placeholder .button span:before {
	color: #97A8CC;
	font-family: "Noticons";
	content: '\2605';
	font-size: 16px;
	line-height: 0;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	top: 3px;
}

.post-likes-widget-placeholder .loading {
	color: #999;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-likes-widget {
	width: 82.125%;
	display: none;
	float: right;
}

/* Like Special cases (display on it's own) */

div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like .post-likes-widget {
	width: 100%;
	float: none;
}

div.sharedaddy.sd-rating-enabled .sd-like .post-likes-widget, div.sharedaddy.sd-sharing-enabled .sd-like .post-likes-widget {
	width: 82.125%;
	float: right;
}

div.sharedaddy.sd-rating-enabled .sd-like h3, div.sharedaddy.sd-sharing-enabled .sd-like h3 {
	display: block;
}

.comment-likes-widget {
	width: 100%;
}
#jobman_login, #jobman_loggedin {
	text-align: left;
	padding: 10px 0;
}

#jobman_login input.username, #jobman_login input.password {
	width: 100px;
	margin-right: 10px;
}

#jobman_login br, #jobman_register br {
	display: none;
}

#jobman_login span {
	display: block;
	text-align: right;
}

#jobman_loggedin span.message, #jobman_login span.message {
	text-align: left;
	padding: 10px 0;
}

#jobman_register input.submit {
	float: right;
}

#jobman_register table {
	text-align: left;
	width: 100%;
}

#jobman_register th {
	width: 130px;
}

#jobman_register td.error {
	color: red;
}

table.jobs-table, table.job-table, table.job-apply-table {
	width: 100%;
	text-align: left;
}

table.jobs-table th, table.job-table th {
	font-weight: bold;
	text-align: left;
}

table.job-table th {
	width: 100px;
}

table.highlighted {
	background-color: #eef;
}

table.jobs-table tr.highlighted td{
	background-color: #eef;
}

td.jobs-moreinfo, td.jobs-applynow {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

td.jobs-moreinfo a, td.jobs-applynow  a{
	width: 100%;
}

table.job-apply-table th, table.job-apply-table td.th {
	width: 40%;
}

table.job-apply-table td {
	width: 60%;
}

#ui-datepicker-div {
	background-color: #fff;
	border: 1px solid #000;
}

div.ui-datepicker-header a {
	cursor: pointer;
}

a.ui-datepicker-next {
	float: right;
}

div.ui-datepicker-title {
	text-align: center;
}

td.ui-datepicker-current-day {
	border: 1px solid #111;
}

table.ui-datepicker-calendar td {
	text-align: center;
	width: 25px;
	height: 25px;
}

p.jobmanpromo {
	padding-top: 20px;
	clear: left;
}

#jobman-jobselect-echo, #jobman-catselect-echo {
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 1px;
}

#jobman-jobselect-close a, #jobman-catselect-close a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	float: right;
	margin-top: -10px;
}

span.jobselect-popout, span.catselect-popout {
	position: absolute;
	display: block;
	background-color: #f1f1f1;
	border: 1px solid #7d7e88;
	padding: 10px 5px 5px;
}

span.jobselect-popout span, span.catselect-popout span {
	display: block;
	min-width: 150px;
}

div.job-nav div.previous {
	float: left;
	width: 20%;
	text-align: left;
	min-height: 16px;
}

div.job-nav div.this {
	text-align: center;
	float: left;
	width: 55%;
}

div.job-nav div.next {
	float: right;
	width: 20%;
	text-align: right;
	min-height: 16px;
}

div.jobman-error {
	border: 1px solid red;
	background-color: #fcc;
	font-weight: bold;
}#bit, #bit * {
	*zoom: 1;
}

#bit {
	font: normal 13px "Helvetica Neue", sans-serif;
	_display: none;
}

.loggedout-follow-shelf {
	position: fixed;
	right: 40%;
	z-index: 999999;
	bottom: -300px;
}

.loggedout-follow-normal {
	position: fixed;
	z-index: 999999;
	bottom: -300px;
	right: 10px;
}

.loggedout-follow-typekit {
	margin-right: 4.5em;
	position: fixed;
	z-index: 999999;
	bottom: -300px;
	right: 10px;
}

#bit a.bsub {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 8px;
	float: right;
	text-decoration: none !important;
	line-height: 28px;
	font: normal 13px/28px "Helvetica Neue", sans-serif;
	color: #CCC;
	text-shadow: #444 0px -1px 0px;
	letter-spacing: normal;
	border: 0;
	
	background-color: #464646;
	background-image: -ms-linear-gradient(bottom, #464646, #3f3f3f 5px);
	background-image: -moz-linear-gradient(bottom, #3f3f3f, #464646 5px);
	background-image: -o-linear-gradient(bottom, #464646, #3f3f3f 5px);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#464646), to(#3f3f3f));
	background-image: -webkit-linear-gradient(bottom, #3f3f3f, #464646 5px);
	background-image: linear-gradient(bottom, #464646, #3f3f3f 5px);
	
	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-o-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-ms-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	
	outline-style: none;
	outline-width: 0;
}

#bit a.bsub {
	-moz-border-radius: 2px 2px 0 0; 
	-webkit-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0; 
	-ms-border-radius: 2px 2px 0 0; 
	border-radius: 2px 2px0 0 0;
}

#bit a.bsub span { 
	background: url(../wp-content/mu-plugins/admin-bar/wpcom-admin-bar-icons.png) 0 -77px no-repeat;
	padding-left: 19px;
}

#bit a:hover span, #bit a.bsub.open span {
	color: #ffffff !important;
	background-position: 0 -117px;
}

#bit a.bsub.open { 
	background: #333;
}

#bitsubscribe {
	background: #464646;
	color: #fff;
	padding: 15px; 
	width: 200px;
	margin-top: 27px;
	-moz-border-radius: 2px 0 0 0; 
	-webkit-border-radius: 2px 0 0 0;
	-o-border-radius: 2px 0 0 0; 
	-ms-border-radius: 2px 0 0 0; 
	border-radius: 2px 0 0 0;
	*float: right;
	*margin-right: -68px;
}

div#bitsubscribe.open { 
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#bitsubscribe div {
	overflow: hidden;
}

#bit h3, #bit #bitsubscribe h3 {
	margin: 0 0 .5em 0 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 0 #333;
	font-size: 20px;
	color: #fff;
	text-align: left;
}

#bit #bitsubscribe p {
	margin: 0 0 1em 0;
	*margin: 0 0 0 0;
	font: 15px/1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 0 #333;
	color: #fff;
}

#bitsubscribe p a {
	margin: 20px 0 0;
	color: #fff;
	text-decoration: underline;
}

#bit #bitsubscribe p.bit-follow-count { 
	font-size: 13px;
}

#bitsubscribe input[type=submit] {
	padding: 2px 20px;
	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#111 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#111 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#111 100%);
	color: #ccc;
	text-shadow: 0 1px 0 #000;
	border: 1px solid #282828;
	-moz-border-radius: 11px; 
	-webkit-border-radius: 11px; 
	border-radius: 11px;
	-moz-box-shadow: inset 0 1px 0 #444;
	-webkit-box-shadow: inset 0 1px 0 #444;
	box-shadow: inset 0 1px 0 #444;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	*margin: 1em 0 1em 0;
}

#bitsubscribe input[type=submit]:hover {
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#222 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#222 100%);
	color: #fff;
	-moz-box-shadow: inset 0 1px 0 #4f4f4f;
	-webkit-box-shadow: inset 0 1px 0 #4f4f4f;
	box-shadow: inset 0 1px 0 #4f4f4f;
	text-decoration: none;
}

#bitsubscribe input[type=submit]:active {
	background: #111; /* Old browsers */
	background: -moz-linear-gradient(top, #111 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #111 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #111 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #111 0%,#222 100%); /* IE10+ */
	background: linear-gradient(top, #111 0%,#222 100%);
	color: #aaa;
	-moz-box-shadow: inset 0 -1px 0 #333;
	-webkit-box-shadow: inset 0 -1px 0 #333;
	box-shadow: inset 0 -1px 0 #333;
	text-decoration: none;
}

#bitsubscribe input[type=text] {
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	border-radius: 3px;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
#bitsubscribe input[type=text]:focus {
	border: 1px solid #000;
}

#bitsubscribe.open {
	display: block;
}

#bsub-subscribe-button {
	text-align: center;
	margin: 0 auto;
}

/* 
Confirmation 
=============================== */

#bitsubscribe #lof-readerpromo p { 
	color: #ccc;
}

#bitsubscribe #lof-followpublicize { 
	border-top: 1px solid #3c3c3c;
	margin-bottom: .5em;
}

#bitsubscribe #lof-followpublicize h3 { 
	font-size: 13px;
	padding-top: 1em;
	margin-bottom: 1em !important;
}

#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter,
#bitsubscribe #lof-followpublicize p.lof-followpublicize-facebook {
	background: #555;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #333;
	-webkit-box-shadow: inset 0 1px 1px #333;
	-o-box-shadow: inset 0 1px 1px #333;
	-ms-box-shadow: inset 0 1px 1px #333;
	box-shadow: inset 0 1px 1px #333;
	margin-bottom: .5em;
	overflow: hidden;
}
#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter { 
	padding: 10px 10px 5px;
}

/* 
Footer 
=============================== */

#bitsubscribe #bsub-credit { 
	text-align: center;
	font: normal 11px "Helvetica Neue", sans-serif;
	padding: 7px 0;
	margin:0 0 -15px;
	border-top: 1px solid #3c3c3c;
}

#bitsubscribe #bsub-credit a {
	color: #aaa;
	text-shadow: 0 1px 0 #262626;
	background: none;
	text-decoration: none;
}

#bitsubscribe #bsub-credit a:hover {
	color: #fff;
	background: none;
}

@media (max-width: 800px) {
	#bit, #bit a.bsub {
		display:none;	
	}
}

@media ( device-width: 768px ) {
	#bit, #bit a.bsub {
		display: block;
	}
}